[2021-03-29 09:49] jeffydc opened #3033 "Line numbers in `st.code`"
### Problem

Code showing with `st.code` are hard to tell which line is wrong or right if the code has so many lines.

### Solution

**MVP:** add a parameter `show_line_numbers` (bool) to `st.code`

[2021-03-29 11:08] shaikhon commented on #2284
@thingumajig can you please say more about where to place this .streamlit folder, and what to write in the credentials.toml file in it?

[2021-03-29 13:30] thiemoToadi commented on #2058
+1

[2021-03-29 16:42] kantuni opened #3034 "Quiver"
A wrapper around ArrowJS that supports:
- Concatenation of different types of indices.
- Accessing cells inside an `index` and `columns`.
- Returning the value as a string with the specified format.
- And a lot more.

[2021-03-29 17:42] tconkling commented on #1745
Yep - this was added in https://github.com/streamlit/streamlit/pull/2405. I'll close now!

[2021-03-29 17:42] #1745 closed, assigned to nthmost, tconkling

[2021-03-29 17:47] #2720 closed, assigned to nobody

[2021-03-29 17:59] jroes commented on #2284
Hey folks - we're using the default system encoding to load these files. If you change the system encoding for your OS to UTF-8, does this still happen?

[2021-03-29 19:01] #2885 closed, assigned to nobody

[2021-03-29 19:02] kmcgrady commented on #2885
This issue is resolved.

[2021-03-29 21:30] kmcgrady commented on #1790
Issue is getting stale, so we are closing.

[2021-03-29 21:30] #1790 closed, assigned to nobody

[2021-03-29 22:56] #2887 closed, assigned to nobody

[2021-03-29 22:58] asaini opened #3037 "Theming color visibility for number_input and slider widgets"
### Summary

Filing on behalf of @treuille

### Steps to reproduce

1. Open https://share.streamlit.io/streamlit/theming-showcase-blue/main

**Actual behavior:**

The slider bar and the `-` and `+` buttons in number input are not visible

<img width="387" alt="theming-issue" src="https://user-images.githubusercontent.com/1134064/112910058-6bf3a580-90a7-11eb-9909-ba87e49b34de.png">

### Is this a r

[2021-03-29 22:59] #2958 closed, assigned to vdonato

[2021-03-30 01:31] ExSidius commented on #1002
Are there any updates on this?

[2021-03-30 06:52] eglantine719 opened #3039 "No such file or directory: 'https://rasahq.github.io/rasa-nlu-examples/square-logo.svg'"
when I run the command python -m rasalit spelling --port 8501, it could open a port tunnel but shows
No such file or directory: 'https://rasahq.github.io/rasa-nlu-examples/square-logo.svg'

[2021-03-30 08:37] silas2471 commented on #1792
Hey @kmcgrady thank you for taking the time and looking into it and finding the bug.
It is good to know that you are working on it, let me know once it is ready.
As of right now I am aware of the bug and can avoid it the majority of the time.
Therefore I dont neccesarily need a workaround for the time beeing.
Thanks!

[2021-03-30 09:09] shaikhon commented on #2284
Hi jroes, I believe your solution would work. However, I'm working on a company computer and I don't have admin privileges. My workaround was to hard-code `import sys; sys.stdout.reconfigure(encoding='utf-8'); sys.stdin.reconfigure(encoding='utf-8')` at the top of __init()__.py, main.py and hello.py and a few other .py. This worked for me.

 `

[2021-03-30 11:12] F1nnM opened #3040 "Can't trigger downloads from inside components"
### Summary
I'm using the Hiplot component and it offers a export functionality, which would trigger a download. The containing iframe however doesn't allow downloads. Could that please be added? Either as default or configureable.

See [here](https://github.com/facebookresearch/hiplot/issues/169#issuecomment-809354925) for some details.

**Expected behavior:**

The download works.

**Actual behav

[2021-03-30 13:40] salmenf commented on #1906
I can confirm this issue: We use streamlit behind traefik as a reverse proxy. Using simple-transformers together with caching would cause the application to crash/stop with no error message. Curiously, there was no such issue just using `streamlit run` on Windows.
The root cause in our case: simple-transformers uses multiprocessing by default. The solution was simply to disable multiprocessing. (h

[2021-03-30 15:48] jroes commented on #2284
Ah ok! I think you might also be able to use an environment variable if you want to avoid hard-coding! https://stackoverflow.com/questions/50933194/how-do-i-set-the-pythonutf8-environment-variable-to-enable-utf-8-encoding-by-def

[2021-03-30 18:08] vdonato commented on #3039
Hi @eglantine719, this doesn't look like a streamlit issue, so I'm closing this.

You may be looking for https://github.com/RasaHQ/rasalit

[2021-03-30 18:08] #3039 closed, assigned to nobody

[2021-03-30 18:22] schaumb commented on #268
I created a gist from this problem
https://gist.github.com/schaumb/037f139035d93cff3ad9f4f7e5f739ce
 with a simplified syntax, and with realtime output:

[code]

It can be configure easily:
[code]

It can be nesting:
[code]

What do you think?

[2021-03-30 18:27] #2880 closed, assigned to nobody

[2021-03-30 19:22] berkdemir opened #3043 "Number Input Scientific Format"
Scientific format number input does not seem to work. I tried to explain this in the video below.

https://user-images.githubusercontent.com/40423004/113044595-83fe1e80-91a6-11eb-8afa-689ee3d0dd17.mp4

[2021-03-30 22:17] #2985 closed, assigned to AnOctopus

[2021-03-30 23:01] jrieke opened #3047 "Disable +/- in `st.number_input` if at min/max value"
### Problem

The +/- buttons on the right side of `st.number_input` always show up. But when the input value is at the `min_value` or `max_value` of the widget, they don't do anything. This can be confusing for users because they click but nothing happens.

### Solution

Gray out the +/- buttons if the input value is at the min/max value.

[2021-03-30 23:04] jrieke commented on #862
+1. This is also very useful if you want to show some default options that can't be changed (e.g. you have 3 checkboxes and the first one should always be checked due to some other settings).

[2021-03-31 00:07] asaini opened #3048 "[Coming soon] Set sidebar text color to a different color than main app"
### Problem

set the sidebar text to be a different color than the main app. Eg. Have a very dark sidebar with white text and a light grey main page with dark text

Currently this is not easily achievable with the given theming controls

---

Community voting on feature requests enables the Streamlit team to understand which features are most important to our users.

**If you'd like the Streamlit

[2021-03-31 06:29] asaini opened #3052 "Vertical alignment for columns"
### Problem

As a user, I'd like to have the ability to vertically align within a container. While vertical alignment is not a problem in single columns, if there are 2 columns side by side then not having vertical alignment makes the contents look off.

<img width="1442" alt="Screen Shot 2021-03-30 at 11 19 38 PM" src="https://user-images.githubusercontent.com/1134064/113099497-e65b1d00-91ae-11eb

[2021-03-31 10:46] Bailaz commented on #2145
@andfanilo I crashed in this issue while following the ["custom-plotly"](https://dev.to/andfanilo/streamlit-components-scatterplot-with-selection-using-plotly-js-3d7n) tutorial you kindly wrote (really interesting and thanks for the react-streamlit explanations).
While trying to reverse engineering a bit, I can say this "continuos refreshing" appears when using the Stremlit.setComponentValue() .
@

[2021-03-31 16:44] #3014 closed, assigned to tconkling

[2021-03-31 18:05] kmcgrady commented on #2145
Hi @Bailaz ! Thanks for bringing this up. My first ask is to provide the code, but I'm curious if it's the exact same code from the tutorial? Curious if this happens for @andfanilo on the latest Streamlit?

[2021-03-31 18:23] #3020 closed, assigned to vdonato

[2021-03-31 21:50] leJOEndary opened #3054 "Return value of interactive Widgets break when switching page"
### Summary

Ever Since 0.77 interactive widgets are unstable within multipage applications. Whenever the page is switched, the return value resets even though visually it stays the same.

### Steps to reproduce

Using streamlit 0.79.0 .........

Code snippet:
[code]

If applicable, please provide the steps we should take to reproduce the bug:

1- Choose any column using multiselect
2- **Notice th

[2021-04-01 08:47] andfanilo commented on #2145
Hey @Bailaz, glad you're finding my tutorial useful (especially as I wrote it in a rush, but I guess this is how we write our best works ahah!)
Anyway on the latest Streamlit 0.79 + streamlit-component-lib 1.1.3, I tried reproducing with the tutorial code on https://github.com/andfanilo/streamlit_scatterplot_selection by putting the component in a column or a container, but could not reproduce the

[2021-04-01 09:08] Bailaz commented on #2145
Hi guys,
thanks for the prompt response.
Exactly when the _setComponenValues()_ goes inside the _const handleSelect function_ the bug disappear.
So it might be related to directly declaring it as `useEffect(() => Streamlit.setComponentValue(42))`  in the function _MyComponent()_

I didn´t try inside a column or a container, I was testing on a simple page. I will continue testing the react callback

[2021-04-01 10:18] leJOEndary commented on #2820
This issue happens with me too on 0.76.0.

Checkboxes tend to have high probability to get duplicated.

In my case, when ticking or unticking has some slow function running using its output.... It will duplicate.

Also the duplication isn't literal because the duplicated widget becomes greyed out and non-interactive and sticks around even when switching pages.

I'll try to construct a simplified c

[2021-04-01 12:30] konetom opened #3056 "Button overlay"
### Summary

My issue is related to a behaviour of the general resize button which usually appears at the top right side of each graphical element.
In my case, I placed a dataframe (st.write(df)) to the sidebar. Everything worked properly and I was able to open the wepage and enlarge the dataframe in the sidebar by pressing its own enlarge button (the default one).
But once the dataframe got enlar

[2021-04-01 12:54] F1nnM commented on #853
Hi, I would also be interested in specifying meta tags and the title tag.
Currently webcrawlers like Googles only ever get to see the following page:
<img src="https://user-images.githubusercontent.com/12767947/113295404-73f65400-92f8-11eb-96fd-299c64e8d94a.png"  width="60%">

Obviously it can't extract much information there and even the title is not set yet, so I very much would like to specify

[2021-04-01 14:28] andfanilo commented on #2145
Ah, so I'm not sure I understood everything without seeing your code :) and I have not tested the following hypothesis, but I fear if you write `useEffect(() => Streamlit.setComponentValue(42))` then anytime the component renders, it will call the `useEffect` which will call `Streamlit.setComponentValue` and that would run a rerender of the component (because `Streamlit.setComponentValue` reruns t

[2021-04-01 14:47] ghost opened #3057 "StreamModeError"
Im trying to use streamlit in biopython and its giving me the below error:
what my be the problem?
![error](https://user-images.githubusercontent.com/81762943/113311754-eb80af00-9309-11eb-843e-b47d69f02338.PNG)

StreamModeError: Fasta files must be opened in text mode.
Traceback:
File "c:\users\akim nyoni\anaconda3\lib\site-packages\streamlit\script_runner.py", line 333, in _run_script
    exec(co

[2021-04-01 21:52] Xloka opened #3058 "Hot reload not working on Docker for windows 10"
Same setup woks fine in linux

[2021-04-02 02:27] gooloomoo opened #3060 "loop for data annotation"
Hi there:

    i wanna  use streamlit for annotating ,for example,a dataframe with a length of 500
    i use a next button to control global loop,but it works not good,please help me

    1.need to click next to refresh the webpage and show the next info
    2.how to collect all the annotaed info for 500 titles and write it to another file
    3.how to control global loop in the right way
    than

[2021-04-02 03:16] vdonato commented on #3060
Hi @gooloomoo,

This seems like more of a question on how to do something with Streamlit rather than a bug report, feature request, etc. As such, I'm going to close this issue. The "Using Streamlit" category of questions in our [community forums](https://discuss.streamlit.io) would be the right place to ask this.

[2021-04-02 03:16] #3060 closed, assigned to nobody

[2021-04-02 03:28] sriharshamittapalli commented on #1088
how to display local pdf in streamlit ?

[2021-04-02 04:13] asaini commented on #2716
Fixed in v0.78 and beyond. Closing

[2021-04-02 04:13] #2716 closed, assigned to nobody

[2021-04-02 04:14] maarten-betman commented on #3033
you could try the [Ace component](https://github.com/okld/streamlit-ace).

[2021-04-02 04:24] jeffydc commented on #3033
@maarten-betman Thanks for the link. My use case is a bit different. I don't allow to edit the code.

[2021-04-02 04:29] maarten-betman commented on #3033
@ydcjeff You can set the [read_only](https://github.com/okld/streamlit-ace/blob/f87eb8370a0a4ef846ec3529de44bbb8589655ee/streamlit_ace/__init__.py#L28) argument to False. This will make the code non-editable 😄

[2021-04-02 04:32] jeffydc commented on #3033
Ahh I missed that. Thank you @maarten-betman

[2021-04-02 06:15] asaini opened #3063 "Better spacing for elements displayed after an expander"
### Steps to reproduce

Code snippet:

[code]

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Reasonable spacing between expander and chart
<img width="794" alt="Screen Shot 2021-04-01 at 11 13 03 PM" src="https://user-images.githubusercontent.com/1134064/113386800-d9b9fe80-933f-11eb-889d-cbaac2343b01.png">

**Actual behavior:**
Very little spacing between expa

[2021-04-02 08:18] arjunko opened #3064 "st.number_input and st.button is disable when i press enter or click button"
I'm trying to add two number using st.number_input and st.button, but I had challenges like - when I'm performing summation operation my challenges like st.number_input is disabled, so I took min and max values and click st.button again it's not showing the results. Below is my code kindly help with this.

import streamlit as st
def abcd(a,b):
    c=a+b
    return c

if st.button("Summation Button

[2021-04-02 12:07] AndreasThinks commented on #395
I'm guessing there still isn't an official fix to this that I've missed? It does really impact the feasibility of streamlit for non technical audiences

[2021-04-03 00:54] vdonato commented on #3064
Hi @arjunko. This seems to be a question on how to do something with streamlit rather than a bug report, feature request, etc. Accordingly, I'm going to close this issue. A good place to ask these types of questions would be in our [community forums](https://discuss.streamlit.io/) in the "Using Streamlit" section

[2021-04-03 00:54] #3064 closed, assigned to nobody

[2021-04-03 01:39] ysuzukibccm opened #3067 "show"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2021-04-03 02:43] #3067 closed, assigned to nobody

[2021-04-03 02:57] vdonato commented on #3037
@asaini I looked into this, and it seems like the theme colors happened to be chosen to be such that the derived colors end up being essentially invisible in the sidebar.

If you squint ***really*** hard in both the green and blue apps you can see the the different colors, but it's close to impossible (trying to look at your monitor from different angles may help :laughing:). Copying the themes in

[2021-04-03 08:22] talhaanwarch commented on #1996
@kmcgrady @randyzwitch
I noticed the same behaviour. the part of code which load data and every thing just refresh again when slider value is changed. though it has nothing do with slider value.

[code]
If I change the value of the slider it prints `file is present` in console again, which mean if there is heavy calculations instead of `print` statement, it will do this all again

[2021-04-03 09:26] gagan3012 opened #3068 "Streamlit sharing does not support custom theming in UI"
### Summary
 Streamlit sharing does not support custom theming it only supports Light and Dark themes to be edited in UI

### Steps to reproduce

![image](https://user-images.githubusercontent.com/49101362/113474240-9c588c80-9477-11eb-8de8-31457e81a746.png)

### Debug info

- Streamlit version: (get it with `$ streamlit version`) 0.79
- Python version: (get it with `$ python --version`) 3.7
- Usin

[2021-04-03 13:37] rohetoric commented on #439
Hi Folks,
Has this feature been implemented? Apart from the [answer](https://github.com/streamlit/streamlit/issues/439#issuecomment-654718734l) by @davidefiocco, does streamlit support REST APIs ?

[2021-04-03 16:49] shivgodhia commented on #2608
Facing the same issue: UnicodeDecodeError: 'utf-8' codec can't decode byte 0x89 in position 0: invalid start byte

For uploading a png and doing: uploaded_file.getvalue.decode("utf-8")

[2021-04-03 18:47] vdonato commented on #3068
Hi @gagan3012, could you provide a link to an app + the corresponding repo (if you're okay with sharing them, of course) where your custom theme isn't appearing as an option in the theme selector?

The two theming showcase apps with custom themes both show custom themes as options in their settings dialogs, so this should work as far as I know

* [blue theming showcase app](https://share.streamlit

[2021-04-04 09:18] LukeAFullard commented on #1019
Hi, while this is cool, I actually tried this myself recently and had issues.
If I am running streamlit on my localhost then everything works beautifully.
If I access the app on another device on the network (through the ip address given when I run streamlit) then the tkinter pop-up is on the host server machine and not on the user machine.

[2021-04-04 16:57] astrojams1 opened #3070 "Auto re-run app when secrets change (rather than needing to click re-run)"
Title should be self-explanatory. Note: this does not block Secrets Management GA.

Filed this on the cloud side but realize now that it should be filed on the core side. Cloud ticket: https://app.clubhouse.io/streamlit/story/3162/auto-re-run-app-when-secrets-change-rather-than-needing-to-click-re-run#activity-3181

[2021-04-04 21:04] #3040 closed, assigned to nobody

[2021-04-05 01:08] arraydude commented on #1088
Hi @harsha989, please check the comment above.
https://github.com/streamlit/streamlit/issues/1088#issuecomment-589578042

[2021-04-05 02:11] sriharshamittapalli commented on #1088
base64 method not working for me

[2021-04-05 03:09] LukeAFullard commented on #455
I see this is an old thread, but still open. I think what I would like to do may be relevant.

On a map I would plot local swimming spots. Then the user can select one or more spots from the map. The script would then return data about the selected swimming spots (e.g. water quality, safe to swim etc).

Is this something that is currently possible, or will be in the future?

Thanks.

[2021-04-05 03:59] PetTerrGit opened #3071 "Selectbox vertical alignment does not match other input options"
### Summary

I have several input widgets in separate columns. Selectbox does not align the same way as other input widgets.

### Steps to reproduce

Code snippet:

[code]

If applicable, please provide the steps we should take to reproduce the bug:

**Expected behavior:**

It is expected that all widgets are in the same line as below
![Screenshot from 2021-04-05 09-23-55](https://user-images.gith

[2021-04-05 10:27] bendaizer opened #3072 "Cache issues with file_uploader"
### Summary

Optional selectbox generated after a file upload are still there when file_uploader is reset and same or new file is uploaded.

### Steps to reproduce

Code snippet:

[code]

test.csv
[code]

I am not using a multiselect here because for each variable there is a 2 nd widget (using beta_columns) to select the value to filter. Not displayed here for lighter code.

1. load file
2. select

[2021-04-05 15:22] randyzwitch commented on #3043
Hi @berkdemir -

This is not an error, but rather how the function works:

https://docs.streamlit.io/en/stable/api.html?highlight=number_input#streamlit.number_input

Best,
Randy

[2021-04-05 15:28] wellingtonf-souza opened #3073 "Background image"
I was using the code below to place an image as the background of a Streamlit page with an earlier version, 0.58.0. I upgraded to version 0.79.0 and the background stopped working. If I return to version 0.58.0, the code works again.

[code]

[2021-04-05 21:11] PetrochukM commented on #2379
I think this all affects `dataclasses`, also. It's unfortunate that core Python functionality like `isinstance` doesn't work anymore with `streamlit`. Furthermore, it's unfortunate that this causes silent errors in my code base...

[2021-04-06 00:20] vdonato commented on #3073
Hi @wellingtonf-souza,

Setting the background image like this isn't officially supported behavior, so we don't provide any guarantees as to whether or not the workaround to use markdown will continue to work with version upgrades. Note that there is a feature request for native support for this here: #2725. Feel free to bump the issue as it's more likely we'll work on it earlier the more communit

[2021-04-06 00:20] #3073 closed, assigned to nobody

[2021-04-06 00:37] vdonato commented on #3072
Hi @bendaizer,

A PR that likely fixed this issue was merged about a month ago: #2798.

I'm not 100% sure if the PR that I linked above was the exact one that fixed this issue (a different PR may have been the one to do it -- #2798 is just the one that I was reminded of that seems related), but I did confirm that the bug no longer appears with your provided example code in version 0.79.0. Feel fre

[2021-04-06 01:48] #3013 closed, assigned to nobody

[2021-04-06 05:13] berkdemir commented on #3043
Randy,
I am sorry but this cannot be expected behaviour or ideal behaviour.
As you can see in the video,

- Streamlit does not understand scientific format.
- Doc says it does not impact the return value. OK, it may not "affect", but user's input is not delivered to code, but rather 1 is delivered instead of 1e10.

[2021-04-06 11:07] york-schlabrendorff-liqid opened #3080 "Auto-Complete Password with Password Manager"
### Summary

When filling a username/password combo from a password manager, it only fills the username, not the password, because the HTML password field has the property `autocomplete="new-password"`. Removing this property results in the expected behaviour.

### Steps to reproduce

Code snippet:

[code]

1. Run the code
2. Notice that 1Password 7 displays for the user field the saved password a

[2021-04-06 12:36] Make42 opened #3081 "Loading cached large file (here machine learning model) takes too much time"
I have a machine learning model which is too large to load it every time I am changing something unrelated on my streamlit page. I have put the model loading already into a function that I decorated with `@st.cache` and I can confirm that the model is only loaded once. However, it still takes a lot of time.

So my loading function is

[code]

An idea of mine is that I press a button at some point

[2021-04-06 12:57] randyzwitch commented on #3043
Maybe I'm not understanding the issue. When you input a value, are you saying that you're getting the wrong number back or that it isn't formatted the way you want?

[2021-04-06 13:19] thiemoToadi opened #3082 "Streamlit protobuf names may collide with those of other packages"
### Summary

When import streamlit and supervisely_lib together in a project there occurs a TypeError.

### Steps to reproduce

Code snippet:

[code]

If applicable, please provide the steps we should take to reproduce the bug:

1. run the code with streamlit run ...
2. see error/traceback when you open the streamlit page

**Expected behavior:**

No error when both libraries are imported together.

[2021-04-06 13:46] randyzwitch commented on #3081
Not sure this is a bug. You might try removing this line, as it's a side-effect; not sure if this somehow fools the caching since the return isn't deterministic.

`print('load model: {}'.format(datetime.datetime.now().ctime()))`

[2021-04-06 18:35] KierranFalloon commented on #3047
Is anyone working on this?

[2021-04-06 19:51] randyzwitch commented on #3033
Closing this, as it looks like its resolved via a Streamlit component (yay for the community!)

[2021-04-06 19:51] #3033 closed, assigned to nobody

[2021-04-06 19:59] randyzwitch commented on #2908
Closing, not clear this isn't the intended behavior.

[2021-04-06 19:59] #2908 closed, assigned to nobody

[2021-04-06 20:10] discdiver opened #3087 "latest version of Bokeh doesn't display plots in streamlit"
### Summary

The latest version of Bokeh doesn't display plots in streamlit. Example in Streamlit docs doesn't display anything.

`pip install bokeh==2.2.2` is a temporary fix

### Steps to reproduce

Code snippet:

Example from the streamlit docs:

[code]

** Expected behavior**
Plot displays.

**Actual behavior:**
Nothing displays

Explain the buggy behavior you experience when you go through th

[2021-04-06 23:32] vdonato commented on #3082
Hi @thiemoToadi, thanks for reporting this!

Looks like this bug is half on our end and half on `supervisely_lib`s. What I think is happening is that both their and our protobufs don't specify a package, so types in the two libraries run into namespace collisions when imported together.

I think the fix should be quick and can get around to looking into this if I have the bandwidth in the next wee

[2021-04-06 23:40] vdonato commented on #3087
Thanks for reporting this @discdiver!

Looks like this is happening because the `bokehjs` version we have installed on the streamlit client is version 2.0.0, which seems to still work with `bokeh` 2.2.2 but not with newer versions.

I tried updating the version thinking this would be a quick fix but ran into some weird errors, so I'll either circle back around to this later or see if another maint

[2021-04-07 05:00] unserh commented on #3082
Hey, alluded-to lurker here, I'd be interested in looking into this issue if you don't mind!

[2021-04-07 05:37] hyerr1 commented on #3080
First-time contributor here who's willing to try and tackle this issue if no one else is currently working on it!

[2021-04-07 08:08] hughplay opened #3088 "[Feature Request] Brush Input"
### Problem

Is it possible to implement a `brush_input`? That would extremely useful for image inpainting and image segmentation.

### Example

![image](https://www.nvidia.com/research/inpainting/static/media/header_1.fa124956.gif)

https://www.nvidia.com/research/inpainting/

[2021-04-07 08:47] andfanilo commented on #3088
Hello @hughplay,

This looks super interesting! Did you have a look at the [Drawable Canvas component](https://github.com/andfanilo/streamlit-drawable-canvas)? You should be able to put a background image, draw over the zones of interest and then analyze the returned coloring back in Streamlit. It's not "inpaintaing" as you would like in the sense that you can't erase parts of your drawing, and th

[2021-04-07 13:19] thiemoToadi commented on #3082
@vdonato Thanks for the update, I also reported this to the Supervisely team so they are also aware of the issue and can look into a possible fix from their side.

[2021-04-07 15:48] hughplay commented on #3088
Thanks for your quick reply and nice job! This is exactly what I want. In fact, what I really need is the mask. It can be easily transformed from SVG paths as you said.

[2021-04-07 15:48] #3088 closed, assigned to nobody

[2021-04-07 17:18] Katy-Wei commented on #2275
@jrhone @Ierezell This was a useful thread for me, as I am now facing the same issue.

Can you please provide guidance on how I can define a suitable my_hash_func? I have read the documentation [here ](https://docs.streamlit.io/en/0.79.0/caching.html#example-2-turn-off-hashing-for-a-specific-type) but I think I am lacking understanding of how the hashing works..

[2021-04-07 19:28] vdonato commented on #3080
Hi @hyerrakalva, thanks for volunteering for this!

I think we'll want to first check with our product team whether we want these password fields to be treated as new passwords or existing ones (or if we want to add some configurability so that users can specify which one they want) before starting work on this. @asaini may have some input on this. I'll also surface this at a team meeting tomorrow

[2021-04-07 19:45] vdonato commented on #3082
Thanks @thiemoToadi!

Hi @unserh, sure, feel free to give this issue a try! I have to warn you that I'm fairly certain the work won't be the most interesting. I think the fix would just be to add the line `package streamlit;` to all of the protobuf definitions in the `proto/streamlit/proto` folder. If that doesn't work then we're back to square one for figuring out what the most reasonable fix her

[2021-04-07 19:51] vdonato commented on #3087
Turns out this issue already exists as #2156, so closing this one as a duplicate.

[2021-04-07 19:51] #3087 closed, assigned to nobody

[2021-04-07 22:51] tconkling commented on #2156
We've now upgraded to bokehjs 2.2.2, but 2.3.0 and 2.3.1 both throw an error on import. According to the bokehjs project, this is likely due to circular dependencies within bokehjs, and should be fixed in 2.4, which is due out soon.

More info here: https://discourse.bokeh.org/t/problem-importing-bokeh-bokehjs-module-in-javascript-app/7510/12

For now, we still need to tell users who get empty cha

[2021-04-08 03:00] hyerr1 commented on #3071
Willing to take on this issue if no one else is working on it!

[2021-04-08 07:07] berkdemir commented on #3043
Randy,
If you see the video again, I am sure it will be more clear.
Let me summarize:
For a scientific format number input box:

- If user enters non-scientific format, it converts it to scientific format in the number_input. The output to code is a number and it does not matter. It works.
![image](https://user-images.githubusercontent.com/40423004/113982721-c207dc00-9851-11eb-95a4-e9963167c343.pn

[2021-04-08 07:20] berkdemir commented on #3043
I have checked the number_input.py and NumberInput_pb2.py, but couldn't understand how Streamlit handles number input formats.

[2021-04-08 10:03] dbalabka opened #3092 "Grouped DataFrame header improvements"
### Problem

The index column does not have a header name in grouped DataFrames. The column name might contain a description that is important in the case of reporting and data representation.

### Solution

Improve HTML rendering of DataFrames headers.

### Additional context

It works in Jupyter as following:
![image](https://user-images.githubusercontent.com/1269372/114007911-6a299f00-986a-11eb

[2021-04-08 12:10] lucmos opened #3093 "st.echo not working when using a meta-app"
### Summary

This [gist](https://gist.github.com/tvst/f13b24198e256c1c4d9b5ccbc6991cc2) creates a meta-app, where you can select which app to run. In the selected app, the widget `st.echo` does not work.

![image](https://user-images.githubusercontent.com/11019190/114023171-d4464200-9872-11eb-96de-c8f5dc07e4de.png)

### Steps to reproduce

If applicable, please provide the steps we should take to

[2021-04-08 13:17] saluto opened #3094 "maximum recursion depth exceeded"
### Summary

`ScriptRunner._run_script` is called recursively (see [here](https://github.com/streamlit/streamlit/blob/cd97d1c2457af06d76198e8b216002a47bcbdb4d/lib/streamlit/script_runner.py#L361)), which can cause a `RecursionError` because Python does not eliminate tail-calls. So please run it iteratively instead.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

Be able to

[2021-04-08 14:28] dbalabka opened #3095 "Permanent link to report"
### Problem

There might be a lot of different filters in the report. Unfortunately, there no possibility to share the state of your filter easily.

### Solution

Filter state can be shared via URL. Unique URL can be generated based on filters values and copied into the clipboard by pressing "Copy link" in the menu.

### Additional context

For example, Kibana dashboards (ELK stack) generates perm

[2021-04-08 17:17] treuille opened #3096 "Some kind of problems sending images across"
# Summary

I've noticed a lot of flakiness with `st.image`. Sometimes it works, and sometimes it just shows a blank image. It seems to happen when I have an app open for a long time, so I wonder if it might be a memory issue.

# Steps to reproduce

1. Go to [the FaceGAN demo](https://share.streamlit.io/streamlit/demo-face-gan). (I'm on Safari.)
2. Wait for an hour
3. Move around the sliders and se

[2021-04-08 18:05] brendalf commented on #2969
Hey, @kmcgrady and @BrunoGomesCoelho, I'd be interested in looking into this issue if you don't mind!

[2021-04-08 18:33] brendalf commented on #1880
Hey, @kmcgrady and @nthmost, I'd be interested in looking into this issue if you don't mind!

[2021-04-08 18:40] kmcgrady commented on #2969
Fantastic @brendalf You got it!

[2021-04-08 18:42] kmcgrady commented on #1880
Hey @brendalf ! That works for me. I recommend for the PR a screenshot for a before and after. Any visible changes requires a product review, so showing the benefit of it.

[2021-04-08 18:46] kmcgrady commented on #2044
Going to close this as a duplicate of https://github.com/streamlit/streamlit/issues/1851 to track this.

[2021-04-08 18:46] #2044 closed, assigned to randyzwitch

[2021-04-08 18:47] kmcgrady commented on #2448
Going to close this in favor of https://github.com/streamlit/streamlit/issues/1851 Linking it in for guidance.

[2021-04-08 18:47] #2448 closed, assigned to nobody

[2021-04-08 18:54] kmcgrady commented on #3095
Hey @dbalabka Thanks for the issue. We do have an experimental feature called `experiemntal_get_query_params` and `experimental_set_query_params` See in our code https://github.com/streamlit/streamlit/blob/96f17464a13969ecdfe31043ab8e875718eb0d10/lib/streamlit/__init__.py#L279

We currently do not display experimental features in our docs because we don't guarantee a sense of permanence. That bein

[2021-04-08 19:00] dbalabka commented on #3095
@kmcgrady I will try to use this one and leave feedback. Thanks for help!

[2021-04-08 19:04] kmcgrady commented on #3094
Hey @saluto Thanks for the issue! I'll have to take a look on this. I think you're right that it shouldn't be thought of as a recursion error, but i also think we shouldn't be allowing an infinite rerun loop either. The Recursion Error does provide a stopping point.

Curious, is there any reason you keep the loop, or did you just notice this issue and felt like it was just inaccurate?

[2021-04-08 19:09] kmcgrady commented on #3093
Thanks for the information @lucmos ! We do have plans to codify multipage apps better. I have copied this ticket in to be looked at when constructing a solution.

[2021-04-08 19:10] kmcgrady commented on #3071
@hyerrakalva Absolutely. We did do some work in 0.80 (to be released today), so it may be fixed, but it's very likely still needs work. I'd verify with the latest, and then you are welcome to work on it if more is needed.

[2021-04-08 19:16] kmcgrady commented on #3070
@astrojams1 Makes sense, we have a watcher, but it looks like https://github.com/streamlit/streamlit/pull/2968 just updates the secrets and doesn't rerun.

[2021-04-08 19:20] asaini opened #3097 "Handling long text in Selectbox and MultiSelectbox"
### Problem

People have requested that they want to disable truncation in `st.multiselect`.

This has come up in some user calls and seems like a valid request.

### Solution

Add a tooltip in case the text is getting truncated.

@tvst suggested that something like this is already done in S4T, and we could easily copy the code from there: https://github.com/streamlit/s4t/blob/8753a0cc1b9d56e5410a

[2021-04-08 19:28] saluto commented on #3094
Is there a reason not to allow an infinite rerun loop? The restriction sounds like an arbitrary choice to me. And there are good reasons not to restrict it: Otherwise every app would crash after reaching the limit. This could happen due to many user interactions or in long-running apps that trigger a rerun periodically or on an external event, e.g. listening for changes in a database.

Btw: I didn

[2021-04-08 19:30] kmcgrady commented on #3057
Hi @Akim-Nyoni Can you provide the code with what you do between the file uploader and the line that causes the error? My guess is the file uploads correctly, but the input to biopython is incorrect.

Just to be clear, the output from the FileUploader is an instance of [BytesIO](https://docs.python.org/3/library/io.html#io.BytesIO). You might need to convert it to a string This [StackOverflow answ

[2021-04-08 19:35] kmcgrady commented on #3056
Thank you so much @konetom for this report! I believe this is the exact same problem as https://github.com/streamlit/streamlit/issues/2997, so I will close this issue to consolidate. Having multiple reports, I'll be sure to prioritize this in our next attempt to squash bugs. Let me know if you see something different here.

[2021-04-08 19:35] #3056 closed, assigned to nobody

[2021-04-08 19:38] kmcgrady commented on #3054
Hey @leJOEndary Thanks for the report! I am betting our solution for state will resolve this better. I will be sure to make sure we look at it in the lens of Session State and try to answer this on release!

[2021-04-08 19:40] jrieke opened #3098 "Set base target tag for HTML links"
### Problem

Currently, using HTML links in a Streamlit app (e.g. `st.markdown(f'<a href="https://github.com/jrieke">Click here</a>', unsafe_allow_html=True)`) makes the link open in the same browsing context. This is a problem in Streamlit Sharing, because apps in Sharing are iframed and some pages (e.g. Github) don't allow to be opened within an iframe. E.g. the link above wouldn't open/show an

[2021-04-08 19:47] leJOEndary commented on #3054
@kmcgrady Thanks for the reply. I'm waiting patiently for that. Are we talking weeks or months?

[2021-04-08 19:47] kmcgrady commented on #3032
Thanks for the report @ydcjeff ! This presents a tricky problem.

You are right! Selectbox is an input vs a native select, this is due to the feature that allows select options to be searchable. It makes sense for large select boxes, but less so when the select has a handful of items. I'll keep this in mind, but it will be tricky to think of a one-size-fits-all solution. Curious if you have any op

[2021-04-08 19:49] tybirk-mindway commented on #3095
Hi @dbalabka

My post on the forum here may be helpful for you: https://discuss.streamlit.io/t/programatically-setting-widget-values-and-bookmarking-app-state/5621

[2021-04-08 19:55] kmcgrady commented on #3028
Hey @onevirus Thanks for the issue. This has been discussed, and I think your request is fair. Going to keep it up.

I will provide some conversations and some less than desired workarounds. Hope they give some ideas.
https://github.com/streamlit/streamlit/issues/484
https://discuss.streamlit.io/t/has-anyone-deployed-to-google-cloud-platform/931

[2021-04-08 19:57] kmcgrady commented on #3003
Hey @bbk40221 Thanks for raising the issue! I'm not sure what could be the problem without replicating your scenario. I recommend reaching out on our [forums](https://discuss.streamlit.io/) to see if anyone else has been able to figure out a solution here.

[2021-04-08 19:58] kmcgrady commented on #3002
Thanks for letting us know @TheRealKutlwano I will put this on our list to think about!

[2021-04-08 20:00] tvst commented on #1117
We rolled back the PR above for a few reasons

1. This is potentially unsafe, and we don't make that clear to the user. Need to think what we can do here.
2. It's not clear which objects that provide repr_html would even work. Some objects may depend Jupyter-specific browser-side APIs, for example. Others [return an entire <html> node](https://github.com/CartoDB/cartoframes/blob/e501765ec0ad1d6093

[2021-04-08 20:04] kmcgrady commented on #3054
@leJOEndary I hear you! This has been a very hotly asked feature, and we have been taking some time to make sure we get it just right and have it work as expected. We have it prioritized in the quarter, so ideally in less than three months. I added your ticket to the internal tool to track, so when we have something, we can let you know.

One thing I am missing from the code is the `_get_state` is

[2021-04-08 20:26] kmcgrady commented on #3094
It's a completely valid ask @saluto and a part of a larger philosophical discussion. I would recommend _not_ using an infinite loop because that ties up resources on the web server to always be running for any connection. Websites work through this by polling the web server regularly or creating a web socket connection to send messages (the latter is something Streamlit does for triggering reruns)

[2021-04-08 21:21] AnOctopus opened #3099 "Garbage Collection between script runs"
Context: https://github.com/streamlit/streamlit/pull/3075

Description:
A small but noticeable fraction of apps running in Streamlit Share appear to accumulate memory rapidly as the script is repeatedly run, causing them to exceed their resource limits. This issue is relieved by running GC at the end of the script. I added a GC collection to our script runner's cleanup phase, but collecting gen 2

[2021-04-08 21:22] saluto commented on #3094
You are right about that. Sorry for my mistake.

I think, hiding some limitation (about hardware resources) by introducing another (about recursive reruns) isn't good in this case, because the new one is more arbitrary and counterintuitive (to me) than the existing one, without providing any real benefit.
As long as the implementation complexity allows it, I suggest leaving the user decide per app

[2021-04-08 21:22] ischurov opened #3100 "st.cache doesn't work with matplotlib.pyplot (InternalHashError: 'Spines' object does not contain a 'name' spine)"
### Summary

If function returns `matplotlib.pyplot.Figure` object, it cannot be cached with `st.cache`.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

Figure is shown.

**Actual behavior:**

When application is started, during a long time, I see only message *Running mk_figure().* After a while, I get the following message:

[code]

[code]

[code]

### Is this a regressio

[2021-04-08 21:24] kmcgrady commented on #3094
Thanks for your perspective @saluto ! I'll keep this in mind.

[2021-04-08 21:32] saluto commented on #3094
My pleasure. Feel free to handle this issue however you want. Thanks @kmcgrady for your valuable deeds.

[2021-04-08 21:48] vdonato commented on #3092
Thanks for the suggestion @dbalabka! I'll relay this to our product team. I'd imagine this is a use case we want to support, but some work may be required on the design side to make sure the styling looks good with header names of various lengths

[2021-04-09 09:51] jeffydc commented on #3032
@kmcgrady Thanks for your reply

I am not quite familiar with that, so I can't say.

For a long list of options, being able to search is quite good. But, for a small list with sorted options, popping up keyboard is kinda a weird UX on mobile. For such case, I would prefer to use clickable ones.

[2021-04-09 12:19] devforfu commented on #700
It is still the issue for my case. I am trying to insert a vertically concatenated chart, but want to make it adaptable to the screen's width. At the moment, I need to hard-code the width instead.

[2021-04-09 14:16] ngallo1 commented on #455
Any estimate on when this feature will be completed?

[2021-04-09 17:31] thewhiterabbit88 commented on #402
Have you tried setting powershells execution policy to unrestricted?

Set-ExecutionPolicy

Unrestricted

[2021-04-09 18:12] EcosystemEnergy opened #3104 "Overlap on multiline headers with figures"
### Summary

The widgets now overlap over the headers since the introduction of the anchors release 0.79 to release 0.80.
This happens whenever the header title is long enough that it needs to wrap on a second line.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

The widget should move down accordingly.

**Actual behavior:**

![image](https://user-images.githubusercontent.c

[2021-04-09 19:26] vdonato commented on #3104
Thanks for reporting this @EcosystemEnergy! We'll prioritize looking at this soon

CC @bh-streamlit

[2021-04-09 21:48] EcosystemEnergy commented on #2058
@jrieke I'm sharing your solution here, it's been working great for me.

[code]

[2021-04-09 23:14] #2783 closed, assigned to nobody

[2021-04-09 23:33] #2986 closed, assigned to vdonato

[2021-04-09 23:33] #2964 closed, assigned to vdonato

[2021-04-09 23:36] vdonato commented on #2964
Note this issue is "closed", but currently lives in the `feature/theming-fast-follow` branch and thus won't actually be available until that branch is merged.

[2021-04-09 23:36] vdonato commented on #2986
Note this issue is "closed", but currently lives in the `feature/theming-fast-follow` branch and thus won't actually be available until that branch is merged.

[2021-04-09 23:38] ghost commented on #3104
This looks like it was caused by the recent Markdown Anchors merge, investigating.

[2021-04-09 23:57] ghost opened #3108 "st.multiselect autocomplete/match not working for numerical values"
### Summary

st.multiselect autocomplete function does not work for numerical values

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Click on the multiselect box
2. Enter 2 and you will get apple-78 as a match
2. Enter 3 and

[2021-04-10 08:49] hritik5102 opened #3110 "Align the items (dynamic) inside the span tag horizontally."
**NOTE:** The list is updated dynamically ( length of the list is not constant )

I want to align these items horizontally, I tried using different CSS properties like display: inline, float: left, with flex and I also tried using beta_columns but the whole layout is messed up, I thought it provides an equal width to each item and also aligns the items horizontally.

**Here is the code**:
[code]
#

[2021-04-10 11:42] hritik5102 commented on #3110
@kmcgrady sir, can you help me to resolve this issue.

[2021-04-10 17:30] hyerr1 commented on #3071
It still seems to be an issue as I was able to reproduce the bug in the latest version, so I'd be more than happy to work on this!

[2021-04-10 18:19] kmcgrady commented on #3071
Sounds great! @hyerrakalva It’s yours!

[2021-04-10 18:19] ghost commented on #3057
import streamlit as st
import matplotlib.pyplot as plt
import matplotlib
matplotlib.use("Agg")
from Bio.Seq import Seq
from Bio import SeqIO
from collections import Counter
import neatbio.sequtils as utils
import numpy as np
from PIL import Image

def main():

    st.title("Protein Synthesis App")

    activity = ['Welcome','DNA Sequence','About']
    choice = st.sidebar.selectbox("Select Activity

[2021-04-10 18:24] kmcgrady commented on #3110
@hritik5102 Thanks for reporting the question. This is a great question for [our forums](https://discuss.streamlit.io/).

I think you should move the `beta_columns` call _outside_ the `for` loop. Essentially you are generating multiple sets of columns here.

[code]

Going to close this ticket since there is a solution. Let me know otherwise.

[2021-04-10 18:24] #3110 closed, assigned to nobody

[2021-04-10 18:48] kmcgrady commented on #3057
Thank you for the code @Akim-Nyoni . This is definitely a challenge of converting the output of file uploader, that is `BytesIO`. to a Text stream (likely `StringIO`). Here’s an example code from the same StackOverflow answer. Hopefully this would resolve the issue.

[code]

Since this is not issue with Streamlit, I am going to close this issue. Feel free to let us know if you get any more errors,

[2021-04-10 18:48] #3057 closed, assigned to nobody

[2021-04-10 20:26] ghost commented on #3057
Thank you, it worked

[2021-04-10 23:41] vdonato commented on #3068
Hi @gagan3012, any more info on this? If not, I'll likely close this issue in the next few days as it doesn't seem easily reproducible (such a glaring issue would probably be frequently reported if it were) and works in the cases I linked above and in all other apps with custom themes that I've seen

[2021-04-10 23:48] vdonato opened #3112 "Tracebacks in error boxes are hard to read in dark mode"
via @tvst

See the screenshot below. We should fix the colors here so that the dark mode tracebacks are more readable.
<img width="750" alt="Screen_Shot_2021-04-06_at_10 40 14_PM" src="https://user-images.githubusercontent.com/3144420/114287554-98e77700-9a1c-11eb-8592-78f0e8b09ce0.png">

[2021-04-11 09:31] gagan3012 commented on #3068
Hello, Thank you so much for your support I found that my .streamlit folder was not in the root of the repo when I added it there it worked
Repo: https://github.com/gagan3012/streamlit-tags

[2021-04-11 09:46] SimonBiggs commented on #2722
See https://github.com/streamlit/streamlit/pull/3061#issuecomment-817279621

[2021-04-11 09:54] hritik5102 commented on #3110
Sir, it worked but not for a large list of items, the space between two items is gone so it tries to adjust itself in that region only.

![image](https://user-images.githubusercontent.com/44053202/114299626-fee60400-9ad9-11eb-9a53-95467fb24f48.png)

[2021-04-11 12:24] hritik5102 commented on #3110
@kmcgrady Sir, it worked but not for a large list of items, the space between two items is gone. it tries to adjust itself in that region only.

![image](https://user-images.githubusercontent.com/44053202/114304074-e2a09200-9aee-11eb-9aa4-d4068b59a39a.png)

[2021-04-11 22:00] kmcgrady commented on #3110
Hi @hritik5102 This is as expected for columns at the moment. You would need to program such that only a certain number of words pop up per set of columns. I think the next best step would be to reach out to the forums, and they can provide some design tips and code samples to get the look that you desire.

[2021-04-12 04:27] ScottishFold007 opened #3113 "UnhashableTypeError: Cannot hash object of type torch.nn.parameter.Parameter, found in the body of get_most_likely()."
Recently, when I loaded an NLP pre-training model, I got this error, which did not happen before, and I don't know what caused it.
![image](https://user-images.githubusercontent.com/36957508/114340504-475cfa80-9b8a-11eb-8107-849b156ac8ea.png)

[2021-04-12 09:48] bibillups opened #3114 "http://persona-landmarkchat.com:8888/"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2021-04-12 15:32] shakilashj commented on #1996
I also have this problem
I was trying to use SessionState as explained here-> https://towardsdatascience.com/pagination-in-streamlit-82b62de9f62b
but it only works when I have just one variable

[2021-04-12 15:36] ghost commented on #1042
same issue here, with multiselect and a list of default values; v. 0.80

[2021-04-12 16:01] andfanilo commented on #3114
Hello @bibillups,

From the stack trace, it seems like the error is dwelling from inside your code, where `ss.lnsc_option` may not be a list in some instances, maybe due to how the state is managed in the app.

I think you will have a better chance getting help by posting this on the forum instead: https://discuss.streamlit.io/, with a code snippet referring directly to your problem. That way we c

[2021-04-12 16:10] andfanilo commented on #3113
Hi @ScottishFold007

Perhaps there has been a Pytorch upgrade which added a `Parameter` instance in the `get_most_likely` method?

In any case, you can refer to the [Advanced caching](https://docs.streamlit.io/en/stable/caching.html#example-2-turn-off-hashing-for-a-specific-type) part of the documentation which provides guidelines on custom hashing methods for class instances Streamlit doesn't kno

[2021-04-12 17:10] rafisics opened #3115 "HTML is not working in streamlit.markdown in version 0.80.0"
### Summary

HTML code in `st.markdown` was working okay in streamlit version 0.79.0. But with version 0.80.0, it's not giving the desired output.

### Steps to reproduce

Code snippet: ([line 32](https://github.com/acarafat/newton_calculator/blob/163760b3e63bc171f4e0e93bf17cacb7ec1a0186/newton_calc_app_v0.1.py))

[code]

**Expected behavior:**

The title line `গতি-সমীকরণ ক্যালকুলেটর` is expected

[2021-04-12 17:15] flutterq commented on #1245
[[Solved] ImportError: cannot import name ‘_ColumnEntity’ from ‘sqlalchemy.orm.query’
](https://exerror.com/importerror-cannot-import-name-_columnentity-from-sqlalchemy-orm-query/)

[2021-04-12 18:19] vdonato commented on #3115
Thanks for reporting this @rafisics, we'll look into this ASAP

(CC @bh-streamlit)

[2021-04-12 18:22] rafisics commented on #3115
Thank you so much for your quick response. Looking forward to getting it fixed.

[2021-04-12 18:25] vdonato commented on #3068
Ah okay, good to hear you solved the issue!

I think that these types of `config.toml` issues have popped up a few times since theming launched, so I'll see if I can continue to improve these docs to make the process more clear.

[2021-04-12 18:25] #3068 closed, assigned to nobody

[2021-04-12 18:43] vdonato commented on #3114
Thanks for jumping in on this @andfanilo!

Hi @bibillups, like Fanilo said, this doesn't seem like a bug in streamlit itself. In the case that you're using a website built and hosted by someone else, you'll want to report this bug to the maintainers of the site (sorry that it's easy to end up here in these cases!)

[2021-04-12 18:43] #3114 closed, assigned to nobody

[2021-04-12 18:43] #2960 closed, assigned to kantuni

[2021-04-12 21:10] berkdemir commented on #1370
@DylanModesitt
Would you plan any work on this? The idea of simple function to turn Streamlit into bundled electron exe.

[2021-04-12 21:16] immu0001 commented on #2544
uninstalling streamlit and reinstalling it fixed this issue for me
`pip3 uninstall streamlit`  @MemphisMeng

[2021-04-12 21:56] tvst commented on #2479
Just saw this. We should hold off on adding this to our docs, since the solution where we support conda.txt is a bit of a hack. The real solution is coming soon, at which point we'll update the docs and close this accordingly.

[2021-04-13 01:49] ScottishFold007 commented on #3113
Yes! The method you provided is very effective! Thank you very much! @andfanilo

[2021-04-13 03:27] rajpratyush commented on #2479
Ohh pkay then let's wait for a real solution

On Tue, 13 Apr, 2021, 3:26 am Thiago Teixeira, ***@***.***>
wrote:

[2021-04-13 03:42] vdonato opened #3120 "Try making plotly charts look nicer in dark mode"
See this forum topic: https://discuss.streamlit.io/t/how-to-disable-dark-theme-option/11735

The thing to note here is that we chose plotly chart colors before taking the direction of computing/deriving a bunch of colors using the provided user theme config, so we have a bunch more colors to work with that may make it easier to have plotly themes look better in dark mode by default.

[2021-04-13 03:52] rafisics opened #3121 "config.toml file is not changing streamlit theme in version 0.80.0"
### Summary

In streamlit 0.80.0, I am trying to set a custom theme by adding a `config.toml` file. But reloading or restarting the app, the theme returns to the default `Use system setting`.

### Steps to reproduce

In the same directory of my `.py` file, I have created a `.streamlit` folder and kept the `config.toml` file inside it.  `.streamlit/config.toml` contains:

[code]

**Expected behavio

[2021-04-13 03:54] #2969 closed, assigned to nobody

[2021-04-13 04:10] vdonato commented on #3121
Hi @rafisics,

Do you happen to have a repo demonstrating the issue? I'm unable to reproduce it on my local machine.

Also, are you running `streamlit run` from the same directory that contains your `.py` file? I believe streamlit checks the directory from which `streamlit run` is run and not the one where the script lives.

[2021-04-13 04:53] rafisics commented on #3121
Here's my repo: https://github.com/rafisics/newton_calculator

I didn't quite understand your question. I run it using the Anaconda prompt:
[code]
And streamlit is installed and kept along with other packages in different directory: `C:\ProgramData\Anaconda3\Lib\site-packages`

[2021-04-13 05:11] rafisics commented on #3121
Ok. I just found out that the problem is not arising if I run it as:
[code]

[2021-04-13 05:54] s4chin commented on #2275
@Katy-Wei I also had the same issue. I solved it by adding this decorator instead of just `@st.cache` -
```@st.cache(hash_funcs={"builtins.SwigPyObject": lambda _: None})```

[2021-04-13 06:03] vdonato commented on #3121
Good to hear you've solved the problem!

[code]

Ah, yeah, that's what I was trying to get at with that question. streamlit looks in the current working directory for the `.streamlit` directory, so if you're running the command from elsewhere it won't find it.

Note that it's also possible to set a system-level `config.toml` file instead of doing this for each individual project. Our [documentatio

[2021-04-13 06:03] #3121 closed, assigned to vdonato

[2021-04-13 06:19] rafisics commented on #3121
Thank you. I will check the doc.

[2021-04-13 07:06] Katy-Wei commented on #2275
Thanks @s4chin - I tried the same thing but (since I guess the lambda _: None function causes the SwigPyObject to be ignored?) I got weird behaviour when caching - the state of the object was not fully preserved.
Any suggestions for how to define a function that will actually cache the object?

[2021-04-13 07:21] andfanilo commented on #3113
Great! Feel free to close this issue then with your optimal solution (I don't have the rights to close Streamlit issues :stuck_out_tongue_closed_eyes: )

[2021-04-13 09:09] ElenaBossolini opened #3122 "st.sidebar.beta_expander does not read a st.sidebar.file_uploader"
### Summary

In the main page, we can have a `file_uploader` within a `beta_expander`, however this does not seem to work as soon as it is put in the `sidebar`.

### Steps to reproduce

Try to run this code snippet:

[code]
you will see that the `file_uploader` is outside of the `beta_expander` box, and that the `beta_expander` box is empty.
Instead, when running on the main page and not on the si

[2021-04-13 09:35] andfanilo commented on #3100
Hello @ischurov ,

Let me cheat a little bit and link you to one of my answers dealing with the same problem :wink: : https://github.com/streamlit/streamlit/issues/3113#issuecomment-817937311 . I edited the code snippets to your problem.

Hope this helps,
Fanilo

[2021-04-13 10:34] s4chin commented on #2275
@Katy-Wei
Here's my code -
[code]
This works fine for me and gives me no errors/weird behaviors.

I also think the caching is working since if I cache the `create_index_gpu()` function, I get the same index if I call the function multiple times. Also, my application would be much slower if caching didn't work.
Perhaps your object isn't simply an index but something else?

[2021-04-13 11:12] #3113 closed, assigned to nobody

[2021-04-13 11:13] ScottishFold007 commented on #3113
great！

[2021-04-13 11:23] Franky1 opened #3123 "Markdown Tables are not rendered properly in dark theme"
### Summary

Markdown Tables are not rendered properly in **dark theme**

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

Markdown tables should also be visible and rendered properly in dark theme

**Actual behavior:**

If the above code is run and you switch the theme to **dark** only a white blob is rendered of the markdown table.
The **light** theme works and shows the ta

[2021-04-13 11:26] Franky1 commented on #3058
@Xloka
Please show your `docker run ...` command.

[2021-04-13 11:29] Franky1 commented on #3123
Maybe a duplicate of #3020 and #3038

[2021-04-13 11:34] Franky1 commented on #3123
Seems to render properly now with Streamlit **0.80.0**
Issue can be closed.

[2021-04-13 11:56] Xloka commented on #3058
[code]

[2021-04-13 12:10] Franky1 commented on #3058
@Xloka
Did you check under Windows if the host folder is mounted correctly into the container at all?
The syntax for `docker run` may be different in Windows than in Linux.
Do you use `powershell` or `cmd` under Windows?

[2021-04-13 12:48] rkoystart opened #3124 "javascript is not getting executed while using the st.write(html_content. unsafe_allow_html=True)"
### Summary
javascript is not getting executed  while using the st.write(html_content. unsafe_allow_html=True). But the javascript is working when streamlit.components.v1.html is used.

### Steps to reproduce
streamlit_file.py

[code]
sample.js
[code]
**Expected behavior:**

Whenever the span is clicked the hidden span with text "i am in id 2/4" should appear.

**Actual behavior:**

when the span

[2021-04-13 13:18] dbalabka commented on #3095
@kmcgrady it works for me :) It requires some boilerplate code to manage default values, but in general it good to go with.
[code]

[2021-04-13 13:19] dbalabka commented on #3095
@tybirk-mindway thanks! I've come up with pretty similar solution.

[2021-04-13 15:04] arraydude commented on #1088
Can you share your code so I can help you better?

I'm using the following function:
[code]

[2021-04-13 18:09] GitHunter0 commented on #161
Hi @tvst , I'm using Streamlit version 0.80.0 and still experiencing this issue, is it completely solved?

[2021-04-13 18:43] vdonato commented on #3123
Hey @Franky1,

Yep, I believe this is a dupe of #3020 and has been resolved, so closing this.

[2021-04-13 18:43] #3123 closed, assigned to nobody

[2021-04-13 18:59] vdonato commented on #3124
Hi @rkoystart!

This behavior is intentional. `st.write` and `st.markdown` strip all `<script>` tags from the given HTML, even if `unsafe_allow_html` is set to `True`. This is due to the security concerns of allowing arbitrary javascript that has full access to the rest of the streamlit app to be executed.

On the other hand, custom components have looser security constraints because they are thir

[2021-04-13 18:59] #3124 closed, assigned to nobody

[2021-04-13 22:32] ratthachat commented on #623
Same for me on chatbot implementation @jrhone .
Using a button to reset is not a good UX experience for the user.

[2021-04-14 00:00] kmcgrady commented on #2544
Thanks @immu0001 for your input. I am going to close the issue in the meantime. If this issue comes back, feel free to reopen it!

[2021-04-14 00:00] #2544 closed, assigned to nobody

[2021-04-14 00:02] kmcgrady commented on #3095
Awesome! Thanks @dbalabka I'm going to close this for now as this is the workaround. We do have hopes to revisit the query params to make them more intuitive, but it might be a little bit later.

Thanks for reaching out again!

[2021-04-14 00:02] #3095 closed, assigned to nobody

[2021-04-14 00:05] kmcgrady commented on #3032
Thanks @ydcjeff for your input! I filed this ticket under the Mobile Experience Project we hope to work on in the future.

[2021-04-14 04:31] unserh commented on #3082
@vdonato I was able reproduce the issue with the protobuf collisions between Streamlit and Supervisely. However after adding the `package streamlit;` line to all the protobuf definitions and rebuilding them, the front-end is now failing to compile because all of the protobuf imports are broken. The issue is with the JS protobuf generation using protobufjs - after adding the package name to the pro

[2021-04-14 09:35] cceyda opened #3130 "bug: text_input with caching"
### Summary
Using a cached value as text_input value, text doesn't get updated unless focus changes. I use caching a lot to support more complicated scenarios.

### Steps to reproduce
2- write something hit enter
3- write something else (without changing focus) hit enter

Code snippet:

[code]
**Expected behavior:**

should work the same as text_input without caching.

**Actual behavior:**
1- type

[2021-04-14 09:37] Xloka commented on #3058
yes it's correctly mounted as I have to press R each time to reload even if the reload on save is checked , I use git bash or ubuntu wsl terminal on windows. the R works fine if I updated the app.py , I have to rerun docker each time I update any other file that is deeply imported

[2021-04-14 11:41] immu0001 commented on #2544
Sure dude 👍

[2021-04-14 15:32] pohlt opened #3132 "streamlit's webserver not working when using pdm for installation"
### Summary

When I'm using [pdm](https://pdm.fming.dev/)  to install streamlit, I cannot connect to streamlit's webserver.
From pdm's web site: PDM is a modern Python package manager with PEP 582 support.

### Steps to reproduce

1. Install PDM: `pipx install pdm`
2. Create new directory and go there: `mkdir st_test; cd st_test`
3. Init pdm: `pdm init` (and use the defaults)
4. Install streamlit:

[2021-04-14 15:52] NTL-Remi opened #3133 "Tooltips on `st.image` and other media elements"
### Problem

Hello,
I am using Streamlit to explore an image dataset, and I would like to access information about
individual images that may be a bit too verbose to fit nicely in the captions (for example the file paths, when I am already printing some other data to the captions), and not useful to display for all images.
I want to use tooltips for that purpose, but it seems from the docs that th

[2021-04-14 20:33] vdonato commented on #3082
Hey @unserh,

Whoops, sorry if I sent you down a bit of a rabbit-hole here!  I didn't anticipate the change that ended up happening due to how `protobufjs` works :confused:.

I think a reasonable solution here would be to create a new file `frontend/src/proto.ts` that simply reexports `autogen/proto` without the wrapper. Then, we could change the import lines from `src/autogen/proto` to just `src/

[2021-04-14 20:42] vdonato commented on #3082
On a related note, I'm now a bit nervous that there may be some further unexpected complications even after the import issue is resolved. If this does happen to be the case, feel free to toss this issue back to me since I certainly didn't expect it to end up being this hairy when I added the `good first issue` label.

[2021-04-15 06:22] HongLouyemeng opened #3137 "When I draw a plot image with streamlit, I get some random and vertical lines"
There are no random lines on some computers, and this problem appears on some computers.
![image](https://user-images.githubusercontent.com/48181529/114823350-fd784c80-9df5-11eb-81ba-d1e974e82167.png)

[2021-04-15 06:23] HongLouyemeng commented on #3137
Normally, this problem should not occur, and I'm not sure whether it's a problem of streamlit or plotly

[2021-04-15 06:55] hyerr1 commented on #3071
@kmcgrady I looked for more ways to reproduce this issue and found that inconsistencies in the vertical alignment of selectbox vs other widgets exist even when these widgets are created outside of a column. After further experimentation, I found that this issue only happens when you create widgets with blank labels.

Here's what it looks like when creating a column of widgets with blank labels usi

[2021-04-15 06:57] hyerr1 commented on #3071
My only concern is that there are still some issues with alignment when some widgets are given labels and others are not, although this is not an issue specific to selectbox widgets. Here is an example below:
![image](https://user-images.githubusercontent.com/52135039/114827026-2ec13000-9d96-11eb-865a-19ddfe80348e.png)
Code snippet I used to reproduce this:
[code]

[2021-04-15 09:23] iiLaurens opened #3138 "Theming bug using environment vars"
### Summary

When configuring colors using environment variables, streamlit returns an error message upon page load.

[code]

It somehow seems to include a space at the end of the color string. However the code snippet below clearly shows there is no space in the environment variable.

### Steps to reproduce

This is the bash file that I used to launch streamlit

[code]

**Expected behavior:**

I

[2021-04-15 11:46] andfanilo commented on #3137
Hello @HongLouyemeng,

Could you check out if the artifact remains if you [export the chart as an HTML file](https://plotly.com/python/interactive-html-export/) and open it in a browser?

You can use the `write_html` method for this:

[code]

Cheers,
Fanilo

[2021-04-15 13:30] rafisics commented on #3115
As the bug is not solved yet, I am avoiding the situation by wrapping it with `<div>` tag:
[code]

[2021-04-15 14:53] BurritoPancakes commented on #1088
I am running into the same issue with base64 not working for me. I am using fpdf2 (https://pypi.org/project/fpdf2/) in order to create a pdf from multiple .jpg files and all that is being shown on my streamlit app is a blank page. However, when there is only one .jpg in the folder, this base64 code works as intended. So it seems the problem only comes up when there are multiple pages to the pdf. O

[2021-04-15 19:45] vdonato commented on #3138
Thanks for reporting this @iiLaurens. This is going to need some investigation since I don't seem to be able to reproduce the issue on my machine using the script you provided.

I don't currently have the bandwidth to look into this further but will do so once I can

[2021-04-15 20:16] kmcgrady commented on #3071
Hey @hyerrakalva. Excellent analysis. There are two problems that may arise:

* Accessibility, labels need an associated element, but it looks like we didn't obey it in the first place. That's a much larger discussion.
* The tooltips are used for the `help` parameter for the widget. @bh-streamlit might have an idea on why that might be the case.

I think making the widgets work the same way _makes

[2021-04-15 20:42] zyx333ht opened #3139 "import streamlit script to another script failed"
### Summary

I write my main streamlit script in script_streamlit.py, then imported in test_streamlit.py. The error is

Traceback (most recent call last):
  File "/srv/anaconda3/envs/streamlib/lib/python3.8/site-packages/streamlit/hashing.py", line 339, in to_bytes
    b = b"%s:%s" % (tname, self._to_bytes(obj, context))
  File "/srv/anaconda3/envs/streamlib/lib/python3.8/site-packages/streamlit/h

[2021-04-16 02:59] vdonato commented on #3082
Hi @unserh, I checked with the team, and the consensus is that we're okay with having lots of imports changed across the frontend since it'll be something that can be done relatively easily and with software assistance anyway. If you'd like to attempt to address the namespace issues that came up by taking the approach I outlined above, feel free!

[2021-04-16 03:59] unserh commented on #3082
Yeah absolutely I'll get right on it, thanks for the quick reply!

[2021-04-16 07:29] #3137 closed, assigned to nobody

[2021-04-16 07:38] HongLouyemeng commented on #3137
A computer runs the program, different computers connect to this computer, some computers will appear random vertical line, some computers will not appear. When the picture is saved, the computer with random lines will also have random lines. It's too hard, QAQ

A computer runs the program, different computers connect to this computer, some computers will appear random vertical line, some computer

[2021-04-16 08:11] vdonato commented on #3026
@jrieke I had some time to look into this, and I think we're stuck with the behavior as-is due to the way many editors handle file updates :disappointed:

It's pretty common (or at least not-uncommon) for a "file update" to in reality be a file deletion followed by a new file creation (with potentially some file moves and renames in the sequence of events too depending on what the editor doing wit

[2021-04-16 08:11] #3026 closed, assigned to vdonato

[2021-04-16 08:59] atwahsz opened #3142 "Define a Block of Code"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

the apps developed with streamlit always update it self when widget is changed . where previous buttons had some heavy computation in it . steamlit always rerun..

even if we set st.cache . still it re runs fr

[2021-04-16 11:35] tchaton opened #3143 "Use StreamLit to generate interactive plots within Sphinx generated doc."
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

Is your feature request related to a problem? Please describe the problem here. Ex. I'm always frustrated when [...]

### Solution

**MVP:** What's the smallest possible solution that would get 80% of the prob

[2021-04-16 18:00] bendaizer commented on #3072
Thanks for you answer, it actually solved the issue described here, but it introduced a subtle bug with number_input widget that triggers a refresh and reset the value to default one instead of keeping the user selection. I tried to isolate the issue, but wasn't able, but it is something similar to what is described here : https://discuss.streamlit.io/t/strange-and-subtle-refresh-streamlit-bugs/14

[2021-04-16 18:32] #3104 closed, assigned to nobody

[2021-04-16 18:32] #3115 closed, assigned to nobody

[2021-04-16 18:45] vdonato commented on #3072
Thanks @bendaizer! Definitely file another issue if you're able to isolate the bug. Even if you don't have code that consistently reproduces it, a new issue with this same code (or a smaller snippet that runs into the problem, if one is discovered) and a rough estimate of the frequency at which the problem occurs + some sequence of actions with a nonzero probability of running into it would be gre

[2021-04-16 18:46] vdonato commented on #3072
Whoops accidentally misclicked and reopened :sweat_smile: , closing again.

[2021-04-16 18:46] #3072 closed, assigned to nobody

[2021-04-16 19:09] rafisics commented on #3115
@bh-streamlit is it solved/fixed? I've just tried without `<div>` tag. But the same problem still appears to me!

[2021-04-16 19:45] vdonato commented on #3115
Hi @rafisics, the fix is merged but won't appear until 0.81 is released (there don't seem to be enough people running into this to warrant releasing a patch).

While you wait for the fix to be included in 0.81, another alternative to your workaround would be to try the `streamlit-nightly` package, which will include the fix when version `0.80.1.dev20210416` gets auto-built in ~12 hours

[2021-04-16 20:09] rafisics commented on #3115
Actually, I have deployed a program with this issue in Streamlit Share. So, even if I put `streamlit>=0.80.0`  in `requirements.txt` file, it won't have an effect till 0.81 releases, right?

[2021-04-16 21:54] vdonato commented on #3115
Yep, that's correct. the fix won't appear until 0.81 is out even with that set in your requirements file (and you may have to restart your app after the release so that it applies).

[2021-04-17 03:01] raunakdoesdev commented on #2689
This is still happening for me, any updates?

[2021-04-17 03:34] rafisics commented on #3115
Ok, thank you.

[2021-04-17 03:58] vdonato commented on #3080
Hi @hyerrakalva, wanted to give you an update on this (sorry for the delay!). I ran this by our product team, and our gut feeling is that we'll probably want to have password fields be configurable so a developer can specify whether the password is a new or existing one. Ideally, we'd want the default to be that it's treated as an existing password since that's certainly the more common use case,

[2021-04-17 04:03] vdonato commented on #3092
Hi @dbalabka, wanted to give you a quick update on this. We think this is something that we do want to do, but given there are a good number of cases to consider here (we may need to support labels for dataframes with single, multiple, and hierarchical indexes), we'll want to spec out this behavior carefully first.

It's hard to give an estimate for when we'll be able to work on this as it current

[2021-04-17 04:53] unserh commented on #3082
Hey @vdonato, I went through and created the `proto.ts` file like you described - as far as I can tell, there's no way to unpack and export everything in one go from the import, so I wrote up something like this:
[code]
After that I went through and replaced all the `src/autogren/proto` imports with `src/proto` which fixed the issues for most of the files. However, there are still a few imports th

[2021-04-17 13:07] Franky1 commented on #3058
I can confirm that **Rerun** does _not_ work out of the box on Windows 10 if you run streamlit in a **Docker** container.
I assume that the file watcher does not work.
I added a config file in `.streamlit/config.toml` and added the following line:

[code]

After this change to `poll` mode, the "Rerun" also worked when running Streamlit in a Docker container on Windows 10.

[2021-04-17 16:27] jonimatix commented on #455
Watching as well

[2021-04-17 19:15] benlindsay commented on #233
So I finally got around to trying the markdown + bootstrap + query parameters hack that was in my head and it sorta works. You'll lose all widget values because each tab link would refresh the whole page I think, so if you want to preserve variables you'd probably have to have all of them stored as a query parameter instead of just the tab values. Here's code that works for me on streamlit==0.80.0

[2021-04-18 21:43] mgilbir commented on #2606
I'm just hitting this now while trying to get a custom component to serve some binary font files. I'm not sure the fix that was merged is the best solution as it prevents any non-text files from being served as part of a component.

Let me try to explain my reasoning. The merged fix is in `lib/streamlit/components/v1/components.py` within a tornado handler. The function of that handler is to serve

[2021-04-19 02:09] GTWBD opened #3145 "Graph is not showing"
### Summary

Following the get started documentation in "https://docs.streamlit.io/en/stable/getting_started.html#draw-charts-and-maps" the graph is not showing in the browser.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1.

[2021-04-19 03:17] quantoid opened #3146 "Configure specific packages/modules to be watched"
### Problem

Our dashboard has multiple views and loads the module for the selected view dynamically (using `import_module`) to minimise the amount of redundant code imported. The problem is this means Streamlit can't see what's being imported from static analysis of the code, it's decided at run-time, so Streamlit isn't able to re-run on save for those modules.

### Solution

Add to the configura

[2021-04-19 03:26] quantoid commented on #3146
This is especially painful if your data takes a while to load, as you have to quit and rerun Streamlit to pick up the code changes in dynamically loaded modules.

[2021-04-19 03:48] quantoid commented on #3146
Another possible solution here would be to have dynamic views as an actual Streamlit feature, so you can register a package of dashboard views and have Streamlit switch between them, e.g. based on tabs. But that would be more complex to implement and less flexible. Providing the ability to add packages to the watch-list seems the most flexible solution.

[2021-04-19 16:13] datadu-de commented on #455
Guys, if you're building this it would be awesome to be able to "drag" a data point in the chart and have that reflect back in the dataframe.
Would be amazing for simulation purposes

[2021-04-19 16:15] dennysemko commented on #688
I have found myself multiple times over the past year needing this -- I am surprised it is still not implemented!

Something as easy as
*clicks row in st.dataframe or st.table*
and
*receives back the index of the row in the DataFrame*

[2021-04-19 16:15] StefanBrand commented on #3100
How can I speed up the output of the hash chain so that I can debug this easier?

Edit: I had tried in JupyterLab/Hub on a node with few resources. Maybe that's why it didn't "converge". Running locally on my machine, I get an error message soon (this is for `ax.hist`):

[code]

Edit2: Hash chain for `ax.imshow` is actually the same

[2021-04-19 18:39] vdonato commented on #3145
Hi @GTWBD, have you tried updating to the newest version of streamlit? At a glance, I'm not entirely sure what might be going on here, but the version you're using is quite old, so updating would be the easiest thing to try first

[2021-04-19 20:35] tconkling opened #3148 "Form: "submit_on_clear""

[2021-04-19 22:42] vdonato commented on #3058
Thanks for looking into this @Franky1!

I'm guessing you're editing your script source files from an editor running in windows, @Xloka? If that's the case, then I believe this isn't something that we can handle on our end, as the root cause of this is that Docker for Windows doesn't notify containers of files in mounted volumes that are changed from Windows. See [this thread](https://forums.docker

[2021-04-19 22:42] #3058 closed, assigned to nobody

[2021-04-19 23:11] vdonato commented on #3082
Hey @unserh, sorry about this again! Seems like I owe you another apology on this one :disappointed:

You're right that there's no way to unpack and reexport everything. When I suggested this, I was mixing up CommonJS and ES6 style imports/exports since doing something like this is relatively straightforward in CommonJS, but dynamic exports aren't possible in ES6 and thus typescript.

I don't thin

[2021-04-20 03:08] unserh commented on #3082
@vdonato No worries, I'm totally still up for working on this! (unless of course you'd prefer/find it easier to handle it yourself). And yeah manually importing everything didn't seem like an extensible solution.

[2021-04-20 03:30] brendalf commented on #3047
@KierranFalloon you still want to work on this? @vdonato if @KierranFalloon isn't interested anymore, I would like to get this done.

[2021-04-20 03:33] brendalf commented on #29
Is there anyone working on this? I'd be interested in looking into this

[2021-04-20 07:35] So-ham commented on #2409
Facing the same issue. Please help!

[2021-04-20 07:56] HongLouyemeng commented on #2409
from cachetools import cached

[2021-04-20 07:57] HongLouyemeng commented on #2409
from cachetools import cached

[2021-04-20 08:04] StefanBrand commented on #3100
This works, but is awefully slow:

[code]

[2021-04-20 08:14] StefanBrand commented on #3100
This is fast:

[code]

[2021-04-20 12:00] andfanilo commented on #3100
Great!

I wonder what is actually the result of `hash(fig)`, this could be interesting to check. Do you get the same hash when you create 2 different figures with the exact same content? (it should be the case, but...we never know, if matplotlib has some mutable figure counter internally to be able to distinguish between figures).

As long as the Figure hash is the same when the content of ax is t

[2021-04-20 12:09] StefanBrand commented on #3100
I actually have a much more complicated figure with many text labels (a big annotated heatmap/confusion matrix). Therefore the bottleneck actually is rendering. This technique allows to cache the rendered image:

[code]

[2021-04-20 20:34] GTWBD commented on #3145
hello, I had problems updating streamlit in python 3.8.1 so I downgraded to version 3.7.9 and could update streamlit to version 0.80. I still have the same problem, the st.map() is not showing. To be sure I'm running in python 3.7.9 I did the following

[code]

and the output:
[code]

now when I print it in the streamlit app:
[code]
the output says I'm using python 3.8
[code]

I cleared my browser

[2021-04-20 20:34] vdonato commented on #3082
Thanks for being understanding about this despite the bit of a struggle that it's been so far! I've mostly been concerned that this has been a frustrating first issue to attempt to work on. Occasionally running into dead ends a few times is pretty natural, but ideally we'd want to have that pain be limited to maintainers, or at least not accidentally direct new contributors to it

We're discussing

[2021-04-20 20:43] vdonato commented on #3145
Hm, that is a bit strange.

Another thing that I would recommend would be to try to install streamlit in a virtual environment (see [the section in our docs](https://docs.streamlit.io/en/stable/installation.html#set-up-your-virtual-environment) on this) as python dependencies can oftentimes get themselves into a bad state otherwise.

I'm starting to get the sense that this might be some sort of we

[2021-04-20 20:52] vdonato commented on #29
Hey @brendalf, I don't think anyone is currently working on this, but it also seems that we're not entirely sure whether we want to do this. I can surface this to our product team to see if we can get a decision as to whether or not this is something we'd like to add.

[2021-04-20 20:53] vdonato commented on #3047
Whoops, sorry that you didn't get a response @KierranFalloon.

@brendalf this currently isn't being worked on, so if either you or @KierranFalloon would like to pick it up, feel free!

[2021-04-20 20:58] brendalf commented on #29
Sounds great, @vdonato. LMK if you have any updates.

[2021-04-20 21:00] vdonato opened #3156 "Make syntax highlighting look better in code blocks in alert boxes"
This one might be a tough once since it's hard to have any one syntax highlighting theme work with all of the possible colors alert box backgrounds can be (green, blue, yellow, or red).

[2021-04-20 21:50] GTWBD commented on #3145
Update:

I changed browser to firefox version 88.0 and the map() is showing now, however the streamlit app is still saying that I'm using python version 3.8.1

I opened Anaconda navigator, installed streamlit 0.80 and ran a jupyter notebook, copied and pasted the code below:
[code]
Gives me a warning:
[code]
Still I run the console command and copy and paste the line above, and when the app opens

[2021-04-20 23:16] RoryAngus opened #3157 "Sidebar Expander - The widgets do not use the Sidebar method to be nested inside of it"
As outlined by https://discuss.streamlit.io/u/vivekdse in
https://discuss.streamlit.io/t/beta-expander-in-sidebar-requires-other-widgets-not-to-have-st-sidebar/6617
there is confusing behaviour with the way the expander works.

Here is the original text of the issue, which I can confirm is still happening.

The beta_expander looks fantastic in the sidebar. One strange thing is that if widgets insi

[2021-04-20 23:26] brendalf commented on #3157
I'd be interested in looking into this, if it's okay for everyone.

[2021-04-20 23:38] jucor commented on #2873
Hit the same problem here with both chrome and safari on iPadOS, stream lit 0.8.0 behind reverse proxy on nginx with basic auth. Works like a charm on macOS, on Windows, and on android. Seems that iPadOS network stack is the problem — even With chrome.

is there a workaround please? Some of my users use iPads and iPhones.
Thanks for any idea!

[2021-04-20 23:49] kmcgrady commented on #2873
@jucor You might have better luck asking others on [forums](https://discuss.streamlit.io) for opinions. For what it's worth, Chrome on iPadOS uses Apple's rendering engine, so it's not its own browser like Chrome is on macOS. It mimics a lot of Safari's functionality.

[2021-04-21 00:03] jucor commented on #2873
Thanks @kmcgrady , I suspected something like this. Will try my luck on the forum. Do you think iOS will be more amicable if I use https?

[2021-04-21 06:41] bensodenkamp commented on #2673
If this is still an issue, I was thinking I might take a crack at it.

[2021-04-21 07:06] estkae opened #3159 "Scrapy is not installed correctly"
### Summary

After the installation of scrapy in streamliit.io it can not be just. you can not make an "import scrapy" in a Python Module

Error in Steamlit
After them we can not find scrapy
Traceback (most recent call last):
File “gather_details.py”, line 2, in
import [scrapy]
ModuleNotFoundError: No module named ‘scrapy’

Modul gather_details.py
import scrapy
import re
from tld import get_tld
fr

[2021-04-21 07:33] wauchi commented on #2673
You can take a crack at it, I couldn't make the change

[2021-04-21 09:35] schaumb opened #3160 "Print pylint differences"
Currently when pylint fails, it not shows the diffs.

This can be help to not install the whole environment when want to make a modification.

pylint use `black` which has a `--diff` argument. This can be prints the reformat information

[2021-04-21 13:36] randyzwitch commented on #3159
This is a duplicate to the forum:

https://discuss.streamlit.io/t/run-scrapy/12044/9

[2021-04-21 13:36] #3159 closed, assigned to nobody

[2021-04-21 17:32] kmcgrady commented on #2873
I unfortunately don't know for sure @jucor

[2021-04-21 18:23] bensodenkamp commented on #2673
https://github.com/streamlit/streamlit/pull/3162

[2021-04-21 21:03] #3112 closed, assigned to vdonato

[2021-04-21 21:03] #3037 closed, assigned to vdonato

[2021-04-21 22:21] tadzz commented on #751
Hi, I found this same issue with st.table(). Do you know when it will be added?

[2021-04-22 13:33] Theo-HENAFF commented on #1507
Hi, I'm reopening this issue since I have the same problem with streamlit and modin (with ray backend).

I tried this but it did not work.

my error message :
[code]

I had streamlit 0.72.0 at first but tried upgrading to 0.80.0 and the issue is still there. I have modin 0.9.1, ray 1.1.0
If you want I can show my whole conda list but it's quite a big one (despite the env is only for this project)

[2021-04-22 15:50] alibama commented on #2547
having the same issue =
dfChart=df.groupby(df['date'].dt.to_period('Y'))['openAccess'].count().reset_index()
st.write(dfChart)
throws

2021-04-22 15:50:13.362 Uncaught app exception

Traceback (most recent call last):

  File "/home/appuser/venv/lib/python3.7/site-packages/streamlit/script_runner.py", line 337, in _run_script

    exec(code, module.__dict__)

  File "/app/hsl_oa/streamlit_app.py",

[2021-04-22 19:06] Cubba2412 commented on #414
Is there any update on this? I'm currently experiencing the issue when trying to display data from a database with several gigabytes of data

[2021-04-23 01:14] bensodenkamp opened #3170 "test_file_watch errors if watchdog is not installed"
Streamlit degrades to a 'PoolingFileWatcher' and gives a startup message if it is run without watchdog being installed. This is a known inband running mode.

In the test code tests/streamlit/watcher/file_watcher_tests, there is a test: test_watch_file that test the various possible states with regard to watchdog availability and file watching.

If that test file is invoked without having watchdog

[2021-04-23 01:32] #2673 closed, assigned to nobody

[2021-04-23 06:11] asaini commented on #29
@brendalf: We really appreciate your interest in contributing to Streamlit.

**Notifications** in Streamlit are part of our longer term roadmap so I see this work fitting as a feature in that project. However, this is not a highly requested feature and the broader Notifications project is further down in the list of our priorities.

I think that this project involves a decent amount of Product and

[2021-04-23 06:11] #29 closed

[2021-04-23 06:54] vdonato commented on #3157
Hey @brendalf, feel free to take this one!

[2021-04-23 08:58] bensodenkamp commented on #3170
https://github.com/streamlit/streamlit/pull/3172

[2021-04-23 13:44] rckwzrd commented on #637
has there been any progress on this feature?

[2021-04-23 17:41] hyerr1 commented on #3071
Hey @kmcgrady, it seems like setting the `minHeight` attribute of the `StyledWidgetLabel` component allows me to shift down the unlabeled widgets a little bit before it affects the vertical alignment of the labeled widgets as well. Setting a big enough value causes all widgets to shift down, but it also causes similar alignment issues to occur, although this time around the unlabeled widgets are a

[2021-04-23 22:23] hyerr1 commented on #3071
I tried fixing this issue using other CSS properties instead and after playing around with `height` and `verticalAlign` I was able to get the labeled and unlabeled widgets to align perfectly. Here are the two lines I added to `frontend/src/components/widgets/BaseWidget/styled-components.ts` within `StyledWidgetLabel`:

[code]

This fix happens to slightly increase the gap between the label and the

[2021-04-23 22:45] kmcgrady commented on #1803
I believe https://github.com/streamlit/streamlit/pull/1967 fixes the problem. Going to close this, but please reopen it if you find any issues!

[2021-04-23 22:45] #1803 closed, assigned to nthmost

[2021-04-24 07:06] andfanilo commented on #2555
Bumping this one, I just fell on this building [a CSS based button](https://github.com/andfanilo/streamlit-css-button). The method okld gives works well, but the second rerun can make things a bit messy in the app (especially if you put this component multiple times in the app).

I'm wondering if there are other cases where we would like to be able to tell whether a rereun comes from a UI event or

[2021-04-24 17:06] nhridoy opened #3175 "Can not get users public IP when browsing from streamlit share"
I am building an app using streamlit. That app requires users' public IP addresses for further processing. I have used `geocoder` module to get the IP address. And it is working when I run the streamlit app in localhost. This was the code I was using.

[code]

But as soon as I deploy the app in streamlit share it does not work. Instead of working I am getting the below error in the log, and the ap

[2021-04-24 21:25] vdonato commented on #3175
Hi @hridoyboss12!

This isn't an issue with Streamlit sharing. I'm not entirely sure why you end up getting 429 errors from the first service, but what's happening in the second case is that the IP address that you're fetching is the IP address of the machine running the Python script, not the address of the machine running the web browser accessing the streamlit app. This is why you're always get

[2021-04-24 21:25] #3175 closed, assigned to nobody

[2021-04-25 06:12] gowthamkishore3799 commented on #1790
Hi @randyzwitch  @kmcgrady , My use case is, I would be reading a json file which has around 10,000 lines. In that case when I use the same progress bar, when reaching 100th line, streamline shows error. So having the Max_value would be useful in this case.
and we can't expect only 100 lines .. My suggestion would be to convert  the value given in max_value(10,000) into 100 percent and show it in

[2021-04-26 07:09] AnuragSen23 opened #3177 "Runs perfect on localhost, but loads forever when deployed"
### Summary

My Streamlit app runs perfectly on localhost, but when I deploy it using Heroku, it runs forever and the loading never ends. What should I do?

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...' https://g

[2021-04-26 12:46] LeonDpl commented on #2014
Hi,
similar problem here, calling ``.bokeh_chart(...)`` does not affect to the right column (it affects the second chart into the first left column)

Using this code:
_streamlit 0.80.0
pandas 1.2.3
bokeh 2.2.2
chrome 90.0.4430.85 (64 bits)_

[code]

This result in the creation of 2 divs _data-testid='stBlock'_ where is placed in the first one a single div _id="bokeh-chart-1"_ that contains the two

[2021-04-26 17:16] ravinpoudel opened #3179 "RuntimeError: Data of size 85.2MB exceeds write limit of 50.0MB"
Hi I am using using altair chart in streamlit, and got the above error. I saw an example with similar issues for data being solved by saving output to the streamlit static asset directory. Is there a similar example for getting around with RuntimeErrror for altair chart?

[2021-04-26 17:51] jroes commented on #3080
Dropping this reference here in case it's useful: https://developer.apple.com/documentation/security/password_autofill/enabling_password_autofill_on_an_html_input_element

[2021-04-26 18:31] vdonato commented on #3177
Hi @AnuragSen23!

I would recommend asking this question in our [community forums](https://discuss.streamlit.io/), where there are a good number of users who use Heroku to deploy their Streamlit apps. This seems to be more of a deployment-specific issue rather than a bug in Streamlit.

[2021-04-26 18:31] #3177 closed, assigned to nobody

[2021-04-26 18:56] jroes commented on #3080
@asaini @tvst what do folks think about generally having an `options` param for all input widgets that lets you customize css, attributes, etc. This is the pattern [Rails uses](https://api.rubyonrails.org/v5.1.7/classes/ActionView/Helpers/FormHelper.html#method-i-password_field). So essentially for this case, one could do something like:

[code]

I also think we should just default it to being spe

[2021-04-26 20:09] andfanilo commented on #3179
Hey @ravinpoudel, if you don't mind let's discuss this one in the forum ;)

Streamlit: This is being discussed here: https://discuss.streamlit.io/t/runtimeerror-data-of-size-107-9mb-exceeds-write-limit-of-50-0mb/6970/14

NB: I'm pretty sure I saw an issue about [dropping this limitation](https://github.com/streamlit/streamlit/blob/bb4b068be2ff9ef48006ecd840c8c5d0afe3ca55/lib/streamlit/server/serve

[2021-04-27 12:33] dhaitz commented on #233
Apparently there's also a solution with components by @karriebear: https://discuss.streamlit.io/t/tabs-or-nested-tabs-with-st-dataframe/4546/3

[2021-04-27 18:04] Orans94 commented on #3047
Can I take this issue?

[2021-04-27 18:17] KierranFalloon commented on #3047
@brendalf I'm not currently working on this so feel free to give it a shot!

[2021-04-27 18:35] brendalf commented on #3047
Thanks, @KierranFalloon. I will start working on this.

[2021-04-27 19:06] alistar opened #3185 "Impossible to close dataframe enlarged view"
### Summary

I put a dataframe preview wiget in my app (using streamlit.sidebar.selectbox). When I click on the enlarge sign the dataframe view turns into a full page size. I cannot close this view and go back to the app because the resize sign is behind the menu icon and I can only select and open the menu icon.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This

[2021-04-27 21:13] vdonato commented on #2997
I realized that this bug is actually a dupe of #2723 while looking through our issues trying to find why #3185 sounded familiar to me, so I'm going to close this one in favor of #2723 as it was filed first.

[2021-04-27 21:13] #2997 closed, assigned to nobody

[2021-04-27 21:14] vdonato commented on #3185
Thanks for reporting this @alistar! This is a dupe of #2723 (the root-causes are the same, and I'll update that ticket to reflect that there's another place this happens), so I'm going to close it in favor of the older issue.

[2021-04-27 21:14] #3185 closed, assigned to nobody

[2021-04-27 21:19] vdonato commented on #2723
Hi @mwerminski! Sorry that you didn't get a response when you asked about this some time ago. This issue is still up for grabs if you want to give it a try.

Additionally, I closed a few recently-filed bugs that are duplicates of this one. and I have a more precise description of what's going on here. It's actually all widgets that can be expanded to fullscreen that are affected by this bug, but *

[2021-04-28 00:37] tvst commented on #3179
You're right, @andfanilo!

We even have a TODO in our code [over here](https://github.com/streamlit/streamlit/blob/develop/lib/streamlit/server/server_util.py#L27).

[2021-04-28 02:07] kmcgrady commented on #1790
Hi @gowthamkishore3799 ! Thanks for telling us the use case! Wouldn't the following work for you for your use case?

[code]

Perhaps less ideal to calculate the percentage, but doable?

[2021-04-28 02:12] kmcgrady commented on #2555
@andfanilo Good point. Likely session state would be able to provide _a solution_ but it might not be super elegant. A custom component could potentially wrap checking it in session state. It's less ideal and custom components could benefit from a more elegant setup.

[2021-04-28 15:21] moises-catala-sonosuite commented on #1360
This feature would be a great addition!

[2021-04-28 15:54] anujchaudhari80 commented on #2251
Im using streamlit ver. 0.80.0 and python  3.8.0. I'v tried all ways mentioned above. Still while running  all I'm getting "module 'streamlit' has no attribute 'set_page_config'
![a](https://user-images.githubusercontent.com/78192886/116434502-15c18000-a868-11eb-8b02-32a30bd99751.JPG)
"

[2021-04-28 17:59] #2581 closed, assigned to arraydude

[2021-04-28 18:45] retkowski opened #3190 "Parsing error for nested HTML"
### Summary

Nested HTML results in a parsing error (such as two nested ``<span>`` elements). However, a single ``<span>`` works as expected.

### Steps to reproduce

Exemplary snippets:

[code]

[code]

**Expected behavior:**

No parsing error.

**Actual behavior:**

### Debug info

- Streamlit version: 0.80.0, but the same is true for 0.80.1.dev20210426
- Python version: Python 3.8.7
- Using Pip

[2021-04-28 19:11] ysayeed opened #3191 "Streamlit selectboxes do not allow users to completely remove the text"
### Summary

When attempting to search through a selectbox in streamlit that has a value selected, there is no way to remove the entire string.

Example use case: I have a selectbox with hundreds of options. I have option "aaaaa" selected and want to search through to find option "yyyyy", and don't want to scroll through the entire list to pick it out.

### Steps to reproduce

Code snippet:

[code

[2021-04-28 20:54] tvst commented on #3063
Done: https://github.com/streamlit/streamlit/pull/3188

[2021-04-28 20:54] #3063 closed, assigned to nobody

[2021-04-28 20:56] tvst commented on #3070
Wasn't his fixed a while back? @astrojams1

[2021-04-28 21:53] kmcgrady commented on #3100
Thanks for the report and they rather informative discussion! @ischurov Let us know if this helps answer your problem! In the meantime, I'll tie this to our caching epic, which has been our group of issues to improve `st.cache` in the future!

[2021-04-28 22:22] kmcgrady commented on #3108
Thanks for the report! Seems like we should apply https://github.com/streamlit/streamlit/pull/2933 to multiselects as well!

[2021-04-28 22:29] kmcgrady commented on #3122
Hi @ElenaBossolini ! Thanks for the report. I see how this does not work, and it may benefit from some more clarity. We should probably show some warning when in a `with` syntax as that determines the location of an element when you use `st`.

Will tag `docs` on this just so they are aware this might benefit from clarity in the docs.

[2021-04-28 22:33] kmcgrady commented on #3130
Thanks for the report @cceyda ! I believe our solution with our implementation of Session State will help on this. I tagged this issue to the project so that when it's released, we can follow up with a solution!

[2021-04-28 22:48] kmcgrady commented on #3132
Thanks @pohlt for the report! I can repro the issue, but I cannot detect why this must be the case. I have never used pdm. We set the port here which is based on config options. https://github.com/streamlit/streamlit/blob/267bf98d9a8f8d94cf6d3e9f0ea8866233d4836e/lib/streamlit/report.py#L269

So I would imagine pdm is installing in some hidden config or something....Do you have a reference to that

[2021-04-28 22:49] ghost commented on #3108
@kmcgrady That is great to hear! When can we expect the solution to be merged in?

[2021-04-28 22:52] kmcgrady commented on #3133
Thanks for the report @remisphere ! I will mark this request for our product team to monitor and see what other use cases come up and interest in this enhancement.

[2021-04-28 22:54] kmcgrady commented on #3142
Hey @atwahsz Thanks for the report! We will be releasing soon forms, which creates sections widgets that do not trigger changes. There is then a "submit" button that triggers a rerun of the entire script at that time.

It's slightly different from what you ask, we essentially delay rerunning the entire script rather than just rerunning a specific section of code. I wonder if this will address your

[2021-04-28 23:02] kmcgrady commented on #3139
Hey @zyx333ht Thanks for the report! I tried your example and do not see any visible error. I assume you run `streamlit run test_streamlit.py`. It prints out 7 as expected as well. Can you verify on the latest version and perhaps see if there's anything else I should be doing?

[2021-04-28 23:03] kmcgrady commented on #3143
Thanks for the report @tchaton ! Would you mind explaining a little more about how this would work. Currently we generate streamlit apps and deploy them for our current docs. How would you imagine it working for your use case?

[2021-04-28 23:07] kmcgrady commented on #3146
Thanks for your request @quantoid ! I have marked this feature to monitor for the Product team. We'd love to hear more use cases from other individuals looking for specifically viewing modules to reload!

It seems like it's related to either https://github.com/streamlit/streamlit/issues/1606 and/or https://github.com/streamlit/streamlit/issues/1511 is this true?

[2021-04-28 23:10] kmcgrady commented on #3179
Thank you for letting us know! We have a ticket connected to this https://github.com/streamlit/streamlit/issues/414 I recommend giving it a 👍 to prioritize this sooner. This would address the data size limit.

I'm going to close this issue as a duplicate, but it is linked in now.

[2021-04-28 23:10] #3179 closed, assigned to nobody

[2021-04-28 23:15] kmcgrady commented on #3190
Hey @ScientiaEtVeritas Thank you for the report! There's a bug in a markdown library that supposedly has been fixed. We just need to upgrade it to address the problem. Hopefully the upgrade goes smoothly!

[2021-04-28 23:18] kmcgrady commented on #3108
Hey @ginmob I can't guarantee when a solution will be merged in, but I put it in our bugs project to get addressed. Is there a use case that this bug aggravates? I see why it's a bug, but perhaps not as annoying of one.

[2021-04-28 23:20] kmcgrady commented on #3191
Hey @ysayeed ! Thanks for the report. This could definitely be improved on. We can investigate whether it's fixable in the library underneath (BaseWeb).

The workaround is alittle more simpler. Click on the select box and start typing. It will clear the select options and show the relevant ones. No backspace needed!

[2021-04-29 02:00] ghost commented on #3108
Hi @kmcgrady, we use multiselects heavily (because it's awesome!) in all our dashboards and every multiselect dropdown list is long. Using autocomplete feature helps us quickly get to the topics of interests to help filtering and that's how I noticed the bug. We would like people to keep coming back to our dashboards so this search needs to be functional so users can quickly select multiple choice

[2021-04-29 02:11] GitHunter0 commented on #2689
I just tested today and it is still happening for me too

[2021-04-29 08:01] ElenaBossolini commented on #3122
Hi @kmcgrady , thank you for taking a look at the issue.
As I understand from your reply, it is fine by you that we cannot have a `file_uploader` within a `beta_expander` in the `sidebar`. But that is a functionality that in my opinion it would be really nice to have!
I usually use the `sidebar` as the input area, while in the main page I show the results of the simulation.
While my application gr

[2021-04-29 08:09] officiallymarky commented on #1872
Would like to see this as well, been running into this a lot.

[2021-04-29 12:44] t0asty commented on #2108
Nobody working on it yet? Would try fixing it :)

[2021-04-29 13:17] andfanilo commented on #3122
Hey @ElenaBossolini,

What @kmcgrady means with:

is when you write the following:

[code]

any `st` call at the **xxx** level will place Streamlit elements inside the sidebar beta_expander, because you're in the `with st.sidebar.beta_expander` with block.

So when you write:

[code]

you're trying to define a sidebar inside the sidebar beta_expander, which results in a nested sidebar (which is no

[2021-04-29 16:24] BugzTheBunny opened #3194 "date_input crashes if its empty"
### Summary

While building an app and testing it I've noticed that when you use date_input it can crash if you delete everything there manually, it crashes as the time format is not correct, and when you try to try/catch it, there is no real way to overcome it, because if I recreate the widget, it needs a new key.. so you can really wrap it as far as I know.

### Steps to reproduce

Code snippet:

[2021-04-29 17:55] BurritoPancakes commented on #1088
Responding to my own comment. The issue turned out to be that the base64 encoding works well with files under ~2MB, but anything larger and it breaks down and this st.markdown display will show up blank.

[2021-04-29 18:00] tvst opened #3196 "Change websocket ping time to 1s to improve connection resilience?"
### Summary

The websocket connection drops consistently for [this user](https://discuss.streamlit.io/t/frustrated-streamlit-frontend-disconnects-from-apps-with-long-running-processes/11612).

In `sever/server.py`, when we change this:
[code]
...to this:
[code]
...the problem goes away.

**Can we make this the default?**

### Steps to reproduce

We couldn't find a toy scenario to repro this :(

##

[2021-04-29 20:31] vdonato commented on #2108
Hey @t0asty, feel free to give this one a try!

[2021-04-30 02:13] arogozhnikov commented on #2058
would be very helpful to me as there is still plenty of space on the screen, and multiple options are much longer than can fit in the selectbox in sidebar

[2021-04-30 10:04] fredrikw commented on #2461
I have the same problem in a script with two cached functions that both returns a DataFrame. One is caching without problem, the other gives the above error. The one erroring out is more complex but why does the result get hashed in the first place?

[2021-04-30 11:39] hritik5102 opened #3198 "Connection timeout while waiting for model to return the result"
### Summary

Hi guys!

My streamlit app is crashing coz my model takes a long time for execution (approx 5-6 min), and hence is causing the app to shut down.

My Main LGB Model is a combination of 3 models **( BiLSTM, BERT & GPT2)**

Any idea what might be causing this or do you know how should I improve the performance?

I thought of using **asyncio** for this but I don't know it would actually h

[2021-04-30 11:41] hritik5102 commented on #3198
@kmcgrady and @andfanilo sir, can you help me to resolve this issue.

[2021-04-30 12:52] StefanBrand opened #3199 "Misleading default value for "label" on beta_expander"
### Summary

https://github.com/streamlit/streamlit/blob/96f17464a13969ecdfe31043ab8e875718eb0d10/lib/streamlit/elements/layouts.py#L168

Function signature has `label=None`, which implies that I don't have to set `label`. When I let is use the default value, however, an exception is raised:

https://github.com/streamlit/streamlit/blob/96f17464a13969ecdfe31043ab8e875718eb0d10/lib/streamlit/element

[2021-04-30 12:54] StefanBrand commented on #3199
I propose `""` (empty string) as the default value for `label`. If you agree, I can create a PR.

[2021-04-30 13:41] hackenjoe opened #3200 "Zooming option for graphviz plots"
### Problem

Zooming in ```st.graphviz_chart(dot_data)``` is unfortunately not possible. You can only click for fullscreen mode but there is no option for zoom in or zoom out the plot. Thus, large plots are not readable. Is there a workaround?

### Solution

**MVP:** Possibly add some javascript for zoom in the screen.

---

Community voting on feature requests enables the Streamlit team to unders

[2021-04-30 14:02] atwahsz commented on #3142
but can it be delayed in segments ? therefore making it cell like ?

for example

form 1

submit

form 2

submit

where things in form 2 depend on output of form 1 ?

[2021-04-30 15:39] feliperoque commented on #612
any news about this feature?

[2021-05-02 15:00] aahnik commented on #2531
Have you tried dockerizing and using the Heroku container stack ?
More info in Heroku docs

[2021-05-02 21:28] hauselin opened #3201 "snap to top of page after changing to a different page"
Currently, streamlit remembers the scroll position and applies that scroll position to a different page of the app (see gif below). And not sure if this is a bug or feature request.

It feels more natural to always scroll to the top after changing to a different page of the app (e.g., javascript: `window.scrollTo(0, 0)` whenever a page is loaded). Ideally, users should have the option to turn on/o

[2021-05-03 03:55] aahnik opened #3202 "List/table input widget"
## Problem

We need to take some complex data or configuration from the user in a GUI way.

But streamlit **currently allows** the following types of input:
- text
- text area
- number
- slider (number)
- slider selection (str)
- checkbox (bool)
- multiselect
- radio

(am I missing something ?)

-----------

- Streamlit does not have a **list input**. Something where users can click a small `+` ic

[2021-05-03 05:45] ElenaBossolini commented on #3122
Hi @andfanilo, thanks a lot for the explanation!

[2021-05-03 05:45] #3122 closed, assigned to nobody

[2021-05-03 15:54] iharshulhan commented on #2820
@kmcgrady Hi, I was able to reproduce the issue. It seems, that _request_rerun()_ in _SessionState_ is increasing the probability of the duplication. I've attached the code and a screencast with the issue in a zip archive.

[code]

[streamlit_duplication_issue.zip](https://github.com/streamlit/streamlit/files/6415953/streamlit_duplication_issue.zip)

[2021-05-03 16:00] gennaro-tedesco commented on #1192
Has this been looked at? I am observing the same problem and it is unclear what exactly https://github.com/streamlit/streamlit/issues/578 does in this regard (perhaps the author may expand on the comment?).

[2021-05-03 17:13] active-ugly-jumpers commented on #2689
The error is still happening as of today. Interestingly, it works for the library version 0.74.0, but breaks starting from 0.76.0.

[2021-05-03 19:57] mzeidhassan commented on #612
Not sure if there is a way to monetize Streamlit apps at the moment. Can we add AdSense code to Steamlit Apps? This would be awesome.

[2021-05-04 03:09] #3170 closed, assigned to nobody

[2021-05-04 03:28] smalbec opened #3206 "Siderbar slider cant handle more than 8 digit inputs"
### Summary

If you try to have a slider that has more than 8 digits, it will freeze the website and never load the input

### Steps to reproduce

I run the code with

```"C:\MyActualPath\code\webapp.py"```

Code snippet:

```slider = st.sidebar.slider('AidAmount_mean', 0, 123456789, 5)```

**Expected behavior:**

Should load just fine as it supports doubles and ints

**Actual behavior:**

Every t

[2021-05-04 05:50] FHU-yezi opened #3207 "Can the App on Streamlit Share connect to the network?"
If the answer is yes, how fast is the network connection is?

[2021-05-04 05:51] prshanttyagi97 opened #3208 "Can you please club New Delhi and Delhi into one as people are facing problems in differentiating.?"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

Is your feature request related to a problem? Please describe the problem here. Ex. I'm always frustrated when [...]

### Solution

**MVP:** What's the smallest possible solution that would get 80% of the prob

[2021-05-04 06:21] FHU-yezi commented on #1370
My App's user isn't developer so they can not install python enviroment on computer. I want to find out a way which can build an .exe file. So that I can send this file to my user, and they can run my app with just one-cilck.

I don't care which the app use browner or not. If the file size can be smaller, that will be a perfect way to use Streamlit.

(My first language isn't English, so if you fou

[2021-05-04 07:18] rsudarson opened #3210 "Add support for Card component"
Please add support to render a single stat value in a component.
![image](https://user-images.githubusercontent.com/10207067/116971283-f480e980-acd6-11eb-9288-ad2ff3a1ad41.png)

[2021-05-04 09:18] Maham86 opened #3211 "Unable to connect to port 8501, shows connection timed out"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2021-05-04 11:46] FHU-yezi commented on #3211
Try change a port? There are some ways to solve this problem in the document.

[2021-05-04 13:48] ushinghal19 commented on #3052
Hi, has there been any update on this feature? I am looking for something similar.

[2021-05-04 15:43] jroes commented on #3208
Hi @prshanttyagi97,

Thanks for sharing your question! Unfortunately we can't always dig deep and troubleshoot challenges like this on GitHub. We typically use GitHub for feature requests and bug reports. And in this particular case, it looks like you might have a question about someone's application that is built using Streamlit. If that's the case, you'll need to find the app creator to get help

[2021-05-04 15:43] #3208 closed, assigned to nobody

[2021-05-04 16:02] jroes commented on #3210
Thank you for sharing this idea! We 100% agree this is something we should do, and in fact, we've already got it on our [roadmap](https://github.com/streamlit/streamlit/wiki/Roadmap). :)

We'll close this issue for now, and we'll link this to our launch checklist to ensure we let you know when this lands!

[2021-05-04 16:02] #3210 closed, assigned to nobody

[2021-05-04 16:04] jroes commented on #3207
Hi there, thanks for sharing your question! Unfortunately we can't always dig deep and troubleshoot challenges like this on GitHub. We typically use GitHub for feature requests and bug reports.

As a short answer for you -- yes, a Streamlit Sharing app can connect to network services. We don't have any particular network speed guarantees at this time.

For troubleshooting help, you can visit our a

[2021-05-04 16:04] #3207 closed, assigned to nobody

[2021-05-04 16:05] jroes commented on #3211
Hi there, thanks for sharing your question! Unfortunately we can't always dig deep and troubleshoot challenges like this on GitHub. We typically use GitHub for feature requests and bug reports.

For troubleshooting help, you can visit our awesome [community forums](https://discuss.streamlit.io/), where thousands of other Streamlit hackers help each other and talk about the amazing things they are

[2021-05-04 16:05] #3211 closed, assigned to nobody

[2021-05-04 17:14] randyzwitch commented on #3206
This isn't a bug, let's continue the discussion at the community forum:

https://discuss.streamlit.io/t/siderbar-slider-cant-handle-more-than-8-digit-inputs-3206/12527/2

Best,
Randy

[2021-05-04 17:14] #3206 closed, assigned to nobody

[2021-05-04 19:11] akshanshkmr commented on #983
Hi,
Any update on this feature?

[2021-05-04 19:15] vdonato commented on #2587
Closing this as an issue with similar scope is being filed in the internal issue tracker

[2021-05-04 19:15] #2587 closed, assigned to nobody

[2021-05-04 21:28] #2867 closed, assigned to kajarenc

[2021-05-04 22:09] davidefiocco commented on #439
For those who land here, check out https://github.com/ml-tooling/opyrator also, again as a possible alternative to a yet-to-come pure-streamlit solution. It should cover some use cases.

[2021-05-04 23:31] FHU-yezi commented on #3202
That is really a good idea! It will make the speed of develop an App faster, because it provided some methods that used widely in it. That is the value of Streamlit.

By the way, it is easily to make the method come true. Just create a "widget" with some methods which Streamlit had yet. The only problem of it is change the style of buttons.

[2021-05-05 03:44] francofgp commented on #2689
I have the same problem with my app: [Here](https://share.streamlit.io/francofgp/machine-learning-cyrillic-classifier/app.py)

In my PC (localhost) works fine, but not in streamlit share.

Update: I just deployed the same app, but on Heroku and works just fine :) [Heroku App](https://cyrillic-classifier.herokuapp.com/)

So I think the issues has something to do with the streamlit share platform, a

[2021-05-05 06:26] jhermann opened #3217 "5 LGTM error reports on 2021-05-05"
### Summary

At least some of these (right now) 5 error reports look legit, but you be the judge with your knowledge of the code...

https://lgtm.com/projects/g/streamlit/streamlit/?mode=list&severity=error

### Steps to reproduce

Click on the above URL and check code reports.

### Additional information

https://lgtm.com/projects/g/streamlit/streamlit/

[2021-05-05 07:23] vdonato commented on #3138
Hey @iiLaurens!

I had some time to look into this, and unfortunately I seem to be unable to reproduce the issue on 2 of my machines (which are both similarly running Ubuntu 20.04). Did you happen to be able to figure out what's going on? If not, any additional information that may be useful for debugging would be greatly appreciated!

[2021-05-05 08:22] gabrielecalvo commented on #2389
Hi all,
Not sure it is a AWS issue alone, I get a very similar issue on Azure and so does [this other person](https://stackoverflow.com/questions/66106720/streamlit-azure-deployment-please-wait-screen-error).
In fairness, I even tried going back to using `streamlit==0.61 tornado==5.1.1` [source](https://github.com/MarcSkovMadsen/awesome-streamlit/blob/master/requirements_base.txt) which does not s

[2021-05-05 11:11] luke321321 opened #3218 "Rerunning and pydantic validators"
### Summary

Streamlit's rerun mechanism causes exceptions with pydantic validators.

### Steps to reproduce

Code snippet:

[code]
(pydantic code is simplified example from the [docs](https://pydantic-docs.helpmanual.io/usage/validators/)

1. Run streamlit app and it works as expected
![Screenshot 2021-05-05 at 11 57 08](https://user-images.githubusercontent.com/1042275/117131833-e34ce100-ad99-11

[2021-05-05 15:52] shalendrasingh opened #3219 "Unable to fetch data currently, please try after sometime"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Unable to fetch data currently, please try after sometime

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on

[2021-05-05 16:03] asaini opened #3220 "Alignment of widgets in a row if they are of different types is broken"
### Summary

When widgets of different types are placed in columns within a row, their vertical alignment gets broken. (See example below). Users report that this was working previously but was recently broken in v0.81

### Steps to reproduce

[code]

**Expected behavior:**

Widgets should be aligned at the same level vertically

**Actual behavior:**

<img width="792" alt="Screen Shot 2021-05-05 a

[2021-05-05 18:10] AngelCarballoCremades commented on #2399
Hi!

I'm interested in this issue, any updates so far?

As well as knowing the expanded state, it would be usefull to alter the expanded state too (I want to colapse an expander when something happens).

[2021-05-05 18:29] tkupek opened #3221 "Crash with ONNXRuntimeError and onnx import"
### Summary

Streamlit crashes when an `ONNXRuntimeError` is thrown by the `onnxruntime` package and the `onnx` package is imported. Please see the snippet below. When running without streamlit, the exception is printed in `stderr`, however, streamlit crashes without an exception when executing this code.

### Steps to reproduce

Code snippet:

[code]

Works with different ONNX models, I took an e

[2021-05-05 19:04] vdonato commented on #3219
Hi @shalendrasingh, this doesn't seem to be a bug in Streamlit (I'm unable to find that error message in our source code). I think this may be an error in an app built using Streamlit, in which case the correct place to report the problem would be to the authors of the app.

[2021-05-05 19:04] #3219 closed, assigned to nobody

[2021-05-05 23:43] #2682 closed, assigned to vdonato

[2021-05-06 05:08] kousikan commented on #2389
This was a firewall issue. Websocket protocol traffic should be allowed to & from the streamlit app under appgroups. Our networking team was able to resolve this.

[2021-05-06 06:00] tester2021test opened #3222 "Api down"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2021-05-06 06:53] vdonato commented on #3222
Hi @sodiumchloride2020, could you provide a bit more info about what's going on here? It's unlikely that we'll be able to provide any assistance with the information currently provided

[2021-05-06 09:31] #3222 closed, assigned to nobody

[2021-05-06 10:35] #3138 closed, assigned to vdonato

[2021-05-06 12:16] snehankekre opened #3223 "Bad message format: `setIn` cannot be called on an ElementNode"
### Summary

Running the below app and clicking on a button to delete entries as shown in the gif causes the following browser alert to be displayed: *Bad message format: 'setIn' cannot be called on an ElementNode*

### Steps to reproduce
Run the app and delete an entry in the sidebar, as shown in the below gif.

`$ streamlit run https://gist.githubusercontent.com/mihirsamdarshi/4650e8041954e3fb5e

[2021-05-06 14:09] HandsomeYang1 opened #3224 "I can not use New app button to share my streamlit apps"
I can not use New app button to share my streamlit apps，When I log in to the website, there is no button for the new app.

[2021-05-06 18:37] tvst commented on #2975
AFAICT this is working as expected.

When you ctrl-c out of Streamlit (and at some other points, like when you click "stop" in the UI) we need to kill running thread(s), but Python doesn't actually have a way to kill threads.

So what we do is:
1. Set a boolean when we want to kill a thread
2. Before every st.foo command, we check if the thread running that command has the boolean set to True
3. I

[2021-05-06 18:51] tvst commented on #3003
This is probably because Streamlit binds to a specific server address, for security purposes. (This was done in this [PR](https://github.com/streamlit/streamlit/pull/1107).)

Can you try setting the `server.address` config option to point to your desired address?

[2021-05-06 19:30] dbalabka commented on #2870
@melnimr I've faced the same problem.  `gc.collect()` won't help because global variables will always have a reference from the global scope. You have to explicitly remove references to variables created in the context of the script. I've added the following few lines to the end of the file:
[code]

There is still resides some leakage in my case, but I think it has a different nature. Probably, it

[2021-05-06 19:30] dbalabka commented on #2870
@kmcgrady I suspect that problem sits somewhere here:
https://github.com/streamlit/streamlit/blob/7bcb43e7376c7832bbba7cee6aa4b670a3e0c89b/lib/streamlit/script_runner.py#L328
It leaks a reference to the dictionary with global variables of the script.

[2021-05-06 19:33] dbalabka commented on #3099
@AnOctopus your problem might be related to #2870

[2021-05-06 21:23] AnOctopus opened #3227 "Create SessionState class"
Create SessionState class, stored in the ReportSession, with basic storage functionality and use by script runner

[2021-05-07 01:48] stoday opened #3229 "Different outcomes between one and two nested IF st.button('label')"
### Summary
if st.button is under one statement `if st.button(.)`, the outcome is working perfectly. But if `st.button` under one more statements `if st.button(.)`, the web will be refresh and nothing to show.

### Steps to reproduce
Code snippet:

[code]

Expected:
Show success message "first layer ok", "second layer" and "third layer" sequentially by press buttons "first button", "second button"

[2021-05-07 01:53] vdonato commented on #3229
Hi @stoday,

This is working as intended. Please see [this comment](https://github.com/streamlit/streamlit/issues/2995#issuecomment-803458035) on an issue asking a similar question for an explanation of why this behavior happens.

We're currently working on the official implementation of session state that will make use cases like easier to write, so stay tuned!

[2021-05-07 01:53] #3229 closed, assigned to nobody

[2021-05-07 02:54] vdonato commented on #3082
Hey @unserh, sorry about the long delay in following up on this -- we took a bit of time to discuss this internally to be sure that there weren't any other possible solutions that would be preferable to doing things the hard way with changing lots of imports and adding lines to destructure the wrapping object.

We've finally come to the conclusion that doing so seems to be the best approach, so if

[2021-05-07 03:04] stoday commented on #3229
The below code works perfectly. Thank you very much!

[code]

[2021-05-07 08:00] robertmartin8 opened #3230 "Unrecognized RootContainer in deltaPath"
### Summary

I've put my app into production at [https://binancepremiums.com](https://binancepremiums.com)

It seems that every few hours, the app stops working and only shows a Streamlit error

```Unrecognized RootContainer in deltaPath```

<img width="778" alt="Screenshot 2021-05-07 at 13 29 50" src="https://user-images.githubusercontent.com/11792905/117463514-ac1c3280-af47-11eb-8e91-e40caf38407

[2021-05-07 09:51] corticalstack commented on #371
Just following up if this feature is on a roadmap?

[2021-05-07 14:05] dbalabka commented on #2870
There is already a PR that should fix the problem:
https://github.com/streamlit/streamlit/pull/3192

[2021-05-07 16:17] melnimr commented on #2870
@dbalabka Ok cool will check it out.

[2021-05-07 16:47] gagan3012 opened #3232 "Multiple streamlit apps share same theme"
### Problem

When we have multiple streamlit apps in one project the .streamlit config file applies the same theme to all of the files. And any change in the config file changes all the streamlit apps in the project

### Solution

**MVP:** can we define in the set_page_config function which config file is to be used for which app.

**Possible additions:** What are other things that could be added

[2021-05-07 18:50] gagan3012 commented on #3202
Hi,
Streamlit does have a way to add lists its called streamlit-tags Check it out here:
https://github.com/gagan3012/streamlit-tags

[2021-05-07 19:35] aahnik commented on #3202
Hi @gagan3012 , what you have built is really great. But I am not looking for tags.

I am looking for list, with the ui as described in the issue description.

The main problem is I don't know any frontend. Otherwise I would have attempted to build something.

[2021-05-07 19:44] gagan3012 commented on #3202
The streamlit tags outputs a list and it also does have a min/max limit of elements from your description above I think it can solve your problem Also you can create an issue for enhancements in my repo and I will try to incorporate it Thanks

[2021-05-07 19:51] aahnik commented on #3202
The objects in the list is only strings.

What if I want another datatype(customly complex) to be in the list ?

I may sound vague and foolish. But I will soon create a discussion on streamlit community forum, about the usecase that streamlit can cater to in future.

[2021-05-07 19:53] aahnik commented on #3202
If you are talking about, this line, then your project is great. But this is just a part of the larger picture, I am trying to cover.

Yes 🥰 your project is just wonderful for list of text or integers.

[2021-05-07 19:56] gagan3012 commented on #3202
I see your point. It would be really interesting to see the UI for complex data input.

[2021-05-07 21:36] unserh commented on #3082
@vdonato no worries at all, I'm definitely still up for it!

[2021-05-08 02:47] evan-wes opened #3236 "Graphviz with HTML label IMG tag comes up blank"
### Summary

A simple example of a graphviz chart using an html label won't display an img tag. An example image is used: https://screenshotlayer.com/images/assets/placeholder.png

### Steps to reproduce

Code snippet:

Method 1 (using a local image file downloaded from above url):
[code]
Nothing appears and no graph is rendered.

Method 2 (using online image):
[code]
Again, nothing appears and no

[2021-05-08 09:37] maciejba commented on #678
This is still a problem unfortunately.
Any idea when this will be a part of a release?

[2021-05-08 17:45] maciejba opened #3239 "Text input with value sometimes reverts input"
### Summary

This is an exact duplicate of past issues #678 and #2765 - it's still a problem unfortunately.
Affects both text_input and number_input from what I've seen so far.

### Debug info

- Streamlit version: 0.81.0
- Python version: 3.8.5

### Additional information

Looking at the fix in #678, my utils.py looks completely differently. Was the code moved somewhere else, or perhaps the fix n

[2021-05-08 20:04] frankhuurman opened #3240 "st.title with just an emoji acts strange on mobile"
### Summary

Using st.title with only an emoji without further text makes the layout behave strangely on mobile.
The X to close the sidebar completely disappears and if you have a st.selectbox for example it will be pushed too close towards the unfolding arrow > of the sidebar.
Adding text as well will result in normal behaviour.

### Steps to reproduce

Code snippet:

[code]

If applicable, pleas

[2021-05-09 15:38] AdonaiVera opened #3242 "When I create the image docker and try it to run localy I recive "Streamlit requires raw Python (.py) files, but the provided file has no extension.\nFor more information, please see https://docs.streamlit.io""
### Summary
I built the images docker and when I try to run locally I receive the next error  "Streamlit requires raw Python (.py) files, but the provided file has no extension.\nFor more information, please see https://docs.streamlit.io"

### Steps to reproduce
Build images and run
[code]

### Packages
I used config.toml and credentials.toml as Mark recommend it
https://github.com/MarcSkovMadsen/

[2021-05-09 17:17] ganeshprabhum commented on #2107
![image](https://user-images.githubusercontent.com/40699863/117581030-55198780-b118-11eb-97f2-047952eed31d.png)
I am trying to install and run the streamlit on a Raspberry pi. While running the sample app file and i am getting the following error , any pointers to solve this will be helpful

[2021-05-09 22:15] #2094 closed, assigned to karriebear

[2021-05-09 22:15] kmcgrady commented on #2094
This is no longer needed due to the latest refactor.

[2021-05-10 07:44] bocangr opened #3243 "Bad 'setIn' index 11 (should be between [0, 1])"
.

[2021-05-10 08:51] quantoid commented on #3146
I think this is a distinct issue from those other two because this is about _dynamic_ import of modules, where the name of the module is only known at run-time. I reckon the only way Streamlit could detect changes for dynamically imported modules would be to explicitly configure the package containing them.

[2021-05-10 09:34] quantoid commented on #2751
I have this problem too. I'm using vconcat to share the legend across multiple charts, but doing so prevents the charts from filling the container width.

[2021-05-10 13:27] ddkn opened #3244 "Include js viewer built from webpack into streamlit-component"
### Summary

Hello,

I am trying to implement a streamlit component with a viewer already prebuilt seemingly from `webpack` more specifically [glvis-js](https://github.com/GLVis/glvis-js) for viewing 3d meshes for finite element analysis done with [mfem](https://github.com/mfem/PyMFEM). I am by no means a coder in javascript or react, but just trying to include a viewer to streamlit.

Is there a w

[2021-05-10 13:30] randyzwitch commented on #2479
This is now part of our documentation at the following link:

https://docs.streamlit.io/en/stable/deploy_streamlit_app.html#python-dependencies

[2021-05-10 13:30] #2479 closed, assigned to rajpratyush

[2021-05-10 13:41] jeffreyssimon commented on #1294
I was having this same issue when deploying to GCP App Engine and was able to solve it with help from the @kmcgrady post above (thank you!). The key is multiple instances. If you use the default configs on App Engine you are going to have multiple instances (VMs) underlying your application and this is going to cause 404s to from the HTTP image fetch outside the websocket. When I force the instanc

[2021-05-10 15:25] kmcgrady commented on #3108
Thanks for the use case @ginmob ! We will look into it and hopefully get a solution soon. I still cannot make guarantees on a release date, but noted the use case to prioritize this issue.

[2021-05-10 15:41] andfanilo commented on #3244
Hello @ddkn,

Since this is more of a Streamlit usage question, you will get a bit more answers on the [forum](https://discuss.streamlit.io/), especially if it's about creating new components/visualizers in Streamlit, we're always on the lookout for those!

Now regarding your question (we can go into detail on the forum ;) ), I haven't tested this is still intuition but if you're trying the

[code

[2021-05-10 15:45] ddkn commented on #3244
Hi Fanilo,

Thanks for getting back to me! I did post on the forums [here](https://discuss.streamlit.io/t/include-javascript-file-in-streamlit-component-for-htmt-render/12754) but I wasn't as descriptive. We can close this and I will update my post accordingly.

Cheers,

[2021-05-10 15:45] #3244 closed, assigned to nobody

[2021-05-10 15:48] andfanilo commented on #3244
Ah yeah sorry for missing this, the forum is getting really crowded these days, I will try on my side and let you know if I find anything!

[2021-05-10 16:24] randyzwitch commented on #1841
Closing, as this will be handled via docs re-do project

[2021-05-10 16:24] #1841 closed, assigned to randyzwitch

[2021-05-10 16:25] randyzwitch commented on #1692
Closing, as this will be handled via docs re-do project

[2021-05-10 16:25] #1692 closed, assigned to nobody

[2021-05-10 16:26] randyzwitch commented on #1487
Closing, as this will be handled via docs re-do project

[2021-05-10 16:26] #1487 closed, assigned to nobody

[2021-05-10 16:57] kantuni opened #3245 "Unit tests for Quiver.ts"

[2021-05-10 16:57] kantuni opened #3246 "Unit tests for arrowProto.ts"

[2021-05-10 17:14] inspectorG4dget commented on #3223
I faced the same issue while showing a PyDeck map in a pre-allocated space. I was able to circumvent the issue by not using `with`:

Issue was observed with this code:
[code]

Issue was circumvented with this code:
[code]

[2021-05-10 19:23] #3099 closed, assigned to AnOctopus

[2021-05-10 19:23] #17 closed

[2021-05-10 23:08] mihirsamdarshi commented on #3223
Thanks so much for opening this issue @snehankekre

[2021-05-10 23:09] kmcgrady commented on #678
Ah. Going to reopen this issue to reflect this wasn't fixed.

We do have a solution for this where we implement a concept of Session State. I can't guarantee a release date, but it is on the horizon. We will circle back to this when we release it.

[2021-05-10 23:11] kmcgrady commented on #3239
Hi @maciejba ! Thank you for the issue! I reopened the previous issue and noted that we have a solution in the works! Hopefully it will come out soon, but I cannot give an exact date. We will circle back to the issue when we implemented the fix.

I'm going to close this issue in the meantime as a duplicate of the reopened issue.

[2021-05-10 23:11] #3239 closed, assigned to nobody

[2021-05-10 23:23] kmcgrady commented on #3220
Might be relevant to https://github.com/streamlit/streamlit/pull/3176 PR

[2021-05-11 02:31] maciejba commented on #678
I guess no workaround available in the meantime @kmcgrady ? Or perhaps some dev branch code that I could try to use? Curious what happened to the previous fix.

[2021-05-11 06:08] elbakramer commented on #2723
Here is what I've found:
The overlapping problem disappears when header's z-index is lower than sidebar's z-index.

The menu button belongs to the header element, while the exit-fullscreen button belongs to the sidebar element when the original widget is placed inside the sidebar.
If we check the code below, the header's z-index is 1000020, which is larger than the sidebar's z-index 100.
This make

[2021-05-11 14:11] rahmannn opened #3249 "App unavailable on VPN and the index stuck at ..connecting and ..please wait."
### Summary

App unavailable on VPN and the index stuck at ..connecting and ..please wait.

### Steps to reproduce

<html>
<body>

  | <!doctype html><html lang="en"><head><meta charset="UTF-8"/><meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"/><link rel="shortcut icon" href="./favicon.png"/><title>Streamlit</title><script src="./vendor/viz/viz-1.8.0.min.js" type

[2021-05-11 15:24] jroes commented on #3249
Hi @rahmannn,

Thanks for sharing your question! Unfortunately we can't always dig deep and troubleshoot challenges like this on GitHub. We typically use GitHub for feature requests and bug reports. And in this particular case, it looks like you might have a question about someone's application that is built using Streamlit. If that's the case, you'll need to find the app creator to get help.

For

[2021-05-11 15:24] #3249 closed, assigned to nobody

[2021-05-11 16:45] theholy7 commented on #1346
I want to +1 this.

I have found that `datetime` objects in my dataframe were converted from UTC to BST when using `st.write`.

Is this the expected behaviour? My streamlit server was running locally, and my laptop set to BST.

I wonder if the error is here: https://github.com/streamlit/streamlit/blob/cc277e28f4fcb59e51270c9adadefc1e0de15cfe/lib/streamlit/elements/data_frame.py#L410

I am not fami

[2021-05-11 17:29] mcskinner commented on #1872
I would also like to see this. Seems like an obvious missing feature for a large number of use cases.

[2021-05-11 19:35] frankhuurman commented on #861
I'm so in need of a solution like this to not have the user enter credentials each time after a refresh. Would love it!
The sessionstate object can only do so much between radio button pages but keeping state after a refresh isn't one of them :)

[2021-05-11 19:44] frankhuurman commented on #3202
I've made a hacky solution by generating text inputs in a form in a for loop linked to a number input.
It kind of works for my use case but it's not pretty or super practical. I actually expected streamlit to have some kind of list input(besides multiselect) since a to-do list app is such a common starter project :)
So +1 for this one from me!

[2021-05-11 21:31] #2731 closed, assigned to kajarenc

[2021-05-11 22:37] mcskinner commented on #983
Related to #1872

An update would be appreciated. This feature has been requested many times for at least a year.

[2021-05-12 03:10] kmcgrady commented on #678
That is correct sadly @maciejba! One of the challenges is connecting a line of code in the script to the UI element. When the script changes, we need to update the UI and reconnect the LOC with the element. Currently, we do this by hashing the parameters, which works, but if the parameters change (as in the example) it effectively generates a "new" element. Certainly in cases above, we have found

[2021-05-12 04:27] maciejba commented on #678
Thanks for the info @kmcgrady ! Looking forward to session state in that case, hopefully it comes in a not too distant future. :)

[2021-05-12 08:12] iharshulhan commented on #2820
@kmcgrady Hi, sorry for poking you. Is it possible to get an update on this and change the labels (it is no longer waiting for user response)?

[2021-05-12 09:42] keving119 commented on #700
Hi,
While this issue is old and should be solved with the mentioned PR, I still experience this issue when using concatenated altair charts.
I use the following command to show two grapsh:
`st.altair_chart(chart & base)`
without any other width properties on the graphs, but it uses the same width as in the screenshot above. Of course, I could set a width manually, but I want the graphs to be respo

[2021-05-12 09:45] keving119 commented on #2751
I also experience this issue. Just commented on #700 as I only noticed this open issue just now :)

[2021-05-12 14:07] jahaniam opened #3255 "st.form refreshes with widget interaction"
There shouldn’t be any difference between these two!
Both are wrapped in a form, however, interacting with the checkbox in the first one will result in refreshing the page! Any insights?
[code]
and

[code]

discussion link https://discuss.streamlit.io/t/forms-form-submit-button-in-sidebar/12850

[2021-05-12 16:36] KevinAQM commented on #1856
@anlinguist, how can I add my path correctly to dockerfile?

C:\Users\KevinAQM\anaconda3\Lib\site-packages\streamlit\static\static\js

I'm getting an "error" when I'm deploying my app to the GCP APP Engine. Error I get occurs on dockerfile, exactly on that codeline: RUN sed -i ........

Thanks to all.

[2021-05-12 17:52] Lastiritas opened #3257 "Large text inside `beta_container` does not display"
### Summary

When using the new layout function `beta_container` and a long title the text correctly overflows to the next line however it cuts out from showing.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

A title that auto adjusts within the `beta_container`
<img width="700" alt="12-45-v4sgh-c18w1" src="https://user-images.githubusercontent.com/4621835/118020714-4517c8

[2021-05-12 18:16] jvoros opened #3258 "Altair Chart Action Menu Configuration Has No Effect"
### Summary

Using the Altair renderer configuration for the action menu on charts has no effect on what is rendered in streamlit.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

The actions menu should not display.

**Actual behavior:**

The action menu still displays.

<img width="329" alt="action-menu" src="https://user-images.githubusercontent.com/2453798/118019951-d2aa

[2021-05-12 19:18] momo-senpai opened #3259 "Streamlit's compatibility with mplfinance module"
### Problem
I created a python code to grab stock data via yfinance and plot it using mplfinance module. But when I tried to make it run with streamlit i had to switch to plotly because it was not plotting my mpf.plot() function.

### Solution
I am fairly new to coding so don't know what needs to be done. But it would be great if it gets compatible with mplfinance. I have read in the docs that it

[2021-05-12 19:26] franekp commented on #2257
I also have encountered this problem and it prevents my app from starting. Tried the following 4 combinations:
 * `streamlit run --server.fileWatcherType=none my_app.py`
 * `streamlit run --server.fileWatcherType=poll my_app.py`
 * `STREAMLIT_SERVER_FILE_WATCHER_TYPE=none streamlit run my_app.py`
 * `STREAMLIT_SERVER_FILE_WATCHER_TYPE=poll streamlit run my_app.py`

They all give this error:
[code]

[2021-05-12 19:32] asaini opened #3260 "Tooltips with long text renders with scrollbar scrolled to the bottom"
### Summary

This bug was reported by @CharlyWargnier

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

Scrollbar should be scrolled all the way at the top

**Actual behavior:**

https://user-images.githubusercontent.com/1134064/118033129-4d770000-b31d-11eb-845e-ed720747a326.MP4

### Is this a regression?

That is, did this use to work the way you expected in the past?
 no

[2021-05-12 19:38] vdonato commented on #2257
Thanks for bumping this @franekp. Coincidentally, I'm about to merge a PR fixing this (#3235). The fix should be included in 0.83 (which unfortunately isn't the release going out tomorrow), so it should land in a few weeks time.

[2021-05-12 20:02] #2257 closed, assigned to nthmost

[2021-05-12 20:02] #2989 closed, assigned to vdonato

[2021-05-12 20:02] #2990 closed, assigned to vdonato

[2021-05-12 21:05] randyzwitch commented on #3259
Based on this line here, you should be able to unpack the tuple returned and pass the matplotlib object to Streamlit:

https://github.com/matplotlib/mplfinance/blob/master/src/mplfinance/plotting.py#L780

If you having additional issues making this work, please stop by our community forum:

https://discuss.streamlit.io

Best,
Randy

[2021-05-12 21:05] #3259 closed, assigned to nobody

[2021-05-13 04:52] momo-senpai commented on #3259
Thank you so much. I will try it out.

[2021-05-13 09:35] jstammers opened #3262 "st.form fails to render when using stcli.main()"
### Summary

I am unable to correctly render a form when running an app calling the CLI from within a python script

### Steps to reproduce

Code snippet:

[code]

will not render the form when using
[code]
but will render it using
[code]

**Expected behavior:**
The form should render as follows

![image](https://user-images.githubusercontent.com/8074738/118107378-950d9280-b3d6-11eb-8ab6-8bc63c88f

[2021-05-13 10:50] nenetto commented on #2293
Add this to your Dockerfile

[code]

Seems to be a problem with the enableCORS option and the compatibility with enableXsrfProtection. This will configure the streamlit form the `config.toml` file before you launch your app.

[2021-05-13 11:53] dbalabka commented on #3100
https://github.com/streamlit/streamlit/issues/3100#issuecomment-823215942

@andfanilo could you please clarify, what is the reason to calculate the hash for the function's output? It is reasonable to get the hash for input parameters to track the changes and re-calculate the cache, but I don't get the idea to do the same for the function's output.

[2021-05-13 12:19] dbalabka commented on #3100
I have found the answer. The reason is the Strimlit tracks output mutations by default (`allow_output_mutation=False`).

[2021-05-13 13:28] dbalabka opened #3263 "Caching improvements"
### Problem

I'm using Streamlit to build a complicated report which takes about an hour to generate an output. It processes a hundred megabytes of Pandas dataframes. The performance of this report is important to keep UX better. Data processing has also it's own cost.

To show report results during a reasonable amount of time and minimize processing costs I utilize caching approach. Using Streaml

[2021-05-13 15:39] #2977 closed, assigned to kajarenc

[2021-05-13 16:32] akshanshkmr commented on #727
Hi,
Can we get an update on this feature?

[2021-05-13 19:49] tjbergst commented on #1667
Are there any updates on this?

I am also facing the same concat-within-concat issue producing blank charts. This is the javascript console error:
[code]

[2021-05-14 13:55] kush99993s commented on #1716
It seems it started again with the newest streamlit version.

[2021-05-14 14:01] kush99993s opened #3270 "Streamlit behind reverse proxy doesn’t work when you change port"
# Summary
I am trying to run streamlit behind reverse proxy doesn't work when we change port in streamlit.

Type here a clear and concise description of the bug. Aim for 2-3 sentences.
When a port is change streamlit and put behind a reverse proxy, the front end tries to use default port 8501 rather than changed port.

# Steps to reproduce
First, run streamlit

```streamlit hello --server.port=200

[2021-05-14 16:03] tvst commented on #727
This is something we're considering. We have a few other things on the roadmap ahead of this, like multi-page app support, and we also have a few questions about what exactly people are looking for when they ask for this feature. This is important because the design system for a top bar would be fundamentally different from other content areas in Streamlit, which are laid out vertically and use ce

[2021-05-14 22:13] vdonato commented on #3270
Hi @kush99993s,

Strangely, I'm unable to reproduce this behavior on my local machine. Running `streamlit hello --server.port=2000` and examining where the streamlit client on the browser is sending healthcheck requests shows it hitting `http://localhost:2000/healthz` as expected.

Do you happen to have a `config.toml` file setting that's overwriting the `browser.serverPort` option?

[2021-05-14 22:26] vdonato commented on #3202
Thanks for the suggestion @aahnik! We'll keep this in mind as a potential improvement to make going forward.

Feel free to link the discussion you've started in the community forums here if you've already made that post -- the more community interest we have in this, the more likely we'll be to prioritize it on our roadmap!

[2021-05-14 22:35] vdonato commented on #3263
Thanks for the detailed write-up @dbalabka!

It turns out that we're actively thinking about a lot of these things -- we have plans to begin on prototypes of a v2 of `st.cache` in the near future. I'll bring this ticket to the attention of the team members that are working on this so that we can keep these suggestions/use cases in mind.

[2021-05-15 03:09] fiendish opened #3274 "FYI: ad blocker blocking streamlit generated UI elements"
### Summary

At least one widely distributed ad blocker filtering list is stripping streamlit buttons out of web pages.

Note: I don't think this is a bug in streamlit, but it does affect people who use streamlit, and maybe there's something that you can do to prevent it from happening. Either way you should know.
See: https://github.com/yourduskquibbles/webannoyances/issues/301

### Steps to repr

[2021-05-15 03:09] treuille opened #3275 "Vertical scrolling does not work in iOS safari for “tall apps”"
### Summary

On my iPhone 11 Pro, vertical scrolling breaks when I visit the applicant portal app and there’s lots of data. (Probably any app will do.)

### Steps to reproduce

1. Visit the applicant portal app in Safari on an iPhone 11 Pro. (If your a Streamlit employee and not aware of that app, ask @treuille, although I’m guessing this isn’t app-specific.)
2. Type in the password and select “ca

[2021-05-15 03:26] kush99993s commented on #3270
Hello Sir,

I did update streamlit to streamlit-0.82.0. Following result are for that version.

I don't have config.toml in the local folder or home director or .streamlit folder in the home folder.

I have config.yml used for the streamlit dashboard.

Here is a screenshot frm my browser

![Screenshot from 2021-05-15 08-53-35](https://user-images.githubusercontent.com/8145062/118346724-12faa680-b5

[2021-05-15 04:01] kush99993s commented on #3270
I have made updated to the newest version streamlit-0.82.0. Everything is working fine without reverse proxy even with change port.
I am using conda environment.

The below image is a screenshot from my browser

![Screenshot from 2021-05-15 09-11-20](https://user-images.githubusercontent.com/8145062/118347019-94ebcf00-b55d-11eb-9595-9b540d5a5df8.png)

I am rurnning following command
```streamlit r

[2021-05-15 04:29] aahnik commented on #3202
Hi @vdonato, the community post is https://discuss.streamlit.io/t/broadening-streamlit-usecase/12724

[2021-05-15 07:31] GitDiscipline opened #3276 "streamlit to executable file"
Hi,
      is there a way to convert streamlit gui into executable file? So far no informationn regarding this is found? Please help

[2021-05-15 08:49] andfanilo commented on #3276
Hello @GitDiscipline, that's a good and hard question with no clear solution yet, which is why there is no info on this in the official docs!

You will find a lot of information on the [Streamlit forum](https://discuss.streamlit.io/) on this matter, as multiple users have tried out this (and some succeeded with PyInstaller):
* https://discuss.streamlit.io/t/using-pyinstaller-or-similar-to-create-a

[2021-05-15 10:53] cmdev007 commented on #623
Did you find any solution? I am stuck at the very same thing!!!

[2021-05-15 11:24] akshanshkmr commented on #727
Hi,

Thanks for the reply, if I talk about my specific use case, I would like a simple topbar where I can display the user's profile picture and some other text data.

It would be an awesome addition if we are able to nest other streamlit widgets inside of it like buttons, markdown, image etc.
That would fulfil all the use cases.

[2021-05-15 12:22] dbalabka commented on #3263
Is it possible to see a work branch or the document which describes changes
in the architecture?

[2021-05-15 13:19] robwalton opened #3277 "Dict input widget"
### Problem

When configuring code with many parameters it can be time consuming to manually create widgets for each parameter. As a user it can be frustrating to keep track of the resulting configuration, spread as it is across many widgets. It's also fiddly to manage the configuration settings; for example to save and recall parameter settings.

### Solution

I've found it handy as a user to dis

[2021-05-16 00:38] astrochun commented on #1226
I'm having a similar issue with `streamlit==0.82.0` and `bokeh==2.3.0`. I thought it was an issue with my bokeh figure so I tried the example [here](https://docs.streamlit.io/en/stable/api.html#streamlit.bokeh_chart), but it didn't show up. Switching to `show(p)` does show the plot.  I'm using Python 3.9.1. Looking at MarcSkovMadsen/awesome-streamlit#6, I downgraded and `streamlit==0.82.0` works w

[2021-05-16 02:34] MarcSkovMadsen commented on #3263
For persisting primarely to disk you can try if the python diskache works in Streamlit. It is really great.

[2021-05-16 07:57] FHU-yezi commented on #3276
see the #1370 issue.

[2021-05-16 10:30] megh-code opened #3278 "cannot find file directory"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2021-05-16 10:30] megh-code commented on #3278
No such file or directory: 'd'

[2021-05-16 13:16] kush99993s commented on #3270
It seems 3000 port is hardcoded to use 8501. When I change my reverse proxy to use 3001, It worked. So if anyone else facing same issue, please use other than 3000 port

[2021-05-16 13:16] #3270 closed, assigned to nobody

[2021-05-16 13:31] kush99993s opened #3279 "3000 port is development port"
**Link to doc page in question (if any):**
https://docs.streamlit.io/en/stable/streamlit_configuration.html

**Name of the Streamlit feature whose docs need improvement:**
Need to add a new line

**What you think the docs should say:**
Reserve port 3000 port in streamlit or reverse proxy. If you use it, it can do weird behavior
Reserve port 3000 because it is used for the development

[2021-05-17 12:09] snehankekre commented on #2674
Closing this issue as `use_column_width` is currently neither present in the docstring nor in the accompanying examples. It is not an expected keyword argument for `st.beta_columns`.

`use_column_width` *is* a documented parameter for [`st.image`](https://docs.streamlit.io/en/latest/api.html#streamlit.image).

[2021-05-17 12:09] #2674 closed, assigned to nobody

[2021-05-17 12:23] snehankekre commented on #1004
Closing because an example demonstrating the use of [`format`](https://docs.streamlit.io/en/latest/api.html?highlight=format#streamlit.slider) is present and the docstring makes it clear that `format` only supports printf-style strings:

[code]

[2021-05-17 12:23] #1004 closed

[2021-05-17 12:30] snehankekre commented on #3279
Thank you for creating this issue @kush99993s! If you have tried using port 3000 to serve your Streamlit application, what weird behavior have you observed? Agreed that we might need to make clear in the docs that the basic developer includes running a React development server on port 3000.

[2021-05-17 13:56] dbalabka commented on #2870
@melnimr it seems that #3192 has been released with 0.82.0

[2021-05-17 14:12] Rubix982 opened #3280 "[FEATURE REQUEST] Research, Google Forms, CSV, Streamlit Application!"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem/Context

Hello!

For context and my dev experience, I'm new to using Streamlit, and recently, I made [this](https://robotiic.herokuapp.com/) as the solution to an assignment for my current course, "Artificial I

[2021-05-17 14:27] arjunko opened #3281 "Dice dataframe visualization is not showing in streamlit"
Hello, I’m running the DICE explanation in streamlit app. In pycharm console I’m able to see the results, but in streamlit app dice explanation dataframe is not showing. It’s showing as an empty dataframe. can one help with this prob?

about DICE: https://github.com/interpretml/DiCE

Here is my dice script which run in streamlit : https://github.com/arjunko/Dice_Explanation

In pycharm console res

[2021-05-17 14:59] randyzwitch commented on #3280
Hi @Rubix982, thanks for stopping by. Since this is an app in itself, not really a single feature, this is better handled on our community forum where users can help you implement an app with these specific features.

https://discuss.streamlit.io

Best,
Randy

[2021-05-17 14:59] #3280 closed, assigned to nobody

[2021-05-17 15:02] randyzwitch commented on #3278
Hi @megh-code -

Since this is a usage question, not a Streamlit bug, please ask it on our community forum. Please post with the code snippet that generates this error and any other information that can help people understand what you are trying to do.

https://discuss.streamlit.io

Best,
Randy

[2021-05-17 15:02] #3278 closed, assigned to nobody

[2021-05-17 15:04] davidusb-geek commented on #931
I know the topic is closed but here is a functional workaround to this issue:

[code]

[2021-05-17 15:22] Rubix982 commented on #3280
Alright, thank you. (Y)

[2021-05-17 17:13] dbalabka commented on #2870
@melnimr , @kmcgrady it seems that my initial assumption was right: https://github.com/streamlit/streamlit/issues/2870#issuecomment-833802645

Unfortunately, version `0.82.0` does not fix the memory leak and I have to use the above described workaround (see https://github.com/streamlit/streamlit/issues/2870#issuecomment-833802331).

After investigation and experiments, I found that removing refere

[2021-05-17 19:48] jrock08 opened #3285 "Interactable Widgets and Stateful applications leads to unintuitive behavior"
### Summary

This manifests as a somewhat confusing bug, but it's more of a feature request and description of a workaround for behavior that makes a lot of sense for a stateless app, but gets confusing when trying to shoehorn stateful behavior into streamlit.

The basic issue is the following.  Streamlit uses the default value as part of the hash that is added to any interactive object, as such a

[2021-05-17 20:31] vdonato commented on #3281
Hi @arjunko!

I'm not too familiar with DICE, but taking a glance at [their source code](https://interpret.ml/DiCE/_modules/dice_ml/diverse_counterfactuals.html#CounterfactualExamples.visualize_as_dataframe), it looks like the `visualize_as_dataframe` function prints the value to the console and doesn't return anything, so the call to `st.dataframe` in your example repo evaluates to `st.dataframe(

[2021-05-17 20:31] #3281 closed, assigned to nobody

[2021-05-17 20:45] trajamsmith commented on #3108
So — documenting here for future reference — this is due to the way one of the components works in a [UI dependency](https://github.com/uber/baseweb).

The screenshot below is from their docs. You can see that the Select component watches _not only_ for the labels but also for the values, which for us are arbitrarily numbered (and shouldn't be exposed to the user at all). For instance, with an inp

[2021-05-18 00:44] vdonato commented on #3262
Hi @jstammers, could you provide a bit more context on your use case?

Neither the `_is_running_with_streamlit` attribute nor the `streamlit.cli` module are part of the API that we intend to expose to users (I don't believe there's a true way of making these attributes/modules private in a Python module), so strangeness seen when using them outside of the streamlit package itself is probably not s

[2021-05-18 00:55] vdonato commented on #3276
Hi @GitDiscipline!

As @andfanilo pointed out, this isn't something that's officially supported yet, so that's why there isn't any mention of it in the documentation. There is quite a bit of discussion on it in our community forums, though, so it's possible that one of the solutions suggested there will help.

I'm going to close as a duplicate of the existing, open issue in @FHU-yezi's comment sin

[2021-05-18 00:55] #3276 closed, assigned to nobody

[2021-05-18 01:08] vdonato commented on #3285
Thanks for filing this @jrock08!

We actually happen to be actively working on adding session state to the official API, and as part of this, we'll be making changes so that user-provided widget keys are used unchanged to determine widget identity.

I'll add this issue to our list of session-state related issues that we believe should be resolved once the official implementation is released and wi

[2021-05-18 03:22] jrock08 commented on #3285
Awesome, yeah I saw some references in some discussions about integrating session state into the official API so I'd hoped it might be timely. Also, I really love what you are doing with this.

Now that you've tagged this I see it's a dupe of #1532, I'm tagging them because I believe the workaround described will work for them as well.

edit: on further thought, the workaround isn't directly appli

[2021-05-18 09:10] jstammers commented on #3262
For my particular use-case, I can only launch python web apps using `python main.py`, rather than `streamlit run main.py`.
I've found that this issue can be resolved using
[code]
to modify the entry point.

In which case, I'm happy to close this as I don't believe this is an issue any more.

[2021-05-18 09:10] #3262 closed, assigned to nobody

[2021-05-18 10:33] franekp commented on #2257
@vdonato Thanks a lot for fixing this!

[2021-05-18 13:11] mtszkw commented on #904
Hi once again @treuille, is anybody working on this feature?

I would like to be able to save full path of a filename uploaded by user (with st.file_uploader), `.name` is not enough for me 😥

[2021-05-18 14:56] Maarten-vr commented on #3052
I have a similar request, though the solution might be a bit simpler.
In my case I want to align pictures to the bottom of the columns, instead of the default alignment at the top of each container.

Example:
![Screenshot 2021-05-18 at 16 49 16](https://user-images.githubusercontent.com/55130010/118673846-a05b2680-b7f9-11eb-8970-9d9f143e3230.png)
Current behaviour is on the left side; it would be

[2021-05-18 18:18] jeromemassot commented on #1088
Dear all,
when I run the code proposed by @harsha989 I obtained a : "this plugin is not compatible" error and my pdf is not displayed. Have you got tried this method recently with your apps?
Thanks
Best regards
Jerome

[2021-05-18 22:58] asaini commented on #904
Hi @mtszkw and others: I'm a PM at Streamlit and wanted to share that this feature is on our roadmap. We're working on higher priority stuff right now, so currently it's not being actively developed. The earliest we will be able to get to it is probably end of Q3, 21. Thanks, and stay tuned!

[2021-05-18 23:38] kmcgrady commented on #2820
Hey @iharshulhan . Sorry, I've been a little backed up and had a vacation. We use the labels to make sure I circle back and make sure we can respond.

I'm trying to reproduce the issue. Here is what I noticed:

1. On first run, things seem to work fine.
2. When I rerun, it clears out, and seems to run normally, except at the end, it seems to run again (I believe this is the result of the `request_

[2021-05-18 23:45] kmcgrady commented on #3277
Hey @robwalton ! Thank you for sharing your ideas about an interactive dictionary/JSON component. Our mission is to make Streamlit the best way to build data apps, and your thoughts help us focus our roadmap where people feel the most pain. We're going to get this in front of our product team to see how we can best integrate this with our future plans.

We can't integrate every feature into the ma

[2021-05-18 23:49] kmcgrady commented on #3232
Hey @gagan3012 ! Thank you for sharing your ideas about adding configuration here. Do you think this would relate to https://github.com/streamlit/streamlit/issues/2068 as a reasonable solution? Essentially, you can have a `.streamlit` file per folder with a streamlit app for different configurations.

[2021-05-18 23:52] kmcgrady commented on #3201
Hey @hauselin ! Thank you for sharing your ideas about page changes here. Our mission is to make Streamlit the best way to build data apps, and your thoughts help us focus our roadmap where people feel the most pain. We're going to get this in front of our product team to see how we can best integrate this with our future plans.

We'll get back to you if we are able to prioritize this work!

[2021-05-18 23:55] kmcgrady commented on #3200
Hey @hackenjoe Thank you for sharing your ideas about adding zoom functionality on graphviz here. Our mission is to make Streamlit the best way to build data apps, and your thoughts help us focus our roadmap where people feel the most pain. We're going to get this in front of our product team to see how we can best integrate this with our future plans.

We can't integrate every feature into the ma

[2021-05-19 03:01] vgthengane commented on #493
Can I do the same for the audio file?

[2021-05-19 03:33] quantoid commented on #2370
I wonder if a simple solution would be for Streamlit to provide a way to tell whether the dashboard is being loaded or just redrawn.

- If the dashboard is being loaded, use the URL parameters as defaults for the widgets.
- If the dashboard is being redrawn, ignore the URL parameters because Streamlit preserves the state of widgets.

In both cases you update the URL parameters once you have all th

[2021-05-19 03:46] quantoid commented on #2370
But wait, the docs say that defaults are only used "on first render" (at least for index on [radio](https://docs.streamlit.io/en/stable/api.html#streamlit.radio), for example). Surely that means any defaults we get from URL parameters should be ignored when redrawing widgets, and only used when the page first loads?

[2021-05-19 04:02] kmcentush commented on #2370
This may help someone: https://github.com/kmcentush/streamlit_libraries/tree/master/query_params

I wrote a little helper library that makes query params function in a more traditional way - they are read into the state on page load, but then adjust correctly as the user interacts with the page. I believe this better represents how query parameters are used in full blown frontends (ReactJS, etc.)

[2021-05-19 06:56] quantoid commented on #2370
This in `streamlit.elements.radio` says the given in index is only used if the ui_value (from browser?) is None:

    ui_value = register_widget("radio", radio_proto, user_key=key)
    current_value = ui_value if ui_value is not None else index

Can `register_widget` still return None after the page has loaded, when widgets are changed?

[2021-05-19 09:32] joachimdb opened #3290 "Streamlit does not work with simple transformers / cache and infinite loop reloading issues"
### Summary

Unable to use a SimpleTransformes ClassificationModel in streamlit

### Setup and code

I've got a simple demo.py file in which I first load and cache a SimpleTransformers `ClassificationModel`:
[code]
The script then specifies a form with a text input field which on submit is send to the loaded model for classification:
[code]
Then I run the script with `streamlit run demo.py` from t

[2021-05-19 12:01] XDynames commented on #1294
For those using GKE you can resolve this by making sure the application container's replicas is set to one
[code]

[2021-05-19 12:32] manu-chauhan opened #3291 "InternalHashError: 'name'"
### Summary

**InternalHashError: 'name'**
  **While caching  get_report(), Streamlit encountered an object of type**
  **pandas_profiling.report.presentation.flavours.html.container.HTMLContainer, which it does not know how to hash.**

#### Steps to reproduce
use @st.cahe with data as parameter and Pandas Profiling report as return value
(Pandas Profiler: Generate a profile report from a Dataset

[2021-05-19 12:55] Yannik1337 opened #3292 "How to share the apps settings, preferable via a custom URL?"
I am looking for a way to share the state of the app. In the most simple form, this is what I am after:

A user sets some sliders, ticks some boxes.

He then can create an URL or something else that he can share. When somebody receives this link, once he opens the app he gets the same settings as the user who shared his settings.

As a URL solution I am thinking about generating a random id (cachi

[2021-05-19 16:39] lekev commented on #2888
I am having the same issue, I am getting this warning

![](https://aws1.discourse-cdn.com/business7/uploads/streamlit/original/2X/2/22e1a76053b474812db832337af2329385fafbc2.png)

The error is caused by a race condition

1 after the timeout of 3seconds.the state component `readyTimeout` is set to `false`
https://github.com/streamlit/streamlit/blob/124a44528652677f0c4a71e1ec80be71314db86b/frontend/s

[2021-05-19 19:42] joyyjiang opened #3295 "streamlit can't hash pandas dataframe type"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2021-05-19 22:25] hauselin commented on #3201
Thanks, @kmcgrady! Appreciate the effort your team has put into making Streamlit!

[2021-05-19 23:00] #3108 closed, assigned to trajamsmith

[2021-05-20 11:31] robwalton commented on #3277
Thanks @kmcgrady, I've made a toy version that demonstrates some useful behaviours. This includes a streamlit app to demo it [![Streamlit App](https://static.streamlit.io/badges/streamlit_badge_black_white.svg)](https://share.streamlit.io/robwalton/streamlit-toy-dict-input). There is a discuss thread [here](https://discuss.streamlit.io/t/a-toy-dict-input-component/13163).

[2021-05-20 12:32] ClaudiaSchulz commented on #2793
Are there any updates on this? I'm running into the same problem when using spacy (version 3.0.5) in streamlit (version 0.82.0). It works fine when using Streamlit 0.70.0.

[2021-05-20 15:19] #3191 closed, assigned to trajamsmith

[2021-05-20 18:10] arogozhnikov commented on #1042
same issue, with multiselect with changing default value within a form, v0.81

[2021-05-20 18:26] arogozhnikov commented on #1042
looking deeper into this, the bug is on the server side, as client does send an updated value, but it is ignored or misinterpreted

[2021-05-20 21:16] quantoid commented on #2370
As a workaround for this problem, I'm using any URL parameters as defaults then clearing them from the URL so they don't interfere with subsequent runs. To capture session state, I'm providing a "shareable link" in the sidebar that includes URL parameters for the current widget states. This avoids keeping widget state in current URL parameters that override browser state.

Using this shareable lin

[2021-05-21 07:02] theCuriousHAT commented on #1740
I was facing the same issue. But then I tried running and recording in some other browser(mozilla firefox) and it gets recorded. Anybody facing an issue with recording not getting stopped can try this.

[2021-05-21 16:40] tvst opened #3300 "Tooltip should de-indent strings"
### Summary

When the entire string is indented in `help=""""..."""`, the markdown processor marks the string as a code block. We should treat `help` the same way we treat `st.markdown` and `st.write`'s input: by first calling [`textwrap.dedent(...)`](https://docs.python.org/3/library/textwrap.html#textwrap.dedent) on it to remove global indentation.

### Steps to reproduce

Code snippet:

[code]

[2021-05-21 16:42] tvst commented on #3295
@joyyjiang I'm not sure what you mean exactly... can you provide more info?

Please click "edit" on the post above and fill out as much as you can in the bug report template.

[2021-05-21 18:28] akshanshkmr opened #3301 "Add native auth support using Kerberos keytab"
### Problem

I created a multi user app that deals with some sensitive data so naturally I needed a way to prevent it from getting into the wrong hands.

### Solution

As a solution I am running streamlit on top of a Nginx layer.
Nginx deals with the Kerberos authentication and redirects to streamlit with the REMOTE_USER proxy header.

I read the header within streamlit and verify auth for the use

[2021-05-21 21:55] mmehdig commented on #2312
Hi!
I believe I have the same issue. The app works on one vpn network, but when I switch to another vpn, it won't pass "Please wait..." until "Connection Error" pops up.
Initially, I thought disabling websocket compression can help but it didn't. I see the websocket error even after disabling the websocket with `enableWebsocketCompression = false`. The javascript console produces the websocket eve

[2021-05-21 22:49] tvst commented on #727
Thanks for the info. That's super helpful!

[2021-05-22 09:00] lilisako opened #3302 "Japanese version of ducumentation?"
**Name of the Streamlit feature whose docs need improvement:**
I think it's nice to have a Streamlit documentation in Japanese. There are so many Japanese articles about Streamlit, and I also did write a blog before.

Last year there was an issue about making a Chinese version of it ( #2473 )
If you want a Japanese translation and its maintenance, I would love to help it out!

[2021-05-22 09:27] vincbo opened #3303 "selectbox does not play well with session state persistence"
### Summary

When using selectbox together with session state persistence code found at https://gist.github.com/tvst/036da038ab3e999a64497f42de966a92, I need to select the same item two times in row for it to be actually selected. The first time I select it, the selectbox automatically restores the previous value.

### Steps to reproduce

Code snippet:

[code]

1. At startup, the select box displa

[2021-05-22 16:10] kmcgrady commented on #3194
Hi @BugzTheBunny Thanks for the report! I was able to reproduce this issue and marked it to fix in a bug project. I also marked this as a good first issue because the solution seems straightforward! Essentially, the frontend should send back a valid output, or the backend should interpret invalid output without throwing an exception.

[2021-05-22 16:13] kmcgrady commented on #3198
Hey @hritik5102 Thanks for reaching out. Unfortunately we can't always dig deep and troubleshoot challenges like this on GitHub. We typically use GitHub for feature requests and bug reports.

For troubleshooting help, you can visit our awesome [community forums](https://discuss.streamlit.io/), where thousands of other Streamlit hackers help each other and talk about the amazing things they are cre

[2021-05-22 16:17] kmcgrady commented on #3199
Thanks for reporting the issue @StefanBrand Yes that seems like a reasonable problem. Keyword arguments that are required should not be keyword arguments. I would need to circle to our Product team and see if `""` is an acceptable solution. It's possible, but it may not be best practice to have an expander not have any label due to accessibility concerns. I'll put this in our project for addressin

[2021-05-22 16:22] kmcgrady commented on #3217
Thanks @jhermann for sharing this! I have never heard of lgtm. I will take a look and probably separate out the issues into separate reports as needed.

[2021-05-22 16:28] kmcgrady commented on #3218
Thanks @luke321321 for the issue! We would need to investigate this one to provide an explanation on why it is happening. My guess is that we are not clearing the "cache" of the script intentionally, which in this case would be hard to resolve. In any case, I put this in a project to investigate. Thanks again!

[2021-05-22 16:33] kmcgrady commented on #3230
Hey @robertmartin8 Thanks for your report. I'm curious if our latest release helps? After each script run, we run Python's garbage collection, which should hopefully alleviate stress on memory.

[2021-05-22 16:46] kmcgrady commented on #3236
Hey @evan-wes Thanks for the report! I did some investigating, and I see what you see, but unfortunately, the error is coming from GraphViz library itself. We simply just pass the string over to GraphViz.

Looking at their docs. [Images are allowed](https://graphviz.org/doc/info/shapes.html#html). However, the [src of the image](https://graphviz.org/doc/info/shapes.html#src) is rather confusing. I

[2021-05-22 16:48] kmcgrady commented on #3302
Thanks for the report @lilisako ! I will be sure to pass this info on to the Documentation team. I'm curious, can you share some links to articles that showcase Streamlit in Japanese? 😊

[2021-05-22 16:54] lilisako commented on #3302
@kmcgrady Thanks for the quick reply!
Here is the link for my blog✨ https://note.com/_risako/n/n78bdbabdb08b

[2021-05-23 02:06] okld commented on #3303
Hello @vincbo, this state rollback behavior is a known "issue" of that session state implementation.

I discussed [here](https://discuss.streamlit.io/t/multi-page-app-with-session-state/3074) a way to solve this with another implementation. The solution is not perfect, as every change to the widgets will cause two reruns, but this is currently the only working method as far as I know.

That said,

[2021-05-23 02:13] okld commented on #3292
Hello @Yannik1337, I think #1169 would work in your case. This is an experimental feature that allows you to get and set URL query parameters.

Here's some code using it: https://github.com/streamlit/release-demos/blob/master/0.65/demos/query_params.py

[2021-05-23 13:15] AbhishekSunda opened #3305 "st.selectbox not gives expected output"
### Summary

if the index of a pandas data frame is in random order and when we pass one of the columns of the data frame then it does not give expected output and if we pass column values then it gives correct output.

screenshot of webpage:

![Screenshot from 2021-05-23 18-41-20](https://user-images.githubusercontent.com/51685152/119261786-8a34d800-bbf6-11eb-8376-8857cfe7e051.png)

screenshot of

[2021-05-23 16:56] robertmartin8 commented on #3230
Hi,

I bumped to 0.82 and deployed it. It seems to have helped a little, but the memory still steadily grows over time. I've attached the Heroku memory profile.

Some context: the server was set to restart every hour (my fix to the memory issue), hence the sawtooth profile initially. After bumping the version (tagged 5ca2beba), the gradient of the sawtooth seems to be shallower, so memory is build

[2021-05-23 18:32] kmcgrady commented on #3305
Thanks for the report @AbhishekSunda ! Looking into this, this may be "as expected" behavior and seems to be a way the dataframe is designed. Selectbox assumes a iterable of values with an index. The dataframe's sorting, maintains the index. You can fix this if you add `ignore_index=True` in the `sort_values` function.

We can certainly look into making it easier, but it may be too much of an edge

[2021-05-23 18:33] kmcgrady commented on #3292
Hey @Yannik1337 ! Thanks for the report! I would agree with @okld above. Let us know if you are needing something different.

[2021-05-23 18:36] kmcgrady commented on #3303
Hey @vincbo ! Thanks for the response! And @okld is right! We have a Session State implementation that will fix this! I'm going to tagging it to the project, so that when we launch it, we can go through these issues and close them out with the solution!

[2021-05-23 18:39] kmcgrady commented on #3301
Thank you for sharing your ideas about supporting Kerberos authentication support here. Our mission is to make Streamlit the best way to build data apps, and your thoughts help us focus our roadmap where people feel the most pain. We're going to get this in front of our product team to see how we can best integrate this with our future plans.

We can't integrate every feature into the mainline cod

[2021-05-23 18:41] kmcgrady commented on #3300
Totally a good idea and thank you @rbrishhabh for the PR. We will get to it this week!

[2021-05-23 18:52] kmcgrady commented on #3291
Hey @MANU-CHAUHAN Thanks for the report! I have marked this in the caching project as we hope to make improvements to it.

For caching in general, we cannot guarantee all hashing to work correctly. You might need to add a `hash_funcs` parameter to facilitate the caching. See [the docs on it here](https://docs.streamlit.io/en/stable/caching.html#the-hash-funcs-parameter).

[2021-05-23 18:59] kmcgrady commented on #3274
Thanks for letting us know @fiendish ! We'll monitor the issue you provided and see if there's anything we need to do on our end. I'm going to close this issue in the meantime, but if you see any reason to re-open it, please do! 😊

[2021-05-23 19:23] kmcgrady commented on #3275
@treuille I tried reproducing the issue, and I do not see the "breakage" I do see the "Made with Streamlit" just outside the scroll area. Is that the breakage you are talking, or are you saying that mid-way through the page it just stops scrolling?

[2021-05-23 19:27] kmcgrady commented on #3258
Thanks @jvoros for the report. I'll add this to our backlog of improving Altair support. I might suggest taking a look at [this forum post](https://discuss.streamlit.io/t/does-altairs-set-embed-options-work-with-streamlit/1675) for a workaround in the meantime!

[2021-05-23 19:28] kmcgrady commented on #3290
Hey @joachimdb ! Thanks for the report, We will need to investigate further. I am not sure what could be causing an infinite loop in this case based on the code you provided. We are re-evaluating caching, and I can have this researched as we implement the new solution.

[2021-05-23 19:36] kmcgrady commented on #3257
Hmmmm @Lastiritas I am not able to repro the issue in our examples.

Here's an example script I used.

[code]

I tried the script provided, but it seemed to error on some missing function `load_data`. I'll just ask if you are sure about the Streamlit version. We made some fixes for https://github.com/streamlit/streamlit/issues/3104 to address this.

[2021-05-23 19:39] kmcgrady commented on #3255
Thanks @jahaniam for the report! I have confirmed the issue and have it marked for fixing when we have available resources.

[2021-05-23 19:42] kmcgrady commented on #3223
Thanks for the issue @snehankekre ! I'm hoping this gets resolved in our updated version of Session State! Marking it to be tested when we release the feature.

[2021-05-23 19:45] kmcgrady commented on #3243
Thanks for the report @bocangr ! It looks like I cannot repro the issue as I am missing the settings module. Can you provide a smaller or more complete example? It is possible like our implementation of Session State might help with this implementation and make things easier to manage.

[2021-05-23 19:50] kmcgrady commented on #3242
Hi there @AdonaiVera , thanks for sharing your question! Unfortunately we can't always dig deep and troubleshoot challenges like this on GitHub. We typically use GitHub for feature requests and bug reports.

For troubleshooting help, you can visit our awesome [community forums](https://discuss.streamlit.io/), where thousands of other Streamlit hackers help each other and talk about the amazing thi

[2021-05-23 20:00] kmcgrady commented on #3240
Hey @frankhuurman ! I wasn't able to reproduce the issue. Are you able to reproduce the issue with https://share.streamlit.io/kmcgrady/streamlit-test/main/emoji-title/example.py I copied your code and used deployed it to Streamlit Share

[2021-05-23 20:03] kmcgrady commented on #3224
Hey @HandsomeYang1 Thanks for a report. I will raise this issue to the cloud. Can you provide a screenshot or something? I wonder if there's any other issues with the page that might indicate the issue.

[2021-05-23 20:10] kmcgrady commented on #3221
Hey @tkupek ! Thanks for reaching out. I do not believe this is a Streamlit issue. The runtime error suggests you are sending in a double instead of a float. If you modify the script to `float32` instead of `float64` (a double). It works as expected.

I'm going to close this issue. But please let me know if there are any other issues you see.

[2021-05-23 20:10] #3221 closed, assigned to nobody

[2021-05-23 20:19] kmcgrady commented on #3230
Thanks @robertmartin8 for the memory report. We'll have to investigate more fully what could be the problem here.

For now, here's what I know and perhaps that can help in debugging.

1. The error message tends to associate with unable to find the place for a placeholder (in this case, it's the `st.empty`.
2. Also, the use of the infinite loop, while legal, is not in the recommended strategy of th

[2021-05-23 20:23] kmcgrady commented on #3100
I'm going to close this since it seems like some workarounds/solutions are explained. We do plan to do some work in caching to make it better that might address the issue better. Please re-open the issue if I misunderstood the conversation 😊 .

[2021-05-23 20:23] #3100 closed, assigned to nobody

[2021-05-23 20:24] kmcgrady commented on #2293
Thanks for the help @nenetto I will close this issue since I haven't heard any update since. Please reopen the issue if anything new pops up! 😊

[2021-05-23 20:24] #2293 closed, assigned to nthmost

[2021-05-23 20:26] kmcgrady commented on #3003
I'm going to close this issue in the meantime, feel free to reopen the issue, if any of the solutions above do not work 😊 .

[2021-05-23 20:26] #3003 closed, assigned to nobody

[2021-05-23 20:27] kmcgrady commented on #3146
Sounds good @quantoid Thanks for your insight. I will mark this for review by the Product team

[2021-05-23 20:28] kmcgrady commented on #2389
Thanks for the discussion! I will close this issue since it looks like the websocket protocol traffic needs to be allowed. Please re-open if there is any reason to 😊 .

[2021-05-23 20:28] #2389 closed, assigned to nobody

[2021-05-23 20:30] kmcgrady commented on #3142
Hi @atwahsz Yes! I believe that is correct! Our forms implementation has been released. See [the docs](https://docs.streamlit.io/en/stable/api.html#streamlit.form) and [our blog post](https://blog.streamlit.io/introducing-submit-button-and-forms/) on the feature. Let me know if it solves your use case, or if there's a different enhancement request here.

[2021-05-23 20:38] kmcgrady commented on #2014
Hey @LeonDpl Thanks for your example. I'm seeing some issues in running your examples. We would need to investigate further on the issue. What version of Streamlit are you using?

[2021-05-23 20:41] kmcgrady commented on #218
Our solution to this should be resolved with session state. I've tagged this issue in it to verify when we release.

[2021-05-23 20:42] kmcgrady commented on #2871
I am going to close this issue after not hearing anything back. Feel free to reopen it if you are still seeing issues.

[2021-05-23 20:42] #2871 closed, assigned to nobody

[2021-05-23 20:42] robertmartin8 commented on #3230
Hi @kmcgrady, thanks for this info!

Do let me know if there is a better design pattern – I had a quick look in the forums but it was mostly while loops.

I would have thought that the majority of users would like to present dynamic data? In any case, I definitely cast my vote for this feature 🚀

For other users experiencing this, I suggest you automatically restart your app every so often. This c

[2021-05-23 20:43] kmcgrady commented on #2947
I am going to close this issue after not hearing a response. If you still see this issue on the latest Streamlit, please let us know and reopen the issue. Thanks for letting us know! 😊

[2021-05-23 20:43] #2947 closed, assigned to nobody

[2021-05-23 20:44] kmcgrady commented on #2930
I am going to close this issue for now, but if you have time to provide an example, please reopen the issue 😊

[2021-05-23 20:44] #2930 closed, assigned to nobody

[2021-05-23 20:51] kmcgrady commented on #3145
Thanks for your update @GTWBD I was not able to repro this in both Safari and Chrome as well. I wonder if it's a problem with the developer Chromium build. I also do not use jupyter notebooks in this case, which might add complications to running the streamlit application. That's something [our forums](https://discuss.streamlit.io) will have more insight on.

[2021-05-23 20:54] kmcgrady commented on #2312
Hey @mmehdig I don't have a fast solution, but I believe the websocket needed to be allowed through the firewall in order to work. My guess is the VPN in blocking it.

[2021-05-23 20:55] kmcgrady commented on #1740
I marked this as something to look into in the meantime. I cannot make a guarantee on timeline, but hopefully we'll get a chance to resolve this.

[2021-05-23 20:58] kmcgrady commented on #2793
Hi there, thanks for sharing your question! Unfortunately we can't always dig deep and troubleshoot challenges like this on GitHub. We typically use GitHub for feature requests and bug reports.

For troubleshooting help, you can visit our awesome [community forums](https://discuss.streamlit.io/), where thousands of other Streamlit hackers help each other and talk about the amazing things they are

[2021-05-23 21:27] kmcgrady commented on #2870
Thanks for your insight @dbalabka ! We'll take a look at the PR review this week.

[2021-05-23 22:15] kasibanteg commented on #2180
Hi Bro,
How did you implement this  https://app.pymedphys.com/?app=metersetmap
can you please share with me some guidelines and sample codes.
am really stuck at this same point.
Thanks in advance

[2021-05-23 22:54] SimonBiggs commented on #2180
That's probably the larger of the applications we've built with Streamlit, and the reason being that the application can significantly change in functionality depending on a configuration file. All of the code for that application is available at:

https://github.com/pymedphys/pymedphys/tree/37f456768824d569e78503a5cbadcb832b0845f0/lib/pymedphys/_streamlit/apps/metersetmap

The entrance "main" fun

[2021-05-23 23:06] kasibanteg commented on #2180
Thank you so much Simon.
I will go through the Links

[2021-05-23 23:08] joyyjiang commented on #2461
I have the same problem as fredrikw, two functions both returns a dataframe. one is cached without problem, the other gives me the error.  would like to understand why it's happening.

[2021-05-23 23:09] SimonBiggs commented on #2180
My pleasure :slightly_smiling_face:

[2021-05-24 00:04] AbhishekSunda commented on #3305
Thanks @kmcgrady

[2021-05-24 00:04] #3305 closed, assigned to nobody

[2021-05-24 06:13] akthammomani opened #3308 "python built-in zip() function"
### Summary

python built-in zip() function is not working

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explain what you expect to happen whe

[2021-05-24 06:17] #3308 closed, assigned to nobody

[2021-05-24 06:17] akthammomani commented on #3308
na

[2021-05-24 10:51] AdonaiVera commented on #3242
thanks @kmcgrady
I'll check the community forums.

[2021-05-24 10:51] #3242 closed, assigned to nobody

[2021-05-24 10:53] Mega-Barrel commented on #727
It should be a general navigation bar where people can add a logo(depending on the requirement/usecase) and links to multiple pages.

[2021-05-24 14:24] krystian3w commented on #3274
This need CI bot or privileges on `streamlit` repository/organization after your closing.

*IMO fiendish no have these privileges:  Opened this issue (their first in `@streamlit`)*

I might have also misunderstood that just post: "it can't be fixed in AdGuard" and you will be the ones to open the thread.

[2021-05-24 14:46] frankhuurman commented on #3240
This is interesting cause the streamlit sharing app seems to run as expected but I'm able to reproduce it myself.

I did my bug report(and discovery of the bug) while hosting the app on my Ubuntu 20.04 laptop.
I actually received my new Win10 laptop today and saw your reply so felt like it was the perfect day to try and reproduce it.

So with a fresh Windows 10, fresh latest Python(3.9.5) install,

[2021-05-24 15:38] kmcgrady commented on #3240
Thanks for clarifying. Streamlit share is my default easy check here. I was able to repro on my phone. I've attached the images here and marked it as something to work on.

## Not Working

![IMG_6328](https://user-images.githubusercontent.com/69432/119371397-3e704600-bc6b-11eb-8c5a-99850d93a073.PNG)
![IMG_6329](https://user-images.githubusercontent.com/69432/119371410-40d2a000-bc6b-11eb-8c83-ee318

[2021-05-24 15:46] frankhuurman commented on #3240
Thanks for confirming! :)

[2021-05-24 16:01] kmcgrady commented on #3274
Ah. I may have mistaken the re-opening process (from what I read now...if the issue writer closes it, they can reopen it, but if streamlit closes it, it remains closed). Thanks @krystian3w for letting me know. I'll re-open for now to facilitate discussion.

For what it's worth, I reproed this.

To create this issue:

* Installed [AdGuard](https://adguard.com/)
* Enable filters on Safari
* Add a Cu

[2021-05-24 16:47] krystian3w commented on #3274
Or you've been working too much on gitlab lately, where supposedly the submitter can re-open their own thread, and I guess that's when you need to use conversation limiting mechanisms (like behavior is spam) to avoid it.

---

IMO possible reproduce too with [uBlock Origin](https://www.google.com/search?q=ublock%20origin%20addon) + manually subscribied `Web Annoyance's Ultralist`.

Assuming that t

[2021-05-24 16:51] fiendish commented on #3274
I know it's unfair to suggest that streamlit engage in cat-and-mouse with arbitrary filters on the web, but maybe streamlit might avoid using .stButton because of this?