[2022-08-16 16:20] #5155 closed, assigned to nobody

[2022-08-16 16:58] blackary commented on #5174
FYI, rather than doing `from session.state import session_state`, you can just do `from streamlit import session_state`, or `import streamlit as st` and then `st.session_state`

[2022-08-16 17:19] kajarenc commented on #5124
Hey, @jiqibuaixuexi! sorry for the misleading answer, my bad.

You can list the `apt` dependencies in the `packages.txt` file and we will install them in the cloud instance.

More information here: https://docs.streamlit.io/streamlit-cloud/get-started/deploy-an-app/app-dependencies#apt-get-dependencies

[2022-08-16 17:26] kajarenc commented on #5178
Hey @jonstrutz11 , thanks for reporting this issue.

Could I ask you to try to install `watchdog` via `pip install watchdog` in your python WSL env.
Is the issue still there?

[2022-08-16 17:37] kajarenc commented on #5177
Thanks, @dang-mai for finding this!

Should be fixed by https://github.com/streamlit/streamlit/pull/5180

[2022-08-16 17:37] #5177 closed, assigned to nobody

[2022-08-16 18:17] jonstrutz11 commented on #5178
@kajarenc just installed watchdog as requested and ran the app again. Unfortunately, I got the same results.

[2022-08-16 18:56] tconkling commented on #5166
Hey all, thanks for the comments! Yeah, so normally we advise against using internal Streamlit APIs because we don't support them and they can change or go away with no notice. (In this case, the `Server` singleton was a casualty of a major refactor we made to the internals of Streamlit.)

But! I totally get this ask; "access websocket headers" is something that was implicitly possible in Streamli

[2022-08-16 19:04] manassharma07 commented on #4523
I am also facing this issue. Clicking on checkbox or slider input widgets also triggers the balloons which should only be triggered at the press of a button

My streamlit version is 1.12.0

[2022-08-16 21:01] vdonato commented on #5174
Hi @BioComSoftware,

As @blackary pointed out, the expected way that users use session state is via `st.session_state`. The `streamlit.state` module was moved to live in `streamlit.runtime.state`, but usage of the module directly isn't recommended as it is an internal/undocumented module. Because of this, we provide no guarantees on whether or not its API is stable.

[2022-08-16 21:01] #5174 closed, assigned to nobody

[2022-08-16 21:04] vdonato commented on #5175
Hi @parker84, we actually just recently added a `help` parameter to `st.metric`. Upgrading to the newest version of Streamlit should allow you to use it.

I'll edit the title of this issue to only mention adding `help` to charts

[2022-08-16 21:10] ryantaylor406 opened #5181 "Deployed App Cannot Upload Files > 100MB"
### Summary

We have a Streamlit app deployed on a linux box and it is throwing an error for any files uploaded that are greater than ~100MB.

I have set the max file upload size to be 2GB in the ```config.toml``` file which works as expected locally. However, when we deploy the app we cannot upload any file greater than ~100MB.

This test1.csv (97MB) uploads fine
![image](https://user-images.gith

[2022-08-16 21:21] vdonato commented on #5179
Hi @jakeyahn,

I couldn't reproduce an issue with imagemagick with the following app deployed to Streamlit Cloud:

`requirements.txt`:
[code]

`packages.txt`:
[code]

`streamlit_app.py`:
[code]

The app allows you to upload an image which is then flipped upside down and printed to the screen, as expected. Because of this, I don't believe the issue that you're seeing is a problem with the streamlit

[2022-08-16 21:21] #5179 closed, assigned to nobody

[2022-08-16 21:44] vdonato commented on #5178
Hi @jonstrutz11, thanks for reporting this!

I'll see if I can get around to investigating sometime this week as I have a machine running windows + WSL available to do some testing one.

Unfortunately, there may be a chance that this is unsolvable on our end as I vaguely remember running into issues having to do with file watchers on directories being problematic on WSL/Windows due to OS-related r

[2022-08-16 21:56] vdonato commented on #4923
@sfc-gh-tszerszen +1 to this behavior. I think it'd probably be more desirable than nicely rendering it as a python set since, even though the types aren't quite right, it'd be more useful for a user to be able to expand/collapse the list with existing functionality in `st.json`.

I think this is a small decision that the product team would have to make the final call on, so CCing @jrieke to take

[2022-08-16 22:04] vdonato commented on #5170
Hi @Alexandru-Ioan-Popovici, thanks for pointing this out.

Note that `st.write` ends up calling `st.markdown` for this type of text input under the hood, so what's happening here is due to markdown's behavior with multiple newlines. A way of currently doing this would be to do something like

[code]

We've been thinking about how to improve layout options in streamlit recently, so I'll forward th

[2022-08-16 22:31] jiqibuaixuexi commented on #5124
@kajarenc Thank you very much for your reply. What I've been wondering is how to install the missing dependencies on streamlit cloud. Your answer was exactly what I was looking for.

[2022-08-17 01:49] jakeyahn commented on #5179
Hi Vincent,
thanks for the email.

I have looked literally all girhub example within streamlit and imagemagick

And uploading the image and open(img) where img is a jpg, png file isnt a problem.

The problem is coming from

The pdfplumber function either “to_image()” or “get_image()” which uses input of pdf pages and extracting images from specific page.

Im getting the same error im afraid..

Jak

[2022-08-17 02:01] jakeyahn commented on #5179
And could you dont close it before it is yet to be closed?

Thanks

Jakey

나의 iPhone에서 보냄

2022. 8. 17. 오전 10:49, Jaekwan Ahn ***@***.***> 작성:

﻿ Hi Vincent,
thanks for the email.

I have looked literally all girhub example within streamlit and imagemagick

And uploading the image and open(img) where img is a jpg, png file isnt a problem.

The problem is coming from

The pdfplumber function either

[2022-08-17 06:49] polishettivamshi opened #5182 "slow output while running the out put"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2022-08-17 07:57] sfc-gh-kbregula commented on #4923
Alternatively, we can create our own serialization instead of JSON, which allows two additional types to be transferred: `set` and `tuple`.

When it comes to displaying in UI, we can adopt a [`pretty-format`](https://github.com/facebook/jest/tree/main/packages/pretty-format) format, that is, add a new label that describes the type.

Before:
[code]
After:
[code]
This, however, will require us to ma

[2022-08-17 17:57] randyzwitch commented on #5182
Hi @polishettivamshi -

Please provide additional information about the code you ran, what you expected, etc. As it stands right now, there isn't enough information to make any suggestion.

Best,
Randy

[2022-08-17 21:38] #5139 closed, assigned to nobody

[2022-08-17 22:58] jiqibuaixuexi opened #5186 "_pickle.UnpicklingError: invalid load key, 'v'"
![image](https://user-images.githubusercontent.com/102913931/185256473-c45ddd82-3d27-4aae-820e-9f53fee25f4a.png)
![image](https://user-images.githubusercontent.com/102913931/185256565-578aa515-42db-4877-9878-0d88ce37ccfe.png)
![image](https://user-images.githubusercontent.com/102913931/185256674-4719ff01-77e4-49de-883c-f15e00f81193.png)
![image](https://user-images.githubusercontent.com/102913931/

[2022-08-18 04:58] Siddhesh-Agarwal commented on #5134
To make myself clear, I am asking for a method to override the default "light" and "dark" modes.

[2022-08-18 07:58] andfanilo commented on #2725
In the meantime, I documented my process for coloring a background and finding the CSS classes necessary to change here: https://youtu.be/pyWqw5yCNdo

[2022-08-18 13:10] #5182 closed, assigned to nobody

[2022-08-18 13:12] randyzwitch commented on #5186
Pickle errors are usually resolved by ensuring that the version of Python that created the pickle is also the same as the version trying to read the Pickle. On Streamlit Cloud, you can set the version as shown in our documentation.

https://docs.streamlit.io/streamlit-cloud/get-started/deploy-an-app#advanced-settings-for-deployment

Best,
Randy

[2022-08-18 13:12] #5186 closed, assigned to nobody

[2022-08-18 13:49] ghost commented on #4650
any update on this?

[2022-08-18 15:55] #4923 closed, assigned to sfc-gh-tszerszen

[2022-08-18 16:54] kajarenc commented on #5181
Thanks, @ryantaylor406 for reporting this!

I don't know for sure, but these steps may be helpful in trying to identify the root cause.

1. Make sure that the YAML config on the machine also contains the value `4096` (please note that by default we have a value of 200 megabytes, which also should be enough in your case.
And in case you want to specify value the increased/decreased size should be s

[2022-08-18 20:38] lallea opened #5197 "Emoji filenames breaks packaging with bazel"
### Summary

When we upgrade from 1.9.2 to 1.10.0, our build system, which is based on bazel, can no longer package streamlit into containers. Bazel, or rather the rules_docker/rules_python plugins, do not handle the emoji filenames gracefully and get confused.

### Steps to reproduce

Follow the instructions in rules_python and rules_docker to create a container build with a python binary. Add st

[2022-08-18 20:45] lallea commented on #5197
Ah, I missed that this was fixed in the latest release. Never mind then. Thanks for a great tool. :-)

[2022-08-18 20:45] #5197 closed, assigned to nobody

[2022-08-18 23:59] #5140 closed, assigned to vdonato

[2022-08-19 00:38] vdonato commented on #5178
Hey @jonstrutz11,

I had some time to do some digging on this and believe I was able to find the WSL issues that I only vaguely remembered before: https://github.com/microsoft/WSL/issues/4581, https://github.com/microsoft/WSL/issues/4739, https://github.com/microsoft/WSL/issues/4064 (there are also a bunch of other related issues linked from those three).

The summary of what I've been able to fin

[2022-08-19 01:43] vdonato commented on #5178
Update: it looks like this is going to require some more investigation, as it turns out that I actually didn't have any issues running the minimal example on my windows machine 😬 (Whoops, sorry for jumping to conclusions on finding a few WSL bugs that I thought explained the behavior.)

One thing to try in the meantime would be setting the `server.fileWatcherType` config option to `"poll"` since,

[2022-08-19 03:25] longlong1214 opened #5199 "Stremalit hello fails in anaconda"
### Summary

TypeError: Protocols cannot be instantiated

### Steps to reproduce
streamlit hello

File "C:\Users\user\anaconda3\lib\site-packages\tornado\http1connection.py", line 273, in _read_message
    delegate.finish()
  File "C:\Users\user\anaconda3\lib\site-packages\tornado\routing.py", line 268, in finish
    self.delegate.finish()
  File "C:\Users\user\anaconda3\lib\site-packages\tornado\

[2022-08-19 04:12] vdonato commented on #5199
Hi @longlong1214,

This is actually a bug with Python 3.9.7 that we weren't previously running into because we weren't using `typing.Protocol` until streamlit 1.12.0.

Please see the discussion in #5140 for more information. I would recommend upgrading your Python version to any version later than 3.9.7 to fix this.

[2022-08-19 04:12] #5199 closed, assigned to nobody

[2022-08-19 08:38] snehankekre commented on #1326
For version 1.12.0:
[code]

[2022-08-19 10:52] royassis commented on #1326
Also you can do

[code]

[2022-08-19 11:00] dconathan commented on #4899
+1 was looking for this feature, have a use case for an autosuggest/autocomplete type interface

[2022-08-19 17:23] joy-void-joy commented on #4899
Would you prefer that it performs the actions asynchronously? I think I can change the PR to make it that way

Sure, I'll do that. If you change your mind about the PR or want me to change something about it, let me know!

[2022-08-19 18:44] vdonato commented on #5147
Closing as inactive + also because I'm fairly certain that this was fixed in 1.12.0

[2022-08-19 18:44] #5147 closed, assigned to nobody

[2022-08-19 19:24] blackary opened #5204 "Emptying empty() container doesn't work"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

[See the app here](https://playground.streamlitapp.com/?q=empty-doesnt-work)

If I create an empty container, and then use with ... to add multiple elements to it, and then do it a second time, the old elements are not removed, but rather replaced one at a time.

So far that seems rea

[2022-08-19 19:26] blackary commented on #5204
Duplicate of https://github.com/streamlit/streamlit/issues/5044

[2022-08-19 19:26] #5204 closed, assigned to nobody

[2022-08-19 19:28] blackary commented on #5044
[See the app here](https://playground.streamlitapp.com/?q=empty-doesnt-work) to see issue for container entries in general, and how it can be fixed by adding a sleep after emptying

[2022-08-19 20:41] ryantaylor406 commented on #5181
Hey @kajarenc  thanks for the quick reply.

Are you referring to the config.toml file? If so, yes I do have it set up like this:
[code]
And setting this value to 4096 did not seem to work.

I can upload the same file without error with your [st.file_uploader demo app](https://doc-file-uploader.streamlitapp.com/) that appears to be hosted on your cloud so I believe this rules out a firewall issue.

[2022-08-19 23:21] vdonato commented on #5127
Hm, I had a bit of time to look into this, and it may be somewhat nontrivial to implement.

What's going on here is that the value of `pydeck.settings.custom_libaries` probably isn't making it to the Streamlit frontend, and the Streamlit frontend is built with a collection of commonly used PyDeck layers so can only render layers that exist in that static list.

To support custom layers, we would h

[2022-08-19 23:28] giswqs commented on #5127
Thanks for looking into this. It would be great to add support for custom layers. It opens up a whole lot more possibilities for pydeck_chart(), such as XYZ tile layers, WMS tile layers, and tile layers from Cloud computing platforms, such as Google Earth Engine and Microsoft Planetary Computer. Without custom layers, pydeck_chart() can't really deal with large volumes of satellite imagery except

[2022-08-20 01:04] fplanque commented on #688
I need this too.

Just a simple `on_click` event and a way to get the line index would already do wonders !

(Checkboxes on each row would also be an alternative, though in my case I don't need multiselect)

[2022-08-20 16:57] asehmi commented on #1326
This doesn't work for me. (I added t.start() and added a sleep wait loop on the text write, and also print to to the console.) The text isn't reported in Streamlit, but is to the console.

[2022-08-20 17:04] LucaPaganin commented on #4585
Same issue here on Mac OS Monterey on intel

[2022-08-20 17:14] deepeshdm commented on #313
somebody should really add the HTTPS feature to streamlit !

[2022-08-20 21:17] bwhitesell commented on #5125
### Reproduced
I copied the `main.py` [file](https://github.com/DavideFerri/streamlit_bug/blob/main/main.py) provided by @DavideFerri  down to my local machine. In a dedicated venv w/ streamlit 1.12.0 installed via pip I ran `streamlit run main.py` and was able to reproduce (captured below). I was also able to reproduce on `1.10.0` and the `develop` branch.

### Is Bug?
I am unconvinced however th

[2022-08-21 16:58] shakamoushie opened #5206 "Scrollbar in v1.12.0"
### Summary

The scrollbar is missing for the sidebar sometimes.

**Expected behavior:**

If I move my cursor horizontally to the right of the sidebar, a scrollbar should appear if the number of sidebar elements exceed the length of the page.

**Actual behavior:**

1. Apparently, the sidebar is set to appear at a specified position (SP).
2. If this sidebar width is less than this SP, the scrollbar

[2022-08-22 07:56] gaspardc-met commented on #4866
Hi @jrieke ,

I had missed your prompt answer, my bad
Just sent you an email, if it's still relevant

[2022-08-22 08:23] bwhitesell commented on #5163
### Reproduced
I took the provided python snippet and expanded it into a `reproduce.py` file.
[code]

Running `streamlit run reproduce.py` I was able to render a streamlit page that successfully reproduced the behavior captured in @bsxi 's screenshots. I was able to reproduce this using the `develop` branch. I was also able to reproduce in an isolated virtual env with streamlit `1.12.0` and `1.10.

[2022-08-22 10:31] snehankekre commented on #550
I believe this is no longer an issue with recent versions of Streamlit. With Streamlit v1.12.0, users can display square charts by setting `use_container_width=False` (default), and display short and wide charts by setting `use_container_width=True`:

[code]

![image](https://user-images.githubusercontent.com/20672874/185900682-b04534ec-caf8-4e5d-a732-d73e647af027.png)

[2022-08-22 10:37] fgenoese commented on #550
How would you add a square chart that uses the full width?

[2022-08-22 10:49] snehankekre commented on #550
I'd try [Adjusting Chart Size](https://altair-viz.github.io/user_guide/customization.html#adjusting-chart-size) by setting an appropriate `height` 🤔

[code]

![image](https://user-images.githubusercontent.com/20672874/185903920-851ee45b-14ca-46b2-bb52-cfbcf821d0eb.png)

[2022-08-22 11:05] fgenoese commented on #550
The whole point of this issue was to have a solution that works with different screens - from mobile to desktop. Picking a fixed height is not a solution, unfortunately.

[2022-08-22 11:22] SamK107 commented on #5144
Bonjour, moi j'ai pu arriver en créant l'app multipage avec la class Multipage de [Prakhar Rathi] sur : https://towardsdatascience.com/creating-multipage-applications-using-streamlit-efficiently-b58a58134030
et j'ai créer un simple page login et mettre function app.add_page() à l'intérieur. Un problème cependant avec aggrid streamlit qui refresh au click et ne permet pas les recherche et autre req

[2022-08-22 15:06] mayronjr commented on #4659
Would love for it to be possible to use the css caracteristics. Like 'fit-content', 'min-content' or 'max-content'.

I have a project in here, that need something like this. Its to render various cards of text that doenst have compatible heigths. The actual method of defining it accept only numbers. Why not values like the css counterpart (that accept a variety of inputs)

[2022-08-22 15:38] Albertwallace opened #5208 "Cloud Down?"
### Summary

Tried to deploy an app but got stuck on "please wait", seems the same is happening with the example apps

### Steps to reproduce

Follow the link: https://streamlit-cloud-example-apps-streamlit-app-sw3u0r.streamlitapp.com/?hsCtaTracking=28f10086-a3a5-4ea8-9403-f3d52bf26184%7C22470002-acb1-4d93-8286-00ee4f8a46fb
Code snippet:

[code]

(Please provide a code snippet! This will help expe

[2022-08-22 17:03] lukasmasuch commented on #5208
@Albertwallace Thanks for reporting this issue. The linked app loads fine for me:

<img width="801" alt="image" src="https://user-images.githubusercontent.com/2852129/185978078-1d370421-c4d8-4a07-9619-459bec504721.png">

In case it is still not working for you, it might help to clear the cookies.

[2022-08-22 17:03] #5208 closed, assigned to nobody

[2022-08-22 17:28] AlexanderParkin commented on #611
+1

[2022-08-22 19:57] #5163 closed, assigned to nobody

[2022-08-22 22:11] Maokadtech opened #5212 "keep telling me pls wait"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2022-08-22 23:11] danb27 commented on #4915
+1

Agree with all the points mentioned here by others: PEP 8, import-ability, using the command line. For these reasons, I would also like to be able to set the sidebar title from somewhere other than the file name.

I haven't looked into the feasibility of using `st.page_config`, but that seems like a reasonable place to configure these two things.

I love streamlit and use it on a lot of my pro

[2022-08-22 23:15] amaiya commented on #5146
If anyone stumbles across this, the `streamlit.cli` module was moved to `streamlit.web.cli`.

[2022-08-22 23:21] amaiya commented on #2058
@jrieke :   [This solution](https://github.com/streamlit/streamlit/issues/2058#issuecomment-1075065975) from @ThiruSudha posted above no longer works in `streamlit>=1.12.0`, unfortunately.  What is the recommended way to programmatically set the sidebar width in `streamlit>=1.12.0`?

[2022-08-23 08:21] beth-ouyang commented on #863
+1

[2022-08-23 08:34] parasmehan123 commented on #727
You can use https://github.com/victoryhb/streamlit-option-menu to create a horizontal navigation menu on the top of the page.

[2022-08-23 10:18] animenon commented on #2774
This one seems to the specific to pyarrow, the pyarrow install fails on Mac M1.
That failure is not directly related to streamlit.

[2022-08-23 11:19] woldemarg commented on #4382
How about semi-solution heavily based on [this](https://discuss.streamlit.io/t/creating-a-pdf-file-generator/7613/2?u=volodymyr_holomb):

[code]

[2022-08-23 13:24] kajarenc commented on #5212
Looks like an empty issue, so I close it :)

[2022-08-23 13:24] #5212 closed, assigned to nobody

[2022-08-23 15:02] iemg opened #5215 "st.date_input: Starting day in a week"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

The default first day of a week in st.date_input is a sunday, which is quite unintuitive for users from some regions (e.g. Europe).

### Solution

**MVP:** It would be great, if there would be a parameter whic

[2022-08-23 17:54] theevann commented on #643
I made a very simple audio recorder component that works:
https://github.com/theevann/streamlit-audiorecorder

[2022-08-24 06:13] liuzj039 opened #5218 "Provide a way to change the default width of sidebar"
### Problem
I would like to be able to change the width of the sidebar. In the previous version, the method mentioned in this https://github.com/streamlit/streamlit/issues/2058#issuecomment-816989601 worked well to solve my problem.

However, after the update, sidebar became draggable, but the above method no longer works. I also did not find a parameter where I can change the default width. Pleas

[2022-08-24 07:52] elcronos commented on #3133
Also, interested on this.

[2022-08-24 10:03] kiansina opened #5219 "Timer component"
Having a timer, which counts down would help a lot. As an example for holding an online exam timer would be necessary to limit each question for a period of some seconds.

---

Community voting on feature requests enables the Streamlit team to understand which features are most important to our users.

**If you'd like the Streamlit team to prioritize this feature request, please use the 👍 (thumbs

[2022-08-24 10:04] kiansina opened #5220 "Radio button without pre-selection"
This option is possible as I saw in other platforms. It would be cool if you also add this option.

---

Community voting on feature requests enables the Streamlit team to understand which features are most important to our users.

**If you'd like the Streamlit team to prioritize this feature request, please use the 👍 (thumbs up emoji) reaction in response to the initial post.**

[2022-08-24 14:44] menewol commented on #611
+1 (in 2022)

[2022-08-24 15:49] lukasmasuch commented on #4864
Closing this since it was fixed in a [recent PR](https://github.com/streamlit/streamlit/pull/5214) and will be rolled out with version `1.13`:

<img width="259" alt="image" src="https://user-images.githubusercontent.com/2852129/186463826-c25df830-e2e8-4d83-a9ab-ebd5e19c9a24.png">

[2022-08-24 15:49] #4864 closed, assigned to lukasmasuch

[2022-08-24 17:26] lukasmasuch commented on #5215
@iemg Thanks for your suggestion! This sounds like a useful enhancement 👍  I will forward this feature request to our product team.

For other users reading this enhancement: please upvote if you also want to have this implemented!

[2022-08-24 17:27] lukasmasuch commented on #5171
@PlatonB Thanks for your suggestion! This sounds like a useful addition 👍  I will forward this feature request to our product team.

For other users reading this enhancement: please upvote if you also want to have this implemented!

[2022-08-24 17:31] lukasmasuch commented on #5148
@shakamoushie Thanks for your suggestion! This sounds like a useful addition 👍  I will forward this feature request to our product team.

For other users reading this enhancement: please upvote the issue (👍) if you also want to have this implemented!

[2022-08-24 19:00] ryantaylor406 commented on #5181
Apologies, after further testing, we believe this is an issue with RStudio Connect, not with Streamlit. We were able to spin up a standalone RHEL server and deploy the Streamlit app without file upload issues. Will post the fix once we hear back from RStudio for any other RStudio Connect users who might be facing the same problem.

[2022-08-24 22:36] andrader commented on #5206
I am having the same problem.

[2022-08-24 23:55] shakamoushie commented on #5220
Yes, this would a convenient feature. I currently insert a blank element as the 1st radio button element, as a current workaround.

[2022-08-25 07:10] pravinsundar commented on #5020
@jrieke Is there any update on this, I saw that the feature is planned for the future but any idea by when it would be picked up?

[2022-08-25 08:34] DavideFerri commented on #5125
Hi @bwhitesell, thank you for having a look at it. Understood - is there a way to work around it to get the desired behaviour?

[2022-08-25 09:09] narjissbentouhami commented on #3853
please what was the solution ? I'm facing the same problem now

[2022-08-25 12:08] wobiero commented on #1996
Any workarounds around this issue? Having the same problem.

[2022-08-25 12:46] nbttn1 commented on #4866
Great idea. This would allow us to control how the labels look, independent of the filenames. For example, the landing page might be main.py, but we want to label it "My Home Page". Hope this idea makes it into streamlit.

[2022-08-25 14:27] alvarezej opened #5225 "s"

[2022-08-25 14:27] #5225 closed, assigned to nobody

[2022-08-25 14:28] alvarezej commented on #5225
please delete

[2022-08-25 15:35] matheusrempel commented on #5020
@jrieke I wanted to contribute myself here and say that it would be hugely convenient to have the feature to save the front-end app state as a static report or PDF. I took a look at the roadmap you mentioned and it all looks very exciting. That said, being able to print to pdf is now something that I've needed for a few apps and every time I have to either pray that printing to pdf works (as of th

[2022-08-25 15:55] jonstrutz11 commented on #5178
@vdonato setting `server.fileWatcherType` to `"poll"` is working for now - thank you!

[2022-08-25 17:48] PlatonB commented on #5171
@LukasMasuch It might be a good idea to implement the new widget as a hybrid with `st.text_input`:

![Streamlit_directory_chooser_PlatonB](https://user-images.githubusercontent.com/25541767/186739498-ed2c057a-0682-48f3-bf00-29a2cc29a968.png)

[2022-08-25 18:56] Khalilsqu commented on #4915
This is a peculiar way to add icons (emojis) into options from file names. Now I cannot run the app.
![image](https://user-images.githubusercontent.com/22060413/186746234-43cc46fd-681e-4804-9bc2-5b78a6aba7c3.png)

[2022-08-25 19:01] Khalilsqu commented on #4915
I cannot run the app; it says the file does not exist, but it is definitely there! is there any restriction on the emojis we can use?

![image](https://user-images.githubusercontent.com/22060413/186746979-435abbe0-cd25-48e7-ab26-c1c4249c1e78.png)

[2022-08-25 20:00] treuille opened #5228 "st.json doesn't display lists of strings properly"
### Summary

`st.json()` doesn't display lists of strings properly. This is valid JSON, right?

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

The list of strings displays properly.

**Actual behavior:**

The list of strings **doesn't** display properly.

<img width="738" alt="image" src="https://user-images.githubusercontent.com/1673013/186757457-8481d2ce-115a-4f51-98b9-86

[2022-08-25 20:15] treuille commented on #5228
Update. Hopefully [this pull request](https://github.com/streamlit/streamlit/pull/5223) fixes this!

[2022-08-26 01:13] Haebuk opened #5232 "st.form cannot receive other`s response value by argument"
### Summary

with in st.form, latter select box cannot receive former select box`s response.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

In`

[2022-08-26 02:02] arogozhnikov commented on #647
+1 very simple, very annoying, a real roadblock for pages with multiple inputs.
Additionally, because of this label text is misaligned with other elements in other columns and it looks like a broken layout.

[2022-08-26 05:45] kmcgrady commented on #5228
This has been fixed in 12.2.2

[2022-08-26 05:45] #5228 closed, assigned to nobody

[2022-08-26 05:47] kmcgrady commented on #4909
We noticed some issues with this that we need to revert the change and reopen this issue. We will work on a better solution in the future. In the meantime, the recommended practice is to move the Enum class to a different file and import it.

[2022-08-26 07:04] Alexandru-Ioan-Popovici commented on #5170
Thank you, Vincent, for your reply!
I now have another issue as to st layout: how can one place a button or other interactive widget in the center or anywhere else within a column?

    On Wednesday, August 17, 2022 at 01:04:51 AM GMT+3, Vincent Donato ***@***.***> wrote:

Hi @Alexandru-Ioan-Popovici, thanks for pointing this out.

Note that st.write ends up calling st.markdown for this type of te

[2022-08-26 07:57] #4918 closed, assigned to nobody

[2022-08-26 07:57] #4931 closed, assigned to nobody

[2022-08-26 08:17] AndreLobato opened #5234 "Set date format for date_input widget"
### Problem

I want to be able to specify the date format displayed in the date_input widget, at the moment defaults to `%Y/%m/%d`.

Similar to Slider `format` option perhaps? as suggested here... https://discuss.streamlit.io/t/datetime-format-with-date-input/21272

Cheers!

---

Community voting on feature requests enables the Streamlit team to understand which features are most important to our

[2022-08-26 09:55] MANISH-553 opened #5235 "Development of a web application on the data processed by chemical sensors for Air pollution"
**Link to doc page in question (if any):**

**Name of the Streamlit feature whose docs need improvement:**

**What you think the docs should say:**

[2022-08-26 11:17] sglbl commented on #3853
I solved the problem by changing python file name. I named it as streamlit.py and I think this had a conflict with "import streamlit as st". Also you can upgrade the Streamlit version to latest if it's not up-to-date.
When I changed the name of file, problem resolved.

[2022-08-26 11:25] mjpost commented on #1326
Does `add_script_run_ctx(t)` have to be called immediately after the thread is created?

I'm working with an asynchronous library that works via callback functions. I'm hoping that these functions, when called, can update the browser window. However, the callbacks appear to be called from a "dummy" thread. I've tried to do the following:

[code]

Adding the call to `add_script_run_ctx` removes the

[2022-08-26 11:57] narjissbentouhami commented on #3853
thank you very much.
I just upgraded Streamlit and it worked for me.
Le ven. 26 août 2022 à 12:18, Süleyman Gölbol ***@***.***> a
écrit :

[2022-08-26 12:14] #4943 closed, assigned to sfc-gh-tszerszen

[2022-08-26 12:14] lukasmasuch commented on #5234
@AndreLobato Thanks for your suggestion! This sounds like a useful enhancement 👍  I will forward this feature request to our product team.

For other users reading this enhancement: please upvote the issue (👍) if you also want to have this implemented!

[2022-08-26 12:15] lukasmasuch commented on #5220
@kiansina Thanks for your suggestion! This sounds like a useful enhancement 👍  I will forward this feature request to our product team.

For other users reading this enhancement: please upvote the issue (👍) if you also want to have this implemented!

[2022-08-26 12:42] rajanant commented on #4831
I see same problem in your example with form.

Select one item first time - submit - all ok
select one more item - submit - currently selected item disappiared - left that was selected previously
select in third - submit - again everything ok
looks like it works on odds steps

[2022-08-26 13:34] lukasmasuch commented on #4899
@blackary created a text input component that supports live updates 🎉: https://github.com/blackary/streamlit-keyup

[2022-08-26 13:39] blackary opened #5237 "Disabled checkbox callback gets triggered sometimes when other checkbox is toggled"
### Summary

With two checkboxes, one with a callback that includes a 1s sleep, toggling checkbox 1 also triggers the callback for checkbox2 *sometimes), even if checkbox 2 is disabled.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

countA_changed count would increment with each click.
countB_changed count would remain 0.

**Actual behavior:**

countA_changed count increme

[2022-08-26 14:35] altanner commented on #647
Agree, this is really important for what we are trying to do - and ditto for number inputs / date inputs / sliders, any kind of inputs - blank labels and no gaps would be amazing! thanks 🙂

[2022-08-26 14:45] andrader commented on #4489
I have the same problem when displaying a pd.DataFrame with a column of datetime.timedelta objects.

[2022-08-26 14:58] totalhack commented on #2169
Are there any plans to get this implemented soon, or other workarounds with streamlit updates over the past 2 years?

[2022-08-26 15:01] ayushr2 opened #5239 "`streamlit run` does not work when the python file is in root directory."
### Summary

Running something like `streamlit run /foo.py` crashes.

### Steps to reproduce

[code]

**Expected behavior:**

This crash should not happen since there is not documented constraints of where the python file can be placed.

**Actual behavior:**

Crashes as shown in reproducer.

### Is this a regression?

I am not sure. Have not bisected across versions.

### Debug info

- Streamlit v

[2022-08-26 15:48] nihiluis commented on #3379
I know that's an important question, so have you decided on that @jrieke.

 btw there are many good UI libraries which implement both. it's solved and there are valid use cases.

[2022-08-26 16:13] cmayoracurzio opened #5240 "Impossible to highlight the selection text in `st.selectbox` to delete it all at once"
### Summary

- When using the `st.selectbox`, you cannot highlight the text of the current selection and delete it at once (e.g., using backspace key).
- Sometimes it lets you highlight the selection text, but only when `st.selectbox` is not in focus (so backspace key doesn't do anything).
- This means users are only able to delete any selection letter by letter.

### Steps to reproduce

[![Open i

[2022-08-26 18:31] lukasmasuch commented on #647
@kajarenc is working on a solution for this and it will be - most likely - released with version `1.13` :) You can track the work here: https://github.com/streamlit/streamlit/pull/5104

[2022-08-26 20:57] willhuang1997 commented on #5206
Hi everyone, thanks for bringing this up. We have already determined that this is a bug and that is being currently recoded here: https://github.com/streamlit/streamlit/issues/5142.

I am following up as to what we are going to do about this and will get back to this thread.

[2022-08-26 20:59] jihok opened #5249 "`make conda-package` doesn't include frontend changes"
### Summary

Resulting build from `make conda-package` doesn't include frontend changes

### Steps to reproduce

1) commit a small but noticeable change in streamlit.css (e.g. change body background color to green) so that `conda build` uses  the right `GIT_HASH`
2) run `make conda-package`
3) in another repo that consumes the new conda build, `conda install --use-local streamlit`
4) observe backg

[2022-08-26 21:30] vdonato commented on #5235
Hi @MANISH-553, this seems a bit too specific of an example for us to want to include in our normal documentation, but it may end up making a good [blog post](https://blog.streamlit.io/)!

I'll pass this idea along to our community team but will close this issue given that I think it's unlikely that it'll be something we want to add to our normal docs.

[2022-08-26 21:30] #5235 closed, assigned to nobody

[2022-08-26 21:44] vdonato commented on #5232
Hi @Haebuk,

This is expected behavior. The way that `st.form` works is that the app only reruns when the form button is submitted, so changing the first selectbox in a form will not have any effect on the second selectbox until the submit button is pressed.

[2022-08-26 21:44] #5232 closed, assigned to nobody

[2022-08-26 22:52] zainahmed2000 opened #5250 "streamlit issue"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

![image](https://user-images.githubusercontent.com/85029018/187000469-138e051e-302e-436c-b284-4c56c6a79dff.png)

[2022-08-26 22:56] edsaac opened #5251 "Latex not rendered in plotly charts"
### Summary
`st.plotly_chart()` does not render latex in plot elements.
The [`include_mathjax`](https://plotly.com/python-api-reference/generated/plotly.graph_objects.Figure.html?highlight=include_mathjax) kwarg might take care of this but passing it to `st.plotly_chart()` makes no difference. Using raw strings or double dollar signs makes no difference either.

### Steps to reproduce

[![Open in

[2022-08-26 23:01] vdonato commented on #5250
Hi @zainahmed2000, this is due to a bug in Python 3.9.7, so we recommend upgrading your Python version to fix it.

Please see https://github.com/streamlit/streamlit/issues/5140 for more information.

[2022-08-26 23:01] #5250 closed, assigned to nobody

[2022-08-27 03:44] tk42 commented on #3899
Any update?

[2022-08-27 13:05] edsaac commented on #5251
Here is a better example (and a possible fix). Exporting the plotly figure to HTML using `include_mathjax='cdn'` seems to do the trick, but it won't work with `st.plotly_chart` component.

![latexPlotlyIssue](https://user-images.githubusercontent.com/34405119/187031447-9adde8e0-fa54-4613-a476-46ac154456a6.gif)

[code]

[2022-08-27 16:51] amdsrinivas commented on #5144
@totalhack

I had run into a similar problem and stumbled across your issue. On some tinkering with approaches, I feel streamlit as a library should not do auth as it would only lead to streamlit forcing some specific types of authentication (like the ones you have mentioned) on the developers.

Perhaps python decorators might come in handy here.

### pages/decorators/login_utils.py
[code]

### pa

[2022-08-27 18:19] naomilago commented on #3052
Any update? I'm struggling to vertically align this lottie animation centered with the body text...

![image](https://user-images.githubusercontent.com/55967510/187043148-70b82aee-bc5a-4438-95d4-0873856367f8.png)

[2022-08-27 19:16] n33-raj opened #5253 "Bug"
...

[2022-08-27 22:58] arogozhnikov commented on #1083
solution by @kmcentush previously worked, but does not work after upgrade to 1.12

[2022-08-28 02:44] kmcentush commented on #1083
@arogozhnikov refer to https://github.com/streamlit/streamlit/issues/5166

[2022-08-28 07:09] treuille opened #5254 "st.experimental_singleton should have a ttl parameter"
### Problem

Suppose I have a persistent database connection:

[code]

One problem with such connections is that they often timeout after a certain period of time, for example if the server has a TTL (time to live) for incoming connections.

### Solution

Ideally, I would never encounter a timed-out connection, one way to enable this would be to have a `ttl` parameter for singleton, just like `st.

[2022-08-28 08:18] PlatonB opened #5255 "[Regression][Conda] ModuleNotFoundError: No module named 'streamlit.cli'"
Conda: 4.14.0
Python: 3.9.13

After upgrading to versions 1.12.0 and 1.12.2, Streamlit no longer launches.

`streamlit run _gui_streamlit.py`

[code]

[2022-08-28 10:27] amaiya commented on #5255
It [was moved](https://github.com/streamlit/streamlit/issues/5146#issuecomment-1223306586) to `streamlit.web.cli`.

[2022-08-28 12:55] totalhack commented on #5144
Hey @amdsrinivas, thanks for the decorator example. I think that's a useful starting point for anyone comfortable managing access control in a more fine-grained but less safe way (due to the potential that someone forgets the decorator down the road). However, I think many/most production cases require a more robust solution.

Note that my suggestion does not force any particular authentication me

[2022-08-28 13:54] cldeluna commented on #1019
Another Upvote for the directory picker feature!

[2022-08-28 15:03] astrowonk opened #5257 "When binding to unix socket, startup script still shows TCP port"
### Summary

As of #1802, one can bind to a unix socket (useful for reverse proxy situations) by running something like

` streamlit run --server.address "unix://mysocket.sock" my_app.py`

However, the script still reports/prints a local url/network url for port 8501 that doesn't exist.

### Steps to reproduce

Run any streamlit app with a unix socket:

[code]

**Expected behavior:**

The URLs or

[2022-08-29 04:36] AkshayPrabhakar007 opened #5258 "App reruns by itself when I use filter functions of AgGrid Table"
### Summary

When I use the filter function (like contains, equals etc) of AgGrid table of my streamlit app, it refreshes the app and all the progress is lost, app starts from beginning.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the

[2022-08-29 07:54] willhuang1997 commented on #5239
Hi @ayushr2 , thanks for reporting this. I tried reproducing it on my mac system but I couldn't quite reproduce it. Is there a reason why you're putting in the root folder? That seems a little odd.

[2022-08-29 08:07] willhuang1997 commented on #5240
Hi @marduk2 , thanks for submitting this issue. This seems like more of an enhancement rather than a bug. However, this does seem like an odd thing and this would probably have to be looked into and prioritized by product.

As a workaround, you can click on it, do one backspace and then do a command + a or ctrl + a in order to select everything and backspace.

Let me know if you still think this i

[2022-08-29 08:23] willhuang1997 commented on #5249
Hi @jihok , I don't think changing the streamlit css is the right way to do things. In general, you should be using streamlit components without changing their css or if you need to do something custom, you can use the html component (https://docs.streamlit.io/library/components/components-api)

I'm not an expert as to how the flow of anaconda works but maybe @vdonato  can answer if this is the wa

[2022-08-29 08:28] #5253 closed, assigned to nobody

[2022-08-29 10:04] robertmartin8 commented on #4344
Hi, I'm a longtime user of streamlit and have suggested it to lots of people at my company – great tool!

I've been wanting to deploy a personal project (public on github) to streamlit cloud, but the permissioning is a nonstarter. I don't intend to deploy any of my private repos so it just doesn't make sense that streamlit needs read/write permissions to private repos.

I think one should be able

[2022-08-29 12:02] haphaeu opened #5262 "AttributeError: 'Deck' object has no attribute 'deck_widget'"
The application was running fine for a couple of months. After the last container re-build, baang:

[code]

My `Dockerfile`:
[code]

And my reqs - I've just added the revs, tested with `streamlit` 1.4, and 1.12.... same error:

[code]

[2022-08-29 12:34] sfc-gh-kbregula commented on #5262
Here is the fix: https://github.com/streamlit/streamlit/pull/5248
Please install the previous version:
[code]

[2022-08-29 12:34] #5262 closed, assigned to nobody

[2022-08-29 12:56] BhanaramChoudhary opened #5263 "please wait"
### Summary
i have ran a normal code st.title('anime recommender'), after that i have type streamlit run app.py(in terminal). Than it open a webpage in chrome but there nothing on display, there is only two words please wait.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide th

[2022-08-29 13:04] haphaeu commented on #5262
Thanks! Figured reason was pydeck 0.8.0b1... not sure why pip is installing a beta release...

By the way: pyde**c**k

[2022-08-29 13:17] sfc-gh-tszerszen commented on #5263
@BhanaramChoudhary thank you for reporting the issue, can you provide more info, especially the Streamlit version which you are using?

See #**Debug info** section

* Streamlit version: (get it with $ streamlit version)

[2022-08-29 14:21] ayushr2 commented on #5239
@willhuang1997, this reproduces on Linux. If you don't have access to a Linux machine, you should be able to repro using Docker.

[code]

I work on [gVisor](https://github.com/google/gvisor). We have multiple customers who are running streamlit under this setting. We were investigating this failure and noted that this is not a gVisor bug, because it happens on Linux too. And that [`proc(5)`](https

[2022-08-29 14:25] ZeroCool940711 commented on #3344
@R-N I'm also having issues with this on an app I'm trying to port from Gradio to Streamlit, at some point I was in need of putting three buttons next to each other and two checkboxes also next to each other with a yes and no option, I could easily just put two columns there but unfortunately streamlit doesn't give you freedom enough to do what you want, so, I went and modified the streamlit code

[2022-08-29 14:40] stephen-farris-jhuapl-edu opened #5265 "Add `on_focus` event to input widgets"
### Problem

It would be great to have a way to tell when an input (e.g. a text box or text area) has focus. Right now I'm trying to work around this with the on_change event which is non-ideal, but that isn't working since the on_change event only fires for text areas when the control loses focus, and for text boxes when the user hits ENTER. It would be wonderful to have this feature.

### Soluti

[2022-08-29 14:43] PlatonB commented on #5255
@amaiya @willhuang1997 In my case `cli` is not called from my code. Apparently, the bug is in some Streamlit module that is trying to import `cli` from the old location. Please reopen the issue.

[2022-08-29 14:55] xR86 commented on #5053
I also had this issue, but it appears that it does approximately what you proposed, @Vinno97 ?
The [docs](https://docs.streamlit.io/library/api-reference/widgets/st.download_button) mention that you could have a callback for this.

Not sure if I'm missing some nuance with blocking when downloading large files, but I've already used this for data to be generated on click, regardless if it's data fi

[2022-08-29 16:38] jrieke commented on #5170
We already have this tracked in #868. Closing here since that issue is older. As Vincent said, it's expected behavior in markdown though, so probably not a ton we can or want to do...

[2022-08-29 16:38] #5170 closed, assigned to nobody

[2022-08-29 16:40] jrieke commented on #5170
Re your other issue, it's currently not possible to center align elements (except for text via HTML). That's an intentional choice as of now. What's your use case for this @Alexandru-Ioan-Popovici? Would be great to see a sketch or screenshot, so we can see what the underlying problem is.

[2022-08-29 16:41] jrieke commented on #5170
Oh ok, seeing now that #868 is not *exactly* the same problem, but it's very close, so I'll keep this issue closed and just put a comment in the other issue.

[2022-08-29 16:42] jrieke commented on #868
Related: #5170 mentions that multiple "\n" don't produce multiple newlines. Slighlty different but it's also related to markdown parsing of new lines, so keeping this in here.

[2022-08-29 17:02] arogozhnikov opened #5267 "Altair plots do not properly render multiline strings"
### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

text within each cell should be rendered in three lines

<img width="307" alt="Screen Shot 2022-08-29 at 12 00 13 PM" src="https://user-images.githubusercontent.com/6318811/187254741-1699f9d1-0352-47c3-9410-8a313ff8a39d.png">

**Actual behavior:**

array is stringified and rendered in a single line

<img width="278" alt="Screen

[2022-08-29 18:05] jrieke commented on #4483
Gotcha. We are doing this automatically if you use [the official multipage feature](https://docs.streamlit.io/library/get-started/multipage-apps), so might be a good idea to use that. I see that there might be use cases beyond multipage apps, so I added this to our internal tracker. But I think it's low prio, so don't expect this anytime soon.

[2022-08-29 18:14] willhuang1997 commented on #5255
Hi @PlatonB , thanks for your comment. I went a little too fast and thought I could close this issue. Do you have any code to reproduce the issue? It looks like you're using anaconda right?

[2022-08-29 18:18] willhuang1997 commented on #4344
Hi @robertmartin8 , thanks for your thoughts. We'll keep this in mind but if you want to create an enhancement and have other people react / comment to that enhancement, that will increase the chance of your thoughts being prioritized.

As for your deploy not working, can you post your issue and the logs onto discuss.streamlit.io ? This issue tracking is specifically for streamlit open source issu

[2022-08-29 18:26] PlatonB commented on #5255
@willhuang1997 I am using Conda installed via Miniconda. To reproduce the issue, just try `streamlit hello`.

[2022-08-29 18:40] lukasmasuch commented on #5267
@arogozhnikov Thanks for reporting this issue 👍  I was able to reproduce this, but it needs some more investigation to figure out we solve this.

[2022-08-29 18:59] alex180500 opened #5268 "Customize font of widget labels"
# Idea
Add a way to change font properties like **font size, bold or italic** in input boxes like `st.text_input`, `st.text_area` or `st.number_input`.

## Example of Usage
Adding something like a `font_size` kwarg would be nice.
[code]
this should display a bigger text input box (adding a width parameter will also be nice but it's outside the scope of this).

---

Community voting on feature requ

[2022-08-29 20:22] lukasmasuch commented on #5254
Thanks for the suggestion :) we are working on some improvements for `st.experimental_singleton` and `st.experimental_memo` this quarter and this sounds like a useful feature to add. FYI @kajarenc @jrieke

[2022-08-29 21:00] willhuang1997 commented on #5255
Hi @PlatonB , I just did a clean install of miniconda and did a `streamlit hello`. It seemed to work. I also did a
1. ` pip install streamlit==1.12.0`
2. `pip install streamlit --upgrade`
3. `streamlit hello`

and I couldn't reproduce the error. Are you sure something is not going on with your environment? Maybe try uninstalling and installing streamlit?

[2022-08-29 23:42] vdonato commented on #5258
Hi @AkshayPrabhakar007, this sounds like something that would be more appropriate to report in https://github.com/PablocFonseca/streamlit-aggrid

[2022-08-29 23:42] #5258 closed, assigned to nobody

[2022-08-30 00:13] vdonato commented on #5249
Hi @jihok,

I don't think the issue you're seeing is that `make conda-package` isn't picking up frontend changes, but it's that the changes being made don't actually have an effect on Streamlit's background color. Most of Streamlit's styling is controlled by Streamlit's [theming feature](https://blog.streamlit.io/introducing-theming/), and the contents of `streamlit.css` are only used to bootstrap

[2022-08-30 00:13] #5249 closed, assigned to nobody

[2022-08-30 00:33] vdonato commented on #5255
Hey @PlatonB,

Thanks for reporting this. This issue was caused by the `conda-forge` distribution of Streamlit not being supported in the same official capacity as our PyPI distribution (it's technically community supported), so we didn't catch that a refactor of some of the streamlit internals broke the conda-forge distribution. I have a PR out to fix it (https://github.com/conda-forge/streamlit-

[2022-08-30 05:43] bwhitesell commented on #5125
Hey @DavideFerri no problem! I believe you could set the default value to a constant or a variable that does not change with respect to the output of `st.radio`. E.g.
[code]

[2022-08-30 07:54] PlatonB commented on #5255
I got a fresh update and the problem is gone. Thanks!

[2022-08-30 09:30] navid-servier commented on #1010
Hello,
I'd like to open a new discussion related to this selectbox filtering subject. I'm also having unexpected results when filtering my selectbox , and I don't see the best matches listed on top of the list. For example , I have a huge list in my selectbox, and when I filter with the string "WRN", I expect to see the options starting with this string (or at list options containing it) on top, h

[2022-08-30 10:08] ysig opened #5272 "st.map() : display image on hover over scattered points"
Extremely simple use case:

I want to have a map that to which I can hover over points and see the image associated to each point.

This is easy to do in plotly but it doesn't seem to be easy to do in `streamlit`.

Note: I tried using `streamlit` for it's easy deployment as the server I am using doesn't give me a global address or port, which you seem to provide, but now I will have to use somethi

[2022-08-30 11:25] admo1 commented on #1139
I also have this issue when using K8s ingress.

[2022-08-30 14:16] PlatonB commented on #4523
Unfortunately, in 1.12.2 the issue remains.

@uyjco0 I guess you couldn't reproduce the problem because of the very short time of processing your data.

[2022-08-30 14:55] GeorgeVJose commented on #4788
Hi,
Any update on this? Can anyone recommend the right way to use multiprocessing? Also, I am using muti-pages in my streamlit app and one of the pages uses multiprocessing.

[2022-08-30 15:22] kajarenc commented on #5239
Hello, @ayushr2, and thanks for the detailed response!

I think this is the same bug, we discussed here https://github.com/streamlit/streamlit/issues/4842

Yes, we not support running streamlit from the OS root directory since 1.10 .

We recommend specifying WORKDIR in Dockerfile https://docs.streamlit.io/knowledge-base/tutorials/deploy/docker

CC: @snehankekre it would be great to add a paragraph

[2022-08-30 16:37] vdonato commented on #5239
Hm, so I think that even with a workaround, we'll want to fix this rather than add an item to our docs about it (although the docs item is necessary until a fix is merged).

I do think doing so is relative low priority given that we do have an easy workaround for it, though.

[2022-08-30 18:48] #5145 closed, assigned to mayagbarnes

[2022-08-30 21:07] vdonato commented on #5181
Thanks for following up on this @ryantaylor406! Going to close this since it seems like it isn't an issue with Streamlit, but please do post the fix once you hear back in case others running into the same problem stumble upon this issue.

[2022-08-30 21:07] #5181 closed, assigned to nobody

[2022-08-31 01:38] UFO-101 commented on #3431
This is still unchanged. When the slider has too many possible values, the whole tab crashes. There should probably be a warning or something to help people work out what's going on.

[2022-08-31 10:54] jrieke commented on #4519
As Vincent stated above, this behavior was intentional. We wanted to give users a way to report where an error is coming from. But I can see that it could be problematic. We're looking into it and will see if we want to change it!

[2022-08-31 13:01] ThomasEvooq commented on #1567
+1 here as well

[2022-08-31 13:47] alon-sht commented on #4996
I think I have a similar problem, this is my code:

`import streamlit as st
radio=st.radio("Selection",range(1,4))
if radio==1:
    a=st.tabs("A B C D".split(" "))
if radio==2:
    b=st.tabs("E F G H I J K".split(" "))
if radio==3:
    c=st.tabs("L M N O P Q R S T U V W X".split(" "))
`
Steps to reproduce:
1. Go to radio button 3
2. Select tab X for example
3. Go back to radio button 1 or 2

![ima

[2022-08-31 13:57] bulend-karadag commented on #3601
I would like to reiterate the request of @kinghuang, `I believe the on_change callback should be called when a widget sets the initial/default value.`
I have several selectbox chained dynamically. If there appear only one option in one of those selectboxes, the rest won't work because I am not able to call on_change function. I mean that on_change callback is not called by the selectbox with one o

[2022-08-31 16:01] jrieke opened #5284 "Allow columns inside columns"
### Problem

There's no way to use `st.columns` inside `st.columns` right now.

E.g. if you do:

[code]

it throws an exception.

Note that this is just an aritificial limitation today. There's nothing technically preventing columns inside columns. We just limited this to prevent users from creating weird layouts and having them do any kind of layout with columns (just like HTML tables were used i

[2022-08-31 16:26] paluchnuggets commented on #5220
As a temporary solution I am using hacked checkboxes. No preselected box and only one can be picked at a time. Hope you find it useful 😄 .

[code]
<img width="408" alt="Screenshot 2022-08-31 at 18 25 55" src="https://user-images.githubusercontent.com/41453558/187730074-8b8e095b-1ee9-4ccf-a6b5-550d79137127.png">

[2022-08-31 16:37] ZeroCool940711 commented on #5284
@jrieke Thanks for opening an issue for this.
I think that just allowing columns to be used inside another column would be good enough, at least for now as it's just simple removing a couple lines of code as I did on my PR and also because people probably already use columns for other things so you will just be giving people more options instead of limiting them, I also understand what you said ab

[2022-09-01 05:19] andfanilo commented on #5020
This is an ultra experimental CSS Hack, just to see if it works on some other browsers and apps than mine, plus it doesn't take into account theme background, the dimensions and margins are not correct, plotly charts are reset before printing because there's a rerun implied, the sidebar is missing and probably a lot of other buggy stuff...[here's a link to my current experiment](https://gist.githu

[2022-09-01 08:57] littleK0i commented on #5156
I experience this problem as well. It would be nice to have or workaround.

Thank you.

[2022-09-01 09:50] littleK0i commented on #1360
Following as well.

[2022-09-01 13:14] nrontsis commented on #3218
@kmcgrady is there any road towards no needing to mention the hack of my previous comment?

[2022-09-01 13:51] hzy-del commented on #5263
Has anyone solved this problem? I had the same problem

[2022-09-01 14:31] andfanilo commented on #5263
Hey @hzy-del can you provide more information about your system, as specified in the **Debug Info** , anything that can help the team reproduce your issue? Otherwise we can't make any deduction about why it fails

**Debug info**

* Streamlit version: (get it with $ streamlit version)
* Python version: (get it with $ python --version)
* Using Conda? PipEnv? PyEnv? Pex? How did you install Streamlit

[2022-09-01 14:36] ghost commented on #4650
+1

[2022-09-01 14:51] andfanilo commented on #5284
I (again) had the question recently on how to do something like this easily:

[code]

Generally speaking I "feel" this grid 🔼 is what most people want (and expressed regularly after https://github.com/streamlit/streamlit/issues/309#issuecomment-539632818).

I can testify that a long time ago, I had the change to experiment with a "columns in columns" build, and apart from odd margins between widge

[2022-09-01 15:03] mateuspestana commented on #611
+1 for this feature, as it would be amazing!

[2022-09-01 15:15] zheldwjstjf opened #5291 "A header with Japanese text has no anchor link."
### Summary

I found that a header with Japanese text has no anchor link.

### Steps to reproduce

Code snippet:

[code]

1. Run code snippet above.
2. Check if the header has anchor link or not.

**Expected behavior:**

The header ("セクション") has anchor link.

**Actual behavior:**

The header ("セクション") has no anchor link.

### Is this a regression?

No

### Debug info

- Streamlit version: Streamli

[2022-09-01 15:46] whitphx opened #5292 "Rerun pushes undesirable browser history states"
### Summary

When the script reruns, for example by clicking the button (`st.button()`) or more explicitly, clicking "Rerun" from the top-right hamburger menu,
new browser history is pushed even though no page transition occurred.

### Steps to reproduce

Run the following script with `streamlit run`.
[code]

The initial screen looks like this:
<img width="612" alt="スクリーンショット 2022-09-02 0 39 00" s

[2022-09-01 15:58] whitphx opened #5293 "Browser's back button does not work on multipage apps"
### Summary

The page content is not refreshed when browser's back button is clicked on multipage apps.

### Steps to reproduce

Assume that we have the following MPA and run it with `streamlit run home.py`.
[code]

`home.py`
[code]

`page.py`
[code]

1. We start at the home page (pathname is `/`).
2. Navigate to the sub page (pathname is `/page`).
3. **Click the browser's back button**
4. Then, t

[2022-09-01 16:29] whitphx opened #5295 "Multipage routing with URL param or URL hash"
### Problem

When I host Streamlit multipage apps (MPA) through a reverse proxy, the MPA requires the reverse proxy to map the requests to `/*` to `/` so that direct access to the sub-page URLs (`<host>/<pagename>`) can reach the Streamlit server and work as expected.

However, sometimes we don't have enough permission/access to the reverse proxy configuration to make it done.

### Solution

It wo

[2022-09-01 19:57] EngHabu commented on #798
In my case, we deploy the streamlit app and serve it from different subdomains (e.g. https://customer1.mydomain/app and https://customer2.mydomain/app) I would like to know the domain used in the request to identify the customer.

[2022-09-01 20:35] MikeKasp opened #5297 "Mulitpage App config.toml file doesn't work"
### Summary

If created the .steamlit folder in the directory where the main "homepage.py" is stored. In the .streamlit folder I stored the config.toml file. If I want to change the backgroundcolor this has no effect. Does the Multipage App support the config.toml and where I have to store them?

### Steps to reproduce

Code snippet:

<img width="318" alt="Bildschirmfoto 2022-09-01 um 22 44 27" sr

[2022-09-01 20:39] vdonato commented on #5297
Hi @MikeKasp,

I couldn't reproduce this issue. Are you running streamlit from the same working directory that your `.streamlit` folder is in? If not, that could be the problem since we check that directory for the `.streamlit` folder, not the directory where the main script lives (in the case where they're not the same).

[2022-09-01 20:45] MikeKasp commented on #5297
Hi Vincent,

This is the structure.

[2022-09-01 20:56] willhuang1997 commented on #5293
Hi @whitphx , thanks for submitting the bug. That's very odd that it isn't reloading but the url is changing!

[2022-09-01 21:02] vdonato commented on #5297
Hi @MikeKasp, I think the attachment got dropped.

Also, can you confirm that theme info is propagated correctly to a single-page app but stops working once a pages directory + second page is added?

[2022-09-01 21:06] MikeKasp commented on #5297
The Attachment

[2022-09-01 21:09] vdonato commented on #5297
Hi @MikeKasp, I think the issue is likely that email attachments don't actually make it into GitHub issues. It'll be necessary to go to the issues page to upload it manually

[2022-09-01 21:13] willhuang1997 commented on #5291
Leaving this for reference: https://github.com/microsoft/vscode/issues/20626

It looks like from a quick search, it might be possible to deal with these characters through a replacement of invalid characters.

[2022-09-01 21:22] vdonato commented on #5297
Going to close this one as cannot reproduce. Putting the `.streamlit/config.toml` file in the project root directory and running `streamlit run streamlit_app.py` from that directory works as expected on my system (in both the single-page and multi-page situations,which really aren't any different for config file parsing).

I would recommend going to [the forums](https://discuss.streamlit.io/) for

[2022-09-01 21:22] #5297 closed, assigned to nobody

[2022-09-02 01:55] willhuang1997 opened #5299 "Dataframe boundaries are not checked"
### Summary

Looks like dataframes are not properly checking their boundaries for height at least.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**
just render the table to maximum size

Explain what you expect to happen when you go through the steps above, assuming there were no bugs.

**Actual behavior:**
makes a big big table

Explain the buggy behavior you experience when

[2022-09-02 08:17] tomgallagher commented on #3018
I'm also experimenting with deploying Streamlit apps with Docker and Azure Container Apps. It seems like no caching occurs because you need to specify a temporary volume location in the [Azure configuration YAML file](https://techcommunity.microsoft.com/t5/fasttrack-for-azure/azure-container-apps-working-with-storage/ba-p/3561853).

It would be great if we could specify the cache location in Strea

[2022-09-02 09:19] davnat commented on #2360
I think I'm also hit by this, on v1.12.2.
I have some expanders with dynamic content inside, and they keep closing whenever something in the content changes: it's quite annoying.
If expanders had a state key I could try to write a workaround, but this is not the case.
Do you have any suggestions?

[2022-09-02 09:45] tomgallagher commented on #5151
I'm a bit confused about this not being described as a feature request or bug report in multi-page apps. If the `st.set_page_config` is called on the main page and the preference is for `layout='wide'`, then all pages inherit this layout. Great.

However, if you have the app open in a browser on one of the pages (not main), then you go to another tab, do something else, then come back, the layout

[2022-09-02 14:21] plynch-chwy opened #5301 "Error on rerun using multipage app"
### Summary

When updating the code and hitting rerun with an app that uses multipage, it causes an error. The error seems to be based on session state (trace pasted further below).

### Steps to reproduce

Code snippets:
[code]
[code]
[code]
[code]

If applicable, please provide the steps we should take to reproduce the bug:

Python version 3.8.13, Streamlit version 1.3.1
1. `streamlit run app.py

[2022-09-02 17:02] lapique opened #5304 "streamlit_plotly_events"
### Summary
Event conflict between streamlit_plotly_events and  go.Sunburst
### Steps to reproduce
Code:
#########
import streamlit as st
import plotly.graph_objects as go
from streamlit_plotly_events import plotly_events
import pandas as pd
data = dict  (
    character=["Eve", "Cainrrr", "Seth", "Enos", "Noam", "Abel", "Awan", "Enoch", "Azura"],
    parent=["", "Eve", "Eve", "Seth", "Seth", "Eve"

[2022-09-02 17:21] alexscott-ff opened #5305 "Pass state as parameter to `on_change` callback"
### Problem

Currently it seems you need to access `st.session_state` to figure out what value was selected in the `on_change` callback, but that's limiting if you'd like to create more generic functions to handle these things.

### Solution

Send the selected value (and potentially index) automatically to the `on_change` callback function.

### Additional context

This would allow doing something

[2022-09-02 17:49] nafets33 commented on #4489
I added timezone to my dates which works! to get around this error for displaying timedeltas

est = pytz.timezone("America/New_York")
s = datetime.datetime.now().astimezone(est)
e = datetime.datetime.now().astimezone(est)
delta = (e-s)

[2022-09-02 18:05] ghost commented on #2312
I have the same problem, a simple option could be added to the streamlit run command

[2022-09-02 20:11] karenarcoverde commented on #3832
I have the same problem. Any solution for this?

[2022-09-02 23:00] vdonato commented on #5301
Hi @plynch-chwy,

The root cause of this is that widgets don't handle arguments with non-primitive values very well, and what's tripping streamlit up is the lambda function since it gets redefined every script run, which confuses some equality checks. Two workarounds for this exist

* Make the `pages` list a dict, and only pass selectbox the page titles. Then, use the returned page title to index

[2022-09-02 23:00] #5301 closed, assigned to nobody

[2022-09-03 04:17] anhtu812 opened #5311 "not rerun st.cache funtion have create class object when change member function of this class"
my test code
[code]

After first access (show 1 and 1 ), i change self.s = '2' in member function __init__. Second access show 2 and 1. Expected result is 2 and 2.
How to st.cache funtion rerun when change member function of class that created in funtion ???

[2022-09-03 09:15] PaleNeutron commented on #3832
@karenarcoverde , hey, I have wrote an extension https://github.com/PaleNeutron/streamlit-ext .

Which provide a download button allow user download  without rerun.

**But note**, this donwload button currently will embed downloaded file in page, so if you create a button which download a 10 Mb file, every time people view this page will load 10 Mb data!

[2022-09-03 14:53] karenarcoverde commented on #3832
Thanks! I'll test your extension.

[2022-09-03 15:09] ZeroCool940711 commented on #5284
Here is another example of a case where nested columns would be useful:
![image](https://user-images.githubusercontent.com/5977640/188276658-464370f3-5014-442f-8a94-8a1d7129ac35.png)

I was trying to create an image gallery to show all the images generated with stable diffusion, the red boxes show approximately where I wanted to place the images, I had already used columns to divide the layout int

[2022-09-04 01:38] Hichammlll opened #5314 "problem"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2022-09-04 10:56] laurencedewaele opened #5315 "Import cv2 error : module 'cv2' has no attribute 'gapi_wip_gst_GStreamerPipeline'"
### Summary
Hi,
I'm trying to put an app on the Streamlit cloud, this app uses different OCR packages (easyocr, mmocr, ppocr). I can't build a requirement file allowing access to all of these packages, I always have the same error when importing cv2:
`AttributeError: module 'cv2' has no attribute 'gapi_wip_gst_GStreamerPipeline'`

### Steps to reproduce

Code snippet:
My requirement file :

[code]

[2022-09-04 13:59] MuratFan commented on #3853
I think it is only the version problem.
upgrade and then solved it.

[2022-09-04 15:59] lukasmasuch commented on #5314
Closing this issue since it does not contain any information.

[2022-09-04 15:59] #5314 closed, assigned to nobody

[2022-09-04 16:03] Hichammlll commented on #5314
I have a pig problem with my streamlit app when deployment
Can you kindly help me ?

Le dim. 4 sept. 2022 à 17:02, Hicham ***@***.***> a
écrit :

[2022-09-04 17:51] LucaPaganin commented on #4653
Same problem here, any news?

[2022-09-04 17:55] leodatavinci commented on #4543
Hello, I can confirm this. I get an error that the key of the session_state is not initialized when running the app in my studio code. However when activating the application with streamlit run command the code executes without error.

[2022-09-05 03:25] lgidon commented on #5003
Same problem here.
Wish there was a workaround for this.

[2022-09-05 07:21] imsadiku commented on #3832
I've got the same issue. Any progress on this?

[2022-09-05 08:07] q-wertz commented on #4178
Opened a feature request at plotly: https://github.com/plotly/plotly.py/issues/3879

Maybe this helps

[2022-09-05 14:34] colin99d commented on #862
+1

[2022-09-05 20:22] CHerSun commented on #4656
I also badly need something like multiselect with ability to enter new values, not present on options. Not sure if that should be in a form of cascaded text. I absolutely love the way multiselect works, if only it could maybe have 2 extra options - limitation on number of selected items (1 in my case) and an option to allow new values - that would completely cover my case at least.

As for video e

[2022-09-06 05:48] willhuang1997 commented on #5304
Hi @lapique , this seems more like a bug on streamlit_plotly's side. If this is a bug on streamlit's side, can you please clarify why?

[2022-09-06 05:48] #5304 closed, assigned to nobody

[2022-09-06 08:49] PlatonB commented on #4656
@CHerSun Thank you for your support of the idea!

Streamlit for some reason requires to press `enter` after updating `number_input` value, but doesn't require to do it for `text_input`. Following this pattern, after overwriting the value in the text field of cascade widget, no additional action will be needed.

[2022-09-06 09:21] CHerSun opened #5316 "Streamlit regenerates types, which makes type(stored_item)==type(newly_fetched_item) of same type to fail"
### Summary

It looks like Streamlit can generate different version of types on reruns

### Steps to reproduce

Code snippet:

[code]

Above is a short culprit class. Scenario - data is fetched from DB on each rerun (options) and one of items is selected and stored in session (value) (semi-persistent). Then both list and stored item is given to a generic form creation function, which does:

[code]

[2022-09-06 15:22] PlatonB commented on #1980
I propose to implement `st.left_sidebar` and `st.right_sidebar`. Let `st.left_sidebar` be an alias of deprecated `st.sidebar` for some time due to backward compatibility.

[2022-09-06 16:47] willhuang1997 commented on #5299
From LukasMasuch:
it is probably a feature and a bug :) While it can look a bit strange, I also think there are use cases where you want to have the table always respect precisely the height that got specified. For example, this is useful if rendered side by side in columns with a chart that also supports a specific height.

[2022-09-06 16:47] #5299 closed, assigned to nobody

[2022-09-06 18:01] jrieke commented on #983
We are planning to implement this within the next few months!

[2022-09-06 18:01] jrieke commented on #1873
We are planning to implement this within the next few months!

[2022-09-06 18:02] jrieke commented on #455
Quick update: we are planning to implement a v1 of some of these features in the next few months. Specifically selections and editability in dataframes.

[2022-09-07 01:56] GeniusTian opened #5320 "button callback problem"
How to get the return value in the callback function from button on_click

[2022-09-07 11:58] PiotrCzapla commented on #1083
I need headers in order to get logged in user, so Instead of fixing general case I've added a simple patch to `BrowserWebSocketHandler.open`  that exposes user in `st.experimental_user.email`.   BrowserWebSocketHandler confirms to tornado API so it will be rather stable.

The patch simply  adds  `X-Streamlit-User` header  in streamlit format if  my `X-Forwarded-User` exist:
[code]
To add this patc

[2022-09-07 12:01] PiotrCzapla commented on #5166
In the meantime while this feature request is being processed  I've made a hack that solves my particular use case getting the logged in user from headers. It is a bit more invasive as it force you to replace `streamlit run ` but then it will be more stable as it uses mostly tornado API.

Here is the hack https://github.com/streamlit/streamlit/issues/1083#issuecomment-1239294483

[2022-09-07 19:37] kmcentush commented on #1083
@PiotrCzapla thanks for the snippet. That does the trick in terms of passing the email through, but all other headers are still stripped: https://github.com/streamlit/streamlit/blob/41a1a60b6bd72b13effec1bbcc6551afa0878d23/lib/streamlit/web/server/browser_websocket_handler.py#L78-L85

My application relies on additional headers, so  I think I'm still out of luck unless I modify the streamlit sourc

[2022-09-07 20:41] fredzannarbor opened #5321 "Link to tabs via # anchors"
Problem: Cannot direct user to correct option on tabbed pages, forcing user to do extra decision-making and forcing developer to implement additional guidance functionality

### Solution

**MVP:** What's the smallest possible solution that would get 80% of the problem out of the way?

Allow linking to tabs similarly to linking to headers, e.g. /page1#tab1.

### Additional context

Important for co

[2022-09-07 23:07] callum-mccracken opened #5323 "Can't cache datetime.strftime..."
### Summary

I'm very new to streamlit (like an hour), sorry if I've messed something up 😅

I'm trying to use @st.cache on a function, and I get this error message which suggested filing a bug report:

'method_descriptor' object has no attribute '__module__'

While caching the body of `setup_kern()`, Streamlit encountered an
object of type `builtins.method_descriptor`, which it does not know how t

[2022-09-07 23:59] jcbrivian commented on #2312
@yamrzou's snippet also worked for me

[2022-09-08 00:42] senth1s commented on #4519
Will chime in here that it would be useful with this functionality to limit even what gets printed to the console in the stdout. (per my [thread here on the streamlit forum](https://discuss.streamlit.io/t/potential-security-concern-with-streamlit-caching-error-messages/30331/10)). I noticed that database creds were getting printed in the exception. While **showErrorDetails** should theoretically h

[2022-09-08 00:48] vdonato commented on #5323
Hey @callum-mccracken, does this issue still appear in the newest Streamlit version? I'm fairly certain that this is a bug that was fixed in 1.12.0

[2022-09-08 00:49] vdonato commented on #5320
Hi @GeniusTian,

I would recommend asking this type of question in our [community](https://discuss.streamlit.io/) as the GitHub issues are generally used for reporting bugs and making feature requests.

To answer your question, though, I believe the normal method for doing this would be to set the value in `st.session_state`.

[2022-09-08 00:49] #5320 closed, assigned to nobody

[2022-09-08 00:50] vdonato commented on #5263
Closing as unactionable

[2022-09-08 00:50] #5263 closed, assigned to nobody

[2022-09-08 01:04] vdonato commented on #5323
The other thing I would recommend trying is to use `st.experimental_memo` over `st.cache`. We're looking to deprecate `st.cache` in the next few months in favor of the new experimental caching primitives, so it's unlikely that we'll be fixing most non-critical bugs with `st.cache`, especially if memo happens to solve the issue.

[2022-09-08 01:31] callum-mccracken commented on #5323
Tried with 1.12 installed with pip, no luck (same error) :/

I get a different error with st.experimental_memo -- the code above runs but in my actual code I get a TypeError: cannot pickle 'cx_Oracle.Connection' object... Should I make a separate bug report / feature request about that?

It feels like one should be able to say "only do this once" on any given line of code, but it's probably more d

[2022-09-08 03:27] wangjiawen2013 commented on #611
+1

[2022-09-08 08:03] mayagbarnes opened #5325 "Callbacks triggered when st.date_input calendar closed empty"
### Summary

With **`st.date_input`**, it seems that every ~15 tries or so, opening the calendar, removing the date, and then clicking outside of it triggers all callbacks in the script to run.

See resulting [flaky test PR](https://github.com/streamlit/streamlit/pull/5322) for additional info.

### Steps to reproduce

Code snippet:

[code]

If applicable, please provide the steps we should take t

[2022-09-08 08:08] #5142 closed, assigned to mayagbarnes

[2022-09-08 15:19] knorthover commented on #4063
@kajarenc  Hello Karen
It seems to work correctly now, streamlit v1.12.2

I just checked the zip demo I included in the original Issue post and both experimental_memo and experimental_singleton work without errors and generate clean Sphinx documentation.

So I'm good from v1.12.2 onwards.
Kevin

[2022-09-08 15:19] #4063 closed, assigned to nobody

[2022-09-08 19:16] dhitals commented on #637
I would love to know the status of this feature as well. Thanks!

[2022-09-08 20:35] sfc-gh-shsharma commented on #688
This would unlock a lot of interesting use cases. Typically data is presented in a table. Being able to click would enable pivoting views which is common operation on data.

[2022-09-08 22:08] vdonato commented on #5323
I think if you're creating a database connection object (and possibly returning the object itself as the return value of the function), then it's likely that you'd want to use the other new caching primitive: `st.experimental_singleton` instead of `st.experimental_memo`.

Another thing that may be possible could be to have the code you want to run only once live in a separate file/module and impor

[2022-09-08 22:12] vdonato commented on #5311
Hi @anhtu812,

This isn't an issue with the Streamlit library. Editing the `init` function won't change the attrs of existing objects of a given class, so a cached value returned by `fn_2` shouldn't have it's `self.s` attr changed.

I'd recommend going to our [community forums](https://discuss.streamlit.io/) for debugging assistance as the GitHub issues are normally used for feature requests and b

[2022-09-08 22:12] #5311 closed, assigned to nobody

[2022-09-08 23:30] callum-mccracken commented on #5323
Ah perfect, `st.experimental_singleton` works -- thanks! I have more questions about the differences between the new experimental caching types, but maybe I'll just read the documentation and check back if anything doesn't make sense :)

[2022-09-08 23:30] #5323 closed, assigned to nobody

[2022-09-09 04:25] richlysakowski opened #5328 "Need `streamlit config show --location` option in Windows 10"
### Problem

On Windows when conda or Anaconda installs Streamlit, it can get installed into one of a few places:
"c:\users\<username>\AppData"
"c:\users\<username>\.streamlit
"c:\programdata\Anaconda3\env"

(or others), depending on whether the user has administrator or standard user privileges, whether it is an enterprise (IT) computer or a personal (individually owned, managed, and administered

[2022-09-09 07:25] HHest commented on #2463
In a pinch, you could do something like this with the latest horizontal radio buttons. Spacing isn't quite there: would have liked the elements closer together, and the radio buttons tab justified...

[code]
Collapsed:
![image](https://user-images.githubusercontent.com/3169669/189306790-2e1936c9-2ef8-400b-8602-6d5e2092061d.png)

Expanded:
![image](https://user-images.githubusercontent.com/3169669/

[2022-09-09 10:27] PiotrCzapla commented on #1083
@kmcentush
Yeah a good supported option would be quite welcome. I don't see an easy general way to fix this issue. as I'm not sure how to pass data to user scripts.

But maybe something like this would work if you figure out how to access session.id from scripts:
[code]

Then if you figure out how to access session id and global headers  you can get your set of headers. But that is just guessing.

[2022-09-09 11:35] snehankekre commented on #5315
Hi @lde2015, thanks for submitting this issue. The error is unrelated to Streamlit and has to do with a possible naming [bug](https://stackoverflow.com/questions/72732256/cannot-import-opencv-because-of-circular-import) [introduced](https://github.com/opencv/opencv/commit/2b79a6ff8f8c810b291b973eaa20b7c2950f7cdb#diff-49ec797219094d9ded3aed5013858021c7575e95e32bda89adebb141402185faR300-R301) in the

[2022-09-09 11:35] #5315 closed, assigned to nobody

[2022-09-09 14:25] arogozhnikov commented on #5166
@tconkling it's been a while, if the decision is not to officially support headers, please make it official, because that's a dealbraker for a certain scenarios and better knowing about it sooner

[2022-09-09 17:57] willhuang1997 opened #5329 "Headers fail when having a number in the text"
### Summary
any header (title, subheader, header) fails when a number in the text. This occurs because we made some changes to headings allowing for inline styles in markdown format. As a result, it's interpreting the number as a list.
### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**
all the headers should work
Explain what you expect to happen when you go through the steps ab

[2022-09-09 19:40] ayushr2 commented on #5239
Can the doc update be made in the interim, so people don't try to run streamlit in this way?

As for the fix, I guess it has to do with avoiding `procfs` mounts while adding watchers recursively.

[2022-09-09 21:37] tconkling commented on #5166
Hey @arogozhnikov , thanks for the nudge - we _will_ be "unofficially" supporting this in an upcoming release. The plan is to have an "internal" function - something like `_get_websocket_headers()` - that returns the headers for the current user. We'll have an integration test for the function's existence, so that we don't accidentally break it.

[2022-09-09 22:00] vdonato commented on #5328
Hi @richlysakowski,

I'm not sure if this is necessary. The reason is that streamlit checks in two places for the `config.toml` file:
* `~/.streamlit/config.toml` (or the Windows equivalent of the user's home directory)
* `.streamlit/config.toml`, relative to where you're calling `streamlit run` from.

If the goal is to change config options, then knowing the location of the streamlit installation

[2022-09-09 22:24] richlysakowski commented on #5328
Hi Vincent,

Thanks for your response....
Still, I think that out-putting the specific location that the current
Streamlit runtime engine is referencing is important for developers to
know.

I use Streamlit in several different conda virtual environments, managed
directly from the command line and by Anaconda on Windows.  Streamlit
appeared to be referencing the wrong config.toml file for an insta

[2022-09-09 22:42] vdonato commented on #5328
Thanks Rich,

I believe that functionality also already exists. For example, suppose I have some config options set in my project-level `config.toml` file and some other options set in the `config.toml` file in my user's home directory. The output of `streamlit config show` in this case would look something like this:

[code]

Each of the config options set via config file has a comment specifying

[2022-09-09 23:39] UFO-101 commented on #4538
I think the [fix](https://github.com/streamlit/streamlit/pull/4766) done here is not good.
It requires you to always have a value for the slider in the state, which leads to ugly code like this:
[code]
Or you can set the value parameter as well:
[code]
But that gives a warning on the first run.
[code]
Which can only be suppressed with an ugly hack:
[code]

I can see two possible better solutions:

[2022-09-10 04:54] shyeetsao opened #5334 "page keeps scrolling to header not written in English"
### Summary

When a header is not written in English, page will scroll to the header on load/refresh.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavio

[2022-09-10 10:53] laurencedewaele commented on #5315
yes, it work's fine ! thanks you so much !

[2022-09-10 14:50] harahu opened #5335 "Hover text on `selectbox` and `multiselect`"
### Problem

I've had a few instances where I've struggled with seemingly duplicate entries in selectboxes. I'll give a simplified example. Imagine I'm asking a user to select from a series of employees in an employee database. The user is looking for someone named Kropotkin, but it turns out there are two employees that have the same name:

<img width="883" alt="Example 1" src="https://user-image

[2022-09-10 15:42] astrowonk opened #5336 "Form inputs show excessive keyboard input lag when plotly charts onscreen"
### Summary

Plotly graphs on screen cause very bad input lag (i.e the text in the form is long after the keystroke) for forms.

### Steps to reproduce

A fairly minimal reproduction is [in this repo](https://github.com/astrowonk/streamlit_lag_example) along with a screen recording.

[The demo app is deployed on streamlit.io](https://plotly-lag-example.streamlitapp.com/) so anyone can see the perf

[2022-09-11 09:12] murattasci06 opened #5337 "Streamlit feature to run Python function and hide only the specified streamlit interface"
A problem arises when there are interfaces that need to change one after the other and a variable taken from the first interface needs to be used in the other interface. Somehow this is not possible.

If we have a streamlit property like **st.hide_interface (python_function's_name_including_an_interface)** and call the python function and just hide its interface, we can run the function without an

[2022-09-11 10:53] kajarenc commented on #5334
Probably related to https://github.com/streamlit/streamlit/issues/5291

[2022-09-11 13:13] JStrauss69 commented on #609
Im having the same issues:

URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:997)>

[2022-09-11 21:01] astrowonk commented on #5336
I will say since getting back to my M1 Mac Mini from my aging intel Macbook the problem is *less* noticeable : but there is still a marked difference in lag in text input in the form when Altair charts are used vs Plotly that you can see in the example app, even on a much faster and more modern computer.

[2022-09-11 22:49] apiispanen opened #5339 "Streamlit doesn't work on iPhone when saving to home screen"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:
On safari:
https://apiispanen-biohacker-stream-gtgyag.streamlitapp.com/
Add to home screen -> won't load. Let me know how to get around this, thanks!

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, ple

[2022-09-12 05:24] snehankekre commented on #5239
Does this issue affect Linux, macOS, _and_ Windows, or just Linux distros?

[2022-09-12 09:45] snehankekre commented on #5239
In docs [PR #482](https://github.com/streamlit/docs/pull/482), I propose to add the following paragraph to [Main concepts](https://deploy-preview-482--streamlit-docs.netlify.app/library/get-started/main-concepts):

I've also added a callout to our Docker and Kubernetes guides:
![image](https://user-images.githubusercontent.com/20672874/189622972-a226b730-cca2-4ff6-b651-eb7050b782d7.png)

Please le

[2022-09-12 13:25] kajarenc commented on #5239
@snehankekre thank you very much, I think it looks good!

Another option to mitigate this issue could be to wrap this error and raise a more descriptive error message in core library in case fixing this completely would be problematic (i think that the most probably case in our situation)

CC: @vdonato

[2022-09-12 15:54] antonioreb commented on #3832
same issue here

[2022-09-12 17:02] arogozhnikov commented on #233
Funny that the original request details the expected behavior:

... and st.tabs ignore that. In general, st.tabs functionality is already met by st.expandable, and what was missing is conditional generation (and it is still missing).

[2022-09-12 17:27] Matheus-S-Costa opened #5341 "Botao para barra lateral some"
### Summary

O botão para barra lateral some e não aparece novamente. O mesmo acontece com as configurações

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected b

[2022-09-12 18:01] benlindsay commented on #233
Agreed that selective generation would be nice. It would also be nice to have programmatic control and access to which tab is active. Hopefully those are features that  an be built on top of the current API

[2022-09-12 18:02] anthonymobile commented on #648
also on OSX (M1) with python 10.1 and

[2022-09-12 20:26] ayushr2 commented on #5239
@snehankekre I think @willhuang1997 confirmed above (in the second comment) that he can't reproduce this on his MacOS system. I am only aware of this issue occurring on Linux.

[2022-09-12 22:30] vdonato commented on #5341
Hi @Matheus-S-Costa,

We're currently not able to triage or help with bug reports not filed in English, sorry about that!

Additionally, from what I can get from Google Translate, I don't believe there's enough information on this ticket to be able to take any action on this bug report, so I'll close this issue. Please feel free to open a new one with more information, including a code snippet, a

[2022-09-12 22:30] #5341 closed, assigned to nobody

[2022-09-12 22:32] vdonato commented on #5328
Closing as I believe we already have features addressing the enhancement proposals here. Let me know if there's something not covered though.

[2022-09-12 22:32] #5328 closed, assigned to nobody

[2022-09-12 22:38] vdonato commented on #5316
Thanks for reporting this @CHerSun,

This is indeed a somewhat surprising and unintuitive implication of Streamlit's execution model -- rerunning the whole script on every reruns means that classes get redefined each script run, which results in the behavior that you outlined in the issue.

One somewhat sane workaround is to define classes in a module outside of your main script file, and in this

[2022-09-12 22:38] #5316 closed, assigned to nobody

[2022-09-13 06:01] cmayoracurzio commented on #5166
Hi @tconkling ,

Wanted to share which Streamlit server functions we are using (and how) in case this can also be supported :)

The snippet below runs in our app upon login, and checks for other sessions logged in with the same username. If it finds another session logged in with the same user, it clears and refreshes it (which amounts to logging out) - so that there are  never 2 sessions open for

[2022-09-13 06:56] swaticolab opened #5346 "Display .stats file"
Hello,

Is it possible to display the results/statistics that are stored in a .stats file?

[2022-09-13 07:05] snehankekre commented on #5239
@willhuang1997 can you confirm you have write-access to the root directory on your macOS machine? Were you not able to repro because you have read-only access to root (and thus can't write a `.py` there), or is it the case you have write-access but are still not able to repro?

On my work macOS machine, I have read-only access to root. That's why I ask to confirm. Want to confirm whether this bug

[2022-09-13 10:31] Alexandru-Ioan-Popovici opened #5347 "Button or any widget to be placed anywhere on the horizontal of a column"
### Problem

Allow horizontal alignment for a Button or for any widget within a column; right now it is rigidly placed on the very left of the column.

### Solution
Allow for one column nesting level within a column --> if a user wants to center the widget, one would set up a 3-column nest within a column and insert the widget in the second, i.e. sub_col[1], nested column.

[2022-09-13 10:37] Alexandru-Ioan-Popovici commented on #5170
Hello, Johannes!
Sorry for the delayed answer!
I set up a gh issue in streamlit now, pls see it blw -- therein I mentioned also a possible solution.
https://github.com/streamlit/streamlit/issues/5347
KRAlexandru

    On Monday, August 29, 2022 at 07:40:22 PM GMT+3, Johannes Rieke ***@***.***> wrote:

Re your other issue, it's currently not possible to center align elements (except for text via HTM

[2022-09-13 15:23] kajarenc commented on #4462
Thanks, @whitphx for opening this issue

I closing this since this should not be relevant now

[2022-09-13 15:23] #4462 closed, assigned to nobody

[2022-09-13 15:31] kajarenc commented on #3603
Hey, this is fixed now with the `label_visibility` param, that we add for all widgets with labels.

We encourage to always use a meaningful labels for accessibility reasons

But now you can use keyword argument `label_visibility="hidden"` to hide label or `label_visibility="collapsed"` to collapse whitespace completely.

This feature will be available on streamlit 1.13.0 (or you can use it now wit

[2022-09-13 15:31] #3603 closed, assigned to nobody

[2022-09-13 16:02] #5329 closed, assigned to willhuang1997

[2022-09-13 16:04] kajarenc commented on #4941
@clo-vis `date_input` wiget works correctly for all scenarious presented above, could you please confirm that this is an issue for the latest streamlit version?

[2022-09-13 16:04] willhuang1997 commented on #5239
Hey @snehankekre , I only had read access on Mac and that's why it's only reproducible on Linux.

[2022-09-13 18:11] sfc-gh-kbregula commented on #4319
From what I observed, this problem is related to the `ELEMENT_TYPE_TO_VALUE_TYPE` dictionary.
https://github.com/streamlit/streamlit/blob/2387d990d69997a5c6c694685e59f4daf68068ad/lib/streamlit/runtime/state/widgets.py#L80-L107
It seems that best-effort guessing is not enough at this point.

[2022-09-13 19:25] CHerSun commented on #5316
@vdonato thank you, Vincent.

just to add a workaround for future references - I've started using `str(type(self)) == str(type(other))` for type comparison, works nicely.

[2022-09-13 19:35] giswqs commented on #5284
Please add support for nested columns. I have an app with a layout like this. It is a pain to implement a layout like this if nested columns are not supported.

![image](https://user-images.githubusercontent.com/5016453/189993308-3ab5aad5-f590-4c24-9153-ef1381217415.png)

[2022-09-13 19:43] CHerSun opened #5348 "Add an option to allow multiselect to accept new values"
### Problem

I'm building a small CRUD application with database behind it. Absolutely love how Streamlit works and allows to use Python everywhere, but once it comes to the ability to enter new information - currently available components are lacking.

One of use cases is tag-like fields. I need user to be able to select multiple existing tags with autocompletion - and multiselect is awesome ther

[2022-09-13 20:41] carolinefrasca commented on #5348
@CHerSun Thanks for posting! This looks to be a duplicate of [#1250](https://github.com/gagan3012/streamlit-tags), which we should consider re-opening due to increased interest

[2022-09-13 21:42] vdonato commented on #5346
Hi @swaticolab,

This seems like more of a streamlit usage question than a feature request or bug report. For these types of questions, I would recommend asking in our [community forums](https://discuss.streamlit.io/) rather than the GitHub issues.

[2022-09-13 21:42] #5346 closed, assigned to nobody

[2022-09-14 05:51] clo-vis commented on #4941
The [example page for date_input](https://docs.streamlit.io/library/api-reference/widgets/st.date_input) uses the latest streamlit version (1.12.0), so it is still an issue, see [screencast](https://user-images.githubusercontent.com/25638902/190069960-eb1aca7d-35b5-4fed-a4e0-665760f709d1.webm).

[2022-09-14 06:22] snehankekre commented on #5239
@ayushr2 @willhuang1997 Thanks for confirming. I was able to get a macOS VM running on my personal Linux box. Found out that since the release of Catalina, the root volume on macOS hasn't been writeable. As such, it doesn't make sense to include it in this note, as users will not be able to write `.py` files to root to begin with.

On [#487](https://github.com/streamlit/docs/pull/487), I've remove

[2022-09-14 07:09] willhuang1997 opened #5350 "Clicking on header or Putting in the url with the specific header doesn't scroll properly"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.
When you do
[code]
or
[code]
and you click on the header or put the url with the specific header, it will scroll to half of the header seen in the screenshot. This might need a little bit more of looking into as to why this is occurring.

**Expected behavior:**
<img width="817" alt="Screen Shot 2022-09-14 at

[2022-09-14 08:39] Ozaq commented on #4747
@tvst The underlying issue has neither been addressed not commented on:

Data collection is currently "Opt-Out" and sending data to servers in the US, See @KlausSchaefersAtWork comment.

"Schrems 2" / GDPR requires Explicit Consent as state above already. "Explicit Consent" strongly implies that if a user takes no action, no consent is given, i.e. no data collection has to happen. Opt-Out is NOT c

[2022-09-14 09:01] CHerSun commented on #5348
@carolinedlu  Yes, I've seen that one, but that one wasn't properly explained and thought over, imo, so I've decided to bring this up again with a minimal possible change proposition (at least I've tried to make it as simple as possible form my point of view). And to highlight that this is indeed a wanted feature.

Also, that issue was closed with streamlit-tags proposition, which is not really a

[2022-09-14 09:44] isyith commented on #4530
I think this is a  great ideia and i really need it in my application.

expander+form looks very ugly

[2022-09-14 11:53] MarcGruener commented on #4747
@Ozaq If I understand @tvst 's explanation correctly, the decision whether data about usage is sent to the Streamlit servers is done on the server site/on the app level by the creator and not on the client side/on a per-user-basis.

[2022-09-14 12:24] rtedwards commented on #5272
`st.map` [is just a wrapper around](https://docs.streamlit.io/library/api-reference/charts/st.map) `st.pydeck_chart`.  Pydeck map hover over layers are fairly limited.  Instead, you could look into Folium, a LeafletJS wrapper, to [add images to pop-ups](https://nbviewer.org/gist/ocefpaf/20aa2e74e11db30da2ff07c45cd74816).

[2022-09-14 15:21] juk-stata opened #5351 "st.markdown should render tables with a striped design"
### Problem

st.markdown renders according to [Github Flavoreded Markdown GFM](https://github.github.com/gfm/). Although table striping is not part of the GFM-specifications, Github styles tables with striping. Streamlit does not.
I would appreciate to see Streamlit render tables with striping, too.

Have a look at row 2 of the following markdown string:

[code]

results on GitHub in:

| foo | bar

[2022-09-14 18:48] carolinefrasca commented on #5339
Hi @apiispanen, can you share a screenshot of what the app looks like when you try to use the home screen short cut? Is it blank or is it an error message?

[2022-09-14 18:52] carolinefrasca commented on #5337
Hi @murattsci,

I'm not quite sure I understand the solution you're proposing, but it seems like you could use either a global variable whose value gets changed at different points or session state to accomplish the same goal (and it looks like that same idea was suggested on your forum post). Have you taken a look at our [session state docs](https://docs.streamlit.io/library/api-reference/session

[2022-09-14 19:00] carolinefrasca commented on #5219
Hi @kiansina,

Thanks for posting! This is a great idea for a [custom component](https://docs.streamlit.io/library/components/create) or even a Python snippet since it's definitely possible to [implement with Python](https://www.udacity.com/blog/2021/09/create-a-timer-in-python-step-by-step-guide.html). For that reason, it's probably not super likely that we would add this to the main library in t

[2022-09-14 19:11] carolinefrasca commented on #5114
Hi @tianchiguaixia,

Thanks so much sharing this! Since this issue is related to your specific use case (rather than a bug or feature enhancement impacting all users), I would recommend posting this to our [forum](https://discuss.streamlit.io/) instead, where our community members can help you debug.

[2022-09-14 19:11] #5114 closed, assigned to nobody

[2022-09-14 19:25] carolinefrasca commented on #5156
Hi @quantoid and @littleK0i,

Thanks so much for sharing this issue! This is actually expected behavior because of [Streamlit's execution model](https://docs.streamlit.io/library/get-started/main-concepts).

In other words, when you click (or unclick) the checkbox, you're interacting with a widget, which then causes the script to re-execute and sets the value of your multiselect back to the defaul

[2022-09-14 19:25] #5156 closed, assigned to nobody

[2022-09-14 19:32] carolinefrasca commented on #5085
Thanks for sharing this! This seems to be a duplicate of issue #5089

[2022-09-14 19:37] carolinefrasca commented on #4401
Hi @OishikGuha,

Thanks so much for sharing this! Because this issue is very specific to your own use case, rather than a widespread bug or feature enhancement impacting many users, I would recommend posting this and any similar questions on our [forum](https://discuss.streamlit.io/), where our community can help you debug/troubleshoot.

Caroline

[2022-09-14 19:37] #4401 closed, assigned to nobody

[2022-09-14 19:47] carolinefrasca commented on #4366
Hi @r-matsuzaka,

Thanks so much for sharing your question! I would actually recommend posting this question on our [forum](https://discuss.streamlit.io/) instead, since it's not a bug or feature enhancement.

[2022-09-14 19:47] #4366 closed, assigned to nobody

[2022-09-14 20:26] CHerSun commented on #3202
Just to support the feature request & topic starter. I had a similar problem - needed to accept more complex data into database. Ended up pasting a table + a selectbox with empty element + a generic form generator for dataclasses. If selectbox is empty - allows to create a new entry, if item is selected - allows to edit / delete (depends on options).

Looks like this:
![image](https://user-images.

[2022-09-14 22:17] quantoid opened #5353 "Wrap columns/grids on different screen sizes"
### Problem
Our Streamlit dashboard has users with different width screens, some 4K others not. If we put everything in one column it gets very long, and for 4K users there's tons of wasted empty space either side. If we use full width with columns it's much better for 4K users, but other users get things squished into narrow side-by-side columns.

### Solution
What we need is basically the [flex-

[2022-09-14 23:55] kevinlinxc commented on #2774
I encountered a similar error message, for me the problem was that I was using Python 3.11, I downgraded to 3.9 (R.I.P. 3.11 performance) and the install worked fine.

[2022-09-15 04:29] quantoid opened #5355 "Tooltips on charts"
### Problem
We find it difficult to make charts 100% self-explanatory. There is always some knowledge assumed, otherwise we'd have to put a load of text onto the dashboard that users only ever read once, after which it just becomes clutter. We've tried using `st.expand` but they still take up space when collapsed, and lots of them on a dashboard is not a great look.

### Solution
Provide a functio

[2022-09-15 08:26] joy13975 commented on #5284
For those who want it anyway despite being intentionally disabled by design:

https://github.com/joy13975/streamlit-nested-layout

If you encounter issues there, please don't bring them over to the official community.

[2022-09-15 08:55] luca-serra commented on #688
Hi all, any update on this?
This feature would enable to do so many things with Streamlit!
Looking forward to it.

[2022-09-15 18:37] benlansdell commented on #1250
Agree with @papalotis , a hybrid text-box/selectbox does have a slightly different use case to the streamlit-tags. Would be useful!

[2022-09-15 19:06] tcrack326 commented on #2888
I'm also having this issue with 1.11.1 and would appreciate some help with it.

[2022-09-15 19:39] benlansdell commented on #120
For those looking for a file picker, not a file uploader, I have made the following not-too-janky solution:

https://gist.github.com/benlansdell/44000c264d1b373c77497c0ea73f0ef2

This lets you navigate directories to select a file/directory on the server Streamlit is running on.

![Kapture 2022-09-15 at 14 35 05](https://user-images.githubusercontent.com/7505975/190493810-05b0504a-89c4-4373-b50f-5

[2022-09-15 23:03] willhuang1997 commented on #926
Hi everyone, this will likely be released in the upcoming release!
Please note that the Streamlit team does really take into account the feature requests and reactions / comments to them! Thanks for being with the Streamlit community and hope this encourages everyone to react/comment/contribute to this repo and the community :)
Happy Streamlitting! 🎈

[2022-09-15 23:21] sfc-gh-kbregula commented on #4457
I was able to make the "Select All" and "Deselect All" buttons work properly by directly modifying the session state that corresponds to each widget, but this is an ugly hack.
[code]

[2022-09-16 04:33] coskunhuseyin opened #5362 "ImportError: Missing optional dependency 'openpyxl'. Use pip or conda to install openpyxl."
### Summary

I am trying to deploy an app to the streamlit website. Your system gives me an error:
ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.
It looks this package is missing. Could you install it so the I can run my application?

Thanks,

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us findi

[2022-09-16 08:52] snehankekre commented on #5362
Hi @coskunhuseyin,

This seems like more of a 3rd party dependency (`openpyxl`) installation question on Community Cloud than a feature request or bug report. For these types of questions, I would recommend asking in our [community forums](https://discuss.streamlit.io/) rather than the GitHub issues.

[2022-09-16 08:52] #5362 closed, assigned to nobody

[2022-09-16 09:10] sfc-gh-kbregula commented on #3841
Here is workaround:
https://github.com/streamlit/streamlit/issues/4457

[code]

[2022-09-16 15:48] carolinefrasca commented on #5355
Hey @quantoid, thanks for flagging this!
`st.line_chart` is a wrapper for an Altair chart, and Altair charts supports [tooltips](https://altair-viz.github.io/user_guide/generated/channels/altair.Tooltip.html). Have you tried adding a tooltip to the Altair chart and then passing that to Streamlit? Not sure if that's what you're looking for

Edit: it sounds like [this](https://github.com/streamlit/s

[2022-09-17 11:47] s3kt0rr opened #5366 "This app has encountered an error."
### Summary

When running this demo app it displays an error in my browser below is the error that I receive.

### Steps to reproduce

Code snippet:

File "/home/appuser/venv/lib/python3.7/site-packages/streamlit/script_runner.py", line 354, in _run_script
    exec(code, module.__dict__)
File "/app/demo-face-gan/streamlit_app.py", line 227, in <module>
    main()
File "/app/demo-face-gan/streamlit

[2022-09-17 18:53] sfc-gh-hpathak commented on #5145
Hmm.. I am still seeing this issue.

ST version 1.12.2
Firefox 104.0.2

It works on Chrome.

[2022-09-17 20:52] #4319 closed, assigned to vdonato

[2022-09-17 21:37] mayagbarnes commented on #5145
Hi @sfc-gh-hpathak!
Streamlit version `1.12.2` didn’t include the fix, should be released in version `1.13` next week.

[2022-09-18 05:41] isichei-nnamdi commented on #5140
@DerinChiu, I encountered a similar issue of  TypeError: Protocols cannot be instantiated in 1.12.0. Find the following steps I took below to address the issue:

1. I launched my anaconda command prompt
2. I confirmed the python version in my anaconda environment by typing the following code below:
`python -V`
this gave me the output
`Python 3.9.7`
3. Next, I typed the following code to upgrade th

[2022-09-18 10:14] sfc-gh-kbregula commented on #3724
@sfc-gh-tszerszen is it done?

[2022-09-18 10:41] sfc-gh-kbregula commented on #5027
`st.write` works, so this is an interesting case. I'm looking at it.
[code]

[2022-09-18 12:44] osi1880vr commented on #1567
+1 here too

[2022-09-18 14:39] murattasci06 commented on #5337
Hi, @carolinedlu the problem was solved with session state. The Issue could be closed.

[2022-09-18 22:04] #5337 closed, assigned to nobody

[2022-09-19 05:34] osi1880vr opened #5368 "Make label position a choice"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

Label is on top of the input widged, that makes complex setups very fast very full.
If I could have the choice to put the label in front instead of on top this could ease the pain of very long pages where one

[2022-09-19 05:40] osi1880vr opened #5369 "Allow for custom ID for widget"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

Is your feature request related to a problem? Please describe the problem here. Ex. I'm always frustrated when [...]
For some javascript it would be very nice to can have control of the ID of a widged.
Normaly

[2022-09-19 06:34] sfc-gh-tszerszen commented on #3724
@sfc-gh-kbregula no it's not :/

[2022-09-19 10:31] sfc-gh-kbregula opened #5370 "Display multiindex dataframe as “sparsified” table"
### Problem

I'm always frustrated when I am trying to display the multiindex dataframe, but it is not readable

### Solution

`pandas` when displaying a dataframe that have multiindex skips duplicate values to make the console output a bit easier on the eyes.
[code]
I think it's worth the `st.table` command to work in a similar way. Currently the table is displayed as below:
![Screenshot 2022-09-

[2022-09-19 10:45] namandalsania opened #5371 "Secret file not found."
Getting an error (pic attached below) when I hit predict to run the model which is supposed to print the outcome.

![Screenshot (934)](https://user-images.githubusercontent.com/86463390/191000981-71bf5629-66c9-4dff-ae24-7a76103b78b6.png)

Pls suggest what can I do to fix the error.

[2022-09-19 14:26] leo9226 commented on #863
+1

[2022-09-19 15:21] apiispanen commented on #5339
Hey Caroline,

Thanks for the response - it seems to be blank when run with the shortcut. Please see attached.

![unnamed (2)](https://user-images.githubusercontent.com/25801465/191053305-a33797cf-b9c9-4272-8856-83a2ac727f7a.png)
![unnamed (1)](https://user-images.githubusercontent.com/25801465/191053308-b20bc018-ae3a-4c5c-822c-2f3347fcd36c.png)

[2022-09-19 19:25] c00lcoder commented on #904
+2

[2022-09-19 21:57] AnOctopus commented on #5369
Are you talking about accessing the widget as a DOM element, or some other way?

Would it be sufficient if the `key` argument to a widget was included in an attribute of the widget's DOM element?

[2022-09-19 21:58] vdonato commented on #5366
Hi @s3kt0rr,

Looking at the stacktrace in your error, this doesn't seem like an issue with the Streamlit library itself. I would recommend asking in our [community forums](https://discuss.streamlit.io/) for help debugging this issue.

[2022-09-19 21:58] #5366 closed, assigned to nobody

[2022-09-19 22:01] vdonato commented on #5371
Hi @namandalsania,

This doesn't look like an error in the Streamlit library itself to me. I would recommend asking for help in our [community forums](https://discuss.streamlit.io/) as we generally don't use GitHub issues for helping people debug their own code.

[2022-09-19 22:01] #5371 closed, assigned to nobody

[2022-09-19 22:35] vdonato opened #5377 "Using string values as the `default` argument to an `st.multiselect` behaves inconsistently"
### Steps to reproduce

Guess what the following multiselect is initialized with on the frontend:
[code]

The answer is that Python's `str` type is both `Iterable` and a `Sequence` (strings are essentially just lists of characters, after all), so you get a multiselect with "a", "b", and "c" selected.

On the other hand,
[code]
in this case we preselect "wow" even though strings are both `Iterable`

[2022-09-19 23:41] amirlehmam opened #5378 "test"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2022-09-19 23:58] #5378 closed, assigned to nobody

[2022-09-20 00:03] amirlehmam opened #5379 "streamlit.errors.StreamlitAPIException: ("Could not convert '13.0 | 319.0' with type str: tried to convert to double", 'Conversion failed for column Earth with type object')"
### Summary

I try to implement my custom dataframe on streamlit (working on my .py file) but I keep having this "streamlit.errors.StreamlitAPIException" error...

### Code snippet

[code]

### **Expected behavior:**

Should display the expected dataframe like this:
![2022-09-20-02-03-27-Window.png](https://i.postimg.cc/ydWTCZSC/2022-09-20-02-03-27-Window.png)

### **Actual behavior (error):**

Tr

[2022-09-20 00:49] vdonato commented on #5379
Hi @amirlehmam,

This doesn't seem to be a bug within the Streamlit library. I would recommend asking for help in our [community forums](https://discuss.streamlit.io/) as that's the more appropriate place to ask for assistance in debugging your code.

In this particular case, the issue is likely related to our restriction with arrow dataframes that elements in each column must all be a single type

[2022-09-20 00:49] #5379 closed, assigned to nobody

[2022-09-20 05:54] quantoid commented on #5355
@carolinedlu no, this is about pop-up help for a whole dashboard, not just for individual datapoints on a chart or on the `st.metric` widget. For example, if a dashboard is divided into sections with headings, we want to provide help on what each section is for without that content permanently taking up space on the dashboard.

What we want is basically similar to `st.expand` except the collapsed

[2022-09-20 09:17] sashank-m commented on #371
@jrieke Any update on this ?

[2022-09-20 19:41] KeeonTabrizi commented on #1856
@tconkling I know I'm bumping an old thread - but did those changes actually do anything given later in `src/App.tsx` we see this:

https://github.com/streamlit/streamlit/blob/9238905c88d1769e47d580ccceb1347242527ad3/frontend/src/App.tsx#L723

[2022-09-20 19:58] carolinefrasca commented on #5355
@quantoid Thanks for clarifying! In that case it sounds similar to [this open issue](https://github.com/streamlit/streamlit/issues/1360) about pop-up modals.

[2022-09-20 20:31] keyuchen21 opened #5386 "Word wrapping in st.dataframe"
How to display all text within each cell?
<img width="848" alt="image" src="https://user-images.githubusercontent.com/54015474/191358490-18ccd79b-d43b-4710-a79b-9ba5e34fe65d.png">

---

Community voting on feature requests enables the Streamlit team to understand which features are most important to our users.

**If you'd like the Streamlit team to prioritize this feature request, please use the 👍

[2022-09-20 20:59] keyuchen21 commented on #5386
How can I display all text in the tweets columns?

here is the dataset:

https://www.kaggle.com/code/paoloripamonti/twitter-sentiment-analysis/data

[2022-09-20 21:24] asehmi commented on #5336
I tried the app and there doesn't seem to be an issue. I have WebGL hardware acceleration in my browser flags enabled so not sure if that helps (chrome://flags or brave://flags).

[2022-09-20 21:27] keyuchen21 commented on #5386
I can extend the width of the cells, but can I extend the height of each cells as well? if so could you show me a example?

[2022-09-21 00:41] jrieke opened #5389 "Pydeck issue in `streamlit hello`"
### Summary

When you do `streamlit hello` in 1.12.2 and go to the page `Mapping Demo`, it shows this exception:

[code]

### Is this a regression?

That is, did this use to work the way you expected in the past?
yes

### Debug info

- Streamlit version: 1.12.2
- Python version: 3.9.13
- Using Conda? PipEnv? PyEnv? Pex? Pipenv
- OS version: MacOS Monterey
- Browser version:

### Additional informa

[2022-09-21 01:30] sfc-gh-kbregula commented on #5389
@jrieke is it related to https://github.com/streamlit/streamlit/pull/5248?

[2022-09-21 08:04] PaleNeutron opened #5391 "Automatically generate user_key for widgets"
### Problem

Currently, widgets with exactly same parameters will get same widget id which cause error, for eg.

[code]

And user have to provide a key value to make it work.

### Solution

In my code, I usually do this by:

[code]

So why streamlit not do this automatically?

[2022-09-21 08:48] jlefaure commented on #1019
Another Upvote for the directory picker feature!

[2022-09-21 08:53] jlefaure commented on #1019
Hi, how can we do this with two browse folders buttons ? When i activate one button the othher desactivates automatically, ho can i fix it ?

[2022-09-21 09:05] lasinludwig commented on #5336
Same problem here. It's not just text input, but seems to affect all input widgets. I have an app where clicking a check box takes about 30 seconds when a plotly plot is on the page. Without the plot the check boxes work normally.

[2022-09-21 11:21] astrowonk commented on #5336
The problem is definitely subtle on a fast Mac, though one can see it a bit slower. (I don't notice it on an iPhone.) But on my (Early 2015) Macbook, it's painful to the point the web app is useless with the plotly apps (the screen capture movie in the repo was made on that older laptop).

Here on my M1 Mac Mini, the lag to type is small/ manageable but look at the CPU usage compared to Altair.  T

[2022-09-21 14:21] sfc-gh-kbregula opened #5392 "st.table renders pandas.Period type as number"
### Summary

Dataframes that contain pandas.Period elements are rendered as numbers instead of data type.

### Steps to reproduce

Code snippet:

[code]
Below is a comparison that shows how the pandas table renders and how the streamlit table renders.
<img width="941" alt="Screenshot 2022-09-21 at 16 13 08" src="https://user-images.githubusercontent.com/78743291/191527845-a51ffdbc-69e8-46cd-b2fb-6

[2022-09-21 16:49] fabioannovazzi commented on #2349
Still have the issue with Edge and Chrome. Both say they are up to date

[2022-09-21 16:54] blackary opened #5394 "protobuf error on clean streamlit install of 1.12.3"
### Summary

I installed streamlit, and couldn't use it due to a reported error from protobuf. Protobuf version 3.20.2 was installed automatically along with streamlit.

### Steps to reproduce

Code snippet:

[code]

Error
[code]

This was solved by downgrading protobuf
[code]
(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provid

[2022-09-21 17:08] qu8n commented on #5394
Thanks for submitting this issue.

[2022-09-21 17:41] #5394 closed, assigned to nobody

[2022-09-21 18:19] jrieke commented on #5391
The problem is that it breaks in situations like this:

[code]

If the checkbox is checked, the last date input will get key `2`. If the checkbox is unchecked, it will get `1`. So it's getting treated as two different widgets whereas it should be treated as the same widget! If you selected a date in that date input, it will get lost, because Streamlit thinks you added a new widget. And worse, I th

[2022-09-21 18:19] #5391 closed, assigned to nobody

[2022-09-21 18:22] jrieke commented on #5386
We are releasing some fixes to the automatic width calculation of columns tomorrow. It's not possible to set the height of a cell or make the text wrap to multiple lines. I'll add that as a feature request, thanks!

[2022-09-21 18:24] jrieke commented on #5370
Yes agree, and we do have that in our roadmap. I think we need to decide if we want to support that for `st.table` or `st.dataframe` or both, but we should at least support it `somewhere`.

[2022-09-21 18:25] jrieke commented on #5369
@osi1880vr Can you also describe what your use case for even making javascript modifications is? We are currently not very focused on javascript/css hacks, but that might change if we see good use cases!

[2022-09-21 18:27] jrieke commented on #5368
I don't think we'll support this anytime soon since it would completely change our current design, and we'd have to rethink a lot of stuff to make all apps look good. But I'll leave this here so we can see if other people want it!

@osi1880vr Can you show an example of the long pages you have, so I can see what the underlying problem looks like? Screenshots or mocks would be great!

[2022-09-21 18:28] jrieke commented on #5355
If I get that correctly, you just want tooltips everywhere, right?

[2022-09-21 18:30] jrieke commented on #5353
Makes sense. Can you show a screenshot or mock of your app on these different screen sizes, so I can get a sense for the underlying problem?

[2022-09-21 18:40] jrieke commented on #5351
Thanks for the suggestion! I don't think we want to do this anytime soon, since it would not really match the design of tables created with `st.dataframe` or `st.table`. But I'll leave this here so people can upvote and then we can reconsider!

[2022-09-21 18:53] AnOctopus commented on #5389
@jrieke Does the issue still happen in the 1.13.0 RC? Since the PR that @sfc-gh-kbregula linked looks like it fixes this, and should be included in 1.13

[2022-09-21 19:02] devxpy opened #5398 "Newlines are not rendered correctly"
This -

[code]

Doesn't show newline -

<img width="276" alt="image" src="https://user-images.githubusercontent.com/19492893/191588617-36e00f77-09c2-4389-82f6-7279bb1fea0b.png">

Similar problem observed in dataframes & tables.

[2022-09-21 19:09] c00lcoder commented on #3832
Worked perfectly!

[2022-09-21 19:42] #926 closed

[2022-09-21 19:47] sfc-gh-kbregula commented on #5351
As workaround, you can add a custom CSS style:
[code]
<img width="331" alt="Screenshot 2022-09-21 at 21 46 52" src="https://user-images.githubusercontent.com/78743291/191596743-36440e49-f182-4b32-8aa3-0855ddeb92ca.png">

[2022-09-21 21:56] #5257 closed, assigned to sfc-gh-kbregula

[2022-09-21 22:28] jrieke commented on #5348
Thanks for the input! We have this on our internal roadmap but no promises on when we'll get to it.

[2022-09-21 22:30] jrieke commented on #5347
Thanks for opening! I think this is already covered in #1799 and #5284, so I'll close this to keep discussion focussed on these older issues.

[2022-09-21 22:30] #5347 closed, assigned to nobody

[2022-09-21 22:31] jrieke commented on #5335
Cool idea! I'll leave this here to see if we get more upvotes on it.

[2022-09-21 22:32] jrieke commented on #5321
Cool idea, thanks for suggesting! I think this is something we should definitely do.

[2022-09-21 22:34] jrieke commented on #5305
Yeah good point. I think we'll need to rethink this (and in general how callbacks work) at some point. This will probably take a while because it's not our highgest priority + changing callbacks in this way would be a breaking change, so we can only introduce it once we go to 2.0.

[2022-09-21 22:37] jrieke commented on #5295
Thanks for suggesting this @whitphx! I think we won't support this in the near future (since it would introduce quite a lot of complexity on our side). But I'll leave this here and let's see if other people have the same problem!

[2022-09-21 22:39] jrieke commented on #5272
Thanks for the suggestion! I think we won't support this in the near future, since it's not a common request + there are workarounds (as suggested above). But let's leave it here and see if other people upvote!

[2022-09-21 22:43] jrieke commented on #5268
@alex180500 Would #863 already solve the problem you have? We have this issue on our roadmap to implement.

I don't think we will add specific args to change the font size etc, since this will bloat our API and lead to very inconsistent designs. If the issue above addresses your issue, feel free to close this; but if you feel strongly about having parameters, we can leave this here and see if othe

[2022-09-21 22:45] jrieke commented on #5265
@stephen-farris-jhuapl-edu What do you want this feature for? That would help us figure out if we should support it or not.

[2022-09-21 22:47] jrieke commented on #5254
Yup we are thinking about either adding `ttl` or a `validate` function (similar to what was suggested in #5342).

[2022-09-21 22:50] jrieke commented on #5220
Can you all describe what exactly you want this for? This would help us decide if we want to support it or not.

[2022-09-21 22:51] jrieke commented on #5218
@liuzj039 Can you describe why you want this? Also, feel free to share screenshots or mocks of what you have in the sidebar to better understand the situation.

[2022-09-21 22:53] alex180500 commented on #5268
Yeah it will probably be sufficient for most applications, although limited by markdown header size. Still a solution though.
I will leave this open for a while maybe somebody has a similar idea.

[2022-09-21 22:53] jrieke commented on #5215
Agree that this is something we should fix (as a fellow European 😉). Maybe the solution is also to adapt it based on where the viewer is coming from. Anyway, we'll keep this in mind!

[2022-09-21 22:57] jrieke commented on #5150
Thanks for the suggestion! I think we will not do this in the near-future but let's keep it here and see if other users upvote this (via the 👍 reaction).

[2022-09-21 23:01] jrieke commented on #5144
Great suggestion, thanks! We are planning to do some improvements to multipage apps later this year and use cases like this are definitely something we want to address. I'll add this issue to our internal tracker for this!

[2022-09-21 23:04] jrieke commented on #5149
Thanks for the suggestion! We were initially thinking about this but decided against it to a) preserve our current API and b) not let people go completely crazy with choosing weird colors. I'll leave this here and let's see if it gets more upvotes!

[2022-09-21 23:07] jrieke commented on #5141
Thanks! Hiding the hamburger menu is already covered in #395. What's you use case for disabling the sidebar resizability?

[2022-09-21 23:10] jrieke commented on #5134
Cool idea! We are not prioritizing any changes to theming at the moment but let's see if more people upvote this!

[2022-09-21 23:12] jrieke commented on #5105
@sg-s What exactly do you want to use that for? Want to know so we can figure out if localStorage is the best way to solve this, or if there's a better/more user-friendly API we can offer. Also, this isn't super trivial to implement on some hosting solutions due to iframes, so we probably won't address this in the near future.

[2022-09-21 23:13] jrieke commented on #5089
@cccs-km Can you give us a bit more detail for what you want to do here? Screenshot or mock would be fantastic!

[2022-09-21 23:17] jrieke commented on #5085
This is also covered in #863, which speaks about widget labels. I'll keep this issue open though to see if more users want that thing for expanders! In any way, this is on our roadmap and I hope that we can implement this within the next few months.

[2022-09-22 00:33] sg-s commented on #5105
@jrieke thanks for the response! one concrete use case is for my [vocabulary app built using streamlit](https://srinivas.gs/apps/vocab/)

i would like to keep track of user scores and performance, and local storage is great because i don't need anything server side, and user data is private.

other uses i can think of:

- an app with lots of settings for some view. i can cache those settings in lo

[2022-09-22 01:43] Qualzz commented on #4975
Targeting any specific element with css ID & classes would be HUGE. It would allow us to add custom responsive grids, hovering effects, using frameworks like bootstraps, better customisation for any elements inside a particular container. etc.

st.component_name( class="myclass my2ndclass" id="myID" ) would help a lot and solve most of the headaches about unreliable css hacking/creating custom com

[2022-09-22 03:48] liuzj039 commented on #5218
Hi, @jrieke. For me, I placed a figure of clustering results in the sidebar, and this result aids me in understanding the distribution of each variable on the main content. However, the narrow sidebar cannot fully display this clustering result.
![image](https://user-images.githubusercontent.com/55271666/191654025-0a149b97-c07d-43e4-af88-143f4e5d359b.png)
In the new version, the width of the sideb

[2022-09-22 04:46] juk-stata commented on #5351
Have many thanks for this workaround.

[2022-09-22 08:15] CHerSun commented on #5368
I'd like more capabilities in formatting too, with default values remaining the same. I.e., if one doesn't need anything extra - keep completely the same behavior. But if developer needs more control - it would be great to have those control options.

Currently my personal pain is not with label position, but rather with inability to hide label completely. Even if it's given as empty - empty line

[2022-09-22 09:32] cmayoracurzio commented on #5141
Hey there @jrieke, thanks for asking!

The sidebar "resizability" feature gives end-users a degree of control over the look of the app that it is not giving to the app's developer. Developers should at minimum get the same degree of control as end-users.

- **Before (without sidebar resizability):** Developer can decide when to add a sidebar, and when to switch between "expanded" or "collapsed" st

[2022-09-22 09:59] sfc-gh-tszerszen commented on #4941
Once  [PR-#5281](https://github.com/streamlit/streamlit/pull/5281) which upgrades `baseui` to `baseui@12.1.2` is merged, none of the issue presented in the issue will occur.

[2022-09-22 13:42] pedgar opened #5402 ""Bad 'setIn' index XX (should be between [0, X])" when using st.cache_data in thread"
### Summary

If fetching data from multiple sources, it can be tempting to run code concurrently as well as cache the results.  However, this causes problems when using st.experimental_memo.  It results in the error:

"Bad 'setIn' index XX (should be between [0, X])"

### Steps to reproduce

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/streamlit_badge_black_white.svg)](https://is

[2022-09-22 15:18] andreaschiappacasse commented on #5215
a big +1.
my client just requested if it's possible to make the week in the selector start on mondays :(
I will probably resort to implement a custom component in react for now and/or to fork streamlit to implement it...

[2022-09-22 16:25] kmcgrady opened #5403 "Implement label_visibility with Checkbox"
### Problem

Streamlit 1.13.0 released with `label_visibility`, but noticeably missing is the checkbox. The feature was designed to work with vertical alignment of widgets which have no impact on the checkbox. There may be reasons to have that.

### Solution

**MVP:** Users can continue to add `""`, but the checkbox is not accessible, and there may be unnecessary spacing.

**Preferred solution:**

[2022-09-22 16:55] 0xMochan commented on #3601
I also agree with this, it's a bit frustrating to set up state somewhere bc `on_change` doesn't hold the value properly.
On top of that, the value from the widget itself isn't sent to the callback, meaning I *have* to use the `st.session_state` key to access it which makes it a bit more frustrating to use this api feature.

[2022-09-22 21:04] parker84 opened #5404 "Automatically send reports to Slack"
### Problem

I love streamlit and I want to use it for all of my dashboarding needs.

But ..... **I need my status dashboards to be automatically posted into slack, and I can't do that with streamlit.**

So currently I have all my self serve dashboards (for https://stan.store/) built on streamlit (hosted with streamlit cloud), but I need to use tableau for status dashboards that we want regularly

[2022-09-22 21:06] parker84 commented on #5175
Thanks @vdonato!! You guys rock!

[2022-09-23 03:16] LalitMahale opened #5408 "Bug of Blank page and showing please wait"
### Summary

I have tried all solution which is available on goolge but not solution work for me so please give me solution i have win 11 . even i updated verstion but not showing application

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '..

[2022-09-23 05:41] EarthzC opened #5409 "Cannot access BoSaaS First Page. (show "Please Wait" & "Connecting")"
### Summary

When login to BoSaaS first page ( http://10.117.168.161:9003/), it showed "Please Wait" & "Connecting". and not moving. It seem this Web Server got crash or some problem.

### Steps to reproduce
1) Login to BoSaaS first page(http://10.117.168.161:9003/)
2) It showed "Please Wait" & "Connecting".

**Expected behavior:**

 Expected to see the login page to enter Password.

**Actual beha

[2022-09-23 06:30] dhirajsuvarna commented on #3832
Request to have a solution to this. I am also facing same issue.

[2022-09-23 13:27] jrieke commented on #54
Closing this issue since it's very old and didn't see a lot of activity. Feel free to reopen or comment if you run across the same issue!

[2022-09-23 13:28] jrieke commented on #100
We implemented this with multipage apps in 1.10, closing.

[2022-09-23 13:28] #100 closed

[2022-09-23 13:34] jrieke commented on #371
We just rolled out a fix yesterday with 1.13.0 that should fix the automatic column width setting. We also added `use_container_width` to `st.dataframe`.

[2022-09-23 13:39] jrieke commented on #647
We just released the `label_visibility` parameter for most widgets in 1.13, which let's you do that. Doing `st.text_input(..., label_visibility="collapsed")` will remove the space above widget! 🥳 See more info in the docs.

[2022-09-23 13:39] #647 closed

[2022-09-23 13:43] jrieke commented on #658
Closing this issue since it's old, didn't see a lot of activity, and we are not likely to implement it. Feel free to reopen or comment if you have the same problem!

[2022-09-23 13:43] #658 closed

[2022-09-23 13:45] jrieke commented on #662
Closing this issue since it's old and didn't see a lot of activity. I also think this problem is probably solved by multipage apps, which we implemented in 1.10. Feel free to reopen or comment if you have the same problem!

[2022-09-23 13:47] jrieke commented on #711
Closing this issue since it's old, didn't see a lot of activity, and we are not likely to implement it. Also, there are several good solutions, as pointed out above. Feel free to reopen or comment if you have the same problem!

[2022-09-23 13:47] #711 closed

[2022-09-23 13:48] moonbug-car commented on #2888
Same issue when using streamlit_option_menu==0.3.2 modules

[2022-09-23 13:53] jrieke commented on #1115
Closing this issue since it's old and didn't see a lot of recent activity. Feel free to reopen or comment if you have the same problem!

[2022-09-23 13:53] #1115 closed

[2022-09-23 13:55] jrieke commented on #1196
Closing this issue since it's old and didn't see a lot of recent activity. Feel free to reopen or comment if you have the same problem!

[2022-09-23 13:57] jrieke commented on #1283
Closing this issue since it's old and didn't see a lot of recent activity. Feel free to reopen or comment if you have the same problem!

[2022-09-23 13:57] #1283 closed

[2022-09-23 13:59] jrieke commented on #1351
Python dicts are ordered since 3.7 (https://stackoverflow.com/questions/39980323/are-dictionaries-ordered-in-python-3-6). So this is not a bug but a feature anymore. Closing.

[2022-09-23 13:59] #1351 closed

[2022-09-23 14:01] jrieke commented on #1369
This is done with the `show_spinner` parameter, closing.

[2022-09-23 14:01] #1369 closed

[2022-09-23 14:01] jrieke commented on #1382
Closing this issue since it's old, didn't see a lot of recent activity, and we are not likely to implement this. Feel free to reopen or comment if you have the same problem!

[2022-09-23 14:01] #1382 closed

[2022-09-23 14:02] jrieke commented on #1527
This doesn't seem like a bug but rather a function of the app being too large. Closing.

[2022-09-23 14:02] #1527 closed, assigned to nobody

[2022-09-23 14:03] jrieke commented on #1531
Closing this issue since it's old and didn't see a lot of recent activity. Also, we fix protobuf versions by other methods nowadays.

[2022-09-23 14:03] #1531 closed, assigned to nobody

[2022-09-23 14:04] jrieke commented on #1532
Closing this issue since it's old and didn't see a lot of recent activity. Feel free to reopen or comment if you have the same problem!

[2022-09-23 14:04] jrieke commented on #1534
Closing this issue since it's old and didn't see a lot of recent activity. Feel free to reopen or comment if you have the same problem!

[2022-09-23 14:04] #1534 closed, assigned to nobody

[2022-09-23 14:05] jrieke commented on #1588
Closing this issue since it's old and didn't see a lot of recent activity. Feel free to reopen or comment if you have the same problem!

[2022-09-23 14:05] #1588 closed, assigned to nobody

[2022-09-23 14:05] jrieke commented on #1640
Closing this issue since it's old and didn't see a lot of recent activity. Feel free to reopen or comment if you have the same problem!

[2022-09-23 14:05] #1640 closed, assigned to nobody

[2022-09-23 14:06] jrieke commented on #1681
Closing this issue since it's old and didn't see a lot of recent activity. Feel free to reopen or comment if you have the same problem!

[2022-09-23 14:06] #1681 closed, assigned to nobody

[2022-09-23 14:06] jrieke commented on #1709
Closing this issue since it's old and didn't see a lot of recent activity. Feel free to reopen or comment if you have the same problem!

[2022-09-23 14:06] #1709 closed, assigned to nobody

[2022-09-23 14:07] jrieke commented on #1711
Closing this issue since it's old, didn't see a lot of recent activity, and we are not likely to implement it. We want all Streamlit apps to have a familiar look & feel, so we don't want to allow fullscreen elements. Feel free to reopen or comment if you have the same problem!

[2022-09-23 14:07] #1711 closed, assigned to nobody

[2022-09-23 14:08] jrieke commented on #1730
Closing this issue since it's old and didn't see a lot of recent activity. Feel free to reopen or comment if you have the same problem!

[2022-09-23 14:08] #1730 closed, assigned to nobody

[2022-09-23 14:09] jrieke commented on #1774
Closing this issue since it's old and didn't see a lot of recent activity. We are working on improved indexability btw! Feel free to reopen or comment if you have the same problem!

[2022-09-23 14:09] #1774 closed, assigned to nobody

[2022-09-23 14:10] jrieke commented on #1786
Closing this issue since it's old and didn't see a lot of recent activity. Feel free to reopen or comment if you have the same problem!

[2022-09-23 14:10] #1786 closed, assigned to nobody

[2022-09-23 14:11] jrieke commented on #1800
Closing this issue since it's old and didn't see a lot of recent activity. Feel free to reopen or comment if you have the same problem!

[2022-09-23 14:11] #1800 closed, assigned to nobody

[2022-09-23 14:12] #1819 closed, assigned to nobody

[2022-09-23 14:13] jrieke commented on #1980
Closing this issue since it's old, didn't see a lot of recent activity, and we are very unlikely to ever implement a 2nd sidebar. Feel free to reopen or comment if you have the same problem!

[2022-09-23 14:13] jrieke commented on #2011
`text_area` is resizable since a while, closing.

[2022-09-23 14:14] #2037 closed, assigned to nobody

[2022-09-23 14:14] jrieke commented on #2039
This was fixed a while ago, closing.

[2022-09-23 14:14] #2039 closed, assigned to nobody

[2022-09-23 14:15] jrieke commented on #2042
Closing this issue since it's old and didn't see a lot of recent activity. Feel free to reopen or comment if you have the same problem!

[2022-09-23 14:15] #2042 closed, assigned to nobody

[2022-09-23 14:15] #2057 closed, assigned to nobody

[2022-09-23 14:16] jrieke commented on #2068
Closing this issue since it's old and didn't see a lot of recent activity. Feel free to reopen or comment if you have the same problem!

[2022-09-23 14:16] #2068 closed, assigned to nobody

[2022-09-23 14:17] #2105 closed, assigned to nobody

[2022-09-23 14:18] jrieke commented on #2108
The focus ring was removed a while ago, closing.

[2022-09-23 14:18] #2108 closed, assigned to nobody

[2022-09-23 14:18] #2155 closed, assigned to kantuni

[2022-09-23 14:19] jrieke commented on #2159
Closing this issue since it's old and didn't see a lot of recent activity. Feel free to reopen or comment if you have the same problem!

[2022-09-23 14:19] #2159 closed, assigned to nobody

[2022-09-23 14:19] jrieke commented on #2192
Closing this issue since it's old and didn't see a lot of recent activity. Feel free to reopen or comment if you have the same problem!

[2022-09-23 14:19] #2192 closed, assigned to asaini

[2022-09-23 14:21] #2338 closed, assigned to nobody

[2022-09-23 14:21] jrieke commented on #2338
Closing this issue since it's old and didn't see a lot of recent activity. Feel free to reopen or comment if you have the same problem!

[2022-09-23 14:23] jrieke commented on #2376
Closing this issue since it's old, didn't see a lot of recent activity, and we are unlikely to implement this. Feel free to reopen or comment if you have the same problem!

[2022-09-23 14:23] #2376 closed, assigned to nobody

[2022-09-23 14:24] jrieke commented on #2384
Closing this issue since it's old and didn't see a lot of recent activity. Feel free to reopen or comment if you have the same problem!

[2022-09-23 14:24] #2384 closed, assigned to nobody

[2022-09-23 14:25] #2420 closed, assigned to nobody

[2022-09-23 14:25] #2421 closed, assigned to nobody

[2022-09-23 14:27] jrieke commented on #2445
Closing this issue since it's old and didn't see a lot of recent activity. Also, we went through multiple iterations of how columns are displayed on mobile, so this is likely already fixed. Feel free to reopen or comment if you have the same problem!

[2022-09-23 14:27] #2445 closed, assigned to nobody

[2022-09-23 14:43] lukasmasuch commented on #1893
Moved to internal Tech Debt DB.

[2022-09-23 14:43] #1893 closed, assigned to nobody

[2022-09-23 14:45] #2574 closed, assigned to nobody

[2022-09-23 14:47] #2603 closed, assigned to nobody

[2022-09-23 14:47] lukasmasuch commented on #2607
Doesn't seem to be flaky anymore

[2022-09-23 14:47] #2607 closed, assigned to nobody

[2022-09-23 14:49] lukasmasuch commented on #2646
Closing since typescript is already updated to latest.

[2022-09-23 14:49] #2646 closed, assigned to nobody

[2022-09-23 14:50] lukasmasuch commented on #2636
Moved to internal tech debt DB.

[2022-09-23 14:50] #2636 closed, assigned to nobody

[2022-09-23 14:51] lukasmasuch commented on #2727
Moved to internal tech debt DB.

[2022-09-23 14:51] #2727 closed, assigned to nobody

[2022-09-23 14:54] lukasmasuch commented on #2779
Closing this since we don't have `pipenv-test-install` anymore.

[2022-09-23 14:54] #2779 closed, assigned to nobody

[2022-09-23 14:58] lukasmasuch commented on #2861
Moved to internal tech debt DB.

[2022-09-23 14:58] #2861 closed, assigned to nobody

[2022-09-23 15:02] lukasmasuch commented on #5058
Moved to internal tech debt DB.

[2022-09-23 15:02] #5058 closed, assigned to nobody

[2022-09-23 15:03] lukasmasuch commented on #2948
Moved to internal tech debt DB.

[2022-09-23 15:03] #2948 closed, assigned to nobody

[2022-09-23 15:07] lukasmasuch commented on #2963
Closing this since I believe that we are now running `tsc` also on `test` files. Did a quick check to confirm this

[2022-09-23 15:07] #2963 closed, assigned to nobody

[2022-09-23 15:09] lukasmasuch commented on #4889
Moved this issue into our internal tech debt DB. We will soon investigate adding security scans.

[2022-09-23 15:09] #4889 closed, assigned to nobody

[2022-09-23 16:09] CHerSun commented on #5368
To my concern above - looks like not showing the label is now possible in 1.13.0. Haven't tested yet.

[2022-09-23 16:14] lukasmasuch commented on #2288
Moved to our internal tech debt DB.

[2022-09-23 16:14] #2288 closed, assigned to nobody

[2022-09-23 16:21] lukasmasuch commented on #2949
Moved into our internal tech debt DB.

[2022-09-23 16:21] #2949 closed, assigned to nobody

[2022-09-23 17:06] #1867 closed, assigned to nobody

[2022-09-23 17:08] #1869 closed, assigned to nobody

[2022-09-23 17:09] jrieke commented on #1872
Dupe of #983, closing.

[2022-09-23 17:09] #1872 closed, assigned to nobody

[2022-09-23 17:10] #4040 closed, assigned to nthmost

[2022-09-23 17:11] jrieke commented on #1939
This is possible with session state, closing.

[2022-09-23 17:11] #1939 closed, assigned to nobody

[2022-09-23 17:12] jrieke commented on #1970
I think the underlying problem here (having subpages) is solved with multipage apps in 1.10, closing.

[2022-09-23 17:12] #1970 closed, assigned to nobody

[2022-09-23 17:14] jrieke commented on #2261
Closing this issue since it's old and didn't see a lot of recent activity. Feel free to reopen or comment if you have the same problem!

[2022-09-23 17:14] #2261 closed, assigned to nobody

[2022-09-23 17:15] jrieke commented on #1989
Dupe of #2263. Closing since the other issue has more upvotes and activity.

[2022-09-23 17:15] #1989 closed, assigned to nobody

[2022-09-23 17:18] jrieke commented on #2385
Closing this issue since it's old and didn't see a lot of recent activity. Feel free to reopen or comment if you have the same problem!

[2022-09-23 17:18] #2385 closed, assigned to nobody

[2022-09-23 17:22] jrieke commented on #2454
Closing this issue since it's old and didn't see a lot of recent activity. Feel free to reopen or comment if you have the same problem!

(And afaik we added Java to all images a while ago, so this might just work without any fix!)

[2022-09-23 17:22] #2454 closed, assigned to nobody

[2022-09-23 17:22] jrieke commented on #2457
Closing this issue since it's old, didn't see a lot of recent activity, and we are unlikely to implement this. Feel free to reopen or comment if you have the same problem!

[2022-09-23 17:22] #2457 closed, assigned to nobody

[2022-09-23 17:24] jrieke commented on #2508
Dupe of #861, closing.

[2022-09-23 17:24] #2508 closed, assigned to nobody

[2022-09-23 17:25] jrieke commented on #680
Dupe of #861, closing since the other issue has more upvotes.

[2022-09-23 17:25] #680 closed

[2022-09-23 17:25] jrieke commented on #1960
Closing, this should be fixed by `st.session_state`.

[2022-09-23 17:25] #1960 closed, assigned to nobody

[2022-09-23 17:26] jrieke commented on #2987
Dupe of #861, closing.

[2022-09-23 17:26] #2987 closed, assigned to nobody

[2022-09-23 17:33] jrieke commented on #2696
Closing this issue since it's old and didn't see a lot of recent activity. Feel free to reopen or comment if you have the same problem!

[2022-09-23 17:33] #2696 closed, assigned to nobody

[2022-09-23 17:39] jrieke commented on #2703
PyDeck removed Jupyter through [this PR](https://github.com/visgl/deck.gl/pull/7125), closing.

[2022-09-23 17:39] #2703 closed, assigned to nobody

[2022-09-23 17:40] jrieke commented on #2709
This is solved by multipage apps in 1.10, closing.

[2022-09-23 17:40] #2709 closed, assigned to nobody

[2022-09-23 17:48] jrieke commented on #2816
We implemented `expanded` a while back. If you need specific other features, please write here or open a separate issue. We will not implement a catch-all `kwargs` parameter, since that is just going to break at some point. Closing for now.

[2022-09-23 17:48] #2816 closed, assigned to nobody

[2022-09-23 17:49] jrieke commented on #2821
We are doing this now, closing.

[2022-09-23 17:49] #2821 closed, assigned to nobody

[2022-09-23 17:51] jrieke commented on #2825
Closing this issue since it's old and didn't see a lot of recent activity. Feel free to reopen or comment if you have the same problem!

[2022-09-23 17:51] #2825 closed, assigned to nobody

[2022-09-23 17:52] jrieke commented on #2829
Closing this issue since it's old and didn't see a lot of recent activity. Feel free to reopen or comment if you have the same problem!

[2022-09-23 17:52] #2829 closed, assigned to nobody

[2022-09-23 17:53] jrieke commented on #2831
Closing this issue since it's old and didn't see a lot of recent activity. This also feels like a use case for a custom component and not something we'd build into the core library. Feel free to reopen or comment if you have the same problem!

[2022-09-23 17:53] #2831 closed, assigned to nobody

[2022-09-23 17:55] jrieke commented on #2944
Closing this issue since it's old, didn't see a lot of recent activity, and we are unlikely to implement this. Feel free to reopen or comment if you have the same problem!

[2022-09-23 17:55] #2944 closed, assigned to nobody

[2022-09-23 17:56] jrieke commented on #2952
This seems to be fixed, closing.
![CleanShot 2022-09-23 at 19 56 18](https://user-images.githubusercontent.com/5103165/192028445-fc69937e-4ddb-47ec-b067-bd30e91159ac.png)

[2022-09-23 17:56] #2952 closed, assigned to nobody

[2022-09-23 18:16] jrieke commented on #3043
Closing this issue since it's old and didn't see a lot of recent activity. Feel free to reopen or comment if you have the same problem!

[2022-09-23 18:16] #3043 closed, assigned to nobody

[2022-09-23 18:18] jrieke commented on #3098
This was fixed a while ago.

[2022-09-23 18:18] #3098 closed, assigned to nobody

[2022-09-23 18:21] jrieke commented on #3146
Dupe of #2180, closing.

[2022-09-23 18:21] #3146 closed, assigned to nobody

[2022-09-23 18:23] jrieke commented on #3201
This should be fixed with multipage apps, closing.

[2022-09-23 18:23] #3201 closed, assigned to nobody

[2022-09-23 18:30] jrieke commented on #3301
Closing this issue since it's old, didn't see a lot of recent activity, and it's unlikely we'll implement it. Feel free to reopen or comment if you have the same problem!

[2022-09-23 18:30] #3301 closed, assigned to nobody

[2022-09-23 18:32] jrieke commented on #3348
An easy fix here would be to just have a more sane random name. Or we could even always have the same name and just let the file system deal with duplicate files.

[2022-09-23 18:34] jrieke commented on #3378
Dupe of #4483. Closing this issue since the other one has more activity.

[2022-09-23 18:34] #3378 closed, assigned to nobody

[2022-09-23 18:35] jrieke commented on #4483
The same issue was mentioned in #3378. See also [this forum thread](https://discuss.streamlit.io/t/toggle-hide-show-sidebar-from-python/5805).

[2022-09-23 18:37] jrieke commented on #3383
This was fixed a while ago AFAIK. Closing, feel free to reopen if it persists.

[2022-09-23 18:37] #3383 closed, assigned to nobody

[2022-09-23 18:41] jrieke commented on #3447
This seems to be fixed in both `st.table` and `st.dataframe`. Closing.

![CleanShot 2022-09-23 at 20 40 58](https://user-images.githubusercontent.com/5103165/192035452-f16a4d96-f07c-49aa-85b5-f050b43f8bec.png)

[2022-09-23 18:41] #3447 closed, assigned to nobody

[2022-09-23 18:46] jrieke commented on #3545
Closing this issue since it's old and didn't see a lot of recent activity. We will also not implement Gitlab support on Cloud anytime soon.

[2022-09-23 18:46] #3545 closed, assigned to nobody

[2022-09-23 18:47] jrieke commented on #3561
Related: #863

[2022-09-23 18:48] jrieke commented on #863
We should also support emoji shortcodes as part of this, see #3561.

[2022-09-23 18:49] jrieke commented on #3588
Closing this issue since it's old, didn't see a lot of recent activity, and we are unlikely to implement this due to design concerns. Feel free to reopen or comment if you have the same problem!

[2022-09-23 18:49] #3588 closed, assigned to nobody

[2022-09-23 18:52] jrieke commented on #3629
Closing this issue since it's old and didn't see a lot of recent activity/upvotes. Feel free to reopen or comment if you have the same problem!

[2022-09-23 18:52] #3629 closed, assigned to nobody

[2022-09-23 18:55] jrieke commented on #3700
Dupe of #641, closing.

[2022-09-23 18:55] #3700 closed, assigned to nobody

[2022-09-23 18:56] cmayoracurzio commented on #4483
The sidebar state (either 'expanded' or 'collapsed') can be controlled programmatically using the `initial_sidebar_state` parameter in `st.set_page_config`.

See below an example that works for me (Streamlit version 1.11.1):

[code]

Hope this helps! And @jrieke hopefully this request can be closed now :)

[2022-09-23 18:57] jrieke commented on #3750
Dupe of #1198, closing.

[2022-09-23 18:57] #3750 closed, assigned to nobody

[2022-09-23 19:05] jrieke commented on #3896
Closing this issue since it's old, didn't see a lot of recent activity or upvotes, and we are not likely to implement this. Feel free to reopen or comment if you have the same problem!

[2022-09-23 19:05] #3896 closed, assigned to nobody

[2022-09-23 19:06] jrieke commented on #3907
Closing this issue since it's old and didn't see a lot of recent activity or upvotes. I also think that this is the intended behavior if you kill the process and we don't want to fix it. Feel free to reopen or comment if you have the same problem!

[2022-09-23 19:06] #3907 closed, assigned to nobody

[2022-09-23 19:08] rmorshea commented on #2825
I think server extensions would provide a way to solve other problems. A quick cursory glance of open issues surfaced https://github.com/streamlit/streamlit/issues/927. The underlying request here is to grant developers access to the underlying Tornado server in order to extend it.

_Edit: Looking into it that may not be the case. It seems like it's the other way around. Django needs to run the To

[2022-09-23 19:09] jrieke commented on #3899
After reading the description again, I think you can do this via `on_change` callbacks and and the `disabled` parameter on widgets. I'll leave this open though to see if more people have requests related to the focus event (which you cannot deal with at the moment).

[2022-09-23 19:10] jrieke commented on #3936
Closing this issue since it's old and didn't see a lot of recent activity or upvotes. We are also not likely to change the running man icon or let you change it, since it's a core part of Streamlit. Feel free to reopen or comment if you have the same problem!

[2022-09-23 19:10] #3936 closed, assigned to nobody

[2022-09-23 19:10] lukasmasuch commented on #3965
Moved to our internal tech debt DB.

[2022-09-23 19:10] #3965 closed, assigned to vdonato, mayagbarnes

[2022-09-23 19:11] jrieke commented on #3940
Closing this issue since it's old, didn't see a lot of recent activity or upvotes, and we are not likely to implement this. Feel free to reopen or comment if you have the same problem!

[2022-09-23 19:11] #3940 closed, assigned to nobody

[2022-09-23 19:25] jrieke commented on #4096
You can now (since 1.13) hide the label with `label_visibility="collapsed"`.

[2022-09-23 19:25] #4096 closed, assigned to nobody

[2022-09-23 19:27] jrieke commented on #4419
Dupe of #4109, closing.

[2022-09-23 19:27] #4419 closed, assigned to nobody

[2022-09-23 19:29] jrieke commented on #4111
Marking this as bug again. The example above actually doesn't work correctly, even though it should. Seems to be conncected to the expander.

[2022-09-23 19:33] jrieke commented on #4255
This is not possible and seems hard to impossible to do. Maybe a good case for a [custom component](https://docs.streamlit.io/library/components/create)! Closing, since we will not add this feature the core library anytime soon.

[2022-09-23 19:33] #4255 closed, assigned to nobody

[2022-09-23 19:34] jrieke commented on #4365
This is possible with the new `label_visibility` parameter in 1.13. E.g. `st.slider(..., label_visibility="collapsed")`.

[2022-09-23 19:34] #4365 closed, assigned to nobody

[2022-09-23 19:37] jrieke commented on #5089
Realized this is a dupe of #2056. Closing here, feel free to add to the other issue!

[2022-09-23 19:37] #5089 closed, assigned to nobody

[2022-09-23 19:38] jrieke commented on #5085
Related: #2056

[2022-09-23 19:55] lukasmasuch commented on #2188
Closing this since it is unlikely that we can reasonably fix it on our side.

[2022-09-23 19:55] #2188 closed, assigned to nobody

[2022-09-23 22:56] jrieke commented on #4347
This shouldn't happen! Marking as bug. *If* that is happening and we can reproduce it, we should just fix it. It's unlikely that we will allow to persist files in the InMemoryFileManager (because than we need to figure out when they change etc -> that's what `st.cache` or `st.experimental_memo` are for).

[2022-09-23 22:59] jrieke commented on #5053
Nope we didn't implement this yet. We don't have a timeline yet but I'm 99 % sure we want to do this at some point.

[2022-09-23 23:08] jrieke commented on #3832
Duplicate of #4382. I am closing this issue here (even though it's older) because the other issue has more upvotes. Will add a note to the other issue to also look at the comments here. For everyone in here: please upvote the other issue if this is still relevant to you! That helps us prioritize ❤️

And yes, we *want* to fix this. But 1) we have higher priority projects at the moment and 2) this i

[2022-09-23 23:08] #3832 closed, assigned to nobody

[2022-09-23 23:08] jrieke commented on #4382
Also look at the comments in #3832, which is an older dupe of this issue (closing it since it has less upvotes).

[2022-09-23 23:09] jrieke commented on #4347
Might be releated to #4254.

[2022-09-23 23:11] jrieke commented on #5404
Makes sense! I think at some point we probably want to have this but it's not super high priority for us right now. @parker84 Is it enough if this would just post the link to your app in Slack or do you need a static version of the app or something like a PDF/HTML file?

[2022-09-24 00:57] vdonato commented on #5409
Hi @EarthzC,

This seems like it's an issue with this particular app rather than the Streamlit library itself. You'll want to contact the authors of the app rather than posting in the library's GitHub issues here.

[2022-09-24 00:57] #5409 closed, assigned to nobody

[2022-09-24 00:58] vdonato commented on #5408
Hi @LalitMahale,

I'd recommend posting in our [community forums](https://discuss.streamlit.io/) to ask for help with this issue as it seems unlikely that the problem is with the Streamlit library itself.

[2022-09-24 00:58] #5408 closed, assigned to nobody

[2022-09-24 05:27] LalitMahale opened #5415 "ModuleNotFoundError: This app has encountered an error. The original error message is redacted to prevent data leaks. Full error details have been recorded in the logs"
### Summary

I uploaded the python file to github, but when I deployed the app on Streamlit and ran it, I got this error:

ModuleNotFoundError: This app has encountered an error. The original error message

File "/home/appuser/venv/lib/python3.9/site-packages/streamlit/runtime/scriptrunner/script_runner.py", line 562, in _run_script
    exec(code, module.__dict__)
File "/app/uber_price_prediction/

[2022-09-24 09:01] Nandithabsatish opened #5416 "hello"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2022-09-24 13:57] jrieke commented on #5416
Seems a bit like you sent this by accident 😉 I'll close this, feel free to open a new issue with more details.

[2022-09-24 13:57] #5416 closed, assigned to nobody

[2022-09-24 19:22] Mja67 opened #5417 "issue"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2022-09-24 20:33] lukasmasuch commented on #5417
Closing this since the issue does not have any description.

[2022-09-24 20:33] #5417 closed, assigned to nobody

[2022-09-25 05:20] mzeidhassan commented on #4382
+1

[2022-09-25 18:43] nicklilley commented on #5003
Anyone figured out a clever workaround for this yet?

[2022-09-25 21:15] stonier commented on #2696
Please do check if the situation still exists. If it is, just because it hasn't been remedied doesn't mean it's irrelevant.

[2022-09-26 01:08] EarthzC commented on #5409
Noted with Many thanks, Vincent.

Regards,

[https://mediabank.ericsson.net/internet-media/Email_logo_Ericsson.png]
Earthz (Kodchakorn C.) (Currently in Beijing, CHINA)
4G/5G Customer Support Engineer (PLM 7)
Mobile: +86 183 0125 7912 (China)

From: Vincent Donato ***@***.***>
Sent: Saturday, September 24, 2022 8:58 AM
To: streamlit/streamlit ***@***.***>
Cc: Kodchakorn Chuaywongyart ***@***.***>;

[2022-09-26 01:20] apiispanen commented on #5339
@carolinedlu This issue is still happening - any idea why this occurs?

Thanks!

[2022-09-26 04:09] GitHunter0 commented on #4344
I love Streamlit but the requirement to access ALL private repositories is perverse...

Edit: Unfortunately, I can't use Streamlit Cloud while this requirement is on, this is insane and a very serious privacy/ethical issue.

[2022-09-26 05:23] sfc-gh-kbregula commented on #1531
We already have this check in `protobuf` command.
https://github.com/streamlit/streamlit/blob/b8bcdae3f946b7585af3d719905f8bcccdbd30cb/Makefile#L230-L248

[2022-09-26 08:50] TusharKuwar commented on #27
Hello, Can I contribute to this. Can you assign it to me ?

[2022-09-26 10:06] #5027 closed, assigned to nobody

[2022-09-26 11:51] nikhil191991 commented on #3052
We are desperately waiting for this feature. Is there an ETA for this issue?

[2022-09-26 13:01] sfc-gh-kbregula commented on #3052
The alignment method can be controlled using CSS styles.
[code]
<img width="1460" alt="Screenshot 2022-09-26 at 15 00 07" src="https://user-images.githubusercontent.com/78743291/192282901-bfa2c19b-e893-4dfa-994b-8682b91138f4.png">

[2022-09-26 13:04] sfc-gh-kbregula commented on #5415
This file should be named: `requirements.txt` (`s` at the end). For details, see: https://docs.streamlit.io/streamlit-cloud/get-started/deploy-an-app/app-dependencies

[2022-09-26 13:04] #5415 closed, assigned to nobody

[2022-09-26 15:46] astrowonk commented on #5336
FYI @AnOctopus  I did make a super [simple dash example of (one) plotly graph on screen and a text field](https://github.com/astrowonk/streamlit_lag_example/blob/main/dash_example.py). It's not great, but not as bad as the streamlit input lag, so I think there's some javascript interaction going on with streamlit and plotly.

I should put 5 in tabs like here to fully make it equivalent to the stre

[2022-09-26 17:10] giswqs opened #5418 "st.image bug in v0.13.0"
st.image can display a local GIF correctly in v1.12.2. However, v0.130 displays the gif as a static png. When right-clicking on the image, it can only be saved as a png, whereas in v0.12.2, it can be saved as GIF.

[code]

![58a0c8f8-6162-4a5b-b0e5-a41430946358](https://user-images.githubusercontent.com/5016453/192338383-2a7b43ef-c279-40f5-ad31-f004b1e1db81.gif)

[2022-09-26 17:15] giswqs commented on #5418
It is probably related to this commit.

https://github.com/streamlit/streamlit/compare/1.13.0...develop#diff-d44254193436fb85f9870ba7de0b585ac6ecd29e65049436d54b952c3a41f746L61

![image](https://user-images.githubusercontent.com/5016453/192339511-9013696b-e2b5-4170-aa44-66bc2a4f1e7e.png)

[2022-09-26 22:10] tyblount-illumina opened #5420 "Key Error in query"
### Summary

Hello, I encountered a key error when trying to set the material number to value 0801-1080 in the ffn dash\yield query.
### Steps to reproduce

Code snippet:

File "C:\Users\tbasic\AppData\Local\Programs\Python\Python39\lib\site-packages\streamlit\scriptrunner\script_runner.py", line 557, in _run_script
    exec(code, module.__dict__)
File "QueryTool.py", line 172, in <module>
    q_v

[2022-09-27 00:58] AnOctopus commented on #5336
I took a look at this issue this afternoon, something about forms is causing DOM events to trigger plotly to run an expensive rerender, though I don't yet know why.

[2022-09-27 03:16] yangboz opened #5423 "ModuleNotFoundError: No module named 'streamlit.runtime.in_memory_file_manager'"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2022-09-27 03:20] yangboz commented on #5423
and I am wondering does it  here ?
https://github.com/streamlit/streamlit/blob/develop/lib/streamlit/runtime/uploaded_file_manager.py
please verify. thanks.

[2022-09-27 04:36] m3redithw opened #5424 "plotly module not fonud"
### Summary

I used plotly in my web app and it runs fine locally, but when I tried to deploy it's giving me this error below. I have tried it multiple times and it's been the same result.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce t

[2022-09-27 05:11] willhuang1997 commented on #5424
Hi @m3redithw , this is not related to the open source library so I will be closing this. However, you should put this on discuss.streamlit.io and I'm sure someone there can help you there.

The first thing that comes to my mind for helping you would reading this doc: https://docs.streamlit.io/streamlit-cloud/get-started/deploy-an-app/app-dependencies

If you feel like this should be reopened, let

[2022-09-27 05:11] #5424 closed, assigned to nobody

[2022-09-27 07:44] snehankekre commented on #5389
The issue isn't present in 1.13.0. #5248 fixed the issue 👍

[2022-09-27 07:47] #5389 closed, assigned to nobody

[2022-09-27 11:13] ZeroCool940711 commented on #1019
Two years since this issue was open and we still don't have a folder picker, wow.

[2022-09-27 14:32] q-wertz commented on #4904
In general I understood the [documentation](https://docs.streamlit.io/library/api-reference/data/st.dataframe)

such that I can manipulate the output directly using the pandas methods…

E.g.
[code]

or does this fall under the

part?

---

EDIT:
Sorry forget about it. Was my fail.
[code]
works as expected.

[2022-09-27 15:21] nicornk commented on #5166
@tconkling Do you have an ETA when `_get_websocket_headers()`will be released?
Right now we are stuck with 1.11.1 as last good version.

Thanks!

[2022-09-27 16:59] munenekelvin001 opened #5430 "Error message: Tried to use SessionInfo before it was initialized."
### Summary

The model keeps showing the error message "Tried to use SessionInfo before it was initialized" and then crashes. This hinders me from getting the export button and downloading the report.
Please advice.

Error is seen on -- https://maximelutel-streamlit-prop-streamlit-prophetappdashboard-yprrk4.streamlitapp.com/

[2022-09-27 18:25] dectoplate commented on #5166
Hi @nicornk,

You don't have to be stuck on version 1.11.1, as it's indeed possible to access websocket headers in **current** version 1.12.2.
Since Streamlit is opensouce, we can always find a way... It's just not officially supported in the API, so it may chance in future releases, and you'll have to be creative and change the method every time it does.

How it can be done in current version 1.1

[2022-09-27 18:34] dectoplate commented on #5166
Hi @nicornk,

You don't have to be stuck on version 1.11.1, as it's indeed possible to access websocket headers in **current** version 1.12.2.
Since Streamlit is opensouce, we can always find a way... It's just not officially supported in the API, so it may change in future releases, and you'll have to be creative and change the method every time it does.

How it can be done in current version 1.1

[2022-09-27 19:02] nicornk commented on #5166
@dectoplate Thank you for providing the new workaround!

To be honest I have played this cat and mouse game now for 1.5 years and had 3 breaking changes for code to retrieve the request headers in streamlit. At this point I have decided to wait for the team to hopefully provide a semi-supported way of accessing the request headers.

[2022-09-27 23:50] YeshwanthRams commented on #4094
I happened to read sql table to Dataframe using read_sql_query. But trying to display that data Frame
Displaying this Error :
![image](https://user-images.githubusercontent.com/73695048/192655003-f3e147f3-0fd1-4bfb-b19b-4b62b9e29c5f.png)

| Subject| Mid1| Mid2 | Avg |
| --------| ----- | ------ | ---- |
| Sub1 | 26 | 26 | 26 |
| Sub1 | 28 | 28 | 28 |

code :
[code]
```st.write``` or ```st.table```

[2022-09-28 04:59] 12345678987654321eric opened #5434 "st.download_button API file_name can not use chinese"
how to fix  st.download_button API  file_name can not use chinese?
(streamlit  v1.13.0)
cmd terminal  error message is :::
2022-09-28 11:18:26.381 Uncaught exception GET /media/eb0ebb259dba8fee772fdc49bcde5e46da4980961caf89f4924d7a97.txt?title=%E7%A9%BF%E5%8F%8D%E9%87%8F%E6%B8%AC%E5%B9%B3%E5%8F%B0 (::1)
HTTPServerRequest(protocol='http', host='localhost:5420', method='GET', uri='/media/eb0ebb259db

[2022-09-28 06:33] scm-analytics opened #5435 "Unable to add Filters and refresh them"
### Unable to add Filters and refresh them

I am unable to add new filters though its running fine on the back end but its not visible on my stremlit app.

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down

[2022-09-28 06:44] lluissalord commented on #4417
Just for anyone reading this thread, with #5426 the issue should be solved and `Enum` would be supported for hashing. It is true that it have not gone for the root cause, but a direct fix for `Enum`, but it is better than nothing 😄

[2022-09-28 07:52] snehankekre opened #5436 "st.slider crashes browser tab when max_value=500000000 and step=1"
### Summary

`st.slider` causes the browser tab to crash when `max_value` is set to a very large (> 300 million) value and `step=1`.

### Steps to reproduce

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/streamlit_badge_black_white.svg)](https://issues.streamlitapp.com/?issue=gh-5436)

Code snippet:

[code]

It’s important to note that this operation effectively passes an array to

[2022-09-28 08:56] lukasmasuch commented on #4094
@YeshwanthRams What Streamlit version are you using? We recently released some improvements related to this issue, it might be working fine with the most recent Streamlit version.

[2022-09-28 09:44] daveycope opened #5437 "Widget attribute to hook into for custom CSS"
### Problem

st.markdown is great for getting under the hood of the generated html. There are some pre-defined IDs under the "data-testid" nomenclature which are fine if you need to target those, but not everything has IDs and being able to add our own would clash with the internal ones at some point.

What would be good is to be able to add a user defined class name into the attributes of an exis

[2022-09-28 10:47] YeshwanthRams commented on #4094
1.12.2 when Wrote the problem
Upgraded it to 1.13.0, still having the problem

After trying different Things, i realized columns data types of Dataframe are in object

| Column | Datatype |
| --------- | --------- |
| Subject  | object |
Mid1       | object    |
Mid2       |  object  |
Avg         | object |
dtype: object |

So, i managed to get around the error by converting Data types of each co

[2022-09-28 11:07] lukasmasuch commented on #4094
@YeshwanthRams it would be great if you would run and share the results of the following code on the original dataframe (with the object types):

[code]

[2022-09-28 11:40] YeshwanthRams commented on #4094
Code
[code]
result
![image](https://user-images.githubusercontent.com/73695048/192770369-37c0e37a-2aae-413f-9081-43b9c1b84866.png)

[2022-09-28 12:13] lukasmasuch commented on #4094
@YeshwanthRams Thanks :) The issue is that pandas is interpreting the columns as mixed-integer, indicating that the column contains integers mixed with non-integers. Do you know if your columns contain any non-integer values or are there missing values?

Unfortunately, `mixed` types are not supported by arrow. But I will roll out a fix that falls back to `str` type in this case, so that it is guar

[2022-09-28 12:52] YeshwanthRams commented on #4094
@LukasMasuch
I found the issue, mistake i was doing is i quoted the numeric values as str while inserting values to Database table

Before:
[code]
could that be the reason for datatype to be mixed-integer?

I changed it
After:
[code]
result
![image](https://user-images.githubusercontent.com/73695048/192782495-0eda759a-f2db-499a-8e88-a88ee764d51c.png)

[2022-09-28 13:07] lukasmasuch commented on #4094
Yep, I assume this might have been the issue of why it is interpreted as `mixed-integer` 👍

[2022-09-28 14:09] danodonovan opened #5439 "Handling External Command Line Arguments"
### Summary

Thanks for all the great work :-)

Issue: sending custom command line arguments / parameterisation to a streamlit app.

There is a previous issue #337  whoever, there seems to be a reversion when testing the solution suggested [here](https://github.com/streamlit/streamlit/issues/337#issuecomment-543411846).

### Steps to reproduce

For a very simple streamlit app;

Code snippet:

[cod

[2022-09-28 14:26] danodonovan commented on #5439
I'm closing this issue with my apologies, the error is arising from my use of poetry;
[code]
fails but
[code]

runs as expected.

[2022-09-28 14:26] #5439 closed, assigned to nobody

[2022-09-28 14:33] YeshwanthRams commented on #4094
@LukasMasuch Thank you so much for your help.

[2022-09-28 15:12] kailingli opened #5440 "App refused to start on RSConnect Server"
### Summary

It is running great on my local machine.

And it was successfully uploaded to RSConnect Server, however, it throw the following error when trying to start the app.
"ImportError: cannot import name 'bootstrap' from 'streamlit'"

Code snippet:

[code]

### Debug info

- Streamlit version: Streamlit, version 1.13.0
- Server Python version: 3.8.10
- Local Python version: 3.8.13
- Local is

[2022-09-28 19:26] BCPLift commented on #5166
I understand now that Streamlit is the $800M company and they want to clean up some of the code base that was created is what appears to be a scramble in some cases, it doesn't excuse the fact that any decent Python package I've used in the last 20 years follows the depreciation warning, side by side implementation and phase out process of code updates.

Streamlit appear to just 🖕 the community th

[2022-09-28 21:06] nathancooperjones commented on #4996
For some reason, I am also running into this issue, even with the most recent version of Streamlit (as of the time of writing, that is `1.13.0`).

## Debug info

Streamlit version: 1.13.0
Python version: 3.9.12
Using pip
OS version: macOS Monterey v12.6
Browser version: Safari Version 16.0

A bit hacky, but I have found that if I reload the app as soon as the page loads, this will prevent the inco

[2022-09-28 23:22] tconkling commented on #5166
@nicornk - we've just merged the PR that's a prerequisite for this (https://github.com/streamlit/streamlit/pull/5432), and I'll be finally looking at this new private API next!

@BCPLift, re:

Yes, this is our policy as well! We have a deprecation policy for all our public APIs: deprecation happens with many months of notice, and always with replacement guidance. (This particular Github issue rega

[2022-09-29 00:10] owos commented on #4382
Is this the solution that made you close the other issue @jrieke ?

[2022-09-29 00:12] owos commented on #3832
How do we install it?

[2022-09-29 02:32] PaleNeutron commented on #3832
@owos , Just `pip install streamlit-ext`.

[2022-09-29 07:50] nicornk commented on #5166
@tconkling Highly appreciate the update.
What about making this an officially supported public API? As you can see from the replies to the issues, the community has a clear demand for this.

[2022-09-29 08:15] ChristophBoerlin opened #5442 "Reset widget state by deleting the session state value"
### Summary

Deleting the key of a selectbox widget from the session only leads to a half reset of it. The output variable is reset to the default, but the actual widget display is stuck on the previous selection.

### Steps to reproduce

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/streamlit_badge_black_white.svg)](https://issues.streamlitapp.com/?issue=gh-5442)

Code snippet:

[2022-09-29 08:25] ChristophBoerlin commented on #5442
I now tested more widgets and it seems a common (but not universal) issue.
It does also not work for:
Radio, mutli_select, number_input, text_input, and select_slider.
Interestingly it does work as expected for the slider.

[2022-09-29 09:26] BramVanroy commented on #4854
Any update on this? I am still experiencing this with 1.10.0.

[2022-09-29 12:04] oddeirikigland commented on #611
+1

[2022-09-29 12:10] jrieke commented on #4382
No, I closed it so we don't have the same issue twice on here.

[2022-09-29 13:00] cmayoracurzio commented on #5442
Hi @ChristophBoerlin ,

This is not a bug. If you want to reset a widget, you should not delete the widget key, but modify its value instead.

Haven't tested it but I rewrote below your example with a numeric key. Hope this helps and closes the issue :)

[code]

[2022-09-29 13:33] jrieke commented on #5166
@nicornk Definitely an option! I'll keep it in mind and if we get more upvotes on this issue, it's something we can consider. Right now we have more high priority things on our plate. Turning this into a public API also isn't a trivial change unfortunately. We want to design public APIs in the best way possible (exactly because we cannot easily revert them!), which is a significant time investment

[2022-09-29 14:46] nicornk commented on #5166
Thanks for your reply @jrieke !
Just making you aware, that the main issue related to this feature request:
https://github.com/streamlit/streamlit/issues/1083
is open since Feb. 2020 and currently the 7th most commented streamlit issue - but I am sure you have already seen that.

[2022-09-29 17:54] AnOctopus commented on #5336
I'm pretty sure I figured out the cause of the issue. Widgets in forms update the stored state very eagerly, causing a top level component to rerender each input. The plotly component we're using wants to use reference identity to determine if it should recompute things for a rerender, but we keep passing it objects that are value-equal but not reference-equal, so it does a bunch of work because i

[2022-09-29 18:04] 106AbdulBasit opened #5448 "InternalHashError"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2022-09-29 22:09] parker84 commented on #5404
static version, like pdf / jpeg / ...

Thanks @jrieke !

[2022-09-30 03:09] KennethOdoh commented on #5003
Please is there a workaround this issue?
Even if it demands using custom CSS!

[2022-09-30 03:58] tyzoid commented on #5423
@yangboz - `in_memory_file_manager` was renamed to `media_file_manager` in https://github.com/streamlit/streamlit/commit/44f320c05a05d9989a87f3a5eb2fa336af15b8c1 , which is included in the latest 1.13.0 release. Renaming these references in sd-webui should resolve the issue.

That, or you could downgrade the version of streamlit you have installed - sd-webui calls for 1.12.2, and does not currentl

[2022-09-30 06:57] samuelefiorini opened #5454 "Invisible tabs"
### Summary

Unexpected tab behavior when their creation depends on some condition (e.g.: a checkbox).

### Steps to reproduce

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/streamlit_badge_black_white.svg)](https://issues.streamlitapp.com/?issue=gh-5454)

[code]

Steps to reproduce:

1. Switch to Tab 2
2. Click on Checkbox 1 (uncheck)

**Expected behavior:**

Move page focus to t

[2022-09-30 08:16] mvanwyk commented on #1386
For anyone coming across this issue, the solution for us was to specify the timeout in the k8s manifest BackendConfig as per below.

[code]

[2022-09-30 18:34] #5166 closed, assigned to nobody

[2022-09-30 23:05] vdonato commented on #5420
Hi @tyblount-illumina,

This seems to be a bug report for an app built using Streamlit rather than the Streamlit library itself. You'll want to contact the authors of this app to report this one.

[2022-09-30 23:05] #5420 closed, assigned to nobody

[2022-09-30 23:11] vdonato commented on #5423
Thanks for chiming in @tyzoid.

@yangboz -- tyzoid's answer is correct and the issue is that it seems like `sd-webui` (which I'm not familiar with) is using an internal/undocumented Streamlit module that changed in 1.13.0. You'll want to either downgrade your streamlit version to 1.12.2 or wait until `sd-webui` updates their code to comply with the new streamlit version.

Note also that we don't p

[2022-09-30 23:11] #5423 closed, assigned to nobody

[2022-09-30 23:13] vdonato commented on #5430
Hi @munenekelvin001,

This seems to be a bug report for a particular app built using Streamlit rather than the Streamlit library itself. You'll want to contact the app's author to report this.

[2022-09-30 23:13] #5430 closed, assigned to nobody

[2022-10-01 03:27] KeeonTabrizi commented on #2569
@hayk-skydio I found your solution does generally work - but found that when using a GeoJsonLayer - that there is an issue when `extruded=False` and `pickable=True` in (pdk.Layer). This combo cause all elements to disappear on mouse-over. There does not appear to be an issue if either `pickable=False` or `extruded=True`.

[2022-10-01 15:22] LIQUIDMIND111 opened #5464 "POST PROCESSING and TEXT TO VIDEO are not showing anything"
### Summary

WHen i choose the TABS post processing, or text to video, it wont show anyhintg, jkust a blank screen..... other tabs like text to image or image to image work fine/. i am using the latest version of google chrome...///
![Screenshot 2022-10-01 112047](https://user-images.githubusercontent.com/112510084/193416359-77e11541-bb83-4ad5-b89e-a0ea592b13c3.jpg)

### Steps to reproduce

Code s

[2022-10-02 08:22] BramVanroy commented on #4975
+1 to the suggestions here. Streamlit is great but the lack of front-end customizability is a big hindrance. Having something "as simple as" being able to specify classes or IDs for every streamlit component and then using the famous CSS hacks through unsafe=True, would be a MASSIVE improvement.

[2022-10-02 09:07] sfc-gh-kbregula commented on #5398
Confirmed that this bug exists in the latest version of [`react-json-view`](https://www.npmjs.com/package/react-json-view) - 1.21.3.
<img width="1783" alt="Screenshot 2022-10-02 at 11 04 12" src="https://user-images.githubusercontent.com/78743291/193446675-750862f8-966d-4bdf-a6f1-16c7e1e6558c.png">
[code]

@devxpy  Could you please report this issue to [`react-json-view`](https://www.npmjs.com/pac

[2022-10-02 11:06] Muhammad-Ali-Saqib commented on #1431
facing the same issue
code is here
[code]

[2022-10-02 19:32] zupdaz commented on #1019
Another vote for Folder picker.

I think the initial request was misunderstood.
We all want just a more elegant replacement instead of copying a path into the text field.

[2022-10-03 08:49] InitialDW commented on #2169
Plus 1 for this, it'd be very nice to have a way to limit a container/expander height.

[2022-10-03 11:32] CharlyWargnier opened #5466 "Customisable layout sizes"
As of today, we have two options for our layout: `centered` and `wide`

Customisable layout sizes (or at least additional fixed-size choices) would be a welcome addition.

One workaround is to switch to wide mode and add some padding around, e.g.

`_, left, right, _ = st.columns([1, 2, 2, 1])`

Yet it would be great to have a more flexible option.

### Voting for feature requests
Community voting

[2022-10-03 11:52] dougmet opened #5467 "Altair chart clipped when no legend title"
### Summary

When displaying an altair plot, with a legend at the top or the bottom without a title, the chart is being clipped at the sides, losing the y-axis labels.

I'm not 100% sure if this is a streamlit issue or an altair issue. However, I do not experience this problem in a Jupyter notebook without streamlit so thought I'd start here.

### Steps to reproduce

[![Open in Streamlit Cloud](ht

[2022-10-03 12:38] orentapiero12 opened #5468 "I found This bug, which I don't know how proceed"
InternalHashError: No module named 'main'

While caching the body of convert_df(), Streamlit encountered an object of type builtins.function, which it does not know how to hash.

In this specific case, it's very likely you found a Streamlit bug so please [file a bug report here.] (https://github.com/streamlit/streamlit/issues/new/choose)

In the meantime, you can try bypassing this error by regist

[2022-10-03 13:23] arkanoid87 commented on #4519
facing the same issue, hiding error on client side while keeping them on server side is paramount to keep using streamlit as frontend

[2022-10-03 17:58] sfc-gh-kbregula commented on #5440
It looks like RStudio Connect is not compatible with the latest version of streamlit. Could you use a different version and report this issue to the RStudio Connect team?

[2022-10-03 20:37] acycliq opened #5471 "Invoking streamlit from within Python"
How do you launch streamlit from within Python? For `v1.11.1` this looked to work
[code]
It appears that there is no `bootstrap module` anymore. Any help please?

[2022-10-03 21:26] ajbozarth commented on #2517
This is still an issue, specifically any tornado instance running on the same domain as a Streamlit instance shares the `_xrsf` cookie and would break in cases where Streamlit deletes the cookie. Given this a tornado cookie streamlit should not be deleting it directly and should let the tornado API handle it's life cycle.

[2022-10-03 23:26] sfc-gh-kbregula commented on #5471
Python has a standard API for running modules that you can use - [`runpy`](https://docs.python.org/3/library/runpy.html).

[code]

[2022-10-04 00:17] #2005 closed, assigned to sfc-gh-kbregula

[2022-10-04 00:24] #5434 closed, assigned to nobody

[2022-10-04 07:16] firla commented on #2180
Hi. I am currently researching web app frameworks for a new project, so I am new to the topic. Streamlit sounds wonderful and is currently my favorite. However, I absolutely need the "rerun when database (redis keys) changes" feature. I have read #2060 and #2180, but I am not yet sure if the feature is available  (per `st.experimental_rerun`).

Thank you for a brief info or links to related docume

[2022-10-04 12:03] ChrisDelClea commented on #2457
Sad story. Would have been great to have it.

[2022-10-04 12:50] etiennelndr opened #5474 "HTML content not displayed in component"
### Summary

I would like to display a 3D rendering in my Streamlit application. To do so, I'm using [pyvista](https://docs.pyvista.org/) to render 3D models but nothing is displayed.

### Steps to reproduce

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/streamlit_badge_black_white.svg)](https://issues.streamlitapp.com/?issue=gh-5474)

Code snippet:

[code]

**Expected behavior:**

[2022-10-04 13:35] VigneshBaskar opened #5475 "Cloud Run - Healthz Error"
When we deploy Streamlit on Google Cloud Run we have healthz 404 error. This is well known problem. Is there any solution for Google Cloud Run that actually works?

I did try this solution: https://discuss.streamlit.io/t/has-anyone-deployed-to-google-cloud-platform/931/21
But it doesn't work

[2022-10-04 14:04] sfc-gh-kbregula commented on #5475
https://github.com/streamlit/streamlit/issues/3028 is it related?

[2022-10-04 14:59] UrszulaCzerwinska commented on #4842
hi, I am running into the same issue
It seems to me that the WORKDIR is specified as you recommend

`Docker version 20.10.17, build 100c701`
`streamlit=1.13.0`
`Mac Pro M1 12.6`

[code]

[code]

[code]

[2022-10-04 15:57] VigneshBaskar commented on #5475
Thank you. I tried it out. It doesn't work for me. Any other advice please?

[2022-10-04 17:43] antopj commented on #996
Big Thanks for streamlit !

@nthmost
I wish we had the option to make all text elements/display elements were scrollable.

Long output texts, Long list of checkboxes, buttonlists, etc..

[2022-10-04 18:38] VigneshBaskar opened #5480 "Google Cloud Run - Non stop Health check"
### Summary

Non stop Health check in Streamlit running on GCP Cloud Run. Because of Streamlit Healthz error on Google Cloud Run, I renamed the the scripts this way
`RUN find /opt/conda/lib/python3.7/site-packages/streamlit -type f \( -iname \*.py -o -iname \*.js -o -iname \*.tsx \) -print0 | xargs -0 sed -i 's/healthz/health-check/g'`

But now there is non-stop health check
![image](https://user-

[2022-10-04 20:29] lukasmasuch commented on #5475
Unfortunately, at the moment we don't have any more information or advice on the GCP Cloud Run issue. But we have this on our roadmap to investigate this soon. Closing this issue to keep the conversation in https://github.com/streamlit/streamlit/issues/3028

[2022-10-04 20:29] #5475 closed, assigned to nobody

[2022-10-04 22:45] #1361 closed

[2022-10-04 22:45] #3696 closed, assigned to nobody

[2022-10-04 22:45] #4058 closed, assigned to nobody

[2022-10-04 22:45] #4094 closed, assigned to nobody

[2022-10-04 22:45] #4454 closed, assigned to nobody

[2022-10-04 23:12] caroheymesitf opened #5483 "Python not configured for Tk"
### Summary

Cannot deploy a streamlit from Dockerfile
ImportError: libtk8.6.so: cannot open shared object file: No such file or directory
File "/usr/local/lib/python3.8/site-packages/streamlit/runtime/scriptrunner/script_runner.py", line 562, in _run_script
    exec(code, module.__dict__)
File "/app/app.py", line 5, in <module>
    from turtle import width
File "/usr/local/lib/python3.8/turtle.py

[2022-10-05 07:35] robingie commented on #4382
+1

[2022-10-05 09:26] tilenkranjc commented on #5178
I have a similar situation, struggling for months now. I'm importing a python script from a subfolder in app.py, which is a multi-page app. All the pages are in the root folder, so hot-reloading works fine. It does not though for the other script in a subfolder.
[code]
In `app.py` I have `from subfolder.script import Class`.

I added `server.fileWatcherType` to `"poll"`. When I change `script.py`

[2022-10-05 12:32] sfc-gh-tszerszen commented on #3724
In the next Streamlit release there should be workaround for the issue, once you define width/height and xmlns attributes on your SVGs they should be scalable. One can try the feature earlier with RC release.

[2022-10-05 12:33] #3724 closed, assigned to sfc-gh-tszerszen

[2022-10-05 14:04] jonathanslenders commented on #439
See also: https://github.com/streamlit/streamlit/issues/4311

The best way to integrate with other web frameworks is IMHO mounting Streamlit as an ASGI application in for instance Starlette,FastAPI,etc...

[2022-10-05 14:20] mikeolubode commented on #1294
Thanks for explaining the problem. My app runs with replicas behind a load balancer, I solved the 0-image problem  by using sticky routing. Adding the sticky-cookies-services annotation [here](https://github.com/nginxinc/kubernetes-ingress/tree/v2.3.1/examples/session-persistence) worked for me.

[2022-10-05 15:01] fredzannarbor commented on #439
I believe you but I had actually never heard of ASGI, Starlette, or
FastAPI. I know Flask quite well and React decently.

On Wed, Oct 5, 2022 at 10:05 AM Jonathan Slenders ***@***.***>
wrote:

[2022-10-05 16:56] AlonSam commented on #4483
@marduk2's solution probably solves the problem for most of the people, but my problem is a little different and sadly I don't seem to find a way to solve it.
When my app loads, the sidebar is expanded and showing a list of games (basketball games), like that:
![image](https://user-images.githubusercontent.com/34817108/194116650-7548811a-9440-47d1-bcea-de83b9617688.png)

Each game is an individual

[2022-10-05 17:11] AlonSam commented on #4483
Minutes after posting the above problem I had succeeded to solve it.
Wasn't sure whether I should delete the post or share the solution, but eventually decided on the latter.
While trying to solve, I had learnt that ```initial_sidebar_state``` of ```st.set_page_config``` will ignore the value of ```st.session_state.sidebar_state``` as long as it's value doesn't change.
If that is the case, I figur

[2022-10-05 17:51] gnat79 commented on #1299
Running `streamlit config show` shows that the option is `--server.gatherUsageStats` as of streamlit 1.12. Perhaps this caused confusion.

[2022-10-05 18:28] mzeidhassan commented on #612
Any update on this please?

[2022-10-05 18:31] czubert commented on #612
+1