[2020-08-31 12:29] randyzwitch commented on #1938
Hi @ashishgopal1414 -

I'm going to close this issue, since it's not really an issue with Streamlit. If Heroku's free tier has a limit at 500MB, then you either need to pay for hosting or use the older version of pycaret.  You might also post this on our messageboard, see if anyone else has alternative library suggestions for you.

https://discuss.streamlit.io

Best,
Randy

[2020-08-31 12:29] #1938 closed, assigned to nobody

[2020-08-31 13:46] silas2471 commented on #1792
After updating to streamlit version 0.65 both problems still occur. Is anybody going to take a look at it ?? Or are ther any suggestion on how to avoid the problem?

[2020-08-31 16:22] asg017 commented on #513
Update: I wrote a custom component for rendering Observable notebooks called [`streamlit-observable`](https://github.com/asg017/streamlit-observable). You can check out an example app here: http://streamlit-observable.herokuapp.com/

[2020-08-31 17:03] tvst commented on #653
Just jumping in here (without reading the whole thread, sorry!) to let y'all know we're planning on adding this feature to `st.experimental` soon. It will likely be called something like `st.experimental_rerun`.

So please continue the conversation here and add ideas, etc, as we'll be combing through these before starting any work!

[2020-08-31 18:37] ajduberstein commented on #809
As of pydeck 0.4.0 you can disable the base map by setting `map_provider=None`

Docs: https://pydeck.gl/deck.html?highlight=map_provider
Example: https://pydeck.gl/gallery/geopandas_integration.html

[2020-08-31 18:56] ajduberstein commented on #1933
In my developer console when executing this example in Streamlit, I see this–

![image](https://user-images.githubusercontent.com/2204757/91754947-2b6a9280-eb7f-11ea-9336-5c4d170aa829.png)

You likely need to upgrade to deck.gl 8.2:

![image](https://user-images.githubusercontent.com/2204757/91755016-45a47080-eb7f-11ea-934e-ddab9efe01cf.png)

If it helps, Streamlit can read the deck.gl semver used

[2020-08-31 19:02] randyzwitch commented on #1933
@kantuni, I think you're working on dependency updates...were you aware of this one?

[2020-08-31 20:40] tvst opened #1941 "Crazy error message shown when two widgets have the same key"
# Steps to reproduce

1. Run this code
[code]
2. Observe!

## Expected behavior:

You should get one button plus an error message explaining you can't have to `st.button` calls with the same key.

## Actual behavior:

The error message complains about `st.-3952690150221448179` :scream_cat:

See screenshot:
![image](https://user-images.githubusercontent.com/690814/91766363-4f35d480-eb8f-11ea-8648-c

[2020-08-31 20:52] karriebear commented on #1916
Fixed in #1934!

[2020-08-31 20:52] #1916 closed, assigned to nobody

[2020-08-31 23:24] SimonBiggs commented on #653
All good :) I would like to propose to include both `st.experimental_session_id` and `st.experimental_rerun(session_id=None)` that way a separate thread (say within a watchdog observer) can use that session ID to trigger the reload.

Also, for just the rerun option, I'd be quite keen to be able submit the code as a pull request if you're okay with that? It's a bit nice having the git version contr

[2020-08-31 23:34] #1941 closed, assigned to nobody

[2020-09-01 00:24] nthmost commented on #1940
Closing to see it close on JIRA as well

[2020-09-01 00:24] #1940 closed, assigned to nobody

[2020-09-01 01:08] kmcgrady commented on #1924
Hey @galinaalperovich, thanks for raising the issue! I'd love to help get to the bottom of this.

First, we have a fix merged to provide a better message. To explain, we generate a widget id based on the structure of the widget. In this case, the checkbox is an identical structure (`label` and `value`), and will always produce an error. The change in the PR will provide a more meaningful error tha

[2020-09-01 01:19] karriebear opened #1945 "Unpin setuptools"
# Summary

Setuptools is pinned as part of #1944 while an [issue](https://github.com/pypa/setuptools/issues/2355) is opened with them . Once the issue is resolved, we can unpin setuptools.

[2020-09-01 02:55] karriebear opened #1946 "Slack notifications for new package version"
Not sure if this is going to be helpful but it would be great if we can get slack notifications somewhere that will notify us of any new package versions. While there still may be test failures, at least it'll be an easy way for us to connect the dots without digging too much.

This could also be helpful if we pin packages and inform us when we need to determine if we can upgrade/unpin.

[2020-09-01 02:59] karriebear opened #1947 "Pin black version to current"
Black formatting can be pinned so that any future version upgrades does not cause any breaking changes. As new versions become available, we can consciously decide to upgrade. See #1946  for proposal on new version notifications.

[2020-09-01 03:17] karriebear commented on #1915
Would be great to incorporate [streamlit-ace](https://github.com/Ghasel/streamlit-ace) for the live edit/hack functionality! I think @tvst might be working on a component that builds on top of it.

[2020-09-01 11:00] kantuni commented on #570
Will be closed by #1888.

[2020-09-01 11:45] kantuni opened #1948 "Fix `make pytest` warnings"
We have 8 warnings at this point, most of which can be easily fixed.

[2020-09-01 16:19] joelbs commented on #896
**Example use case for including the filename in a file upload: creating a simple image cropping tool to preprocess images**
- user uploads "filename.jpg"
- user interacts with Streamlit to tune parameters
- user clicks "Save/process image"
- image is processed and saved as "filename-crop.jpg"

[2020-09-01 17:19] ssameerr commented on #862
Same here

[2020-09-01 19:11] randyzwitch commented on #1933
https://github.com/streamlit/streamlit/pull/1954

[2020-09-01 20:22] kmcgrady commented on #74
This has been fixed through https://github.com/streamlit/streamlit/pull/1785 to address https://github.com/streamlit/streamlit/issues/78 The solution ends up being to select the first column of a dataframe.

[2020-09-01 20:22] #74 closed

[2020-09-01 23:42] lmeyerov commented on #744
Same... we do a DB query (`gremlinpython`), which handles async etc. fine and gets back the result, but upon `conn.close()`, get a similar error:

[code]

cc @spmallette wrt https://github.com/apache/tinkerpop/pull/1212

[2020-09-02 00:45] karriebear opened #1957 "Some svg strings that work on the browser do not work with st.image"
## Example 1:
Input:
[code]
Output:
![image](https://user-images.githubusercontent.com/24946400/91919432-f9972000-ec93-11ea-993c-bcba2f124e98.png)

Expected:
![image](https://user-images.githubusercontent.com/24946400/91919517-3cf18e80-ec94-11ea-8d8d-17f0e1754511.png)

## Example 2:
Input
[code]

Expected:
![image](https://user-images.githubusercontent.com/24946400/93306513-f771ad00-f7cd-11ea-8ef3

[2020-09-02 01:05] arita37 commented on #102
This is a very welcome feature to add javascript library support....

[2020-09-02 01:15] arita37 opened #1958 "Generic javascript library support"
There are many javascript library available, especially for Graph : highcharts,....
Having a generic interface wrapper to access those javascript, would be useful,
and enhance streamlit by 100x  by leveraring Jvascript community...

Not sure of the actual implementation, but something like this :
   myjson_config  --> PythonObject -->  create javascript object dynamically  --> get the data.

[2020-09-02 03:07] karriebear commented on #1919
This came up [before](https://streamlit.slack.com/archives/C9E9D51TM/p1597078201000600). The image is hosted on Github. The options seems to be to add to our repo or find another host.

[2020-09-02 09:18] cwerner commented on #1567
👍 I'd also like the option to define a location with static content that can be accessed/ served via streamlit (sphinx project documentation).

[2020-09-02 09:54] galinaalperovich commented on #1924
Hi @kmcgrady !
Thanks for letting me know about the progress.
My scenario is simple:
- I have a list of checkboxes (like a form with one question and a list of answers)
- The user checks some of the options and then clicks the button "next"
- After this, all checkboxes must be cleared up with the possibility to check some of them again and click the button again.

Why: I made a simple tool for tex

[2020-09-02 10:10] WilberDelbrison opened #1960 "Crosstalk between streamlit sessions with multiple users"
Hi,
Using this solution [SessionState]( https://gist.github.com/tvst/036da038ab3e999a64497f42de966a92)  and storing each session a dict with session_info.session.id as key, I'm facing some crosstalk problem between user's sessions.
I believe this problem is happening because I always retrieve the session_info.session.id from the current session, it means I all session always retrieve the id from t

[2020-09-02 13:00] zack-klein commented on #283
I was facing the same issue and the fix from [here](https://github.com/gorakhargosh/watchdog/issues/628#issuecomment-581480649) (as mentioned above) worked for me!

[code]

[2020-09-02 14:25] andfanilo commented on #1958
Hey @arita37,

Streamlit does provide an interface to the JS ecosystem through "Streamlit Components" which follows exactly the process you are describing :). It basically sends a Python serializable object to frontend code (React, Vue, Svelte, Vanilla JS...) which renders in the Streamlit app, and any interaction with this component can send values back to your Streamlit app!

Some links to get s

[2020-09-02 18:21] kmcgrady commented on #1924
@galinaalperovich Thanks for that! You might benefit from adding a `key` to the checkboxes since each checkbox is "semantically independent" (ie, while the UI of the checkbox means the same, the intention of the checkbox is different). You can try something like this.

[code]

Note the use of key that changes based on the `question_number`. Just keep in mind that the state of the button will rever

[2020-09-02 19:01] lmeyerov commented on #744
@tvst  Are you still having issues reproducing, e.g., starting nest_asyncio?

[2020-09-02 21:16] karriebear opened #1963 "Cleanup CircleCI Create virtualenv task"
Looks like there's some nuances with pipenv(?) that is causing us to have issues pinning down setuptools (#1944). In the meantime, we're reinstalling setuptools after the other installations (#1962).

Would be great if we could figure out what the nuance is and address that instead of force reinstalling.  However, if we're able to unpin setuptools (#1945), this is no longer required.

Background:

[2020-09-02 22:41] karriebear commented on #1945
[Sounds like there was a hack that setuptools is no longer supporting](https://github.com/pypa/setuptools/issues/2351#issuecomment-685148340). Looks like instead the recommendation is to use an environment variable or not `import pip` (a quick glance did not yield any results). If we use an environment variable, we'll have to make sure all dev setups get it (probably add to `make develop`)

[2020-09-02 23:27] arita37 commented on #1958
Thanks.
Am not in front end at all....
A fully fledge example would be best
for people.

So, integrating new componnent (like highcharts can follow same template).

[2020-09-03 00:20] nthmost commented on #1382
Marking "bughancement" as we haven't promised WMV compatibility in the past and it would be a special effort to make it work.

[2020-09-03 00:24] nthmost commented on #1809
Hi @saNed -- you're welcome to submit a PR!

[2020-09-03 02:58] karriebear commented on #1231
@kantuni looks like we can close this. I see our cypress job running on the workflow for develop. See this [run](https://app.circleci.com/pipelines/github/streamlit/streamlit/4308/workflows/39b116f4-50a0-41ae-9a83-5700e0432e96) unless I'm misunderstanding what the story is.

[2020-09-03 03:03] karriebear commented on #1811
It looks like color picker was introduced end of April. Based on our policy, I think we can begin moving it into the st namespace. While I don't think it hurts us to postpone this, is this something we want to prioritize? @kantuni

[2020-09-03 03:18] karriebear commented on #1587
See [slack convo](https://streamlit.slack.com/archives/C9FJJN8Q7/p1592262793250100) for more details.

In terms of prioritization, this is probably an infra task and low on the list. Gotta make sure @tvst can keep dreaming of a "day we'll rename all our config options, and recategorize them too" ;)

[2020-09-03 03:24] karriebear commented on #1628
duplicate of #1386

[2020-09-03 03:24] #1628 closed, assigned to nobody

[2020-09-03 03:41] karriebear commented on #1098
This is now available in our experimental namespace as of 0.65! Check out the [demo app](https://github.com/streamlit/release-demos/blob/master/0.65/demos/query_params.py)!

[2020-09-03 03:41] #1098 closed

[2020-09-03 03:51] karriebear commented on #396
@arraydude does what you're doing with the menu get us here or at least most of the way? Beyond getting notified that the menu needs to be changed, I'm not sure what's going on with the actual processing of the message.

[2020-09-03 04:03] karriebear commented on #289
Closing this as a dupe of #585 (sorry the other just has more 👍 )

[2020-09-03 04:03] #289 closed

[2020-09-03 04:11] karriebear commented on #541
@behindalens sorry for the almost year later follow up but could you clarify your example and or provide sample code?

[2020-09-03 04:16] karriebear commented on #547
As of 0.65, you can also set the app to run in wide mode by default for all your users. No need for your users to go into settings! It's currently in beta but we hope to stabilize and move into our main namespace! Please check out our [page config demo](https://github.com/streamlit/release-demos/blob/master/0.65/demos/page_config.py).

In the meantime, going to close out this issue in lieu of #486

[2020-09-03 04:16] #547 closed

[2020-09-03 04:34] karriebear commented on #834
I believe someone created a handy dandy custom component for this ;) @tconkling is that available?

[2020-09-03 04:39] karriebear commented on #846
Looks like a duplicate of #726. If that's not the case, happy to reopen!

[2020-09-03 04:39] #846 closed

[2020-09-03 04:47] karriebear commented on #981
This should be done with all the DG refactor work by @akrolsmir! Closing this but feel free to reopen if there is an unhappy IDE

[2020-09-03 04:47] #981 closed

[2020-09-03 04:49] karriebear commented on #1000
Closing as dupe of #647

[2020-09-03 04:49] #1000 closed

[2020-09-03 04:53] karriebear commented on #1046
This is now available as part of 0.66 with [st.select_slider](https://docs.streamlit.io/en/stable/api.html#streamlit.select_slider)! A demo is available [here](https://github.com/streamlit/release-demos/blob/master/0.66/demos/select_slider.py)

[2020-09-03 04:55] karriebear commented on #1062
See #1961

[2020-09-03 04:57] karriebear commented on #1144
If you're looking for a sort of a placeholder, we have [st.empty](https://docs.streamlit.io/en/stable/api.html#streamlit.empty). Does this solve your use case?

[2020-09-03 05:05] karriebear commented on #1317
Hey @xuchenAIR, I'm closing this issue since it's been inactive for over 30 days. If this is still an issue, could you provide some easily reproducible code and/or files required? We'd be happy to reopen and take a look!

[2020-09-03 05:05] #1317 closed

[2020-09-03 05:13] karriebear commented on #1740
@kmcgrady Looks like this is an issue independent of the modal work you're doing, getting a 2-for-1!

[2020-09-03 05:28] karriebear commented on #1783
Thanks for looking into this @vinzeebreak! There are no external files that are included as part of our release process. At first I was quite puzzled but I think we were just comparing the tags in reverse. Looking at this makes much more sense: https://github.com/streamlit/streamlit/compare/0.63.2.dev20200721...0.63.2.dev20200722

It's very probable this is a regression caused by #1747

[2020-09-03 05:33] karriebear commented on #853
@arraydude is this covered by the sharing modal you demo-ed today?

[2020-09-03 05:35] karriebear commented on #1788
@nthmost I think we gave up on Asana? Can we close?

[2020-09-03 05:37] karriebear commented on #1827
Closing this as a dupe of #653

[2020-09-03 05:37] #1827 closed, assigned to nobody

[2020-09-03 05:40] karriebear commented on #1937
Hey @Ravi-Nayak, just curious but we have a [st.video](https://docs.streamlit.io/en/stable/api.html#streamlit.video) widget. Is this not meeting your needs?

[2020-09-03 05:47] karriebear commented on #319
Closing in lieu of #1085

[2020-09-03 05:47] #319 closed

[2020-09-03 06:07] karriebear commented on #1860
Auto-linking didn't seem to work but it would be great if we could take this [oddity](https://github.com/streamlit/streamlit/pull/1930/files#r478864735) into account.

[2020-09-03 06:14] silas2471 commented on #1906
Probably the same as ;
https://github.com/streamlit/streamlit/issues/1792
There a code was given...

[2020-09-03 07:27] andfanilo commented on #1958
* If you only want a static render of your highcharts graph (which means no retrieval of data back to Streamlit) then you can build the HTML/JS string to render through [st.html](https://docs.streamlit.io/en/stable/develop_streamlit_components.html#render-an-html-string). Some examples:
  * [Here](https://discuss.streamlit.io/t/quick-tip-lottie-web-animation-using-jinja-to-pass-data-in-a-html-file

[2020-09-03 13:22] randyzwitch commented on #1958
Closing, since as Fanilo points out, this functionality exists as well as documentation and examples. For further questions on _how_ to do something specifically, please stop by our forum:

https://discuss.streamlit.io

[2020-09-03 13:22] #1958 closed, assigned to nobody

[2020-09-03 13:27] randyzwitch commented on #1906
Those are two separate issues, the `multiprocessing` module is separate from `multithreading`, although both are potentially ways to achieve parallelism.

[2020-09-03 13:28] randyzwitch commented on #1792
Thanks for the code example. What is your overall use case for using multiple threads in this manner?

[2020-09-03 13:46] silas2471 commented on #1792
The manager class is supposed to manage any processes, especially neural networks.
For example I could have a button on a streamlit page which is linked to the Manager.do_smth() method, this could queue up a new process.
The thread than checks, if any processes are queued up and if the nececcary resources (for example gpus or cpu cores) are available. If both requirements are met, it will start su

[2020-09-03 14:33] randyzwitch commented on #1919
Closing this for now, as it's not a critical issue that needs to be solved (i.e. if it's a GitHub CDN issue, then I would hope they will handle it)

[2020-09-03 15:34] karriebear commented on #395
Our product team is looking into a whole bunch of changes right now which will potentially have an impact on the hamburger menu. So I'm flagging this thread for them to consider in these discussions and then follow up on afterward.

[2020-09-03 15:38] #1062 closed

[2020-09-03 15:55] Ravi-Nayak commented on #1937
No, I want to show output video in the iframe which makes looks  my apps beautiful...to user

[2020-09-03 15:56] Ravi-Nayak commented on #1937
Try to help me as soon as possible thank you

[2020-09-03 15:58] karriebear commented on #498
If you're looking to share Streamlit with other users, you can host your app on a multitude of services. We now have a collection of resources explaining how. Please take a look at this [thread](https://discuss.streamlit.io/t/streamlit-deployment-guide-wiki/5099). If you need help with deployment, please join us on our [forums](https://discuss.streamlit.io/c/deploying-streamlit/14)!

If you would

[2020-09-03 15:59] #498 closed

[2020-09-03 16:06] karriebear commented on #1937
From a quick glance, it looks like you need to pass in `unsafe_allow_html`. Please check out our [docs](https://docs.streamlit.io/en/stable/api.html#streamlit.markdown) for more information on that. If you are having problems with this, please head on over to our [forums](https://discuss.streamlit.io/c/Questions/5). There is a great community ready to help!

As this does not appear to be a bug or

[2020-09-03 16:06] #1937 closed, assigned to nobody

[2020-09-03 18:56] nthmost commented on #653
@SimonBiggs I think you're cleared for takeoff if you'd like to submit a PR for this one...!

[2020-09-03 19:00] akrolsmir opened #1966 "Update pydeck dependency to `pydeck = "*"`"
No real reason to require a dev version.
See slack discussion:
https://streamlit.slack.com/archives/C017USJF285/p1599159096136000

[2020-09-03 19:33] zkillpack commented on #744
I'm experiencing this as well, using an internal API client that's using nest_asyncio. I'm able to reproduce the error with:
[code]
with the same error and stack trace as @Agerrr on Python 3.6.8.

I'm using this as a workaround for the time being:

[code]

[2020-09-03 20:00] akrolsmir commented on #1966
Actually: sounds like we don't need to do this, and in fact should not:

![](https://i.imgur.com/YQfUEQ5.png)

[2020-09-03 20:00] #1966 closed, assigned to nobody

[2020-09-03 22:05] akrolsmir commented on #798
Sorry, just saw this @benlindsay --  Absolutely, this sounds like something cool to support! As always, I'd encourage you to file an issue; even better if you back it up with a strawman proposal / spec, as we can run that by product team and see what they think!

[2020-09-03 23:36] #1862 closed, assigned to kmcgrady

[2020-09-03 23:36] kmcgrady commented on #1862
Pull Request is merged

[2020-09-04 00:20] kmcgrady commented on #1650
I'm pretty positive https://github.com/streamlit/streamlit/pull/1771 fixes this. I did update the tests to not skip since (later versions of) Tensorflow support Python 3.8.

[2020-09-04 00:20] #1650 closed, assigned to kmcgrady

[2020-09-04 02:17] nthmost commented on #1939
Yes, I think that's a possibility!  Adding it to the small features queue for consideration.  Thanks!

[2020-09-04 03:31] benlindsay opened #1970 "Enable control over URL subdirectories in addition to query parameters"
Pull request #1169 enabled control over query parameters, which is an amazing leap forward for this tool. The next step I'd like to see is control over the subdirectories in the URL. As I mentioned [here](https://github.com/streamlit/streamlit/issues/798#issuecomment-667370834), something like `myapp.com/benlindsay/dashboard` looks a little nicer than `myapp.com/?user=benlindsay&page=dashboard`.

[2020-09-04 04:55] Ravi-Nayak opened #1971 "Why i am not able to get colored emoji when im writing ?below lines in linux ubuntu"
Processing WebCamera Please Wait.... 🌔
st.write("Processing WebCamera Please Wait....  :moon:")

[2020-09-04 05:20] SimonBiggs commented on #653
Awesome :), thanks for that. I'll jump on it one evening soon :).

[2020-09-04 06:36] Ravi-Nayak commented on #686
but how to use iframe  in version  0.62 ?

[2020-09-04 12:46] samy0444 commented on #1775
I am having the same issue but can't fix it i tried...please help

[2020-09-04 13:41] randyzwitch commented on #686
You have to upgrade to 0.63+.

[2020-09-04 13:42] randyzwitch commented on #1971
Hi @Ravi-Nayak -

Please use the Community forum for asking questions, the issue tracker here is for situations reasonably believed to be bugs or feature requests.

https://discuss.streamlit.io/

[2020-09-04 13:42] #1971 closed, assigned to nobody

[2020-09-04 16:41] kmcgrady commented on #1740
Hey @itsabhishekhere Thank you so much for bringing this to our attention. Hmmm. I made a change for the STOP recording to stop on keyup rather than keydown, and I changed all of the modals. Running a test and it seemed to work fine. Here's what I did to attempt to repro:

* Attempt a 20 second recording
* Attempt a larger recording (10 minutes)

Couple questions for clarification:

* Can you prov

[2020-09-04 18:18] nthmost commented on #1797
Closing this as it references a very niche use case.  Can reopen if there is more user interest.

[2020-09-04 18:18] #1797 closed, assigned to nthmost

[2020-09-04 19:00] nthmost commented on #1775
Hi @samy0444 -- can you verify that @SirVectrex 's advice above does not work for you?  We need a little more information about what you tried and what results you got.

[2020-09-04 19:06] kmcgrady commented on #1804
Thanks @datalee for the report. This proved to be a really interesting find. It turns out that Google Chrome (and I assume MS Edge) requires the server to support [Range Requests](https://developer.mozilla.org/en-US/docs/Web/HTTP/Range_requests) in order to allow this feature in videos. I have a solution in the works, but there is one detail in our architecture that breaks that we need to figure o

[2020-09-04 23:20] joewandy commented on #927
Anybody made any kind of progress at all? It sounds like a massive undertaking. Would be good if the team could provide some rough breakdown of what needs to be done for this to even be possible at all.

[2020-09-04 23:47] WilberDelbrison commented on #1960
Just a complement, the statement st.experimental_get_query_params() do not get the parameters from url if I force a rerun (this_session.request_rerun()).

[2020-09-05 05:03] Ravi-Nayak opened #1973 "Why im getting this error while running video inside streamlit when im running this locally it working while running with streamlit it is showing below error"
AttributeError: module 'tensorflow' has no attribute 'GraphDef'
Traceback:
File "/home/ravi/.local/lib/python3.6/site-packages/streamlit/ScriptRunner.py", line 322, in _run_script
    exec(code, module.__dict__)
File "/home/ravi/Documents/personal/vehicle_detection/app.py", line 291, in <module>
    fun()
File "/home/ravi/Documents/personal/vehicle_detection/app.py", line 109, in fun
    od_graph_

[2020-09-05 06:17] samy0444 commented on #1775
Thanks I solved my error your comments helped me a lot.

On Sat, 5 Sep, 2020, 12:30 AM Naomi Most, <notifications@github.com> wrote:

[2020-09-05 06:59] muhammad1998 commented on #732
@jrhone Thanks, its really helpful for me

[2020-09-05 09:12] MarcSkovMadsen commented on #927
No. I just know that bokeh and panel supports this. And they also run on tornado natively. So I guess inspiration could be found there.

[2020-09-07 07:31] tianhuil commented on #662
Any progress @kinghuang?  I'd love to use this.  I see that https://github.com/streamlit/streamlit/pull/79 was closed and I'm not sure why.

[2020-09-07 09:05] srepho opened #1974 "NaT Values in datetime columns of Dataframes get filled with a datetime value by st.write"
# Summary

When creating a dataframe which contains missing datetime elements they appear with a date via st.write(). Confusingly the date is Sep 21, 1677 10:17 AM.

# Steps to reproduce

[code]

## Expected behavior:

I expected that the missing date would be empty or be NaT

Example from a Jupyter Lab Notebook

![image](https://user-images.githubusercontent.com/70092369/92350639-eca78000-f11c-11

[2020-09-07 13:34] andfanilo commented on #1974
Hey @srepho !

Glad you started using Streamlit. Pretty sure you hit #594 unfortunately. Could you close this issue and comment on the older one to bump it up ?

Cheers,
Fanilo

[2020-09-07 19:22] kmcgrady commented on #923
PR provided handles Option 1 using our preference with how to manage deprecations.

[2020-09-07 19:38] kmcgrady commented on #1500
Closing in favor of https://github.com/streamlit/streamlit/issues/1867

[2020-09-07 19:38] #1500 closed, assigned to nobody

[2020-09-07 19:51] kmcgrady commented on #1300
Hey @mrkbs

I've tried playing around with this, and I still cannot reproduce it. The graph always fits the screen nicely in any situation I provide for it. I tried in Firefox on my Mac, and it worked fine. Since it's been a while, can you try with the latest and see if you can reproduce it? I'd also like to see what code you specifically used and what steps you took to get it in an inconsistent s

[2020-09-07 19:58] kmcgrady commented on #1536
@RaghavK16 I've tried linting, and do not receive the error. I'm wondering if you are still seeing the issue here.

To answer, the question, we do not use pylint, but we do use black code formatting, which should hopefully address most issues.

[2020-09-07 20:47] kmcgrady commented on #48
This is no longer an issue on VS Code and PyCharm. Looks like we fixed it!

[2020-09-07 20:47] #48 closed

[2020-09-07 21:40] contactzen commented on #1716
New version of streamlit is working as expected with reverse proxy. Nice works guys. I love this.

[2020-09-07 21:42] contactzen commented on #1716
@randyzwitch , You can close this issue.

[2020-09-07 23:24] #1716 closed, assigned to nobody

[2020-09-08 05:24] exalate-issue-sync[bot] opened #1977 "Integrate Randy's publish-to-PyPI github action"

[2020-09-08 10:14] ElenaBossolini commented on #1124
I have same need as @ronnshaw, as my customers wish to have a detailed description of what the method in the st.selectbox does. Any update on this issue?

[2020-09-08 10:24] srepho commented on #1974
Apologies Fanilo - I did search prior to posting but must have missed it somehow. Will comment on the older one - thanks.

[2020-09-08 10:24] #1974 closed, assigned to nobody

[2020-09-08 13:19] andfanilo commented on #1974
No worries, Github issue search can get pretty crowded :wink:

[2020-09-08 14:13] rbracco commented on #1294
I'm also having this issue with Audio files. I am displaying 25 to a page and after listening to a certain number of them the page seems to break and I start getting errors like `MediaFileManager: Missing file 26ca29fef4998238a36e8c8e1f7e3310c455844c1f8e4c031cce5798`. At that point the only solution is to refresh the page.

[2020-09-08 14:30] randyzwitch commented on #1973
Hi @Ravi-Nayak  -

Questions like these are more appropriate for our forum, as this is not a "bug" in the sense of an actual issue with Streamlit.

https://discuss.streamlit.io/

Best,
Randy

[2020-09-08 14:30] #1973 closed, assigned to nobody

[2020-09-08 18:29] #1286 closed

[2020-09-08 18:41] tconkling commented on #834
Sadly not - it requires the `allow-same-origin` iframe sandbox flag, which we didn't ship with for security reasons :( (But we have an ongoing internal discussion on how best to handle this!)

[2020-09-08 19:26] kmcgrady commented on #1733
We've fixed this now to work successfully with a test to hopefully avoid the issue in the future. Thanks to everyone who pointed this out!

[2020-09-08 19:26] #1733 closed, assigned to kmcgrady

[2020-09-08 20:31] cojacoo opened #1980 "2nd Sidebar (on right side)"
### Problem

A neat app often elucidates complex problems. Hence there is often a lot to explain to carry details about the app itself, its backgrounds and further details - especially for public apps. Currently, the little space in the sidebar and main window quickly get filled with explanations and further links. I have written long markdown documents one can hide, but still, either people quick

[2020-09-08 21:19] SimonBiggs commented on #1733
Thanks @kmcgrady :)

[2020-09-09 00:12] kmcgrady commented on #1059
Change has been merged. The change should handle most practical large sets of options.

[2020-09-09 00:12] #1059 closed

[2020-09-09 00:50] 60nocolus commented on #120
Amazing job you guys! My project is finaly coming around with streamlit! You have absolutely changed the game!!!

[2020-09-09 06:18] yashshah1 commented on #1957
Hi, I'm new here but I'd like to work on this. Is this something I can take up?

[2020-09-09 18:02] nthmost commented on #1980
Hey @cojacoo ,

We're in total agreement that Streamlit app layout options have been, to date, really constrained.  That's why our incoming Horizontal Layout improvements now very much underway will give you a LOT more flexibility in where you can place things.

In the very near future (possibly even 2 releases from now), we'll be providing a new API where you can place widgets in columns of your

[2020-09-10 08:47] patrycjakarolina commented on #1630
Same error when I was trying to generate download link for DataFrame with of shape (120000, 139) using this function :

               def get_table_download_link(df, filename, linkname):
                """Generates a link allowing the data in a given panda dataframe to be downloaded
                in:  dataframe
                out: href string
                """
                csv = df.to_cs

[2020-09-10 12:26] equester opened #1983 "RuntimeError: Data of size 82.1MB exceeds write limit of 50.0MB - CSV File Download Issues"
Currently, after doing all filters, the csv file that gets generated is of ~82 MB and i get this error while downloading:

RuntimeError: Data of size 82.1MB exceeds write limit of 50.0MB

\!\[image]([https://user-images.githubusercontent.com/4397489/92728231-00a5e880-f38e-11ea-9d50-f54853ffab2e.png)|https://user-images.githubusercontent.com/4397489/92728231-00a5e880-f38e-11ea-9d50-f54853ffab2e.png

[2020-09-10 16:08] karriebear commented on #1957
Hi @yashshah1, you are more than welcome to take this on. Thank you for the help! We really appreciate it ☺️

Please let us know if you need any assistance. We'll be happy to take a look at any draft PRs too. Once you're ready, just submit a PR ready for review. Thanks again!

[2020-09-11 04:54] akrolsmir commented on #1980
@cojacoo Two things:

1. One of the things coming out with Layout is an "toggle block", which lets users show/hide a particular section. I think this should solve your use case of wanting to hide away long explanations! See this [PR](https://github.com/streamlit/streamlit/pull/1978):

![](https://user-images.githubusercontent.com/24946400/92507837-9a766580-f1d5-11ea-8892-20485e959481.gif)

2. Righ

[2020-09-11 05:06] iamaziz commented on #1983
I'm getting a similar error

![image](https://user-images.githubusercontent.com/3298308/92864317-f229f200-f3ca-11ea-852a-b2b745291626.png)

[2020-09-11 06:54] andfanilo commented on #1983
Hello!

From memory, the Base64 data-encoded method has a size limitation depending on your browser.

For larger dataframes, the preferred method for now is dropping the dataframe into Streamlit's static folder and linking back to it. Several approaches are described in this [thread](https://github.com/streamlit/streamlit/issues/400#issuecomment-648580840).

Fanilo

[2020-09-11 13:39] cojacoo commented on #1980
@akrolsmir Thanks!

I have had a too brief look into the layouts so far, but honestly it does not really solve my issue yet.
The apps you showcase do not come with any explanation, hence users will not be guided much, what to learn from the different elements of the streamlit app. However, insight comes from exploring AND guidance.

My example I am working on at the moment is uncertainty in climat

[2020-09-11 17:57] davins90 commented on #726
Any news guys?
Thanks

[2020-09-11 18:06] akrolsmir commented on #1980
Thanks for the additional context, If I'm understanding you correctly -- collapsible sections with text don't do enough to explain how to use the app, because they still make the page long and hard to read when they're expanded. And as a result, you're looking for a section to place a walkthrough or tutorial on your app usage, and you think a right sidebar would work best?

If you had a couple scr

[2020-09-11 18:25] akrolsmir opened #1984 "Speed up api.html by optimizing the iframe previews"
Our main API page loads ridiculously slow for an API page, taking 20+ seconds before basic functionality like `ctrl + f` is available. The culprit, AFAICT, is the "Streamlit preview" sections we have -- each loads in an iframe to an actual view-only streamlit app we host on AWS.

Glancing at the waterfall diagram, these appear to be loading serially (whether because of page structure or competing

[2020-09-11 18:30] akrolsmir opened #1985 "Tutorial page is very barebones"
It's literally just a 3 links in bullet point format. I feel it doesn't deserve its own space in the sidebar as-is.

Some ideas for sprucing it up:

- Throw in some screenshots
- Write up a short (1-2 sentence) summary of the key things that each tutorial will let you learn
- Add in more tutorials

Or we could just remove it, if we're trying to lighten our documentation load?

[2020-09-11 18:43] akrolsmir commented on #1664
#1802 has been merged!

[2020-09-11 18:43] #1664 closed, assigned to nthmost, koenvo

[2020-09-11 18:50] akrolsmir commented on #1630
Seems kind of similar to #433  -- basically, we impose a limit on how large your python data structure can be, I think it's about 50MB.

At least, we should include a better error message, "Streamlit error - Nothing was received by the website. Did you try to send a really large (>50MB) dataset?" or something.

[2020-09-11 19:11] izikgo commented on #1630
Why is there a limit? Can this limit be configurable?

[2020-09-11 20:00] akrolsmir commented on #1630
It's set here: https://github.com/streamlit/streamlit/blob/develop/lib/streamlit/server/server_util.py#L28.

Not currently configurable, though if you install Streamlit from source you can change that value yourself. From the comments, it doesn't seem like there was a good principle behind setting it at 50MB.

To fix this, some options:
1. Add a meaningful warning when your data is dropped because

[2020-09-11 20:54] karriebear commented on #1630
Thanks for bringing this up! We will be prioritizing this issue and applying the following fixes
- Make user-configurable (TBD if we will use `server.maxUploadSize` or a new config option).
- Fix error message.

[2020-09-12 01:34] iamaziz commented on #1983
Thanks, Fanilo! great to know there's this option. Perhaps, I should also validate the df size before displaying it.

[2020-09-12 06:16] Chaitanya2923 opened #1987 "Wrong prediction."
# Summary

The model isn't considering a major flaw. Negation.

# Steps to reproduce

If given a sentence like, "I'm very happy that I'm not in collaboration with you", it is actually a negative remark, but the model predicts as happy. Of course, I'm happy, but that's a negative review, right? Atleast for the company who's analyzing.

## Expected behavior:

Since this model is analyzing one's emot

[2020-09-12 13:30] andfanilo commented on #875
For info, aside for polygon this is mostly filled by [Drawable Canvas](https://github.com/andfanilo/streamlit-drawable-canvas)

[2020-09-12 20:09] domoritz opened #1988 "Wrong type for content"
https://github.com/streamlit/streamlit/blob/15b5a5e7209e067b91bd6f907e755fc6b76b5459/component-lib/src/ArrowTable.ts#L37 says that content is string but it doesn't look like that is always true

<img width="776" alt="Screen Shot 2020-09-12 at 13 09 02" src="https://user-images.githubusercontent.com/589034/93004144-269bcc00-f4f9-11ea-8583-c020802e4724.png">

[2020-09-12 20:20] domoritz opened #1989 "Make Altair charts bi-directional"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

I would love to be able to get an Altair selection in Python. https://github.com/domoritz/streamlit-vega-lite is a POC but it would be better if the feature was available directly in Streamlit.

### Solution

[2020-09-14 03:48] Sumitrke88 commented on #1613
I have installed Kerass and tensorflow on anaconda using
#pip install keras
#pip install tensorflow
import the keras model then it show the error.... what I do with annaconda
from keras.models import Sequential
C:\ProgramData\Anaconda3\lib\site-packages\keras\__init__.py in <module>
      4 except ImportError:
      5     raise ImportError(
----> 6         'Keras requires TensorFlow 2.2 or higher.

[2020-09-14 03:56] Naitik-bhalala commented on #1613
if you are working with keras then you need to install Tensorflow version 2.2 using "conda install tensorflow==2.2.0"
you can't use pip in anaconda envirememnt.
At the time of installing tensorflow.....make sure you are in conda envirement.
if you are use normal envirement like VScode then go for "pip install tensorflow==2.2.0"

[2020-09-14 04:14] noahtren opened #1991 "st.cache fails for TF2 SavedModels (HuggingFace, Tensorflow Hub, etc.)"
There is a particular TensorFlow type that `st.cache` fails to cache: `tensorflow.python.util.object_identity._ObjectIdentityWrapper`. This is apparently a very common type and used in TF2 SavedModels, including HuggingFace tokenizers and TensorFlow Hub models.

I tried overriding `hash_funcs` with `id` and `lamba _: None`, but both resulted in the program hanging. Without overriding `hash_funcs`,

[2020-09-14 04:37] Sumitrke88 commented on #1613
![image](https://user-images.githubusercontent.com/27869286/93044308-06dbe380-f672-11ea-8c31-89486ef5649a.png)

[2020-09-14 04:37] Sumitrke88 commented on #1613
not work

[2020-09-14 06:16] MayankShahria commented on #1613
@Sumitrke88  try this

https://docs.floydhub.com/guides/environments/

[2020-09-14 16:39] randyzwitch commented on #1987
Hi @Chaitanya2923 -

This isn't a Streamlit issue, as Streamlit doesn't provide NLP functionality. If you are importing someone else's model, I would suggest opening an issue there.

Best,
Randy

[2020-09-14 16:39] #1987 closed, assigned to nobody

[2020-09-14 18:48] kmcgrady commented on #923
A deprecation warning has been merged in for the next release.

[2020-09-14 18:48] #923 closed

[2020-09-14 19:34] Ravi-Nayak opened #1995 "How To save file_uploaded .mp3 and wav files using streamlit ???"
Im working on sound detection project for that i want to take input mp3 or wav  from user and want to save in local folder and process with my code ??? how to do this ?/

            file = st.file_uploader("Upload file",type=['mp3','wav'])

            d=st.audio(file)
            i=d.save("path/audio-in/input.mp3") ????

[2020-09-14 19:41] fonnesbeck opened #1996 "Changing variable with slider reloads page and resets all variables"
# Summary

When clicking on a slider to change its value, the app gets reloaded and all variables are changed to their default values.

# Steps to reproduce

I have an app with several parameters, set using a variety of Streamlit widgets. I try to change the value of one of the variables (a slider) by clicking on a point along the slider. Here is the slider code:

[code]

## Expected behavior:

I

[2020-09-14 19:54] randyzwitch commented on #1995
Hi @Ravi-Nayak -

Please use our discussion forum for questions related to how to use Streamlit, and reserve GitHub issues for actual bugs, feature requests or documentation issues.

https://discuss.streamlit.io/

Best,
Randy

[2020-09-14 19:54] #1995 closed, assigned to nobody

[2020-09-14 22:56] tconkling commented on #18
## Structure

- `Delta` messages come into `DeltaParser.ts`, which converts them to immutables
- `Elements` represent new report elements
- `Block.tsx` transforms Element deltas into React elements
- Periodically (on a timer), App.tsx rebuilds the entire app layout by iterating the list of all elements, and creating the proper React component for each one.

## Plan

- Take a piecemeal approach to

[2020-09-15 06:37] Ravi-Nayak opened #1997 "How to open webcamera using javasrcipt in streamlit ?"
# Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

## Expected behavior:

Explain what you expect to happen when you go through the steps above, assuming there were no bugs.

## Actual behavior:

Explain the buggy behavior

[2020-09-15 09:27] wAuner opened #1998 "Segmentation fault on WSL and docker"
# Summary

I wrote a streamlit app which runs just fine on my native Ubuntu 18.04 machine. I Declared all dependencies with pipenv and tested it with a new virtual env on the same machine, everything works.

But when I try to run the app within a docker container or WSL Ubuntu 18.04, I get `segmentation fault (core dumped)` as soon as I try to run the server with `streamlit run`.  Same for the str

[2020-09-15 10:56] wAuner commented on #1998
Ok I solved it by setting the `logger.level=debug`.
The problem was the missing library `libgl1.so.1` which can be installed by installing the package `libgl1-mesa-dev`.

[2020-09-15 10:56] #1998 closed, assigned to nobody

[2020-09-15 12:26] randyzwitch commented on #1997
Hi @Ravi-Nayak -

Please use our discussion forum for questions related to how to use Streamlit, and reserve GitHub issues for actual bugs, feature requests or documentation issues.

https://discuss.streamlit.io/

Best,
Randy

[2020-09-15 12:26] #1997 closed, assigned to nobody

[2020-09-15 14:41] dalmia commented on #241
We want to add support for different filters for our dashboard and we ideally would like the filters (widgets) to be in a single row. Strongly waiting for this release!

[2020-09-15 15:02] randyzwitch commented on #1996
Hi @fonnesbeck -

Can you provide more of a code example for us to evaluate? Something that demonstrates the behavior you think is incorrect.

Best,
Randy

[2020-09-15 15:05] randyzwitch opened #2001 "Formally support Python 3.9"
Python 3.9 will be released approximately 2020-10-05. If we want to maintain a standard of only supporting the last 3 Python minor versions, we should begin testing that Streamlit works with Python 3.9.

Python 3.9 RC1
https://www.python.org/downloads/release/python-390rc1/

[2020-09-15 16:51] stanbiryukov commented on #1774
Just to add to this - I requested indexing and google believes my site canonical is `https://streamlit-0-66-demo.herokuapp.com/`. Not sure what the next step here is.

[2020-09-15 21:57] gitmach commented on #1124
I agree, I am also looking to add info buttons, tool tips, or mouse over text.

[2020-09-15 22:02] mtrbean commented on #658
@nthmost I have a related question: is there a way to implement hook that gets triggered when the user clicks the Stop button? Sometimes a long running query might get stuck and I'd like to perform a proper clean up (e.g. canceling the query) when the user stops the execution

[2020-09-16 00:52] nthmost commented on #1991
Thanks for the report!  To expedite this, would you mind providing a code snippet that produces this error?

[2020-09-16 07:00] yashshah1 commented on #1957
Hi, before I raise a PR; I just wanted to update you on a few things.

## The Problem:
I've isolated the problem down to `image_to_url` in elements/image_proto.py and down to this line which handles inline svg images:
https://github.com/streamlit/streamlit/blob/67d94f84ff85860512cc88b691f894783d643bd1/lib/streamlit/elements/image_proto.py#L310

## What I think is going wrong
When passing images as

[2020-09-16 07:00] yashshah1 commented on #1957
Hi, before I raise a PR; I just wanted to update you on a few things.

## The Problem:
I've isolated the problem down to `image_to_url` in elements/image_proto.py and down to this line which handles inline svg images:
https://github.com/streamlit/streamlit/blob/67d94f84ff85860512cc88b691f894783d643bd1/lib/streamlit/elements/image_proto.py#L310

## What I think is going wrong
When passing images as

[2020-09-16 07:46] karriebear commented on #1957
Thanks for that analysis and everything you said makes sense! Also agree with both your footnotes.
1. It looks like svg currently do not honor new lines for text so we might as well get rid of them.
2. This is for urls specifically so I don't think it should be an issue. Safer definitely sounds better and a quick test of text elements looks like it should be fine (added as Example 2 above).

[2020-09-16 14:09] Laksh1997 commented on #1059
Any update on this @kmcgrady ?

Still laggy with 2000 options.

[2020-09-16 15:46] kmcgrady commented on #1059
@Laksh1997 We should be seeing a release in the next day or so pending no issues are found, so hopefully we'll get this addressed.

In my testing:

* I've found 10,000 items to work fine.
* 100,000 items is usable but slow to load in the beginning (there's a noticeable delay when clicking the dropdown).
* Magnitudes higher is not ideal for multiselect (or select).

[2020-09-16 16:22] yashshah1 commented on #1957
@karriebear I've opened the PR

[2020-09-16 18:11] akrolsmir opened #2005 "Upgrade Prettier to 2.1"
Our current Prettier version is 1.18; there are some Typescript/Javascript language features that are not yet supported[1]. To be able to use them in the Streamlit codebase, we'd need to upgrade our Prettier version. Unlike most other dependencies, this would also require a one-time reformat of the codebase to comply with some new style preferences.

[1] The one I'm interested in is optional chain

[2020-09-16 19:04] karriebear commented on #1957
Awesome, thanks! We'll take a look!

[2020-09-16 19:42] nathancarter opened #2006 "Make it easy to save the app state as a URL"
### Problem

Let's say I create a dashboard and a user navigates to it and customizes the input controls to show what they want to see.  Now they want to share that view with someone else.  Right now, as far as I know, they have to give someone else the URL and then tell them what input values to set.  That is, they cannot share the app *and its current configuration* with a single URL.

### Solut

[2020-09-16 21:32] akrolsmir commented on #1919
Reopening as I'm still experiencing this issue two weeks later. I still suspect it's related to Discourse CDN rather than Github, since the discourse link still denies me permission to view: https://aws1.discourse-cdn.com/standard10/uploads/streamlit/original/1X/292e985f7f75ef7bef8c27b5899f71f76cd577e0.gif

It is weird that it works for Randy on incognito, as it doesn't work on any of these for me

[2020-09-16 21:34] karriebear commented on #1919
As you say this, its currently not working for me. I think someone had it not work for them but then working for them later on.

[2020-09-17 07:05] #1868 closed, assigned to nobody

[2020-09-17 07:24] #1788 closed, assigned to nobody

[2020-09-17 08:23] Laksh1997 opened #2008 "St File Uploader doesn't work over Kubernetes for 0.66, but does for 0.61.0"
# Summary

See title

# Steps to reproduce

What are the steps we should take to reproduce the bug:

[code]

works fine locally but on Kubernetes it just does nothing even after a file is dragged onto it.

## Is this a regression?

Yes

# Debug info

- Streamlit version: (get it with `$ streamlit version`) 0.66.0
- Python version: (get it with `$ python --version`) 3.7
- Using Conda? PipEnv? PyEnv

[2020-09-17 10:02] Ravi-Nayak opened #2009 "why im getting OSError: [Errno 5] Input/output error error while running streamlit in live server ? the code is running ok in my localhost but getting OSError: [Errno 5] Input/output error while running on server"
[code]

[2020-09-17 10:16] P-mir commented on #277
Would also be nice to have a resizable text_area, which adapt length to the content. Thank you for the great work!

[2020-09-17 12:50] randyzwitch commented on #2009
Please provide the exact error message you are receiving, with line numbers.

[2020-09-17 12:54] randyzwitch commented on #2006
Thanks for stopping by @nathancarter, definitely agree this would be a great feature to have. We're working on improving the whole user story around state management, both from a caching perspective and being able to pass an app to someone externally in a specific state. I don't know the specific timing on that, but I believe its something we're hoping to tackle in the remainder of this year.

[2020-09-17 13:48] Ravi-Nayak commented on #2009
this is the error im getting for all application when im running  in live server ...

[code]

[2020-09-17 13:51] #2009 closed, assigned to nobody

[2020-09-17 17:00] #1919 closed, assigned to akrolsmir

[2020-09-17 17:24] nthmost opened #2011 "Would be nice to have a resizable text_area, which adapt length to the content."
Would also be nice to have a resizable text_area, which adapt length to the content. Thank you for the great work!

_Originally posted by @P-mir in https://github.com/streamlit/streamlit/issues/277#issuecomment-694138238_

[2020-09-17 19:24] #1457 closed, assigned to kantuni

[2020-09-17 21:58] kmcgrady commented on #1059
@Laksh1997 0.67 should be released for you to try. Hope that helps!

[2020-09-18 08:36] sergescevenels-naspers opened #2014 "Bokeh Column Layout not displayed"
# Summary

Bokeh column layout are not being displayed

# Steps to reproduce

Execute the code below

## Expected behavior:

Column layout should work

## Actual behavior:

Other layouts are working fine

# Debug info

- Streamlit version: Streamlit, version 0.67.0
- Python version: 3.7.4
- Using PyEnv
- OS version: Linux Mint 19
- Browser version: Google Chrome 84.0.4147.125

# Additional informa

[2020-09-18 20:08] hannahawalsh opened #2015 "multiselect randomly resets to all options"
# While changing the contents, the multiselect box resets to all its options

I'm writing an app and this happened, so I made a much simpler version, and it's still happening. Basically, I have a multiselect box in the sidebar. I select or unselect items. Randomly it will go back to having all the default options. It's like Russian Roulette because you never know when it'll happen. It may happen o

[2020-09-18 21:24] karriebear opened #2016 "Styling for deprecated sections"
**Link to doc page in question (if any):**

**Name of the Streamlit feature whose docs need improvement:**
Going forward we would like to use the deprecated tag which adds a `deprecated` class. I would love to have this look the same as an info block. I'm not sure if it's possible to create a component for deprecated items or if we just have control over the CSS. If we have to we can use a pure CS

[2020-09-18 21:50] karriebear opened #2017 "[Horizontal Layouts] Update the expander on removal"
# Summary
When an app with expander is running, the expander does not get removed completely on rerun.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. Create and run an app with `st.expander`
2. Remove `st.expander` while app is running
3. Rerun code

## Expected behavior:

Expander is gone with label and toggle

## Actual behavior:

Label and toggle is still ava

[2020-09-19 00:50] tvst commented on #1294
Hey @rbracco , can you provide a toy example where this repros?
(@kmcgrady FYI)

[2020-09-19 04:07] Ravi-Nayak commented on #2009
can any body tell me why im getting same error while running in live server ?

[2020-09-19 06:21] sahilshah commented on #283
if you have your own gcc install (find out by running `which gcc`) then pip uses it to compile watchdog which doesn't work even if you have Xcode tools installed. In that case, just temporarily move gcc somewhere and re run `pip install streamlit`

[2020-09-19 06:43] sahilshah commented on #609
This did not work for me. I am in a virtualenv and have streamlit installed in it. After successfully install certifi and relaunching `streamlit hello`, I still see this issue

[2020-09-19 09:07] arpitnarechania commented on #1059
@kmcgrady I tested 0.67, the performance improvement is unbelievable, thank you.

However, the options in my dropdown are long and previously used to wrap to a new line increasing the option's height. In 0.67, I'm seeing them wrap but the option height seems fixed resulting in ugly undesired text overlaps (check attached image).

**Is this fixable in the current implementation?**

![image](https:/

[2020-09-19 17:43] Setriakor commented on #1894
Hello, I would like work on this issue

[2020-09-19 17:44] Setriakor commented on #1894
Hello, I would like to work on this issue.

[2020-09-20 12:55] abatilo opened #2018 "Switch to GitHub Discussions for community communication"
Earlier this year, GitHub launched [GitHub Discussions](https://github.blog/2020-05-06-new-from-satellite-2020-github-codespaces-github-discussions-securing-code-in-private-repositories-and-more/#discussions).

Right now this feature is only enabled on public repositories and the easiest way to get it activated seems to be by requesting that the feature is enabled on [this](https://github.communit

[2020-09-20 17:54] mzeidhassan commented on #586
Hi @nthmost
Any update on this issue?

I have an app that outputs Arabic text. When I apply RTL style, it only shows the first paragraph in RTL, but the rest is LTR.
When there is English text within Arabic, the whole text is messed up. Please see screen shot attached.

![image](https://user-images.githubusercontent.com/7589948/93718249-221b8700-fb7b-11ea-9f8c-a6042b0622f3.png)

Thanks!

[2020-09-20 19:39] mishraprafful opened #2019 "StreamlitAPIException: 'RangeIndex' object has no attribute 'step' for Plotting Demo"
# Summary

Once I started `streamlit hello` I see the above stated error for the Plotting Demo. All the other demos work perfectly but this one says the above stated error for some reason

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. Do `pip install streamlit`
2.  Run `streamlit hello`
3.  Select `Plotting Demo` with `Show Code checked`

## Expected behavior:

[2020-09-20 20:52] randyzwitch commented on #2018
Hi @abatilo, thanks for stopping by!

Once GitHub Discussions is publicly available, and an ecosystem of other tools builds around it, then we can evaluate whether it makes sense for us to participate. But right now, we're delighted with our discussion forum at htttps://discuss.streamlit.io and the level of participation there. It supports GitHub sign-in, so we'd love it if you stop by and check i

[2020-09-20 20:52] #2018 closed, assigned to nobody

[2020-09-21 05:12] akrolsmir commented on #2017
I think this is caused by a change I did in st.columns: Basically, in this commit: https://github.com/streamlit/streamlit/pull/1979/commits/d01be3f25a60ce19b609f6fe9bd063c454032742

I stopped empty containers from getting cleaned up in the code (e.g. on rerun), with the intention of keeping space for an empty column. The side effect was that empty expanders are also no longer removed... A quick wo

[2020-09-21 06:58] masolin commented on #1294
I am not sure if it's related to this issue, but when I try the streamlit's [video example](https://github.com/streamlit/streamlit/blob/develop/examples/video.py).
I add some videos to my local folder.
When I open the example app in different tabs of a chrome at the same time, some of tabs can't show the videos in my local folder.
It also shows the error `14:30:09.132 MediaFileManager: Missing fil

[2020-09-21 10:44] AnuragAnalog opened #2021 "Not able to use beta_set_favicon function"
# Summary

favicon() missing 1 required positional argument: 'image', this is the bug

# Steps to reproduce

[code]

## Expected behavior:

The favicon should be displayed.

## Actual behavior:

favicon() missing 1 required positional argument: 'image'
still the favicon is the default streamlit app favicon

## Is this a regression?

That is, did this use to work the way you expected in the past?
*

[2020-09-21 11:26] ma-sadeghi commented on #1555
It worked for me too, but now everything points to the streamlit app. Consequently, I can't access my personal website, which is hosted on the same Amazon instance, anymore. Is there a way around it? Thanks!

[2020-09-21 13:00] silas2471 commented on #1792
Should it not be possible to pass a function to the streamlit signal handler, which will also be executed upon terminating streamlit?
This would make it possible to add multithreading loops without Bug 1.

Is Bug 2 a caching error ? Or is a cached class/function supposed to be executed for each user/Browser?
If it is supposed to work that way, could a parameter be added to the hash funcs decorator

[2020-09-21 13:57] randyzwitch commented on #1792
Untested, but it appears that you are missing the context manager for Streamlit threads

https://discuss.streamlit.io/t/issue-with-threading-text-not-displayed/3981/6

[2020-09-21 14:07] randyzwitch commented on #2021
Hi @AnuragAnalog -

The function name is `beta_set_page_config`, which came out in Streamlit 0.65

https://github.com/streamlit/streamlit/pull/1954

https://docs.streamlit.io/en/stable/api.html?highlight=beta_set#streamlit.beta_set_page_config

[2020-09-21 14:55] AnuragAnalog commented on #2021
Thank you, for the solution, I will update it.

[2020-09-21 14:55] #2021 closed, assigned to nobody

[2020-09-21 16:04] miguelarocao opened #2023 "`use_container_width` argument doesn't work for Altair trellis charts"
# Summary

The `use_container_width` argument doesn't work as expected when using Altair trellis charts. Specifically the chart does not resize when changing the container size.

# Steps to reproduce

[code]

## Expected behavior:

That the chart dynamically resizes based on the container width

## Actual behavior:

Trellis chart does not resize (first chart is a reference, which works correctly):

[2020-09-21 18:24] karriebear commented on #1957
Looks like this is problematic because we are currently putting a data uri into an image tag. Unfortunately image tag must be one image file where our example is importing image from elsewhere ([source](https://stackoverflow.com/a/36857010)).

[2020-09-21 22:51] aalbinati commented on #1555
Hi @ma-sadeghi. Of course it will now point everything from port 80 towards port 8501, that's what the rule does.
If you only want to diverge some specific traffic you should tell your users to go to port 8501 to see the content.

If that's not an option and you still want to access the site as you would with a normal one (port 80) the you should do some steps:

1. Delete the rule with this comman

[2020-09-22 03:03] ma-sadeghi commented on #1555
@aalbinati Thank you very much for your reply. Indeed it worked.

A follow up question, if you will: Using the "redirecting" approach, while it works perfectly fine, the port number is shown in the address bar. Is there a way around it? I know very little about networking, sorry if my question is dumb!

[2020-09-22 03:50] #1864 closed, assigned to nobody

[2020-09-22 04:15] kmcgrady commented on #1059
@arpitnarechania Thanks for bringing that up. I really wish we saw this sooner! I'm working on a fix to get in shortly.

To explain, to allow for large inputs, the package we use is [react-window](https://react-window.now.sh). It provides a placeholder for all locations and styles them with content later to keep things performant. It doesn't work though if we cannot provide a predictable size (as

[2020-09-22 05:55] noahtren commented on #1991
Sure thing, here's some minimal code that reproduces the bug.

[code]

[2020-09-22 13:08] randyzwitch commented on #1984
Part of the solution might be to show images inline and keep the link to the external Streamlit app there. A lot of the inline iframe examples don't really show anything earth-shattering anyway.

[2020-09-22 14:42] rmartin16 opened #2027 "Multiselect and SelectBox Options with Long Text Leads to Overlapping Text Due to Poorly Formatted Wrapping"
# Summary
Since v0.67.0, options with long text for Multiselect and Selectbox selectors overlap each other when the text starts wrapping.

![image](https://user-images.githubusercontent.com/387848/93896635-2650bd00-fcbf-11ea-8fc4-2b7c27166186.png)

# Steps to reproduce
This is easiest to replicate in the sidebar (or make the browser window smaller):
[code]

## Expected behavior:
The options will b

[2020-09-22 16:30] lcalviny opened #2028 "add new item in selectbox, but it doesn't show right away"
I have a selectbox which shows all objects in a directory, and add new file in that directory, but it won't show it until click the one of option in selectbox.

import streamlit as st
import pathlib

dict1 = {pathlib.PurePath(d).name: d for d in pathlib.Path(__file__).parent.iterdir()}

st.selectbox('please choose', [*dict1])

newitem = st.text_input('please input new item')
if newitem:
    with o

[2020-09-22 18:54] akrolsmir commented on #1984
Yup! This is probably the easiest solution in that it doesn't involve any particular eng effort to write new code, we just have to screenshot the apps. Adding/changing APIs could require regenerating screenshots, but that doesn't happen very often anyways.

Any idea where we could host these images? Some options:
1. s3 bucket (cons: complicated, need to figure out permissions)
2. directly in our r

[2020-09-22 19:42] ternaus commented on #875
It would be so convenient if there was an option to draw polygons...

I would like to write my own customized data labeling tool and streamlit looks like a good choice, except the situation with polygons.

[2020-09-22 20:09] #1984 closed, assigned to nobody

[2020-09-22 21:48] PrudhviVajja commented on #2028
@lcalviny  That's a great question, Although streamlit reruns the python file everytime you update your widgets it follows a pythonic way of top to bottow approach to re-run which will not update the `dict1` variable as the new file is not yet updated in the directory.

*One workaround would be to add a confirmation checkbox at the end.*

[code]

[2020-09-22 22:13] PrudhviVajja commented on #2027
+1

[2020-09-22 22:27] rluong003 commented on #2011
Hi, I'm new to open source contributions. May I work on this?

[2020-09-22 22:33] arpitnarechania commented on #1059
@kmcgrady Thanks for telling me the planned fix (of adding an ellipsis) and explaining the react-window package implementation. I think it makes sense considering the type of component this is and the features (/limitations) of the underlying package.

For my specific use-case, I will most likely write a custom component as I require multi-line options but for general purpose multiselect dropdowns

[2020-09-23 00:17] karriebear commented on #2027
Exalate commented: karriebear commented: Thanks for pointing this out! We just put out a patch addressing this. Please upgrade to 0.67.1 to get the latest.

For additional context, we are now enforcing one line select items and truncating them with an ellipsis at the end. We think it makes the most sense for this type of component and fits with how most other selects in smaller displays work. Long

[2020-09-23 00:17] #2027 closed, assigned to nobody

[2020-09-23 01:18] rmartin16 commented on #2027
That's unfortunate...but fair. Thanks for pushing out a fix so quickly!

[2020-09-23 01:41] #2017 closed, assigned to karriebear

[2020-09-23 09:07] silas2471 commented on #1792
Thanks for the hint, I will give it a try.  Are there any documentations regarding Streamlits context manager and the reportthread?
Couldn't find them in the current documentation?

[2020-09-23 12:35] randyzwitch commented on #1792
There isn't, but there's a longstanding issue that it needs to be added https://github.com/streamlit/streamlit/issues/86

[2020-09-23 14:18] durandg12 commented on #268
Hello @tvst, are there any news on this matter?

[2020-09-23 14:34] randyzwitch commented on #2001
Related: https://twitter.com/tunguz/status/1308466252298555393

[2020-09-23 14:38] randyzwitch commented on #317
Closing this. It's not clear how/what we'd benchmark here, as "production" means a lot of things to different people.

In general, Streamlit has guards against uploading very large files (via command-line parameters), and limits the amount of data to be written to the browser (50MB if I'm not mistaken). So the remainder of performance comes down to how fast Python as a backend processes the script

[2020-09-23 14:38] #317 closed

[2020-09-23 17:19] randyzwitch opened #2037 "Test URLs refer to external repos"
Feels like this could potentially be unstable in the future (along with some of the other url's tested) if these repos disappear

https://github.com/streamlit/streamlit/blob/develop/lib/tests/streamlit/url_util_test.py#L22-L23

[2020-09-23 18:06] liu694246082 commented on #241
Having something like the output from ipywidget would be awesome!!!

[2020-09-23 18:55] kurt-rhee opened #2038 "nan values break dictionaries in streamlit"
# Summary

Dictionary objects with nan values return syntaxerror

![image](https://user-images.githubusercontent.com/33131958/94056656-74cf8b80-fd93-11ea-9bb6-bb44718c60d9.png)

# Steps to reproduce

What are the steps we should take to reproduce the bug:

Minimum viable code snippet with a working dictionary and a non-working dictionary
![image](https://user-images.githubusercontent.com/33131958/

[2020-09-24 14:12] randyzwitch commented on #2028
I think is working as designed, as if Streamlit tracked the entire filesystem for changes, the app would constantly refresh.

It _might_ be the case that you can get the behavior you desire by adding the directory you're adding files to in the PYTHONPATH, but you'll have to try it and let us know. Possibly related issue: https://github.com/streamlit/streamlit/issues/1176

[2020-09-24 16:45] karriebear opened #2039 "Wide Mode - Hamburger menu overlaps when scrolling"
Hamburger menu overlaps with other components. This is an issue mostly when in wide mode and things can span the whole container
![image](https://user-images.githubusercontent.com/24946400/94174743-aca60400-fe63-11ea-9032-af125c2b9e05.png)

[2020-09-24 16:59] #1138 closed

[2020-09-25 00:46] kellyamanda opened #2042 "Wide mode - sticks around until hard refresh"
# Summary

When I remove st.beta_set_page_config(layout="wide") from the code, the wide mode layout sticks around until I hard refresh. I'm seeing this on streamlit-nightly

## Is this a regression?

Believe so

# Debug info

- Streamlit version: version 0.67.1.dev20200921
- Python version: Python 3.8.5
- Pipenv
- OS version: MacOS Catalina 10.15.6
- Browser version: Chrome Version 84.0.4147.89 (O

[2020-09-25 11:33] doanva84 opened #2043 "[Need-to-help] Not show long text of labels"
# Summary

I don't know how to show full LONG text of labels in bar charts

# Screenshots
![image](https://user-images.githubusercontent.com/6386925/94261990-f0306900-ff5c-11ea-8f55-1ee94159782f.png)

* I want to show full text on the left of chart.
* As you can see in the screenshot above:
['**Very long text manageme**nt(mobile)', '**Very long text (He**xbyAgent)'...]
was cut to
['nt(mobile)', 'x

[2020-09-25 13:39] randyzwitch commented on #2043
Have you tried tight layout?

https://matplotlib.org/tutorials/intermediate/tight_layout_guide.html

In general, usage questions about Streamlit should go to our community forum :)

https://discuss.streamlit.io

[2020-09-25 13:39] #2043 closed, assigned to nobody

[2020-09-25 17:27] cwerner opened #2044 "List experimental and beta components of latest nightly build in the docs"
Apologies if this exists somewhere.

I’d find it super helpful to list the latest features that exist in beta or experimental in the nightlies in the documentation. Maybe with a brief description and a gif. 🤔

Cheers,
C

[2020-09-25 18:03] #1860 closed, assigned to nobody

[2020-09-25 18:22] mivade commented on #1960
As far as I can tell the linked gist relies on code that is not documented which makes me reluctant to rely on such a solution. Ideally `st.cache` would cache per user session by default and provide an option to make it global.

[2020-09-26 22:12] nthmost commented on #2008
@karriebear Do you have any ideas on what may have changed between these versions?

[2020-09-27 12:37] Ccarl19 opened #2048 "Wrong display bar chart with annotations"
# Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

Bar Chart annotations are not displayed correctly

What are the steps we should take to reproduce the bug:

1. After unzipping attached file run script bug_stream1.py
2. We can notice the only bar with annotation in the top of the bar is the last bar.
3. There are 2 screenshots included in the zipfile, we can

[2020-09-28 05:15] Ravi-Nayak commented on #2009
i corrected the error thank you

[2020-09-28 05:15] Ravi-Nayak commented on #2009
i traced the error and corrected randy thank you

[2020-09-28 06:47] pavanda commented on #904
Hi anyone can tell how to write code for reading only for file path?

[2020-09-28 08:07] karriebear opened #2050 "Intermittent CircleCI Cypress job failure"
# Summary
Cypress tests occasionally gets stuck. Probably a result of minor dependency upgrade #1954. Alternatively `start-server-and-test` was updated 8 days ago but first instance was from 3 days ago.

## Sample failures
https://app.circleci.com/pipelines/github/streamlit/streamlit/4642/workflows/d3bc2d57-a589-4f4f-9652-402e88d29684/jobs/11493
https://app.circleci.com/pipelines/github/streamlit/

[2020-09-28 19:02] karriebear opened #2052 "[Layouts] Wrap columns on mobile"
### Proposal 1: Once screen width drops below a certain threshold (600px?), we just stack every column
- Kinda brute force but simple to reason about, anyways.
- Might make things like grid layout weird

### Proposal 2: When a specific column drops below a certain threshold (200px?), wrap that one
- Problem: how to handle variable-width columns?
- Problem: 3 same-width columns, but two in line 1 a

[2020-09-28 19:28] karriebear opened #2053 "[Layouts] Expander, make header togglable"
In `st.expander`, the header currently has a cursor but is not togglable. Only Show/Hide is currently togglable. Make the entire header container togglable as well.

[Source](https://discuss.streamlit.io/t/hide-collapse-fold-a-section/1579/10)

[2020-09-28 19:32] randyzwitch commented on #2016
Not sure I understand the request here. Is it to have a new block with the same colors, except instead of "Note" as the top-level heading having "Deprecated"?

[2020-09-28 20:26] kmcgrady commented on #1680
This has been resolved with https://github.com/streamlit/streamlit/pull/1969

[2020-09-28 20:26] #1680 closed, assigned to nobody

[2020-09-28 21:30] JovanNj commented on #636
Hi, I just wanted to check if there is any progress on this, or if anyone knows some hack to work this out, could you please post it?
Thanks!

[2020-09-28 22:45] karriebear opened #2056 "Collapsible header"
Right now expander only displays the header as a text field. It would be nice to do this with st.header or st.subheader.

## Proposal 1
Perhaps a configuration for header type, i.e.
`st.expander("header", header_type="header|subheader|text(default)", expanded=True)`

## Proposal 2
Support markup with header text so that `# header` will display as a header and so on. This could open up too many pos

[2020-09-28 23:00] akrolsmir opened #2057 "Prevent submission of unlinted Python code"
https://github.com/streamlit/streamlit/pull/2054/files only needed an update to package.json, but Black made Henrikh change the styles on a bunch of unrelated files. This is annoying, makes git blame harder to reason about, and increases mental load on the code reveiwer; we should fix this, since the whole point of Black/Prettier is that we can stop thinking about code style.

Hypothesis is that l

[2020-09-29 02:14] akrolsmir commented on #2057
Oh, it seems like in that PR (https://github.com/streamlit/streamlit/pull/2054) Henrikh manually ran Black. This worries me for a different reason -- how and why is it possible for us to submit code that does not pass the Black linter test? In my head, we already had a linting step in our presubmits that fails when code is not properly formatted.

[2020-09-29 02:16] akrolsmir commented on #2057
Related: #1947

[2020-09-29 03:12] karriebear commented on #2016
Yup, but more specifically apply it to the deprecated class. Currently when we use the deprecated notation, it looks like 👇  We've been doing info callouts instead of using the deprecation tag to make it look like ☝️

![image](https://user-images.githubusercontent.com/24946400/94508402-ecf8df80-01df-11eb-89e7-3f31a5ce72d3.png)

[2020-09-29 03:18] karriebear commented on #2008
Between [0.61 and 0.66](https://github.com/streamlit/streamlit/compare/0.61.0...0.66.0) we fixed a bug for when a session is disconnected and added the deprecation warning.

@Laksh1997 is your deployed instance publicly available? If not, do you mind taking a quick screen recording or sharing some screenshots? Additionally, can you share your code or a small reproducible sample? We've been working

[2020-09-29 08:47] tvst opened #2058 "Ability to set sidebar width"
Source: https://discuss.streamlit.io/t/change-width-of-sidebar/5339/2

User would like to change the width of the `st.sidebar`.

Need to figure out (1) whether/when to implement this, and (2) what should the API be.

[2020-09-29 09:14] jbfn opened #2059 "Caching reverts widgets to initial state"
# Summary

After an interactive widget is used, the value of the user input is reverted back to the default value the next time the page updates (when the script is re-run).

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. Start with a new streamlit run! The problem usually goes away after the first try
2. Click the "select" checkbox
3. Click the "test" checkbox a

[2020-09-29 09:16] larsroemheld commented on #2059
I can confirm, same bug here.

[2020-09-29 13:02] SimonBiggs commented on #653
Hi @nthmost,

So I managed to find some time to implement this this-evening. See the PR over at https://github.com/streamlit/streamlit/pull/2060.

Thanks for letting me add this to the API :)

[2020-09-29 15:00] randyzwitch commented on #2016
It's not clear to me if we need to do a custom admonishment here or if I could get away with this

https://stackoverflow.com/a/9738992/2394542

[2020-09-30 05:03] #1859 closed, assigned to nobody

[2020-09-30 07:18] prateekghimire opened #2063 "Stuck at connecting at Heroku"
# Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

## Expected behavior:

Explain what you expect to happen when you go through the steps above, assuming there were no bugs.

## Actual behavior:

Explain the buggy behavior

[2020-09-30 12:14] randyzwitch commented on #2063
Hi @prateekghimire -

This is a question better posed on our community forum, where people with experience in deploying on Heroku can chime in.

https://discuss.streamlit.io

Best,
Randy

[2020-09-30 12:14] #2063 closed, assigned to nobody

[2020-09-30 12:21] randyzwitch commented on #1541
Closed by #2062

[2020-09-30 12:21] #1541 closed, assigned to nobody

[2020-09-30 19:20] cdeil opened #2067 "Incorrect statement which files streamlit is watching for changes?"
Currently the docs at
https://github.com/streamlit/streamlit/blame/2bc0af342add68d576564985461e85174077c57b/docs/tutorial/create_a_data_explorer_app.md#L145-L147 state:

   This means that Streamlit only detects code updates inside installed Python
   libraries

I guess the second sentence is incorrect and should be removed?
Streamlit will watch the current working directory, but will not wathe "i

[2020-09-30 21:00] kmcgrady opened #2068 "Look for Configuration Files in Platform-Recommended Directories"
# Problem

Streamlit uses the home directory for its configuration, but that adds _another_ config file to pollute a home directory. We should be good platform citizens and provide thoughtful locations for configuration files.

# Solution

We as a team agreed on the following order:

1. `$PROJECT_FOLDER/.streamlit`
2. (great if possible, but not required) `$PROJECT_FOLDER/{../}+.streamlit` (i.e. a

[2020-09-30 21:05] jrhone commented on #2068
We store our metrics tracking ID in `~/.streamlit`.

Will need to maintain this data when switching locations so we don't throw off our metrics.

And also read it from a single location on each platform, not a hierarchy of locations, I think.

[2020-09-30 21:29] ysayeed opened #2069 "Plotly graphs with string labels show an empty string for the hover text"
# Summary

When drawing multiple plotly graphs with string labels, the hover text does not appear if there are many different graphs. It may sometimes reappear after rerunning the page, but the first time they are drawn, hovering over the graph does not show any values in the hover text.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

Run a streamlit app with:
[code

[2020-09-30 21:32] ysayeed commented on #2008
I've encountered an issue with this as well previously, using Kubernetes with multiple replicas. I was able to have it fixed by using sticky sessions.

[2020-09-30 22:43] akrolsmir commented on #2042
Thanks for reporting, Amanda!
- Can confirm this repros.
- Not exactly a regression since I think this is how it always behaved.
- Probably occurs on initial_sidebar_state="expanded" as well (but that's used much less often)
- Not super-high priority, IMO
- Sketch of a solution would be to always reset page_config back to defaults (layout=centered, sidebar=auto). This might be a little tricky sinc

[2020-09-30 22:51] Amey-D commented on #2008
@Laksh1997 echoing Karrie's question - is your deployed instance publicly accessible? If not, could you please share the Kubernetes manifest files with us?

[2020-10-01 05:45] domoritz opened #2073 "Slider value visually overlaps with the edge of the sidebar"
# Summary

The value label collides with the edges of the sidebar. It should change alignment when it gets close to the edges.

# Steps to reproduce

[code]

## Expected behavior:

The value label should not collide with the edges.

## Actual behavior:

<img width="382" alt="Screen Shot 2020-09-30 at 22 42 44" src="https://user-images.githubusercontent.com/589034/94772484-97067200-036e-11eb-9f82-1

[2020-10-01 13:31] randyzwitch commented on #2073
Agreed. To see this really happen, do a slider from 1,000,000 to 10,000,000, step = 1,000,000. The numbers are truncated at the start of the slider.

[2020-10-01 16:25] AhmedSalam22 commented on #927
any good news sir?

[2020-10-01 18:06] tvst opened #2075 "Update docs to inform users that map view will change if data changes (for st.map) or if the initial_view_state changes (for st.pydeck_chart)"
# Steps to reproduce

1. `streamlit run https://raw.githubusercontent.com/streamlit/demo-uber-nyc-pickups/master/app.py`
2. Drag the map. Remember where you moved the map to.
3. Move the slider

## Expected behavior:

The map stays in the same location you moved it to in step 2.

## Actual behavior:

The map resets to its original position.

## Is this a regression?

yes
This was good in 0.60 and

[2020-10-01 18:18] kmcgrady commented on #1294
@masolin @rbracco @MauGal @KyotoSunshine @madpowah @emanoelbarreiros @m-ad @danielvarga @JohnPaton @thomelane @sabualkaz

I've been working on the MediaFileManager missing file issues. I think I have a solution, but because this has been a tricky piece of code, I'm looking for some testers. Would you be willing to try it out with your use cases? I would greatly appreciate it. One thing I do recomm

[2020-10-01 18:57] kurt-rhee commented on #796
I've found that in my plots I can change the resolution by increasing the figsize, but the fig always spans the entire width of the page.  Is there a way to turn off the auto scaling for pyplot?

[2020-10-01 20:00] kmcgrady commented on #2075
I see the problem in the works, but there's an underlying concern. In the TS code, we check if the initial view state changed and if so, we move the map. In the python code, we calculate the location of the initial view state based on the coordinates provided, and center the map around those coordinates. So while the map "moves" back to original position, it's actually moving to a different center

[2020-10-02 01:43] akrolsmir opened #2079 "Month dropdown on DateInput is very slow (~5s to appear)"
# Summary

Month dropdown on DateInput is very slow (~5s to appear). See https://i.imgur.com/WkmHYag.gifv

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. Create `st.date_input('hi')`
2. Click on the date
3. Click on the month inside the date

## Expected behavior:

Month dropdown should appear almost instantly, with no user-perceived lag.

## Actual behavior:

Ta

[2020-10-02 05:52] akrolsmir commented on #2073
Yup, I can repro! I imagine this is a bit tricky as we have to override the behavior of our slider, but maybe one of our resident CSS wizards has a better sense of how we could fix this.

[2020-10-02 06:27] FelixGoetze commented on #534
Another workaround is to use the browser extension [Dark Reader](https://darkreader.org/) to view the streamlit app, although that will only change the appearance for yourself.
It works nicely while developing.

![Screen Shot 2020-10-02 at 16 20 49](https://user-images.githubusercontent.com/9584512/94893786-553f0e00-04cb-11eb-8200-adb2e7d04738.png)

[2020-10-02 06:54] akrolsmir commented on #2059
Can also confirm this repros! Thanks for the detailed repro case with explanations of which lines are necessary =)

[2020-10-02 06:57] akrolsmir commented on #2079
Simple thing to do would be to change datetime.min to be today-10y by default.

[2020-10-02 07:41] ChrisDelClea commented on #1019
+1

[2020-10-02 09:10] Jesse-jApps commented on #956
Is there any progress concerning this so far?

[2020-10-02 12:12] mgibbins opened #2080 "Caching not working properly with pandas categorical data type"
# Summary

Functions that contain pandas categorical data type don't cache and rerun even when no values have changed.

# Steps to reproduce

[code]

## Expected behavior:

I would expect all functions to cache when none of the inputs or other variables used have changed.

## Actual behavior:

Functions with variables of a pandas categorical data type where the category names have spaces in them d

[2020-10-02 15:07] Ciroye commented on #233
Hi @benlindsay could you get it?

[2020-10-02 15:31] benlindsay commented on #233
Sorry @Ciroye, haven't gotten around to this yet.

[2020-10-02 19:32] akrolsmir commented on #2057
Honestly, unlinted JS or Python code should be blocked at code commit time, so we don't waste time expecting presubmits to run, only to find a bunch of eslint errors:

https://app.circleci.com/pipelines/github/streamlit/streamlit/4714/workflows/b5201cc7-5180-4987-94fa-6ebc05df21cc/jobs/11695

[2020-10-03 03:11] kksurajr opened #2084 "Button added on sidebar does not work after first click"
# Summary

I have around 9 buttons on the sidebar which run a python program when i click it. after i any of the button the first program runs fine but then when i click the second button I get an error. I have to restart the program to gain access to the second button program

# Steps to reproduce

What are the steps we should take to reproduce the bug:
1. Create multiple buttons on side bar link

[2020-10-03 04:46] mechatronics-studio commented on #1856
I noticed this too. Since it was reverted from bug to product review needed, does that mean this is an intended functionality?

[2020-10-03 06:11] akrolsmir opened #2085 "`make protobuf` and `make scssvars` should not interrupt dev flow"
One really annoying thing is when I pull the latest code from develop and there was a new protobuf or scss change, without realizing. Because then I proceed to happily spin up my frontend and backend servers, only to find that I'm missing a `make protobuf` or `make scssvars`. This is especially bad when I'm working on two different branches, one of which has the protobuf change and one without; th

[2020-10-03 17:04] reesehopkins opened #2086 "KaTeX parse error for newlines"
# Summary

Unable to create newlines using `st.latex`. Tried to use \\\ and \newline. Both do not work.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

[code]
## Expected behavior:

![image](https://user-images.githubusercontent.com/15884962/94997268-6f71fe00-0556-11eb-9e47-df2d4e203f01.png)

## Actual behavior:

`KaTeX parse error: Expected 'EOF', got '\\' at posit

[2020-10-04 00:28] SharathRajagopalan commented on #283
Hello @zack-klein! Do we have to install the 10.14 SDK again or does Mojave runs fine even without it?

[2020-10-04 05:05] pranftw commented on #1744
This is what I'm working on and its still in dev. When I press the "**Download MNIST data**", values are assigned to `X_tr, y_tr, X_te and y_te`, then when I click on "**Create Model**", those values cannot be accessed.
**To recreate the issue, you have to `pip install neowise`**

[code]
[code]
[code]
[code]
[code]
[code]

[2020-10-04 07:48] Pratipkhandelwal commented on #609
URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate chain (_ssl.c:1056)>

I have installed the required certificates still the same issue persists. Any other solution for this?

[2020-10-04 18:27] shadanan commented on #1538
I ran in to this today, but not in the context of trying to use `@st.cache` in a notebook, but rather trying to import a file in my streamlit app that happens to use the `@st.cache`. I was trying to prototype some functionality in the Jupyter environment, but I was forced to copy paste my streamlit code and remove the `@st.cache` lines. It would be nice to have this just work in this context, but

[2020-10-04 20:10] shadanan commented on #1538
I came up with a workaround where I wrap the `@st.cache` decorator with another decorator that doesn't apply `st.cache` when running in a Jupyter environment:

[code]

This is then used as follows:

[code]

[2020-10-04 21:06] akrolsmir opened #2087 "Video on main API page is broken"
See: https://docs.streamlit.io/en/stable/api.html#streamlit.video

![](https://i.imgur.com/6eI7Bv3.png)

[2020-10-05 01:03] doanva84 commented on #2043
Thank you @randyzwitch
I can use tight_layout of Matplotlib as your suggestion.
However, I must use short form of labels (reason: text is too long)

[2020-10-05 02:01] akrolsmir commented on #2086
Can confirm this repros. Katex supports newlines normally (https://katex.org/), so we're probably doing something wrong. Guesses:
1. In StreamlitMarkdown, we pull in both inlineMath and blockMath renderers; perhaps inlineMath is getting used which doesn't play nice with newlines?
2. Some kind of markdown parsing or backslash escape issue where the double backslash is interpreted as an EOF somewher

[2020-10-05 05:06] nthmost commented on #653
@SimonBiggs Oh, great!  I was on vacation when you dropped this.  I'll check it out tomorrow morning!

[2020-10-05 05:16] nthmost commented on #586
Hi @mzeidhassan,

Apologies for the delay in response, I am just coming back from vacation.

At the moment there are some issues with our current Markdown library that are difficult to work around; we will need either to choose a new JS markdown library to run with (a several-week undertaking to ensure quality), or to produce our own fork of the current library (which is no small decision, mainten

[2020-10-05 18:20] akrolsmir commented on #2084
Hi @kksurajr -- It's not exactly clear what issue you're seeing. Could you post a self-contained snippet of code to show us what the issue is?

By the way: when you click on button 1 and then button 2, the result of button 1 is going to be "False", since buttons always reflect whether they were clicked on the previous run. E.g.

[code]

Clicking on hi, then bye, will only write "bye" the second ti

[2020-10-05 23:45] Yangxiaojun1230 opened #2089 "Show components side by side"
For example, I need to show two buttons side by side. Do anyone know how to realize it?

_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

Is your feature request related to a problem? Please describe the problem here. Ex. I'm always frustrated when [...]

##

[2020-10-06 00:09] akrolsmir commented on #2089
Hi Yang Xiao Jun,

This feature is coming really soon! In fact, you can try it right now on Nightly, or play with the feature here: https://s4a.streamlit.io/akrolsmir/married-dinosaurs/master/app.py/+/

[code]

![](https://i.imgur.com/8T712yf.png)

[2020-10-06 00:11] akrolsmir commented on #2053
Fixed by https://github.com/streamlit/streamlit/pull/2082!

[2020-10-06 00:11] #2053 closed, assigned to nobody

[2020-10-06 01:34] domoritz opened #2090 "`st.bar_chart` should not be zoomable"
# Summary

The bar chart zooms, which I can't think of a scenario for.

# Steps to reproduce

[code]

## Expected behavior:

Not sure. Maybe no zoom.

## Actual behavior:

<img width="789" alt="Screen Shot 2020-10-05 at 18 31 38" src="https://user-images.githubusercontent.com/589034/95148773-04cce800-0739-11eb-86a9-0a935ae7b367.png">

# Debug info

- Streamlit version: 0.65.2

---

Community votin

[2020-10-06 01:36] domoritz opened #2091 "Default bar chart should use ordinal scale for categorial data"
# Summary

The default bar chart should use an ordinal scale so that the style is correct.

# Steps to reproduce

[code]

## Expected behavior:

<img width="543" alt="Screen Shot 2020-10-05 at 18 36 17" src="https://user-images.githubusercontent.com/589034/95149008-abb18400-0739-11eb-9e34-588dab443af8.png">

## Actual behavior:

<img width="658" alt="Screen Shot 2020-10-05 at 18 36 13" src="https:

[2020-10-06 01:41] domoritz commented on #1946
https://dependabot.com/ works really well for me (in Vega). It automatically sends PRs.

[2020-10-06 03:13] domoritz opened #2092 "Using two checkboxes with the same string errors unexpectedly"
# Summary

Using the same description for a checkbox should not cause an error. I can see why this causes an error but I still feel that for this particular case it is somewhat unexpected to get an error. Could Streamlit generate a key that changes for the second checkbox?

I haven't thought through the exact reason for this error so feel free to close this.

# Steps to reproduce

What are the ste

[2020-10-06 04:16] karriebear opened #2094 "Improve immutability of ExtendedFile"
# Summary
Currently ExtendedFile is an extended File with a number of mutable properties. In order to make ExtendedFile immutable, let's separate the changing properties from the file itself.

### Current
[code]

### Proposed
[code]

[2020-10-06 05:35] akrolsmir commented on #2092
This is mostly working-as-intended, in that we did decide to throw an error at one point. For Streamlit to know which widgets map to which python code on an app rerun, we currently use the hash of everything we know about a widget -- so without the key parameter, these two checkboxes would look the same.

That said, this is definitely a bad user experience and I'd love to improve it. There might b

[2020-10-06 05:54] akrolsmir commented on #2067
You're right, this does seem contradictory. The actual behavior is the first (Streamlit listens for changes in the current working directory). I _think_ the second sentence is intended to convey "Streamlit will detect changes to only the libraries that are installed **in your current working directory**; if a library is changed outside, e.g. in `site-packages`, Streamlit's cache will be none the w

[2020-10-06 05:54] Yangxiaojun1230 commented on #2089
@akrolsmir
Thanks for your job, I tried and it look great!

[2020-10-06 05:54] #2089 closed, assigned to nobody

[2020-10-06 06:04] akrolsmir commented on #2090
~Hm, I can't seem to reproduce this (at least, not on the latest version of Streamlit, Windows, Chrome). Using your exact code snippet gives me:~

![](https://i.imgur.com/P0EbuM1.png)

Though, it is kind of weird that the lines on the bar chart are so thin -- not sure if that's a bug with barchart or working as intended.

[2020-10-06 06:07] akrolsmir commented on #2090
Oh, silly me, I thought you were saying that it was zoomed out by default, but you meant that "Barcharts should not zoom at all"; and my gut instinct is that you're absolutely right, there's no reason for that to exist.

[2020-10-06 06:11] akrolsmir commented on #2091
Agree that the lines on the bar chart look too thin, and ordinal scale sounds like a good fix.

[2020-10-06 06:20] akrolsmir opened #2096 "Static Embedded Apps should be generated effortlessly"
Right now, there's still a ton of manual work that goes into creating and updating a static embedded app. And the result is that we don't use them as much as we could, plus the ones we use may be many versions out of date.

(For example, I'm thinking of making a fix to st.bar_chart #2091 , but I'm almost sure I won't update the static embedded app because it's too much of hassle.)

Some issues:
1.

[2020-10-06 07:52] akrolsmir commented on #2085
Noticed that there's already "make autogen" as an alias for "make protobuf; make scssvars".
Perhaps "make frontend" should alias "make autogen; make react-build" instead of just the latter?

[2020-10-06 08:04] akrolsmir commented on #2052
Since #2065 is merged, I think we can close this now!

[2020-10-06 08:04] #2052 closed, assigned to nobody

[2020-10-06 08:11] akrolsmir commented on #2014
Hi @sergescevenels-naspers , thank you so much for reporting this, and apologies for the delay in response! From my own experience, there's definitely some weirdness around Bokehs and column layouts in Streamlit at the moment -- my own experience is that Bokeh plots don't work correctly in our own `st.beta_columns`)

Unfortunately, it's hard to tell from your code snippet if we're seeing the same

[2020-10-06 09:59] akrolsmir commented on #1812
Other deprecations we're tracking:

- [x] st.image's format - 2020-10-30
- [x] st.pyplot's no-arg - 2020-12-01

[2020-10-06 11:40] akrolsmir commented on #2069
Can confirm that I can repro the same issue -- with the above code snippet, the first run does appear empty, and on a rerun (but not refresh) the label suddenly appears.

If it used to work on an old streamlit version like 0.65.2, I suspect it may have to do with us upgrading a dependency (plotly, in this case?); I don't think we've made any related changes to Streamlit in the meantime.

[2020-10-06 11:42] akrolsmir commented on #2048
Just to unpack the zip for easier reference:

[code]

Streamlit display (WRONG):
![](https://i.imgur.com/HhFIDes.png)

Jupyter display (RIGHT):
![](https://i.imgur.com/vYcPj1N.png)

[2020-10-06 11:48] akrolsmir commented on #2048
@Ccarl19 -- I think this is related to our deprecation of `st.pyplot()` without any arguments. If you change your code slightly to use the newer syntax, `st.pyplot(fig)` at the bottom of the code, you'll see all the labels:

Result: ![](https://i.imgur.com/5zDLPsR.png)

Code:
[code]

[2020-10-06 13:49] #2067 closed, assigned to nobody

[2020-10-06 13:52] #2087 closed, assigned to nobody

[2020-10-06 16:08] domoritz commented on #2090
It might make sense to zoom horizontally only. The vertical zoom for a bar chart is odd.

You can constrain the interactions to horizontal like this:

[code]

<img width="559" alt="Screen Shot 2020-10-06 at 09 09 08" src="https://user-images.githubusercontent.com/589034/95227975-9b3def80-07b3-11eb-89cc-42ec30ec3d6c.png">
<img width="557" alt="Screen Shot 2020-10-06 at 09 08 59" src="https://user-i

[2020-10-06 16:13] domoritz commented on #2092
Oh nice. Let me update then.

Again, feel free to close this issue or leave it open if you think the error message could be improved even further.

[2020-10-06 17:29] hkokko commented on #1584
This is a problem for example in cPanel (a hosting environment). The hosting vendor does not give permissions to hosting user to do sudo. Can the requirement for having sudo be removed.

[2020-10-06 18:49] akrolsmir commented on #1809
Note: original warning is raised in https://github.com/streamlit/streamlit/blob/develop/lib/streamlit/elements/number_input.py#L83, so that would be a good place to introduce a new warning

[2020-10-06 20:53] karriebear opened #2105 "ProgressBar element cleanup"
1. Instead of overrides, why don't we make the shared component simple with no margin, and wrap it with a div with the desired margins? This reduces our reliance on baseweb.
2. Apply margin where needed

[2020-10-06 21:59] reinst commented on #2059
My fix for this issue was to put my `st.selectbox` in the `main()` and right before the logic I added:

[code]

[2020-10-07 03:07] stonier commented on #1667
Running into this problem on 0.65 for any variation of the methods outlined above.

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/streamlit_badge_black_white.svg)](https://issues.streamlitapp.com/?issue=gh-1667)

[code]
![Screenshot_20201006_233327](https://user-images.githubusercontent.com/687378/95284507-573b0100-082c-11eb-860a-09a0361be335.png)

[2020-10-07 03:20] kantuni commented on #912
@ricky1192, it will be out very soon.

[2020-10-07 03:53] stonier commented on #1667
@andfanilo as you mentioned, resolve_scale isn't passing back the requisite object. I can get the preceding code to work if I then append some additional methods to it. e.g.

[code]

[2020-10-07 06:21] tvst opened #2107 "When "streamlit run" file doesn't exit and has no extension, error printout is weird"
1. Create a Python file and call it `example` (without .py)
2. `streamlit run example`

Here's what you get:
<img width="400px" src="https://user-images.githubusercontent.com/690814/95294472-307bcb00-082a-11eb-86b0-37c2a1335988.png" />

**This error message is not a valid sentence: "Streamlit requires raw Python (.py) files, not ."**

What's happening is that the code is trying to write the file e

[2020-10-07 06:23] tvst opened #2108 "Focus ring in st.audio (and maybe st.video??) looks ugly"
![Screenshot from 2020-10-06 20-27-00](https://user-images.githubusercontent.com/690814/95294937-fd860700-082a-11eb-85a3-b6af767a9a41.png)

[2020-10-07 07:00] #2079 closed, assigned to nobody

[2020-10-07 08:57] mjmikulski opened #2109 "Multiline text input"
### Problem

I want to allow a user to submit a feedback in an app.

`st.text_input` is one line only text box. It is suitable for one-word answers, but It's hard to write there a sentence.

### Solution

Add `type="multiline"` to `st.text_input`

See proposed doc:

[code]

### Alternative solution
Add a new method `st.long_text_input`. It would allow to customize the text box, e.g. with an argume

[2020-10-07 12:33] abhinand5 commented on #2107
I can fix this problem. If approved, I will make a pull request.

[2020-10-07 13:14] #1985 closed, assigned to nobody

[2020-10-07 14:06] randyzwitch commented on #2107
Thanks for volunteering @abhinand5, please feel free to take a shot at it and submit a PR.

[2020-10-07 14:08] cenkbircanoglu commented on #1685
+1

[2020-10-07 14:15] jbfn commented on #2059
Thanks for your comment @reinst -- could you possibly explain your code a bit further? This seems like a possible workaround to the issue but not a fix, correct?

[2020-10-07 17:01] nkahm opened #2112 "Plotly Chart - xtick labels missing"
I am using streamlit 0.67.0 and plotly 4.11.0 from conda-forge. Also using Chrome, and this is a local deployment.
There seems to be an error when the graph loads - xtick labels are not showing up. Zooming into the graph shows that the xtick labels are empty.

A quick fix is to use plotly arrows at the top right to maximize the image - this solves the problem, and the xtick labels remain visible e

[2020-10-07 18:14] MaxHalford opened #2113 "audio widget not working on Safari"
# Summary

I have successfully managed to deploy a streamlit application on Heroku, which you can see [here](https://chime-soundboard.herokuapp.com/). I'm really happy about it; streamlit is really revolutionary.

The problem is that the `st.audio` widget doesn't seem to be working on Safari. The soundboard I've linked works fine on Firefox. I haven't tried it out with Chrome.

# Steps to reproduc

[2020-10-07 18:45] nthmost commented on #481
I just repro'd this issue (again), and for clarity here is the state of things:

Using @st.cache BEFORE @classmethod results in the reported error.

[2020-10-07 19:12] abhinand5 commented on #2107
Thanks @randyzwitch, I have submitted the PR

[2020-10-07 19:31] cuent commented on #726
do you guys have a date to release this feature?

[2020-10-07 20:00] #2107 closed, assigned to nobody

[2020-10-07 21:51] karriebear opened #2119 "Using promises in Cypress"
Can we have use `async/await` here?

_Originally posted by @kantuni in https://github.com/streamlit/streamlit/pull/2013#r500724078_

[2020-10-07 23:45] karriebear opened #2120 "Add linting rule for no one line if statements"
_Originally posted by @karriebear in https://github.com/streamlit/streamlit/pull/2013#discussion_r501201368_

[2020-10-08 00:34] akrolsmir commented on #2085
This also makes `git bisect` to find a broken commit, really slow and painful.

[2020-10-08 06:52] anushkrishnav opened #2125 "Greeting and Stale Bot"
Create a Contributor Greetings Bot and a stale bot.
Every Contributor to an OpenSource Project is special that is why I feel We should add a small GithubAction to give a warm welcome to the contributors.
Closing Stale PR/Issue often takes away valuable maintainers time why not let GitHub action take care of it for you? And if the authors still want to work on it after months of no activity he stil

[2020-10-08 07:34] jacoblukose opened #2126 "Request for tar file for lib in pypi."
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

As of now for streamlit , we have only wheels file in pypi. Can the streamlit team add tar file as well.

https://pypi.org/project/streamlit/#files

### Solution

Create a sdist ( tar ) of the package and make

[2020-10-08 10:21] Ccarl19 commented on #2048
Thank you Austin,

Works perfectly now.

Best regards

Le mar. 6 oct. 2020 à 13:49, Austin Chen <notifications@github.com> a
écrit :

--

*Carlos CARVALHO*

[2020-10-08 15:04] randyzwitch commented on #2126
Hi @jacoblukose -

Thanks for stopping by. What is your use case for wanting the source distribution vs. a wheel? Is this something where you could use the [tags](https://github.com/streamlit/streamlit/tags) that we're already publishing?

Best,
Randy

[2020-10-08 15:06] randyzwitch commented on #2125
Hi @anushkrishnav -

While it's an interesting idea, I think we're still at the stage where we actually want to respond to people as people instead of from a bot :)

Similarly, with a "stale" issue bot, there are likely plenty of issues that are both stale and valid.

Are there other communities that you can point to where this has worked well?

Best,
Randy

[2020-10-08 15:11] kurt-rhee opened #2127 "Plotly Map Zooming Issues"
# Summary

Hello this is the same issue as:  https://github.com/plotly/plotly.py/issues/2811

But after reading https://discuss.streamlit.io/t/map-plotting-using-streamlit-map/765/2 I am not sure if this is a plotly issue or a streamlit issue.

# Steps to reproduce

Steps to reproduce are in detail with pictures and pickel files in the plotly issue above and also copied below.

Issue:
Objects will

[2020-10-08 15:27] kurt-rhee commented on #1614
Same issue occurs if I import it once, no pop-up in browser, browers details are in original post.

[2020-10-08 15:47] jacoblukose commented on #2126
The place I work at, basically has a pipeline to pull libraries from pypi, but the pipeline requires sdist to be published for security purposes. I really want to try out streamlit, but the unavailabilty of not having sdist is blocking me :(

[2020-10-08 15:53] anushkrishnav commented on #2125
@randyzwitch
People and Community that uses Stable Bots
https://github.com/facebook
https://github.com/sebastianbergmann
https://github.com/atom
https://github.com/Homebrew
https://github.com/prettier
https://github.com/nwjs
https://github.com/parse-community
https://github.com/microsoft/AcademicContent/pull/291
I agree there are stale Issues are valid this bot is not going to delete them but just

[2020-10-08 15:53] randyzwitch commented on #2126
Good enough reason for me :)

[2020-10-08 15:55] jacoblukose commented on #2126
Thankyou. Can we keep the issue open until we have `sdist` published ?

[2020-10-08 15:56] randyzwitch commented on #2126
Sure, this issue is still open, nothing has changed

[2020-10-08 15:57] jacoblukose commented on #2126
sounds good. Thanks for the quick response :D

[2020-10-08 18:59] #831 closed

[2020-10-08 18:59] #896 closed

[2020-10-08 18:59] #897 closed

[2020-10-08 18:59] #1202 closed

[2020-10-08 18:59] #1537 closed, assigned to nobody

[2020-10-08 18:59] #1686 closed, assigned to karriebear

[2020-10-08 19:09] kurt-rhee commented on #897
@karriebear You rock!

[2020-10-08 19:57] akrolsmir commented on #2125
I agree with @randyzwitch that we still want our first response to be from a human (though, sometimes this falls through the cracks and I'd love some system that reminds us which issues haven't gotten a response in e.g. 72h)

I think the stale bot would be a really good idea though! Automatically closing any issue that hasn't gotten any updates in 3 months sounds like the right thing to do, so tha

[2020-10-08 22:03] yjoer commented on #1644
I faced the same problem today and it turns out that adding `__init__.py` files to the directories involved in the import statements solved the problem. In the case of the [provided repository](https://github.com/pierresegonne/streamlit_import_keyerror), I can re-run the project without having `KeyError` after adding an `__init__.py` file to the `contrib/utils` directory.

[2020-10-08 23:35] anushkrishnav commented on #2125
Exalate commented: anushkrishnav commented: If you are all okay then shall I start working on the stale bot ?

[2020-10-09 00:40] kmcgrady commented on #1294
We've QAed a lot of scenarios and feel comfortable that the change is an improvement. The change has been merged, and it will be in the next release.

[2020-10-09 00:40] #1294 closed

[2020-10-09 00:44] kmcgrady commented on #1804
The change has been merged in and will be in the next release. There should be an improvement to everything above.

[2020-10-09 00:44] #1804 closed, assigned to kmcgrady

[2020-10-09 01:07] karriebear opened #2134 "[Expander] Add disabled(?) state"
# Summary
When rerunning through widgets, items that get removed are in some sort of disabled state where things are grayed out. The expander does not have this state.

# Steps to reproduce

1. Go to release demo 0.68 expander demo
2. go to container demo
3. Notice expander is not grayed out while still on page

## Expected behavior:

expander grayed out

## Actual behavior:

If applicable, add sc

[2020-10-09 03:08] reinst commented on #2059
The below code works so you don't have to refresh your page and it keeps your box checked, so I consider it a possible fix.

Your original issue seems to be about adding a feature that caches the boolean statement of the checkbox, which I think is still a valid request.

[code]

[2020-10-09 05:40] akrolsmir opened #2135 "On the newest docs, "Deploy a Streamlit app" page is empty"
**Link to doc page in question (if any):**

https://docs.streamlit.io/en/stable/deploy_streamlit_app.html

**What you think the docs should say:**

For now, show placeholder content (link to heroku deploy instructions?)
In the future, describe what to do for S4A.

[2020-10-09 08:14] akrolsmir opened #2136 "Remove "_proto" from elements (e.g. "image_proto.py")"
This was a holdover from the DG refactor.

When we migrated DeltaGenerator to start using mixins, there were some files existing for some of the protobuf marshalling, for example "image_proto.py". At the time, to keep the refactor small, we didn't rename those, but the newer mixin files were named eg "markdown.py".

This is the start of work to finally clean up all the _proto suffixes.
- [ ] data_

[2020-10-09 08:21] jbfn commented on #2059
I think you are missing my point - this does not fix any caching issues. My code was only intended to be a minimal working example.

[2020-10-09 12:41] randyzwitch commented on #2125
I will defer to @nthmost, who manages our issues and backlog, whether this is an issue for her that a bot solves.

[2020-10-09 12:51] randyzwitch commented on #2135
Oops

[2020-10-09 13:34] reinst commented on #2059
Yes, I should have made it clear that this is only a workaround and not a fix like you mentioned above.

[2020-10-09 13:39] jrhone commented on #2059
Seems to be fixed in 0.68.0

[2020-10-09 17:51] karriebear opened #2138 "CI Update all jobs to treat warnings as errors consistently"
# Summary
Nightly failed because there was a warning that was missed. We should update all our CI jobs to treat warnings as errors like nightly does. Alternatively, if we are fine with warnings, update nightly job to not treat warnings as errors

https://app.circleci.com/pipelines/github/streamlit/streamlit/4882/workflows/4485b7df-2502-4f86-9cf2-87848f273664/jobs/12179

[2020-10-10 01:46] mechatronics-studio opened #2139 "Media + Components (Ace Editor) don't work in Safari or Chrome iOS"
# Summary

Playing audio and using components (like Ace Editor) don't work in Safari for desktop or iOS or for Chrome for iOS. These same functions all work great on Chrome for desktop.

# Steps to reproduce

1. Go Here: https://share.streamlit.io/jkanner/streamlit-audio/main/app.py
2. Or run this script: streamlit run https://raw.githubusercontent.com/Ghasel/streamlit-ace/master/examples/streamli

[2020-10-10 07:35] akrolsmir commented on #2048
Awesome, glad that helped!

[2020-10-10 07:35] #2048 closed, assigned to nobody

[2020-10-10 07:40] akrolsmir commented on #2057
Related: #461

[2020-10-10 09:24] akrolsmir commented on #1915
Updated sketch. In the CircleCI job, we should:

1. Use the same "make package" code used by nightly
2. Checkout a git repo like "streamlit/preview-builds" on a branch like "pr-2100"
4. Set up the folder like:
[code]
5. Push the folder
6. Link to the deploy page e.g. `https://share.streamlit.io/deploy?repository=streamlit/preview-builds&branch=pr-2100&mainModule=streamlit_app.py`
7. (With S4A supp

[2020-10-10 11:15] andfanilo opened #2145 "Components keep refreshing/remounting when in a column"
# Summary

With or without a `key`, a component in a column will eventually refresh/remount, sometimes lock itself into a refresh loop.
Not sure but seems to depend on the browser (Chrome/Edge stop refreshing at some point but if you interact with the component it goes off again. Firefox stays in loop forever).

# Steps to reproduce

**Using drawable canvas**

Canvas won't stop remounting.

https:

[2020-10-10 15:43] treuille opened #2147 "Clicking on a text field in the sidebar (on mobile) causes the sidebar to close."
# Summary

When the window is too narrow, clicking on a text input in the sidebar causes the sidebar to disappear, making it impossible to type in text. [[video example](https://drive.google.com/file/d/1KetCBECPsg3UAiESZCRdm6W9M_zIrNkc/view?usp=sharing)]

# Steps to reproduce

1. Put a text input in the sidebar.
2. Make the Streamlit app window narrow.
3. Click the text input in the sidebar.

## E

[2020-10-10 15:58] ingebert commented on #904
New file uploader widget is great! But I´m still wondering if it is possible to reading in file path?
It would be really nice to have something like `uploaded_file.fullpath`. The reason is I want to create a COM Object and need to pass a string but `uploaded_file.name` is not working.

[2020-10-11 00:04] #2135 closed, assigned to randyzwitch

[2020-10-11 22:23] mechatronics-studio commented on #2145
I also noticed a similar behavior when using the streamlit ace editor in a column. The editor refreshes almost immediately after you type anything causing it to refresh the text and become empty.

[2020-10-12 01:02] karriebear opened #2150 "Run 2 cypress tests concurrently using S4A PR preview."
There are several tests that we perform manually for releases to make sure there are no concurrency issues. In addition, the `with` change would have benefitted from concurrency testing.

Now that we have the S4A PR preview, we should update our cypress tests to run 2 instances using the deployed instance. This can help us identify issues with concurrency as well as automate parts of the release r

[2020-10-12 03:27] hshhhi opened #2151 "cache not working with function that pass lambda function which iterate over a list as argument"
# Summary

Trying to use cache()  on a function which passes a lambda function, whose 2 arguments are of int type and list type, as argument, then KeyError raised with lambda function's first argument if the lambda function iterate over the list.

# Steps to reproduce

[code]

## Expected behavior:

output should be
[code]
with no Error raised

## Actual behavior:

KeyError: 'a'

Streamlit encount

[2020-10-12 04:58] bhclowers commented on #904
This appears to still be a pressing issue with no clean solution.  The suggestion outlined in another [post](https://discuss.streamlit.io/t/upload-files-to-streamlit-app/80) is close but selecting any directory outside of that of the app is difficult to set.  My use case would be to run the app locally and to access files larger than 200 MB where having access to the file can minimize a full uploa

[2020-10-12 15:04] rbracco commented on #1294
@kmcgrady thank you so much for taking the time to address this and I'm sorry I wasn't more responsive earlier. I installed the changes from your dropbox and everything works great now. All the MediaFileManager issues have disappeared!

[2020-10-12 15:28] kantuni opened #2152 "Upgrade Cypress"
This may resolve the "timeout" issue we keep encountering.

[2020-10-12 15:29] kurt-rhee opened #2153 "Streamlit number_input reverting to default in column layout"
# Summary

Streamlit number_input reverts back to default value if clicking + or - buttons or if entering a new value in column layout.  I believe that number_input with float does not work in column layout, while integer number_inputs work okay.

https://discuss.streamlit.io/t/problem-with-number-input/3539

# Steps to reproduce

What are the steps we should take to reproduce the bug:

[code]

##

[2020-10-12 15:31] kantuni opened #2154 "Upgrade BaseWeb"

[2020-10-12 15:35] kantuni opened #2155 "Upgrade to Yarn 2"
Yarn recently [released](https://dev.to/arcanis/introducing-yarn-2-4eh1) a new [version](https://github.com/yarnpkg/berry). Let's investigate if it can improve our compilation time as `yarn start` is too slow ATM.

[2020-10-12 15:45] kantuni commented on #2152
Duplicate of #1921.

[2020-10-12 15:45] #2152 closed, assigned to nobody

[2020-10-12 15:45] kantuni commented on #1921
This may resolve the "timeout" issue we keep encountering.

[2020-10-12 15:47] kantuni opened #2156 "Upgrade BokehJS to 2.4 when it's released"
Currently Bokeh JS and Python libraries need to be synced. More so, specific versions of Bokeh has not been perfect and have broken apps. An optimal solution would be to support whatever version the user is using in this case.

[2020-10-12 16:04] farkasmark commented on #2145
Maybe a related error is, when you are modifying any widget in an experimental column, the whole page starts to scroll up and it seems that all the components are refreshed / remounted just the same way as @andfanilo described.

[2020-10-12 17:34] karriebear commented on #1431
A new file uploader has been released in 0.68! It did not seem to be an issue using the new file uploader. Closing for now but happy to reopen if this is still an issue.

[2020-10-12 17:34] #1431 closed, assigned to karriebear

[2020-10-12 18:11] kmcgrady commented on #2139
Hi @theimposingdwarf Thank you so much for the report. I can't speak for the Ace Editor yet, but I can explain the audio. Can you test on the `streamlit-nightly`? You can install it by uninstalling streamlit and run `pip install streamlit-nightly`.

To explain the problem, Safari requires the server to support [Range Requests](https://developer.mozilla.org/en-US/docs/Web/HTTP/Range_requests). We f

[2020-10-12 18:15] kmcgrady opened #2159 "Add Unit Tests around pyplot and marshaling Images"
#2158 fixed an issue where the coordinates function was sent over and not called. We suggest a unit test should be implemented for it but it's unclear how we want to test the function.

Examples include:

* Testing whether the correct arguments are sent to `marshall_images`
* Testing whether the correct arguments are sent to `media_file_manager.add`

Seems like some organization around media can b

[2020-10-12 18:22] kmcgrady commented on #2113
Hi @MaxHalford Thank you so much for the report. Can you test on the streamlit-nightly? You can install it by uninstalling streamlit and run `pip install streamlit-nightly`.

To explain the problem, Safari requires the server to support [Range Requests](https://developer.mozilla.org/en-US/docs/Web/HTTP/Range_requests). We found this problem with regard to videos, so I am sure this would apply to a

[2020-10-12 18:55] akrolsmir commented on #2145
Hi @farkasmark -- I wasn't aware of this one before, thanks for flagging. When you say "any widget", is that Streamlit widgets (st.slider, st.text_inpu) or Component widgets which trigger this issue?

[2020-10-12 19:24] kmcgrady opened #2160 "Memory Leak for replacing images repeatedly in the same coordinates."
# Summary

When replacing images in the same location, the previous image does not delete until the session is disconnected, This has the potential to create a memory leak.

# Steps to reproduce

[code]

## Expected behavior:

Old images should get deleted from memory file manager

## Actual behavior:

All images remain loaded in `media_file_manager`

## Is this a regression?

No

# Debug info

-

[2020-10-12 19:43] akrolsmir opened #2161 "Safari re-requests images inside a column"
[code]

When a 1) local image file is 2) placed inside a column 3) on the latest develop (after #2158, anyways), each subsequent Streamlit call causes Safari to re-request the image, as shown on Safari's "networks" tab.

Current hypothesis is that this is a caching issue; the reason is that an image loaded via URL does not exhibit the same re-requesting issue

[2020-10-12 19:47] akrolsmir commented on #2161
Note that the re-request itself doesn't have any user-visible effects, as far as I can tell. But the code snippet does seem to trigger the same issue described in https://github.com/streamlit/streamlit/issues/2145#issuecomment-707208698

[2020-10-12 20:44] randyzwitch opened #2162 "[py:function] added to search results, is this a regression?"
Seems like this is a new development, can/should this be removed for clearer results?

<img width="555" alt="Screen Shot 2020-10-09 at 1 41 45 PM" src="https://user-images.githubusercontent.com/2762787/95788757-21719e80-0caa-11eb-8d3a-95eaa3d2e030.png">

[2020-10-12 21:07] tvst opened #2163 "When an st.slider is moved, the app reruns twice"
# Steps to reproduce

1. Run this script:
[code]
2. Move the slider from 0 to 42

## Expected behavior:

In your terminal, you should see:
[code]

## Actual behavior:

In your terminal, you see:
[code]

## Is this a regression?

yes

And it's very likely that I introduced this bug with [this PR](https://github.com/streamlit/streamlit/pull/1834)

[2020-10-12 22:30] farkasmark commented on #2145
Streamlit widgets seem to trigger this issue unfortunately.

[2020-10-12 22:49] kantuni opened #2164 "Bokeh chart is slow on `streamlit-messi-ronaldo` app"
https://share.streamlit.io/asaini/streamlit-messi-ronaldo/master/app.py

[2020-10-13 04:46] medecau commented on #1991
Having the same problem with TF models using huggingface/transformers
[code]

[2020-10-13 07:47] andfanilo commented on #2153
Thanks for the report @kurt-rhee, this looks awfully similar to https://github.com/streamlit/streamlit/issues/2145#issuecomment-707377155 hopefully they will be solved together!

Fanilo

[2020-10-13 09:03] sur123-lgtm commented on #596
I have used this code to create a month year box in same row but it shows AttributeError: module 'streamlit' has no attribute 'beta_columns':-

col1, col2 = st.beta_columns(2)
                with col1:
                    st.selectbox('Month',('Jan','Feb','Mar','Apr','May','Jun','July','Aug','Sep','Oct','Nov','Dec'),use_column_width=True)

                with col2:
                    st.selectb

[2020-10-13 10:12] doliinychenko commented on #2109
It looks very much like existing `st.text_area()`.

[2020-10-13 10:13] jacoblukose commented on #2126
@randyzwitch will you be able to provide a rough timeline on when this can be pushed out :)

[2020-10-13 10:35] MatthewNargol opened #2168 "file_uploader.read() returns empty bytes after app reruns"
# Summary

file_uploader.read() returns an empty bytes object after interacting with app.

Same issue as #2122 ?

# Steps to reproduce

[code]

## Expected behavior:

![image](https://user-images.githubusercontent.com/57093252/95849473-6f88af80-0d47-11eb-9cf1-8ebfd0f7f42e.png)

## Actual behavior:

![image](https://user-images.githubusercontent.com/57093252/95849543-862f0680-0d47-11eb-9964-07d108b

[2020-10-13 11:25] durandg12 opened #2169 "Add a height argument to st.container and st.expander"
### Problem

I want to display a large (i.e. with a lot of lines) text output (say, logs from a simulation) and I would like to constrain the space used by this output. So if the size of the text exceeds the allocated space, then the user has to scroll inside the widget. I previously did it with two unsatisfactory hacks. The first was to use `st.text_area` like this:

[code]
This is not ideal give

[2020-10-13 17:16] akrolsmir commented on #2134
Fixed by #2157 😄

[2020-10-13 17:16] #2134 closed, assigned to karriebear

[2020-10-13 17:56] MaxHalford commented on #2113
Thanks for your comment @kmcgrady! Indeed the issue if fixed with the nightly build. Cheers!

[2020-10-13 17:56] #2113 closed, assigned to nobody

[2020-10-13 18:49] akrolsmir opened #2170 "st.balloons should not take up layout space"
# Summary

Possibly a regression from the recent st.balloons upgrade? Or maybe was always the case.

# Steps to reproduce

[code]

Click on the button.

## Expected behavior:

No space inserted after clicking on the button.
(E.g. st.empty() would not take up space there)
Probably just need to mark the st.balloons react element with whatever we're using on st.empty, so that it is completely hidden

[2020-10-13 19:12] kmcgrady commented on #2161
@akrolsmir It does give a large amount of flickering, which is kinda weird. The end result is fine, but it's weird loading to get to that.

![safari](https://user-images.githubusercontent.com/69432/95905119-48cd7780-0d4d-11eb-9809-ae910e260055.gif)

[2020-10-13 21:14] kmcgrady opened #2172 "Changes in a widget in an expander closes the expander"
# Summary

If I make changes to a widget in an expander, the expander closes.

# Steps to reproduce

[code]

## Expected behavior:

When making a change in the text input, the expander should stay open.

## Actual behavior:

When making a change in the text input, the expander closes.

## Is this a regression?

no

# Debug info

- Streamlit version: 0.68

[2020-10-13 22:00] #653 closed

[2020-10-13 22:32] SimonBiggs commented on #653
@kmcgrady would you be okay with me opening another issue that covers the key parts discussed in this issue that were not covered by https://github.com/streamlit/streamlit/pull/2060 ?

[2020-10-13 23:17] kmcgrady commented on #653
@SimonBiggs Yes! That sounds great. Please do, and just be sure to link in this PR and the issue. Let me know when you file it, and I can then close #2060.

Thank you so much for your help!

[2020-10-14 00:34] kmcgrady commented on #2172
#2173 Closed this issue as well!

[2020-10-14 00:34] #2172 closed, assigned to nobody

[2020-10-14 01:41] #2163 closed, assigned to nobody

[2020-10-14 01:48] nthmost commented on #2125
Hi @anushkrishnav,

While we may have a small handful of "stale" issues in the backlog, for the most part the issues that remain open have been kept open for some explicit reason.

So while we have definitely considered using a bot for project management, for the time being we are performing more of a whole-backlog-management approach that is -- at the moment -- under control.  As issues accelerat

[2020-10-14 01:48] #2125 closed, assigned to nobody

[2020-10-14 01:58] mechatronics-studio commented on #2139
I can confirm that with streamlit-nightly 0.68.2.dev20201012 it looks like the video player (I haven't had a chance to verify if the audio player works yet) is working well in desktop and mobile safari.

It does look like the Ace Editor still isn't working.

[2020-10-14 04:01] Tohidhadinejad opened #2176 "User info does not work"
The whole user information system does not work. I just entered my name, but now, the system has added some imaginary information by its own.
There no way to modify it either.

[2020-10-14 05:41] #2161 closed, assigned to nobody

[2020-10-14 05:46] kmcgrady commented on #2139
@theimposingdwarf I have a PR out for a fix. Turns out Safari doesn't support the BigInt64Array Type, and so there was a `ReferenceError`. This is an update to the `streamlit-component-lib`, so streamlit-ace will need to upgrade their library and repackage it when it's released.

[2020-10-14 05:49] kmcgrady commented on #2145
@andfanilo @theimposingdwarf @farkasmark

I believe #2173 should address this problem and it will be in the next release soon. If nightly succeeds tonight, you can also try it out.

Fingers crossed!

[2020-10-14 05:49] kmcgrady commented on #2153
@kurt-rhee I believe #2173 should address this problem and it will be in the next release soon. If nightly succeeds tonight, you can also try it out.

Fingers crossed!

[2020-10-14 06:20] akrolsmir commented on #2176
Hi @Tohidhadinejad -- sorry, but I'm genuinely lost. What user information system are you talking about? Are you talking about a specific Streamlit app (and if so, which one?) Could you provide screenshots about what you're seeing?

[2020-10-14 07:08] akrolsmir opened #2178 "Docs sidebar has visual cruft on narrow screen widths"
**Link to doc page in question (if any):**

Any doc page, e.g. https://docs.streamlit.io/en/stable/api.html#display-interactive-widgets

Repros on Chrome and Safari on Mac

<img width="1034" alt="Screen Shot 2020-10-14 at 12 05 44 AM" src="https://user-images.githubusercontent.com/856034/95955173-44d34100-0db1-11eb-9ccf-e4733177bb8a.png">

[2020-10-14 08:06] #1231 closed

[2020-10-14 08:32] rhjensen79 opened #2179 "Allow for Center of text etc."
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

When using st.write, my text is aligned to the left. I would like to position it center.
I read that you can use HTML today, but it will be deprecated. So looking for a more permanent solution.
Using columns i

[2020-10-14 08:58] andfanilo commented on #2179
Hello @rhjensen79,

You may be referring to [this st.markdown unsafe_allow_html tip](https://discuss.streamlit.io/t/how-do-i-align-st-title/1668/5), which is for now the way to go.

Regarding its deprecation, [it is actually not happening :wink: ](https://discuss.streamlit.io/t/are-you-using-html-in-markdown-tell-us-why/96/69)

So feel free to use the HTML solution and wrap it into your own functi

[2020-10-14 09:00] rhjensen79 commented on #2179
Thanks @andfanilo for both the quick answer, and the solution.
I will go with unsafe_allow_html then :-)

[2020-10-14 09:00] #2179 closed, assigned to nobody

[2020-10-14 09:34] andfanilo commented on #2145
First test on Drawable Canvas on streamlit-nightly LGTM !

[2020-10-14 10:29] SimonBiggs opened #2180 "Rerun when file system/database/some other external data source changes"
This is an issue to cover the topics not addressed within PR https://github.com/streamlit/streamlit/pull/2060 that were raised within the issue https://github.com/streamlit/streamlit/issues/653.

Below are copied in some key comments

--------------------

The key goals personally for an API that is able to rerun when an external data source changes are listed below:

* Selected module imports
  *

[2020-10-14 10:34] SimonBiggs commented on #653
Done :) see https://github.com/streamlit/streamlit/issues/2180

My pleasure :)

[2020-10-14 11:13] manasbolt945 commented on #1613
it says
 Could not find a version that satisfies the requirement tensorflow==1.6.0 (from versions: 1.13.0rc1, 1.13.0rc2, 1.13.1, 1.13.2, 1.14.0rc0, 1.14.0rc1, 1.14.0, 1.15.0rc0, 1.15.0rc1, 1.15.0rc2, 1.15.0rc3, 1.15.0, 1.15.2, 1.15.3, 1.15.4, 2.0.0a0, 2.0.0b0, 2.0.0b1, 2.0.0rc0, 2.0.0rc1, 2.0.0rc2, 2.0.0, 2.0.1, 2.0.2, 2.0.3, 2.1.0rc0, 2.1.0rc1, 2.1.0rc2, 2.1.0, 2.1.1, 2.1.2, 2.2.0rc0, 2.2.0rc1, 2

[2020-10-14 13:40] ltsstar opened #2181 "E2E tests. run_e2e_tests.py throws exception"
# Summary

The script "run_e2e_tests.py" that I want to use for running the E2E tests breaks after the third E2E test.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. I installed the streamlib dependencies described on https://github.com/streamlit/streamlit/wiki/Contributing
  - using the most recent commit (c99bcc6045fc89e21ed0bc96fe85901a397888a2)
2. I ran "mak

[2020-10-14 21:29] akrolsmir opened #2188 "y-axis on interactive vega-lite charts (like st.bar_chart) cuts off on zoom"
Try scrolling outwards on https://static.streamlit.io/0.50.0-td2L/index.html?id=BdxXG3MmrVBfJyqS2R2ki8 or see images in #2097

Not sure exactly what the best product experience is -- I imagine we don't want to shift the chart to make room, nor to have it overflow on the left side...

Also, this is very minor since VegaLite does the right thing on the initial load, so all data that's visible in the

[2020-10-14 21:42] cptidiot opened #2189 "Int64 column with NA Can Not Be Displayed in Streamlit"
I have a column in pandas dataframe with type of Int64, and there are some rows with NA values. However, such DataFrame cannot be displayed
`      a = pd.Series([1,2,3,4,pd.NA])
        a = a.astype('Int64')
        st.table(a)
`
The Error message is like:

<img width="1006" alt="eRR" src="https://user-images.githubusercontent.com/38769131/96048401-6bce5900-0e2b-11eb-9acc-a158aea8894e.png">

[2020-10-15 05:58] doanva84 opened #2192 "There's no option page_config layout"
# Summary

I would like to get value of page_config layout via get_option but there's no choice

# Steps to reproduce

I find how to get state of page_config layout in many places, but there's no choice
I found that current option-list there's no option for page_config layout.
[code]
I checked via
* https://github.com/streamlit/streamlit/blob/255532df359d5c0edf3af4d89d0cc8e66b562753/docs/streamlit

[2020-10-15 06:19] doanva84 commented on #2192
Moreover, I could not found any option here ( https://docs.streamlit.io/en/stable/streamlit_configuration.html#view-all-configuration-options )

[2020-10-15 11:56] tobycheese commented on #1161
I have just stumbled over this. The following streamlit code demonstrates the problem:

`
import streamlit as st
import pandas as pd
import altair as alt

my_time = {
  "dateTime": "", "date": "", "time": "", "periods": [], "days": [], "months": [], "shortMonths": [],
  "shortDays": ["So", "Mo", "Di", "Mi", "Do", "Fr", "Sa"],
}
alt.renderers.set_embed_options(timeFormatLocale=my_time)

data = pd.D

[2020-10-15 13:10] iharshulhan opened #2202 "Wrong values passed to variables from streamlit"
### Problem

While using streamlit I've noticed that some values of checkboxes or selectboxes can be different to what is displayed to the user. It is hard to point out when this happens, the behaviour is quite random. All the keys are unique across the application.

### Example

<img width="718" alt="Screenshot 2020-10-15 at 15 52 26" src="https://user-images.githubusercontent.com/14186470/961303

[2020-10-15 15:24] augustovanderley commented on #1880
I want to volunteer.

[2020-10-15 16:09] farkasmark commented on #2145
@akrolsmir Thank you, this issue was resolved by the latest nightly build.

[2020-10-15 16:12] kmcgrady commented on #2145
Looks like the update solves the problem. Going to close this issue. Let me know if it repros again.

[2020-10-15 16:12] #2145 closed, assigned to nobody

[2020-10-15 16:15] kmcgrady commented on #2139
@theimposingdwarf the update to the `streamlit-component-lib` is out. https://www.npmjs.com/package/streamlit-component-lib

The next step would be for https://github.com/Ghasel/streamlit-ace to update the component to use the latest library. I am going to close this issue since the issue should be resolved on Streamlit's side. If the component fails with the latest update, feel free to reopen thi

[2020-10-15 16:15] #2139 closed, assigned to nobody

[2020-10-15 16:40] kmcgrady commented on #2153
Tested out the changes, and things look good in 0.69.0+ Going to close this issue.

[2020-10-15 16:40] #2153 closed, assigned to nobody

[2020-10-15 16:48] okld commented on #2139
Hello, thanks for the fix @kmcgrady!

@theimposingdwarf I'll update Streamlit Ace this week-end

[2020-10-15 18:05] akrolsmir commented on #2202
Hm, that indeed seems like a problem. All the more so if the behavior is random, since we need to be able to reproduce it in order to trace and solve what's going on... What things were you doing when you triggered this bug? (Switching quickly between options? Modifying the option while the app is running?)

[2020-10-15 18:57] nthmost commented on #1105
Quick note, @kellyamanda just saw this bug pop up in our metrics dashboard, so i'm bumping it up in priority as it clearly didn't get washed away by any PRs over the year.

[2020-10-15 21:11] kgrabowski opened #2208 "Streamlit fails to start without Git executable"
# Summary

Streamlit version `0.69.1` fails to start when run inside a Docker container that doesn't have Git installed.

# Steps to reproduce

1. Create a `Dockerfile` with the following contents:
[code]
2. Build the image:
[code]
3. Run the app:
[code]

## Expected behavior:

Streamlit starts without issues.

## Actual behavior:

Streamlit fails to start and displays the following error message:

[2020-10-16 04:01] DaedlyKitten opened #2209 "Text_input / Text_area validating when losing focus, rather than after 'Enter' or 'Ctrl+Enter' pressed"
# Summary

Text_input / Text_area will self validate when losing focus, rather than when 'Enter' or 'Ctrl+Enter' is pressed (as is hinted by the hint comment in the corner). causing the whole script to be rerun from the start...

With a page of multiple input fields this is very annoying when you switch between different fields,

and a total headache when the text_input or text_area's value of var

[2020-10-16 07:35] iharshulhan commented on #2202
Yes, I was modifying the options while the app is running. However, I didn't touch the selectbox and was modifying other selectors. Also the app has quite a lot of options and it seems that the problems started to appear after the number of selectors increased.

[2020-10-16 08:26] stevessschen commented on #1641
I have the same problem!
st.write
st.table
st.markdown

All not working

[2020-10-16 11:44] rjvtww commented on #268
+1 on this! Super needed for training models which take time.

[2020-10-16 12:52] slitayem commented on #2208
+1
This worked up until version `0.68.0`

[2020-10-16 14:54] flynneva opened #2212 "ubuntu 20.04 python3.8 unable to run streamlit hello"
# Summary
After following the install instructions and installing streamlit via `pip3 install streamlit` i get the following error while trying to run `streamlit hello`:
[code]

# Steps to reproduce

- ubuntu 20.04
- python 3.8.5
- pip3 install streamlit
- streamlit hello

## Expected behavior:

`streamlit hello` should run demo app

## Actual behavior:

`streamlit hello` results in error output

[2020-10-16 15:08] flynneva commented on #2212
streamlit version that pip3 installed was `streamlit-0.69.1`

[2020-10-16 15:14] flynneva commented on #2212
turns out the protobuf version was old.

running `pip3 install --upgrade protobuf` fixed my error.

[link to stackoverflow answer](https://stackoverflow.com/questions/61922334/how-to-solve-attributeerror-module-google-protobuf-descriptor-has-no-attribu) that helped me

[2020-10-16 15:14] #2212 closed, assigned to nobody

[2020-10-16 15:58] Nestbi7 commented on #166
Error running script cache_on_button_press.py in Windows 10
-----------------------------------------------------------------------------------------------------------------------
Hi! sorry for the inconvenience, but when i run the script cache_on_button_press.py with streamlit
I get the following error:

AttributeError: module 'streamlit' has no attribute 'ScriptRunner'
Traceback:
File "c:\progra

[2020-10-16 16:34] durandg12 opened #2213 "file_uploader does not repopulate the UploadedFile stream when the app is rerun"
# Summary

I use `st.file_uploader` to allow the user to submit their own data. Then I do an action based on this data and other user-provided parameters (coming from an `st.slider` for instance). Re-running the app produces an error. This includes when the parameters are changed (for example by moving the `st.slider`). After investigating, I discovered that it is because, after the first reading

[2020-10-16 16:42] randyzwitch commented on #2208
Thanks for reporting, we're looking into making a patch for this.

[2020-10-16 18:03] nthmost commented on #2209
Exalate commented: nthmost commented: Hey @DaedlyKitten -- Thanks for filing this bug.  We'll check it out!

Linking:
#1557
#1855

[2020-10-16 18:40] akrolsmir commented on #2209
Hi @DaedlyKitten , I do believe this is by design. There's no way to avoid it at the moment, though a possible enhancement to text_input might be a param that disables this behavior.

To motivate such an enhancement, could you tell us more about why you'd need to disable text_input's auto update? I'm really curious about your comment:

- Is beta_columns causing noticeable slowdown of your app?
- C

[2020-10-16 19:28] rkoystart opened #2215 "not able to update the cookies"
# Summary
Not able to update the cookie via streamlit app but able to update via google chrome by filling the form at /form

# Steps to reproduce

What are the steps we should take to reproduce the bug:

The problem I have is, I have a uvicorn server running in my localhost:8080.
login.py is the filename
[code]

i am running the above app using uvicorn from the terminal using th command

`uvicorn

[2020-10-16 21:10] stonier opened #2216 "Change page title & favicon after first st call"
### Problem

Would like to configure the page title at some point *after* the first streamlit call (i.e. not known up-front what it might be, depends on interactive or URL query params).

### Solution

**MVP:** Smallest possible step has already been implemented, https://github.com/streamlit/streamlit/pull/1794.

**Possible additions:**

**Preferred solution:** Additional methods that enable re-co

[2020-10-16 21:29] akrolsmir opened #2218 "Move boto3 and botocore into dev-packages"
These two are only used for Static Embedded Apps, but the majority of our users never use that feature. We should be able to migrate them into DevDependencies and cut down on the "libraries required when you `pip install streamlit`"

[2020-10-16 22:05] akrolsmir commented on #2216
Hi! Just wanted to say that as the one who implemented set_page_config for title and favicon, I'm also in favor of being able to mutate the page title & favicon later. To help motivate this, use cases (like the one you've already added) are super helpful in convincing the Product team that this is a good idea, so thank you!

[2020-10-17 01:22] mechatronics-studio commented on #2139
@kmcgrady @okld Thank you! Looking forward to trying it out!

[2020-10-18 14:58] jeremyjordan opened #2220 "x data is getting dropped in plotly charts"
# Summary

When including a Plotly chart inside of a `beta_expander`, the `x` data of Plotly charts is sometimes getting dropped in a weird way.

# Steps to reproduce

test.py
[code]

## Expected behavior:

The plotly chart should remain consistent across collapse/expand actions, and should not be losing chart information.

## Actual behavior:

Expand and collapse and you'll see that the hover inf

[2020-10-18 15:46] stdusr commented on #596
Did you find a solution?

[2020-10-18 21:36] r4nta commented on #1764
I have the same issue. Streamlit worked fine in my Anaconda environment until I installed mysql connector via `conda install -c anaconda mysql-connector-python`

Now I get this error when launching Streamlit:
AttributeError: module 'google.protobuf.descriptor' has no attribute '_internal_create_key'

`pip install --upgrade protobuf` did not work for me. I get this:

[code]

Is there another solve?

[2020-10-18 22:39] cwerner commented on #834
I would also be very interested in feeding a webcam stream to my streamlit app!

[2020-10-18 22:49] tconkling commented on #834
Hey @cwerner - we're going to have something to say about this pretty soon!

[2020-10-18 23:06] cwerner commented on #834
That’s great to hear! 👍

[2020-10-19 02:32] gaotongxiao opened #2221 "Dataset Explorer Doesn't Work for squad_es and squad_it"
https://huggingface.co/nlp/viewer/?dataset=squad_es
https://huggingface.co/nlp/viewer/?dataset=squad_it

Both pages show "OSError: [Errno 28] No space left on device".

[2020-10-19 05:43] Tititun opened #2222 "imapclient TypeError"
I'm new to programming. I'm trying to reproduce some code from a book, but got stuck after just a pair of lines here:

import imapclient
imapObj=imapclient.IMAPClient('imap.mail.ru',ssl=True)

after running this next error shows up:

Traceback (most recent call last):
  File "C:/Users/vinni/AppData/Local/Programs/Python/Python39/getMail.py", line 2, in <module>
    imapObj=imapclient.IMAPClient('i

[2020-10-19 08:32] vincentAGNES commented on #596
@stdusr updating streamlit with ```pip install --upgrade streamlit``` solved the issue for me

[2020-10-19 11:16] vigneshwaran opened #2224 "Button like UI appeared undesirably"
# Summary

I have created a streamlit app with multiple pages where I used Sessionstate. The problem is button are displayed multiple times at random places. Actually they doesn't look like original buttons. The buttons are also printed in pages where they are not used.

## Undesirable behavior:

Button like UI should not appear multiple times.

![image](https://user-images.githubusercontent.com/2

[2020-10-19 12:05] okld commented on #2139
@theimposingdwarf Little update, I just pushed a new version. You can now pip install --upgrade streamlit-ace

[2020-10-19 13:25] randyzwitch commented on #2221
Hi @gaotongxiao -

This error is better reported on the HuggingFace repo, as we don't have anything to do with the creation of that app.

https://github.com/huggingface

Best,
Randy

[2020-10-19 13:25] #2221 closed, assigned to nobody

[2020-10-19 13:28] tybirk-mindway commented on #233
A related request: It would also be great if the each container created with the new st.beta_container / st.beta_column functionality could be 'tapped.'

If the API would be what ines suggests, one could imagine something like

[code]

although I have no experience with nested context managers!

[2020-10-19 13:28] randyzwitch commented on #2215
HI @rkoystart -

I'm not particularly familiar with uvicorn, but from what I think is happening here, it's important to understand that `components.iframe()` is sandboxed. Meaning, it can't change things outside of its own iframe. So if you're trying to change the cookies of the main site via the iframe, that isn't going to work.

If I'm misunderstanding the flow, please correct me.

Best,
Randy

[2020-10-19 13:30] randyzwitch commented on #2218
Agreed

[2020-10-19 13:31] randyzwitch commented on #2222
Hi @Tititun -

This question doesn't appear to be Streamlit bug-related per-se, so it's a better candidate for our discussion forum.

https://discuss.streamlit.io/

Best,
Randy

[2020-10-19 13:31] #2222 closed, assigned to nobody

[2020-10-19 13:33] randyzwitch commented on #2224
Hi @vigneshwaran -

Since SessionState is currently a community-supported feature, this question is better handled via our discussion forum:

https://discuss.streamlit.io/

Best,
Randy

[2020-10-19 13:33] #2224 closed, assigned to nobody

[2020-10-19 13:44] nixphix commented on #2170
I ll work on this

[2020-10-19 14:17] nir-pun-ind opened #2225 "Separate Modules inside a page with its own state in-depended on others"
First of all, this is my first comments anywhere in GitHub but this communities tolerance level or acceptance level :) encouraged me to write this so please bear with me here.
Also, can't tell you how awesome streamlit is; I started learning about its from last few days and cant get over it.

### Problem
I have a task where I am suppose to use 3-4 tools/separate internal site to get one use case c

[2020-10-19 14:34] randyzwitch commented on #2178
Duplicate of https://github.com/streamlit/streamlit/issues/1692

[2020-10-19 14:34] #2178 closed, assigned to nobody

[2020-10-19 14:37] randyzwitch commented on #1331
Going to close this, since it hasn't come up again since I've been at the company. Obviously, if people start mentioning this again, we can add a note to the docs

[2020-10-19 14:53] randyzwitch commented on #1326
Removing the docs label from this, in recognition that it's the same general idea as this issue.

https://github.com/streamlit/streamlit/issues/86

Adding a better error message at runtime is valuable in its own right.

[2020-10-19 15:16] randyzwitch commented on #2225
Hi @nir-pun-ind, welcome to the Streamlit community!

Since this is a usage question, but probably not a Streamlit bug or feature enhancement, this is better answered on our community forum:

https://discuss.streamlit.io

Best,
Randy

[2020-10-19 15:16] #2225 closed, assigned to nobody

[2020-10-19 17:29] AhmedSalam22 commented on #927
any good news sir?

[2020-10-19 18:47] randyzwitch commented on #2126
I don't, as I don't manage our developer sprints. But looking at our makefile, it looks like we used to do this, so I'll see if I can twist some arms :)

https://github.com/streamlit/streamlit/blob/develop/Makefile#L166

[2020-10-19 20:01] #1821 closed, assigned to nobody

[2020-10-19 20:07] #2208 closed, assigned to nobody

[2020-10-19 21:17] tconkling opened #2226 "Script rerun event can cause `SessionInfo not initialized` error on the frontend"
If a script is rerun very quickly after being started, it's possible to trigger an error on the frontend ("Tried to use SessionInfo before it was initialized").

An easy repro is our `streamlit run e2e/scripts/st_experimental_rerun.py` test script.

It _seems like_ what is happening is:
- `ReportSession._on_scriptrunner_event`receives a `SCRIPT_STARTED` event
- It enqueues two messages on its `sel

[2020-10-19 21:40] tvst commented on #2226
I don't know if we can send two Initialize messages in a row. I think a lot of our code expects Initialize to only be sent once per session. But if we can change this, that would be great!

Another option: don't set the boolean `self._sent_initialize_message = True` until the message is _actually_ sent. But this would take a little refactoring too...

[2020-10-20 00:44] mechatronics-studio commented on #2139
Works great! @okld Is it just me or did the previous version update the variable without needing to press control+enter?

[2020-10-20 05:29] akrolsmir commented on #2218
Another reason would be to reassure privacy-conscious users we're not copying all their data.

Audience question at Streamlit open source launch: "Why is boto3 a dependency?" https://youtu.be/0It8phQ1gkQ?t=1113
Adrien: "We should probably get rid of that dependency" xD

[2020-10-20 11:27] lighteternal opened #2227 "Stuck on " HTTP request sent; waiting for response. " terminal screen after running any streamlit script"
# Summary

I had been using streamlit without issues for a couple of months. Suddenly, when I try to launch any app (even` streamlit hello`), a new screen (lynx-like) appears on the terminal, with the following message: `HTTP request sent; waiting for response`.
The app is not accessible via network (it's on a remote server so I can't test locally).

# Steps to reproduce

What are the steps we sho

[2020-10-20 13:12] rkoystart commented on #2215
Thanks for your response @randyzwitch
 You say iframe cannot change the cookie of the main site. But when i change the iframe url to "http://localhost:8000/form" and the submit the username and details correctly, the cookie for the localhost gets updated in the browser  and i am able to acces the link "http://localhost:8000/login"
Is this the correct behaviour?

[2020-10-20 14:47] FrankKr commented on #2213
Exalate commented: FrankKr commented: Update:
Actually, it appears the UploadedFile stream is available, but the cursor is at the end of the stream after the first evaluation.
A work-around for me was to reset the cursor by including
`uploaded_file.seek(0)`
after the check if uploaded_file is None. Would very much prefer this workaround to become obsolete.

in your example:
[code]

original:
exper

[2020-10-20 14:48] luamzi opened #2228 "AttributeError: module 'PIL.TiffTags' has no attribute 'IFD'"
# Summary

Hi. I am trying to run the app in https://github.com/streamlit/demo-self-driving, an example for streamlit application in object detection.

However, when running the app, I got an AttributeError. I have not downloaded the repo. Although, I am lauching the app directly from the github repo.

# Steps to reproduce

I have followed the instructions in the the README demo:

1. Run "pip inst

[2020-10-20 15:20] randyzwitch commented on #2162
@kellyamanda This is not a regression, it's been like this at least since 0.62 (the earliest version of the docs since we migrated to RTD).

Closing, since I suspect this isn't something we can toggle easily.

[2020-10-20 15:20] #2162 closed, assigned to nobody

[2020-10-20 15:42] bp6725 commented on #744
same problem when importing holoviews.. nothing special, just a simple import ..

[code]

[2020-10-20 15:46] wrist commented on #268
I could capture stdout by reading a StringIO instance shared between the main thread and sub thread.
I assume `print_func` is time-consuming processing, the function is called from `thread_func` with stdout redirection to StringIO.
And `thread_func` is invoked in sub thread, so the main thread observes the stdout of `print_func` through StringIO.

[code]

[2020-10-20 15:51] gabmueller opened #2231 "Unexpected behavior of st.write() for strings including brackets '[]'"
# Summary

st.write() cuts out parts of strings that include brackets, e.g. '[text_1] [text_2] text_3' becomes '[text_1] text_3'. In contrast st.text() with the same string works as expected. Functions st.header(), st.title() are affected, too.

# Steps to reproduce

Just try out the following code:

[code]

Run 'streamlit run test.py

## Expected behavior:

st.write(), st.header(), st.title() sho

[2020-10-20 15:53] nthmost commented on #2169
Hi @durandg12 ,

Thanks for the suggestion!  That all makes sense.  We're happy to see people (like you) pushing the limits of the new layout options and will definitely file your use case into the next round of considerations for streamlit's layout expansion.

[2020-10-20 16:26] randyzwitch commented on #2231
If I had to guess, I suspect the difference is that `st.write` treats incoming text as Markdown (which uses brackets as special syntax), where as `st.text` passes the strings through verbatim.

If so, then it seems like it might be the proper behavior. Meaning, if you strictly want text, than `st.text` is correct, and if you want to get Markdown, then Streamlit magic or `st.write` will try to dete

[2020-10-20 16:30] randyzwitch commented on #1933
AFAIK, this is resolved. Closing, but happy to re-open if still an issue.

[2020-10-20 16:30] #1933 closed, assigned to nobody

[2020-10-20 16:31] okld commented on #2139
I didn't update the parameter since it was introduced (version 0.0.2). By default it auto refreshes streamlit.

[2020-10-20 16:40] jacoblukose commented on #2126
@randyzwitch  thankyou!

[2020-10-20 17:19] vik-s commented on #2213
Exalate commented: vik-s commented: Update:
Ok, I get it now. The `NoneType` object didn't have the seek() method (duh!). Just resetting the cursor to the start every time fixes the issue.

So, something like:
[code]

Original:
I was facing the same issue with file_uploader. Things seemed to be working okay in 0.67.

Thanks for your workaround. When I tried it, I get:
[code]
Is there something spe

[2020-10-20 17:56] lighteternal commented on #2227
Found the root of the problem.

For anyone having this issue on a remote machine:
On your terminal, create a config file with: `streamlit config show > ~/.streamlit/config.toml`
Then, go to the .toml file and change the `headless` argument to `true`:

[code]

Closing this issue.

[2020-10-20 17:56] #2227 closed, assigned to nobody

[2020-10-20 18:47] tconkling commented on #2215
Hi @rkoystart - I might be missing something, but I don't think this is a Streamlit issue; I don't believe Streamlit does anything (or is even capable of doing anything!) that would prevent you from creating and using cookies in your separate iframe.

I did some StackOverflow research and it looks like localhost cookies can have unexpected and surprising results when used across different ports -

[2020-10-20 22:05] aht opened #2234 "streamlit hello fails with protobuf==3.11.3"
# Summary

`streamlit hello` raises an Exception after install

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. `pip install streamlit`
2. `streamlit hello`

## Expected behavior:

Expected to see hello world examples.

## Actual behavior:

[code]

# Debug info

- Streamlit version: 0.69.2
- Python version: 3.8.2
- Using Conda? PipEnv? PyEnv? Pex? No. Just pip & p

[2020-10-20 22:05] karriebear opened #2235 "Automatically reset buffer when file is read"
**Problem:**

`read_csv` does not work when multiple files are uploaded

**Reason:**

It works currently because we are creating a new BytesIO (or StringIO) object each time in deltagenerator. the object gets passed to and gets processed. when another file is uploaded or a rerun happens, we create a new IO object that is starting back at the beginning.

The new implementation does not work because

[2020-10-20 22:21] kmcgrady commented on #2075
Decided to update the docs that the map will change if the following changes:

* The `initial_view_state` changes for `st.pydeck_chart`
* The data changes for `st.map` (this causes `initial_view_state` changes)

With this change, the next goal is to update the demo-uber-nyc-pickups app to not move the map. We can do this by setting the `initial_view_state` to never change (in this case, it will be

[2020-10-21 01:43] akrolsmir commented on #1915
- [x] Investigate and fix #2145
- [x] Replace "akrolsmir/preview-builds" with "streamlit/preview-build"
- [x] Generate a new SSH deploy key for the new repo
- [x] Host wheel files on S3
- [x] Link to PR and wheel file
- [ ] Github status check to generate the link to https://streamlit.team/deploy?repository=... ?
- [ ] Work with S4A to programatically deploy somehow
- [ ] Speed up the building of

[2020-10-21 01:44] #1915 closed, assigned to nobody

[2020-10-21 01:46] akrolsmir opened #2237 "Improve PR Preview process"
- [x] Investigate and fix #2145
- [x] Replace "akrolsmir/preview-builds" with "streamlit/preview-build"
- [x] Generate a new SSH deploy key for the new repo
- [x] Host wheel files on S3
- [x] Link to PR and wheel file
- [ ] Github status check to generate the link to https://streamlit.team/deploy?repository=... ?
- [ ] Work with S4A to programatically deploy somehow
- [ ] Speed up the building of

[2020-10-21 03:10] garylavayou opened #2239 "Create Data Frame with PySpark in Streamlit Application Result in Pickling Error"
# Summary

Create Data Frame with PySpark in Streamlit Application Result in Pickling Error.

# Steps to reproduce

I am using Pyspark in a Streamlit application, and I can successfully create a `SparkSession` in the application (as a Spark Client) to communicate with the cluster. I can retrieve data from my Spark cluster with Hive support using Spark SQL. For example, show tables of Hive,
[code]

[2020-10-21 05:19] terryreed commented on #2234
This was the first result I saw from Google when I received the same error trying to test the install with `streamlit hello`.
I am on Ubuntu 20.04 and Python 3.9.
I upgraded protobuf (`pip install --upgrade protobuf`) to 3.13.0 and now it is working.
Just wanted to say thanks for taking the time to document this issue.

[2020-10-21 05:59] FrankKr commented on #2213
you're right, I posted a little too fast and my suggestion contained an error. I corrected it for future reads. Good luck!

[2020-10-21 06:04] aht commented on #2234
I can submit a PR to requires `protobuf>=3.13.0`.

[2020-10-21 07:16] gabmueller commented on #2231
Thanks for your answer. You're right, replacing every '[', ']' with a '\[', '\]' makes markdown treating the symbols like ordinary text and it works fine.

Should I close the issue then?

[2020-10-21 08:48] tybirk-mindway opened #2241 "Conditional use of containers can make expanders collapse"
# Summary

Conditional use of containers can make expanders collapse when they are not supposed to.

# Steps to reproduce

Run the following code

[code]

Try to expand the sidebar expander and then move the sidebar slider to 100. And expand it again. And move it back to < 100.

## Expected behavior:

Expander does not collapse

## Actual behavior:

Expander collapses

## Is this a regression?

No

[2020-10-21 12:23] AVSuni opened #2242 "Pydeck basemap and tooltip"
Hi guys,

Thanks for the amazing work. I don't want to double-up on the bug reports since tooltips are known to be broken for Pydeck in Streamlit, but this is related but separate. I am able to get tooltips by doing the following

[code]

... But now there is no basemap. The mapbox API is correct and shows on the HTML. In fact, trying to open a Kepler.gl HTML shows the same behavior. Any thoughts?

[2020-10-21 14:13] #733 closed

[2020-10-21 14:13] #1205 closed

[2020-10-21 16:21] MartinNowak commented on #2059
Indeed seems to fixed in newer versions.

[2020-10-21 17:06] karriebear opened #2243 "Add a polyfill for Array.flatmap"
Array.flatmap is not supported in certain browsers. Find a polyfill for it so that we are compatible with more browser versions, particularly IE/Edge

[2020-10-21 17:06] randyzwitch commented on #2231
I think closing it is probably appropriate

[2020-10-21 17:06] #2231 closed, assigned to nobody

[2020-10-21 18:05] treuille commented on #680
**Exciting news!** We're kicking off the product process for state in Streamlit _right now_, and we're reading this thread really carefully.

If you all have additional thoughts / insights, please share them now.

If you're interested, we'd also love to get feedback on potential APIs as we develop them.

Thank you for all the deep thinking! 🎈

[2020-10-21 18:09] treuille commented on #680
btw, @knorthover : FYI: We now have `st.experimental_rerun()` in [mainline Streamlit](https://share.streamlit.io/streamlit/release-demos/0.69/0.69/streamlit_app.py) (although we found a bug in it which we're fixing). Btw, would love to catch up and hear how you're doing! ❤️

[2020-10-21 18:17] #1090 closed

[2020-10-21 18:31] randyzwitch commented on #2234
@aht Please submit a PR and our engineers will take a look. Thanks!

[2020-10-21 18:36] tybirk-mindway commented on #233
Another killer feature for tabs would be the ability to choose whether they should 'prerender' like the content in a st.beta_expander() or whether they should only be rendered after selected, like it happens now if you e.g. use the 'pages' approach with a radio button pioneered by @MarcSkovMadsen on awesome-streamlit. I don't know if it would be better to have a boolean flag in the proposed st.tab

[2020-10-21 18:46] randyzwitch commented on #2044
Hi @cwerner -

For the beta functions, these will all have docstrings and be included in our docs. We have been putting them in the functional area they belong instead of their own section.

Experimental can be a little more shaky, since part of the experimental part is not having a firm API.

I'll take a look at this and see if there's a more obvious way of surfacing this information.

Best,
Rand

[2020-10-21 20:00] tybirk-mindway opened #2247 "st.expander cuts off sliders"
# Summary

Expander in sidebar cuts off sliders and potentially other stuff

# Steps to reproduce
Run the following code
[code]
## Expected behavior:

Sliders appear nicely under the expander

## Actual behavior:

Sliders ends are cut off under the expander (see picture)

![image](https://user-images.githubusercontent.com/62385461/96776145-e4638580-13e8-11eb-9eaf-692c45541cf1.png)

## Is this a re

[2020-10-22 07:46] tybirk-mindway commented on #2247
A temporary workaround is to add columns, like

[code]

[2020-10-22 07:55] ell33 opened #2250 "number of digits for number_input"
Hello,

I use st.number_input to ask the user for a number. These are numbers with a lot of digits behind the comma, for example:
8.5214787. When I use st.number_input I only see 8.52 in the webpage. Could this be changed?
Suggestion: enter the number of digits you want to display.

[2020-10-22 08:39] erwanlenagard opened #2251 "module 'streamlit' has no attribute 'beta_container'"
I tried to implement the example code introduced in the documentation for beta features : beta_container, beta_columns... However, It returns an error "module 'streamlit' has no attribute 'beta_container'"

    with st.beta_container():
        st.write("This is inside the container")
        # You can call any Streamlit command, including custom components:
        st.bar_chart(np.random.randn(50

[2020-10-22 12:46] Daniyal56 commented on #1856
When running on local host it's showing "streamlit-embedcode documentation · Streamlit", but i don't want this append value · Streamlit, how can i do this, urgent response is needed please.

[2020-10-22 13:07] randyzwitch commented on #2251
Hi @erwanlenagard -

Can you be more specific? What version of Streamlit are you using, and what error did you get when trying to upgrade to the most current version?

Best,
Randy

[2020-10-22 13:11] SabinAdkh opened #2252 "I tried to get the columns of the dataset"
# Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

## Expected behavior:

Explain what you expect to happen when you go through the steps above, assuming there were no bugs.

## Actual behavior:

Explain the buggy behavior

[2020-10-22 13:27] cimendes commented on #611
Any updates on this? Or even if it's a feature you're planing on including?

[2020-10-22 14:03] erwanlenagard commented on #2251
Hi @randyzwitch,

Thanks for your help. I just restarted my laptop and now everything is working !

[2020-10-22 14:03] #2251 closed, assigned to nobody

[2020-10-22 14:15] randyzwitch commented on #2252
Hi @SabinAdkh -

Given there is no information in this ticket, I'm going to close it. If you need general programming help with Streamlit, please feel free to stop by our community forum!

https://discuss.streamlit.io

Best,
Randy

[2020-10-22 14:15] #2252 closed, assigned to nobody

[2020-10-22 14:49] randyzwitch commented on #1851
Related #2044

[2020-10-22 16:19] sammyhajomar opened #2253 "Select All Feature in st.selectbox"
I am attempting to plot a scatter plot using altair on streamlit.

I am having trouble with the selectbox which contains each US state. Before touching the selectbox all the states are displayed on the chart, however when I choose one specific state to focus on using selectbox I can't go back to select all unless I remove the dropdown the page. Is there a way I can select all values using a dropdo

[2020-10-22 17:12] ramonrcn commented on #1764
I got the same issue when using @st.cache on the database connection function, just commenting the line solved the issue for me

[2020-10-22 18:09] anlinguist commented on #1856
As a temporary workaround, you can modify the streamlit frontend main file to remove "· Streamlit" from the title.
1. Go to site-packages/streamlit/static/static/js/ and find the 'main...chunk.js' file and open it.
2. Search for `document.title="".concat(t," \xb7 Streamlit")` and replace it with `document.title="".concat(t,"")`
3. Restart streamlit app and "· Streamlit" should be gone from the tit

[2020-10-22 18:16] arnisudheendra opened #2254 "Disable streamlit widgets"
I would like to know if there is a way to disable streamlit widgets like checkbox and others

[2020-10-22 18:45] karriebear commented on #2243
Resolved per #2111

[2020-10-22 18:45] #2243 closed, assigned to nobody

[2020-10-22 19:06] akrolsmir opened #2255 "x-Axis time units for Altair Charts (& st.line_chart) look weird"
# Summary

<img width="778" alt="Screen Shot 2020-10-22 at 9 04 43 AM" src="https://user-images.githubusercontent.com/856034/96918305-f849ce80-145e-11eb-956d-4e8582b9a770.png">

# Steps to reproduce

What are the steps we should take to reproduce the bug:

Run "e2e/scripts/st_chart_utc_time.py":

## Expected:
Sane ordering of units

## Saw:
Sat 10 => 12pm => Aug 11

[2020-10-22 20:10] #2126 closed, assigned to nobody

[2020-10-22 21:13] evinai commented on #283
use pipenv for virtual environment instead..

[2020-10-22 22:35] akrolsmir commented on #2090
@domoritz -- just saw your comment, and agree that horizontal zooming seems like a better fit than vertical zooming for bar charts. But the code snippet you provided doesn't seem to interact well with the ordinal scale on x-axis...

Am I invoking the altair library incorrectly somehow? (And/or: any chance of setting this default behavior in the upstream altair library, rather than hacking it in st

[2020-10-22 22:39] domoritz commented on #2090
Can you send a gif of what you are seeing?

[2020-10-22 22:46] akrolsmir commented on #2090
How about an S4A app :wink:? https://share.streamlit.io/akrolsmir/guac-bottle/barchart-zoom

![streamlit-streamlit_app-2020-10-22-12-10-66](https://user-images.githubusercontent.com/856034/96937913-11ae4300-147e-11eb-8e72-af1eacbcae28.gif)

[2020-10-22 22:51] domoritz commented on #2090
Perfect.

[code]

I would only do one: set the selection or call `.interactive`.

And yes, I think the defaults in Altair could be better.

[2020-10-22 23:21] sachit-wp opened #2257 "The option --server.fileWatcherType does not work from the command line"
# Summary

The option --server.fileWatcherType does not work from the command line but works when specified in the toml config file.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

Run streamlit as follows:
`streamlit run hello.py  --server.fileWatcherType=none --logger.level debug`
Looking at the log, you will notice a line like:
Watcher created for /path/to/hello.

[2020-10-23 01:01] akrolsmir commented on #2090
Hm, the problem I'm seeing is: For X type=ordinal with only the selection set, the graph doesn't scroll at all; with only `.interactive` set, the graph zooms vertically. I couldn't figure out how to get it to scroll horizontally with type=ordinal.

[2020-10-23 01:56] domoritz commented on #2090
It zooms horizontally in your gif. I'm missing something.

[2020-10-23 02:38] jacoblukose commented on #2126
@karriebear  @randyzwitch  thankyou! :D

[2020-10-23 05:18] MemphisMeng commented on #493
Is it possible to do the similar operations for text?

[2020-10-23 09:22] durandg12 commented on #2213
Thanks for finding this much better workaround, and for finiding the real underlying reason of the bug.

[2020-10-23 09:54] asw-v4 commented on #493
@MemphisMeng Its been a while since I last used Streamlit, however I believe you can still use st.empty as a placeholder for anything.

you could try:

[code]

this will populate the text object with the string in `some_string`
then change the text to the content of `some_other_string` when `Checkbox1` is checked

[2020-10-23 12:53] tybirk-mindway opened #2258 "Get container / column width"
### Problem

It is usually possible to specify the height of a given element in Streamlit, but it would be awesome if this height could be set as a function of the width in a 'responsive manner'. This width is in many use cases I've stumpled upon controlled by the surrounding container (e.g. if you use the keyword use_container_width=True for plots).

See also [this thread](https://discuss.streaml

[2020-10-23 15:42] hkokko commented on #1584
@randyzwitch @jrhone any chance of getting this limitation moved. i need to rewrite my streamlit apps in Django because of this. Cannot deploy to decently priced environment because they do not support sudo. Cannot take the advantage of the recently published github streamlit runtime co-operation because my code contains proprietary data.

[2020-10-23 16:55] asaini commented on #2254
@arnisudheendra : Curious to hear what is your use case for disabling the widgets?

[2020-10-23 17:24] akrolsmir commented on #2090
Ah, sorry if that wasn't clear. In the gif, the first graph does NOT have "type=ordinal" set; that is, the only way I could get horizontal scrolling to work was by removing "type=ordinal".

But this is not super desirable for the graph otherwise; you'll notice that the bars in the first chart are thin, and the number line extends in both direction (whereas a bar chart should only have the ordinal

[2020-10-23 18:54] karriebear commented on #958
We now have this functionality with [`st.beta_expander()`](https://docs.streamlit.io/en/0.68.0/api.html#streamlit.beta_expander) available as of 0.68.0

[2020-10-23 18:54] #958 closed

[2020-10-23 18:57] akrolsmir commented on #241
Layouts are now available: https://blog.streamlit.io/introducing-new-layout-options-for-streamlit/

🥳

[2020-10-23 18:57] #241 closed

[2020-10-23 20:46] #2091 closed, assigned to nobody

[2020-10-23 21:28] sachin-duhan opened #2261 "[ Feature ] - Bottom sheet component ❤"
## Problem
Feature request

### Solution

**Possible additions:**
Adding a reusable Bottom sheet component in Shared folder.

**Preferred solution:**
I would love to create and add the reusable component to the repository 🤠

[2020-10-23 21:35] domoritz commented on #2090
I see. Zooming in a categorical chart probably isn't all that useful anyway so you could probably disable interactions completely.

[2020-10-24 01:20] mechatronics-studio opened #2262 "Inject Streamlit Components Directly into html instead of iFrame"
### Problem

Streamlit components are by default placed into an iFrame. There are obvious sandboxing benefits to doing so but some providers (particularly ad providers and analytics) don't allow their javascript to execute in iFrames and want their javascript directly in the html.

https://discuss.streamlit.io/t/how-can-i-enable-google-adsense-inside-streamlit/4482

By providing a method to cleanl

[2020-10-24 01:55] mechatronics-studio commented on #2258
Unfortunately, I never resolved this during my experimenting. My choices were to either fix the height and width of a chart (which resulted in a poor experience on mobile) or deal with the funky aspect ratio changes as the width would change but the height would not.

If my (very rudimentary) understanding of web is correct, the server doesn't actually know the client's display width to calculate

[2020-10-24 04:23] domoritz opened #2263 "Make Altair selections available in Python"
### Problem

I often want to click on a chart and get what I click on in Python. I also often want to select a range in a histogram and then use the selected range in subsequent calculations in Python. Altair's selections would be perfect for this task if they were available in Python. I have heard many people ask for this feature and it would be a huge differentiator for Streamlit.

To show the v

[2020-10-24 10:55] SabinAdkh opened #2265 "when I run the code it gives an error, there is not anything wrong in the code"
[#](url
![Capture](https://user-images.githubusercontent.com/48882205/97079919-5c16f780-1617-11eb-9ffc-081622170535.PNG)
![Capture1](https://user-images.githubusercontent.com/48882205/97079941-8f598680-1617-11eb-831b-40cfdd462420.PNG)

) Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

# Steps to reproduce

What are the steps we should take to reproduce the bu

[2020-10-25 02:10] sACPDX opened #2266 "file_uploader broken after upgrading streamlit"
# Summary - Upgraded Streamlit file_uploader breaking

Type here a clear and concise description of the bug. Aim for 2-3 sentences.
I upgraded Streamlit (10/23/2020) and file_uploader broke our program.  On first run through it lets you select the file and works fine.  When it runs through a second time it seems to not know what file was uploaded before and throws errors and none of subsequent log

[2020-10-25 12:24] ZupoLlask commented on #861
Hi guys!

Please prioritize this! 👍😊

[2020-10-26 02:09] jacoblukose commented on #166
@Nestbi7  try the below :

1. Add this import: `from streamlit.script_runner import StopException`
2. Replace line : `raise st.ScriptRunner.StopException` with `raise StopException`

[2020-10-26 08:12] DhruvkBhatt commented on #2253
I want to volunteer @1stmost to solve this Issue

[2020-10-26 12:54] randyzwitch commented on #2261
Hi @sachin-duhan26, can you clarify what you mean by a "bottom sheet"?

[2020-10-26 13:02] randyzwitch commented on #2266
Possibly related #2235

[2020-10-26 15:16] VV1266 commented on #1641
st.text will work, but it looks like this
@stevessschen
`st.text('Model Report:\n    ' + classification_report(y_true, y_preds))`
<img width="975" alt="Screenshot 2020-10-26 at 8 56 54 PM" src="https://user-images.githubusercontent.com/29574874/97192646-1badaa00-17ce-11eb-80b2-94b1064b90c3.png">

[2020-10-26 15:21] Dynamith commented on #2235
When this bug has not been fixed, I found an alternative method. `bytesIO` has a method `getvalue()`, which can read all the data in the buffer without changing the reading position.

[2020-10-26 15:43] inspectorG4dget commented on #2251
I have the same problem. PyCharm doesn't show `beta_container` or `beta_columns` as a suggestion for `st.beta_`, even though `beta_color_picker` and `beta_set_page_config` are. `dir(st)` does not list `beta_columns`/`beta_container` nor `columns`/`container`

Deactivating and reactivating the virtualenv, reinstalling streamlit through `pip`, and rebooting my computer have had no effect.

Technical

[2020-10-26 16:05] treuille commented on #2235
We need to reset the buffer every time the script is rerun, right?

On Mon, Oct 26, 2020 at 8:21 AM, Dynamith < notifications@github.com > wrote:

[2020-10-26 16:29] karriebear commented on #2235
Correct!

[2020-10-26 16:32] Dynamith commented on #2235
I'm not sure how you can fix the bug. The current operation of the project is that the buffer is not reset when the script is run, causing the change of the previous reading position to affect the next reading. But if you use the `getvalue()` method, the reading position will not be changed, so that the data can be read when the script is run later without resetting the buffer. However, this can o

[2020-10-26 16:41] sachin-duhan commented on #2261
Hello sir,
Bottom sheet is a reusable React component. It usually pops up the screen from bottom similar to Modal with some backface opacity. Bottom sheet provides better responsiveness and User exeprience when used in mobile screens.

[Bottom sheet preview](https://material.angular.io/components/bottom-sheet/overview).

Let me know if you need more clarifications for the component.😁

[2020-10-26 17:10] akrolsmir commented on #2261
Thanks for this request! I think this is part of the bigger request to have Modals in Streamlit (which we don't have); filing this away under Layout and Mobile as tags

[2020-10-26 17:18] nthmost commented on #2265
Hi @SabinAdkh , sorry you're having trouble!  can you provide the CSV you were working with when you saw this error?  that would help us diagnose the bug and/or help us figure out what's going wrong for you.

Thanks!

[2020-10-26 17:24] karriebear commented on #2235
We did go back and forth on when developing the new file uploader to decide if this was something we should do. We hoped that people would reset the buffer after using the `BytesIO` but this does not seem intuitive based on the comments in the forums. In addition, the reruns we trigger is not very standard behavior when compared to running a script in a notebooks. Ideally, we'd love if users are a

[2020-10-26 17:39] nthmost commented on #2263
Hi @domoritz !  Thanks for the POC.  I think it would be really cool to be able to manipulate values in Python back from charts, maps, and so on.  It will definitely require some careful product thinking first.  Stay tuned...!

[2020-10-26 17:48] #2109 closed, assigned to nobody

[2020-10-26 18:32] tvst opened #2273 "Color picker should only rerun script once pop-up is closed"
Rationale: it's a common pattern to drag your mouse around the color picker to finally settle on the color you like. But as we do that, the script keeps rerunning, leading to a choppy / janky user experience. So let's change this behavior so the script only reruns when you close the pop-up, which is when you make the final decision on the color you want.

[2020-10-26 18:34] tvst commented on #1811
We may want to do [this](https://github.com/streamlit/streamlit/issues/2273) when we remove the "beta" prefix too.

[2020-10-26 20:33] ierezell commented on #634
Sorry for the post on an old topic.

I agree that cytoscape is more adapted for big graphs (thousand of nodes). Graphiz or networkX/matplotlib creates "static images" graphs which are not usefull for huge graph with metadata visualisation/filtering etc...

[2020-10-26 21:18] nthmost commented on #1781
Hi @SandeshNandagawe ,

This is actually the expected behavior.  Streamlit's execution model expects that users will want their selections to be preserved between runs rather than reset.

At present there isn't an explicit way to "reset" your input to default.  It's possible in the future we will add this as a capability to our widgets, but at the moment it's hard to recommend a workaround here.

[2020-10-26 21:18] #1781 closed, assigned to nobody

[2020-10-26 22:20] akrolsmir commented on #2263
Specifically: We're not sure how to make this backwards compatible, since charts today return a DeltaGenerator that allow the app creator to replace the chart with another chart; eg

[code]

Would replace the "foo" chart with "bar"; if we repurpose st.altair to return a dataframe this would be backwards-incompatible. (I'm not sure how many people use this functionality, though...)

[2020-10-26 22:49] domoritz commented on #2263
I see. Maybe you can add a deprecation notice to the chart in this version and then in the next version return a tuple of `chart, selection` from `st.altair`.

`st.*_chart` don't have this issue, right?

[2020-10-26 23:21] kcm117 commented on #268
+1 - I also have some use cases this would be helpful on.

[2020-10-26 23:55] cp149 commented on #2145
hi, I got the same issue with streamlit-0.69.2
code is
`st.sidebar.number_input(
        "input a index", value=0, min_value=0, max_value=100, step=1
    )`
always goback to 0 when click +

[2020-10-27 00:09] kmcgrady commented on #2145
Hey @cp149! Thanks for following up.

I tried running the sample code, and I do not see the issue, assuming you just need to run the code above to show the error. Can you confirm for sure you're using Version 0.69.2? Perhaps you can post a video (from YouTube) showing the version and bug?

Also, I would love to know your browser/OS as well incase this might be a result of some cross-browser proble

[2020-10-27 00:11] cp149 commented on #2145
@kmcgrady ,Thank you for quick reply. I just restart everything and now it works well.

[2020-10-27 02:01] Dynamith commented on #2235
Alright, I really haven't experienced the situation you mentioned. Cheer for you.

[2020-10-27 07:53] SabinAdkh commented on #2265
Thank you for your reply, but I have found the solution

On Mon, 26 Oct 2020 at 23:04, Naomi Most <notifications@github.com> wrote:

[2020-10-27 14:19] jacoblukose commented on #2126
@karriebear  @randyzwitch when will 0.69.3 be out ? looks like our pipeline wont support pre-release versions (streamlit-nightly).

[2020-10-27 14:29] randyzwitch commented on #2126
If I'm not mistaken, version 0.70 will come out in the next day or two via full PyPI, then populate there from now on.

[2020-10-27 14:35] jacoblukose commented on #2126
great! thanks again :)

[2020-10-27 15:12] ierezell opened #2275 "Cannot hash SwigPyObject (or any binded objects)"
# Summary

Streamlit doesn't knows how to hash SwigPyObjects. No problem, you can use `hash_funcs` parameter of the `streamlit.cache` decorator (work really good for elasticsearch index or other fancy stuff).

However, SwigPyObjects are NO python objects (they are just bindings) so there is no types in python for it.
Streamlit indicates `builtins.SwigPyObjects` in the error messages but python doe

[2020-10-27 15:29] #1811 closed, assigned to karriebear

[2020-10-27 15:29] #2273 closed, assigned to karriebear

[2020-10-27 16:49] jrhone commented on #2275
Hi @Ierezell ,

Did you try specifying the type as a string?

[code]

`"builtins.SwigPyObject"` instead of `builtins.SwigPyObject`

[2020-10-27 18:11] karriebear opened #2277 "Update Core Preview App with dropdown of E2E tests"
Add a dropdown to select available e2e scripts that can then prepopulate execbox

[2020-10-27 19:49] inspectorG4dget commented on #2251
For anyone who sees this and gets [DeverCoder](https://xkcd.com/979/)'d like I did, this feature is new in Streamlit version 0.69

[2020-10-27 20:42] nickvazztau commented on #160
I think this would do what you're looking for:

[code]

[2020-10-27 20:52] nickvazz commented on #160
I think the modification of using the placeholders `st.empty()` for the title/progress bar would accomplish what you're looking for.

### Changing

[code]

### to

[code]
and adding `st_title` and `st_progress` to the top and bottom
[code]

# full code below:
[code]

[2020-10-28 06:45] #1105 closed

[2020-10-28 13:37] aalbinati commented on #2168
This is the reason why that's happening.
https://github.com/streamlit/streamlit/issues/2213#issuecomment-712907532

[2020-10-28 14:14] stevessschen commented on #1641
Great! Thank you so much!!

[2020-10-28 17:37] Mahdi-Hosseinali opened #2280 "object string shows when using the new beta_columns for styling"
# Summary

`beta_columns` shows the object string of `st.dataframe` when pandas styling is used

# Steps to reproduce

[code]

## Expected behavior:

Just show the dataframe

## Actual behavior:

shows the object string like the following:
![image](https://user-images.githubusercontent.com/31252766/97473255-2c226980-1921-11eb-9a55-b2b6bbec51ae.png)

## Is this a regression?

no

# Debug info

- St

[2020-10-28 17:56] Mahdi-Hosseinali commented on #2280
I should mention that when I use magic with containers the object string doesn't show.

[2020-10-28 18:06] tvst opened #2281 "Streamlit crashes/reset; connection to server lost"
From: https://github.com/eliztnguyen/Activated-Insights-Streamlit

Both on my local machine, and when my script is deployed on streamlit via my github, when the very last checkbox is selected, it crashes. On the deployed app, the app refreshes. On my local machine, my terminal closes out of streamlit.

I’m not sure what’s going on. The only thing the check box does is display a selectbox that acce

[2020-10-28 18:32] ierezell commented on #2275
Hi @jrhone I should have thought about that...... Thanks a lot, it's the piece I missed !

[2020-10-28 18:32] #2275 closed, assigned to nobody

[2020-10-28 18:50] akrolsmir commented on #2281
One reason this might no longer repro on S4A is that the user has updated their app on Github in the meantime; to get a repro case (either on s4a or locally) we should find the version of the repo at the time of when the user posted the issue (October 8th)

[2020-10-28 19:39] normks opened #2284 "latin-1' codec can't encode character '\U0001f44b' in position 3: ordinal not in range(256)"
$ /sim/tmp/ffy86c/anaconda3.8/bin/streamlit run sl0.py
2020-10-28 12:24:52.917 'latin-1' codec can't encode character '\U0001f44b' in position 3: ordinal not in range(256)

$ cat sl0.py
import streamlit as st
x = st.slider('x')  # this is a widget
st.write(x, 'squared is', x * x)

$ /sim/tmp/ffy86c/anaconda3.8/bin/python --version
Python 3.8.3
$ /sim/tmp/ffy86c/anaconda3.8/bin/streamlit --version

[2020-10-28 20:59] karriebear opened #2286 "Investigate File Uploader + Execbox: uploaded files do not persist in the widget"
# Summary
When using execbox and auto update with file uploader, the files get cleared from the file uploader widget state but the data is still stored on the server and passed back to the app.

# Steps to reproduce

1. Setup an execbox and leave defaults on as is (primarily auto update).
2. Upload a file
3. Make changes to the script, not touching the file uploader
4. As you type, execbox will tr

[2020-10-28 21:34] akrolsmir commented on #2280
Hi @Mahdi-Hosseinali, thanks for the detailed repro steps! This is actually caused by the way you've called dataframes.

[code]

is equivalent to outside of the column:

[code]

Which will also show the object string. Instead, the code you're looking for is:

[code]

Much simpler!

[2020-10-28 21:34] #2280 closed, assigned to nobody

[2020-10-28 21:40] asaini commented on #2262
@theimposingdwarf Thanks for opening this issue. At the moment, we don't plan to support the functionality to inject components directly into html. Allowing components to directly mess with Streamlit's app's DOM/CSS means that - if we officially support this - we can be severely hamstrung if in future we change the Streamlit DOM in such a way that breaks a popular component that’s doing something

[2020-10-28 23:55] nthmost commented on #1790
Keeping for product user stories (future).

[2020-10-28 23:59] nthmost commented on #2084
Hey @kksurajr -- please let us know any helpful information you can give us to reproduce this bug.  As it stands this will be automatically closed in 30 days since we cannot repro this without additional information.

Thanks!

[2020-10-29 00:00] nthmost commented on #1643
Closing due to age without response.

[2020-10-29 00:00] #1643 closed, assigned to nobody

[2020-10-29 00:25] nthmost commented on #1830
Hey @saumyaborwankar -- Can you provide a little more context and explanation of what's going on?

We normally try to keep issues like this open at least 20 days waiting for response.  In another 20 days without a response we will probably close this.

Cheers

[2020-10-29 00:38] nthmost commented on #1803
We should try to repro this one since @kmcgrady 's RangeRequests improvement went in.

[2020-10-29 00:38] mechatronics-studio commented on #2262
I think that makes sense. What about an st.markdown(allow_unsafe_javascript=true) type input that would allow for the injection of code? Clearly this is not the right way to put in portable and reusable component like things but would be more intended for hooking in ads or analytics with minimal effort.

Does the markdown command run the contents within an iframe or does it write directly to the H

[2020-10-29 02:00] karriebear commented on #2213
Closing this issue as a duplicate of #2235. A fix for this should be coming in the next release. Please track #2235 for updates.

[2020-10-29 02:00] #2213 closed, assigned to nobody

[2020-10-29 02:01] karriebear commented on #2168
Closing this issue as a duplicate of #2213 and #2235. A fix for this should be coming in the next release. Please track #2235 for updates.

[2020-10-29 02:01] #2168 closed, assigned to nobody

[2020-10-29 05:22] hkokko commented on #1584
Would for example this discussion be relevant in helping to fix it within streamlit @randyzwitch  @jrhone

https://stackoverflow.com/questions/10152762/best-way-to-get-machine-id-on-linux

[2020-10-29 06:10] ikeshare192 commented on #2235
This issue is really killing me.   I get so much value out Streamlit and the latest version has brought everything to a dead stop.   I cannot find a workaround.  I had to downversion to the previous version of Streamlit to get my app to work properly and now I cannot use any of the new features.  Ultimately I need to upload a file, use a dropdown widget to select the target variable from the data

[2020-10-29 08:10] tvst opened #2288 "Use async Tornado + uvloop"
I just realized that since we support only Python 3.6+ now we can finally use `async` rather than Tornado's old-style coroutines!

So it's possible/likely we can give Streamlit a speed boost by [replacing](https://www.tornadoweb.org/en/stable/guide/coroutines.html#native-vs-decorated-coroutines) gen.coroutine with async and using a fast IOLoop library like [uvloop](https://uvloop.readthedocs.io/).

[2020-10-29 08:57] peinan opened #2289 "Add new options to `st.multiselect`"
Hello, streamlit community. Thanks for the awesome library.

I wish there is a feature of adding the choice if there is not any in the `st.multiselect`, as shown in the attached gif.
In the gif, there were choices of `tag_a` and `tag_b`, but no `tag_c` at the first moment. So I can create `tag_c` directly from the input area and get selected. This is the feature I requested.

![Oct-29-2020 17-48-5

[2020-10-29 09:14] nthmost commented on #2265
OK!  From the error you posted it looked like a CSV file issue, so I will go ahead and close this.

[2020-10-29 09:14] #2265 closed, assigned to nthmost

[2020-10-29 09:20] tvst opened #2290 "Hover effect in st.selectbox is slow when there are thousands of items (even if DOM only has 10!)"
Playing with different Streamlit Sharing apps, I found [this one](https://share.streamlit.io/timorohrer/test/test.py) where the hover effect on the drop-down is super slow. The st.selectbox has 22,367 items but we only put 10 nodes at a time in the DOM. So I don't see why this should be the case... very odd :thinking:

![image](https://user-images.githubusercontent.com/690814/97549084-31b59900-198

[2020-10-29 09:39] tvst opened #2291 "st.expander doesn't fade when app is rerunning"
All Streamlit elements fade while an app is rerunning, except for `st.beta_expander`. We should fix that.

### Steps to repro

[code]

1. Run the script above
2. Rerun the script above by pressing "R"

**Expected:** during the rerun, all on-screen elements fade while they update
**Actual:** all components fade, except for the expander, which retains 100% opacity. See screenshot below.
![image](htt

[2020-10-29 09:56] nthmost commented on #2289
Hi @peinan, Thanks for the enhancement suggestion and the really nice screen-cap to illustrate.  We'll definitely add this to our user stories for widgets.

Cheers!

[2020-10-29 10:01] nthmost commented on #1339
Closing due to age and need for more information (i.e. trying with Streamlit-supported version of Python).

Please file a new bug if a similar error occurs.  Thanks!

[2020-10-29 10:01] #1339 closed

[2020-10-29 10:58] nthmost commented on #1744
Thanks @pranavsastry -- Apologies for the delay in response.  I reproduced what you are seeing, and tried a few things to make it work like adding the loaded variables into an object

The issue is that all of the code under st.button creates a context that is not conserved when another st.button() is activated.

I'm going to refile this as a "bughancement" and run it past Product -- as of now this

[2020-10-29 11:45] #2234 closed, assigned to nobody

[2020-10-29 11:55] pranftw commented on #1744
Okay cool thanks @nthmost ! Looking forward to this getting resolved at the earliest!

[2020-10-29 12:06] nthmost commented on #1911
Closing as this issue doesn't have enough information to diagnose, no response for 60+ days, and the error probably indicates an image generation error (not an error with Streamlit).

[2020-10-29 12:06] #1911 closed, assigned to nobody

[2020-10-29 12:12] nthmost commented on #2262
Hi @theimposingdwarf --

To answer your question, the markdown command writes the contents directly to HTML.

We have in the past considered an `st.javascript()` or something along those lines.  See also  #969

Regardless, I agree we have some unsolved product questions here.

[2020-10-29 12:17] nthmost commented on #2239
Hi @garylavayou ,

Sounds like you've run into a gnarly issue with the part of Streamlit that watches changes to your script.

The best workaround I can think of is to always shut down and restart your script between script changes.  I know that breaks the Streamlit ideal, though, so I'm not thrilled with this as a suggestion.

I'll see if I can get some more eyes on this in the next couple days.

[2020-10-29 13:06] equester opened #2293 "Streamlit not working on AWS ECS Docker Deployment"
# Summary

I have deployed a simple app using aws ecs (jenkins) with docker.
The screen is stuck at connecting. Screenshot attached.
![image](https://user-images.githubusercontent.com/4397489/97576702-83edcd00-1a14-11eb-8b0d-f5f7dc512056.png)

Sometimes, it gets through and shows this error
![image](https://user-images.githubusercontent.com/4397489/97576907-bbf51000-1a14-11eb-917a-52a6b1d18e2b.png

[2020-10-29 13:10] nthmost commented on #1744
Adding here also, I rewrote the first half of the app as follows and encountered a limitation in downloading the file related to #1983

[code]

[2020-10-29 14:07] SyedAgha opened #2294 "Gensim Coherence model not working"
Hi,

I am using streamlit with Gensim. I am running a LDA model to find optimal number of topics in a document.  In the process when I try to extract the coherence score using (coherence_model_lda.get_coherence()), it prompts errors. I have pasted my running code along with the error screenshot below:

def LDAOptimization(bow_corpus, dictionary, processed_docs):
    topics_score = []
    for topic

[2020-10-29 14:38] karriebear commented on #2235
Hi @ikeshare192, sorry to hear about the headache this is causing you. The reason this error is occurring is because of an optimization we made to return the same object on rerun. Previously we were creating a new one on each run which wasn't ideal. Because we are now returning the same object, the buffer position of the object is persisting.

The solution is to reset the buffer manually like so:

[2020-10-29 16:17] karriebear commented on #2220
It looks like these issues are not specific to the expander and is reproducible without any expanders on the page

[2020-10-29 19:30] bryanhaiphanthanh opened #2296 "Terminal is hung during API processing"
# Summary
Hung terminal after running INDEX_SETTINGS=sports/index.yml API_CLASS=tldrstory.api.API uvicorn "txtai.api:app"

# Steps to reproduce
This was run on macOS.
1. Install wget via homebrew
`brew install wget`
2. Run the commands from readme.md from https://github.com/neuml/tldrstory

## Expected behavior:
As shown in https://github.com/neuml/tldrstory

## Actual behavior:
Everything from 1.