[2021-05-24 17:53] jvoros commented on #3258
Good work-around - css right into the markdown. Thank you.

[2021-05-24 18:03] copaah commented on #813
Did you find a way to do this?

[2021-05-24 19:32] vdonato opened #3311 "Raise exception if button/file_uploader values are written to from session_state"

[2021-05-24 19:33] vdonato opened #3312 "session_state + forms interactions"

[2021-05-24 19:34] vdonato opened #3313 "Add session_state e2e tests for all widgets"

[2021-05-24 22:56] vdonato opened #3314 "Add callback parameters and frontend widget state updating to all widgets"

[2021-05-25 01:18] fanweiya opened #3318 "st.image supports zoom in and zoom out"
Because my picture is so big，Can st.image support zoom in and zoom out?

[2021-05-25 08:51] lilisako commented on #3302
Can I start working on this task? I just want to make sure no other people working on the same issue!

[2021-05-25 09:16] andfanilo commented on #3302
Hello @lilisako, thanks for your enthusiasm :smile: !

Don't worry about concurrent translations, I think you are the first one expressing motivation in translating in Japanese :) and we will make sure to redirect any other initiatives to this issue (or another tool, depending on how we would like to coordinate the efforts, but you will always stay in the loop!). Do you know about other users who

[2021-05-25 09:38] vdonato opened #3319 "Decouple widget deserializers from the widget data class"

[2021-05-25 09:39] bocangr commented on #3243
Hi @kmcgrady! Thanks for the answer

This seems to be a bug occasioned by the use of the st.empty() placeholders. I am defining them in the beginning of the program and then updating them inside sub-functions.

The main idea is to be able to display different elements (text, charts) without having to define them sequentially. In this code I have implemented a State-machine fork, in which questions

[2021-05-25 09:47] lilisako commented on #3302
@andfanilo

Thanks for clarifying it out!

I haven't asked anybody but I'll make sure other people collaborate (or at least review) before I make a first PR.

Okay! I'll wait until the documentation team contacts me💬

Best regards,
Risako

[2021-05-25 09:53] vincbo commented on #3303
Hello @okld and @kmcgrady. Thanks a lot for your quick and effective feedback. Indeed the proposed solution works for me.

[2021-05-25 10:45] pratha56 opened #3320 "logistic regression"
**What could be better?**

[2021-05-25 11:01] okld commented on #1856
Here's another hacky solution which doesn't require to change streamlit files.
You can use the following function directly in your apps:

[code]

This will however add a small padding where you'll call the function.

**Caution**: for security reasons, do not let the app user change that title with a text_input or anything else.

[code]

[2021-05-25 11:15] bocangr opened #3321 "Graph not appearing in Streamlit using Multiprocess"

[2021-05-25 13:04] tkupek commented on #3221
Thanks for the answer. Sorry if I could not make this clear, but this is **not** about the ONNX issue, but about streamlit suppressing the error message (and just crashing with negative return value).

[2021-05-25 14:31] mesmith027 commented on #3302
Hey @lilisako,

@snehankekre and I currently own the docs (we are actually in the middle of transitioning to full ownership to him!). We have been working on some exciting updates to our documentation that we will be releasing in the next couple of months 😉

These new updates won't (yet) include translations BUT we are very keen to get out documentation translated into other languages! However, st

[2021-05-25 17:56] kajarenc opened #3322 "Add complex validation for user email"
Right now in `credentials.py`, we check only that the email is not empty and the `'@'` symbol exists.

So for example `'@'` string itself passes our validation as an email.

Suggestion: use more complex email validation. For example this one https://github.com/JoshData/python-email-validator (used by Pydantic) or Django EmailValidator regex

[2021-05-25 19:46] tRosenflanz commented on #956
Is this still being worked on? Any workarounds in the meantime?

NVM: There is a PR outstanding :)

[2021-05-26 00:32] lilisako commented on #3302
@mesmith027
Hi! Thanks for the updates and I also excited for the new release!
Yes! I'm interested in long term contribution. I didn't know where to send my email info so I added my contact email on my Github profile. Or you can contact me on Linkedin!
https://www.linkedin.com/in/risako-hamano-23a650153

[2021-05-26 02:13] giangdip2410 commented on #623
Do you find any solution ? I am also facing same issue with st.text_input element

[2021-05-26 03:24] kmcgrady commented on #3221
Ah. Thanks for clarifying @tkupek ! I tried the code you provided (both with and without the import), and I see that Streamlit does _not_ crash. It simply provides an exception message on the UI. Is there something else I should be trying?

![image](https://user-images.githubusercontent.com/69432/119597984-ef273400-bd96-11eb-98b1-cf6bc7979098.png)

I don't see a true reason to think this, but have

[2021-05-26 05:41] SimonBiggs opened #3334 "MediaFileManager: Missing file on Google App Engine"
Hi All :slightly_smiling_face:,

I have been going through the process of deploying a Streamlit application to https://radiotherapy.ai using Google App Engine. Once it was deployed it presented an interesting bug that I hadn't seen before. The `matplotlib` plots were intermittently not showing up within the interface and the following error message was presented within the App Engine logs:

[code]

[2021-05-26 05:50] SimonBiggs commented on #3334
I'd like to add, I'm not itching for a fix or anything, just wanted to report the bug. I'll be moving on from Google App Engine and instead take Google Cloud Kubernetes for a spin. Hopefully that'll not repeat the same issue.

[2021-05-26 14:48] mesmith027 commented on #3302
Hey @lilisako,

That's great I just connected with you over LinkedIn! We can sort some time there 😄

[2021-05-26 16:25] khanssenLP opened #3335 "DMD Unit Economics tool"
### Summary

When I load Unit Economics, I get the following error: An error has been detected and the dashboard has not run properly. Please check your inputs. An email has been sent to DMD to report that error.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we sh

[2021-05-26 17:04] jroes commented on #3335
Hi @khanssenLP!

Thanks for sharing your question! Unfortunately we can't always dig deep and troubleshoot challenges like this on GitHub. We typically use GitHub for feature requests and bug reports. And in this particular case, it looks like you might have a question about someone's application that is built using Streamlit. If that's the case, you'll need to find the app creator to get help.

F

[2021-05-26 17:04] #3335 closed, assigned to nobody

[2021-05-26 22:54] treuille opened #3336 "Printing out the type of a DataFrame causes an error.."
### Summary

Printing out the type of a DataFrame causes an error.

### Steps to reproduce

Type this code into Streamlit 0.82:

[code]

And you will get something like:
[code]

### Expected behavior:

The type should print properly, just like when you do:

[code]

### Is this a regression?

Pretty sure.

### A thought about the cause

This may be happening because the type itself has a method `_r

[2021-05-27 09:49] diwakarojha commented on #1088
@jeromemassot I tried with below code and it worked. Just replace "embed" with "iframe".

[code]

[2021-05-27 10:32] okld opened #3337 "Theme 'base' value is not forwarded to custom components"
To correctly apply Streamlit theme to widget frameworks like Material UI, knowing the theme base `light` or `dark` is needed.

Here is the current definition of custom components `theme` prop.
[code]

For anyone having this issue, a temporary solution would be to guess that base value from `backgroundColor`'s luminance.

[2021-05-27 14:35] es-brookfield commented on #956
The best answer I managed to find was plotly tables.

Personally, I taught myself how to build a svelte frontend speaking to a GraphQL API (urql frontend / backend graphene into FastAPI into Postgres) because I needed more customization/reactivity than Streamlit is meant for.

Best,
Ed

Edward
Sapp
Senior Associate |
Portfolio Management
Real Estate
Brookfield Asset Management
Brookfield Place New

[2021-05-27 14:39] shoebNTU opened #3338 "Trouble loading streamlit_cropper.st_cropper component"
Hi,

Thanks for this helpful package. I am getting the following error -

![error_streamlit_cropper](https://user-images.githubusercontent.com/27325112/119845990-529e9680-bf3c-11eb-90b4-347eac6b65af.png)

Could you please help me resolve it? Thanks.

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we shou

[2021-05-27 16:17] jeromemassot commented on #1088
Thanks a lot.
It works fine now.
Best regards
Jerome

Le jeu. 27 mai 2021 à 02:49, Diwakar Ojha ***@***.***> a
écrit :

[2021-05-27 18:59] Bojne opened #3339 "Link to P-value demo breaks in Company Website"
### Summary

A link to the p-value demo has broken on one of the demo on company website (strealit.io)

### Steps to reproduce

1. Go to comany website streamlit.io
2. Go to demo, and select `other` demo category
3. Click P-Values Demo🎈
**Expected behavior:**

You'll see the demo

**Actual behavior:**

You'll see a four-oh-four page

[2021-05-27 19:57] gjoseph92 opened #3340 "Hashing for Dask collections"
### Problem

`st.cache` doesn't know the best way to hash [Dask collections](https://docs.dask.org/en/latest/custom-collections.html#the-dask-collection-interface). In particular, being able to cache [persisted](https://distributed.dask.org/en/latest/memory.html#persisting-collections) Dask collections is useful when working with a large dataset on a cluster.

Currently, I do something like:
[code

[2021-05-28 00:20] kmcgrady commented on #3274
Hey, thanks for the additional feedback here.

After talking it over with the product team, we decided to not adjust the CSS naming. We believed that this is not a widespread issue, and the webannoyances filter has a challenge and responsibility of selecting elements correctly and cannot satisfy every website (Streamlit apps in this case). It is possible to fork the webannoyances list, remove the

[2021-05-28 00:20] #3274 closed, assigned to nobody

[2021-05-28 00:26] kmcgrady commented on #3243
Hey @bocangr ! Thanks for the detailed response.

This code is rather difficult to understand how to run. The `consumer` variable is not defined, and I don't know the `SyncClient`. My _guess_ is that we can reproduce this without all the external libraries. Is there a way to switch between generic questions and a sample graph to illustrate the same example? We have a bunch of sample scripts we can

[2021-05-28 00:49] evan-wes commented on #3236
Thank you for  your reply. It is helpful information from your end that Streamlit does not modify anything, and simply passes the graphviz string over. That at least narrows down my issue to one library. It does appear that I need to use some combination of `SERVER_NAME` and `GV_FILE_PATH` to get it working.  I have tried several ways, but unfortunately I am not well versed in graphviz.  Various g

[2021-05-28 05:09] unserh commented on #3082
Hey @vdonato sorry about taking so long to get back to you! I attempted a fix using TypeScript namespace aliasing (https://www.typescriptlang.org/docs/handbook/namespaces.html#aliases) that would cause the fewest changes across the front-end that looked something like this:
[code]
This way only the imports would change and we wouldn't need to rename all the uses of `*Proto` in all the files. But,

[2021-05-28 07:03] aEgoist commented on #1061
this is not working for me

[2021-05-28 14:15] LittleLightLittleFire opened #3342 "Streamlit websocket timeout is set too low"
### Summary

`/stream` websocket timeout is set too low (1s)

It is set to 1 second [here](https://github.com/streamlit/streamlit/blob/96f17464a13969ecdfe31043ab8e875718eb0d10/frontend/src/lib/WebsocketConnection.tsx#L54), recommend it to be updated to 10 seconds.

### Steps to reproduce

1. Use linux traffic control to simulate high latency

[code]

2. Run a basic streamlit application:

[code]

[2021-05-28 16:33] leopoldo-zugasti commented on #2555
@andfanilo @kmcgrady has there been any progress regarding this?

[2021-05-28 22:08] kush99993s commented on #3279
I describe that in this close issue:

https://github.com/streamlit/streamlit/issues/3270

[2021-05-29 05:27] treuille opened #3343 "Some labels in Altair charts are hard to see in dark mode"
### Summary

Streamlit has an awesome feature where it changes the label colors of Altair charts when you switch to dark mode. Sweet!

However, it seems that some labels were omitted and thus remain almost illegibly dark in dark mode.

### Steps to reproduce

Run this code snippet [taken from the Altair documentation](https://altair-viz.github.io/gallery/grouped_bar_chart.html):

[code]

### Expec

[2021-05-29 06:49] gchhablani commented on #1019
+1 for directory picker.

[2021-05-29 07:01] gchhablani opened #3344 "Add Nested Columns"
### Problem

I want to use nested columns in order to support more flexible layouts. Currently nesting columns insider columns is not supported and leads to the following error:

[code]
I'm not sure if this has been asked before or why is this not allowed. Can someone please elaborate if there are reasons for not allowing this?

[2021-05-29 09:56] MohittPattel opened #3345 "I'm getting the module not found error again again"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2021-05-29 09:56] MohittPattel commented on #3345
This is really unstable

[2021-05-29 09:57] MohittPattel commented on #3345
Update the version or provide the better solution

[2021-05-29 12:17] Yannik1337 commented on #3292
Hey there, the solution you have proposed solved my problems. I am looking forward to Streamlit's upcoming releases.

[2021-05-29 12:17] #3292 closed, assigned to nobody

[2021-05-30 18:09] gchhablani opened #3346 "Configuring persistent caching through the app"
### Problem
Hi,

I want to provide users with an option to have persistent caching or not, depending on whether they want it.

I tried using environment variables for this, because I'm using `st.cache` across my package.

Here's what I tried:
[code]
I'm using the clear cache option to test things. It doesn't work as expected. The caching is never persistent.

Are there any work around for this? Pl

[2021-05-31 07:39] tkupek commented on #3221
It still occurs with the latest version `0.82.0`.
I tested it in a new project with Python 3.8 and the following `requirements.txt`

[code]
[st-crash-3221.zip](https://github.com/streamlit/streamlit/files/6568609/st-crash-3221.zip)

[2021-05-31 08:36] zhubijia opened #3347 "the url "/healthz" sometimes get many "304""
### Summary

The url "/healthz" sometimes get many "304" ,the page shows "please wait..",like this:
![image](https://user-images.githubusercontent.com/45035787/120165313-05694000-c22e-11eb-9d0b-e4716f3a0be2.png)

I tried the solutions here:
https://docs.streamlit.io/en/stable/troubleshooting/not-loading.html#symptom-2-the-app-says-please-wait-forever
but not work

### Steps to reproduce
so,it conf

[2021-05-31 08:49] kodekracker commented on #3346
**st.cache** wrapped function first checks client caching config, if `client.caching` sets `False` then wrapped caching function skip caching and run directly the function.  You can use it to control your persistent feature.   [Streamlit Caching Reference](https://github.com/streamlit/streamlit/blob/develop/lib/streamlit/caching.py#L479)

 I did not found anything about the `PERSISTENT` environmen

[2021-05-31 09:29] oplatek opened #3348 "Improve naming convention for saved audio files from `st.audio`"
### Problem

**The naming convention for saving audio is not useful.**

I use streamlit to evaluate the quality of predicted audio `pred_wav` for several checkpoints of multiple models.

It would very useful to change the filename once I click download audio.
Right now it saves the audio as `f284651abaf92dfe7fb1245d72195279ab96f65451522833cbc82a69.wav` which creates chaos if I save more than three

[2021-05-31 09:39] gchhablani commented on #3346
Hi @kodekracker

Thanks for your response.

Sorry, I put the wrong code on here, the original thing I was using is this:

[code]
Basically, user changes the env variable by clicking on it (this works, btw). And `@st.cache` uses the env variable to set persist or not (this doesn't work).

Based on what I understand, if I use your workaround, the caching will be switched off. In my use case, I want

[2021-05-31 10:03] kodekracker commented on #3346
Hi @gchhablani
`persist` only controls disk cache. Mem cache always hits first before trying disk cache. So, we have to clear mem cache also when user wants persistence off.

[code]

[2021-05-31 10:10] gchhablani commented on #3346
@kodekracker

That makes sense to me.  I didn't know that, thanks.

But even then, when I set it to persist using the checkbox and run it, it doesn't persist. Infact, the cache is not working even in the same session.

Do you know if there is a fix for this?

[2021-05-31 12:58] kodekracker commented on #3346
You are confused because of using `st.textarea()` inside cached function. If `persist=True`, then `test_cache` function code block only called first time when cache miss. That's why you are seeing `st.textarea()` text first time. But after futher calls to `test_cache` will not call that function and it returns cached value.

[code]

Same type of example is given in docs. [Doc Reference](https://do

[2021-05-31 13:45] gchhablani commented on #3346
Hi @kodekracker
I'm actually seeing the text area every time :P
That's why I think it's an issue.

[2021-05-31 13:57] gchhablani commented on #3346
Nvm @kodekracker
It worked this time, not sure why it didn't the first time.

Thanks a lot for all your help :)

[2021-05-31 13:57] #3346 closed, assigned to nobody

[2021-05-31 14:01] gchhablani commented on #3346
Just for folks who come here looking for the same thing, the actual thing reason why I thought that it didn't work is that the memory cache is not directly transferred to the disk cache when `Persistent` checkbox is checked. Instead of using the memory cache (if it exists, ofc), the method is run again when the persistent checkbox is checked, which then shows the text area.

This made me feel like

[2021-05-31 14:38] #3322 closed, assigned to nobody

[2021-05-31 19:38] Ayobami-Michael opened #3350 "Streamlit web-page not showing my project after running on command"
### Summary

hi there, my browser keeps showing me a blank page each time i try to run my project.
i keep refreshing but still getting the same result.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '

[2021-06-01 10:15] richifuentes opened #3351 "Altair bar chart is shown blank"
Hi,
I have created a small streamlit app that should plot a bar altair chart, see code below:

[code]
Debug Info:
Python 3.9.5
Streamlit v0.82.0
running on windows server 2012 r2

This is what I see on the browser, notice that there are not errors in the console, some warnings referring to chunk library.
![2021-06-01_121310](https://user-images.githubusercontent.com/9931749/120306993-c4773700-c2d2

[2021-06-01 10:41] usuixingyili opened #3352 "Setting runOnSave = true does not works."
The introduction of runOnSave is that automatically rerun script when the file is modified on disk. Does it mean whenever i change file content on local machine, streamlit app will change? Or app will change just along with the codes change?
After setting runOnSave = true through global configuration method, I change excel content on local machine, but streamlit app does not change.
![屏幕截图 2021-06

[2021-06-01 14:46] kajarenc commented on #474
@tvst Yes, the `.streamlit` folder created even when running in headless mode, because of the call at `_get_stable_random_id` in `metrics_util.py`.

The logic here is to try to read a `stable_id`, and in case of a missing file generate and write stable_id to the file.

[2021-06-01 15:30] hmz-23 opened #3353 "Streamlit not showing anything"
### Summary
I was making a ML project in VS Code with Sreamlit. Whenever I am trying to run it from the terminal it is appearing a blank white screen on my localhost.

### Steps to reproduce

Code snippet:

import streamlit as st
import numpy as np

import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.model_selection import train_test_split

from sklearn.decomposition import P

[2021-06-01 16:51] vdonato opened #3354 "Verify that issues in Notion backlog have been fixed"

[2021-06-01 16:52] thetoby9944 opened #3355 "Orphaned, grayed-out UI components clutter the Screen"
### Summary

Streamlit components e.g. slider, checkboxes, and buttons will persist on-screen as grayed-out elements which will only go away after a full page refresh.

### Steps to reproduce

This is the tricky part. I am almost certain it has to do something with threading. I cannot accurately reproduce the bug every time, although I was able to reproduce it with this minimal code snippet.

It m

[2021-06-01 16:54] randyzwitch commented on #3353
Duplicate to https://discuss.streamlit.io/t/streamlit-file-not-showing-anything/13540

[2021-06-01 16:54] #3353 closed, assigned to nobody

[2021-06-01 16:57] randyzwitch commented on #3352
Hi @usuixingyili -

`runOnSave` monitors the Streamlit Python code for changes. Changes to an Excel file outside of the Streamlit app is not monitored, unless that file also happens to be on the PYTHONPATH.

Best,
Randy

[2021-06-01 16:57] #3352 closed, assigned to nobody

[2021-06-01 17:02] randyzwitch commented on #3350
Hi @Ayobami-Michael -

These types of issues are better handled on our community forum, as it doesn't appear to be an issue with the Streamlit codebase:

https://discuss.streamlit.io

Best,
Randy

[2021-06-01 17:02] #3350 closed, assigned to nobody

[2021-06-01 17:05] randyzwitch commented on #3345
Hi @MohittPattel -

You haven't provided any information about your problem, nor what you have tried. Can you be more specific about the code you are running, where you are running it, and the actual error message?

Best,
Randy

[2021-06-01 17:07] randyzwitch commented on #3338
Hi @shoebNTU -

This package is not maintained by Streamlit, please contact the package author:

https://github.com/turner-anderson/streamlit-cropper

Best,
Randy

[2021-06-01 17:07] #3338 closed, assigned to nobody

[2021-06-01 17:10] randyzwitch commented on #3320
Closing, as its not clear what this is attempting to report. In general, logistic regression would be handled by a package other than Streamlit, such as statsmodels/scikit-learn or the like.

Best,
Randy

[2021-06-01 17:10] #3320 closed, assigned to nobody

[2021-06-01 17:24] MohittPattel commented on #3345
st.title('Spam Classifier')st.image('img.jpg')user_input=st.text_input('Enter your Message : ')submit=st.button('Predict')if submit:    answer=predict([user_input])    st.text(answer)

st.image('img.jpg')

In that, I'm using the image in the streamlit app which is present in the same folder. But it shows that there's no file or directory in the location. ?

Please help me out. Sir

[2021-06-01 19:01] tvst opened #3356 "Pass creatorId in Segment's identify() call, when available"
### Today

When telemetry is turned `on`, Streamlit calls Segment's [identify()](https://github.com/streamlit/streamlit/blob/80b8d71378812471ce97d986ac50201ddfa10cbd/frontend/src/lib/MetricsManager.ts#L216) method with the ID set to `SessionInfo.current.installationId`.

In effect, this is what we have today:
[code]

### Desired logic

The Data Science team would like to update this logic so when

[2021-06-01 19:18] randyzwitch commented on #3339
Thanks for reporting. Apparently this app was deleted from the sharing platform, so we'll remove it from the gallery.

[2021-06-01 19:18] #3339 closed, assigned to nobody

[2021-06-02 21:14] treuille commented on #3275
I mean that is simply stops scrolling vertically. What app were you trying it on? The applicant portal?

On Sun, May 23, 2021 at 12:23 PM, Ken McGrady < ***@***.*** > wrote:

[2021-06-02 21:50] tvst opened #3362 "st.map should become dark when app is in dark mode"
Right now all our Vega-Lite based charts (st.altair_chart, st.line_chart, etc.) follow the user theme. For st.map and PyDeck it's not as easy to make them follow the exact theme, but we could at least make them use [the dark map](https://deckgl.readthedocs.io/en/latest/gallery/grid_layer.html) style when the app is show in Streamlit's dark theme with no overrides.

This line currently fixes the ma

[2021-06-03 01:23] vdonato opened #3363 "Have writes to st.session_state write through to the WidgetManager"

[2021-06-03 08:42] gchhablani commented on #863
+1 for this feature.

[2021-06-03 09:15] shubham-1101 commented on #623
I dont want st.text_input to run automatically without taking user's input, currently it is running automatically after taking default input.
How to stop it taking default input?

[2021-06-03 14:08] LeonDpl commented on #2014
Hi @kmcgrady using both streamlit version 0.80 or 0.81.1

[2021-06-03 14:30] jamescorby1 opened #3364 "Getting a blank screen when running streamlit app"
Ive been running my streamlit app all morning and it was working fine, now I'm getting a blank white screen when trying to run my app. Please help I need this to work for an assignment. My code is below - I'm sure there's no mistakes in it.

Using:
Python 3.9
streamlit 0.82.0

Code:
[code]

[2021-06-03 17:17] samhaar commented on #2689
FYI I was able to get the color picker to work on the share platform with pinned version 0.73.0 and below

[2021-06-03 18:56] randyzwitch commented on #3364
Hi @jamescorby1 -

Since this is an issue with your code, not Streamlit the codebase specifically, please ask this on our community forum:

https://discuss.streamlit.io

Best,
Randy

[2021-06-03 18:56] #3364 closed, assigned to nobody

[2021-06-03 21:23] vdonato commented on #3082
Hey @unserh!

I think that you should be able to use object destructuring to be able to keep the `*Proto` suffixes and avoid making changes to all frontend proto usage. Since the `streamlit` object exported from `src/autogen/proto` is a normal object (as far as I know), writing something like

[code]

should work.

The one downside to this is that the renames will have to happen after imports due

[2021-06-04 06:18] TeddyHuang-00 opened #3367 "Record screen cast doesn't work on Edge"
### Summary

On Edge version 91.0.864.41, the "Record a screencast" feature won't work and returned an error message "Due to limitations with some browsers, this feature is only supported on recent desktop versions of Chrome, Firefox, and Edge.". BUT I'M ON DESKTOP EDGE!!!

### Debug info

- Streamlit version: 0.82.0
- Python version: 3.7.3
- Using Conda? PipEnv? PyEnv? Pex? None of the above
- OS

[2021-06-04 10:56] snehankekre opened #3368 "Setting `default` on multiselect widget that uses pandas.Series as `options` causes an error"
### Summary

[`st.multiselect`](https://docs.streamlit.io/en/stable/api.html?highlight=options#streamlit.multiselect) is supposed to accept `pandas.Series` objects as labels for the select options. Setting a `default` value while using `options=pandas.Series` leads to:

### Steps to reproduce
Run the below code snippet.

Code snippet:

[code]

### Is this a regression?

Possibly a core regression.

[2021-06-04 12:32] sahil-raj3 opened #3369 "File uploader widget Can`t Upload file from other folders except the folder where code resides."
Streamlit file uploader widget at my end only picks the files from the folder where code is placed but when i am trying to choose data file from another  folder it gives error.

Same issue happens when i deployed my app on aws instance.
![image](https://user-images.githubusercontent.com/79826790/120801473-d4a34680-c55e-11eb-8f47-2be8c228d71e.png)

If solution already exists then please mention me

[2021-06-04 13:16] warrenferns opened #3370 "PyArrow does not support Python 3.9"
### Summary
[PyArrow](https://pypi.org/project/pyarrow/3.0.0/#files) is now supported by Python 3.9. We must remove this APIException.
Instead we must put up dependency requirement message

![image](https://user-images.githubusercontent.com/75610517/120806632-b6d8e000-c564-11eb-83c5-e16899c9b56d.png)

[2021-06-04 15:54] randyzwitch commented on #3369
Hi @sahil-raj3 -

This almost certainly isn't an issue with Streamlit specifically, but the code you have written. Please create a thread on our community forum, with the Python code you are running.

https://discuss.streamlit.io

Best,
Randy

[2021-06-04 15:54] #3369 closed, assigned to nobody

[2021-06-04 18:17] jrieke opened #3373 "Make st.image accept an emoji"
### Problem

I like to put a big emoji at the top of my apps (similar to page icons in Notion, see example [here](http://gh2020.jrieke.com/)). It's a bit annoying to put these in because either I use something like `st.title(":balloon:")` (but then the emoji is still pretty small) or I put in an image of the emoji via `st.image` (but then I first need to find a high-res image of the emoji.)

### S

[2021-06-05 21:39] treuille opened #3377 "Visual bug: Selected radio button backgrounds have too much right padding"
# Summary

The grayish background oval indicating a selected `st.radio` label has too much padding on the right hand side by a few pixels. Here's an example:

![image](https://user-images.githubusercontent.com/1673013/120906051-27d2d300-c60b-11eb-82b4-26c6bb75a7ff.png)

(Notice how the background rounded rectangle extends further to the right past "Notion" than it does to the left of the selection

[2021-06-06 00:36] unserh commented on #3082
I initially tried straight-forward object destructuring, but I ran into a errors and wasn't sure if I should press on and make those changes across all the files or not. Here are a few examples of the different errors I was getting, with the files if it helps to investigate on your end:

- In `streamlit/frontend/src/components/elements/Alert/Alert.tsx`, an error is "Cannot find namespace 'AlertPro

[2021-06-06 11:57] itsabhishekhere commented on #1740
Sometime with Brave and Chrome browser it fails but works fine for me over Mozilla.

[2021-06-06 15:37] AAnzel opened #3378 "Change sidebar state after initial set-up"
### Problem

Sidebar state cannot be changed after setting it up initially with the `streamlit.set_page_config(page_title=None, page_icon=None, layout='centered', initial_sidebar_state='auto')`. I would like to be able to change sidebar state depending on the user input.

### Solution

**MVP:** A new config param would be useful to define the sidebar state when needed.

**Possible additions:** A n

[2021-06-07 11:28] StefanBrand opened #3379 "Toggle/Switch: Slider with two values"
Ported from https://discuss.streamlit.io/t/toggle-switch-slider-with-two-values/13086?u=stefanbrand
___

Using CSS and deleting/reordering some HTML in my browser's developer tools, I hacked this from a `select_slider`:
---

![image](https://user-images.githubusercontent.com/8948865/224260116-9735e790-2aeb-490d-8ab1-6095b6d24b8c.png)

```python st.select_slider("Displayed values:", ["Normalized",

[2021-06-07 13:45] someshfengde opened #3380 "insted of the file object and using the Image to read the image use matplotlib.pyplot.imread() or tf.io for reading file"
there is the feature request I need something by which I can read the file after reading through st.upload_file()
it should return the image object for the image object instead of the binary file format

[2021-06-07 14:53] jroes commented on #3379
Thank you for sharing your slider ideas! Our mission is to make Streamlit the best way to build data apps, and your thoughts help us focus our roadmap where people feel the most pain. We're going to get this in front of our product team to see how we can best integrate this with our future plans.

We can't integrate every feature into the mainline codebase, but alternatively there are lots of inte

[2021-06-07 17:28] kantuni opened #3381 "Quiver adjustments"

[2021-06-07 19:17] kantuni opened #3382 "Apache Arrow article"

[2021-06-07 22:47] jonathan-eckel commented on #1176
I encountered this problem recently.  I can update the documentation if no one else is working on it.

[2021-06-07 22:48] vdonato commented on #3082
Hey @unserh, I'm unfortunately also a bit stumped on whether there's a good way of doing this that doesn't involve having to make sweeping changes across the frontend. Looking at some of the code snippets you posted above, it seemed to me like the `streamlit` object exported from `autogen/proto` was a plain javascript object, but I'm guessing the typescript declarations do something a bit fancier

[2021-06-08 02:20] quantoid commented on #2987
Is there an enhancement issue for the future session state solution?

I see lots of discussion, and people have provided gists but they will probably keep breaking if not officially part of the package.

[2021-06-08 07:11] Henriklimseth commented on #678
@kmcgrady any update on a possible release date for this? It would really help me out in my current project 🙏

[2021-06-08 07:38] maciejba commented on #678
+1 :)

Without this it's pretty limited what streamlit can do and/or it's easy to introduce annoying bugs.

[2021-06-08 08:37] mathisc opened #3383 "File watching is broken depending on dashboard location?"
Hi,
I have a project organized as follows :
[code]

I am launching my app with the following command :
`streamlit run tools/my_dashboard.py`
And it looks like the file watching mechanism is broken in that case (i.e when making a change in `my_module1.py` I have to restart streamlit for this change to be taken into account.

Please note that the file watching mechanism is working just fine if I am

[2021-06-08 09:05] Venky0892 commented on #2571
I'm facing the same issue when i try running hyperparameter tunning. I'm not sure whether this is occurring becoz of streamlit or tensorflow. But if i run the same code in colab i dont get any error.  Any suggestions would be greatly appreciated :)
Thanks

[2021-06-08 10:31] psyduck1203 commented on #3362
Hey @tvst, I have used streamlit a couple of times now and I want to contribute something to streamlit. I have understood this issue clearly and want to work on this. Can you please assign me this issue and help me how to get started with it?

[2021-06-08 11:29] dbalabka commented on #3263
@vdonato I've found another problem. If press `Clear cache` in streamlit menu, the entire `~/.streamlit/cache` directory will be removed, which breaks mount of `s3fs`

[2021-06-08 13:07] cjw296 opened #3385 "datetimes that are close together on silder used for ranges are illegible."
### Steps to reproduce

Here's an example:

[code]

**Expected behavior:**

Legible dates and handles on the slider.

**Actual behavior:**

![image](https://user-images.githubusercontent.com/632049/121186310-dcb0fe00-c85e-11eb-8b88-f201d69d51f3.png)

### Is this a regression?

 no

### Debug info

- Streamlit version: Streamlit, version 0.81.1
- Python version: Python 3.9.4
- Using Conda? yes
- OS

[2021-06-08 13:18] cjw296 opened #3386 ""ValueError: variable encoding field is specified without a type" with pivoted dataframes"
### Summary

When rendering a pivoted dataframe with `st.line_chart`, you get an unhelpful:
ValueError: variable encoding field is specified without a type; the type cannot be inferred because it does not match any column in the data.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

A nice category-based line chart.

**Actual behavior:**

[code]

### Debug info

- Streamlit

[2021-06-08 13:33] randyzwitch commented on #3386
This is less of a bug than how Altair works. In their documentation, they discuss wide vs. long data:

https://altair-viz.github.io/user_guide/data.html?highlight=wide#long-form-vs-wide-form-data

In your example, what is the data supposed to represent? In your example, it looks like `b` is a category and `c` are the values?

![image](https://user-images.githubusercontent.com/2762787/121194166-7f0

[2021-06-08 13:41] cjw296 commented on #3386
Correct!

[2021-06-08 13:49] randyzwitch commented on #3386
This is the case that the altair documentation is talking about...here, you're pivoting from long data to wide data, which is the opposite of what they expect (`st.line_chart` is a convenience wrapper around st.altair_chart`). I'm guessing that Altair doesn't know what to do with that.

[2021-06-08 13:55] RossVerploegh commented on #2378
I have the same issue in:

- Streamlit version 0.82.0
- Python version 3.7.10
- Chrome version 91.0.4472.77

[2021-06-08 14:00] cjw296 commented on #3386
Yeah, the error message is really obtuse, though...

FWIW, here's the incantation to get the chart I was expecting, and without doing the pivot:

[code]

I guess there's not much for streamlit to do here, so closing.

[2021-06-08 14:00] #3386 closed, assigned to nobody

[2021-06-08 14:33] DaedlyKitten opened #3387 "Bug with st.form"
Hi I encountered a bug where the form submission is inconsistent

### Steps to reproduce

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/streamlit_badge_black_white.svg)](https://issues.streamlitapp.com/?issue=gh-3387)

[code]

Try to enter a new value to the form and press ‘Execute’,
You can see that the new value you inputted is only submitted to the var ‘newVar’ once in every 2

[2021-06-08 14:50] Polokghosh53 opened #3388 "The attributes gets displayed at Output"
### Summary

The attributes of a dataset are mentioned in my project for output prediction of a price of Diamond.
But the attributes of a dataset are also coming up at the output of the program which I am not able to figure how.

### Steps to reproduce

Code snippet:

[code]

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to 'terminal console of that particular

[2021-06-08 15:00] cjw296 opened #3389 "auto-reload uses default value after auto-restart rather than currently selected value from selectbox"
### Summary

When using the auto-reload functionality while developing a script, I've noticed that after
the restart, on the python side, the selectbox value is the default one rather than the one selected.

### Steps to reproduce

1. Start with this script:

[code]

2. Select 'b' from the dropdown

3. Change the script to be as follows, triggering an auto reload:

[code]

**Expected behavior:**

[2021-06-08 17:23] cjw296 opened #3392 "InternalHashError: unhashable type: 'bytearray' when using clickhouse_driver and caching"
### Summary

There's something that happens with clickhouse_driver's Client objects when used with streamlit's caching that results in this exception. I wanted to kick this issue off, even though I'm struggling to boil this down to a simple reproducer, in the hope it might right some bells...

### Steps to reproduce

Code snippet:

[code]

The idea here is query1 is actually not in the same module

[2021-06-08 17:46] cjw296 commented on #3392
So, to recap, it looks like I can get things to work by decorating *everything* with `@st.cache(hash_funcs={Client: lambda _: None})`:

[code]
...but that really doesn't feel right.

If I *only* decorate `client_`, then I get the `bytearray` exceptions again:

[code]

If I follow [the docs](https://docs.streamlit.io/en/stable/caching.html#example-1-pass-a-database-connection-around) and just decor

[2021-06-08 18:04] randyzwitch commented on #3383
I think this is resolved by #3391

[2021-06-08 19:23] arighosh1 commented on #3057
import streamlit as st
import neatbio.sequtils as utils
from Bio.Seq import Seq
from Bio import SeqIO
from collections import Counter
import io

# data pkgs
import matplotlib.pyplot as plt
import matplotlib
matplotlib.use("Agg")
import numpy as np
st.set_option('deprecation.showfileUploaderEncoding', False)

def main():

    st.title('Simple Bioinformatics App')
    menu = ["DNA Sequence","Dot Plo

[2021-06-08 20:41] #3220 closed, assigned to tconkling

[2021-06-09 05:00] kmcgrady commented on #3057
Hi there @arighosh1 , thanks for sharing your question! Unfortunately we can't always dig deep and troubleshoot challenges like this on GitHub. We typically use GitHub for feature requests and bug reports.

For troubleshooting help, you can visit our awesome [community forums](https://discuss.streamlit.io/), where thousands of other Streamlit hackers help each other and talk about the amazing thin

[2021-06-09 05:04] kmcgrady commented on #678
I hear you both @maciejba and @Henriklimseth . We are working super hard to get this right and we are testing with TONS of use cases that highlight interesting bugs or confusing behavior. I appreciate your patience here. I marked this issue to be contacted when the release is out!

[2021-06-09 05:10] kmcgrady commented on #1740
Hmmm @itsabhishekhere and @theCuriousHAT , any chance you can upload a video of it not working? Curious if there are errors displayed in the [JavaScript Console](https://developer.chrome.com/docs/devtools/console/javascript/).

You can also try [Pausing on caught exceptions](https://developer.chrome.com/docs/devtools/javascript/breakpoints/#exceptions) and see if an error pops up when attempting t

[2021-06-09 05:18] kmcgrady commented on #3275
Ah. I'm able to see what happens. Looks like a general unresponsiveness. Not sure exactly why, but I will label as confirmed repro.

[2021-06-09 05:26] kmcgrady commented on #2555
Hey @leopoldo-zugasti Thanks for checking in. The session state implementation is in the works and hope to have something to show with soon. An update to custom components currently does not have a timeline.

[2021-06-09 05:35] kmcgrady commented on #3236
Thanks @evan-wes for following up. I will close this issue as this is not an issue with Streamlit, but an issue with the library itself. Good luck!

[2021-06-09 05:35] #3236 closed, assigned to nobody

[2021-06-09 06:22] kmcgrady commented on #3221
Hmmmm @tkupek Still seeing the error in Streamlit in the browser. See attached screenshot.

![83D528A1-62E5-41A8-BD0C-8C6C76DE4F28](https://user-images.githubusercontent.com/69432/121303777-53c2b280-c8b0-11eb-9b0c-74cc9f60caab.png)

[2021-06-09 06:24] tkupek commented on #3221
Sorry, this error is related to the missing model file.
Please download the following ONNX file in order to run the code: [mobilenetv2-7.onnx](https://github.com/onnx/models/blob/master/vision/classification/mobilenet/model/mobilenetv2-7.onnx)

[2021-06-09 07:37] mathisc commented on #3383
@randyzwitch : thanks for the hint. I'll give it a try once it's merged and release ;)

[2021-06-09 10:57] samsammurphy opened #3395 "pydeck example from docs is not interactive"
### Summary

The pydeck example in [the docs](https://docs.streamlit.io/en/stable/api.html#streamlit.pydeck_chart) does not work. It displays a static, non-interactive map.

### Steps to reproduce

1. save the code snippet (below) to app.py
2. streamlit run app.py
3. see browser

[code]

**Expected behavior:**

An interactive map as in this [standalone streamlit app](https://static.streamlit.io/0.

[2021-06-09 12:43] randyzwitch commented on #3383
It's not a bug fix per se, it's just documenting that the behavior is a known one. The library we use to monitor file changes looks in the same folder as the Python script, and anywhere else on the PYTHONPATH. So when you have a situation like this, adding the directory you want to watch to the PYTHONPATH is the solution (as shown in the PR)

[2021-06-09 14:37] cjw296 commented on #2263
I'll tack another "me too" on this: exactly the same use case as above: when selecting an entry in the legend of an altair line chart, I want to display a filtered dataframe below the line chart based on the line I've selected.

[2021-06-09 15:21] mathisc commented on #3383
@randyzwitch : I confirm it works fine by setting the `PYTHONPATH` variable.

However I'd like to add some comments (or feature requests suggestions? :p ):
* The package (folder) I'd like streamlit to watch is already set up as editable in my environment (i.e `python setup.py develop`) Maybe Streamlit could automatically watch all packages that are in the editable mode inside the current environme

[2021-06-09 16:07] randyzwitch commented on #1176
Closed by #3391

[2021-06-09 16:07] #1176 closed

[2021-06-09 16:34] kmcgrady commented on #3221
Thanks for helping me repro @tkupek I really appreciate it.

I ran the code. I see the same crash for `python main.py` and the same exception displayed on the screen when running `streamlit run main.py` (similar to the last screenshot).

I wasn't sure if I was supposed to _use_ the mobilenet file, so I modified `main.py` to use ` onnxruntime.InferenceSession('mobilenetv2-7.onnx')` and it shows the

[2021-06-09 17:25] treuille commented on #3275
Awesome. Thanks Ken. In general, I think we need to add Mobile Safari support to Streamlit.

On Tue, Jun 08, 2021 at 10:19 PM, Ken McGrady < ***@***.*** > wrote:

[2021-06-09 19:38] dbalabka commented on #453
The workaround does not work if DataFrame contains `CategoryIndex`:
[code]

[2021-06-09 19:54] dbalabka commented on #453
@jrhone Following PR #3397 should fix the problem with category type support until arrow support will be implemented. IMO it is better to keep a workaround inside Streamlit to avoid copying it into developers' projects.

[2021-06-09 21:42] kmcgrady commented on #2014
Awesome! I was able to reproduce the issue @LeonDpl ! This is due to the way we make Bokeh work in our frontend implementation.

Essentially, we [generate an id for the chart based on an index](https://github.com/streamlit/streamlit/blob/develop/frontend/src/components/elements/BokehChart/BokehChart.tsx). The index is (more or less) the position _vertically_ in the report. We, then, use Bokeh to r

[2021-06-09 22:33] asaini opened #3398 "st.secrets is not hashable"
### Summary

Using `st.secrets` inside `st.cache` gives an `UnhashableTypeError`

(This issue was reported by @treuille)

### Steps to reproduce

Code snippet:

[code]

this gives an error like the following

[code]

- Basically, `st.cache` and `st.secrets` are incompatible!!
    - The problem is that `st.cache` doesn't properly handle the type of `st.secrets`!
    - Because `st.secrets` is a sing

[2021-06-10 02:15] okld commented on #3370
Related issue: #2668

[2021-06-10 07:36] SherchanKo opened #3400 "Scheduling for Duplicate Checker not working"
### Summary

Hi Guys,
a few weeks ago, we implemented the duplicate checker for a customer. However, the customer requested to have a schedule implemented for that ML script. Thus, we tried to use the scheduling functionality that is implemented into the script. However, after the schedule should have been run for the first time, it just crashed with the following message:

### Steps to reproduce

[2021-06-10 07:39] SherchanKo commented on #3400
Sorry for the inconveniences, I just saw that I got forwarded to the GitHub Streamlit instead of the creators of the implementation, that used Streamlit for their workbook (Celonis).
So I guess you can ignore it, since its not directly related to the Streamlit implementation.

[2021-06-10 07:39] #3400 closed, assigned to nobody

[2021-06-10 08:24] cedias commented on #1012
Hello,

Any news on this front ?
I've been trying to use a simple Kafka consumer within a streamlit script and it doesn't handle well the subprocesses created at all. I'm actively looking for a workaround.

[2021-06-10 14:14] cceyda opened #3401 "file_uploader limit number of uploaded files"
with `st.file_uploader(accept_multiple_files=True)`
I can limit the **size** of files but not **number of files**.

### Problem
Some people spam upload which crashes app. (Because the file upload size limit is per file)

### Solution
st.file_uploader(accept_multiple_files=True, max_number_files=50)

### Additional context
Would be nice to also support a hard limit in config.
[code]

---

Community

[2021-06-10 14:17] kajarenc commented on #3199
In my opinion, it would be a good idea to make `label` a required argument for an expander.
Like `label` for  `slider` or other widgets

[2021-06-10 14:21] tdincer opened #3402 "Datetime slider showing incorrect values on the browser"
### Summary

When I run my streamlit app at my localhost and the cloud, I see different st.slider time range values. To be precise the range values printed on the browser seem to be shifted. I suspect this shift is due to some time zone change.

### Code snippet:

[code]

The code above shows a time period of 00:00 - 23:45 at my localhost, and 19:00 - 18:45 on the cloud with the same time length.

[2021-06-10 18:52] vdonato opened #3404 "Keyless widgets incorrectly appear in st.session_state"
We'll need to do a bit more bookkeeping here to prevent this from happening since old values corresponding to a keyless widget will currently appear in the `st.session_state` object after state is compacted.

We need to keep track of the most recent source of values in old_state so that those that come from keyless widgets can be filtered out of the `st.session_state` object. Alternatively, we can

[2021-06-10 18:53] vdonato opened #3405 "Calling st.write(st.session_state) should format the output as JSON"

[2021-06-10 18:57] ravinpoudel opened #3407 "How upload multiple txt files and concatenate them into one, and pass down for subsequent step."
How upload multiple txt files and concatenate them into one, and pass down for subsequent steps. Is it possible to write the concatenated file in the tmp directory such that it get removed after being used by the web app.

Previously, I have used following script- which works file while reading a single file.

[code]

[2021-06-10 19:01] vdonato opened #3408 "Clearing st.session_state via clear cache button and rerunning an app causes scripts to explode"
I haven't quite diagnosed why this is happening, but it seems to consistently be the state compaction step of running callbacks that explodes, which is probably something we don't want to happen every time session state is cleared.

[2021-06-10 21:44] Katy-Wei commented on #2275
Thank you @s4chin , this now seems to be working for me!

[2021-06-10 22:26] afblaze94 opened #3410 "StreamlitAPIException : set_page_config() can only be called once per app, and must be called as the first Streamlit command in your script."
I am facing this issue when trying to set page config in a multi-page app. However, I have an idea of setting the default layout to wide which will solve my issue but how to do so?

[2021-06-11 02:39] maarten-betman commented on #3410
I was facing a similar issue,
Below solved the issue is my case:

in your `main.py` file, add the page config to the state object.

[code]
for state object see [this](https://gist.github.com/tvst/036da038ab3e999a64497f42de966a92) gist

[2021-06-11 11:50] tkupek commented on #3221
Thank you for your commitment to help with this issue.
It's not urgent at all. I really enjoy streamlit and would like to make it more stable 🙂

I hope the following two screenshots help to understand the bug better.

The first one happens without the `import onnx` import (line 3), correct behavior.
![image](https://user-images.githubusercontent.com/4039384/121681901-a7551c00-cabb-11eb-8595-d24720

[2021-06-11 14:07] gireeshkbogu opened #3411 "ggplot2"
Is there a way I can use [ggplot2](https://ggplot2.tidyverse.org/index.html) and it's [extensions](https://exts.ggplot2.tidyverse.org/gallery/)?

[2021-06-11 15:56] samsammurphy opened #3412 "widget for circular values"
### Problem

Some numbers are circular, e.g. the bearing on a compass

I would like users to pick a value that belongs in a circle. I know I can use existing widgets (e.g. st.slider) for this but that makes the number look linear. Hoping for a visual clue that it is a circular number (e.g. 0 == 360)

### Solution

**MVP:** What's the smallest possible solution that would get 80% of the problem out

[2021-06-11 16:03] samsammurphy commented on #3412
A little bit more context, this is what my app currently looks like..

![Screenshot 2021-06-11 165935](https://user-images.githubusercontent.com/16657983/121715209-8221d700-cad6-11eb-9404-49363069e521.png)

The app creates a bunch of lines then filters them based on their length and orientation (i.e. azimuth). The line filter and the azimuth filter look the same but behave quite differently.

[2021-06-12 13:36] AAnzel commented on #2751
I also have this problem.

[2021-06-12 22:21] nateGeorge commented on #241
I see the functions all have 'beta' in their names. Does this mean the function names are going to change soon and break backward compatibility? Sounds like a beta test or something.

Update: In fact, it seems some of the functions have already had 'beta' removed, such as `st.beta_set_page_config(layout="wide")` is now `st.set_page_config(layout="wide")`.

[2021-06-13 07:37] vgthengane commented on #524
How you use this In the case of multiple widgets? I am getting a `DuplicateWidgetID` error.

[2021-06-14 09:03] martimors commented on #2312
Having this issue as well. End-users of our application are on satellite internet connections onboard ships, and as soon as they access the app once with a too-slow connection, the app is not useable until the cache is cleared completely. Even retrying from a stable land-based connection after getting the error does not work. Absolutely loving streamlit but this issue is a show stopper for us unfo

[2021-06-14 09:17] martimors commented on #3342
I opened a PR here https://github.com/streamlit/streamlit/pull/3418

[2021-06-14 13:35] alec-heif opened #3419 "selectbox forces reset of value as soon as it's cleared"
### Summary

When using the st.selectbox widget with a list of options, the widget seems to be reset to the last selected value when it is empty. This leads to a subpar user experience when trying to change the value of the widget via typing (as opposed to clicking) as when you try to backspace to clear the current selection, it sneakily puts it back as soon as you get to the last character.

Gif

[2021-06-14 13:36] alec-heif commented on #3419
GIF
![2021-06-14 09 30 42](https://user-images.githubusercontent.com/5010391/121900924-f5ecfb00-ccf3-11eb-9800-c034a8b9dbf3.gif)

[2021-06-14 13:52] alec-heif opened #3420 "date_input crashes on empty input"
### Summary

When using backspace in a date_input to clear an existing date, it crashes on an empty value.

GIF in comments.

### Steps to reproduce

1. Create a date_input widget
2. Set focus on it
3. Hit backspace until the date is deleted
4. Observe crash

[code]

### Is this a regression?

Not sure, first time using `streamlit`

### Debug info

- Streamlit version: 0.82.0
- Python version: 3.8

[2021-06-14 13:54] alec-heif commented on #3420
ah, duplicate of https://github.com/streamlit/streamlit/issues/3194 - closing and tracking there

[2021-06-14 13:54] #3420 closed, assigned to nobody

[2021-06-14 15:26] Nikhil0504 commented on #612
Any updates on this ?

[2021-06-14 16:41] ravinpoudel opened #3421 "Failed to load resources"
I am running /testing streamlit app in Safari. When checked the developer console, a lot of resources failed to load message are shown. Why is so ? Though, the app seems to be working fine.

 Attached is the screen shot.
<img width="1920" alt="Screen Shot 2021-06-14 at 12 36 27 PM" src="https://user-images.githubusercontent.com/25137267/121928005-b7643a00-cd0d-11eb-8401-d291063611df.png">

[2021-06-14 18:05] asaini commented on #241
Hi @nateGeorge,

Thanks for the question!

We consider features with `beta_` to be less stable than other parts of the Streamlit library. As features become more stable they 'graduate' out of beta to become a part of the Streamlit library. (This is what happened to functions like `st.beta_set_page_config`).

The lifecycle of a **beta** feature is

1. A feature is added with the `beta_` prefix.
2.

[2021-06-14 20:56] clo-vis opened #3423 "streamlit.cache(hash_funcs) could also check for supertypes of the given type"
### Problem

Currently, you need to specify the exact type for streamlit.cache(hash_funcs) . For example, this will **not** work (my_hash_function will never be invoked):

[code]

You must write (in Windows):

[code]

[2021-06-14 21:22] clo-vis opened #3424 "Return type of multiselect is not always [str]"
**Link to doc page in question:**
https://docs.streamlit.io/en/stable/api.html#streamlit.multiselect

**Name of the Streamlit feature whose docs need improvement:**
multiselect

**What you think the docs should say:**
The docs should say that the return type  is not necessarily [str], but depends on the value for the parameter `options`. For example, for

`options = streamlit.multiselect('What are

[2021-06-15 00:37] tvst opened #3426 "Ability to register custom exception handler"
### Problem

Some people would like to connect their Streamlit apps to Sentry or similar. So all unhandled exceptions get logged into their logging service.

### Solution

Allow apps to register a custom exception handler. For example:

[code]

### Additional context

BTW you can already hack this using the code in [this thread](https://discuss.streamlit.io/t/code-snippet-set-up-a-custom-exception

[2021-06-15 07:58] ShiraStarL opened #3428 "matplotlib.axes.Axes.set_xlim doesn't work when using st.pyplot()"
I'm creating histogram using matplotlib, and tried to display it using streamlit.pyplot(fig).
Checked it using plt.show() and it's working, but when I'm using st.pyplot it display the histogram but x axis it not limited by the value I defined.

[code]

[2021-06-15 08:19] #3428 closed, assigned to nobody

[2021-06-15 08:20] ShiraStarL commented on #3428
It works by moving the rows of that limits the axes to the end of the function:

[code]

[2021-06-15 11:49] nandgator opened #3429 "🐞 : Can't delete share application whose source code was later made private"
### Summary

Last week I created a simple Streamlit application, `X` and hosted it. Later today I changed the repository visibility to `private` without deleting `X`. Now I cannot see `X` in the list of hosted apps but I can still access the app via direct link.

### Steps to reproduce

1. Create a local Streamlit application
2. Upload it on GitHub as a public repository.
3. Host it on <https://sh

[2021-06-15 15:16] AHMEDGHA commented on #2888
We need to upgrade streamlit version and that's it ? or i need to change something on my code ?

[2021-06-15 17:52] alec-heif opened #3431 "Slider widget crashes chrome on range from (0, 1e9)"
### Summary

The slider widget has a pretty funny failure mode when you pass in an obnoxiously huge range: it crashes the entire chrome tab.

I have confirmed the tipping point is somewhere between 100M and 1B.

It also seems like the page takes longer to render the larger the range is, which I guess makes sense but is probably not ideal. Maybe for stupidly huge ranges the slider should just defau

[2021-06-15 17:58] alec-heif commented on #3431
Ooh good news - confirmed that setting `step` to a value >>> 1 in this case fixes the issue.

Maybe a good patch is to make the function fail loudly if there are too many steps?

[2021-06-16 16:09] awa5114 opened #3434 "`st.audio` does not take a numpy array?"
**Link to doc page in question (if any):**
https://docs.streamlit.io/en/stable/api.html#streamlit.audio
**Name of the Streamlit feature whose docs need improvement:**
`streamlit.audio`
**What you think the docs should say:**
The documentation states that `streamlit.audio`  can take a numpy `ndarray` containing raw sample data and display an audio player. I tried this as follows on a local host:

[

[2021-06-16 19:17] dariushazimi commented on #727
General Nav bar supporting links to have login, logout, logo.
@MarcSkovMadsen is spot on.

[2021-06-16 23:36] asaini opened #3439 "Creating a single column using beta_columns gives unhelpful error"
### Summary

The error message show for the code below is not helpful. Moreover, it is not clear whether the error is warranted in the first place

### Steps to reproduce

Code snippet:

[code]

If applicable, please provide the steps we should take to reproduce the bug:

Run the above code

**Expected behavior:**

Either show a better error message or show no error at all!

**Actual behavior:**

[2021-06-17 05:26] moriakijp opened #3440 "Plotly express 3D-scatterplot cannot draw"
### Summary

Plotly express 3D-scatterplot cannot draw in streamlit, while jupyterNotebook can do that.

### Steps to reproduce

Code:
Please reference the following link.
https://plotly.com/python/3d-scatter-plots/

### Debug info

- Streamlit, version 0.82.0
- Python version: 3.7.7
- OS version: Windows 10
- Browser version: Chrome 89.0.4389.82（Official Build)

[2021-06-17 08:13] hamzahi-ps opened #3441 "Docker `free(): invalid pointer` error with streamlit"
### Summary

After creating a docker image successfully, a simple docker run command to run streamlit fails with just the following:
`free(): invalid pointer`.  Weirdly, if I interactively enter the container and change the working directory before calling `streamlit run`, it works and runs fine. However, I am unable to run `streamlit run main.py` directly from a CMD or ENTRYPOINT.

### Steps to r

[2021-06-17 14:02] #3441 closed, assigned to nobody

[2021-06-18 05:10] snehankekre commented on #3424
Thanks for flagging this issue, @clo-vis! We will fix the return type in the multiselect docstring.

[2021-06-18 09:41] yamrzou commented on #2312
For anyone having this issue, until @dingobar's MR is merged, you can directly patch your local Streamlit setup by modifying the minified JS file as follows (for `streamlit==0.83.0`):

[code]

Which sets `WEBSOCKET_TIMEOUT_MS` and `PING_RETRY_PERIOD_MS` to 10s.

[2021-06-18 12:19] simeneide commented on #455
watching :)

[2021-06-18 13:50] arnaudmiribel opened #3447 "Consistent formatting in numerical values"
### Summary

It would be great to have a consistent formatting of numerical values within `st.table()` or `st.dataframe()` - whereas for now, it seems like floats have a `,.` styling and integers have none, and this is slightly "misleading" when one wants to compare both e.g. (see `99%` and `max`):

![image](https://user-images.githubusercontent.com/7164864/122570769-5bbae900-d04c-11eb-8f48-875152

[2021-06-18 21:37] llzhu commented on #1873
Hi @ptigwe
The solution display mol image well. But it does not have many functions such as sorting provided by st.dataframe(df).
@nthmost Any way to make  st.dataframe(df) display image?
Thanks.

[2021-06-19 07:06] GDGauravDutta opened #3450 "Documentation Mistakes"
As per documentation,
Dataset: emotion
Homepage: https://github.com/dair-ai/emotion_dataset

Dataset: https://github.com/huggingface/datasets/blob/master/datasets/emotion/emotion.py

Permalink: https://huggingface.co/datasets/viewer/?dataset=emotion

Emotion is a dataset of English Twitter messages with eight basic emotions: anger, anticipation, disgust, fear, joy, sadness, surprise, and trust. Fo

[2021-06-19 14:05] yemre-data commented on #904
Hi thank you I will wait for it is going to be really useful

[2021-06-19 18:51] yemre-data commented on #233
Hi thank you for sharing this example. However when we deploy to sahre it is giving error : 404 page not found. Did you try deploy for sharing?

[2021-06-19 19:22] GitHunter0 commented on #1449
This will be a fantastic enhancement to `st.dataframe`, I'm really looking forward to it!

[2021-06-20 12:37] benlindsay commented on #233
No i haven't tried streamlit sharing at all yet. I don't know enough about the specifics of that platform to have a guess at why this would give a 404 error

[2021-06-20 13:24] yemre-data commented on #233
Okey thank you for response @benlindsay I will open a new issue.

[2021-06-20 15:28] ZaneleCoka opened #3452 "panopt.experimental. -"
### Summary

panopt.experimental. only showing US country when " show changes and limit to brands start-end " is selected.

Even though, other CA, US, CG, and IE are selected. However when " show changes and limit to brands start-end " is not selected other countries are showing however I want to see the difference from Start - End

Code snippet:

[code]

(Please provide a code snippet! This will

[2021-06-21 07:04] vdonato commented on #3450
Hi @GDGauravDutta, this seems to be an issue that would be best posted on the issues page of https://github.com/dair-ai/emotion_dataset as it isn't a bug with streamlit itself.

[2021-06-21 07:04] #3450 closed, assigned to nobody

[2021-06-21 07:06] vdonato commented on #3452
Hi @ZaneleCoka, it sounds to me like you're describing a bug that exists in an app built using streamlit, and not a bug with streamlit itself. This would be best reported to the authors of the app if you're able to contact them.

[2021-06-21 07:06] #3452 closed, assigned to nobody

[2021-06-21 09:08] shilpeePrasad commented on #3047
Hi, can I work on this issue ?

[2021-06-21 13:51] kajarenc commented on #3199
Changes in #3422  fix this issue.
`Label` is a required argument for the Expander container.

@StefanBrand thank you for opening this issue.

If you don't mind, I'll close it.

[2021-06-21 16:42] randyzwitch commented on #3411
Hi @gireeshkbogu -

ggplot is an R package, Streamlit is a Python web framework. If something like this is possible, you'd have to use one of the Python packages that can call R like [rpy2](https://pypi.org/project/rpy2/). Though, I'd suggest that its probably easier to just use a native Python package.

Best,
Randy

[2021-06-21 16:44] #3411 closed, assigned to nobody

[2021-06-21 19:02] #3199 closed, assigned to kajarenc

[2021-06-22 14:02] 27ankitsharma commented on #1539
Facing same issue! Any updates?

[2021-06-22 17:22] kajarenc commented on #3419
@alec-heif thank you! This bug is a duplicate of #3191 and it fixed in the Streamlit latest release (0.83)!

I am closing this bug as it has already been resolved

[2021-06-22 17:46] kajarenc commented on #3439
@asaini I agree with you that the error message should be more descriptive (or creating only one column not allowed)

But it should be noted that the code works correctly.

The thing is that `beta_columns` always returns an array.

In case of `col1, col2 = st.beta_columns(2)` python "unpack" and assign values behind the scene.

In case of one column the desired result can be achieved by `col1 = st

[2021-06-22 17:50] tconkling commented on #2349
Hey @Agrover112 - if you have a moment, can you check if this is still an issue in the latest Streamlit (0.83)?

I recently pushed some changes to the browser-detection logic that Screencast used.

If you continue to see this issue only while running Streamlit on http://localhost, it _could_ be an http-related security issue. (Certain browser features, including screencasting and webcam and other

[2021-06-22 18:21] Agrover112 commented on #2349
Sure will try it out again. Yes it was on locahost on Chrome before.

[2021-06-22 18:46] tconkling commented on #2181
Hey @ltsstar - it looks like you're missing the `component_template` directory, which is actually a git submodule (which means it lives in a separate repo that's referenced from the main streamlit repo).

From the root streamlit directory, run `git submodule update --init` to initialize and clone the submodule repo. When that's done, you should be able to run the e2e tests.

I'm closing this issue

[2021-06-22 18:46] #2181 closed, assigned to nobody

[2021-06-22 19:48] tconkling commented on #3196
~My understanding is that, after sending a ping, the client needs to receive the pong within `pingInterval` duration or it will consider the connection to have been lost. So this change could result in Streamlit becoming less stable for high-latency connections.~

Whoops, I was thinking this was about the client ping interval. Tornado has its own `websocket_ping_interval`, and a separate `websocke

[2021-06-22 21:43] #3419 closed, assigned to nobody

[2021-06-23 00:23] kmcgrady opened #3468 "Overlap of headings for small screen sizes"
### Summary

When headings wrap, they do not have the proper margin space below it. This is especially noticeable in specific browsers

### Steps to reproduce

Code snippet:

[code]

If applicable, please provide the steps we should take to reproduce the bug:

1. Run streamlit app from code
2. Resize window such that the heading wraps

**Expected behavior:**

More space between heading and text.

[2021-06-23 05:15] saitej123 opened #3470 "Streamlit is not working with PaddleOCR , getting value error : signal only works in main thread"
[code]

**Repo : https://github.com/PaddlePaddle/PaddleOCR**

import paddleocr
from paddleocr import PaddleOCR, draw_ocr

without this import
it works fine

[2021-06-23 08:21] linyang23 opened #3471 "System Freeze Problem"
### Summary

When a program requires too much computing resources, it will cause the system to freeze, completely inoperable and need to be forced to shut down and restart

### Steps to reproduce

Code snippet:

[code]

If applicable, please provide the steps we should take to reproduce the bug:

csv download：https://api.worldbank.org/v2/en/indicator/NY.GDP.MKTP.CD?downloadformat=csv

**Expected b

[2021-06-23 09:35] robertmartin8 commented on #2975
Is there a graceful way of shutting down a streamlit app without killing the terminal?

![Screenshot 2021-06-23 at 10 34 41](https://user-images.githubusercontent.com/11792905/123073872-ba96ae80-d40e-11eb-9eb9-d907c2b03b41.png)

[2021-06-23 14:36] #3196 closed, assigned to tconkling

[2021-06-23 21:20] aofchas opened #3473 "Placement of the Zoom Button in Sidebar"
### Summary

The Zoom Button of the **sidebar** can not be seen clearly for zoom in.

![捕获2](https://user-images.githubusercontent.com/20648453/123168856-d3d44500-d478-11eb-80bb-a67025aacc55.PNG)
For Zoom out, the Zoom Button of the **sidebar** overlaps with the setting button. The setting button lays over the zoom button. So the image can not be zoomed out. I need to resstart the app to fix this

[2021-06-24 02:11] birrellwalsh opened #3475 "MediaFileManager: Missing file (s)"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2021-06-24 04:57] jpigla commented on #455
Interested

[2021-06-24 11:38] vvssttkk commented on #2257
after some time i get a similar error too. version 0.83.0
[code]

`fs.inotify.max_user_instances` doesn't help.

[2021-06-24 12:07] vvssttkk commented on #2257
so, this commands `echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p` helped

[2021-06-24 16:57] vvssttkk opened #3476 "disable `external url`"
sometimes i want to disable `external url` and open only `network url`
did u can this or add to doc this feature

[2021-06-25 03:26] agfianf commented on #862
+1

[2021-06-25 03:50] locpv98 commented on #904
Hi thank you I will wait for it is going to be really useful

[2021-06-25 09:56] cedias opened #3481 "Dynamic values Slider Bug"
### Summary

The selected value on a slider will never be used  if its range is dynamically computed:  it will always use the default value.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

The selected value from a slider whose values dynamically changes is never used at rerun, instead it's using the default value.

**Actual behavior:**

![bug2](https://user-images.githubus

[2021-06-25 12:09] #1856 closed, assigned to tconkling

[2021-06-25 19:06] kmcgrady commented on #2975
Hey @robertmartin8 I've been doing a bunch of spinning up and shutting down servers in the terminal it's usually pretty speedy. My only wonder is if something is long-running in the script that's failing to shut down. Are you doing anything special with threads or anything? Any code would be appreciated.

[2021-06-27 18:43] #3470 closed, assigned to nobody

[2021-06-27 20:25] Stonepaw90 commented on #647
This would help me, too!

[2021-06-28 07:54] robertmartin8 commented on #2975
The structure of the app (also raised in #3230) is as follows:

[code]

[2021-06-28 09:01] abbaskal commented on #927
Is there any update on this issue?

[2021-06-28 18:44] kmcgrady commented on #2975
It's possible @robertmartin8 that we can make the thread created to run the script a [daemon](https://docs.python.org/3/library/threading.html#threading.Thread.daemon) thread.

There is a note however.

We would need to investigate the implications of this. We expect more people to be connecting to databases etc than creating infinite loops in their code.

[2021-06-28 19:07] robertmartin8 commented on #2975
That's fair, though I do feel that continuously polling a REST API and displaying results is a pretty good use case?

If there's a better pattern for this, I'm all ears

[2021-06-29 13:20] hrishikeshtak commented on #1198
+1

[2021-06-29 16:35] Agrover112 commented on #2349
@tconkling It works on latest version now.

[2021-06-29 17:21] kajarenc opened #3494 "Return type of date_input is not always datetime.date"
**Link to doc page**
https://docs.streamlit.io/en/stable/api.html#streamlit.date_input

st.date_input

**What you think the docs should say:**
The docs should say that the return type is not always datetime.date . In case of range date input return value is tuple of zero, one or two datetime.date values

[code]

the return type is tuple

[2021-06-29 17:49] tconkling commented on #2349
Great! I'll close this one out.

[2021-06-29 17:49] #2349 closed, assigned to nobody

[2021-06-29 18:09] tconkling commented on #3080
We've decided to just do the quick and easy fix now: expose "auto_correct" as an optional param to TextInput. But @jroes' suggestion is a good one that we'll be considering later.

[2021-06-29 19:03] #3047 closed, assigned to tconkling

[2021-06-29 19:31] #3080 closed, assigned to tconkling

[2021-06-30 18:15] tconkling commented on #2689
Investigation notes:

- This was working in 0.73.1; it's broken in 0.74.0 +
- The issue is inside a utility function in react-color's `Saturation.js` code:
[code]

Looks like it's reaching up into the parent iframe.

- We did *not* update `react-color` in the 0.73.0..0.74.0 diff
- But `react`, `react-dom`, etc, did get updated
- `react-color` repo: https://github.com/casesandberg/react-color
- I t

[2021-06-30 18:44] #2668 closed, assigned to kantuni

[2021-06-30 22:27] tconkling commented on #3071
This sample app:
[code]

renders as:

<img width="973" alt="Screen Shot 2021-06-30 at 6 24 57 PM" src="https://user-images.githubusercontent.com/709022/124039295-8e070780-d9b7-11eb-9bd6-6f8b274fc049.png">

so it looks like this was fixed (probably by #3317).

[2021-06-30 22:27] #3071 closed, assigned to nobody

[2021-07-01 06:38] kmcgrady commented on #2975
@robertmartin8 I've been thinking about this, and I came up with an idea on my personal time that might help. Essentially, I implemented a custom component that auto re-runs the app. This avoids the need of an infinite loop in the script. This improves the developer experience (shutting down while an infinite loop is running) while easing resources on the server with a tiny tradeoff from the user.

[2021-07-01 09:56] Digaari opened #3502 "Mysterious Blue Highlight Input Text Field in Selectbox"
Hello! I have observed some blue highlights text fields as shown in the image. This comes with the use of `st.selectbox()` on streamlit with the following versions:

- Python v3.8
- Streamlit v0.83

**PS: When I use Streamlit v0.67, this blue highlight does not happen. v0.67 does not have this bug**

![image](https://user-images.githubusercontent.com/33162540/124104462-edc8e580-da7f-11eb-9f46-0ea5

[2021-07-02 01:47] cobnett3 commented on #455
Similar request: #688

[2021-07-02 02:01] AnOctopus opened #3505 "Multiselect with Pandas Index as options has exception on reruns"
[Forum link](https://discuss.streamlit.io/t/session-state-for-streamlit/14541/2?u=anoctopus)
The reported issue is that an app with multiselect doesn't update after the first item is selected. I locally replicated it, and the cause is the Pandas `Index` type being used as the source of options, but not having an `index` method.

In 0.83, this was not an issue, because the default values remained `

[2021-07-02 05:42] Astra-001 commented on #1059
Please send me any solution to this problem if anyone active on this thread.

[2021-07-02 09:22] treuille commented on #3505
While we’re fixing this…

@AnOctopus : I’ve always thought that the [`labels` argument](https://docs.streamlit.io/en/stable/api.html?highlight=Multiselect#streamlit.multiselect) to `st.multiselect()` should accept [any `Collection`](https://docs.python.org/3/library/collections.abc.html#collections.abc.Collection). What do you think?

[2021-07-02 16:30] whitphx opened #3507 "component value of type dict is not properly marshalled with streamlit==0.84.0"
### Summary

A component value returned from `_component_func` is of type `str` even if an **object** is set via `Streamlit.setComponentValue` in TypeScript code.
For example, when `{ someVal: 42 }` is set on TypeScript-side like `Streamlit.setComponentValue({ someVal: 42 })`,
the component value available on Python-side is a JSON string like `{"someVal":42}` (note, it's a string, not a dict).
Thi

[2021-07-02 17:33] #3368 closed, assigned to willhuang1997

[2021-07-02 17:33] kmcgrady commented on #2888
Hey @AHMEDGHA Yes. That should be it!

[2021-07-02 18:33] AnOctopus commented on #3505
@treuille Do you mean the `options` argument?

`Collection` seems reasonable. Currently, we effectively require it to be a `Sequence`, which provides the `index` method, but it would be easy to adjust things so we could accept any `Collection` and fall back to converting it to a list, which should always be possible since `Collection` requires iterability.

This would clean up the API a fair bit t

[2021-07-02 18:43] AnOctopus commented on #3505
After considering it this morning, I think the fact that we now call the indexing function with different values is correct. Previously it would only be called for handling the default values during the first widget initialization, and so wasn't called with the values that reflect the widget's changed state, but there is nothing fundamentally different happening now, and the bug happening here cou

[2021-07-02 19:40] kylelrichards11 commented on #2751
This issue stems from how the width is set when `useContainerWidth` is true in `streamlit/frontend/src/components/elements/VegaLiteChart/VegaLiteChart.tsx`.

When you create a `vconcat` chart, the `spec` that is created has a field called `vconcat`, which is an array holding encoding, mark, and width information about each subchart. Currently, this width field is not being set when `useContainerWi

[2021-07-03 00:21] AnOctopus commented on #3507
Hey, thanks for reporting this. I have now investigated it and it seems we lost the json value special casing in the relevant code when we reimplemented it. I have a fix in mind that should restore the previous behavior, so it should work properly in the next release.

[2021-07-03 06:08] treuille commented on #3505
So how about your idea of just converting the options to list immediately, @anOctopus? I think that would be great! 🙂

[2021-07-03 06:17] cobnett3 commented on #1449
Is there any possibility to address #455 and  #688 ?

[2021-07-03 07:39] pranavr2003 opened #3508 "A way to add Python functionalities/custom HTML/CSS code to streamlit"
### Problem

I'm finding it a bit difficult to add a few Python functions onto the existing `components.html()`. Like say I'm scraping data from a
site using bs4 or something, and write a function to extract certain data from a given URL and then pass it on as an input to get
some prediction from it and I want to add some specific styling to it. `components.html()` and `components.iframe()` are no

[2021-07-03 11:41] jhqian0909 commented on #313
any progress?

[2021-07-03 15:37] saluto opened #3509 "Incorrect JSON Serialization"
### Summary

`st.json` produces an unexpected/incorrect output when using default serialization, e.g. for custom classes.

### Steps to reproduce

**Code snippet:**

[code]

**Expected behavior:**

Expected output:
[code]

Because this would match the output of `repr({'A': A})`, which is the intuitive behavior.

**Actual behavior:**

Got output:
[code]

### Debug info

- Streamlit version: 0.84.0

[2021-07-03 18:53] robertmartin8 commented on #2975
Awesome! Will try that for my next proj :)

[2021-07-03 19:52] andfanilo commented on #3507
Great find! I had users report the same on Drawable Canvas 😀 will follow this too

**EDIT**: forum links to ping when this is closed:

* https://discuss.streamlit.io/t/streamlit-ag-grid-doesnt-work-anymore-with-streamlit-v0-84-0/14707
* https://discuss.streamlit.io/t/ag-grid-component-with-input-support/8108/159
* https://discuss.streamlit.io/t/version-0-84-0/14542/8
* https://discuss.streamlit.io

[2021-07-04 02:16] Mjboothaus commented on #2312
Follow-on from this issue - https://discuss.streamlit.io/t/getting-404-error-after-i-deployed-my-app/13189/9?u=mjboothaus

I am also seeing Connection timed out issues. Below is a screenshot from my end-user from the web console -- not sure if these diagnostics help.

![image](https://user-images.githubusercontent.com/956433/124371072-93b76280-dcc1-11eb-9c1d-27d1753256c4.png)

[2021-07-05 05:09] feliperoque commented on #1856
any news on this bug?

[2021-07-05 12:49] Spiralwise opened #3510 "Missing Submit Button in debug"
### Summary

Form submit button throws a error while using pdb in order to debugg Streamlit application.

### Steps to reproduce

The first step is to enable pdb for Streamlit by executing the code via a proxy script:
[code]

Then, the actual script has a form with a submit button. The form is build from a beta-container send through a method argument. `nd` is an instance of an object:
[code]

**E

[2021-07-05 14:14] whoiskumaratul opened #3511 "Certificate generating error"
### Summary

When we try to generate a certificate via any method like email, qwiklabs etc. error is coming.

### Steps to reproduce
[code]
select any of them and enter a email or qwiklabs profile URL and hit enter then its getting error.

error like this :-

[code]

How To Fix?

[code]

Thank you.

[2021-07-05 16:16] tconkling commented on #1856
This was fixed in 0.84, which went out last week: https://docs.streamlit.io/en/stable/changelog.html

[2021-07-05 18:25] clo-vis opened #3512 "Discrepancy between value shown and value returned by widged when it is redisplayed"
### Summary

When a widget is redisplayed, the value returned is not the same value the widget shows.

### Steps to reproduce

Here an example with multiselect:

[code]

1. With 'A' selected, select the numbers 1 and 2
2. Change the sidebar selection to 'B', then again to 'A'

**Expected behavior:**

Either
1) the multiselect widget is empty and shows "Select an option"; the message seen is "I did

[2021-07-06 14:18] gwk opened #3513 "Support Click v8"
# Summary

I see that Streamlit is currently pinning the Click library to v7. I am concerned that this will create friction for users like myself who wish to install and use libraries globally. I realize that dependency management is tricky business, so please don't take this as criticism. Rather I am opening this issue as a starting point for discussion, and to see if I might be able to help out.

[2021-07-06 15:27] JohannCR commented on #862
+1

[2021-07-06 17:25] leJOEndary commented on #3223
Gentle Bump,

@kmcgrady Just encountered the same issue on Streamlit v0.84.0 using the new native st.session_state

[2021-07-06 18:16] #2689 closed, assigned to tconkling

[2021-07-06 19:01] kmcgrady commented on #2888
After https://github.com/streamlit/streamlit/pull/3315, we think this will address the core issue for this enhancement request. Going to close this issue. Please let us know if there continues to be issues.

[2021-07-06 19:01] #2888 closed, assigned to nobody

[2021-07-06 21:38] tvst opened #3516 "st.image doesn't work with SVG image URL"
### Summary

st.image doesn't work when you pass a URL pointing to an SVG file

### Steps to reproduce

[code]

**Expected behavior:**

The image loads.

**Actual behavior:**

<img width="714" alt="Screen Shot 2021-07-06 at 2 35 54 PM" src="https://user-images.githubusercontent.com/690814/124669579-7ae8b180-de67-11eb-9e5e-8aee83e1d6db.png">

Here's the traceback in pure text:
[code]

### Is this a

[2021-07-07 05:25] agfianf commented on #3410
i am facing this issue when use streamlit official state (0.84) for multi page

[2021-07-07 11:11] soumendra commented on #445
While the solution above works for the time being, it could stop working any time (not supposed to work beyond dec 2020). Here is the output when the solution above is used:

[code]

[2021-07-07 11:20] soumendra opened #3517 "Please provide integration with Seaborn charting/plotting library"
There is an existing issue: https://github.com/streamlit/streamlit/issues/445 which was closed citing the following solution to using seaborn:

[code]

However, this solution is likely to stop working any time (it was supposed to stop working dec, 2020). While using this solution, here is the message displayed on top of the chart:

[code]

[2021-07-07 11:28] soumendra commented on #2609
The code listed under `Additional Information` was a suggestion, it doesn't work. To make it work, replace `st.pyplot(p)` with `st.pyplot(p.figure)`.

[2021-07-07 11:31] thunderbug1 commented on #2263
This would be a super handy feature.
I also have a similar usecase where I want to be able to click on fields in a heat map and then show the corresponding line chart for that field.
Currently I am doing this as a compound altair plot but this doesn't scale very well for larger dataframes since all time series are sent to the browser, event though only one is shown at a time.

[2021-07-07 14:10] LukasHaas commented on #3223
Same issue here and urgently need a fix. Getting this issue when generating beta_columns on Streamlit v0.84.0.

[2021-07-07 15:18] KristianMischke opened #3519 "Option in st.experimental_set_query_params to prevent clearing anchor in URL"
### Problem

I ran into this issue when setting the query params with `st.experimental_set_query_params()` where the anchor (e.g. `#title`) at the end of the url is overwritten and the page doesn't auto-scroll to the intended location.

### Solution

A simple solution would be to have an additional argument in `st.experimental_set_query_params()` to specify whether or not to preserve or clear the

[2021-07-07 17:18] dsaad68 opened #3520 "st.json() returns 'TypeError: n.slice is not a function'"
### Summary

I have a giant dictionary that comes from a response of an API. Inside this nested Dict, they are sections that I want to access with .get()  and show them on the dashboard using st.json(). It works perfectly with all other sections of Dict, just  doesn't work with one of these sections; I get a picture below, then when I click on it, I get the error below.

It is shown at first like

[2021-07-07 17:51] leJOEndary commented on #3223
So I've fixed it for myself.

The issue in my case was that i was trying to pass a container to the callback so i can display an alert.

The problem is that, the container is not created yet in the context of the new run. (Since the order of execution of when using callbacks calls the callback first thing, then executes the rest of the app).

[2021-07-07 19:09] kmcgrady commented on #3424
Closing this issue as resolved

[2021-07-07 19:09] #3424 closed, assigned to kajarenc

[2021-07-07 19:20] kmcgrady commented on #3223
Hi @leJOEndary and @LukasHaas Thanks for your insights. I think that lines up. Callbacks were designed to manipulate session state and not change the display of the app. If you would like to display something, you can set a flag in Session State and then update the script to check the flag and display what you need.

[code]

Let me know if that helps. If you have a small sample code example that d

[2021-07-07 19:21] kmcgrady commented on #3318
Hi @fanweiya ! Thanks for sharing this, I think this is an interesting idea. It's not quite on our roadmap right now to dig into this yet.

In the meantime, I think the best way forward is to make a [Custom Component](https://docs.streamlit.io/en/stable/streamlit_components.html). If you decide to do so, definitely share it with the rest of the community on the [forums](https://discuss.streamlit.i

[2021-07-07 19:21] #3318 closed, assigned to nobody

[2021-07-07 19:23] kmcgrady commented on #3321
Hey @bocangr! Thanks for submitting an issue. Can you provide a small sample code that demonstrates this?

[2021-07-07 19:26] kmcgrady commented on #3334
Hey @SimonBiggs! Thanks for submitting this. Are you by chance using multiple machines running the Streamlit app. One common problem that people have relied on is generating the image on one machine and then requesting it on another machine. That would cause the intermittent failure.

If that's the case, I believe we have an issue that encompasses this, and I can combine them together. Figure I'd

[2021-07-07 19:48] kmcgrady commented on #3336
Thanks! I have a fix for this out and should be resolved quickly.

[2021-07-07 20:00] kmcgrady commented on #3340
Hey @gjoseph92 Thanks for the issue. We've had a few requests for specific types that should be hashable, so I have added this to the list.

[2021-07-07 20:03] kmcgrady commented on #3342
Thanks @LittleLightLittleFire for the issue. I put a comment in the PR, but I am thinking this should probably be configurable to allow the ability to handle whatever latency we should expect. Our mission is to make Streamlit the best way to build data apps, and your thoughts help us focus our roadmap where people feel the most pain. We're going to get this in front of our product team to see how

[2021-07-07 20:03] #3342 closed, assigned to nobody

[2021-07-07 20:08] leJOEndary commented on #3223
@kmcgrady Yeah, thank you for the reply. Here's a super simplified version of what I was trying to do which resulted in the exception.

[code]

After i changed it to:

[code]

Things worked again 😄

[2021-07-07 20:41] kmcgrady commented on #3343
Thanks for the report. I have confirmed it. My guess is some config needs to be set correctly in VegaLite config for this particular style of chart.

[2021-07-07 20:44] kmcgrady commented on #3344
Hey @gchhablani Thanks for the question. The main reason is to maintain the simplicity of a Streamlit application. For example, instead of using:

[code]

You can do:

[code]

Nesting columns adds more complexity for display which can cause even more unintended consequences on different screen sizes. We have goals to provide a better mobile experience, and ensuring Streamlit apps maintain this str

[2021-07-07 20:44] #3344 closed, assigned to nobody

[2021-07-07 20:47] kmcgrady commented on #3347
Hey @zhubijia! Thanks for the report! Unfortunately we can't always dig deep and troubleshoot challenges like this on GitHub. We typically use GitHub for feature requests and bug reports.

For troubleshooting help, you can visit our awesome [community forums](https://discuss.streamlit.io/), where thousands of other Streamlit hackers help each other and talk about the amazing things they are creati

[2021-07-07 20:47] #3347 closed, assigned to nobody

[2021-07-07 20:49] kmcgrady commented on #3348
Hey @oplatek! Thank you for sharing your ideas about audio file names here. Our mission is to make Streamlit the best way to build data apps, and your thoughts help us focus our roadmap where people feel the most pain. We're going to get this in front of our product team to see how we can best integrate this with our future plans.

We can't integrate every feature into the mainline codebase, but a

[2021-07-07 20:56] kmcgrady commented on #3355
Hey @thetoby9944! Thanks for the report. This seems like a duplicate of https://github.com/streamlit/streamlit/issues/2820 do you think? I am going to close it as such, but please let me know if you think it's different.

[2021-07-07 20:56] #3355 closed, assigned to nobody

[2021-07-07 20:58] kmcgrady commented on #3362
Hey @psyduck1203 Thanks for volunteering and sorry for the slow response! If you are still interested, feel free to do it. It may need some investigation to ensure this works correctly for all purposes. Feel free to reach out if you need any guidance.

[2021-07-07 21:24] kmcgrady commented on #3367
Hey @TeddyHuang-00 Thanks for the report! We detect unsupported browsers based on two issues:

1. Does it support the features we need? For Edge, that is true.
2. Is there an error in initializing the Screen Recorder. Likely it's falling in this place.

Microsoft Edge has developer tools and [stop on the exception](https://docs.microsoft.com/en-us/microsoft-edge/devtools-guide-chromium/javascript/

[2021-07-07 21:25] kmcgrady commented on #3378
Hey @AAnzel! Thank you for sharing your ideas about being able to set the sidebar state manually. Our mission is to make Streamlit the best way to build data apps, and your thoughts help us focus our roadmap where people feel the most pain. We're going to get this in front of our product team to see how we can best integrate this with our future plans.

We can't integrate every feature into the ma

[2021-07-07 21:30] kmcgrady commented on #3380
Hey @someshfengde Thank you for sharing your ideas about file uploader type parsing here. I totally understand the ask here. My concern is that we cannot guarantee the reading that users would like, whether its tf.io or matplotlib.pyplot.imread or using PIL. We think it's best that we keep the file uploader type agnostic and provide the binary file format. I recommend creating a function to wrap a

[2021-07-07 21:30] #3380 closed, assigned to nobody

[2021-07-07 21:31] kmcgrady commented on #3385
Thanks for the feedback here @cjw296 ! I will put this in our backlog!

[2021-07-07 21:34] kmcgrady commented on #3388
Hi there @Polokghosh53, thanks for sharing your question! Unfortunately we can't always dig deep and troubleshoot challenges like this on GitHub. We typically use GitHub for feature requests and bug reports.

For troubleshooting help, you can visit our awesome [community forums](https://discuss.streamlit.io/), where thousands of other Streamlit hackers help each other and talk about the amazing th

[2021-07-07 21:34] #3388 closed, assigned to nobody

[2021-07-07 21:38] kmcgrady commented on #3389
Hey @cjw296 Thanks for the report! I tried running the sample code path, and I was unable to reproduce the issue. Can you reproduce this issue in the latest version of Streamlit? It's possible we may have inadvertently fixed it or it's more intermittent of a problem.

[2021-07-07 22:05] kmcgrady commented on #3392
Hey @cjw296 ! Thanks for this report. We have a few questions related to hashing in cache. I have added this to the list. Thanks again!

[2021-07-07 22:26] kmcgrady commented on #3395
Hi @samsammurphy ! Thanks for the report. I think I see the issue. An error is being thrown on the frontend, so I have a fix in place for it. See https://github.com/streamlit/streamlit/pull/3522 It looks much better with this. Thanks for your help!

[2021-07-07 22:28] kmcgrady commented on #3401
Thank you @cceyda for sharing your ideas about maximum number of files for file uploader here. Our mission is to make Streamlit the best way to build data apps, and your thoughts help us focus our roadmap where people feel the most pain. We're going to get this in front of our product team to see how we can best integrate this with our future plans.

We can't integrate every feature into the mainl

[2021-07-07 22:35] kmcgrady commented on #3402
Hey @tdincer ! Thanks for the report! We have had a couple people mention our support for timezones is lacking. I have grouped this in with other issues. Most similar is #1346. We're going to get this in front of our product team to see how we can best integrate this with our future plans.

[2021-07-07 22:36] kmcgrady commented on #3407
Hi there @ravinpoudel , thanks for sharing your question! Unfortunately we can't always dig deep and troubleshoot challenges like this on GitHub. We typically use GitHub for feature requests and bug reports.

For troubleshooting help, you can visit our awesome [community forums](https://discuss.streamlit.io/), where thousands of other Streamlit hackers help each other and talk about the amazing th

[2021-07-07 22:36] #3407 closed, assigned to nobody

[2021-07-07 22:55] kmcgrady commented on #3410
Hey @afblaze94 and @muhammadAgfian96 ! Thanks for reaching out to us. I am not sure I understand the problem. Are you asking to be able to set different configs based on the page?

[2021-07-07 22:56] kmcgrady commented on #3412
Thanks for sharing this @samsammurphy, I think this is an interesting idea. It's not quite on our roadmap right now to dig into this yet.

In the meantime, I think the best way forward is to make a [Custom Component](https://docs.streamlit.io/en/stable/streamlit_components.html). If you decide to do so, definitely share it with the rest of the community on the [forums](https://discuss.streamlit.io

[2021-07-07 22:56] #3412 closed, assigned to nobody

[2021-07-07 23:03] kmcgrady commented on #3421
Hey @ravinpoudel ! Thanks for letting us know. I have a fix that removes the sourcemaps properly. They are unimportant to development/production, but they definitely cause some noise in the console (and only in some browsers. Looks like Chrome does not make the requests).

[2021-07-07 23:06] SimonBiggs commented on #3334
Hi @kmcgrady,

At the time I was only using one machine. Now however I have swapped over to kubernetes and had none of the issues described within this issue. However, one thing I did find out there on the inter-webs is that the websocket timeout on appengine doesn't seem to work very well with the current versions of Streamlit. And within google cloud kubernetes I created the following config to

[2021-07-07 23:08] kmcgrady commented on #3431
Hey @alec-heif ! Thank you for your report. Can you clarify the `step` to a value >>> 1 is? What's an example that solves the problem?

[2021-07-07 23:09] kmcgrady commented on #3434
Hi there @awa5114, thanks for sharing your question! Unfortunately we can't always dig deep and troubleshoot challenges like this on GitHub. We typically use GitHub for feature requests and bug reports.

For troubleshooting help, you can visit our awesome [community forums](https://discuss.streamlit.io/), where thousands of other Streamlit hackers help each other and talk about the amazing things

[2021-07-07 23:09] #3434 closed, assigned to nobody

[2021-07-07 23:10] kmcgrady commented on #3423
Thanks for the request @clo-vis! I have marked it down for our updates to caching and we will take a look!

[2021-07-07 23:11] kmcgrady commented on #3334
Thanks @SimonBiggs! Really appreciate your help here!

[2021-07-07 23:11] #3334 closed, assigned to nobody

[2021-07-07 23:15] spicysouvlaki commented on #3429
Hi @joe733 👋 To delete this app, you can make the app public on GitHub briefly and it should appear in your list of apps. From there you can go through the process of deleting it and make it the original repo private again.

Our policy is that free tier apps are required to be publicly readable. If you need to deploy private apps you can sign-up for Streamlit for Teams at https://streamlit.io/for-

[2021-07-07 23:15] #3429 closed, assigned to nobody

[2021-07-07 23:15] kmcgrady commented on #3440
Hey @moriakijp ! Thanks for the report. I'm curious why this does not work?

[code]

![8C0DE732-E13B-4C81-91F5-41EDC5A8399B](https://user-images.githubusercontent.com/69432/124839915-9a9ed900-df3e-11eb-92b3-b8887e93c3eb.png)

[2021-07-07 23:24] kmcgrady commented on #3439
Thanks for the report. We can probably create list-like objects in Python to help with the error handling problems here.

[2021-07-07 23:27] kmcgrady commented on #3473
Thank you for the report @ZhanggaoYuan16! This looks like a duplicate of https://github.com/streamlit/streamlit/issues/2723, so I will close this issue, but they are linked! Please let me know if there is anything to follow up on.

[2021-07-07 23:27] #3473 closed, assigned to nobody

[2021-07-07 23:33] kmcgrady commented on #3447
Thank you @arnaudmiribel for sharing your ideas about numerical formatting in dataframes and tables here. Our mission is to make Streamlit the best way to build data apps, and your thoughts help us focus our roadmap where people feel the most pain. We're going to get this in front of our product team to see how we can best integrate this with our future plans.

We can't integrate every feature int

[2021-07-07 23:35] kmcgrady commented on #3471
Hey @linyang23! Thanks for the report! Can you describe what resources are being consumed? CPU, RAM, etc? Thanks!

[2021-07-08 00:00] kmcgrady commented on #3475
Hey @birrellwalsh! Thanks for the report! I don't understand exactly see how this could be happening. The MediaFileManager stores media files like images and videos. The sample code you wrote does not contain any of this. Am I missing something here?

[2021-07-08 01:29] kmcgrady commented on #3476
Hi @vtrokhymenko Thank you for your issue. We do nothing special in allowing access to the external URL. Blocking the external URL is something that you configure on the server firewall to prevent access to a specific port. You can also do that in AWS or other sites or configure access to a restricted set of servers.

[2021-07-08 01:29] #3476 closed, assigned to nobody

[2021-07-08 01:31] kmcgrady commented on #3481
Hi @cedias ! Thank you for your report! I am please to tell you that our Session State implementation should help here. I believe if you upgrade to the latest Streamlit, 0.84 and add the `key` parameter for your sliders, it _should_ work properly 🤞

Going to close as there is a solution, but please feel free to respond to this issue.

[2021-07-08 01:31] #3481 closed, assigned to nobody

[2021-07-08 01:33] kmcgrady commented on #3520
Hey @dsaad68 Thanks for the report. Would you mind copying the content of the TypeError here? That might help in understanding where the issue is coming from.

[2021-07-08 01:44] kmcgrady commented on #3502
Hey @Digaari ! Thank you for the report. I am unable to reproduce the issue with just a select box. Is there a smaller piece of code that showcases the error. Also, what browser are you testing this on? Does this occur on multiple browsers? Thanks!

[2021-07-08 04:24] kmcgrady commented on #3508
Thank you @pranavr2003 for sharing your ideas about adding Python native HTML/CSS code to Streamlit here. Our mission is to make Streamlit the best way to build data apps, and your thoughts help us focus our roadmap where people feel the most pain. We're going to get this in front of our product team to see how we can best integrate this with our future plans.

We can't integrate every feature int

[2021-07-08 04:29] kmcgrady commented on #3509
Thanks for the report @saluto! I think this is an easy fix, but we can benefit for more tests which will take a little more time. I marked this as a good first issue for anyone interested.

[2021-07-08 04:32] kmcgrady commented on #3510
Hey @Spiralwise ! Thanks for getting this report in. I think you might benefit from this solution https://discuss.streamlit.io/t/version-0-81-0/12400/16. We don't try to make using `bootstrap` an official API. The link provides steps on debugging streamlit scripts in pycharm without doing that. Let me know if it doesn't work for you.

[2021-07-08 04:32] #3510 closed, assigned to nobody

[2021-07-08 04:41] kmcgrady commented on #3512
Hey @clo-vis Thank you for the report! This is definitely a weird reaction, and I think our session_state preserves the value, which is rather weird. We've prioritized this in.

[2021-07-08 04:44] kmcgrady commented on #3513
Hey @gwk! Thanks for the report! I do agree with you, that we should do _something_. I'm for updating to click v8 or writing our own. I don't think our cli code is that complicated to warrant a dependency to have issues with us.

[2021-07-08 05:02] kmcgrady commented on #3517
Hey @soumendra ! Thanks for the report! I actually have a solution that satisfies everything.

https://discuss.streamlit.io/t/pyplotglobalusewarning/6578/4

Essentially, you can pass `ax` to seaborn.

[code]

There may be some more subtle differences, but overall it works the same. Going to close the ticket, but feel free to follow up if it's not working.

[2021-07-08 05:02] #3517 closed, assigned to nobody

[2021-07-08 05:04] kmcgrady commented on #3519
Thank you for sharing your ideas about url parameters here. Our mission is to make Streamlit the best way to build data apps, and your thoughts help us focus our roadmap where people feel the most pain. We're going to get this in front of our product team to see how we can best integrate this with our future plans.

We can't integrate every feature into the mainline codebase, but alternatively the

[2021-07-08 05:20] tvst commented on #3520
@dsaad68 : In addition to what @kmcgrady asked, can you help us find a minimal object you can pass to `st.json()` to reproduce this bug?

I tried several different dicts and lists, all of them with more than 5000 items, and could not reproduce it.

Alternatively, if you can't find a minimal example, can you provide us a HAR file where you repro the bug? Here's how you can do it in Chrome:

1. Load

[2021-07-08 05:27] gjoseph92 commented on #3340
Great to hear, thanks!

[2021-07-08 05:51] #3395 closed, assigned to nobody

[2021-07-08 06:20] dsaad68 commented on #3520
@kmcgrady @tvst:

I have shared the minimal object that cause the problem above, but If you give me an email address, I can share the part of dict as JSON and the har file that causes this error.

[code]

[2021-07-08 07:18] TeddyHuang-00 commented on #3367
Thanks for your suggestion! It does offer extra info that sounds odd to me, as it stop on exception `ReferenceError: browser is not defined` on my newest stable version of Microsoft Edge. This surely is where the problem of recording is, but still don't have a clue on what's going on.

[2021-07-08 08:02] Spiralwise commented on #3410
I have the same issue. Actually, it is because my callbacks are executed at the beginning of the script and so, st_page_config is no longer the first Streamlit instruction. As described, st_page_config must be the very first st instruction but it's not always possible when callbacks contain st codes.

[2021-07-08 08:45] Spiralwise commented on #3510
Thank you very much, it works well and looks more like a pro and standard way to debug a Streamlit app. :+1:

[2021-07-08 10:27] samsammurphy commented on #3412
Makes sense. Thanks @kmcgrady

[2021-07-08 10:29] psyduck1203 commented on #3362
Yeah, I'm interested and I want to work on this issue. I'll surely ask you if I get stuck.

[2021-07-08 13:57] OliverMorgans opened #3526 "DataFrame Styling not working when using pandas 1.3.0"
https://github.com/streamlit/streamlit/blob/fdcb1d0efdb53427c72bb266b08ef2d80b8a8cab/lib/streamlit/elements/legacy_data_frame.py#L169

Pandas 1.3.0 alters the protected methods used so styling no longer works.

Example code.

[code]

gives the following error:
[code]

[2021-07-08 15:33] LSchueler commented on #453
@drorata I use following as a workaround, which seems to involve less steps because you do not have explicitly take care of the nan's:

`df['categories'] = cut_result.cat.codes`

This uses the internal `int8` representation of the categories and streamlit can work with it.

Could this be a general workaround for streamlit?

[2021-07-08 17:16] domoritz commented on #3507
https://github.com/domoritz/streamlit-vega-lite-demo/issues/2 looks like it's caused by this as well.

[2021-07-08 18:16] benlindsay opened #3527 "Allow control of st.pyplot() width"
### Problem

When displaying a matplotlib figure with `st.pyplot()`, I don't see a way to control the rendered figure width. It always seems to expand to 100% of the column width. There's a [workaround](https://discuss.streamlit.io/t/cannot-change-matplotlib-figure-size/10295/8) by writing the figure to a BytesIO buffer and writing that as an image, but that's not a perfect solution, and being abl

[2021-07-08 18:18] #3505 closed, assigned to AnOctopus

[2021-07-08 18:18] ravinpoudel commented on #3421
Hi @kmcgrady what was the fix? I still see similar issues on safari and chrome. static/js/5.0f61ce80.chunk.js.map: HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE-- seems its not able to find this static folder ....

[2021-07-08 18:23] kmcgrady commented on #3421
Ah. Thanks for pointing it out @ravinpoudel I see it now. Chrome just filters out the noise a bit better. The PR explains the fix. Essentially we delete the files intentionally, but we do not remove the line in the source code that signals the browser to attempt to download them. The fix essentially more formally requests to not generate these sourcemaps and won't include them or the source code s

[2021-07-08 18:24] #3421 closed, assigned to nobody

[2021-07-08 18:25] kmcgrady commented on #3421
The change has been merged, and will be in the next minor release (we intend to issue a patch, which will _not_ include this).

[2021-07-08 19:00] kmcgrady commented on #3367
Hmmmm @TeddyHuang-00 . I am unable to get any more ideas from that. We don't use `browser` in the codebase at all, so the reference error is rather weird.

Can you provide a video showing an attempt to record, and the exception being thrown? Curious to see if it can offer some guidance. I tried Edge in both Chrome and MacOS, so my only other thought is debian. Can you try on a separate computer or

[2021-07-08 19:03] kmcgrady commented on #3410
Totally understand. I have put this in front of our Product team to take a look.

[2021-07-08 19:30] kmcgrady commented on #3511
Hi @whoiskumaratul ! Thanks for submitting an issue. Hi there, thanks for sharing your question! Unfortunately we can't always dig deep and troubleshoot challenges like this on GitHub. We typically use GitHub for feature requests and bug reports.

For troubleshooting help, you can visit our awesome [community forums](https://discuss.streamlit.io/), where thousands of other Streamlit hackers help e

[2021-07-08 19:30] #3511 closed, assigned to nobody

[2021-07-08 21:10] lgeiger commented on #3028
@kmcgrady How do you feel about changing the default health check URL to `health-check` instead, or would this break some current use cases? I am just asking, because the mentioned workaround might not work for all GCP App Engine runtimes and it seams simpler than adding a separate config option.

[2021-07-09 10:03] zsz00 opened #3530 "Image Caption beyond Image Width"
### Summary

Image Caption beyond Image Width

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**
python3.8, streamlit <= 0.79
![image](https://user-images.githubusercontent.com/12711073/125060646-28192f00-e0df-11eb-9352-fe3e7d50679b.png)

Caption will auto linefeed.

**Actual behavior:**
python3.8, streamlit > 0.79
![image](https://user-images.githubusercontent.com/12711073/125

[2021-07-09 12:09] gwk commented on #3513
That's great to hear. If I were to try one or the other, do you have a preference as to which direction we try first? Updating to v8 is probably easier, but getting rid of the dependency seems like the better choice for users in general.

[2021-07-09 17:53] tvst opened #3531 "File uploader does not return multiple files"
From: https://discuss.streamlit.io/t/issue-with-file-uploader-and-streamlit-version-0-84-0/14812

---

Hi everyone,

I'm new here. First of all thank you really much for your great work in this forum. It helped me out multiple times. But now I encountered an issue where I couldn't find a thread on, yet.

With the latest version (0.84.0) I'm experiencing a problem with the file_uploader widget.

In

[2021-07-09 19:27] asaini opened #3532 "st.write(st.session_state) does not correctly print float values ending in .0"
### Summary

When printing `st.session_state` on the screen, float values ending with .0 are printed without it.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

Values ending with .0 should be correctly printed, eg. `1.0`

(Note: the **type** is correctly represented as `float`)

**Actual behavior:**

![Screen Shot 2021-07-09 at 12 24 37 PM](https://user-images.githubuserco

[2021-07-09 20:31] asaini commented on #3526
cc: @kantuni

[2021-07-09 22:18] #3507 closed, assigned to AnOctopus

[2021-07-10 02:31] whitphx opened #3533 "Element values are not restored properly after `st.rerun`"
### Summary

Values of components which appear after `st.experimental_rerun()` are not restored but initialized after executing `st.experimental_rerun()`

### Steps to reproduce

Code snippet:

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/streamlit_badge_black_white.svg)](https://issues.streamlitapp.com/?issue=gh-3533)

[code]

1. At first, all radio values are "Egg"
2. Change th

[2021-07-10 08:48] pranavr2003 commented on #3516
I don't know the backend, but probably one could scrape the page source given in the URL (with bs4/req) , which is about:
[code]
and add it into `components.html()`. This is a long workaround, but should technically work.

[2021-07-11 01:37] xaptronic opened #3534 "Changing default overrides incoming user selected value"
### Summary

As outlined in https://github.com/streamlit/streamlit/pull/1169#issuecomment-672701734, when a new initial value is passed into a widget, it overwrites any incoming user selected value from the widget - see the example in that comment.

### Steps to reproduce

Run this code snippet and toggle back and forth between the options. After the first click, when a new option is selected the

[2021-07-12 06:31] TeddyHuang-00 commented on #3367
@kmcgrady sry I made a big mistake. After looking into the problem, I found most of the raised error was caused by my browser extensions.

But after disabling most of the extensions (the only ones left are SwitchyOmega (for proxy), Circle (won't take effect unless activaed), Motrix (Download extension, may occupy a port, but should not affect much), Microsoft Editor and JetBrains web extesion), th

[2021-07-12 13:47] pranavr2003 commented on #3516
@tvst Do see [this](https://github.com/streamlit/streamlit/blob/develop/lib/streamlit/elements/image.py).
The doctring on `image` accepts only `an SVG XML string like `<svg xmlns=...</svg>`, due to which entering a URL pointing to an SVG gives a `FileNotFoundError` or in my case, an `OSError`

[2021-07-12 14:06] pranavr2003 opened #3537 "PR to solve st.image() svg issue"
### Summary

`st.image()` doesn't work when the `image` argument is a URL pointing to an SVG image, or any SVG file, really

This is understandable, since the docstring on [this](https://github.com/streamlit/streamlit/blob/develop/lib/streamlit/elements/image.py) says `image` takes in `an SVG XML string like <svg xmlns=...</svg>`

### Steps to reproduce

Code snippet:

[code]
or any SVG file:
[cod

[2021-07-12 16:04] mohitagr18 opened #3538 "Error when caching matplotlib plots"
### Summary

"InternalHashError: 'Spines' object does not contain a 'name' spine" error when trying to cache matplotlib fig

### Steps to reproduce
1. Load Iris data from sci-kit learn.
2. Split the data into train and test sets.
3. Load KNN model from sci-kit learn.
4. Pass train, test sets and the model class object `KNeighborsClassifier(n_neighbors=highest_k)` as defined in the code below.

Cod

[2021-07-12 16:52] prabalbansal opened #3539 "Tool tip for each word in a paragraph"
### Problem

I want to display a bunch of information for each word in a paragraph. So I thought of the hovering effect on each word, and show a tooltip for that word. Is there is a way to do that in streamlit, or it needs to write a completely new component.?

[2021-07-12 17:22] sohilbhatia commented on #862
interested

[2021-07-12 18:44] #3539 closed, assigned to nobody

[2021-07-12 20:09] Vishav3 commented on #643
@dcaminos Hi I am using the above mentioned code...I wondered why I am getting this error?
![image](https://user-images.githubusercontent.com/80038335/125349342-728eeb80-e32b-11eb-99c6-1e85b2eea61d.png)
Any help would be appreciated!!!

[2021-07-12 22:10] #3526 closed, assigned to kantuni

[2021-07-12 23:40] kmcgrady commented on #3507
This has successfully been released in 0.84.1 today. Please let us know if you find any issues.

[2021-07-13 03:25] whitphx commented on #3533
This forum topic looks same https://discuss.streamlit.io/t/widget-checkbox-state-doesnt-persist-on-rerun/14914

[2021-07-13 04:30] snehankekre commented on #3533
Thanks for reporting this issue, @whitphx! I was able to reproduce the behavior with `Streamlit, version 0.83.0`. The issue is no longer reproducible after the fix in the latest [`0.84.1` patch](https://github.com/streamlit/streamlit/releases/tag/0.84.1). Closing this issue for now.

[2021-07-13 06:57] shashankbr07 opened #3544 "Form Buttons and Regular Button Usage"
Hello Community,

I have an issue adding form button and button into the same application. As in, regular user input, which is outside the form is disappearing once i click form_submit button. Is there a solution that can help me add both the widgets ?

Why am I using both methods ? and why can't use only form method ?

_Per the need, I wanted user to select files of a particular older. To get tha

[2021-07-13 07:24] someshfengde opened #3545 "support for gitlab for deployment of app"
many times `Github` doesn't store the model which we essentially need to store ( in case our lfs limits are exceeded )
it'll be better if we have access to `GitLab `for deploying the app it'll be a good upgrade over streamlit web platform

[2021-07-13 08:49] VandvC opened #3546 "Nested checkboxes keep displaying information"
Hello everyone,
I switched from version 0.76 to 0.84 (I tried as well with 0.82) and it seems that nested checkboxes (or radio buttons) keep trace of previous values despite the default value at False.

## Code snippet

[code]

**Steps to reproduce the bug**

1. Check the 'Option 1'
2. Check the 'Option 2' --> slider selection will be displayed for the demo
3. Uncheck 'Option 1' --> everything dis

[2021-07-13 19:46] tvst commented on #3520
Awesome, can you upload them here?
https://drive.google.com/folderview?id=1P25pdfgVYQKGIxa1CYgiUyFfMcRaH6bK

(Only you + the Streamlit team have access to that folder)

[2021-07-13 20:15] pohlt commented on #3132
Just tried the same setup with pdm and version 0.84.1 of streamlit with the same result.

What's special about how pdm installs packages is the mechanism described in [PEP 582](https://www.python.org/dev/peps/pep-0582/). The streamlit files and configurations might not end up where you would normally expect them, I guess.

I'm sorry that I cannot be of more help here.

[2021-07-13 22:08] #1880 closed, assigned to nobody

[2021-07-14 03:17] asaini commented on #3546
Hi @VandvC

Thanks for reporting this issue.

@vdonato: This seems related to #3512?

[2021-07-14 03:27] vdonato commented on #3546
Ah, yeah I'm fairly certain these two have the same root cause. I'll leave them both open for now (just in case they're not the same bug) and will close this one as a duplicate of #3512 once I'm able to confirm that they are the same bug.

[2021-07-14 04:31] vnavkal commented on #2790
just wanted to leave a note that this affected me too, when trying to create an `asyncio` event loop in my streamlit app.

here is a simplified version of my streamlit file that triggers the error:
[code]

running this file with `streamlit run` produces the following error text:
[code]
pointing to [this block of `asyncio` code](https://github.com/python/cpython/blob/0389426fa4af4dfc8b1d7f3f291932d

[2021-07-14 15:18] radao commented on #3096
When will this be addressed? I'm working on a streamlit application that heavily relies on reloading `st.image` and performance is has severely degraded since version `0.51.0` (the regression could may have been introduced in a later version but thats the one we currently use without issue).

[2021-07-14 18:27] #2324 closed, assigned to willhuang1997

[2021-07-14 20:05] asaini commented on #3545
cc: @astrojams1

[2021-07-14 21:36] mcpeixoto opened #3552 "Make the code sleep until a button is pressed."
[code]

Why does this not work?
I want my code to pause until the user confirms something with a button press.

This is a simple issue, I believe no more explanation or information is required.

[2021-07-14 22:14] #3410 closed, assigned to kmcgrady

[2021-07-14 22:18] vdonato commented on #3552
Hi @mcpeixoto, thanks for sharing your question! Unfortunately we can't always dig deep and troubleshoot challenges like this on GitHub. We typically use GitHub for feature requests and bug reports.

For troubleshooting help, you can visit our awesome [community forums](https://discuss.streamlit.io/), where thousands of other Streamlit hackers help each other and talk about the amazing things they

[2021-07-14 22:18] #3552 closed, assigned to nobody

[2021-07-14 22:28] vdonato opened #3553 "Deleting a file_uploader may cause streamlit to not GC its orphaned files"
Garbage collection of orphaned files corresponding to a file_uploader occurs when the `st.file_uploader` function is run, which (probably, but we should confirm this actually happens) means that once a widget is deleted, orphaned files may never be GCd.

We should first confirm that this bug that should occur in theory actually does happen before moving orphaned file deletion for all `file_uploade

[2021-07-14 22:32] #3531 closed, assigned to vdonato

[2021-07-14 23:15] vdonato commented on #3546
Just confirmed that these two bugs indeed share the same root-cause, so I'll close this one and keep #3512 as the main bug as it was filed first.

[2021-07-14 23:15] #3546 closed, assigned to vdonato

[2021-07-15 00:42] jrieke opened #3555 "Long values on slider get cut off or overlap"
### Summary

When a slider is in the sidebar and has a long value, it can be cut off by the sidebar border (1st example below) or overlap with the border of an expander/form (2nd example).

![image](https://user-images.githubusercontent.com/5103165/125710001-3c16a0ec-ce64-4fbe-9d12-53f70a5df4f2.png)

### Steps to reproduce

Code snippet for the image above:

[code]

**Expected behavior:**

As a mi

[2021-07-15 07:02] VandvC commented on #3546
thanks for your help

[2021-07-15 07:09] schaumb opened #3557 "file_uploader with beta_expander"
### Summary

In a `beta_expander` a `file_uploader` widget's uploaded file information is disappearing from front-end after closed and re-expanded the expander

### Steps to reproduce

Code snippet:

[code]

1. Upload a file
2. Close the `beta_expander`
3. Open the `beta_expander`

**Expected behavior:**

The uploaded file information (file name, file size, and ability to remove attaching) is ther

[2021-07-15 13:51] berkdemir opened #3559 "Clash of Local Link with Help"
Hi there,
You can see the clash. Help cannot be clicked. Not a big problem, but in my case, help in that section becomes useless. Not postinga reproducible example since it is a simple, but crucial bug.
![image](https://user-images.githubusercontent.com/40423004/125799370-f084bfd9-9cf0-4119-978a-f5ec1401ef4d.png)

[2021-07-15 14:46] dsaad68 commented on #3520
I have uploaded har file.

[2021-07-15 15:26] smic-datalabs-von commented on #726
Is there an update on this? It would be nice to have this feature in streamlit 😄

[2021-07-15 19:59] CharlyWargnier opened #3561 "Enable emoji shortcodes to work in widgets"
Current Emoji ico codes are working but not shortcodes.

---

Community voting on feature requests enables the Streamlit team to understand which features are most important to our users.

**If you'd like the Streamlit team to prioritize this feature request, please use the 👍 (thumbs up emoji) reaction in response to the initial post.**

[2021-07-15 22:26] tvst commented on #3520
Thanks, that was helpful! I found the issue: apparently the JSON viewer library we're using gets confused when you pass it an object that has a key called `length`. Because of that keyword it thinks the object is actually an array :facepalm:

We'll see if the latest version of the library also has this issue, and, if so, we'll open a bug report.

In the meantime, can you rename your `length` key t

[2021-07-15 22:28] tvst commented on #3520
For future reference, here is how you repro this bug:

1. Run this script
[code]

1. Try to expand one of JSON object's branches

[2021-07-15 22:36] tvst commented on #3520
Hmmm... if I'm reading [this correctly](https://github.com/streamlit/streamlit/blob/develop/frontend/package.json#L87), we **are** using the [latest version](https://github.com/mac-s-g/react-json-view/blob/master/package.json#L4) of that library.

If this is true, we should verify that this repros with a toy demo of the JSON viewer library, and then file a bug them

[2021-07-16 00:29] #3300 closed, assigned to willhuang1997

[2021-07-16 05:21] pjgao commented on #3052
same features needed, any update?

[2021-07-16 07:51] dsaad68 commented on #3520
@tvst I found a way around this bug. I encapsulate my dict in another dict, like below:

[code]

[2021-07-16 12:31] linyang23 commented on #3471
By modifying some code to `hist_values = np.histogram(data[DATE_COLUMN], bins=100000000, range=(0,1000000000000))`, i successfully reproduced this bug. By checking the task manager of windows, I found that the computer freezes is caused by the 100% consumption of RAM resources.

[2021-07-17 21:11] sbetko commented on #894
Hi @asaini ,

I thought I would describe a common use-case of mine for removing the step buttons. A lot of my Streamlit apps include some preliminary data manipulation functionality, like inputting various minimum/maximum constraints which then get applied to, say, columns of a dataframe. For one app, I'd like to be able to do this in the sidebar, since it isn't the main functionality of the app,

[2021-07-17 22:37] kmcgrady commented on #3028
Hi @lgeiger ! We are definitely considering a change soon!

[2021-07-18 05:55] MarcSkovMadsen commented on #3028
I would suggest changing the name to something even more unique like `st-health-check` or `streamlit-health` to make sure it does not coincide with anything already in use on any service.

[2021-07-18 20:54] NikhilBartwal opened #3566 "Error caching pandas-profiling report"
### Summary

When I try to cache the result of a pandas-profiling report, streamlit gives this error:
[code]

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

The profile report should have been generated and cached, such that generating report for the same dataset again doesn't take time.

**Actual behavior:**

Streamlit isn't able to hash the report properly.

### Is this a

[2021-07-19 05:49] vdonato opened #3568 "Spurious warnings printed when files uploaded using st.file_uploader"

[2021-07-19 05:53] vdonato opened #3569 "Existing widget value may not be preserved when widget type changes"

[2021-07-19 08:13] stonebig commented on #3370
is pyarrow absolutely necessary ? pyarrow is not [available ](https://issues.apache.org/jira/browse/ARROW-2651) on PyPy3, so it's the primary (unique ?) reason I can't have streamlit on PyPy3

[2021-07-19 10:44] amandalmia14 opened #3570 "Running two functions simultaneously"
Hello everyone,

I have a query. There is a function which have 3 steps,
Step A, Step B, Step C
The above function is initiated when we click a “Submit” button. (Its more kind of a form which will analyze input data along with the progress bar)

I need to update the progress bar as steps gets completed in the backend (running on different port) of the code.

Currently, I am appending the status of

[2021-07-19 13:49] randyzwitch commented on #3570
Hi @amandalmia14 -

Since this isn't a bug or feature request, please post this to our community forum, where more people will be able to take a look.  Thanks!

https://discuss.streamlit.io

Best,
Randy

[2021-07-19 13:49] #3570 closed, assigned to nobody

[2021-07-19 15:25] amandalmia14 commented on #3570
@randyzwitch Thanks for the suggestion, I have already [posted](https://discuss.streamlit.io/t/running-two-functions-simultaneously/15159 ) it.

[2021-07-19 18:52] AnOctopus opened #3572 "Server/ReportSession/ReportContext refactor design doc"

[2021-07-19 19:07] andfanilo commented on #3370
Hey @stonebig, if memory serves right Arrow is set to be the default serialization protocol for Dataframes soon ([PR](https://github.com/streamlit/streamlit/pull/3498))...so any Streamlit method that interacts with Dataframes uses PyArrow, from st.dataframe to Altair/Plotly/Vegalite charts uses it, so yeah it is going to be a required dependency :confused:

I have a basic understanding for the pro

[2021-07-19 19:08] #3572 closed, assigned to AnOctopus

[2021-07-19 19:30] andfanilo commented on #3566
Hello @NikhilBartwal,

As a prerequisite, you can read [the Advanced guide for caching](https://docs.streamlit.io/en/stable/caching.html#typical-hash-functions) which describes some best practices for applying custom hashing for Python elements when putting them into cache.

Basically, you can customize the way Streamlit hashes elements of a Python object, depending on how important you consider t

[2021-07-19 19:31] stonebig commented on #3370
ok, will wait for Arrow availability on PyPy3.

[2021-07-19 19:35] andfanilo commented on #3370
@randyzwitch @snehankekre @mesmith027 pretty sure you can close this issue as dupe of #2668 :)

[2021-07-19 21:39] kmcgrady commented on #3410
This change has been included in the latest release of 0.84.2. Let us know if any issues arise. Thank you for your patience and support!

[2021-07-19 21:40] kmcgrady commented on #3531
This change has been included in the latest release of 0.84.2. Let us know if any issues arise. Thank you for your patience and support!

[2021-07-20 01:11] kmcentush commented on #389
I would like to reopen this, as this issue is once again being display in v0.84.2. I would also second that the preferred solution is that the multiselect returns an empty list.

In the case this cannot be reopened, I opened a new issue here: #3575. Apologies in advance if this creates any inconvenience.

[2021-07-20 01:14] kmcentush opened #3575 "Previously fixed bug is back: selectbox not working as expected when "navigating between pages""
The exact same issue as #389 is present in v0.84.2. I copied the minimal reproducible example and once again ran into the issue posted there.

My preferred solution would be to return an empty list.

[2021-07-20 01:29] vdonato commented on #3575
Hi @kmcentush, thanks for reporting this!

This regression is known and is currently being tracked in #3512, so I'll close this issue as a duplicate of that one. We're hoping to get a fix out in a patch relatively soon.

[2021-07-20 01:29] #3575 closed, assigned to nobody

[2021-07-20 01:41] vdonato commented on #3370
Ah, yea I think this is indeed a dupe of #2668. Thanks for the heads up @andfanilo!

[2021-07-20 01:41] #3370 closed, assigned to nobody

[2021-07-20 02:07] vdonato commented on #3513
Hey @gwk, sorry about the radio silence!

I'd guess that, while removing the dependency altogether may be preferable in the long-run, it'd most likely be a relatively substantial rewrite (at least compared to upgrading click). I don't think it would be too difficult, but since an upgrade to click v8 seems like much more low-hanging fruit, I feel like the upgrade would be worth doing in the short t

[2021-07-20 02:14] vdonato commented on #3471
Hi @linyang23, do you happen to know if the same type of full system freeze occurs when running the line of code reproducing the bug in a raw python script? If so, then unfortunately it's unlikely that we'll be able to fix this problem within streamlit itself, but if not, then we can certainly investigate what might be improved about our execution model to avoid this issue.

[2021-07-20 02:23] vdonato commented on #3557
Thanks for reporting this @schaumb! It turns out we're actually discussing how this should work from a product standpoint as a related bug (https://github.com/streamlit/streamlit/issues/3512) brought the behavior of widgets that are removed and redisplayed to our attention.

Exactly how we handle this is a bit tricky as there are cases where we want the opposite behavior, but we're hoping to have

[2021-07-20 02:26] vdonato commented on #3544
Hi @shashankbr07, thanks for sharing your question! Unfortunately we can't always dig deep and troubleshoot challenges like this on GitHub. We typically use GitHub for feature requests and bug reports.

For troubleshooting help, you can visit our awesome [community forums](https://discuss.streamlit.io/), where thousands of other Streamlit hackers help each other and talk about the amazing things t

[2021-07-20 02:26] #3544 closed, assigned to nobody

[2021-07-20 07:14] linyang23 commented on #3471
I did a test and found the same type of full system freeze occured when running the line of code reproducing the bug in a raw python script(By adjusting it to a larger number)，thank you for your reply！

[2021-07-20 10:05] TimFang4162 opened #3577 "Return blank on safari"
### Summary

I wrote a little program, and there was no problem debugging it locally, but when I opened the page with my mobile phone, it showed a blank

### Steps to reproduce

Code snippet:

![图片](https://user-images.githubusercontent.com/60050973/126303025-26da9125-e9c1-48e1-9905-d92065cec344.png)

**Expected behavior:**

![图片](https://user-images.githubusercontent.com/60050973/126303208-097921

[2021-07-20 16:16] kajarenc opened #3580 "date_input widget should thrown an exception if value not in (min_value, max_value) range"
### Summary

date_input widget should throw an exception if value not in (min_value, max_value) range.
An exception should be thrown also in case of range input, when left and right values of a provided interval are less (or great) than min_value or max_value.

### Steps to reproduce

Code snippet:

#### For single value

[code]
#### For range value

[code]

**Expected behavior:**

Should throw an

[2021-07-20 16:40] kmcentush commented on #3575
Thanks! Apologies for reporting the same bug, and I appreciate the quick response.

[2021-07-20 17:48] kajarenc commented on #3194
@BugzTheBunny This bug has been fixed and it will be included in the next release

[2021-07-20 17:48] #3194 closed, assigned to kajarenc

[2021-07-20 20:59] schaumb commented on #3557
While the linked issue is about a python run widget reappear event, here only a front-end modification happened (expander open and close ; beta expander "value" is not synchronized back to back-end, so no rerun happened).

So I am not really understand how related the issue.

[2021-07-20 21:13] riyadparvez commented on #602
Is there any update on this feature request?

[2021-07-20 21:19] vdonato commented on #3557
Ah, thanks for the clarification. This was my mistake -- I thought that the two issues looked similar so incorrectly assumed that they had the same root cause. You're right that these aren't related, and I'll investigate this bug this week or next if I have the bandwidth.

[2021-07-20 21:20] vdonato commented on #3471
Thanks for looking into this @linyang23! Since it seems like this happens when things are run in Python without streamlit, it doesn't seem like this is an issue that's fixable on our end, so I'll close this issue.

[2021-07-20 21:20] #3471 closed, assigned to nobody

[2021-07-20 22:00] vdonato commented on #3537
Hey @pranavr2003, thanks for your interest in making a contribution! We'd be happy to have some help with fixing this bug if you want to work on it!

After doing some local testing and looking through the code, I believe that passing a local .svg file does indeed work, and it's specifically the .svg URL case that's broken. It looks like the reason for this is because the code simply assumes that a

[2021-07-20 22:37] vdonato opened #3581 "Plan for App.tsx refactor"

[2021-07-21 00:57] pranavr2003 commented on #3537
@vdonato Yeah, I was thinking the same thing, adding a dependency would indeed not be the best choice ahead. But since `requests` is already there, like you said, finding the root cause of the bug and trying to fix **that** should do the trick. I'll look into this and get back when I have an update on the issue

[2021-07-21 04:11] pranavr2003 commented on #3537
@vdonato

It does seem to work with local SVG files that specifically don't have other XML strings or even any comments on it. Try using `st.image` with [this](https://svgstudio.com/files/1/0269/1435/files/freesample.zip) (it is a zip file with a sample svg). If you see the XML code, you might notice the first three lines are unrequired XML strings and a comment, that when removed, work with `st.i

[2021-07-21 14:19] SamueLacombe opened #3584 "@st.cache crash"
### Summary
Hello,

I'm using Heroku to host my streamlit apps and I'm getting an error when I use "@st.cache" to cache a function that return my Machine learning model. My goal was to avoid loading my model every single time I wanted to translate something.

error:
`what(): instance allocation failed: new instance has no pybind11-registered base types
`
### Steps to reproduce

Code snippet:

[cod

[2021-07-21 15:16] SamueLacombe commented on #3584
Well, I just happen to find on the net that I need to use this:

`@st.cache(allow_output_mutation=True) `

in order for it to work.

[2021-07-21 15:16] #3584 closed, assigned to nobody

[2021-07-21 15:40] shervinmanzuri opened #3585 "Onclick callback for Forms runs before being clicked"
### Summary

Using the new `session_state` functionality, when adding a function to the `on_click` attribute of `st.form_submit_button` (tested with sidebar), the callback is called the first time application runs before the user clicking.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior vs Actual:**

The first time app runs there shouldn't be a "Foo" in the terminal and it shou

[2021-07-21 17:11] scott-trinkle opened #3586 "Allow initialization of range slider with session state"
### Summary

I want to be able to create a slider and a checkbox where if the checkbox is unclicked, the slider functions as normal with some default value `val1`, but if the checkbox is clicked, the slider is locked in to a default value `val2` and resets to this value with every rerun, independent of user action.

This functionality is possible with a standard slider using session state and key

[2021-07-21 17:58] scott-trinkle commented on #3586
I found a workaround for now by initializing values in the call to `slider` and manually setting them when `use_val2` is checked.
[code]

This throws a warning described at the bottom of [this page](https://docs.streamlit.io/en/stable/session_state_api.html)...is there an easy way to disable this warning?

[2021-07-21 18:19] stehuang opened #3587 "Multi-Selectbox Options Cut Off"
Hi All,

I ran into a formatting issue when using the Multi-Selectbox- some options with longer names are cut off. Is there anyway to resolve this issue? Ideally, to have the options expand two/multiple lines.

Thank you!

![Screen Shot 2021-07-21 at 11 15 31 AM](https://user-images.githubusercontent.com/35130039/126539393-88eeea63-93e4-4898-b9e2-dabadc9fa629.png)

[2021-07-21 19:29] kinghuang opened #3588 "Condensed font option"
### Problem

I tend to have wide text data to show. In my custom Streamlit components, I have been using [IBM Plex Sans Condensed](https://fonts.google.com/specimen/IBM+Plex+Sans+Condensed) in addition to the [IBM Plex Sans](https://fonts.google.com/specimen/IBM+Plex+Sans) that Streamlit uses as the `sans serif` [theme font option](https://docs.streamlit.io/en/stable/theme_options.html#font). I wo

[2021-07-21 19:48] #3512 closed, assigned to vdonato

[2021-07-21 21:10] tkeech1 commented on #3509
I'd like to work on this. @kmcgrady Please let me know what you have in mind for additional tests.

[2021-07-22 00:45] AnOctopus commented on #218
Following the reproduction steps on 0.84.2 I get the expected result. I think it was fixed by [#2760](https://github.com/streamlit/streamlit/pull/2760).

[2021-07-22 00:45] #218 closed

[2021-07-22 03:07] AnOctopus commented on #678
I have tested this with 0.84.2 (which has session state) and the behavior still happens.

After a little investigation, I realized that this is an instance of what we call the "off-by-one" error.
Essentially, because the script is executed top-to-bottom with updated widget values each time an interaction happens, the events go as follows:

1. The file is read, `before` defaults to `a`, `after` def

[2021-07-22 06:10] vdonato commented on #3585
Thanks for reporting this @shervinmanzuri! I'll see if I can look into this in the next few weeks

[2021-07-22 06:28] vdonato commented on #3587
Hi @stehuang!

If I'm remembering correctly, this was actually an intentional decision as it's somewhat rare to have people use the multiselect widget with labels that are long enough to need to wrap around to the next line, and things would often look weird with multi-line options.

Of course, if enough people end up having trouble with long labels being truncated, then we'll be more likely to re

[2021-07-22 06:34] munivinayk commented on #727
@tvst Hi do you have the latest update on this topic? I have been using some shortcuts - but its not looking good :) its good to have a configurable navigation bar.
![Screenshot 2021-07-22 at 2 33 22 PM](https://user-images.githubusercontent.com/26641033/126598490-b338d515-5523-4c04-a5b3-5b234ee1789d.png)

[2021-07-22 06:44] vdonato commented on #3586
Thanks for reporting this @scott-trinkle! It seems like `st.slider`'s type validation is a bit too restrictive now that it's possible to set a widget's value via `st.session_state`. I'll try to get a fix out for this if I have some time to do so ​in the next few weeks.

There's unfortunately no easy way to disable the warning you're getting at the moment, but I agree that it's something we may wan

[2021-07-22 07:00] quantoid commented on #2751
Hi, any update on this, like a target release date?

[2021-07-22 07:46] vdonato commented on #3537
Thanks for doing this investigation, @pranavr2003!

`.svg`s with additional tags not working with `st.image` is indeed annoying, and I agree that we'll want to fix both bugs, although I do think that this would be best done with two separate PRs.

The URL bug is at its core an issue with the code assuming that any string ending with `.svg` is a path to a local file and not considering the possibil

[2021-07-22 09:05] rcsmit opened #3593 "'AxesImage' object has no attribute 'savefig'"
### Summary
Error when using _st.pyplot(fig)_. When using _st.pyplot()_ it works, but you get a depreciation warning.

### Steps to reproduce

df:

YYYY  : int (years)
TG      : float (average temperatures)

Code snippet:
[code]
(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

[2021-07-22 16:55] AnOctopus commented on #711
There are several different things that this is/might be asking for that we can do in some capacity, but since I am not familiar enough with the functionality requested I don't know if we cover all things it might mean.
Conditionally showing a widget is easily done with a button or checkbox. Executing a function iff a particular widget has changed is something now available with the callbacks adde

[2021-07-22 17:02] shervinmanzuri commented on #3585
Thank you. I also wanted to add that it's not specific to forms either apparently, I go into a page with a sole button and the on_click callback is called before the button is clicked as well.

[2021-07-22 17:20] AnOctopus commented on #902
With the release of session state, we now have callbacks, although without knowing more about how the code in question works I don't know if it directly solves your use case or at least makes it easier.

[2021-07-22 17:20] #902 closed

[2021-07-22 17:41] AnOctopus commented on #1735
I tested out the repro code (with modifications for api changes, and an unrelated widget added at the bottom) on the current version of streamlit with session state, and the checkbox in the sidebar maintains its state, and the app maintains the expected behavior, as I interact with other widgets. So if I understand the issue correctly, I think this now works.

[2021-07-22 17:41] #1735 closed, assigned to nobody

[2021-07-22 17:56] AnOctopus commented on #2820
I tried reproducing this with the above script on the current version of Streamlit that has the integrated implementation of session state, and couldn't get the ghost elements to appear after a number of tries. So I think this is fixed, but @iharshulhan if you encounter this again with the new implementation please reopen so I can investigate.

[2021-07-22 17:58] asaini opened #3594 "Vertically stack columns when viewport is below 640px"
### Problem

Let's look at the [NYC Uber ridesharing Ridesharing Data app](https://share.streamlit.io/streamlit/demo-uber-nyc-pickups/)

On larger viewports, for e.g. iPad Pro viewport (1366 x 1024), all the columns are rendered correctly with the relative proportions that a developer had intended

<img width="991" alt="Screen Shot 2021-07-22 at 7 35 59 AM" src="https://user-images.githubuserconte

[2021-07-22 18:13] #3022 closed, assigned to vdonato

[2021-07-22 18:17] AnOctopus commented on #3054
@leJOEndary Session state is now released, and the reproduction code appears to behave as desired on 0.84.2. Please let us know if you encounter this kind of issue again.

[2021-07-22 18:17] #3054 closed, assigned to nobody

[2021-07-22 18:51] AnOctopus commented on #3130
@cceyda

The reproduction code, with a naive translation to session state, continues to show this issue in the recently released implementation of session state (streamlit 0.84.2), for basically the same reason as I describe in [this other issue](https://github.com/streamlit/streamlit/issues/678#issuecomment-884626806).

However, modifying it slightly more to let session state do all of the work r

[2021-07-22 18:51] #3130 closed, assigned to nobody

[2021-07-22 20:17] AnOctopus commented on #3285
@jrock08

Unfortunately, the newly released session state implementation doesn't directly fix this, although the cause is now different from before. Previously, as you noted, the changed arguments caused it to be considered a new widget. Now, it is because we do this behavior deliberately, on the assumption that a changed default value indicates the script is being actively edited and so the state

[2021-07-22 20:50] AnOctopus commented on #3303
@vincbo

With the recent release of session state in core streamlit, the snippet you provided can now be written in a cleaner and more concise way that does not have this issue. Since widgets are integrated into the session state api, there is no longer a need for manually syncing the widget and session state values. This snippet works and I think does what the original wanted to do:

[code]

The

[2021-07-22 21:41] kmcentush commented on #3512
Can we expect this fix to be live in v0.85.1? Looks like it didn't make the cut for v0.85.0

[2021-07-23 00:22] vdonato commented on #3512
Hi @kmcentush, yep that's the plan. We didn't want to include this fix at the same time as a release as huge as arrow, so it'll go out in 0.85.1 early next week.

[2021-07-23 01:02] vdonato commented on #3557
Quick update: I took a bit of time to look into this, and it may be somewhat tricky to fix as when a file_uploader is hidden by the expander, we currently lose some of the file data that we'll need to properly re-render the file_uploader when it comes back into view.

Of course, the answer is to just store this data somewhere, but we'll want to do a bit of thinking to figure out where that best pl

[2021-07-23 05:17] tengjuilin commented on #1019
+1 for directory selector.
The sweet code above by @koh-joshua is fantastic to use outside of a [form](https://blog.streamlit.io/introducing-submit-button-and-forms/). Within a form, however, streamlit prohibits the use of button().

[2021-07-23 09:31] SantoSimone commented on #3133
Interested on this! Is there any way to show a tooltip with latest version of streamlit?
BTW, I agree with @remisphere on the fact that a simple addition of `title` is enough for media content to show a nice tooltip.

[2021-07-23 10:40] quantoid opened #3596 "Selector returns invalid option if present in session_state"
### Summary

If the value of a selector saved in the session_state doesn't match the available options, the selector takes that value anyway even though it's no longer valid.

This can happen if the selector options are dynamic, and interacting with the dashboard changes the options.

I could check the value is one of the options every time but that shouldn't be necessary, the selector should ensu

[2021-07-23 10:49] quantoid commented on #3596
Doh! Just checked traceback, it's not in Streamlit. Sorry.

[2021-07-23 10:50] quantoid commented on #3596
Updating description to reflect what actually goes wrong in Streamlit...

[2021-07-23 16:55] GokulNC opened #3597 "OSError: cannot write mode P as JPEG"
### Summary

When I upload a PNG image using `st.file_uploader` and try to display it, it throws an error because Streamlit doesn't seem to support displaying images with alpha channel.

### Steps to reproduce

[code]

You can use this image:
https://www.researchgate.net/profile/Vk-Koppula-2/publication/224106740/figure/fig7/AS:670427986796555@1536853896257/a-Telugu-text-image.png

**Expected beha

[2021-07-23 17:11] kinghuang opened #3598 "Initializing default session_state value for a selectbox raises ValueError if options change"
### Summary

If I create a [selectbox](https://docs.streamlit.io/en/stable/api.html#streamlit.selectbox) with a key that stores the selected option in session_state and the options for the selectbox changes, Streamlit raises a `ValueError` that the previous selection is not in the new options.

### Steps to reproduce

Code snippet:

[code]

#### Case One (Error)

1. (Optional) Choose an option fro

[2021-07-23 18:56] asaini opened #3600 "st.select_slider resets its state upon interaction(v0.84)"
### Summary

This came up in a forum issue, but it seems like we've broken something in `st.select_slider`: https://discuss.streamlit.io/t/streamlit-resetting-the-slider-for-v0-84-1/15125/2

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

Moving the slider should retain its widget state

**Actual behavior:**

Moving the slider resets its widget state right away.

I sometimes

[2021-07-23 19:51] kinghuang opened #3601 "on_change not called for first session_state value"
### Summary

Streamlit 0.84 introduces an [`on_change` callback](https://docs.streamlit.io/en/stable/session_state_api.html#use-callbacks-to-update-session-state) for some interactive widgets as part of the new Session State API. I've found that the callback is not invoked for the first value (i.e., the widget's default or initial value), only for subsequent values.

### Steps to reproduce

Code s

[2021-07-23 20:10] kinghuang commented on #3594
I sometimes use [`beta_columns`](https://docs.streamlit.io/en/stable/api.html#streamlit.beta_columns) in the sidebar, which is always < 640px in width, and I wouldn't want it to wrap there. If wrapping logic is added, I think there should be an argument to enable/disable the behaviour.

[2021-07-23 20:30] munozbravo opened #3602 "InternalHashError: 'Spines' object does not contain a 'name' spine"
### Summary

Hello,

Message received when trying to cache a function that returns a Matplotlib figure. "Streamlit encountered an object of type matplotlib.spines.Spines, which it does not know how to hash. In this specific case, it's very likely you found a Streamlit bug so please file a big report here". If `@st.cache` omitted it works fine.

### Steps to reproduce

Function is defined below:

[

[2021-07-23 20:31] munozbravo commented on #3602
Apologies if failed to follow any guideline. I just did what the error message suggested.
Thank you all for Streamlit.

[2021-07-23 20:49] kinghuang opened #3603 "Interactive widgets should not output labels if label argument is an empty string"
### Summary

Since Streamlit 0.83, all the interactive widgets (except for [streamlit.radio](https://docs.streamlit.io/en/stable/api.html#streamlit.radio)) outputs a `<label>` element for the widget even if the label value is an empty string. Before 0.83, setting a widget's label to an empty string left out the `<label>` element.

The current behaviour results in unwanted vertical whitespace befor

[2021-07-23 22:01] vdonato opened #3604 "st.image does not render .svg files with other, common tags"
As mentioned in [this comment](https://github.com/streamlit/streamlit/issues/3537#issuecomment-883872032), `st.image` breaks when trying to display `.svg` files when there are other top-level tags that aren't svg tags.

It's unfortunately reasonably common for an svg file to look something like the example below, which means many downloaded svg files aren't compatible with `st.image` without modif

[2021-07-23 22:11] vdonato opened #3605 "Add a config option to disable warning for setting both a widget default and its key in session_state"
We currently print a warning as shown below when a user sets both a widget default value in the function defining the widget as well as a widget value via the widget's key in `st.session_state`

![warning screenshot](https://raw.githubusercontent.com/streamlit/docs/main/public/images/state_value_api_exception.png)

While we certainly want to do this by default since doing both is not recommended,

[2021-07-23 22:45] vdonato commented on #3588
Thanks for the suggestion @kinghuang! I'll loop in our product team so we keep this in mind as a future improvement (CC @asaini).

[2021-07-23 23:02] vdonato commented on #3597
Hey @GokulNC!

I think there may be something else going on here as I'm unable to reproduce the issue by calling `st.image` on the image you provided. Are you able to provide a minimal code snippet and repro case?

My attempt uses the following small script
[code]

[2021-07-23 23:17] vdonato commented on #3601
Hi @kinghuang!

This is currently working as intended (semantically, we didn't want to consider the initial render of a widget a change to it), and I believe that most implementations of callbacks (for example, javascript `onchange` handlers) follow the same convention.

I can, however, see how needing to special-case the initial state to have certain things run could be a pain depending on your u

[2021-07-23 23:25] vdonato commented on #3596
Hi @quantoid!

Could you please provide a small code snippet illustrating the bug? I think I'd be able to create one using your description of what's going on, but a snippet would be really helpful to make sure that I'm not misinterpreting or losing anything when converting from your description into code. Thanks!

[2021-07-23 23:40] vdonato commented on #3598
Thanks for reporting this @kinghuang!

Looks like this may be a general issue with widgets that take a list of options (I'm not entirely sure, but #3596 seems related). We'll try to look into this relatively soon (ideally within the next few weeks).

[2021-07-24 06:06] GokulNC commented on #3597
Thanks. Looks like I wasn't precise enough.
Modified your snippet to reproduce the issue with that sample image:

[code]

That is, when I set the `width` explicitly, I face that error.

[2021-07-24 16:12] kinghuang commented on #3601
While that does match how an `onChange` handler on an html `<select>` element would behave, I'd argue that it's not the right call for Streamlit, especially as part of the State API.

The programming model for Streamlit's interactive widgets is purely data oriented. When a widget like [`st.selectbox`](https://docs.streamlit.io/en/stable/session_state_api.html) is called, the return value is the wi

[2021-07-24 16:27] kinghuang commented on #3598
Thanks. I suspect #3600 might be related, too.

[2021-07-24 17:42] kinghuang commented on #3601
Here's another example of the problem, which requires even more complexity to solve. For a selectbox, if the options change, the `on_change` handler is not called for the first selection of the changed options.

[code]

Starting with `A` (the initial value), then selecting `B`, and `C` from the **Item** selectbox, then selecting **List** `Two` and continuing with `D`, `E` and `F` results in the `o

[2021-07-25 01:08] dsepulvedag commented on #455
Watching! :)

[2021-07-25 07:41] andfanilo commented on #3602
Great job on finding your way out of this :)

There was a similar issue here: https://github.com/streamlit/streamlit/issues/3100 if you want to check some more discussion

Anyway feel free to write up your findings here and then close the issue so we can link back to your answer for other people.

Happy Streamlitin"
Fanilo 🎈

[2021-07-25 07:43] andfanilo commented on #3538
@mohitagr18 Hello!

There is a discussion about this on https://github.com/streamlit/streamlit/issues/3100 which discusses advanced caching techniques for more complex objects like Matplotlib figures.

Have a nice day,
Fanilo

[2021-07-25 14:26] s4m-mo opened #3608 "Set_page_config Error when using on_change function"
### Summary

When using the multiselect widget, and specifying the `on_change` parameter, this error occurs:

[code]

### Steps to reproduce

Code snippet:

[code]

This, however does not happen when you don't write the `st.set_page_config` command.

--------------------------

##### NOTE: This error occurs whatever the arguments are in `st.set_page_config`

-------------------------------

If app

[2021-07-25 16:42] gald89 commented on #1161
I have encountered this problem when trying to mark € values in the y-axis in an altair chart. Dollar values are possible using the follow code but other currencies such as euro require a locale change.

[code]

[2021-07-25 16:54] munozbravo commented on #3602
Thank you @andfanilo and apologies for raising a previously raised issue.
The solution presented by @StefanBrand in issue #3100 worked for me. (using `@st.cache(hash_funcs={matplotlib.figure.Figure: hash})` )

Thanks again.

[2021-07-25 16:54] #3602 closed, assigned to nobody

[2021-07-26 10:50] StefanBrand opened #3609 "Bokeh charting function broken"
### Summary

Nothing appears when trying to plot a `st.bokeh_chart`

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

Bokeh chart appears.

**Actual behavior:**

Nothing appears. (Page stays blank.) Console shows: `[bokeh] JS/Python version mismatch`

### Is this a regression?
I assume that it had been working in earlier versions of Streamlit and Bokeh.

### Debug info

- Str

[2021-07-26 11:02] Digaari commented on #3502
Hi @kmcgrady Thanks for responding!
I manged to solve it with configuring a css file.
The issue is now resolved. thanks a lot!! 🙌🏻

[2021-07-26 11:02] #3502 closed, assigned to nobody

[2021-07-26 11:13] jkapila commented on #439
Waiting to get this in `beta` or `experimental` phase. This would solve for multiple problems, majorly catering ML needs.

[2021-07-26 13:48] MarcSkovMadsen commented on #3609
The fundamental problem is that Streamlit includes it’s own Bokeh JS instead of the js associated with the specific version of bokeh used. See https://discourse.bokeh.org/t/bokeh-plots-not-rendering-in-streamlit-on-azure-platform/8081/9

A lot has happened since Bokeh 2.0 which I believe is the version supported in Streamlit.

[2021-07-26 15:06] kinghuang commented on #2001
Any update on Python 3.9 support? I'm down to just Streamlit now before I can move to Python 3.9!

[2021-07-26 16:16] kmcgrady commented on #3502
Awesome @Digaari ! Thanks! Can you share what CSS you added to make it work? I wonder if there's something I can add for future issues.

[2021-07-26 18:33] kajarenc opened #3610 "Download button should accept unicode file_names"

[2021-07-26 18:35] kajarenc opened #3611 "Integrate Download button with Session State"

[2021-07-26 18:37] kajarenc opened #3612 "Test download button behaviour with large files."
Check that for "dynamic data" MediaFIleManager handles correctly file removals with same coordinates

[2021-07-26 18:39] kajarenc opened #3613 "Test that download button file names constructed correctly in Streamlit Cloud"

[2021-07-26 18:44] kajarenc opened #3614 "Refactor MediaFileManager class"
Rename MediaFIleManager to File manager.
Maybe move new  MediaFile fields 'is_static download', 'filename' in to dictionary in MediaFileManager.

[2021-07-26 22:48] tvst opened #3616 "unsafe_allow_html does not support nested tags"
### Steps to reproduce

[code]

**Expected behavior:**

Should render "hello world" on the screen.

**Actual behavior:**

Renders this:
![image](https://user-images.githubusercontent.com/690814/127068845-5d398602-7924-44b3-bd0e-a0c9d9bea226.png)

Text:

    Error parsing Markdown or HTML in this string:
    <span>hello <span>world</span></span>

### Is this a regression?

no

### Debug info

- Str

[2021-07-27 00:40] vdonato commented on #3608
Hi @Password-Classified! I believe this bug was fixed in v0.84.2, so I'll close this issue. Please let me know if you continue to encounter this problem after a version upgrade.

[2021-07-27 00:40] #3608 closed, assigned to nobody

[2021-07-27 00:50] vdonato commented on #3597
Thanks @GokulNC!

I'm now able to repro the issue, and I'll investigate further if I have the time to do so next week.

As far as I can tell from a quick glance at the code, it seems like we're somehow trying to display images uploaded to the `file_uploader` as a jpg when the `width` argument of `st.image` is set, so a workaround is to explicity specify that the output file type should be a png.

[2021-07-27 01:04] vdonato commented on #2001
@kinghuang I believe we recently closed out the last few things blocking us from supporting Python 3.9. https://github.com/streamlit/streamlit/pull/3488 changed a snippet in our documentation to mention 3.9 as a supported version, but I'm not sure if there are other things that we need to do to get to formal support.

@kantuni can confirm that this is the case, but I'm fairly certain we should be

[2021-07-27 01:16] vdonato commented on #3601
Thanks for the detailed write-up @kinghuang! I'll loop in our product team to make sure these examples get some visibility (cc @asaini).

[2021-07-27 14:58] randyzwitch commented on #2001
Agreed that this can be closed, as the setup.py should be the final arbiter if this is supported:

https://github.com/streamlit/streamlit/blob/develop/lib/setup.py#L72

We do need to change this on the front page of the docs, which I'll do now (cc: @snehankekre )

[2021-07-27 14:58] #2001 closed, assigned to nobody

[2021-07-27 17:53] ushinghal19 commented on #727
@tvst Hi! is there any progress being made for this feature? I wanted to create my personal website on Streamlit because I love the api and making websites is amazingly easy. Was hoping for a topbar as well :)

[2021-07-27 21:18] krystian3w commented on #3274
Line was deleted https://github.com/yourduskquibbles/webannoyances/commit/e4ec90981ff5e02b467c3deb237a8b9875f185d7#diff-368b0d8425089ee1b2840cabae9395b967d10fec82f7b996c1987418c9729b2aL1800

so no need create fork their repo.

[2021-07-27 22:17] asaini commented on #3512
@clo-vis , @kmcentush: This has been fixed in v0.85.1

[2021-07-28 03:30] jenna-jordan opened #3622 "Plots opened in new tabs for localhost streamlit app"
### Summary

Disclaimer: this was not me that had this error, but a learner in a workshop I ran. I was not able to replicate the error, but I was able to confirm that the code and environment was identical to mine.

When the learner ran `streamlit run app.py`, the app opened in a new tab (as it is supposed to), but then the default plot also opened in it's own tab. In the URL box, I could see that

[2021-07-28 05:20] quantoid opened #3623 "Allow dashboard menu options to be changed"
### Problem

All Streamlit dashboards have a menu button top-right that gives various options such as "report a bug". The problem is these take users to the [streamlit issue tracker](https://github.com/streamlit/streamlit/issues/new/choose), assuming the bug is with Streamlit itself rather than it being a problem on our dashboard. This confuses our dashboard users.

This menu is aimed at dashboard

[2021-07-28 05:48] quantoid commented on #3596
You'll (sometimes) get an assertion error here if you select an option that's not in the alternative list that comes up next:

[code]
<img width="736" alt="Screen Shot 2021-07-28 at 3 56 57 pm" src="https://user-images.githubusercontent.com/672489/127271184-47250107-dd54-47c9-a66f-9ee94d0d4880.png">

[2021-07-28 15:19] kammer opened #3624 "TypeError: expected bytes, int found on write of pandas DataFrame"
### Summary
just updated to the newest 0.85.1 version to benefit from the nice Apache Arrow framework. My application reads some CSV files, which still works fine. But on some of them (they differ a lot in terms of separators, number format) I now get the error:

_TypeError: expected bytes, int found_

on a simple st.write(df)

Played around with exchanging tabs vs, space and dos vs unix linefeeds

[2021-07-28 15:47] asaini commented on #3601
Hi @kinghuang : I'm on the Product team at Streamlit. First of all, I want to say that we appreciate your efforts in bringing up this issue.

While the examples you share help illustrate the problem, we would love to learn more about your use case for requesting a callback to be called when a widget sets the initial/default value. Can you shed some light on the app you're trying to build and if yo

[2021-07-28 17:21] augustogeog opened #3625 "Incompatibility between Streamlit and Geopandas"
### Summary
There is an incompatibility between Streamlit and Geopandas, when working with conda environments. The channels from which they are available don't provide the same versions of Pyarrow. Pyarrow is paramount for so many tasks, and it is impossible to solve an environment in which the Pyarrow version for Geopandas and Streamlit is the same. Because of that, users can't save or load geoda

[2021-07-28 18:20] AnOctopus opened #3626 "Multiselect behaves weirdly when dynamically changing options list"
https://discuss.streamlit.io/t/removing-an-item-from-multi-select/15319

[2021-07-28 18:55] randyzwitch commented on #3625
It takes longer than I'd like for the solver to figure it out, but it works for me with conda:

[code]

[2021-07-28 19:01] kantuni commented on #3624
@kammer Thank you for opening the issue, and for using Streamlit. It means a lot to us!
I'll start working on it in a bit. Let's see if we can unblock you today.

[2021-07-28 19:42] augustogeog commented on #3625
Thanks for the fast response. I will check it again. I tried to create working environments four times. I will try to do it again. If the problem persists, I will try to check the geopandas side.

[2021-07-28 20:16] kinghuang commented on #3601
Sure, I don't have time to whip up a full example app right now, but I'll try to describe the main bits.

I'm currently using Streamlit to build a series of review apps for our spaCy NLP pipelines. Using the new State API, I've been storing a database session object, a batch of rows for review, and a process object (basically a controller for what's being reviewed). Central to the apps are custom

[2021-07-28 20:54] randyzwitch commented on #3625
No problem, good luck! I'm going to close this, but if it persists, leave another message here and we'll re-open.

[2021-07-28 20:54] #3625 closed, assigned to nobody

[2021-07-28 21:42] vdonato commented on #3600
Closing this since it was fixed in #3615, but the description for that PR didn't have the right keyword to link this issue

[2021-07-28 21:42] #3600 closed, assigned to AnOctopus

[2021-07-28 21:47] kantuni commented on #3624
It looks like the issue lies within the `name` of a Pandas `Index`. When `read_csv` is called with `index_col=0`, the name of the created `Index` is set to `0` (int), which Arrow has a problem parsing. Try setting the `Index` name to any string or None, i.e. `df.index.name = "foo"` or `df.index.name = None`. This should fix the issue.

P.S. Our legacy implementation just ignores the `name` argumen

[2021-07-29 01:15] rmb-rmn opened #3629 "To make the st.form area be folded after st.form_submit_button be clicked and unfold after st.form_submit_button be double clicked"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

st.form area will occupy a large explorer area when we put a lot of input or select component between st.form and st.form_submit_button.  If we want make space layout become more concise and crisp, one way is

[2021-07-29 02:32] asaini commented on #3594
@kinghuang: Thanks for sharing your perspective.

This change will only come into effect when the **overall** app viewport is <640px. For larger viewports, even though the sidebar width is <640px, Streamlit will continue to support multiple columns in the sidebar.

Whenever the **overall** app viewport is <640px(usually mobile devices), the current way of handling columns produces an inconsistent

[2021-07-29 06:11] ks00x opened #3630 "Make the increment buttons in number_input optional"
When using columns to layout several number_inputs(), the increment buttons leave too little space for the actual number and are often not very useful anyway. Add an attribute to switch them off.

[2021-07-29 14:47] kammer commented on #3624
Perfect that (setting a name on the index) fixes it - thanks a lot!
But shall close the ticket, or shall this stay open, since it sounds like this needs to be addressed in ... Apache arrow or ...anyhow?

[2021-07-30 00:42] kantuni commented on #3624
I'm glad it worked! I'm going to close this since it's not Streamlit related, and I'll open an issue in the [Arrow](https://github.com/apache/arrow) repo instead.

[2021-07-30 00:42] #3624 closed, assigned to kantuni

[2021-07-30 15:54] El-Ku commented on #862
+1

[2021-07-31 05:52] bengsoon opened #3631 "File Uploader Multi-file does not correctly accept multiple occasions of file batches"
### Summary

Multi-file option File Uploader does not seem to correctly process more than one batch of files.

### Steps to reproduce

Code snippet:

[code]

1. I adapted the File Uploader code from https://share.streamlit.io/streamlit/release-demos/master/0.68%2Fstreamlit_app.py
2. I wanted to have a file uploader that can process batches of files on top of existing batch
3. I had 18 (XLSx) files

[2021-07-31 15:27] murtazabasu commented on #3073
Hello @vdonato thanks for the code. The above code works however when the background property `background-attachment` is set to scroll, the bg image does not scroll with the other "scrollable content". Normally, this should work but using .stApp causes restriction to certain features of background property. I might be wrong, but I have tried to find solution for making the bg image scroll along wi

[2021-07-31 15:45] murtazabasu opened #3633 "Background Image not scrollable"
Hello @vdonato thanks for the code. The above code works however when the background property `background-attachment` is set to scroll, the bg image does not scroll with the other "scrollable content". Normally, this should work but using .stApp causes restriction to certain features of background property. I might be wrong, but I have tried to find solution for making the bg image scroll along wi

[2021-08-01 18:48] tonylegend opened #3634 "Dtype conversion error in V0.85 of the recent Pyarrow migration"
### Summary

Dtype conversion error in V0.85 of the recent Pyarrow migration

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**
Show dataframe as defined.

**Actual behavior:**
ArrowTypeError: ("Expected bytes, got a 'datetime.datetime' object", 'Conversion failed for column value with type object')

### Is this a regression?

That is, did this use to work the way you expected

[2021-08-01 18:48] benlindsay opened #3635 "st.experimental_set_query_params() behaves differently locally vs. on sharing.streamlit.io"
First of all, thanks for all the work you all do! Just tried streamlit sharing and it is really nice. Keep up the awesome work!

### Summary

Locally, `st.experimental_set_query_params()` changes the query parameters in the URL bar, but doesn't trigger a refresh or rerun of the script. On sharing.streamlit.io it seems like it does.

### Steps to reproduce

1. Create `app.py` with the content below

[2021-08-01 20:27] gallo-json opened #3636 "Importing Pillow ImageDraw and running streamlit app causes segmentation fault"
### Summary

I am trying to display a custom Pillow Image on my streamlit app, but running with `streamlit run` results in `Segmentation fault (core dumped)`.

This is a very strange issue, since streamlit supports PIL images (like in the documentation example https://docs.streamlit.io/en/stable/api.html?highlight=pil#streamlit.image)
However I want to write text on my image so I need to import `I

[2021-08-02 04:33] quantoid opened #3637 "Use conventional carets on expand elements"
### Problem

The +/- symbols used to expand/collapse the expander widget can be confusing for some users who are used to "+" meaning "create". They see the "+" on an expand called "Notes" and think that it will create a new note, rather than revealing some notes about the chart.

### Solution

**MVP:** Use the conventional ">" and "v" symbols to show that something expands/collapses.

**Possible a

[2021-08-02 05:57] nandgator commented on #3545
Hi, I would love to see this too. But I'm wondering if it's possible to mirror repository on GitLab onto GitHub and then host it using Streamlit...

[2021-08-02 07:20] someshfengde commented on #3545
no it can't GitHub restricted GitHub-lfs storage I've model stored at there (1 GB ) and I can't upload it on Github and in many cases GitHub doesn't help that much

[2021-08-02 13:45] gmerticariu opened #3638 "Health endpoint for checking that a script compiles and runs correctly"
### Problem

Currently there is no way to detect that the streamlit app is actually not running - if there is an error inside the client script (e.g. missing dependency, script error) the application still starts and the /healthz endpoint returns success.

S4T requires better app monitoring and it would be helpful to detect the applications that cannot start because the above type of error.

### S

[2021-08-02 18:11] finavatar opened #3643 "InternalHashError: encode() missing 1 required positional argument: 'encoding'"
### Summary

While caching the return value of setup_scraper(), Streamlit encountered an object of type bs4.element.CharsetMetaAttributeValue, which it does not know how to hash.

In this specific case, it's very likely you found a Streamlit bug so please file a bug report here.

In the meantime, you can try bypassing this error by registering a custom hash function via the hash_funcs keyword in @

[2021-08-02 19:23] akshanshkmr commented on #2312
Hi folks, i too noticed this issue in my streamlit app running overtop an nginx layer that deals with auth_gss.

Took me a full day to debug, @yamrzou's  snippet seems to have fixed it for now.

Do we have any updated timelines on adding a config variable for this?

[2021-08-02 19:48] #3594 closed, assigned to kantuni

[2021-08-02 22:17] awyee commented on #3634
Ran into the same issue.

Here is a minimal working example

[code]
This fails on 0.85.0 but works on 0.81.0 (the version I was upgrading from.

[2021-08-02 23:32] vdonato commented on #3633
Hi @murtazabasu, I unfortunately don't quite know how to get the behavior you need. I would recommend seeing if anyone in our [community forums](https://discuss.streamlit.io/) has any ideas as I'm sure some people there are more familiar than me with using style tags in `st.markdown` to work around limitations that we currently have with customization.

Going to close this issue as background imag

[2021-08-02 23:32] #3633 closed, assigned to nobody

[2021-08-03 08:05] ks00x opened #3646 "unexpected session_state behavior with keys"
Below is a basic code for a questionary where the user is asked 3 questions. The question counter logic works, but after each question/rerun, the value of the previous text_input value stored in the key attribute is set to an empty string. After the 3rd and last question st.session_state looks like this and <name> and <age> have been set to an empty string:
{
"name":""
"counter":0
"age":""
"pet":"

[2021-08-03 10:11] sayedathar11 opened #3647 "Make Module to connect to Oracle Databases"
Hiii Streamlit Team,
As per the documentation given [here](https://docs.streamlit.io/en/latest/tutorial/databases.html) , currently Streamlit supports connection to Big Query , My Sql and various other databases . But I noticed that there is no functionality and module available to connect to Oracle Database .
Oracle Databases are used by lot of companies and adding module to connect to Oracle Dat

[2021-08-03 10:23] oltipreka commented on #3603
This is an issue I have also encountered.
I totally agree with the expected behaviour proposed here.

[2021-08-03 14:36] kinghuang commented on #3603
The issue's a bit complicated, because it seems the empty `<label>` elements were intentionally added in #3317, in response to #3220. That PR optimizes for alignment across columns, but reverses past behaviour and gets in the way for other layouts.

I'm hiding the empty labels for now with a bit of css.

[code]

[2021-08-03 14:39] kinghuang commented on #3603
Just noticed #3642 fixes this.

[2021-08-03 16:34] mesmith027 opened #3649 "App "wiggles" back and forth on mobile or small width browsers (Mac and iPhone)"
### Summary

When using safari or chrome on a Mac or iPhone scrolling becomes tedious when the browser width is very narrow. The app "wiggles" back and forth and gives a bad user experience. Making it difficult to navigate the app.

A couple of users have documented this behaviour on the community forum:
https://discuss.streamlit.io/t/app-slides-left-to-right-on-mobile-doesnt-fit-screen/15597
http

[2021-08-03 18:11] adenhaus commented on #3649
Thanks @mesmith027 for opening this issue. Note: my F1 app has been used as an example, but I've experience this issue with every single Streamlit app which has more than just text in it (including ones from the Gallery). For some reason, the ones with just text don't wiggle, but as soon as there is a graph or chart, they do.

[2021-08-03 21:02] vnavkal opened #3651 "Support for caching outputs of coroutines"
### Problem
I'd like to be able to cache the values returned by coroutines.  If I have a long-running coroutine
[code]
I'd like to be able to await it
[code]
and have `result` computed from scratch on the first invocation but retrieved from the Streamlit cache on subsequent invocations.

I don't think there's a way to do this with existing Streamlit caching APIs; in particular, applying the `cache

[2021-08-03 22:35] vdonato commented on #3509
Fixed by #3632. The PR wasn't merged in time to make it in our upcoming release later this week (0.86.0), but it will be included in the one after.

[2021-08-03 22:35] #3509 closed, assigned to nobody

[2021-08-04 04:22] DmitryBe opened #3653 "When using `add_rows` with `datetime` index, the chart screen is not refreshed."
### Summary

When using `add_rows` with `datetime` index, the chart screen is not refreshed.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

The screen should be refreshed on each iteration.

**Actual behavior:**

It behaves as expected if using numeric type for index column
[screen record](https://drive.google.com/file/d/1yJ7c_5-mBqKuyZiX9dNvfvtY5JPggVCq/view?usp=sharing)

[2021-08-04 08:33] pranavr2003 commented on #3537
@vdonato I've tried solving the SVG URL issue for some time now, and I'm not able to find any viable solution, since I don't see anything in the code restricting `streamlit` from accessing SVG files from a URL. Making network requests seems to unfortunately be the only solution that is coming to my mind as of yet. As for the issue with local SVGs, maybe we can use `requests.get.text` to get the SV

[2021-08-04 09:51] pranavr2003 commented on #3604
@vdonato Please see [this](https://github.com/streamlit/streamlit/pull/3655)

[2021-08-04 09:53] pranavr2003 commented on #3537
@vdonato I've solved the issue with the rendering of local SVGs. Turns out there's an `if` statement conflicting with starting strings other than that of `<svg`, which is obviously not the case for most SVG files. See [this](https://github.com/streamlit/streamlit/pull/3655).

Still working on the URL issue.

Let me know what you think

[2021-08-04 10:35] murtazabasu opened #3656 "More button types and colors"
Hello, I want to customize buttons with different styles.
I am already using a local_css method to customize buttons in a page (following a particular a style of customization).
using this css:
[code]
and I call this method

[code]

Now the problem is, that I have a second page where I have new buttons and I want to customize each button with different styles, shape, etc. So what I did was I creat

[2021-08-04 13:27] zsz00 commented on #3530
@randyzwitch Can you help  fix this ??

[2021-08-04 18:39] #3597 closed, assigned to willhuang1997

[2021-08-04 19:22] kmcgrady commented on #814
This code works when you reverse the order of the decorators, and it makes sense. We are caching the `add` function...not the function generated with the defined value. I am going to close this as a very specific scenario.

[2021-08-04 19:22] #814 closed

[2021-08-04 19:22] #678 closed

[2021-08-04 19:39] kmcgrady commented on #124
Wide mode has made this much easier to use, so we are going to close this unless this becomes a major issue again.

[2021-08-04 19:39] #124 closed

[2021-08-04 21:20] kmcgrady commented on #3585
Hey @shervinmanzuri I am unable to repro this issue on the latest Streamlit. Could you upgrade and verify this behavior? Thanks!

[2021-08-04 23:59] kmcgrady commented on #3532
This is mainly due to the way our JSON display library works.

[2021-08-05 00:01] kmcgrady commented on #3516
Going to close this in favor of #3537

[2021-08-05 00:01] #3516 closed, assigned to vdonato

[2021-08-05 00:53] mlnewbie987 opened #3658 "Cannot print terminal output in streamlit"
Hello @vdonato

I'm trying to build a webapp using streamlit with cognitive services.Output displayed in the terminal should be visible on webpage.How to do it using streamlit.I referred the documentation it didn't helped me in finding anything.Can you look into the code?

import threading

try:
    import azure.cognitiveservices.speech as speechsdk
except ImportError:
    print("""
    Importing

[2021-08-05 03:08] kmcgrady commented on #3303
Going to close this issue with a new, preferred, solution.

[2021-08-05 03:08] #3303 closed, assigned to nobody

[2021-08-05 03:42] kmcgrady opened #3659 "setIn Error with `st.empty`"
### Summary

Streamlit produces a `setIn` error when using `st.empty`

### Steps to reproduce

From: https://discuss.streamlit.io/t/bad-message-format-setin-cannot-be-called-on-an-elementnode/15618

Code snippet:

[code]

Or even more succinctly:

[code]

1. Run script
2. Press the button

**Expected behavior:**

The button should disappear, and there shouldn't be an error.

**Actual behavior:**

[2021-08-05 03:43] kmcgrady commented on #3659
I think we are hitting a race condition where we attempt to update an empty element (once holding a column) with a column again that we are calling `setIn` on the empty element and throwing an error. I made a code change that makes it not error (essentially ignoring the exception if it's an empty component, but I think it’s a poor solution and we need to think of a better solution.

[2021-08-05 03:44] kmcgrady commented on #3659
Might be related to https://github.com/streamlit/streamlit/issues/3243 and https://github.com/streamlit/streamlit/issues/3223

[2021-08-05 08:44] dorgol opened #3661 "Html component (keplergl) doesn't appear"
I have HTML files, a product of exporting keplergl, on my computer.
I manage to show one file on streamlit app:
[f90.zip](https://github.com/streamlit/streamlit/files/6937199/f90.zip)
(here is the zipped file).
However when I try to show another HTML (the following zipped file it doesn't appear in the app.
[kepler.gl.zip](https://github.com/streamlit/streamlit/files/6937200/kepler.gl.zip)

The fil

[2021-08-05 19:28] jrieke commented on #3561
To expand a bit on this: What's not working is e.g.

    st.slider(":cat:")

This only works if you do:

    st.slider("🐱")

I believe this is because `:cat:` requires a markdown formatter but obviously we don't want to support arbitrary markdown in widgets... If we decide to enable this, we should enable it for all widgets. Not high prio though I think because putting in the unicode emoji is a go

[2021-08-05 20:42] frankhuurman commented on #439
Any updates on this feature? hopefully in experimental or beta soon just as @jkapila commented 😄
I've built my entire app in Streamlit and got most functionality in place except a separate endpoint for account verification or one for success/error callbacks from payment providers.
This feature and a way to deploy the app without the hamburger menu(and functionalities) are all I need to finally lau

[2021-08-05 22:00] kapilkd13 commented on #643
@Vishav3  I was facing the similiar issue, For me reason was that my web app didn't have audio recording permission and it was not asking. I created a port forwarding to local and then it starts asking for permission and everything worked. And yes  save audio with
[code]

[2021-08-05 23:19] asaini commented on #3600
Fixed in v0.86.0

[2021-08-06 00:09] #3534 closed, assigned to vdonato

[2021-08-06 02:38] usuixingyili opened #3664 "When using st.write(dataframe), index and columns can be interactived."
Once clicks index name or column name, return the value.

[2021-08-06 03:22] usuixingyili opened #3665 "when using st._arrow_line_chart(dataframe)"
column dtype is float64, is my data problem or anything else problem?
![st _arrow_line_chart_error](https://user-images.githubusercontent.com/74706568/128451080-2cefe4c8-2c9b-4f19-bab2-d8caf7c68c10.png)

[2021-08-06 05:09] pranavr2003 commented on #3665
@usuixingyili Could you provide a reproducible example?

[2021-08-06 07:38] usuixingyili commented on #3665
Thanks. I have solved the problem by coding ' dataframe.columns = [column[0] for column in dataframe.columns] ' to extract the first character of each column name while my column name is made up of a number and a Chinese character.

[2021-08-06 12:09] kurt-rhee opened #3666 "Streamlit starts in wrong position of the page"
### Summary

Streamlit is starting the application near the center of the page.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

St.write will appear towards the left of page
![image](https://user-images.githubusercontent.com/33131958/128508148-8d0d3a97-cde6-4cd6-8c75-909b11665dc4.png)

**Actual behavior:**

St.write appears near the center of page
![image](https://user-imag

[2021-08-06 12:22] pranavr2003 commented on #3665
@usuixingyili Oh, okay. Do close this issue if it has been resolved.

[2021-08-06 18:06] kajarenc opened #3668 "Test filepath works with Windows"
Check how st.image implemented to work with WIndows pathes and implement similar logic for download button filepath

[2021-08-06 21:42] MyUsernamee opened #3669 "The Api is very slow as of recent"
### Summary

The api takes a really long time to respond

### Steps to reproduce

Code snippet:

When performing any call to the api it can take up to a minute

**Expected behavior:**

Usually it is only a few second wait

**Actual behavior:**

Very slow

### Is this a regression?

That is, did this use to work the way you expected in the past?
yes

[2021-08-06 21:43] #3669 closed, assigned to nobody

[2021-08-06 21:44] MyUsernamee commented on #3669
Wrong github! Sorry!

[2021-08-06 23:36] vdonato commented on #3666
Hi @kurt-rhee, I believe this is working as intended. The `layout` argument of the [set_page_config](https://docs.streamlit.io/en/stable/api.html#streamlit.set_page_config) function can be used to have the app render starting from the left of the screen.

Let me know if I'm missing something here.

[2021-08-06 23:45] vdonato commented on #3664
Hi @usuixingyili, thanks for the suggestion! I believe there's an open feature request for this already (see #455 and #688), so I'll close this issue as there are already some outstanding requesting the same functionality.

[2021-08-06 23:45] #3664 closed, assigned to nobody

[2021-08-06 23:55] vdonato commented on #3658
Hi @abhishekk673, I don't believe there's a way to easily capture all terminal output and redirect it to streamlit. My hunch would be that you'll want to figure out a way to have your thread send back data to the main streamlit script, then call `st.write` on it from there.

For this type of streamlit usage question, I would recommend making a post in our [community forums](https://discuss.streaml

[2021-08-06 23:55] #3658 closed, assigned to nobody

[2021-08-07 00:22] kurt-rhee commented on #2325
I would also like this feature

[2021-08-07 00:25] vdonato commented on #3537
Hi @pranavr2003,

If I'm remembering correctly, the reason the URL bug exists is because the code attempts to open any string ending in `.svg` as a file, even though it may not be a local file if the string is actually a URL to an `.svg`. I'm fairly certain that in this case it should be possible to inspect a string ending in `.svg`, and if it's a URL, handle it similarly to how we handle URLs to

[2021-08-07 01:25] asaini opened #3670 "Minor: Remove redundant '' encapsulating error message"
### Steps to reproduce

When accessing a key which does not exist in `st.session_state`

Code snippet:

[code]

**Actual behavior:**

![error](https://user-images.githubusercontent.com/1134064/128583607-44c23518-d55c-498a-8053-6b4456a2548a.png)

Should not display `'` around the error message.

### Is this a regression?

No

[2021-08-07 09:56] ashannon018 opened #3671 "on/off reactive loading"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem
Currently, it loads data and refresh chart again and agiain whenever UI component value changed. so model runs every UI changes.
Is there any option to on/off this?  If not exist, why don't we make these operat

[2021-08-07 10:21] victorbnnt commented on #2358
Same problem with st.plotly_chart

[2021-08-07 12:27] kurt-rhee commented on #3666
@vdonato I do not think this is working as intended, I have multiple apps:

App 1 - working as intended
![image](https://user-images.githubusercontent.com/33131958/128600058-0f800679-d24d-400a-9842-705da4bf7ef8.png)

App 2 - not working as intended
![image](https://user-images.githubusercontent.com/33131958/128600076-103857cf-92ad-4cca-86dd-62d86ac35735.png)

Notice that App 2 starts more towards

[2021-08-08 13:15] sleepybunn opened #3672 "cannot update to v0.85.1 or 0.86.0 due to package conlict"
### Summary

hello, i have used streamlit many times before, and so far so good, just the problem i'm stuck in old version

i can't update to v085.1 or 0.86.0, due to package conflict(s), i use miniconda, on laptop with OS windows 10, i attached the conda info, conda list, and the screenshot below

### Steps to reproduce

tried to update to v0.85.1 or v0.86.0 via conda, by typing command below :

[2021-08-08 21:21] Davis782 commented on #1135
Try this I found as an alternative......
Let me know your thoughts......

SQLalchemy + Python Tutorial (using Streamlit)
https://youtu.be/lIHGGcnCmFA

[2021-08-08 22:34] Rqcker opened #3673 "streamlit: command not found in CentOS7"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

After successfully installing streamlit via pip on Centos7, and I can see the installation package on the pip list. However, using streamlit hello in Bash shows `streamlit: command not found centos`. But it is perfect that I can repeat the step in Windows 10.

### Steps to reproduce
python3.6
Centos7
Code sn

[2021-08-09 00:06] rott215dog opened #3674 "Ubuntu - Illegal Instruction"
### Summary

After installing Streamlit on Ubuntu, when trying to run it in the terminal an error will constantly appear. "Illegal instruction: Core dumped"

### Steps to reproduce

Code snippet:

[code]

If applicable, please provide the steps we should take to reproduce the bug:

0. Install Ubuntu distro (I used Ubuntu-MATE and Xubuntu)
1. Install Python3 or Python3.9
2. Install Pip, Pip3, or Pi

[2021-08-09 06:51] zsz00 commented on #3530
@kmcgrady Can you help fix this ??

[2021-08-09 14:46] tybirk-mindway opened #3684 "Add form.clear() to the API"
### Problem

I want to be able to programmatically clear a form, but not necessarily do so every time the form is submitted (which is possible with the ```clear_on_submit``` option already).

Usecases include

- A form having a "Submit" as well as a "Reset/Clear button"
- A form having a submit button which only clears the form on receiving valid input

---

Community voting on feature requests en

[2021-08-09 14:58] tybirk-mindway opened #3685 "Reflect widget values in query parameters"
### Problem

Query parameters provide a nice way of sharing/bookmarking app state. It would be awesome if it was possible to automatically take in query parameters as widget values (which would require some validation) and automatically update query parameters once a widget value changes.

### Solution

**MVP:** This is possible to do already with ```st.experimental_get_query_params()``` and ```st

[2021-08-09 22:46] vdonato commented on #3671
Hi @aileelim, we don't currently have the ability to do exactly what you're suggesting, but using [st.form](https://docs.streamlit.io/en/stable/api.html#streamlit.form) seems like it may let you do essentially the same thing (batch changes to a model to only run when the submit button is clicked).

Let me know if this doesn't quite solve the problem you're running into!

[2021-08-09 23:42] #3557 closed, assigned to vdonato

[2021-08-10 01:03] tconkling commented on #3659
Notes:

- This _is_ a race condition, and it's triggered by Delta coalescing on the server.
- Removing the coalescing logic from `ReportQueue.enqueue` fixes it
- The issue happens when a `new_element` delta replaces an `add_block` delta. (`add_block` replacing `new_element` doesn't trigger the error.)

[2021-08-10 12:07] igor-i-plotnikov commented on #3603
I'm afraid that is not fixed yet by now

[2021-08-10 21:37] timothywangdev commented on #371
This is a deal breaker for us. We have column of text and most of chars got truncated. Looking for other tools now.

[2021-08-10 22:02] corticalstack commented on #371
I do so love Streamlit. However, given prevalence of data frames, and many uses cases include data exploration, surprised this issue still open for so long.

[2021-08-11 00:15] asaini commented on #371
@corticalstack : Thanks for flagging this issue. I want to apologize that this has been open for such a long time.

To share some context, with have a big project around improving `st.dataframe` + its interface on our roadmap but haven't been able to prioritize it yet because of competing priorities on the team to ship Theming, Session State, Forms and other high priority features.

We are current

[2021-08-11 02:32] beep-92 commented on #862
+1

[2021-08-11 09:52] PiotrCzapla opened #3695 "st.write convert dict keys to strings"
### Summary

Writting a dict to streamlit app add quotes around each key even if the key is an integer. this is a bit misleading when debugging.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

prints:
test
{
   10: 12
}

**Actual behavior:**
prints:
test
{
   "10": 12
}

### Is this a regression?

I think it was working before but I'm not sure

### Debug info

- Streamlit v

[2021-08-11 12:08] simprecicchiani commented on #3585
Same issue here (streamlit ver 0.86.0), the callable function run on every session despite the button never being clicked.

Edit: I was using the callback feature improperly. Following the documentation, `on_click=` accepts functions and then `args=` is where arguments to pass are placed.

Instead of `st.button('Some Button', on_click=function_name(function_argument))` try `st.button('Some Button'

[2021-08-11 16:33] rcsmit opened #3696 "st.write (df) gives problem when df is a pivot table"
### Summary

Showing a dataframe gives an error ArrowInvalid: ('Could not convert All with type str: tried to convert to int', 'Conversion failed for column MM with type object')

### Steps to reproduce

Code snippet:

[code]

_Dtypes of the dataframe:_
[code]

**Expected behavior:**
Showing the dataframe. print(df) doesn't throw an error
![image](https://user-images.githubusercontent.com/1609141/

[2021-08-11 18:05] Digaari opened #3698 "Images Do Not Load on Streamlit Apps"
### Summary

Sometimes Images Do Not Load on Streamlit Apps.

### Steps to reproduce

Code snippet:

[code]

Steps:

1. Load any 3-5 images in the folder via st.image

**Expected behavior:**

The image should be displayed thew first time itself.

**Actual behavior:**

It shows either the symbol "0" or following symbol:

![image](https://user-images.githubusercontent.com/33162540/129079484-8d50a65f