[2021-08-11 20:34] vdonato commented on #3696
Hi @rcsmit, this is expected behavior. The new dataframe serialization format that we use, [Arrow](https://arrow.apache.org/), requires that all entries in a column have the same type. The issue here is that the last entry of the `MM` column has type `str`, which mismatches with the other elements of type `int64`.

One thing that could be done here would be to cast the integers in the `MM` to all

[2021-08-11 20:38] vdonato commented on #3696
Hm, on second thought. I'll reopen this given that the way that this case comes about (creating a pivot table) is one that's likely to be very common, so we'll want to have this work without needing to change the type of a column manually. For now, the workaround that I mentioned in my previous comment should be enough to help with this, but hopefully we can make the process a bit easier in a rele

[2021-08-11 20:39] #3668 closed, assigned to kajarenc

[2021-08-11 22:22] rcsmit commented on #3696
Thanks a lot for your reply and help.

For those who arrive here after googling
[code]
does the job  ( `.str.zfill(2)` is to prevent the 1 10 11 12 3 4 etc order)

[2021-08-11 23:28] vdonato commented on #3666
Thanks for the clarification @kurt-rhee (and sorry it took a few days for me to get back to you on this). Will reopen this issue.

Do you happen to have two minimal code snippets that demonstrate the difference in spacing? I wonder if the root cause of the issue is that we don't handle the spacing between different types of headers consistently.

[2021-08-12 00:14] vdonato commented on #3685
Hi @tybirk-mindway, thanks for your suggestion! This has been something that has been both requested and discussed internally for quite awhile. There's a very old issue #302 for this that I'm going to close this issue in favor of.

[2021-08-12 00:14] #3685 closed, assigned to nobody

[2021-08-12 00:30] vdonato commented on #3673
Hi @Rqcker, are you able to run other CLI tools installed via pip? I don't think we do anything non-standard with how the streamlit binary is installed, so I'm puzzled as to how this could happen if other binaries installed via pip work correctly.

[2021-08-12 00:36] vdonato commented on #3672
Hi @sleepybunn, do you happen to have any more information on the exact package that is conflicting? It seems like the screenshot you posted gets cut off before conda outputs the responsible package.

[2021-08-12 00:40] vdonato commented on #3665
Hi @usuixingyili, good to hear that you've solved the issue.

I'm going to close this as it sounds like you've found a solution. Note that our serialization format, Arrow, requires that every value in a column is of the same type, so in this case it sounds like some of the values had type `str` while others had type `float64` .

Feel free to correct me if I'm missing something and you believe ther

[2021-08-12 00:40] #3665 closed, assigned to nobody

[2021-08-12 00:47] vdonato commented on #3647
Hi @sayedathar11, thanks for the suggestion.

Since streamlit apps are written in plain python, there's no reason that you can't already use your preferred oracle db library with streamlit. The documentation provides some examples for how to use a few popular databases with streamlit, but we haven't done any work to streamlit itself to add support for these databases -- any database is supported i

[2021-08-12 00:59] vdonato commented on #3634
Hi @tonylegend, @awyee. With the recent change to have streamlit use Arrow as its dataframe serialization format, this is expected behavior.

Arrow requires that types within a column are consistent, so with the switch, unfortunately mixed-type columns are no longer supported. Note that the `global.dataFrameSerialization` option can be used to switch back to the legacy dataframe serialization. If

[2021-08-12 00:59] #3634 closed, assigned to nobody

[2021-08-12 01:05] vdonato commented on #3623
Thanks for the suggestion @quantoid. Coincidentally, we happen to be working on this right now.

[2021-08-12 03:13] vdonato commented on #3674
Hi @rott215dog,

Do you happen to have any more information about your system or the error message you're seeing? I'm fairly certain there's something else going on here, as on my Ubuntu 20.04 system, streamlit runs fine in a virtualenv using Python 3.9.

[2021-08-12 03:16] rott215dog commented on #3674
I can provide the details of the pc/server in case it's a hardware issue...

Dell Precision 390:

X86_64 Core Duo CPU
3 GB DDR3 RAM
Nvidia Quadro GPU

It's old but runs the latest Linux, it ran streamlit for months and then one day I rebooted and it no longer worked

[2021-08-12 03:38] vdonato commented on #3674
It looks like the issue may be with tensorflow from what I'm seeing in [this issue](https://github.com/tensorflow/tensorflow/issues/17411).

I'm not entirely sure if this could actually be the problem as tensorflow isn't a direct requirement (and it seems unlikely to be a transient requirement taking a look at [our dependencies](https://github.com/streamlit/streamlit/blob/develop/lib/Pipfile)), bu

[2021-08-12 06:32] tybirk-mindway commented on #3685
Ah, missed that one, sorry for the inconvenience :-)

[2021-08-12 09:24] 100mi opened #3700 "Ignore row-indexes while creating table from dataframe using st.table() ."
### Problem

I am trying to print table using a dataframe with certain values using **[st.table](https://docs.streamlit.io/en/stable/api.html#streamlit.table)**, but I am annoyed by the row indexes that also forms a column along with it, i.e [0,1,2,3,4,5....]. There is no other argument that the function takes other than **data**.

![image](https://user-images.githubusercontent.com/63118329/129171

[2021-08-12 13:02] kurt-rhee commented on #3666
Hey, no problem.

I think if you aren't seeing this with other people's apps then it must just be something very strange happening on my side.  minimal example would just be  st.write('anything'), some apps for me seem to be shifted over and some don't.  I am okay with closing and reopening if it keeps happening in the future.

[2021-08-12 13:02] #3666 closed, assigned to nobody

[2021-08-12 17:05] Rqcker commented on #3673
Hello, @vdonato I can install other python packages via pip. But they can't be used and can't be imported into the file. My guess is that the school's server permissions are insufficient, and I am a non-root user. I tried to modify the ./bashrc file and add the path but it didn't work.

[2021-08-12 18:20] usapkota commented on #688
Is there any workaround until this enhancement is completed?

[2021-08-12 21:49] rcsmit commented on #3696
The  error in the summary i mentioned before was the wrong one. :)

_pyarrow.lib.ArrowInvalid: ('Could not convert int64 with type numpy.dtype: did not recognize Python value type when inferring an Arrow data type', 'Conversion failed for column 0 with type object')_

It appears when you want to print the dtypes of a pivoted dataframe with mixed datatypes in a column. Do I have to open a new issue

[2021-08-12 22:52] vdonato commented on #3673
Thanks for looking into this @Rqcker. Given that information, it seems unlikely that this issue is related to streamlit itself and has something to do with the python/pip installation on your system and how permissions are set up, so I'll close this issue.

[2021-08-12 22:52] #3673 closed, assigned to nobody

[2021-08-13 02:41] sleepybunn commented on #3672
hello,

thanks for responding, i've tried that, but was not successful, the "report" was very long

is there a way to export it to a file?

and also i need to update, yesterday i've tried to install via pip, it was successful, v0.86.0 was successfully installed, however, i re-install the conda before that (installing via conda was still failed, even i have reinstalled the conda)

[2021-08-13 07:03] snehankekre commented on #3700
Hi @100mi, here's a workaround hack:

[code]
![image](https://user-images.githubusercontent.com/20672874/129317799-810377ac-db6e-4ff2-bf50-b773958de9a3.png)

[2021-08-13 08:33] deZakelijke commented on #3096
Is there any progress on this issue? We very much like to use the session state from the latest version, but with this issue our application is not reliable enough.

[2021-08-13 09:01] tonylegend commented on #3634
@vdonato Thanks for your information. Please note that the column dtype was already set to object which is consistent within the column. Actually object type is also quite common in pandas' use. Hope the object type could be also supported in the new Pyarrow support.

[2021-08-13 11:27] Koushik667 commented on #2169
@durandg12  Any updates on this? I am displaying graphs inside my expander and wanted to increase the size of the expander, as they are currently shrinking if I add more graphs, I believe it is because the size of the expander is fixed.

[2021-08-13 21:08] kinghuang opened #3703 "Selectbox/radio/multiselect widgets copy option values resulting in index errors and other problems"
### Summary

Since Streamlit 0.84, [st.selectbox](https://docs.streamlit.io/en/stable/api.html#streamlit.selectbox) and similar widgest that return values from a list of options are copying the selected option values, which leads to problems with options that are not simple scalar values.

### Steps to reproduce

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/streamlit_badge_black_

[2021-08-13 21:32] beep-92 commented on #2399
+1

[2021-08-15 09:49] jiangchao123 opened #3704 "the [toc] in st.markdown() does not work"
### Summary

i am using the streamlit to show my markdonw file，my markdown file contains '[toc]' in the header, it should show catalogue of the article, but streamlit take the '[toc]' as the content of article. i dont know the why, please help me, thanks very much!

### Steps to reproduce

Code snippet:

[code]

and the contents of map_op_desc.md  are as follows:

[code]

**Expected behavior:**
![

[2021-08-16 06:04] trankov commented on #596
python 3.9
streamlit 0.86.0

[code]

After starting the script (filename is not "sptreamlit" or "st") I get:

[code]

In `site-packages/streamlit/__init__.py` line `123`:

[code]

I. e. `columns` does declared and exists.

Why? Any idea?

**UPDATE**
I've change `columns` to `beta_columns`, and it works. But it looks strange anyway. According to docs, everything should work without this correction.

[2021-08-16 10:32] Robstaa commented on #863
+1, would love to implement bold text and links into labels

[2021-08-16 12:29] kantuni opened #3706 "Iframe embeds are not present for certain elements"
After 0.85 was released, iframe embeds for `area_chart`, `bar_chart`, and `line_chart` are missing.

Latest version (no chart iframes): https://docs.streamlit.io/en/stable/api.html#streamlit.line_chart
v0.84 (shows chart iframes): https://docs.streamlit.io/en/0.84.0/api.html#display-charts

[2021-08-16 12:57] jiangchao123 commented on #3704
@akrolsmir @domoritz @randyzwitch @kmcgrady @arraydude thank you for reviewing this question ~

[2021-08-16 13:48] #3706 closed, assigned to kantuni

[2021-08-16 17:19] #3659 closed, assigned to tconkling

[2021-08-16 20:18] tblevins opened #3708 "DMD app never stops "running" Goes grey and then goes solid then goes grey again"
### Summary

DMD Rep commissions never stops running. Greys out info, un greys it.. then re-greys it again over and over

### Steps to reproduce

Launch DMD app from okta, sleect rep commissions

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to

[2021-08-16 22:32] kmcgrady commented on #3704
Hi @jiangchao123 ! Thanks for the question. As far as I recall `[toc]` is not in the markdown spec, so the actual behavior is, in fact, expected. Is there a markdown guide that is offering this tag?

Thanks!

[2021-08-16 23:08] tvst opened #3709 "df.dtypes fails with Arrow"
### Summary

Using `df.dtypes` to show the datatypes for a dataframe fails when you're using the Arrow codepath.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

The app should show a table with datatypes for the given dataframe

**Actual behavior:**

The app shows this exception:

![image](https://user-images.githubusercontent.com/690814/129639941-0cb162f2-5d85-4e0a-ab90-7b

[2021-08-17 02:48] riyadparvez commented on #414
I am also facing the same issue. Is there any update on this?

[2021-08-17 07:41] sadi-guzel opened #3710 "InternalHashError: 'method_descriptor' object has no attribute 'module'"
### Summary

While caching the body of `get_data()`, Streamlit encountered an object of type `builtins.method_descriptor`, which it does not know how to hash.

### Steps to reproduce

Code snippet:

[code]

### Debug info

- Streamlit version: 0.86.0
- Python version: Python 3.8.10
- Using virtualenv
- OS version: Windows 10 Enterprise
- Browser version: Google Chrome 92.0.4515.131
- Pandas versio

[2021-08-17 13:53] mlnewbie987 opened #3712 "cbcb"
sjkbc

[2021-08-17 17:30] iamirulofficial commented on #3712
Hi, by any chance have you tried these [Streamlit-webrtc](https://github.com/whitphx/streamlit-webrtc) ?

Also this maybe helpful :
[bokeh-events](https://discuss.streamlit.io/t/speech-to-text-on-client-side-using-html5-and-streamlit-bokeh-events/7888)

[2021-08-17 19:52] tarunn2799 commented on #1019
+1

[2021-08-18 00:42] randomgambit commented on #455
interested as well... any updates?

[2021-08-18 07:27] bengsoon commented on #3631
Just realized that this has been fixed in the new versions.

[2021-08-18 07:27] #3631 closed, assigned to nobody

[2021-08-18 09:51] iharshulhan commented on #2820
@AnOctopus Hi, it is actually not fixed. It is harder to achieve the same result, but it can be still done via the same test code:
[code]
Here is the video (streamlit version - 0.85.0):
[streamlit_duplication_issue_video.zip](https://github.com/streamlit/streamlit/files/7006248/streamlit_duplication_issue_video.zip)

[2021-08-18 11:29] Manish-Hub commented on #2325
Wow... @akrolsmir I cant see why this being a niche use case... yet it does not get a priority. In several cases of this instance of Radio button option I have seen default selection being null or something that the respective developer chooses to set as per his /her business requirements.
In my opinion as well as let me say, this can be my requirement too - I do not wish to see a default selectio

[2021-08-18 19:14] kahliburke opened #3714 "Exception "The truth value of a Series is ambiguous" when using Pandas row object as widget state"
### Summary

Note: this is a new issue when I upgraded streamlit to the current version which added session state.

Suppose I use a pandas object as the selected state for a widget like a radio button (code sample below). Then when changes occur in the widget, an exception is thrown:

[code]

### Steps to reproduce
Create a widget like a radio selector where the pandas row object (technically a `p

[2021-08-18 20:50] Chris-Olsen opened #3715 "Data/Object download widget"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem
In using Streamlit to make very useful tools for people, I've encountered many scenarios where I need to write the output of a computation or visual to a local disk/server for use in other specialized tools.  O

[2021-08-19 03:00] vdonato commented on #3712
Thanks for the pointers @iamirulofficial!

I'm, uh, not sure why the title/description were edited the way they were, but I guess I'll close the issue.

[2021-08-19 03:00] #3712 closed, assigned to nobody

[2021-08-19 03:13] vdonato commented on #3708
Hi @tblevins, I believe you've landed here while trying to report a bug in a specific streamlit app.

The issues in this repo are for the streamlit library itself as opposed to for apps built using streamlit, so you'll want to report this problem to the app authors.

[2021-08-19 03:13] #3708 closed, assigned to nobody

[2021-08-19 03:25] vdonato commented on #3674
@rott215dog I'm going to close this issue as I believe the evidence suggests that there's not much we can do if the underlying issue is indeed that one of our dependencies now attempts to use CPU optimizations unsupported by older hardware. Let me know if you think there's still something that we can do on our end for this.

You may have some luck with version downgrades of certain packages as I s

[2021-08-19 03:25] #3674 closed, assigned to nobody

[2021-08-19 05:49] vdonato commented on #3666
Hm, yeah that is quite strange. Feel free to reopen this if you run into this with any other apps or on a different machine. I don't want to write it off as something specific to your setup since that's hard to believe, but it is also strange that it doesn't seem to be happening to anyone else.

[2021-08-19 06:20] vdonato commented on #3703
Thanks for reporting this @kinghuang. I know that we started deepcopying what's returned from session_state to prevent further mutations to the return values from confusing session_state's callback mechanisms, and that explains why the behavior changed in 0.86. We'll try looking into this in the next few weeks.

(CC @AnOctopus)

[2021-08-19 06:47] vdonato commented on #3672
Hm, I wonder if some of the packages that are installed by default with conda are now incompatible with newer versions of streamlit.

You may be able to export the report into a file by piping the output with
`conda install -c conda-forge streamlit=0.86.0 > file_name.txt`,
but I'm not sure if doing that works on windows/the anaconda prompt.

[2021-08-19 13:23] Digaari commented on #3698
Greetings @kmcgrady

Sir could I request you to help me out on this please?

[2021-08-19 13:59] jiangchao123 commented on #3704
Thanks for your answer very much. Some markdown software such Typora I used before uses [toc] to generate directories, so I habitually think it is standard syntax. Now I understand. But how can I generate a directory for markdown？Is there any good method

[2021-08-19 15:06] kylelrichards11 opened #3716 "Adding key to selectbox causes mismatch between displayed selection and output value"
### Summary

When the options of a selectbox dynamically change, the correct default option does not get displayed on a selectbox only if there is a user defined key. However, the value of the correct default option is returned by the selectbox.

### Steps to reproduce

Code snippet:

[code]

**Steps to Reproduce:**

1. Change the "List" selectbox from 1 to 2.

**Expected behavior:**

- Both "Lett

[2021-08-19 16:08] Digaari commented on #3698
Hi @kmcgrady
I found a workaround by wrapping the images with hyperlinks and return a HTML code. This makes the images load each and everytime.
[code]

I would love to hear from your end if we could solve this....

[2021-08-19 16:12] Digaari commented on #3698
### IMPORTANT UPDATE: This issue is not bothering me with other file formats like GIFs. This problem persists for JPG/PNG images only.

[2021-08-19 16:17] asaini opened #3717 "st.dataframe(df) and st.write(df) do not show a sorted string index"
### Summary

When printing a dataframe to the browser using `st.dataframe` or `st.write`, the index is not sorted for a string index

### Steps to reproduce

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/streamlit_badge_black_white.svg)](https://issues.streamlitapp.com/?issue=gh-3717)

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and so

[2021-08-19 18:12] #3638 closed, assigned to gmerticariu

[2021-08-19 18:15] randyzwitch commented on #3695
This is one of those edge cases that is hard to say whether it's a Streamlit issue or a JSON issue. Meaning, JSON keys have to be strings, and `st.write` is taking the Dict and assuming you want to call `st.json` for pretty formatting.

If you do `st.write(d.__repr__())`, it will probably give you what you want, and the loss of having the collapsible tree to look at.

[2021-08-19 18:37] kmcgrady commented on #3698
Hi @Digaari . Sorry for the delay. It's been a busy month.

I repro-ed your steps, and everything seems to be working correctly. There could be a couple situations that could address your problem.

1. You are deployed on multiple machines. Sometimes the image is added correctly, but the image is requested to the other machine. That's a challenge.
2. We might be misinterpreting the string as someth

[2021-08-19 18:49] jroes opened #3718 "st.metric doesn't like numpy.int64"
### Summary

I summed a column in a dataframe and passed it to `st.metric` and it threw an error because it wanted a regular int.

Should it just do the right thing?

Also: The error about being an invalid type is showing the value of the variable instead of the type that it doesn't like.

### Steps to reproduce

Code snippet:

![Screen Shot 2021-08-19 at 2 44 20 PM](https://user-images.githubuser

[2021-08-19 19:01] willhuang1997 commented on #3718
Will look at this later. Currently in hackathon week! :)

[2021-08-19 19:56] jrieke commented on #3718
Yes, I think we should support this post-launch! Some caveats:

- We should only support this for numpy array which have a single value (maybe check using the array's shape or the [`.item` function](https://numpy.org/doc/stable/reference/generated/numpy.ndarray.item.html)?)
- Numpy arrays can also have other data types than int/float/string, which we should **not** support

Re the error message, w

[2021-08-19 20:41] jrieke opened #3720 "st.metric without delta doesn't have correct margin"
### Summary

@willhuang1997 Another super small bug with st.metric I just realized: If `delta=None`, the margin at the bottom is a lot larger than if delta has a value (see screenshot below). I assume this is because the delta is still rendered, just empty. Super small thing and we can fix this for the next release!

![image](https://user-images.githubusercontent.com/5103165/130140876-9fdedaad-4fa

[2021-08-20 00:00] randomgambit commented on #371
I would be interested, too! My app shows text in a dataframe :)

[2021-08-20 05:11] Digaari commented on #3698
Hi @kmcgrady ! So basically I have started to convert the images bytes and then using them again... this works good as well!

[code]

[2021-08-20 05:18] kmcgrady commented on #3698
Okay @Digaari I am not sure why the paths are not working. I might be able to try the exact images you used if you want to share them. Using the file path worked fine for me.

[2021-08-20 06:58] kevinlinxc opened #3722 "file_uploader is slow when deployed"
### Summary

When I run my app locally, file uploads are fine. 13.6 MB video works fine, 1.21 GB video works fine, and file upload is fast.
When I deploy my app to Streamlit Sharing, Docker (on its own), and Heroku via Docker,  both uploads are much slower than locally, the 13.6MB video eventually makes it, but the 1.21 GB video crashes the app.

I have `maxUploadSize=4096` in my .streamlit/config

[2021-08-20 08:10] Ackcess opened #3723 "BUG report"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.
i am trying to run the streamlit app but only shows the blank space

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Clic

[2021-08-20 08:46] sleepybunn commented on #3672
hello vdonato,

i tried that, here are the result
[updatestreamlit.txt](https://github.com/streamlit/streamlit/files/7020282/updatestreamlit.txt)
[packageconflict.txt](https://github.com/streamlit/streamlit/files/7020283/packageconflict.txt)

[2021-08-20 08:54] allanleal opened #3724 "width argument in st.image has no effect for SVG images"
### Summary

The `width` argument in `streamlit.image` has no effect when using SVG images.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

The rendered figures should have the specified width.

**Actual behavior:**

![image](https://user-images.githubusercontent.com/5825588/130207710-2745468a-f6be-49f6-8b28-47da6f1d6b36.png)

### Is this a regression?

no

### Debug info

[2021-08-21 02:35] kevinlinxc commented on #3722
I'm realizing the crash could be because of the ram limitations on streamlit sharing and Heroku. After changing some specs of the docker container it seems to work on running locally... the file upload is still slow though.

[2021-08-21 15:05] #3723 closed, assigned to nobody

[2021-08-22 06:09] Digaari commented on #3698
Hello! @kmcgrady I tried to read the image file bytes convert to BytesIO and pass those bytes down.... but that gives the same result. Out of 3 images only 1-2 images display at a time. The moment I reload the page, again 1-2 images are visible but in a different permutation.

Here is how I am converting them into bytes and passing...

[code]

### Here are the images I am using: https://drive.goog

[2021-08-23 05:19] zsz00 commented on #3530
how is the bug-fix going ??

[2021-08-23 15:51] kmcgrady commented on #3530
Hi @zsz00, we are currently investigating this and deciding how to prioritize this in our work. I can't give a timeline on when this would be fixed at the moment, but when I do, I'll be able to follow up.

[2021-08-23 19:27] tarunn2799 commented on #2561
Hey I'm facing the same issue, not sure if this helps but I've tried assigning different keys as well

[2021-08-23 20:43] scott-trinkle commented on #863
+1 for LaTeX in widge labels

[2021-08-23 22:14] joelbs commented on #3709
Similar issue. Anyone know anything about this?

[2021-08-24 00:54] GitHunter0 opened #3727 "st.cache() issue: AttributeError: module 'plotly.express' has no attribute 'express'"
Hi folks,

Running an app.py file with this code:

[code]
throws this error:
[code]

The workaround that I found is to do this:
[code]

System Information:
[code]

Thank you

[2021-08-24 08:58] usuixingyili opened #3728 "dataframe can be printed on the terminal, but can not show on the app."
Nothing error, it seems to be related with pandas warning:
![image](https://user-images.githubusercontent.com/74706568/130587800-6a37acba-3b12-4689-b325-2987d447af32.png)

[2021-08-24 09:00] PiotrCzapla commented on #3695
Yeah that explains why the strings.  But I was given that st.write support more than what JSON can represent, for example  I can put a decimal or a date and have it pretty formatted.
It seems that the  st.write intention is to be kind-of `repr` but with pretty formatting. So it maybe it would be good to at least issue a warning when dict has something different than standard json in it?

[2021-08-24 13:14] iharshulhan commented on #2820
@kmcgrady @AnOctopus can you reopen the issue?

[2021-08-24 16:09] jroes commented on #3728
Thanks for reporting this bug! I'm having a little trouble understanding the challenge you're facing so that I can reproduce it and we can track this down.

Can you share more information or an example dataframe so we can reproduce?

[2021-08-24 17:48] riyadparvez commented on #373
Is there any update on this issue?

[2021-08-24 19:11] vikigenius opened #3730 "Serialization Bug when using functions as arguments to selectbox"
### Summary

I am using functions as arguments to selectbox so that I can chose which function to run. This causes some kind of serialization bug.

### Steps to reproduce

Code snippet:

[code]

If applicable, please provide the steps we should take to reproduce the bug:

1. Run the application
2. Try to select each option in the dropdown one by one.

**Expected behavior:**
Everytime you select th

[2021-08-24 19:49] lucasgsfelix commented on #862
+1

[2021-08-25 01:39] usuixingyili commented on #3728
Well, thanks. I have located the line of problem code. When the script runs to the code: df.loc[:, 'date_diff'] = datetime.datetime.today() - df.loc[:, 'shift_date'].apply(pd.to_datetime) , this line of code can be executed and the result can be printed to the console. Once use st.dataframe(df) to show on the app, all widgets and charts suddenly disappear on the app.

[2021-08-25 11:00] andfanilo commented on #2618
Hello,

I've been playing with a small rpy2 script in Streamlit today and it looks like it is working now:

[code]

I do get a user warning:

                Its taking over SIGINT cannot be reversed here, and as a
                consequence the embedded R cannot be interrupted with Ctrl-C.
                Consider (re)setting the signal handler of your choice from
                the main thread

[2021-08-25 12:33] jroes commented on #3728
Thanks @usuixingyili - I'm still not sure we have enough info to reproduce here unfortunately. Can you share the full code of the app, or create a new app with the smallest amount of code necessary that causes this to happen?

[2021-08-25 14:52] ecurtin commented on #3028
This issue is impacting us on a daily basis. Two questions about it:
1. What version introduced the `healthz` healthcheck? I'm trying to figure out what version to tell our data scientists to pin to but it's not totally clear to me when this issue was introduced.
2. Can this issue be reopened? It was auto-closed when #3640 was closed by the stale-bot but the issue hasn't been fixed.

[2021-08-25 15:22] kmcgrady commented on #2820
Hey @iharshulhan . I will reopen the issue. I am not sure when we will have the time to investigate it, but we will keep this open to reflect that there are still issues to resolve. Thanks!

[2021-08-25 19:01] ryanvolpi commented on #720
@nthmost I'm still having some performance issues with the image widget. It take 2-2.5 seconds to update. I'm creating an app where I need to be able to toggle between two images and any latency is detrimental. Is there any way to implement caching of the image widget itself (the calculations take hardly any time and are cached)?

[2021-08-25 22:42] jrieke opened #3732 "Auto-reload doesn't work with subdirs"
### Summary

Auto-reload doesn’t work if both the app file and a secondary module are in the same subdir. While this doesn't affect app behavior, it's a pretty critical bug because you need to manually restart Streamlit all the time in this configuration.

### Steps to reproduce

Create a project dir like this:

    .
    |- subdir
       |- streamlit_app.py  # this imports secondary
       |- sec

[2021-08-25 23:37] vdonato commented on #3727
Thanks for reporting this @GitHunter0.

I'm not entirely sure if/when we'll be able to prioritize this as we're currently working on a new and improved caching mechanism that will most likely replace `st.cache`. I'll loop some people in on this issue, though, so we can be sure that imports with this syntax work properly in the upcoming feature.

(CC @tconkling)

[2021-08-25 23:50] vdonato commented on #3722
Hi @kevinlinxc, do you remember roughly how much slower the file upload for the 13.6MB file is locally vs when deployed?

I'm tempted to say this is most likely not a bug in streamlit given that localhost connections will be at least an order of magnitude or two faster than the vast majority of internet connections. If the file upload time for the smaller file isn't taking an unreasonably long amo

[2021-08-26 00:03] vdonato commented on #3715
Thanks for the suggestion, @Chris-Olsen.

We already have an open issue for a download button (#2722), so I'll close this issue in favor of the existing one. Coincidentally, there's also a PR out adding the download button widget (#3579) that should be merged in the next few days, so expect to see the widget appear in either the next release or the one after that.

Note that the widget that is soo

[2021-08-26 00:03] #3715 closed, assigned to nobody

[2021-08-26 00:11] GitHunter0 commented on #3727
@vdonato , thank you for the feedback!

This is a problematic inconsistency because the alternative syntax that works with `st.cache` does not work in a conventional development environment (like VScode). Any help from @tconkling will be appreciated.

[2021-08-26 00:18] vdonato commented on #3714
Thanks for reporting this @kahliburke. I'll look into this to see if there's a reasonable fix that doesn't require us to have to special-case the scenario where the widget values are `pd.Series` objects, although I have a hunch that there's not too much else we can do to support this.

[2021-08-26 00:23] vdonato commented on #3696
Hi @rcsmit, sorry for the delayed reply -- I missed your last reply until now. The error seems to be related / probably has the same root cause, so I don't think there's a need to open a second issue.

[2021-08-26 00:33] vdonato commented on #3730
Thanks for reporting this @vikigenius. After thinking about this a bit, I'm fairly certain that the root cause of this bug is identical to that of #3703, which is being worked on, so I'll close this one in favor of the older issue.

[2021-08-26 00:33] #3730 closed, assigned to vdonato

[2021-08-26 00:48] vdonato commented on #3598
@kinghuang heads up that we're closing in on a solution to this class of issues introduced by session_state, but in the meantime our improved understanding of exactly what's going on here is enough to confirm that the root cause of this issue is the same as that of #3596, so I'm going to close this as a duplicate of the older issue. Once the fix for this class of problem is in, I'll go back throug

[2021-08-26 00:48] #3598 closed, assigned to vdonato

[2021-08-26 00:50] vdonato commented on #3716
Thanks for the bug report @kylelrichards11. I can confirm that the root cause of this issue is indeed the same as that of #3596, so I'll close this issue as a duplicate of the older one.

[2021-08-26 00:50] #3716 closed, assigned to vdonato

[2021-08-26 00:59] vdonato commented on #594
Closing this issue as I confirmed that the behavior doesn't exist anymore when using arrow as the df serialization format. Note that what's displayed is `<NA>` instead of `NaT`, which is something that we may want to change to be consistent in the future, but it's certainly better than displaying a random date in 1677 😆.

[2021-08-26 04:20] usuixingyili commented on #3728
if st.sidebar.checkbox('test'):
    data = pd.DataFrame({'col1': [datetime.date(2021, 1, i) for i in range(1, 10)]})
    data.loc[:, 'col2'] = datetime.datetime.today() - data.loc[:, 'col1'].apply(pd.to_datetime)
    print(data)
    st.dataframe(data)

Above are problem code snippet. Help reproduce. Thanks.

[2021-08-26 07:16] marcbuilds commented on #1360
Also going to add that this would be hugely useful for some projects I'm working on. My use case is that the user is committing to sending an external API POST request, but needs a modal dialogue with a confirmation of what is about to be sent (a list of the variables prepared for the request), to ensure they are performing the correct action.

I'll add that perhaps this is veering a bit outside t

[2021-08-26 09:19] modbender commented on #862
+1

[2021-08-26 18:32] ayushitripathi23 commented on #2107
Error: Streamlit requires raw Python (.py) files, but the provided file has no extension.

I've been getting this error when I try to run Streamlit. If anyone knows how to fix it. Please, let me know.

[2021-08-26 21:12] Victor-Botelho commented on #862
+1

[2021-08-27 18:42] lgautier commented on #2618
I am not familiar enough with Streamlit, but I suspect that importing `streamlit` has side effects (beyond loading Python modules and packages). One of them is that one or several threads are created and the rest of the code in your Python module (that is source file) will be evaluated by the thread(s).

If the case, changing the order of imports might clear the warning message you are seeing. Try

[2021-08-27 18:45] lgautier commented on #2618
Otherwise I don't think that there is any reason R would (or could) keep running after the Python process ends. R is embedded in the Python process. Think of it as a C library called from the Python process.

[2021-08-27 20:49] Danielsesva opened #3736 "How to keep plotly or folium output when creating a new plot"
### Problem

I would like to display multiple plotly plots / folium maps on one single page and keep the output when adding a new plot sequentially or when playing around with the multi select box. I have heard about SessionState but I haven't figured out yet how to keep the output of the map that is already created below.

### Additional context

When clicking on the yellow colored elements, the

[2021-08-28 00:45] onkarpandit commented on #3555
Hi, I would like to take this one up.

[2021-08-28 02:19] vdonato commented on #3585
Going to close this as I've been unable to reproduce this issue. @shervinmanzuri - I'm happy to reopen if you're able to provide some additional steps to trigger the bug, but I'm unable to do so with the provided code snippet.

[2021-08-28 02:19] #3585 closed, assigned to vdonato

[2021-08-28 02:31] vdonato commented on #3736
Hi @Danielsesva, I would recommend asking this type of question in our [community forums](https://discuss.streamlit.io/), as this type of streamlit usage question generally isn't what we use GitHub Issues for.

SessionState should be able to store values that are more than just primitives, so I would give storing the map object in there after a button is clicked a try. Another thing you may want t

[2021-08-28 02:31] #3736 closed, assigned to nobody

[2021-08-28 05:38] yarnabrina opened #3738 "Wrong display of app URL"
### Summary

When one starts a `streamlit` app, it shows a message saying that the app can then be viewed in browser. The port at which the app is exposed can be modified using `server.port` flag. If `.streamlit` directory with a `config.toml` file is present in the working directory, the URL displayed and the link that is opened automatically is incorrect. Both correspond to the values provided i

[2021-08-29 00:30] vdonato commented on #3738
Hi @yarnabrina, this isn't quite a bug, but one could argue that we shouldn't encourage people to populate a default `.streamlit/config.toml` file by using the `streamlit config show` command.

What's happening here is that there are two config options that are port-related:

1. `browser.serverPort` sets the port that the app tries to connect to.
1. `server.port` sets the port the server is servin

[2021-08-29 00:30] #3738 closed, assigned to nobody

[2021-08-29 00:40] vdonato commented on #3672
Hi @sleepybunn, sorry for the delayed reply. The number of package conflicts is enough for this to be a bit difficult to me to look through as well, so I'll see if I can reproduce the issue with a fresh conda install on windows and will get back to you after I've given that a try.

[2021-08-29 00:49] vdonato commented on #3704
Hi @jiangchao123, I haven't tried using this package myself, but it looks like the Python markdown [toc extension](https://python-markdown.github.io/extensions/toc/) may be able to help you generate a table of contents. Note that since it generates HTML, you'll probably have to pass the value returned from this extension to `st.markdown` with the `unsafe_allow_html` parameter set to `True`.

Since

[2021-08-29 00:49] #3704 closed, assigned to nobody

[2021-08-29 05:00] yarnabrina commented on #3738
Hi @vdonato, I completely missed `browser.serverPort` and your explanation makes sense. Thanks a lot 😊

However, if you don't mind explaining a bit more, what is the point of making two configurations public? Is there any scenario where user will need to use different ports for these two? If not, can you not expose just one of them and set other to be same internally?

[2021-08-29 11:57] Bihshtein commented on #474
is there a way to by pass this please? this blocks new versions deployments on kubernetes

[2021-08-29 17:45] aleksandar-anastasov commented on #1292
The problem is probably in the path if it has folder title with space.
For example, if your path is: C:/User/My Folder/main.py
and you try to run it as: streamlit run C:/User/My Folder/main.py
you get this Error: Streamlit requires raw Python (.py) files (the problem is in "My Folder" title).
Try to run it as: streamlit run "C:/User/My Folder/main.py" and the problem would be solved.
Cheers

[2021-08-29 17:45] aleksandar-anastasov commented on #2107
The problem is probably in the path if it has folder title with space.
For example, if your path is: C:/User/My Folder/main.py
and you try to run it as: streamlit run C:/User/My Folder/main.py
you get this Error: Streamlit requires raw Python (.py) files (the problem is in "My Folder" title).
Try to run it as: streamlit run "C:/User/My Folder/main.py" and the problem would be solved.
Cheers

[2021-08-30 09:40] thetoby9944 opened #3739 "Forms broken with bootstrap"
### Summary

st.form is not working when streamlit is started via code

### Steps to reproduce

testform.py

[code]

app.py
(Sample code form docs)

[code]

**Expected behavior:**

When run via CLI `$ streamlit run app.py` everything works as expected.

![image](https://user-images.githubusercontent.com/15928349/131318761-f6d8fbd5-6d9a-4180-a8d2-2e4e5cb68f14.png)

**Actual behavior:**

When run vi

[2021-08-30 12:11] zephyap commented on #2908
Hey, I have a similar problem and I was wondering if anyone knows of any workarounds.

I'm running the app as a long-lived service, serving multiple different webpages with a lot of image content. `st.experimental_get_query_params()` is used to determine what's displayed on the page. Usually a user will enter a URL, such as `http://server:port/?param1=value1a&param2=value2a`, view the page, and th

[2021-08-30 14:22] jroes commented on #3739
Thanks for reporting this bug! I'm having a little trouble understanding the challenge you're facing so that I can reproduce it and we can track this down.

Can you share more information? I don't believe we have a `streamlit.bootstrap` API in the main Streamlit codebase. Are you using a library from somewhere else?

[2021-08-30 14:41] thetoby9944 commented on #3739
If you copy & paste the code snippet from "steps to reproduce" it will run.

@jroes
I think you tried this and it looks quite the same, but this will fail:
[code]

You have to import bootstrap explicitly.
The bootstrap module does not get loaded when you import streamlit. You have to import it manually like:
[code]

Hope I could help.

[2021-08-30 14:50] thetoby9944 commented on #3739
@jroes
Additional information:
The bootstrap module seems to be the advised solution for invoking streamlit from within python. Published in the forum:

[https://discuss.streamlit.io/t/how-can-i-invoke-streamlit-from-within-python-code/6612/2](https://discuss.streamlit.io/t/how-can-i-invoke-streamlit-from-within-python-code/6612/2)

[2021-08-30 14:56] jroes commented on #3739
Ah! Ok, I was originally thinking this was about some sort of integration of the Bootstrap UI framework into Streamlit. Now I see.

[2021-08-30 17:22] tconkling commented on #3727
HEy @GitHunter0 - yeah, as Vincent mentioned, we're working on a new caching mechanism that is (likely) not going to try to hash variables that are accessed within the body of the cached function (including things like `import`s).

So this (probably - it's still in development) won't be an issue when the "next-gen" `@st.cache` ships. However! I'm curious what the use case is here. Why not `import

[2021-08-30 17:38] asaini commented on #371
While we are still working on the dataframe width issue, a workaround is to use a component for displaying Dataframes called `streamlit-aggrid`. Column width can be manually configured by dragging the column header on the front end.

Useful links:

- https://github.com/PablocFonseca/streamlit-aggrid
- https://towardsdatascience.com/7-reasons-why-you-should-use-the-streamlit-aggrid-component-2d9a2b

[2021-08-30 18:59] chainyo opened #3741 "RaspberryPi4 deployed app loading stuck with Nginx Proxy Manager & Docker"
Hi, I'm trying to deploy my streamlit app via Docker on my Raspberry pi 4 with my personal router.

Everything is containerized with Docker and are working well. I use `Nginx Proxy Manager` as a secure reverse proxy to share the app on internet at https://streamlit.chainyo.tech , but I can't make the app loading.

The app is running well locally on `<raspberry pi IP adress>:8501` but not loading o

[2021-08-30 21:18] vdonato commented on #3738
Hey @yarnabrina,

There actually are scenarios where the two won't match -- they don't show up often, but it is possible for some to come up in more advanced deployment scenarios. The one that comes to mind would be if streamlit is deployed behind a reverse proxy like nginx, so the browser should connect to the port that nginx is serving from, and the streamlit server itself will be serving from a

[2021-08-30 21:22] vdonato commented on #3741
Hi @ChainYo, I would recommend asking this question on our [community forums](https://discuss.streamlit.io/) as I believe there are a few existing threads in the forums about running/deploying streamlit on an RPi.

I'm going to close this issue as this type of streamlit usage / deployment question generally isn't the type of issue that we tend to use GitHub issues for.

[2021-08-30 21:22] #3741 closed, assigned to nobody

[2021-08-30 21:30] vdonato commented on #3555
Hi @onkarpandit, thanks for volunteering to work on this -- feel free to give this issue a shot!

[2021-08-30 21:50] GitHunter0 commented on #3727
Hey @tconkling , I appreciate your feedback.

I agree with you that for performance it is not advisable to use `import` inside functions, however if I don't call the function frequently, I like to do that to make it 'self-contained', which I think is pretty handy.

I'm actually doing something like this:
[code]

[2021-08-31 07:04] chainyo commented on #3741
@vdonato Thanks for the quick answer, I will. Have a nice day!

[2021-08-31 18:43] vinchg opened #3745 "Give text display a scrolling option similar to text_area"
### Problem

st.text does not have a scrolling option for long bodies of text. Currently, I believe the only way to do that would be to setup a text_area, but I don't want the text to be modifiable. Feel free to correct me if I'm wrong here!

### Solution

Add a height parameter to st.text that will limit the text frame and give it a scroll.
Give text_area a parameter that prevents it from being m

[2021-08-31 20:25] #3337 closed, assigned to vdonato

[2021-08-31 23:10] treuille commented on #3609
It would appear that this is a duplicate of #2156.

[2021-09-01 07:29] usuixingyili opened #3750 "Ability to put widgets in the cell of dataframe."
demo:
![image](https://user-images.githubusercontent.com/74706568/131630186-bc073321-ffc1-41b7-899d-feef72defe93.png)
reproducing now by streamlit 0.86.0:
![image](https://user-images.githubusercontent.com/74706568/131630406-a130a4c0-c47c-4b8d-ba09-0c1896b0d9c3.png)
feature: imitating from Excel
![image](https://user-images.githubusercontent.com/74706568/131630059-447c0541-a410-4f1d-b644-5dba863e4

[2021-09-01 13:38] KlausGPaul commented on #862
+1

[2021-09-01 13:38] ErenBalatkan commented on #647
Bump, forced label results in misplaced element when we have no label. For example, In my case I'm displaying list of elements where you can modify value of each element. I don't want to repeat the "label" 50 times but even when I leave it empty it adds a forced space.

[2021-09-01 15:25] sleepybunn commented on #3672
hello @vdonato, that's fine, thank you

just to inform you, the streamlit v0.86.0 is working on my laptop, but, i installed it from pip, not from conda. got conclicts when trying to install from conda

just it will be better if streamlit can be installed from conda, because most libraries on my laptop are installed from conda

[2021-09-02 18:23] AnOctopus opened #3753 "Expected widget semantics in advanced docs"

[2021-09-02 19:04] ghost commented on #403
Supporting debugging with pdb.set_trace() / breakpoint() would be very useful. Not supporting this is a deal breaker for our team.

[2021-09-02 19:48] #2722 closed, assigned to kajarenc

[2021-09-02 20:52] ghost commented on #2656
Also experiencing this on Firefox on MacOS 11.2.

[2021-09-02 21:20] SimonBiggs commented on #2722
Woo hoo :slightly_smiling_face: :tada:

[2021-09-02 23:11] vdonato opened #3756 "Change the server to serve an index page in local, multipage app mode"

[2021-09-03 01:18] kmcgrady commented on #3132
Hey @pohlt Thank you for following up (and sorry for the delay. I will keep this open for tracking, but we have not prioritized it at the moment. Would love to hear how prevalent PDM is in development workflows and how much this impacts our users.

[2021-09-03 01:29] kmcgrady commented on #3367
Hey @TeddyHuang-00 I am not sure if I can figure out the best solution here. I tried using BrowserStack to replicate Edge browser, and still do not see anything. The best bet will be to talk on the [forums](https://discuss.streamlit.io) and see if anyone else experiences this issue. Someone may be able to help debug it or provide more information there.

[2021-09-03 01:57] kmcgrady commented on #3698
Hey @Digaari Sorry, I am back from a vacation. I tried loading the images from path and am unable to repro here. Would you mind sending a GitHub that I can clone to replicate this? It's difficult from the code snippet to just run the code on the images. Having an easy to clone and run repro example would help.

Thanks!

[2021-09-03 03:09] btjones-me commented on #3130
Hi folks, even using the workaround with session state I find the same issue
[code]

still results in the previous issue. Am I doing something wrong?

[2021-09-03 16:23] TeddyHuang-00 commented on #3367
Hi, @kmcgrady Thank you for your devotion. I forgot to tell you the thing is that as I upgraded to the newest stable version. the problem never happens again. But I'm not sure it is the version of streamlit matters or Edge or it's related to my hardware. Maybe should close this issue if you don't see further problems?

[2021-09-03 17:07] kmcgrady commented on #3367
I am glad it works for you @TeddyHuang-00 . I am going to close this issue. We use a very generic check (does it support the APIs correctly), so I am guessing there was a problem with the Edge browser version. It could very well be a bug introduced. I will close it, but if anyone has more information, they can respond or file a new issue.

[2021-09-03 17:07] #3367 closed, assigned to nobody

[2021-09-03 23:29] kmcgrady commented on #3130
Hi @btjones-me I'm not sure I follow. The code snippet makes sense. Would you mind sharing the repro steps with the code, what you expect, and what actually happens?

[2021-09-04 16:24] ivbac opened #3763 "No rerun on local/custom module script update"
In a single folder I have 2 .py files.
- main.py
- customer.py

I run the app as:
- streamlit run main.py

Problem:
- script update in "customer.py" does not trigger rerun. It did before, ans stopped after update.

Tools:
VS code 1.60.0
Streamlit 0.88.0
Python 3.8.3

Please advice.

[2021-09-04 16:26] ivbac commented on #3763
Also:
__init__.py is added in the same folder
-  import customer is in main.py

[2021-09-04 17:05] victorstorchan opened #3764 "streamlit 0.88.0 upload button"
### Summary

Hi,
When I use a code which was working with version 0.85 to upload some file, I get the error:
AttributeError: 'google.protobuf.pyext._message.RepeatedScalarConta' object has no attribute 'uploaded_file_info'

It seems to come from: file_uploader.py", line 243. Here is the full error message:

Traceback:
File "/opt/software/Miniconda/lib/python3.6/site-packages/streamlit/script_runne

[2021-09-04 21:08] kmcgrady commented on #3532
Closing this issue as "Won't Fix". JSON parsing in JavaScript removes trailing .0 since there is no difference between a float and an integer in JavaScript. Rest assured, the value is a float, and if the value has something after .0, it will appear correctly.

[2021-09-04 21:08] #3532 closed, assigned to nobody

[2021-09-04 21:26] kmcgrady commented on #3520
Looks like React-json-view has updated this so that it is fixed. Will recommend upgrading the package.

[2021-09-05 03:35] yuanjie-ai opened #3765 "display all dataframe"
![image](https://user-images.githubusercontent.com/20265321/132114054-796e8b84-8a61-4b66-84aa-d238b4bb8ec4.png)

[2021-09-05 05:09] yuanjie-ai opened #3766 "how to display html"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

Is your feature request related to a problem? Please describe the problem here. Ex. I'm always frustrated when [...]

### Solution

**MVP:** What's the smallest possible solution that would get 80% of the prob

[2021-09-05 05:32] yuanjie-ai opened #3767 "how to cache tf/keras_model?"
how to cache tf/keras_model?

[2021-09-05 17:36] sasi143 commented on #3290
"""
model = NERModel('distilbert', 'models', use_cuda = False)
model.args.use_multiprocessing = False
"""

This helped me to solve the problem

[2021-09-05 22:45] peter-ealu opened #3768 "Session-State inheritance bug (greyed-out elements appear on re-runs)"
### Summary
Ghost elements appear in the sidebar on app reruns; in particular after ticking and unticking checkboxes in the sidebar. This behaviour started in versions >0.83 (i.e after Session State was introduced)

### Description
The attached screencasts show a toy app illustrating the bug introduced after V0.83. Ticking and unticking checkboxes in the sidebar results in ghost headers haunting t

[2021-09-06 08:11] usuixingyili commented on #3728
Do close this issue now. I have solve this problem by transfer the type of column col2 to 'str'. Thanks.

[2021-09-07 03:23] zsz00 commented on #3530
how is the bug-fix going ??

[2021-09-07 12:42] toppylawz commented on #927
So far, don't think there's any update yet

[2021-09-07 18:59] vdonato commented on #3728
Thanks for the update @usuixingyili, will close this issue.

[2021-09-07 18:59] #3728 closed, assigned to nobody

[2021-09-08 02:27] asaini commented on #3764
@victorstorchan: we noticed you closed this yesterday. Is this no longer an issue?

cc: @kajarenc

[2021-09-08 08:21] bhaskar2443053 commented on #3470
@saitej123
I am facing the same issue. did you solve it ?

[2021-09-08 11:39] raethlein opened #3772 "Dependency 'watchdog' is missing for local testing"
On MacOS, when running `make all-devel` and then `make pytest`, the test execution will fail with following output:

[code]

Adding `watchdog` to the `test-requirements.txt` file fixes the issue.

[2021-09-08 13:53] ro-mathew commented on #727
I've observed that when streamlit apps presenting as "tooling", they use the sidebar to present "settings" while the main canvas renders the processing "result" and "interpretation".  Putting navigation here can work, but it's got an overhead.

From a presentation point of view, I think having a top bar will make a large improvement to the user experience as currently the sidebar conflates navigat

[2021-09-08 14:16] yanissi opened #3774 "Download Button clears cache and app output from Streamlit forms when clicked on."
### Summary

The new download button introduced in Streamlit 0.88 clears the application cache as well as app outputs when I click on it. Another peer is also experiencing the same issue.

### Steps to reproduce

I tried to make a very basic app to reproduce this issue:

    import streamlit as st
    import pandas as pd

    form = st.form(key='testForm')

    something = form.text_input("Input S

[2021-09-08 14:54] dsaad68 commented on #3520
Thanks a lot!

[2021-09-08 15:11] Sarunas-Girdenas commented on #2485
Hey @kajarenc - any updates on this issue? We are having similar problem with bokeh charts too (it displays only the last chart out of few).

[2021-09-08 20:49] rymdluo commented on #2312
Just want to add that @yamrzou's snippet worked for me, albeit a little hacky. Hope to see this issue addressed soon.

[2021-09-08 22:39] vdonato commented on #3671
Going to close this since, as I mentioned above, I believe some existing features (`st.form`) can be used to achieve the desired behavior here. Please let me know if you think the functionality you're trying to achieve isn't possible using `st.form`, and I'd be happy to reopen this ticket.

[2021-09-08 22:40] #3671 closed, assigned to nobody

[2021-09-08 22:43] vdonato commented on #3710
Hi @sadi-guzel, thanks for reporting this and sorry for the delay in replying.

I'll keep this issue open, but we're currently working on what will essentially be a new and improved replacement for `st.cache`, so most likely we won't actively work on a fix for this as streamlit's existing caching mechanism will be deprecated in the next few months if everything goes according to plan.

[2021-09-08 22:47] vdonato commented on #3722
Closing this due to my strong suspicion that this is unlikely to be a bug with streamlit itself, and instead is probably a result of localhost connections being orders of magnitude faster than even internet connections with very good upload speeds.

Please feel free to let me know if the slowdown you're experiencing is disproportionate to the difference in upload speed between localhost and your u

[2021-09-08 22:47] #3722 closed, assigned to nobody

[2021-09-08 23:02] vdonato commented on #3739
Hi @thetoby9944, sorry for the delay in getting back to you on this.

We'll have to do some thinking about this since, while it is possible to import and use `streamlit.bootstrap` from a script, we don't really consider it to be part of our public-facing API (and the way Python packages work makes it infeasible to restrict people from importing and using these internal submodules if they really wa

[2021-09-08 23:07] vdonato commented on #3767
Hi @Jie-Yuan, I would recommend asking this type of question in our [community forums](https://discuss.streamlit.io) since this type of streamlit usage question isn't generally what we use GitHub issues for.

It looks like there has been at least one [thread](https://discuss.streamlit.io/t/cache-keras-trained-model/2398/9) in the forums where a user was able to get a keras model cached using the `

[2021-09-08 23:07] #3767 closed, assigned to nobody

[2021-09-08 23:12] vdonato commented on #3766
Hi @Jie-Yuan, I'd recommend asking this type of question in our [community forums](https://discuss.streamlit.io) since this type of streamlit usage question isn't what we generally use GitHub Issues for.

To answer your question, though, I would take a look at the [st.markdown](https://docs.streamlit.io/en/stable/api.html#streamlit.markdown) function with the `unsafe_allow_html` parameter.

[2021-09-08 23:12] #3766 closed, assigned to nobody

[2021-09-09 05:43] kahliburke commented on #3714
Thanks for the response. That is how I have have patched it locally and I can submit a PR if you'd like?

[2021-09-09 16:59] Danielsesva commented on #611
I am also looking for a feature to export my dashboard as html file or similar. It can then be used in isolated environments where internet connection is not always guaranteed or allowed.

[2021-09-09 17:01] kmcgrady commented on #3538
Hey @mohitagr18 Thanks for the report. I think @andfanilo provided an excellent resource, so I am going to close the issue. We have some work coming up that will help address some of these hashing issues as well. Thanks again!

[2021-09-09 17:01] #3538 closed, assigned to nobody

[2021-09-09 17:02] kmcgrady commented on #3566
Hey @NikhilBartwal ! Thanks for the report. I think @andfanilo provided an excellent resource, so I am going to close the issue. We have some work coming up that will help address some of these hashing issues as well. Thanks again!

[2021-09-09 17:02] #3566 closed, assigned to nobody

[2021-09-09 17:08] kmcgrady commented on #3577
Hi @Tim-Fang ! Thanks for the report. I was unfortunately not able to reproduce this. The code worked fine on my phone in testing. I might suggest trying to upgrade to the latest version of Streamlit to ensure we addressed the issue there. Curious if you can spin up a simple HTTP server and access it. Might be something with the networking connection or firewall.

[2021-09-09 17:13] kmcgrady commented on #3593
Hey @rcsmit Thanks for the report. This is likely due to the following line.

[code]

The figure is getting reassigned to something that is _not_ a figure, which presents the error. I am not super familiar with all of matplotlib, but I would recommend our [forums](https://discuss.streamlit.io/) who might help provide the best direction to implement this.

Closing this issue as not a Streamlit bug,

[2021-09-09 17:13] #3593 closed, assigned to nobody

[2021-09-09 17:21] kmcgrady commented on #3609
Hey @StefanBrand Thanks for reporting this. We have found challenges in upgrading Bokeh and keeping the match of versions difficult. We had to revert a recent upgrade for this reason.

I think @MarcSkovMadsen has a good point that it might be in our best interest to decouple the Bokeh versions and have them supplied by the developer itself.

I'm going to capture it in #2156 that the optimal soluti

[2021-09-09 17:21] #3609 closed, assigned to nobody

[2021-09-09 17:31] kmcgrady commented on #3622
Hi @jenna-jordan ! Thank you for the report. That is certainly an odd behavior. I am unable to try out the code snippet because I do not have access to the CSV file.

Given that it occurs on one user's machine, I would guess that there is some computer configuration, library version, or just a slight mixup of the code. Are you able to reach out to this person? I would like the following:

1. Their

[2021-09-09 17:49] kmcgrady commented on #3635
Hey @benlindsay Thanks for the report. I have confirmed the issue, and the solution will require some thinking. The local development version is the most "accurate" expectation on how it should work. That is, the query params are set (at the end), but the script isn't re-executed. If you reran the script with no change, it would pick up the query params correctly.

There is a more _right_ way, whi

[2021-09-09 18:11] jenna-jordan commented on #3622
@juansantiagobarragan can you provide these details?

[2021-09-09 18:28] kmcgrady commented on #3636
Hey @gallo-json I just tried out that script, and it seems to work fine. See Screenshot.

![3689B6AE-DF0E-4635-85B7-5A2A0455B343](https://user-images.githubusercontent.com/69432/132742159-c3949c0b-671e-4b41-a7ae-bee141dfd7f6.png)

Have you tried the latest Streamlit? You can also try deploying it and seeing if it works. If that's the case, it may be something with Pillow on your machine.

[2021-09-09 18:31] kmcgrady commented on #3643
Hey @finavatar Thanks for this report. We have a few questions related to hashing in cache. I have added this to the list. Thanks again!

[2021-09-09 18:35] kmcgrady commented on #3649
Thanks @mesmith027 and @adenhaus . I can confirm it. It looks like the width of the page is larger. We can provide a better experience on mobile for sure!

[2021-09-09 19:03] kmcgrady commented on #3653
Hey @DmitryBe Thanks for the report! I was able to confirm this. Looks like an issue with our implementation of Arrow. The best workaround, for now, is to run `streamlit run script.py --global.dataFrameSerialization legacy` for now.

[2021-09-09 19:08] kmcgrady commented on #3661
Hey @dorgol Thanks for the report! Can you provide the code snippet for streamlit that demonstrates this error? This makes debugging much easier. 😊

[2021-09-09 19:24] lawilby commented on #3385
Had conversation with PM about this issue and we should try stacking the dates when they are overlapping as a solution. Recording conversation here in case someone else picks up this issue.

[2021-09-09 19:26] kmcgrady commented on #3695
Hey @PiotrCzapla ! Thanks for the report. Yea. This is a difficult issue to determine best scenario. st.write does push for the st.json.

I think the best thing to do is do what @randyzwitch said above. If pretty printing it might help, you might want to use `st.text` and the `pprint` module.

[code]

`st.write` is powerful and does try to take any type and pretty format it. I'm not a fan of warni

[2021-09-09 19:53] lawilby commented on #3494
https://github.com/streamlit/streamlit/pull/3776
https://github.com/streamlit/streamlit/commit/6d30a401954eedafcbf76450b109ccb3a0eaa64b

[2021-09-09 21:46] vdonato commented on #3714
@kahliburke that'd be much appreciated, thanks!

I admittedly haven't put too much time into thinking of a solution that doesn't involve special-casing the behavior for `pd.Series` objects, but I think it'd be worth it to do that for now since it both strictly improves the current situation where things are broken and is a small change we can easily rework in the future if a more clever way of han

[2021-09-09 22:26] KevinLinSL commented on #861
This is available now in https://pypi.org/project/extra-streamlit-components/, but it is not working for me so a native implementation would be nice

[2021-09-10 01:23] kmcgrady commented on #3724
Hi @allanleal ! THanks for the report. I have confirmed this issue and marked it accordingly.

FWIW. I think you wouldn't specify the width and height, but use the `viewBox="0 0 100 100"` attribute instead. I needed to update the script that way.

[2021-09-10 01:30] kmcgrady commented on #3763
Thanks @ivbac for the report! I think this is a duplicate for a few issues:

- https://github.com/streamlit/streamlit/issues/1511
- https://github.com/streamlit/streamlit/issues/3146
- https://github.com/streamlit/streamlit/issues/1606

Do either of these look like they reflect your issue?

[2021-09-10 01:33] ivbac commented on #3763
@kmcgrady Yes. Thank you

[2021-09-10 01:35] kmcgrady commented on #3768
Hey @peter-ealu Thanks for the report! I think this is a persistent issue recorded even earlier here https://github.com/streamlit/streamlit/issues/2820

We are working on some adjustments that _may_ help with this, but I am not sure. Do you use keys on all of these widgets, and are they all unique?

[2021-09-10 01:48] kmcgrady commented on #3774
Hey @yanissi Thanks for the report! I tried out the code and see what you are talking about. This is actually _expected_ behavior. If the script reruns (Pressing the R key, or, in your example, the download button is clicked), the feedback is removed.

The form submit button works just like the button. It sets itself as True when clicked but resets to False on subsequent reruns. The solution here

[2021-09-10 01:48] #3774 closed, assigned to nobody

[2021-09-10 01:52] kmcgrady commented on #3527
Hey @benlindsay Thank you for sharing your ideas about st.pyplot() here. Our mission is to make Streamlit the best way to build data apps, and your thoughts help us focus our roadmap where people feel the most pain. We're going to get this in front of our product team to see how we can best integrate this with our future plans.

We can't integrate every feature into the mainline codebase, but alte

[2021-09-10 01:53] kmcgrady commented on #3629
Hey @rmb-rmn Thank you for sharing your ideas about st.form here. Our mission is to make Streamlit the best way to build data apps, and your thoughts help us focus our roadmap where people feel the most pain. We're going to get this in front of our product team to see how we can best integrate this with our future plans.

We can't integrate every feature into the mainline codebase, but alternative

[2021-09-10 01:55] kmcgrady commented on #3630
Hey @ks00x Thank you for sharing your ideas about st.number_input here. We actually have a duplicate issue about this. https://github.com/streamlit/streamlit/issues/894 I am going to close this as a result. Let me know if this is a different request.

[2021-09-10 01:55] #3630 closed, assigned to nobody

[2021-09-10 01:56] kmcgrady commented on #3637
Hey @quantoid Thank you for sharing your ideas about st.expander here. Our mission is to make Streamlit the best way to build data apps, and your thoughts help us focus our roadmap where people feel the most pain. We're going to get this in front of our product team to see how we can best integrate this with our future plans.

We can't integrate every feature into the mainline codebase, but altern

[2021-09-10 01:58] kmcgrady commented on #3651
Hey @vnavkal Thank you for sharing your ideas about st.caching coroutines here. Our mission is to make Streamlit the best way to build data apps, and your thoughts help us focus our roadmap where people feel the most pain. We're going to get this in front of our product team to see how we can best integrate this with our future plans.

We can't integrate every feature into the mainline codebase, b

[2021-09-10 01:58] kmcgrady commented on #3656
Hi @murtazabasu Thank you for sharing your ideas about styling buttons here. Our mission is to make Streamlit the best way to build data apps, and your thoughts help us focus our roadmap where people feel the most pain. We're going to get this in front of our product team to see how we can best integrate this with our future plans.

We can't integrate every feature into the mainline codebase, but

[2021-09-10 02:02] kmcgrady commented on #3745
Hey @vinchg ! Thank you for sharing your ideas about st.text here. I think you are right, and it's not a pleasant workaround, but you might be interested in using the [HTML components](https://docs.streamlit.io/en/stable/develop_streamlit_components.html)

[code]

Our mission is to make Streamlit the best way to build data apps, and your thoughts help us focus our roadmap where people feel the mos

[2021-09-10 02:03] kmcgrady commented on #3750
Hey @usuixingyili ! Thank you for sharing your ideas about st.dataframe here. Our mission is to make Streamlit the best way to build data apps, and your thoughts help us focus our roadmap where people feel the most pain. We're going to get this in front of our product team to see how we can best integrate this with our future plans.

We can't integrate every feature into the mainline codebase, but

[2021-09-10 02:05] kmcgrady commented on #3765
Hey @Jie-Yuan Thanks for the report. This seems like a bug. Can you provide a sample code that reproduces this. We can see how the style of the dataframe impacts this.

[2021-09-10 02:08] kmcgrady commented on #2294
Going to close this due to inactivity. Feel free to reopen a new issue if needed.

[2021-09-10 02:08] #2294 closed, assigned to nobody

[2021-09-10 02:08] kmcgrady commented on #2387
Going to close this due to inactivity. Feel free to reopen a new issue if needed.

[2021-09-10 02:08] #2387 closed, assigned to nobody

[2021-09-10 02:08] kmcgrady commented on #2451
Going to close this due to inactivity. Feel free to reopen a new issue if needed.

[2021-09-10 02:08] #2451 closed, assigned to nobody

[2021-09-10 02:08] kmcgrady commented on #2955
Going to close this due to inactivity. Feel free to reopen a new issue if needed.

[2021-09-10 02:08] #2955 closed, assigned to nobody

[2021-09-10 02:08] kmcgrady commented on #2706
Going to close this due to inactivity. Feel free to reopen a new issue if needed.

[2021-09-10 02:08] #2706 closed, assigned to nobody

[2021-09-10 02:09] kmcgrady commented on #3139
Going to close this due to inactivity. Feel free to reopen a new issue if needed.

[2021-09-10 02:09] #3139 closed, assigned to nobody

[2021-09-10 02:09] kmcgrady commented on #3232
Going to close this due to inactivity. Feel free to reopen a new issue if needed.

[2021-09-10 02:09] #3232 closed, assigned to nobody

[2021-09-10 02:09] kmcgrady commented on #3295
Going to close this due to inactivity. Feel free to reopen a new issue if needed.

[2021-09-10 02:09] #3295 closed, assigned to nobody

[2021-09-10 02:09] #3198 closed, assigned to nobody

[2021-09-10 02:09] kmcgrady commented on #3257
Going to close this due to inactivity. Feel free to reopen a new issue if needed.

[2021-09-10 02:09] #3257 closed, assigned to nobody

[2021-09-10 02:10] kmcgrady commented on #3224
Going to close this due to inactivity. Feel free to reopen a new issue if needed.

[2021-09-10 02:10] #3224 closed, assigned to nobody

[2021-09-10 02:10] kmcgrady commented on #3142
Going to close this due to inactivity. Feel free to reopen a new issue if needed.

[2021-09-10 02:10] #3142 closed, assigned to nobody

[2021-09-10 02:11] kmcgrady commented on #3145
Hey @GTWBD Have you been able to resolve this problem by chance?

[2021-09-10 02:12] #2793 closed, assigned to nobody

[2021-09-10 02:12] kmcgrady commented on #3243
We have closed as I belive the issue is fixed. Closing the issue.

[2021-09-10 02:12] #3243 closed, assigned to nobody

[2021-09-10 02:12] kmcgrady commented on #3321
Going to close this due to inactivity. Feel free to reopen a new issue if needed.

[2021-09-10 02:12] #3321 closed, assigned to nobody

[2021-09-10 02:12] kmcgrady commented on #3440
Going to close this due to inactivity. Feel free to reopen a new issue if needed.

[2021-09-10 02:12] #3440 closed, assigned to nobody

[2021-09-10 02:13] kmcgrady commented on #3475
Going to close this due to inactivity. Feel free to reopen a new issue if needed.

[2021-09-10 02:13] #3475 closed, assigned to nobody

[2021-09-10 02:14] kmcgrady commented on #3389
Going to close this due to inactivity. Feel free to reopen a new issue if needed.

[2021-09-10 02:14] #3389 closed, assigned to nobody

[2021-09-10 02:29] kmcgrady commented on #3763
Perfect. I will close an issue as a duplicate. Thank you!

[2021-09-10 02:29] #3763 closed, assigned to nobody

[2021-09-10 06:52] peter-ealu commented on #3768
Hi Ken

Thanks for the reply. Each widget has a unique key. I had been using unique
integers {x} prior to V0.84. Since then I've used {str(x)}.

Regards,
Peter

On Fri, Sep 10, 2021 at 2:35 AM Ken McGrady ***@***.***>
wrote:

[2021-09-10 06:55] allanleal commented on #3724
Hi @kmcgrady - thanks for confirming this. I haven't tried setting `viewBox="0 0 100 100"` in the svg image. The best would be to deal with this directly from `st.image`, as it is done for other image formats. Otherwise, users would need to edit the SVG file (which may not be so convenient and straightforward). I'm not sure also if `viewBox` would allow setting 100% width.

[2021-09-10 08:34] Seth-Peters opened #3780 "InternalHashError: unhashable type: 'bytearray'"
### Summary

While caching the return value of initialize() (function that tries to cache an XGBoost model), Streamlit encountered an object of type builtins.dict, which it does not know how to hash.

### Steps to reproduce

@st.cache
def initialize(classifier):
    # pass xgboost model here to classifier

    return classifier

Code snippet:

[code]

(Please provide a code snippet! This will help

[2021-09-10 09:06] adenhaus commented on #3649
Hi @kmcgrady do you guys allow contributions? I love using Streamlit so it would be cool to work on this issue.

I'm not sure where to start though (beginner contributor), so some guidance would be much appreciated.

[2021-09-10 10:40] Wirg commented on #2571
Hello,

I guess someone from streamlit could provide a better answer but here are my 2 cents.

But from my undertanding it happens because the cache is trying to understand your objects by diving into its internals.
It's hard to propose an always working solution and I think sometimes it's unneccessary.

In the case of a deep learning model, I would tend to provide a custom hash function at the to

[2021-09-10 13:00] fgenoese commented on #1002
I am getting a similar error:
`ArrowTypeError: ('Did not pass numpy.dtype object', 'Conversion failed for column geometry with type geometry')`

Here is a minimal code example, distinguishing two ways to load the topojson file:

1. Load topojson from remote URL using altair (`alt.topo_feature()`): works in Streamlit and Juypter Notebook
2. Load exact same topojson locally using geopandas (`gpd.rea

[2021-09-10 15:12] finavatar commented on #570
Hi,
I tried the proposed css rule solution suggested by cedias above and found that it didn't display the items up to the size(height) specified. I defined the height to be 600 px but the  items were displayed up to only 300px (maybe). Between 300px and 600 px it is white space. There is still the scroll bar to scroll the rest of items but up to height 300px only.

Maybe, I misused the css rule so

[2021-09-10 21:28] mkleinbort opened #3781 "Webapp goes blank if one tries to render a dataframe with pd.Timedelta entries"
### Summary

When I try to display a dataframe that contains a pd.Timedelta value, this causes the entire app to go blank.

### Steps to reproduce

This webapp results in a blank screen

[code]

**Expected behavior:**

I'd expect to see a dataframe or an error message.

**Actual behavior:**

The screen is completely white (no error message)

### Is this a regression?

I don't know.

### Debug info

[2021-09-11 00:01] acturner opened #3782 "`DeprecationWarning` that interrupts `tornado` event loop"
### Summary

Getting the following deprecation warning:

[code]

which interrupts the event loop and causes:

[code]

which causes the app to crash.

I tracked the bug down to the fact that in line `26` of `streamlit/server/server_util.py`, the line

[code]

passes a `float` to tornado's web socket handler, when it expects an `int`. I opened a pull request in `tornado` which cast this value to an

[2021-09-11 12:10] damvantai opened #3785 "Error st.image(frame) leak memory when show video from rtsp url in streamlit?"
'
import streamlit as st
import cv2
cap = cv2.VideoCapture(0)
screen_streamlit = st.empty()
while True:
    ok, frame = cap.read()
    screen_streamlit.image(frame)
`
Leak memory when screen_streamlit.image(frame), no auto delete variable frame when override

[2021-09-11 13:33] WodenWang820118 opened #3786 "Be able to add classes or ids to the st.text"
**### Problem**

I've tried to style the rendered text such as font size, font family, with the variables. As far as I know, it's achievable by [using markdown with the f-string trick](https://discuss.streamlit.io/t/passing-variable-containing-text-to-markdown/16069/2), but my app file is filled with a large number of lines of code. From my use case, one file could contain Pandas data frames, data

[2021-09-13 00:04] TimFang4162 commented on #3577
Thanks. My problem has been solved. I tried to use a mobile phone with a higher IOS version. Unexpectedly, the problem was solved!

[2021-09-13 00:04] #3577 closed, assigned to nobody

[2021-09-13 02:15] joshuacadams commented on #2378
I also have this issue in:

- Streamlit version 0.88.0
- Python version 3.9.6
- Chrome version 93.0.4577.63

[2021-09-13 03:47] chuachengling commented on #3764
Hi there, I have the same issue with my code when using streamlit==0.88.0 compared to streamlit==0.85.1 previously
The code snippet is exactly the same as @victorstorchan.

[2021-09-13 06:50] JunShern commented on #946
Hi @nthmost, any update on this?

I understand that solving the general case of auto-constructing all possible headers will likely be very tricky, but could we please have an example for simpler cases?

In particular, I'd like to have a simple use-case displaying numpy arrays directly as videos (without going to file), e.g. I have an array with `shape = (num_frames, C, W, H)` and simply want that

[2021-09-13 12:45] H4dr1en commented on #3764
Hello, I have the same error with the same code with streamlit==0.88, it works well with streamlit==0.87

[2021-09-13 13:31] ivbac opened #3788 "Bad 'setIn' index #(should be between [#,#])"
Getting new message here? What is this?

#= changing digit

[2021-09-13 15:23] raethlein commented on #3604
https://github.com/streamlit/streamlit/pull/3789

[2021-09-13 16:54] kmcgrady commented on #3649
We do allow contributions @adenhaus, but reviews and guidance are a little limited due to staff size. If you are interested in investigating and checking it out, please do. Likely my first place to investigate is the styling in mobile. Something is making it extend outside of the width of the screen. I would investigate what that is. _Likely_ it's due to slightly oversized elements. It might not b

[2021-09-13 16:55] kmcgrady commented on #3649
Thanks for your offer to help!

[2021-09-13 17:16] tconkling opened #3790 "st.form should create proper <form> element (with "enter to submit" support)"
From a user request here: https://discuss.streamlit.io/t/enter-key-press-to-submit-st-form/16939

The request is correct: we don't currently use `<form>` tags in `st.form` HTML output. We should consider it!

---

Community voting on feature requests enables the Streamlit team to understand which features are most important to our users.

**If you'd like the Streamlit team to prioritize this featu

[2021-09-13 17:51] mayagbarnes commented on #3377
https://github.com/streamlit/streamlit/pull/3784

[2021-09-13 18:01] frankhuurman commented on #3790
Thanks Tim! 😄
Looking forward to it

[2021-09-13 19:23] thetoby9944 commented on #3739
Understandable. This might have become a [XY Problem](https://en.wikipedia.org/wiki/XY_problem). I am starting my streamlit app from a python script so users can do:

[code]

Therefore, I have been using an entry point in my `setup.py`. That entry point starts streamlit from within a python script. `streamlit.bootstrap` just seemed the recommended way. But probably there are better ways. Maybe ins

[2021-09-14 00:31] vdonato commented on #3764
Hi @victorstorchan, @chuachengling, @H4dr1en,

Is it possible that the browser tabs being used to upload files were tabs initially opened when running a different version of streamlit?

In 0.88, some changes were made adding new fields to the `file_uploader`, and the error message above suggests that the `file_uploader` state being received from the frontend doesn't contain those fields, which sho

[2021-09-14 01:20] chuachengling commented on #3764
@vdonato you're right, after restarting the streamlit server on a new browser the issue does not persist anymore. Thanks for the tip

[2021-09-14 08:40] H4dr1en commented on #3764
@vdonato Indeed, it fixed it

[2021-09-14 18:43] #3782 closed, assigned to nobody

[2021-09-14 18:43] #3772 closed, assigned to nobody

[2021-09-14 20:10] raethlein opened #3795 "Rename "sharing" in Core"

[2021-09-14 22:43] vdonato opened #3798 "Add more background on what snapshot tests are for to the wiki page"
In our [wiki page about e2e tests and updating snapshots](https://github.com/streamlit/streamlit/wiki/Running-e2e-tests-and-updating-snapshots), it'd be useful to have a section describing what these tests are and why they're useful in the first place to give some more context on them before diving into how to run them and details about why they're often difficult to deal with.

[2021-09-14 22:43] vdonato opened #3965 "Add more background on what snapshot tests are for to the wiki page"
In our [wiki page about e2e tests and updating snapshots](https://github.com/streamlit/streamlit/wiki/Running-e2e-tests-and-updating-snapshots), it'd be useful to have a section describing what these tests are and why they're useful in the first place to give some more context on them before diving into how to run them and details about why they're often difficult to deal with.

[2021-09-15 00:21] #3377 closed, assigned to mayagbarnes

[2021-09-15 02:53] vdonato commented on #3764
Thanks for confirming @chuachengling, @H4dr1en. I'll close this issue as it certainly seems like the bug appeared due to a version mismatch between frontend and server.

We now have a new mystery to figure out, which is why the frontend didn't detect the version mismatch and force a reload of the page. There's code in place to do just this to avoid these types of issues, but for some reason it app

[2021-09-15 02:54] #3764 closed, assigned to nobody

[2021-09-15 03:02] vdonato opened #3800 "App sometimes fails to reload when the frontend and backend versions differ"
### Summary

It's not yet clear exactly what's going on here, but issues reported in #3764 were apparently caused by the frontend not auto-reloading even though the streamlit server was upgraded to a new version. We have code in place in `App.tsx` to detect this exact scenario and force a page refresh, so there seem to be cases where that code fails.

I was unable to reproduce this locally, so fur

[2021-09-15 05:16] masonlr opened #3802 "Event listener error on Safari when run with Docker"
### Summary

Streamlit versions newer than approx v0.78 can cause an event listener error in macOS Safari when Dockerised. This example below works fine in Chrome and Firefox, just not Safari.

### Steps to reproduce

Create a minimal Dockerfile:

[code]

A requirements.txt:

[code]

An example app.py:

[code]

Build and run the image:

[code]

**Expected behavior:**

App displays correctly when n

[2021-09-15 08:37] H4dr1en opened #3803 "App sometimes fails with an inconsistent state"
### Summary

Sometimes, a widget does not update its internal state if it is based on a previous widget state (not certain about that)

### Steps to reproduce

Code snippet:

[code]

1. Add the apple to the multi-select
2. Select the apple in the selectbox
3. Remove the apple from the multiselect

**Expected behavior:**

The selectbox should show no preselected option with, as option, the banana.

[2021-09-15 09:20] torlenor opened #3804 "Slider value and description text overlap for slider in sidebar with long description"
### Summary

If you use a slider in the sidebar with a long description text, the slider value and the description text overlap. See screenshot:

![sidebar_slider_streamlit_0_88_0](https://user-images.githubusercontent.com/14080364/133406203-2f6ea22c-ff6b-411c-b31f-0470fdf80192.png)

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

To have non-overlapping slider value and des

[2021-09-15 09:39] sahil-raj3 opened #3805 "Can`t load streamlit app o browser after succesfull deployment on aws server"
### Summary
After successsful deployement of streamlit app from AWS EC2 instance i can`t open it on my browser. In case of local system it runs smoothly.
i cross checked  aws logs but there is nothing like tha to not load my app on client side.

### Debug info

- Streamlit version:0.88.0
- Python version: 3.x

[2021-09-15 13:48] chesterpoon8 opened #3806 "Converting datetime to str format when caching"
### Summary

function to load data in cache created a dictionary of dataframes. In one of the dataframes, a datetime column needs to be converted to string format.  Using the strftime function created the error. Works fine when not caching the data.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If appli

[2021-09-15 15:19] #3720 closed, assigned to willhuang1997, mayagbarnes

[2021-09-15 19:58] mesmith027 opened #3807 "st.json collapse parameter"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

Have a parameter for st.json(body, collapse) where the default is `False` but you can set it to `True`. This would allow developers to choose if the json file is expanded or collapsed when rendered on the Stre

[2021-09-15 20:35] FrancisJMR commented on #3807
By default st.json(body) displays a js widget for dictionaries that is fully expanded. That's fine for small documents but large dictionaries/json docs can make is unwildly for users to read through and identify important keys.

Suggestion is to:

Make the streamlit.json() function accept a collapse=True argument to collapse values that are objects under root level keys.

For example:

Show
`
{
“n

[2021-09-15 21:36] vdonato commented on #3803
Thanks for reporting this, @H4dr1en. The root-cause of this is the same as that of an earlier-filed issue (https://github.com/streamlit/streamlit/issues/3596), so I'll close this one in favor of the previously filed one.

We have a PR to address this class of problems currently in flight, so hopefully we'll be able to land the fix for this in the next few weeks.

[2021-09-15 21:36] #3803 closed, assigned to nobody

[2021-09-15 21:43] vdonato commented on #3805
Hi @sahil-raj3, I would recommend asking this question in our [community forums](https://discuss.streamlit.io) as this type of deployment issue is unlikely to be a bug with the streamlit library itself.

If I'm remembering correctly, we have quite a few existing forum threads regarding deploying streamlit on EC2. [This thread](https://discuss.streamlit.io/t/streamlit-deployment-guide-wiki/5099) co

[2021-09-15 21:43] #3805 closed, assigned to nobody

[2021-09-16 07:04] zsz00 commented on #3530
how is the bug-fix going ??
@kmcgrady @vdonato

[2021-09-16 09:42] #3604 closed, assigned to raethlein

[2021-09-16 15:45] TeddyHuang-00 opened #3810 "Streamlit not working after upgrading to Debian 11 in WSL2"
### Summary

Streamlit doesn't work well after upgrading Debian to 11 and Python to 3.9. And seems to be stuck on certain functions just as always.

### Steps to reproduce

I'm currently working on two WSL2 machines and a server machine. All of three are now Debian 11. On the server side, I did the same upgrading as I did on WSL2, and Streamlit works on it without any difficulties. On both WSL2 ma

[2021-09-16 16:05] kmcgrady commented on #3530
Hey @zsz00 Thanks for following up, the team has been swamped, and we are trying to prioritize this in. We just got some new hires last week, who are ramping up. This might be a good ticket here.

[2021-09-16 16:07] ElizaStaruk commented on #862
+1

[2021-09-16 16:18] sequoiap opened #3811 "Displaying ints in pandas data frames"
### Summary

When rendering a pandas DataFrame, Streamlit displays negative integer values as enormous positive numbers (seems like a 1's vs 2's complement issue).

### Steps to reproduce

Code snippet:

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/streamlit_badge_black_white.svg)](https://issues.streamlitapp.com/?issue=gh-3811)

[code]

**Expected behavior:**

I would expect a s

[2021-09-16 18:19] #3494 closed, assigned to lawilby

[2021-09-16 19:39] carson36 opened #3812 "Unexpected token N in JSON"
### Summary
When trying to display an altair chart, I'm getting the following error:

SyntaxError: Unexpected token N in JSON at position 537
at JSON.parse (<anonymous>)
at a.e.generateSpec (http://localhost:8501/static/js/26.ff1aa658.chunk.js:2:1129)
at a.<anonymous> (http://localhost:8501/static/js/26.ff1aa658.chunk.js:2:4255)
at s (http://localhost:8501/static/js/6.8dddd10a.chunk.js:2:1786725)

[2021-09-17 10:05] Don-Yin opened #3813 "'setIn' cannot be called on an ElementNode"
### Summary

```'setIn' cannot be called on an ElementNode``` when doing ```placeholder.empty()``` where placeholder holds a slider.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

Explain what you expect to happen when you go through the steps above, assuming there were no bugs.

the slider disappears.

**Actual behavior:**

<img width="511" alt="Screenshot 2021-09-17 at 1

[2021-09-17 11:03] fgenoese opened #3814 "use_container_width=True ignored for altair chart with facet()"
### Summary

I am using altair to facet a layered chart by calling the `facet()` method on the layered chart. This chart is then
 added to the page by calling the `st.altair_char()` method with the parameter `use_container_width=True`. Unfortunately, streamlit ignores the parameter, i.e. the chart width is not equal to the page width.

Below you will find a code snippet.

### Steps to reproduce

C

[2021-09-17 16:04] yarko opened #3815 "Streamlit fails to install w/ Python 3.10 (RC1 & RC2) - pyarrow failure to build"
### Summary

Streamlit fails to install w/ Python 3.10 (RC1 & RC2) - pyarrow failure to build

### Steps to reproduce
[code]

Code snippet:

pyarrow, when building numpy chokes;  numpy, on it's own, installs properly.

snippet from build error:
    gcc: build/src.linux-x86_64-3.10/numpy/core/src/multiarray/scalartypes.c
    numpy/core/src/multiarray/scalartypes.c.src: In function ‘float_arrtype_ha

[2021-09-17 21:14] faynburd commented on #1440
Using streamlit 0.88 I still pretty frequently have missing charts.
I have dropdowns on page if this is of any importance

[2021-09-18 02:26] seanshahkarami commented on #2387
Just in case it helps anyone else - I also ran into this and found that adding a `WORKDIR /app` to my Dockerfile fixed the problem.

Specifically, I ended up using a Dockerfile like this:
[code]

[2021-09-19 01:44] kinghuang opened #3817 "Incorrect serialization of ints using Apache Arrow"
### Summary

When using Apache Arrow to serialize dataframes (the default since Streamlit 0.85), negative ints are handled incorrectly.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

Using the legacy serializer, the negative ints are displayed correctly.

[code]

<img width="686" alt="image" src="https://user-images.githubusercontent.com/27340/133912772-e72e544e-4447-48c1-

[2021-09-19 13:29] Don-Yin opened #3818 "Provide a command to render PDFs"
### Problem

Hello,
:)
I am having trouble with loading pdf files that are larger than 2mb. Here is the code:

[code]
where getEmbeddedPdf is:
[code]
It works perfectly with small files (<1.5-2mb) but not with larger ones. I wonder whether this is caused by a timeout mechanism in markdown method? If so can it be customised?

### Solution

I am thinking of something like:
[code]
Or a component that

[2021-09-19 18:41] VinamraGuptaa commented on #3555
I would like to volunteer.

[2021-09-21 05:43] #3810 closed, assigned to nobody

[2021-09-21 05:44] TeddyHuang-00 commented on #3810
I somehow figured out where the problem is, moved to a new issue

[2021-09-21 06:18] TeddyHuang-00 commented on #3810
I figured out that this is not the problem with Streamlit but rather between matplotlib and WSL2, small modification to make things work:

In PYTHON_LIB_PATH/python3.9/site-packages/matplotlib/cbook/__init__.py, line 82-83

[code]

changed to

[code]

boom! simple fix for WSL2 is done. It is simple and naive but truly helps!

[2021-09-21 14:33] cedias commented on #2975
This bug makes working with Kafka(-like) data sources tricky. The only workaround I've found so far was to add `st.empty` statements in loops.

[2021-09-21 18:19] fredzannarbor commented on #612
bump

[2021-09-21 21:03] #3537 closed, assigned to vdonato

[2021-09-21 21:11] vdonato commented on #3555
Hi @VinamraGuptaa, feel free to take a look at this issue as well, although you may want to coordinate with @onkarpandit to ensure similar PRs for the same ticket aren't submitted.

[2021-09-21 21:39] vdonato commented on #3646
Hi @ks00x,

We took a bit of time to think about this, and in version 0.89.0 (due to be released soon, most likely tomorrow), the semantics of keyed widgets will change so that session state keys corresponding to widgets will only be present in the `st.session_state` dictionary if the widget exists as well. Because of this, you'll need to explicitly set `st.session_state` keys to have the values p

[2021-09-21 21:39] #3646 closed, assigned to vdonato

[2021-09-21 21:51] #3530 closed, assigned to mayagbarnes

[2021-09-21 23:22] kmcgrady commented on #3530
Hey @zsz00 We have a fix in place, but it just missed our cutoff for release. We will get this in the following release in about 2 weeks.

Thank you so much for your patience.

[2021-09-22 03:39] zsz00 commented on #3530
Thank you !!!

[2021-09-22 13:47] rcsmit commented on #3696
**EDIT:**  This seems to do the trick `df = df.astype(str)`

With another dataframe I have also a problem when using st.write. It is a table with expenses, quit simple (date, category, amount)

![image](https://user-images.githubusercontent.com/1609141/134355372-93096ddd-8190-4f47-b75a-5701c89a38a9.png)

I already converted the columnnames into float and removed the totals. And still I have the er

[2021-09-22 14:05] nizarhaider commented on #888
@ajinkya933 you sir are a life saver.

Thanks a lot!

[2021-09-22 14:06] nithinreddyy opened #3829 "I'm facing Date column conversion error"
When i'm trying to convert the date column which is object to datetime, it's converting into year-month-dateThrs-min-seconds and UTC 05:30. Where as in normal jupyter it'll convert into year-month-date format. When I'm trying to resample the date by ay frequency it's throwing an error.

[code]

And the code is :

`d = df.resample('D', on='Date').sum()`

The error is :

`TypeError: Only valid with

[2021-09-22 16:41] fabriziotappero commented on #1061
not working for me either

[2021-09-22 17:44] GitHunter0 opened #3832 "st.download_button() should not rerun the entire page"
Hi folks,

Please, consider the MWE below:
[code]

### Problem

`st.download_button()` reruns the entire page, erasing everything that was opened after clicking "Submit".
This behavior can be problematic, specially for applications that use `st.form()` like this one.

### Solution

Having an option in `st.download_button()` to not rerun anything would be really great.

Thank you

[2021-09-22 20:26] #3580 closed, assigned to lawilby

[2021-09-22 21:40] vdonato commented on #3534
Hey @xaptronic, I wanted to give you a heads up that some recent changes that we made to session_state semantics (re-)introduced some strange behavior in the example script above that's reminiscent of the bug described in this issue. What happens now (as of version 0.89.0) is that the _second_ change to the widget is seemingly reverted after the user selects a new option.

Note that this is the be

[2021-09-22 22:00] vdonato commented on #3596
Fixed in v0.89.0!

[2021-09-22 22:00] #3596 closed, assigned to vdonato

[2021-09-22 23:15] xaptronic commented on #3534
Thanks for the heads up - so I fully understand

Is the intention that this regression would be solved in a subsequent change? I was previously using a version of the method outlined by @AnOctopus - however it was not without it's quirks in my apps :)

[2021-09-22 23:19] vdonato commented on #3623
Released in v0.89.0!

[2021-09-22 23:19] #3623 closed, assigned to willhuang1997

[2021-09-22 23:41] vdonato commented on #3534
I believe I wrote that before I had totally grasped what was going on with the script and why our choice of widget semantics implied the behavior. My current thinking is that the behavior may be a somewhat unavoidable consequence of the widget identity semantics we chose, and I thought the alternative way of implementing this behavior would be sufficient that reverting to the old semantics wouldn'

[2021-09-23 13:39] joergbrech commented on #494
+1 from me. I just played around with voila and streamlit and really like streamlit for several reasons:
 - If there is no need to share code, I don't want to use a jupyter notebook, but a simple python script
 - mybinder.org is awesome, but it is slow to start, especially when I am frequently changing things in my repo
 - streamlit works well on mobile devices.

But I also noticed the performance

[2021-09-23 16:29] SAIVENKATARAJU opened #3838 "file_uploader triggering second time when we click on other buttons in the same page."
### Summary
Hi,
I am trying to create question and answering system for uploaded file. I use side bar for uploading files, and calling one of my webserivice to store in the db. after that i created a text field for question entering followed by a **ask** button. but whenever we click **ask** button after file uploaded its again uploading the file. even I am calling two different webservices.
### S

[2021-09-23 17:43] tvst opened #3839 "[visual bug] st.expander doesn't fade when app is in rerunning state"
### Summary

All Streamlit widgets and elements fade when the app is rerunning. But this is not happening for st.expander.

### Steps to reproduce

Code snippet:

[code]

1. Run the snippet above
2. Once it's done loading (10s!), click the button to cause the app to rerun

**Expected behavior:**

All widgets fade for ~10s, while rerunning.

**Actual behavior:**

Everything fades correctly, except

[2021-09-23 17:43] xaptronic commented on #3534
It is a bit disappointing to hear that you'll be introducing what seems to me to be buggy / somewhat unexpected behavior in favor of "widget identity semantics". I think the proposed solution of tracking things in session state, while it is possible to get it to work, it requires one to introduce some kind of extra session state mechanism on top of an existing one.

That said, it is unclear to me

[2021-09-23 18:06] xaptronic commented on #3534
From the advanced notes:

The behaviour that was fixed in this issue, only worked correctly when a key parameter was passed to a widget. If not, then the odd behaviour persisted.

So the core of this issue is that changing the default value provided to a widget is basically resulting in a new widget being created.

Will think on it some.

[2021-09-23 20:26] carson36 commented on #3812
I'm still haven't found a solution to this error. I did some digging into the JSON stack, and it appears that there is an empty string present in the JSON object.

`/*! For license information please see 26.ff1aa658.chunk.js.LICENSE.txt */
(this["webpackJsonpstreamlit-browser"] = this["webpackJsonpstreamlit-browser"] || []).push([[26], {
    3852: function(e, t, a) {
        "use strict";

[2021-09-24 03:17] bhattbhuwan13 commented on #3839
I would like to work on this. Do you have any suggestions for me?

[2021-09-24 04:09] #3709 closed, assigned to kantuni

[2021-09-24 05:35] sachinpatel248 opened #3841 "Can't reset selected items (check box, radio buttons) by clearing session.state"
### Summary

Can not clear existing selected items from **check box, radio buttons**.
Tried to reset my selection by deleting each element in `streamlit.session.state`

### Steps to reproduce

Code snippet:

[code]

**Steps :**

1. Select any option/(s) from radio button & checkbox.
2. Click on `Clear Selection` button

**Expected behavior:**

On clicking Clear Selection all selected items should

[2021-09-24 07:34] hx-rohan opened #3842 "Session State not working as expected in Streamlit 0.89.0"
### Summary

st.session_state() is not working as expected. After clicking on the form, it disappears.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

The form should not disappear and the Count should be displayed.

**Actual behavior:**

The form disappears after clicking the `Display Count` button

### Is this a regression?

Yes

### Debug info

- Streamlit version: 0.89.

[2021-09-24 09:34] Robstaa opened #3843 "Cannot print session_state when starting the app"
### Summary

(Re-)starting the app or clearing cache leads to a bug when printing the whole `session_state` on the first run.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

No Bug. No error message.

**Actual behavior:**

![image](https://user-images.githubusercontent.com/32093573/134652095-c575828b-874c-4f71-a36b-16162e824209.png)

### Is this a regression?

This works fi

[2021-09-24 10:54] ambrish opened #3844 "Streamlit showing still connecting despite enable cors false"
### Summary
Hi team,
we are using streamlit but it not getting connected when i deploy on aws while locally works fine.

We keep seeing healthz getting called continuously and  finally  more than 10 mins fails.

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us find

[2021-09-24 14:25] whitphx commented on #3533
@snehankekre I found this bug has been introduced again from v0.86.0.

[2021-09-25 00:24] Bandit253 opened #3853 "AttributeError: module 'streamlit' has no attribute 'columns'"
### Summary

While doing this https://docs.streamlit.io/en/stable/getting_started.html

I get the above error whenever I try cols = st.columns(2)

[code]

**Actual behavior:**

AttributeError: module 'streamlit' has no attribute 'columns'
Traceback:
File "c:\python\python39\lib\site-packages\streamlit\script_runner.py", line 337, in _run_script
    exec(code, module.__dict__)
File "D:\_Orata_Cloud

[2021-09-25 00:52] Bandit253 commented on #3853
An additional observation
`st.title(f'My first app {st.__version__}')`

reports...
![image](https://user-images.githubusercontent.com/9003261/134752339-9daf0259-6b9c-4623-855e-9c422920e9fb.png)

[2021-09-25 05:21] whitphx opened #3854 "Rerunning the session does not work inside callbacks"
### Summary

`st.experimental_rerun()` and `Session.request_rerun()` do not work correctly inside callbacks.

This is similar to https://github.com/streamlit/streamlit/issues/3533

### Steps to reproduce
This report is based on `streamlit==0.89.0`.

#### Ver. 1
Code snippet:

[code]

1. Input texts to the `input1` and `input3`, for example, "aaa" and "ccc" respectively. Make sure the each input va

[2021-09-25 07:09] Bandit253 commented on #3853
OK, seems to work now.

No idea what I did wrong but in another project

[2021-09-25 07:09] #3853 closed, assigned to nobody

[2021-09-25 13:56] sslcoder opened #3855 "Range analysis: 485 Approved status is missing in the charts"
### Summary
485 Approved status is missing in the charts when a range analysis is being performed.

Additionally - How often is this data refreshed?

### Steps to reproduce

1. - Go to range analysis
2. - Select 485 for case type
3. - The charts will display
4. - 485 approves status (green) is missing in the charts, a wider range was chosen to see if it is displaying for any dates, even the earlie

[2021-09-25 17:06] wmacmillan opened #3856 "0.89 menu changes hides developer options when dev-ing on cloud IDEs"
Hey folks,

I'm doing my dev work on a project via gitpod, and so the development version of the app is, essentially, cloud hosted. Nothing in the documentation shows me how to override the auto-hiding of the development options. I'm about to dig through your code to see if there's a way anyway, but I'd rather flag it now.

Thanks!

edit: but the hotkeys for the menu items (e.g. hitting `c`) will

[2021-09-25 18:00] papalotis opened #3857 "Type of `OptionSequence` and return value of interactive widget"
**Link to doc page in question (if any):**
https://docs.streamlit.io/en/stable/api.html#streamlit.radio

**Name of the Streamlit feature whose docs need improvement:**
Any interactive widget that receives an `OptionSequence`

**What you think the docs should say:**
All such widgets are typed so that they return a string. This is however not true since the type of the return value is dependent on t

[2021-09-25 18:00] papalotis opened #3972 "Type of `OptionSequence` and return value of interactive widget"
**Link to doc page in question (if any):**
https://docs.streamlit.io/en/stable/api.html#streamlit.radio

**Name of the Streamlit feature whose docs need improvement:**
Any interactive widget that receives an `OptionSequence`

**What you think the docs should say:**
All such widgets are typed so that they return a string. This is however not true since the type of the return value is dependent on t

[2021-09-26 11:08] Anubha13kumari commented on #3857
hi @papalotis  .first timer this side .i want to contribute on this issue  .

[2021-09-26 12:13] Tomiinek commented on #862
+1

[2021-09-26 14:05] akshanshkmr opened #3858 "[Bug] 0.89 Weird behavior in Multipage apps with query_params"
### Summary

I noticed a weird behavior of query_params with the version 0.89
The query params keep resetting to the previous value, the user has to click twice to update the params. Verified that this works properly with versions 0.88 or lower

### Steps to reproduce

Clone this example repo and run app.py
https://github.com/akshanshkmr/streamlit-multipage

My MultiPage Framework:

[code]

(Pleas

[2021-09-26 14:21] dkapitan opened #3859 "Bokeh and Matplotlib not rendering properly"
### Summary

I have made a demo, reproducing Gapminder with different viz libraries, see https://github.com/dkapitan/streamlit-gapminder.

Looking at the Bokeh and Matplotlib charts, only European countries are shown. Testing this separately in a notebook shows the proper chart.

### Steps to reproduce

- See https://share.streamlit.io/dkapitan/streamlit-gapminder/main for a live version with the

[2021-09-26 17:02] HistoryBeginsAtSumer opened #3860 "Internal Hash Error with `sklearn` pipeline objects"
### Summary

Tried to cache (with the `@st.cache` decorator) a trained `Pipeline` object from `sklearn` library. The Pipeline contains custom transformers which may or may not be a problem. Pickling it is absolutely possible, as such, I'm unsure what the actual problem is.

The verbatim error message:

[code]

### Steps to reproduce

Code snippet:

[code]

If applicable, please provide the steps w

[2021-09-27 07:50] usuixingyili opened #3861 "Nested st.expander"
codes:
with st.expander('a'):
    st.write('a')
    with st.expander('b'):
        st.write('b')

![image](https://user-images.githubusercontent.com/74706568/134866563-d2bfcd73-3367-4be6-bcac-51558dd6eb9b.png)

---

Community voting on feature requests enables the Streamlit team to understand which features are most important to our users.

**If you'd like the Streamlit team to prioritize this fea

[2021-09-27 08:44] abhiklodh commented on #3839
@tvst I would love to give this a try. The fix seems simple.

[2021-09-27 12:40] kmcgrady commented on #3780
Hey @Seth-Peters Thanks for the report! We have been working on improving our caching and have released some new primitives to try. Check out our [blog post on it](https://blog.streamlit.io/new-experimental-primitives-for-caching/) Hopefully, these primitives will make this easier.

[2021-09-27 12:42] kmcgrady commented on #3781
Hi @mkleinbort Thanks for the report! Out of curiosity, does it work fine if you set [global.dataFrameSerialization = "legacy"](https://docs.streamlit.io/en/stable/streamlit_configuration.html)? It's possible we have an error in our Arrow serialization.

[2021-09-27 12:45] kmcgrady commented on #3785
Hi @damvantai Thanks for the report! Just making sure, Are you saying each individual frame generated in the while loop is leaked?

[2021-09-27 12:48] kmcgrady commented on #3788
Hey @ivbac ! Thanks for the report! We have seen an issue in the past related to `st.empty` primarily. Depending on what version of Streamlit you have, we did attempt to fix many cases of this in 0.87.0. If you are using the latest, can you provide a code sample that demonstrates it?

[2021-09-27 12:53] kmcgrady commented on #3802
Hey @masonlr Thanks for the report! It seems like you have an older version of Safari. I believe we only support Safari 14 officially. Does upgrading Safari work?

[2021-09-27 13:05] kmcgrady commented on #3806
Hi @chesterpoon8 Thanks for the report! You describe "created the error" Can you share what error you get?

[2021-09-27 13:14] kmcgrady commented on #3813
Thanks for the report @Don-Yin! Based on your code sample, I was unable to repro the issue. Was there anything inside the Some operation done that triggered the issue?

[2021-09-27 13:20] kmcgrady commented on #3811
Hi @sequoiap Thanks for the report! Out of curiosity, does it work fine if you set [global.dataFrameSerialization = "legacy"](https://docs.streamlit.io/en/stable/streamlit_configuration.html#view-all-configuration-options)? It's possible we have an error in our Arrow serialization.

[2021-09-27 13:24] kmcgrady commented on #3854
Hey @whitphx Thanks for the report! Can you describe for me the use case for experimental_rerun inside a callback? Callbacks are triggered before the rerun, so, effectively, experimental rerun should not be needed.

[2021-09-27 13:27] Don-Yin commented on #3813
Hi kmcgrady,

Thanks for your reply!

I later figured that it is somehow related to the number of components on which the ```placeHolder.empty()``` operation is performed. (I was trying to build a multi-pages app without using session_state) (bad idea).

Soon as the number of components that are held by placeholders accumulate to a certain threshold this error appear (at least in my case).

Apolog

[2021-09-27 15:44] ivbac commented on #3788
I think you can close this ticket.. Magically after few windows updates, it started working fine now, even with new st version.ThanksOn Sep 27, 2021 8:48 AM, Ken McGrady ***@***.***> wrote:
Hey @ivbac ! Thanks for the report! We have seen an issue in the past related to st.empty primarily. Depending on what version of Streamlit you have, we did attempt to fix many cases of this in 0.87.0. If you a

[2021-09-27 16:28] kmcgrady commented on #3812
Hi @carson36 Thanks for the report! It looks like I need some extra files to run the script you provided. Any chance you can provide a simpler script that demonstrates the error? That would make it much easier to reproduce and look into the error.

[2021-09-27 16:38] kmcgrady commented on #3842
Hi @hx-rohan Thanks for the report!

Base on the code, this is expected behavior.

On first run, session state is set to 0
On button click, session state is set to 0, then it's set to 1 because the button click returns True
On form click (or really any other rerun), the session state is set to 0, thereby removing the form.

The way to fix this is to initialize session state.

[code]

I believe thi

[2021-09-27 16:38] #3842 closed, assigned to nobody

[2021-09-27 16:41] whitphx commented on #3854
As you said, the code above was trivial examples.
The original problem was on my [`streamlit-server-state`](https://github.com/whitphx/streamlit-server-state) library, described in https://github.com/whitphx/streamlit-server-state/issues/37 and https://discuss.streamlit.io/t/new-library-streamlit-server-state-a-new-way-to-share-states-across-sessions-on-the-server/14981/8?u=whitphx.

This library

[2021-09-27 17:17] tnwei opened #3862 "Mention integer length limitations in `number_input`"
**Link to doc page in question (if any):** https://docs.streamlit.io/en/stable/api.html#streamlit.number_input

**Name of the Streamlit feature whose docs need improvement:** `st.number_input`

**What you think the docs should say:**

Hi folks! Found out when I was copy-pasting the integers generated by `torch.seed()` into `st.number_input`, that the last few digits went to zero after enter is pre

[2021-09-27 18:54] rdpulgar commented on #3290
Try https://discuss.streamlit.io/t/cache-miss-with-no-change-in-input/2211

[2021-09-27 18:56] rdpulgar commented on #1991
Did you see this https://discuss.streamlit.io/t/cache-miss-with-no-change-in-input/2211

[2021-09-27 20:05] kmcgrady commented on #3788
Awesome! Will do!

[2021-09-27 20:06] #3788 closed, assigned to nobody

[2021-09-27 22:43] mkleinbort commented on #3781
I added

[code]

to the config.toml file.

The webapp works as intended.

[2021-09-27 22:46] mkleinbort commented on #3781
FYI, if you change the webapp to

[code]

with
[code]

you get this error in the webapp:
[code]

[2021-09-28 06:47] iamashwin99 commented on #862
+1

[2021-09-28 07:44] cedias commented on #3781
FYI this hasn't been fixed in 0.89.0 (but the using the legacy serialization works)
`Error: Unrecognized type: "Duration" (18)` is raised in the web browser

[2021-09-28 17:04] sequoiap commented on #3811
Oddly enough, running my same example today (with the same version of Streamlit, and I don't believe I've updated any of the dependencies either), I can't replicate the issue. It is displaying negative ints normally.

If I can replicate it in the future, I'll comment again on this issue.

[2021-09-28 17:04] #3811 closed, assigned to nobody

[2021-09-28 20:14] abhiklodh commented on #3839
@tvst I fixed the issue. Will be sending a PR soon.
<img width="1392" alt="Screenshot 2021-09-29 at 1 42 55 AM" src="https://user-images.githubusercontent.com/8018018/135158986-2870c663-02d1-4006-84ba-37d10be61cef.png">
<img width="1392" alt="Screenshot 2021-09-29 at 1 42 44 AM" src="https://user-images.githubusercontent.com/8018018/135159029-cc498e13-2a04-49f3-8f13-bf35b7bf4eaa.png">

[2021-09-29 13:03] knorthover opened #3864 "Add tooltip to st.metric(0 to provide more information on a KPI"
### Problem

It would help our business users to have a bit more description available on KPIs.

### Solution

**MVP:** Could we add a tooltip to the _st.metric()_ function?   That would provide a lot of drill down flexibility, background description and the ability to use f-strings to include more detailed information

[2021-09-29 20:01] Gurudeeban-Selvaraj commented on #868
@Jenia-Jeba @Bipasori

You could try this

st.subheader('Plug into nirvana')
st.markdown(
    "90% of people love to enjoy music, while they are working!  \n"
    "are you one of them, we have a curated list of chillout tracks  \n"
    "that may help you bring out the calmness in you."
)
Two spaces in the end of the line create a line break in Markdown.
it is working for me[https://github.com/stre

[2021-09-29 22:03] tjbergst commented on #3351
I had a similar issue occurring with a simple histogram. I had `np.inf` values in my column that was causing the chart to show blank. There were no other errors in the console and the issue persisted from `0.84.X` - `0.89.0`.

Hope this helps.

[2021-09-30 02:20] fredzannarbor commented on #3807
Endorse this idea, it is good and I need this right now for my production application.

  For extra credit, allow the parameter to specify specific keys for expansion or collapsed.

[2021-09-30 11:05] ocean-kristian opened #3865 "Private mapbox basemap not showing in pydeck=0.7 (works in pydeck=0.5)"
### Summary

My private mapbox map is not showing with pydeck=0.7 and pydeck=0.6.1

Code snippet:

[code]

No map is displayed, just the points
![Screenshot 2021-09-30 at 13 01 05](https://user-images.githubusercontent.com/67058812/135443575-8b03a7b9-0c25-4a93-9b53-48b2381df448.png)

With pydeck 0.5 it works fine. Just with mapbox_key in stead of api_keys input in pdk.Deck

![Screenshot 2021-09-30

[2021-09-30 11:14] #3865 closed, assigned to nobody

[2021-09-30 15:10] asaini opened #3866 "Dataframe header coloring in v0.89 and above"
### Summary

With v0.89, we made updates the design, where the dataframe header coloring was changed.

### Steps to reproduce

Code snippet:

[code]

**v0.89**

<img width="222" alt="Screen Shot 2021-09-30 at 10 03 11 AM" src="https://user-images.githubusercontent.com/1134064/135481134-980351e6-f4f6-4071-960e-61d71cd9b0ec.png">

**< v0.89**

<img width="178" alt="Screen Shot 2021-09-30 at 10 03 50

[2021-09-30 15:28] asaini opened #3867 "Disable hotkeys when menu options are not shown in Viewer Mode"
### Summary

As part of our hamburger menu updates in in v0.89, we remove certain options when a Streamlit app is opened in viewer mode. However, hotkeys corresponding some options like Clear Cache (C) are still active.

This means that a viewer could accidentally clear the cache for everyone by accidentally pressing C.

We would like disable such hotkeys in viewer mode.

### Steps to reproduce

1

[2021-09-30 20:21] JayThibs opened #3868 "Being more clear on terminal output when using streamlit with Docker"
### Problem

It took me a little while to realize that the reason why the Network URL for my streamlit Docker container wasn't working was that it isn't actually the URL I needed to access. I needed to go to localhost:8501 instead of the URL in Network URL. I had to just guess and try things to find this out.

### Solution

Since this is different than when you simply run `streamlit run app.py` (t

[2021-10-01 00:13] vsr2158 commented on #612
+1

[2021-10-01 03:36] fergusonrae commented on #862
+1

[2021-10-01 16:29] papalotis commented on #1250
I would like to bump this issue, as streamlit-tags is not a 1-1 replacement for a text_input field with the autocomplete features of selectbox. streamlit-tags has more in common with multiselect that selectbox. It is primarily designed for many inputs. While the number of max tags can be restricted to one, the visual langugae, still implies that more can be added. It would be great if a "sanctione

[2021-10-01 20:57] asaini opened #3869 "Make hamburger menu mode configurable via config option"
### Problem

See #3856 . Developer would like the ability to configure whether the developer menu or viewer menu is displayed while they are developing on cloud IDEs like Gitpod or Github Codespaces

### Solution

Create a config option

[code]

where
* **true**: always shows the developer menu locally and while deployed
* **false**: always shows the viewer menu locally and while deployed
* **auto

[2021-10-02 00:16] masonlr commented on #3802
Ah, thanks! Working now with Safari 15.0. The docs also did cover this at https://docs.streamlit.io/en/stable/streamlit_faq.html?highlight=safari#supported-browsers.

[2021-10-02 00:16] #3802 closed, assigned to nobody

[2021-10-02 06:38] joaaomaia commented on #2107
thanks! this work to me!

[2021-10-02 14:25] asaini commented on #3856
@wmacmillan: Thanks for bringing this to our attention :)

We discussed this in our Product meeting and agree that having a way to override makes sense.

I've opened #3869 and #3867 for the problems that you raised. Our engineering team is at capacity for the quarter. If we are able to create some additional capacity we will work this. We don't have a timeline for now, but we'll let you know once

[2021-10-02 14:27] asaini commented on #3817
cc: @kantuni

[2021-10-02 14:49] jrieke commented on #3864
Hey @knorthover, thanks for bringing this up! We have this on our roadmap. Can't give you an exact timeline but I guess we'll work on this at the end of this year or beginning of next year.

[2021-10-02 15:37] medecau commented on #1991
@sai-krishna-msk
I might but can't recall how. We eventually moved to expose an HTTP API that the Streamlit app calls. FastAPI was our choice on the server side and httpx the choice on the client side.

But, Streamlit recently release .89 which has two new cache decorators that might interest you.
See: https://docs.streamlit.io/en/stable/changelog.html#version-0-89-0

[2021-10-02 23:18] vdonato commented on #3856
Closing this as the two newly filed tickets capture the changes we'd like to make to resolve the things brought up here

[2021-10-02 23:18] #3856 closed, assigned to nobody

[2021-10-03 05:06] akrer commented on #2953
### CONTRIBUTION
Hello i will be contributing trying to solve this issue for hacktoberfest
btw this is my first time trying to code something larger than a function so if you want to help me my discord is akrer#5272

[2021-10-03 17:17] ilias-ant commented on #3869
hello! can i work on this issue?

[2021-10-03 23:40] jordan-pierre commented on #2463
Any update on this?  I think it would be really helpful

[2021-10-04 14:15] schaumb commented on #2975
We create a branch, where we are solved this, inside streamlit
https://github.com/streamlit/streamlit/compare/develop...FloWide:force_exit_st
What do you think @kmcgrady ?

This daemon thread sends a `SystemExit` exception after a config timeout through python interpreter to all 'hanged' thread.
So when a 'hanged' thread runs a python code,  the python interpreter throws a `SystemExit`.

Sometimes

[2021-10-04 15:46] asaini commented on #3866
Clarified with @tvst that this is working as intended and in the future we want to move away from tying together `secondaryBackgroundColor` with the dataframe headers.

Requesting @snehankekre to remove the section about the above from our documentation.

[2021-10-04 16:03] snehankekre commented on #3866
@asaini I've created a [PR](https://github.com/streamlit/streamlit/pull/3871) to remove this section from the docs.

[2021-10-04 16:07] #3866 closed, assigned to nobody

[2021-10-04 17:44] shermstats commented on #983
Any updates on this?  I have a use case at the moment and the existing hacky solution via `df.to_html` is causing readability issues due to the lack of a scroll bar.

[2021-10-04 17:53] mcskinner commented on #983
I wouldn't hold my breath on updates from Streamlit. They haven't even been able to get their flagship Teams product out the door after multiple years of closed beta.

[2021-10-04 18:29] uros-r commented on #3724
Using width for SVGs is also directly advocated in the docs for `st.image()` - "[width] should be set for SVG images, as they have no default image width."

One workaround that provides control over size (via CSS) is along the lines of [this post](https://discuss.streamlit.io/t/include-svg-image-as-part-of-markdown/1314/3). The `<img>` approach however loses any web fonts used within the SVG. I'm

[2021-10-04 21:42] carolinefrasca commented on #983
Hi @shermstats and @mcskinner,

Thanks so much for reaching out. I've connected with our Product team and let them know this is a feature our users need — hopefully, we can get it prioritized sooner!

Happy Streamlit-ing! 🎈

[2021-10-05 14:11] danicaramirez commented on #1429
I have the same problem :((

[2021-10-05 18:59] hkokko commented on #1584
So what is the status of this.

[2021-10-05 19:44] atriptoparadise commented on #1000
Is any real solution to this problem? It's very urgent to our team and we're in the decision process for if buying Teams version of Streamlit.

[2021-10-05 22:09] alpakaxaxa commented on #1301
I am using a streamlit form to receive some numbers and other information. One problem I have with the number input widget is the lack of format parameters in order to display values as currencies with 'separators'. At the moment it is very hard to recognize a large input number correctly.

Are you open to solutions from the community? Do I have to make pull requests to sprintf-js that is used by

[2021-10-06 00:06] AnOctopus opened #3873 "Session state setting failing to propagate to frontend"
https://discuss.streamlit.io/t/problems-with-the-new-widget-behaviour-under-streamlit-0-89-0/17625

I investigated using the script from the post. The value seen in session state itself is being set correctly, but `should_set_frontend_state_value` incorrectly returns False. It seems like the check for `is_new_widget_value` shouldn't be part of that method. The method implementation should have bee

[2021-10-06 01:53] #3653 closed, assigned to kantuni

[2021-10-06 02:01] kantuni commented on #3653
Hey @DmitryBe,

  The issue has been resolved with #3840.
  Please let us know if there is anything else we can help you with.  
  
  And thanks for using Streamlit! 🎸

[2021-10-06 02:09] kantuni commented on #3817
Hi @kinghuang 👋 ,

This is very interesting! I haven't been able to reproduce the issue even though I've tried many different platforms and Python versions.

Can you please provide more info on `pandas`, `numpy`, and `pyarrow` versioning.
Also, can you please try the latest `streamlit` version (1.0.0 at the time of writing) and see if the issue persists?

Thank you!

[2021-10-06 02:42] kantuni commented on #239
This is not an issue anymore. Since 0.85.0 (Arrow serialization), the performance boost is eye-catching!

[2021-10-06 02:42] #239 closed

[2021-10-06 02:49] kantuni commented on #453
This is no longer an issue with Arrow serialization (since 0.85.0).
Please let us know if there are any cases that are still failing.

Thank you!

[2021-10-06 02:56] kantuni commented on #47
This is no longer an issue with Arrow serialization (since 0.85.0).
Please let us know if there are any cases that are still failing.

Thank you!

[2021-10-06 03:04] kantuni commented on #956
This is no longer an issue with Arrow serialization (since 0.85.0).
Please let us know if there are any cases that are still failing.

Thank you!

[2021-10-06 03:04] #956 closed

[2021-10-06 03:09] kinghuang commented on #3817
Hmm, interesting! I still have the problem with Streamlit 1.0.0, and `pandas==1.3.3`, `numpy==1.21.2`, and `pyarrow==5.0.0` on previously built Docker image extending from `python:3.9`.

![image](https://user-images.githubusercontent.com/27340/136133659-2391d1c8-f130-42fb-8696-cbef20b20498.png)

I then tried pulling the latest `python:3.9` image, running a container with it, and installing `stream

[2021-10-06 03:16] kantuni commented on #1050
This is no longer an issue with Arrow serialization (since 0.85.0).
Please let us know if there are any cases that are still failing.

Thank you!

[2021-10-06 03:16] #1050 closed

[2021-10-06 03:24] kantuni commented on #2189
This is no longer an issue with Arrow serialization (since 0.85.0).
Please let us know if there are any cases that are still failing.

Thank you!

[2021-10-06 03:24] #2189 closed, assigned to kantuni

[2021-10-06 03:32] kinghuang commented on #3817
Looks like the browser is a factor. Using Brave 1.27.111, I'm getting `-1` instead of `18446744073709551615` with both `arrow` and `legacy` serialization.

![image](https://user-images.githubusercontent.com/27340/136136400-64021b1c-b769-49e7-994d-2beb3f6aed06.png)

Using Safari 14.1.2, I see the wrong value when using the `arrow` serialization, but the right value with `legacy` serialization.

[2021-10-06 03:34] kantuni commented on #2569
The Arrow serialization is used for most of the charts, but not for `st.pydeck_chart`. That being said, I see a substantial increase in performance compared to 0.73.1.

[2021-10-06 03:44] kantuni commented on #1878
This is no longer an issue with Arrow serialization (since 0.85.0).
Please let us know if there are any cases that are still failing.

Thank you!

[2021-10-06 03:44] #1878 closed, assigned to kantuni

[2021-10-06 07:07] neibla commented on #2569
@kantuni thanks for that, I just tried out 1.0 and it looks pretty smooth with that demo project now!

[2021-10-06 07:07] #2569 closed, assigned to nobody

[2021-10-06 08:06] JohnReid commented on #1050
Thanks. It looks good to me, this code works as expected with streamlit 1.0.0:

[code]

[2021-10-06 11:54] vvvlad commented on #862
+1

[2021-10-06 12:38] thetoby9944 opened #3878 "Toggle Wide Mode"
### Problem

Cannot toggle layout

_StreamlitAPIException: set_page_config() can only be called once per app_

### Solution

I can access the mode via the settings button - i.e. the checkbox for wide mode. It would be nicer if each page in the app can decide by itself if it wants to be in "wide" mode or "centred" - without the user having to manually adjust the page layout.

**MVP:**
Programmatica

[2021-10-06 13:00] apolinario commented on #3861
Agreed. For advanced settings this makes a lot of sense. I currently have one expander and inside of it there is a "checkbox hack" expander which is less than ideal

[2021-10-06 14:18] sachinpatel248 commented on #3841
Hi Team,
It's almost 2 weeks, any updates here?

[2021-10-06 14:40] openfieldbook commented on #3873
Here's a look at my application. It works completely differently since I upgraded.

https://drive.google.com/file/d/1A4u5yt0zzOZE65GlpWpsnH7f3iMeIMca/view?usp=sharing

I have multiple menus in the sidebar to set `session_states`. Previously, a) these sidebar widgets reflected `session_state` values set earlier in the code and b) they now default to "new widgets" (or something, per [announcement](h

[2021-10-06 15:00] gmerticariu opened #3880 "ReportSession is not released correctly and it causes a memory leak"
### Summary

In order to watch a for file changes and to react to them we register a function which is updating the report session. The registered function was different from the deregistered one and therefore the reference of the object providing the function was never release. This leads to a memory leak.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will h

[2021-10-06 15:29] #3880 closed, assigned to nobody

[2021-10-06 16:27] prdai opened #3881 "Add a backend to streamlit"
Add a backend to streamlit.

So I can add new pages so I can use streamlit as a whole web framework that would be really useful so I can only use streamlit.

With best regards.

[2021-10-06 17:15] jrieke commented on #166
I think this is solved with [submit button and forms](https://blog.streamlit.io/introducing-submit-button-and-forms/), so closing this. Feel free to reopen if not.

[2021-10-06 19:37] KKJSP opened #3882 "Streamlit.image does not accurately display SVGs"
### Summary

The [documentation for st.image](https://docs.streamlit.io/en/stable/api.html#streamlit.image) states that it supports SVG strings. But on rendering certain files, it doesn't show the complete image.

I found a workaround in this [post on the forum](https://discuss.streamlit.io/t/is-there-a-way-to-show-svg-url-as-an-image-in-streamlit/12461) which shows the image accurately.

### Step

[2021-10-07 02:57] es00jung opened #3885 "Once a session takes GPU memory, it holds the memory even when the browser is closed"
### Summary

We are trying to provide a deep learning demo on Streamlit using GPUs. However, once a session takes GPU memory, it does not release the memory even the browser of the session is closed. Thus, whenever we start and run a new demo session, each one takes its memory and finally our server has memory full and the overall sessions are shut down. We would like to end a session and release

[2021-10-07 05:49] vdonato commented on #3885
Thanks for the report @es00jung!

It so happens that we just found and removed a significant memory leak earlier today (see https://github.com/streamlit/streamlit/pull/3879), so it's possible that this will be fixed in the next release (which should happen in ~2 weeks).

I'll make a note to let you know in this issue when the release happens, and at that point you can do some testing on your end t

[2021-10-07 05:54] vdonato commented on #3881
Hi @Programmer-RD-AI, by backend do you mean the ability to write custom API endpoints?

If so, then there's currently a (very long-lived) open issue for this: https://github.com/streamlit/streamlit/issues/439

[2021-10-07 06:04] vdonato commented on #3869
Hi @ilias-ant, feel free to give this issue a try!

[2021-10-07 06:38] vdonato commented on #3855
Hi @sslcoder!

This seems to be describing a bug in an app built with streamlit rather than a bug in streamlit itself. You'll want to contact the app authors to let them know about this.

[2021-10-07 06:38] #3855 closed, assigned to nobody

[2021-10-07 06:39] vdonato commented on #3844
Hi @ambrish, I would recommend asking this question in our [community forums](https://discuss.streamlit.io/) as this type of issue is most likely a deployment problem rather than a bug in streamlit itself.

Note that there's an existing [deployment guide](https://discuss.streamlit.io/t/streamlit-deployment-guide-wiki/5099) thread that links to a good number of resources describing AWS deployments,

[2021-10-07 06:39] #3844 closed, assigned to nobody

[2021-10-07 06:40] vdonato commented on #3862
Thanks for pointing this out @tnwei!

I believe the limitation is probably caused by how we serialize values being passed between client and server. We'll need to figure out the min/max `number_input` values allowed, but I agree that this should probably be mentioned in the docs somewhere.

(CC @snehankekre)

[2021-10-07 06:53] vdonato commented on #3858
Hi @akshanshkmr,

It turns out that this is expected (and admittedly unintuitive) behavior that was caused by a change to widget identity semantics for keyed widgets that we made in 0.89. There's a [page in our documentation](https://docs.streamlit.io/en/stable/advanced_widget_behavior.html) that was recently added to describe the semantics.

Additionally, there's some helpful discussion in [this

[2021-10-07 06:53] #3858 closed, assigned to nobody

[2021-10-07 07:05] akshanshkmr commented on #3858
Thanks for the reply @vdonato

[2021-10-07 10:47] prdai commented on #3881
yes

[2021-10-07 12:09] prdai commented on #3881
I checked #439

Hope contributors of streamlit will find a fix for this issue.
Best of luck.

Regards

[2021-10-07 12:09] #3881 closed, assigned to nobody

[2021-10-07 15:28] Fabiano-py commented on #2397
I'm using Deepin 20 (Debian Linux) with a very old notebook that was donated to me here the only solution was to install by this command   **_pip3 install streamlit==0.62.0_**

[2021-10-07 17:09] ghost commented on #862
+1

[2021-10-07 18:19] aaraney opened #3886 "as a developer, I dont want the api documentation to crash my browser"
The [Api reference](https://docs.streamlit.io/en/stable/api.html) page requires over a gb of ram to load (tested on Firefox 93 and Safari 14.1.2) and make 250+ XHR requests at load time. In my case, this often crashes both Firefox and Safari. As a developer, I want to be able to quickly reference the api documentation.

[2021-10-08 01:05] AnOctopus commented on #3873
@ryanlampkin I can't watch the video (doesn't play in my browser), so I can't tell what the problem is, and so don't know if it is related to this issue. Could you open a separate issue for it, with a small code sample that demonstrates the problem so I can either track down the cause or explain how to work with the new behavior?

[2021-10-08 01:31] #3753 closed, assigned to AnOctopus

[2021-10-08 03:36] openfieldbook commented on #3873
@AnOctopus Uploaded a demo to youtube: https://youtu.be/ZTVokJguQvM

I know you asked me to open a new issue, but I hope this is ok instead.

[2021-10-08 06:18] usuixingyili opened #3887 "Nothing display on app when using st.graphviz_chart()"
streamlit version 1.0.0
graphviz version 0.17

steps to reproduce the bug:

import streamlit as st
from graphviz import Digraph
graph = Digraph()
graph.edge('run', 'intr')
graph.edge('intr', 'runbl')
graph.edge('runbl', 'run')
graph.view()
st.graphviz_chart(graph)

or:

st.graphviz_chart('''
    digraph {
        run -> intr
        intr -> runbl
        runbl -> run
    }
''')

[2021-10-08 08:31] Tooblippe opened #3888 "Give each element a unique HTML `id` or `class`"
HI,

Is it possible to give each of the elements on the page a unique html id?
Would make targering an element a lot easier.

I love streamlit by the way!

---

Community voting on feature requests enables the Streamlit team to understand which features are most important to our users.

**If you'd like the Streamlit team to prioritize this feature request, please use the 👍 (thumbs up emoji) reacti

[2021-10-08 13:50] aaraney opened #3889 "Add ability to change iframe width on custom components"
### Problem

When creating a custom component, I cannot set the iframe width. I can only change the width of the contents of the iframe using css. Namely, `Streamlit.setFrameWidth();` does not exist (for context, `Streamlit.setFrameHeight()` does exist.) Prior to `streamlit`'s column and row units in the python API, a `Streamlit.setFrameWidth()` property might not have made sense, but I would argu

[2021-10-08 13:52] aaraney commented on #3889
@Castronova tagging you here to follow the conversation.

[2021-10-08 14:08] openfieldbook opened #3890 "Session states not persisting after running back-end code via button press"
### Summary

@AnOctopus Please see a video here: https://youtu.be/Jgp2hh26nwM. This is a follow-up to my post in #3873.

### Steps to reproduce

I don't really have a code snippet to reproduce, but I think the [public version of the app](https://share.streamlit.io/ryanlampkin/smg-invest-with-code/main) will reproduce the error with the following steps.

1. Select sidebar menu option "Finalize and

[2021-10-08 17:40] openfieldbook commented on #3890
I just revert to streamlit v0.87 and can confirm this issue does not exist for my app in that version.

[2021-10-08 17:44] openfieldbook commented on #3890
It seems that, after pressing the button (in Step 6 above), the `session_state` is reset completely, because, the session states reverted to the states set at the top of my script which contains the code:

[code]

In other words, the session states from the top of my script shouldn't reset unless they don't exist.

[2021-10-08 17:48] openfieldbook commented on #3890
But in addition to resetting, it seems that two session states were removed. Here is a printout from my command prompt from before and after Steps 1-5

![cmd](https://user-images.githubusercontent.com/39038038/136600300-3f0240a2-7ace-4d06-b885-c9ca76c77539.png)

The two session states that should have been set but do not show in the after version come from the first menu option from the sidebar se

[2021-10-08 19:40] kantuni commented on #3815
Hi @yarko 👋 ,

I've found this on their [documentation](https://arrow.apache.org/docs/python/install.html#python-compatibility):

As we rely heavily on them, Streamlit is not yet compatible with Python 3.10.

[2021-10-08 19:44] kantuni commented on #3815
Update: it looks like there is an open [PR](https://github.com/apache/arrow/pull/11316) already. Let's hope it lands soon!

[2021-10-08 20:01] CoteDave opened #3891 "Best architecture when working with Big Datasets than using IN MEMORY CACHE ??"
Hi,

I Need somme help concerning what is the best Architecture when using Huge table from database.

Suppose I have a table with 1gig of data that is stored in snowflake.

I want to Deploy a Streamlit API that will use many filters and plot many graphs on this huge table.

This huge table will be refreshed on a weekly base in the DataBase.

Is there a more efficient way than downloading the data

[2021-10-08 20:32] kantuni commented on #3815
As soon as `pyarrow` fixes the issue, Streamlit should be compatible with 3.10. I'm closing the issue for now. Feel free to reopen it if some other dependency fails to install.

[2021-10-08 20:32] #3815 closed, assigned to nobody

[2021-10-08 20:39] #3873 closed, assigned to nobody

[2021-10-08 20:53] kantuni commented on #2547
Thank you for taking the time to report the issue!

Although this code snippet doesn’t throw any errors with Arrow serialization (0.85+), the output still needs some massaging to be presented correctly. Currently it shows a number of quarters passed since 1970 before the mentioned date (i.e `2018Q1` is shown as `192`).

A possible workaround is to convert the `PeriodIndex` to `str` with `astype(st

[2021-10-08 20:57] jmugan commented on #1139
Same issue here. I just get a blank page and a trailing slash gives me a 403. The content is being returned, it just isn't being shown on the page.

[2021-10-08 21:16] skterry opened #3892 "Imager/Kp not loading"
### Summary

ETC breaks when selecting certain imager filters.

### Steps to reproduce:
From the homepage of ETC, select "Imager" on left-hand toolbar,
then select filter: Kp.

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

[2021-10-08 21:22] kantuni commented on #1002
Hey everyone 👋 ,

It doesn't look like `pyarrow` supports geometry `numpy.dtype` objects yet, but there is some [work](https://github.com/geopandas/geo-arrow-spec) going on in that direction.
A possible workaround is to drop the geometry column like so:
[code]

In most cases you will need it, but in case you don't - the example above should work just fine.
Hopefully `pyarrow` will fix the [issue](

[2021-10-08 21:46] kantuni commented on #1361
Hi @Stapelzeiger,

It looks like Arrow has an issue with serializing complex numbers as well.
I've added the [issue](https://issues.apache.org/jira/browse/ARROW-14268) to their board. Hopefully it will be resolved soon!

And thanks for using Streamlit! 🎸

[2021-10-08 22:58] #1988 closed, assigned to nobody

[2021-10-08 23:02] kantuni commented on #1988
@domoritz, thank you for reporting the issue!

[2021-10-09 00:17] AnOctopus commented on #3890
Hey, thanks for the video. I can immediately recognize this as partly caused by an issue that was brought up internally when reworking widgets, but I had opted to defer doing anything about because it seemed like a small edge case and I didn't want to jump into complicating things just before shipping. Multi-page apps are a much more compelling use case for other behaviors than I had been consider

[2021-10-09 04:30] Fan-Luo opened #3894 "Not the right dataset"

[2021-10-09 17:51] njss commented on #1662
Also, .vtt subtitles can be used to trigger programmatic events while a video is playing...

[2021-10-09 20:20] openfieldbook commented on #3890
So thanks for the response and help. I will work around it. I'm sure the re-write in 0.89 is only long-term positive for Streamlit. Great job getting to 1.0!

[2021-10-09 21:02] Fabiano-py commented on #2397
I tried the miniconda also gave the same error

[2021-10-10 03:56] tnwei commented on #3862
I see! For starters, I was thinking about a notes section like this:

_Integers beyond the range of `+/- (1 << 53) - 1` will be converted to float and cannot be represented with perfect precision. This is due to integer size limitations when serializing values between the Python server and Javascript client._

Then for each relevant arg, we can just append a short _"See notes for known limitations

[2021-10-10 07:00] #3894 closed, assigned to nobody

[2021-10-11 04:54] XDynames commented on #1019
Using the sweet code on MacOS gives an exception stating that 'NSWindow drag regions should only be invalidated on the Main Thread! This will throw an exception in the future.' and no window shows. The app stalls at this point until you close everything down and restart it.
I guess this is specific to MacOS, but I would like my app to have this functionality on all host systems.
Has anyone found a

[2021-10-11 04:54] XDynames commented on #904
+1

[2021-10-11 15:02] krosaen opened #3895 "ScenegraphLayer not available in streamlit by way of json / pydeck, "JSON converter: No registered class of type ScenegraphLayer"
#### Description
I'm attempting to use `ScenegraphLayer` in streamlit

#### Expected Behavior
I'd like to be able to reproduce this example

https://deck.gl/docs/api-reference/mesh-layers/scenegraph-layer

in pydeck within streamlit

https://docs.streamlit.io/en/stable/api.html#streamlit.pydeck_chart

#### Repro Steps
[code]
The rendered page, on the javascript side, ends up with

"JSON converter:

[2021-10-11 15:03] krosaen commented on #3895
it seems that somehow streamlist needs to ensure that `'@deck.gl/mesh-layers'` is available

[2021-10-11 15:33] randyzwitch commented on #3886
Hi @aaraney, thanks for the note. We are currently revamping our documentation, which will solve this issue. My hope is that it will be released this week.

Best,
Randy

[2021-10-11 15:42] openfieldbook opened #3896 "Dynamic page layout depending on wide-mode"
### Problem
I wrote `st.set_page_config(layout='wide')` into my code. But the end-user can still change layout configuration manually. When this happens, my two-column charts get squeezed.

### Solution
I would like to be able to get the current page layout configuration in order to dynamically change my charting layout from columns to vertical. Something like:

[code]

### Additional context
I do

[2021-10-11 15:47] aaraney commented on #3886
@randyzwitch thanks for the quick reply and contextualizing the issue. It sounds like this should be resolved shortly which is great news!

Happy Monday,
Austin

[2021-10-11 15:47] #3886 closed, assigned to nobody

[2021-10-11 19:16] tvst opened #3897 "PyDeck map state should not reset on rerun"
### Summary

When you pan/zoom a PyDeck charts from st.map (and maybe st.pydeck_chart?), that panned/zoomed state should persist across reruns.

Why this is important: a common interaction on apps that have maps is to zoom into a specific region of the map you care about, and then tweak some sliders to see what happens _within that region_ as the data changes. This bug breaks this interaction.

##

[2021-10-11 19:26] tvst opened #3898 "PyDeck chart sometimes becomes unresponsive"
### Summary

Try dragging the maps in [the Uber demo](https://share.streamlit.io/streamlit/demo-uber-nyc-pickups/). They will quickly become unresponsive (i.e. panning / zooming stops working).

### Steps to reproduce

https://github.com/streamlit/demo-uber-nyc-pickups

1. Go to https://share.streamlit.io/streamlit/demo-uber-nyc-pickups/
2. Drag each of those charts to pan them. Do this at random.

[2021-10-11 22:04] kmcgrady commented on #2485
Hey @Sarunas-Girdenas Thanks for following up. At the moment, we have not had much time to focus on this, but our team is gaining a new member at the end of the month, and this might be a good task.

[2021-10-12 09:28] solarjoe opened #3899 "Set focus on a widget, e.g. for `st.text_input`"
### Problem

When users have to provide data via TextInput elements there should be a way to
guide them through forms or text fields by activating them on load.

That way it is possible to e.g. activate elements one after another when a
callback function is triggered on button click or text is sent with Enter.

### Solution

As e.g. with 'autocomplete', the 'TextWidgetsMixin' should forward a para

[2021-10-12 13:56] MarcoTranxpert commented on #862
+1

[2021-10-12 14:17] krosaen commented on #3895
I think it would be as simple as adding in `mesh-layers` here (and need to import at top)

https://github.com/streamlit/streamlit/blob/fdcb1d0efdb53427c72bb266b08ef2d80b8a8cab/frontend/src/components/elements/DeckGlJsonChart/DeckGlJsonChart.tsx#L57

[2021-10-12 17:17] randyzwitch commented on #3886
@aaraney This launched about 45 minutes ago, so once your DNS catches up you will hopefully see a marked improvement. If there are still performance issues, please feel free to outline them as new issues and we'll work through them as we can!

[2021-10-12 19:05] solarjoe opened #3903 "Setting widget values using session_state does not work after initialization"
### Summary

If a widget's value is set by modifying the session state the widget does not update.

The [docs](https://docs.streamlit.io/library/advanced-features/session-state) state

### Steps to reproduce

If you take the example stated in the docs that works fine and sets the value, but only for the first run

[code]
If you modify the session state before the widget is "initialized" the GUI do

[2021-10-12 19:20] solarjoe commented on #3903
I just saw that the code lines where the values are set
[code]
seem to trigger the callbacks, if the values are not 'sdf' or 50.
You can see the two blocks at the top.
That seems a bit strange and unexpected to me
because I would expect this only on GUI interaction.
Is this triggered by JavaScript?

[2021-10-13 12:19] BryanWBear commented on #1873
Any update on this? Displaying using st.dataframe and having all the functionalities (as @llzhu mentioned) would be very useful.

[2021-10-13 14:26] eblaauw commented on #3028
Is there any work around for this? We are experiencing this issue as well while running Streamlit on Cloud Run.

[2021-10-13 14:43] lgeiger commented on #3028
We switched our deployment from GCP App Engine to Google Cloud Run and haven't experienced any issues there yet.

[2021-10-13 15:25] eblaauw commented on #3028
Thanks for your reply @lgeiger - that's interesting! We are using Google Cloud Run and the `healthz` endpoint gives a 404 for us.  Are you using Cloud Run or Cloud Run Anthos? I am considering moving the application to GKE as it looks like `/healthz` is reserved by Cloud Run.

[2021-10-13 16:14] solarjoe commented on #3903
Is this mapped correctly onto the proto values? `"stringValue"` vs. `string string_value = 6;`

https://github.com/streamlit/streamlit/blob/b8c284071b6c5ed5291526978ee7b589e4d1695c/proto/streamlit/proto/WidgetStates.proto#L43

https://github.com/streamlit/streamlit/blob/17d8999d7b27fbd85fe3664a6c56fd4579cdf9eb/frontend/src/components/widgets/TextInput/TextInput.tsx#L64

https://github.com/streamli

[2021-10-13 19:22] schaumb commented on #2926
The PR solved this.

[2021-10-13 19:22] #2926 closed, assigned to nobody

[2021-10-13 20:55] vdonato commented on #3903
The conversion from `snake_case` to `lowerCamelCase` is done automagically for protobufs depending on the conventions of the language, so the mapping here is correct.

I think a change may have recently gone in to fix this that'll be released in the next version. @AnOctopus can confirm whether this is the case.

[2021-10-13 21:01] vdonato commented on #3832
Thanks for the suggestion, @GitHunter0!

I'm not exactly sure how difficult this would be to implement, but @kajarenc may have some ideas about the complexity of the addition.

[2021-10-13 21:12] vdonato commented on #3860
Hi @HistoryBeginsAtSumer!

I believe you'll want to specify a custom hash function for your model to get this to work. There's a section in our [documentation](https://docs.streamlit.io/library/advanced-features/caching#the-hash_funcs-parameter) describing how to do this.

It looks like your case is most likely a real bug from the error message, but I'm going to close this issue as setting a hash

[2021-10-13 21:12] #3860 closed, assigned to nobody

[2021-10-13 21:29] vdonato commented on #3892
Hey @skterry!

It seems like you've found your way to the issues page for streamlit itself while attempting to file an issue for an app built using streamlit, so I'll have to close this issue 😅

Admittedly, older versions of streamlit did not make it clear that the `Report a bug` button is to report a bug with the streamlit library itself and not with the app, but we've improved this in more recen

[2021-10-13 21:29] #3892 closed, assigned to nobody

[2021-10-13 21:31] vdonato commented on #3891
Hi @CoteDave!

I would recommend asking this question in our [community forums](https://discuss.streamlit.io/) as that's generally the place where these types of streamlit usage / software engineering questions are most likely to get answered (vs here in GitHub issues, where we generally deal with bugs and feature requests).

[2021-10-13 21:31] #3891 closed, assigned to nobody

[2021-10-13 21:51] skterry commented on #3892
Oops sorry about that.

On the app/widget there are two (confusing) options. On the left panel of this app there is an option “submit a bug” (i.e. to the app devs), and on the upper-right dropdown options there is an option “report a bug” (i.e. to streamlit devs).

Sorry again about that.
Cheers,
Sean

[2021-10-13 22:11] vdonato commented on #3882
Thanks for reporting this @KKJSP!

This one might be a tricky one given that, as far as I can tell, the root cause of the issue seems to lie with one of the libraries that we use to convert from svg -> react component (see https://github.com/peternewnham/react-html-parser/issues/45 and https://github.com/peternewnham/react-html-parser/issues/56), and the library seems to no longer be actively main

[2021-10-13 22:39] vdonato commented on #3854
Thanks for the additional info @whitphx.

As `experimental_rerun` is still in the `experimental` namespace, a fix for this may not end up being the highest priority for us. However, taking a glance at the code, I think it should actually be pretty straightforward to do, so I'll see if I can get a fix out some time in the next few weeks.

[2021-10-13 22:53] vdonato commented on #3843
Hi @Robstaa, thanks for reporting this!

Are you able to produce a full script that acts as a minimal working example (along with steps to be taken to reproduce the issue)? I'm not able to reproduce this myself with the following script on streamlit versions 0.89.0 or 1.0.0 by restarting the server/clearing the cache/triggering a script rerun by toggling the checkbox.

[code]

[2021-10-13 23:00] vdonato commented on #3160
Closed by #3900

[2021-10-13 23:00] #3160 closed, assigned to nobody

[2021-10-13 23:25] GitHunter0 commented on #3832
Thanks @vdonato !

Actually, I believe all suitable Streamlit components should have a `rerun parameter` with 3 options:
- `rerun the entire page` (currently the default behavior)
- `rerun everything below the current component but nothing above`
- `rerun nothing`

@kajarenc , I also don't know how difficult it would be to implement it but in my view it would put Streamlit in another level of capa

[2021-10-14 00:15] #3586 closed, assigned to AnOctopus

[2021-10-14 05:27] solarjoe commented on #3903
Yes, I found the tickets and PRs, and it seems to be the same issue.
https://github.com/streamlit/streamlit/issues/3873

I also saw other PRs that discuss this behaviour with select_slider and slider and I also see this behaviour with text_input and text_area.

Is there a simple method to try the new changes without having to npm build?
Else I will have to wait for the changes to make it to PyPI.

[2021-10-14 05:55] solarjoe commented on #3903
I can also confirm that it works fine with Streamlit 0.87.0

[2021-10-14 08:39] snehankekre commented on #2656
We've moved the docs from Sphinx to Next.js and Netlify at https://github.com/streamlit/docs/. This issue is no longer relevant and has been fixed.

[2021-10-14 08:39] #2656 closed, assigned to mesmith027

[2021-10-14 08:55] schaumb opened #3907 "Scary traceback wrote to the console when I hit ctrl+c"
### Summary

When I have buggy software, and I want to restart streamlit, sometimes on ctrl+c writes the following traceback:

[code]

This happens because the streamlit was interrupted from the signal handler, which tried to wrote to the console, but the report thread already locked the stdin buffer.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

Not showing this tracebac

[2021-10-14 09:16] harahu opened #3908 "`st.stop` should be annotated with the `NoReturn` return type"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

When analyzing my code with type checkers like `mypy`, I would like code like

[code]

to be trigger checks for unreachable code.

### Solution

The solution should be as simple as adding a `typing.NoReturn` r

[2021-10-14 10:49] sachinpatel248 commented on #3841
@Amey-D , @kantuni , @vdonato , @mesmith027
Any views?

[2021-10-14 16:53] nguyen-viet-hung opened #3911 "Memory increase when using st.empty() to show video frame"
### Summary

I see the memory is increasing when using streamlit.empty() to show video frame captured from camera. If don't show the video frame, the memory is stable.

### Steps to reproduce

Code snippet:

[code]

### Debug info

- Streamlit version: 1.0.0
- Python version: 3.7.9
- Not using virtual environment
- OS version: Rocky Linux release 8.4 (Green Obsidian)
- Browser version: Firefox 78.

[2021-10-14 17:37] giswqs commented on #3895
Please add support for custom libraries like [earthengine-layers](https://github.com/UnfoldedInc/earthengine-layers). Got the same error `JSON converter: No registered class of type EarthEngineLayer`  https://github.com/UnfoldedInc/earthengine-layers/issues/120

@ibgreen @kylebarron

![](https://user-images.githubusercontent.com/5016453/137220221-aaff8a84-0577-42fc-9bee-9e48998f5355.png)

[2021-10-14 22:32] AnOctopus commented on #3903
Yep, this should be fixed by #3875, which will be included in the next release.

[2021-10-15 01:43] kmcgrady commented on #3841
Hey @sachinpatel248 Thanks for reaching out. The team has been busy the past few weeks and is finally catching up a little bit. We are taking a look at this issue and hopefully will have a fix out soon. Stay tuned! 😊

[2021-10-15 09:35] harahu commented on #3908
Can be closed now, I guess?

[2021-10-15 09:35] #3908 closed, assigned to nobody

[2021-10-15 10:50] StefanBrand commented on #1131
For reference: The relevant doc can be found here: https://docs.streamlit.io/knowledge-base/using-streamlit/streamlit-watch-changes-other-modules-importing-app

[2021-10-15 11:50] bodacious-bill commented on #1002
@kantuni is that same style error the reason that @heucoder 's map is not rendering?

If the data is defined by a GitHub URL, is it the front-end that is pulling the data from GitHub, and that's why it still works?

[2021-10-15 12:00] bodacious-bill commented on #2910
I think this happens for any geojson data that is not defined only by the URL. I get the same error when trying to draw a map using a geojson dict passed directly to the function instead of one loaded from a URL.

Here is a minimal example, using very basic geojson data:

[code]

The result:
![4bd398c4c714035431ab35b9224b424e889a86e0](https://user-images.githubusercontent.com/46822548/137482932-78

[2021-10-15 20:39] arnaudmiribel opened #3916 "Typo in singleton docstring"
**Link to doc page in question (if any):**

[here](https://docs.streamlit.io/library/api-reference/performance/st.experimental_singleton)

**Name of the Streamlit feature whose docs need improvement:**

`@st.experimental_singleton`

**What you think the docs should say:**

- names of variables are `s1, s2, s3` and not `d1, d2, d3`.
- we could want to use SESSION_URL_1 etc. in place of DATA_URL now

[2021-10-15 21:17] arnaudmiribel opened #3918 "Fix wrong Streamlit static app for st.caption() doc"
**Link to doc page in question (if any):**

[[click here]](https://docs.streamlit.io/library/api-reference/text/st.caption)

**Name of the Streamlit feature whose docs need improvement:**
`st.caption()`

**What you think the docs should say:**
The Streamlit static app below should show how `st.caption()` works - it currently shows how `st.title()` work

<img src="https://user-images.githubusercont

[2021-10-16 00:05] tvst opened #3919 "Markdown inside st.title/subtitle/header should inherit font size"
### Summary

When you type ``foo`` inside an `st.title`, the resulting title should contain the word "foo" in large title size.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

![image](https://user-images.githubusercontent.com/690814/137565780-882354ff-5f94-4ff0-86c6-f7cd6ddf6749.png)

**Actual behavior:**

![image](https://user-images.githubusercontent.com/690814/137565773

[2021-10-16 08:44] archilk commented on #3807
Hi,

I want to volunteer to fix this issue. Let me know it it's okay.

Thanks,
Archil

@vdonato

[2021-10-16 09:31] midannii opened #3920 "Error when running streamlit"
After upgrading streamlit with version 1.0.0, I cannot run streamlit, even 'streamlit hello'
I mean, when I run "streamlit hello", there is output below.
However, I can connect with http://192.168.0.108:8501 and http://203.229.155.49:8501.
I think It is a bug

[code]

- Streamlit version: 1.0.0
- Python version: 3.8.12
- Using Conda? PipEnv? PyEnv? Pex?
- OS version: Linux (in SSH)
- Browser versi

[2021-10-16 17:43] iromeo opened #3921 "Warning when initialisation st.number_input using state API"
### Summary

When using State API st.number_input() always result in a warning: `The widget with key "...." was created with a default value but also had its value set via the Session State API.`

### Steps to reproduce

Code snippet:

[code]

If applicable, please provide the steps we should take to reproduce the bug:

1. Go ceate a simple app with number_input comp
2. Run `streamlit run app.py`

[2021-10-16 18:55] KKJSP commented on #3882
@vdonato Thank you for looking into it. It's fine for me, the workaround I mentioned above is sufficient.

[2021-10-16 20:35] KKJSP opened #3922 "Clearing cache does not work for st.experimental_singleton and st.experimental_memo"
### Summary

The clear cache option in the hamburger menu (or by pressing `C`) only clears data from `st.cache` methods. It does not clear the `st.experimetal_singleton` or `st.experimental_memo` methods.

Is this by design? If so, how should cache be cleared for the latter two.

### Steps to reproduce

Here's an example app. Clearing the cache and rerunning doesn't change the time for `st.experim

[2021-10-16 21:08] tvst opened #3923 "Left-align "Made with Streamlit" when in wide mode"
### Summary

When in wide mode, the "Made with Streamlit" footer isn't aligned with the page content. We should fix that!

![Untitled](https://user-images.githubusercontent.com/690814/137602112-0ad9ef67-dfb0-43a5-8277-e9168fecbafc.png)

### Is this a regression?

no

### Debug info

- Streamlit version: 1.0.0

[2021-10-17 00:43] vdonato commented on #3534
Hey @xaptronic -- I've been meaning to get back to you on some of the questions you asked, but I haven't been able to find the time in the past few weeks to do so until now. The team has been quite busy!

As to whether eventually tying widget state to query params will force you to change the way you currently do things, my hunch is that it won't (although I'm not able to give any true guarantees)

[2021-10-17 08:58] michael135 opened #3924 "st.pyplot subplot stretching (distortion)"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

When creating a subplot, for example (2 by 2), but with only one picture, the picture in stretch to the full size of pyplot.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

I expect, that is there only one subplot in (2 by 2) it will take a quarter of the space.
This is what happens i

[2021-10-17 11:01] steeley opened #3925 "Session.state not working correctly with sliders"
### Summary

sliders with values in session.state always go back to the initial value between multiple pages even if their session.state value is updated. This was not an issue prior to version 1.0.

### Steps to reproduce
create a simple app with 2 pages, a main app with  a side bar with radio buttons to select each.

add a session.state counter button on each to show this works ok.
Code snippet:

[2021-10-18 08:28] ais-one opened #3927 "Add to window width and height to Streamlit.RENDER_EVENT"
### Problem

I am not able to get the parent window dimensions. The size is useful for sizing things in the custom component.

### Solution

It is not a difficult fix. The information is easily available from the window object and can be easily put. into the code.

### Additional context

This is what I think was needed when I was trying to implement a dropdown menu custom component in the sidebar

[2021-10-18 11:25] jonathan-ibex commented on #3587
Any update on this? Running into the same issue

[2021-10-18 12:34] PablocFonseca commented on #2555
Pushing this one up. I just got in the same situation of @andfanilo and @okld. Needed to implemnt a custom button like component and no other way besides setComponentValue and block component return in python.

[2021-10-18 12:39] okld commented on #2555
Another temporary solution using `st.session_state`:

[code]

[2021-10-18 13:12] oerpli commented on #3925
I have a similar issue, though with some differences:

The structure is approx as follows:

[code]

- All my selections are made with `st.multiselect`
- I have a hierarchy of selections, i.e. the options on page 2 depend on the choice made on page 1
- When selecting a subset of A and navigating to page 2, state from page 1 is correctly remembered. After selecting some value `b` from `B`, state fro

[2021-10-18 14:09] vhoulbreque opened #3928 "InternalHashError: 'method_descriptor' object has no attribute 'module'"
### Summary

Some functions seem to not be able to be cached (but they are pretty commonly used).

I've checked https://stackoverflow.com/questions/27068154/in-python-what-is-a-method-descriptor but it tells to use another package other than `pickle` (in their case, `dill`) which is beyond my control.

### Steps to reproduce

Code snippet:

[code]

The entire error message:

[code]

### Is this a

[2021-10-18 14:20] vhoulbreque commented on #3928
On my own code, replacing the `date_to_timestamp` function by:

[code]

solves the problem.

But it may not be possible for everyone to just "switch functions" in order to get the cache to work.

[2021-10-18 14:38] spideryzarc commented on #1088
hi there,
I tried with embed and nothing is shown. Tried with iframe and the browser shows a blocked message ERR_BLOCKED_BY_CLIENT.

both methods work locally, and both fail  on the streamlit cloud.

[2021-10-18 18:24] abdullahtrn commented on #862
+1

[2021-10-18 20:41] kmcgrady commented on #3925
Hey @steeley and @oerpli. Thanks for the issue! @oerpli is correct, that we did make some adjustments to session state, and specifically widgets in this case. When widgets disappear from the page, we clear out their value in session state.

If you want to maintain this functionality, I would update a variable in session state in a callback. I _believe_ the following code would work.

[code]

This

[2021-10-18 20:50] vdonato commented on #3920
Hi @midannii,

I'm having trouble reproducing the issue with `streamlit hello` on my local machine. Could you provide a bit more information about how exactly you're running streamlit? I noticed that you're running streamlit in a machine that you're ssh-ing into. I wonder if the problem you're running into has something to do with ssh tunneling rather than streamlit itself.

[2021-10-18 20:54] steeley commented on #3925
thanks - that is one way of working around the issue.
However the way you have it now seems inconsistent - the variable attached to the button stays, but the slider one does not.

[2021-10-18 20:58] willhuang1997 commented on #3924
Hi @michael135 ,
Thanks for bringing this issue up. I have confirmed this behavior and it definitely looks bizarre.

Currently, our implementation of the api `pyplot` expects behavior like this. We currently scale all plots to the full width of the page and we can look into offering functionality in order to scale this. Our mission is to make Streamlit the best way to build data apps, and your tho

[2021-10-18 21:29] kajarenc commented on #3922
Thank you @KKJSP for report.

These functionalities are experimental, and there is currently no way to clear cache from `st.experimental_memo` and `st.experimental_singleton`.

We will work on this in the future.

[2021-10-18 21:31] mayagbarnes commented on #3921
Hi @iromeo,
Thanks for bringing this issue up. It looks like you are setting the value of the number_input widget prior to each run through the following line of code, which doesn't allow for changes to the value through the widget:
`st.session_state['comp.pagination.chunk_size'] = 5`

This is actually intended behavior. The following code should help, where we initialize on the first run. Please

[2021-10-18 22:49] vdonato commented on #3807
Hi @archilk, thanks for volunteering -- feel free to give this issue a try!

[2021-10-18 22:51] trenta3 opened #3930 "Allow to postpone the rerun of the whole script after a section of code"
### Problem
I have the need for a part of my script to update multiple variables (stored in st.session_cache) and execute other code prior to rerunning the whole script (e.g. change a variable that is also displayed and save the variable content into a database).
Currently I find that the app is rerun from the start at the first changed variable, and I don't get the chance to write into the databa

[2021-10-18 22:55] vdonato commented on #2973
Closed by #3910

[2021-10-18 22:55] #2973 closed, assigned to nobody

[2021-10-18 23:51] kmcgrady commented on #3925
In this case, the counter variable is not attached to the button because it is updating a different variable, a consistent behavior. Note the session state variable for the counter has an independent name and not the same as the button's key (which is not supplied).

We debated a lot about the implications of different approaches but felt that this functionality creates the same consistency under

[2021-10-19 00:43] tconkling opened #3932 "Certain images cause `st.image` to throw an error"
Script:

[code]

Image:

[colossus.jpg.zip](https://github.com/streamlit/streamlit/files/7369374/colossus.jpg.zip) (compressed here just to ensure Github doesn't re-encode the image)

Causes streamlit to throw an exception: "AttributeError: 'NoneType' object has no attribute 'encode'".

---

The root of the issue:

`image.py` has a `_normalize_to_bytes` function that tries to guess the type of an

[2021-10-19 01:31] ais-one commented on #3927
ignore, you can get the window.outerHeight in our userland code, so no need for this. closing issue.

[2021-10-19 01:31] #3927 closed, assigned to nobody

[2021-10-19 03:58] archilk commented on #3807
@vdonato Awesome, will attempt it in the coming weekend. I'm a newbie though so please bear with me.

[2021-10-19 06:57] fredzannarbor commented on #313
What happened with this? I need SSL to deploy.

[2021-10-19 07:51] iromeo commented on #3921
Hi @mayagbarnes,

Thank you for the reply. Actually, I do the same lazy initialization and forget to mention it in the issue description. For the first app run (after server started) component key is in any case not in cache, so I omitted 'if' condition in the minimal test case, seems it confused you.

I suppose you didn't check that you suggested example works as you expected. For your example I

[2021-10-19 08:35] steeley commented on #3925
ok thanks for the info.
The overview makes interesting reading.:
"4 and 5 are the most likely to be surprising and may pose a problem for some application designs."
 I do love surprises LOL :)

[2021-10-19 08:35] #3925 closed, assigned to nobody

[2021-10-19 11:54] alekkk94 commented on #124
In my case, wide mode doesn't help the issue, it just moves the plot to on one half of the screen (instead of it being in the middle)., where as the size remains the same. Any idea why this might be the case?

[2021-10-19 12:01] oerpli commented on #3925
The sample you provided did work @kmcgrady ,  thanks.

I adapted it to reduce the boilerplate a bit, maybe someone has further ideas how it could be improved:

[code]

[2021-10-19 23:09] vdonato commented on #3533
Hi @whitphx,

I noticed your last reply on this issue while looking into #3854. Sorry about this getting dropped! I'll see if I can get a fix out for this in the next 2-3 weeks.

[2021-10-19 23:27] #3854 closed, assigned to vdonato

[2021-10-20 01:35] DanielQuintela commented on #420
thanks man !!!

[2021-10-20 02:29] kurt-rhee opened #3935 "Pickled objects created with Cython cannot be used in streamlit"
### Summary

If I have a class that uses cython .pyx files, this class will not be pickle-able in streamlit even though it works fine in Ipython.  If I pickle it in IPython and then try to unpickle it in streamlit this also does not work.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, plea

[2021-10-20 15:10] Practcdi opened #3936 "[Enhancement] : How to add custom .gif for spinner ?"
Hello Guys,

1) Is it possible to change APP running gif to a custom gif?

2) Is possible to add a custom gif instead default streamlet spinner?

If yes, then how to achieve that?

Thanks

[2021-10-20 15:26] elcronos commented on #1019
@XDynames I'm having the same problem on Mac. Have you found any solution?

[2021-10-20 19:48] #3922 closed, assigned to nobody

[2021-10-20 20:34] XDynames commented on #1019
@elcronos it might not fit your use case but I ended up coding an in app folder browser that just lists out all the folders in the current directory as buttons

I can share it is you’d like but I do feel like it’s a very specific use case

[2021-10-20 22:18] cthurston commented on #2803
Deployed a docker container to a Kubernetes cluster and I'm hitting this error as well. It seems to work every other time. Any workarounds?

[2021-10-20 22:39] ryanlampkin commented on #3890
Hi @AnOctopus, can you confirm what you meant by the second bolded-comment.

Something like this?
[code]

[2021-10-21 01:41] mayagbarnes commented on #3921
Hi @iromeo,

Thanks for your reply! Upon revisiting - I think the intent of the warning is to note duplicated efforts (directly setting `'comp.pagination.chunk_size'` with `st.session_state` when `st.number_input`'s value is already tied to session state via key).

I did miss that warning reappearing, my mistake! Please see below (better tested 😄) code, and let me know if you are still getting the

[2021-10-21 01:45] mayagbarnes commented on #3916
Fixed via ^ Singleton docstring fix #3917

[2021-10-21 01:45] #3916 closed, assigned to arnaudmiribel

[2021-10-21 03:30] vdonato commented on #3839
Closed by #3863

[2021-10-21 03:30] #3839 closed, assigned to nobody

[2021-10-21 03:48] pranav7712 commented on #904
waiting for this feature to get the file path.

someone with a temporary solution for now?

[2021-10-21 05:53] usuixingyili opened #3940 "How to get the client's ip in the same local area network"
Can it be achieved through streamlit API, or use tornado.web.RequestHandler?

[2021-10-21 05:58] usuixingyili opened #3941 "How to get the client's ip in the same local area network"
Can it be achieved through streamlit API, or use tornado.web.RequestHandler?

[2021-10-21 06:19] #3941 closed, assigned to nobody

[2021-10-21 08:09] iromeo commented on #3921
Hello @mayagbarnes, thank you for your reply.  I know that I could init the component without using State API (as in your example), but this issue is about using state API, so a workaround the inits component without using of state API is not what I'm talking about.

Let me formulate the issue in another way, I hope it will be more clear:

----

At the moment `st.number_input`  behaviour is not co

[2021-10-21 08:57] talhaanwarch commented on #313
any update?

[2021-10-21 09:41] tanbin-hasnat-shehab commented on #493
thanks man,thats a hell of a solution!!!

[2021-10-21 09:58] A2-Response opened #3942 "No "name" object found for a file_uploader object"
Previously for streamlit.file_uploader object the "name" attribute was available, using which we are able to get the uploaded file name. But with the recent changes in the updated version, the "name" attribute is not available for an uploaded object.

My code looks like:
uploaded_file = st.file_uploader("Upload Files",type=['xls'])
name = uploaded_file.name

the error I am getting now is,
Attribut

[2021-10-21 10:02] AquibaB opened #3943 "Error displaying DataFrame"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Stream

[2021-10-21 13:26] jacoblukose commented on #313
Hi folks, I havent heard back from @tvst if this is something Streamlit will accept and hence havent started on this. As a workaround you can use Nginx in front of streamlit and let Nginx do the SSL termination.

[2021-10-21 13:39] fredzannarbor commented on #313
I come from Flask/Gunicorn world but I've read Gunicorn can't work with
Streamlit/Tornado?  I'm not familiar with Nginx and don't particularly want
to learn a new tool so the more tool-agnostic the SSL approach can be, the
better. In a perfect world this would be a streamlit config switch.
---

On Thu, Oct 21, 2021 at 9:26 AM jacoblukose ***@***.***>
wrote:

[2021-10-21 14:37] StefanBrand opened #3944 "st.experimental_memo cannot cache dataclasses.dataclass(frozen=True, eq=True)"
### Summary

According to [Python standard library docs](https://docs.python.org/3/library/dataclasses.html#dataclasses.dataclass), we can make a `dataclasses.dataclass` hashable by providing the parameters `frozen=True, eq=True`. Streamlit still cannot hash such a `dataclass`.

### Steps to reproduce

Code snippet:

[code]

results in

**Expected behavior:**

`st.experimental_memo` can cache a `d

[2021-10-21 14:53] randyzwitch commented on #3943
Hi @AquibaB -

This doesn't appear to be a Streamlit error. Your traceback highlights this line as the problem:

`stockchain_df = pd.DataFrame(stockchain_live)`

`raise ValueError("DataFrame constructor not properly called!")`

Best,
Randy

[2021-10-21 14:53] #3943 closed, assigned to nobody

[2021-10-21 15:23] kajarenc commented on #3942
Hello @A2-Response !

To access the file name, you must first download it.

In your case, an attempt is made to get the name of a non-existent object.
You can write the code like this

[code]

Also please note, that in order to upload and work with multiple files, you need to specify `accept_multiple_files` parameter
Documentation:  https://docs.streamlit.io/library/api-reference/widgets/st.file_u

[2021-10-21 18:54] #3732 closed, assigned to vdonato

[2021-10-21 21:23] willhuang1997 commented on #3898
https://share.streamlit.io/streamlit/demo-uber-nyc-pickups

This is working now.

[2021-10-21 21:23] #3898 closed, assigned to nobody

[2021-10-21 21:58] arnaudmiribel opened #3947 "README misses images"
### Summary

Seems like some links to images are broken in the README:
![image](https://user-images.githubusercontent.com/7164864/138362575-9a77d302-513f-4fa0-aaa7-5773eaba927a.png)

I managed to find the images back if needed, but not sure where to add them back in the repo:
- [simple_app](https://raw.githubusercontent.com/streamlit/streamlit/5a02f2f06ae7a95e6fdc43844a339e4e28a41015/docs/_static/

[2021-10-22 04:38] #3918 closed, assigned to nobody

[2021-10-22 06:14] VenkateshGuptha opened #3950 "Requirements are not installing when repo has capital letters"
requirements.txt file is not processing when repository name has capital letters say FirstApp

### Steps to reproduce

- Create a repository (FirstApp)
- Include requirements.txt and add the py file(streamlit scrips)
- Deploy the app in the streamlit cloud (share.streamlit.io)

Code snippet:

requirements.txt
[code]
first.py
[code]

streamlit logs
[code]

Dependencies are not processed, hence it i

[2021-10-22 06:56] willhuang1997 commented on #3897
Hi Thiago, it looks like this was actually intended from what Vincent and I researched.

https://github.com/streamlit/streamlit/commit/37921fd643c6aebf938e3ed0e3f880e9f299a131

PR: #1481

I think if we want to solve this issue, I suggested we add a new parameter called `reset_when_rerun` or something more concise because I could see use cases for both cases (resetting and not resetting the state o

[2021-10-22 06:56] #3897 closed, assigned to willhuang1997

[2021-10-22 10:34] brambozz opened #3951 "Loop option for video"
### Problem

I am just exploring streamlit and having a great time so far! I have video data that I want to visually inspect, but they are short videos of ~5 seconds. Currently it seems `st.video` does not have a loop option.

### Solution

Add a loop option to `st.video`.

Not sure how difficult this would be. If not, I would be happy to work on a PR if someone could give me some quick pointers!

[2021-10-22 17:17] ais-one opened #3953 "2-way Custom Component Render Is firing Under Certain Conditions"
### Summary

The render event is firing multiple times when it should only be fired once. The following was observed.

- reactless - ok, only fires once
- reactless placed in sidebar - fires multiple times
- react (no sidebar) - fires multiple times
- react placed in sidebar - Did not try this case

The code is from derived from [https://github.com/streamlit/component-template]. I merely added con

[2021-10-22 20:41] HenryRocha commented on #3804
Hello, I am new to the project but would like to take this on, if possible.

[2021-10-23 05:47] solarjoe commented on #3899
A workaround can be found [here](https://discuss.streamlit.io/t/why-does-my-text-input-not-focus-with-script-in-component-html-when-sessionstore-is-unchanged/18289).

[2021-10-23 06:55] nicolaerosia opened #3957 "allow click > 8"
Hello,

I'm using streamlit into an environment where other packages depend on click > 8.0.
I see that there is a mention that it won't work, however from my testing it does work.
https://github.com/streamlit/streamlit/blob/develop/lib/Pipfile#L45

Can someone pinpoint what APIs they think are incompatible?

[2021-10-23 10:28] AntonioTriguero opened #3958 "Slider doesn't work with datetime module"
### Summary

When I use the method st.slider() with the datetime module, it doesn't work with the function datetime.now() from the module datetime.

### Steps to reproduce

Code snippet:

[code]

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to app website
2. Move slider start dot to any point
3. Move slider end dot to any point

**Expected behavior:**

I expe

[2021-10-23 20:04] kevinlinxc commented on #926
I also want this, please

[2021-10-24 08:01] MrTONYCHAN opened #3959 "NameError: name 'spacy' is not defined"
Traceback (most recent call last):

  File "/home/appuser/venv/lib/python3.8/site-packages/streamlit/script_runner.py", line 354, in _run_script

    exec(code, module.__dict__)

  File "/app/structuredfinancial_newsfeed/app.py", line 48, in <module>

    nlp = spacy.load("en_core_web_sm")

NameError: name 'spacy' is not defined

[2021-10-24 10:28] rezar12 opened #3960 "upload 10gb > file size with stream in local"

[2021-10-24 10:30] #3960 closed, assigned to nobody

[2021-10-24 12:44] BugzTheBunny commented on #3924
You may save the image by using plt.savefig(...) and then present the image with st.image, for a higher resolution you can insert the dpi parameter.

[code]

![image](https://user-images.githubusercontent.com/44586585/138594725-da350689-f778-4fb6-9bc0-9172045d4a91.png)

[2021-10-24 12:47] michael135 commented on #3924
@BugzTheBunny , @willhuang1997
**It's a very nice and simple workaround.**
It could be definitely used till the "bizzare behaviour" will be fixed.

[2021-10-25 03:45] kmcgrady commented on #3804
Hey @HenryRocha We'd be down for a fix to this. Let me know if you need anything else!

[2021-10-25 07:37] JaMoPinter opened #3961 "Visual overlapping of slider values"
### Summary

Slider values can visually overlap which makes them hard to read. Especially when using longer names for the slider values.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

The values should be aligned differently, thus readable.

**Actual behavior:**
Date and time when not close to eachother:
![image](https://user-images.githubusercontent.com/75477075/138653602

[2021-10-25 10:21] orphefs opened #3962 "Unable to hash `TorchVersion` type when using `@st.cache()`"
### Summary

Unable to hash `TorchVersion` type when using `@st.cache()` on function that runs [YOLOv5](https://github.com/ultralytics/yolov5/blob/master/detect.py) inference.

### Steps to reproduce

Simply run `streamlit run streamlit_app.py` on `https://github.com/firegaze-ai/prototype/blob/main/streamlit_app/streamlit_app.py`.

Code snippet:

[code]

If applicable, please provide the steps we

[2021-10-25 14:43] openfieldbook commented on #3890
Hi @AnOctopus I've started to integrate into v1.0, and I've been playing around with all different combos of callbacks, if/else, index, and key settings.

I think the `index` setting of a widget is overriding the `session_state` associated with the `key` argument, when maybe it should be the other way around. I think that would solve my use case. Thanks for your consideration.

[2021-10-25 15:33] openfieldbook opened #3963 "Widget use of `index` and `key` together... `index` overrides `key`"
### Summary

Since the refactoring of widgets in v.0.89, I've had some issues setting the default widget values. I can use `index` and `value` to do this, but that creates conflict with other dynamic rendering I've put in place

### Steps to reproduce

Code snippet:

[code]

That works fine. But let's say I have multiple menus on the sidebar...

[code]
This code kind of works. I can set the sessio

[2021-10-25 15:43] openfieldbook commented on #3890
I've elaborated part of the issue here #3963.

https://github.com/streamlit/streamlit/issues/3963#issue-1035283872

[2021-10-25 16:17] openfieldbook commented on #3963
So this issue may be covered by the fix in #3875

Seems like a beneficial piece of code. Any chance on getting that pushed soon?

[2021-10-25 16:22] randyzwitch commented on #3959
Hi @MrTONYCHAN -

This is likely an issue with your code, and would be more appropriate on our discussion forum:

https://discuss.streamlit.io/

Please make sure to include a link to your code repo so that people can help you figure out where the problem is.

Best,
Randy

[2021-10-25 16:22] #3959 closed, assigned to nobody

[2021-10-25 16:54] randyzwitch commented on #3672
Closing this issue, as it might be local computer related. To get a package on conda-forge, you have to pass all the installation tips from a clean environment. So by definition, any version on conda-forge should already be working.

If this is not the case, and you can provide a specific way to reproduce this, then happy to re-open this issue.

Best,
Randy

[2021-10-25 16:54] #3672 closed, assigned to nobody

[2021-10-25 17:04] randyzwitch commented on #3143
This issue is stale, as we're no longer using Sphinx to generate the documentation.

[2021-10-25 17:04] #3143 closed, assigned to nobody

[2021-10-25 17:05] #3081 closed, assigned to nobody

[2021-10-25 17:10] randyzwitch commented on #2618
It appears that this is working in some manner, and is likely beyond the scope of the Streamlit project to be able to solve.

[2021-10-25 17:10] #2618 closed, assigned to nobody

[2021-10-25 17:12] randyzwitch commented on #2531
In this case, since the issue appears to be a slug size issue with Heroku, this is beyond the scope of the Streamlit project

[2021-10-25 17:12] #2531 closed, assigned to nobody

[2021-10-25 17:19] #1977 closed, assigned to nobody

[2021-10-25 20:15] randyzwitch commented on #3963
Are you using version 1.1 of Streamlit? If not, I'd upgrade, it appears the fix might have gone into that release.

[2021-10-25 20:35] openfieldbook commented on #3963
Thanks @randyzwitch. Apparently I am at the latest version (1.1). So maybe a different issue? In any case, this was my solution:

[code]

I needed to use two different state variables + a callback. This covers all of my issues.

The flow seems to go like this:

`xx` state variable populates widget `index`, widget instantiation sets `pu` state variable, and the callback sets states `xx = pu` equal.

[2021-10-25 20:35] #3963 closed, assigned to nobody

[2021-10-25 20:52] randyzwitch commented on #3957
Hi @nicolaerosia -

Do you know which packages require click > 8.0? If so, that will make it easier for us to determine what collisions there might be.

Best,
Randy

[2021-10-25 20:53] nicolaerosia commented on #3957
I'm using celery

[2021-10-25 23:19] openfieldbook commented on #3903
Hello @solarjoe  - I was having issues with widgets after version 0.87 too. I am currently up to date at version 1.1 and my issues were not completely solved by #3875.

If you are at v1.1 and still having issues, my problem and solution is described here: #3963. https://github.com/streamlit/streamlit/issues/3963#issuecomment-951306196

[2021-10-26 18:31] jrieke opened #3973 "Running man not showing in dark mode"
### Summary

The running man icon in the top right corner of apps is not showing in dark mode:
![image](https://user-images.githubusercontent.com/5103165/138939148-5cf966d6-ffd9-4de4-874d-16c02d04ddde.png)

With light theme it's working as expected:
![image](https://user-images.githubusercontent.com/5103165/138939187-85123f5b-616d-40f9-9483-ef07780ea19c.png)

Did some inspection in Chrome and seem

[2021-10-26 20:13] PablocFonseca commented on #2721
I can confirm it happens on version 1.1.0

[2021-10-26 21:22] kmcgrady commented on #3950
Hi @VenkateshGuptha, thank you so much for the report! I talked with our cloud engineers. We think this is not an issue with the repo name. We _did_ notice that the repo name has `Requirements.txt` with a capital R. We expect the requirements.txt to have a lowercase R.

You can solve this by writing `git mv Requirements.txt requirements.txt` to rename the file so it's a change in Git.

Going to cl

[2021-10-26 21:22] #3950 closed, assigned to nobody

[2021-10-26 21:24] HenryRocha commented on #3605
@vdonato would you be able to re-upload the warning screenshot? I think the link expired or is not available anymore.

Also, can you provide a reproducible example?

[2021-10-27 01:42] vdonato commented on #3885
Hi @es00jung, I have what hopefully turns out to be good news for you. We released streamlit 1.1.0 a few days ago, which contains a fix for a memory leak that manifested in a way that sounds very similar to what you've described above (memory would not be freed even upon browser tab connections being closed).

I'm going to close this issue as it's highly likely that it has been fixed in the latest

[2021-10-27 01:42] #3885 closed, assigned to nobody

[2021-10-27 01:46] #3843 closed, assigned to vdonato

[2021-10-27 05:51] vdonato commented on #3936
Hi @Practcdi,

Setting the app running gif to a custom one currently isn't supported (although you may be able to hack something to work using `st.markdown` and the `unsafe_allow_html` parameter. I'd recommend asking in the [community forums](https://discuss.streamlit.io/) in case someone there has an idea how to do this).

I'll leave this ticket open as a suggestion for a potential feature that w

[2021-10-27 06:09] vdonato commented on #3951
Thanks for the suggestion, @brambozz!

I don't believe this would be too difficult of a change, so if do you happen to want to try out making a PR for this, here are the relevant files in the codebase that would need to be updated:

* `frontend/src/components/elements/Video/Video.tsx`
* `proto/streamlit/proto/Video.proto`
* `lib/streamlit/elements/media.py`

I would guess that the change essential

[2021-10-27 06:15] vdonato commented on #3961
Thanks for reporting this @JanikPi,

I believe this has the same root cause as #3385, so I'm going to close this in favor of the older issue.

[2021-10-27 06:15] #3961 closed, assigned to nobody

[2021-10-27 06:24] vdonato commented on #3958
Hi @AntonioTriguero,

This is expected behavior. What's happening here is that a widget's ID is generated using the arguments passed to the widget (to be more precise, widget IDs are essentially hashes of a widget's arguments), so these arguments changing will create a new widget. What seems to be the existing widget being reset is actually a new widget taking its place (see the [widget semantics]

[2021-10-27 06:24] #3958 closed, assigned to nobody

[2021-10-27 06:40] vdonato commented on #3838
Hi @SAIVENKATARAJU, I believe this is expected behavior.

The value of a `file_uploader` is not cleared until you reset the widget via the UI, so on subsequent script runs triggered by interacting with the app, the `if file_object is not  None:` statement will always run.

One way of achieving the behavior you desire would be to give your `file_uploader` widget a key and process newly uploaded fil

[2021-10-27 06:40] #3838 closed, assigned to nobody

[2021-10-27 06:56] vdonato commented on #3921
Thanks for reporting this @iromeo,

I believe you're right, and the behavior of `st.number_input` is inconsistent with other widgets -- this likely happened simply because of an oversight when we were implementing `st.session_state`.

I'm about to go on vacation so can't promise that I'll have a fix for this out extremely quickly 😅, but I'll be sure to get one out when I return the second week of

[2021-10-27 07:01] iromeo commented on #3921
@vdonato thanks, I'll try
to make a PR for this. Have a good vacation!

[2021-10-27 09:49] brambozz commented on #3951
Ok great, thanks for the pointers! I will have go at it :smile:

[2021-10-27 09:51] StefanBrand opened #3976 "Wrong cache HIT for nested function in multipage app if script is installed in site-packages"
### Summary

I am trying to correctly cache a decorated function in a multipage app. When I install via `pip install -e .`, everything is fine. When I install via `pip install .`, I get wrong cache HITs.

### Steps to reproduce

#### main.py
[code]

#### script.py
[code]

0. `mkvirtualenv investigate-st-cache`
1. `git clone https://github.com/StefanBrand/investigate-st-cache.git`
2. `cd investigat

[2021-10-27 13:21] whitphx opened #3977 "A callback on a custom component"
### Problem

I am a developer of a custom component, [streamlit-webrtc](https://github.com/whitphx/streamlit-webrtc), which manages its state in Python code, and there is [a request](https://github.com/whitphx/streamlit-webrtc/issues/470) to make it possible to detect state changes through the `on_change` callback.

However, currently a callback on a custom component is not supported.

### Solutio

[2021-10-27 14:17] alexespencer commented on #455
Would love this feature

[2021-10-27 22:24] #3947 closed, assigned to nobody

[2021-10-27 23:46] bachsh opened #3978 "Streamlit logger working on root"
### Summary

Upon import, Streamlit adds a new **global** log handler that dumps logs in text format. Packages should not be doing that, because it might break the logging convention of the host systems.
In our case for example, we dump logs in JSON format and push it all to our logging aggregation system. Streamlit's log message break the format and so it happens that the only service we can't de

[2021-10-28 00:11] vdonato commented on #3944
Thanks for reporting this, @StefanBrand! I'm not able to give a timeline as to when we'll be able to look into fixing this at the moment, but at the very least we'll be sure to aim to do this before `st.experimental_memo` gets moved out of the `experimental` namespace.

[2021-10-28 00:33] vdonato commented on #3962
Thanks for reporting this @orphefs!

I'm going to close this as we hope to replace `st.cache` entirely with new caching primitives [st.experimental_memo and st.experimental_singleton](https://blog.streamlit.io/new-experimental-primitives-for-caching/) in the coming months (if all goes according to plan), so it's unlikely that a fix for this will be prioritized with `st.cache`'s deprecation in sigh

[2021-10-28 00:33] #3962 closed, assigned to nobody

[2021-10-28 00:34] vdonato commented on #3928
Thanks for reporting this @vinzeebreak!

I'm going to close this as we hope to replace `st.cache` entirely with a new caching primitive [st.experimental_memo](https://blog.streamlit.io/new-experimental-primitives-for-caching/) (and it seems like the code snipped you provided works if `st.cache` is replaced with `st.experimental_memo`) in the coming months (if all goes according to plan), so it's u

[2021-10-28 00:34] #3928 closed, assigned to nobody

[2021-10-28 00:57] ORainn opened #3979 "I want to know how to use streamlit to open a file and get its absolute path?"
### Problem
When opening a file, I feel very uncomfortable that I can't get the path of the file, because I can't pass the path to other methods. I think it has great restrictions on the use.

[2021-10-28 01:09] vdonato commented on #3878
Hi @thetoby9944, could you explain a bit more about what you're trying to do here, ideally with a small toy-app?

I think that `st.set_page_config` should give you enough flexibility to be able to toggle between wide and centered mode dynamically when switching between pages of a multi-page app. Since (if I'm remembering correctly) the function works nicely with callbacks, if you're selecting a pa

[2021-10-28 01:29] vdonato commented on #3605
@HenryRocha -- sure, I've updated the link to the warning screenshot so that it's working again. It seems to have broken when we rolled out a new docs website and deprecated the old one.

As for a reproducible example, the following small snippet of code should do the trick:
[code]

Note that the warning only appears a single time we detect that the user has done this, so after the first time it's