[2020-10-29 20:09] bryanhaiphanthanh commented on #2296
Problem has been resolved by running

[2020-10-29 20:09] #2296 closed, assigned to nobody

[2020-10-29 21:27] nthmost commented on #2257
OK, I have repro'd this bug and it's a real one.   I think the problem is that the word "None" isn't getting translated into the None object.

[2020-10-29 22:55] hurleyLi commented on #926
Any updates?

[2020-10-30 01:04] hertzmann opened #2297 "Crashes in simple PyTorch image classifier"
# Summary

Streamlit crashes on a simple test PyTorch image classification app.

# Steps to reproduce

To reproduce this, run the attached code using `streamlit run network_bug.py` and put it in a folder with some images.
Note that this uses `read_image` which was added to PyTorch only a few days ago (so you might need to update), but I saw the same issue with `imageio`.

## Expected behavior:

Wh

[2020-10-30 04:47] #1921 closed, assigned to kantuni

[2020-10-30 13:51] inspectorG4dget commented on #996
Can such scrolling be added to not just `st.write`, but also to all container types?

[2020-10-30 14:43] andfanilo commented on #634
Hey @Ierezell @acuacal

I've released a [super early Streamlit component](https://pypi.org/project/streamlit-cytoscapejs/) to display some Cytoscape.js graphs using [react-cytoscape](https://github.com/plotly/react-cytoscapejs). Expect things to approximately maybe work :wink:.

I know nothing about Cytoscape.js so I'll let you test and say in the [project issues](https://github.com/andfanilo/stre

[2020-10-30 16:53] sACPDX commented on #2266
Thanks Randy.  I used below approach thanks to some of the links you provided and its working now.
def get_uploaded_training_file():
Train_valid_data = st.file_uploader("Upload Training File for Data Analysis (CSV format)", type=["csv"])
if Train_valid_data is None:
   return None
   **Train_valid_data.seek(0)**
   df = pd.read_csv(Train_valid_data)
   return(df)
df = get_uploaded_training_file()

[2020-10-30 16:57] #2266 closed, assigned to nthmost

[2020-10-30 19:13] akrolsmir commented on #2277
Fixed by https://github.com/streamlit/core-previews/pull/1 🥂

[2020-10-30 19:13] #2277 closed, assigned to nobody

[2020-10-30 19:23] #2220 closed, assigned to nobody

[2020-10-30 20:11] #2170 closed, assigned to nobody

[2020-10-31 20:58] DhruvkBhatt commented on #2253
[code]

[2020-10-31 20:59] DhruvkBhatt commented on #2253
This way by selecting select all you are able to select all the sates in list

[2020-10-31 21:51] JovanNj opened #2302 "pydeck_chart not showing different pydeck Views types"
# Summary
When I try to show Pydeck map with view other than "MapView", nothing happens, it does not change the view of the map.

# Steps to reproduce

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/streamlit_badge_black_white.svg)](https://issues.streamlitapp.com/?issue=gh-2302)

1. Use code:
[code]

2. Try to change view:
`view = pdk.View(type="OrbitView", controller=True)` or `v

[2020-11-01 00:57] ikeshare192 commented on #2235
Excellent...That solved my problems..onward and upward..

[2020-11-02 00:06] nkahm commented on #2112
Any idea if this was fixed in 0.70.0 through the pull request #2299 ?

[2020-11-02 12:06] dalmia commented on #862
+1

[2020-11-02 15:59] sdblanc opened #2304 "Can't cache fairseq model"
# Summary
I'm trying to cache a RoBERTa model which i'm using for a masked language model task, as I don't want it to be loaded in everytime something changes on the page. I'm trying to use @st.cache for this end, but it fails with the following error trace:

[code]

# Steps to reproduce

Environment is reproducable with the following requirements.txt file
[code]
Then I tried to load in the model

[2020-11-02 21:35] nthmost commented on #1614
Hi @kurt-rhee -- is there a simplified repro you can provide for this bug?  I.e. the shortest possible script that produces this error.  It seems pretty mysterious and I haven't been able to repro it myself yet.

[2020-11-02 21:36] successar commented on #1801
Was this issue solved ? I tested the code given by @nthmost and it is not working .

Also following modification is not working either

[code]

[2020-11-02 21:40] kurt-rhee commented on #1614
@nthmost Hey, I've been upgrading streamlit as new versions come out and haven't had this issue again.  I think the solution may just be to update if people are still using 0.62.

I think this is safe to close.

[2020-11-02 21:43] successar opened #2305 "Cache a function with an nested list comprehension"
# Summary

When trying to cache a function with an nested list comprehension, streamlit doesn't allow outer iterator value within inner iterator.

# Steps to reproduce

[code]

## Expected behavior:

Should print `[[0, 1, 2], [1, 2, 3], ..., [4, 5, 6]]`

## Actual behavior:

![image](https://user-images.githubusercontent.com/1499824/97922262-2dd99c00-1d2a-11eb-9516-5dd2fe09e0b4.png)

## Is this a

[2020-11-03 03:53] hannahawalsh opened #2308 "beta_expander doesn't display whole table"
# Summary
I need to display a data in my app. Since it has long column names, `st.dataframe()` won't work (known issue with column widths), so I'm using `st.table()` to display it nicely. However, since it's a larger table, it bleeds off the sides and you have to horizontal scroll a while to see it all. While not ideal, it works.
However, when I try to put `st.table()` in an `st.beta_expander()`,

[2020-11-03 06:56] DhruvkBhatt commented on #2253
Any Response.

[2020-11-03 08:13] vhfgosselin commented on #1801
Yes, this wasn't solved.
The go-around for me in my real code ( I just provided here a simple example) was to do what jrhone suggested:

replace:
[[10 for m in range(3) if w>2] for w in range(5)]
by
[[10 for m in range(3)] for w in range(5) if w > 2]

although this is not exactly the same thing.

So in summary, there is a bug still it seems.

[2020-11-03 08:20] andreaschiappacasse commented on #2262
I agree with this request, this would also allow to set/retrieve cookie values, thus enabling the implementation of a browser-level authentication method, whis is right now a key feature that we cannot implement (as far as I know).

[2020-11-03 08:22] tirinox opened #2310 "Exception when trying to predict"
# Summary

Exception when trying to predict

# Steps to reproduce

See picture.

![Снимок экрана 2020-11-03 в 11 21 14](https://user-images.githubusercontent.com/1532363/97962723-cf163000-1dc6-11eb-9628-168cd83b4260.png)

[2020-11-03 08:23] #2310 closed, assigned to nobody

[2020-11-03 08:23] tirinox commented on #2310
Sorry missed the project (

[2020-11-03 09:34] erwanlenagard opened #2311 "File_uploader() - ValueError: I/O operation on closed file."
# Summary

I upgraded Streamlit and file_uploader() haven't the expected behavior. I'm trying to load a file, then use a dropdown menu to select the right column to analyse. I adapted the proposed solution [here ](https://github.com/streamlit/streamlit/issues/2266), but I still have  "ValueError: I/O operation on closed file." when I select a value in the dropdown menu.

# Steps to reproduce

What

[2020-11-03 10:58] andreaschiappacasse commented on #680
Great news! Just to add to the original thread, my use case would be having a browser-level authentication:

In my app, by filling an auth form, the logged in user is added to the session state, thus enabling it to access some of the app functionalities. Right now, using the session state gist, the user is logged in only in the current tab and when opening a new tab /refreshing the browser page, t

[2020-11-03 19:46] dplutcho opened #2312 "Connection timed out - on high latency networks"
# Summary

When accessing any Streamlit app (e.g. https://covid19.multivacplatform.org/) from a low-latency network such as hughesnet  Satellite or a Verizon hotspot (e.g. >500 ms latency), I get “Please wait” then, after a while, a popup saying “Connection Error” - “Connection times out”.

Please see this post for more details- https://discuss.streamlit.io/t/connection-timed-out/4091

# Steps to

[2020-11-03 21:41] inspectorG4dget opened #2313 "Enable horizonal scrolling for wide columns (e.g. with charts)"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

When I call `st.dataframe(df)` on a dataframe that has too many columns to fit into the width of the page, the `st.dataframe` container allows me to scroll sideways to see the other columns.
However, when I at

[2020-11-03 21:47] inspectorG4dget commented on #2313
I'd like to be able to do something like this:

[code]

[2020-11-03 21:49] thoppe commented on #533
@imneonizer found out you can cheat a bit by doing this

[code]

by setting it to a variable it's not "dead" anymore and streamlit magic won't render it. It's a hack, but a workable one. It'd be nice to turn it off I agree.

[2020-11-04 07:56] DhruvkBhatt commented on #2253
@sammyhajomar and @nthmost Done

[2020-11-04 20:07] akrolsmir opened #2315 "st.audio Static Embedded App does not work on Safari"
# Summary

Likely due to the old link https://static.streamlit.io/0.25.0-2JkNY/index.html?id=Dv3M9sA7Cg8gwusgnVNTHb being pinned to a version that did not have the Range Requests fix. We should see if re-making the Static Embedded App would fix this.

See slack discussion: https://streamlit.slack.com/archives/C0132LY8TA7/p1604518452081200

(On a broader level, our testing situation on Safari leave

[2020-11-04 20:55] akrolsmir opened #2316 "Add in images or S4A apps or Static Embedded Apps in tutorials"
In the tutorial-based sections of our docs, we should provide a visual component showing what the code snippets they run will look like. This serves two benefits:
1) Users who are running the tutorial get a way to check that they're doing the right thing
2) Users who _aren't_ running the tutorial (or are deciding whether to) can learn what Streamlit would do

The simplest implementation of this wo

[2020-11-05 00:46] akrolsmir commented on #2315
Actually -- on second thought this might specifically be because safari does not support OGG files, which is the audio sample we chose for the exmaple

[2020-11-05 06:45] akrolsmir commented on #2297
Hi @hertzmann ,

This one seems kind of strange; I'm not familiar with the OpenMP runtime being described, but a quick search for your error message brings up references like this StackOverflow link:

https://stackoverflow.com/questions/53014306/error-15-initializing-libiomp5-dylib-but-found-libiomp5-dylib-already-initial

My guess might be this is not particularly related to Streamlit, but rather

[2020-11-05 18:15] nthmost commented on #2312
We might want to think about adding in a config variable to adjust latency tolerances at the same time we're upgrading to Tornado 6.0.

[2020-11-05 18:19] nthmost commented on #2305
Interesting!  I repro'd your bug.  Thanks for the tidy code snippet.  I'll see how fast we can get to this one.

[2020-11-05 21:48] asaini commented on #2304
Hi @sdblanc

Thanks for opening this issue. At first glance, based on the statement ` This is likely due to a bug in /groups/wall2-ilabt-iminds-be/nlp-students/users/sdeblanc/mt2021_streamlit/src/fairseq/fairseq/utils.py near line 455:` this seems like an issue outside of streamlit.

I tried to reproduce on a Mac setup, but don't see any error. To help isolate whether this is a streamlit issue or

[2020-11-05 21:51] asaini commented on #2304
I'm going to try to repro on a Ubuntu setup as well

[2020-11-06 01:43] thatlittleboy opened #2321 "Sorting dataframe does not toggle between asc and desc"
# Summary

Clicking the column/index headers once sorts the `st.dataframe` by ascending, clicking them once again sorts the dataframe by descending, but further clicks do nothing more.

# Steps to reproduce

Following the Uber example from the Streamlit docs:

    import streamlit as st
    import pandas as pd

    DATE_COLUMN = 'date/time'
    DATA_URL = 'https://s3-us-west-2.amazonaws.com/stream

[2020-11-06 09:43] sdblanc commented on #2304
Hi @asaini ,

Thanks for your efforts! Loading in the fairseq model without any streamlit code surrounding it (in particular the @st.cache() line ), works perfectly. I can even use the model for predictions without any problems...

[2020-11-06 10:28] sdblanc commented on #2304
If it makes it any easier for you, I published my basic skeleton on this repository : https://github.com/sdblanc/mt2021_streamlit .
When you run it, you'll see that the model shows the prediction for the sentence 'Het meisje <mask> daar loopt.' without any problems. If you then enter the same text within the text field and click 'Predict' , it will take quite a long time to make the same  predicti

[2020-11-06 14:44] khanfarhan10 commented on #533
I think that what streamlit does is right because i**n a jupyter notebook if you type out only a docstring in a code cell, it shows the output.**

### Code
`"""This is a docstring."""
`

### Output
This is a docstring.

is rendered by a jupyter notebook as supposedly text to be printed and it displays it.

[2020-11-06 18:04] nthmost commented on #2321
Strange!  This might be a regression.  We'll try and look at it right away.  Thanks!

[2020-11-06 18:06] nthmost commented on #2315
[Safari still doesn't support OGG?!](https://medium.com/@cseder/safari-dont-support-playing-ogg-29c09926b689)  Sheesh...

[2020-11-06 18:17] hertzmann commented on #2297
That seemed to fix it, thanks. It took a lot of trial-and-error and the first command took 20 hours to run. The steps that seemed to work were:

[code]

[2020-11-06 18:17] #2297 closed, assigned to akrolsmir

[2020-11-06 19:52] nthmost commented on #2284
Hi @normks ,

It would be helpful to see your code; however I do have an educated guess about what's going on.  There's a mismatch between what your python interpreter is expecting about the character encodings in your file, and what's actually encoding the characters in your file.

[I think this StackOverflow question dealing with exactly this problem should help you out here](https://stackoverfl

[2020-11-06 19:52] #2284 closed, assigned to nthmost

[2020-11-06 20:15] akrolsmir commented on #2308
Thanks for flagging this, Hannah! Your repro example is especially helpful =)

I agree that being cut off in st.expander is the worst behavior; between "bleeding off the sides" and "scrolling inside the column width", I think the second is the better option, but will think a bit more on how to best deal with this.

[2020-11-06 20:36] kmcgrady opened #2323 "Using git below version 2.7 requires remote (e.g. GitHub) credentials on every run (for private repos)"
# Summary

When Streamlit uses Git to detect branch/remote information. It uses `GitPython` package to

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. Install an old version of git (< 2.7)
2. Create/run a streamlit script on a private repo

## Expected behavior:

No credentials should be asked for.

## Actual behavior:

You should see credentials being asked for

[2020-11-07 10:24] iavorbotev commented on #1124
That would be a great addition!

[2020-11-08 09:35] epogrebnyak commented on #726
There is a workaround for TOC here, I'm trying to adapt it to my project. The idea is that you can make a placeholder for TOC, then add headers and generate a TOC using a small `Toc` class:

https://discuss.streamlit.io/t/table-of-contents-widget/3470/8?u=epogrebnyak

[2020-11-08 10:57] epogrebnyak commented on #726
Here is my versionof an extension for TOC:

https://github.com/epogrebnyak/streamlit-demo/blob/98ca0b490f297c9428e78af7fb8ac7ab9309d548/streamlit_app.py#L210-L312

[2020-11-08 18:20] treuille opened #2324 "JSON parse errors are errantly "sticky""
# Summary

When you correct a malformed JSON string passed to `st.json`, the error doesn't go away.

# Steps to reproduce

I created an app which demonstrates the bug and the exact steps to reproduced. Click the badge below to run the app.

[![Streamlit App](https://static.streamlit.io/badges/streamlit_badge_black_white.svg)](https://share.streamlit.io/treuille/bug-json-st_v70/main)

## Is this a

[2020-11-08 21:01] kierancondon opened #2325 "`st.radio` with sections"
### Problem

A use case I have is to present the user a set of models they can access (typically in the sidebar with radio buttons), but to separate the models into groups falling under different categories. Streamlit does not allow you to split radio buttons as follows:

Category 1
* Page 1
* Page 2

Category 2
* Page 3
* Page 4

Although you can make two separate Streamlit radio inputs, you can'

[2020-11-09 09:25] JovanNj commented on #2302
Hi, I just wanted to check if there is any progress on this subject? We are preparing some app with map feature, so I would grateful for any feedback. Thank you very much for the help!

[2020-11-09 16:18] #1963 closed, assigned to nobody

[2020-11-09 17:05] karriebear commented on #2112
#2299 will be coming out soon in 0.71.0.

If you are interested in a sneak peek, you can try it out with the latest from [streamlit-nightly](http://pypi.org/project/streamlit-nightly). You can learn more about our [nightly release here](https://docs.streamlit.io/en/stable/api.html#nightly-releases)!

[2020-11-09 18:08] #1614 closed, assigned to nthmost

[2020-11-09 18:48] tconkling opened #2328 "caching: multiple functions can unexpectedly share a MemCache key"
There are two parts to cache retrieval for @st.cache:

1) Retrieve the decorated function's `MemCache` instance. We use a `(func.__module__, func.__qualname__, func)` tuple to get the `cache_key` that uniquely identifies the function. No two functions (even if they have the same name and body) will share the same `MemCache`.

2) Retrieve the cached value from the function's `MemCache`. This is whe

[2020-11-09 19:28] karriebear commented on #2235
Resolved in #2279

[2020-11-09 19:28] #2235 closed, assigned to nobody

[2020-11-09 19:29] #2050 closed, assigned to nobody

[2020-11-09 19:30] #1945 closed, assigned to nobody

[2020-11-09 19:30] karriebear commented on #1945
Done in #2307

[2020-11-09 19:33] karriebear opened #2329 "File Uploader: Consolidate reruns for multiple files"
Solution:
Every time a file uploads, rerun only if there are no other incomplete uploads (in the same widget)

Alternatives discussed:
- Parallel upload == 1 rerun. Sequential = N
- (super fancy) Like today, but throttled. Only rerun if no upload in progress after.
- Add fancy parameters
    - Customizable v1. Introduce a parameter that lets you switch behaviors
    - Customizable v2.  Developer c

[2020-11-09 19:53] edur409 commented on #2302
Hi Eveyone,  this is a very good question I would like to know too.  I'm plotting point clouds below the map (underground) and full rotations of the OrbitView type would be tremendously helpful to check distribution and patterns.  For instance, concentration of hypocentres (points to origin of earthquake) could show the rupture plane or fault.  Thanks in advance for any help or hint on how to achi

[2020-11-09 20:59] karriebear opened #2330 "[Layouts] Padding does not work on safari"
Padding is 0 on safari

[2020-11-10 00:05] karriebear commented on #2038
Fixed as part of #2282 and will be available in 0.71.0.

[2020-11-10 00:05] #2038 closed, assigned to nobody

[2020-11-10 08:42] dribai commented on #308
How can we display a number output using a similar box design to the one number_input gives? (Without the + and -)

[2020-11-10 09:02] KKJSP commented on #400
@pdxjohnny  That's really awesome! Thank you. It seems to work really well on EC2. Even if I delete the file mid download (`rm DOWNLOADS_PATH/file`)- it continues downloading till the end. I'm working with files which are a few hundred MB.

Could you please explain how it works? I have no background understanding of this. Thanks!

[2020-11-10 10:22] lcerman commented on #1023
We have the same issue, Streamlit v0.67.1, both Chrome and Firefox, Windows 10. In Chrome it is less prominent because the scrollbars are thinner (but they should not be there at all). But in Firefox the horizontal scrollbar hides the last row of the dataframe.

[2020-11-10 12:02] Sanalpm commented on #641
hack --> create a plotly table and display that.

[2020-11-10 16:39] karriebear commented on #2119
Turns out we can't. From [cypress docs](https://docs.cypress.io/guides/core-concepts/introduction-to-cypress.html#Commands-Are-Asynchronous):
[code]

[2020-11-10 16:39] #2119 closed, assigned to karriebear

[2020-11-10 17:39] #2226 closed, assigned to tconkling

[2020-11-10 21:56] johnandersen777 commented on #400
@KKJSP Thanks! Glad it helps :)

First off, I wouldn't rely on the ability to be able to delete files halfway through the download. I haven't confirmed this, but what is likely going on is that streamlit is reading the entire file into memory and then sending it to the client (web browser). That may not be what's happening but it's a likely explanation for why you can delete the file mid-download

[2020-11-10 21:57] #2330 closed, assigned to karriebear

[2020-11-10 23:42] #2328 closed, assigned to tconkling

[2020-11-11 00:00] #2291 closed, assigned to karriebear

[2020-11-11 02:39] raybellwaves commented on #942
Had a quick stab at this here

https://github.com/conda-forge/staged-recipes/pull/13192

I used grayskull developed by @marcelotrevisani (https://www.marcelotrevisani.com/grayskull)

[2020-11-11 05:09] chakra-ai commented on #2311
I have the similar requirement and I am facing the same issue as mentioned above. Is there a workaround?

[2020-11-11 07:04] nthmost commented on #2324
Thanks for the sample app, that's a really nifty way of documenting the problem.

Clearly this is no bueno, and probably not too deep of a problem.  I'll see how quickly we can get to this one.

[2020-11-11 12:44] BitBernd commented on #1584
Just ran into problems related to this:
https://discuss.streamlit.io/t/run-streamlit-without-root-permissions/7029

[2020-11-11 14:27] randyzwitch opened #2337 "st.bokeh_chart double plot until browser resized"
Between versions 0.65 and 0.66 of Streamlit, running the following code snippet will cause a Bokeh plot to be duplicated:

https://gist.github.com/BitBernd/4cc06473d71de4a67ede607a618b0a83

![image](https://user-images.githubusercontent.com/2762787/98823322-efb23b80-23ff-11eb-9a79-16226624604d.png)

To trigger the difference, running `pip install streamlit=0.65` to see the correct version, then `p

[2020-11-11 15:04] mpriessner commented on #1019
a folder picker would be nice +1 Thank you!

[2020-11-11 15:40] JohnReid commented on #1050
This issue also mentions other dtypes. It looks like the MR #1909 only addresses the 'string' dtype. I think the issue should be reopened.

[2020-11-11 18:08] aghasemi opened #2338 "Nested list with st.markdown"
Hi,
As unbelievable as it is, I couldn't create a nested list using `st.markdown`. Here is the most basic I tried:

[code]
which should yield:

- A
  - a
- B

, but instead gives a flat list. Neither one space, nor two spaces, tab key, or `\t` worked. A minimal working example is highly appreciated.

Many thanks

[2020-11-11 19:25] randyzwitch commented on #2338
Hi @aghasemi, it seems to be working for me:

[code]
![image](https://user-images.githubusercontent.com/2762787/98855239-ae368600-2429-11eb-8dd3-d408d4394ba5.png)

[2020-11-11 19:38] aghasemi commented on #2338
Hello. Thanks. Does it still work if each item is in its own markdown
statement?

[2020-11-11 19:40] randyzwitch commented on #2338
Not sure I understand what you are asking, but I suspect that the parsing is done per string level, and doesn't carry across different statements

[2020-11-11 20:07] aghasemi commented on #2338
I get it now. So this works:

[code]
, but this doesn't:

[code]
It means one cannot dynamically/programmatically create lists (not easily at least). One solution is to generate the _string_ dynamically and then write it at once. The other way is to use unsafe HTML.

Many thanks
Best

[2020-11-12 04:54] nthmost commented on #2338
Hi @aghasemi,

At present, @randyzwitch 's example is the best that can be done using the st.markdown / st.write processor, because the way these functions work is that they create a new Markdown div for every "utterance".  Thus what appear to be contextually-attached statements from your Python script actually render as totally separate objects that are decontextualized from one another in its tr

[2020-11-12 05:53] akrolsmir commented on #2218
More from https://www.notion.so/streamlit/Get-rid-of-boto-dependency-ab878eae7634433d8befad1599ddf42e

- We specifically called out "static snapshots are disabled" in 0.47.0, over 1 year ago: [https://docs.streamlit.io/en/stable/changelog.html#version-0-47-0](https://docs.streamlit.io/en/stable/changelog.html#version-0-47-0)
- botocore takes up ~7MB (that's the same as all of Streamlit!)

[2020-11-12 06:10] akrolsmir commented on #2147
Dev notes:
Hm, unable to repro on Chrome/Windows with a simple example https://share.streamlit.io/akrolsmir/streamlit-snippet/main?snippet_id=8zu2vvp2

[code]

Also did not repro on Safari/Macbook.
But it repros on Chrome/Android. So it's probably a mobile slash touch-related issue.
The app is not re-running, just popping. Is it related to touch event vs click event? TextInput is a BaseWeb compone

[2020-11-12 08:23] KKJSP commented on #400
@pdxjohnny That was very clear! Thank you again.

I think I should learn html. It seems to be pretty useful when working with streamlit.

[2020-11-12 10:10] aghasemi commented on #2338
Many thanks. I totally agree that there is room for improvement here.

For now, I solved my problem by generating a string dynamically and then feeding it to `st.markdown` at once.

[2020-11-12 13:53] randyzwitch commented on #2218
Is this actually contentious? Feels like we can go ahead and do this

[2020-11-12 14:51] randyzwitch commented on #942
Hi @raybellwaves, thanks for trying this out. Can you add me as a maintainer on the recipe, so that Streamlit will be able to make changes?

[2020-11-12 15:35] raybellwaves commented on #942
Added. I'll remove myself when it merges.

[2020-11-12 19:00] akrolsmir commented on #2337
Dev notes: Fairly sure this was broken by the migration to React Hooks:

https://github.com/streamlit/streamlit/commit/6d204cab8c335c22794fbeec98f45ddb4b00cc44#diff-0232e1ad414e4bd3a00925d15370625f7a4b0db94c36e28862fc1e1da90e31b6

As it was the only thing in that timeline 0.65 to 0.66 that changed in BokehChart. Indeed, reverting back to non-hooks stops the duplication. Still need to root-cause wh

[2020-11-12 20:01] mathematicalmichael commented on #1124
+++ please, this would be incredibly helpful, _especially_ for checkboxes, which can have deceptively simple titles hiding a lot of complex behavior under the hood.

[2020-11-12 20:28] #2218 closed, assigned to nobody

[2020-11-12 22:07] #2147 closed, assigned to nobody

[2020-11-12 23:37] nadgirsanket opened #2343 "Streamlit on dark theme natively?"
Hi Team,

Is there any plan to have a dark theme out-of-the-box?

I was able to inspect tags and emulate dark theme for the body, text color, etc. The problem was it didn't look as good as it should have. Some components like `st.table` and others didn't inherit the dark theme CSS which looked odd.

It would be nice to have a fully functioning Dark theme in which users can switch from settings. Pl

[2020-11-13 06:26] nthmost commented on #2343
Hi @nadgirsanket , your request is well-timed, as we're just rounding the corner on a massive revamp of our styling code which will give us a lot more flexibility towards dark mode and other theme changes.

I can't give you an exact estimate yet, but look for this ability in the coming 30-60 days.

Stay tuned!

[2020-11-13 09:44] cwerner opened #2347 "Widgets overlap in Safari 14 when using columns"
# Summary

Hi, I have an app with (streamlit 0.71) that exhibits overlap when using columns.

<img width="659" alt="image" src="https://user-images.githubusercontent.com/13906519/99057790-8d427200-259c-11eb-97e1-5148d00c30d7.png">

# Steps to reproduce

[code]
## Expected behavior:

Dropdown widget on the left and not overlap.

## Actual behavior:

The dropdown widgets extends over the entire widt

[2020-11-13 15:48] nadgirsanket commented on #2343
Excellent! Thanks for the update. Looking forward to it!

[2020-11-13 16:28] ElenaBossolini opened #2348 "Dataframe MultiIndex columns are shown repeatedly"
Hi Streamlit team and thanks for an awesome package!

When working with pandas.MultiIndex dataframe, st.dataframe shows the top index per every column/row of the lower-in-hierarchy index.

Here is a small example that shows the issue (example borrowed from [here](https://jakevdp.github.io/PythonDataScienceHandbook/03.05-hierarchical-indexing.html#MultiIndex-for-columns)) and a screenshot with the

[2020-11-13 18:58] anirudh1984isbhyd commented on #519
I think it is good practice to mention it in the API doc. I believe some of the previous versions of the app do not require a user specified key, but the most recent version does.

[2020-11-13 19:14] tvst opened #2349 "Unable to screencast"
See https://discuss.streamlit.io/t/screen-cast-browser-support/7119

I am currently facing some issues while screen-casting Streamlit .
I’m currently using the nightly version(I think it’s old)
: 0.69.2.dev20201015

Chrome Version: 86.0.420.198
Edge Chromium: 86.0622.68

It gives the following error
" Due to limitations with some browsers this feature is only supported on recent desktop versions o

[2020-11-13 19:15] tvst commented on #2349
@arraydude any idea what's up?

[2020-11-13 20:56] akrolsmir commented on #2337
By console logging: the react hook version calls useEffect() multiple (~4ish) times on each rerun? But the original version only does it once, correctly.

Solution appears to be to add dependencies into useEffect() -- empty array? all arguments?

[2020-11-13 21:03] soumya997 commented on #309
@rodrigoxrma what to pass in `self` (of this image() function)?

[2020-11-13 22:02] Agrover112 commented on #2349
Any solution to this would be great . @tvst  anyway thx for creating the bug

[2020-11-13 22:24] logan0402 commented on #984
Hi
I run into the same issue that while using .show() the background layer is ok but there is no background map layer in the html file I get by .to_html('#####.html')
Have you got any solution about this issue?
Thanks a lot

[2020-11-13 23:20] rodrigoxrma commented on #309
The method I suggested goes inside the Cell class, so `self` refers to its instance in the code. It enables this method to update the value of the attribute `inner_html` of the class.

[2020-11-14 11:13] kaiyiliu commented on #596
This does not work for me. Version is 0.71.0

[2020-11-14 14:12] logan0402 opened #2354 "No Background Map in the HTML File saved with .to_file in Pydeck"
# Summary

When I try with the example code of Pydeck the map I got with .show() in Jupyter notebook is normal with mapbox background map while if I use .to_file to save it as HTML file, I cannot see background mapbox map layer in the HTML file

# Steps to reproduce

Run the code below
Inspect the browser output

Code

import pydeck as pdk
import pandas as pd
from vega_datasets import data as vds

[2020-11-14 17:50] aghasemi opened #2355 "Streamlit cache breaks the code"
The code is hosted in GitHub and deployed to Streamlit sharing: https://github.com/aghasemi/plzcovid. I hope it makes an investigation easier

As you see in `data.py`, I don't use `st.cache`, but the generic `cachetools` package. The reason is, if I put Streamlit cache annotation on top of `load_data`, I get `KeyError: row` at line 39. Without the `st.cache` (or using `cachetools`), this error doe

[2020-11-15 14:15] dalmia opened #2356 "Installation issues with Python 3.9 on mac Big Sur"
# Summary

Hi everyone. I am trying to install `streamlit` on a new Mac that I recently bought and upgraded to mac Big Sur instantly. I have installed Python using `Homebrew`. However, upon using `pip`,  I get the following error:

[code]

# Steps to reproduce

What are the steps we should take to reproduce the bug:

- Run `pip install streamlit`on macOS Big Sur with Python 3.9 (installed using Ho

[2020-11-15 14:20] dalmia commented on #2356
I understand that this issue is primarily due to `pyarrow`

[2020-11-16 10:46] asmaier opened #2358 "Unnecessary horizontal scroll bar"
# Summary

On mobile devices streamlit apps show an unnecessary horizontal scroll bar. It also allows to scroll horizontally which makes it difficult to use sliders.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

Open this app on a mobile device or use the developer tools to simulate
a mobile view:

https://share.streamlit.io/asmaier/streamlit-demo/main/errorbars.p

[2020-11-16 13:17] eudoxos commented on #2323
Please add an option to disable git requests altogether. I am forcing page reload when new data arrives (`session.request_rerun`), about once a second, and see

[code]

at every reload. This means spawning two processes every second.

[2020-11-16 15:37] sterlinm commented on #942
I'm so excited about this. Thanks, @raybellwaves and @randyzwitch 😃

[2020-11-16 17:37] jenna-jordan opened #2359 "Plotly needs to be updated"
# Summary

Streamlit's version of Plotly is apparently not the latest, resulting in some rendering issues.

See: [this plotly issue comment](https://github.com/plotly/plotly.py/issues/2141#issuecomment-728201906)

For the original comment this was in response to, see: [this issue comment](https://github.com/plotly/plotly.py/issues/2141#issuecomment-726247537)

# Debug info

- Streamlit version: 0.

[2020-11-16 17:47] nthmost commented on #2253
HI @DhruvkBhatt , Thanks for the code snippet!  I tried it out and it does work.  That's a cool workaround.

[2020-11-16 18:07] akrolsmir commented on #2347
Quick notes:
- Not the new MacOS version
- Not sure if 71.0 includes the safari gap fix
- Austin to try and repro on 0.71.0 and see whether it's related to gap

[2020-11-16 18:10] akrolsmir commented on #2325
Thanks for this feature request! It seems like a pretty niche use case, so it's unlikely we'll be able to prioritize it at the moment, but we'll leave this in our backlog to see if other people have the same request. If there's a lot of community demand (upvotes, comments), we'll take a second look!

[2020-11-16 18:13] akrolsmir commented on #2354
Hi @logan0402 , is this an issue with Streamlit or Pydeck? We didn't notice an Streamlit calls (like `import streamlit as st` or `streamlit.button` or anything), so it seems like the issue is not related to this library.

Perhaps the right place to file your issue would be https://github.com/visgl/deck.gl/issues ?

[2020-11-16 18:17] akrolsmir commented on #2355
Hi @aghasemi ,

Thanks for reporting this! We definitely want st.cache to work out-of-the-box here, but your code example is a bit complicated and hard for us to figure out what's going wrong with st.cache. Do you happen to have a simpler repro case?

In general, there are a few outstanding issues with st.cache, and we're likely to do an overhaul of the system in Q1 2021, so your feedback here is

[2020-11-16 18:20] akrolsmir commented on #2356
Hi @dalmia ,

Thanks for filing an issue! You're correct that this is due to `pyarrow` -- unfortunately they don't support 3.9 yet. Here's a link of how to work around this for now, if you must use python 3.9: https://discuss.streamlit.io/t/note-installation-issues-with-python-3-9-and-streamlit/6946.

[2020-11-16 18:22] tconkling commented on #2356
Hey @dalmia - we're hoping to get this resolved quickly (as you note, it's an issue with the `pyarrow` dependency). In the meantime, are you able to use Python 3.8 or 3.7 instead?

If you're juggling multiple versions of Python on your machine, you may want to check out `pyenv` (which you can also install via Homebrew). It facilitates that juggling nicely.

[2020-11-16 18:23] aghasemi commented on #2355
Thank you for the information. Well, it is a sequence of pandas processing steps on a data frame.

In terms of making it simpler, the error disappears if you comment out the lines 45, 46, and 61, and as you see these are the only lines that perform a _row-level_ transform with `apply(...,axis=1)`.

[2020-11-16 18:28] akrolsmir commented on #2358
Thanks for filing! This is definitely an issue; a quick debug session tells us that it's the st.pyplot call (because the app without st.pyplot does not have this issue.)

Here's a quick, editable snippet that demonstrates that commenting it out "fixes it". https://share.streamlit.io/akrolsmir/streamlit-snippet/main/preview.py?snippet_id=-IRfmX3E

But yes, we will continue to investigate why pyplot

[2020-11-16 18:30] akrolsmir commented on #2359
Hi Jenna, thanks for flagging this. We'll take a look at getting Plotly updated!

[2020-11-16 19:20] rsheftel commented on #942
@svenrahmann not that it is the point of this thread, but you can pop install packages in a conda environment.yml file

[2020-11-16 23:09] kmcgrady opened #2360 "Expander resets its expanded state when new elements are included."
# Summary

A expander resets when there are changes in the DOM (like an element is inserted before it). This is likely because the element is unmounted and mounted triggering a reset to the expander itself

# Steps to reproduce

1. Run streamlit with the following code:

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/streamlit_badge_black_white.svg)](https://issues.streamlitapp.com

[2020-11-17 02:56] karriebear commented on #2349
Hmm screencasting works for me on [0.69](https://share.streamlit.io/streamlit/release-demos/0.69/0.69/streamlit_app.py), [0.70](https://share.streamlit.io/streamlit/release-demos/0.70/0.70/streamlit_app.py), and [0.71](https://share.streamlit.io/streamlit/release-demos/0.71/0.71/streamlit_app.py) on Windows 10 Edge v86.0.622.38 using browserstack

[2020-11-17 02:59] karriebear commented on #2343
Closing this out as a duplicate of #534. While it's something we'll be working on, there's some alternative solutions there if this is something you're interested in in the meantime.

[2020-11-17 03:00] #2343 closed, assigned to nobody

[2020-11-17 03:03] karriebear commented on #2311
Closing as a duplicate #2235. Also resolved in #2279

[2020-11-17 06:27] karriebear opened #2363 "SessionInfo is not updated when a new session is created"
An user can have a browser opened and get reconnected to a different session from the original session. When this happens, we do not update the SessionInfo. This gets set only one time on browser initial page load.

[2020-11-17 07:12] tybirk-mindway commented on #2360
Probably related: https://github.com/streamlit/streamlit/issues/2241

[2020-11-17 07:16] DhruvkBhatt commented on #2253
Great Thanks

[2020-11-17 07:35] marcelotrevisani commented on #942
I already merged that, in a hour or so you will have the feedstock and after that the package on the conda-forge channel!
Thanks for contributing! :)

[2020-11-17 09:24] SimonBiggs opened #2365 "Pin pipenv creation to Python 3.8 in the docs for now"
**Link to doc page in question (if any):**
https://github.com/streamlit/streamlit/wiki/Contributing#3-create-a-new-python-environment

**Name of the Streamlit feature whose docs need improvement:**
Contributor

**What you think the docs should say:**
Instead of:

[code]

It should say:

[code]

While pyarrow doesn't distribute wheels for Python 3.9, I think it is quite a bit easier on new contribu

[2020-11-17 11:02] Agrover112 commented on #2349
Hmm strange  I'm in latest Windows build insider one btw

[2020-11-17 14:54] jrhone commented on #2355
Looks like https://github.com/streamlit/streamlit/issues/1801 and https://github.com/streamlit/streamlit/issues/2305?

[2020-11-17 15:05] aagnone3 opened #2366 "A cache hit is almost as slow as a cache miss"
# Summary

For some GeoJSON data I'm pulling, a cache hit for the data is as slow as a cache miss. I can see that the cache does hit, due to a print statement. I also did a custom hash based on the file's mod time to ensure the data isn't changing, and I'm loading it from disk. However, I'll show you below the URL it came from.

# Steps to reproduce

What are the steps we should take to reproduce

[2020-11-17 15:11] aghasemi commented on #2355
Yes. They do seem related.

[2020-11-17 15:56] jrhone commented on #2366
Hi @aagnone3 👋

The short answer is change your code to the following.

[code]

The kind-of-but-not-really an explanation is
- `allow_output_mutation` disables the caching of the function output which in this case is slow.
- Since you're allowing output mutation, you either want to guarantee that you don't actually mutate the output or if you need to modify it, you could (deep) copy the output bef

[2020-11-17 16:18] jrhone commented on #2366
Alternatively, `pandas.read_json()` might be an option for you.

The hashing of a dataframe is faster than the hashing of a json blob so you won't need `allow_output_mutation` in that case.

[code]

[2020-11-17 16:50] aagnone3 commented on #2366
Good deal! This solved my issue.

[2020-11-17 16:50] #2366 closed, assigned to nobody

[2020-11-17 17:31] #2363 closed, assigned to nobody

[2020-11-17 17:34] kurt-rhee commented on #612
This would also add functionality for UserSnap which my organization uses.

[2020-11-17 18:40] randyzwitch commented on #2365
Agreed, thanks for the reminder

[2020-11-17 18:41] randyzwitch commented on #2365
Done

[2020-11-17 18:41] #2365 closed, assigned to nobody

[2020-11-17 19:58] logan0402 commented on #2354
I am so sorry, I post this issue in wring library

[2020-11-17 19:58] #2354 closed, assigned to nobody

[2020-11-17 20:32] SimonBiggs commented on #2365
Pleasure :)

[2020-11-18 02:19] arturadib opened #2367 "Nicer "Connection error" dialog with "Retry"!"
### Problem

Every time my app loses connectivity to the server it pops up this rather ugly box :)

![image](https://user-images.githubusercontent.com/741528/99474518-bb1c1380-291a-11eb-8a4c-aa0062f7a36f.png)

### Solution

What if the dialog was standardized with a gentler message like "Could not connect to server", maybe even with a "Retry" button, that hid the details? (unless the user wanted t

[2020-11-18 08:14] aniruddhachoudhury commented on #1856
I am chaging the same inside a docker container after that i am deploying. So it crashing. What might be the possibile solution for docker deployment changes?

[2020-11-18 14:22] raybellwaves commented on #942
Can be closed. Feedstock here: https://github.com/conda-forge/streamlit-feedstock

[2020-11-18 14:40] randyzwitch commented on #942
Thanks for contributing this @raybellwaves! We're still thinking internally how we will support this (or leave it purely as a community-supported package), but you've done a majority of the leg-work here to make it a reality :+1:

[2020-11-18 14:40] #942 closed

[2020-11-18 16:01] jbpauly opened #2369 "AmbiguousTimeError on st.write() and st.table()"
# Summary
When a `pandas.DataFrame ` with a `DatetimeIndex` with duplicate dates is passed to `streamlit.write()` or `streamlit.table()`, the pandas `AmbiguousTimeError` is thrown. When the DateTimeIndex has date type `datetime64[ns]` **without** any timezone specification, it is okay to have duplicate datetimes.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

[code

[2020-11-18 16:53] tomkomt opened #2370 "Widget's new value goes to limbo with st.experimental_get/set_query_params"
# Summary

I am using query_params to mirror state of widgets, so I am able to reproduce specific state with URL. I need to change state of each widget twice to get change.

# Steps to reproduce

1. Load state from URL with st.experimental_get_query_params
[code]
2. Set previous state as preselected value to st.radio
[code]
3. Store current value to query params
[code]
4. Go to view
5. Click on di

[2020-11-18 17:15] anlinguist commented on #1856
how are you changing it in the docker container?

I imagine you're installing streamlit as a requirement? After the `RUN pip install -r requirements.txt` command, you need to have another command, something like `RUN sed -i 's/document.title="".concat(t," \xb7 Streamlit")/document.title="".concat(t,"")/g' site-packages/streamlit/static/static/js/main...chunk.js`. You'll need to change the main....

[2020-11-18 17:51] tomkomt commented on #2370
I have the same behavior with custom React component, which sends new value for query params to main Python component.

[2020-11-18 17:52] aniruddhachoudhury commented on #1856
Yes i am installing the streamlit as in requirements.txt. Once i have build that docker image. I am entering inside docker as docker run -it $IMAGE_NAME /bin/bash. Inside the docker i am going to that site packages path and with VIM editor i am changing that. I am hosting the docker image in Cloud as a deployment. Can you share me the docker image code if it is working there.

[2020-11-18 18:41] anlinguist commented on #1856
add these docker commands in your dockerfile after you install requirements.txt:
`WORKDIR /`
`RUN sed -i 's/ \\xb7 Streamlit//g' /usr/local/lib/python3.8/site-packages/streamlit/static/static/js/main.68bdddd4.chunk.js`

So long as that's the name of the main...chunk.js file, it should work - I just tested it and it worked fine for me. You may need to change the python version number depending on w

[2020-11-18 18:49] aniruddhachoudhury commented on #1856
Let me test that. Thanks for quick reply.

[2020-11-18 19:09] aniruddhachoudhury commented on #1856
Thanks its working solution. I think we can close this issue.

[2020-11-18 19:12] anlinguist commented on #1856
I think the issue still stands, the page title should not include '· Streamlit' if set_page_config has been set.

[2020-11-18 19:16] aniruddhachoudhury commented on #1856
Ya correct once you refresh the page the stremlit title and the default favicon.png image still comes.

[2020-11-18 19:19] anlinguist commented on #1856
That shouldn't be happening 🤔  you completely removed the code to add the '· Streamlit' with that RUN sed command, so that's strange that it would come back. Did you set_page_config in your app.py?

[2020-11-18 19:31] randyzwitch commented on #1856
Could you take this to the Streamlit forum? This is triggering notifications to everyone following this issue, whereas yours is a specific, tangentially related question.

https://discuss.streamlit.io

Thanks!

[2020-11-18 19:42] aniruddhachoudhury commented on #1856
Yes i have set page config at the starting of my code with custom title and image.

[2020-11-18 19:43] aniruddhachoudhury commented on #1856
Sure will take that.

[2020-11-18 19:44] aniruddhachoudhury commented on #1856
For first time launch  or whenever you will refresh it shows the streamlit name. Once the page is refreshed fully it comes back to our custom title. So intially it shows for 2 secs at starti g point of loading a page thats the problem

[2020-11-18 19:51] nthmost commented on #2367
Hi @arturadib -- I agree that Streamlit could be a little friendlier in situations where connectivity is not super reliable.

Thanks for the suggestion!

[2020-11-18 20:08] kurt-rhee opened #2371 "Streamlit Hash Funcs and MultiProcessing don't work together"
# Summary

The following error message only appears when  I have multiprocessing in the same python script.  When I serially process this error does not occur.

While caching the body of `get_connection()`, Streamlit encountered an
object of type `builtins.function`, which it does not know how to hash.

# Steps to reproduce

[code]

Here is my cached database connection

## Expected behavior:

I w

[2020-11-18 20:14] nthmost commented on #2367
Related: #1386

[2020-11-18 21:38] easimadi commented on #297
dears, is this solved?

[2020-11-19 00:48] karriebear opened #2373 "Update imports of S3Storage now that boto3 is a dev dependency"
Regression from boto3 dependency change

![image](https://user-images.githubusercontent.com/24946400/99606051-f4b25480-29d6-11eb-92ec-d69a842d2bd8.png)

[2020-11-19 01:10] nthmost commented on #297
@easimadi

We did have a pull request that fixed the issue as it was opened a year ago.  If you're experiencing something similar now, would you mind opening a new bug report?  You can reference this issue as well if you think it will help.

The reason is there have been significant changes in the streamlit code since this bug was opened, and our policy is to open new bugs if an older issue has be

[2020-11-19 01:22] nthmost commented on #2355
@aghasemi Thanks for the clarification!

We have a major overhaul of the caching system slated to start late next month so we are holding off on fixing one-off caching bugs in favor of redoing it "the right way" all at once.  (If you search our issues for "cache" you'll get a sense of why.)

In the meantime, for a workaround I'd recommend seeing if you can pull the affected processing lines out of

[2020-11-19 06:36] sahajre opened #2374 "Plotting demo failed with exception ('RangeIndex' object has no attribute 'step')"
# Summary

After invoking `streamlit hello`, and selecting "plotting demo" it failed with an exception: StreamlitAPIException: 'RangeIndex' object has no attribute 'step'

# Steps to reproduce

1. Invoke `streamlit hello`
2. Choose a demo "Plotting demo"
3. It failed with exception.

## Expected behavior:

It should work without any exception and show the plotting demo.

## Actual behavior:

It sh

[2020-11-19 07:20] tybirk-mindway commented on #2370
Hi tomkomt,

I ran into the same problem - @karriebear describes [why the behaviour happens](https://github.com/streamlit/streamlit/pull/1169#issuecomment-672701734) and suggests a workaround [here](https://github.com/streamlit/streamlit/pull/1169#issuecomment-673001896).

I made an example with a solution which goes a bit more in depth [here](https://discuss.streamlit.io/t/programatically-setting

[2020-11-19 14:28] tomkomt commented on #2370
@tybirk-mindway Thank you, that's perfect. It helped a lot.

I did a few changes to [mentioned workaround](https://github.com/streamlit/streamlit/pull/1169#issuecomment-673001896), because it was failing when app started with empty query params. If default query params were provided, then it worked like a charm.

[code]

So, as was mentioned [here](https://github.com/streamlit/streamlit/pull/1169#

[2020-11-19 14:29] ChrisDelClea opened #2376 "Clipping components to other components"
### Potenial Improvment
It would be great if you could clip (aka. overlap or append) a component to another component.

### Solution

In the middle f a cointainer I have a table (with space to left and right), to this table I would like to attach a code snippet (to the right) and thus visually link the two. Of course this would be just nice to have (low priority).

### Additional context

![image]

[2020-11-19 21:18] aghasemi commented on #2355
Thank you for your reply. I am looking forward to the "new" cache and I'm not in a rush.  As you see, I solved my problem using `cachetools`, which keeps the data loading function coherent.

[2020-11-19 23:34] kurt-rhee commented on #1115
same error for @st.cache when I call multiprocessing.map()

[2020-11-20 07:25] manvirxkaur commented on #1613
Thank you soo much! I really needed this

[2020-11-20 10:33] andreaschiappacasse opened #2378 "Closing and reopening an expander resets a nested number_input"
# Summary

A number_input inside an expander resets to the original state when the expander is closed and reopened.
The actual returned value is the correct one, but the widget is showing the original value instead.

This does not happen with other widgets (e.g. checkbox or selectbox)

# Steps to reproduce

This sample code lets you reproduce the issue:

[code]
## Expected behavior:

After closing

[2020-11-20 17:05] HRaytracing opened #2379 "In-memory caching of of instances of user-defined classes does not preserve class identity"
# Summary

When streamlit reruns a file with a class definition this class gets newly instantiated in memory. A cached instance of this class however remains an instance of the old definition of this class. A newly created instance of it therefore ends up being of a different class than a cached instance of it which can lead to hard to debug bugs.

# Steps to reproduce

1. Run this code with `stre

[2020-11-20 19:21] karriebear commented on #2311
It looks like this is still happening intermittently in v0.71.0. Reopening

[2020-11-21 02:09] akrolsmir commented on #2311
From Thiago:

[2020-11-21 03:36] nthmost commented on #2374
Hi @sahajre -- this sounds potentially like the version of pandas you have is not one that streamlit supports.  We have our pandas version carefully pinned in Pipenv, and sometimes other virtual environments don't respect this requirement and pull in the wrong pandas version.

If you can, would you give me the output of the following command?

`pip freeze | grep pandas`

Also, [see this thread on

[2020-11-21 06:58] karriebear commented on #2311
Yup, the only thing is we aren't closing the file. My guess is the memory is being reclaimed and the file is getting closed for us. However, I was testing with a 189B file and though I wasn't able to repro consistently, I was able to do so and my machine should not be complaining about 189B. Definitely need to do more research to confirm. For sure we'll add better error handling, to recreate if po

[2020-11-21 13:36] sahajre commented on #2374
@nthmost: pandas version details
[code]

[2020-11-21 13:51] sahajre commented on #2374
Hi @nthmost, after updating `pandas` version to 1.1.3, demos are working fine now.

Steps I took (I'm using `conda`):
[code]

[2020-11-22 01:02] PetrochukM opened #2382 "Add simple cache with no fancy features that's not buggy"
I'm using `streamlit` to preprocess a lot of data and to analyze the results of the preprocessing.

### Problem

The `st.cache` function continues to cause me issues, and it looks like I'm not the only person: https://github.com/streamlit/streamlit/issues?q=is%3Aissue+is%3Aopen+st.cache

`st.cache` is integral to building a complex `streamlit` app, and yet it's complex and buggy. The cache gets cl

[2020-11-22 01:05] PetrochukM commented on #2382
Or at least, can you provide a helper function to compute the cache key? If so, I could start trying to debug `st.cache`, and trying to understand... why the cache was cleared.

[2020-11-22 01:44] PetrochukM commented on #2382
After writing this post, I learned about `SessionState`:
https://gist.github.com/tvst/036da038ab3e999a64497f42de966a92
https://discuss.streamlit.io/t/is-there-any-working-example-for-session-state-for-streamlit-version-0-63-1/4551

I'll use this "hack" to build my own cache. Thank you!

[2020-11-22 01:44] #2382 closed, assigned to nobody

[2020-11-22 02:27] PetrochukM commented on #2382
For reference, I built this, on top of session state:
[code]

I also updated the session state to return a `dict` instead of a custom object. The cache can be used like so:
`@_session_cache(maxsize=None)`

[2020-11-22 02:41] marklkelly commented on #455
I'd like to be able to click on a row in a table and display relational child rows in another table. We also have a use case where we need to be able to 'flag' data in a table, and then re-calculate data in the table based on these flags

[2020-11-22 13:55] pjvalla commented on #1115
Get this error when opening the app, after refresh of browser then everything works fine.

Streamlit version: Streamlit v0.71.0
Python version: Python 3.8.6
using conda
OS version:  Ubuntu 20.04
Browser version: Chrome 87.0.4280.66

[2020-11-23 14:34] andfanilo commented on #2382
Hey @PetrochukM, this looks nice, glad you managed to build yourself a custom cache system! Feel free to post this on the [forum](https://discuss.streamlit.io/tag/cache) too, that could help or inspire other users.

From one of @nthmost 's [comment](https://github.com/streamlit/streamlit/issues/2355#issuecomment-730061644), the cache system is in the process of being redesigned so any feedback you

[2020-11-23 18:17] akrolsmir opened #2384 "Getting WebSockedClosedError() after 20 min, on a long-running Streamlit Script"
# Summary

I have a function that takes at least one hour to compute. When I run the function the app states “Running Expensive_Function()”, which is fine. However, after 20 minutes, the browser gives a timeout. Is it possible to change the timeout limit, such that the “Running Expensive_Function()” message remains even after 20 minutes?

Copied from https://discuss.streamlit.io/t/possible-to-chan

[2020-11-23 18:18] akrolsmir commented on #2384
TODO: On bug rotation, first investigate whether this is actually a technical limitation inside of Streamlit or a bug.

[2020-11-23 18:59] akrolsmir commented on #2379
Hi @HRaytracing ! Thanks for reporting this. We're trying to get a handle of how important this issue is -- can you give us more context around why you were trying to preserve class ID? What use case does that enable for you?

[2020-11-23 20:38] thomaspapap commented on #283
I had the same problem!
Try the following :
pip install --upgrade pip setuptools wheel

after that

pip install streamlite

[2020-11-23 21:06] #2373 closed, assigned to akrolsmir

[2020-11-24 03:29] akrolsmir opened #2385 "st.line_chart, st.area_chart should not zoom vertically"
# Summary

We fixed st.bar_chart so that it only zooms on one axis (the y-axis). We should do the same for st.line_chart and st.area_chart.

# Steps to reproduce
[code]

https://share.streamlit.io/akrolsmir/streamlit-snippet/main?snippet_id=xD-kYZ2c

Then try zooming on the line chart.

## Expected behavior:

The x-axis should widen or contract on scroll wheel zoom.

## Actual behavior:

The entir

[2020-11-24 09:05] HRaytracing commented on #2379
Hi @akrolsmir! Thank you for looking into this. I have stumbled over this in two cases so far:

1. Use `isinstance` to dispatch different code depending on the type.

The concrete use in our code is a dataframe-like data structure that handles common special cases extremely efficiently. It inspects the types of internal parts of the structure in order to detect whether it has to fall back to a gen

[2020-11-24 09:07] HRaytracing commented on #2379
While thinking about the bug a bit more I found another workaround:
[code]
This way the class definition itself is also always retrieved from the cache instead of being reexecuted. And when you substantially change the class definition of values that might be cached the cache should be cleared anyways.

Edit: This workaround breaks persistent caching of values containing this class because they ca

[2020-11-24 11:59] PablocFonseca commented on #2263
I'm looking for this feature as well... meanwhile, I found this: https://github.com/domoritz/streamlit-vega-lite looks like it allows selections to be sent back to python.

[2020-11-24 14:15] hendrik-teuber-by opened #2386 "Remove enum-compat dependency"
Enum compat is not required anymore since the minimal Python version of streamlit is 3.6 and this requirement is only relevant for Python < 3.4
https://github.com/jstasiak/enum-compat

I would love to create a PR and remove the dependency.

[2020-11-24 14:38] randyzwitch commented on #2386
Thanks for checking that out, sounds like a good issue for you to take on

[2020-11-24 16:31] kwraight opened #2387 "Docker with InternalHashError: 'wrapper_descriptor' object has no attribute 'module'"
# Summary

Can't open app due to error. Webpage exists but with immediate error message.
App runs fine as stand alone. Difficulty when running via docker.

# Steps to reproduce

Boot app via docker

## Expected behavior:

App opens.

## Actual behavior:

Error message on opening webpage

## Is this a regression?

That is, did this use to work the way you expected in the past?
yes, as stand alone a

[2020-11-24 16:57] andfanilo commented on #2302
Hello, I come from https://discuss.streamlit.io/t/pydeck-chart-not-showing-different-pydeck-views-types/7396 :)

NOTES:

The `views` part of pydeck is [dropped from the proto](https://github.com/streamlit/streamlit/blob/368585077a337003f48f61f7446d2e4eccedca44/frontend/src/components/elements/DeckGlJsonChart/DeckGlJsonChart.tsx#L154), then Streamlit defines a [default `StaticMap`](https://github.c

[2020-11-24 23:46] SimonBiggs opened #2388 "Provide warning that dates are silently adjusted by the user's timezone"
**Link to doc page in question (if any):**
https://docs.streamlit.io/en/stable/api.html#streamlit.line_chart

**Name of the Streamlit feature whose docs need improvement:**
`st.line_chart`

**What you think the docs should say:**
[code]

**Details of issue:**
The following image:

![image](https://user-images.githubusercontent.com/6559099/100163980-ffa34280-2f0a-11eb-9dc2-1ac6ae12f63b.png)

is pro

[2020-11-25 05:38] kousikan opened #2389 "Stuck on Please wait... stage on AWS EC2 machine"
# Summary

Stuck on Please wait... stage. on AWS EC2 machine. Working in local machine. Tried everything in Section 2 in the web page https://docs.streamlit.io/en/stable/troubleshooting/not-loading.html

# Steps to reproduce

What are the steps we should take to reproduce the bug:

pipenv --python 3.8.6
pipenv -v install streamlit
streamlit hello

## Expected behavior:

The app to work. on the IP

[2020-11-25 11:27] JovanNj commented on #2302
Hi Fanilo,

Thank you very much for the explanation. Excellent, I will try the solution with embedding _deck.to_html()_ to _components.html()_ and I  will send feedback here if we manage to deal with it.

Thanks again! Best,
Jovan

[2020-11-25 17:09] FlxVctr commented on #2356
Using Python 3.8 does not solve the problem. Seems to me, pyarrow does not provide a wheel for Mac OS 11 yet.

[2020-11-25 19:38] #2386 closed, assigned to nobody

[2020-11-25 19:38] hmoravec commented on #1298
@jrhone I'm experiencing this issue in 0.71.0.

[2020-11-25 20:56] jflam commented on #455
I would love to see this too. To create master/detail style data explorers, sometimes you want to render the data differently for a selected row. The multiselect workaround is ... clunky.

[2020-11-26 04:09] bfgdigital commented on #2389
Having the same issue.

[2020-11-26 14:41] ZupoLlask commented on #2389
Do you think this may be related with #2312?

[2020-11-26 20:23] aleroldan95 commented on #1429
Same problem here :(

[2020-11-27 18:00] arturadib opened #2391 "Expander crops copy button from st.code()"
# Summary

`st.code()` normally has a button on the top right to enable quick pasteboard copying. When inside a `beta_expander()` block the button is gone. See image below.

![image](https://user-images.githubusercontent.com/741528/100475116-467e6d00-30b0-11eb-9336-5a669c811746.png)

# Debug info

- Streamlit version: `streamlit-nightly==0.70.1.dev20201101`
- Python version: `3.7`
- OS version: Do

[2020-11-28 15:40] debparth opened #2393 "Cuda out of memory"
# Summary

I'm trying a Efficientdet model but whenever I try to feed the uploaded image to the model then it gives me Cuda out of memory error. If I try to feed the image without using streamlit i.e. without normally running the code then it doesn't show any error.
This error never happened before when I run the code and feed the image normally (i.e. without using streamlit).

# Steps to reproduc

[2020-11-28 22:54] schmidtdominik opened #2394 "Streamlit fails to parse emoji shortcodes containing a dash ("-")."
# Summary

Streamlit allows you to set any twitter emoji as a favicon by calling `st.set_page_config(page_icon=[emoji shortcode string]`) at the beginning of the script. This works well with shortcodes like `':dog:'` or `':moon:'` but fails with all shortcodes that contain a dash like `':crescent-moon:'`.

# Steps to reproduce

Compare behavior of

[code]

with

[code]

## Expected behavior:

Any

[2020-11-30 07:47] chiehpower commented on #850
Hi @hcoohb and @unsolicitedcrap ,

Thanks for your discussion!
Is there any update for this issue?
I also met the same issue that I wanna get the color value from users via `st.bokeh_chart(color_picker)`, but I cannot find the solution...
I will be grateful if you can provide me some information!
Thank you!

BR,
Chieh

[2020-11-30 11:45] ptigwe commented on #1873
I recently faced the same issue when dealing with rdkit and streamlit. And just wanted to post a possible workaround that was hanging on the streamlit forums if it would be of help to anyone else.

[code]

Source:
https://discuss.streamlit.io/t/what-is-the-recommended-way-to-create-a-table-of-images/1943

[2020-11-30 12:13] Wirg opened #2395 "widget.empty() clears the widget only at the end of the script"
Hi and thank you for streamlit :)

# Summary

Using `widget.empty()` on a widget, empty the widget but only when streamlit reach the end of the script.

# Steps to reproduce
[code]
## Expected behavior:

I expect `widget.empty()` to empty the widget "instantly" when I call the function. `write`, `progress` and other widgets already work this way (here before `st.write("cleared original text")`).

[2020-11-30 18:12] nthmost commented on #2385
Let's take a look at how other libraries handle this case...

[2020-11-30 18:17] akrolsmir commented on #2391
Could not repro with a three line example: https://share.streamlit.io/akrolsmir/streamlit-snippet/main?snippet_id=xrhQPFjm

[2020-11-30 18:21] akrolsmir commented on #2395
Streamlit snippets of the code example: https://share.streamlit.io/akrolsmir/streamlit-snippet/main?snippet_id=FcAXRYMC

[2020-11-30 19:02] nherriot opened #2397 "Running on version 0.63 till 0.71 I get 'illegal instruction' error"
# Summary

Running streamlit version 0.63 > 0.71 returns 'illegal instruction'.
I suspect this may be down to my architecture and most people have not seen this yet. Here is what I see even asking for version number:

[code]

# Steps to reproduce

The steps I took to reproduce on a vanilla Ubuntu 18.04 LTS (elementary OS 5.0 Juno).

1. sudo apt update
2.  sudo apt install software-properties-commo

[2020-11-30 19:57] fernandascovino opened #2398 "global.logLevel IS DEPRECATED."
# Summary

What is happening with `global.logLevel`?  Our whole application crashed (running on a copy of version 0.70.0) and we got this warning:

[code]

This is set up [here](https://github.com/streamlit/streamlit/blob/0.71.0/lib/streamlit/config.py#L241) on your code in the latest version (0.71.0), but it [still has `global.logLevel` option there](https://github.com/streamlit/streamlit/blob/0.

[2020-11-30 19:58] gabriellearruda commented on #2398
I had the same problem!

[2020-11-30 23:04] arturadib commented on #2391
looks like it got fixed somewhere between nightlies `0.70.1.dev20201101` and `0.71.1.dev20201129`. feel free to close, thank you

[2020-12-01 08:55] djpecot commented on #1019
+1

[2020-12-01 09:01] LeoTafti opened #2399 "st.expander expanded/collapsed state"
### Problem

I'd like to be able to know whether a `st.expander` is expanded or collapsed (e.g. to show something on the main layout only when an expander in the sidebar is in expanded state).

### Solution

**MVP:** Something like `st.expander().expanded` as a `bool` would be nice.

---

Community voting on feature requests enables the Streamlit team to understand which features are most importan

[2020-12-01 09:56] arnaudmiribel opened #2400 "Can't copy/paste when `st.code()` is within an expander."
# Summary

Can't see the `Copy to clipboard` trigger aside the usual code widget whenever that code widget is within a `st.beta_expander()`.

![image](https://user-images.githubusercontent.com/7164864/100725052-d62f5e80-33c3-11eb-852b-2acd1dc4dcb0.png)

# Steps to reproduce

Sufficient code:

[code]

## Expected behavior:

I'd expect both to have the "Copy to clipboard" icon.

## Actual behavior:

[2020-12-01 10:10] tybirk-mindway commented on #2400
Hi @arnaudmiribel

Looks like a duplicate of https://github.com/streamlit/streamlit/issues/2391

It looks like it is fixed in the newest version on the 'nightly channel'  👍

[2020-12-01 13:45] arnaudmiribel commented on #2400
Thanks @tybirk-mindway - that is indeed a duplicate, closing it. 👍

[2020-12-01 13:45] #2400 closed, assigned to nobody

[2020-12-01 15:48] hmoravec opened #2401 "File uploader does not work on the first load"
# Summary

When using the file uploader widget to upload a file on the first page load, streamlit does not detect that the file is uploaded and the subsequent code does not run at all. It works only after refreshing the page.

This is exactly the same issue as https://github.com/streamlit/streamlit/issues/1298 that was fixed in 0.57.3.

## Is this a regression?
yes

# Debug info

- Streamlit versi

[2020-12-01 16:06] chakra-ai commented on #1294
Hi,
I am experiencing the same issue with my app. My app works fine in local but once deployed into azure server the image is not rendering properly. This happens random and even for static images as well for WordCloud images. Do we have a fix for that? I am using the latest version. 0.71.0

[2020-12-01 16:47] nherriot commented on #2397
Some more info on the version of python the machine is running.
Seems to be 64bit

[code]

[2020-12-01 17:19] vhoulbreque commented on #1783
Just tested again today on Ubuntu 18.04 and 20.04 with `streamlit==0.71.0` and it works like a charm!

[2020-12-01 17:28] kzecchini commented on #2398
You can just update your streamlit configuration settings. You can do that in the `~/.streamlit/config.toml` file: https://docs.streamlit.io/en/stable/streamlit_configuration.html#set-configuration-options

You need to make sure you have the global logging commented out, and add the `logger` section. Example `~/.streamlit/config.toml`:
[code]

[2020-12-01 17:47] randyzwitch commented on #1783
Great, thanks for confirming! Closing this issue, but if you think there's more to do, happy to re-open it.

[2020-12-01 17:47] #1783 closed, assigned to nobody

[2020-12-01 18:22] chakra-ai commented on #1686
I have the same issue. Do we have the fix for this? @PerplexedFox Thanks for mentioning the workaround for the same.

[2020-12-01 18:58] karriebear commented on #2398
@kzecchini is correct.

To add on, config options could also be set with environment variables or the CLI. If you are not sure where you are setting `global.logLevel`, you can do `streamlit config show` and it will list where each config option is being set from.

Closing as not a bug.

[2020-12-01 18:58] #2398 closed, assigned to nobody

[2020-12-01 19:01] karriebear opened #2404 "[File Uploader] Progress bar does not work in safari"
This works in Chrome but not Safari. Initial debugging shows that the our progress bar component is being called. Need to investigate more to see if there is an issue with rendering the Baseweb progress bar too frequently. For some reason it works when deployed on S4A in Safari (probably due to iframing)

[2020-12-01 21:00] #2329 closed, assigned to karriebear

[2020-12-01 21:00] asaini commented on #2393
Hi @debparth

Thanks for opening this issue! We would like to reproduce this issue on our end. Can you share some toy code(and data) which demonstrates this problem? Without code its hard to debug on our side

Thanks!

[2020-12-01 21:13] kmcgrady commented on #1294
Hi @chakra-ai !

It will be really difficult to debug without being able to run the code, so if you are able to share your code (or better, provide a toy example that illustrates the problem simply, that would make life a lot easier.

Here are a couple thoughts that might help us solve the problem.

The MediaFileManager manages all the media in memory. At the end of the script run, all media that

[2020-12-01 21:19] nvinayvarma189 commented on #897
The ability to clear the uploaded files seems to be solved with @karriebear 's PR #2130. I tried looking through the commit changes from the PR but I'm unable to locate the files that are specifically responsible for "clearing uploaded files".

Can a sample example be provided on how this is exposed via st object?

We are using streamlit 0.71.0 and we see the following

1. The uploaded file is get

[2020-12-02 02:03] chakra-ai commented on #1294
Hi @kmcgrady , Thanks for the quick reply.

The issue of image rendering I am facing is mostly after I deploy to azure machine. In local its working. I have 2 parts to it.
1. Static Image (Logo) - sometimes it render but sometimes just the broken image icon. if I right click on the image and do a reload the image loads as it should be.
![image](https://user-images.githubusercontent.com/55867374/10

[2020-12-02 02:46] manhdoan291 opened #2406 "I have an issue"
https://stackoverflow.com/questions/65089135/how-do-i-create-information-form-detect-and-push-this-data-into-the-text-box-st

[2020-12-02 02:47] manhdoan291 opened #2407 "i have an issue"
https://stackoverflow.com/questions/65089135/how-do-i-create-information-form-detect-and-push-this-data-into-the-text-box-st

[2020-12-02 03:22] karriebear opened #2408 "Clear cache should clear uploaded files"
Uploaded files are managed with the upload file manager rather than our standard caching functionalities. As such, when clearing cache, we still maintain these files. We should call `uploaded_file_manager.remove_session_files` when we clear the cache.

Need to make sure that files are also removed from the widget.

---

Community voting on feature requests enables the Streamlit team to understand

[2020-12-02 03:27] karriebear commented on #897
@nvinayvarma189, thanks for the feedback and glad to hear you're loving Streamlit! Some quick follow up on your questions below:

When you reload the page, we will clear out the uploaded file. Right now files are associated with an individual session. When a session no longer exists, the files from that session are cleared. This is currently done in [`report_session.py`](https://github.com/streaml

[2020-12-02 04:24] karriebear commented on #2192
The layout page configuration option is only the default setting but this is a setting that users can overwrite. By default, the setting is set to wide mode unless you specify the default layout option in your app code using `streamlit.set_page_config`. Given that this is a setting you do within your app code, can you explain the use case for retrieving this value?

[2020-12-02 04:39] akrolsmir commented on #2247
Note; this is also broken outside of sliders, too -- see https://share.streamlit.io/akrolsmir/streamlit-snippet/main?snippet_id=bR3TezG6

[2020-12-02 05:20] akrolsmir commented on #2397
(Have not reproduced this yet, but removing "needs-triage" so we can sync it to our internal issue tracker)

[2020-12-02 10:24] HongLouyemeng opened #2409 "st.cache error"
AttributeError: 'QueuePool' object has no attribute '_pool'
Traceback:
File "c:\python3.6.5\lib\site-packages\streamlit\script_runner.py", line 332, in _run_script
    exec(code, module.__dict__)
File "D:\pycharm_workspace\weather_test\study_clode.py", line 105, in <module>
    df=get_data(farm_id, start_time, end_time, engine)
File "c:\python3.6.5\lib\site-packages\streamlit\caching.py", line 604

[2020-12-02 14:43] randyzwitch commented on #2407
Duplicate to #2406

[2020-12-02 14:43] #2407 closed, assigned to nobody

[2020-12-02 15:08] randyzwitch commented on #2406
In general, please just post in one location. This question is better served to be answered on our discussion forum, as it's not specifically an issue with the Streamlit library:

https://discuss.streamlit.io

Closing in lieu of answering the question via StackOverflow.

[2020-12-02 15:08] #2406 closed, assigned to nobody

[2020-12-02 16:00] debparth commented on #2393
Thank you for your reply. The error got solved. The reason was I previously loaded 2 another models which were consuming the memory. After clearing them out, it is working correctly.

[2020-12-02 16:07] thingumajig commented on #2284
Got a similar issue with 0.71.0. The streamlit application works fine on one server, but when migrating to another new server, a problem suddenly appeared. The only difference is in the minor version of Python(??).

[2020-12-02 16:08] thingumajig commented on #2284
By the way, the error also occurs when starting
`streamlit hello
`
Looks like some kind of library compatibility issue

[2020-12-02 16:48] kurt-rhee commented on #1061
@karriebear

I have the same issue, but I'm not sure that localizing before writing fixes the problem.  Here you can see that block.index is localized to UTC-8, but the localization error still occurs.

`        block = block.tz_localize(timezone)
        st.write(block.index)
        st.write(block)
`

![image](https://user-images.githubusercontent.com/33131958/100916407-89fb2180-348a-11eb-85f1-e

[2020-12-02 17:23] asaini commented on #2393
Glad to hear that! Closing

[2020-12-02 17:23] #2393 closed, assigned to asaini

[2020-12-02 17:35] chakra-ai commented on #1294
Adding to the above issue; while I inspect the application on the browser for the image component, the image url generated as;
`https://<Application URL>/media/1b25254261af69495b4fc9a637472aacad81157493ba5f698288e9da.png`

In the console I see;

GET https://<Application URL>/media/1b25254261af69495b4fc9a637472aacad81157493ba5f698288e9da.png 404 status. for the broken image.

[2020-12-02 18:33] thingumajig commented on #2284
Workaround: I created manually a .streamlit folder and credentials.toml in it

[2020-12-02 19:01] kmcgrady commented on #2397
Hi @nherriot

First of all, thank you very much for bringing this up both on GitHub and in the [Discuss Forum](https://discuss.streamlit.io/t/illegal-instruction/7479), and sorry we didn't get back sooner! I hope that we figure out a solution here. We have been unable to repro on our systems (both macOS and Ubuntu), so this will be a little tricky to identify the solution.

"Illegal Instruction" e

[2020-12-03 10:24] Wirg commented on #160
I think you may be interested in stqdm :
- Github repo : https://github.com/Wirg/stqdm
- Pypi : https://pypi.org/project/stqdm/

This takes the best from tqdm & streamlit to :
- update only when necessary and avoid slowing down your program too much
- have a progress bar in your frontend and backend
- add a description and all the tqdm options
- add the tqdm details to your frontend (% completion,

[2020-12-03 10:52] tobycheese commented on #1326
For anyone stumbling over this, it has been renamed to `streamlit.report_thread.add_report_ctx(thread)`.

[2020-12-03 15:52] #2323 closed, assigned to akrolsmir

[2020-12-03 15:59] leshaker commented on #2349
I observe the same behavior on ubuntu 18.04 with firefox 83.0 and chromium 87.0.4280.66

[2020-12-03 16:32] Agrover112 commented on #2349
@leshaker  That's strange indeed,which Streamlit vers are you on?

[2020-12-03 18:29] karriebear commented on #1686
@chakra-ai can you provide some more details or sample code about your issue and confirm what version of Streamlit you are using? I'm unable to reproduce this using the information provided in the original issue on the latest Streamlit.

[2020-12-03 18:44] karriebear commented on #2401
Thanks for reporting the issue @hmoravec! Unfortunately I'm not able to reproduce this on my machine 😢   but we did make a couple of updates in version 0.72.0 that could impact this behavior you are seeing. Do you mind trying to upgrade to latest and see if this is still an issue for you? Alternatively, could you try this on our [0.72.0 playground here](https://share.streamlit.io/streamlit/core-pr

[2020-12-03 18:50] karriebear commented on #2008
Hey, I'm closing this issue since it's been inactive for over 30 days. Feel free to reopen if you're still experiencing it and have some more info to add.

[2020-12-03 18:50] #2008 closed, assigned to karriebear

[2020-12-03 21:44] nthmost commented on #2369
Hi @jbpauly -- I agree this is erroneous behavior!  I'll see if we can pull this bug in with some related dataframe improvements we're about a week into already.  Thanks!

[2020-12-03 21:58] nthmost commented on #2374
Thanks @sahajre !

[2020-12-03 22:32] kmcgrady commented on #1294
@chakra-ai hmmmmm. I wonder if you can get logs from the server or perhaps run it in [debug logging mode](https://docs.streamlit.io/en/stable/streamlit_configuration.html#view-all-configuration-options)? I wonder if there's some caching layer in Azure that's breaking. The sidebar logo, should _not_ be a problem at the very least, so I'd target that as a trivial example to see if we can deduce _why

[2020-12-03 23:34] hmoravec commented on #2401
It seems to work in 0.72.0. Thanks.

[2020-12-03 23:34] #2401 closed, assigned to nobody

[2020-12-04 13:56] orenbookarang commented on #862
+1

[2020-12-04 18:43] karriebear opened #2418 "[File Uploader] Ensure sessions are valid"
Currently in the file request handler, we check for the presence of the session id being passed. However, we do not check if this is a valid session. Checking for session validity will add another layer of security to our endpoints

[2020-12-04 22:20] karriebear opened #2420 "Add a PR check for test coverage"
Make commands are currently available to check for coverage. Run these as part of our PR checks

Python: 90% - Mandatory (This is our current state)
`make pycoverage`

Javascript: 50% - Optional (does not block)
Current State:
% Stmts:  36.07
% Branch: 16.77
% Funcs: 43.38
% Lines: 36.1
`make jscoverage`
Note: This may need to be refined to potentially exclude certain files (i.e. index.tsx, styled

[2020-12-04 22:29] karriebear opened #2421 "Create automated testing capabilities to run E2E tests with multiple sessions"
Set up tooling that will enable multiple browser sessions to run the same E2E test concurrently against one server (ideally run against production deployment on Streamlit share)

Possible tooling
1. Browserstack
2. Selenium grid

If running on a deployed instance
1. Parameterize the url to start test at

[2020-12-05 05:24] jroes opened #2423 "Can't click the "Made with Streamlit" link with a smaller-width window"
# Summary

In a small-width desktop window in Chrome, the "Streamlit" link within the "Made with Streamlit" footer does not respond to clicks.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. Visit https://corona-calculator.herokuapp.com (or any other Streamlit app)
1. Open Chrome Inspector
2. Toggle the Device Toolbar (second icon at top left of inspector, looks

[2020-12-05 05:35] jroes opened #2424 "`pip3 install streamlit` fails"
# Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. `xcode-select --install`
1. `/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"`
1. `brew install yarn protobuf graphviz gawk mysql mysql-client unixodbc pipenv`
1. `pip3 install st

[2020-12-05 06:36] jroes commented on #2424
Closing as dupe of #2356

[2020-12-05 06:36] #2424 closed, assigned to nobody

[2020-12-05 14:01] rahulthaker opened #2425 "Module function not working online"
# Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. Go to 'https://share.streamlit.io/rahulthaker/result-analysis/Analysis.py'
2. Click on '....'
3. Scroll down to see the error

## Expected behavior:

When it runs on my localhost offline it gives a pie chart with visuals and othe

[2020-12-05 15:00] nvinayvarma189 commented on #897
Thanks @karriebear for the clarifications regarding caching and file upload.

Regarding the sample code on clearing the file upload programatically, please consider this snippet:

[code]
We have n (lets say 4) different models that we want to test on different images. Each model has been trained on different types of images. Say `model1` on `type1` images, `model2` on `type2` images and so on..

-

[2020-12-06 05:04] jroes commented on #2356
FWIW, the simplest way I found to workaround this problem is to do the following:

[code]

I'm not super familiar with miniconda and anaconda, but my quick read online leads me to believe that `brew install miniconda` would work and be a bit more minimalistic.

[2020-12-06 05:51] sai-krishna-msk commented on #1991
@medecau @noahtren  I'm facing with the same problem did you figure it out, if so kindly let me know

Thank you

[2020-12-07 12:30] nvinayvarma189 commented on #1298
I can confirm this on 0.71.0. I'm yet to try 0.72.0

[2020-12-07 13:55] randyzwitch commented on #2425
Hi @rahulthaker -

I've never used this package, but if I had to guess, I suspect the issue is that Streamlit sharing doesn't provide java by default. If you create a `packages.txt` file and add `default-jdk`, that might resolve the problem.

Best,
Randy

[2020-12-07 17:27] akrolsmir opened #2426 "st.set_page_config(layout="wide") needs more padding"
Add additional padding/margin around ReportView when in Wide Mode.

Dev notes:
- Sadly not as simple as `if widemode, left/right padding = 5rem", for two reasons:
  - ReportView is used by the Sidebar as well, and we don't want to increase padding there
  - On mobile, we presumably don't want to add padding on left and right modes
- Tried using max-width: calc(100% - 10rem) but that still runs afo

[2020-12-07 20:28] #2404 closed, assigned to nobody

[2020-12-07 21:27] kantuni commented on #2155
Unfortunately, we would have to pause on Yarn 2 upgrade for now :disappointed:

I’ve been trying to fix all the issues that came up during the upgrade (there were lots of them), but at this point the upgrade is impossible. There are still some issues that I believe I can fix, but there is one issue that pauses the process until it is resolved. `protobufjs` (pbts) uses `jsdoc`, which uses a thing c

[2020-12-07 22:17] karriebear commented on #897
Thanks for the use case @nvinayvarma189! This does align with some conversations we've had in the past as a model we could apply to Streamlit as a whole. Unfortunately, we have not reached any decisions if this is something we would like to pursue. I've forwarded your use case to our product team for consideration. If this is something we pick up, we'll be sure to update our [roadmap](https://gith

[2020-12-08 00:15] asaini opened #2429 "Only rerun after selecting both dates in `st.date_input`"
# Summary

In `st.date_input`, if the user has configured to return a date range, then selecting the first date triggers a re-run and shows an error as the 2nd date has not yet been selected

# Steps to reproduce

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/streamlit_badge_black_white.svg)](https://issues.streamlitapp.com/?issue=gh-2429)
[code]

## Expected behavior:

Have intel

[2020-12-08 02:36] karriebear opened #2430 "Ensure file uploader works with st.image and st.video"
When developing, noticed that an exception had to be made with UploadedFile in media proto but during PR review testing, this didnt seem to throw an issue. However, testing it now throws an error. To be safe, make sure anywhere we're taking a BytesIO also takes in the returned object. https://github.com/streamlit/streamlit/pull/2013#discussion_r500539640

[2020-12-08 02:49] karriebear opened #2431 "[File uploader] Displayed size of file uploader is not correctly calculated"
Examples:
Actual: 214.9KB
Expected: ~220kb

Actual: 207.8KB
Expected: ~213KB

Actual: 2.3MB
Expected: 2.4MB

[2020-12-08 12:37] yuanjie-ai opened #2432 "suport plotly?"
suport plotly?
![image](https://user-images.githubusercontent.com/20265321/101484788-234b9b80-3995-11eb-928a-a19755bf19ed.png)

[2020-12-08 13:30] randyzwitch commented on #2432
Hi @Jie-Yuan -

Yes, Streamlit supports Plotly.

https://docs.streamlit.io/en/stable/api.html?highlight=plotly#streamlit.plotly_chart

Best,
Randy

[2020-12-08 13:30] #2432 closed, assigned to nobody

[2020-12-08 16:16] navinkrishna-tb commented on #623
The value for x is not printing on terminal using print function.

[2020-12-08 18:01] debparth opened #2434 "Error when deploying streamlit app"
# Summary

Getting the below error when trying to deploy streamlit.

## Expected behavior:

I think it should have been deployed without any issues.

## Actual behavior:

The error is:
![image](https://user-images.githubusercontent.com/53347017/101522035-8577b280-393b-11eb-98b5-37422167f4c3.png)

# Debug info

- Streamlit version: 0.71.0
- Python version: 3.6.9
- Browser version: Edge

# Additiona

[2020-12-08 18:33] #2311 closed, assigned to nobody

[2020-12-08 19:01] nthmost commented on #2394
Thanks @schmidtdominik -- we're aware of this limitation and will try to get it resolved pretty soon!  Thanks for filing the issue.

[2020-12-08 19:04] nthmost commented on #2423
Thanks @jroes -- I was able to repro this one myself.  We'll follow up when we can get to fixing this one.

[2020-12-08 19:08] karriebear commented on #1858
Done as part of #2072

[2020-12-08 19:08] #1858 closed, assigned to nobody

[2020-12-08 19:17] akrolsmir commented on #2431
Vaguely wonder if this is related to the difference between kB (1000 bytes) and KB (1024 bytes)?

214.9KB * 1024/1000 ~= 220kB, so that checks out...

[2020-12-08 19:29] karriebear commented on #2431
That's my best guess but we do call out `export const BYTE_CONVERSION_SIZE = 1024` so not sure where it's not getting converted properly. Need to investigate

[2020-12-08 20:13] tconkling opened #2437 "st.expander crops button outline"
Buttons inside an expander have their red "I was just clicked" glow cropped by the expander.

[code]

<img width="866" alt="Screen Shot 2020-12-08 at 3 07 00 PM" src="https://user-images.githubusercontent.com/709022/101536165-7ea66b00-394e-11eb-8b3d-cf7ddd612d1c.png">

(Looks like this probably the same issue that's reported in #2247 - just needs some CSS margin/padding love, perhaps?)

[2020-12-08 23:49] Amey-D commented on #2434
Hi @debparth !  I could not find your deployed app, so I forked your repo and deployed from the fork at https://share.streamlit.io/amey-d/detr_with_streamlit/main/app.py.

I noticed the app was crashing on Streamlit sharing platform with a segmentation fault (SIGSEGV).  The error disappeared when I upgraded to the latest `opencv-python` version.  In order to get the app working, I also had to incl

[2020-12-09 04:07] polm commented on #2001
Given that pyarrow is only used to support arrow format tables for display, rather than as part of core functionality, is making pyarrow an optional dependency a possibility? I realized that Streamlit doesn't currently have any optional dependencies, but it might be worth considering.

As a user, it would be nice if a lot of the data formats were only used if installed rather than automatically in

[2020-12-09 13:09] debparth commented on #2434
Thank you @Amey-D for your help. Can you tell me how did you find out the error and, when I'm trying your link and uploading an image it throws me back an ModuleNotFoundError and that's my fault that I didn't add one more package in it.

Now, after making those changes it is working perfectly fine except that I'm not able to use GPU when I try to use it. It just gets disconnect and then the same e

[2020-12-09 13:09] #2434 closed, assigned to nobody

[2020-12-09 13:46] limmyforget opened #2445 "st.beta_ Columns Mobile phone chart display"
c1,c2= st.beta_ Columns (2), two charts of plotpy are placed respectively. The browser reduces the width, and the chart can wrap automatically to adapt to the width change, but it can't wrap automatically on the mobile phone, and the chart display also has problems

[2020-12-09 18:32] nthmost commented on #2429
Thanks @asaini , we definitely have some improvements to make around datetimes!

[2020-12-09 18:34] nthmost commented on #2391
Thanks @arturadib !

[2020-12-09 18:34] #2391 closed, assigned to nthmost

[2020-12-09 18:43] mesmith027 opened #2446 "Autoplay option for audio and video"
### Request

When a user uploads an audio file via st.audio(), they then have to hit the play button to hear the audio. While this works in most cases, for interesting applications, like writing an app that takes text-to-speech, it would be reasonable to have the audio file play once automatically.

### Solution

**MVP:** What's the smallest possible solution that would get 80% of the problem out

[2020-12-09 19:12] mesmith027 opened #2447 "Independently scroll columns"
### Request

The `st.columns` feature creates the specified number of columns, when scrolling through the app the columns scroll together, and you cannot look at one column independently from the other. This would be useful when the columns are very long and the information in each column are related.

For example:
If, in one column you had a graph.
In the second, you had some information on that

[2020-12-09 19:20] mesmith027 opened #2448 "No API reference of experimental functions"
**Link to doc page in question (if any):**
https://docs.streamlit.io/en/stable/api.html?highlight=beta_#experimental

**Name of the Streamlit feature whose docs need improvement:**
The entire `st.experimental_` section needs a list of all possible functions that can be used.

**What you think the docs should say:**
In the Documentation, there is no list of the various `st.experimental_function`. T

[2020-12-09 19:38] nvinayvarma189 commented on #897
Thank you @karriebear for forwarding this. Meanwhile I wanted to know if you know of any workarounds that one can use in the mean time this get implemented?

[2020-12-09 20:05] nthmost commented on #2356
Linked:  #2001 #2327

[2020-12-09 20:08] nthmost commented on #2448
Linked:  #2044

[2020-12-09 20:13] Amey-D commented on #2434
I had to look up in the internal logs to figure out the error. We are adding this to the product feature roadmap so that it will be easier for app developers to debug such errors.

It's very likely that your app crashes when it tried to use GPU.

At present we do not support GPUs on the Streamlit sharing platform.

[2020-12-09 20:44] karriebear commented on #897
This is somewhat hacky but you could leverage the [SessionState gist](https://gist.github.com/tvst/036da038ab3e999a64497f42de966a92) and store the previous value of your selectbox into SessionState. Then you could do something like
[code]

This wouldn't clear out the uploaded file that was uploaded but it will prevent your model from running immediately upon a change in the selectbox. You could al

[2020-12-10 02:05] akrolsmir commented on #1894
Possibly related?
[code]
Does not work either, according to @mesmith027 .

[2020-12-10 08:52] Wirg commented on #2395
Hi !

Sorry for the bump. Could you tell me if it's considered as a bug and worth fixing ?
Or is it the normal behavior and I should consider a workaround ?

Thanks

[2020-12-10 09:50] jan-matthis commented on #853
Support for Twitter meta tags would be great:
https://developer.twitter.com/en/docs/twitter-for-websites/cards/guides/getting-started

[2020-12-10 18:07] sorenwacker commented on #1139
Same problem. Even when serving at / I just get a blank page.

[2020-12-10 19:13] sorenwacker commented on #1139
https://discuss.streamlit.io/t/streamlit-0-72-0-behind-nginx-connecting-forever/7913

[2020-12-10 22:42] anchit opened #2450 "ASNQ dataset"
# Summary

The asnq dataset has all labels set to 0

# Steps to reproduce

https://huggingface.co/datasets/viewer/?dataset=asnq

all labels seem to be 0. Something went wrong when uploading this to the hf library?

[code]

(Please provide a code snippet!  This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. G

[2020-12-10 22:42] #2450 closed, assigned to nobody

[2020-12-11 01:02] sorenwacker opened #2451 "Streamlit with nginx and supervisord ignores .streamlit/config.toml"
# Summary

Using streamlit with nginx works, but not when combined with supervisord. I have a config file where the baseurl is configured. When started with supervisord, this file is ignored, even if the username is set correctly in the supervisor config file.

[2020-12-11 11:37] #2154 closed, assigned to asaini, kantuni

[2020-12-11 13:19] profbiyi commented on #455
any update on the ability to do a callback, or update a data frame or chart from a database without running the whole code?

This feature is very important to me as I intent to switch completely away from Power BI

[2020-12-11 14:45] menonpg opened #2454 "JDK for h2o"
### Problem

Unable to use H2o in streamlit sharing

### Solution

Possible solution: install JDK and JRE version compatible with H2o

### Additional context

H2OStartupError: Cannot find Java. Please install the latest JRE from http://www.oracle.com/technetwork/java/javase/downloads/index.html
Traceback:
File "/usr/local/lib/python3.7/site-packages/streamlit/script_runner.py", line 332, in _run_s

[2020-12-11 16:00] randyzwitch commented on #2454
Hi @menonpg -

System-level dependencies for Streamlit sharing can be installed using a `packages.txt` file:

https://docs.streamlit.io/en/stable/deploy_streamlit_app.html#put-your-streamlit-app-on-github

Best,
Randy

[2020-12-11 17:59] SimonBiggs commented on #455
The ability to do this has already been provided within custom components. That's why custom components where built the way they were. So that we could go and solve this problem and others ourselves without needing to rely on the streamlit developers.

Here's an example of a custom component that has made progress in this space:

https://github.com/domoritz/streamlit-vega-lite

[2020-12-11 18:21] akrolsmir commented on #2445
Hi @limmyforget , thanks for posting about this! We know that there are some weird cases with columns layout on mobile. In this case, could you post a code snippet (and maybe screenshot) that shows what you saw?

[2020-12-11 20:21] menonpg commented on #2454
Can you please specify what "specifically" needs to be entered in said "packages.txt" in order to resolve my java dependency?  The page you linked me to doesn't have any examples specific to JDK

[2020-12-11 20:21] #2431 closed, assigned to karriebear

[2020-12-11 20:27] menonpg commented on #2454
I tried adding:
default-jdk
default-jre

... but this doesn't resolve the issue.  Any ideas on what needs to be added to packages.txt to resolve this issue?

[2020-12-11 20:32] menonpg commented on #2454
Still trying; added all fo the following and still get jdk config issues:

ca-certificates-java
default-jdk-headless
openjdk-11-jre-headless:amd64
openjdk-11-jre:amd64
openjdk-11-jdk-headless:amd64
default-jre
default-jdk-headless
openjdk-11-jdk:amd64
default-jdk

openjdk-11-jre-headless set to manually installed.

0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.

7 not fully install

[2020-12-11 21:23] randyzwitch commented on #2454
Hi @menonpg -

I would've expected adding `default-jre` to the `packages.txt` file to have worked, but since it didn't, I will pass this to one of our Sharing engineers. It might be the case that h2o requires Oracle java, which I'm not sure is available from the standard Debian repositories.

Best,
Randy

[2020-12-11 21:24] menonpg commented on #2454
Thank you, Randy.
Best,
Prahlad

On Fri, Dec 11, 2020 at 4:23 PM Randy Zwitch <notifications@github.com>
wrote:

[2020-12-11 22:28] andfanilo commented on #2454
Linking back to a similar issue with running PySpark in Streamlit Sharing which should be solved in the same way as here: https://discuss.streamlit.io/t/run-librairies-relying-on-java-to-work-e-g-pyspark/7342

[2020-12-11 22:35] menonpg commented on #2454
Sure - and this similar issue that you cite is without solution either.
Would you agree or am I missing something?

On Fri, Dec 11, 2020 at 5:29 PM Fanilo Andrianasolo <
notifications@github.com> wrote:

[2020-12-11 23:11] akrolsmir commented on #283
Just got this trying `pip3 install streamlit` on a Big Sur upgraded Macbook:

[code]

[2020-12-11 23:49] nthmost commented on #2394
Linked: #1894

[2020-12-12 10:29] ChrisDelClea opened #2457 "Turn streamlit app into an iOS App"
Hi Folks,

currently I was thinking how difficult it would be to turn a Streamlit app into an iOS app? Since it is already (partly) written in React? With sharing, it would be super amazing if I could push it and it would be automatically published to the App Store without going through the regular release process.

Best regards
Chris

[2020-12-12 13:25] andfanilo commented on #2454
Yep this isn't solved either (though I did not investigate as thoroughly as you did ;) )
I'm linking the issue so we can solve 2 issues in one go!

[2020-12-13 02:43] limmyforget commented on #2445
@akrolsmir  thank you!

import plotly.graph_objects as go
import streamlit as st
c1,c2=st.beta_columns(2)
with c1:
    hist_data = [4, 7, 9]
    group_labels = ['Group 1', 'Group 2', 'Group 3']
    fig =go.Figure(go.Bar(y=hist_data, x=group_labels))
    st.plotly_chart(fig, use_container_width=True)
with c2:
    hist_data = [3, 7, 3]
    group_labels = ['Group 1', 'Group 2', 'Group 3']
    fig =go

[2020-12-13 02:45] limmyforget commented on #2445
![image](https://user-images.githubusercontent.com/61260513/102001724-3a411380-3d30-11eb-8501-28a924de8097.png)

[2020-12-13 06:57] dawaylee opened #2458 "how to make streamlit work properly on Raspberry Pi 4B"
Please tell me how to make streamlit work properly on Raspberry Pi 4B, I have tried, but it always fails to install properly and keeps reporting all kinds of strange errors.

thx lot!

[2020-12-13 07:01] dawaylee opened #2459 "Real-time dynamic update of chart data"
How can I get the various charts in streamlit to dynamically update data in real time, such as the plotly charts, which automatically refresh the charts every 3 or 5 seconds to present the latest data?

Thank you very much!

[2020-12-13 14:02] menonpg commented on #2454
Noted and acknowledged - looking forward to the solution. It is possible that your base container that is spun up requires to be have the JDK install. I have prepared a few lines of code that could go into your original dockerfile that spins up the instance to facilitate this:

### Fix certificate issues
RUN apt-get update -y && \
     apt-get install ca-certificates-java -y && \
     apt-get clea

[2020-12-13 15:15] shipmints opened #2460 "watchdog dependency broken on macOS 10.12"
Please see https://github.com/gorakhargosh/watchdog/issues/732

Via streamlit==0.72.0

[2020-12-13 21:10] ayanava-99 opened #2461 "Can't Cache a Data-frame, Streamlit encountered a pandas.core.frame.DataFrame object which it does not know how to hash."
# Summary
I was trying to train several clf models on  a small data, choose the best metrics based on the recall difference between the two classes.
The below Data-Frame was storing the top 10 model results based on the above criteria , from the metrics of all the models that the data was trained on.

This was the Data Frame which gives this error while caching.

[code]

## Expected behavior:

The

[2020-12-14 09:46] sdblanc commented on #2304
Are there any updates on this? I'm still experiencing this issue..

[2020-12-14 14:15] randyzwitch commented on #2454
We've got an open pull request (internal) to provide a workaround for this, as it appears to be a bug in the Debian image we use to for Streamlit sharing:

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=863199

I can't say for certain, but I would guess we'd be releasing this patch in the next week or so. I will follow-up here when this is patched.

[2020-12-14 14:31] randyzwitch opened #2463 "Support choosing an entire month in date picker"
Ref: https://discuss.streamlit.io/t/month-picker-only/7932

It would be great if you could choose an entire month from the date picker, as shown by the following picture

![image](https://user-images.githubusercontent.com/2762787/102093366-11338800-3def-11eb-9557-f1e84dd8514d.png)

---

Community voting on feature requests enables the Streamlit team to understand which features are most important

[2020-12-14 15:35] menonpg commented on #2454
Great - thanks, Randy. Looking forward to it.
Best,
Prahlad

On Mon, Dec 14, 2020 at 9:15 AM Randy Zwitch <notifications@github.com>
wrote:

[2020-12-14 16:07] randyzwitch commented on #2459
Hi @dawaylee -

Questions about usage are better handled via our community forum, where many people can chime in about the various methods they've tried:

https://discuss.streamlit.io/

Best,
Randy

[2020-12-14 16:07] #2459 closed, assigned to nobody

[2020-12-14 16:08] randyzwitch commented on #2458
Hi @dawaylee, please see this forum thread which discusses how to use Streamlit on Raspberry Pi:

https://discuss.streamlit.io/t/raspberry-pi-streamlit/2900/44?u=randyzwitch

[2020-12-14 16:08] #2458 closed, assigned to nobody

[2020-12-14 17:02] shipmints commented on #2460
Corrected by https://github.com/gorakhargosh/watchdog/pull/733 for an upcoming release.

[2020-12-14 17:02] #2460 closed, assigned to nobody

[2020-12-14 20:13] tvst opened #2465 "Small visual issue: icons not centered in buttons"
# Steps to reproduce

1. Start any Streamlit app that has a sidebar
2. Hover over the hamburger menu. You'll see this:

![Screenshot from 2020-12-14 11-21-30](https://user-images.githubusercontent.com/690814/102125679-e7825d00-3dfe-11eb-9975-1f974f552275.png)

3. Hover over the sidebar expand/collapse button. You'll see this:

![Screenshot from 2020-12-14 11-21-08](https://user-images.githubuserco

[2020-12-15 11:50] chakra-ai commented on #912
Do we have this upload multiple files functionality available in the current release of streamlit.?

[2020-12-15 17:55] kmcgrady opened #2468 "Sidebar design is off in latest release 0.72"
# Summary

Extra padding is added on sidebar unintentionally

See https://discuss.streamlit.io/t/sidebar-minor-design-is-little-off/7994

# Steps to reproduce

See Sidebar in https://share.streamlit.io/streamlit/release-demos/0.72/0.72/streamlit_app.py vs
https://share.streamlit.io/streamlit/release-demos/0.71/0.71/streamlit_app.py

## Expected behavior:

There should be less padding

## Actual be

[2020-12-15 18:43] karriebear opened #2469 "Add meta description as a page configuration"
Allow users to provide a meta description. We could add this as an option for `st.set_page_config(description="")`

---

Community voting on feature requests enables the Streamlit team to understand which features are most important to our users.

**If you'd like the Streamlit team to prioritize this feature request, please use the 👍 (thumbs up emoji) reaction in response to the initial post.**

[2020-12-16 00:56] mmcguffi commented on #2311
I think this is the best thread to leave this -- I am encountering this error when using the `file_uploader` in combination with `st.radio()`, and `uploaded_file.seek(0)` does not solve the problem. Ill admit, I honestly do not understand what `seek(0)` is fundamentally doing, so maybe I am missing something obvious. Here is a minimal reproducible example:

[code]
streamlit 0.71.0 and 0.72.0

When

[2020-12-16 05:31] karriebear commented on #2311
Thanks for sending this along. The fix was recently merged and will be available in version 0.73 that will be coming out this week. If you would like to get the latest, you can use our [`streamlit-nightly` package](https://pypi.org/project/streamlit-nightly/) that is updated with the latest changes every day.

[2020-12-16 06:00] commodus-sebastien commented on #1083
Thanks for the info @walterwang . The content moved to this place: https://gist.github.com/okld/0aba4869ba6fdc8d49132e6974e2e662

So thank you @okld by the way!

[2020-12-16 17:38] mmcguffi commented on #2337
This morning I upgraded to the latest `streamlit-nightly` to squash [this bug](https://github.com/streamlit/streamlit/issues/2311#issuecomment-745774600) (and that did indeed work), but I am still encountering this double Bokeh plot issue with the current nightly dev package. I would really appreciate it if this could be addressed in 0.73.0, or as soon as y'all can, as this currently breaks my app

[2020-12-16 17:45] akrolsmir commented on #2469
Ah, interesting. From a product side, there might be something clever we can do in general to automatically generate a default meta description based on e.g. the headings and titles the user uses, to improve SEO on all Streamlit apps.

[2020-12-16 17:49] akrolsmir commented on #2468
Linking #2426 , since I had been glancing at sidebar padding on that issue too

[2020-12-16 18:06] tvst commented on #2465
Closing as 0.72 seems to fix this.

[2020-12-16 18:06] #2465 closed, assigned to nobody

[2020-12-16 22:27] #2356 closed, assigned to nobody

[2020-12-16 23:08] dalmia opened #2471 "Columns randomly stop working"
# Summary

Hi everyone. I have been using `st.beta_columns` since it was introduced. However, I have been consistently facing a random issue that sometimes the first column takes up the entire width while the subsequent columns work as expected. This leads to any image in the first column taking up the entire width and the images in the other column drawn on top of it. I don't have a picture right

[2020-12-17 05:27] akrolsmir commented on #2471
Hi @dalmia , thanks for reporting this. Please do provide that screenshot when you see it happen again! And the other thing that would be really really useful would be a code snippet that you were using to generate columns, so we can try to replicate it as well.

[2020-12-17 05:29] akrolsmir commented on #2321
(Anecdotally -- my friend @mzjliu playing with Streamlit complained about this exact same issue)

[2020-12-17 08:10] xSumner opened #2473 "How about a documentation of Chinese version?"
Hi, there! 🌞
I have been noticed this project since last October (the Version 0.47.0), after that I wrote several articles to introduce it on my wechat blog in Chinse. Some of my collegues shared their interest about it, so I also translated the API reference for them.
Nowadays, I wonder if I can contribute those Chinese documents back to this project. The latest Chinese version I have correspond

[2020-12-17 14:59] randyzwitch commented on #2473
Hi @xSumner, this sounds like a fantastic contribution! We use the enterprise version of ReadtheDocs, which provides the ability to have different language versions of documentation.

If this is something you are willing to take on _and_ maintain, we'd love to work with you to get this done. I think the starting place is here:

https://docs.readthedocs.io/en/stable/guides/manage-translations.html

[2020-12-17 18:09] akrolsmir commented on #2473
Just chiming in -- would love love love to see your Chinese translation on our docs page, to make Streamlit more widely accessible 😄 If there's anything we can do to help you (e.g. if you'd like some help with the technical implementation), let us know.

Also, if your 0.49.0 docs are already written, is there a link somewhere we can post to?

[2020-12-17 20:52] randyzwitch opened #2479 "Add conda build instructions for Streamlit sharing"
Streamlit sharing supports installation from conda, as evidenced by the following example: https://github.com/randyzwitch/test-conda

Add example to Sharing docs to highlight that requirements.txt or conda.txt would work.

ref: https://discuss.streamlit.io/t/can-i-add-conda-package-in-requirements-txt/8062

[2020-12-17 22:13] randyzwitch commented on #2454
Hi @menonpg -

The fix went out in today's deployment, and appears to work for me:

![image](https://user-images.githubusercontent.com/2762787/102549955-039a2e80-408b-11eb-8df3-bf5e157aa739.png)

Please see the following repo for the  solution, and if this works for you (you might need to delete your app and re-deploy), please close this issue

https://github.com/randyzwitch/test-java

Best,
Randy

[2020-12-17 22:29] #283 closed

[2020-12-17 22:32] menonpg commented on #2454
Thank you, Randy.  I was able to get the app to start but when it was actually loading the h2o model to run inference, it gives a new error:
PermissionError: [Errno 13] Permission denied: '/home/appuser/.jdk/jdk-11.0.9.1+1/legal/jdk.rmic/LICENSE'
Traceback:
File "/usr/local/lib/python3.7/site-packages/streamlit/script_runner.py", line 332, in _run_script
    exec(code, module.__dict__)
File "/app/

[2020-12-17 22:37] menonpg commented on #2454
I will add that if I remove the packages.txt file I had with the jre install listed, it gives me the JRE missing error again:
H2OStartupError: Cannot find Java. Please install the latest JRE from http://www.oracle.com/technetwork/java/javase/downloads/index.html
Traceback:
File "/usr/local/lib/python3.7/site-packages/streamlit/script_runner.py", line 332, in _run_script
    exec(code, module.__dic

[2020-12-18 01:16] randyzwitch commented on #2454
You still need to have the `packages.txt` file; we didn't add java to everyone's image, we patched the Debian bug that prevents it from loading.

Is this model something you can share? Not sure how I'd debug the model error, since I don't really use h2o.

[2020-12-18 03:39] #1894 closed, assigned to nobody

[2020-12-18 07:35] dipam7 commented on #1019
Is anyone working on this?

[2020-12-18 12:42] anitaokoh commented on #1347
I tried embedding Tableau. It displayed but it was not interactive and I got the error below. How do I set Access control headers for streamlit?
<img width="895" alt="Screen Shot 2020-12-18 at 1 41 03 PM" src="https://user-images.githubusercontent.com/12241062/102615842-ddca6380-4136-11eb-9255-c0e1ae52a38f.png">

[2020-12-18 13:34] PablocFonseca commented on #455
[https://github.com/PablocFonseca/streamlit-aggrid](https://github.com/PablocFonseca/streamlit-aggrid)

I implemented ag-grid for as a streamlit component. It's usable, but far from producion code.

after editing a value on the grid, it returns an updated dataframe.

[2020-12-18 15:43] sshah90 commented on #2208
Hi, getting the same error in `streamlit==0.73.0`.

Dockerfile

[code]

I wasn't getting any error with `streamlit==0.70.0`.

[2020-12-18 16:39] karriebear opened #2481 "Create a CircleCI job to test streamlit without any dependencies"
Create a job testing `streamlit hello` in an environment with no non-pip dependencies installed (i.e. watchdog, git)

[2020-12-18 18:32] akrolsmir opened #2483 "st.video() should take in a youtube link"

[2020-12-18 19:20] ddutt opened #2485 "Graphviz chart display broken with Containers"
# Summary

Trying to display two graphviz charts side by side via st.beta_columns results in only the last chart being displayed. This happens with the latest streamlit version as of now, which is 0.72. @randyzwitch confirmed that he could reproduce this bug.

# Steps to reproduce

[code]

[2020-12-18 20:25] karriebear commented on #2408
Currently there is no established framework to update widget state from server side to client side. While we can brute force, this may be something that state will be addressing. Postponing till state is out.

Initial work available on `karriebear:clear-files-on-cache-clear`

[2020-12-18 20:42] karriebear commented on #219
Looks like this was fixed somewhere between 0.72 and 0.73, potentially from the baseweb upgrade. Closing.

[2020-12-18 20:42] #219 closed

[2020-12-19 03:49] akrolsmir commented on #2483
Happily, this already works!

[2020-12-19 03:49] #2483 closed, assigned to nobody

[2020-12-19 17:45] menonpg commented on #2454
Hi Randy,

The new error comes up right after a CSV file uploads and the CSV is passed
into an h2o model for inference. It appears to fail when the following line
comes up.
 model = h2o.load_model(model_name)

For a sample model, try the path to the following file instead of
model_name:
https://github.com/menonpg/PTRMS_app/blob/main/models/BOF_01_Dec2_2020

Best,
Prahlad

On Thu, Dec 17, 2020 at 8

[2020-12-21 07:02] Dineshkumar536 opened #2491 "my streamlit web page showing please wait not loading what to do?"
# Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

# Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet!  This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

## Expected behavior:

Explain wh

[2020-12-21 12:12] dalmia commented on #2471
Hi @akrolsmir. Please find the screenshots and code below!

## Screenshots

<img width="1153" alt="Screenshot 2020-12-21 at 5 41 19 PM" src="https://user-images.githubusercontent.com/13185699/102775967-ed0a1500-43b3-11eb-865c-e0edb44a9f29.png">

Upon reloading, it becomes correct!

<img width="1155" alt="Screenshot 2020-12-21 at 5 43 21 PM" src="https://user-images.githubusercontent.com/13185699/1

[2020-12-21 14:41] treuille opened #2493 "st.number_input doesn't accept reasonable int arguments"
# Summary

Using `st.number_input` in a very reasonable way:

[code]

causes an exception to be thrown

[code]

## Expected behavior:

This should "just work," in the sense that it should create a number input that accepts `int`s between 0 and 10, with an initial default value of 0.

## Actual behavior:

You get the exception above. You can "trick" Streamlit into providing the right behavior by fo

[2020-12-21 17:16] mesmith027 opened #2495 "eye button from text_input using password not working on Firefox"
# Summary

The eye button that hides or shows the typed password on st.text_input is not working when viewed in Mozilla Firefox.
When you try to press the eye button it does not work (just doesn’t to anything) I also notice that it is outside the grey square for the typing box, and this is not the case for other browsers.

# Steps to reproduce

Code snippet:

[code]

## Expected behavior:

We woul

[2020-12-21 17:28] nthmost commented on #2493
Thanks @treuille , that looks like behaviour we can definitely improve.

[2020-12-21 17:32] nthmost commented on #2457
Hi @ChrisChross , Thanks for the interesting suggestion!  At this moment in streamlit product history we're definitely at the point of considering the mobile experience a lot more carefully than we were previously.  I'm adding this story to the pile of associated mobile stories.  Cheers!

[2020-12-21 17:34] ChrisDelClea commented on #2457
Thank you! :)

[2020-12-21 17:53] nthmost opened #2497 "Possible memory leak: passing int(None) to st.slider step value will crash streamlit"
# Summary

_Cells in the forum writes:_

[code]

The preceeding code results in my chrome returning an Out of Memory error code.

[code]

No console error is logged. However, if I change the st.number_input to provide a default value for the input_step, like so:

[code]

This code produces the desired result. Digging into the slider.py file, it seems like st.slider should be able to handle a None

[2020-12-21 18:00] #1626 closed, assigned to nobody

[2020-12-21 21:16] #2337 closed, assigned to nobody

[2020-12-21 23:31] karriebear commented on #2208
@sshah90 Thanks for reporting this! 🙏  We just released version 0.73.1 that should address this.

[2020-12-22 02:54] #2493 closed, assigned to nobody

[2020-12-22 10:10] phhcer opened #2508 "Can I get the cookie of the guest?"
I want to get the cookie like below to complete the authorization. Is there any plan to do this?
<img width="1043" alt="image" src="https://user-images.githubusercontent.com/38745926/102876939-eac1bc80-4480-11eb-998a-ce82dd523323.png">

[2020-12-22 10:38] wjaskowski opened #2509 "Improve error message [was: Cannot hash a function with `sys.stderr` in the body]"
# Summary

When a function has `print('sth', file=sys.stderr)` in the body I get:
[code]

# Steps to reproduce

Code snippet:
[code]

# Debug info

- Streamlit, version 0.73.1
- Python 3.7.9
- Linux roo 5.8.0-33-generic #36-Ubuntu SMP Wed Dec 9 09:14:40 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

[2020-12-22 12:55] METAVar commented on #1686
Even I am facing the same issue whenever I change the selection file loads as None.
I am on Streamlit, version 0.68.0

[2020-12-22 15:31] EcosystemEnergy commented on #2349
I use streamlit version 0.73 deployed on a server Ubuntu 16.04 LTS.
Screencast from the loca serverl machine using Firefox works perfect.

When I access the tool with my local machine and try to record a screencast I get:
"""
Due to limitations with some browsers, this feature is only supported on recent desktop versions of Chrome, Firefox, and Edge
"""
I tried Chrome, Firefox and Edge from my loc

[2020-12-22 15:34] Agrover112 commented on #2349
I think folks at Streamlit are aware of this issue.
But I find it wierd why there is such behavior

[2020-12-22 16:49] karriebear commented on #1686
Hi @METAVar, this issue should be fixed in subsequent versions. Could you try upgrading to latest (0.73.1) and see if this solves your issue?

[2020-12-22 17:17] akrolsmir opened #2510 "Split up proto/streamlit/proto so it's not all one giant flat folder"
**What could be better?**

We could have e.g. at least a separate subfolder for elements. Maybe even a further breakdown of widgets/elements.

[2020-12-22 18:57] nthmost commented on #2510
Given how many "infra" tickets we've been throwing in the hopper and how few of them (%-wise) we actually decide to do, I think it'd be smart to start adding labels so we can more easily batch work.

I'll kick it off here by adding "protobuf".

[2020-12-22 18:58] nthmost commented on #2481
Let's start adding labels to the infra tickets so we can potentially work-batch them -- How's "testing" for this one?

[2020-12-22 18:59] nthmost commented on #2463
Thanks @randyzwitch -- maybe we can batch this one with other date-picker improvements in the near future.

[2020-12-22 20:58] #2321 closed, assigned to kantuni

[2020-12-22 21:10] #2430 closed, assigned to nobody

[2020-12-22 22:16] #2497 closed, assigned to nobody

[2020-12-23 02:44] akrolsmir opened #2514 "set_page_config page icons do not work in Safari"
Some testing by @asaini:

![](https://i.imgur.com/Ky4k8Lp.png)

I could repro by visiting a simple app with a page config (e.g. https://share.streamlit.io/akrolsmir/streamlit-snippet/main) on both Chrome and Safari on MacOSX.

We probably need to set `<link rel="apple-touch-icon" href=...>` in addition to `<link rel="icon" ...`

[2020-12-23 03:01] akrolsmir commented on #2514
One more interesting note -- Notion actually doesn't support Safari favicons either! They actually embed the favicon as a text emoji inside the page title, specifically on the Safari browser. Not sure why.
[code]
and then their favicons look like:
[code]

[2020-12-23 03:31] akrolsmir commented on #2394
Fixed by #2480 !

[2020-12-23 03:31] #2394 closed, assigned to nthmost

[2020-12-23 04:21] nthmost commented on #2508
Hi @phhcer -- While we don't currently have plans to specifically expose cookies through Streamlit, that's not to say we wouldn't ever do it!  It would help us out a lot to understand more your use case(s).

Can you write a bit more about what you're trying to accomplish?  Thanks!

[2020-12-23 04:40] tylerjrichards commented on #1294
hey @kmcgrady, i'm having this issue on Streamlit Share with my books app (https://share.streamlit.io/tylerjrichards/book_reco/books.py)
I've tried switching over to the newest Streamlit release (0.73), I have '_lock = RendererAgg.lock
' in my code already, and I always use st.pyplot() with an explicit figure, but I keep getting a broken image and the 'MediaFileManager: Missing file' error.

this

[2020-12-23 10:32] dalmia commented on #2471
Found something similar happening with `st.markdown` with columns as well and not just the plots!
<img width="850" alt="Screenshot 2020-12-23 at 4 01 14 PM" src="https://user-images.githubusercontent.com/13185699/102987375-35ead680-4538-11eb-8f2e-820e974a3611.png">

[2020-12-23 11:29] claesnn opened #2515 "Show widgets side by side with fixed width"
### Problem

Currently when you have to have an inline widget layout (e.g. two buttons side-by-side) you have to use st.beta_columns, however, these use relative widths. To set them up inline then requires a fiddling with relative ratios to get nice looking margins and it will never look decent across multiple different viewpoints.

### Solution

**MVP:** Make it possible to use inline as an optio

[2020-12-23 17:06] mechatronics-studio commented on #2514
I've also noticed this bug, I'd love a fix!

[2020-12-23 19:04] #2305 closed, assigned to nobody

[2020-12-24 00:54] kmcgrady commented on #1294
@tylerjrichards I'll take a look and see if I can figure out the problem. It will be a couple weeks due to the holidays. I'll put something on my calendar in my new year to follow up.

[2020-12-24 02:16] asaini opened #2516 "'Press Enter to apply' overlaps in Widget"
# Summary

In the `number_input` widget, the Press Enter to apply message overlaps with the +, - buttons.

# Steps to reproduce

Code snippet:

[code]

1. Go to your app
2. Click on number input space and hit backspace
3. On the right the `Press Enter to apply` message appears

## Actual behavior:

<img width="731" alt="Screen Shot 2020-12-23 at 6 10 24 PM" src="https://user-images.githubuserconte

[2020-12-24 09:43] elephantum opened #2517 "Streamlit removes _xsrf cookie even with 'server.enableXsrfProtection=False'"
# Summary

Our primary use case for streamlit is to run ad-hoc scripts from JupyterHub container. In order to access streamlit tool we're using jupyter-server-proxy. I.e. streamlit app accessed through URL like "{jupyterhub-host-port}/{jupyter-url}/proxy/8501/"

We configure streamlit to disable xsrf and cors protection.

Streamlit is removing `_xsrf` cookie in its JS code, which breaks JupyterLab

[2020-12-24 09:49] #2359 closed, assigned to nobody

[2020-12-24 09:50] akrolsmir commented on #18
Fixed by Tim!

[2020-12-24 09:50] #18 closed

[2020-12-25 11:25] shubhamsharma15 opened #2520 "There's an error like Streamlit encountered an object of type `builtins.function`"
While caching the body of `load_data()`, Streamlit encountered an
object of type `builtins.function`, which it does not know how to hash

[2020-12-25 13:05] AndreyGurevich commented on #160
@Wirg, is it compatible with pandas.apply inside streamlit?

[2020-12-25 15:46] abitrolly opened #2521 "Tweets in Gallery?"
Looks like there is some invasive user tracker active on Gallery pages. https://www.streamlit.io/gallery

![image](https://user-images.githubusercontent.com/8781107/103138206-3d011880-46e1-11eb-8b57-0cf4a0e9b814.png)

Why is it needed?

[2020-12-26 21:12] shivajigit commented on #2251
You need higher version of streamlit

try with

pip install streamlit==0.69

[2020-12-28 16:18] aastha12 opened #2531 "Streamlit App not deploying on Heroku"
# Summary

I am trying to deploy a ML model using Streamlit and Pycaret on Heroku for the first time.

When I try deploying the app, I get the following error: ModuleNotFoundError: No module named 'pycaret.internal'

# Traceback:

[code]

# Final.py:
[code]

## Expected behavior:

The app should be deployed on Heroku as it works fine on local computer.
![image](https://user-images.githubuserconten

[2020-12-28 17:24] jroes commented on #2531
I was able to reproduce this, here's the Heroku build output, in case it helps:

https://gist.github.com/jroes/a0c0d2ed7f5fed8efb53eae0bd17ca33

I also tried using the latest version of Streamlit, but couldn't deploy due to slug size:

https://gist.github.com/jroes/97994971cad86a50f80e32c4494c9610

[2020-12-28 19:35] #2495 closed, assigned to kantuni

[2020-12-28 20:15] akrolsmir commented on #2531
Hm, haven't tried to repro this yet. But when you run it locally, are you using the same version of PyCaret as the one you deploy with (==1.0.0)? Of the top of my head, maybe PyCaret.classification only became available with 2.2, which is what you had locally.

(I'm not familiar with the library at all and may be totally off base :P)

[2020-12-28 20:38] aastha12 commented on #2531
The streamlit version is 0.73.1 and pycaret version is 2.2.0 (the versions I used to run the app locally). I thought so too but when I put pycaret 2.2.0 in the requirements.txt file then the slug size is too big for Heroku deployment

[2020-12-28 23:39] tvst opened #2533 "Regression: slider label only shows on hover"
# Steps to reproduce

1. Go to https://share.streamlit.io/tvst/trivial-streamlit-app
2. Look at the slider!

Expected: slider thumb always has a label above it
Actual: slider thumb only has label when you hover over it

See screencast:
https://user-images.githubusercontent.com/690814/103249189-e71bb300-4922-11eb-857f-d91b5b8d7956.mp4

## Is this a regression?

yes

# Debug info

- Streamlit versio

[2020-12-29 17:30] israelfigueiridoarnoso commented on #1799
Same. We need alignment features!

[2020-12-29 20:59] scottstanie opened #2537 "self driving demo web app is broken"
# Summary

https://share.streamlit.io/streamlit/demo-self-driving
It looks like the link in the README to the self driving app isn't working:

<img width="818" alt="image" src="https://user-images.githubusercontent.com/8291800/103313604-31199d00-49e6-11eb-913b-69b5dc486f14.png">

# Steps to reproduce

Go to https://share.streamlit.io/streamlit/demo-self-driving in Firefox.

## Expected behavior:

[2020-12-29 21:59] jroes opened #2538 "Feature request: Homebrew formula for installing Streamlit"
### Problem

Folks have trouble installing Streamlit sometimes due to various dependencies.

### Solution

**MVP:** What's the smallest possible solution that would get 80% of the problem out of the way?

What if we built a Homebrew tap, like Hashicorp does for some of its projects:

![Screen Shot 2020-12-29 at 4 56 16 PM](https://user-images.githubusercontent.com/27847/103316505-c58bfb80-49f6-11e

[2021-01-02 10:46] WavyV opened #2543 "Disable dataframe horizontal scrollbar"
# Summary
When using `streamlit.dataframe` to show an interactive dataframe table, the horizontal scrollbar is always enabled. To show the last digits in the right most column, you always need to scroll. The `width` parameter of the dataframe only works to decrease the standard width - increase does not work.

# Steps to reproduce
Simple code to reproduce:
[code]

## Behavior
Screenshot of current

[2021-01-02 17:29] arky commented on #834
@tconkling  Any updates on this nifty feature?

[2021-01-03 03:28] dalmia commented on #2471
Any updates on this or any idea why this might be happening? We have a dashboard built on streamlit that is used a lot throughout our company and hence, this issue is very important to us!

[2021-01-04 02:03] MemphisMeng opened #2544 "ModuleNotFoundError: No module named 'streamlit.components'"
I was trying to do ```import streamlit.components.v1 as components``` but it doesn't seem to work. Its warning is shown in the title. I guess it should be a matter of my version. The current version I am using is 0.73.1. Which version should I use?

[2021-01-04 02:39] mzeidhassan commented on #1032
@tconkling Any update on this?
Right now, when my app loses connection to the remote API, I get a connection error which displays the full API URL. Is there a way to hide it?

The error I am getting looks like this one here
https://discuss.streamlit.io/t/connectionerror-with-flask-server/5525/2

[2021-01-04 02:40] failable commented on #1023
Same issue with

- Streamlit, version 0.73.1
- Firefox 84.0 (64-bit) on Ubuntu

I'm not sure why this issue is closed.

[2021-01-04 08:01] #2418 closed, assigned to nobody

[2021-01-04 11:12] nthmost commented on #2516
@kmcgrady Any chance you have an easy answer for this one, Ken?   (If not we'll just tackle it as per normal in bug rotation.)

[2021-01-04 11:15] nthmost commented on #2517
Ah, interesting, @elephantum.  I'll have to take this one to Product to discuss whether there are implications for changing this.  Thank you for sharing this use case, regardless!

(Also, apologies for the long delay in response while most of us were off for the holidays!)

[2021-01-04 11:17] nthmost commented on #2517
@asaini Tagging you to see if a discussion is needed before handling this as a regular bug.

[2021-01-04 11:19] nthmost commented on #2520
Hi @shubhamsharma15 ,

Could you share with us the body of the function you were trying to cache?  Otherwise it's hard to guess what's going on under the hood there.

Thanks!

[2021-01-04 11:27] nthmost commented on #2537
Eek!  Thanks @scottstanie , looking into it.

[2021-01-04 11:32] nthmost commented on #2543
Thanks @WavyV -- I agree this is a little bit of a janky experience.

I'm tagging it "enhancement" since this isn't technically a regression (it's always worked like this), but leaving your "bug" label since it's definitely annoying.  :)

[2021-01-04 11:36] nthmost commented on #2544
Hi @MemphisMeng ,

I just tried to reproduce the problem for myself (I have 0.73.1 installed on OS X Big Sur / Python 3.9) and could not reproduce the error.

Could you post any more supporting information, e.g. a screenshot of any errors you're seeing?

My hunch is that your virtual environment (if you are using one) has become corrupted.

[2021-01-04 12:04] nthmost commented on #2544
Can you tell me which version of Python you're on?

(I'm guessing it's 3.9...)

We recently had to deploy a workaround for PyArrow not yet supporting Python 3.9 by restricting components to only work on 3.8 and prior versions of Python.  It's a regrettable situation but one we're hoping resolves soon.  The workaround for you would be to develop on a previous version of Python (like 3.8)...

With a

[2021-01-04 13:48] randyzwitch commented on #2537
Fixed by https://github.com/streamlit/demo-self-driving/pull/21

[2021-01-04 13:48] #2537 closed, assigned to nobody

[2021-01-04 14:23] randyzwitch commented on #2538
It feels like this has the potential of making our lives very difficult, as homebrew essentially makes a global install, rather than doing a virtual environment as we recommend. If the recipe were to install _just_ the dependencies, it'd probably be okay, but given that we support conda and Arrow should be supported in 3.9 soon, this feels like a net negative in terms of community support.

[2021-01-04 14:25] randyzwitch commented on #2521
Hi @abitrolly -

AFAIK, we're using the Twitter embed API, so it's less of Streamlit wanting to track your behavior than Twitter having it included in their embed code. Which is unfortunate, but not sure what we could do about it.

Best,
Randy

[2021-01-04 14:27] randyzwitch commented on #2509
Hi @wjaskowski -

Can you elaborate what use case you are trying for here? In terms of hashing, writing to stderr is a side-effect, which means that your function won't be able to be cached since it modifies the global state. So depending on what you are trying to do, there might be a workaround, but I don't believe this is a Streamlit bug.

Best,
Randy

[2021-01-04 14:29] randyzwitch commented on #2491
Hi @Dineshkumar536 -

This appears to be a blank issue, so I'm going to close it. If this is still an issue, please open a thread at our community forum with a code snippet and we'll be happy to help.

https://discuss.streamlit.io

Best,
Randy

[2021-01-04 14:29] #2491 closed, assigned to nobody

[2021-01-04 14:50] abitrolly commented on #2521
Why use tweets for the gallery in the first place?

[2021-01-04 14:55] randyzwitch commented on #2521
Because it highlights projects/discussions that have happened in the community.

[2021-01-04 15:01] abitrolly commented on #2521
What is the size of that Twitter community compared to whole community of Steamlit users?

[2021-01-04 15:06] randyzwitch commented on #2521
There's no way to tell.

[2021-01-04 15:08] #2521 closed, assigned to nobody

[2021-01-04 15:08] abitrolly commented on #2521
Steamlit looks like a type of project capable of eating its own dogfood to rendering the gallery with its own widgets rather than borrowing them from Twitter. :D I am thinking of plugin for a site generator if https://steamlit.io is using one. Of course I would expect an example of properly embedding dynamic data app into my website from such platform.

[2021-01-04 15:11] randyzwitch commented on #2521
I think you're misunderstanding what this functionality is. If you want to provide Twitter content within a webpage, then you use this functionality:

https://help.twitter.com/en/using-twitter/how-to-embed-a-tweet
https://publish.twitter.com/

That Twitter doesn't provide a workaround for people using adblockers is their issue, not one that's an issue whether Streamlit _could_ manage these as pict

[2021-01-04 15:46] abitrolly commented on #2521
@randyzwitch no I think you've misunderstood. I don't want Twitter content on the Gallery page, and neither I want to you to provide one. What I want is to see a Steamlit demo gallery.

[2021-01-04 15:51] wjaskowski commented on #2509
This is fine. I understand - I cannot hash anything with side-effects. I just had some error logging inside the function. Sure, I could refactor that to move the logging outside it. However, I raised this issue since: 1) The error message was not clear to me and I struggled to understand that the sys.stderr is to blame. 2) The error message itself explicitly stated that this might be a bug in stre

[2021-01-04 15:57] randyzwitch commented on #2509
Thanks for clarifying @wjaskowski! I'll leave this open as an enhancement to improve the error message.

[2021-01-04 17:23] Wirg commented on #2395
Hi & Happy new year ! :)

Another bump to understand if it's considered as a bug and worth fixing ?
Or is it the normal behavior and I should consider a workaround ?

Thanks

[2021-01-04 17:46] karriebear commented on #834
As of 0.73, we've addressed the `allow-same-origin` which allows you to make a webcam component for Streamlit. Here's an [example implementation](https://discuss.streamlit.io/t/webcam-html-component/6366).

[2021-01-04 18:45] akrolsmir commented on #2533
Context from Abhi and Henrikh: This was probably broken by the BaseWeb upgrade

[2021-01-04 20:39] mariusgarbowski commented on #1667
The combination of concatenations does not work neither:

does not work:
    chart = alt.vconcat(
        alt.hconcat(linebuy, linerent, linefactor),
        alt.hconcat(barbuy, barrent, barfactor),
        center=True
    )

works:
     chart = alt.vconcat(linebuy, linerent, linefactor)

works:
     chart = alt.hconcat(linebuy, linerent, linefactor)

[2021-01-04 21:52] asaini commented on #1032
cc: @astrojams1 to bring to his attention

[2021-01-04 22:26] niccolosanarico opened #2547 "NotImplementedError: Dtype period[Q-DEC] not understood."
# Summary

I am trying to print (using st.write) a dataframe with a column containing a pd.PeriodIndex showing year and quarter, but Streamlit returns the error above.

# Steps to reproduce

Code snippet:

[code]

## Expected behavior:

I expect Streamlit to print a table with the dataframe, including a column "quarters" with values "2018Q1":

id|date| quarters
--|------------|---------
0 |2018-01

[2021-01-04 23:48] nthmost commented on #2517
Hey @elephantum -- we're interested in this issue but it's hard for us to reproduce since we haven't worked in JupyterHub to date (yours is the first request I know of).  We're hoping you could provide a step-by-step guide to reproducing the issue so we can get set up more quickly to get our hands dirty in this use case.

I don't know how complex of an ask that is, but I do know it's unlikely we c

[2021-01-05 13:36] kantuni commented on #956
This project has been stalled for a while, but I've resumed working on it recently.

[2021-01-05 15:34] elephantum commented on #2517
@nthmost reproducing is a bit tricky, but I think I found the easiest way:

I prepared a repo: https://github.com/elephantum/streamlit-issue-2571 (it setups all the dependencies to reproduce the issue)

1. Navigate to https://mybinder.org/ enter https://github.com/elephantum/streamlit-issue-2571 as github URL, press Launch
1. Navigate to binder provided URL which looks like https://notebooks.gesis

[2021-01-05 15:37] elephantum commented on #2517
https://user-images.githubusercontent.com/71321/103665932-0d75ca00-4f85-11eb-8c65-f1a67e7ac53f.mp4

Please find screencast attached

[2021-01-05 15:44] elephantum commented on #2517
Also, _xsrf removal can be reproduced locally with access to jupyter via `localhost`, but in this case jupyter does not check for _xsrf so saving works.

[2021-01-05 18:58] #2468 closed, assigned to nobody

[2021-01-05 20:03] CFrez commented on #1140
This would also be useful to have for labels inside of widgets. This is a screen shot of my use case, with the code, showing what should be if it was done in just text, vs it not rendering within the widget.

[code]

<img width="746" alt="st(latex)" src="https://user-images.githubusercontent.com/30352852/103687810-80b41780-4f56-11eb-890a-59a3f64bd0d8.png">

Out of curiosity I just looked at the si

[2021-01-05 20:45] ostrokach opened #2554 "st.markdown("...", unsafe_allow_html=True) converts html elements to lowercase"
# Summary

Using `st.markdown("...", unsafe_allow_html=True)` to write raw HTML results in HTML output where all elements and attributes are set to lowercase. This is an issue when writing SVG documents, and probably in other scenarios as well.

# Steps to reproduce

Code snippet:

[code]

## Expected behavior:

I would expect the rendered HTML page go contain `<svg><clipPath></clipPath></svg>`.

[2021-01-05 21:00] okld opened #2555 "Set trigger values for custom button components"
### Problem

As far as I know, it is not possible to set a one-time value using JavaScript Component API.
The only method available is `Streamlit.setComponentValue()`.

Thus, it is not possible to implement custom buttons easily.

### Solution

In native widgets, setting a one-time value is done with [setTriggerValue](https://github.com/streamlit/streamlit/blob/f8925d4524399e069d09c3d9da841c4a219a

[2021-01-05 21:24] CFrez opened #2556 "Latex Array - vertical divider displays incorrectly"
# Summary

When using the array inside latex, if a vertical divider is added it looks like a censor bar. The same error occurs in all three locations, left, right and between.

# Steps to reproduce

columns used for purpose of smaller screenshot.

Code snippet:

[code]

## Expected behavior:
![st-array-expected](https://user-images.githubusercontent.com/30352852/103700197-c0382f00-4f69-11eb-85ed-3

[2021-01-05 21:24] okld opened #2557 "Update custom components' props in a single script run"
### Problem

It is not possible to update a component's props in a single script run:

[code]

### Solution

The behavior described above works as intended.
However it would be great to have a way to update an already instanciated component's props in a single script run.
A little bit like how you'd use `st.empty()` twice or more to update a streamlit widget.

---

Community voting on feature requ

[2021-01-06 00:21] #2059 closed, assigned to nobody

[2021-01-06 00:52] tconkling commented on #834
@arky: I've also just published a simple webcam widget here: https://github.com/tconkling/streamlit-webcam

[2021-01-06 02:51] kmcgrady commented on #1294
Hey @tylerjrichards Just want to follow up. I spent some time today investigating it. I am reasonably confident on the problem and can reproduce it. In essence:

* One specific process is running Streamlit and images (from pyplot in this case) are generated and stored in memory for that process.
* Streamlit Share has multiple processes and a system designed to have messages/requests target the sam

[2021-01-06 19:15] karriebear commented on #2533
This value label is no longer customizable in the latest BaseWeb. [It is now displayed only on hover or drag.](https://github.com/uber/baseweb/blob/c103b8e00fb9054da7c4d0b1f6597e9d0d4409e3/src/slider/slider.js#L146)
@asaini has approved this change when upgrading to latest BaseWeb in #2419.

[2021-01-06 19:15] #2533 closed, assigned to nobody

[2021-01-06 19:30] akrolsmir opened #2560 "st.cache is not caching?"
(Reported by @monchier on Slack https://streamlit.slack.com/archives/C017USJF285/p1609958439021300)

# Summary

I am trying to use @st.cache on a load_data function, but it does not get cached... load_data load from the filesystem and returns an array with the data. Here is the script. I wonder st.cache changed and I need to do something different than before.

# Steps to reproduce

Code snippet:

[2021-01-06 20:02] #2516 closed, assigned to nobody

[2021-01-06 20:12] randyzwitch commented on #2560
I'm wondering if it's due to the `append` and `sort` functions, which may be mutating

[2021-01-06 20:38] Austin-Czyzewski commented on #1300
I generally ignore the aspect ratio option and just go with the sizing_mode arg in the figure like:
` bokeh.plotting.figure(blahblah, sizing_mode='stretch_both', blahblah)`
Works great in my applications which involve switching between vertical and horizontal monitors regularly in full screen and otherwise!

[2021-01-06 23:23] rmorshea commented on #1567
Custom Javascript components could also benefit from the availability to serve static resources. A more general way to approach this would probably be to allow "Server Extensions" to add their own routes to the server (a la [Jupyter Server Extensions](https://jupyter-notebook.readthedocs.io/en/stable/extending/handlers.html?highlight=server%20extension#writing-a-notebook-server-extension)). Someth

[2021-01-06 23:35] karriebear opened #2561 "Single file upload replacements returning old data"
Looks like data returned is off by 1. Works fine in 0.73.0. Caused by #2535. Should evaluate the impact on other components given the cause.

![file_uploader · Streamlit](https://user-images.githubusercontent.com/24946400/103833041-e8995980-504d-11eb-98b3-e216624b6ae2.gif)

[2021-01-07 01:15] sapped commented on #1083
Could I bother you for an example of how this would work in code?

EDIT: Figured it out after a few hours. Thanks for the guidance! [see README here for my implementation of very barebones, basic users with Docker, NGINX, and, of course, Streamlit](https://github.com/sapped/flip).

[2021-01-07 02:03] jroes commented on #2001
@akrolsmir @karriebear with our most recent  changes, we can call 3.9 officially supported now, right?

[2021-01-07 02:06] karriebear commented on #2001
Nope, components is not compatible with 3.9

[2021-01-07 02:15] jroes commented on #1032
I agree we should be prioritizing this sometime soon and is particularly problematic for public-facing apps given it could expose secrets.

In the meantime, I believe the best workaround is to catch exceptions before they bubble up beyond the script’s context.

[2021-01-07 04:21] karriebear opened #2564 "URL markup does not get generated as a link"
# Summary
URLs used to generate an anchor tag automatically in markup. Now it does not

# Steps to reproduce
Code snippet:

[code]

## Expected behavior:
[0.73](https://share.streamlit.io/streamlit/release-demos/0.73/0.73/streamlit_app.py)
![image](https://user-images.githubusercontent.com/24946400/103850694-fb278900-5075-11eb-8052-1d8fa9a639a7.png)

## Actual behavior:
[0.74](https://share.stream

[2021-01-07 05:16] karriebear opened #2566 "Ctrl /cmd + c triggers clear cache"
# Summary
If you try to copy text from an app it'll trigger the clear cache modal. It's fine when you copy text from an input field.

This is very likely a regression introduced on 12/28, likely from #2525

[2021-01-07 11:29] wjaskowski commented on #2509
Actually, one more thing here. `print('sth')` is allowed inside the function with `@st.cache` but `print('sth', file=sys.stderr)` is not. This is surprising.

[2021-01-07 16:43] tylerjrichards commented on #1294
hey @kmcgrady! Thank you for the incredibly detailed response. I've been trying to fix this issue on my end as well the past couple days. I tried the solution of just deleting the app and redeploying it, but even after a day of the app being in the oven, it never actually built.
My next effort was to make an entirely new repo with the same files but a different repo name, and push that to Streamli

[2021-01-07 19:06] karriebear opened #2567 "File Uploader E2E test is being flaky"
Should not be flaky. Review again
https://app.circleci.com/pipelines/github/streamlit/streamlit/5949/workflows/29877466-74ac-4cc1-97ec-e645813ca8f1/jobs/16155

Test should be failing consistently due to regression from deploy button #2561

[2021-01-07 20:53] #2374 closed, assigned to nobody

[2021-01-07 21:13] ysayeed opened #2568 "st.markdown cannot create markdown tables"
# Summary

As of streamlit 0.74, markdown tables are not being properly displayed in streamlit.

# Steps to reproduce

Code snippet:

[code]

## Expected behavior:

A table should appear on the page.

## Actual behavior:

All of the text appears as a single line without being formatted as a table.

## Is this a regression?

Yes, it worked in streamlit 0.73

# Debug info

- Streamlit version: 0.74.

[2021-01-07 22:16] kmcgrady commented on #1294
Thanks @tylerjrichards! I informed our cloud team of the challenge you had redeploying. Hopefully they'll sort something out. Glad redeploying under a name worked.

[2021-01-07 22:18] karriebear commented on #2568
Hi @ysayeed, thanks for reporting this and apologies for any headaches this might have cause with your app. We just put out a patch that fixes this. Please upgrade to streamlit 0.74.1 and if you are still facing issues, let us know!

[2021-01-07 22:18] #2568 closed, assigned to nobody

[2021-01-07 22:19] neibla opened #2569 "Poor Map Performance/Usability for 100k+ data points"
# Summary

With v0.73.1 of Streamlit the pydeck integration has significant performance issues for large datasets compared to jupyter + pydeck integration.

# Steps to reproduce

Compare the scroll performance/usability of the map component with jupyter
https://github.com/neibla/streamlit-map-performance-comparison/blob/master/comparison.ipynb
vs Streamlit
https://github.com/neibla/streamlit-map-p

[2021-01-07 22:45] steven-shoemaker opened #2571 "st.cache() error"
# Summary

I have an app that crashes if people use it more than a few times. This is the error I get when I attempt to use st.cache()

# Steps to reproduce

Error:
[code]

Code, using keras generates a sequence of text given a seed and my model:

[code]

[2021-01-08 00:52] #2564 closed, assigned to nobody

[2021-01-08 00:52] #2566 closed, assigned to nobody

[2021-01-08 08:39] rpyleonard commented on #2564
hello, i encounter the same bug on table markdown. It seems link to the react-markdown component upgrade.

The react-markdown team indicate in their last upgrade that the component is 100 % CommonMark compliant and has to use extensions to support custom syntax

https://github.com/remarkjs/react-markdown#use

I add the dependencie to remark-gfm

``` yarn add remark-gfm ```

and implemented the fol

[2021-01-08 11:51] leshaker commented on #2349
I was on 0.70.0 Now I am on 0.73.1 and in works on ubuntu 20.04 with firefox 84.0

[2021-01-08 12:05] Jimaras08 commented on #2531
@aastha12 & @jroes

I've faced this problem aswell with PyCaret and Heroku.
Load and inference the model without PyCaret?

[2021-01-08 16:22] SaltyDalty0 commented on #611
fairly new to streamlit, but this feature would have me using it for years to come! i previous attempted this with mpld3 pkg but it is only supported on old versions of python and swapping between versions for its usage with PATHs is tedious. Please add this!

[2021-01-08 16:36] karriebear commented on #2564
@rpyleonard we would love a PR for this :) Happy to take a look once you get it up!

In terms of `st.markdown`, we released a patch reverting the upgrade so hopefully you should not have any issues with table markdown in 0.74.1.

[2021-01-08 18:47] nthmost commented on #2554
Linked: #1957

[2021-01-08 18:50] karriebear opened #2574 "Add test case to handle markup regression"
Add test cases for #2564 and #2568

[2021-01-08 18:51] karriebear opened #2575 "Add test case for hotkeys"
Add test case to address regression #2566

[https://github.com/streamlit/streamlit/issues/2566|https://github.com/streamlit/streamlit/issues/2566|smart-link]

[2021-01-08 19:37] nthmost commented on #2569
Hi @neibla -- Thanks for providing the side-by-side comparison!  We are (unfortunately) aware of the performance issue around large datasets and that's why we're forging ahead with a conversion of our bespoke dataframe handling into the use of Arrow.

Look for that upgrade to hit Streamlit sometime in the next ~2 months.

I'm adding your user story into the product database for charts and performa

[2021-01-08 20:45] jroes commented on #2569
@kantuni Is it true that Arrow will improve performance for maps as well?

[2021-01-08 22:04] karriebear opened #2577 "Regression: Select menu does not autoselect first item"
# Summary
![image](https://user-images.githubusercontent.com/24946400/104058697-2919e400-51c2-11eb-9bb9-093217211e83.png)

# Steps to reproduce
1. Run st_multiselect E2E test.
2. Open a select menu.

## Expected behavior:
first item should be highlighted

## Actual behavior:
first item is not highlighted

## Is this a regression?
yes. Regression from #2419.

# Additional information
The snapshot i

[2021-01-09 04:50] Tamoghna-Saha opened #2578 "Unable to cache DOCX file after uploading"
# Summary

I am trying to upload DOCX files using the `python-docx` library. If I don't declare the cache, it is working but unable to pickle the DOCX object in the cache.

I have been trying to use `hash_funcs` parameter in the `st.cache` but not able to figure out how to do it.

# Steps to reproduce

Code snippet:

[code]

## Expected behavior:

The cache should work, and I will be able to execu

[2021-01-09 06:55] mzeidhassan commented on #1856
Any update on this one? I thought this would be an easy fix from Streamlit team's side.

[2021-01-09 08:37] karriebear opened #2579 "Review Snapshot test for component template"
# Summary
Looking at the history, looks like there were no changes to the template css since snapshots stopped working. Please review to see if this snapshot difference (button border) is intentional. If not, please fix and update snapshot.
![image](https://user-images.githubusercontent.com/24946400/104087170-c9f0b980-522b-11eb-85c0-359a390f957e.png)

The snapshot in develop is wrong pending #2553

[2021-01-10 17:47] ldmtwo opened #2580 "Map centric dashboard/UI panel features"
I love all the things I can do with Streamlit. I've been turning DS Jupyter notebooks into applications that non-tech people could use. The challenge I ran into is that sometimes I need 1-2 fixed columns. Some days, I just need a map, tabular data, and a CLI (or input form fields). It's annoying when the map moves and the table I want to see is farther down. My current solution is to have conditio

[2021-01-10 23:08] varsha2509 commented on #1514
I had the same error when I was trying to deploy Streamlit app in Heroku which had a folium map. As @jwei-ccmp  mentioned, I installed branca package version 0.3.1 and added that to my requirements file explicitly. That solved the problem for me.

[2021-01-10 23:12] jwei-ccmp commented on #1514
@varsha2509 You could try to install streamlit-folium by pip or conda, it solved the problem for me.

[2021-01-11 03:36] karriebear opened #2581 "Review main menu snapshot"
# Summary
With the latest, the snapshot does not have the deploy option. Unclear if this is desired. Please review and fix if needed.

![image](https://user-images.githubusercontent.com/24946400/104145233-37b7f500-5394-11eb-95ff-f0dcdb962331.png)

The snapshot in develop is wrong pending #2553. Breaking out this snapshot fix to unblock rest of codebase.

[2021-01-11 09:36] wjaskowski opened #2583 "Option for cache exceptions"
### Problem

streamlit.cache doesn't treat exceptions raised by a function as its return value. Functions raising exceptions are always recomputed despite `@st.cache`, e.g.,

[code]
when executed the **second** time will output
[code]
instead of the expected
[code]

Either this is a design decision or a bug. The fact is that I haven't found any information in the docs about this behavior so I was

[2021-01-11 17:47] mesmith027 opened #2584 "Number Input **does** require the label"
**Link to doc page in question (if any):**
https://docs.streamlit.io/en/stable/api.html?highlight=number_input#streamlit.number_input

**Name of the Streamlit feature whose docs need improvement:**
The documentation for the `number_input` states that you **do not** need to include a label when calling `st.number_input()`, but this throws an error because you do need to add something for the label

[2021-01-11 18:21] karriebear opened #2585 "Review/fix st.pyplot E2E test"
`.stale-element` is no longer used following our conversion to Emotion. This broke our snapshot test. When trying to fix it real quick as part of the snapshot effort, it looks like this test needs to be reviewed in more detail. When converted to data attribute, the  test could not find the updated attribute. Looking at it in person I can see the attribute getting updated. Not sure if it's a timing

[2021-01-11 18:57] stasiewich commented on #2584
It would be preferable if the number_input did not require a label as opposed to just updating the documentation.

[2021-01-11 21:48] karriebear opened #2587 "Safety check for CircleCI for E2E snapshots"
Proposal
1. Prevent CircleCI from creating snapshots
2. If people need an updated snapshot, disable some flag

[2021-01-11 23:23] MemphisMeng commented on #2544
It's 3.6, I don't know where it goes wrong.

[2021-01-12 01:39] pegasusCN commented on #585
Hi, can you please show some details about how you did that? I can make this HTML file displayed correctly in Chrome, but it is blank while I use st.markdown.

[2021-01-12 01:58] jsmar17 commented on #585
Sorry, abandoned the project a long time ago and did not keep any of the
code :( can't recall what I did to replicate it - apologies.

On Tue, 12 Jan 2021, 12:39 pm pegasusCN, <notifications@github.com> wrote:

[2021-01-12 11:58] johntaylor112 opened #2590 "Deck object with PointCloudLayer cannot be integrated properly with pydeck_chart"
# Summary

The `pydeck_chart` cannot properly integrate a Deck object with a `PointCloudLayer` without embedding a mapbox view.
The following example shows how to create a 3D point cloud layer with pydeck: https://deckgl.readthedocs.io/en/latest/gallery/point_cloud_layer.html

# Steps to reproduce

Code snippet:

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/streamlit_badge_black_

[2021-01-12 14:59] cedias opened #2591 "Multiselect box can seem to "randomly" resets if the same data is fetched in different order"
# Summary

The multiselect box resets whenever the givent labels don't have the same order, even though they are the same.

[code]

## Expected behavior:

The expected behavior would be at least for the script to run the selected variables (and then eventually reset by showing a warning message - such as the mutated cache one)

## Actual behavior:

The Multiselect box seem to "randomly" reset
![bu

[2021-01-12 15:12] cedias commented on #2591
FYI: on the example, the multiselect resets every time but if you use something like `list(set(datapoints))` in your code the order of the list can only change after multiple selections (since set ordering is not guaranteed).

This seemingly "random" behavior is very frustrating.

[2021-01-12 17:25] gizemtanriver commented on #1740
I am having the same issue on Chrome. The screencast does not stop. I tried pressing on Esc and stopping from the menu, but doesn't help. I am using MacOS. Any ideas?

[2021-01-12 19:07] kmcgrady commented on #1740
Hi @gizemtanriver what version of Streamlit are you on? We upgraded HotKeys in 0.74, but reverted it cause of some issues. If so, can you try upgrading to 0.74.1?

[2021-01-12 20:20] gizemtanriver commented on #1740
Hi @kmcgrady, I managed to solve this after a few tries although I am not entirely sure how it resolved. I was using the latest version 0.74.1. Besides the stopping issue, one thing I noticed is that if I have other open tabs in Chrome together with the streamlit app, the screencast option becomes unavailable.

[2021-01-12 20:23] #824 closed

[2021-01-12 20:38] tconkling commented on #2579
The current snapshot is correct - the component templates use bootstrap for layout, but the elements are intentionally un-styled. (We originally considered having default element styles for Components, but decided not to.)

[2021-01-12 20:38] #2579 closed, assigned to tconkling, kantuni

[2021-01-13 00:32] PablocFonseca opened #2595 "Button doesn't work when label changes"
# Summary

Components doesn't work as expected. At first I thought it was related to the component's key being randomly generated if not supplied. But seems like it is something deeper, related to the way streamlit works. This can be misleading.

# Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet!  This will help expedite us finding and solving the problem.)

If applicable

[2021-01-13 05:25] kmcgrady commented on #1740
Hmmmm @gizemtanriver . That's weird. It works properly on mine. Glad you were able to get it working though. Feel free to upload a video to show it in action next time 😊 .

[2021-01-13 17:35] karriebear commented on #2567
It looks like the regression is flaky. The test itself is fine and passing and failing when it does run into an error.

[2021-01-13 17:35] #2567 closed, assigned to karriebear

[2021-01-14 00:56] vdonato commented on #594
I started looking into this, and it seems like this issue may end up being a bit tricky to resolve given its root cause.

The bug probably slipped through to begin with due to [a bug in pandas](https://github.com/pandas-dev/pandas/issues/39162) that gets hit when marshalling datetime columns into protos in [data_frame_proto.py](https://github.com/streamlit/streamlit/blob/e052271705bf66bc4638e46649

[2021-01-14 02:36] incognitoluke commented on #927
Just saw this [YouTube video](https://youtu.be/AVyTYBOqccM). Perhaps django and streamlit has worked for this person.

[2021-01-14 09:44] fredmontet commented on #1370
This would be a very nice feature! I'm frequently in cases where I'd like to give a customer a very quick prototype that doesn't send data over network (easier for data transfer and for legal purposes at this stage of development) and then, build upon that.

I'm using streamlit in an applied research context and there, the customers are mostly engineers, technical collaborators, etc. They always n

[2021-01-14 09:46] deeplook commented on #271
Is there any roadmap for more `qgrid`-like features? I'm using single and multi-row selection, row filtering and column reordering **a lot** and find them essential. Not having these in `streamlit` is a serious blocker for me. Any workarounds like above are real obstacles and are considered weird/cumbersome at best, and lead to sticking with alternatives like `qgrid` otherwise.

[2021-01-14 10:51] SimonBiggs commented on #1370
I've created a standalone .exe bundle that boots a Streamlit app:

https://github.com/pymedphys/pymedphys/releases/download/v0.35.0-dev2/PyMedPhysGUI-0.35.0.dev2.zip

I have opted to go down that route, where the user's browser is still used, but it connects up to localhost.

Does that approach meet your needs?

[2021-01-14 13:25] jrieke commented on #2469
This would be amazing! It's crucial for search and should be very easy to implement (given that there's already `st.set_page_config` to set the title).

[2021-01-14 15:32] rembishj commented on #631
@dcaminos  was there ever any work done on this? I've been having the same gripe and can't seem to find any updates. Wondering if maybe I'm just missing it.

[2021-01-14 21:49] epogrebnyak commented on #853
Similar meta tag would have been useful with whatsapp - when you share you apply phone, an impression with image is much better.

https://stackoverflow.com/questions/25100917/showing-thumbnail-for-link-in-whatsapp-ogimage-meta-tag-doesnt-work

[2021-01-14 22:10] karriebear opened #2603 "Identify E2E tests that can be converted to unit tests."
In order to automate more of our quality checks, find E2E tests that make sense to be converted to unit tests.

[2021-01-14 23:46] vdonato commented on #594
Synced with @kantuni on this, and apparently the underlying serialization issue should go away once some work that's currently in progress with Apache Arrow is complete.

I'll just assign the two of us for now so that somebody remembers to close this issue out once the right arrow changes land.

[2021-01-15 02:15] vdonato commented on #2395
Hi! Sorry for the delay in getting back to you @Wirg, but yes this is certainly something that we're looking into fixing.

I'm actually just starting to see if I can polish the behavior of `st.empty()` so it works as expected.

[2021-01-15 13:38] GuyYeates commented on #1331
Graphviz not showing in Chrome (Version 80.0.3987.132 (Official Build) (64-bit) ).

Code built from Visual Studio Code on Windows 10 machine.

Code used was from https://docs.streamlit.io/en/stable/api.html#streamlit.graphviz_chart
Running  python -c "import mimetypes; print (mimetypes.guess_type('lunr.js'))"  in console  returned "text/plain"

Registry changes
.js node was present under "HKEY_LOC

[2021-01-15 14:03] cpatrickalves commented on #484
Hi there,
Any update about this?
I really want to use Streamlit on Cloud RUN

[2021-01-15 14:34] bulatnv commented on #1206
I was looking for an option to zoom in images. At least to view them with initial quality.

[2021-01-15 14:48] okld opened #2606 "UnicodeDecodeError when serving static binary files from custom components"
# Summary

In release mode, static binary files served by custom components trigger an `UnicodeDecodeError` in Streamlit.
Therefore, it is not possible to use certain font packages like `@fontsource/roboto` which use `.woff` files (Web Open Font Format).

# Steps to reproduce

1. Create a new custom component
2. npm install or yarn add `@fontsource/roboto`
3. Add `import "@fontsource/roboto/500.cs

[2021-01-15 15:24] karriebear opened #2607 "Make st_multiselect E2E test not flakey"
Failed with this diff
![image](https://user-images.githubusercontent.com/24946400/104745110-b6f25380-571b-11eb-918e-d82a2754789f.png)

Failed run: https://app.circleci.com/pipelines/github/streamlit/streamlit/6080/workflows/96bfae7f-48ca-4384-9fe9-6be1964b665b/jobs/16678/artifacts

Looks like it's matching the snapshot too early. Should be matching it after the app finishes rerun. Recommend adding

[2021-01-15 16:05] joelostblom commented on #2263
I would be very excited to see this on the 2021 roadmap for Streamlit! I found my way here [by asking on SO for a way to catch signals/events emitted from Altair in Python](https://stackoverflow.com/questions/65726205/workaround-for-externally-emitting-signals-events-from-interactions-with-vegalit), and learned that this is not currently possible. Implementing this functionality in Streamlit seems

[2021-01-15 16:09] karriebear commented on #2561
No longer a release blocker now that deploy button has been reverted.

[2021-01-15 16:14] karriebear commented on #2607
Could be related to #2585. Seems like some of our snapshots are running a match when things are rerunning.

[2021-01-15 17:08] jroes commented on #484
Hi @cpatrickalves! This is not on our roadmap right now, and it would require a major overhaul to Streamlit in order to remove Websockets and manage state differently. Have you seen [Streamlit Sharing](https://www.streamlit.io/sharing)? You can deploy up to 3 apps for free on our platform.

[2021-01-15 21:30] #1809 closed, assigned to vdonato

[2021-01-15 23:16] firasm commented on #2263
I’d love to use this when I teach Altair !

[2021-01-16 04:27] akrolsmir commented on #2514
Hm.... I've tried setting `apple-touch-icon` but it doesn't look like dynamically changing that to be the emoji favicon helps. The documentation on Safari favicons is sparse, but I'm suspecting the Safari browser doesn't actually update the favicon even if we change `apple-touch-icon` in the HTML; instead, maybe Safari sets the favicon once on initial page load, and then never changes it again?

[2021-01-16 15:11] andymcdgeo opened #2608 "UnicodeDecodeError with .las Files and file_uploader"
# Summary

When using the file_uploader to load .las files containing "strange" characters a UnicodeDecodeError occurs.

# Steps to reproduce
Using the .las files at the link below and the code snippet should generate the error when the file is uploaded.

https://drive.google.com/drive/folders/1gVIjBU5HsOwDD114bX54Zxb8vLnZLPsM?usp=sharing

Code snippet:

[code]

1. Click Browse Files
2. Select the

[2021-01-16 15:31] andymcdgeo opened #2609 "Plotting from missing library results in: AttributeError: 'AxesSubplot' object has no attribute 'savefig'"
# Summary

When using the missingno library to visualise data sparsity within a pandas data frame an AttributeError: 'AxesSubplot' object has no attribute 'savefig' occurs. Discussed this issue with @randyzwitch via email and he recommended creating a new issue here.

# Steps to reproduce

Code snippet:

[code]

Using a pandas dataframe containing numeric values, pass the data frame into the .bar

[2021-01-16 18:38] cpatrickalves commented on #484
Hi @jroes, thanks for the answer.
I've tried streamlit sharing, it works, but I am not sure about the scalability of it. Also, I need to run other apps/containers like APIs.

Thanks anyway.

[2021-01-17 07:46] Suvoo commented on #1294
I am still facing the same issue, any help is appreciated

[2021-01-17 16:14] danthe3rd commented on #1936
Bump. This causes issues for HiPlot users with streamlit on Windows - is it possible to look into it? It should be pretty straightforward to fix (https://github.com/facebookresearch/hiplot/issues/148)
Thank you :)

[2021-01-18 06:27] andfanilo commented on #2606
Does look like a special case of #1936 what do you think?

[2021-01-18 09:19] okld commented on #2606
Yes indeed. This is the same issue, which is not specific to Windows apparently.

[2021-01-18 09:41] GuyYeates commented on #1331
addendum...

Please note in the change in the registry to set .js files to "application/javascript" will allow .js files to run on a machine on a double-click and this has security issues (which is why the mime type for .js files is to "plain text" on my machine). My home laptop has no mimetype set for .js and the graph displays as expected in Chrome (unsure if its version however). If that helps.

[2021-01-18 14:18] yuweichen1008 commented on #927
I don't think someone did that

[2021-01-18 18:38] domplexity commented on #1440
i am also seeing this issue for plots generated by the convoys https://github.com/better/convoys package. in all other contexts (jupyterlab, scripts to files) these plots are produced reliably. the workaround from khalido does the job though.

[2021-01-18 19:16] Akintola-Stephen commented on #1613
Having this very issue too, please i'll need help with regards this, Am working on a project that needs deadline to be meet

[2021-01-19 05:24] Umang9427 opened #2610 "Execution of graphs in-app is done everytime a widget is selected"
# Summary

I have multiple graphs whose functions (plots) take 20-30 sec time of execution. I have separated each graph in the app layout with a radio button. It is really tiring to select a button and watch the app run for 30 secs. I am using the @st.cache functionality, yet it makes no difference.

## Expected behavior:

The app should be pre-run or compiled entirely before app execution.

## Ac

[2021-01-19 14:53] nherriot commented on #2397
Hi Streamlit,

just to let you all know. By using pyenv to compile python for my particular server the issue was fixed.
Just to note for anyone else who may be following this and has a similar problem if you see this type of thing after using pyenv to install python and setting up **streamlit** in your virtual environment:

[code]

I believe it means you have no 'C' header files installed for that

[2021-01-19 14:53] #2397 closed, assigned to nobody

[2021-01-19 16:11] akrolsmir commented on #2347
No longer repros in the latest (0.74.0?) Streamlit and latest Safari. Thanks for posting about this!

![image](https://user-images.githubusercontent.com/856034/105061040-08198480-5a47-11eb-8816-22d13183d10b.png)

[2021-01-19 16:11] #2347 closed, assigned to akrolsmir

[2021-01-19 16:26] akrolsmir commented on #2247
Hm, from staring at the images for 5 minutes, it feels as though sliders (and also button highlights in #2437 ) are actually exceeding the bounds of the div; it's been okay in the past since there's nothing on that side anyways, but now Expanders bound the excess, so it's a lot more noticeable.

![image](https://user-images.githubusercontent.com/856034/105062670-d99ca900-5a48-11eb-80a1-b752805fece

[2021-01-19 18:58] rembishj commented on #904
Hi @treuille , are there any updates on this feature request?

[2021-01-20 01:26] tvst opened #2616 "Visual regression: progress bar alignment"
# Summary

st.progress is not properly aligned with other content.

# Steps to reproduce

1. run `streamlit hello`
2. Click on "animation demo" on the left

## Expected behavior:

Progress bar in sidebar aligns with the content above and below it (marked with the blue vertical bars in the screenshot below)

## Actual behavior:

Progerss bar isn't aligned.
![image](https://user-images.githubusercon

[2021-01-20 01:49] nthmost commented on #2584
@randyzwitch Product comes down on the side of "all widgets have labels", so this is a documentation bug.

[2021-01-20 01:56] tvst commented on #1294
Hey Suvoo, can you open a new bug and include some more info?

In particular:
1. Steps to reproduce (with example app or code, if possible!)
2. Streamlit version
3. Do you see this in Streamlit sharing? Or when deployed some other way?
3. Do you see any errors in the browser's devtools' [console](https://developers.google.com/web/tools/chrome-devtools/console/javascript) and [network tab](https://

[2021-01-20 04:53] treuille commented on #904
Hi @rembishj : For server-side file selection, I would suggest [something like this snippet](https://discuss.streamlit.io/t/upload-files-to-streamlit-app/80/3).

[2021-01-20 11:01] ChristophBoerlin opened #2618 "Rpy2 does not work with streamlit"
# Summary

One can not use the package Rpy2 to call R function from within streamlit. Importing the rpy2 package crashes with an
“ValueError: signal only works in main thread”

# Steps to reproduce

Code snippet:

[code]

## Expected behavior:

Importing the rpy2 package

## Actual behavior:

Importing the rpy2 package crashes with an
“ValueError: signal only works in main thread”

## Is this a re

[2021-01-20 13:43] Suvoo commented on #1294
``` st.image("C:\\Users\\91865\\Desktop\\Streamlit Demo\\data\\sal.jpg") ```
This produces an error and shows a 0 icon when used on the page, but using

[code]
While this works totally fine. I don't see why this happens

[2021-01-20 18:45] devhawkio commented on #1341
@mmarchetti Did you ever get this solved? I have seen workarounds, but am struggling to retrieve authentication headers. I have retrieved standard ones though.

[2021-01-20 18:46] devhawkio commented on #1083
@sapped I am trying to implement your code, but having trouble. My authentication service uses a custom header. Is it possible to retrieve that using your example, or are custom headers stripped out?

[2021-01-20 18:56] mmarchetti commented on #1341
I ended up monkeypatching `start_listening` in the server module, and setting `server.request_callback` in my version of it. I would strongly prefer a supported solution.

[2021-01-20 18:59] devhawkio commented on #1341
@mmarchetti I just got this example working:
https://github.com/sapped/flip

I am hosting with Azure App Service, which places a header with the authenticated user's email at X-MS-CLIENT-PRINCIPAL-NAME. After properly configuring the app service to force a user to login, it provides the HTTP header, and then the app reads the email of the authenticated user.

[2021-01-20 19:57] sapped commented on #1083
You need to define the custom header in your nginx project.conf via the proxy_pass. See how I do it for $remote_user? Just do that for whichever custom header variable you’re looking to pass. I think that would do the trick.

[2021-01-20 20:12] devhawkio commented on #1083
I got it to work. I am using the out of the box authentication with Azure App Service. It posts the email to X-MS-CLIENT-PRINCIPAL-NAME.

I just didn't have the app configured properly in Azure to force a login, and so the header wasn't being presented.

[2021-01-20 21:30] sapped commented on #1083
Oh! I’m actually about to implement a similar Azure-based auth for my company. Could you please share the nginx conf file you used & how you grabbed the appropriate headers in Streamlit? Might help me in the next couple days and I’d be very appreciative!

Also silly bug that I got with auth_basic - might be worth checking if your app runs on iPhone too (for some reason iPhone / iPad weren’t passin

[2021-01-20 22:38] #2426 closed, assigned to nobody

[2021-01-21 00:08] Wirg commented on #160
@AndreyGurevich do you mean the progress_apply from tqdm ?

[2021-01-21 00:17] #2395 closed, assigned to nthmost, vdonato

[2021-01-21 06:17] devhawkio commented on #1083
My app code is stored in Azure DevOps with a Dockerfile. I spun up an Azure App Service and a build pipeline that builds the Docker image and pushes to the App Service. Within the App Service settings, I enabled the Authentication then retrieve the HTTP headers after authentication using code found here: [https://github.com/sapped/flip](https://github.com/sapped/flip)

I initially did a sloppy cut

[2021-01-21 06:48] AndreyGurevich commented on #160
Yes

[2021-01-21 08:32] andfanilo commented on #160
@Wirg I've just discovered your `stqdm` package, it's neat!
I don't recall seeing it in the [forum](https://github.com/Wirg/stqdm) though, if that's the case do you mind posting it in a new topic so other users can discover it :) ?

Best,
Fanilo

[2021-01-21 09:31] valentincalomme commented on #1291
@tconkling has there been updates regarding this feature?

I am highly interested in something like this to create quick annotation tools for ML applications for instance. In my use case, it would already be sufficient to link a key to a button, so that the user can either explicitly click the button, or use the keyboard shortcut.

I am picturing syntax like this if this helps:

[code]

[2021-01-21 10:11] sevickson opened #2623 "Streamlit Sharing and Sign In giving 502 error"
# Summary

https://share.streamlit.io/ giving 502 error.

# Steps to reproduce
Visit https://share.streamlit.io/
[code]

## Expected behavior:

Streamlit sharing website open.

## Actual behavior:

502 error

[2021-01-21 14:42] lgautier commented on #2618
It seems related to this: https://github.com/rpy2/rpy2/issues/769.

[2021-01-21 15:07] jroes commented on #2623
Hi @sevickson, thanks for reporting this! We jumped on this as soon as we saw this issue and we've brought things back online. We're reviewing this internally to ensure we detect this sooner and prevent this from happening in the future.

Please let me know if you have any more trouble, and thanks again for the report.

[2021-01-21 15:07] #2623 closed, assigned to nobody

[2021-01-21 17:02] akrolsmir opened #2627 "Remove st.image format parameter once and for all"
See #1137

![image](https://user-images.githubusercontent.com/856034/105384603-6c238080-5be0-11eb-9918-86fc62c81c1d.png)

[2021-01-21 18:30] justinas-kazanavicius commented on #837
I'm still experiencing this. Even though I've set both `enableXsrfProtection` and `enableCors` to `false`, I am still getting CORS errors when sending requests from JS code via components.html. This is happening even with the simplest requests to a different port within localhost.

[2021-01-21 18:50] justinas-kazanavicius commented on #1534
same issue here

[2021-01-21 19:11] #90 closed

[2021-01-21 19:23] aldencabajar commented on #862
Is there anyone working on this yet?

[2021-01-21 21:25] #2247 closed, assigned to akrolsmir

[2021-01-21 22:02] asaini opened #2633 "Images fail to load in Streamlit App"
# Summary

@mesmith027  is working on the following app

Code: https://github.com/mesmith027/intro_streamlit_tutorial
App: https://share.streamlit.io/mesmith027/intro_streamlit_tutorial/expansion_app.py

# Steps to reproduce

1. Open the app
2. Select the layouts radio button on the left --> All the images in the app are visible
3. Select the Advanced Command button on the sidebar
4. Select the la

[2021-01-21 22:14] nthmost commented on #2578
Hi @Tamoghna-Saha -- you may have more success employing the hash_func if you can supply a function other than "hash".  For example, you might try:

`hash_funcs={docx.document.Document: id}`

In the near future (2021 Q2) we are going to be working on a cacheing overhaul, but in the meantime i think you should be able to get your specific case working one way or another.

Keep in mind that the hash

[2021-01-21 22:17] Wirg commented on #160
@AndreyGurevich Yes, it works. Stqdm inherits from tqdm.
So if you want to use it with pandas, you just have to run stqdm.pandas() instead of the tqdm equivalent.
I will had this example to the docs.
[code]

-----
@andfanilo Thanks. Sure. Where should I ?

[2021-01-21 22:32] astrojams1 opened #2634 "We support 3.9 but docs say to use up to 3.8"
![Screen Shot 2021-01-21 at 2 29 26 PM](https://user-images.githubusercontent.com/1023503/105420560-6b491980-5bf5-11eb-8be7-15518f7f4ffa.png)

[2021-01-21 22:46] akrolsmir commented on #2634
Actually -- we're still kind of waiting for PyArrow to fully support Python 3.9 by building wheels for Mac and Windows. Until then, Streamlit Components aren't supported on Python 3.9, and thus I'd hesitate to include "Python 3.9" as an officially supported version.

Going to close as a dupe of https://github.com/streamlit/streamlit/issues/2001. But thanks for flagging this!

[2021-01-21 22:47] #2634 closed, assigned to nobody

[2021-01-22 02:16] aletisunil commented on #400
Can anyone help me to download PDF File in Streamlit?
Should I encode/decode?
[The above solutions doesn't help me]

[2021-01-22 06:26] tvst commented on #474
See [this discussion](https://discuss.streamlit.io/t/permission-denied-to-create-streamlit/490/3). Sounds like this has regressed. Possibly when we implemented the randomized machine ID in #2034.

Can someone look into this and see if you can confirm the regression?

Is so, we should chat about next steps, since we're in the process of updating machine IDs again 🙈

[2021-01-22 07:09] karriebear opened #2636 "Test for st.empty behavior"
Create a test to make sure st.empty does not cause any jumpiness.

Sample
[code]

[2021-01-22 08:25] andfanilo commented on #160
@Wirg Oops I failed at copying the correct link to the forum XD [here it is](https://discuss.streamlit.io/c/streamlit-examples/9)!
Hope to see you there :)

[2021-01-22 08:35] nthmost commented on #2606
Thanks for the commentary @andfanilo , @okld -- helps us triage!

[2021-01-22 10:40] AndreyGurevich commented on #160
@Wirg great, thank you!

[2021-01-22 12:52] robsannaa commented on #585
I have tried to change the border color and background color of different elements injecting some CSS. However for the reason that elements update/change when there is an interaction with the app most styles are lost.

I have also tried to change the top gradient on the app header and the same thing happened.
Is there a plan to make those things possible in the future?

[2021-01-22 14:53] randyzwitch commented on #2584
@nthmost If that's the case, then several widgets need to be updated:

https://github.com/streamlit/streamlit/search?q=label+%3A+str+or+None

[2021-01-22 15:56] karriebear commented on #474
`streamlit hello --server.headless=true` creates the folder for me. No `credentials.toml` at least.

[2021-01-22 16:16] akrolsmir commented on #2607
Uhhhh maybe it's not actually fixed yet...

https://app.circleci.com/pipelines/github/streamlit/streamlit/6212/workflows/abfc12dd-4438-4433-b966-4dee45eb1429/jobs/17236

[2021-01-22 16:51] akrolsmir commented on #2471
Hi @dalmia -- sorry for the delay. I started taking a look at your code snippet above, but it looks like some of the relevant helper functions are missing (eg `show_value_on_axis`, `draw_gaussian`, `set_plot_params` etc).

Do you have a smaller, self-contained repro case? The st.markdown example seems like a great place to start, if there's a consistent way to reproduce that!

[2021-01-22 19:35] knorthover commented on #1294
Thanks Suvoo.  I just encountered this issue and your workaround using PIL fixed it.   Streamlit, version 0.73.0, Windows 10.   What baffles me is that the st.image/st.sidebar.image call is in a page base class for a multi-page app that has been running reliably for over a year - I'm getting this testing standalone a new page subclassed from the same base class as the others.  It's the first time

[2021-01-22 23:30] nthmost opened #2646 "Upgrade typescript to 3.8 or latest (user cannot start server)"
[Comment left in our Components Youtube video](https://www.youtube.com/watch?reload=9&v=BuD3gILJW-Q&lc=Ugyb-54m_8Ph7Tk36Ch4AaABAg&feature=em-comments
) saying we need to up a dependency in the Components repo:

[2021-01-23 17:28] lgautier commented on #2618
I just tried the code snippet and I cannot reproduce (the snippet runs without error).

- streamlit: 0.75.0
- rpy2: 3.4.2
- R: 4.0.3
- Python 3.8.5

[2021-01-23 18:23] dalmia commented on #2471
No worries @akrolsmir. Ever since I have updated the version of `streamlit`, I have not been encountering this issue and I am unable to replicate. Maybe we can close this for now and I'll open it up again if needed. Thanks for all the support and for building this awesome tool! :)

[2021-01-24 17:05] es-brookfield commented on #956
Just throwing in my support for this

[2021-01-25 05:13] karriebear opened #2647 "[Theming] Create config values"
Create a new config section called `custom-theme` with the following values
[code]

[2021-01-25 06:28] karriebear opened #2649 "[Theming] Pass custom theme to client"
Create a theme proto to be passed as part of Initialize Message sent via NewReport.

Create new theme using mainTheme as a base overwriting the colors from custom theme.
Save custom theme in localStorage for future calls

**Backup**: If we want to avoid a change in theme when users provide a custom theme (i.e. before the client is connected to the webserver), we need to intercept index.html and mo

[2021-01-25 06:28] karriebear opened #2650 "[Theming] Create theme selector"
Add a theme selector to settings menu.
Save theme in PageLayoutContext and localStorage

![image](https://user-images.githubusercontent.com/24946400/105669129-a4f77a00-5eac-11eb-9572-1e0c5ce50db8.png)

[2021-01-25 06:30] karriebear opened #2651 "[Theming] Set page based on theme"
Restructure parent ThemeProvider to use PageLayoutContext

[2021-01-25 06:32] karriebear opened #2652 "[Theming] Apply theme to vegalite"
Update `VegaLiteChart.tsx` to fetch theme information with `useTheme` and extend the element's property `spec` with the theme objects. See \[chart docs]([https://vega.github.io/vega/docs/config/)|https://vega.github.io/vega/docs/config/]

[2021-01-25 06:36] karriebear opened #2653 "[Theming] Pass theme to custom components"
For use with CSS-in-JS
Add the theme object to the JSON args that custom components sends over.

For use with CSS variables
As part of the component-lib, add style tag to the document using JS. This could result in an initial styling flash where the component renders but does not yet have the theme object or the component markup is defined through HTML.

[2021-01-25 06:47] asaini commented on #1615
@nthmost @kantuni : What are the benefits we get with Tornado 6?

[2021-01-25 06:59] asaini commented on #58
@bh-streamlit @vdonato : Did we recently tackle this?

[2021-01-25 07:00] asaini commented on #1498
@kantuni : Is this still an issue?

[2021-01-25 08:58] ChristophBoerlin commented on #2618
I just tried again in two different new conda environments, with just streamlit installed from conda forge and rpy2 via pip and I still get the error

1. Python 3.8.5
- streamlit: 0.75.0
- rpy2: 3.4.2
- R: 4.0.3
So the same package versions as you had, but I get the same error as before:
ValueError: signal only works in main thread

2. Python 3.9.1
- Python 3.8.5
- streamlit: 0.75.0
- rpy2: 3.4.2

[2021-01-25 14:25] jdeseze commented on #1019
+1

[2021-01-25 16:42] AveryData commented on #297
any print to pdf update on this???

[2021-01-25 17:32] johntmyers opened #2656 "Docs crashing on various browsers"
# Summary

https://docs.streamlit.io/en/stable/api.html

The docs should load and not crash

- Crashes on Mac OS Firefox 84.0.2
- Crashes on Mac Safari 14.0.1

Attached screen recording on Firefox
![docs_crash](https://user-images.githubusercontent.com/9696606/105742321-5a581b00-5f09-11eb-8041-20e49ed3b62d.gif)

[2021-01-25 21:57] tconkling commented on #1291
Hey @ValentinCalomme - this isn't currently on the Streamlit feature roadmap, but it's something that you can possibly achieve with a [Custom Component](https://docs.streamlit.io/en/stable/streamlit_components.html).

You could create a component that registers keydown/keyup listeners and uses `Streamlit.setComponentValue` to return key states to your Python script. There's an (old) example here:

[2021-01-25 21:58] #2647 closed, assigned to vdonato

[2021-01-25 21:58] #2649 closed, assigned to vdonato

[2021-01-25 21:58] #2650 closed, assigned to karriebear

[2021-01-25 21:58] #2651 closed, assigned to karriebear

[2021-01-25 21:58] #2652 closed, assigned to karriebear

[2021-01-25 21:58] #2653 closed, assigned to nobody

[2021-01-25 22:59] randyzwitch commented on #2656
Hi @johntmyers, can you try again. It was actually something unrelated to browsers (we think) on our end, and hopefully should be resolved now.

[2021-01-25 23:19] vdonato commented on #58
Looking at the referenced docs, this seems unrelated to the CI parallelization work that was recently done.

[2021-01-26 02:53] lgautier commented on #2618
May be your streamlit is picking up a config file that I do not have?

In any case this seems to point out to this issue in rpy2: rpy2/rpy2#769

[2021-01-26 03:34] rajpratyush commented on #2616
Hello, Is this issue still open for work ??? If so, I would like to work on it
Please let me know if I can work on this

[2021-01-26 03:34] rajpratyush commented on #2479
Hello, Is this issue still open for work ??? If so, I would like to work on it
Please let me know if I can work on this

[2021-01-26 05:09] darwinharianto commented on #1019
+1

[2021-01-26 05:10] nandgator opened #2660 "🐞: Table content barred by scroll-bar"
# Summary

CSV tables read using pandas data-frame are overrun by the horizontal scroll-bar. The is mostly visible when the output is a single row.

# Steps to reproduce

Code snippet:

[code]

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to terminal
2. Run `streamlit run filename.py`
3. See the anomaly

## Expected behavior:

There's a little more padding af

[2021-01-26 13:44] andfanilo commented on #2660
Hey @joe733, I believe this is a duplicate of #2543 (which btw is currently being worked on), could you look at it and close this one as duplicate if you believe that's the case?

Thanks again,
Fanilo

[2021-01-26 14:53] randyzwitch commented on #2479
Yes, it is still open. It's probably just 2-3 sentences as part of this section:

https://docs.streamlit.io/en/stable/deploy_streamlit_app.html#put-your-streamlit-app-on-github

[2021-01-26 15:05] rajpratyush commented on #2479
Sure sir @randyzwitch I will start working on it ASAP. Can you assign it to me?

[2021-01-26 15:35] nandgator commented on #2660
Yes it is. Thanks for tagging me in!

Closing.

[2021-01-26 15:35] #2660 closed, assigned to nobody

[2021-01-26 15:52] ehorcajo opened #2661 "Hello everyone! I have been reading about that feature called "experimental_rerun"."
, but it does not really fit what I need.   My app is so simple, just add rows to a csv chosing over options displayed, therefore I would like to "refresh" the page each iteration. BUT the values of my checkbox persist.

I want to clear the checkboxs

Anybody could help me?

Thanks!

[2021-01-26 17:19] asaini opened #2662 "Expander buttons overrun into column content"
# Summary

This issue was discovered on the internal metrics app during all hands on 1/25. In the layout, the expander button for the table on the right bleeds into the table's content

# Steps to reproduce

This can probably be reproduced by the following piece of code. This is inspired by Randy's code for the metrics app

[code]

## Expected behavior:

The expander button for the table should re

[2021-01-26 17:22] asaini commented on #2662
cc: @tvst

I realize some of the messing up is because of the fact that both the layout and charts are trying to play with the widths.

If I remove the width entirely from the code, the layout still looks messed up.

[code]

<img width="776" alt="Screen Shot 2021-01-26 at 9 22 28 AM" src="https://user-images.githubusercontent.com/1134064/105880268-06f0d600-5fb8-11eb-8265-e120a5b3a566.png">

[2021-01-26 18:01] karriebear commented on #1019
This is not being worked on currently. We did update file uploader so that it supports multiple file uploads. While it doesn't allow you to upload a folder, you could upload all the files in a folder at one time.
![ezgif com-gif-maker](https://user-images.githubusercontent.com/24946400/105884442-fa7b7600-5fd5-11eb-9d2c-08605d0b8400.gif)

The main thing we wanted to think through was preservation o

[2021-01-26 20:47] #2543 closed, assigned to vdonato

[2021-01-27 01:43] tvst opened #2667 "Streamlit should show name of current file in disconnect dialog"
# Summary

This dialog used to show the name of the current file:

![image](https://user-images.githubusercontent.com/690814/105930077-cd42be00-5ffd-11eb-98f6-34612efe32e9.png)

# Steps to reproduce

1. Run your favorite app `streamlit run thiago_is_awesome.py`
2. Wait for the browser tab to open, and the app to load
3. Ctrl-c out of the Streamlit server, but leave the tab open

## Expected behavi

[2021-01-27 01:46] tvst opened #2668 "Make PyArrow a dependency and remove warning about PyArrow + Python 3.9"
# Summary

PyArrow recently released version 3.0, which supports Python 3.9.

So we should remove the warning below and make arrow a dependency.

![image](https://user-images.githubusercontent.com/690814/105930326-51954100-5ffe-11eb-846c-6896d045693c.png)

[2021-01-27 04:08] rajpratyush commented on #2479
@randyzwitch I was able to install streamlit with this command as well
conda install -c conda-forge streamlit

apart from creating a virtual environment and then installing through this
conda create -y -n streamlit python=3.7
conda activate streamlit
pip install streamlit

and can you tell me what files should be changed?

[2021-01-27 05:30] nthmost commented on #2661
Hi @ehorcajo -- I might have a couple of ideas for you... would you be willing to share a few lines of code so I can see specifically what you're trying to do?

[2021-01-27 06:56] tvst opened #2673 "Improve printed CLI messages"
When you run a Streamlit app, you get a few messages printed on the terminal. In some extreme cases, you'll see these:

<img width="639" alt="Screen Shot 2021-01-26 at 10 50 30 PM" src="https://user-images.githubusercontent.com/690814/105954456-88cd1780-6029-11eb-916c-f9d82d67f79c.png">

We should flip the order of the following CLI messages to:

1. Welcome to Streamlit (...)
2. For better perform

[2021-01-27 13:13] kantuni commented on #1498
Nope. All of the issues above are resolved.

[2021-01-27 13:13] #1498 closed, assigned to nobody

[2021-01-27 13:19] kantuni commented on #1498
Nope. All of the issues above have been resolved.

[2021-01-27 14:02] randyzwitch opened #2674 "st.beta_columns doesn't document use_column_width parameter"
https://docs.streamlit.io/en/latest/api.html#streamlit.beta_columns

In the example, the parameter `use_column_width` is presented, but it's not part of the docstring. Add the parameter to the docstring and make it clear its usage.

[2021-01-27 14:10] randyzwitch commented on #2674
Hmmm....on second thought, it's not the docstring that's the issue. `use_column_width` is really a widget parameter, but it's usage is probably more important for layout. Should be more obvious in the docs

[2021-01-27 14:53] johntmyers commented on #2656
@randyzwitch just tried again on FF, it crashed the same

[2021-01-27 14:54] kantuni commented on #2667
I have found the [PR](https://github.com/streamlit/streamlit/pull/2364) that broke it. Commenting out `SessionInfo.clearSession()` in `App.tsx` restores the previous behavior.

@karriebear, you know about this more than I do, so please take a look 🙂 .

[2021-01-27 14:56] kantuni commented on #2667
I've found the [PR](https://github.com/streamlit/streamlit/pull/2364) that broke it. Commenting out `SessionInfo.clearSession()` in `App.tsx` restores the previous behavior.

@karriebear, you know about this more than I do, so please take a look 🙂 .

[2021-01-27 14:58] randyzwitch commented on #2656
Thanks for checking, we'll keep taking a look

[2021-01-27 15:01] jroes commented on #2656
I can't reproduce on Safari 14.0.2, but can reproduce on iOS.

I believe there is a hardware and/or system resources factor here, I may
simply have more available memory on my device.

Devices:

iPhone 12, iOS 14.4:
  Safari - Crashing on load after about 20 seconds

MacBook Pro 13" M1, 16gb RAM:
  Safari 14.0.2 - No crash, even with intentionally scrolling to attempt to trigger
  Chrome 87 - No c

[2021-01-27 15:05] johntmyers commented on #2656
I'm on a MacBook Pro, 16" with my browsers.

[2021-01-27 15:31] akrolsmir commented on #2668
See also https://github.com/streamlit/streamlit/issues/2001

[2021-01-27 15:32] danilomendesdias commented on #1848
I'm having this same issue with the conda-forge `0.75.0` version. Is there anything I can do to fix or workaround it?

[2021-01-27 20:10] tconkling commented on #2575
Fixed by #2658

[2021-01-27 20:10] #2575 closed, assigned to nobody

[2021-01-27 21:05] CFrez opened #2676 "`make all-devel` fails at `init: ... protobuf`"
When setting up Streamlit for the first time in a new virtual environment, 'make all-devel' fails when it gets to `protobuf` under `init`.

From [Contributing](https://github.com/streamlit/streamlit/wiki/Contributing)

`install` was removed from this make command in pull request #953

without `install` as part of the command with a clean virtual environment Streamlit doesn't get installed and then

[2021-01-27 21:13] treuille commented on #160
This is great! Could we release this as a component for the components gallery?

[2021-01-28 02:12] vdonato opened #2682 "Fix e2e/Dockerfile to properly replicate the CI env for cypress tests"
This apparently previously worked but ended up breaking at some point, and existing methods of updating snapshot tests (using CI to generate snapshots or `./scripts/scripts/diffmazing_cropper.sh`) all have cases where they either break or the process is relatively painful.