[2022-06-30 17:26] nschenone commented on #4842
Hi @kajarenc some interesting results on my end. I built two images using the repo:
[code]

When I run the M1 version, it runs
[code]

I found that the pages were not showing up correctly, had to replace a line in the Dockerfile to `COPY . .` for the pages to appear. After that change, everything worked perfectly for the M1 image

However, when I run the intel version, I get an error
[code]

This

[2022-06-30 20:17] xihajun commented on #2446
Hi @tdekelver ,

Thanks for the code! That's really helpful. May I kindly ask do you know if it is possible to hide the audio button to make it a background music?

Best,
Jun

[2022-07-01 01:57] gabrieltempass commented on #4897
Hi @jrieke, I'm facing the same problem.

I suspect the `StreamlitAPIException` is thrown because `st.number_input()` must have a purely numerical output, as the [documentation states](https://docs.streamlit.io/library/api-reference/widgets/st.number_input):

<img width="936" alt="image" src="https://user-images.githubusercontent.com/41839984/176802528-f9083f28-eefa-4a43-9971-0249088b9911.png">

W

[2022-07-01 07:28] tdekelver commented on #2446
No did not find anything...

[2022-07-01 08:02] hagsted opened #4913 "Multipage UTF8 file icons shown, but page icon also shown"
### Summary

Some of the UTF8 characters in filenames seems to not be recognized, as the page icon is still shown to the left of the utf8 icon. Resulting in two icons next to each other.

### Steps to reproduce

Give a page in the pages folder a name including e.g. 1️⃣ like this
01_1️⃣_Apox.py

Run the main script.

**Expected behavior:**
I would expect the line in the page list to show:
![image](

[2022-07-01 08:59] christian-cooper-shell opened #4914 "DataFrames in columns intermittently overlapping."
### Summary

I have a multi-column layout, with each column containing a DataFrame with some styling, occasionally when rendering I'm seeing the right-most columns of one DataFrame overlapping the left-most columns of the DataFrame in the adjacent column to the right.

### Steps to reproduce

Code snippet:

[code]

Steps we should take to reproduce the bug:

1. Render on 1820 x 1080 resolution dis

[2022-07-01 10:35] gaspardc-met commented on #4866
+1 on @PaleNeutron 's suggestion,

- having emojis in filename is uncomfortable and seems rather unnecessary to obtain the desired outcome
- It collides with path autocomplete in the terminal, with good practices and linters (like `pylint`) and for good reasons 👍
- defining the pages manually allows for finer page controls (some pages should not be displayed when the webapp is in production, for e

[2022-07-01 16:26] chaberkern opened #4915 "set multipage app emoji in st.page_config not filename"
Currently, for multipage apps, you have to put the emoji in the filename of the individual pages

For instance from your example:

`01_🎈_main_page.py
pages/02_❄️_page2.py
pages/03_🎉_page3.py`

I don't quite like having to put emojis _in filenames_ especially when you allow for a config method in the code itself.

Perhaps having something like `st.page_config(sidebar_icon=)`?

Thanks.

---

Communi

[2022-07-01 17:26] mayagbarnes commented on #4908
Hi @nkoichev, thanks for your submission! 😃

I wasn't able to find any bug in the share functionality, and was able to manually test it successfully. The invited user should received the invitation email within minutes. Could you provide any additional information as to the experienced failure?

Just in case it is helpful, here is the link for our doc on [sharing your app](https://docs.streamlit.i

[2022-07-01 20:16] jscanass commented on #904
+1

[2022-07-01 21:19] jrieke commented on #4915
Hey @chaberkern,

thanks for the feedback! Can I ask what specifically bothers you about having the emoji in the filename? We got this complaint a lot and will probably change it over the next few months, just want to understand a bit better why people don't like this!

[2022-07-01 21:23] jrieke commented on #4914
Hey @christian-cooper-shell,

thanks for reporting this! I see that you are using our old dataframe implementation in Streamlit 1.7. Could you upgrade Streamlit to >=1.10 and see if this still happens? We updated the UI for st.dataframe in 1.10, so maybe this might already fix your problem!

[2022-07-01 21:34] jrieke commented on #4906
Hey @ngmisl,

not sure if I understand your request. I *think* what you mean is that we should set the background of a custom component's iframe to the same color you specify in a custom theme. Is that correct? Also, can you share a screenshot of the component you are using and what it looks like if you apply a theme? That would help a ton to figure out what we can do about this!

[2022-07-01 21:38] jrieke commented on #4901
Hey @marduk2,

thanks for the idea! This seems reasonable, I'll add it to our roadmap. It's not super high priority in my eyes though, so I'd expect this to take a bit longer to fix.

[2022-07-01 21:41] jrieke commented on #4899
Hey @joy-void-joy,

thanks for the suggestion! What would you want to use this for? I could see a value of this in some situations but I could also see this being slightly annoying, since the app probably becomes very laggy if it updates on every keystroke.

[2022-07-01 21:43] jrieke commented on #4892
Hey @Incblob,

thanks for the suggestion! We also heard this from a bunch of other users. Could you tell me what exactly you want to use this for?

[2022-07-01 21:51] jrieke commented on #4868
Hey @cccs-km,

thanks for the suggestion! I think this is nothing we'll ever fix in Streamlit directly, since it seems like a small edge case and we are very cautious to keep our API as simple as possible. I think for 99.9 % of apps out there, having the arrow for the sidebar is the best and most obvious solution.

I'll leave this issue open though in case someone can help you with a CSS hack!

[2022-07-01 21:58] jrieke commented on #4866
Hey all!

Thanks for your feedback, this is super helpful. We definitely want to fix most of the issues you mentioned, since we heard similar feedback from other users. I don't know yet in which way we'll solve it, but we are on it! ;)

[2022-07-01 22:33] mayagbarnes commented on #4914
@jrieke: Unfortunately, looks like this issue is still present with streamlit version 1.10, so we could explore overflow styling for tables:
![Screen Shot 2022-07-01 at 3 14 37 PM](https://user-images.githubusercontent.com/63436329/176973444-1bf0d806-e8ff-4f8c-94ef-2f6d25c564fe.png)

@christian-cooper-shell: I believe you should be able to achieve the intended behavior for your use case by using `

[2022-07-01 22:47] mayagbarnes commented on #4647
Hi @jxust01, thank you for submitting your issue! 😃

I wasn't able to replicate the problem, although I am not using Ubuntu. I used streamlit version 1.10 in Google Chrome in macOS.
Could you try upgrading your streamlit version?
<img width="700" alt="Screen Shot 2022-07-01 at 3 46 14 PM" src="https://user-images.githubusercontent.com/63436329/176975300-48cd780d-107c-4906-8a1c-739840524172.png">

[2022-07-01 22:59] mayagbarnes commented on #4907
Hi @gabriellima-ismart, thank you for submitting your issue! 😃

Could you provide some screenshots of the mobile behavior you're seeing?
I tested it on Chrome desktop w/ Inspect & mobile dimensions, as well as on an iPhone and didn't see any unexpected behavior.

<img width="200" alt="Screen Shot 2022-07-01 at 3 58 49 PM" src="https://user-images.githubusercontent.com/63436329/176976018-65b73a0a-7

[2022-07-01 23:24] mayagbarnes commented on #4798
Hi @kameshkotwani!

Thank you for submitting this issue, your thoughts help us focus our roadmap where people feel the most pain. Although I don't have an Android to directly test, your video certainly demonstrates unintended mobile behavior. We're going to get this in front of our product team to see how we can best integrate this with our future plans.

[2022-07-01 23:39] joy-void-joy commented on #4899
Hey @jrieke , thanks for the answer.

I do not have a specific use case in mind, it's more that when building a streamlit page, I often use streamlit.text_input as something like title or placeholder, and the contrast between every other input giving immediate feedback and st.text_input requiring to press enter is very jarring.
Also since I'm using it for placeholder purposes it is often not very

[2022-07-02 06:45] opensjpd opened #4917 "Page title not set for search engines"
### Summary

Using `st.set_page_config` sets the page title via JavaScript instead of HTML. This means search engines still see "Streamlit" as the page title.

### Steps to reproduce

[code]

Check page source. You see:

[code]

Search engines will index the page as being title "Streamlit" too.

**Expected behavior:**

The title set in a manner that search engine crawlers can use (like the `<title

[2022-07-02 07:54] ngmisl commented on #4906
@jrieke here's the example for the dark theme:

![image](https://user-images.githubusercontent.com/98217124/176991966-95f2b653-c5cb-4133-b9ab-5f2af061c8ba.png)

the background for iframes seems to be set to transparent by default, I'd like to have an option

eg. components.iframe("url", background="dark") or something to manipulate it

[2022-07-02 09:06] Incblob commented on #4892
Hey  @jrieke

Hi, for example I've written a schedule generator that creates meetings based on availabilities and requirements for each meeting.
I have a form for adding new meetings, where you can add all the participants as well as essential people (a workshop can't take place without the person teaching for example).
The essential people are taken from the list of participants, thus the multise

[2022-07-02 20:24] cmayoracurzio commented on #4917
There might be another issue already opened for this, but 100% agree, it would be very helpful to be able to change HTML <title> tag (as well as all metatags) programmatically.

[2022-07-02 20:30] cmayoracurzio commented on #4901
Hey there @jrieke,

Thanks for replying and tagging this properly, appreciate it! Our users will be very happy if this improvement gets made :)

Also consider the other yet related issue which I already added a couple of months ago: [#4671](https://github.com/streamlit/streamlit/issues/4671) (mentioning it in case it makes sense to tackle both at the same time when you get to them).

[2022-07-02 20:53] jrieke opened #4918 "Index in st.dataframe cut off for >10k rows"
### Summary

If you use st.dataframe with >10k rows, the index is getting cut off.

### Steps to reproduce

[code]

<img width="272" alt="CleanShot 2022-07-02 at 22 48 40@2x" src="https://user-images.githubusercontent.com/5103165/177015815-94a747f2-6f52-4184-a7f2-8b38cb412e40.png">

See the last few rows, the numbers in thex index column should be 10000 etc here, but they are getting cut off becau

[2022-07-03 02:45] Heide-B opened #4919 "St.Camera_input doesnt use device camera"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

1. Visit https://heide-b-xdp-linkx-xdp-q0f98p.streamlitapp.com
2. Click Submit Monitoring Sheets
3. Camera should ask for permission and show camera feed. In this case it does not.

**Note**: If you use the sidebar or access it via link (https://heide-b-xdp-linkx-xdp-q0f98p.streamlitapp.com/Submit_Monitoring

[2022-07-03 23:03] phihung opened #4921 "UI does not display when serving at port 3000."
### Summary

Streamlit UI does not display when serving at port 3000

- When running with `--server.port 3000`
- When running inside docker with `-p 3000:8501`
- When running with reverse-proxy to port 3000 (ex: in k8s)

### Steps to reproduce

[code]

Docker file
[code]

Run locally
[code]

Run with Docker
[code]

In K8S
[code]

Everything works fine when changing 3000 to any other port

[2022-07-03 23:44] joy-void-joy opened #4922 "``make build-test-env`` errors when called"
Following the instructions on https://github.com/streamlit/streamlit/wiki/Running-e2e-tests-and-updating-snapshots , calling ``make build-test-env`` results in several errors:

[code]

[code]

[code]

Making it impossible to create snapshots locally. This happened both on Ubuntu and Archlinux and seems to be independant of machine specifications.

[2022-07-04 08:56] christian-cooper-shell commented on #4914
@jrieke @mayagbarnes Thanks for the suggestions and work around guys.

And I'll be sure to add updating to a later version of Streamlit to my ever increasing list of things to do! :)

[2022-07-04 10:11] matkozak opened #4923 "`st.write`/`st.json` render sets as strings"
### Summary

When I try to save a set in st.session_state and write it to the screen using `st.write`, the set
is printed out as a string.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**
[code]
**Actual behavior:**
[code]

### Is this a regression?

No.

### Debug info

- Streamlit version: 1.10
- Python version: 3.8
- Using virtualenv
- OS version: Ubuntu 20.04 on WSL2
- Br

[2022-07-04 11:37] SeekPoint opened #4924 "version confict error when run 'make all-devel' on windows WSL2"
while following the steps in :   https://github.com/streamlit/streamlit/wiki/Contributing

Successfully built termcolor
Installing collected packages: h5py, keras, termcolor, tensorflow-estimator, opt-einsum, flatbuffers, tensorflow-io-gcs-filesystem, wrapt, astunparse, google-pasta, grpcio, keras-preprocessing, protobuf, absl-py, gast, libclang, tensorboard-data-server, pyasn1, pyasn1-modules, rs

[2022-07-04 12:54] joy-void-joy commented on #4922
(For those interested, you can run the e2e tests outside of the docker. It will not work for snapshots but is very useful to debug and test before pushing.

First, at root level:
[code]

Then in another terminal:
[code]

And in yet another
[code]

Then open the corresponding spec. This is also interactive, which is way more comfortable when trying to debug why a test fails)

[2022-07-04 13:08] gaspardc-met commented on #4866
Hey @jrieke ,

Thanks for the update on this issue, available to discuss use cases and why we'd love finer control over the page definition for production web apps 👍

[2022-07-04 13:22] nsorros opened #4925 "Session state not persisted"
### Summary

I am trying to use state to initialise a machine learning model but the initialization script seems to run multiple times while the script is loading and the state seems not to be updated. This is a minimal script to reproduce the behaviour
[code]

I am expecting "Reloading" to appear once, but it appears at least twice and sometimes more, depending on browser or time of day 🤔 Is that

[2022-07-04 14:27] udevnl commented on #455
Very interested in this functionality in streamlit. I found the IDOM framework, which can add a Python callback to any Javascript function. For instance the "onMouseMove" event of a HTML DIV.
https://idom-docs.herokuapp.com/docs/guides/adding-interactivity/index.html

[2022-07-04 20:33] joy-void-joy commented on #4899
I am having a problem with this PR: https://github.com/streamlit/streamlit/pull/4920

One of the test does not pass because of a bug not covered by the test cases. In st_text_input's specs, if one of the field is refreshed several time in a row (for instance by repeatedly typing and entering), then "text input changed" is set to True

I am unsure how I should go forward with my PR. Should I just m

[2022-07-04 21:23] ZeNoonan opened #4927 "pandas.qcut"
### Summary
Blank numbers for pandas.qcut on Streamlit 1.10.0

### Steps to reproduce

Ran the first example here:  https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.qcut.html

Code snippet:

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/streamlit_badge_black_white.svg)](https://issues.streamlitapp.com/?issue=gh-4927)

[code]

[code]

**Expected behavior:**

Runnin

[2022-07-05 00:26] SeekPoint opened #4928 "'make all-devel' failed on mac"
Building wheels for collected packages: cx-Oracle, mysqlclient
  Building wheel for cx-Oracle (setup.py) ... error
  error: subprocess-exited-with-error

  × python setup.py bdist_wheel did not run successfully.
  │ exit code: 1
  ╰─> [12 lines of output]
      running bdist_wheel
      running build
      running build_ext
      building 'cx_Oracle' extension
      creating build
      creating b

[2022-07-05 00:41] alexscott-ff commented on #4178
IMHO might be nicer behavior not to override this at all for plots, unless manually specified. So instead of opt-out via `ignore_streamlit_theme` it would be opt-in.

[2022-07-05 03:44] Natybirecke opened #4929 "Version Mismatch - cffi package"
**Issue:**
when snowflake connector is imported into the .py file in Github python code, i am getting the below error.
Not able to execute any codes related to snowflake.  other imported  libraries are working fine.

**github location :**
https://github.com/Natybirecke/Training_Repo_Bire/blob/main/Training_Repo_Bire.py

streamlit location:
https://share.streamlit.io/natybirecke/training_repo_bire/

[2022-07-05 03:45] Natybirecke commented on #4929
This is impacting my Snowflake training and i have only few days left to complete. so please take the necessary action on how to resolve the above issue. Thanks.

[2022-07-05 04:19] alexscott-ff opened #4930 "Set overflow to scroll for expander content"
### Summary

I'm not sure if this qualifies as a bonafide "bug" but basically, if you output a table that's too wide within an expander element, it will overflow, which doesn't look that nice given the expander has a border and the default table background is transparent.

<img width="1214" alt="Screen Shot 2022-07-04 at 9 19 27 PM" src="https://user-images.githubusercontent.com/89804861/177248629

[2022-07-05 04:46] alexscott-ff opened #4931 "Setting dataframe width doesn't have effect"
### Summary

Providing `st.dataframe` a width doesn't seem to have the desired effect.

### Steps to reproduce

Code snippet:

[code]
<img width="1167" alt="Screen Shot 2022-07-04 at 9 42 00 PM" src="https://user-images.githubusercontent.com/89804861/177250878-ae893618-c6fb-4208-8d63-3a97e6bb804f.png">

That's the output of the table, regardless of whether I give the `width` argument or not.

**Ex

[2022-07-05 13:19] RobertoFN commented on #2399
+1

[2022-07-05 14:17] zachschillaci27 commented on #4915
I second @chaberkern's comment. For me personally, I think Python filenames should adhere to the PEP 8 guidelines - therefore no capital letters or emojis. Also it would be nice to set the sidebar and tab configurations in one place, preferably together in the `st.page_config` call.

[2022-07-05 14:50] chaberkern commented on #4915
Hi @jrieke sorry for the late response (holiday weekend and all).  Agreed with @zachschillaci27 regarding PEP 8 guidelines but a couple other things:

If I'm developing locally and want to to do `streamlit run my_multipage_app.py` it is easy to just type out `my_multipage_app.py`. But if I have to type out `streamlit run 👍_My_Multipage_App.py` it is just difficult (I either need to copy the filena

[2022-07-05 20:06] rua-africa commented on #4020
Same issue here.
Chrome 103.0.5060.114
OS: Windows 10 Pro v21H2

Expected behavior:
Screencast works.

Actual behavior:
The error dialog appears:

Due to limitations with some browsers, this feature is only supported on recent desktop versions of Chrome, Firefox, and Edge.

Any updates @kajarenc ?
Thanks!

[2022-07-05 20:34] tevfikbey commented on #2463
I am trying to create buttons these are inplace one single line on sidebar. However, Trying to create columns on sidebar, seems not possible. Streamlit widgets do columns on vertical side. Therefore, This kind of widgets, would be great for now.

It would be very helpfull for developers who extract monthly periods from datas

[2022-07-06 13:04] lukasmasuch commented on #4918
The automatic width calculation mostly takes values from the top of the table into consideration when calculating the column width. Which is not great for number columns that are already sorted in ascending order. The automatic width calculation in the glide-data grid needs some improvements to support this better.

[2022-07-06 13:12] lukasmasuch commented on #4931
@alexscott-ff Thanks for reporting this issue.

That's indeed the reason why it currently fails to set the width. Unfortunately, there is no good workaround at the moment to fix this with `st.dataframe`. We will soon investigate some time to improve the automatic column sizing, which I assume will also fix this issue.

[2022-07-06 14:00] jrieke commented on #4918
Ok makes sense. I think this is super low priority but just wanted to log it anyway.

[2022-07-06 15:22] randyzwitch commented on #4929
The Snowflake packages generally state you should be using Python 3.8. I would start by setting that version in Streamlit Cloud in the Advanced Settings tab.

[2022-07-06 15:32] martin-hunt commented on #4929
You have to use 3.7.  Here is what happens when you use 3.8:
File "/home/appuser/venv/lib/python3.8/site-packages/numba/core/typing/cffi_utils.py", line 19, in <module>
    ffi = cffi.FFI()
File "/home/appuser/.conda/lib/python3.7/site-packages/cffi/api.py", line 54, in __init__

[2022-07-06 17:35] #4872 closed, assigned to nobody

[2022-07-06 19:41] vdonato commented on #4923
Hi @matkozak,

It seems to me that it's saved as a set in `st.session_state`, and the issue is more with `st.write` printing out the set as a string. I'll update the title/bug description to reflect this.

[2022-07-06 19:53] vdonato commented on #4166
Going to close this as `st.cache` will eventually be replaced by `st.experimental_memo` (once we move `experimental_memo` out of the `experimental` namespace in the next quarter or two), so bugs related to `st.cache` are probably not going to be addressed at this point.

[2022-07-06 19:53] #4166 closed, assigned to nobody

[2022-07-06 19:53] vdonato commented on #1618
Going to close this as `st.cache` will eventually be replaced by `st.experimental_memo` (once we move `experimental_memo` out of the `experimental` namespace in the next quarter or two), so bugs related to `st.cache` are probably not going to be addressed at this point.

[2022-07-06 19:53] #1618 closed, assigned to nobody

[2022-07-06 19:54] vdonato commented on #1590
Going to close this as `st.cache` will eventually be replaced by `st.experimental_memo` (once we move `experimental_memo` out of the `experimental` namespace in the next quarter or two), so bugs related to `st.cache` are probably not going to be addressed at this point.

[2022-07-06 19:54] #1590 closed, assigned to nobody

[2022-07-06 19:55] vdonato commented on #4821
Going to close this as `st.cache` will eventually be replaced by `st.experimental_memo` (once we move `experimental_memo` out of the `experimental` namespace in the next quarter or two), so bugs related to `st.cache` are probably not going to be addressed at this point.

[2022-07-06 19:55] #4821 closed, assigned to nobody

[2022-07-06 19:59] vdonato commented on #4859
Thanks for reporting this @franekp.

We're hoping to move `st.experimental_memo` out of the experimental namespace relatively soon (also, despite it being in the experimental namespace, we haven't really made many significant changes to it since its release), so I'll surface this with the team so that we can look to fix it while doing other work to move the feature into the mainline API (CC @kajar

[2022-07-06 20:20] mayagbarnes commented on #4930
Hi @alexscott-ff, thank you for your submission 😃
Currently working on implementing a fix for this issue, consistent with your proposed solution!

[2022-07-06 21:14] 0xaaiden commented on #4872
I am having the same problem https://burrow-dash.herokuapp.com
streamlit version: 1.10.0
@willhuang1997

[2022-07-06 21:15] 0xaaiden commented on #4872
Your link doesn't work on Safari desktop for me, same error as the one OP mentioned

[2022-07-06 21:48] matkozak commented on #4923
You are correct. I ran across a bug in my own code and jumped to conclusions when seeing this st.write() statement, sorry about that.

[2022-07-06 21:54] mayagbarnes commented on #4803
Hi @Samnouni, thank you for submitting this issue! 😃

Looks like there might have been a change in the rendering structure of `st.markdown` that caused this issue - the code snippet below seems to work (on streamlit version 1.10.0) to address the issue by targeting the `StyledHeaderContent` span tag (instead of the h1 tag that doesn't directly render "My Title"):

<img width="200" alt="Screen Shot

[2022-07-06 21:59] vdonato commented on #4803
Closing this as we don't provide any stability guarantees around CSS hacks using `unsafe_allow_html`, and some tweaks to the code can be used to achieve the desired behavior as per @mayagbarnes's response.

[2022-07-06 21:59] #4803 closed, assigned to nobody

[2022-07-06 22:19] mayagbarnes commented on #4775
Hi @Nemecsek 😃

Thanks for sharing your ideas about `st.metric`. Our mission is to make Streamlit the best way to build data apps, and your thoughts help us focus our roadmap. As we look at improvement to widgets such as metric, we get these requests in front of our product team to see how we can best integrate them with our future plans.

We'll get back to you if we are able to prioritize this wo

[2022-07-06 22:23] mayagbarnes commented on #4921
Hi @phihung! 😃

Thanks for sharing your question! Unfortunately we can't always dig deep and troubleshoot challenges like this on GitHub. We typically use GitHub for feature requests and bug reports.

For troubleshooting help, you can visit our awesome [community forums](https://discuss.streamlit.io/), where thousands of other Streamlit hackers help each other and talk about the amazing things the

[2022-07-06 22:23] #4921 closed, assigned to nobody

[2022-07-07 01:12] ayhaidar commented on #3887
For me, chrome was not rendering Graphviz graphs, worked properly with Edge.

[2022-07-07 02:28] alexscott-ff opened #4937 "selectbox should have option to set both value and label"
### Problem

Often you want nicely formatted, human readable select options for a select box. But for the value that gets captured, you want it to be something else, e.g. a variable name in `snake_case`.

### Solution

Just mimic the behavior of how a `<select>` element works in normal HTML and allow to specific both the value and the label. The label is what is shown to the end user and the value

[2022-07-07 02:30] alexscott-ff commented on #4931
Sounds good, thanks for the quick response @LukasMasuch !

[2022-07-07 02:50] xxwywzy opened #4938 "Highlight Problem about dataframe"
### Summary

When I try the example provided in the doc, I found a unexpected behavior of the `st.dataframe()` function when pass the `style.highlight_max` argument.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

**Expected behavior:**

I expect the highlight_max work well as following:

![image](https:/

[2022-07-07 04:56] alexscott-ff commented on #4120
Just an FYI that I don't believe the [Knowledge Base article](https://docs.streamlit.io/knowledge-base/using-streamlit/hide-row-indices-displaying-dataframe) is correct anymore for `st.dataframe` (it doesn't seem to work); it still works for `st.table` though.

Look forward to seeing the next iteration of `st.dataframe`!

[2022-07-07 05:24] snehankekre commented on #4938
That is very peculiar indeed. In my experiments, the mis-highlighting starts when the number of columns > 11. The mis-highlighting starts on column 2, and with roughly every 10 increments of columns, spreads to the adjacent column. cc @LukasMasuch

- Columns 11-21: 2nd column is mis-highlighted
- Columns 22-30: 2nd and 3rd columns are mis-highlighted
- Columns 31-40: 2nd, 3rd, and 4th columns are

[2022-07-07 06:09] Ansh1222 opened #4939 "IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices"
**Link to doc page in question (if any):**

**Name of the Streamlit feature whose docs need improvement:**

**What you think the docs should say:**

[2022-07-07 07:42] franekp commented on #4859
@vdonato Thank you :)

[2022-07-07 08:29] phihung commented on #4921
Hi @mayagbarnes,
I created the ticket as un **Bug Report**, not an ask for help.
When searching the keyword `3000` in the Issues, I found multiple tickets that may be related to this bug.
But I understand the decision. Thank you for your answer and for the great product.

[2022-07-07 12:08] lukasmasuch commented on #4938
@xxwywzy Thanks for reporting this issue! @snehankekre thanks for looking into this! I was able to reproduce and fix this. There was an issue with how the color values got extracted.

[2022-07-07 13:07] randyzwitch commented on #4939
Hi @Ansh1222 -

This is almost certainly not a Streamlit core library issue, can you open a thread on our discussion forum?

https://discuss.streamlit.io

Best,
Randy

[2022-07-07 13:07] #4939 closed, assigned to nobody

[2022-07-07 13:10] randyzwitch commented on #4937
Hi @alexscott-ff -

The `format_func` parameter should do what you are discussing:

https://docs.streamlit.io/library/api-reference/widgets/st.selectbox

In your simplistic case, you can pass a lambda function to `format_func` that checks for underscores and replaces them with a space

Best,
Randy

[2022-07-07 13:15] randyzwitch commented on #4929
Closing, since this seems like an issue of making dependencies line up correctly with Snowflake and Python internals, not something that Streamlit can explicitly fix.

[2022-07-07 13:15] #4929 closed, assigned to nobody

[2022-07-07 14:27] jrieke commented on #4915
That makes sense, thanks for the feedback!

[2022-07-07 14:29] jrieke commented on #4866
@gaspard-met Yeah actually it would be great to discuss if you have more advanced use cases! Want to shoot me an email at johannes.rieke@snowflake.com, and we can schedule something if you like?

[2022-07-07 15:06] jrieke commented on #4914
Oh yeah that's what I meant, use `st.write` or `st.dataframe` instead of `st.table`. Thx for pointing this out @mayagbarnes. I think at some point we should figure out what we do with `st.table` (if we want to change it to use the same UI as `st.dataframe`, or keep it as is, or even deprecate it).

[2022-07-07 15:18] jrieke commented on #4899
Hey @joy-void-joy,

sorry for the late reply. I've been thinking about this a bit and my gut feeling right now is that we probably don't want to merge this. This doesn't mean that this isn't useful in some situations but we are trying to be very conservative when adding new parameters to our API, so that we don't end up with a ton of features that we need to maintain and that make Streamlit more c

[2022-07-07 15:20] jrieke commented on #4892
That's great feedback, thanks! I'll add this to our list. We probably won't implement forms with interacting widgets during the next few months, but when we get to it, I'll make sure that we consider your input!

[2022-07-07 15:22] jrieke commented on #4906
Can't you just solve that by setting the background color within the component you are adding here? Or are you adding an external URL, over which you have no control?

[2022-07-07 15:24] jrieke commented on #4851
This is intended behavior and I think we want to keep it like this for now. I added it to our list of feedback for multipage apps though, in case we want to reconsider this in the future.

[2022-07-07 15:34] postdatacrc commented on #1996
Dear @randyzwitch, I'm having the same problem that previous users report.

What I have experienced is that when the slider values are not so continuous (ex. when the slider is used for integers associated to months of the year), depending on the speed on which the slider scrolls, the app reboots itself to the initial values.

If I change it very fast, it works as expected, but if I take a bit mor

[2022-07-07 15:37] sbermudezf commented on #1996
Dear @randyzwitch , I'm still having the same problem that previous users report.

What I have experienced is that when the slider values are not so continuous (ex. when the slider is used for integers associated to months of the year), depending on the speed on which the slider scrolls, the app reboots itself to the initial values.

If I change it very fast, it works as expected, but if I take a

[2022-07-07 16:51] #4938 closed, assigned to nobody

[2022-07-07 17:48] kajarenc commented on #4859
@franekp hello, and thanks for reporting this issue.

I can confirm that the issue exists, the cache files are not removed after the TTL expiration disk for `st.experimental_memo` (with `ttl` and `persist="disk"`).

However, my tests have shown that `st.cache` works the same way, when `ttl` is set and `persist=True`(they use very similar code for cache file management)

Could you please explain /

[2022-07-07 18:07] clo-vis opened #4941 "st.date_input: Error handling with invalid date entry"
### Summary

The [example for date_input](https://docs.streamlit.io/library/api-reference/widgets/st.date_input) fails with "This app has encountered an error. "

### Steps to reproduce

1. Open the example for date_input
2. Type 0900/01/01 as date
3. Move the cursor between 0 and 9
4. Type anything (like 5 or . or -)

[2022-07-07 18:22] vdonato commented on #4937
Closing as I believe @randyzwitch's pointer to `format_func` resolves this

[2022-07-07 18:22] #4937 closed, assigned to nobody

[2022-07-07 18:28] randyzwitch commented on #4941
Seems to be working for me:

![Screen Shot 2022-07-07 at 2 26 41 PM](https://user-images.githubusercontent.com/2762787/177843607-15a6feb5-1a19-4b7b-b199-a705507af3fb.png)

Is there a practical issue you are running into here? Pre-1500 or so (when the calendar was standardized to the Gregorian calendar), I'm not sure you can programmatically be doing a lot of data analysis in Python as the calendar

[2022-07-07 19:20] alexscott-ff commented on #4937
Ah apologies that's indeed perfect. I think was confused by the name. Thanks!

[2022-07-07 20:16] clo-vis commented on #4941
![image](https://user-images.githubusercontent.com/25638902/177863868-410edd02-1030-4291-b349-3beef1bd891c.png)

[2022-07-07 20:17] clo-vis commented on #4941
The "practical issue" is "the application crashes with bad input"

[code]

[2022-07-07 20:24] randyzwitch commented on #4941
Ah, it's not about trying to use a really early date, but rather
- having a year < 1000
- keeping the zero and typing another number

That's pretty weird 🤣

[2022-07-07 20:29] clo-vis commented on #4941
This is *one* of the possibilities. If (for example) you type 0022/07/07 then try to fix the error by deleting the first 0 and typing 2, the application crashes too.

[2022-07-07 21:37] joy-void-joy commented on #4899
Hey @jrieke !

Thanks a lot for the answer!
No problems at all, I wrote this PR knowing it might not get merged. I understand the desire to keep streamlit small and approachable.

Great, let me know if I can modify anything or change it to better fit the needs! A very simple example:

[code]

If it can give a little more context, it'd also help resolve https://github.com/streamlit/streamlit/issues

[2022-07-07 22:21] #4914 closed, assigned to nobody

[2022-07-07 22:21] #4930 closed, assigned to nobody

[2022-07-08 06:51] clo-vis opened #4943 "time_input cannot be used with keyboard input only"
### Summary

time_input does not accept some values if you use only the keyboard to enter them

### Steps to reproduce

Open [the example for time_input](https://docs.streamlit.io/library/api-reference/widgets/st.time_input)

1. Type 10:19 and then [Enter]: The app shows "Alarm is set for 10:19:00" (fine)
2. Type 10:20 and then [Enter]: 10:20 is not accepted and you need to select it with the mous

[2022-07-08 07:17] ngmisl commented on #4906
@jrieke external URLs, don't have control over the behavior

[2022-07-08 07:24] 8639sung commented on #1360
following up!

[2022-07-08 14:28] kajarenc commented on #4020
Hello @rua-africa !

We removed the screencast feature from recent versions of Streamlit, since it can easily be replaced by an operating system or third-party tools.

You can record screencast via the ubuntu native tool, as [described here](https://help.ubuntu.com/stable/ubuntu-help/screen-shot-record.html#:~:text=Make%20a%20screencast&text=Press%20Ctrl%20%2B%20Alt%20%2B%20Shift%20%2B,again%20to%

[2022-07-08 14:28] #4020 closed, assigned to nobody

[2022-07-08 15:03] kajarenc commented on #4878
Hello @jonas-nothnagel !

Very interesting issue. In general, the file_uploader widget return value type is `BytesIO`. It is a file-like object, it has the same API as a file object returned from `open` (with mode `r+b`, allowing reading binary data).

So the open question here is how the `pre` module handles that: because in scenario A you use:

[code]
where file is BitesIO object returned by fil

[2022-07-08 19:01] peter-marcouillier-postclick commented on #4659
++, would love to have this.

[2022-07-08 22:04] wfan19 opened #4945 "`experimental_memo` fails to hash input arguments that are class instances"
### Summary
Issue #4417 was closed four months ago, as it was suspected that it shared the root cause as #3944, and as #3944 had been created earlier #4417 was closed in favor of #3944, which has since been resolved. However, #3944 was resolved in #4850 by detecting for `dataclass` instances, and hashing them accordingly. This still does not fix `experimental_memo` for general class instances and

[2022-07-09 05:53] nathanjones4323 opened #4947 "iframe streamlit component works locally, but not on Streamlit Cloud deployment"
### [Iframe Component is Blank on Streamlit Cloud Deploy](https://discuss.streamlit.io/t/iframe-component-is-blank-on-streamlit-cloud-deploy/27523)

I am having trouble getting an iframe to display correctly on my private Streamlit Cloud deployed app.

I am trying to [embed a Metabase dashboard](https://www.metabase.com/docs/latest/administration-guide/12-public-links.html#sharing-and-embedding-da

[2022-07-09 09:05] Potabattula-Vinay-Bhargav opened #4948 "Background Image can't be set"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2022-07-09 11:42] roman-kouzmenko opened #4949 "Multiselect widget loses selected values when list of options is large"
### Summary

When displayed conditionally and using session state and above a certain number of options, the multiselect widget loses selected values starting from the second time it is displayed in the same session. When the number of options is low, it works as expected

### Steps to reproduce

Code snippet:

[code]

1. Click on second checkbox, 1 and 2 will be displayed as selected.
2. Click on

[2022-07-09 17:51] nelsonroque commented on #904
+1

[2022-07-09 18:05] franekp commented on #4859
Hi @kajarenc,

You're probably right, I must have missed that `st.cache` is also broken. Maybe I was using it without `persist=True`, or maybe I just haven't noticed.

Many thanks,
Franek

[2022-07-10 03:59] AaronCreighton opened #4950 "My "manage App" button is missing."
### Summary

Normally it sits at the bottom right of the page. The error reports point there too.  All I currently see is:

![image](https://user-images.githubusercontent.com/36865006/178130707-2c480259-9f1a-4c34-bb9d-59aa02f3a3e2.png)

clicking on this takes me away from the page.

[2022-07-10 04:06] AaronCreighton commented on #4950
Initially,  I thought it could just be that i wasn't logged in. So I logged in but the issues still persists.

I think i get it. When the firefox icon is black its as a user and red means im logged in.

[2022-07-10 04:15] AaronCreighton commented on #4950
it's not back... hmm.. not sure why.

[2022-07-10 04:15] #4950 closed, assigned to nobody

[2022-07-11 07:06] cmartinotti opened #4951 "Button triggers when changing another widget"
Hello, not sure if intended or not, but I feel that the default behaviour of st.button() should be that if clicked it triggers its block of code. It seems that now it's behaving in a weird way in which if you press the button and then another widget it will run the code inside the button block again. Here is an example:

[code]
If i press the button all good, i get the balloons trigger. Then thoug

[2022-07-11 07:11] usuixingyili commented on #4879
Thanks, I have found the reason. It is because the Google Chrome version is not up to date.

[2022-07-11 07:11] #4879 closed, assigned to nobody

[2022-07-11 11:47] TeemCh opened #4952 "Plotly scatter plot pattern shape aren't showing in streamlit"
### Scatter plot pattern shape

I'd like to plot lithology data. For this I use plotly scatter plot with fillpattern argument. It sees the color and the size but doesn't see pattern shape which is list of this kind: ["x", "/", "+", ... , ]
In the Jupyter Notebook everything works just fine. However when I move to Streamlit it doesn't work. I've heard this [problem is solved by updating plot.js ](h

[2022-07-11 14:14] amiracam commented on #1135
Is this now possible ? We have an app built in another language i.e. not Python,  from which we would like to create Streamlit apps, using REST-ish POSTs would be handy

[2022-07-11 17:00] lpliego-gP opened #4955 "duplicated rows in metric summary"
### Summary

data table is showing up with 2 rows for each of the metric and treatment types
https://web-app-goatxpresults-dev-eus.azurewebsites.net/

Code snippet:

NA

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Expect there to only be one row for each treatment , metric combo

*

[2022-07-11 17:34] kajarenc commented on #4945
@wfan19 thank you for reopening this issue. This is a good example, so to be able to restore function value from pickled value we have to restore `foo` object itself, which means that the `Foo` class should be pickable!

You can make it pickable by adding `__reduce__` to your class.

This code snippet should work as expected:

[code]

Is this solution works for you?

[2022-07-11 19:58] randyzwitch commented on #4955
The app link provides a 403, so can you provide a picture of the issue and the code snippet that generates it?

[2022-07-11 20:31] randyzwitch commented on #4947
Resolved: https://discuss.streamlit.io/t/iframe-component-is-blank-on-streamlit-cloud-deploy/27523/5

[2022-07-11 20:31] #4947 closed, assigned to nobody

[2022-07-11 21:23] lpliego-gP commented on #4955
[image: image.png]

On Mon, Jul 11, 2022 at 2:59 PM Randy Zwitch ***@***.***>
wrote:

[2022-07-11 22:53] vdonato commented on #4951
Hi @cmartinotti,

I believe this bug is an issue with `st.balloons` and not `st.button` triggering a second time.

Closing this as it's a duplicate of #4523

[2022-07-11 22:53] #4951 closed, assigned to nobody

[2022-07-11 22:54] vdonato commented on #4622
Closing as a duplicate of https://github.com/streamlit/streamlit/issues/4523

[2022-07-11 22:54] #4622 closed, assigned to nobody

[2022-07-11 22:57] vdonato commented on #4924
Hi @loveJasmine,

This seems to be an issue with your system's local dependencies rather than an issue with Streamlit itself.

Additionally, it's unfortunately quite unlikely that we'll guarantee support for development environments working on WSL2 in the near future given that the maintainer team is all either on MacOS or Linux, and getting many packages compatible with unix-based systems working

[2022-07-11 22:57] #4924 closed, assigned to nobody

[2022-07-12 02:07] jrieke commented on #543
Closing this since we added the ability to serve multiple apps/pages with [multipage apps in 1.10](https://blog.streamlit.io/introducing-multipage-apps/). The behavior slightly differs from what's proposed here but it solves exactly the same problem.

[2022-07-12 02:07] #543 closed

[2022-07-12 02:48] sjskoko opened #4957 "How to use the image function of pdfplumber in streamlit cloud"
When using streamlit cloud, pdfplumber's image-related functions do not work.
We have confirmed that the following error occurs.

![image](https://user-images.githubusercontent.com/77188135/178396209-9105daed-f883-4f3d-9e51-ff62992e06e6.png)

After searching for the cause of the error, it seems that a policy problem occurred during the installation and execution of a program called ImageMagick tha

[2022-07-12 02:50] sjskoko commented on #4957
`
import streamlit as st
import os
import pandas as pd
import numpy as np
import pdfplumber
from PIL import Image
from stqdm import stqdm
from util import *
from caption_extraction import *

st.title('PDF Object Extractor')

#########

uploaded_file = st.file_uploader('Drop your pdf', type='pdf')

# display document

if uploaded_file is not None and st.button('process pdf'):

    with open(os.path

[2022-07-12 06:44] SeekPoint commented on #4924
no，it also happens on MAC

[2022-07-12 07:07] PaleNeutron opened #4958 "Dataframe styler render in frontend is incorrect if table is wide"
### Summary

Dataframe style render in frontend is incorrect if table is wide

### Steps to reproduce

Code snippet:

[code]

We could easily find that cells between column 1 to 3 are colored with red in `st.dataframe` but is correct in `st.table`

![image](https://user-images.githubusercontent.com/8296331/178429363-58daeeff-8cd0-4cc6-ab05-407933714250.png)

[2022-07-12 10:45] claudiogreco opened #4960 "Image not showing from a given URL"
I get a broken link when trying to show an image from the following URL: http://images.cocodataset.org/train2017/000000005635.jpg.

I tried both by using st.Image (e.g., st.Image("http://images.cocodataset.org/train2017/000000005635.jpg")) and by using HTML code written with st.markdown. In both cases I get a broken link. This doesn't happen with other URLs.

Could you please help me?

Thank you s

[2022-07-12 13:02] randyzwitch commented on #4960
Hi @claudiogreco -

If your image is literally at `http://`, then it sounds like a similar issue to this one:

https://discuss.streamlit.io/t/iframe-component-is-blank-on-streamlit-cloud-deploy/27523/2?u=randyzwitch

The solution for that is that you need to serve the image from a https:// link if you are on Streamlit Cloud (I'm guessing, since you didn't specify).

If that's not your issue, the p

[2022-07-12 13:02] #4960 closed, assigned to nobody

[2022-07-12 13:06] randyzwitch commented on #4957
To install system-level dependencies on Streamlit Cloud, you can do the following:

https://docs.streamlit.io/streamlit-cloud/get-started/deploy-an-app/app-dependencies#apt-get-dependencies

In this case, you would add `imagemagick` to your `packages.txt` file and re-deploy.

Best,
Randy

[2022-07-12 13:06] #4957 closed, assigned to nobody

[2022-07-12 15:43] kajarenc commented on #4919
Hello @Heide-B ! Thank you for reporting this issue.
I just tried to use your app, and camera access works as expected.

Most probably you just blocked access to your app once, after which chrome remembered your decision.
You can allow camera access to the specific site again and refresh the page: please read the doc for more information depending on your browser.
https://docs.streamlit.io/knowled

[2022-07-12 15:43] #4919 closed, assigned to nobody

[2022-07-12 15:55] noahharrison64 commented on #904
+1

[2022-07-12 22:43] prontocomputers commented on #4378
hey man you figure this out? maybe some css solution

[2022-07-13 00:08] jrieke commented on #3790
Do you all just want this for the key press event or for anything else? I *could* see that this might be nice but I could also see some complications (e.g. if you're in an `st.text_input`, you need to press enter to get out of that – not sure how that would work together with the form enter press).

[2022-07-13 00:17] jrieke commented on #3587
This should be handled via #4801. Will be released with Streamlit 1.11.

[2022-07-13 00:17] #3587 closed, assigned to nobody

[2022-07-13 01:20] deshetti commented on #543
@jrieke Sorry to comment on a closed issue. what would you suggest in our case where we have multiple apps with multiple pages in each dashboard? https://dashboards.factly.in/

In our case, we are currently serving these dashboards with a homepage that points dashboards to different subdomains for eg:

- https://db-world-heritage-sites.factly.in/
- https://db-atm-stats.factly.in/

We would ideally

[2022-07-13 01:29] jrieke commented on #371
The new `st.dataframe` UI from 1.10 lets the viewer resize columns via drag and drop. I think this fixes 90 % of the problem here. If your still want to be able to set the column width programmatically, please leave a comment 👇 and let me know why. This would help a lot to figure out if we should still add that or not.

[2022-07-13 06:44] wfan19 commented on #4945
Hi @kajarenc sorry for the late reply. Thanks for suggesting the workaround. The thing is, it's not that `Foo` doesn't have `__reduce__()`; it's already inherited from the parent class. If we construct a `Foo` instance without overloading `__reduce__()` and call `foo.__reduce__()` we get the following output:
`(<function _reconstructor at 0x7f82d0c439d8>, (<class '__main__.Foo'>, <class 'object'>,

[2022-07-13 08:01] labdmitriy commented on #3587
@jrieke, is it correct that #4801 will resolve truncation of long text (or will add tooltip for mobile version) only for the options for the choice, not selected options for selectbox/multiselect?
If so, as I understand it will not resolve the issue that was asked?

@stehuang, I am not an expert in CSS (and maybe it is not the best approach) but I found a pretty simple solution (which suits my nee

[2022-07-13 08:34] amhrasmussen commented on #4876
@willhuang1997, I can reproduce (a similar error) with the below code. I first noticed this behaviour when upgrading a larger app from streamlit 1.8 to 1.10.

Possibly explaining the "1 time out of 10" behaviour seen by @LexABzH, I can make the error message go away by keeping a browser client open while restarting server. More concretely:

 1. Run `streamlit run app.py`
 2. Click network url in t

[2022-07-13 09:54] amhrasmussen commented on #4876
With steps in https://github.com/streamlit/streamlit/issues/4876#issuecomment-1182933353 I can also reproduce the exact _json.Scanner error (including the keep-browser-open way of making it go away) using this code:

[code]

In this case traceback also points to streamlit/legacy_caching/hashing.py line 684:

[code]

[2022-07-13 11:34] wildyagup commented on #371
The new st.dataframe enforces column width based on its contents while truncating the header, which leads to "squeezing" of the rendered dataframe and unreadability of the header in some cases. Manual column resizing can partially solve this problem (except for the rightmost column), but it is inconvenient for the user when the number of columns is high. Previous UI allowed the dataframe to use al

[2022-07-13 11:46] lukasmasuch commented on #4958
@PaleNeutron Thanks for reporting this problem. Closing this since the issue is fixed with the upcoming release (see related [issue](https://github.com/streamlit/streamlit/issues/4938) and [PR](https://github.com/streamlit/streamlit/pull/4940)). If the problem still appears with the next release, feel free to open the issue again.

[2022-07-13 11:46] #4958 closed, assigned to nobody

[2022-07-13 13:27] dedonaire opened #4962 "sort column a-z doesn't work"
### Summary

sort column a-z doesn't work

[2022-07-13 14:10] TeemCh opened #4963 "Fix Streamlit Patterns, Hatching, Texture for area plots"
### Summary

There's been problem with displaying hatches/patterns for [filled area plots](https://plotly.com/python/filled-area-plots/) in Streamlit. However, when using bar charts and histogram all the hatches/patterns are working.

**Expected behavior:**

![image](https://user-images.githubusercontent.com/13614869/178753450-902c396b-dba0-4f89-b659-8e318cb1165a.png)

**Actual behavior:**
![image

[2022-07-13 14:34] tomgallagher commented on #744
I'm getting the same error with `coiled`

![image](https://user-images.githubusercontent.com/13630311/178760175-c174ba29-d985-4fe0-a6f5-9c41b362a3f4.png)

[2022-07-13 15:00] joncamgui commented on #904
+1 please!

[2022-07-13 16:40] randyzwitch commented on #4962
Hi @dedonaire -

Can you please provide more information, specifically about what your data looks like, a screenshot that demonstrates what you are talking about, code that replicates the problem, etc. As it stands, there isn't enough information for us to look into.

Best,
Randy

[2022-07-13 18:13] mayagbarnes commented on #4917
Linking some related issues:
* #853
* #2469

[2022-07-13 18:28] mayagbarnes commented on #4948
Hi @Potabattula-Vinay-Bhargav, thanks for your submission! 😃
I think [this discussion](https://discuss.streamlit.io/t/how-do-i-use-a-background-image-on-streamlit/5067) on our forums might be helpful as a workaround.

[2022-07-13 18:33] mayagbarnes commented on #4948
Closing this issue in consolidation with existing open issue:
* #2725

[2022-07-13 18:33] #4948 closed, assigned to nobody

[2022-07-13 19:37] marcjmccoy commented on #4529
bumping this - any solutions?

[2022-07-13 23:52] lukasmasuch commented on #4955
@lpliego-gP  Unfortunately, we cannot see the image in the Github issue. It was just posted as `[image: image.png]`

[2022-07-14 01:08] datalee commented on #611
+1

[2022-07-14 05:16] Zengyf-CVer opened #4971 "Customize colors of the Streamlit badge"
I would like to ask if the color of this card can be customized? Or are there other colors?
[![Streamlit App](https://static.streamlit.io/badges/streamlit_badge_black_white.svg)](https://share.streamlit.io/yourGitHubName/yourRepo/yourApp/)

[2022-07-14 13:38] arkanoid87 commented on #2242
this is sufficient to expose the problem

this should add a pydeck map with Goole Htybrid basemap, but it shows Carto instead
[code]

If I do this, it works
[code]

[2022-07-14 14:47] danielxpecta opened #4972 "Hashing of type `_io.TextIOWrapper`"
### Summary

There is an error while I upload the data to my streamlit app. The error said:

While caching the body of `upload_data()`, Streamlit encountered an
xpecta_1  | object of type `_io.TextIOWrapper`, which it does not know how to hash. I upload the data with MySQL

### Steps to reproduce

Code snippet:

[code]

To run the app I just run streamlit run app.py and the data should upload fine

[2022-07-14 16:39] jiehwany commented on #4876
I am facing the exact same issue and was able to find a work around it "locally" by keeping a browser client open while restarting server as @amhrasmussen mentioned. However, there's no work around it when I deploy it to the AKS remote server. I think this has to do with the newest version of streamlit 1.10. I'd have used older version if I were not using the multipage function that comes with v1.

[2022-07-14 17:05] #4634 closed, assigned to nobody

[2022-07-14 17:37] kajarenc commented on #4972
Helo @danielxpecta !
Thanks for reporting this issue, we will look into it.

Could you please try to use new caching primitives, they should solve this issue.

For MySQL connector you can use `@st.experimental_singleton`, and for caching data `@st.experimental_memo` decorators.
https://docs.streamlit.io/library/advanced-features/experimental-cache-primitives

Please let us know if any feedback!

[2022-07-14 17:42] kajarenc commented on #4945
Thanks, @wfan19 for your response.

Oh, now I get it.

Look's like in general, our hashing fails with function objects.
Let me talk with other developers to try to solve this issue more general if possible.

Replacing that line with `reduce_data = obj.__reduce__()[1:]` solves the problem with simple class instances, but in case we use that, it could produce wrong results if `__reduce__` is already

[2022-07-14 18:33] tvst commented on #2703
Since this keeps coming up (and it's looking more likely than ever that we'll need to remove PyDeck ☹️), I finally filed a feature request with PyDeck about this:
https://github.com/visgl/deck.gl/issues/7141

[2022-07-14 19:01] CedricYauLBD opened #4975 "Add `id` parameter to st.container (and other objects)"
### Problem
I would like to be able to style containers or elements without hacking with nth-child().  This would be easier if it were possible to reference the container by `id` instead of using the generated css class.

### Solution

Looking at the `layouts.py` code, this is non-trivial.  Ideally each object would have an `id` member, which then gets rendered out to the react component as an att

[2022-07-14 19:07] willhuang1997 commented on #4928
Hi @loveJasmine , have you tried running `make min-devel` ? What system are you on?

[2022-07-14 21:01] jrieke commented on #233
We just released `st.tabs` 🥳 See the docs [here](https://docs.streamlit.io/library/api-reference/layout/st.tabs).

[2022-07-14 21:21] estahhan commented on #4592
Hi, I have the same problem. If I have more than 5-6 active maps in one page, only 4 of them would be working fine and the rest will not be showing. I tried placing every pydeck chart in a streamlit expander, but it didn't seem to fix the problem. I am attaching a screenshot of what I am seeing when the chart does not display correctly. Anyone had success with this issue?

![image](https://user-im

[2022-07-14 21:21] sfc-gh-kbregula opened #4977 "Invalid links in contributor guide."
Hello,

I looked through the Wiki for new contributors and ran into a few invalid links.

1. On page https://github.com/streamlit/streamlit/wiki/Style-Guide in a fragment:

	  we have a link:
[code]
	  but this link doesn't work anymore.
2. On page https://github.com/streamlit/streamlit/wiki/Codebase-overview in a fragment:

	  we have a link:
[code]
	  but this link doesn't work anymore.

3. On p

[2022-07-14 22:00] #4663 closed, assigned to willhuang1997

[2022-07-14 22:09] willhuang1997 commented on #4977
@snehankekre

[2022-07-14 23:14] willhuang1997 commented on #4952
Hi @TeemCh , do you have a minimally reproducible example? I tried copying and pasting the code but obviously there's some stuff missing for me to try and test it with updating the plotly.js.

[2022-07-15 00:03] UFO-101 commented on #647
+1

[2022-07-15 07:10] amhrasmussen commented on #4876
It seems that the errors are caused by streamlit erroneously(?) trying to hash code outside the current app directory (for example from Python standard modules like json, logging, ...).

This happens when [_get_main_script_directory()](https://github.com/streamlit/streamlit/blob/develop/lib/streamlit/legacy_caching/hashing.py#L714) returns '' (empty string), instead of the absolute path to folder

[2022-07-15 07:15] snehankekre commented on #4977
Good catch @sfc-gh-kbregula! The broken links have been [fixed](https://github.com/streamlit/streamlit/wiki/_compare/0d66d2350a0c7c50488dc0d5d6d53c6149ea40c3...a0ae1741fa720664d2335fff69145e8662ac1e41).

[2022-07-15 07:15] #4977 closed, assigned to nobody

[2022-07-15 08:14] ahmedbesbes opened #4980 "Customize the search auto-completion when using a selectbox"
Hello Streamlit team!

I recently started building an application to search medical documents: one of the features of the app is the ability to search targets (i.e. proteins, DNA, RNA, etc). Given that each target has an official term and a bunch of synonyms, I wanted to be able to dynamically display the synonyms and the official term in the auto-completion bar of the select box when you start ty

[2022-07-15 08:38] jonas-nothnagel commented on #4878
Dear @kajarenc sorry for the late response, I was on vacation :)

Please find below the preprocessing package I wrote for uploading the documents:

[code]

Your point is very interesting. Now I see that the mistake was partly on my side. The different results where coming since in Scenario A the `haystack document converter` returned an empty value and thus the `pdfplumber` function was called. As

[2022-07-15 11:16] TeemCh commented on #4952
Hi @willhuang1997 , I suggest[ testing pattern fills in Streamlit](https://plotly.com/python/filled-area-plots/#pattern-fills) to see if they will work after updating plotly.js.

[2022-07-15 11:46] quantoid commented on #4825
A simple solution here might be to add a configuration option to specify a local folder for static files, which Streamlit adds to its web server configuration. Then any client can fetch a static file from the server, and we can use http URLs with the `streamlit.image()` function to avoid those pesky 404s.

What do you think @kajarenc ?

[2022-07-15 12:20] snehankekre commented on #904
+1 from more forum users https://discuss.streamlit.io/t/get-path-from-file-uploader/3771/14

[2022-07-15 12:21] jonas-nothnagel commented on #904
+1
Still a very relevant issue and I would also like to express my support on this. Many state-of-the-art document processing libraries expect paths as inputs and it would be great to be able to combine them with streamlit.

My use is that I am building an application that allows users to upload pdf, docx and txt files and further process them with `haystack` which requires paths as input.

[2022-07-15 12:26] jonas-nothnagel commented on #4878
Dear @kajarenc and @willhuang1997

After some further digging, I found the problem to be already mentioned quite a lot by the community. Please see here: https://github.com/streamlit/streamlit/issues/904

I am now closing this now. Thank you very much for your engagement and please excuse the mistake on my side. I hope for the issue above we will be able to find a solution soon.

A temporary fix i

[2022-07-15 12:26] #4878 closed, assigned to nobody

[2022-07-15 13:16] lukasmasuch commented on #4949
@roman-kouzmenko Thanks for reporting this issue. I was able to reproduce it and deployed the snippet [here](https://lukasmasuch-st-playground-issuesgh-4949app-aspjlf.streamlitapp.com/). The problem seems to appear consistently starting with `1830` items. I did some preliminary analysis and the issue seems to be related to our caching mechanism for WebSocket messages. Websocket messages with a cer

[2022-07-15 14:24] amhrasmussen commented on #4876
I've poked the code a bit more and I've found that:
- `_get_main_script_directory()` returns an empty string because `__main__.__file__` is filename only ('app.py') instead of full path ('/path/to/app.py')

The setting of `__main__.__file__` happens in `ScriptRunner._run_script()` through these steps (in the failing case):
1. `main_page_info` is derived from `source_util.get_pages(main_script_path

[2022-07-15 14:56] lukasmasuch commented on #4927
@ZeNoonan Thanks for reporting this issue. I was able to reproduce the issue and there seems to be a problem with the data type in the frontend dataframe component (see the browser error):

<img width="748" alt="image" src="https://user-images.githubusercontent.com/2852129/179249240-3ca26120-d587-4886-bcfd-d38187fdf224.png">

This will require a fix in our dataframe component.

[2022-07-15 15:13] lukasmasuch commented on #4943
@clo-vis Thanks for reporting this issue. Indeed, this seems to be a bug that happens with the following typed values:

XX:2X
XX:4X
XX:5X

It seems that enter is only accepted if there are predefined values for the first minute number. e.g. because there is `XX:30` predefined, all `XX:3X` inputs are allowed.

[2022-07-15 15:23] lukasmasuch commented on #4925
@nsorros Thanks for reporting the issue. Since the `session_state` is bound to a single session, every new connection (e.g. new browser tab) with the app will lead to running this `print("Reloading")` statement. Is this also happening to you with only a single session being connected to the app?

[2022-07-15 15:32] lukasmasuch commented on #4780
@raaaaaymond Thanks for reporting this issue. I was able to confirm that this is not working in Streamlit. However, I'm not sure if the issue is related to Streamlit, since the generated vega_lite snippet is also not working correctly in the vega_lite editor (try it out [here](https://vega.github.io/editor/#/url/vega-lite/N4IgJghgLhIFygHYQLYFN4jSgDlAniAL4A0IKEATgNbygE4ZwhRoAeUIZAzgJYBeTAIwA2AAxlWH

[2022-07-15 16:59] kajarenc commented on #4876
Hello, thanks for reporting this issue!
@xec-abailey, @amhrasmussen we developed new cache primitives that have fewer responsibilities and are designed for more specific cases.

Could you please try to use `st.experimental_memo` or `st.experimental_singleton` for exact same purpose (reading config file)depends on what works better with your business logic

We currently preparing them for productio

[2022-07-15 17:55] kajarenc commented on #4945
Hey @wfan19 !

After discussion with the team, we decide to not add arbitrary class instance hashing code, since it could lead to unexpected results and not stable work for `st.memo`.

But as discussed above, you always can override the `__reduce__` method to make your class objects acceptable for cached function.

Furthermore, in the case of simple class, you can use Data classes https://docs.pyt

[2022-07-15 17:55] #4945 closed, assigned to kajarenc

[2022-07-15 18:11] tylertroy commented on #647
Yes please!

[2022-07-15 19:20] sulaimanvesal opened #4984 "Sidebar Image on Multiplepages"
Hi,

Thank you for the new feature -Multiple Pages- it's quite useful. However, I faced a problem, I want to add a st.sidebar.image which is the logo. However, it always shows the logo at the bottom of page list and not on the top corner.  I tried different things but nothing worked out.

![image](https://user-images.githubusercontent.com/20819071/179296387-5e9cc600-66e2-413c-b3f7-580a54eb3975.png

[2022-07-15 21:59] jrieke commented on #4980
Interesting, I think we never thought about this so far. How would you imagine this to work? Code example would be sweet!!

[2022-07-15 22:01] jrieke commented on #4975
Yes, we considered this but didn't find agreement in the product team yet on how we should best approach CSS customization. Can I ask what you are using CSS customization for? This would help us a ton to figure out use cases and see how we can solve them.

[2022-07-15 22:05] jrieke commented on #4971
Hey! I can't access your app, are you sure it is set to public? Or is the link broken?

In general, no you can't customize the color of individual elements, only of your overall app theme (see [docs](https://docs.streamlit.io/library/advanced-features/theming)). We've been very cautious with color customization so far because we want to make sure every Streamlit app looks great, and colors are a t

[2022-07-15 22:07] jrieke commented on #4917
Yes, we are aware of this problem. Search engine indexability is currently one of our highest priority items and we plan to tackle it during the next few months (see [our public roadmap](https://share.streamlit.io/streamlit/roadmap/#apps-are-indexed-by-google-scoping-speccing)).

[2022-07-15 22:15] vdonato commented on #4917
Closing this as a duplicate(-ish) since a lot of this indexability work is captured by other tickets (some of which were linked here, but I'm fairly certain there are more similar tickets)

[2022-07-15 22:15] #4917 closed, assigned to nobody

[2022-07-16 06:39] Zengyf-CVer commented on #4971
@jrieke You don't need to visit my program because I'm talking about streamli card color, right now it's only black and white, how can I customize the color of this card?

[2022-07-16 18:05] rian-dolphin commented on #4483
Any update on this?

[2022-07-16 18:51] #4949 closed, assigned to nobody

[2022-07-17 11:19] amhrasmussen commented on #4876
Hi @kajarenc,

The new caching functionality looks good, but I was not able to make it work with my existing application. If I can reproduce the details I'll create an issue.

I've modified Streamlit to make the error go away, which allows me to get my app working in our internal setup. Maybe the fix is worth including in general so I've created #4986.

[2022-07-17 12:00] CedricYauLBD commented on #4975
I’m working on building a control panel and would like to be able to group widgets in a box or highlight functionality.

Example below is a series of checkboxes for each of our client repositories (not shown) that has an option to select everything.  The select everything button should be highlighted in someway to indicate its special functionality.

![E94830A2-7781-42B3-B110-22D0706707FF](https:/

[2022-07-17 17:12] cldeluna commented on #904
I will add my own request to the many already here.  Providing an attribute that returns the full file path of the selected file (or files) would be tremendously useful.

[2022-07-17 19:00] fcamaraneto commented on #727
Streamlit web pages follow this structure of having a top bar. For me, this features has more to do with the user experience point of view. I'd prefer to have this possibility in some applications. I'm spending hours trying to find an alternative to tackle with this limitation.

[2022-07-17 23:06] seenickels commented on #1449
@LukasMasuch this is fantastic news. Building in editable components and easy to set up input validations on those edits would also be great :)

[2022-07-18 07:49] lanfeust21 commented on #4975
i also need this feature for managing full sized ag-grid table (not limited to the visible window width)  or multiples ag-grid tables (each table must have its own css) for example

[2022-07-18 08:42] nsorros commented on #4925
thanks for the reply @LukasMasuch. yes, this was happening with a single session. any thoughts as to what might be causing this?

[2022-07-18 13:12] kajarenc commented on #4876
Hey @amhrasmussen, thanks for your PR, we will look into it soon!

I would like to point out that we are planning for new primitives ( `st.memo` and `st.singleton` )to replace the current cache ( `st.cache` ) in the near future.

Therefore, we are very interested in cases where new functionality is found to be broken/insufficient in functionality compared to the previous version!

If you have ques

[2022-07-18 13:36] earmer opened #4988 "SHOULD DO IT FIRST 依赖项描述不清 DEPENCES"

[2022-07-18 13:39] #4988 closed, assigned to nobody

[2022-07-18 18:00] MartinNowak opened #4989 "widget state not synced between multiple pages"
### Summary

I noticed that the widget state for inputs with same keys is not synced when switching pages.
This comes a bit surprising with the [documented](https://docs.streamlit.io/library/get-started/multipage-apps#notes) and observed  shared session state.

### Steps to reproduce

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/streamlit_badge_black_white.svg)](https://issues.st

[2022-07-18 20:31] lukasmasuch commented on #4989
@MartinNowak thanks for reporting this issue! I was able to reproduce it and have deployed a version [here](https://lukasmasuch-st-playground-issuesgh-4989app-z0dekf.streamlitapp.com/). There is indeed an issue related to the widget state which is cleared up after the widgets get removed. This has a negative side effect in combination with multipage apps. The workaround works since `st.session_sta

[2022-07-18 20:46] lukasmasuch commented on #4925
Unfortunately, I'm not able to reproduce this issue :( I only get the `Reloading` print once per session. Are you able to reproduce this issue also with an app deployed on [Streamlit Cloud](https://share.streamlit.io/)?

[2022-07-18 22:10] jrieke opened #4990 "Top align long label for st.checkbox"
### Summary

If you have a long label in `st.checkbox`, the label and the checkbox are center-aligned vertically:

<img width="274" alt="CleanShot 2022-07-19 at 00 03 17@2x" src="https://user-images.githubusercontent.com/5103165/179625075-541800f9-f570-450e-ac0f-b88f113ac601.png">

For `st.radio`, we recently changed this so that the radio button and the label are aligned at the top:

<img width="

[2022-07-18 22:15] jrieke commented on #4990
@imjuangarcia you could also pick this up as a papercut if you have time.

[2022-07-18 22:42] imjuangarcia commented on #4990
@jrieke Sure thing! Will try to sneak it in this week

[2022-07-18 23:44] lukefullard commented on #313
+1 to have this feature integrated in Streamlit.

Are there any downsides to using the in-built tornado server for SSL?

[2022-07-19 00:54] Yuwei9527 commented on #862
+1

[2022-07-19 05:02] ghost commented on #4876
@kajarenc Do the new primitives (`st.experimental_memo` and `st.experimental_singleton`) on v1.11.0 completely replace the cache (`st.cache`) from v1.10.0? It looks like neither of them take all of these three parameters (`ttl`, `allow_output_mutation`, `suppress_st_warning`). `st.experimental_memo` does not take `allow_output_mutation` as a parameter which I need for my app. `@st.cache(suppress_s

[2022-07-19 05:59] fleurdecerisier22 opened #4992 "ModuleNotFoundError: No module named 'pyarrow.lib'"
### I closed due to wrong posting.

I got the error below when using conda with streamlit sharing.
 File "/home/appuser/.conda/lib/python3.7/site-packages/streamlit/type_util.py", line 43, in <module> import pyarrow as pa
 File "/home/appuser/.conda/lib/python3.7/site-packages/pyarrow/__init__.py", line 65, in <module> import pyarrow.lib as _lib
↓
ModuleNotFoundError: No module named 'pyarrow.lib'

[2022-07-19 05:59] #4992 closed, assigned to nobody

[2022-07-19 06:37] mansipatro opened #4993 "not showing anything"
### Summary

when i'm trying to open streamlit app it's not showing anything(only showing please wait).

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behav

[2022-07-19 07:37] willhuang1997 commented on #4873
Hi @BrtSnsn , it was hard to debug this but I was able to do it with the help of my coworker. Sorry for the late reply.

It looks like the bug is being caused by `datetime.now()` because datetime.now() is constantly changing. Just some context: Streamlit works by completely rerunning the script and keeping track of widget ids and those widget ids are a hash of the specific parameters. With that co

[2022-07-19 07:39] willhuang1997 commented on #4993
Hi @mansipatro , can you please some more context to your problem? Is there any code or anything for us to reproduce this issue? Streamlit is still working on my side.

[2022-07-19 07:55] BrtSnsn commented on #4873
Hello @willhuang1997 ,
so I would have to convert the `datetime.now()` into sessionstate parameters that will be cached in order to bypass this issue.
Thank you for figuring out this bug!

[2022-07-19 07:55] #4873 closed, assigned to willhuang1997

[2022-07-19 13:59] goncalocps commented on #3028
This would be very useful for those of us deploying on GCP. Is there any way I could help?

[2022-07-19 14:00] BeaverInGreenland commented on #647
I'd like to get this update aswell !

[2022-07-19 14:51] HongLouyemeng opened #4994 "classCallCheck.js:3 Uncaught (in promise) TypeError: Cannot call a class as a function"
I am combining IOredis with streamlit. The execution of a separate script of the code is successful, but the execution will fail after embedding streamlit

[code]

[2022-07-19 14:57] kajarenc commented on #4876
@dailyole One of the reasons we split the functionality of the cache into two different primitives is because there used to be too much responsibility on it.

Yes, indeed, `allow_output_mutation` is not present in the signature of new decorators, but this is due to the fact that earlier mostly only singletons were created using this pattern (say, to create a connection to a database).
Now, for the

[2022-07-19 17:03] tylertroy commented on #3603
Any plans to address this? +1 for me. It would also be helpful to have a table for widgets to aid in vertically aligning elements in columns though perhaps there is a better way to achieve this.

[2022-07-19 17:06] eokwaro commented on #744
same error here

![image](https://user-images.githubusercontent.com/99884731/179808779-9f9da93c-17bb-471f-86fb-5fe11421b3db.png)

[2022-07-19 17:43] lukasmasuch commented on #4994
@HongLouyemeng Thanks for reporting this issue. Do you have more detailed information you can provide on this error?

[2022-07-19 18:09] HongLouyemeng commented on #4994
Node redis,ioredis etc cannot run on the browser. This is a big bug in the streamlit！This is my conclusion.If you have a better way, you can leave me a message

[2022-07-19 19:37] randyzwitch commented on #4994
Hi @HongLouyemeng -

What @LukasMasuch is asking for is more information about what you are trying to do. As it stands, Streamlit is a _Python_ library and you're trying to run node, so it's not clear what you are trying to do right now.

Are you trying to create a custom component?

[2022-07-19 19:50] HongLouyemeng commented on #4994
Yes,I use the streamlit-aggrid comonent  for data analysis，And I have use **redis,ioredis,async-redis**  to provide a redis interface to the front-end，**Because I want to do some more concise data interaction through redis**. but i have get **constructor cannot call a class as a function**  in **ioredis**,and **connect client error typeerror: d.connect is not a function** in **redis4.2**. I think

[2022-07-19 19:56] willhuang1997 commented on #4873
I think what you would have to do is not have the datetime.now() to be always changing. I'm not sure if caching that would solve your issue. If you try it out and it works, let me know!

[2022-07-19 20:05] HongLouyemeng commented on #4994
I provide it with an asynchronous function of myredis.js to obtain the object of **const client = new Redis (conf) return client** for AgGrid.tsx

[2022-07-19 20:10] randyzwitch commented on #4994
Each Streamlit component is sandboxed from one another for security. So you can't write a component that reads data from another component using JavaScript. The only way to pass data back and forth is between Python <-> JavaScript.

[2022-07-19 20:16] HongLouyemeng commented on #4994
Thanks for your reply😄

[2022-07-19 20:17] #4994 closed, assigned to nobody

[2022-07-19 20:46] JuhyeokSin opened #4996 "st.tabs() error with interactive widgets"
### Summary
Assume that you have multiple (at least two) tabs.
When you select something from a tab that is not the first one, it redirects you to the first tab.
This only happens the very first time. Also, you see that any selection made is still there though.

### Steps to reproduce

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/streamlit_badge_black_white.svg)](https://issues.s

[2022-07-19 22:21] willhuang1997 commented on #4996
Hi @JuhyeokSin it's very weird. I can't seem to reproduce it on my machine. How did you install it through conda? Is this reproducible everytime? I see the video and that does look like buggy behavior.

[2022-07-19 22:41] JuhyeokSin commented on #4996
@willhuang1997 Did you try it by starting with the tab other than the first one (Tab-A)?

[2022-07-19 22:51] jrieke commented on #4904
@PaleNeutron Thanks for reporting this! This is indeed a good idea. We want to work on some improvements to `st.dataframe` in the next few months, I'll see if we can add this to the list!

[2022-07-19 22:56] jrieke commented on #4120
We are going to work on some improvements to `st.dataframe` in the next few months. I'll add this to our list. Maybe we can add a parameter `show_index=True|False` or something similar to `st.dataframe`, since this is a common request.

[2022-07-19 23:10] willhuang1997 commented on #4996
So the first step I tried doing was refreshing the page and then reproducing. Are these the steps you did?
https://user-images.githubusercontent.com/16749069/179863251-8dc08f0d-296a-4eee-aafe-4dcded0f04da.mov

What do you mean by starting with the tab other than the first one?

[2022-07-19 23:12] jrieke commented on #2729
Just tried this and it works for both `st.table` and `st.dataframe`. Closing.

[2022-07-19 23:12] #2729 closed, assigned to nobody

[2022-07-19 23:27] JuhyeokSin commented on #4996
Not sure how you tested on your end but I want you to follow the following steps precisely:
1. Refresh the page
2. click Tab-B or Tab-C
3. click one of the options

Then, you will see that it goes back to Tab-A but remembers the option that you selected.

Btw, I can't open the attached video for some reason.

[2022-07-19 23:28] jrieke commented on #1876
With the new `st.dataframe` released in 1.10, you can double click on a cell to show its entire value. This solves the issue here. Closing.

[2022-07-19 23:28] #1876 closed, assigned to nobody

[2022-07-19 23:41] jrieke commented on #371
@wildyagup Thanks for the input! Agree that the truncated column headers are annoying. We heard that from a bunch of people so there's a good chance we'll fix this in the next few months (and set the column width based on content of both the cells + the column header).

[2022-07-20 00:25] willhuang1997 commented on #4996
Hi @JuhyeokSin , I followed the steps exactly but I couldn't reproduce it. I went onto my phone and also couldn't see the video. However, if you click on it onto your desktop / machine, you should be able to download it. However, for this post, i think it's embed. let me know if it works and you can see it.

https://user-images.githubusercontent.com/16749069/179869776-c0abe073-6f51-4ba8-9cb0-d3a3a

[2022-07-20 05:21] JuhyeokSin commented on #4996
Hi @willhuang1997, I tried with my laptop but it did not work. But now I can see the video. Thanks!
Meanwhile, I rebooted my laptop with a little hope but the bug is still persisting on my end. One weird thing is that I have one team member having the same issue but the other doesn't see the issue. I am not so sure if this is something users specific but it's obviously buggy behavior. I am wonderi

[2022-07-20 06:44] willhuang1997 commented on #4996
Sure @JuhyeokSin ! I can definitely ask. @LukasMasuch , can you possibly try reproducing? or maybe you might have more insight Lukas?

[2022-07-20 06:58] hydrogeoscience commented on #2312
The solution by @yamrzou https://github.com/streamlit/streamlit/issues/2312#issuecomment-863906972 was an absolute lifesaver! I don't understand why this isn't improved by streamlit. Seems to be a fundamental issue if people can't use it ...

[2022-07-20 12:46] mkaut commented on #3887
Does not work for me on streamlit 1.11.0 on python 3.9.1 on Windows - `st.graphviz_chart()` does not seem to do anything.
I tried Firefox and Edge, same result.

I do not think it is a browser issue though, as online examples (such as Streamlit documentation of `st.graphviz_chart()`) work fine in the same browser.

@kmcgrady Can you re-open the issue, or should I open a new one?

[2022-07-20 14:57] #4990 closed, assigned to imjuangarcia

[2022-07-20 15:18] jrieke commented on #4120
Related: #4613

(Leaving this open though because it specifcally asks to do this via pandas styler, which is different from a built-in solution.)

[2022-07-20 15:23] wizzioficial opened #5003 "Deactivate responsiveness of st.columns"
Hi, I'm using `st.columns` on `st.form`.

In mine desktop the widgets align. But in the mobile version not.

I did some tests here and discovered that in the mobile version the app don't create the columns.
Here are the [app link](https://guihungaro-streamlit-bug-streamlit-bug-columns-sk3jnd.streamlitapp.com/) and the [app repo](https://github.com/GuiHungaro/streamlit_bug)

**Desktop version:**

!

[2022-07-20 15:59] Torg-OKHC opened #5004 "Delayed response, reversion to blank screen from last entry upon return to window."
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2022-07-20 16:10] #1812 closed, assigned to nobody

[2022-07-20 16:20] kmcgrady commented on #3887
Hey @ayhaidar and @mkaut .

Confirming, so you are saying you cannot see any of these? These come from our e2e tests that work, so I want to see if these work. We will have to figure out the root cause (we work on Mac/Linux), but some questions that could help.

If you [open the Chrome Developer tools](https://support.airtable.com/hc/en-us/articles/232313848-How-to-open-the-developer-console), do

[2022-07-20 16:20] trikerYext opened #5005 "Secrets Not Working on Deployment"
### Summary

When I try to deploy my app, I'm seeing KeyErrors on all of the secrets I provide. I'm testing this by printing a simple 'secret1' in the first step of my app.

`raise KeyError(_missing_key_error_message(key))
`
### Steps to reproduce
Deploy the app with the following settings:

Repo: https://github.com/trikerYext/optum-reviews/
Branch: Main
Main File Path: Optum-Report-Generator.py
P

[2022-07-20 16:36] louistransfer commented on #4989
I appear to have a similar bug with the pages in the sidebar. My multipage app currently uses authentification with multiple users (I used [this guide](https://docs.streamlit.io/knowledge-base/deploy/authentication-without-sso)). When I authentify, I land on my Home page. However, when I click on one of my pages (either page 1 or 2), the script reloads the Home page instead of loading the page. Wh

[2022-07-20 16:45] lukasmasuch commented on #4996
Unfortunately, I'm also not able to reproduce this. I have also deployed a version on Streamlit Cloud [here](https://lukasmasuch-st-playground-issuesgh-4996app-houxex.streamlitapp.com/). @JuhyeokSin is the issue also happening with the deployed app? There was also [a forum post](https://discuss.streamlit.io/t/stop-switching-tabs-when-i-am-adding-in-a-new-variable-in-tab/27858), which might be rela

[2022-07-20 16:50] JuhyeokSin commented on #4996
Hi @LukasMasuch,
Thank you for sharing all these with me. I read the forum post and it seems to be almost the same issue as I am having. So, I think that it's obvious that it's happening for some special cases but we don't understand the root cause for this now unfortunately.

[2022-07-20 18:33] Bolajiodex opened #5008 "Bug Report"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2022-07-20 18:35] #5008 closed, assigned to nobody

[2022-07-20 18:35] #5004 closed, assigned to nobody

[2022-07-20 19:07] lukasmasuch commented on #5003
@wizzioficial Thanks for reporting this! `st.columns` are built to be responsive, meaning that it will switch to rendering the columns underneath each other at a certain display size. So, this is more of an enhancement request to add some capabilities to deactivate the responsiveness of columns.

[2022-07-20 19:21] ivanmkc opened #5018 "How to force a redraw of earlier elements once state has changed?"
I have an issue where I update a variable that changes which container is drawn:

[code]

The problem is that the `mode` attribute is updated after the "redraw", so I have to it only works if I tap the button "twice". Once to set it, and once to redraw. Even then, the UI and state are out of sync.

What is the correct way to either "force the draw" or have Streamlit detect the state change (like R

[2022-07-20 19:24] mkaut commented on #3887
I can confirm that the example does not render anything at all on my computer. I
tried Firefox and Chrome.

The Chrome debug console shows a lot of errors (log attached).
Looking at them, it looks like the problem is in wrong MIME type of .js files -
is it something that is set system-wide, since it fails on two different
browsers with different engines?

I am on Windows 10.

Best regards,
Michal

[2022-07-20 20:03] jrieke commented on #4984
Hey @sulaimanvesal,

this is nor possible right now but it's on our list of things to improve for multipage apps!

[2022-07-20 20:07] jrieke commented on #4832
These are all great points and they are all on our list of things we want to improve! Don't have a concrete timeline yet but we are aware!

[2022-07-20 20:09] jrieke commented on #4984
Just realized we already have a similar issue (#4848), so I'll close this issue and add your feedback over there.

[2022-07-20 20:09] #4984 closed, assigned to nobody

[2022-07-20 20:10] jrieke commented on #4848
Merging #4984 into this and changing title of this issue to point out that users want text + images above the page nav in the sidebar.

[2022-07-20 20:13] jrieke commented on #4971
Ooh you mean the badge you can insert here on Github. No, we  don't offer a way to customize it. But it's just an image, you can easily download it, change it in any image editor, upload it in your repo and embedd from there.

I'll also change the title of this issue to make it more clear that you mean the badge.

[2022-07-20 20:31] kmcgrady commented on #3887
@mkaut This is super helpful. The good news is this helps with diagnosis. The bad news is that we will likely have to diagnose it on your computer. It looks like, it's refusing to run the script `/vendor/viz/viz-1.8.0.min.js`.

I see [This comment](https://github.com/streamlit/docs/issues/90#issuecomment-611643501) has a suggestion here.

Try running: `python -c "import mimetypes; print (mimetypes

[2022-07-20 20:49] mkaut commented on #3887
Thanks, that's what I was afraid of.
I knew about the bug you mentioned - I found that one first, but as you can see it has been closed as a duplicate of this one.
So yes, the python snippet above returns `('text/plain', None)` on this machine...

I can confirm that fixing the registry entry `HKEY_CLASSES_ROOT\.js` solved the issue.
Unfortunately, registry hacking is not an option if I want to mak

[2022-07-20 21:12] ivanmkc commented on #5018
The workaround is to move the next button out of the hierarchy and before the actual containers. However, this isn't the effect I want. Also, I can't change the button text.

[code]

[2022-07-20 21:18] JuhyeokSin commented on #4996
Hi @LukasMasuch, I just noticed that I haven't shared my answer to one of your questions.
The issue is not happening with the deployed app that you shared with me.

[2022-07-20 21:32] ivanmkc commented on #5018
If we clear this bottleneck, we can unlock very powerful Streamlit apps. The forced top-down nature of the app rendering is very limiting.

[2022-07-20 23:02] Zengyf-CVer commented on #4971
@jrieke
Why not make it red like the logo? I think it looks better this way.

[2022-07-21 00:22] kmcgrady commented on #3887
I'm glad @mkaut that helps you solve the problem if that's not the ideal solution.

I should note that the problem manifests on the client side, BUT the problem is on the _server_ side. Essentially, the Python server, Tornado, is using mimetypes (which is looking at the Windows Registry) and informing the browser the wrong mimetype, which leads to the browser failures. This means that it should no

[2022-07-21 00:31] vdonato commented on #4647
Closing due to inactivity

[2022-07-21 00:31] #4647 closed, assigned to nobody

[2022-07-21 00:32] vdonato commented on #4907
Closing due to inactivity

[2022-07-21 00:32] #4907 closed, assigned to nobody

[2022-07-21 00:32] vdonato commented on #4908
Closing due to inactivity

[2022-07-21 00:32] #4908 closed, assigned to nobody

[2022-07-21 02:07] lukasmasuch commented on #5005
@trikerYext Thanks for reporting this issue. Unfortunately, I'm not able to reproduce this. I have deployed a simple demo app [here](https://lukasmasuch-st-playground-issuesgh-5005app-5aao41.streamlitapp.com/) ([source code](https://github.com/LukasMasuch/st-playground/blob/main/issues/gh-5005/app.py)) and added the secret mentioned in the issue. However, everything seems to work fine for me. Are

[2022-07-21 02:12] lukasmasuch commented on #4993
Closing this since we haven't gotten enough information to reproduce the issue. Feel free to open a new issue or comment here in case you can share more detailed information.

[2022-07-21 02:12] #4993 closed, assigned to nobody

[2022-07-21 11:26] vhoulbreque opened #5009 "Detect if the app is in Light/Dark mode at runtime"
### Problem

While developing custom styling components, it is impossible right now to detect if the app is in Light or Dark mode. I would like to be able to detect what mode the user is viewing the app in in order to choose the correct custom styling.

### Solution

1. Create a new API function: `get_current_style`.
[code]

2. Add this info to `get_config_option`.

### Additional context

Some pe

[2022-07-21 12:16] trikerYext commented on #5005
Hey Lukas,

I just tried again, and its working now! Thanks for looking into this.

Here's the deployed app: https://trikeryext-optum-reviews-optum-report-generator-qmebyi.streamlitapp.com/

I'm running into a separate error related to connecting to Snowflake via SSO:

[code]

Even when navigating to this URL and authenticating through Okta, my hosted app is unable to make a connection. Is it poss

[2022-07-21 12:42] nsorros commented on #4925
One possibly related observation is that if there are multiple tabs of a streamlit then "Reloading" appears once per tab as you have hinted. I sometimes end up with more than one tabs if I have stopped an app and not closed the tab, rerunning sometimes (even though not always) opens a new tab.

If this is the route of the problem, I think this will never be an issue in production and is just an an

[2022-07-21 13:15] nsorros commented on #4925
I was able to reproduce the problem, even though I am not sure exactly why there is a problem. A library that I was using to initialize some models when I was setting the state was creating a multiprocessing pool which in turn was creating an infinite loop of crashes. Minimal code to reproduce:
[code]

This can be fixed by disabling the multiprocessing on the library end but I am wondering whats c

[2022-07-21 15:01] ysraell commented on #313
+1 Please, put this features as soon as possible!!

[2022-07-21 16:52] msquaredds commented on #647
+1

Also I'm not sure if this should be a separate request but it would be nice to have a multiline version of this too. My use case is having a table/grid with each cell as a user input box. I know the team is working on making it so st.columns can/will keep rows aligned, so potentially this is related to that or maybe there could be something like st.table where we can specify which cells are st

[2022-07-21 23:08] chicolucio opened #5013 "Allow Katex extensions"
### Problem

I would like to render chemical formulas in my app. I see [here](https://docs.streamlit.io/library/api-reference/text/st.latex) that Streamlit uses KaTeX to render LaTeX. However, the [mhchem](https://github.com/KaTeX/KaTeX/tree/main/contrib/mhchem) LaTeX package is not provided in the core KaTeX. It is provided as an [extension by KaTeX](https://github.com/KaTeX/KaTeX/tree/main/contr

[2022-07-21 23:26] vdonato commented on #4972
Hi @danielxpecta,

Quick question: do you happen to be running Streamlit in WSL? This may have the same underlying issue as #4876, which I'll be hoping to look into fixing soon.

[2022-07-22 02:55] Natybirecke opened #5015 "Version"
jgjhgjhg

[2022-07-22 02:55] #5015 closed, assigned to nobody

[2022-07-22 03:00] Natybirecke opened #5016 "Version Mismatch in the CFFI Packages"
Hi Team,

I am facing the below issue in the streamlit app.  Please help on this as i am not able to proceed with the snowflake training.

Error:
-------

/home/appuser/.conda/lib/python3.7/site-packages/cffi/api.py", line 54, in init

raise Exception("Version mismatch: this is the 'cffi' package version %s, located in %r.
When we import the top-level '_cffi_backend' extension module, we get versi

[2022-07-22 06:29] johannes-mueller commented on #904
+1

For example pyVista requires a filename instead of an IO.

see https://docs.pyvista.org/api/readers/_autosummary/pyvista.get_reader.html

[2022-07-22 07:08] jonas-nothnagel commented on #904
As outlined in this [issue](https://github.com/deepset-ai/haystack/issues/2824), An intermediate solution may be to use the [tempfile](https://docs.python.org/3/library/tempfile.html) python module to save the file temporarily in a virtual folder. Then pass the virtual path name to the downstream task. It has worked for me.

[code]

[2022-07-22 11:13] snehankekre commented on #4120
Thanks for flagging the docs article @alexscott-ff! I've added a note saying the workaround does not work for `streamlit>=1.10.0`: https://github.com/streamlit/docs/pull/440

[2022-07-22 12:12] as1mple opened #5019 "Сopy to clipboard does not work in Spaces"
### Summary

The functionality of copying dataframe elements(used to display the dataframe - st.dataframe) does not work when using containerization (if run on the local host - everything works).

### Steps to reproduce
Create a file that will use the following code:

import pandas as pd
import streamlit as st

st.dataframe(pd.DataFrame({"Example": [1, 2, 3]}))

1. Run the program using the docker

[2022-07-22 14:02] lukasmasuch commented on #4989
@louistransfer The issue in your case for this behavior might be that you are importing the home module:

[code]

This will automatically run the module script and execute all `st` commands in home the first time the module is loaded.

[2022-07-22 14:11] danielxpecta commented on #4972
This happen when I run streamline in a Virtual Machine. I don't know the os of the virtual machine right now but the experimental_memo and experimental_singleton did'nt work. I downgrade the streamlit version to 1.8.1 and then it works.

[2022-07-22 14:30] raybellwaves commented on #4639
Closing as 2.4.3 is now supported.

[2022-07-22 14:30] #4639 closed, assigned to nobody

[2022-07-22 16:33] kajarenc commented on #4063
@knorthover hello hello!

I tried to test it with your interactive example

[code]

And it works correctly (prints `Out[4]: <streamlit.caching.memo_decorator.MemoAPI at 0x112af51f0>` for `st.experimental_memo` line.

Could you please confirm that issue still exist for `st.experimental_memo` for `streamlit==1.11.0`?

[2022-07-22 16:46] kajarenc commented on #4825
@quantoid yep, thanks for the suggestion!
Yes, currently, an `InMemoryFileManager` serves files for `st.image`.

I think in the future we should add/think about the ability to serve static files directly from the disk without loading them to memory, so agree with you at that point.

[2022-07-22 17:40] kajarenc commented on #4538
Should be fixed with the last PR!

[2022-07-22 17:40] #4538 closed, assigned to nobody

[2022-07-22 18:05] msquaredds opened #5020 "A true print to PDF feature"
### Problem

I use streamlit to create tools for non-technical users to do analytical jobs. The resulting pages of their analyses would ideally be shared with others in a static means, such as PDF. However, right now there is no way to do this well or efficiently.

What I've tried:
- Chrome: print to PDF, which normally doesn't work since it'll do something like cut off part of the current page.
-

[2022-07-22 18:39] jrieke commented on #2058
Quick update: we are working on letting the user/viewer resize the sidebar via drag and drop. Will come out during the next 1-2 months!

[2022-07-22 20:44] louistransfer commented on #4989
Thanks a lot @LukasMasuch, importing all necessary variables in the session state instead of importing the Home module fixed my reloading issue.

[2022-07-23 00:09] jrieke commented on #4913
Noting here that there's also a related issue with Chinese characters, see [this comment on the forum](https://discuss.streamlit.io/t/introducing-multipage-apps/25986/39?u=randyzwitch).

[2022-07-23 00:49] vdonato commented on #4955
Closing as there isn't anything actionable we're able to do with this bug report.

[2022-07-23 00:49] #4955 closed, assigned to nobody

[2022-07-23 01:00] SeekPoint commented on #4924
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/yuanke/.local/share/virtualenvs/lib--z0dkhkC/lib/python3.8/site-packages (from packaging>=19.0->build->pip-tools) (3.0.9)
Installing collected packages: typing-extensions
  Attempting uninstall: typing-extensions
    Found existing installation: typing_extensions 4.3.0
    Uninstalling typing_extensions-4.3.0:
      Successfully uni

[2022-07-23 03:55] chuanenlin opened #5024 "Altair chart re-renders despite having @st.cache"
### Summary

I am visualizing an Altair chart in a Streamlit app. Specifically, I am using `altair_component` from the [streamlit-vega-lite repository](https://github.com/domoritz/streamlit-vega-lite). This allows me to get the ID of what data point the user selects. The issue is that when I hover over different data points, the entire Altair visualization re-renders sometimes, despite using `@st.

[2022-07-23 13:20] #4540 closed, assigned to kajarenc

[2022-07-23 20:52] CarloNicolini commented on #4842
Same issue persists for me, trying to deploy my app on docker on M1:

This is the dockerfile

[code]

I build my docker as

`docker build -f docker/Dockerfile --platform linux/amd64 . -t app_ocr`
and run it as:

`docker run --platform linux/amd64 -p 8501:8501 -it app_ocr`

The error persists.

Docker desktop version 4.10.1 (82475), M1 Pro, MacOS 12.3

[2022-07-24 11:40] mansipatro commented on #4993
Just getting a white screen with please wait..
No code has been shown

On Thu, 21 Jul 2022, 7:42 am Lukas Masuch, ***@***.***> wrote:

[2022-07-24 14:48] pooja97 opened #5025 "streamlit frontend disconnects when reading file from gcp"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

bucket_name = "timeseries_data_storage"
    file_path_1 = "precip_data/precip1.zip"
    file_path_2 = "precip_data/precip2.zip"
    file_path_3 = "precip_data/precip3.zip"
    file_path_4 = "precip_data/precip4.zip"
    file_path_5 = "precip_data/precip5.zip"
    file_p

[2022-07-25 01:18] mzeidhassan commented on #904
+1
any update on this?

[2022-07-25 01:46] minoyjose opened #5027 "Getting a Javascript error on trying to display a table using st.table()."
### Summary

On trying to create a Frequency Distribution table I am able to get the desired output in the terminal, but I get a Javascript error while trying to render the table in the Streamlit UI.

### Steps to reproduce
Run the following code snippet below

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please

[2022-07-25 05:33] turner11 commented on #4915
First - thanks for the great job! Streamlit & multi pages are awsome!

2 draw backs for me with the icon in the file name:
1. As was said before - Its hard to run the app from command line.
2. I am trying to call the app from my test suite - but the icon (or the sorting prefix for that matter) prevents importing the file.

[code]

[code]

[2022-07-25 06:29] snehankekre opened #5028 "List supported languages for syntax highlighting with `st.code`"
**Link to doc page in question (if any):** https://docs.streamlit.io/library/api-reference/text/st.code

**Name of the Streamlit feature whose docs need improvement:** `st.code`

**What you think the docs should say:** The docs should provide a list of all supported languages for syntax highlighting.

[2022-07-25 06:56] snehankekre commented on #5028
This issue was first highlighted in a forum thread: https://discuss.streamlit.io/t/st-code-syntax-highlighting-types/28178

[2022-07-25 07:29] mh0w opened #5030 "Suggestion: allow the 'Get help' and 'Report a bug' buttons to link to email addresses"
mailto:example@example.com and example@example.com currently yield the following errors when the Streamlit page loads in the browser, respectively:
`StreamlitAPIException: "mailto:example@example.com" is a not a valid URL!` or `StreamlitAPIException: "example@example.com" is a not a valid URL!`

[2022-07-25 09:04] EnriR89 commented on #4859
Same issue for me as well, using st.cache with ttl of 24hrs and persist=True. Data is never updated after initial run.

Any news about a potential fix?

[2022-07-25 10:17] gbilder opened #5031 "changing label of selectbox upon selecting a new value from the selectbox, results in wrong selection"
### Summary

Dynamically updating the label of a `selectbox` when a new selection is made sometimes results in the wrong selection being recorded in the menu. This seems to only occur the first time the selectbox is used in a session.

### Steps to reproduce

- run the code snippet below

the default language selected will be "en" and the `selectbox` label will  read "label in en"

- select "de" f

[2022-07-25 11:07] #5028 closed, assigned to nobody

[2022-07-25 11:30] dohrenstein commented on #371
One other change which would be very useful is the ability to see the multi-index names - e.g. after df.pivot_table with columns=list(). Otherwise some context is lost.

[2022-07-25 18:08] vdonato commented on #5031
Hi @gbilder,

This is expected behavior. The ID of a widget is generated using the arguments passed to it, so changing its label changes the ID of the widget itself, which means that an effectively new widget will be created. See point 4 in the [advanced widget semantics doc](https://docs.streamlit.io/library/advanced-features/widget-semantics).

While this behavior is sometimes surprising it, cha

[2022-07-25 18:08] #5031 closed, assigned to nobody

[2022-07-25 18:09] vdonato commented on #5016
Hi @Natybirecke,

As far as I can tell, this is a system package version incompatibility, which isn't something that we can fix in the Streamlit library itself.

[2022-07-25 18:09] #5016 closed, assigned to nobody

[2022-07-25 18:10] #4296 closed, assigned to vdonato

[2022-07-25 18:10] #4952 closed, assigned to nobody

[2022-07-25 18:32] kajarenc commented on #4842
Hello @CarloNicolini !

Could you please build your docker image without specifying the platform, just
`docker build -f docker/Dockerfile . -t app_ocr`

Please let us know if this works!

[2022-07-25 18:54] lukasmasuch commented on #5009
@vinzeebreak Thanks for suggesting this feature, this would definitely be useful! Unfortunately, it might be a bit more complex to implement since we currently do not have the info in the backend on which theme is selected. Currently, only the frontend knows about the selection.

[2022-07-25 22:46] vdonato commented on #5025
Hi @pooja97,

Could you provide more information on what's happening here? Preferably a minimal code snippet that reproduces the issue. Currently, there's nothing actionable present in this issue.

[2022-07-25 22:55] vdonato commented on #4962
Closing due to inactivity

[2022-07-25 22:55] #4962 closed, assigned to nobody

[2022-07-25 22:55] vdonato commented on #4928
Closing due to inactivity

[2022-07-25 22:55] #4928 closed, assigned to nobody

[2022-07-25 23:04] vdonato commented on #4909
Closing as this should be fixed by #4987 (looks like the issue wasn't linked properly, so it didn't auto-close)

[2022-07-25 23:23] vdonato commented on #3780
Closing as we're getting closer to moving `st.memo` and `st.singleton` out of the `experimental` namespace, and because of this it's unlikely we'll be fixing any non-critical bugs with `st.cache`

[2022-07-25 23:23] #3780 closed, assigned to nobody

[2022-07-25 23:25] vdonato commented on #3739
Closing as we consider the bootstrap module internal, so any weirdness that may occur when using the `run` method directly isn't something we'll likely be looking to fix.

[2022-07-25 23:25] #3739 closed, assigned to nobody

[2022-07-25 23:29] vdonato commented on #4187
Closing as stale

[2022-07-25 23:29] #4187 closed, assigned to nobody

[2022-07-26 02:05] rapatel0 commented on #2356
Putting this here as it solved the problem for me. Just need to upgrade pip and it works fine.
`python3.9 -m pip install --upgrade pip`

[2022-07-26 02:11] Natybirecke commented on #5016
Could you please suggest where i can fix this if not in streamlit.

[2022-07-26 02:26] Natybirecke opened #5037 "Version Mismatch CFFI Python packages in streamlit"
Issue:
when snowflake connector is imported into the .py file in Github python code, i am getting the below error.
Not able to execute any codes related to snowflake. other imported libraries are working fine.

github location :
https://github.com/Natybirecke/Training_Repo_Bire/blob/main/Training_Repo_Bire.py

streamlit location:
https://share.streamlit.io/natybirecke/training_repo_bire/main/Train

[2022-07-26 03:33] nicedouble commented on #727
shiny has navbar component,i need this feature in streamlit!
i use css and bootstrap to create a navbar for my multiple pages app.
![1658806514201](https://user-images.githubusercontent.com/40421045/180917540-ee1ceed4-aee6-48f8-b134-77290dad7ce2.jpg)

[2022-07-26 03:41] nicedouble commented on #726
shiny has navbar component,i need this feature in streamlit!
i use css and bootstrap to create a navbar for my multiple pages app.
![image](https://user-images.githubusercontent.com/40421045/180918207-b97ef69d-4455-42b0-a7d5-779a637d58d4.png)

[2022-07-26 06:13] #4876 closed, assigned to nobody

[2022-07-26 06:16] vdonato commented on #4972
Hi @danielxpecta,

I'm not 100% certain, but from your description of the issue and the fact that this used to work, I'm pretty sure that the root cause of this issue is the same as that of #4876, so this should have been fixed by #5023.

The fix should be released in the next few weeks in our August release.

[2022-07-26 06:16] #4972 closed, assigned to nobody

[2022-07-26 06:34] Vitahabtc opened #5039 "Bug"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2022-07-26 08:50] Mjboothaus commented on #268
Hi - used your Gist and it works excellently. Nice work! :)

I'm wondering as I have output which is long (which I don't have control over) - could I overwrite one line at a time rather than the text just scrolling down the page?

Cheers,
Michael

p.s. I am more of a Data Scientist rather than a Computer Scientist!

[2022-07-26 09:06] Letstry2code commented on #2107
Thanks.

[2022-07-26 13:34] #4963 closed, assigned to nobody

[2022-07-26 15:32] #5039 closed

[2022-07-26 15:33] astrowonk opened #5041 "Server headless detection doesn't play nicely with ssh port forwarding"
### Summary

The documentation says that `server.headless` mode is detected on linux when DISPLAY is but when I ssh in from windows either via git-bash ssh or via VS Code, the $DISPLAY variable echos empty but server.headless appears to be on (Localhost url is not displayed, and no attempt to open a browser.)

Related: headless behavior doesn't work well when developing with VS Code SSH remote. VS

[2022-07-26 15:50] Vinno97 opened #5042 "⚖ emoji in filename is incorrectly displayed in multi-page app sidebar"
### Summary

I have a multi-page streamlit app with a file called `01_⚖️_some_page.py`. But instead of seeing `⚖️ some page` in the side bar , I get `⚖ some page`.

### Steps to reproduce

1. Create a multi-page app
2. Create a page called `01_⚖️_some_page.py`
3. Open the browser and observe `⚖ some page`

**Expected behavior:**

I'd expect to see
![afbeelding](https://user-images.githubuserconten

[2022-07-26 16:01] lukasmasuch commented on #5037
@Natybirecke Thanks for reporting this issue. Unfortunately, I'm not able to reproduce the described problem with the provided code ([here is my deployed version of the code](https://lukasmasuch-st-playground-issuesgh-5037app-92fxn0.streamlitapp.com/)). Have you tried to reboot the app? Which python version have you used in Streamlit Cloud?

[2022-07-26 16:38] RavitejaBadugu commented on #4001
Did anyone find the solution? I followed the above URL  mentioned by @ifarai. But no use.

[2022-07-26 17:01] trevorsweeney commented on #3887
After changing registry entry HKEY_LOCAL_MACHINE\Software\Classes\.js Content Type to `text/javascript`, I still receive a console error for MIME type `text/plain` unfortunately.

[2022-07-26 17:04] lukasmasuch commented on #5027
@minoyjose Thanks for reporting this issue. I was able to reproduce the mentioned issue with the following code:

[code]

<img width="725" alt="image" src="https://user-images.githubusercontent.com/2852129/181067047-5c2c0e7e-4ff1-489a-9ba6-4fa5eed73e3e.png">

The `.value_counts()` gives me another issue:

[code]

<img width="725" alt="image" src="https://user-images.githubusercontent.com/2852129/1

[2022-07-26 17:10] ghost commented on #3887
After changing registry entry HKEY_LOCAL_MACHINE\Software\Classes\.js Content Type to `text/javascript` I still receive console error for MIME type `text/plain` unfortunately.

[2022-07-26 17:26] kpister commented on #813
@randyzwitch Could you explain what you mean by this? I am not an expert with streamlit.
I'm working now on a 3d point cloud viz that I would like to use streamlit to share.

[2022-07-26 17:42] schaumb commented on #268
Hi Michael,

I extended the gist with 2 more parameters:
`max_buffer` (default is `None`) and `buffer_separator` (default is `'\n'`).

It can be used as following:

[code]
These new parameters truncates the stdout to maximum `max_buffer` character (in this example only `55`). If log extends this size, we rotate the logs.
If `buffer_separator` is not set to `None`, we split the log on the first occ

[2022-07-26 17:48] lukasmasuch commented on #5024
@chuanenlin Thanks for reporting this issue! I think the issue is with a race condition we had with Streamlit version `1.9` & `1.10` that sometimes leads to the widget state being dropped. We fixed it in `1.11` (see this [PR](https://github.com/streamlit/streamlit/pull/4882)), so my first suggestion would be to update the Streamlit version of the demo app.

Does the issue still exist for you with

[2022-07-26 18:06] lukasmasuch commented on #5019
@as1mple Thanks for reporting this issue. To fix this, Huggingface would need to add the `clipboard-write` permission to the iframe `allow` property in their Space frontend:

[code]

I'm closing this issue since we cannot do anything on our side to fix this. The best way to get this fixed would be to reach out to the Huggingface team and report this issue to them.

[2022-07-26 18:06] #5019 closed, assigned to nobody

[2022-07-26 18:14] lukasmasuch commented on #5018
Hey @ivanmkc, I think the mentioned issue can be solved by using the [session state](https://docs.streamlit.io/library/api-reference/session-state). Every interaction with an app triggered a full rerun of the script, which basically resets all script objects. The session state is the way to go to keep some state between reruns. Does the session state help with your issue?

[2022-07-26 18:17] lukasmasuch commented on #4819
@fredzannarbor Thanks for suggesting this enhancement! I agree that this could be useful in some situations. I have forwarded this suggestion to our product team.

[2022-07-26 18:47] randyzwitch commented on #5037
Please see the Snowflake connector docs, which highlights how you need to install dependencies to ensure they work correctly with your version of Python:

https://docs.snowflake.com/en/user-guide/python-connector-install.html#step-1-install-the-connector

[2022-07-26 18:47] #5037 closed, assigned to nobody

[2022-07-26 19:28] kmcgrady commented on #3887
@trevorsweeney I believe it should be `application/javascript`, but l remember from https://github.com/streamlit/docs/issues/90#issuecomment-611643501 There's two "spaces" the user space and all spaces? Might need to modify it in two places.

I'm not an expert in Windows so if someone knows how to solve it. Please do! :-)

[2022-07-26 20:31] mkaut commented on #3887
@trevorsweeney I found (in different fora online) two additional registry keys that could have an effect: `HKEY_CLASSES_ROOT\.js` and `HKEY_CURRENT_USER\SOFTWARE\Classes\.js`.
And I used `text/javascript` for `ContentType`.

[2022-07-26 21:16] lukasmasuch commented on #5042
@Vinno97 Thanks for reporting this issue! I was able to reproduce it. Indeed, this seems to be a weird problem on how emojis are handled that also have a corresponding text style variant. This also happens with a few other emojis like ▶️. I did a quick read-up on this issue and found more info [here](https://stackoverflow.com/questions/32915485/how-to-prevent-unicode-characters-from-rendering-as-e

[2022-07-26 21:38] lukasmasuch commented on #4925
Thanks for providing all the information.

this also happens a lot to me 😄

Closing this issue since we do have some other issues already open related to the multiprocessing issue with streamlit:
- https://github.com/streamlit/streamlit/issues/4788
- https://github.com/streamlit/streamlit/issues/1012
- https://github.com/streamlit/streamlit/issues/1906

Maybe you can find some help in there or add

[2022-07-26 21:38] #4925 closed, assigned to nobody

[2022-07-26 21:41] lukasmasuch commented on #5013
@chicolucio Thanks for this suggestion!

I agree that this way would be the best to solve this specific issue, and it seems to be a simple addition to our `st.latex` command. I have forwarded this to our product team.

[2022-07-27 00:20] kmcgrady commented on #3635
Hey @benlindsay, @madshaven, and @nflaig  I think we were able to get this closer to similar state. Feel free to test it out. I am going to close this ticket as fixed. Let me know if you see something.

[2022-07-27 00:20] #3635 closed, assigned to nobody

[2022-07-27 00:22] vdonato commented on #5041
Hi @astrowonk,

I think the behavior is as the documentation specifies. The output of `streamlit config show` is
"Default: false unless (1) we are on a Linux box where DISPLAY is unset, or...", which matches up with the behavior observed (although I do agree that the description could probably be reworded for clarity).

[2022-07-27 00:26] astrowonk commented on #5041
Ooof, ok I misread and thought it said _set_ not _unset_. My apologies.

My broader point about this auto-headless behavior being unfriendly to the VS Code + ssh remote environment remains, however. I have to manually tell it to run in `server.headless false` to get the behavior that I think most Code users would want. (i.e. use port forwarding).

[2022-07-27 00:28] kmcgrady commented on #2695
Closing this as I believe the recent release solves this race condition created. Let us know if you can continue reproducing it.

[2022-07-27 00:28] #2695 closed, assigned to nobody

[2022-07-27 00:29] kmcgrady commented on #4345
This has been implemented for cloud and should work as expected. Let us know if there is a problem. @Bomme

[2022-07-27 00:29] #4345 closed, assigned to nobody

[2022-07-27 00:33] kmcgrady commented on #3903
Closing this as it seems resolved. Let us know if there's an issue.

[2022-07-27 00:33] #3903 closed, assigned to nobody

[2022-07-27 00:37] kmcgrady commented on #1259
I believe this is resolved with the `key` param added to ensure the options do not affect the widget itself. Closing this issue, but let us know if you see the issue.

[2022-07-27 00:37] #1259 closed

[2022-07-27 00:39] kmcgrady commented on #586
This has. been resolved with our updates to React Markdown

[2022-07-27 00:39] #586 closed

[2022-07-27 00:43] vdonato commented on #5041
Ah, okay. In that case, let me reopen this as an enhancement and change the title appropriately.

Note that I do think that this will end up quite far down in the priority list as it is still possible to have things play nicely with VS Code + ssh, it's just that having to specify the flag manually is inconvenient

[2022-07-27 01:50] benlindsay commented on #3635
Awesome! I just checked my demo apps I shared above and they both ha e the expected behavior without my having to change anything. Thanks!!

[2022-07-27 05:43] nicedouble commented on #1567
+1

[2022-07-27 06:24] teddywaweru commented on #922
Bump - wondering if there was a resolution on how to deal with this. Though it really wouldn't make sense to use docstrings for functions that are displaying to screen.

[2022-07-27 07:24] wg-romank opened #5044 "empty() does not remove cleared elements?"
### Summary

Not sure if this is expected behaviour (at least from docs on empty it doesn't seem so).
Calling `.empty()` on `st.empty` keeps children elements in the Streamlit state, so their ids cannot be re-cycled even though the widgets dissappear.

### Steps to reproduce

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/streamlit_badge_black_white.svg)](https://issues.streamlitap

[2022-07-27 08:01] Mjboothaus commented on #268
G'day Bela (from Sydney, Aus)

Thanks so much for your prompt and thoughtful reply.

It is essentially exactly what I needed!

I am tweaking it for my precise purposes (e.g. parsing the iterative output from an optimisation routine). Here is the repo if you're interested - https://github.com/Mjboothaus/PhD-Thesis

I have an app front end on it - deployed here (I don't have it working precisely jus

[2022-07-27 08:52] Vinno97 commented on #5042
Thanks for the quick response. Don't know how I'd tackle this with a CSS hack, but it's also not a big issue for me tbh.

Do you know if the problem lies in the rendering or in the loading of the emoji character? If it's the loading, something like #4915 would probably also fix this.

[2022-07-27 09:37] Brandon-lz opened #5045 "An Exception raised from experimental_rerun function"
### Summary

when use experimental_rerun many many times, it raise RecursionError and noway to deal with code

### Steps to reproduce

Code snippet:

[code]

**Actual behavior:**
I used the above two lines of code to implement a dynamically refreshed page.
it run about 20 minutes, then it raise the expection.
My guess is that recursion is causing the problem.

### Debug info
[code]

### Additional

[2022-07-27 09:47] chuanenlin commented on #5024
Upgrading to Streamlit 1.11 solves the issue. Thanks!

[2022-07-27 09:47] #5024 closed, assigned to nobody

[2022-07-27 11:37] lukasmasuch commented on #5042
My assumption is that this specific problem is related to rendering and not loading. For example, if you use the chrome devtools and insert the emoji in the navigation menu you also get the text variant.

[2022-07-27 12:32] F1nnM commented on #2695
Yes, seems to be fixed. Thank you!

[2022-07-27 12:53] soniarocha commented on #4173
i am trying with docker and i am having the same problem, does someone know what might cause this in Docker??

[2022-07-27 13:29] jrieke commented on #5020
Hey @msquaredds,

we are aware of this request and we *want* to find a solution. But it's never been at the top of our priority list so far, unfortunately. (There are just too many cool features!!) I'll have a quick chat with the engineers today how much effort this would be to see if it's something we can easily slot it or if we need to plan some dedicated time for it.

You can have a look at roa

[2022-07-27 13:42] jrieke commented on #5020
Ah digging through the issues now. Seems like printing to PDF (via the browser) used to work and we fixed it at several points in time (see the issue/PR you linked). But I guess we just broke it again at some point. I'll add an item to our roadmap to at least fix that. Do you think you could live with that if printing through the browser works well, or does that not solve your problem?

(Btw posts

[2022-07-27 14:48] eldos-dl commented on #4311
This support would also help with the deployment of a Streamlit app to AWS Lambda.

[2022-07-27 15:20] lukasmasuch commented on #5045
@Brandon-lz Thanks for reporting this issue. I was able to reproduce this after waiting for some time. Unfortunately, I haven't figured out why this is happening. However, I think `experimental_rerun` is not really built for being called this often. What is your use case for using `experimental_rerun` many many times? Have you built something like a live updating dashboard?

[2022-07-27 15:37] lukasmasuch commented on #5044
@wg-romank Thanks for reporting this issue. I was able to reproduce this. Since this is all happening within the same script run, the widget keys are still blocked. But this is definitely something we can try to fix if components get cleared from using something like `empty`.

By the way, as a workaround, you can manually set the `key` for all the elements.

[2022-07-27 17:13] CarloNicolini commented on #4842
No, this solution did not help. I've managed to make it work with streamlit 1.9.2 though.

[2022-07-27 18:27] Gabriel31173 commented on #647
Waiting for this feature. Seems like it's been 3 years and no progress... Shouldn't be hard to implement

[2022-07-27 18:49] mickolka commented on #4858
I second that point from OP, I've been looking for a `key` option in particular. Maybe this needs a separate issue, though.

[2022-07-27 19:28] adeepH opened #5049 "InternalHashError: No module named 'main'"
### Summary

_InternalHashError: No module named 'main'_

_While caching the body of convert_df(), Streamlit encountered an object of type builtins.function, which it does not know how to hash._

The function was working seamlessly for previous runs. However, I encountered this error during an nth run.

### Steps to reproduce

Code snippet:

[code]

### The error message:
[code]

**Expected behavi

[2022-07-28 02:55] wg-romank commented on #5044
@LukasMasuch thanks for looking into this! I generate UI from configuration that's a nested structure and would like to redraw it when new configuration is loaded.

I'm now adding a unique suffix to all my generated controls to mitigate the issue as you suggested. It just seems a bit wasteful to keep all those objects when they are not visible.

I could try to have a look into this if you could ki

[2022-07-28 06:03] code-anjali opened #5051 "Chrome, Firefox issues with Streamlit deployed webapp when rendered through iframe."
### Summary

I deployed an app on share.streamlit.io and embedded it on my website through an iframe. It worked perfectly until recently when streamlit introduced hash identifiers. No browser loads the iframe now because of:

1. either too many redirections or
2. ```page isn't redirecting properly```
3. because ```the certificate for this server is invalid. You might be connecting to a server that

[2022-07-28 08:25] Adamih commented on #4175
This would indeed be a useful feature.

[2022-07-28 12:25] ShuaHousetable commented on #647
Also, would absolutely love for this feature to finally be available.  I love streamlit, but definitely wish there was more flexibility in the text design

[2022-07-28 12:32] SebBanDev commented on #4848
What about a "header" for the multipage app that appears on top of every page?

E.g. if I want to show a warning on top of every page that says "You are in development mode, data may not be reliable" in my development environment.

So far I only came up with defining the warning message once and calling `st.warning` first on every page. But adding it as global head would be a nicer solution.

[2022-07-28 12:38] Vinno97 opened #5053 "Defered data for download button"
### Problem

The download button currently expects its data to be available when declaring the button. If data needs to be read from disk (or worse: compiled multiple disk sources), this can make the app needlessly slow.
In my app, the data downloading is not a common use case, but the packing of the data for downloading is relatively expensive. Caching helps, but only when the data doesn't change

[2022-07-28 12:56] TeemCh commented on #4952
@vdonato @willhuang1997  Hello, I've  run the latest version 1.11.1 and it's still doesn't display [filled patterns](https://plotly.com/python/filled-area-plots/#pattern-fills)
![image](https://user-images.githubusercontent.com/13614869/181510305-142a125e-9b63-4e38-952a-8f54ef149c71.png)
Can you have a look at it?

[2022-07-28 13:44] snehankekre commented on #5051
Hi @code-anjali 👋

With the new unique subdomain URLs, you need to add the following query parameter to the URL to iframe apps: `?embedded=true`. For example: https://code-anjali-gsheetdb-tutorial-math-db-ui-e3xq5f.streamlitapp.com/?embedded=true

Sources:
- https://docs.streamlit.io/streamlit-cloud/get-started/deploy-an-app#unique-subdomains
- https://discuss.streamlit.io/t/coming-soon-new-subdom

[2022-07-28 13:44] #5051 closed, assigned to nobody

[2022-07-28 13:48] quannabe commented on #2399
This would be an excellent addition! I load multiple expanders that contain some "heavy" code. The initial UI delay when loading is somewhat annoying but using @st.cache helps.

[2022-07-28 14:01] lukasmasuch commented on #5005
Closing this since the initial issue is solved.

Unfortunately, we don't have an official way how to connect via SSO to Snowflake yet. Feel free to ask your question in the [Streamlit forum](https://discuss.streamlit.io/); maybe other users can help you with this.

[2022-07-28 14:01] #5005 closed, assigned to nobody

[2022-07-28 14:47] lukasmasuch commented on #5053
@Vinno97 Thanks for the suggestion. This would be indeed a nice addition to the download button, especially when dealing with large files. I will forward this feature request to our product team.

[2022-07-28 15:12] lukasmasuch commented on #5044
I'm not so sure if there is even a lot of waste created by this since the check is mainly based on an `str` set of already added widget keys. But I also haven't looked closely into this, and there could be some wasteful stuff happening on the frontend part. This code part might be a good point to start looking into this:

https://github.com/streamlit/streamlit/blob/756072522ee4a473158355f025f36e1d

[2022-07-28 15:17] lukasmasuch commented on #4645
@PlatonB Thanks for your suggestion! This seems like a reasonable and useful addition. I have forwarded this suggestion to our product team.

[2022-07-28 16:13] nkaushik28 commented on #4929
what is the solution for this problem?

[2022-07-28 16:59] genefyx opened #5056 "Rich/Texual TUI terminal interface"
### Request
Could we please consider TUI option using the Rich toolset: https://github.com/Textualize/rich.

I had asked the maintainer if it would be possible for his similar Project Textual: https://github.com/Textualize/textual to use the Streamlit framework for easy compatibility or conversion but there's already too much investment in the current format.

### Reasoning
There are plenty of opp

[2022-07-28 17:52] kajarenc commented on #4842
Hm, @CarloNicolini it's strange, we tested and streamlit apps docker builds work on M1.

Please pay attention that starting 1.10.0 the `WORKDIR` should be specified. Streamlit app should not be
run from the root folder of the OS ( because we watch a folder for the `page` directory).

So the main thing here is that Streamlit app should not be copied under the root of a docker container.

Please reo

[2022-07-28 17:52] #4842 closed, assigned to kajarenc

[2022-07-28 20:21] randyzwitch commented on #5016
https://docs.streamlit.io/knowledge-base/dependencies/snowflake-connector-python-streamlit-cloud

[2022-07-28 20:21] randyzwitch commented on #4929
https://docs.streamlit.io/knowledge-base/dependencies/snowflake-connector-python-streamlit-cloud

[2022-07-28 20:57] code-anjali commented on #5051
Thank you so much, It works great now.

It seems streamlit documenation [page](https://docs.streamlit.io/library/api-reference/layout/st.tabs) has the same issue.

<img width="1120" alt="Screen Shot 2022-07-28 at 1 55 10 PM" src="https://user-images.githubusercontent.com/98937257/181635863-e121108d-ab1e-4111-b445-08140965a9df.png">

[2022-07-28 21:08] jenitivecase commented on #4382
Following, as I'm also encountering this issue.

[2022-07-28 21:58] sfc-gh-tszerszen opened #5058 "Wait for scriptrunner threads to cleanly close before ending the test"
### Summary

When running `make pytest` command the following error on the end of test appears: `ValueError: I/O operation on closed file.`
It happens because we're not waiting for scriptrunner threads to cleanly close before ending the test.

To avoid this issue we patched over it with [PR-#5047](https://github.com/streamlit/streamlit/pull/5047), but it didn't fix the underlying issue of not wait

[2022-07-28 22:02] vdonato commented on #4952
Hi @TeemCh, 1.11.1 only includes a security patch on top of 1.11.0, so I wouldn't expect the changes that landed in #5022 to be included. The fix should land as part of 1.12.0 when that release happens next month.

[2022-07-28 22:31] #2058 closed, assigned to nobody

[2022-07-29 02:54] PraveshKoirala commented on #4899
Would a autocomplete-like functionality be an appropriate use-case for this? Something that updates suggestions as we type on the fly? Or would an entirely new component (something like a searchbox?) be more appropriate?

[2022-07-29 02:55] PraveshKoirala commented on #3888
I definitely think there should an html_id parameter in each of the widget (especially containers) that would allow us to write custom css (using unsafe markdown). It would make certain things like styling the containers so much easier!

[2022-07-29 05:36] tomgallagher commented on #5053
In the meantime, I'm using this as a way of ensuring that page flow is not interrupted by large file prep

[code]

[2022-07-29 11:13] TheRealJoci commented on #4931
Has there been any updates on this? This makes Dataframes unusable right?

[2022-07-29 11:55] TeemCh commented on #4952
Hi @vdonato  is there a way to intall streamlit from source? I tried to do it but it seems that I need setup.py.

[2022-07-29 16:07] keiranmraine commented on #4899
`text_input` being able to do this would be very useful for me, I want to filter a relatively small dataframe live, however I think `live` would need a minimum number of characters to minimise overheads, something like:

* `live=0`, off
* `live=1`, all changes trigger
* `live=2`, trigger when >=2 characters following change (or all characters deleted)
* values over 2 just change the threshold

Exa

[2022-07-29 19:56] vdonato commented on #4952
Hi @TeemCh, if you're looking to install from source to get the changes made in #5022 before they land in an official release, I'd recommend instead installing the [streamlit-nightly](https://pypi.org/project/streamlit-nightly) package, which is built on a daily basis and contains all of the changes that land on `develop`

Otherwise, instructions on how to set up a dev environment (which will allo

[2022-07-30 00:08] jrieke commented on #5053
Yes agree! Back when we implemented download button, I know that we also thought about allowing users to pass a function. Not sure if we cut that just to reduce scope or if there were any reasons against doing that. Will revisit!

[2022-07-30 03:18] PaleNeutron opened #5064 "Altair chart won't show if use `resolve_scale`"
### Summary

Altair chart won't show if use `resolve_scale`

### Steps to reproduce

Code snippet:

[code]
No image shows, this is because streamlit add this to every altair chart

[code]

which is conflict with

[code]

This could  be tested here [editor](https://vega.github.io/editor/#/url/vega-lite/N4Igxg9gdgZglgcxALlAIwIZgNYIE4QCuUAJiiAMQzU0gA0IGAHnAM4qgA2GaAppwGEInCHnIUAzAEYJsgGL0QAFzhLOvISLH

[2022-07-30 08:13] EwoutH commented on #2058
Awesome! Looking forward to it being deployed!

[2022-07-30 09:00] murattasci06 opened #5065 "[Coming soon] Border customization options"
we don't have any options about customization of streamlit web application. For example İ can't change web application's  border color, padding, opacity, radius, image etc. Besides we don't do this with html and css code in streamlit. Maybe streamlit offers to us ready functions for customizations.
Here the issues:
https://discuss.streamlit.io/t/the-code-works-differently-in-html-and-streamlit/264

[2022-07-30 15:05] sulaimanvesal commented on #4848
@jrieke  thank you for working on this and merging.

I have also another issue (don't know if I can post it here):

What’s the speediest way to display 2D/image data using streamlit? I have a 3D image that I traverse through the frames using a slider, however the image display between frames have this "fade transition". How to avoid this?

[2022-07-30 15:10] jrieke commented on #4848
@sulaimanvesal Can you post this on our forum? discuss.streamlit.io
I'm sure you can get some great answers from the community there.

[2022-07-31 17:33] Arvindhh931 commented on #3073
Thanks buddy for the code

[2022-08-01 09:07] giokara-work opened #5066 "Issue with Unicode characters in demo scripts"
### Problem

The Bazel build system is not able to deal with non-ASCII characters in the filename. As such, the [demo scripts with Unicode filenames](https://github.com/streamlit/streamlit/tree/e968e001984e07592c358911e1c484a802d2a81e/lib/streamlit/hello/pages) lead to issues when having streamlit as a dependency.
An [open issue](https://github.com/bazelbuild/bazel/issues/374) to resolve this in B

[2022-08-01 12:20] RRaphaell opened #5068 "Download file with code"
### Problem

I can't download files by script.

I know that there are standard solutions but I have another situation.
Since I'm using a custom download button, I need to download a file when the button is clicked. Is there a way to download a file with a script?

### Standart Solutions

**streamlit download button** use st.download_button

**Data URLs** generate URL and click on that link to down

[2022-08-01 12:32] lukasmasuch commented on #5064
@PaleNeutron Thanks for reporting this issue! I was able to reproduce it. Do you know if this is expected from Altair that `resolve_scale` conflicts with the `autosize` settings? Maybe this is also something to address in the Altair repo as an issue?

[2022-08-01 13:05] RRaphaell opened #5069 "tabs switching cause scrolling up"
### Summary

app scrolls up when I have tabs after some widgets and switch them

### Steps to reproduce

Code snippet:

[code]

steps :
1. scroll down to the videos
2. switching tabs

**Expected behavior:**

tabs should be switched and focus stay on video

**Actual behavior:**

it scrolling up and I have to scroll down again

### Debug info

- Streamlit version:  1.11.0
- Python version: 3.8.11

[2022-08-01 13:27] PaleNeutron commented on #5064
@LukasMasuch  It is hard to determine if it is a `streamlit` problem, `streamlit` add `autosize` key to altair generated dict manually and then cause this problem. See [streamlit source code](https://github.com/streamlit/streamlit/blob/4edca1dbf86d67ce7d73bfe6dea4eb475baa3ad0/lib/streamlit/elements/arrow_vega_lite.py#L142)

Users may be confused by why their charts show in `jupyter` but not in `st

[2022-08-01 15:23] lukasmasuch commented on #5069
@RRaphaell Thanks for reporting this issue! I was able to reproduce it and have deployed a demo app [here](https://lukasmasuch-st-playground-issuesgh-5069app-tmwuwl.streamlitapp.com/). The underlying issue is that when changing tabs, the height of the actual tab content is not correct for a split second. This influences the full height of the app -> which in turn influences the maximum possible sc

[2022-08-01 15:43] lukasmasuch commented on #5064
@PaleNeutron Thanks for opening the issue 👍  One thing to add here: this is also happening if the `autosize` is only configured in the `config` (e.g. via a theme) and not injected into the spec. But everything defined in the actual chart spec should take priority compared to the `config`, which doesn't seem to be happening here.

[2022-08-01 16:10] RRaphaell commented on #5069
thanks @LukasMasuch for your time. you are right but when I tested it by adding more content below it still happens if you scroll down to the new content and then switch tabs

[2022-08-01 22:24] vdonato commented on #5025
Closing as unactionable. There's not much we can do about this issue with the amount of information given

[2022-08-01 22:24] #5025 closed, assigned to nobody

[2022-08-01 22:28] vdonato commented on #5018
Closing as I believe using session states + callback is the expected way of handling these types of things, as Lukas suggested.

[2022-08-01 22:28] #5018 closed, assigned to nobody

[2022-08-01 22:32] vdonato commented on #5049
Hi @adeepH, I believe this bug should have been fixed by https://github.com/streamlit/streamlit/pull/5023, which will land in the 1.12.0 release in the next few weeks. Are you running Streamlit in WSL? If so, then it's almost certain that this bug is the one I think it is. I'm going to close this bug as all signs point to it being one that is fixed on develop and awaiting release. In case I'm mist

[2022-08-01 22:32] #5049 closed, assigned to nobody

[2022-08-01 22:39] vdonato commented on #4971
Closing as this doesn't really pertain to the Streamlit library itself, so I don't think GitHub issues is quite the right place for us to be tracking this. I'm not exactly sure where the right place for this suggestion to live would be, though, perhaps the forums?

[2022-08-01 22:39] #4971 closed, assigned to nobody

[2022-08-01 22:43] vdonato commented on #5065
Hi @murattsci,

We currently don't support customizations of this granularity in Streamlit. The most customization that you can get officially at the moment is through the [theming feature](https://docs.streamlit.io/library/advanced-features/theming), and we are putting some thought into making things further customizable, but I don't believe we'll be looking to allow customizations of this granul

[2022-08-01 22:46] vdonato commented on #5068
Hi @RRaphaell,

Could you describe how your use case differs from those allowing a standard solution to be used?

Without more information, I'm not sure how much we can do to assist. At the moment, we don't officially support methods of downloading files other than `st.download_button`. The popular hack using data URLs in a link should work as well, but aside from these two approaches, there aren'

[2022-08-01 22:51] RRaphaell commented on #5068
thanks @vdonato.

I'm using [stremlit-elements](https://github.com/okld/streamlit-elements) and Material UI buttons so I can't use st.download_button or generated data URL since I want to download file when the user clicks that MUI button

[2022-08-01 22:57] vdonato commented on #4078
Closing as this seems more like a system package dependency issue than one with Streamlit itself

[2022-08-01 22:57] #4078 closed, assigned to nobody

[2022-08-02 02:17] AbrahamSanders commented on #4832
Thank you for putting this much-needed feature on the roadmap!

@andreaschiappacasse @RubenVanEldik for now, here is a hacky but functional workaround that I use. Suppose you have a page named 1_Foo.py you could simply call `nav_page("Foo")` from anywhere in your script such as on a button click (wizard use-case) or even first thing on load if some condition is met (redirect use-case).

[code]

Ex

[2022-08-02 02:42] nicedouble commented on #4382
+1

[2022-08-02 04:11] pgarrett-scripps commented on #4382
Any fix for this?

[2022-08-02 07:40] QGB opened #5073 "ValueError: signal only works in main thread"
[code]
## code:
[code]
### I do not want use : `streamlit.exe run streamlit_slider.py`
## run:
[code]

[2022-08-02 12:27] mo42 commented on #5044
I encountered this issue with `st.button`. It seems that all input widgets have this problem.

Once, this has been fixed for `st.write`: https://github.com/streamlit/streamlit/issues/2395

[2022-08-02 12:51] nehz opened #5075 "Switching camera stuck on permissions"
### Summary

With multiple camera inputs, switching camera using the switch button puts the widget back to asking for permissions. But does not prompt for anything. This only affects the first camera widget

### Steps to reproduce

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/streamlit_badge_black_white.svg)](https://issues.streamlitapp.com/?issue=gh-5075)

On Android 10 tablet,

[2022-08-02 15:30] sg-s commented on #911
this isn't working for me, and i'm getting this error:

[code]

[2022-08-02 16:44] masta-g3 opened #5077 "Interactive table app gallery example is broken"
### Summary

The example is not working and instead it shows an error message.

### Steps to reproduce

Access [Interactive table app](https://share.streamlit.io/streamlit/example-app-interactive-table/main).

[code]

[2022-08-02 18:23] vdonato commented on #5073
Hi @QGB,

Unfortunately, running streamlit via `streamlit.bootstrap.run` isn't a supported method, so we don't provide any guarantees around the stability of it or whether calling it directly works at all. Supported methods for running streamlit apps are using `streamlit run` or alternatively `python -m streamlit run`.

[2022-08-02 18:23] #5073 closed, assigned to nobody

[2022-08-02 19:20] arnaudmiribel commented on #5077
Thanks! It's [back up](https://streamlit-example-app-interactive-table-streamlit-app-mt9qg6.streamlitapp.com/)

[2022-08-02 19:20] #5077 closed, assigned to nobody

[2022-08-02 23:40] AshPava commented on #4389
@jrieke Could we also add an argument to limit the memory usage similar to the num_entries and ttl? We could have an arguments which sets the memory limit and if the cache goes above the limit, the first item in the stack will be cleared.

[2022-08-03 07:21] nicedouble commented on #5069
+1 .I have the same issue.

[2022-08-03 10:10] MattiasMTS opened #5080 "Clearing files/BinaryIO from`streamlit.file_uploader` fails"
### Summary

Files uploaded with `st.file_uploader` remains in RAM despite following guidelines given [here](https://docs.streamlit.io/knowledge-base/using-streamlit/where-file-uploader-store-when-deleted) and caching the read-in part of it.

### Steps to reproduce

I'm using `mprof` as my memory profiling tool, recommended by https://blog.streamlit.io/3-steps-to-fix-app-memory-leaks/.

The python

[2022-08-03 12:46] bakarep commented on #2888
Team,

I have streamlit 1.10.1 and it is giving the same issue. Please help.

[2022-08-03 14:56] whitphx opened #5083 "The debug endpoint (/debugz) is not working"
### Summary

When accessing `/debugz`, it returns 500.
[code]

It uses an undefined method `Server.get_debug()`.

### Is this a regression?

I don't know

### Debug info

- Streamlit version: 1.10.0
- Python version: Python 3.8.7
- Using Conda? PipEnv? PyEnv? Pex?: venv
- OS version: macOS

[2022-08-03 14:58] sg-s opened #5084 "embedding streamlit cloud app in an iframe causes too many redirects and breaks"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

I'm trying to embed a streamlit app in an iframe so it can be accessed from a differnet URL. this sends browsers into a redirect loop and fails.

### Steps to reproduce

1. have a streamlit cloud app, e.g.: https://sg-s-pyvocab-game-s50i9q.streamlitapp.com/
2. put it in an iframe, e.g.,: https://srinivas.gs/

[2022-08-03 15:33] mahotd opened #5085 "Add the ability to style st.expander() label"
### Problem

I really like Streamlit's expanders ! However, sometimes I wish I could style its `label` argument.

### Solution

**MVP:** Support Markdown for st.expander() `label` argument
**Possible additions:** Maybe the label could be specified as a header or subheader too, see https://github.com/streamlit/streamlit/issues/2056

### Additional context

**How it looks now**
![image](https://user

[2022-08-03 17:45] AbrahamSanders commented on #863
+1

[2022-08-03 20:07] gncosta commented on #5020
I think that fixing the print is just a start. As a dev I really would enjoy to export the page without the need to have a manual interation.

[2022-08-03 20:18] jrieke commented on #4899
Ok finally played around with this today! Sorry for the delay. It's actually quite nice! At least if you use it with a simple processing task. I think anything that takes a long time to process (e.g. the filtering example above) is not fantastic though. IMO merging this would create quite some potential for inexperienced users to shoot themselves in the foot. So I don't want to merge this rogjt no

[2022-08-03 20:28] LukeA2023 opened #5087 "Parallel processing: time consuming before Parallel Processing to process the Dataset 4.88s 2022-08-03 15:20:15.298"
### Summary

Can not run multiprocessing on data within a streamlit page. it perpetually runs with no output.

### Steps to reproduce

Code snippet:
p = mp.Pool(mp.cpu_count())
[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll

[2022-08-03 20:41] LukeA2023 opened #5088 "Support Polars dataframes"
**What could be better?**
being able to operate with polars dataframes

---

Community voting on feature requests enables the Streamlit team to understand which features are most important to our users.

**If you'd like the Streamlit team to prioritize this feature request, please use the 👍 (thumbs up emoji) reaction in response to the initial post.**

[2022-08-03 22:55] vdonato commented on #5087
Thanks for reporting this, @LukeA2023.

We have a few open issues around improving the state of being able to use Streamlit and multiprocessing together, and we're aware that the two aren't particularly compatible right now. Since there are other issues requesting essentially the same thing, I'm going to close this one as a duplicate.

[2022-08-03 22:55] #5087 closed, assigned to nobody

[2022-08-03 22:59] vdonato commented on #5083
Thanks for reporting this @whitphx.

It looks like `/debugz` hasn't been working for quite awhile -- looking at the `git blame`, there's a commit from 2019 adding a TODO to fix it, and it seems like we never got back around to doing so. I have a hunch that if we didn't see the need to fix it for years now, then there's a chance that the best thing to do at this point may just be to get rid of the

[2022-08-03 23:02] vdonato commented on #5084
Thanks for reporting this @sg-s. I'll relay the issue to the Streamlit Community Cloud team.

In the meantime, a workaround that may help could be to try embedding the Streamlit app without the Cloud overlay. The URL to do this is almost the same: https://sg-s-pyvocab-game-s50i9q.streamlitapp.com/~/+/, and Streamlit Cloud itself embeds this link when you navigate to https://sg-s-pyvocab-game-s50i9

[2022-08-04 00:03] sg-s commented on #5084
woah, thank you so much, i'll try this out!

[2022-08-04 00:10] sg-s commented on #5084
works! thank you!

[2022-08-04 00:31] tconkling commented on #5083
It was implemented in the olden days and afaik never used! We should remove it.

[2022-08-04 03:37] cccs-km opened #5089 "Render `label` input from `st.expander()` as html"
### Problem

I am trying to render a collapsible header banner within my streamlit application. I can render it fine with `st.components.v1.html()` but then it ruins the vertical spacing within the app.

### Solution

**MVP:** A CSS hack that reclaims the vertical space?

**Preferred solution:** Allowing the string `label` input of `st.expander()` to be html, which given the optional parameter `un

[2022-08-04 05:30] Ayush-TCIN commented on #863
+1
Much awaited feature!

[2022-08-04 06:03] gigantic65 commented on #4931
Has there been any updates on this? I had same problems.

[2022-08-04 08:24] katiaviene commented on #4931
any updates? this df behavior makes my eye tick!

[2022-08-04 13:29] astrowonk commented on #4931
I have the same issue. I can use `st.table` which looks fine but of course I lose the interactivity.

I think if it could just take the header width into account when sizing the columns that might help, though I'd still eventually want the width parameter to have an effect.

[2022-08-04 13:47] diahjunaidijr commented on #2446
sorry, i beg your permission, what if we want to play file from local with autoplay feature?

[2022-08-04 14:46] #3362 closed, assigned to nobody

[2022-08-04 16:24] sfc-gh-atoader commented on #5084
Hi @sg-s ! One minor correction to Vincent's comment. The recommend URL is:
`https://sg-s-pyvocab-game-s50i9q.streamlitapp.com/?embedded=true`

[2022-08-04 16:46] sg-s commented on #5084
ok thank you, will change to this

[2022-08-04 17:48] blackary opened #5092 "Clarify edge case where physical location of element vs semantic location of element are handled"
### Summary

When changing st.sidebar.selectbox in a form, it reruns the app. But, if that selectbox is created within an st.sidebar context manager, it doesn't rerun the app.

### Steps to reproduce

Example app https://playground.streamlitapp.com/?q=sidebar-weirdness

Code snippet:

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/streamlit_badge_black_white.svg)](https://issues.st

[2022-08-04 21:37] vdonato commented on #5084
Ah, thanks @sfc-gh-atoader -- I didn't know we had an official way of doing this via query param. I'm going to close this issue as resolved since the queryparam method is the official way of supporting embedded apps using the normal Cloud URL.

@snehankekre heads up that this may be something that we would want to add to our documentation (if there isn't already a note about it).

[2022-08-04 21:37] #5084 closed, assigned to nobody

[2022-08-05 10:29] andreas-gjensidige opened #5099 "Inconsistent behavior when value is outside of (min_value, max_value) for st.slider and st.number_value"
### Summary

st.slider and st.number_input handles 'value' outside of the interval defined by ('min_value', 'max_value') differently. st.slider expands the interval such that 'value' is included in the interval, f.ex. if 'min_value' is 1, 'max_value' is 10 and 'value' is 12, then the slider has the interval (1, 12) instead of (1, 10). st.number_input on the other hand throws and exception when 'va

[2022-08-05 13:46] sleepingcat4 opened #5100 "TypeError: 'UploadedFile' object is not subscriptable"
### Summary

I'm trying to process an uploaded csv file using pandas. Cuz fbprophet (prophet) only accepts 'ds' and 'y' axis based csv file. Unfortunately, I'm being displayed the following error

### Steps to reproduce

Code snippet:

[code]

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

**Expected behavior:**
TypeError: 'UploadedFile' objec

[2022-08-05 16:16] sg-s opened #5102 "Strange behavior when synchronizing st.session_state to localStorage"
### Summary

Apologies if this is out of scope and this is an issue with `streamlit_javascript`. What i'm trying to do is use a persistent state stored in `localStorage` that persists across sessions.

### Steps to reproduce

This is my minimum working code that demonstrates the problem:

[code]

Note that removing the `sleep(.1)` breaks everything, which is the basis of my bug report. I believe t

[2022-08-05 18:19] #5083 closed, assigned to vdonato

[2022-08-05 18:55] sergiosrdm commented on #911
I have also the issue sg-s reports, it says "Failed to load resource: too many HTTP redirects" and gives a giant URL, with something like "{STREMLIT APP URL}-/login?payload=MT...", is there any kind of restriction?

[2022-08-05 20:17] fboerman commented on #4519
+1 to regard this as a bug and would be very desirable if fixed. For production apps this is a security risk.

[2022-08-05 21:12] vdonato commented on #5100
Hi @sleepingcat4,

It seems like the issue is that you haven't converted the uploaded file to a dataframe yet. You can do this using `pd.read_csv`.

[2022-08-05 21:12] #5100 closed, assigned to nobody

[2022-08-05 21:30] sleepingcat4 commented on #5100
Umm! I had tried that method too. After your comment I tried again and this time prophet gets a conflict that it didn't detect 'ds' and 'y' columns while doing the fit!

But, when I don't use Streamlit and run all the commands even in a Jupyter Notebook it works fine! Any thoughts?

[2022-08-05 21:40] vdonato commented on #5099
Thanks for reporting this, @andreas-gjensidige. I agree it'd be better if the behavior for the two were more consistent.

I'll add this to our backlog of things to fix. Unfortunately, we may not be able to make any changes to this anytime soon as doing so will technically a breaking change, which would require a major version change. This seems sufficiently minor that a major version upgrade for i

[2022-08-05 22:28] vdonato commented on #5102
Hi @sg-s,

I think isn't quite an issue with either `streamlit` or `streamlit_javascript`. What's probably happening here is that, without the sleep, the two `st_javascript` commands run so quickly that the second call to `st_javascript` is the one that actually gets passed to the component as a prop. In this case, that's the `st_javascript("localStorage.current_streak;")` line (since callbacks ar

[2022-08-05 22:28] #5102 closed, assigned to nobody

[2022-08-05 22:31] efagerberg commented on #4555
this needs to be reopened. Newest version (1.11.1) uses pipenv to source install_requires. Pipfile is not pinned to a compatible click version. Perhaps the code using this functionality can be rewritten to allow for click 8.1?

[2022-08-06 13:38] R-N commented on #3344
Hello, @kmcgrady
Sorry for necro.
Without columns we can't have horizontal layout at all. So without nested columns, we can't have horizontal layout in a column. I'd like to have horizontal layout metrics in a column while having a markdown beside it and a plot under it (or reverse the markdown & plot)

[2022-08-06 21:25] Khalilsqu commented on #3052
I want to align widgets horizontally. Is it possible with multiple columns container? Any help is appreciated!

I really appreciate any help you can provide.

![image](https://user-images.githubusercontent.com/22060413/183266394-4a52fa16-f06d-420c-ba83-f9346798a9c2.png)

[2022-08-07 01:23] Khalilsqu commented on #3052
Tried the approach below, but no luck!!

![image](https://user-images.githubusercontent.com/22060413/183271107-79f28337-e31c-43aa-8c57-9a5462a99da2.png)

[2022-08-07 14:56] sg-s opened #5105 "Interact with local storage"
ideally, something like this:

[code]

---

Community voting on feature requests enables the Streamlit team to understand which features are most important to our users.

**If you'd like the Streamlit team to prioritize this feature request, please use the 👍 (thumbs up emoji) reaction in response to the initial post.**

![Views](https://api.views-badge.org/badge/st-issue-5105)

[2022-08-07 16:13] PablocFonseca opened #5106 "Update apache-arrow dependency on streamlit-component-lib."
The apache-arrow dependency on streamlit-component-lib (ˆ0.17.0) prevents components developers to upgrade react-scripts to 5. (this was reported here https://github.com/streamlit/component-template/issues/23).

Please upgrade the dependency on apache-arrow. There are lot of issues with react-scripts 4 that are solved in 5. In my case I was having an issue with sass files and @use statements that

[2022-08-07 18:23] cldeluna commented on #904
+1
Any updates?

[2022-08-08 06:26] cmayoracurzio opened #5107 "Plotly ‘uirevision’ parameter no longer working since Streamlit version 1.10.0 onwards"
### Summary

Plotly ‘uirevision’ parameter not working since Streamlit version 1.10.0 onwards. Works well with Streamlit version 1.9.0. It would seem `st.plotly_chart()` is completely refreshing the plotly figure, despite specifying the 'uirevision' parameter correctly in the plotly Figure.

### Steps to reproduce

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/streamlit_badge_blac

[2022-08-08 11:37] sfc-gh-kbregula commented on #904
@jonas-nothnagel After writing to the file, you must still perform a flush operation to make the data available to another application.

So the correct code looks like this:
[code]
If anyone wants to see it in practice then you can see this application:
[https://streamlit-streamlit-kbregula-apache-airflowvisualize-dag-emhqvl.streamlitapp.com/](Apache Airflow - DAG Viewer)

[2022-08-08 11:59] ssp24 commented on #3052
I'd love to be able to "center" an item in a column vertically. Is there already a workaround to achieve this? Otherwise I'll hope that the summer updates will help with this as well :).

[2022-08-08 12:20] sfc-gh-tszerszen commented on #5069
@LukasMasuch is correct about the source of the issue, when I've setup fixed height of the `<video>` React component it fixed the issue, however I don't think we want to have the fixed `height` for every video. I'd like to set fixed `height` on first `componentDidMount`, what do you think about such proposition?

[2022-08-08 12:41] amhrasmussen commented on #4876
@vdonato, thanks for moving #4986 forward in my absence!

@kmcgrady, I expected [release 1.11.1](https://github.com/streamlit/streamlit/commits/release/1.11.1) to include the fix from #5023, but it seems 80d9979d5f4a00217743d607078a1d867fad8acf (which has a weird parent) somehow vanished the fix from the history:
- Here fix is in: https://github.com/streamlit/streamlit/blame/da3f6733b39fd3fbd09992

[2022-08-08 13:24] lukasmasuch commented on #5069
@sfc-gh-tszerszen Thanks for investigating this! I think there are also a few other elements without a fixed height. For example, our built-in chart commands:

[code]

So, we might need to figure out which elements are affected and apply the same fix.

Would be great if we can fix it this way, but this needs some testing if there are any negative side effects. E.g. in some situations, components a

[2022-08-08 14:13] amhrasmussen opened #5110 "Experimental_memo does not support pytz-localized datetime arguments"
### Summary

Using `experimental_memo()` on function with pytz-localized datetime arguments fails

### Steps to reproduce

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/streamlit_badge_black_white.svg)](https://issues.streamlitapp.com/?issue=gh-5110)

Code snippet:

Run this app with streamlit:

[code]

**Expected behavior:**

Expect to see two dates (`t` and `t_pytz`) printed.

*

[2022-08-08 15:06] msquaredds commented on #3052
@Khalilsqu you can't yet, that's why people are requesting that feature here. The request seems to be in the process from the streamlit team, but maybe someone can shine more light on where that stands/an ETA.

I've only found workarounds for table-like data, using st.dataframe or st.table, or creating a HTML table (and then using st.markdown(<HTML here>, allow_unsafe_html=True). For text boxes an

[2022-08-08 16:47] cprevosteau commented on #611
+1

[2022-08-08 20:59] SWAN88 commented on #911
I have the same issue, saying

`share.streamlit.io redirected you too many times.`

[2022-08-08 22:06] vdonato commented on #4876
Hey @amhrasmussen,

Release 1.11.1 should be more or less the same release as 1.11.0, except with a security patch cherry-picked onto it. I believe #5023 was merged after 1.11.0 was released, so I wouldn't expect it to appear in the patch release.

Somewhat conveniently, release 1.12.0 is being cut today (as far as I know), so we should have an official release including #5023 out on Thursday.

[2022-08-08 22:37] sergiosrdm commented on #911
I found the fix, just add „/embedded=true“ at the end of the link and it should work!

[2022-08-09 00:28] Khalilsqu commented on #3052
@msquaredds Thanks a lot for your answer. This is really unfortunate!!

[2022-08-09 03:33] tianchiguaixia opened #5114 "streamlit+neovis.js"
I use neovis to create an HTML file and open the HTML separately as shown below.

![1660015822291](https://user-images.githubusercontent.com/29837553/183558002-89e34016-e6e3-47de-bac0-26312da4d9bb.jpg)

Now I want to embed it in streamlit, but the display content is empty. The code is as follows:

import streamlit.components.v1 as components
f = open("twitter-trolls.html","r",encoding='utf-8')
htm

[2022-08-09 11:04] sainsaji opened #5115 "Streamlit funtion executes before function call"
I've made a function to start an open CV capture from a different file. But for some reasons, the start_capture() function is getting called automatically and is opening the capture screen.
This is the case of all functions, they are getting executed without a function call

appname.py
[code]

Executing this with : streamlit run appname.py => automatically starts the start_capture() function

[2022-08-09 11:05] #5115 closed, assigned to nobody

[2022-08-09 11:06] sainsaji commented on #5115
i was calling a variable from the activity_check.py which starts the capture. I'm so stupid

[2022-08-09 15:41] ndrewwang commented on #5084
When I use the https://xyz.streamlitapp.com/~/+/ seems to work, but https://xyz.streamlitapp.com/embedded=true? does not when placing the streamlit app into a custom domain iframe.

The issue seems to be that by default, the site has cookies blocked and has to be manually allowed. Without doing that, the site does not load.

[2022-08-09 23:33] jrieke commented on #4701
Should be fixed by #5083.

[2022-08-09 23:33] #4701 closed, assigned to willhuang1997

[2022-08-10 00:17] jrieke commented on #5066
Hey! We decided to remove the emojis from filenames for now (#5123), so that users are unblocked on upgrading to the latest version of Streamlit. We'll add emojis back into the `streamlit hello` demo once we have a way to do this without relying on filenames.

[2022-08-10 00:17] #5066 closed, assigned to nobody

[2022-08-10 02:37] mzeidhassan commented on #3832
Any progress on this?

[2022-08-10 05:16] gbilder commented on #5031
Thanks. That does explain it.

For reference to anybody who sees this, an example of working around point 4 to fix the above looks like this:

[code]

[2022-08-10 05:25] sfc-gh-atoader commented on #5084
@ndrewwang could you share more info about how you are embedding it? What browser are you using?

[2022-08-10 08:05] ks00x commented on #4989
Same issue here. Kind of a showstopper . For me the only working solution is to duplicate the widget values into  a new session_state variable (dict) and reassign the widget values at the beginning of the page like so:

[code]

[2022-08-10 09:58] jiqibuaixuexi opened #5124 "ImportError: libGL.so.1: cannot open shared object file: No such file or directory"
### Summary

I want to import cv2, but get bug "ImportError: libGL.so.1: cannot open shared object file: No such file or directory". My requirements are:
numpy
paddlepaddle==2.3.0
paddlex==1.3.10
Pillow
streamlit
opencv-python
opencv-contrib-python

I have tried to add some code to fix the bug:
os.system("apt-get update")
os.system("apt-get install -y libgl1-mesa-dev")

But it is not work. So I re

[2022-08-10 11:17] DavideFerri opened #5125 "Input widgets refresh bug"
### Summary

The user needs to input a value to the input widget twice because the first time it does not update / resets to the default value.

### Steps to reproduce

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/streamlit_badge_black_white.svg)](https://issues.streamlitapp.com/?issue=gh-5125)

![Screen Recording 2022-08-10 at 12 58 29](https://user-images.githubusercontent.com/

[2022-08-10 12:37] sfc-gh-kbregula commented on #5124
Do you think the problem is with streamlit, or with an additional dependency that you have a problem with, e.g. opencv?  Can you use this library without streamlit? Can you use this library without streamlit, or the problem only occurs if you use both streamlit and opencv? If you cannot use this library without streamlit then it is a problem unrelated to this project and it is best for you to cont

[2022-08-10 13:16] giswqs opened #5127 "Support for pydeck custom tile layer"
It would be great if streamlit can support [pydeck custom tile layer](https://github.com/agressin/pydeck_myTileLayer). It will open many more opportunities. For example, accessing Google Earth Engine data layers or any web map service layers.

The following custom tile layer can render properly in Jupyter notebook, but it does not work with Streamlit. The custom tile layer won't show up.

This iss

[2022-08-10 13:35] sfc-gh-kbregula commented on #4923
st.write under hood uses st.json which does not support python sets, so `set` is processed by the `repr` function.
https://github.com/streamlit/streamlit/blob/95cb57f5e90aec991d32d165b67472429332396a/lib/streamlit/elements/write.py#L220
https://github.com/streamlit/streamlit/blob/95cb57f5e90aec991d32d165b67472429332396a/lib/streamlit/elements/json.py#L73

[2022-08-10 13:49] sfc-gh-kbregula commented on #4889
At Snowflake, we are using `snyk` to check dependencies on all [production repositories](https://snowflakecomputing.atlassian.net/wiki/spaces/CLO/pages/2239988967/Production+Repository+Criteria), so we should look at this after migrating to Github Action.

Here is list of [Production Repository Checklist](https://snowflakecomputing.atlassian.net/wiki/spaces/CLO/pages/1793755974/Production+Reposito

[2022-08-10 14:11] jiqibuaixuexi commented on #5124
@sfc-gh-kbregula Thank you for your reply. I can run my streamlit app on my PC smoothly. I can use all libraries of my project. But when I want to deploy on the streamlit cloud, I get this error.

[2022-08-10 14:21] jiqibuaixuexi commented on #5124
@sfc-gh-kbregula I would like to ask you if I can use some linux terminal commands, such as "apt install libgl1-mesa-glx" to install the missing components in streamlit cloud.

[2022-08-10 20:10] danb27 commented on #862
+1

[2022-08-10 21:16] #4913 closed, assigned to vdonato

[2022-08-11 01:54] PaleNeutron opened #5132 "Can not switch pages when page is running"
### Summary

When page is running/calculating, user can not switch to another page, the entire stream site is hanging.

### Steps to reproduce

Just create two pages and put  these code into it

[code]

**Expected behavior:**

Switch to another page and cancel current running.

**Actual behavior:**

Stucked

### Is this a regression?

no

### Debug info

- Streamlit version: 1.11.0
- Python versio

[2022-08-11 02:32] sfc-gh-tteixeira commented on #5127
I wonder if this is related to the version of DeckGL we're using (8.2.x) which is a couple of years old...

[2022-08-11 03:47] #5030 closed, assigned to sfc-gh-kbregula

[2022-08-11 03:50] #4922 closed, assigned to sfc-gh-kbregula

[2022-08-11 08:31] khawar-islam opened #5133 "showing opencv image into streamit pyplot function"
### Summary

My model detects the important part in document and now i just want visualize it by in dashboard. For image purpose, i am using opencv because i have to draw the rectangle boxes. I cannot visualize my image in dashboard.

### Steps to reproduce

Code snippet:

[code]

I am simply providing image instance streamit plot function but it did not work out
[code]
**Trace-back**
[code]

**Sc

[2022-08-11 11:19] sfc-gh-tszerszen commented on #5069
[PR-#5116](https://github.com/streamlit/streamlit/pull/5116) was just merged, in the `1.13` release issue should be resolved 👍 Thus I'm closing the issue now. @RRaphaell thank you for taking the time to report the issue 🥇 if the issue occurs after `1.13` we will reopen it

[2022-08-11 11:27] #5069 closed, assigned to sfc-gh-tszerszen

[2022-08-11 12:15] Siddhesh-Agarwal opened #5134 "Support configuring custom light & dark themes"
### Problem

I would like a way to declare custom light AND custom dark theme in the same app. I have been unable to find a solution for this. So here is a solution I came up with.

### Solution

Along with the already existing `[theme]` option, please create a `[theme.light]` and `[theme.dark]` option for the `config.toml` file.

These be used the reduced form of:

[code]

and

[code]

respective

[2022-08-11 13:08] kajarenc commented on #5124
Hello @jiqibuaixuexi ,
Thanks for opening this issue!

As far as I know, currently, we do not support the installation of custom OS packages on the Streamlit Cloud, although we look in that direction and have that item in our roadmaps

CC: @jrieke

[2022-08-11 13:08] #5124 closed, assigned to nobody

[2022-08-11 18:02] MrDebugger commented on #1360
Following 🥶

[2022-08-11 18:36] naorpeled commented on #1360
Would love to help with this if needed 🙏

[2022-08-11 18:46] scott-trinkle commented on #4931
+1 for this, the current implementation is unusable, I have to use `st._legacy_dataframe` for all dataframes instead.

[2022-08-11 22:40] vdonato commented on #5132
Hi @PaleNeutron,

There's a config option called `runner.fastReruns` that should resolve this issue. It's currently not enabled by default as we only recently added it, and we're still in the stage that we're verifying that there aren't any major bugs associated with it (we are, however, using it for our internal multipage apps without issue, so I think it's relatively safe to turn it on). We hope

[2022-08-11 22:40] #5132 closed, assigned to nobody

[2022-08-12 00:21] vdonato commented on #5068
Hi @RRaphaell, sorry for the delayed reply on this.

I'm not sure if there's currently any good/easy way of supporting downloads working well with streamlit-elements at the moment. I'm not very familiar with the library, but it's possible that the generated data URL method could be made to work nicely with it so that one of the common approaches to supporting downloadable files works. It's most li

[2022-08-12 00:30] PaleNeutron commented on #5132
Thanks a lot, it really help.

[2022-08-12 05:50] Siddhesh-Agarwal commented on #5134
I want to be able to declare both custom dark and light mode and I think a simple way of allowing users to do that is:

[code]

[2022-08-12 06:11] ampx-mg opened #5138 "ModuleNotFoundError: No module named 'streamlit.server'"
### Summary

With the latest release of `streamlit` our pipeline is failing on `ModuleNotFoundError: No module named 'streamlit.server'`. The code below was working fine with `streamlit=1.11.1`

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

I expect to import `Server` without errors.

**Actual behavior:**

The code above fails with `ModuleNotFoundError`.

### Is this a reg

[2022-08-12 06:21] Siddhesh-Agarwal opened #5139 "wordwrap not working properly in v1.12.0"
### Summary

Word wrap is not working with the `st.info()` function.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

The expected behavior is seen in version `1.11.1`, which is:
![Behavior as seen in v1.11.1](https://user-images.githubusercontent.com/68057995/184296698-a25820a9-07fc-41ad-9ac6-7fdf4444ecb8.png)

**Actual behavior:**

This is the behavior as seen in version `

[2022-08-12 06:59] snehankekre commented on #5133
Hi @khawar-islam 👋

[st.pyplot](https://docs.streamlit.io/library/api-reference/charts/st.pyplot) is meant to display `Matplotlib Figure`s, and doesn't accept OpenCV images as input. If you want to display images, use [st.image](https://docs.streamlit.io/library/api-reference/media/st.image) instead.

[2022-08-12 07:57] vdonato commented on #5138
Hi @ampx-mg,

The `streamlit.server` module is considered internal (as it isn't one of the functions documented in our [API Reference](https://docs.streamlit.io/library/api-reference)), and thus we don't make any guarantees around its stability in the case that we reorganize or refactor code.

In this case, we simply reorganized the code so that the module can now be found under `streamlit.web.ser

[2022-08-12 07:57] #5138 closed, assigned to nobody

[2022-08-12 08:12] #5133 closed, assigned to nobody

[2022-08-12 09:11] DerinChiu opened #5140 "Uncaught exception: TypeError: Protocols cannot be instantiated"
### Summary

TypeError: Protocols cannot be instantiated in 1.12.0
After upgrading from 1.11.1 to 1.12.0, streamlit server keeps raising exceptions and clients get stuck at loading page 'please wait...'

### Steps to reproduce

server error snippet:

[code]

**Actual behavior:**

Get stuck at loading page 'please wait...'

### Debug info

- Streamlit version: 1.12.0
- Python version: 3.9.7
- Using

[2022-08-12 09:53] StefanBrand commented on #4213
The roadmap item "matplotlib figures are interactive by default" has been silently removed from https://roadmap.streamlitapp.com/ We were waiting for this to be implemented in Q2 and it had been moved to Q3, which was still acceptable for us. Seeing now that it is no longer on the roadmap at all is irritating.

@vdonato Any reasoning? Is this definite? If so, we must rewrite all our plots in a mul

[2022-08-12 09:57] StefanBrand commented on #4213
Seems like there is interactive functionality via a third-party app. -> https://blog.streamlit.io/make-your-st-pyplot-interactive/ I should subscribe to the blog... :sweat_smile:

PS.: Still, a pointer on the roadmap to that blog post would be helpful for others to find the workaround.

[2022-08-12 12:54] DanielLenz commented on #5140
Can confirm:

**Debug info**
- Streamlit version: 1.12.0
- Python version: 3.9.7
- Using Conda? PipEnv? PyEnv? Pex?: I use venv
- OS version: macOS 12.4, Apple M1 Pro
- Browser version: Chrome 104.0.5112.79

[2022-08-12 13:22] cmayoracurzio opened #5141 "Add more options to `[ui]` in `.streamlit/config.toml`"
### Problem

Many, many users are already using CSS markdown trick to hide Hamburger Menu and Footer. The problems with this are (1) that it is an unofficial "trick", **and (2) that the Hamburger Menu and Footer can still be seen for a brief moment during initial app loading.**

### Solution

**Preferred solution:** Add a `hideMainMenu` and `hideFooter` parameter to the `[ui]` section of `.streaml

[2022-08-12 14:13] martimors commented on #4742
Came across this issue, which seems to have been hanging for a while now. Any chance we can get it fixed? My logs are all duplicated because of this behavior, I'd like to delete the streamlit handler and use my own.

[2022-08-12 15:34] jrieke opened #5142 "Sidebar scrollbar is not clickable"
### Summary

Just realized that with 1.12.0, the scrollbar in the sidebar is not clickable anymore.

For user-resizable sidebar, @mayagbarnes added a bit of margin to the sidebar edge, so that hovering over the edge doesn't always bring up the scrollbar (which was annoying). But I didn't realize back then that this actually makes the scrollbar disappear if you want to click on it 😆 We should proba

[2022-08-12 16:31] archydeberker commented on #5140
Same problem here
- Streamlit 1.12
- Running `python:3.9-slim` Docker image
- Mac OS 12.1, M1

[2022-08-12 19:27] totalhack opened #5144 "Show elements on or before every page in a multipage app (e.g. for login screen)"
### Problem

There are a variety of auth examples out there including simple approaches like [this one](https://docs.streamlit.io/knowledge-base/deploy/authentication-without-sso) in the streamlit docs. The problem is with multipage apps I don't see a way to do a single auth page that every user needs to hit before accessing a page. An obvious workaround is to duplicate `check_password` logic on e

[2022-08-12 20:54] SethOttoQuant commented on #1996
@randyzwitch I ran into a similar issue using a range slider with datetimes. Here's a little example that should reproduce it:
[code]

Apologies if this is user error!

- streamlit version 1.11.0
- python version 3.9

[2022-08-12 22:52] vdonato commented on #5140
Hi all! I'll add this to a list of things for us to look into in our team meeting on Monday, but if I'm remembering correctly, I think this particular issue may actually be caused by a bug that was introduced specifically in Python 3.9.7 (we weren't using `typing.Protocol` until streamlit 1.12.0, which is why the bug didn't surface in streamlit until now), so upgrading to a newer patch version of

[2022-08-12 22:57] nathancooperjones commented on #5140
Confirmed that upgrading from Python 3.9.7 to 3.9.12 fixes the issue! 🎉

[2022-08-13 00:16] yeetswa opened #5145 "Sidebar not functioning properly in Firefox when using Streamlit v1.12.0"
### Summary

I have web app with a series of buttons and checkboxes in a sidebar.
When I access the app on Firefox (via a localhost) the scrollbar that automatically appears on the sidebar is not present. This means that the content at the bottom of the sidebar (Run button) is only partially visible. Furthermore, when I upload a file and that file is displayed, it pushes everything below it furthe

[2022-08-13 04:26] rrlower commented on #5134
Hi, is possible to change the theme from light to dark using a button?

[2022-08-13 08:58] hana9090 opened #5146 "AttributeError: module 'streamlit' has no attribute 'cli'"
### Summary

For the new release,  Streamlit, version 1.12.0, I got **AttributeError: module 'streamlit' has no attribute 'cli'**
### Steps to reproduce

Code snippet:

[code]
Error:
`ModuleNotFoundError: No module named 'streamlit.cli'`

That was working with **Streamlit, version 1.10.0**

how to call **cli** with the new version?

[2022-08-13 09:31] ashev87 opened #5147 "InternalHashError: No module named 'main'"
### Summary

Streamlit error where the caching of a function was interrupted because streamlit doesn't know how to hash builtins.function

### Steps to reproduce

Code snippet:

@st.cache
def convert_df(df):
   return df.to_csv().encode('utf-8')

csv = convert_df(df)

**Expected behavior:**

expected the function to run and to save the df to a csv, also hashing the result

**Actual behavior:**

In

[2022-08-13 12:59] #5146 closed, assigned to nobody

[2022-08-13 17:35] cmayoracurzio commented on #5141
Maybe a parameter to freeze the sidebar size would be useful too (either `disableResizableSidebar` or `freezeSidebarSize`)

[2022-08-13 18:20] shakamoushie opened #5148 "Combobox"
### Problem

#### Combobox:
Can the selectbox widget be revised to a combo box widget (much like the VBA control)?

It can have the current selectbox functionality (of the dictionary-search-as-you-type) as well as the functionality of a text_input in case the typed text no longer exists within the search elements.

Additionally, a Boolean flag could be used to toggle the base functionality between

[2022-08-13 18:27] shakamoushie opened #5149 "General colorband command instead of `st.warning` etc."
### Problem

Can we have st.colourband(Label=, HexColourCode=) instead of st.info, st.error, st.warning and st.success ?

The advantages:
1. Four separate widgets (st.info, st.error, st.warning and st.success) can be reduced to 1 widget
2. One can have the flexibility to define the colour

---

Community voting on feature requests enables the Streamlit team to understand which features are most im

[2022-08-13 19:43] shakamoushie opened #5150 "Icon files in Streamlit commands"
### Allow the use of icon / small picture files instead or additional to emojis in Streamlit commands

#### The need:
Emojis can be used in st.info... etc., but usable emojis are not exhaustive enough to cover all user requirements. (Suppose I have 2 options and only 1 of these 2 options has an emoji available - I will have to not include emojis for both options for the sake of uniformity)

Can al

[2022-08-13 20:08] mahimahithefish commented on #5140
Also confirmed that upgrading to 3.9.12 fixes the issue!

[2022-08-14 01:32] KhaledHassine11 opened #5151 "Set_page_config function"
In a multi-page web app, we need to set the configuration for each page. Why we can use this function only on time in an app?

[2022-08-14 02:20] knightalv opened #5152 "Cannot run streamlit - "Protocols cannot be instantiated" in typing.py"
### Summary

After following the installation guide via Anaconda Navigator, cannot initiate the "streamlit hello" command.
The web browser stops at "localhost" page with "Please wait...."

I checked all prerequisites are met..

Ref: https://docs.streamlit.io/library/get-started/installation

### Error message

2022-08-14 10:14:24.606 Uncaught exception
Traceback (most recent call last):
  File "C:

[2022-08-14 02:48] dectoplate commented on #430
The class method Server.get_current() was removed in the recent version 1.12.

I wonder how one can get the server object now... Is there another way?

[2022-08-14 10:06] LasseVDHeydtQC commented on #4011
Problem still exists in 5.9.0 as well.

[2022-08-14 12:53] cmayoracurzio opened #5153 "Improvement ideas for `st.dataframe`"
### Context

Streamlit plans to make improvements to `st.dataframe` during Q4 2022, according to the [roadmap](https://share.streamlit.io/streamlit/roadmap/). Therefore decided to list a few ideas below for the Streamlit dev team. Hope this helps!

### Improvement ideas

- **Boolean arguments to enable/disable current and any upcoming functionalities:** editing, search, column resizing, column reo

[2022-08-14 13:03] lde2015 opened #5154 "Suggest for the st.empty documentation"
**Link to doc page in question (if any):**
https://docs.streamlit.io/library/api-reference/layout/st.empty

**Name of the Streamlit feature whose docs need improvement:**

**What you think the docs should say:**

        **>>> time.sleep(5)**

        **>>> time.sleep(5)**

        ...     st.write("This is one element")
        ...     st.write("This is another")
        ...
        **>>> time.sl

[2022-08-14 14:24] arkanoid87 commented on #5003
facing same issue here. Is there a workaround to align elements horizontally on mobile?

[2022-08-14 15:02] kim-hoo-n commented on #5140
I upgrade python version to 3.9.12 but I'm still having error(TypeError: Protocols cannot be instantiated) Is there something that I can try or check with?

streamlit version -1.12.0
Os version -Window 10

[2022-08-14 17:40] naashonomics opened #5155 "Pytube Streamlit works locally but dot work when hosted on streamlit cloud"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

Following code works when i run in my local host but download file is missing when hosted on streamlit cloud . Does path relative to streamlit cloud or to the desktop.

[code]
### Solution

**MVP:** Is there i

[2022-08-14 22:59] andfanilo commented on #5152
Hello @knightalv,

I think this is a duplicate of #5140, an answer about upgrading Python 3.9 was given there (https://github.com/streamlit/streamlit/issues/5140#issuecomment-1213574499) that you could definitely try

Have a nice day,
Fanilo

[2022-08-15 00:53] quantoid opened #5156 "Value of selectbox reverts to first option whenever list of options changes"
### Summary

If the list of options for a selectbox is changed, the selected value reverts to the first option even if the previously selected value is still in the list of options.

This makes things difficult for dashboard users because they have to repeatedly select the same option whenever they change some other widget that modifies the list of available options, even if the option they select

[2022-08-15 02:14] bwhitesell commented on #5145
Sorry for the lengthy comment -- first time contributing! This was a 1 line change so I went for it!

#### Reproduced
I was able to reproduce both on the `develop` and `release/1.12.0` branches by placing @yeetswa ’s snippet into a dedicated `reproduce.py` file and running `streamlit run reproduce.py`.

#### Validated is regression
I also validated the overlaying scrollbar appeared as expected wit

[2022-08-15 03:24] Brandon-lz commented on #5045
Yes, I write codes to realize a function to live updating my data,  and I know that I can do the same with while loops, but the loops will block my code.  If use experimental_rerun, will not worry that。

[2022-08-15 12:24] ghost opened #5163 "st.dataframe "Could not parse color" when a dataframe is styled with hex or rgb values"
### Summary

As of streamlit 1.10.0, pandas dataframes that are styled using a hex or rgb value (as apposed to referencing colours using plantext) are not rendered correctly in the browser.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

The code above should display the same dataframe in the browser twice, once with a blue background, and another time with a red background

[2022-08-15 12:37] jrieke commented on #5140
Also had this issue before and upgrading to 3.9.12 fixed it.

[2022-08-15 13:33] snehankekre commented on #5084
@vdonato There's a note about it in the docs [here](https://docs.streamlit.io/streamlit-cloud/get-started/deploy-an-app#unique-subdomains), but I'll try breaking it out into a separate section so it's more easily discoverable.

[2022-08-15 13:34] blackary opened #5164 "Streamlit 1.12.0 doesn't allow the same key for widgets with different labels"
### Summary

Before streamlit 1.12.0, It used to be that if you had widgets with different labels but the same key, that was fine. Now, any two widgets of the same type with the same key cause a `DuplicateWidgetID` error.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

No error raised

**Actual behavior:**

`DuplicateWidgetID` raised

### Is this a regression?

Yes. It work

[2022-08-15 15:20] themattinthehatt commented on #1019
Hi all, just wanted to upvote this feature again - it would be great if a widget existed to select a directory from a file browser.

[2022-08-15 15:53] benjamin-taheri commented on #4543
I have the same issue. The problem is I use multiprocessing somewhere in my backend, and streamlit complains about it.

[2022-08-15 18:12] uyjco0 commented on #5152
I have upgraded today to 1.12.0 (from 1.11.1), and I'm having the same problem:

[code]

My environment is Python 3.9.7 and Ubuntu 18.04.6 LTS.

With Streamlit 1.11.1 all is working OK, but upgrading to 1.12.0 gives me the above error.

The **solution for me was upgrading to Python 3.9.12**, now it is all working OK with Streamlit 1.12.0.

[2022-08-15 18:18] uyjco0 commented on #5140
I have upgraded today to 1.12.0 (from 1.11.1), and I'm having the same problem:

[code]

With Streamlit 1.11.1 all is working OK, but upgrading to 1.12.0 gives me the above error.

The **solution for me was upgrading to Python 3.9.12**, now it is all working OK with Streamlit 1.12.0.

[2022-08-15 18:20] uyjco0 commented on #4523
I had exactly the same issue with Streamlit 1.11.1, but **it is gone with Streamlit 1.12.0**

[2022-08-15 18:59] erikamundson opened #5166 "Accessing websocket headers in Streamlit 1.12.0"
### Problem

In previous versions, we used the following code to retrieve the access token header from the websocket headers:

[code]

We noticed the import paths changed for scriptrunner and server, however `Server.get_current()` apparently no longer exists. Is there still a way for us to get the websocket headers?

This is very important for us, as we use the access token for group-based access

[2022-08-15 19:10] kajarenc commented on #5164
Hello hello @blackary !

Actually, this is not a bug, but a feature :)

I implemented that here https://github.com/streamlit/streamlit/pull/5000  since previous behavior breaks our principle to not allow different widgets with the same user key

[2022-08-15 19:10] #5164 closed, assigned to nobody

[2022-08-15 19:43] cmayoracurzio commented on #5166
100% agree.

We also use it for access control, and believe it to be one of the most powerful Streamlit features (even if not in public API). It would be more than great to have it back in future versions.

[2022-08-15 20:25] joy-void-joy commented on #2058
Hi!

I am writing seeing this got closed after enabling the user to resize the sidebar.

I would like to have the ability to resize programatically the sidebar, or at least be able to provide a default value. For instance when using iframes or https://github.com/andfanilo/streamlit-drawable-canvas , they get cut off and the user has to manually resize the sidebar in order to see everything.

Is ha

[2022-08-15 20:34] vdonato commented on #5147
Hi @ashev87,

I think this is likely a bug that was fixed with the release of 1.12.0. Could you try upgrading then giving your code a try?

[2022-08-15 20:41] vdonato commented on #5152
Thanks for chiming in @andfanilo!

Closing this as it's a duplicate of #5140.

[2022-08-15 20:41] #5152 closed, assigned to nobody

[2022-08-15 20:51] vdonato commented on #5151
Hi @Khaled11111111,

The function is limited to one call per script run to prevent dynamic changes to the page layout which may confuse a user if it's not clear why, for example, the page layout switched from centered to wide mode.

Closing as this isn't a feature request/bug report/etc. I'd recommend posting these types of questions in our [community forums](https://discuss.streamlit.io/) in the

[2022-08-15 20:51] #5151 closed, assigned to nobody

[2022-08-15 21:10] amirhessam88 commented on #5140
@vdonato I am not sure if the solution should be related to `python` version; Streamlit should have some `integration` tests on multiple `python` versions in-placed to avoid this type of regressions.

Can you clarify the final solution here if a bug-fix patch will be released for `streamlit`; or the user needs to upgrade the python version? Thanks

The reason I asked is, upgrading python env. of a

[2022-08-15 23:47] vdonato commented on #5140
@amirhessam88, we'll most likely be encouraging people to upgrade their Python versions rather than patching streamlit to account for a bug in the Python stdlib.

Note that if these types of issues become more common in practice, then we'll reevaluate our approach here (for both not running integration tests against every possible patch version of every supported Python minor version [we do run te

[2022-08-16 00:04] kmcentush commented on #5166
@tconkling Do you have any advice? You removed the singleton back in July (https://github.com/streamlit/streamlit/pull/4966) and we're at a loss of how to access the current server. Ultimately, we need a way to get the `BrowserWebSocketHandler` in order to get the headers. Previously this was through the server object.

It looks like the `_get_session_info` logic was moved into the `Runtime` class

[2022-08-16 05:55] snehankekre commented on #4780
In Jupyter, with `altair==4.2.0`:

![image](https://user-images.githubusercontent.com/20672874/184807826-662df8cd-2e1e-4905-8918-4c8c421eff4a.png)

In Streamlit, with `altair==4.2.0`:

![image](https://user-images.githubusercontent.com/20672874/184807924-78b7412c-0dbd-42b4-bed8-03a724a58286.png)

[2022-08-16 06:19] snehankekre commented on #4780
The generated vega_lite snippet is different when using Altair's inbuilt method `Chart.to_json()` and works as expected in the [editor](https://vega.github.io/editor/?#/url/vega-lite/N4IgJAzgxgFgpgWwIYgFwhgF0wBwqgegIDc4BzJAOjIEtMYBXAI0poHsDp5kTykBaADZ04JACyUAjAHZKABkoArCGwB2IADQgAJkkwpUoVUgRw0IRDkwBPEAF8tu-RDiYIaUJZtoA2sDsAug4WqlBs2jSqZB4gAB4xxEiCDGaocsG2hiCJyanpwcgATgDWMRA0AF6pkgBsclqYcLGY5gBirQD

[2022-08-16 07:07] Alexandru-Ioan-Popovici opened #5170 "writing multiple '\n'"
### Summary

Streamlit does not allow for writing multiple rows via a multiplier or by adding (such as adding strings):  4*'\n'   or  '\n'+'\n'+'\n'+'\n' produce writing only one row instead of the assigned multiple -- 4 in this case.

Code snippet:

[code]

[2022-08-16 07:14] PlatonB commented on #4523
Until 1.12.0 isn't in conda-forge, I'll take your word for it:).

[2022-08-16 07:39] PlatonB opened #5171 "Directory chooser widget"
Now it is necessary to enter the directory path via `st.text_input`. This doesn't take advantage of the GUI over the console interface. Please create a widget that allows to select a directory in graphical mode and **returns the path** to it.

---

Community voting on feature requests enables the Streamlit team to understand which features are most important to our users.

**If you'd like the Stre

[2022-08-16 11:14] matkozak commented on #5166
Same problem here. This change breaks enough things to outweigh any advantages of updating beyond 1.11 in my situation.

[2022-08-16 11:50] BioComSoftware opened #5174 "v 1.12.0 breaks streamlit.state module"
### Summary

After upgrading to `Streamlit==1.12.0` (from `1.11.0`) I get the error `ModuleNotFoundError: No module named 'streamlit.state'`

Reverting back to `Streamlit==1.11.0` fixes the issue and returns the page to functional.
### Steps to reproduce

Code snippet:

[code]

If applicable, please provide the steps we should take to reproduce the bug:

1. pip3 install streamlit --upgrade
2. stre

[2022-08-16 12:41] DharmeshPandav commented on #5166
There is a follow-up PR to split it into web and runtime module https://github.com/streamlit/streamlit/pull/5033

As the description suggests, further changes are planned for runtime module and IMO might bring more breaking changes

[2022-08-16 12:56] parker84 opened #5175 "Help descriptions (?) on charts"
### Problem

It can be difficult to name a metric in a way such that all relevant context is captured.

Similarly we have this problem with parameters on a dashboard, but the (?) help buttons drastically improve this experience.

I think including this feature on st.metrics as well will increase the usability of streamlit dashboards by stakeholders.

### Solution

**MVP:** Help description on st.m

[2022-08-16 13:40] sfc-gh-tszerszen commented on #4923
@matkozak @vdonato @sfc-gh-kbregula what about making `st.write` render `set` as a `list` instead of `string`, so user can benefit on existing collapse mechanism when browsing data? Here is [PR-#5176](https://github.com/streamlit/streamlit/pull/5176) with this solution

[2022-08-16 13:52] taowangcheng opened #5177 "It should be :"
https://github.com/streamlit/streamlit/blob/535f11765817657892506d6904bbbe04908dbdf3/lib/streamlit/elements/alert.py#L145

[2022-08-16 13:53] taowangcheng commented on #5177
It should be
st.success('This is a success message!', icon="✅")

[2022-08-16 14:58] jonstrutz11 opened #5178 "Streamlit not detecting changes to multipage apps in WSL2"
### Summary

Streamlit isn’t detecting file changes in multi-page apps when I run it in WSL2 (Ubuntu 20.04).

I noticed that while it DOES detect changes to the main page, e.g. Home.py, it isn’t detecting changes to nested pages (e.g. a page in the pages directory), nor is it detecting changes to python modules that exist in the same parent directory (I confirmed that my python path includes the p

[2022-08-16 15:18] jakeyahn opened #5179 "imagemagick issue doesnt work!!!! added packages.txt with imagemagick"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2022-08-16 15:51] Ayshnoor commented on #611
+1

[2022-08-16 16:20] randyzwitch commented on #5155
Hi @naashonomics -

This line will never work, as Streamlit Cloud is a Debian-based image and `C:/` is a Windows convention:

`SAVE_PATH = st.text_input("Save path", value="C:/", key="save_path")`

Best,
Randy