[2020-04-07 19:11] jrhone opened #1320 "Visualize 3D structures"
From https://discuss.streamlit.io/t/support-for-3d-molecular-viewer/2381

Thank you very much for this incredible framework ! I was very excited to use it for my professional projects in Materials Science but I encountered a huge problem. I couldn’t find any solution to visualize 3d structures (of crystals, molecules…). In jupiter notebook, the visualization is generally done via ase python packag

[2020-04-07 19:45] jrhone opened #1321 "Log levels not working"
Is setting `--global.logLevel=DEBUG` working?

[2020-04-07 21:32] jrhone opened #1323 "Remove dependency on Leaflet CDN"
From: https://discuss.streamlit.io/t/stop-preloading-unpkg-com/2374

We currently load `leaflet.css` and `leaflet.js` in `index.html` on app launch, but this breaks for users running Streamlit without internet access.

Either move `leaflet.js/css` into `public/vendor` so it's bundled with Streamlit, or perhaps we can remove it all together since we have `leaflet` and `react-leaflet` in our `packag

[2020-04-07 23:36] jrhone commented on #1318
Hi @BNNorman ,

I just tried on my Windows 10 VM with python 3.8, running streamlit from the command prompt and didn't experience any issues.

I also had:
numpy==1.18.2
pandas==1.0.1
altair==4.1.0

Could you share the full stack trace?
Could you update your pandas version?
Could you try with python version >= 3.6?
Could you try running streamlit from the command prompt?

[2020-04-08 02:25] xuchenAIR commented on #1317
I have changed my code now, The object is abandoned  and I put it's function outset. It is accuracy when I implement the function derictly but not call the object in order to use it.

[2020-04-08 02:38] xuchenAIR commented on #1317
I write a function to read a file as xes file,
origin:
context = get _context(file_name)
alpha_apply = st.button(label='Apply',key='open_Perit_Net')
if alpha_apply:
    Miner_xes.Alpha_Miner_with_fiter(df_filterd_to_select,FOLDER_DATA+data_xes)

Now , the amazing is to happen:
the browse app have implemented one time, the  'Alpha_Miner_with_fiter' function has not  implement now. Then I click the

[2020-04-08 02:51] xuchenAIR commented on #1317
git@github.com:xuchenAIR/pm.git
I put the part of my code on github

[2020-04-08 03:40] amiechen opened #1324 "Support for Color Picker"
### Idea

Some users would like to add a color picker to Streamlit apps. For example: [https://discuss.streamlit.io/t/is-it-possible-to-add-a-color-picker/1999](this request).

### Solution

**MVP:**
- Uses HTML5 color input:
`st.color_picker("Pick A Color", "#000")` that produces `<input type="color" value="#000" name="Pick A Color"/>`
- Default color to `#000`.

**Possible additions:**
- Conside

[2020-04-08 06:15] andfanilo commented on #1324
Hello @amiechen, thank you for the feature request :+1:

Streamlit team is [currently adding plugin support](https://github.com/streamlit/streamlit/issues/241#issuecomment-609823134) and it should land by H1 2020. This looks like a good use case to write a plugin for, as you have said it's a matter of linking Streamlit to a HTML5 color picker.

To tell you the truth, this is actually the first plu

[2020-04-08 09:42] BNNorman commented on #1318
Thank you for your prompt reply - what a morning ducking and diving with Windows - good news - Uber example now working from MSDOS command line - the remaining problem is getting it to work within PyCharm (which seems to fail to install upgrades to some packages, although it said it did, hmm)

I installed python 3.8, numpy 1.18.2, pandas 1.0.3 altair 4.1.0, streamlit 0.57.3.

Now to see what I can

[2020-04-08 09:42] #1318 closed

[2020-04-08 19:49] tconkling commented on #1291
This is a cool suggestion! @isConic, I like your very Streamlit-y syntax idea :)

I've added this to our internal board for triage. Our upcoming "Custom Components" feature, due soon(ish), will enable you to write your own widgets that respond to keyboard inputs, which might be a bridge toward what you're looking for!

[2020-04-08 20:15] tconkling opened #1326 "Improve "missing ReportContext" threading error"
If you create a thread from your Streamlit script, and call streamlit functions from within that thread, you need to attach a `ReportContext` to it or else your `st.foo()` calls won't do anything, and you'll get a warning message that looks something like this:

“Thread ‘Thread-7’: missing ReportContext”

We should improve the error message to tell the user how to fix this! (We may just want an FA

[2020-04-08 20:24] tconkling commented on #1304
Thanks, @leifulstrup! This fix will go out in the next Streamlit release!

[2020-04-08 21:10] #1304 closed

[2020-04-09 00:52] dsevero opened #1329 "pandas.NaT shows as Sep 20, 1677 9:06 PM"
# Summary

Title is self-explanatory

# Steps to reproduce

[code]

## Expected behavior:

Maybe show `NaT`?

## Actual behavior:

![image](https://user-images.githubusercontent.com/17755465/78846647-d1580d80-79e2-11ea-80ec-a3030fb91666.png)

# Debug info

- Streamlit version: `Streamlit, version 0.57.3`
- Python version: `Python 3.7.7`
- Using `conda` and `poetry`.
- OS version: `Ubuntu 18.04.4 L

[2020-04-09 04:51] 1998kajal opened #1330 "tree visulization in decision tree(it is helpful for user)"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

Is your feature request related to a problem? Please describe the problem here. Ex. I'm always frustrated when [...]

### Solution

**MVP:** What's the smallest possible solution that would get 80% of the prob

[2020-04-09 07:08] andfanilo commented on #1330
Hello @1998kajal , thanks for the feature request !

Can you provide additional info on the library you're using to train Decision trees ? For example Scikit-learn Decision Tree provide [bindings to Graphviz](https://scikit-learn.org/stable/modules/tree.html#classification) and [Streamlit is able to render Graphviz objects](https://docs.streamlit.io/api.html#streamlit.graphviz_chart) so the follow

[2020-04-09 07:21] andfanilo opened #1331 "st.graphviz_chart examples not rendering"
# Summary

Was working on providing a small example of using graphviz to render Decision Tree in #1330 but code did not work. Then tried the 2 examples from API reference and none worked on my machine. Then tried [this one](https://github.com/streamlit/streamlit/issues/341#issuecomment-541150926). All got the same errors about viz not being defined :thinking: is it only me ?

# Steps to reproduce

[2020-04-09 09:25] pbouda commented on #400
I noticed that streamlit already serves static files from the front-end, they are in `site-packages/streamlit/static`. I deploy via a custom Dockerfile (base image `python:38`) and as a workaround added the line:

[code]

This works for files that you have already ready before running the app, but probably you can also just write files to the `site-packages/streamlit/static` folder.

[2020-04-09 10:15] MauGal opened #1332 "Tooltip in altair multi layer doesn't work"
# Summary
Using st.altair_chart to view a multilayer chart with tooltip for any layer, I can see only  a tooltip of a layer.
This issue there isn't in version 0.56.0

# Description
Here is the code:
[code]
The result is:
![multilayer_graph](https://user-images.githubusercontent.com/28858911/78883291-9cd36880-7a59-11ea-98df-5e9a570f6e45.png)

to view it in action:
[Interactive version](http://covid

[2020-04-09 14:53] jrhone commented on #1331
Hmm it works for me locally
- Mac, Firefox
- Python 3.7.4
- Streamlit 0.57.3

And on my Windows VM
- Windows 10, Firefox
- Python 3.8
- Streamlit 0.57.3

[2020-04-09 17:03] arraydude commented on #1331
It is working fine also for me:

- Mac, Chrome
- Python 3.8.2
- Streamlit 0.57.3

[2020-04-09 17:10] jrhone commented on #1331
@andfanilo  Can you run the following in your terminal and share the output?
```python -c "import mimetypes; print (mimetypes.guess_type('lunr.js'))"```

It should return ('application/javascript', None)

[2020-04-09 17:53] benlindsay commented on #1046
Related issue that the solution to this could also solve: I have a year range that starts with something like 1952, and has 5-year increments, i.e. 1957, 1962, etc.  If I set step=5, it goes from 1952 to 1955 to 1960 etc. If I could pass in the possible discrete values, this would solve my problem. At the moment I have to use a select box, when I feel like a slider makes the most sense, since it's

[2020-04-09 18:16] andfanilo commented on #1331
Works like a charm, thanks @jrhone !

[2020-04-09 19:10] jrhone commented on #1331
Well, seems like Firefox added some new [security features](https://www.fxsitecompat.dev/en-CA/docs/2020/worker-scripts-with-wrong-mime-type-will-be-blocked-from-loading-with-worker-or-sharedworker/) and your OS didn't have Mime Types configured correctly.

I wonder if we should add this to the documentation somewhere or automate this check if possible and provide a warning to the user.

Going to

[2020-04-09 20:42] andfanilo commented on #1331
This may explain things, so for other readers I was on Firefox 75 here and `python -c "import mimetypes; print (mimetypes.guess_type('lunr.js'))"` returned `text/plain`.

[2020-04-10 01:22] erlapi commented on #744
I'm running into the same problem.

My code has a button that when clicked creates an HTMLSession which goes to Google to search for some content available only when the page gets rendered.
In my case it is not possible to separate the data gathering from the script run, because it would mean unnecessarily scraping google. Wondering whether there is a way to solve this.

[2020-04-10 01:45] jrhone commented on #1046
Hi @benlindsay , the [issue you're encountering](https://github.com/streamlit/streamlit/issues/424) is a bug that's been recently fixed in BaseWeb, our component library, and will be fixed in Streamlit when we upgrade our BaseWeb version, which [we're doing](https://github.com/streamlit/streamlit/pull/1319) right now.

[2020-04-10 17:46] arraydude commented on #1136
## Changes:

1. In the next release (0.58.0) we show a warning when people try to use DeckGL without a token, but let them continue using our token anyway. And users have some way to turn off the warning.
2. X months later, we change our token so it only allows you to use it when running from localhost. Then:

   If the app is running at localhost, we show a warning and provide a way to turn it of

[2020-04-10 20:39] #1323 closed

[2020-04-11 03:40] kkissmart opened #1335 "st.text_area configurability: change size, etc"
Hi all,

Thank you so much for the work. Streamlit is so awesome!

I am developing a NLP app use it.

I have two questions:
1) how to make text_area box larger?
if someone can point me to the line to change this, it will be great.
2) how to layout each text area? if I want to text_area to be vertical, what should I do?

Thanks so much for the help!

[2020-04-11 05:14] tc87 commented on #1268
Hey Aaron,

Hope all has been going well. Chatted with the team and they confirmed we have enough info to debug. Thanks again for providing all of it. We'll reach back out as soon as we have any updates 👍.

[2020-04-11 09:34] DanielJuravski opened #1336 "Cache Keras trained model"
# Summary

Hi folks,
I have trained a model (via Keras framework), exported it with model.save('model.hdf5') and now I want to integrate it with the awesome Streamlit.
Obviously, I do not want to load the model every time the end-user insert a new input, but to load it once and for all. Seems that the st.cache decorator fails.

# Steps to reproduce

so my code looks something like that:
[code]

##

[2020-04-11 12:46] DanielJuravski commented on #878
@mohammedayub44 finally I found a solution for this issue! tnx!

[2020-04-11 16:00] andfanilo commented on #1336
Hey @DanielJuravski :) is it the same issue as https://discuss.streamlit.io/t/cache-keras-trained-model/2398 ?

If this is solved we should close this issue ;)

[2020-04-11 19:47] benlindsay commented on #1046
@jrhone Great, thanks!

[2020-04-11 22:58] fernandascovino commented on #846
Hey! Any updates on this issue?

[2020-04-12 06:25] DanielJuravski commented on #1336
Solved, the solution was:

adding _make_predict_function() call
return the session
from keras import backend as K

[code]

[2020-04-12 06:25] #1336 closed

[2020-04-12 17:24] kid101 opened #1337 "[question] How to create a pop-up/ modal window?"
How can I add a pop-up/modal using streamlit?? Any samples?

[2020-04-12 20:34] jrhone opened #1338 "External data for a nested function causes cache error"
When the external data is declared below the nested function there is a caching error.

[code]

Caused by:
- Needs investigation

Workaround:
- Declare data above the nested function

[code]

Notes:
- Works in 0.56, breaks in 0.57.3

To Reproduce:
- `streamlit run metrics_dashboard.py`

Error Message:
[code]

Potential fix (untested):
[code]

Possibly caused by
- https://github.com/streamlit/strea

[2020-04-12 23:01] lsimmons2 opened #1339 "InternalHashError: Type aliases cannot be used with isinstance() - when using st.cache"
# Summary

Getting `st.cache` error when running streamlit in docker container `FROM nvcr.io/nvidia/tensorflow:19.01-py3`

# Steps to reproduce

1. Copy dockerfile and script into a directory:

`Dockerfile`
[code]
`script.py`
[code]

2. Run `docker build -t streamlit-example . && docker run -v /this/dir:/work -it streamlit-example bash`

3. In container run `streamlit run script.py`

## Actual beh

[2020-04-12 23:43] jrhone commented on #1339
Might a [bug](https://stackoverflow.com/a/50496822/717608) in Python 3.5.2

Can you try with a newer python version @lsimmons2 ?

[2020-04-13 09:37] ogvalt opened #1340 "Bug while caching hydra.cc object (omegaconf.dictconfig.DictConfig)"
# Summary

I'm trying to cache function that take custom object with omegaconf.dictconfig.DictConfig type field. This object comes from hydra.cc config library.
It seems that streamlit experiencing some problem with hash function

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. As far as I understand you should use any argument with `omegaconf.dictconfig.DictConfi

[2020-04-13 15:43] mmarchetti opened #1341 "Provide access to tornado's request_callback"
### Problem

I want to pre-process requests to the streamlit app using code that is specific to the system I'm developing. I need to do this in a way that doesn't require modifications to the individual streamlit apps being deployed.

### Proposed Solution

Tornado's `HTTPServer` allows for a `request_callback` which will be called on every request. Can streamlit accept this as an optional paramet

[2020-04-13 19:50] nthmost commented on #1340
Hi @ogvalt ,

Do you think you could provide a short working sample of code using `hydra.cc` and `streamlit` that shows us how to reproduce the issue?  This will make it much faster for us to diagnose.

Thanks!

[2020-04-13 23:07] crypticintent commented on #1061
I have a question in regards to this:
Why is streamlit even trying to convert to a local datetime?

I work with several datasets that have local timestamps and the time zone in two separate columns.
One of the big problems I'm running into is streamlit is trying to infer daylight savings time and giving me this ambiguous error when that particular timestamp is from a location that does not utilize

[2020-04-14 05:30] Agerrr commented on #744
I also have a very similar issue. The simplest way to reproduce it is to run a `streamlit` app (`streamlit run <your_streamlit_app_file_name>.py`) with the following code:

[code]

This results in:
[code]

Stack trace:
[code]

[2020-04-14 07:54] tvst commented on #923
**Update: we did a little research and here are the top-level findings**

### The problem

Matplotlib has two different types of APIs you can use. One has global state, and the other only has local state. Turns out that "global-state" API is not thread-safe, while the "local state" one is.

[code]

The reason for this is obvious: when two threads modify the global state without using control primi

[2020-04-14 09:50] ogvalt commented on #1340
Hi @nthmost,
yep, no problem

[code]

[code]

[code]

place them side by side, they should work fine.

[2020-04-14 09:59] neliseiska commented on #475
I don't see how the pydeck solves this?

There is a similar problem in e.g. here:
https://github.com/streamlit/streamlit/issues/985

Can be reproduced with e.g.:
[code]

[2020-04-14 10:58] landmann commented on #160
The problem I have now is that the written title coming from `st.write(title)` doesn't disappear. Any thoughts?

[2020-04-14 11:43] SimonBiggs opened #1344 "Editable"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

Is your feature request related to a problem? Please describe the problem here. Ex. I'm always frustrated when [...]

### Solution

**MVP:** What's the smallest possible solution that would get 80% of the prob

[2020-04-14 11:50] SimonBiggs opened #1345 "Editable Pandas DataFrame Widget"
Might it be possible to create an editable pandas DataFrame? I'd be keen to help out. Back in 2017/2018 when we were tackling this ourselves we implemented the DataFrame editing in the following way:

https://mybinder.org/v2/gh/SimonBiggs/scriptedforms-examples/master?urlpath=scriptedforms/use/detailed-example.md (scroll down to the "table variables" heading)

In hindsight it would have been far n

[2020-04-14 11:59] #1344 closed

[2020-04-14 13:54] ezavarygin opened #1346 "datetime column is incorrectly displayed in streamlit"
# Summary

When trying to display a dataframe with a datetime column, streamlit converts the timestamp by applying a time shift.

This only happens when I run the streamlit app on a server which is in a different timezone. When I run it locally on a laptop, the output is correct.

# Steps to reproduce

The minimal working example that illustrates the issue:

[code]

The output is as follows:

[cod

[2020-04-14 17:11] dchudz commented on #923
Yeah. For what it's worth, your Option 1 seems right to me.

I was initially a little put off from Streamlit when I saw this error in an app someone tweeted. It took me some time to realize that the problem was limited to matplotlib global state, and not a deeper issue with Streamlit itself.

If you stop supporting the global-state API you'll avoid that kind of issue.

[2020-04-14 17:20] jrhone commented on #1346
Maybe related to #1288 or #1061

[2020-04-14 18:15] kunaljaiswal4393 opened #1347 "Embedding PowerBI/Google Data Studio reports in Streamlit"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem
Unable to find resources on how I could embed my PowerBI/Data Studio dashboard on the Streamlit App. Just Curious to know if its possible.
Is your feature request related to a problem? Please describe the probl

[2020-04-14 18:31] jrhone opened #1348 "Dockerfile and wiki for E2E tests are out of date"
https://github.com/streamlit/streamlit-old-private/wiki/E2E-Tests

1. The Dockerfile attempts to copy a Pipfile.lock for python 3.7.4 that doesn't exit on my machine. (My python version is 3.8.4). I commented out this line and re-build the image.

2. The Dockerfile attempts to call `make pipenv-lock` which appears to have been removed from the Makefile. I did a `make pipenv-install` instead.

3. T

[2020-04-14 19:53] jrhone opened #1349 "HiPlot integration"
Support [HiPlot](https://github.com/facebookresearch/hiplot), an interactive plotting tool that allows to play with high dimensional data. It currently works on Jupyter notebooks (React code embed in an iframe)

Related https://discuss.streamlit.io/t/hiplot-integration/1912/4

[2020-04-14 20:28] nthmost commented on #1335
Hi @kkissmart ,

At present there isn't a Streamlit API-based way to style the `st.text_area` box.  But there should be!

I'm going to convert this ticket into a feature request.  You can watch it for updates if/when we take it on as a new (mini) feature.

Thanks for calling this out!

[2020-04-14 20:30] puntium opened #1350 "High DPI pyplot() image is not preserved in UI"
# Summary

If I render a matplotlib chart with pyplot() passing a dpi=NNN parameter, the contents of the plot render as if the correct dpi were set, but the resulting image available in the streamlit UI remains 72 dpi.

# Steps to reproduce

1. Render a matplotlib chart passing the dpi parameter. e.g. st.pyplot(dpi=300). Also note the matplotlib figure size specified.
2. Click on the "wide mode" e

[2020-04-14 21:25] jrhone commented on #1341
Hey @mmarchetti , could you share some use cases you had in mind?

[2020-04-14 22:36] jrhone opened #1351 "Order of dicts affects the hash but shouldn't"
[code]

[code]

[2020-04-15 03:30] mmarchetti commented on #1341
Mainly I'm looking at two things: authentication/authorization, and handling for custom headers added by a reverse proxy in front of the apps.

[2020-04-15 13:26] nicolasdaviaud commented on #949
A clean solution would probably need to have a dedicated default value that cannot be mistaken for any actual value ( `` could possibly be a valid option to select). I didn't think of the `format_func` to actually format this exceptional value and thus had to use a string, but it's a very good point.

For reference, you'll find below the wrapper I wrote in December to handle a very similar use cas

[2020-04-15 19:15] fabiommendes opened #1353 "Streamlit should have support for Internationalization (i18n)"
While you obviously can write text in any language you want, the UI elements such as date picker, menu, etc are always in English. Streamlit should support i18n to be more useful to non-English speaking users.

Since the underlying widgets already have support for i18n, it shouldn't be so hard to add it to Streamlit. I am willing to implement it, but I'd rather hear what are your thoughts on that

[2020-04-15 22:10] erwindassen commented on #455
Another tool that could make this feature request easier to implement would be to use d-tale: https://pypi.org/project/dtale/ It uses flask as a back-end and already integrates with jupyter so perhaps with some hacking it could take care of all interface elements with the dataframe inside streamlit? Just throwing ideas here.

[2020-04-16 07:21] #1345 closed

[2020-04-16 07:21] SimonBiggs commented on #455
An amazing react table widget is the following:

https://blueprintjs.com/docs/#table/features.editing

Also an example of an editable table in a streamlit like project is the following:

mybinder.org/v2/gh/SimonBiggs/scriptedforms-examples/master?urlpath=scriptedforms/use/detailed-example.md (scroll down to the "table variables" heading)

Mentioned these in the following issue, but I'm going to cl

[2020-04-16 10:56] sourabhdattawad commented on #877
Changing port to 443 solved the issue.

[2020-04-16 11:43] devenjarvis commented on #1083
This is a critical need for us to broadly use streamlit at my company so we can restrict access to the appropriate audiences. Any chance there is a current workaround (even if it’s a bit “hacky”) that we can use to get these headers?

[2020-04-16 12:12] IanCal commented on #1083
@devenjarvis one setup would be to use an authentication layer in front - such as https://github.com/cloudflare/nginx-google-oauth (there is a docker image pre-built), then the streamlit app or anything behind it doesn't need to know anything about authentication. The limit is it's an all or nothing access limit, depends on your use case if that's workable.

[2020-04-16 12:21] IanCal commented on #1317
One thing is that the buttons only return true on the next run through the file, if that's causing confusion.

About things happening twice when you click the button, your code runs the same function twice

[code]

That runs once if the button wasn't clicked, and twice if it was.

[2020-04-16 16:04] devenjarvis commented on #1083
So we have something similar setup with AWS ALB and Okta, but it's the all-or-nothing access that's the hangup. I need to be able to lockdown access by user/role. Which we get from our auth solution in the form of a JWT in a header.

[2020-04-16 17:22] polvoazul commented on #732
@starrabb1t

try this: https://gist.github.com/tvst/6ef6287b2f3363265d51531c62a84f51

and then add the session id as an argument to the cached function

[2020-04-16 21:46] patalanov opened #1355 "Bug in 0.57.3"
# Summary

Function not printing to browser after upgrade from `0.52.2` version to `0.57.3`

# Steps to reproduce

The following conditional works smoothly in `0.52.2`

[code]
called at `main()` with:

`prediction_of_deaths(df, notification_percentual, pred)
`
## Expected behavior: display `st.markdown()`, `st.write()`

But now with version `0.57.3`, page stays blank when it reaches this point of

[2020-04-17 00:21] schwarzbox commented on #554
I deploy app in heroku and before this I try run app locally.

$ heroku local

My app starts as expected but I include shell script which must run in server.
This script create file
~/.streamlit/config.toml
[server]
headless = true
enableCORS=false
port = 5000

After that a had this exception.
I had same EXCEPTION! 'NoneType' object has no attribute 'strip'

Yes. I can run app like suggest @hcoohb

[2020-04-17 05:01] vinodrajendran001 commented on #1294
I am experiencing the same issue in Windows 10 Google chrome.
Streamlit : 0.57.3
Python: 3.6.9.

Chrome error : Not allowed to load local resource.

[2020-04-17 06:28] srinathsrk76 commented on #1019
Same here. + 1 for folder picker.

[2020-04-17 08:34] cedias commented on #570
Indeed I think there should definitely be (at least) two more parameters to the selectbox:
- a "visible_elements" parameter to customize the list size (an integer ?).
- a "search-first" parameter to change the list behavior to a search behavior (a boolean)?

This would answer both of @RomeoDespres concerns.

For now, you can manually add a css rule to the item list so it does not hide the box:

[c

[2020-04-17 08:37] cedias commented on #1250
Fyi, Issue #570 highlights the main problems with lists

[2020-04-17 11:19] xuchenAIR commented on #1317
I find that
if an class inherit object like content(object)
the data is doubled, and if not ,that would be true.

[2020-04-17 12:55] jaseuts opened #1356 "SchemaValidationError:"
# Summary
I tried to create an `altair_chart` with the following code in anaconda prompt `streamlit run demo.py`

# Steps to reproduce
This is the code in the `demo.py`
[code]
## Expected behavior:

A chart should be displayed in a web browser

## Actual behavior:
The web browser displayed this error message
![image](https://user-images.githubusercontent.com/11934573/79570868-8edab300-80fd-11ea-93

[2020-04-17 16:35] jrhone opened #1357 "Planning"
# Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

## Expected behavior:

Explain what you expect to happen when you go through the steps above, assuming there were no bugs.

## Actual behavior:

Explain the buggy behavior

[2020-04-17 16:57] abdurahman-shiine opened #1358 "Latest version doesn't work with SessionState()"
# Summary

I have just updated to the latest version of Streamlit, and when I tried to run one of the scripts that uses the SessionState() I got this error:

AttributeError: 'Server' object has no attribute '_session_infos'

# Steps to reproduce

I tried with a simple script:

import streamlit as st
import SessionState

session = SessionState.get(hello=st.empty(), run_id=0)

session.hello.text_inp

[2020-04-17 19:59] arraydude opened #1360 "Modal / Popup widget"
### Problem
As a user I would like to show some specific data with a modal

### Solution
https://baseweb.design/components/modal/

### Additional context

User question: https://github.com/streamlit/streamlit/issues/1337

[2020-04-17 20:01] arraydude commented on #1337
Hey @kid101 , thanks for reporting this.

Nowadays there's no possible way but as you can see on our [roadmap post](https://discuss.streamlit.io/t/the-streamlit-roadmap-big-plans-for-2020/2054) we are working on a new layout project which will contain new visual elements like this, meanwhile I created a new feature request [here](https://discuss.streamlit.io/t/the-streamlit-roadmap-big-plans-for-2

[2020-04-17 22:50] arraydude commented on #1347
Hey @kunaljaiswal4393 ,

I don't know if I'm understanding you correcly, but if you are trying to embed the iframe code that  Google Data Studio reports gives you there's a -work in progress- project related to html and iframe ( [roadmap](https://discuss.streamlit.io/t/the-streamlit-roadmap-big-plans-for-2020/2054) ) but meanwhile you could use `unsafe_allow_html` parameter from st.markdown().

[c

[2020-04-18 00:48] xuchenAIR commented on #1317
That it runs twice does not affact anything because  the data is imported every time when it runs.
like
`df = dealer_xes.get_df_from_xes_file(FOLDER_DATA+data_xes)`
`
import streamlit as st
import PMTools
from heuristic import Heuristic
import os
import dealer_xes
import Miner_xes

FOLDER_DATA = 'data/'
st.title('Process Mining Tools For XES')
st.sidebar.title('一、选择文件：')

root = os.getcwd()
xes_li

[2020-04-18 01:12] xuchenAIR commented on #1317
The function of importing data:
[code]

[2020-04-18 09:32] andfanilo commented on #1360
This would be an interesting usecase.

I know if I had a Modal at hand, if possible I'd like to use it like I use the sidebar, that is enable Streamlit widgets inside a modal (button, file_uploader...).

That would require a bit of API design thinking though around composing what's inside the modal with different st calls inside, and managing enter/exit calls through a context manager.

quickly jo

[2020-04-18 14:49] matheusccouto commented on #1358
Have you tried using the last version of the st_state_patch gist?

I was facing the same problem and got it working after updating it.
https://gist.github.com/tvst/0899a5cdc9f0467f7622750896e6bd7f

I am using streamlit-nightly 0.57.4.dev20200417

[2020-04-19 04:26] Stapelzeiger opened #1361 "Support for display of numpy arrays of complex numbers"
### Problem

Printing of numpy arrays works well for arrays of real numbers, but arrays of complex numbers don't work, throwing an exception instead.

As a result I have to convert arrays to a strings to print, which then loses the nice, scrollable formatting of the array. It is also more code to type, just to look into the contents of an array, which makes it a lot less convenient.

The following

[2020-04-19 11:56] #1356 closed

[2020-04-19 12:49] abdurahman-shiine commented on #1358
I didn't actually know that there was a new version of this.. I'll try it out.. thanks

[2020-04-19 15:00] srinathsrk76 opened #1362 "Compatibility of Streamlit app with pyinstaller"
Team, I know there's a "Streamlit for teams" functionality in beta - but if we can also prioritize the functionality for added support for converting app into .exe using pyinstaller would be awesome! Many times while working on projects, we don't have the resources to deploy it on a server. We show an MVP to stakeholders to get them excited and then propose a budget for cloud environments like AWS

[2020-04-19 16:52] HaythamG commented on #585
but how to add this code <'(Using this template for CSS & HTML)'> in your app streamlit

'

[2020-04-20 10:23] SimonBiggs commented on #652
As far as I can tell, this has been fixed.

Running the following makes it only accessible from localhost:

[code]

[2020-04-20 11:33] #652 closed

[2020-04-20 12:24] kantuni commented on #1332
Hey @MauGal,

Try making all sub-charts interactive, and see if that works.
Let me know how it goes.

And thanks for the issue!

[2020-04-20 12:49] kantuni opened #1366 "Upgrade all minor dependencies in package.json"
A lot of our dependencies are out of date.

[2020-04-20 13:06] MauGal commented on #1332
Hi @kantuni ,
Your solution is perfect.
It's works

Thanks for your answer

[2020-04-20 14:28] #1332 closed

[2020-04-20 14:31] jrhone commented on #1106
Hi @julianmukaj , the fix has been in Streamlit for a bit.  Have you had a chance to try this with the latest version?

[2020-04-20 18:31] nthmost commented on #846
Hi @fernandascovino  -- We haven't moved this kind of feature up in priority just yet, unfortunately.  I'll keep you updated.

[2020-04-20 19:52] SimonBiggs commented on #652
@bachi76 part of the reason this might still be thought to be an issue may be due to the fix needed in https://github.com/streamlit/streamlit/pull/1365

[2020-04-20 20:08] SimonBiggs opened #1367 "Slight adjustment to the pull request messaging"
For good reason the pull request text asks that submitters first raise an issue and discuss before just making a patch. This is great advice for those large pull requests that are impacted by things such as API or software design choices.

However there is a another kind of pull request. One that is very valuable in the open source community. That is the fly by bug fix. Some one has a small bug, o

[2020-04-20 20:14] SimonBiggs commented on #1367
Am example of a pull request I almost didn't bother with because of this policy:

https://github.com/streamlit/streamlit/pull/1365

See that as an example of the sort of cases I don't want people to be dissuaded from submitting. Or such a simple pull request that may have had an issue raised, and then have the issue fall into the sea of the 400 other issues never to be seen again.

The bandwidth f

[2020-04-20 21:23] #1316 closed

[2020-04-20 21:52] sreeladas commented on #879
Also seeing this issue with version 0.57.0

With server.headless = false, outside a Docker container, this seems to only happen if I _also_ try to access the app from the browser _before_ the first window is done loading. Waiting a few seconds functionally resolves it for me.

From inside a Docker container (server.headless = true), only the second window I open has this problem (!?) Not the 1st,

[2020-04-20 22:01] nthmost opened #1369 "Allow suppression of "Running _function_" display in browser"
### Problem

Some users really dislike seeing the "Running _function_" notification in the browser during loading.

We should allow users to suppress this notification.

### Solution

**MVP:** What's the smallest possible solution that would get 80% of the problem out of the way?

**Possible additions:** What are other things that could be added to the MVP over time to make it better?

**Preferred

[2020-04-21 00:11] DylanModesitt opened #1370 "Streamlit in Electron!"
Is there a future for electron deployment of streamlit?
___

[code]

I think this has a few key ideas that makes it worth exploring.

1. Streamlit has already changed the game for python application development. IMO, it is the biggest thing in the python web stack since Django. With an electron deployment feature, it could become a big tool for "native" python desktop apps as well.
2. Streamlits t

[2020-04-21 11:45] mvcalder-xbk commented on #1335
@nthmost is there an indirect method, say using unsafe html or otherwise, to adjust the text_area size? Thanks.

[2020-04-21 16:29] brey commented on #1288
Hi All,
I am having the same problem when trying to display an Altair graph with time series that uses naive dates as x axis. I get the same error output as above. The graph is displayed nicely on Jupyterlab.

[2020-04-22 02:26] himanshurobo commented on #601
Any update on this ?

[2020-04-22 10:06] SimonBiggs commented on #1370
Hi @DylanModesitt,

I completely agree, this is a wide open field of opportunity. In fact, just a few nights ago I was fiddling with just this. Your post encouraged me to bundle it up into a neat little easy to use prototype.

See https://github.com/pymedphys/pymedphys/tree/master/streamlit-bundle.

Essentially, within a library that I manage I have just added a little command line tool that does

[2020-04-22 10:35] LjubeBoskovski opened #1373 "pyDeck TripsLayer does not display trips"
# Summary

The pyDeck TripsLayer is not displayed via st.pydeck_chart(deck) nor via st.write(deck), allthough the same input data in a PathLayer is displayed.

# Steps to reproduce

The pyDeck repository features an example for the TripsLayer: https://github.com/visgl/deck.gl/blob/master/bindings/pydeck/examples/trips_layer.py
This example code snippet is modified to be used with streamlit. Only t

[2020-04-22 11:56] SimonBiggs opened #1374 "Matlplotlib has no attribute use"
# Summary

On a fresh install of Python 3.7.7 on Windows 10 installing streamlit alone with `pip`, the following line causes an the error `matplotlib has no attribute use`

https://github.com/streamlit/streamlit/blob/c2c950da94af2bcea204752746efc872cfc84c48/lib/streamlit/bootstrap.py#L86

I suspect this is because either streamlit itself, or a package streamlit depends upon mocks the `matplotlib`

[2020-04-22 13:54] andfanilo commented on #1373
Hi @LjubeBoskovski,

There's a [PR](https://github.com/streamlit/streamlit/pull/1306 ) on adding GeoLayers that I think should solve your problem, thanks for the code snippet we'll make sure it runs with the PR !

[2020-04-22 15:57] tconkling opened #1375 "asdfasdf"
;ljkas;lkdjf;lkajsdf

[2020-04-22 15:58] #1375 closed

[2020-04-22 17:50] arraydude commented on #1237
I will be closing this, if you have any doubt please re open it.

[2020-04-22 17:50] #1237 closed

[2020-04-22 18:02] arraydude commented on #1069
I will be closing this as we don't have any new comment, but if you need it please reopen it

[2020-04-22 18:02] #1069 closed

[2020-04-22 18:07] arraydude commented on #976
Closing this as it has been fixed on #1013 but fill free to reopen it if you need it.

[2020-04-22 18:07] #976 closed

[2020-04-22 18:10] #920 closed

[2020-04-22 18:36] arraydude commented on #623
Closing this but feel free to reopen it if it's needed.

[2020-04-22 18:36] #623 closed

[2020-04-22 20:02] tc87 commented on #1187
The root of this seems to be the same as [1186](https://github.com/streamlit/streamlit/issues/1186). Closing this as a duplicate.

[2020-04-22 20:02] #1187 closed

[2020-04-22 21:39] kurt-rhee commented on #439
I would also love for this to be completed

[2020-04-22 22:59] tconkling commented on #796
Per https://github.com/streamlit/streamlit/issues/1350, this also makes the pyplot `dpi` parameter essentially meaningless.

[2020-04-22 23:00] tconkling commented on #1350
Hi @puntium, thanks for the detailed report!

I think this is a duplicate of #796 - basically, we're not doing the right thing with large (or high-DPI) plots, and are instead compressing the images before sending them to the browser.

I'm going to close this because it's a duplicate of something we're already tracking, but feel free to re-open if you think I've made a mistake!

[2020-04-22 23:00] #1350 closed

[2020-04-22 23:06] tconkling commented on #1355
@patalanov, I'm not able to reproduce your issue. The following complete program works as expected for me in the latest version of Streamlit:

[code]

Renders as:

<img width="1029" alt="Screen Shot 2020-04-22 at 4 05 38 PM" src="https://user-images.githubusercontent.com/709022/80042172-2ac83e00-84b3-11ea-86d8-2519ed5639a1.png">

Can you post a complete example showing the issue you're seeing?

[2020-04-22 23:15] puntium commented on #1350
Yes looks like the same root issue. Thanks for triaging!

[2020-04-23 00:04] tconkling commented on #1361
Hey @Stapelzeiger - thanks for the bug report. I'll triage this into our internal board!

(We have an upcoming change to Dataframe serialization - we'll be marshaling Dataframes with [Apache Arrow](https://arrow.apache.org/) rather than our home-grown protobuf format. I'm not sure if this makes the problem easier or more difficult... it doesn't seem like Arrow supports complex numbers either?)

[2020-04-23 00:41] tconkling commented on #1370
Hey @DylanModesitt , this is a really cool idea - and thanks @SimonBiggs for running with it!

I'll triage this on our internal feature tracker, and share it with the team!

[2020-04-23 15:04] Magdiel3 opened #1381 "hashing pandas with spacy tokens"
# Summary

I am generating a pandas data frame with one column being tokens from a spacy module. As it its quite a process to generate this table, I placed it on cache and end up with an error **InternalHashError: [E112]**

# Steps to reproduce

What are the steps we should take to reproduce the bug:

Perform a nlp(document) or something win a function that is applied to a pandas columns with pd.D

[2020-04-23 16:11] #1314 closed

[2020-04-23 16:11] #1315 closed

[2020-04-23 16:19] #1309 closed

[2020-04-23 17:11] jrhone commented on #1227
Duplicate of #923

[2020-04-23 17:11] #1227 closed

[2020-04-23 17:57] jrhone commented on #1271
Duplicate of #1166

[2020-04-23 17:57] #1271 closed

[2020-04-23 18:39] jrhone commented on #1329
Duplicate of #594

[2020-04-23 18:39] #1329 closed

[2020-04-23 18:44] #1357 closed

[2020-04-23 18:45] #1358 closed

[2020-04-23 19:09] jrhone commented on #859
The indentation before the font tag was triggering a code block. See fix below.

[code]

[2020-04-23 19:09] #859 closed

[2020-04-23 20:51] nthmost commented on #833
The first item is already taken care of in the latest docs.

Working on improving the rest.

[2020-04-23 22:17] TiankangXie opened #1382 "st.video() is not working with wmv file"
# Summary
Hi all, I met a problem presenting a video. Basically I try to use the example code to present my video but brings up some bugs.
I am not sure if it's my problem or something with the function. I appreciate any help!

# Steps to reproduce
My code is almost identical to the example code:

st.subheader("Raw Audio")
video_file = open('G:\\Video@2012.wmv', 'rb')
video_bytes = video_file.read

[2020-04-24 07:42] mr-fcharles opened #1383 "Deploying Streamlit on port 80"
Hi! I'm trying trying hard to redirect traffic from port 80 of my server to port 8501 where Streamlit runs by default. I tried both the methods described linked in the official faq ([here](https://github.com/streamlit/streamlit/wiki/FAQ)) aka the one with apache2 and the one with Nginx but after successfully using the reverse proxy ([here](https://discuss.streamlit.io/t/configuring-apache-2-4-for-

[2020-04-24 08:21] gp-umesh commented on #601
any updates? i am very excited to get this support done .

[2020-04-24 09:36] iteachmachines opened #1384 "Volunteer"
Hello everyone I am very much interested in contributing in streamlit.Can anyone guide me on how to get started?

[2020-04-24 10:29] JohnPaton commented on #283
This issue is still present I'm afraid.

**Versions:**
* OSX 10.15.4 (Catalina)
* Python 3.7.1
* pip 20.0.2
* streamlit 0.58.0
*
[code]

I've already tried removing and reinstalling xcode tools but to no avail.
<details>
  <summary>Output from trying to pip install in a clean virtualenv (brace yourself):</summary>

[code]
</details>

[2020-04-24 11:40] jrhone commented on #808
Currently the docs only have an extra parens

[code]

[2020-04-24 12:30] jrhone commented on #84
`-m` no longer exists

[2020-04-24 12:30] #84 closed

[2020-04-24 12:37] jrhone commented on #495
Hi @Colanim , sorry for late reply!

If you upgrade to the latest version of Streamlit you'll be able to pass a custom `hash_func` to hash your generator. See example below.

[code]

See [Caching docs](https://docs.streamlit.io/advanced_caching.html#the-hash-funcs-parameter)

[2020-04-24 12:51] #723 closed

[2020-04-24 12:55] jrhone commented on #746
See comment on `Session State` at https://github.com/streamlit/streamlit/issues/165#issuecomment-541507493

[2020-04-24 12:55] #746 closed

[2020-04-24 13:23] #1337 closed

[2020-04-24 17:27] arraydude commented on #1374
Hi @SimonBiggs , thanks for reporting .

I've found [this interesting post](https://stackoverflow.com/questions/8650957/matplotlib-no-object-use-or-version), could this be related to your problem?

[2020-04-24 18:06] arraydude commented on #1382
Hey @TiankangXie thanks for reporting this, I could not reproduce your same behavior but the video is not playing. We'll prioritize this within our backlog.

[2020-04-24 18:14] jrhone opened #1385 "Need hash_func for type MappingProxy"
[code]

raises `UnhashableType: Cannot hash object of type mappingproxy`

Originated from #1244

[2020-04-24 18:20] TiankangXie commented on #1382
Hey @arraydude  Thanks for replying so fast! So I think it might be a problem related to my system. The video WILL run on my Mac laptop but not windows.

[2020-04-24 18:28] arraydude commented on #1383
Hey @mr-fcharles ,

Did you try setting CORS to false as it is shown [here](https://docs.streamlit.io/troubleshooting/not-loading.html?#symptom-2-the-app-says-please-wait-forever)?

[2020-04-24 18:57] jrhone opened #1386 "Handle websocket connection timeouts gracefully"
From [discussion](https://discuss.streamlit.io/t/crosstalk-between-streamlit-sessions-with-multiple-users/319/13?u=jonathan_rhone)

[2020-04-24 19:15] benlindsay commented on #302
Just want to put in my two cents and say that I love streamlit, and that being able to make use of url arguments for page navigation and widget value setting would make this even more amazing. My use case is that I have a dashboard of a bunch of different compute jobs with subpages for each one, and it would be really nice to be able to send a link directly to the relevant subpage to someone, simi

[2020-04-24 19:45] arraydude commented on #870
Hi @starrabb1t , maybe [this thread](https://discuss.streamlit.io/t/how-can-i-clear-a-specific-cache-only/1963) helps you, if not please open a new discussion [here](https://discuss.streamlit.io/) with your use-case

[2020-04-24 22:29] mr-fcharles commented on #1383
@arraydude tried that now, now everything works perfectly, thanks a lot!

[2020-04-24 22:29] #1383 closed

[2020-04-25 03:27] benlindsay commented on #862
Very much interested in this feature too

[2020-04-25 03:54] tatien777 commented on #896
your solution is great :)). I'm very interested in your image demo if you can share more about it. Many thanks sir

[2020-04-25 06:36] SimonBiggs commented on #1374
No, I don't believe that post is relevant, but nevermind. I tried reproducing the issue within CI and was not successful:

https://github.com/SimonBiggs/streamlit/runs/617486029#step:7:7

As such, until I can better reproduce the issue I shall close this.

Thanks @arraydude.
Cheers,
Simon

[2020-04-25 06:36] #1374 closed

[2020-04-25 08:13] sefgit commented on #1023
similiar issue using
streamlit hello
select DataFrame Demo
Streamlit v0.58.0

Windows 10 Edge
![edge](https://user-images.githubusercontent.com/3461761/80274800-301dc680-8707-11ea-8095-ebcfac1532e2.png)

no issue using Chromium on Windows
![chromium](https://user-images.githubusercontent.com/3461761/80274811-3dd34c00-8707-11ea-9bf0-8c4465fa9ebb.png)

[2020-04-26 06:53] rohit167 commented on #897
As @MarcSkovMadsen  already pointed above every time you interact with any widget, the script is rerun and you risk processing the file again!

I am calling a load function and whenever I am interacting will any widget in application it loads the entire .csv file again and st.cache doesn't work because file_uploader object <__io.StringIO object at 0x00022D854F8_> seems to be changing every time.

[2020-04-26 08:13] jrhone commented on #897
Hi @Rohit, I don't think the file uploader is reloading the file on each
report run. What exactly makes you think so?

Could you provide sample code that we can copy/paste and run to reproduce
your issue?

On Sun, Apr 26, 2020, 3:53 AM Rohit <notifications@github.com> wrote:

[2020-04-26 11:55] nishnash54 commented on #1384
Have a look at the [contribution guidelines](https://github.com/streamlit/streamlit/wiki/Contributing).
If you have anything new in mind, create a new issue and discuss with the team or get started on existing issues.

[2020-04-26 12:31] iteachmachines commented on #1384
Sure thanks alot!

[2020-04-26 14:30] rohit167 commented on #897
Hello @jrhone,
Thank you for your response.

code:
[code]

csv file is about 75 MB.

Whenever I interact with any widget on app I see below load_data message. So I think it is loading file every time.

![image](https://user-images.githubusercontent.com/44225389/80310235-43a85a80-87f7-11ea-8428-0aa1706f9bc5.jpg)

Am I missing something here?
Why I see above message on each and every interaction wit

[2020-04-26 15:59] jrhone commented on #897
This message is displayed by default when we're executing methods decorated with `@st.cache`. If execution takes less than 0.1 seconds we don't display the message to avoid flickering. It can be suppressed using the `show_spinner` flag like `@st.cache(show_spinner=False)`.

In this case, what's happening is Streamlit is hashing the body, inputs and outputs of the function to determine if we have a

[2020-04-26 17:15] rohit167 commented on #897
Hi @jrhone,

Now I understand much better. Also, check debug logs could see cache hit on subsequent function calls. The message is appearing only for short time.  I have suppressed message by using the show_spinner flag. App looks better and now it won't give user a feel that every time csv file is loading.

Thanks for the help!

[2020-04-27 15:56] jrhone opened #1388 "Need hash func for Torch.Tensor"
Here's a simple example of a program that can't be cached:

[code]

which gives

From [comment](https://github.com/streamlit/streamlit/issues/1268#issuecomment-607569208) on #1268

[2020-04-27 15:59] jrhone commented on #1388
# Notes

- numpy().tobytes()

- [torch.save()](https://github.com/pytorch/pytorch/blob/master/torch/serialization.py#L330)

[code]

# Resources

- https://discuss.pytorch.org/t/fast-serialization-of-tensors/10863

- https://discuss.pytorch.org/t/why-hash-values-of-a-same-tensors-change-if-we-affect-it-to-different-variables/40028/2

- https://github.com/pytorch/pytorch/issues/9168
- https://github

[2020-04-27 17:43] arraydude opened #1389 "Quick wins"
type: **epic**

This epic contains a batch of issues that would be easy to tackle.

[2020-04-27 19:09] #121 closed

[2020-04-27 19:09] arraydude commented on #121
Closing this as there is an [existing project](https://www.notion.so/streamlit/Custom-Components-bccc37f8d12e4a8a9f51c313c679b6a6) about this

[2020-04-27 19:11] #158 closed

[2020-04-27 19:17] arraydude commented on #184
This could be related to this #29

[2020-04-27 19:20] #256 closed

[2020-04-27 19:25] felixthecat000 commented on #890
I have the same error when I am connected to the internet using my home internet router. And also when I am not connected to the internet.

If I am connected to the internet via my phone using a wifi hotspot streamlit works.

I am running on Docker Ubuntu 18.04.

Why does connecting to a different network change streamlit if I am running locally?

[2020-04-27 19:33] arraydude commented on #292
You can pass your config options through the command line as it's shown [here](https://docs.streamlit.io/cli.html?)

For instance:
`$ streamlit run your_script.py --server.port 80`

[2020-04-27 19:36] #310 closed

[2020-04-27 20:38] tc87 commented on #1188
Closing this issue as it was merged in [1364](https://github.com/streamlit/streamlit/pull/1364).

[2020-04-27 20:38] #1188 closed

[2020-04-27 20:40] tc87 commented on #1190
Closing this issue as it was merged in [1284](https://github.com/streamlit/streamlit/pull/1284).

[2020-04-27 20:40] #1190 closed

[2020-04-27 20:41] tc87 commented on #1385
Closing this as it was merged in [1363](https://github.com/streamlit/streamlit/pull/1363).

[2020-04-27 20:41] #1385 closed

[2020-04-27 21:22] ericmjl opened #1390 "cannot cache function that does not accept an argument"
# Summary

As per title.

# Steps to reproduce

I created a dummy app that had the following:

[code]

## Expected behavior:

I expect the function to just be cached deterministically, as if I were using the `lru_cache` instead. It's nice to eliminate one more import line :smile:.

## Actual behavior:

Instead, I see the following error:

[code]

## Is this a regression?

I think it _might_ be a r

[2020-04-27 21:53] psychemedia commented on #1370
I've also been wondering about bundling freestanding electron apps that carry their own Python distribution with them for running py apps via the electron UI. This is one of the closest recipes I've seen for how to create such a bundle, though I haven't had/made a chance to try it out yet: https://github.com/gollowars/python-electron

[2020-04-27 23:36] SimonBiggs commented on #1370
@psychemedia for reference here is the recipe I made to make the CLI `pymedphys bundle` work:

https://github.com/pymedphys/pymedphys/blob/master/pymedphys/_bundle/__init__.py

[2020-04-28 02:26] shekharidentv commented on #1186
I didn't find any help in using the model from hub.
`module_url = "https://tfhub.dev/google/universal-sentence-encoder-multilingual/3"
    model = tf.keras.Model(module_url)
    tf.saved_model.save(model, "./model")
    imported = tf.saved_model.load("./model")
    print(dir(imported))`

it generates the output :
`['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__

[2020-04-28 13:16] #1384 closed

[2020-04-28 14:26] psychemedia commented on #1370
@SimonBiggs So this is me being slow: does the recipe produce a Windows exe that contains bother the electron app and the complete, standalone py distribution & environment used by the electron app? Does it just build an exe, or does the same workflow work for building executables for other platforms?

What I'm wondering is is how far away this is from something that could be turned into a cookiec

[2020-04-28 17:21] nishnash54 commented on #824
Is anyone working on this? I would love to contribute.
Let me know if anything is panned in regard to this issue. :smile:

[2020-04-28 19:07] lucasvascrocha commented on #400
**Error: Request failed with status code 400**

csv size is upper 200MB, I cannot change the "server.maxUploadSize"
someone know how i can solve this problem?

[2020-04-28 19:13] jrhone commented on #838
Hi @arnaudmiribel , could you provide us with a sample `path/to/weights.h5` file? We're working on adding built in support for hashing keras models.

[2020-04-28 19:29] SimonBiggs commented on #1370
Hi @psychemedia it currently builds an exe and bundles a Windows 64 bit Python distribution with all the packages declared in requirements.txt pre-installed.

I had previously used a similar recipe for JupyterLab.

This bundles the "Windows Python Embedded" as distributed from the Python.org website. I don't believe they have an "embedded Mac" or "embedded Linux" release. Not that that should be t

[2020-04-28 19:35] SimonBiggs commented on #1370
As an API, I much prefer a CLI over a cookie cutter template. That way someone can turn it into a cookie cutter, or a GitHub action (or something else) as they please.

I would imagine a config.toml file having items in it such as "JupyterLab" or "Streamlit" as well as "name" "version", "default install path", "os", "icon path" "requirement.txt path" "Streamlit app path" "notebook directory". And

[2020-04-28 19:39] SimonBiggs commented on #1370
@psychemedia if you install pymedphys version 0.22.* you can see the JupyterLab version of this script. It was removed in version 0.23.0.

See https://github.com/pymedphys/pymedphys/tree/0.22.x/jupyterlab-bundling for JupyterLab instructions. You will need to pin pymedphys to less than 0.23.0 though for it to work.

Cheers,
Simon

[2020-04-28 19:54] psychemedia commented on #1370
@SimonBiggs Thanks for pointers; will try to give it a go... Could be handy as a way of distributing a simple environment to distance ed students, and a bit lighter than a docker container in terms of weight an requirements to install other things (like docker, or fighting with conda etc).

[2020-04-28 20:05] samdobson commented on #1123
Just to share my experience with this. The core Streamlit theme colours themselves are relatively easy to change with CSS (see https://github.com/samdobson/streamlit-theme), *however*, the components, such as the slider, checkbox, radio etc. are unfortunately more tricky and, in the current version of streamlit, probably requires changing variables in the React app and rebuilding the frontend.

[2020-04-28 20:07] ChrisMcPherson commented on #475
@tvst

I am still unable to update the initial_view_state (showing a map with interactively entered lat/long) with the latest streamlit (0.58) and pydeck (0.3.1) versions. Should we expect this functionality to exist now??

[2020-04-28 20:10] SimonBiggs commented on #1370
Certainly. I have learnt that docker is most certainly not the way to go for user friendliness/discoverability. Too much is hidden away from the user. Also, the fact that the visible file system is not the user's file system is an order of magnitude of complexity than what should be there for a new student.

My personal target audience has been other Medical Physicists who are not programmers. I w

[2020-04-28 20:11] samdobson commented on #1141
From a UX perspective, a custom CSS folder in the streamlit would certainly be a nice way to go. I think most (me included) would settle for any old way to change the basic theme elements for the time being (however user-unfriendly that may be!)

[2020-04-28 20:32] yaserkl opened #1395 "pydeck_chart doesn't properly render 3D plots created using PointCloudLayer"
I have created the following example that shows that streamlit is not able to properly render a 3D plot using PointCloudLayer.

# Code
    import streamlit as st
    import pandas as pd
    import numpy as np
    from sklearn.preprocessing import MinMaxScaler
    import pydeck

    MAPBOX_API_KEY=''

    @st.cache
    def genenerate_date():
        data = pd.DataFrame(np.random.rand(100,3))

[2020-04-28 21:50] ChrisMcPherson commented on #985
I am still unable to update the initial_view_state (showing a map with interactively entered lat/long) with the latest streamlit (0.58) and pydeck (0.3.1) versions. Should we expect this functionality to exist now? Any workarounds known?

[2020-04-28 23:28] vobject commented on #1382
I have the same issue, it appears to be releated to running on Windows 10, not the video itself.

streamlit: 0.58.0
Python: 3.6.2, 3.7.1
Distribution: WinPython
OS: Windows 10

I'm using the same mp4 video that's part of the streamlit readthedocs documentation and get the same exception as @TiankangXie. So, the video file is not the problem.

The issue goes away when executing the my script throug

[2020-04-29 00:03] vobject commented on #1382
The exception is thrown at: https://github.com/streamlit/streamlit/blob/develop/lib/streamlit/elements/media_proto.py#L124

A (very hacky) workaround is to replace the protobuf enums with the appropriate integers, such as
[code]

[2020-04-29 03:58] neliseiska commented on #475
I was able to do update the map with this workaround:
[code]

[2020-04-29 08:14] Tam-plotwise commented on #601
any update?

[2020-04-29 12:24] arnaudmiribel opened #1397 "Multiselect check for defaults goes wrong if not a list"
# Summary

When using `st.multiselect()`, there's an error being thrown out if default values are given in a tuple instead of a list. **See additional info for a solution. I'm happy to do a PR if you're ok with my point.**

# Steps to reproduce

1. Create an `app.py` with the following:

[code]

2. Now run `streamlit run app.py`.

## Expected behavior:

The code above should work and print the fol

[2020-04-29 12:37] arnaudmiribel commented on #838
Hi @jrhone,
Regarding sample `.h5` file, you may look upon [Keras released pre-trained models](https://github.com/fchollet/deep-learning-models/releases/download/v0.1/vgg16_weights_tf_dim_ordering_tf_kernels.h5).
There are plenty of weight files, which are IIUC used when calling e.g.:

[code]

[2020-04-29 14:43] danlester commented on #1370
This idea is also something I've been working on - finding a reproducible way to send someone a Streamlit app to run locally on their computer.

I continue to find that (for non-trivial apps) the barrier is always incompatibilities in the Python environment across platforms, or conflicting with existing installed components.

For that reason, my ContainDS Desktop electron app requires Docker (or V

[2020-04-29 15:07] MarcSkovMadsen commented on #601
I believe this will be possible with the upcoming plugin support which appears to have high priority and will be launched (maybe as an experimental version?) soon.

[2020-04-29 16:04] ChrisMcPherson commented on #475
@neliseiska Thank you for the tip! That did it.

[2020-04-29 16:27] theholymath commented on #745
Did this ever get resolved? I am still running into this.

[2020-04-29 17:29] randyzwitch commented on #1397
Hi @arnaudmiribel, thanks for reporting this! It looks like this is a simple oversight/bug, so please create a PR and we'll be happy to review it.

[2020-04-29 19:07] psychemedia commented on #1370
@danlester I can't read that article, unfortunately... *"To keep reading this story, create a free account."*

[2020-04-29 19:21] danlester commented on #1370
I've fixed that now, thanks - made it public. In your case, I think it's functionality you've already tried (exporting as a containds file).

[2020-04-29 19:50] SimonBiggs commented on #1370
@danlester what portability issues do you see with the Python environment bundled with he following tool?

https://github.com/pymedphys/pymedphys/tree/master/streamlit-bundle

[2020-04-29 20:15] randyzwitch opened #1398 "make all-devel missing mypy-protobuf"
# Summary

When running `make all-devel` for first time, process fails because `mypy-protobuf` is not installed.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

[code]

## Expected behavior:

Would expect make process to build working environment

## Actual behavior:

[code]

## Is this a regression?

No

# Debug info

- Streamlit version: (get it with `$ streamlit

[2020-04-30 08:07] arnaudmiribel commented on #1397
Thanks @randyzwitch, PR is submitted here: https://github.com/streamlit/streamlit/pull/1401

[2020-04-30 20:18] danlester commented on #1370
@SimonBiggs Sorry - I didn't mean to discourage the bundling approach if it works for you and your audience! Pure Python code should work well of course, binary Python packages might need a bit more care, and then I'm thinking that non-Python dependencies such as Tensorflow would be hard work...

I was really talking of generic Streamlit apps which might make use of a broad range of technologies i

[2020-04-30 21:35] SimonBiggs commented on #1370
:) no discouragement felt :). You did answer my question though, main downsides of the approach proposed is primarily the difficulty of maintaining cross platform support. I would argue though that a CI approach that creates a Python bundle for each platform is not too out of reach.

[2020-05-01 00:48] nthmost commented on #270
<img width="539" alt="Screen Shot 2020-04-30 at 2 18 05 PM" src="https://user-images.githubusercontent.com/98836/80772177-b58be700-8b0a-11ea-8172-92882aa0e7be.png">

Using Python 3.6 on Windows 10 with streamlit 0.58.0

[2020-05-01 01:21] Jwuthri commented on #779
Any update ?

[2020-05-01 03:26] Jwuthri commented on #779
For the one who really need this:

[code]

[2020-05-01 06:07] jiaoshihong commented on #430
get url parameters, do following:
1. modified routing.py class _RoutingDelegate.def headers_received like this:
    def headers_received(self, start_line, headers):
        request = httputil.HTTPServerRequest(
            connection=self.request_conn,
            server_connection=self.server_conn,
            start_line=start_line, headers=headers)

        '''
        following, get arguments f

[2020-05-01 06:13] jiaoshihong commented on #798
I modified routing.py class _RoutingDelegate(httputil.HTTPMessageDelegate)
        '''
        following, get arguments from url by jiashihong
        '''
        if request.query != '':
            # request.para = dict()
            self.request_conn.params.urlpara = dict()
            # self.server_conn.para = dict()
            psl = request.query.split('&')
            for ps in psl:

[2020-05-01 18:51] nthmost commented on #411
Cannot reproduce on Windows 10 using streamlit 0.58.0 (latest) in Python 3.7.  Closing due to the age of this bug.

Please open a new bug if a similar problem comes up.

[2020-05-01 18:51] #411 closed

[2020-05-01 19:45] tc87 commented on #852
Closing this as it was merged in [1393](https://github.com/streamlit/streamlit/pull/1393).

[2020-05-01 19:45] #852 closed

[2020-05-01 21:01] nthmost commented on #252
Cannot reproduce in python 3.6 or python 3.7 on Conda / Windows 10 ...

[2020-05-01 21:03] nthmost commented on #252
Since the last 2 comments would be bugs arising from python 2 compatibility code, and we removed all of that, I'm closing this one.

[2020-05-01 21:03] #252 closed

[2020-05-01 21:05] nthmost commented on #362
Cannot reproduce in python 3.6 on Windows 10 using streamlit 0.58.0.  This bug is old enough that if the behavior shows up again, we should open a new bug.

[2020-05-01 21:05] #362 closed

[2020-05-01 21:09] nthmost commented on #270
I did not see the following behavior in any version of python on Windows:

[2020-05-01 21:11] nthmost commented on #270
The <?> looking character needs to be fixed by [enabling Unicode in Windows.](https://www.quora.com/Why-doesnt-Microsoft-use-UTF-8-on-Windows-10)

[2020-05-01 21:11] #270 closed

[2020-05-01 22:52] RavenPillmann commented on #745
For visibility's sake, I'm also having this issue.

[2020-05-01 23:07] jrhone commented on #745
Fixed in [nightly](https://pypi.org/project/streamlit-nightly)

[2020-05-01 23:38] jrhone commented on #219
Still broken even after upgrading to latest baseweb. However it works on the baseweb site, so seems to be something on our end. Our custom theme perhaps?

[2020-05-01 23:44] jrhone commented on #424
Fixed by #1319 . Will be available with the next release, 0.58.1

Alternatively, it's available now in [nightly](https://pypi.org/project/streamlit-nightly)

[2020-05-02 00:01] jrhone commented on #741
Looks like the patch has been merged and we're on the latest Baseweb.

The issue is fixed on the Baseweb site, but it requires passing in a `minDate` argument to the component that's lower than `2000/01/01` which looks to be the default.

We need to handle `minDate` in python or lower the default value to something reasonable.

[2020-05-02 14:22] ZupoLlask commented on #1158
Any update on this subject? 👍

[2020-05-03 04:17] caiohcoliveira commented on #708
I think just allowing the user access some JS properties would solve loads of issues.

I am having a similar problem and something as simple as `width = st.javascript('window.screen.width')` or `width = st.screen.width` would give me all the tools to set dynamically width to my `plotly`, which is not responsive in streamlit.

This would definitely help me!

[2020-05-03 12:15] Tam-plotwise opened #1408 "HTML - Folium - Not able to display map properly on the app despite unsafe_allow_html=True"
I am creating an app using **streamlit** and **folium**. (I used `unsafe_allow_html=True` to make sure the map could be displayed in the app).

My dataset contains 2000 rows. My deseriable output is a map of 2000 points, and if I click on each point, a pop up appears with information about address.

- If I visualize everything **with** popup, the map **does not appear** on streamlit app.
- If I vi

[2020-05-03 13:49] andfanilo commented on #1408
Hello @Tam-plotwise,

Would you be able to provide a small code snippet so we can reproduce on our side ? Thanks a lot !

[2020-05-03 14:42] Tam-plotwise commented on #1408
Here it is. My data contains following columns

- planning_date
- longitude
- latitude
- address
- stop time

[code]

[2020-05-03 18:03] andfanilo commented on #1408
Thanks for the snippet !

Streamlit doesn't currently allow Javascript to be rendered through `st.markdown` which I think popup relies on, there's an issue regarding rendering Folium maps here https://github.com/streamlit/streamlit/issues/601 so I'd mark this one as a duplicate.

You could wait a bit for custom components to integrate Folium into one, or integrate it directly into Streamlit.

[2020-05-03 18:07] Tam-plotwise commented on #1408
Thanks for the quick response. When do you expect the integration to finish?

[2020-05-03 18:39] andfanilo commented on #1408
From https://github.com/streamlit/streamlit/issues/241#issuecomment-609823134 custom components is expected by H1 2020, should be around pretty soon as it's entering beta-testing ;)

[2020-05-03 21:34] sbrugman commented on #693
Pandas-Profiling author here. Pandas-Profiling supports multiple user interfaces (HTML report, CLI, Jupyter Notebook/Lab Widgets and PyQt application).

I'd like to invite interested users/developer to contribute a streamlit interface. It can be based on the Jupyter interface and shouldn't be much work. The relevant code can be found [here](https://github.com/pandas-profiling/pandas-profiling/tree

[2020-05-04 12:22] danielvarga commented on #1294
Hi @nthmost,

Is this bug fixed? It's causing a lot of trouble for me, and I'd love to upgrade if it's fixed. Unfortunately it's not trivial for me to check if it's fixed or not, because of two reasons:

- @m-ad's short example worksforme already in my 0.52.2 installation, even thought my real-life app breaks often. I tried to play around with bigger and smaller images to reproduce, to no avail.
-

[2020-05-04 12:41] jrhone commented on #1294
Hi @danielvarga ,

The fix was merged 5 days ago. It's available now on the [nightly](https://pypi.org/project/streamlit-nightly/) build.

SessionState should work fine with the current version of Streamlit. Have you tried with the [updated gist](https://gist.github.com/tvst/036da038ab3e999a64497f42de966a92)?

[2020-05-04 13:52] m-ad commented on #1390
I cannot reproduce this. Your example code works as expected for me. No error, not even in the console with `--log_level debug`. I also use several cached no-argument functions in a live streamlit server without issues.

-  Streamlit version: 0.57.3
-  Python version: 3.6.9
-  OS version: Windows 10 64bit (with Cygwin 3.1.4)
-  Browser version: Chrome  81.0.4044.129

[2020-05-04 14:26] ericmjl commented on #1390
@m-ad our Python and OS versions are different. Could this be an OS-specific or Python version-specific problem?

[2020-05-04 14:29] danimateos commented on #602
I would love to have this as well for usage statistics.

[2020-05-04 14:44] danimateos opened #1410 "Streamlit app running inside Docker doesn't show logs"
# Summary

I can't seem to manage to get logging working when running a streamlit app inside Docker. Neither logging calls nor prints are not shown on console or with `docker logs`.

# Steps to reproduce

1. Clone git@github.com:danimateos/streamlitdockerlog.git, cd into directory

2. Docker build

[code]

3. Docker run
[code]

4. Go to localhost on browser.

5. Watch docker logs:
[code]

## Expec

[2020-05-04 14:57] m-ad commented on #1390
I don't know, @ericmjl . Here's one more datapoint:

- Streamlit version: 0.57.3
- Python version: 3.8
- OS version: Ubuntu 18.04 (AWS CodeBuild Docker Image [aws/codebuild/standard:4.0](https://docs.aws.amazon.com/codebuild/latest/userguide/build-env-ref-available.html))

Cached no-argument functions work fine and as expected in this environment.

[2020-05-04 15:02] ericmjl commented on #1390
@m-ad cool, that does seem a bit more convincing, given the shared Linux OS and a recent Python version.

Let me attempt one more reproducing of the problem on other systems that I have access to. If I can't reproduce it, or if I don't get back to the issue tracker within the week, please feel free to close!

[2020-05-04 17:32] tc87 commented on #1388
Closing this as it was merged in [1392](https://github.com/streamlit/streamlit/pull/1392).

[2020-05-04 17:32] #1388 closed

[2020-05-04 21:44] danielvarga commented on #1294
Thanks! I haven't tried until you brought it to my attention, now I have. Indeed it seems to fix issue #1294, thanks a lot! But my code does not fully work with the new version, as it broke this hack by Tim Conkling: https://discuss.streamlit.io/t/show-more-items-functionality/1139/2 (Sorry for moving off topic. I'll stop discussing it here, and raise the issue there.)

[2020-05-05 14:10] randyzwitch commented on #1255
Streamlit now requires Python 3.6+. Users running into issues with pybokeh 2.0 should first upgrade to the most recent version of Streamlit to see if their issue is resolved.

[2020-05-05 14:10] #1255 closed

[2020-05-05 14:25] randyzwitch commented on #892
Duplicate of #972 (this one came first, but other issue has discussion on it)

[2020-05-05 14:25] #892 closed

[2020-05-05 14:28] #694 closed

[2020-05-05 15:21] randyzwitch commented on #471
Just implemented this, thanks for the suggestion @MarcSkovMadsen!

[2020-05-05 15:21] #471 closed

[2020-05-06 02:14] ricecooker commented on #896
Hey @tatien777, in the timeline above i have a patch that provides the file contents and file name. https://github.com/sstm2/streamlit/commit/8db66ee9bc28303d9972ae5db088547382ee86be

[2020-05-06 02:43] yuanxin-cq opened #1417 "Is there any method to configure access control ?"
Is there any method to configure  access control ?  if just share streamlit in workteam ,wish just can visit by  using a password, such as  Jupter notebook ,sets access control  in a configure file.

[2020-05-06 05:53] andfanilo opened #1418 "Graphistry integration"
### Problem

Integrate [Graphistry](https://www.graphistry.com/) into Streamlit.

The following snippet works but is not ideal :

[code]

### Solution

Test if custom components or iframe support works with Graphistry.
* For custom component, we need to know if Graphistry has a React/JS library that accepts some JSON input with data and configuration to display the graph in a div.
* If not possibl

[2020-05-06 06:28] lmeyerov commented on #1418
Thanks!

For our side: We're happy to try to add some custom logic to our `def plot(..): ...` method to detect we're in a streamlit environment and emit code differently, just need guidance.

The general expected behavior for our users is:

1. `.plot()` : Best-effort inline rendering for whatever notebook environment is being used

2. `.plot(render=False)`: get a URL string

[2020-05-06 06:31] lmeyerov commented on #1418
Also: Currently heavy GPU-accelerated cross-filtering happens inside our embedded visuals, and while we're working towards easier in/out of streaming concrete data + symbolic logic, those will be releasing in waves in Q3 & Q4, so recommend just getting out basic GPU plots for now based on an initial dataframe upload. (Which happens via whatever is bound by the time of the `g.plot()` call.)

[2020-05-06 07:49] EmmiBevensee commented on #1418
Also for now, if you make that:
`.plot(render=False)`
then it won't pop up a new window. : )

[2020-05-06 13:01] MaryHelenaRose commented on #896
does sreamlit version 0.59.0 has option to retrieve filename from file_uploader(). if yes please can you tell me how to get the filename from uploaded file

[2020-05-06 13:55] kashyapm94 commented on #930
Hey, @nthmost is there a way to suppress the warning?

[2020-05-06 15:51] randyzwitch opened #1421 "_init_ docstring throws Sphinx build warnings"
When building the docs, docstring throws warnings. Marking here in advanced of cleaning up myself

[code]

[2020-05-06 16:25] jrhone opened #1422 "Need hash_funcs for Torchvision model"
Created from #1244

[code]

[2020-05-06 16:38] randyzwitch commented on #1417
Hi @yuanxin-cq -

Currently, there isn't a Streamlit-supported way of doing this, but there have been several discussions on our user forum that provide work-arounds:

https://discuss.streamlit.io/t/user-authentication/612/14

Best,
Randy

[2020-05-06 18:13] #277 closed

[2020-05-06 20:26] #1229 closed

[2020-05-07 00:13] halhenke commented on #327
Hey, havent had time to really think in depth about this, or check out the streamlit source code but as someone who is continuously frustrated with the lack of progress in tools like Jupyter in the past few years and being really impressed with the potential I wanted to share a few thoughts.

IMO one of the strengths of streamlit is the relative simplicity of its "server-side code => client displa

[2020-05-07 16:28] zhaoooyue commented on #1398
@randyzwitch try `pip install mypy-protobuf`

[2020-05-07 16:35] randyzwitch commented on #1398
Right, that's what I put under "Additional information". Adding it somewhere in the `make devel-all` is the recommendation

[2020-05-07 22:44] thomelane commented on #1294
Still experiencing an issue with this one, even on nightly (v0.59.1.dev20200506).

Can see the issue with `streamlit hello` (Animation Demo) running on a web server. More of an issue over https, compared to http, but still get dropped frames either way.

Seeing these errors scattered in the console...

[code]

[2020-05-08 01:54] yogeshg8237 commented on #1106
subscribing

[2020-05-08 12:18] gilcaspi commented on #314
Are there any updates ?

The [workaround suggested](https://discuss.streamlit.io/t/custom-render-widths/81/8) above is not safe (as explained [here](https://github.com/streamlit/streamlit/issues/152)).

[2020-05-08 16:42] tc87 commented on #1268
Hey @hertzmann,

This is [now natively supported](https://github.com/streamlit/streamlit/pull/1394) on nightly release and will be in a general release soon. Also, while working on this, a issue for [Need hash func for Torch.Tensor](https://github.com/streamlit/streamlit/issues/1388) was created. Torch.Tensor is now natively supported via 0.59.0. Going to close this issue out, and will update the

[2020-05-08 16:42] #1268 closed

[2020-05-08 18:46] #741 closed

[2020-05-08 19:39] CharlyWargnier commented on #400
You can change it when running your script, e.g.:

[2020-05-08 20:33] amruta01 opened #1428 "Heatmap"
Unable to load heat map from the cache?
When I rerun the heatmap, it says heatmap ... done! But I had to refresh the cash to render it

[2020-05-08 23:06] nthmost opened #1429 "Blank page in IE 11 running any streamlit script"
# Summary

Streamlit app does not show up in Internet Explorer.  Total blank page on load of any script, including `streamlit hello`

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. `streamlit hello`
2. Load http://localhost:8501 in Internet Explorer

## Expected behavior:

Something showing in the browser.

## Actual behavior:

Page is completely blank.  Browser

[2020-05-08 23:36] nthmost commented on #1429
Reversion to earlier versions of Streamlit as far back as `0.50.0` doesn't seem to help.

Tried completely disabling Windows Firewall, which didn't help either.

[2020-05-09 01:14] nthmost commented on #1429
Output of the console:

<img width="1052" alt="Screen Shot 2020-05-08 at 6 12 35 PM" src="https://user-images.githubusercontent.com/98836/81460055-bd293c80-9157-11ea-83ce-f3c75453fd3e.png">

[2020-05-09 01:15] MattSegal opened #1430 "Streamlit deletes sys.modules on reload"
# Summary

When you run streamlit and use the reload feature it will delete entries from the sys.modules dict, causing a KeyError.

# Steps to reproduce

I can't seem to build a small reproducible example.
It's happening to me on https://github.com/monash-emu/AuTuMN for commit 1eab4e862ae9e9aa99d489e98f13a78383cb5834

The steps to reproduce are:

- run streamlit
- make file change in watched modul

[2020-05-09 01:17] nthmost commented on #1429
We may have [a general problem with ES6 not being respected by Internet Explorer 11](https://stackoverflow.com/questions/56421417/react-app-not-working-in-internet-explorer-11).

[2020-05-09 02:32] brandonrandle commented on #1429
Would it be possible to add some sort of polyfill to resolve the issue, as mentioned in the link you posted?

[2020-05-09 06:56] yuanxin-cq commented on #1417
Thank u!

[2020-05-09 06:56] #1417 closed, assigned to nobody

[2020-05-09 16:01] BKJackson commented on #1428
I'm also having trouble displaying a heat map. In my case, I'm seeing a message that says
"Make this Notebook Trusted to load map: File -> Trust Notebook" however, there is no "File" button.

[2020-05-09 20:32] nisha-bidgely opened #1431 "None object returning in file uploader widget"
streamlit.file_uploader() widget is returning None type object eventhough uploading a csv file.

[2020-05-09 21:31] jmpie1 opened #1432 "grid layout for the main panel"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

Is your feature request related to a problem? Please describe the problem here. Ex. I'm always frustrated when [...]

### Solution

**MVP:** What's the smallest possible solution that would get 80% of the prob

[2020-05-10 21:59] juancalvof commented on #601
+1 for Folium support. Cartoframes would be great as well. Thanks for the amazing work!

[2020-05-11 06:41] nthmost commented on #1179
Hi @bballamudi ,

I have been trying to reproduce your issue without luck.

Can you provide the script you were running when you had this issue?

[2020-05-11 06:52] nthmost commented on #408
I haven't been able to reproduce this using the latest `streamlit` (0.59.0) and `python 3.7` on Windows 10 + Conda.

[2020-05-11 07:33] tvst commented on #1213
Fixed in https://github.com/streamlit/streamlit/pull/1334

[2020-05-11 07:33] #1213 closed

[2020-05-11 07:39] tvst commented on #1212
Looks like another instance of #554
Marking as dupe. Please reopen if you think this is not correct.

[2020-05-11 07:39] #1212 closed

[2020-05-11 08:27] nthmost commented on #408
Revisiting to wrap up: so, the problem as written was that `matplotlib` as written was not available to `streamlit`.  Streamlit doesn't automatically install `matplotlib`, and it's not totally clear whether the script was being run within an environment where `matplotlib` was installed.

Due to the age of this bug I think we should close this.  A new bug can be opened if something similar is seen.

[2020-05-11 08:27] #408 closed

[2020-05-11 08:31] ghost commented on #955
+1 to @dansbecker's enhancement

[2020-05-11 08:41] nthmost commented on #402
Hi all, I have not been able to reproduce this issue using `streamlit 0.59.0` in python 3.7 or in python 3.8  -- I can run the Uber demo, for example, from the web without an issue.  This is on my personal Windows 10 install.

I suspect the problem may be site-specific (i.e. specific to how Windows was set up).

People who play games seem to run into write-permission errors like this; [here's a Wi

[2020-05-11 08:45] nthmost commented on #402
@coolum001 @MarcSkovMadsen  -- since I can't reproduce the bug, and due to the age of this report, I am thinking we should close this.

Let us know if you're still seeing this problem and we can reopen it.

[2020-05-11 08:45] #402 closed

[2020-05-11 16:57] jrhone commented on #890
Looks like another instance of #554
Marking as dupe. Please reopen if you think this is not correct.

[2020-05-11 16:57] #890 closed

[2020-05-11 18:47] mysterefrank commented on #1229
Thanks! Think this'll be on master soon?

[2020-05-11 18:50] nthmost commented on #1115
So far I can only reproduce this problem when the default browser is set to Internet Explorer, which might be related to #1429

@lrq3000 @Hen3 -- if you change your default browser to something else, do you still have this problem?

[2020-05-11 18:52] nthmost commented on #1179
So far I can only reproduce this problem when the default browser is set to Internet Explorer, which might be related to #1429

If [changing the default browser in Windows](https://support.microsoft.com/en-us/help/4028606/windows-10-change-your-default-browser) is possible, I would recommend doing so.

[2020-05-11 18:53] jrhone commented on #1229
@mysterefrank It's merged into develop which means you can try it now on the [nightly build](https://pypi.org/project/streamlit-nightly/)

[2020-05-11 19:07] tvst commented on #1321
The bug is probably around these lines:

[code]

[2020-05-11 19:14] nthmost commented on #1262
Without directly modifying the Windows $PATH variable directly, there are two approaches we should consider here:

1. Pointing users to [our recommended virtual environment setup for Windows, found here](https://github.com/streamlit/streamlit/wiki/Installing-in-a-virtual-environment).

2. Adding some language to the installation that helps people find out what to do with the $PATH variable (as @tr

[2020-05-11 19:21] nthmost commented on #1262
The method for the user to add to the Windows $PATH has a few GUI interactions to it.  [Here's one instruction set that should work.](https://geek-university.com/python/add-python-to-the-windows-path/)

Here's what it looks like to add the environment variable in Windows 10 starting from the search bar at the bottom left:

<img width="804" alt="Screen Shot 2020-05-11 at 12 08 03 PM" src="https://u

[2020-05-11 19:48] #1421 closed, assigned to randyzwitch

[2020-05-11 20:03] #833 closed

[2020-05-11 20:33] nthmost commented on #1262
Another way this problem can be avoided by [installing Python via the Windows Store](https://www.microsoft.com/en-us/p/python-38/9mssztt1n39l).  Right now the Windows store provides both Python 3.7 and Python 3.8, no Conda required.  The experience of installing this way is fairly good, although there is no guidance for (and a lot of friction with) the use of virtual environments like `pyvenv`.

Y

[2020-05-11 21:21] jrhone commented on #1381
Hi @Magdiel3

Could you provide us with sample code that we can copy/paste and run to reproduce your error?

Is there a stacktrace? What do you mean by `getting knocked out of the session`?

[2020-05-11 21:34] lmeyerov commented on #1418
Hi any update on this? Looks like we're missing the current on-prem edition release window, and would love to get in for the next one!

[2020-05-11 22:07] jrhone commented on #1398
`mypy-protobuf` is already existing in the `Pipfile`.

And `make all-devel` calls `make pipenv-install` before `make protobuf`.

So not immediately obvious why `mypy-protobuf` isn't installed when we try to build protos.

[2020-05-11 22:17] jrhone commented on #1408
Closing as dupe of #601

[2020-05-11 22:17] #1408 closed

[2020-05-11 22:28] jrhone commented on #1410
In addition to making Streamlit log output accessible via `docker logs`, there are a number of other issues related to logging, perhaps they could all be tackled together.

[2020-05-11 22:29] jrhone commented on #1428
Hi @amruta01 , @BKJackson ,

Could you provide sample code that we can copy/paste and run to reproduce your issue?

[2020-05-11 22:32] jrhone commented on #1431
Hi @nisha-bidgely ,

Could you provide sample code that we can copy/paste and run to reproduce your issue?

[2020-05-11 22:59] jrhone commented on #1395
Hi @yaserkl ,

If i pass a `latitude` and `longitude` to your `pydeck.ViewState` call the map loads without error.

[code]

[2020-05-11 23:01] nthmost commented on #1429
Trying out this fix...
 https://github.com/nthmost/streamlit/commit/2728f1a0c564ccf1d0ae66877cc0854ec96efaf6

[2020-05-12 00:03] nthmost commented on #1429
Bad news, I can't get the `react-polyfill` fix to make any difference to IE.

<img width="1075" alt="Screen Shot 2020-05-11 at 4 34 49 PM" src="https://user-images.githubusercontent.com/98836/81623772-500ce580-93a9-11ea-9ed2-f2dcc7f6e0b4.png">

[2020-05-12 07:00] andfanilo commented on #1418
Hi @lmeyerov !

The Streamlit team is currently developing "Custom Components" as a way to extend Streamlit with our own use cases. At a high level it's an endpoint for exposing HTML/CSS/JS code inside a sandboxed iframe using arguments passed from the Python end user side. I'm positive it will interact very well with [graphistry-js](https://github.com/graphistry/graphistry-js/blob/master/projects

[2020-05-12 12:17] Magdiel3 opened #1439 "ImportError .so file in python (invalid ELF header)"
# Summary

I'm building a streamlit app with python and deploying it to heroku. The app uses the python wrapper from [Starspace](https://github.com/facebookresearch/StarSpace) and works locally but when running online on Heroku  shows an **ImportError: /app/starwrap.so: invalid ELF header**

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. Cloned the [Starspace](ht

[2020-05-12 12:52] asemic-horizon opened #1440 "Many (maybe most) images generated by st.pyplot() break in version 0.59"
I'm sorry I didn't document this well / can't generate a good bug report right now.

From time to time Streamlit (v 0.58) will fail to generate an image. This manifests itself in the browser as a broken image reference and in the console as a "Missing image" error. This is very occasional and workable for my team's purposes.

I upgraded to 0.59 and this became very frequent. My main viz page has 6

[2020-05-12 12:53] IanCal opened #1441 "Multiselect example in the documentation does not work if copied"
https://docs.streamlit.io/api.html#streamlit.multiselect

The example, if copied and pasted, doesn't run. There's a few small issues with it (missing comma at the end of a line, order of parameters wrong and the defaults should be a list rather than a tuple.

[2020-05-12 13:44] andfanilo commented on #1432
Hey @jmpie1, I feel this is a duplicate of #309 , could you close this issue and share your specific request on the other one ? Thanks a lot !

Fanilo

[2020-05-12 13:47] amruta01 commented on #1428
Thanks folks.

We are good for now. We could fix the bug!

Best Regards,
Beju

804 822 2079 (mobile)
202 609 9818 (office)

www.amrutainc.com

Amruta Inc provides data-driven insights and user-friendly software to
improve revenue, profitability, safety, compliance and reputation for
commercial and governmental clients, worldwide.
This email message (including any attachments) is for the use of the

[2020-05-12 15:27] H4dr1en opened #1443 "slider with step=2 and odd numbers returns even values"
# Summary

Slider with step=2 and odd numbers returns even values, while one would expect odd values.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

[code]

## Expected behavior:

I would expect to have odd values from 11 to 21.

## Actual behavior:

I get even values, except for limits (11 and 21)

## Is this a regression?

Cannot say.

# Debug info

- Streamlit v

[2020-05-12 16:28] lmeyerov commented on #1418
Thanks @andfanilo ! The Custom Components looks exciting!

1.  Is there something simple to do in the interim? Especially to prevent the perfect being the enemy of the good (unreleased APIs with no firm near-term release date, adding frontend JavaScript APIs to the mix, ...)? Em shows StreamLit can do a lot already - is there a way we can do something similar to:

[code]

I'm mostly unsure of the

[2020-05-12 17:55] jrhone commented on #1422
If we try to hash the model by its contents, the hash changes because of '_modules' and random weights.

Resources:
https://medium.com/datadriveninvestor/deploy-your-pytorch-model-to-production-f69460192217
https://discuss.pytorch.org/t/check-if-models-have-same-weights/4351
https://pytorch.org/docs/stable/notes/randomness.html
https://discuss.pytorch.org/t/how-do-you-a-set-a-seed-for-weight-initi

[2020-05-12 19:42] nthmost commented on #961
Hi guys,

After a significant investigation in which I did see failure to re-run in VSCode on multiple platforms, I tried to modify the watchdog code that's triggered in `streamlit/watcher/util.py` to see if we were seeing a race condition -- the MD5s kept comparing as equal even when the file appeared to be modified.

Long story short, I don't think we can mess with this code without causing othe

[2020-05-12 19:42] #961 closed

[2020-05-12 19:46] jrhone commented on #961
Hey @nthmost , which version of VSCode does this work for?

[2020-05-12 19:51] #554 closed

[2020-05-12 20:30] karriebear commented on #1321
Looks like the config gets parsed (and `_set_log_level` gets called) before the cli arguments are parsed.

[2020-05-12 21:51] josh3028 commented on #1179
Hello i had an issue that might be the root cause of this:

-when i run it from console, and the close it without stopping the service, sometimes the python process will get stuck, when i run it again, it will open a second process, hence both processes will run on the same port, this i will make the application crash.

-There are 2 solutions for this, killing the process from task manage or resta

[2020-05-12 22:23] josh3028 commented on #1262
![image](https://user-images.githubusercontent.com/62745296/81751565-ec4bf080-946c-11ea-8361-2c18ec622f7a.png)

Python installer also has the option to add the path

[2020-05-13 07:16] mysterefrank commented on #1229
Thanks! Unfortunately the H3HexagonLayer still doesn't appear :/

[2020-05-13 12:42] rrherr commented on #947
Hacky workaround:

[code]

[2020-05-13 12:43] rrherr commented on #947
Hacky workaround with [soundfile](https://pysoundfile.readthedocs.io/en/latest/index.html#soundfile.write):

[code]

[2020-05-13 13:05] marty331 commented on #439
Another vote for doing building this.

[2020-05-13 13:08] JohnPaton commented on #1440
We're running into this as well, maybe 70% of matplotlib-generated images are not rendering, just showing up as "broken" images.

Screenshot:
![image](https://user-images.githubusercontent.com/18459252/81816457-a1dd7900-952b-11ea-9749-78f7f186fc57.png)

Edit: Looks like this is a duplicate of #1294

[2020-05-13 13:42] randyzwitch commented on #1262
I agree that we shouldn't modify the PATH, that feels too intrusive.

We already have the wiki content in the docs [here](https://docs.streamlit.io/troubleshooting/clean-install.html), but it's under 'Troubleshooting'. It probably should be front and center in a 'getting started' section, and maybe the exact error message text could be part of the 'Troubleshooting' section.

[2020-05-13 14:50] JohnPaton commented on #1294
I can confirm this is still an issue in `0.59.1.dev20200511` on Python 3.7.7

Edit: For people Googling, we "solved" this by downgrading to `streamlit 0.55`

[2020-05-13 15:11] knorthover opened #1447 "Ghost images of widgets in sidebar"
# Summary

Sidebar can display a non functioning duplicate image of a previously rendered widget after a rerun of a page when a widget higher up the sidebar is dropped.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

The application has a function to select time periods and/or dates.  This uses two widgets.  The period selector is a Selectbox, if a specific date is

[2020-05-13 15:49] randyzwitch commented on #1441
Closed by #1442

[2020-05-13 15:49] #1441 closed, assigned to nobody

[2020-05-13 16:13] randyzwitch commented on #1398
I'll close this, if it comes again I can re-open. It's certainly possible I was doing something out of order.

[2020-05-13 16:37] danielvarga commented on #1294
Indeed, I was too quick to report that the issue is gone, sorry, it was probably just a statistical fluke. Frequency of occurrence might or might not have decreased, hard to tell.

[2020-05-13 16:59] jrhone commented on #1229
Using your initial code snippet with the following data, I'm seeing the chart below. What are you expecting to see?

[code]

<img width="913" alt="Screen Shot 2020-05-13 at 12 59 12 PM" src="https://user-images.githubusercontent.com/699897/81842171-ef54e880-9521-11ea-9606-0f61df18e12b.png">

[2020-05-13 21:11] nthmost commented on #990
OK, so, this bug is so hard to reproduce that I cannot recommend we pursue changing anything here.  Situations in which the bug was not seen include:

*Test Scenario 1*

Azure VM, OS windows, python 3.8

*Test Scenario 2*
Azure VM, OS windows, python 3.7, conda

*Test Scenario 3*
local machine, windows OS, python 3.8, attached a network drive as O:\ -- placed a python script and ran `streamlit run

[2020-05-13 21:29] nthmost commented on #961
@jrhone Works in VSCode version 1.45

[2020-05-14 00:49] mysterefrank commented on #1229
Oh my it does work, thanks!

[2020-05-14 08:20] tvst opened #1449 "Make st.dataframe more awesome"
Once our conversion of Dataframe processing code into Arrow is complete, we can move on to some long-desired improvements to how we deal with dataframes across the board:

1. Make columns resizable
1. Add support for multidimensional arrays / multi-index dataframes
1. Add support for searching or filtering
1. Improve text justification: numbers should be right-justified, everything else left-justi

[2020-05-14 13:05] jrhone commented on #961
@cornelg7 @tconkling could you confirm that upgrading VSCode to 1.45 fixes the issue for you?

[2020-05-14 15:32] karriebear commented on #336
This looks to be a problem with Seaborn. Running this independently of streamlit produces the same issue.

[code]
![Figure_1](https://user-images.githubusercontent.com/24946400/81953090-423ba800-95d5-11ea-8aab-fe6b7a708589.png)

[2020-05-14 15:37] jrhone commented on #336
Did we file an issue with Seaborn?

[2020-05-14 15:48] karriebear commented on #336
Just did! [Seaborn #2072](https://github.com/mwaskom/seaborn/issues/2072)

[2020-05-14 15:55] jrhone commented on #336
Cool! Gonna move this to the icebox for now. Let's re-visit if/when Seaborn fixes the bug.

It's only a test dependency of ours but looks like the Cypress tests for Seaborn are currently `flaky` so we can revisit them after the fix.

[2020-05-14 18:03] #613 closed

[2020-05-14 18:10] arraydude commented on #168
related to #166

[2020-05-14 18:17] arraydude commented on #164
Related to #271

[2020-05-14 18:19] arraydude commented on #292
Closing this for now, If you have any other comments please reopen it

[2020-05-14 19:35] tvst commented on #950
Here's a sligthly more detailed proposal:

* **Accept date-related types**
   * Make the following arguments of `st.slider`'s accept "date-related types" (i.e. `date`, `datetime`, and `time`), as well as tuples thereof:
      * `min_value`
      * `max_value`
      * `value`
   * Make the `step` argument accept a `timedelta`.
* **Simplify how `steps` works for date-related types**
   * Calculating

[2020-05-14 20:00] tvst commented on #29
We need to think about this one a little more, actually. The idea was to only trigger these notifications while developing, and only if the rerun was caused by a change in the source code.

But now I'm also not certain whether this is even a good idea!

[2020-05-14 20:02] tvst commented on #47
I think @kantuni's Arrow work will address this

[2020-05-14 20:14] arraydude commented on #426
You could use [st.pydeck_chart](https://docs.streamlit.io/api.html?#streamlit.pydeck_chart) as it is shown in this example:
[code]

[2020-05-14 22:12] karriebear commented on #336
Turns out for matplotlib, you need to configure the chart appropriately to make room for the title. We're evaluating if this is something we'd like to manipulate as part of our library or return the output as is.

In the meantime, @pybokeh if this is still an issue, there are two ways to resolve this. For more details, please see [Seaborn #2072](https://github.com/mwaskom/seaborn/issues/2072)

###

[2020-05-14 22:47] arraydude commented on #27
This is related to #29

[2020-05-14 23:21] tvst opened #1451 "Windows doesn't support emojis on terminal"
# Steps to reproduce

1. Make sure you're on Windows
2. Make sure Streamlit is not "activated", by removing the credentials file: `rm ~/.streamlit/credentials.toml`
3. Run any Streamlit script, such as `streamlit hello`

## Expected behavior:

You should see a message like this on the terminal:

[code]

## Actual behavior:

You see instead:

[code]

## Is this a regression?

Nope.

# Additional in

[2020-05-15 06:15] andfanilo commented on #1418
:+1: Great that you look forward to Custom Components

1. Streamlit [doesn't provide an out of the box st.iframe](https://github.com/streamlit/streamlit/issues/686) for now, so the way @EmmiBevensee does it is the most reasonable dirty way of doing it though you don't get JS support. Let me consult the eng team to see if there's a way to detect we're in a Streamlit environment without relying on h

[2020-05-15 06:43] NMC-DAVE opened #1453 "Streamlit exit with error!"
Hi:
    I want to cache the xarray object. But when I exit streamlit app with 'Ctrl + C' command，the fellowing errors show. So How can I cache the xarray object, thanks very much.

The code:
[code]

The error:
[code]

[2020-05-15 08:23] nuayge opened #1454 "st.image() blinks sporadically in 0.59"
# Summary
When displaying a stream of images in a st.empty(), the display "blinks" in 0.59 while it was running smoothly in 0.58.

# Steps to reproduce
Here is a minimal example (just displaying what your camera sees)
[code]
It looks like the placeholder "empties itself" (:thinking:) between two displayed frames, even though it should keep the last frame until a new one is displayed.

I'm using st

[2020-05-15 13:59] randyzwitch commented on #1418
@lmeyerov If you're interested in working with us in the Custom Components Beta, please send me an email at randy@streamlit.io. We'd love to have you as one of our launch examples, feels like it shouldn't be much work to get this going :+1:

[2020-05-15 17:41] vnguyendc opened #1456 "Fitting an XGBoost model results in InternalHashError: unhashable type: 'bytearray'"
# Summary

My app is attempting to train and predict with an XGBoost model from the `xgboost` package. I am fitting my model in a cached function (using `@st.cache`) and then returning it.

However, it says it cannot hash `bytearray` objects in one of my `builtins.dict` objects. This is strange because before I updated Streamlit to 0.59, it was able to do so.

If you don't know where the object of

[2020-05-15 18:02] arraydude commented on #47
Related #453

[2020-05-15 18:24] arraydude commented on #532
Related to #955

[2020-05-15 18:28] arraydude commented on #534
Hey @amineHY , as a workaround you could use st.markdown() with unsafe_allow_html param and overwrite your own styles.

[2020-05-15 19:25] cwerner commented on #1250
I'm also interested in this feature 👍

Maybe pressing return key could trigger the addition of the text a user typed into the selectbox?

The addition should be appended to the predefined section options and also be returned as the current selection choice? Bonus points if the freely added options get a small [x] icon next to them so they can be withdrawn (think remove erroneous additions/ bad sea

[2020-05-15 21:51] arraydude opened #1457 "Remove st.deck_gl_chart"
### Problem

Remove st.deck_gl_chart now that the deprecation date is past

[2020-05-15 21:53] arraydude commented on #627
I'm going to close this as we are in progress of removing deck_gl_chart ( [issue](1457) ), altought this could be solved using pydeck_chart

[2020-05-15 21:53] #627 closed

[2020-05-15 21:54] arraydude commented on #500
Great idea! We're thinking about implementing this in Streamlit, but the API needs a little thought.
Although, it's possible that before any of this lands you'll be able to implement this yourself via custom components, which will be available in ~1 month.

[2020-05-15 21:59] arraydude commented on #314
After talking this in the standup we decided to move this to our backlog.

[2020-05-15 22:01] arraydude commented on #955
Moving this to our backlog, this would be implemented as an experimental feature.
Title: `st.beta_set_page_title("foo")`
Favicon: `st.beta_set_favicon(exactly same data format as st.image)`

[2020-05-15 22:04] arraydude commented on #546
We've been discussing this [here](https://discuss.streamlit.io/t/animate-st-slider/1441/7) a similar API for a while too. Something like this:

[code]

Let me know what you think!

[2020-05-15 22:07] arraydude commented on #575
I will be closing this as we are in progress of deprecating `st.deck_gl_chart`, you could check the status [here](https://github.com/streamlit/streamlit/issues/1457)

We should promote the use of `st.pydeck_chart` instead

[2020-05-15 22:07] #575 closed

[2020-05-16 02:01] narquette opened #1458 "Running Stream Lit in Windows Sub-linux doesn't work"
# Summary

I've installed the streamlit module in my virtual environment and attempt to run hello which cause an error to be produced.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. Go to Ubuntu App in Start / Program
2. Activate Virtual Environment (e.g. conda activate virtual environment)
3. Run command "stream lit hello"
cd

## Expected behavior:

You will ru

[2020-05-16 04:27] tc87 commented on #1422
Closing this as it was merged in [1445](https://github.com/streamlit/streamlit/pull/1445).

[2020-05-16 04:27] #1422 closed, assigned to jrhone

[2020-05-16 09:21] Twsschx opened #1459 "How to run the program without a terminal?"
Is there any way to directly run the .py file rather than using 'streamlit run **.py' file on the terminal?

[2020-05-17 07:00] NMC-DAVE commented on #1453
Hi, problem was solved. I should close the data connection. like:

[code]

[2020-05-17 08:19] nthmost commented on #1440
Hi @JohnPaton, @asemic-horizon -- i'm working on this bug, is there any chance y'all could share a snippet of a script that helps reproduce this effect?

[2020-05-17 12:03] somiandras opened #1461 "Concatenated altair plots rendered on top of each other when .resolve_scale() is in play"
# Summary

Trying to show some vertically concatenated altair plots via `st.altair_chart()`, but the subplots are rendered on top of each other instead of proper vertical concatenation.

![image](https://user-images.githubusercontent.com/12885402/82130176-4e885680-97c9-11ea-8245-6c42238be648.png)

Suspect is `.resolve_scale()` method, while customizing the legend via `legend=alt.Legend(title=None)

[2020-05-17 15:16] andfanilo commented on #1453
Nice @NMC-DAVE :) glad to see you worked this out.

If this is solved, could you close the issue ? Thanks !

[2020-05-17 20:39] pozsa commented on #897
My issue is the following:
I am using type='txt', encoding='auto'. When I use a test file encoded iso-8859-1, I get decode error.
Even if I catch the exception the uploader widget won't render anymore, and the selected file is stuck in cache.

I have an ugly workaround though. Anyone with a better idea?
[code]

Hopefully this can also be addressed in some way in the future.

[2020-05-18 00:27] treuille opened #1464 "Better welcome message when running `streamlit hello`"
### Problem

When I first run `streamlit hello` I see the following text:

[code]

which is great for `streamlit run` but not `streamlit hello` (because I didn’t just create an app).

### Solution

It would be great to see something like:

[code]

[2020-05-18 06:18] shubham-seth opened #1465 "Streamlit unable to import tensorflow"
ModuleNotFoundError: No module named 'tensorflow'
Traceback:

File "/home/ubuntu/.local/lib/python3.6/site-packages/streamlit/ScriptRunner.py", line 322, in _run_script
    exec(code, module.__dict__)
File "/home/ubuntu/Sumit/Sumit/creating_UI.py", line 5, in <module>
    import tensorflow as tf

I am working on an aws machine with a tensorflow environment. Tensorflow ideally works fine.

[2020-05-18 08:05] JohnPaton commented on #1440
Sure, here you go:

[code]

Note that it's inconsistent but just try a few values on the slider and you'll see the "missing image/0 icon" pretty quick (or at least I do), along with the `MediaFileManager` log lines mentioned in #1294.

I've checked `0.59.0` and `0.59.1.dev20200517`, the effect is there in both.
*Update:* Also in `0.61.0`

[code]

![image](https://user-images.githubusercontent.com/

[2020-05-18 13:00] adnanjmi21 opened #1466 "Spelling mistake while running streamlit hello , DataFrame Demo"
# Summary

I noticed a spelling mistake in dataframe demo while runing streamlit hello , It displays UN Data Exlorer instead of UN Data Explorer

# Steps to reproduce

1. Go to terminal
2. Run `streamlit hello`
3. Open browser at localhost:8501 and choose dataframe demo

## Expected behavior:

It should display correct spelling as `(Data courtesy of the UN Data Exlporer.)`

## Actual behavior:

It

[2020-05-18 14:14] randyzwitch commented on #1458
At the risk of being pedantic, did you actually submit `stream lit hello`? If so, there's no space between stream and lit. If not, let me know and I'll try this myself in Windows

[2020-05-18 14:18] devstein commented on #283
This solution worked for me: https://github.com/gorakhargosh/watchdog/issues/628#issuecomment-581480649

[2020-05-18 14:27] adnanjmi21 opened #1467 "streamlit.video() ,parameter start_time is mentioned twice"
**Link to doc page in question (if any):**
https://docs.streamlit.io/api.html#streamlit.video

**Name of the Streamlit feature whose docs need improvement:**
streamlit.video()

**What you think the docs should say:**
parameter start_time is mentioned twice , just remove the extra start_time parameter mentioned without any description
![image](https://user-images.githubusercontent.com/54715558/8222

[2020-05-18 14:30] randyzwitch commented on #1459
I suppose you could call the [subprocess](https://docs.python.org/3/library/subprocess.html) from inside of a Python script, but that's really just submitting the command to a terminal from an extra layer of indirection.

Do you have a use case where you can't run something from a terminal?

[2020-05-18 15:04] tc87 commented on #838
Hey @arnaudmiribel,

Closing this as it's now natively supported in Streamlit via [1450](https://github.com/streamlit/streamlit/pull/1450).

[2020-05-18 15:04] #838 closed

[2020-05-18 15:12] narquette commented on #1458
Hello,

Good morning. I put in the command streamlit hello and nothing happened.

Thanks,

Nick

On Mon, May 18, 2020 at 9:15 AM Randy Zwitch <notifications@github.com>
wrote:

[2020-05-18 15:23] randyzwitch commented on #1466
Thanks for reporting!

[2020-05-18 15:38] randyzwitch commented on #1467
Thanks!

[2020-05-18 16:32] randyzwitch commented on #1458
Hi @narquette, it seems to have worked for me. When you say "nothing happened", are you saying that your terminal doesn't show any commands or that a browser window doesn't pop up? If it's the browser window, that should be expected, since WSL is its own sandbox, it can't pop up a browser in Windows.

![image](https://user-images.githubusercontent.com/2762787/82237363-82679700-9903-11ea-9e71-7c6c8

[2020-05-18 16:40] jrhone commented on #1456
We're failing to hash `bytearray`

[code]

[2020-05-18 17:36] rrnakada opened #1471 "caching and TTL"
# Summary

when I throw in a TTL argument in the caching statement
`@st.cache(ttl = 60*60*3)` it gives me this error

"cache() got an unexpected keyword argument 'ttl'"

But without the ttl argument, it works fine! Any help would be appreciated :)

[2020-05-18 18:18] nthmost commented on #1440
Thanks!  I have been able to repro this effect myself, but since it's a bit stochastic, it's really useful to have more examples to try.

[2020-05-18 18:43] rrnakada commented on #1471
jokes i just had to update :)

[2020-05-18 18:43] #1471 closed, assigned to nobody

[2020-05-18 18:46] #1466 closed, assigned to randyzwitch

[2020-05-18 18:46] #1467 closed, assigned to randyzwitch

[2020-05-18 18:52] nassmim opened #1472 "module xlwings import fails"
# Summary

When I streamlit run my .py script, I get an error message in the browser window : ' Couldn't find a license key.' This concerns the module 'xlwings'.

At first the module was not found but then I installed streamlit and xlwings in the correct virtual env. But now the issue concerns the licence key for the pro usage that offers xlwings.  However, I do not have any issue when using my sc

[2020-05-18 21:24] jrhone commented on #1439
Hi @Magdiel3 , I believe you have to build `starwrap.so` on the platform you plan to use it on. You can't build it on your Mac then use the binary on linux.

[2020-05-18 21:24] #1439 closed, assigned to nobody

[2020-05-18 21:31] jrhone commented on #1443
Hi @H4dr1en , it's been fixed in a more recent release. Can you upgrade?

[2020-05-18 21:31] #1443 closed, assigned to nobody

[2020-05-19 00:08] jrhone commented on #1447
Hi @knorthover , could you provide sample code that we can copy/paste and run to reproduce the  issue?

[2020-05-19 00:12] jrhone commented on #1454
@nthmost another example of https://github.com/streamlit/streamlit/issues/1294 ?

[2020-05-19 00:15] jrhone commented on #864
@tconkling Could you provide a repro script for this? Not sure I understand the issue exactly.

[2020-05-19 00:54] #1453 closed, assigned to nobody

[2020-05-19 01:01] jrhone commented on #1458
Hi @narquette, could you provide the output of your terminal, and any error messages you received?

[2020-05-19 01:15] jrhone commented on #1465
Hi @shubham-seth ,

Can you verify that you can `import tensorflow` without Streamlit?

[2020-05-19 01:19] narquette commented on #1458
It seems to work on my personal computer but not my work computer.

Here is a screenshot of the error message.

https://www.screencast.com/t/wqGKromkfDI

Thanks,

Nick

On Mon, May 18, 2020 at 11:33 AM Randy Zwitch <notifications@github.com>
wrote:

[2020-05-19 06:17] nuayge commented on #1454
It seems to be the same problem
( `0` displayed in place of image, `MediaFileManager: Missing file XXXX` in logs)

Tested with the nightly build 0.59.1.dev20200517, issue still there.

[2020-05-19 10:20] anshulcool1989 opened #1474 "Altair : Duplicate signal name: "selector080_Fiscal_Week""
I am trying to create a regression line using Altair and Streamlit and I am getting the following error while trying to execute the same:
Duplicate signal name: "selector080_Fiscal_Week"

Below is the code I am using:
import streamlit as st
import pandas as pd
import numpy as np
import altair as alt

def scatter_chart(f, col1, col2):
    scatter = alt.Chart(f).mark_point().encode(
    x=col1,

[2020-05-19 12:55] randyzwitch commented on #1458
I wonder if what you are seeing is this bug: https://github.com/streamlit/streamlit/pull/1434

If so, if you upgrade Streamlit, the problem might fix itself (with version 0.60.0 of Streamlit, released in the last day or so)

[2020-05-19 13:30] randyzwitch commented on #1471
Glad you figured it out @rrnakada. Upgrading is one of the best things to try when things like this come up, as we try and move pretty quickly in releasing functionality. We're also working on moving the documentation from just the latest version published to the back history by version, so that you can check the version of the documentation against the package version you are actually using.

Tha

[2020-05-19 13:43] randyzwitch commented on #1472
Hi @nassmim10 -

Unfortunately, problems like these are hard to debug, since we don't have an xlwings license to test with. If I had to guess, I suspect this is a PATH issue of some sort. Unfortunately, not sure I can suggest more about what to do about it.

Best,
Randy

[2020-05-19 13:56] bellrd opened #1475 "Static content doesn't working. (Css and js)"
Os: windows 8
Python: anaconda install
Internet connection: good

Statics css and js does not loaded into browser however an ugly looking index.html renders, Inspecting using chrome developer tool shows 404 error on all xhr request, and css js (link embed)
![IMG-20200519-WA0023](https://user-images.githubusercontent.com/17164365/82334783-102bab00-9a06-11ea-80fc-113aef2f1d11.jpg)

##  Few thing tha

[2020-05-19 14:11] jrhone commented on #1472
Hi @nassmim10 , looking at the `xlwings` code.. maybe you can verify that the path to the `config_file` is being created correctly for your environment.

[code]

[2020-05-19 15:24] banjtheman commented on #798
Full steps

1. Find tornado location
[code]

2. Edit routing.py class _RoutingDelegate(httputil.HTTPMessageDelegate)
headers_received function

File location based on first step..
/home/banjtheman/miniconda3/lib/python3.7/site-packages/tornado/routing.py
[code]

3. Call in streamlit

streamlit run test.py
https://127.0.0.1:8501/?mypara1=99
[code]

[2020-05-19 15:36] andfanilo commented on #1474
Hello @anshulcool1989

The `interactive()` part should be on the concatenated chart :

[code]

_it can also be on the `reg` definition but it's clearer to make all of the chart interactive by putting it on the upmost definition_

[2020-05-19 15:57] #1474 closed, assigned to nobody

[2020-05-19 15:58] anshulcool1989 commented on #1474
Thanks a lot andfanilo. It works. :slight_smile:

[2020-05-19 16:08] nassmim commented on #1472
Hi,

Thanks for your answers.
I actually reran all commands from scratch, checking I was in the same env etc. and it works!

Thanks again,

[2020-05-19 16:08] #1472 closed, assigned to nobody

[2020-05-19 16:11] treuille commented on #1456
That was a great distillation, @jrhone !

[2020-05-19 18:32] treuille opened #1476 "Unable to install both opencv-python and streamlit (had to install opencv-python-headless)"
# Summary

I tried to install both `opencv-python` and `streamlit` at the same time in a

# Steps to reproduce

Create an clean pipenv virtual environment (no packages installed) and run:

[code]
## Expected behavior:

Both would work.

## Actual behavior:

You get this:

[code]

# The good news

This _does_ work if you install the headless version of opencv, i.e. this works instead:

[code]

(Mak

[2020-05-19 20:20] jrhone opened #1477 "Remove remaining python 2 references"
<img width="673" alt="Screen Shot 2020-05-15 at 11 37 36 AM" src="https://user-images.githubusercontent.com/699897/82374191-12393e00-99f5-11ea-918f-b23e1a52667e.png">
<img width="636" alt="Screen Shot 2020-05-15 at 11 37 17 AM" src="https://user-images.githubusercontent.com/699897/82374196-136a6b00-99f5-11ea-84fd-66d8a3442346.png">

[2020-05-19 21:59] jrhone opened #1478 "Remove developmentMode config"
Should we remove the ability to set `global.developmentMode` since Streamlit is smart enough to set it appropriately (and correctly)?

[2020-05-19 22:49] johnurbanik commented on #985
Working a PR on this now! Hoping to have something out by EOD, though I'll likely need a bit of code review as I'm not at all a typescript person.

[2020-05-20 06:00] tc87 commented on #601
Hey all,

We're launching our new components architecture soon and Folium would make a great component. If anyone is interested in creating/testing a Folium component, or other components, we're currently expanding our closed beta to include more community members. [Here more info if interested](https://discuss.streamlit.io/t/interested-in-creating-and-or-testing-components/2962).

[2020-05-20 13:17] randyzwitch commented on #1476
I wonder if it's a local issue or an Ubuntu 20.04 issue. Tried it with Ubuntu 18.04LTS and conda (but using pip) and it worked

[code]

[2020-05-20 17:29] jrhone commented on #1373
Hi @LjubeBoskovski , should be fixed in 0.60.0

<img width="757" alt="Screen Shot 2020-05-20 at 1 33 48 PM" src="https://user-images.githubusercontent.com/699897/82478292-1aea4c80-9aa7-11ea-8f72-66e08c9c2b53.png">

[2020-05-20 17:29] #1373 closed

[2020-05-20 18:09] jrhone commented on #1043
Looks to be fixed in latest version (0.60.0)

We can set the height via `pdk.ViewState()` as well as via props to `pydeck_chart`, but `height` prop isn't exposed to the user, it's used by `FullScreenWrapper` and `WideMode`.

[code]

[2020-05-20 18:09] #1043 closed

[2020-05-20 18:29] #495 closed

[2020-05-20 18:29] #745 closed

[2020-05-20 18:29] #424 closed

[2020-05-20 18:29] #1397 closed

[2020-05-20 18:30] #1308 closed

[2020-05-20 18:32] jrhone commented on #1476
There shouldn't be any output mentioning a lock file as we removed them.

[code]

Are you on latest develop?
Try `pip install` instead of `pipenv install`?

[2020-05-20 20:30] randyzwitch opened #1482 "Change documentation URLs in codebase to new RTD format"
On switching to RTD, links to documentation inside docstrings are no longer correct. Go through documentation, change docstrings to new format.

Redirect already defined, so not a UX issue, just a code hygiene one

[2020-05-21 03:42] #1475 closed, assigned to nobody

[2020-05-21 08:23] andfanilo commented on #1418
Hi @lmeyerov ,

For the short-term solution `is_in_streamlit()`, you can try [this gist](https://gist.github.com/tvst/f6ab192d4952757959f026007aadef6a).

Also just `st.iframe` should be sufficient, no need for the `return`.

[2020-05-21 16:17] randyzwitch opened #1484 "st.map() fails with zoom error for small number of points"
# Summary

In this [forum post](https://discuss.streamlit.io/t/plot-map-with-address-from-user-input/2950), the user highlights that `st.map()` does not plot a single point for the map. To troubleshoot, I opened up the Chrome console, saw a "Zoom must be set error" message in regards to the map.

# Solution

Adding a non `None` zoom value in the `st.map()` call [resolves the issue](https://discuss

[2020-05-21 16:32] randyzwitch commented on #1484
Additional thought...we should probably check this for the `pydeck_chart` method as well

[2020-05-21 17:40] tc87 commented on #1186
Hey @Snertie & @shekharidentv,

Closing this as it's now natively supported in Streamlit via [1468](https://github.com/streamlit/streamlit/pull/1468).

[2020-05-21 17:40] #1186 closed

[2020-05-21 19:51] randyzwitch commented on #1335
Hi @mvcalder-xbk, `height` and `max_chars` arguments were added in 0.60.0 and documented here:

https://docs.streamlit.io/en/latest/api.html#streamlit.text_area

I think this meets the spirit of your question, so I'm going to close this, but if I'm mistaken please let me know and I'm happy to re-open.

[2020-05-21 19:51] #1335 closed

[2020-05-21 20:06] randyzwitch commented on #749
Hi @lcalmbach, I'm trying to make a pass through the documentation issues...does this issue still exist in our documentation? If so, can you point me to which page this happens on?

Thanks!

[2020-05-21 20:08] randyzwitch commented on #417
A contributing file was added at some point, so I'm closing this issue. If I'm mistaken and this isn't solved, please let me know and I'm happy to re-open.

https://github.com/streamlit/streamlit/blob/develop/CONTRIBUTING.md

[2020-05-21 20:08] #417 closed

[2020-05-21 20:21] randyzwitch opened #1487 "Add link icon to sidebar links pointing off-site"
It's jarring to go through the documentation in the sidebar step by step, then click a link that takes you off the page. Add icons next to links that go off-site and/or find a way to automatically add offsite icon via CSS

[2020-05-21 20:24] randyzwitch commented on #1487
Something like https://waaz.xyz/adding-external-link-indicator-with-css/

[2020-05-21 20:29] randyzwitch commented on #519
In the docstrings now that support a `key` argument, the follow text exists:

[code]

I think this meets the intent of this issue, so I'm closing it. But happy to re-open if you mean something else.

[2020-05-21 20:29] #519 closed

[2020-05-21 21:02] randyzwitch commented on #1324
Merged into develop 22 days ago

[2020-05-21 21:02] #1324 closed

[2020-05-21 21:07] kellyamanda opened #1489 "Update to installation instructions"
Please update the installation instructions with this new wording: https://docs.google.com/document/d/1foZwW-8a02TY0XWzePNMhmab9o5G75LQDWEV5NTIXs4/edit#heading=h.waz8vr67fzg4

[2020-05-21 22:27] tvst commented on #1006
I propose adding this to `st.beta_` to unblock people while we decide where it should live and how it should behave:

[code]

Not required, but would nice to support strings with emoji codes for favicons.

[2020-05-21 22:31] lmeyerov commented on #1418
Hi @andfanilo , great, will try to get this into our next release. Thanks!

[2020-05-21 23:23] #808 closed

[2020-05-21 23:54] randyzwitch commented on #1489
To be clear, this is for the terminal output, right? Not the written documentation?

[2020-05-21 23:58] acetazo commented on #1489
Yes

On Thu, May 21, 2020 at 4:55 PM Randy Zwitch <notifications@github.com>
wrote:

--
*Amanda Kelly* | co-founder | streamlit | we're hiring!
<http://streamlit.io/careers>

[2020-05-22 00:24] randyzwitch commented on #1398
Happened again with conda on a different computer, so it might be a conda issue.

[2020-05-22 09:54] LjubeBoskovski opened #1491 "pydeck update() Map Animation"
### Problem

Currently, I am using a lot of mapping via deck.gl's wrapper pydeck. I run into difficulties, when I use big datasets to be loaded and used in computationally heavy tasks and in the end display them. More specifically, even with optimization such as an efficient hash function used with `st.cache`, loading the same data into a deck.gl layer every time I adjust for parameters in the sam

[2020-05-22 10:47] nthmost commented on #1179
Useful info, thanks @josh3028 !

[2020-05-22 11:36] nthmost commented on #1454
Yeah this is almost certainly the same bug as #1440 -- working on it.

[2020-05-22 12:05] nthmost commented on #1262
If we want Streamlit to add to the $PATH itself, this might have a solution:

https://stackoverflow.com/questions/1085852/interface-for-modifying-windows-environment-variables-from-python

I personally (as someone who isn't anywhere near an expert on Windows programming) don't feel comfortable integrating something like this as a solution.  Which is why I'm advocating for a documentation based app

[2020-05-22 13:27] #1482 closed, assigned to randyzwitch

[2020-05-22 13:28] randyzwitch commented on #1491
Thanks for opening the issue @LjubeBoskovski, you did a great job. The best feature requests tell us the what and the why, and you did both _and_ included a code snippet :+1:

[2020-05-22 13:41] jrhone commented on #1491
Notes for reference:
- [Deck.GL performance guide](https://tgorkin.github.io/docs/developer-guide/performance)
- [Update](https://deckgl.readthedocs.io/en/stable/deck.html#pydeck.bindings.deck.Deck.update) is `Intended for use in a Jupyter environment`

@LjubeBoskovski Thanks for the code snippet! Is it possible to provide a fully reproducible code sample that we can copy/paste and run to reproduc

[2020-05-22 14:08] Zigulich commented on #641
You can do it:
`dataframe.set_index('column', inplace=True)`

This will make the index no longer the numbering, but the indicated column

[2020-05-22 15:05] treuille commented on #1262
@nthmost + @randyzwitch : Agreed not to edit `$PATH` based on your comments.

@randyzwitch : Agreed that it should be in _Getting Started_. That might make the biggest difference.

**Optional:** Finally, if it’s not too hard, and if it’s possible to add a hook to the pip installation process, it might be nice to print out something which encourages them to set their path properly if we detect that

[2020-05-22 15:42] tc87 commented on #1272
Seems like this might be a duplicate of [1456](https://github.com/streamlit/streamlit/issues/1456). Going to close this for now, but can re-open later if needed.

[2020-05-22 15:42] #1272 closed

[2020-05-22 15:43] johnurbanik commented on #942
Bump on this. If this is something that can't be prioritized right now, I could draft a gist for someone within Streamlit to put up as a PR on [conda-forge/staged-recipes](https://github.com/conda-forge/staged-recipes) with them as `recipe-maintainer`.

Once up, https://github.com/regro/cf-scripts should make it so that there isn't actually much maintenance to do, but if anything goes wrong I figu

[2020-05-22 16:56] karriebear commented on #336
Looks like this is fine in Jupyter. Exploring if there's a simple change we can apply to st.pyplot to inherit all the behavior from Jupyter

Initial findings:
- Jupyter uses the Matplotlib backend called [nbagg](https://github.com/matplotlib/matplotlib/blob/002b27e352b90410c9840233b6ce42c54e291403/lib/matplotlib/backends/backend_nbagg.py)
- Jupyter used to have a special function that sets up Matp

[2020-05-22 16:59] randyzwitch commented on #300
Colab: https://discuss.streamlit.io/t/free-streamlit-dev-environment-through-colaboratory/2778

JupyterHub: https://discuss.streamlit.io/t/deploy-streamlit-in-jupyterhub/2826

Jupyter to Streamlit conversion script: https://discuss.streamlit.io/t/jupyter-notebooks-to-streamlit-app/1880

[2020-05-22 16:59] #300 closed

[2020-05-22 18:47] rsheftel commented on #455
There has been discussion of aggrid here and I use that in Jupyter Notebooks they are beautiful, and allow a wide range of functionality as well as fast.

There is a package of python bindings to wrap it here:

https://dgothrek.gitlab.io/ipyaggrid/

[2020-05-22 18:54] Ashton-Sidhu commented on #896
Would be nice to also have a parameter, i.e. `pass_filename` as a bool to just pass the filename to the server. If false (the default behaviour), the file data will be passed to the server. This would allow for local applications to process the I/O of large data files. I'm suggesting this given the network error that occurs when trying to send large files through the browser to streamlit. I can cr

[2020-05-23 00:21] SimonBiggs commented on #327
A huge benefit of Streamlit is its usage of hot-reloading. Ideally, users could create custom components and as they are designing these components and also use them within a Streamlit app, and set up Streamlit to hot reload whenever the custom component changes too.

I have noticed in the Streamlit codebase you are a fan of Typescript. It would be amazing if typescript tsx components were a first

[2020-05-23 21:55] Vincent-Chung commented on #395
Thank you!!! This is exactly what I needed.

[2020-05-24 15:16] asehmi commented on #904
Hi - I too would like to add my support for this request. In particular it'd be nice to get the name of the file added to the file_uploader. I'd also like a way (or would like to know how) to reset the state of the file_uploader so it doesn't take the value of the previously uploaded file when the page is re-evaluated.

I've been using streamlit a lot, and presented it to our Data Science communit

[2020-05-25 05:02] beasteers opened #1496 "Error during exception handling in st.write - TypeError: exception() takes 3 positional arguments but 4 were given"
# Summary

I'm trying to display a dataframe with `st.write` and it fails with a streamlit error while trying to handle an error from rendering the object.

[code]

# Steps to reproduce

It happens when you raise an exception during type conversion in `st.write`.

Here's the simplest example I could think of that throws the same error.
[code]

## Expected behavior:

It should display the `ValueErr

[2020-05-25 14:03] ricky1192 commented on #912
There is an ETA for this release in production?
Thank you.

[2020-05-25 14:39] knorthover commented on #1447
Hi @jrhone
Thanks for the response.
I implemented a minimal test case but couldn't reproduce the issue with that.  So I need to implement a somewhat more complicated case and plan to do that this week.
Kevin

[2020-05-26 15:24] kantuni opened #1498 "CircleCI fails periodically"
Investigate the following CircleCI failures:
- https://app.circleci.com/pipelines/github/streamlit/streamlit/3070/workflows/0327e855-bdb0-4347-a351-4bf5721f1859/jobs/7204/steps
- https://app.circleci.com/pipelines/github/streamlit/streamlit/3038/workflows/b7aa0289-b1b0-4031-b8e8-adb1371980ca/jobs/7120/steps
- https://app.circleci.com/pipelines/github/streamlit/streamlit/3068/workflows/a3dbb671-751

[2020-05-26 15:58] kantuni commented on #1478
@jrhone, let's raise this proposal during the standup.

[2020-05-26 16:01] kantuni commented on #58
@jrhone, seems like a great idea. Will investigate!

[2020-05-26 16:04] nparraa10 commented on #1006
I'm interested in this functionality, and I will be aware of this.

[2020-05-26 16:13] kantuni commented on #90
@jrhone The link is not helpful. Can you elaborate?

[2020-05-26 16:17] nthmost commented on #990
IMHO there's no easy fix -- since I don't see this bug in action (even in Python 3.7 and even when I've mapped network drives as the home dir), i don't feel confident that changing how we assess how we map `.streamlit` is going to result in positive consequences, and we may cause harm in the process.

[2020-05-26 16:17] #990 closed

[2020-05-26 16:24] kantuni commented on #1231
@arraydude I didn't quite get the issue. Can you please elaborate?

[2020-05-26 16:40] kantuni opened #1499 "add_rows support"

[2020-05-26 16:40] kantuni opened #1500 "Remove reactstrap"

[2020-05-26 16:41] kantuni opened #1501 "Use React hooks"
The goal is to convert most of our components to React Hooks for simplicity. Not all components need to be converted to React Hooks, only those where it makes sense (Stateless, simple state/lifecycle needs). For all Pull Requests, make sure:

* no tests are removed. We want to maintain coverage. Keep in mind, our testing library Enzyme has some notable issues with React Hooks. [Check their issue](

[2020-05-26 16:43] nthmost commented on #1429
So -- at the moment we've decided as a group that IE 11 isn't something we can easily support.

Since this is still an open issue and one that's easily reproducible -- just deprioritized -- I'm moving it back into the Icebox.

[2020-05-26 16:58] nthmost commented on #1179
So, there are two issues potentially at play here:

1) Internet Explorer is not supported by Streamlit.  This is the most likely cause of the OP's problem and should be solved by changing the default browser to something else.  Edge will work.

2) It's possible there are zombie python processes being generated when the console is closed without stopping Streamlit.  I didn't see this myself, but @j

[2020-05-26 16:58] #1179 closed

[2020-05-26 17:15] jrhone commented on #90
I was wondering if we could use the [Module API](https://docs.cypress.io/guides/guides/module-api.html#cypress-run) of Cypress to manually run tests in parallel, since their [Parallelization](https://docs.cypress.io/guides/guides/parallelization.html#Overview) functionality doesn't seem like it would work for us.

As an FYI this whole parallel thing is made complicated by the fact that we have to

[2020-05-26 19:55] sgttwld opened #1502 "Evaluating a cached function at multiple integer-like floats only runs once"
# Summary

When looping a cached function (decorated with st.cache) over a parameter vector represented by a list (or numpy array) of floats, e.g. created with np.linspace, then only the first integer-like value (1.0,2.0,...) is executed, for all following integer-like values, the cached result is used. This only happens when the values are integer-valued floats, afaik. For example, lists, np.aran

[2020-05-26 20:50] vnguyendc commented on #1456
Is there a way around this?

[2020-05-26 20:53] galinaalperovich commented on #309
I just started using Streamlit (and I really love it) and it would be great to have a simple Layout API for it!
So far I needed the only layout for the plotly plots, so for this particular case my solution was using plotly layout API, one example is here: https://stackoverflow.com/a/55501565/1376910

[2020-05-26 21:36] jrhone commented on #1456
Hi @vnguyendc, the workaround is to pass a custom hash func for the `XGBRegressor`. I believe `id` is what we want in this case.

[code]

Or

[code]

[2020-05-26 21:46] vnguyendc commented on #1456
Awesome thank you!

On Tue, May 26, 2020 at 5:36 PM Jonathan Rhone <notifications@github.com>
wrote:

--
Vinh Nguyen
Data Scientist/Analyst @ Amruta Inc.
vinh.nguyen@amrutainc.com
703 862 6538

[2020-05-27 16:51] #1321 closed

[2020-05-27 16:53] karriebear commented on #336
It looks like Jupyter's backend only addresses charts displayed inline. In streamlit, we're sending over a saved image. While we could update our matplotlib backend to align with Juptyer's (`module://ipykernel.pylab.backend_inline`), it would not handle the necessary resizing of the chart to accommodate for a title.

Sample code:
[code]

Revisiting with the team to determine if our library should

[2020-05-27 20:39] tconkling commented on #879
I can confirm this was still happening in 0.57.0, using @sreeladas' repro steps - I created a Dockerfile based on @robmarkcole's instructions above:

`dockerfile`:
[code]

And ran it:
[code]

Then I opened two web browser tabs, both pointing to http://localhost:8501. The second tab consistently showed the "Tried to use SessionInfo..." error.

It turns out it was re-introduced (in a slightly differ

[2020-05-27 22:20] #1136 closed

[2020-05-27 22:39] #879 closed

[2020-05-28 05:23] ObiWanFoley commented on #1140
This is a wonderful request. I was looking for this functionality today to use with the radio option...very useful in many use cases to be able to show equations as options

[2020-05-28 09:13] sowmyabaligar commented on #911
Hi, I am trying to display the .html image into streamlit application. Is there any way to do it so??
Thanks, in advance

[2020-05-28 10:32] resposit opened #1507 "Error using modin.pandas within streamlit app"
# Summary

I'm trying to using [modin pandas](https://github.com/modin-project/modin) (which has a nice parallel pandas dataframe implementation) within a streamlit app, but I get an error on startup

# Steps to reproduce

Create simple app app.py:

[code]
Launch it:
[code]
In the browser I get this error:
[code]

# Debug info

- Streamlit version: 0.60.0

[2020-05-28 16:42] tvst opened #1508 "Ability to make API calls to Streamlit apps"
It would be great if every Streamlit app also included an auto-generated API service the same data as the app.

Alternatively, we could provide some way for users to specify their own APIs.

### Idea 0

The API is somehow autogenerated for you. I don't know exactly how this would work :wink:

### Idea 1

[code]

### Idea 2

[code]

### Idea 3

In config.toml:
[code]

[2020-05-28 17:13] #463 closed

[2020-05-28 17:17] jrhone commented on #463
Worth it to do a test to see what the perf improvement is on this?

[2020-05-28 19:51] randyzwitch commented on #1508
Is this a duplicate to https://github.com/streamlit/streamlit/issues/439?

[2020-05-28 19:57] randyzwitch commented on #445
Closing this issue, since as the poster above highlights, this is already possible via the Matplotlib display functionality (just validated https://github.com/streamlit/streamlit/issues/445#issuecomment-543651108 with a recent version of Streamlit)

[2020-05-28 19:57] #445 closed

[2020-05-28 19:58] randyzwitch commented on #457
Closing this as a duplicate of #314

[2020-05-28 19:58] #457 closed

[2020-05-28 20:00] randyzwitch commented on #502
Closing this issue, as the answer from Jeff above is the correct answer at this time.

[2020-05-28 20:00] #502 closed

[2020-05-28 20:05] randyzwitch commented on #749
Closing this issue for now, but if a response comes in, happy to make the change to the docs.

[2020-05-28 20:11] #812 closed

[2020-05-28 20:17] randyzwitch commented on #1458
Closing this issue, as upgrading Streamlit should resolve your issue. If this is still an issue after upgrading, please comment and I can re-open the issue. Thanks!

[2020-05-28 20:17] #1458 closed, assigned to nobody

[2020-05-28 20:19] randyzwitch commented on #1459
Closing this issue due to non-response. If you do have a use case that you think requires this sort of functionality, I invite you to open a discussion on our [message board](https://discuss.streamlit.io/) and the community can talk through possible solutions. Thanks!

[2020-05-28 20:19] #1459 closed, assigned to nobody

[2020-05-28 20:25] #870 closed

[2020-05-28 20:32] randyzwitch commented on #403
No, it's not currently possible to use this workflow. You need to run the script through the `streamlit run <file.py>` binary to have the Streamlit app to run properly. Running through pdb or a different debugger would likely leave the app in an uncertain state on the JavaScript side.

If your calculation is sufficiently large where running it inside the Streamlit app to debug isn't feasible, then

[2020-05-28 20:32] #403 closed

[2020-05-28 20:33] randyzwitch commented on #1330
Closing this issue, as Fanilo has highlighted that there is a solution and the issue has gone stale. If Fanilo's solution is not sufficient, I invite you to create an issue on our [community forum](https://discuss.streamlit.io) and we can walk through the options there. Thanks for using Streamlit!

[2020-05-28 20:33] #1330 closed

[2020-05-28 20:39] randyzwitch commented on #406
Currently, it is possible to use a [markdown hack](https://discuss.streamlit.io/t/selectbox-widget-r2l-language/2795/3?u=randyzwitch) to change the CSS on a page. For future releases, it will likely be possible to style options, but for right now the link above is the solution.

If you issue still exists and the link above doesn't solve your issue, I invite you to open a topic on our [community fo

[2020-05-28 20:39] #406 closed

[2020-05-28 20:41] randyzwitch commented on #426
Closing this issue, as the solution provided above is our recommended method. `st.map()` is for quick map solutions, and `st.pydeck_chart()` allows users to get the full customization provided by the pydeck library.

[2020-05-28 20:41] #426 closed

[2020-05-28 20:48] randyzwitch commented on #885
Closing this issue as stale. If this is still a problem, I invite you to create a new topic at our [community forum](https://discuss.streamlit.io/) to discuss the options.

[2020-05-28 20:48] #885 closed

[2020-05-28 20:50] randyzwitch commented on #292
Closing this issue due as stale. If this is still an issue, I invite you to open a discussion on our [message board](https://discuss.streamlit.io) and the community can talk through possible solutions. Thanks!

[2020-05-28 20:50] randyzwitch commented on #409
Closing this issue due as stale. If this is still an issue, I invite you to open a discussion on our [message board](https://discuss.streamlit.io) and the community can talk through possible solutions. Thanks!

[2020-05-28 20:50] #409 closed

[2020-05-28 22:16] ritiksoni00 commented on #29
im newbie in open source and want todo some newcomers correction in streamlit  can anyone help?!

[2020-05-29 06:56] MarcSkovMadsen commented on #439
Please add Open API documentation to this. Otherwise I would not be able to coorporate with frontend developers.

[2020-05-29 06:56] MarcSkovMadsen commented on #1508
Yes. It's a duplicate.

[2020-05-29 16:42] mqyousif commented on #486
Indeed would love to be able to position charts and widgets on different parts of the screen, something similar to splitting the screen into different sections PowerBi.

[2020-05-29 18:00] karriebear commented on #352
Apologies for the delay but as of 0.52 you are now able to provide a list of objects as the default!

![image.png](https://images.zenhubusercontent.com/5eb9b3243774a12094801d4b/c6a98001-fb41-4f51-a597-45949a33635c)

[2020-05-29 18:00] #352 closed

[2020-05-29 19:31] narquette commented on #693
Looking to do what people are saying. Generate a profile report for many different sqls table and generate a pandas profile html report for each allow each (e.g. select from drop down) html to view in one screen.

[2020-05-29 19:35] Laksh1997 commented on #420
Any update on this?

[2020-05-29 19:46] dwiel opened #1511 "hot reload does not work on functions which are not directly imported"
The streamlit I am running is:

[code]

I have the sandbox module included in the PYTHONPATH. In that module I have a file called baz.py:
[code]

When I first run the streamlit, I get the proper exception:
[code]
I then comment out line 2 and save. Streamlit detects the change and I rerun, but get the following:
[code]
Any further change in baz.py goes unnoticed by streamlit.

If I change the main

[2020-05-29 20:27] tconkling commented on #420
Hi @Laksh1997 - this feature was shipped in January, in PR #963, so if you're using a recent-ish version of Streamlit, you can create a password input like this:

[code]

[2020-05-31 09:10] Naviden opened #1513 "Problem with opening some of datasets (nlp/viewer)"
# Summary

The following datasets can't be opened:

- tiny_shakespeare
- xnli
- blog_authorship_corpus
- c4
- definite_pronoun_resolution
- discofuse

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. Go to https://huggingface.co/nlp/viewer/
2. Select any dataset mentioned above from the dropdown list

## Expected behavior:
Showing a preview of data

## Actual behav

[2020-05-31 10:51] juancalvof opened #1514 "HTML - Folium - Not able to display map properly on the app despite unsafe_allow_html=True"
# Summary

Amazing work folks!

I having the follow error when I try to insert a Folium map: "Make this Notebook Trusted to load map:File -> Trust Notebook

# Steps to reproduce

[code]

## Expected behavior:

To have a view of the map in my Streamlit APP. I have commented a line that if its run, will save a .html, to be sure it's not a Folium problem.

## Actual behavior:

The APP is created. The

[2020-05-31 15:03] lcalmbach commented on #749
Hi Randy,

Sorry for responding so late. I was referring to Advanced concepts\Animate elements (see below missing imports in red). This code example has no import statements, the following example Append data to tale or chart has some of the import statements (import ‘streamlit as st’ is missing).  Its not a biggie at all, but I find it just so convenient if you can just copy paste the code in the

[2020-05-31 17:42] hertzmann opened #1515 "Caching function that returns PyTorch tensor on GPU gives error message"
# Summary

The function described below causes Streamlit to give an error message that says **"In this specific case, it's very likely you found a Streamlit bug so please file a bug report here."**

# Steps to reproduce

On a machine with a CUDA GPU, run the following file `test.py` with `streamlit run test.py`:

[code]

If you change `cuda` to `cpu` it works fine without an error.

If you change

[2020-05-31 18:43] hertzmann commented on #1515
It still gives the error if you replace the function with:

[code]

[2020-05-31 23:50] hiancdtrsnm opened #1516 "Altair example of Bar Chart with rounded edges don't work in streamlit"
# Summary

This code example in altair doc [Bar Chart with rounded edges](https://altair-viz.github.io/gallery/bar_rounded.html) does not work with streamlit

# Steps to reproduce

What are the steps we should take to reproduce the bug:

my full code:

[code]

## Expected behavior:

To show the graphic

## Actual behavior:

Give me this exception:

[code]

## Is this a regression?

No, the first t

[2020-06-01 14:45] randyzwitch commented on #749
Thanks for getting back to me @lcalmbach, I see what you are saying now. I think what happens is that since we are serving demos from the same Streamlit app in the 'Hello' demo, we're using the fact that these demos already have loaded the library, so we don't show it again.

I'll see what I can do about fixing this, you're right, it probably happens in a few places.

[2020-06-01 15:06] randyzwitch commented on #1516
Hi @hiancdtrsnm -

I copied the code directly from the Altair website and ran it in a fresh conda environment with Streamlit in Ubuntu 18.04, Python 3.8.3 and Chrome did get the following:

![image](https://user-images.githubusercontent.com/2762787/83422052-f53e3b00-a3f6-11ea-9acd-49a6e30f0ef2.png)

[code]

Your code also worked for me, but with the rounded edges on the bars removed.

Not sure wha

[2020-06-01 15:16] randyzwitch commented on #1514
Hi @JuanCalvoFerrandiz -

Streamlit doesn't directly support Folium at this time, though it's being evaluated for future release as part of a component framework API we'll be releasing to the community in the near future.

In the meantime, @nthmost wrote an example on how to use Folium from Streamlit https://discuss.streamlit.io/t/are-you-using-html-in-markdown-tell-us-why/96/82?u=randyzwitch

[2020-06-01 15:19] randyzwitch commented on #1513
Hi @Naviden -

Thanks for checking out Streamlit. HuggingFace isn't our project, but rather a separate entity that happens to use Streamlit. You can report any issues with their project on the proper repo at https://github.com/huggingface

Best,
Randy

[2020-06-01 15:19] #1513 closed, assigned to nobody

[2020-06-01 17:02] hiancdtrsnm commented on #1516
@randyzwitch going deeper that night I manage to change the error, but it looks like a pandas + altair problem. Thanks, for taking a look, I will get a clean environment. If I figure out what is going on, I will post a better issue. Thank for the help.

[2020-06-01 17:02] #1516 closed, assigned to nobody

[2020-06-01 17:44] jrhone commented on #1200
Closing due to lack of a response from the user. Feel free to re-open.

[2020-06-01 17:44] #1200 closed

[2020-06-02 05:53] zsz00 commented on #314
Are there any updates ?
 @arraydude   @tvst

[2020-06-02 16:38] randyzwitch opened #1522 "st.file_uploader returns 400 error for files above 100MB"
# Summary

When uploading a video file larger than 100MB or so, the `st.file_uploader` widget throws a 400 error. This is unrelated to using `server.maxUploadSize`.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

[code]

When uploading a file of 150MB, a 400 error is thrown:

![image](https://user-images.githubusercontent.com/2762787/83545199-e033db80-a4cc-11ea-8152

[2020-06-02 16:45] arraydude opened #1523 "Screencast not working on some Windows based browsers"
# Summary

User: nothing pop up when I click in the start button.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. Go to hamburger menu
2. Click on 'record screencast'
3. When the Modal opens, click on 'start recording'

## Expected behavior:

A countdown should start

## Actual behavior:

Nothing popup

## Is this a regression?

That is, did this use to work the

[2020-06-02 21:15] mzeidhassan commented on #1006
@tvst Hi Thiago, your proposed solution above seems good. Can we test it in the latest release?

[2020-06-02 21:31] Amey-D opened #1524 "Enable server-side CSRF guards and add support in file uploader client"
### Problem

Cross-Site Request Forgery ([CSRF](https://en.wikipedia.org/wiki/Cross-site_request_forgery)) is a category of security exploits where a vulnerable third-party webpages can be exploited in making unauthorized requests to your web application.  CSRF guards are important for Streamlit applications that are running in the Cloud with a publicly accessible URL.

The [recommended best pract

[2020-06-02 23:19] okld opened #1525 "Do not re-render components on frame height change"
### Problem

I'm working on a new Disqus component which has a dynamic height. With a MutationObserver I can get notified when the frame's height must be updated, but calling `Streamlit.setFrameHeight()` causes a re-render, which makes Disqus reload, change its height, then reload again, etc.

The issue here is related to the ComponentInstance class which use a react state to store the height. The

[2020-06-03 06:35] zsz00 opened #1527 "web slider is too small"
![image](https://user-images.githubusercontent.com/12711073/83603533-2fe6d580-a5a7-11ea-9476-144fc422a4d9.png)

the web slider is too small , too narrow in chrome browser.  It's hard to click on it

[2020-06-03 08:34] rishabhpurohit opened #1528 "Got an error while running an app (ModuleNotFoundError: No module named 'tornado.ioloop')"
![Capture](https://user-images.githubusercontent.com/53389065/83613515-84875200-a5a1-11ea-9d6c-b88571d87dc2.PNG)
# Summary
I got the error on running the following code
streamlit run app.py

I used a virtual environment and installed streamlit and started the app again but got the same error again.

I tried installing tornado but it says Requirement already satisfied( As you can see in the screens

[2020-06-03 08:49] Boadzie commented on #486
Yes! something like that will be great. I love Streamlit and with layout,
we have a the perfect framework for Data Science and more

On Fri, May 29, 2020 at 4:42 PM mqyousif <notifications@github.com> wrote:

[2020-06-03 14:57] ajinkya933 opened #1530 "Network URL missing from console output"
# Summary
When streamlit application is run on Ubuntu terminal. it shows two types of URL. Local URL and NetworkURL. But, in my case the NetworkURL is completely missing from the terminal output. Here is a sample output I get
<img width="459" alt="Screenshot 2020-06-03 at 8 18 21 PM" src="https://user-images.githubusercontent.com/17012391/83651699-663c4900-a5d7-11ea-8969-e6015a11b6ca.png">

Type h

[2020-06-03 17:18] Casyfill commented on #956
Just as a side note, the above bug is also true for `st.table` as well

[2020-06-03 21:36] kurt-rhee commented on #313
Also interested in some tutorial/pointers

[2020-06-03 21:37] ezavesky commented on #400
Thanks to those in this thread!

Using an example from @pbouda, created a few tools that may help others with a visual example of usage below.  Feel free to copy the functions as needed.

- a quick script to [symlink to streamlit's static directory](https://github.com/ezavesky/metadata-flatten-extractor/blob/9693cd5f6158a857258758f440ffb74cedad61fb/app/static_link_create.py), regardless of where i

[2020-06-03 23:40] tvst opened #1531 "Add protoc version check to `make wheel`"
We need to make sure the version of the Protobuf compiler (`protoc`) that we use when making the wheelfile is older than or equal to the version of the Protobuf Python library in our Pipfile.

Something like

[code]

[2020-06-03 23:44] dguti opened #1532 "Erratic behavior in selectbox when the index parameter is not a constant"
# Summary

According to the documentation, the [selectbox](https://docs.streamlit.io/en/latest/api.html#streamlit.selectbox)'s index parameter provides the preselected option on first render. When the selectbox is already rendered but the index parameter is changed, the selection changes but it shouldn't change.

# Steps to reproduce

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/

[2020-06-04 06:15] tvst commented on #1440
I can't repro on v0.61.0. Can someone else try to repro and let us know the result?

[2020-06-04 08:42] JohnPaton commented on #1440
Nothing has changed for me

[code]

[2020-06-04 11:36] Laksh1997 commented on #455
Keen to see this feature manifest

[2020-06-04 12:47] khalido commented on #1440
Using streamlit 0.61, getting missing images. My current workaround is to save an image and show that:

[code]

One thing I've noted is that it quite reliably works or doesn't work, seems that some of the stuff above `st.pyplot` can effect it.

Another mpl bug is that I almost always have to do: `st.pyplot(fig, bbox_inches="tight")`else it clips the image in streamlit.

[2020-06-04 12:51] kwenlyou opened #1534 "server.enableCORS as false still not allow redirecting"
# Summary

We want to redirect streamlit App and set `server.enableCORS = false`. However, it still doesn't allow redirecting.

# Steps to reproduce

1. run `streamlit hello --server.enableCORS false` in the terminal
2. use the script in [https://github.com/njgibbon/nicks-cors-test](https://github.com/njgibbon/nicks-cors-test) to test
3. still have the error

[code]

- Streamlit version: 0.61.0
-

[2020-06-04 15:01] treuille commented on #327
@SimonBiggs : I’ve been playing with latest custom components branch and everything you’re asking for is in there:

* Components hot-reload when you edit them.
* Typescript and Javascript are both first class. In fact, the “hello world” tutorial is in Typescript!

So excited for Custom Components to come out! 🥳

[2020-06-04 15:09] treuille commented on #327
@halhenke : The planned custom components architecture will allows you to execute arbitrary JS / TS code in an iframe, including but not limited to React. I think it’s what you’re looking for! 🤗

[2020-06-04 15:24] treuille commented on #327
@MarcSkovMadsen : We missed Christmas. I’m sorry. But I think we can make your dreams come true by [National Cheesecake Day](https://nationaltoday.com/national-cheesecake-day/). 🍰

[2020-06-04 15:25] bozso11 commented on #1158
Any change on this? It tornado<6 conflicts with MLflow's req of tornado>6.0 and it would be great to be able to use both!

[2020-06-04 15:29] bozso11 commented on #942
Hey nthmost, thanks for the answer.

I'm curious when we can expect the upgrade to Tornado >6? Python 2 support was dropped in Feb, so I'm hopeful :)

[2020-06-04 16:50] #1432 closed, assigned to nobody

[2020-06-04 17:50] JoeNSalloum commented on #1431
Same issue here, it's intermittent, we're trying to reproduce it consistently and share code.

[2020-06-04 17:58] vnguyendc commented on #779
Will this show within the app, or in a separate tab?

[2020-06-04 18:14] Jwuthri commented on #779
In a new tab, but if you want something inside the current page like this:

![image](https://user-images.githubusercontent.com/19627509/83795310-21a2c300-a654-11ea-8ad6-b96773084c94.png)

[code]

[2020-06-04 20:28] #1508 closed, assigned to nobody

[2020-06-04 20:31] tvst commented on #439
We closed this [dupe](https://github.com/streamlit/streamlit/issues/1508), but I just wanted to make sure we don't lose the proposed API from that:

---

It would be great if every Streamlit app also included an auto-generated API service the same data as the app.

Alternatively, we could provide some way for users to specify their own APIs.

### Idea 0

The API is somehow autogenerated for you. I

[2020-06-04 21:27] jrhone opened #1535 "Remove cypress tests where there are jest tests"
We made a big push to add Jest tests for our components but we didn't remove any Cypress tests.

Need to remove Cypress tests where we have a Jest test covering that functionality.

[2020-06-04 22:20] arraydude commented on #1527
Hey, I'm having trouble reproducing this issue. Do you have a toy example that I could run to replicate this behavior ?

[2020-06-04 22:43] RaghavK16 opened #1536 "No value for argument ‘body’ in method call pylint(no-value-for-parameter)"
# Summary

VStudio Code has been underlining all of the widget method calls and giving the warning “No value for argument ‘body’ in method call pylint(no-value-for-parameter)”. This happens for all streamlit method calls except for st.write.

# Steps to reproduce

For example:
this is fine:
st.write(‘some text’)

st is underlined with error as described above:
st.header(‘some header’)
st.sidebar.m

[2020-06-05 06:47] rahulrajpl opened #1537 "st.file_uploader() opens camera in android phone"
# Summary

I have hosted an app here https://wexda.herokuapp.com/ When I access it via android phone, it open the camera when I click file uploader.

# Steps to reproduce

Go to https://wexda.herokuapp.com/ from an android phone and click on the browse file link

## Expected behavior:

Open phone's file browser to upload csv file

## Actual behavior:

I expected it to open the file browser. In som

[2020-06-05 09:56] nickyi1990 opened #1538 "st.cache is not work in jupyter notebook"
# Summary

When i run st.cache in jupyter notebook, it raise an error below
[code]

I know the reason, and it's ok when run in py file, but could it be possible to let us use cache in notebook? it's a rather cool function

[2020-06-05 16:26] sniderg opened #1539 "InternalHashError for datetime.strftime object"
# Summary

While loading streamlit app, I get the error

[code]

# Steps to reproduce

While creating an app, I added the following code:

[code]

## Expected behavior:

The above function was not used in app, so no errors should occur.

## Actual behavior:

On clicking on the localhost link:
[code]
my app immediately crashes with the message

[code]

## Is this a regression?

I did not have a pri

[2020-06-05 17:25] randyzwitch opened #1540 "Update RTD build script to be generic to env name"
Setting of the environment in the setup file is hacky, and only works in the case of `stable` and `latest`:

https://github.com/streamlit/streamlit/blob/develop/docs/env_setup.sh#L20-L25

Ideally, we'd start accumulating static versions of documentation as of a release as well as the standard slugs for `stable` and `latest`. RTD appears to name the environments after the version number, so we need

[2020-06-05 19:42] randyzwitch opened #1541 "Move 'Run Streamlit remotely' tutorial to wiki"
This page in the tutorial is an overly specific development environment issue that arguably has nothing to do with Streamlit:

https://docs.streamlit.io/en/latest/tutorial/run_streamlit_remotely.html

Proposal is to move this page to the Streamlit wiki, where a more developer-focused crowd might expect to see it.

https://github.com/streamlit/streamlit/wiki

[2020-06-05 20:15] randyzwitch opened #1542 "Remove TOC from Getting Started page"
On Getting Started page, the table of contents is redundant to the sidebar:

![image](https://user-images.githubusercontent.com/2762787/83918815-76733600-a747-11ea-8bcb-b6e4ffc88276.png)

When the page is in this position, the table of contents and sidebar show same links. Scrolling down, the TOC disappears, but the constant sidebar links stay same:

![image](https://user-images.githubusercontent.

[2020-06-05 20:15] #1523 closed, assigned to arraydude

[2020-06-06 00:37] Amey-D opened #1543 "Create a config option to toggle websocket compression in Streamlit server"
# Problem

PR #1506 enabled websocket compression in Streamlit server by default.  It's a great feature and while it works well when connecting to the server directly, some reverse proxies may not support the websocket compression, making the app unaccessible.

### Solution

**MVP:**
Create a new boolean config option `server.enableWebsocketCompression` to toggle websocket compression.  It should

[2020-06-06 04:14] zsz00 commented on #1527
`url = 'xxxx'
for i in range(100):
    st.image(url, use_column_width=False)`

![image](https://user-images.githubusercontent.com/12711073/83943393-46529280-a82e-11ea-82d9-10b5df625dbb.png)

[2020-06-06 04:50] tvst opened #1545 "Only load Segment's script if `gatherUserStats` is true"
Today, Streamlit (correctly) only tracks usage stats if `gatherUserStats` is set to `true`.

However, no matter whether `gatherUserStats` is `true` or `false`, we **always** load Segments's JS code. See [relevant line of code](https://github.com/streamlit/streamlit/blob/develop/frontend/public/index.html#L32).

We should change this so we _only_ load Segment's JS if `gatherUserStats` is `true`.

T

[2020-06-06 08:08] puhoshville opened #1546 "Add option to use Memcached as a backend for st.cache"
### Problem

Running multiple replicas of streamlit app behind a load balancer can cause cache-related problems: cache stored locally for each instance of streamlit and thus you can secondarily initiate a time-consuming process.

### Solution

Add the option to store cache in a Memcached server. This will allow sharing results of time-consuming processes between different replicas of streamlit app

[2020-06-06 08:47] MarcSkovMadsen commented on #693
I just created an example in Panel using the Pandas Profiling  `.to_html` method and an `iframe`.

I think you can find the necessary inspiration there.

See

- [awesome-panel.org](https://awesome-panel.org/)
- [Discourse question](https://discourse.holoviz.org/t/cant-display-pandas-profiling-report/760)
- [Code](https://github.com/MarcSkovMadsen/awesome-panel/blob/master/application/pages/pandas_

[2020-06-06 15:34] sabualkaz commented on #1294
I am experiencing the same behaviour with matplotlib plot that the are generated with input from sliders. Is this covered under this issue or should I create a new one?

[2020-06-07 22:01] gmohandass commented on #862
+1

[2020-06-07 22:36] walterwang commented on #1083
any update on this issue?

[2020-06-07 22:43] emanoelbarreiros commented on #1294
I have the same issue. I am trying to display two different pyplot charts on the same script, more often than not the first chart is not displayed.

[2020-06-08 01:24] madpowah commented on #1294
Same issue on my side with the version 0.61. It happens when displaying 2 pie chart created by the same function called twice. The first st.pyplot is not displayed.

Edit : adding a sleep(0.2) after the pyplot() seems work as workaround

[2020-06-08 07:09] walterwang commented on #1083
Turns out u can access headers already, https://gist.github.com/tvst/6ef6287b2f3363265d51531c62a84f51
I modified his code slightly to get the headers

[code]

headers are passed from the streamlit/stream location on nginx.

Edit: the above code will go through all the sessions, which won't work for authentication purposes. I recommend the implementation of Session State below. You can return the h

[2020-06-08 14:55] karriebear commented on #1020
Addressed as part of #1483 in release 0.61.

[2020-06-08 14:55] #1020 closed

[2020-06-08 16:51] #1389 closed

[2020-06-08 17:58] karriebear commented on #1451
Resolved from PR #1490 and released in 0.61

[2020-06-08 17:58] #1451 closed, assigned to karriebear

[2020-06-08 17:59] karriebear commented on #1489
Resolved in #1510 and released in 0.61

[2020-06-08 17:59] #1489 closed, assigned to karriebear

[2020-06-08 18:48] tvst opened #1552 "File uploader doesn't reset when connection resets"
Steps to repro:
1. Run a script that has a file uploader and prints the contents of the uploaded file into the app
2. Upload a file.
   * You'll see the file's name in the uploader widget
   * You'll see the contents of the file printed in the app
3. Ctrl-C from the Streamlit server BUT don't close the tab
   * The app will disconnect, but will keep showing the filename and contents
4. Rerun the s

[2020-06-09 01:59] juancitotrucupey opened #1555 "Streamlit is stuck after redirecting port with Apache and Nginx"
# Summary

I want to direct to the output of port 8040 (where I have a streamlit application running) to the port 80 that is associated to the web server, I have installed both Nginx and Apache web servers and with both the application gets stuck after trying to access it via my_website.ai (this is the domain of my website) after redirecting the port 8040 to the port 80 with an Apache web server.

[2020-06-09 03:56] jrhone opened #1556 "File Uploader doesn't reset when the connection resets"
Currently on S4A there's a bug where the app resets every 30 seconds.

If after uploading a file, a reset occurs, we end up in a weird state in the client.

![deep_dream](https://user-images.githubusercontent.com/699897/84104362-78f1bc00-a9e3-11ea-8f50-f0fed5318257.png)

Notes:
- server doesn't restart
- seeing missing file messages by media file manager

https://app.clubhouse.io/streamlit/story/5

[2020-06-09 08:15] #1528 closed, assigned to nobody

[2020-06-09 18:52] jetilton opened #1557 "text_area updates every other update"
# Summary
This is my first app with streamlit and wow, a complete pleasure to work with.  So thank you for this amazing tool.

I am not quite sure if this is a bug or my misunderstanding of how streamlit works.  So I want to allow people to edit a text area, then process the text after edits have been made.  I have been writing a temp file for the updates and then reading it in on the text change

[2020-06-09 23:53] bballamudi commented on #693
This looks cool. Thanks

[2020-06-10 00:22] randyzwitch commented on #1557
Looks like this was answered here:

https://discuss.streamlit.io/t/alternative-implementation-of-session-state/799/15?u=randyzwitch

In general, these sorts of questions are better suited for the forum (as you saw by the quicker answer). Thanks for checking out Streamlit!

[2020-06-10 00:22] #1557 closed, assigned to nobody

[2020-06-10 12:33] cedias opened #1561 "st.plotly_chart legend_title_text is not refreshed on update/refresh."
# Summary
On update refresh of a st.plotly_chart, the legend title is not refreshed and keeps the existing value.

# Steps to reproduce

Here is an example of how to reproduce the bug

[code]

## Expected behavior:
One graph (`title()`) should have a legend title, the other one should not have a legend title (`noTitle()`)

## Actual behavior:
When switching between `title()` and `noTitle()`, the l

[2020-06-10 14:08] skovhus commented on #1061
@jrhone any workaround here?

[2020-06-10 14:27] crypticintent commented on #1061
@skovhus
In my pre-scrub/extract before I start exploring in Streamlit I have been
marking all my time zones as UTC.
DataFrame['ColumnName'].dt.tz_localize('UTC')
My interim files are typically stored as a parquet file which has no
problems keeping the time zone information

When loading the parquet file, this will cause Streamlit to see the column
is timezone aware, and thus not attempt to do the

[2020-06-10 14:45] skovhus commented on #1061
An alternative might be setting the timezone environment variable:

[code]

[2020-06-10 16:16] karriebear commented on #1061
@crypticintent's solution is definitely the right approach. Any datetimes that have a timezone will be left as is. Thanks for sharing that!

Unfortunately our current implementation of timezone awareness is not correct but it is something we are actively looking into. Forcing timezone awareness helps us ensure datetimes display in sync between the browser and server side, especially when they are

[2020-06-10 17:12] crypticintent commented on #1061
@skovhus I haven't tested your idea on it at all. Although that idea might be very useful when loading in an Excel spreadsheet for initial exploration.
Most of the time, I have a lot of pre-processing done by the time I'm ready to go to Streamlit, so controlling the timezone stamp before hand makes sense for me.
This way it keeps Streamlit from having to make a datetime column TZ aware in applicat

[2020-06-10 17:14] aliavni commented on #1061
This works. Thank you @skovhus

[2020-06-10 20:48] #1524 closed, assigned to karriebear

[2020-06-10 22:40] #1522 closed, assigned to karriebear

[2020-06-10 23:04] karriebear commented on #1552
This doesn't seem to occur when the server is stopped and restarted. Need to figure out a way to repro by disconnecting/reconnecting the websocket, perhaps adding a timeout that kills the websocket on the frontend.

[2020-06-11 03:17] andresakle commented on #453
Workaround from a [related issue](https://github.com/streamlit/streamlit/issues/47):
st.write(df.astype('object'))

[2020-06-11 09:09] deqingli opened #1564 "Add Apache ECharts(incubating) to the display chart part"
###  New Feature

Hi everyone, I am the PPMC of Apache ECharts(incubating) and want to add ECharts(https://github.com/apache/incubator-echarts) to the display chart part, but I don't know if your have already plan to do this, so I write to ask your ideas.

Best Regards,
Deqing Li

[2020-06-11 09:39] andfanilo commented on #1564
Hello @deqingli, nice to meet you.

Let me drop @randyzwitch's name into the conversation, he'll have more info for you on Streamlit's plans over integrating ECharts :slightly_smiling_face: (also he maintains the Julia echarts wrapper so he's got some experience on this ;) ). We have a similar issue [here](https://github.com/streamlit/streamlit/issues/1199).

On a purely technical side, team is cu

[2020-06-11 12:09] zsz00 commented on #314
Are there any updates ?
@arraydude @tvst

[2020-06-11 16:04] karriebear opened #1565 "Create a config option to toggle XSRF in Streamlit server"
### Problem
PR #1551 enabled XSRF in Streamlit server by default.
In order for XSRF to work, a cookie secret (default available) that works fine with one server. However, if deploying onto multiple servers without sticky routing, a cookie secret must be passed in to ensure a seamless experience for the end user.

In addition, to send a cookie, CORS must be disabled. Need to ensure that our configu

[2020-06-11 17:17] randyzwitch opened #1566 "Add animated gif support to st.image()"
Currently, `st.image()` only supports PNG and JPG files. Support for GIF would remove the need for doing the Python bytes dance:

[code]

Would be much more elegant to be able to do `st.image("image.gif", format = 'GIF')`

Ref: https://discuss.streamlit.io/t/how-to-show-local-gif-image/3408/4

[2020-06-11 17:48] randyzwitch commented on #1566
Related: https://github.com/streamlit/streamlit/issues/1137

[2020-06-11 18:05] randyzwitch opened #1567 "Serving content from static location"
Related to #1566

Having the ability to serve static content from a folder would help in the case where you want to both make the source files available from the Streamlit app, as well as using them. Currently, to provide download links, you need to do the Python bytes method of passing the entire thing as bytes in the HTML, which can make the page very heavy.

---

Community voting on feature req

[2020-06-11 18:25] matheus-rossi commented on #1516
the same error here, what did you do to solve that?

thanks

[2020-06-11 20:19] ajhayes83 commented on #688
Yes this functionality would be very extremely useful! I would be keen to know if there is an update . Thanks!

[2020-06-12 13:15] jk31 opened #1568 "st.cache problems with min_value and max_value"
# Summary

I plot a function and use the `slider` to change the parameters. With the `st.cache` decorator the function is not plotted correctly when the `min_value` or `max_value` are selected with the slider.
You may need to reload the page for the wrong behavior.

# Steps to reproduce

[code]

## Expected behavior:

Correct without `st.cache`:
![image](https://user-images.githubusercontent.com/2

[2020-06-12 17:14] randyzwitch commented on #1564
Hi @deqingli, welcome to the Streamlit community!

As @andfanilo mentioned, we'd love to collaborate on this! I think it makes perfect sense to keep this as a custom component plugin vs. native integration into Streamlit, both for ease of development and later maintenance.

Fanilo, are you comfortable making your ECharts prototype public?

[2020-06-12 19:32] keltin13 opened #1570 "Streamlit freezing when training pytorch model"
# Summary

When training a pytorch model from the simpletransformers library my streamlit app freezes and writes 'Stopping...' to the console but never stops, and can only be stopped by killing the terminal. I am running streamlit in an AWS instance and ssh to access the app. I am working in a conda environment.

# Steps to reproduce

Training this model in the terminal or a jupyter notebook works

[2020-06-12 20:08] #1570 closed, assigned to nobody

[2020-06-13 12:43] hperrot commented on #313
https://github.com/suyashkumar/ssl-proxy

This sounds pretty simple and works like a charm.

[2020-06-13 15:02] 5n7-sk opened #1572 "Unified streamlit.progress() argument with other documents"
**Link to doc page in question (if any):**

https://docs.streamlit.io/en/latest/advanced_concepts.html?highlight=progress#animate-elements

**What you think the docs should say:**

The `streamlit.progress()` method takes a percentage as its argument.
In fact, in the [Get started page](https://docs.streamlit.io/en/latest/getting_started.html?highlight=progress#show-progress) and [API reference page

[2020-06-13 21:20] Juanses commented on #1496
I have the exact same problem. I think that the dataframe is too big. By just not printing it out the problem went await

[2020-06-14 15:10] yashgoenka commented on #609
**For those who this problem persists: -**
Python 3.6 on MacOS comes with its own private copy of OpenSSL. That means the trust certificates in the system are no longer used as defaults by the Python ssl module. To fix that, you need to install a _certifi_ package in your system.

You may try to do it in two ways:
1) Via PIP:
`pip install --upgrade certifi`
2) If it doesn't work, try to run a Ceri

[2020-06-15 05:09] Hadrien-Cornier opened #1580 "st.video() not working with a .mp4 file"
# Summary

I have trouble running st.video() on videos that run fine with VLC.

## Details

I have a very simple app.py in the main of which I try to open a video :
[code]

I generated the video twice, using a a list of numpy arrays, each one corresponding to a frame:

Once by using the open cv VideoWriter function :

[code]

This produces a file which I can select, and which I can also play in VL

[2020-06-15 07:47] #1572 closed, assigned to nobody

[2020-06-15 08:14] LiliGasser opened #1581 "support for plotnine"
I would like to build a dashboard using streamlit and plotnine. Is support for plotnine planned? Are there workarounds to display plotnine plots with streamlit?

[2020-06-15 09:20] MarcSkovMadsen commented on #1581
Hi @LiliGasser

I don't know exactly how to do this.

But if I was to solve it I would look into getting an image (for example png) file from plotnine and then use `st.image`.

Places to look for inspiration would be the implementation of

- `st.matplotlib`
- plotnine jupyter support.
    - They will be generating an image file and displaying that in jupyter is my guess.

[2020-06-15 09:34] LiliGasser commented on #1581
Hi @MarcSkovMadsen

your suggestion of saving an image file and loading it with `st.image` works perfectly and suffices my needs!

Thank you very much for the fast reply!

[2020-06-15 09:59] vasugupta9 commented on #1346
I notice the same bug - 'This only happens when I run the streamlit app on a server which is in a different timezone. When I run it locally on a laptop, the output is correct.'  Took me quite some time to figure this out. More than happy to share more details and code files with streamlit developers if it helps.

[2020-06-15 12:41] #1540 closed, assigned to randyzwitch

[2020-06-15 13:44] randyzwitch commented on #1581
Thanks for answering this @MarcSkovMadsen!

Support for plotnine would also make a good project for the community to implement as part of our components launch: https://discuss.streamlit.io/t/interested-in-creating-and-or-testing-components/2962/2

[2020-06-15 13:44] #1581 closed, assigned to nobody

[2020-06-15 13:54] Hadrien-Cornier commented on #1580
I fixed the bug !
It comes from the fact that streamlit video uses the HTML5 video player that does not support the default mp4 codecs of openCV and skvideo.

The workaround I have found is to use the H264 codec which is supported by the HTML5 video player, and to convert my existing mp4 video into that codec using ffmpeg.

## Solution :

[code]

[2020-06-15 13:57] randyzwitch commented on #1580
Hi @Hadrien-Cornier, glad you figured it out!

I'm going to leave this open and tag it as a docs issue...even though it's not a Streamlit issue per se, it's happening frequently enough where we should make a note about it.

[2020-06-15 16:17] karriebear commented on #1346
Sorry for the lack of updates. Confirmed this is an issue and it is something we are addressing.

The issue arises because we're passing the datetime as a number without any timezones to the browser. The browser will then convert the number to a date using the computers local timezone.

Unfortunately the only workaround at this point is to pass datetimes as a string.

[2020-06-15 16:25] #295 closed

[2020-06-15 18:46] randyzwitch commented on #518
Closing this, as it looks like it was addressed by #698

[2020-06-15 18:46] #518 closed

[2020-06-15 19:38] randyzwitch opened #1584 "__init.py__ assumes sudo available on install"
In `__init.py__`, `sudo` is called to generate a machine-id in Linux environments. This causes issues on environments where `sudo` isn't installed, as well as being a potentially unnecessary escalation of privileges

https://github.com/streamlit/streamlit/blob/develop/lib/streamlit/__init__.py#L67-L74

Ref:
https://stackoverflow.com/questions/61871050/filenotfounderror-errno-2-no-such-file-or-dire

[2020-06-15 21:32] connorbrinton commented on #468
I think it would also be great if Streamlit were to use the exit code in the `SystemExit` exception to determine whether or not the exception should be reported to the user or stop the streamlit server.

I use [Typer](https://typer.tiangolo.com/) to write most of my apps, and internally it uses Click to perform command-line processing. Whenever a script successfully ends, it raises `SystemExit(0)`

[2020-06-15 21:35] jrhone commented on #992
Fixed by https://github.com/streamlit/streamlit/pull/1068

[2020-06-15 21:35] #992 closed

[2020-06-16 00:21] karriebear opened #1587 "Server config enableCORS is misleading"
### Problem
The config `server.enableCORS` is slightly misleading. When `enableCORS=True`, streamlit is disabling sharing of cross origin resources. It's a bit unclear since CORS is just the concept of cross-origin resource sharing, it doesn’t mean “I am enabling cross-origin sharing” or “I am disabling resource sharing”.

See current use in [routes.py](https://github.com/streamlit/streamlit/blob/

[2020-06-16 02:33] zsz00 commented on #314
Are there any updates ?
@arraydude @tvst

[2020-06-16 03:46] vasugupta9 commented on #1346
thanks for the update and sharing the workaround.

[2020-06-16 06:08] andfanilo commented on #1564
Totally planned to do so when Custom Components go live :wink: I'll drop the link to the repo here

[2020-06-16 12:10] #651 closed

[2020-06-16 12:10] #661 closed

[2020-06-16 12:11] #768 closed

[2020-06-16 12:11] #769 closed

[2020-06-16 12:14] #771 closed

[2020-06-16 12:14] #773 closed

[2020-06-16 12:14] #775 closed

[2020-06-16 13:02] #985 closed

[2020-06-16 13:15] jrhone commented on #1465
No response from user

[2020-06-16 13:15] #1465 closed, assigned to nobody

[2020-06-16 13:16] jrhone commented on #1395
No response from user

[2020-06-16 13:16] #1395 closed

[2020-06-16 13:17] #1428 closed, assigned to nobody

[2020-06-16 13:18] #1390 closed

[2020-06-16 13:19] #70 closed

[2020-06-16 13:25] jrhone commented on #1317
Hi @xuchenAIR , it would be more helpful if you could provide sample code that I can copy/paste into a report and run to reproduce your issue.

[2020-06-16 13:29] #253 closed

[2020-06-16 13:45] jrhone commented on #1556
Dup of #1552

[2020-06-16 13:45] #1556 closed, assigned to nobody

[2020-06-16 13:56] jrhone commented on #1106
No sample code to reproduce or response from the user.

[2020-06-16 13:56] #1106 closed

[2020-06-16 13:57] jrhone commented on #1242
No response from user

[2020-06-16 13:57] #1242 closed

[2020-06-16 14:00] jrhone commented on #1355
No response from user

[2020-06-16 14:00] #1355 closed

[2020-06-16 14:02] #1313 closed

[2020-06-16 14:02] #1311 closed

[2020-06-16 14:02] #1312 closed

[2020-06-16 14:39] jrhone commented on #591
Hi @lsy643 , sorry for the late reply!

Does [this discussion](https://discuss.streamlit.io/t/connection-error-when-deploying-using-docker-on-k8s/148/7?u=jonathan_rhone) help you?

I'd suggest searching in the forums as this is a common scenario that has been posted about a lot there.

[2020-06-16 14:39] #591 closed

[2020-06-16 15:09] jrhone commented on #456
The issue is fixed on v0.61.0

However there is an [issue with zooming ](https://github.com/streamlit/streamlit/issues/1484) so we have to change `st.map(df)` to `st.map(df, zoom=10)` in the provided sample code for it to work.

[2020-06-16 15:09] #456 closed

[2020-06-16 15:28] #1454 closed, assigned to nthmost

[2020-06-16 15:28] jrhone commented on #1454
Dup of #1440

[2020-06-16 15:35] jrhone commented on #1502
Dup of #1166?

[2020-06-16 15:36] jrhone commented on #1568
Dup of #1166?

[2020-06-16 15:38] #1502 closed, assigned to nobody

[2020-06-16 15:51] jrhone commented on #1507
Hi @resposit, can you try the following?

[code]

[2020-06-16 15:56] arraydude commented on #314
Hey @zsz00 , This is being prioritized within our backlog you are gonna be receiving news soon!

Thanks for contacting

[2020-06-16 16:03] jrhone commented on #1515
Hi @hertzmann, could you provide the full error message?

[2020-06-16 16:07] sgttwld commented on #1502
Yes! Sorry I wasn't able to find it.

[2020-06-16 16:11] sgttwld commented on #1166
I just wanted to comment (as can be seen in #1502) that this bug only happens if the floats are integer-like, i.e. it does not happen with [1.0001, 2.0001, ...] but it does happen for [1.0, 2.0,...].

[2020-06-16 16:12] jrhone opened #1588 "Strange behavior of connection URLs"
Passing in default values for `browser.serverAddress`, `browser.serverPort` and `server.port` causes the connection URL information to change.

[code]

[code]

[2020-06-16 16:13] jrhone commented on #1530
Hi @ajinkya933,

The reason is because you're setting values for `browser.serverAddress`, `browser.serverPort` and `server.port` in your config.toml. If you remove those values it will work as you expect.

I realize that you're setting them to the default values, so this behavior is unexpected. I filed issue #1588 to address this.

[code]

[code]

[2020-06-16 16:13] #1530 closed, assigned to nobody

[2020-06-16 16:18] jrhone commented on #985
Fixed in 0.61.0

[2020-06-16 16:20] jrhone commented on #475
This is fixed in 0.61.0

[2020-06-16 16:23] jrhone commented on #1532
Dup of #678?

[2020-06-16 16:26] jrhone commented on #1537
Hi @rahulrajpl, could you share sample code that we can copy/paste and run to reproduce the issue?

[2020-06-16 16:38] hertzmann commented on #1515
![image](https://user-images.githubusercontent.com/5560050/84802142-053c4a00-afb5-11ea-93f1-3644c397e6be.png)

[2020-06-16 16:49] jrhone commented on #1515
Thanks, could you try this as a temporary workaround?

[code]

There might be a performance hit depending on the size of your data.

[2020-06-16 16:51] jrhone commented on #1515
Could you share the full error message in this case?

[2020-06-16 17:05] rahulrajpl commented on #1537
Hi @jrhone ,
You can simply open the following link in a mobile device running android and click on the upload file button to reproduce the issue I have mentioned.
https://wexda.herokuapp.com/

Source code for the above application is available at https://github.com/rahulrajpl/wexda

[2020-06-16 18:35] dguti commented on #1532
Yes, what happens in #678 is that the attribute "value" passed to
st.text_input takes different values for each run, and that causes that
streamlit thinks it is a different widget and then renders it as if it were
the first run, losing the previous state.

Here in #1532 the given example adds minimum noise to the description of
the problem, and an explanation to the source of the problem is provid

[2020-06-16 18:54] hertzmann commented on #1515
That works fine (and prints `tensor([1, 2, 3], device='cuda:0')`)

[2020-06-16 18:55] hertzmann commented on #1515
Here's the error message for the `eye(3)` case. Actually, it doesn't look tremendously different.
![image](https://user-images.githubusercontent.com/5560050/84815743-53a71400-afc8-11ea-9b99-dcd02db92106.png)

[2020-06-16 18:58] gzzo opened #1589 "Progress bar parameter values"
Currently the docs state that progress accepts an int from 0 - 100, however the actual implementation accepts floats as well, with values from 0-1.

**Link to doc page in question (if any):**

https://docs.streamlit.io/en/latest/api.html#streamlit.progress

**Name of the Streamlit feature whose docs need improvement:**

Progress

**What you think the docs should say:**

[code]

[2020-06-16 20:09] randyzwitch commented on #1581
Hi @LiliGasser -

You already had a work-around, but I figured out how to natively render plotnine in Streamlit:

https://discuss.streamlit.io/t/support-for-plotnines-ggplot/3535/2?u=randyzwitch

[code]

[2020-06-16 22:38] EcosystemEnergy commented on #1294
I had a similar issue and I think it might be related to the behavior where streamlit.pyplot() clear figures by default since release 0.52.0 https://docs.streamlit.io/en/latest/changelog.html#version-0-52-0

For me if I now call pyplot like below I can get rid of the sleep(0.3) i was using.

`$ st.pyplot(fig, clear_figure=False)`

[2020-06-17 02:44] INPUTrrr0 opened #1590 "Internal Hash Error"
# Summary
Error Statement:

I am going to be honest here I have no idea what went wrong. The error statement recommend me to report a bug so here goes XD

# Steps to reproduce
It happened when I want to execute the following code:
`    @st.cache(persist=True)
    def split(df):
        y=data.iloc[ :, -1:]
        x=data.drop(columns=["Class"])
        x_train, x_test, y_train, y_test = train_test

[2020-06-17 15:25] Bipasori commented on #868
import streamlit as st
st.write("Not multi-\nline")
st.write("Still not multi- \nline")
st.write("Ok now it's multi-  \nline")

[2020-06-17 15:38] karriebear commented on #1288
One reproducible failure is using `America/St_Johns` timezone with datetime `2009-10-31 23:30`

[code]

[2020-06-17 17:04] #1580 closed, assigned to nobody

[2020-06-17 17:53] #1589 closed, assigned to randyzwitch

[2020-06-17 18:24] randyzwitch commented on #1059
Removing this as a docs issue per #1593. Will leave open as a feature request.

[2020-06-17 19:52] randyzwitch opened #1597 "Remove Makefile artifacts from old build process"
Now that RTD is working smoothly, we can remove the S3 and AWS Cloudfront code. Leave in other docs related functions that are useful, such as `devel-docs`

[2020-06-17 20:01] randyzwitch opened #1599 "Clean up Makefile for Python staleness"
There is a bit of cruft in the Makefile from the cutover between Python 2 and 3, and supporting 3.5 to 3.6+

[2020-06-17 20:39] #1464 closed, assigned to arraydude

[2020-06-17 22:49] #1168 closed

[2020-06-18 02:19] tconkling commented on #283
I spent ~10 minutes looking into this to see if there's an easy patch for Watchdog, but I don't think there is. Recording some notes for posterity:

- Xcode used to let you choose which macOS SDKs you wanted to install
- No longer! Now, in Catalina, it installs 10.15 and 10.14 SDKs
- If [removing the 10.14 SDK](https://github.com/gorakhargosh/watchdog/issues/628#issuecomment-581480649) fixes the i

[2020-06-18 07:07] LiliGasser commented on #1581
Hi @randyzwitch

Thanks a lot! Works well!

[2020-06-18 12:32] #1599 closed, assigned to randyzwitch

[2020-06-18 12:59] randyzwitch commented on #1440
Thanks for letting us know @khalido. In that case, since you're passing that argument on the matplotlib size, I think that's their issue. Meaning, once `plt.savefig(fname, bbox_inches="tight")` happens, the picture is printed; we just display the picture as it was printed.

[2020-06-18 13:02] jrhone commented on #1515
Great, the same workaround should work for that case then. If it doesn't please let us know.

[2020-06-18 14:02] LiliGasser commented on #1581
It's me again. If the figure contains a legend or large x labels, they are not completely shown with the above solution.

[code]
With the above code, only the color bar of the legend is shown but not the values indicating min and max.

Any idea how to solve this?

[2020-06-18 14:08] randyzwitch commented on #1581
It sounds like a matplotlib problem (which is what plotnine is written in)

https://matplotlib.org/3.1.1/tutorials/intermediate/tight_layout_guide.html

[2020-06-18 14:30] LiliGasser commented on #1581
With this [https://github.com/has2k1/plotnine/issues/186](url), it can be improved. It shows the whole legend but puts the min and max values at the wrong place.
[code]

For another plot where the legend is not a color bar but some categories, it works fine.

[2020-06-18 14:48] asemic-horizon commented on #1440
A partial fix that would ameliorate the issue significantly would be to focus on the first page load situation. My main screen has a dropdown menu with a default value and an image should be generated from that default value. The very first view in an app shouldn't break. To have working interactivity could be step 2.

My project doesn't have expectations of charts reacting quickly to sliders (whe

[2020-06-18 15:05] asemic-horizon opened #1605 "Radio buttons that swap out large sections of content sometimes don't work"
This is again a bug that's hard to provide a minimum example for. I'm (mis?)using radio buttons as a "main menu" of sorts,  like this:

![image](https://user-images.githubusercontent.com/42865953/85036877-0c04c180-b15b-11ea-97a7-d1889e9a04de.png)

These button trigger entirely different pages from there on.

Sometimes, after operating the app for a while, the radio buttons won't work. I know it's

[2020-06-18 15:46] xiong-jie-y opened #1606 "dynamic library isn't correctly reloaded when dynamic library is modified while running streamlit"
Firstly, thank you for awesome framework!
I'm really enjoying exploring the big power of streamlit.

# Summary
Streamlit automatically detect dynamic library modification and seems to reload the web page but the dynamic library doesn't seem to be changed (because the modified method is same behavior as before reloading.)

# Steps to reproduce
Assumes boost_python and streamlit is installed.

1. Cl

[2020-06-18 16:11] randyzwitch commented on #1606
Hi @xiong-jie-y, thanks for reporting.

I wonder if this behavior has to do with _pycache_. It sounds like Streamlit is detecting that the underlying file has changed, but since the main Python process stays active, maybe it doesn't reload the package?

Not sure how to test this (yet), but that's my suspicion.

[2020-06-18 18:28] #1543 closed, assigned to Amey-D

[2020-06-18 19:42] randyzwitch commented on #1605
Based on your picture above of the radio box, is this the repo in question that has the issues, so that we can try and reproduce?

https://github.com/asemic-horizon/sursis

[2020-06-18 19:47] randyzwitch commented on #283
Per the forum just now, deleting the 10.14 SDK wasn't sufficient

https://discuss.streamlit.io/t/unable-to-install-on-osx-10-15-5/3571/3?u=randyzwitch

[2020-06-18 19:55] karriebear commented on #896
Thanks for the suggestion @Ashton-Sidhu! Just so we can get a better understanding, could you clarify your use case for just passing the filename over? If you're just looking to get the filename, would an input field or something like [this](https://discuss.streamlit.io/t/upload-files-to-streamlit-app/80/3?u=adrien_treuille) work?

Regarding the network error when uploading large files, is that th

[2020-06-19 01:49] asemic-horizon commented on #1605
It is.

You're correct that this isn't a bug report, but a complaint instead. This isn't proper behavior in this kind of situation. I don't know what came over me.

I'll do the work of coming up with something that happens in a simple example in the most recent version of Streamlit in the coming days. Sorry for the annoyance.

[2020-06-19 01:49] #1605 closed, assigned to nobody

[2020-06-19 10:12] xiong-jie-y commented on #1606
@randyzwitch
Hi! Thank you for replying!

Sorry. Maybe I made you misunderstand.
My situation is that python modules are correctly reloaded but shared library `.so` file are not correctly reloaded.

[2020-06-19 16:17] randyzwitch commented on #1605
No worries @asemic-horizon, happens to all of us. I edited down my message as well, because it was more aggressive than I really deserved to be.

Ultimately, we do want to help, so if you can tell us how to reproduce the issue, then we can try and figure out what the proper solution is.

[2020-06-19 20:01] akrolsmir commented on #950
#1609 is a first pass at supporting datetime values, also ensuring consistency and correct formatting with Moment.js

Some things to think through between the different datelike formats:
- date: What's the use case? What's the difference/overlap with date_picker (which supports a date range as well?)
- time: Sliders currently support a range of real numbers more or less bounded by -inf to +inf; ti

[2020-06-19 22:41] klimentij commented on #1570
I have the same issue when using Simpletransformers on inference

[2020-06-20 00:59] #1440 closed, assigned to nthmost

[2020-06-20 01:37] #1565 closed, assigned to karriebear

[2020-06-20 06:40] Ashton-Sidhu commented on #896
Hi @karriebear, it stems more from Evah's issue [here](https://discuss.streamlit.io/t/network-error-when-uploading-files-larger-than-100mb/2646/10).

The ideal way (for my use case) was to give the option to upload a local file that can be theoretically unbound in size (realistically in the GBs) and then open the file with an engine like spark - hence the need for only the filename.

In my project

[2020-06-21 14:14] prasrahul opened #1612 "i have imported everything but getting this error"
# Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

## Expected behavior:

Explain what you expect to happen when you go through the steps above, assuming there were no bugs.

## Actual behavior:

Explain the buggy behavior

[2020-06-21 14:16] #1612 closed, assigned to nobody

[2020-06-21 14:23] prasrahul opened #1613 "ImportError: Keras requires TensorFlow 2.2 or higher. Install TensorFlow via `pip install tensorflow` im getting this error but i have installed tensorflow and everything"
# Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

## Expected behavior:

Explain what you expect to happen when you go through the steps above, assuming there were no bugs.

## Actual behavior:

Explain the buggy behavior

[2020-06-21 17:55] kurt-rhee opened #1614 "Importing Pandas as pd"
# Summary

I am attempting to create a few different pages, but I am having trouble importing pandas when also importing streamlit commands from a function.

# Steps to reproduce

Main.py
[code]

Title.py
[code]

## Expected behavior:

I would expect that importing pandas in the Title.py scipt would not give a NameError pd is not defined

## Actual behavior:

![image](https://user-images.githubuse

[2020-06-21 18:19] kurt-rhee commented on #1614
I took a look at the discourse and it gives this error which looks similar to #301
https://github.com/streamlit/streamlit/issues/301

![image](https://user-images.githubusercontent.com/33131958/85232043-1c15de80-b3b1-11ea-9e1c-c4f75ec3f549.png)

[2020-06-21 18:40] jrhone opened #1615 "Officially support both Tornado 5 and 6"
- Run the Python 3.6 CircleCI jobs against Tornado 5
- Run the Python 3.8 CircleCI jobs against Tornado 6
- Get rid of MyPy errors when running against Tornado 5 (Ignore Tornado typings in MyPy?)

[2020-06-21 22:16] tvst opened #1616 "Regression: datepicker is broken when date is Epoch"
The first date input in `e2e/scripts/st_sidebar.py` is broken, but our screenshot tests didn't catch it since it's below the diff threshold :cry:

### Here's what it looks like right now
Notice that the date picker is disabled, for some reason!
![Here's what it looks like right now](https://user-images.githubusercontent.com/690814/85236309-d4537f00-b3d1-11ea-8f79-8672b7479386.png)

### Here's what

[2020-06-22 08:25] Aathib commented on #1613
I'm also facing the same issue

[2020-06-22 09:08] LiliGasser opened #1617 "Rdkit run with streamlit leads to argument error"
The following example works fine if it is run directly from the python file.

[code]
If it is run with streamlit, it produces the following error:

Any idea how this could be solved?

Thanks in advance!

I already posted this in the community section:
https://discuss.streamlit.io/t/rdkit-run-with-streamlit-leads-to-argument-error/3587