[2022-01-19 00:29] #4289 closed, assigned to nobody

[2022-01-19 00:54] vdonato commented on #4281
Hi @usuixingyili,

The `st.camera_input` widget isn't designed for video (just still photos), and data isn't sent from client -> server until a picture is actually taken, which is why the return value from the component is initially `None`

Note that there is a [community-supported custom component](https://github.com/whitphx/streamlit-webrtc) for processing real-time video streams in Streamlit, b

[2022-01-19 00:54] #4281 closed, assigned to nobody

[2022-01-19 02:01] #4099 closed, assigned to vdonato

[2022-01-19 02:08] vdonato commented on #4099
Merged! The fix should land in the v1.5 release (scheduled for the 27th)

Also, note that a refactor removed `streamlit.report_thread`, so you'll want to use `get_script_run_ctx` from `streamlit.script_run_ctx` to get the code snippet in the issue body to work again

[2022-01-19 06:16] imClumsyPanda opened #4295 "Height option for st.container and st.expander"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

I’m trying to make a chat bot with streamlit and streamlit-chat component. But with current version of streamlit, there’re no reasonable solution to make a chat bot UI like those we usually use. So I’m hoping

[2022-01-19 07:31] tvst opened #4296 "st.radio with DataFrame fails on rerun"
### Summary

When you pass a DataFrame as the options in an st.radio, every rerun throws an error (but the first run works).

### Steps to reproduce

Code snippet:

[code]

1. Run the code above.
2. Press "R" to rerun the code above.

**Expected behavior:**

The rerun works, just like the first run.

**Actual behavior:**

The app hangs (stays in running state forever) and shows the error below in

[2022-01-19 07:31] tvst commented on #4264
Not sure if related, but this bug I just found has the same error message, though it looks quite different on the surface: https://github.com/streamlit/streamlit/issues/4296

[2022-01-19 08:41] ael-g opened #4297 "User's session_state is reset on websocket close"
### Summary

When using session_state on the backend and browsing the app, if the websocket close between the front and the back, on websocket re establishment session_state is lost.

### Steps to reproduce
Having a proxy between the front and the back, setting a connection timeout with the value of your choice, websocket will close after this value and session_state for this particular user will

[2022-01-19 13:50] CyberShadow opened #4299 ""Clear cache" option disappeared"
### Summary

We use Streamlit on an internal server in order to host some data science tools available to our team. We also use `@st.cache` a lot to speed up reevaluations.

In recent versions of Streamlit, we noticed that we no longer have the option of clearing the cache in the web browser.

Looking at the code, the feature is available via the developer menu, which is now only enabled if

- the

[2022-01-19 14:40] torlenor commented on #4254
We see something similar, but it is hard for us to come up with a working example outside of our application. Basically what we have is quite similar:

[code]
So we only show the Download button if the Pandas dataframe is not empty. We fill out the filename with some strings from above. If we click on the button it sometimes works and sometimes doesn't. So without changing anything you click on th

[2022-01-19 16:41] Ali619 commented on #840
I was getting `OSError: [WinError 10013] An attempt was made to access a socket in a way forbidden by its access permissions` error.
I did replace the code above in the comments and then I change the `return value` of port in `_server_port()` function to 8051 in `.streamlit\config.py` file.
It did fix my problem

[2022-01-19 19:29] kmcentush commented on #4099
@vdonato Will there be another nightly release soon? I'd love to get ahead of this if possible, and I had some issues installing from source.

[2022-01-19 22:20] vdonato commented on #4099
@kmcentush hopefully there will be one tonight or tomorrow -- it turns out that I was actually the one that broke the nightly job so am working on a fix now 😬

[2022-01-20 00:42] zizouqidashen commented on #4254
I rewrite a simple code below. It work as my description, you just try to downloads the file ,you'll see it
st.__version__ is '1.2.0'

import streamlit as st
import pandas as pd
import datetime

df = pd.DataFrame({'a':[1,2,3],'b':[2,3,4]})

def main():
    model = st.sidebar.selectbox("choose the test",('None', 'test'))
    func = dict_model.get(model)
    if func is not None:
        func()

def

[2022-01-20 00:48] zizouqidashen commented on #4254
I rewrite a simple code below. It work as my description, you just try to downloads the file ,you'll see it
st.version is '1.2.0'
‘’‘
import streamlit as st
import pandas as pd
import datetime
st.__version__
df = pd.DataFrame({'a':[1,2,3],'b':[2,3,4]})

def main():
    model = st.sidebar.selectbox("choose test",('None', 'test'))
    func = dict_model.get(model)
    if func is not None:
        fun

[2022-01-20 00:52] zizouqidashen commented on #4254
I rewrite a simple code below. It work as my description, you just try to downloads the file ,you'll see it
st.version is '1.2.0'
[code]

[2022-01-20 08:29] akshanshkmr commented on #4099
This has broken the import `from streamlit.report_thread import get_report_ctx` in version 1.4.0

[2022-01-20 08:36] akshanshkmr opened #4302 "Broken import in v1.4.0"
### Summary

Broken Import: from streamlit.report_thread import get_report_ctx

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

Import should succeed

**Actual behavior:**

[code]

### Debug info

- Streamlit version: 1.4.0
- Python version: 3.9
- Using PipEnv
- OS version: Windows 11
- Browser version: Microsoft Edge Version 97.0.1072.62

[2022-01-20 08:36] akshanshkmr commented on #4302
Possible causes: https://github.com/streamlit/streamlit/issues/4099#issuecomment-1016009853

[2022-01-20 08:37] nicornk commented on #4099
I would also favor not to break the existing API contract with `from streamlit.report_thread import get_report_ctx`, if that's possible.

[2022-01-20 10:00] bbelescot commented on #1360
I think it'd be a killer feature! Following this :)

[2022-01-20 11:01] jrichez opened #4303 "'utf-8' codec can't decode byte 0xe0 in position 151: invalid continuation byte"
### Summary

I cannot write some character, in this case 'à'

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

Cette application permet à

**Actual behavior:**

'utf-8' codec can't decode byte 0xe0 in position 151: invalid continuation byte

### Is this a regression?

no

### Debug info

- Streamlit version: 1.4.0
- Python version: 3.8.11
- Conda
- OS version: windows 10
- Br

[2022-01-20 12:00] torlenor commented on #4254
In our case we found the issue to be the loadbalancing (we are using more than one streamlit instance) and therefore randomly you would hit the wrong instance. I think this explains perfectly fine why we observed the 404 error. Maybe @zizouqidashen you are also using some sort of loadbalancing in front which could explain the behavior.

[2022-01-20 13:11] RubenVanEldik opened #4304 "Overflow LaTeX formulas"
### Summary

Formulas in LaTeX formulas can get quite long pretty quickly. Right now if a formula is longer than the viewport the whole app will get a scrollbar, which looks kinda ugly. (see attachments)

### Steps to reproduce

1. Add a long LaTeX formula (like `r"Full\ load\ hours_{source} = \frac{\sum_{t=1}^{8760} production_{source}}{capacity_{source}} = 8760 \times Capacity\ factor_{source}"`

[2022-01-20 20:06] charlielito commented on #3334
I was having the same problem but for visualizing videos in a streamlit app but deployed to Google Cloud Run.
I manage to get it working by setting `Maximum requests per container` to a high value (100)  and #CPU=1

[2022-01-21 00:36] #4258 closed, assigned to vdonato

[2022-01-21 10:40] vineetdas770 opened #4306 "502 server error while visiting the deployed web app"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.
502 server error while visiting the deployed web app on streamlit
### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click o

[2022-01-22 02:32] vdonato commented on #4287
Thanks for chiming in here @andfanilo! Closing this issue as I believe this answers the question.

[2022-01-22 02:32] #4287 closed, assigned to nobody

[2022-01-22 02:39] vdonato commented on #4303
Hi @jrichez, I think this may have something to do with windows text encoding as I'm not running into this problem on my system.

Could you share more details about the text editor that you're using to save this code? I believe that if you're using an editor that saves its files as utf-8 by default, you won't run into this issue.

[2022-01-22 02:45] vdonato commented on #4297
Thanks for reporting this @ael-g!

We'll see what we can do to prioritize a fix. I can't give any guarantees on a timeline for this at the moment, but there may be some overlap with fixing this bug and the multi-page apps project currently in flight, so there's a chance that this gets addressed relatively soon as part of that work.

[2022-01-22 02:49] vdonato commented on #4285
Hi @littlepanda0716!

Looking at the [st.write](https://docs.streamlit.io/library/api-reference/write-magic/st.write) docs, it seems like the only supported keyword argument for `st.write` is `unsafe_allow_html`.

I'll leave this issue open but will reclassify it to an enhancement as it technically isn't a bug given the behavior specified in the documentation.

[2022-01-22 03:06] vdonato commented on #4099
Hi @akshanshkmr, @nicornk --

This is most likely not going to be something that gets changed back. The `streamlit.report_thread` module is an internal module that isn't considered part of streamlit's public API. While it's still possible to import it as I don't believe Python prevents you from importing a package's submodules, the `report_thread` module is undocumented, and thus we don't give any

[2022-01-22 03:09] vdonato commented on #4302
Closing for reasons described in https://github.com/streamlit/streamlit/issues/4099#issuecomment-1019027597

[2022-01-22 03:09] #4302 closed, assigned to nobody

[2022-01-22 03:21] vdonato commented on #4299
Thanks for reporting this @CyberShadow!

This is (essentially) a duplicate of #4150, so I'll close this bug in favor of the older one. We haven't had the bandwidth to work on some of these developer menu-related suggestions recently, but we have been thinking about these types of improvements so will hopefully find the time to do so soon.

[2022-01-22 03:21] #4299 closed, assigned to nobody

[2022-01-22 09:16] davidberenstein1957 commented on #1970
Similarly, I would like be able to get the URL fragments `localhost:8501/#acces_token=xxx.`. This aligns with several feaure request that have been mentioned earlier regarding fragements specifcally (https://discuss.streamlit.io/t/how-to-access-the-url-and-the-hash-fragments-from-within-the-streamlit-app/1868/3) and regarding set/get_url (https://github.com/zhaoooyue/streamlit/pull/1).

[2022-01-22 20:47] jake-aft commented on #3398
I am not directly calling st.secrets, but  I am attempting to use the tutorials for connecting to data sources s3 and postgres https://docs.streamlit.io/knowledge-base/tutorials/databases/*  i am receiving the same error message so guessing the builtins using the secrets.toml are also having similar issues?

[2022-01-22 22:11] jvcss commented on #1337
this wonderful person develop this workaround [SREAMLIT_MODAL](https://github.dev/teamtv/streamlit_modal)

now i'm thing a way to grab streamlit css definitions and put it automatically in any js/tsx component. I just need find a way to put a resset css with those from streamlit and any custom component will contain the exactly same css as the streamlit native context

[2022-01-23 20:44] TangleSpace commented on #726
For now you could just use the dedicated Navbar within the [Hydralit Components](https://github.com/TangleSpace/hydralit_components) library until Streamlit have their own navbar. Supports multi-level entries and container placement, including the sidebar. This is a proper bootstrap based Streamlit custom component with support for Font Awesome and Bootstrap icons in both online and offline modes.

[2022-01-23 21:48] iamjoonkoo opened #4309 "ISBNLibHTTPError"
### Summary

Hi.
I am getting an error from isbntools.
This works on my local computer but for some reason, I am getting repeated error on the cloud.
This module simply searches books online by its ISBN.
I am getting isbn from barcode detector and looks like l am getting the correct isbn information....

Here is the actuall error message
isbnlib.dev._exceptions.ISBNLibHTTPError: an HTTP error has

[2022-01-24 01:32] chwenjun225 opened #4310 "AttributeError: 'Index' object has no attribute 'tz_localize'"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2022-01-24 11:13] StefanBrand opened #4311 "Provide way to run with the WSGI/ASGI protocols"
### Problem

We have a Django backend and a Vue.js frontend. We also deploy Streamlit to render some charts with Django functions. Both Django and Streamlit are in the same repository and Docker image. In order to bring up both Django and Streamlit in the Kubernetes cluster we need two almost identical deployments of the same image: One for Django and one for Streamlit.

### Additional context

I'

[2022-01-24 12:40] EnigmaticCypher commented on #313
@tvst I work for a large organisation that has cyber security policies stating that full end to end TLS encryption must be used. I'm really interested in this library as a backend dev because it looks like an absolute perfect fit for my needs, but not having the option to configure TLS at the source is a deal breaker. @u-masao has already done the hard yards for you here & written the necessary co

[2022-01-24 13:42] StefanBrand opened #4312 "Use primaryColor for st.spinner"
### Problem

The spinner uses a default color and ignores `primaryColor`.

![image](https://user-images.githubusercontent.com/8948865/150792152-9089511e-1424-40db-ad61-ff43a0e7d7dd.png)

[code]

[code]

### Solution

**MVP:** Use primaryColor to style spinner.

### Workaround

Override CSS and hardcode color

[code]

![image](https://user-images.githubusercontent.com/8948865/150793436-2eff6899-ae6

[2022-01-24 13:52] jrichez commented on #4303
Hi @vdonato,

I was using Visual studio, i changed my IDE and now it's ok

Thanks !

[2022-01-24 15:42] igor-i-plotnikov commented on #837
same :(

[2022-01-24 18:46] Bomme commented on #3684
+1 this would be a very useful feature!

[2022-01-24 19:24] kajarenc commented on #4306
Hi @vineetdas770!

I visit https://share.streamlit.io/adityachache/final-year-project/app.py and look like it works now

I close the bug. Feel free to reopen it, if it will happen again

[2022-01-24 19:24] #4306 closed, assigned to nobody

[2022-01-24 20:09] jifcon commented on #570
Hi all,

Did you manage to set a max height or max number of elements displayed on a select or multiselect? I saw several posts trying to solve this but I checked help and docs and I can't figure out how to do it.

Thanks++!

[2022-01-24 21:23] shamis15 opened #4315 "Dashboard Header text"
Can we adjust the text in the header?

Current size: 18px
Updated size: 16px

Here is the mocks for reference:

https://www.figma.com/file/2ytP8SivNcxLMWLqigo3dO/Dashboard-upgrade-button?node-id=74%3A576

Let me know if you have any questions!

[2022-01-24 23:28] vdonato commented on #4303
Thanks for the update @jrichez! Will close this issue, then

[2022-01-24 23:28] #4303 closed, assigned to nobody

[2022-01-24 23:29] vdonato commented on #4315
Going to migrate this to the `s4t` repo

[2022-01-25 07:06] davidberenstein1957 commented on #1970
Apparently, there already is someone out there with an initial solution but to me, it makes sense to unify this. https://discuss.streamlit.io/t/get-query-params-not-working-with-instead-of/20314

[2022-01-25 09:35] ZivHHM commented on #1085
Hey!
are t updates regarding this?
anything in developments maybe? :)

[2022-01-25 17:02] kajarenc commented on #4310
@tuantran225 Hello, I just tried to run the code you share, and it works for me!
Most probably error related to your local environment, configuration.

I will close the issue, fill free to reopen it if it still exists with more information about the python version, OS, library versions e.t.c.

Thanks!

[2022-01-25 17:02] #4310 closed, assigned to nobody

[2022-01-25 17:52] Bomme commented on #2446
This would be such a useful feature!

[2022-01-26 01:01] brunomsantiago commented on #1291
@andfanilo, your solution worked for me with some adaptations. Here is my code if anyone is interested.

[code]

**Edit:**
Added a side bar and some number inputs and as predict it broke because there was new unexpected buttons (to hide the sidebar, to increase/decrease numbers). I inspected the buttons with firefox developer tools and discovered the st.buttons has a **kind=primary** parameter and

[2022-01-26 13:12] jkneer opened #4318 "Disabling a widget resets the widget's value to its default"
### Summary

The "key" parameter of `st.number_input` is useless for state handling due to the default initialisation of `value` with `min_value` and the re-initialization upon setting the `disabled` flag.

Setting the `disabled` flag to True, sets the widgets display to `min_value` or 0. But the state stores the old value. When the widget is enabled again by setting the `disabled` flag to False,

[2022-01-26 13:40] jkneer opened #4319 "inconsistent type returned by number_input"
### Summary

Even when `number_input` is setup to return int, it returns a float upon automatic rerun on file change.

### Steps to reproduce

Code snippet:

[code]

If applicable, please provide the steps we should take to reproduce the bug:

1. copy paste snippet to a file, keep open in editor
2. streamlet run <snippetfile>
3. modify file (write `pass` under existing code) and save
4. click the

[2022-01-26 13:56] jkneer opened #4320 "Make picture size returned by camera_input consistent via parameter"
st. camera_input returns a picture. The dimensions of that picture depend on the camera widget size as displayed in the browser.

### Problem

Getting randomly sized pictures from the camera_input widget is not exactly defined behaviour.
The documentation doesn't list any setting to request a certain dimension.

[code]

1. run snippet
2. take picture
3. resize browser window so that the widget is

[2022-01-26 15:50] thunderbug1 opened #4321 "Make it possible to execute content of st.expander only when it is expanded"
### Problem

Sometimes it is be good to have the possibility to get additional information about someting. The st.expander is a good option for this as it can be opened to show more detail.
Sometimes, however, it is computing intensive to calculate or render the details.

### Solution

Only run the code for the content of the expander (inside of the with block) when it is actually expanded.

---

[2022-01-26 15:56] vhoulbreque opened #4322 "When using a form, a click on a download_button will lead to a 404 error every other time."
### Summary

When using a form, a click on a `download_button` will lead to a 404 error every other time.

https://user-images.githubusercontent.com/18598248/151198184-f32e14ac-dff5-4303-b9eb-8d4495df96cf.mp4

### Steps to reproduce

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/streamlit_badge_black_white.svg)](https://issues.streamlitapp.com/?issue=gh-4322)

Code snippet:

[code

[2022-01-26 17:10] brunomsantiago commented on #1291
Small update, I continued looking for ways to make @andfanilo hacky solution more robust and I think it is good enough now.
Now I get the buttons based on their labels. First I get all buttons then check their labels until I find the desired button.
Here is the code of the full proof of concept, also published in a [gist](https://gist.github.com/brunomsantiago/e0ab366fc0dbc092c1a5946b30caa9a0)

[c

[2022-01-26 21:03] bsivanantham commented on #927
Is there any update on this issue?

[2022-01-27 00:54] piperwolters opened #4325 "Utilizing Multiselect as a callback for a Session State only lets user choose 1 option"
### Summary

I am using a session state for the purpose of annotating data. I display multiple datapoints, with numbered labels. I would like for the user to be able to check multiple boxes (representing the numbered labels), telling me which datapoints they think are mislabeled. Currently, after the user chooses one of the many options in the st.multiselect, the on_change occurs immediately. I wo

[2022-01-27 05:29] #2409 closed, assigned to nobody

[2022-01-27 08:36] mahotd commented on #4322
I have the same issue, and I was able to reproduce the bug with the provided snippet...

Debug info

    Streamlit version: 1.4.0
    Python version: Python 3.6.8
    Using pyenv-virtualenv
    OS version: Ubuntu 20.04
    Browser version: Mozilla Firefox 96.0

[2022-01-27 13:26] danielhangan commented on #1360
I also needed this feature but I found a temporary workaround using st.expander()

[code]

[2022-01-27 17:24] fload commented on #4322
I believe its a limitation of in_memory_file_manager.py
Notice the comment
"""In-memory file manager for InMemoryFile objects.

    This keeps track of:
    - Which files exist, and what their IDs are. This is important so we can
      serve files by ID -- that's the whole point of this class!
    - Which files are being used by which ReportSession (by ID). This is
      important so we can remove

[2022-01-27 17:30] fload commented on #4319
Not getting the same results... works as expected here, int after numbers_input still == int

[2022-01-27 17:43] jkneer commented on #4319
For me this is reproducible everytime. Here is an animated gif

![out](https://user-images.githubusercontent.com/85338503/151414023-3a2c5fb6-99e9-4b3e-a6c0-35fa3ca513c8.gif)

[2022-01-27 20:44] angela-zhao commented on #4122
I'm getting the same error.

[2022-01-27 20:48] CgtRteIdf commented on #2471
Same issue here : https://github.com/CgtRteIdf/calculette_remu/blob/main/streamlit_app.py

[2022-01-27 21:22] kmcgrady commented on #2471
Hey @CgtRteIdf , Looking at your `requirements.txt` the streamlit version has been old. Have you tried upgrading your version of Streamlit?

[2022-01-27 21:25] mayagbarnes commented on #4122
Hi @angela-zhao 😃 Could you provide the Streamlit version & the code snippet you are using?

[2022-01-27 21:34] angela-zhao commented on #4122
I was using version 0.81.1

I just upgraded my streamlit and `st.container()` now works 👍

[2022-01-27 22:01] mayagbarnes commented on #4122
Perfect! Will go ahead and close this ✅

[2022-01-27 22:01] #4122 closed, assigned to nobody

[2022-01-27 22:36] piperwolters commented on #4325
Aha! I just found the wonderful st.form and st.form_submit_button features. Those have solved my issue. Thank you!!

[2022-01-27 22:36] #4325 closed, assigned to nobody

[2022-01-28 07:34] muxxxxxxx commented on #1326
For everybody comming from a search engine:
In Streamlit 1.3.1 and below ist was

[code]

and now for streamlit 1.4.0 and above it has to be updated to

[code]

[2022-01-28 08:40] thunderbug1 opened #4329 "Parallelize st memo writes"
### Problem
using caching extensively in an application can speed up reloading time significantly, however, filling the caches for the first time can take quite some time.
Here are the benchmarks of the first two runs of one of my applications where the first run is very slow, mainly due to caching writes:

[code]

### Solution
run caching writes in parallel to the main script execution and only w

[2022-01-28 09:02] jkneer commented on #4247
Is this bug related to: https://github.com/streamlit/streamlit/issues/4318 ?

[2022-01-28 09:41] atoader opened #4330 "Refactor the success.tsx and add tests to allow for using of the cache busting query parameter"

[2022-01-28 09:53] bayerj opened #4331 "Streamlit config error: AssertionError: Key "global.sharingMode" is not defined."
### Summary

Under a fresh install, running `streamlit config show` crashes with an assertion. Apparently, a key in the config is missing. This key is in the global config `~/streamlit/config.toml` but does not appear when stepping into a debugger and examining `_config_options` in `config.py`.

### Steps to reproduce

Code snippet:

[code]

I am on Apple M1 Monterey.

**Expected behavior:**

Show

[2022-01-28 11:27] #4329 closed, assigned to nobody

[2022-01-28 11:29] thunderbug1 commented on #4329
I reworked my caching strategy and found that I cached quite a few large dataframes which was not absolutely necessry, by removing those caches I was able to reduce the times as well.

[2022-01-28 13:42] robincarrion commented on #983
Any updates regarding this? This would open up so many possibilities using Streamlit.

[2022-01-28 13:45] robincarrion commented on #1085
This would open up for many new use cases.

[2022-01-28 16:42] tconkling commented on #1326
Thanks, @muxxxxxxx! And also, just a heads up: this is still an internal Streamlit API and therefore unsupported and subject to change. (We don't *try* to break peoples' code when we change internals, but we don't make any guarantees that we won't.)

Note also that issuing Streamlit commands from other threads is undefined behavior. Streamlit's various `st.foo` commands are _not thread safe_, so p

[2022-01-28 17:13] pquadri opened #4332 "Open link in the same tab is impossible"
### Summary

With the last streamlit version it is impossible to open html links in the same tab as the application, which is quite uncomfortable for let's say redirecting an user to an Oauth page.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

Should open the link in the same tab where it's clicked

**Actual behavior:**

The link is opened in a new page, checkin the sourc

[2022-01-28 20:04] muxxxxxxx commented on #1326
@tconkling thanks for the information!
At the moment i'm checking at streamlit run if my thread is already running via the PID and name and if not i start it.
This thread don't call streamlit commands, it just gets some data in teh background slowly and changes a flag if new data is ready.
Do you have an advise how to do it better?

[2022-01-28 20:10] tomgallagher opened #4333 "st.dataframe failing to display dataframe"
### Debug info

- Streamlit version: 1.5
- Python version: 3.7
- Using Conda? PipEnv? PyEnv? Pex? No
- OS version: Windows
- Browser version: Lastest Chrome

Hey there,

Thanks for Streamlit, I'm using it all the time and it's great!

I'm trying to use `st.dataframe` to show data. I can graph the data and I can download the dataframe.

I can't exactly show you how to reproduce the bug. But this is

[2022-01-28 20:11] tconkling commented on #1326
That sounds reasonable - you could use `@st.experimental_singleton` to create that thread (and ensure it's only created once) - and if you're not calling streamlit commands from the thread, you shouldn't have to add the ScriptRunContext to it - it can just be a normal thread.

[2022-01-28 20:20] jkneer commented on #4319
Behaviour persists in streamlit == 1.5 .

[2022-01-28 20:35] #4333 closed, assigned to nobody

[2022-01-28 21:57] ro1and commented on #1360
Following as well! This would be a really nice addition to Streamlit

[2022-01-31 00:06] bsalanie opened #4335 "columns get scrambled on screen"
### Summary

Two columns of results are overlapping and only using the left column.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to  'https://share.streamlit.io/bsalanie/cupidpython/main/cupid_streamlit.py`
2. Click on

[2022-01-31 07:33] chanansh opened #4337 "dataframe row selection callback"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

Dataframe table is not interactive for selecting a raw to focus on

### Solution

Be able to select a row and use it as a variable, e.g.
[code]
### Additional context

this functionality is working in Bokeh bu

[2022-01-31 08:48] andfanilo commented on #4337
If you're using Bokeh, maybe [streamlit-bokeh-events](https://github.com/ash2shukla/streamlit-bokeh-events) could do the trick, it seems from the demo gif in the README row selection to dataframe is posible

Have a nice day,
Fanilo 🎈

[2022-01-31 12:51] okld opened #4338 "Inconsistent session state behavior when used with widgets"
### Summary

Session state in Streamlit 0.89.0 to 1.5.0 has a strange behavior when bound to widgets (`key` parameter).

### Steps to reproduce

#### First case

1. In the same script run, initialize a session state item, and display a widget bound to it.
2. Make the widget disappear (by unchecking a checkbox for instance).
3. Reload with `R`. **ISSUE: Session state item doesn't exist anymore.**
4

[2022-01-31 13:15] arnaudmiribel commented on #3980
This seems to have been resolved with Streamlit >= 1.2.0. We may close that @vdonato?

[2022-01-31 13:33] andfanilo commented on #4338
Hmmmm 🤔  interesting

Just passing by and did not read much into it yet, but do you think it's consistent with https://docs.streamlit.io/library/advanced-features/widget-semantics#advanced-notes-on-widget-behavior point 5?

So the session state for a disappearing widget would be dropped?

[2022-01-31 14:11] okld commented on #4338
As I understand point 5, the widget state should be dropped if there is no related session state item. The following statement in the documentation seems to confirm this:

I assume that's what I'm doing here:

[code]

Nonetheless, my session state is either dropped and recreated every other script run (first case), or reset to its initial value (second case).

This behavior is related to a new wid

[2022-01-31 14:21] okld commented on #4338
I first encountered this behavior with my multi-page sample code [here](https://gist.github.com/okld/0aba4869ba6fdc8d49132e6974e2e662).

To preserve session state values once the widgets disappear (when going from Settings to Home page), I had to [re-apply session state values on themselves](https://gist.github.com/okld/0aba4869ba6fdc8d49132e6974e2e662/revisions?diff=unified#diff-67428d1de307a7a43

[2022-01-31 14:27] StefanBloemheuvel commented on #641
This is nice! However, now the alignment of my table is not centered anymore. I found online that the following code centers a table:

[code]
Do you know how to apply this styling to the df? So not center aligning the column headers or anything but actually the entire table?

[2022-01-31 14:32] arnaudmiribel commented on #3980
(Looks like this is solved with Streamlit >= 1.2.0 @vdonato - maybe worth closing)

[2022-01-31 16:10] carolinefrasca commented on #983
Hi @robincarrion, thanks for checking in! This isn't on our roadmap for this quarter, but if something changes I will post an update here. We have a related item on our roadmap for this quarter, which is [native support for taking inputs from charts and tables](https://share.streamlit.io/streamlit/roadmap/master#native-support-for-taking-inputs-from-charts-and-tables). [Clickable images](https://s

[2022-01-31 19:18] kmcgrady opened #4339 "ICO formats fail on set_page_config page icons"
### Steps to reproduce

Code snippet:

[code]

Throws an error on run.

[code]

**Expected behavior:**

Explain what you expect to happen when you go through the steps above, assuming there were no bugs.

**Actual behavior:**

Explain the buggy behavior you experience when you go through the steps above.
If applicable, add screenshots to help explain your problem.

### Is this a regression?

That

[2022-01-31 22:17] gcamargo1 opened #4342 "Tooltip and axis labels are not displaying correct date for `st.altair_chart`"
### Summary

When plotting an Altair plot with date in tooltip, display is incorrect

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

I expected to see June 4th 2015 and I saw June 3rd 2015.

![image](https://user-images.githubusercontent.com/9583366/151882008-6d9c3980-9961-4500-b951-4a61ae37ea4b.png)

**Actual behavior:**

Please see above

### Is this a regression?

don't

[2022-02-01 05:19] willhuang1997 commented on #4304
Hi @RubenVanEldik , thanks for submitting this. It looks like you're having trouble with the scrollbar at the bottom because there is some overflow. Maybe this solution can help you: https://discuss.streamlit.io/t/streamlit-latex-auto-wrapping-responsive-layout/7975

If this does not help you, let me know and I can look further into this issue.

In addition, this looks like an enhancement and not

[2022-02-01 05:26] willhuang1997 commented on #4309
Hi @iamjoonkoo ,

Thanks for submitting this issue. If I understand this problem correctly, it looks like your code is working on local development but it's not working when you deploy it on the cloud?
If it is on streamlit cloud, I can give you someone to reach out to. If this is on another cloud platform, I would need a more minimally reproducible error in order to understand the problem and deb

[2022-02-01 05:32] willhuang1997 commented on #4311
Hi Stefan, I hear your request about adding a way to run with the wsgi/asgi protocols. Right now, we are working on somethings but I'll let our product team know that this request has been made. Depending on priorities, we may or may not be able to get to this. However, we appreciate the feedback a lot! 🎈

[2022-02-01 05:39] willhuang1997 commented on #4312
Hi Stefan, thanks for bringing this up. This would need to be brought up to the product team as to whether or not this would be a viable change. I can bring this up but depending on priorities, we maybe able to get to it.

Thanks again!

[2022-02-01 05:49] willhuang1997 commented on #4319
Hi @jkneer , i tried reproducing this and I was not able to reproduce it locally on my machine. However, looking at your gif, it looks like what you are getting is really a float(?)
I'm not sure why that would be but can you not cast it to an int?

[2022-02-01 05:51] willhuang1997 commented on #4322
Hi @mahotd @vinzeebreak , thanks for submitting this issue. What @fload is saying is correct. You can create an enhancement to let our engineering / product team that this is something you need and depending on priority / how many people want that enhancement, we may include it in our pipeline.

[2022-02-01 06:38] Mi-La opened #4344 "Streamlit cloud requests read/write permissions to private repositories when deploying public application"
### Summary

When I want to deploy public application on streamlit cloud, I press the "New app" button and Streamlit starts to require additional permissions (full access to private repositories) - just before I can even choose the repository.

### Steps to reproduce

1. Go to share.streamlit.io
2. Login with GitHub, allow the first set of permissions (reading user data, "admin! access to reposito

[2022-02-01 07:20] vdonato commented on #4319
Hm, interestingly enough I'm able to reproduce this on my machine. Note that this seems to be an issue with "Always rerun" specifically -- I can't reproduce it by manually clicking rerun on every file change.

The code paths that the two take slightly differ: in "Always rerun" we just kick off a script run immediately the moment we detect a file change, and when "rerun" is clicked manually, we get

[2022-02-01 07:26] vdonato commented on #3980
Thanks for the heads up @arnaudmiribel! Not sure how this fixed itself, but I think what may have happened is that they fixed this on the `pyarrow` side of things

[2022-02-01 07:26] #3980 closed, assigned to nobody

[2022-02-01 09:43] anmol1ratn commented on #688
Any update on this? It would be really useful to be able to click on a specific cell/row and have that trigger an event in Python to update the page.

[2022-02-01 12:18] Bomme opened #4345 "Query parameters are not read on first run in streamlit cloud"
### Summary

When deploying an app to streamlit cloud, I discovered that query parameters behaved differently than in my local development version. In my app, I set a default value for a field in `session_state` if it is not provided through query parameters, but I could never get the query parameters to work on the cloud deployment. After some debugging, I found that query parameters always seem

[2022-02-01 13:24] jkneer commented on #4319
@vdonato is https://github.com/streamlit/streamlit/issues/4318 another symptom of the same bug?

[2022-02-01 13:37] derfryday opened #4346 "html links in markdown no longer have custom attributes like class or target"
### Summary

Links in markdown outputs get mangled by Streamlit, removing all custom attributes like class, target and rel.

### Steps to reproduce

Code snippet:

[code]
always results in
[code]

**Expected behavior:**

I'd expect the rendered HTML to be exactly what I put into the markdown display.

**Actual behavior:**

The rendered hyperlink will always be stripped of all custom attributes lik

[2022-02-01 13:38] derfryday commented on #2810
it would seem as though this security improvement has backfired a bit. I'm using hyperlinks in Markdown as a navigation and now all my navigation links get stripped of their CSS class and are always target="_blank" even if I manually set them to target="_self" as stated here https://github.com/streamlit/streamlit/issues/4346

[2022-02-01 13:46] vhoulbreque opened #4347 "Clicking on `st.download_button` multiple times makes the file disappear"
### Problem

I wish to be able to persist files in the `InMemoryFileManager`. The bug being that when I click several times on a Download button, the file disappears and is not available.

### Solution

**MVP:**

Add a `persist` flag in `st.download_button`:

[code]

### Additional context

This feature request is related to the bug discussed here: https://github.com/streamlit/streamlit/issues/432

[2022-02-01 15:24] nicbentulan opened #4348 "Why am I getting vastly different results from yesterday?"
[how do i delete this?]

[2022-02-01 17:56] T-AbdelAlim opened #4349 "Integration of pyvista/pyvistaqt"
We work extensively with 3D meshes using pyvista in our department. It would be fantastic if streamlit could be used in combination with pyvista and its functionality to visualize and interact with 3D objects. Is this a realistic request or are there issues that prevent these two to interact?
If this is not feasible, what would you recommend as a good python 3D (mesh) library that interacts well w

[2022-02-01 18:42] acschofield opened #4350 "st.markdown in v1.5 no longer supports data URLs"
### Summary

I just upgraded from v1.4 to v1.5 and the links that my app creates using st.markdown no longer work unless they are "http" or "https". The links are replaced by javascript:void(0)

### Steps to reproduce

Create a link using "data" scheme

Code snippet:

[code]

**Expected behavior:**

Links display correctly as in v1.4

**Actual behavior:**

The links are replaced with javascript:vo

[2022-02-01 18:55] Witness-nkge opened #4351 "ModuleNotFoundError: This app has encountered an error. The original error message is redacted to prevent data leaks"
File "/home/appuser/venv/lib/python3.7/site-packages/streamlit/script_runner.py", line 379, in _run_script
    exec(code, module.__dict__)
File "/app/text_summary/summarizer.py", line 2, in <module>
    from transformers import pipeline

--------------------------------------------------------------------------------------------------------------------

code snippet:
import streamlit as st
from tr

[2022-02-01 19:45] vdonato commented on #4351
Hi @Witness-nkge,

It looks like you need to add the `transformers` package to your `requirements.txt` so that it gets installed in the Streamlit Cloud environment your app is run in.

[2022-02-01 19:45] #4351 closed, assigned to nobody

[2022-02-01 20:10] willhuang1997 commented on #4331
Hi @bayerj , thanks for submitting this bug! This was a problem because we removed that config option. As a result of this bug issue, we are going to change the assertion to a logger.error. In the next release, you can see this coming or maybe check the nightly releases!

[2022-02-01 20:13] iamjoonkoo commented on #4309
Hi @willhuang1997

Many thanks for getting back to me.

I have deployed my app on streamlit cloud.
Here is the github link I have provided when deploying it.
https://github.com/iamjoonkoo/libapp

Hope this help.

[2022-02-01 20:47] lukasmasuch commented on #1346
This issue was solved with the change to arrow in Streamlit version `0.85`. Streamlit apps running version `>=0.85` will display the timestamp as expected. However, the issue will still happen with the legacy dataframe, and will most likely not be fixed.

[2022-02-01 20:47] #1346 closed

[2022-02-01 20:59] Witness-nkge commented on #4351
@vdonato i was able to solve the error with the help of the internet...thanks anyways

[2022-02-01 22:40] ailyninja opened #4356 "Sign-up page browser tab text change"
When I go to https://share.streamlit.io/signup, the browser tab currently says “Sign into Streamlit • Streamlit” , which is confusing. Let's change it to “Sign up • Streamlit” to keep consistency and avoid confusion.

![image.png](https://images.zenhubusercontent.com/61f9b25ab314ad608fbc0012/5b53fe49-a0c5-44c3-8380-5f07ddf8e87d)

[2022-02-01 23:10] willhuang1997 commented on #4338
Leavin this here for others but as @AnOctopus says,
"These are unfortunate consequences of interactions between [session state as a persistent state mechanism] and [session state as an api for getting and setting widget values out of order], especially with the convenience feature of setting a widget's value in the run it is created (which I have come to regret some because it is inconsistent and

[2022-02-01 23:12] willhuang1997 commented on #4356
Hi @ailyninja , this would not be a public streamlit issue. This should probably be for cloud team :)

[2022-02-01 23:19] willhuang1997 commented on #4348
Hi @nicbentulan

thanks for submitting this issue and welcome to Github and Streamlit's repository! I honestly can't really help you figure out what is happening unless you give me reproducible code as I'm not sure if this streamlit's error either.

[2022-02-02 00:10] vdonato commented on #4356
Heads up that you can actually migrate issues into different repos owned by the organization, so I'll reopen this and move it into `s4t`

[2022-02-02 00:32] lukasmasuch commented on #2721
Thanks for reporting this issue. Unfortunately, the `Duration` (timedelta) type is currently broken with `st.dataframe`. Closing this to keep the conversation in this issue: https://github.com/streamlit/streamlit/issues/3781

[2022-02-02 00:32] #2721 closed, assigned to nobody

[2022-02-02 00:38] lukasmasuch commented on #1837
Closing this since timezone handling in dataframes was fixed with the change to arrow in Streamlit version `0.85`. However, the legacy dataframe still has some unsolved issues with timezone which will most likely not be fixed.

[2022-02-02 00:38] #1837 closed, assigned to nobody

[2022-02-02 01:12] okld commented on #4338
Thanks for the answer, I'm closing the issue for now.

[2022-02-02 01:12] #4338 closed, assigned to nobody

[2022-02-02 01:27] lukasmasuch commented on #2369
Closing this issue since timezone handling in dataframes was fixed with the [change to arrow](https://github.com/streamlit/streamlit/pull/3590) in Streamlit version `0.85`. This also fixes the problem with `AmbiguousTimeError` since the arror dataframe serialization does not automatically convert `datetime` instances to other timezones. However, the legacy dataframe still has some unsolved issues

[2022-02-02 01:27] #2369 closed, assigned to nthmost

[2022-02-02 01:28] lukasmasuch commented on #1288
Closing this issue since timezone handling in dataframes was fixed with the [change to arrow](https://github.com/streamlit/streamlit/pull/3590) in Streamlit version `0.85`. This also fixes the problem with `AmbiguousTimeError` since the arror dataframe serialization does not automatically convert `datetime` instances to other timezones. However, the legacy dataframe still has some unsolved issues

[2022-02-02 01:28] #1288 closed

[2022-02-02 01:47] vdonato commented on #4348
Hi @nicbentulan, this seems to be a bug report for an app built using streamlit rather than the streamlit library itself. You'll want to contact the authors of the app to report this

[2022-02-02 01:47] #4348 closed, assigned to nobody

[2022-02-02 03:49] vdonato commented on #4319
Hey @jkneer,

Sorry I missed your last @mention related to #4318, I'll reply in that issue

[2022-02-02 03:53] juliosimonpedro commented on #4122
Hi! I'm having the same issue, and I just updated streamlit to version 1.5.0. Can you give me a hand please, thanlks in advance!

[2022-02-02 04:03] vdonato commented on #4318
Thanks for pointing this out @jkneer,

The root cause of this bug (warning: this gets pretty deep into the weeds of how widget IDs work) is an oversight that we made when designing the disabled widgets feature, where we didn't consider some implications of the disabled flag changing on widget identity. Essentially, what's going on here is that the disabled argument changing creates a "new" widget,

[2022-02-02 04:35] willhuang1997 commented on #4332
Hi @pquadri , thanks for submitting this issue. We will try to resolve this ASAP.

[2022-02-02 04:40] willhuang1997 commented on #4350
Hi @acschofield , thanks for submitting this issue. We hear you and are trying to work to resolve this.

[2022-02-02 04:41] willhuang1997 commented on #4346
Hi @derfryday , Thanks for submitting this bug. we hear you and we are trying to work on this fix asap. thanks.

[2022-02-02 04:42] willhuang1997 commented on #4344
Hi @Mi-La , thanks for submitting this. I can bring this up to the cloud team.

[2022-02-02 04:42] #4344 closed, assigned to nobody

[2022-02-02 09:12] Dexter1618 commented on #4173
Any update on this bug? It is quite a serious issue as now we cannot use `file_uploader` properly for `streamlit` apps deployed to production on K8.

[2022-02-02 10:30] Dexter1618 commented on #4173
Update: For the time being, using [sticky ingress configs](https://zhimin-wen.medium.com/sticky-sessions-in-kubernetes-56eb0e8f257d) helped for my use-case. Here's another [good tutorial](https://sookocheff.com/post/kubernetes/building-stateful-services/).

[2022-02-02 13:33] msalaztor opened #4360 "Deleted App does not erase"
### Summary

I created an app called diabol, the app had production problems, so I erased, however the error and the app still appears on the Streamlit Community Share windows, where all the apps are shown. When I click on the app info, the button of delete, is unmarked so I can erase the app, even if I try. When the app is shownm, even if the repository was erased, the app only shows the error, i

[2022-02-02 14:24] xguse commented on #2568
OK with 1.5.0 we seem to have the markdown tables issue again?

Does anyone know what the last version to correctly do this is?

[2022-02-02 14:35] edai-ra opened #4361 "Didn't give back generated records"
### Summary

After submit the csv file, and require 20 records, it went back to index page like nothing happened, didn't receive requested records
[cars_test.csv](https://github.com/streamlit/streamlit/files/7987344/cars_test.csv)
### Steps to reproduce

browse and upload this file attached

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the p

[2022-02-02 14:37] randyzwitch commented on #4349
Hi @T-AbdelAlim!

I'm not familiar with this specific package, but it appears to be running using QT, which is a native OS-level visualization toolkit. Thus, it wouldn't be able to integrate within Streamlit as far as I know.

In terms of alternatives, I would suggest opening a thread on our forum, where more end-users will be able to see it:

https://discuss.streamlit.io

Best,
Randy

[2022-02-02 14:37] #4349 closed, assigned to nobody

[2022-02-02 15:06] randyzwitch commented on #4361
HI @edai-ra -

Questions about usage are better handled on our discussion forum. Please post the code that you are running so that the community can understand what  you have tried and offer a suggestion.

https://discuss.streamlit.io

Best,
Randy

[2022-02-02 15:06] #4361 closed, assigned to nobody

[2022-02-02 15:42] carolinefrasca commented on #4344
Hi @Mi-La, thanks so much for reaching out about this! Your feedback is super helpful to us as Streamlit Cloud continues to evolve.

The specific reason that we request access to private repositories in this step is that our free Community tier allows you to deploy one private app. To avoid asking users for GitHub permissions at multiple points, we ask for access to both private and public reposit

[2022-02-02 15:51] Mi-La commented on #4344
Hi @carolinedlu.
Thanks for the response. At the end I really created a separate GitHub account since I didn't want to wait until its somehow improved.
But it also have some drawbacks. When I use streamlit cloud from the same browser which I use for my normal GitHub account, I have to log out the real user first and then login the streamlit user, otherwise the cloud want's to use the already logge

[2022-02-02 17:21] kmcgrady commented on #4350
Hi @acschofield I am working on fixing this, but I wanted to check on something. Running the code above causes an error. `st.markdown` does not allow a second argument. Can you give an example valid code that produces the error? I want to make sure my fix addresses your concern properly.

I was thinking you were doing `[Download document](data:...)` I have a fix that provides the correct URL, but

[2022-02-02 19:30] MarcSkovMadsen commented on #4349
For inspiration Panel has strong support for VTK and Pyvista. Also running on Tornado server. So it can be done.

[2022-02-02 19:42] randyzwitch commented on #4349
Thank you @MarcSkovMadsen, that is my mistake. It appears there is the [vtk.js](https://github.com/Kitware/vtk-js) library, so I suspect a custom component could be written passing a rendering object of some sort from Python to vtk.js

[2022-02-02 20:41] willhuang1997 commented on #4360
Hi @Santko , this question probably belongs in https://discuss.streamlit.io since this does not have to deal with the streamlit product itself but streamlit cloud it seems.

[2022-02-02 20:41] #4360 closed, assigned to nobody

[2022-02-02 21:08] willhuang1997 commented on #4309
Hi @iamjoonkoo , it looks like when I click on this link, i am getting a 404. Can you talk to [caroline@streamlit.io](mailto:caroline@streamlit.io) ? Just email her that you need help with deploying on cloud or post on discuss.streamlit.io. This issue page is for the streamlit library itself and not streamlit cloud.

[2022-02-02 21:08] #4309 closed, assigned to nobody

[2022-02-02 22:40] willhuang1997 commented on #4345
Hi @Bomme, this does not seem to be a streamlit library issue but possibly a streamlit cloud issue? Is it possible you can send me the link to your deployed app on streamlit cloud?

[2022-02-02 22:41] willhuang1997 commented on #4347
@kajarenc Is this something that product has discussed? Is there a way to solve this using session state?

[2022-02-03 03:01] willhuang1997 commented on #4335
Hi @bsalanie , I tried using your code snippet to reproduce the bug but it resulted in an error since not all of the code is available. Could you possibly give me a more minimally producible code snippet? Also, I tried clicking on your link but I do not have permissions to view it.

[2022-02-03 03:02] willhuang1997 commented on #4269
Hi @ryanlampkin , thanks for submitting this. Could you possibly give a code snippet so I can run and reproduce locally? If I am able to reproduce locally, I would be able to debug much more easily what is going on.

[2022-02-03 08:27] PierXuY opened #4365 "Allow user to choose not to show a text label above radio or allow user to adjust the size of the space between parts."
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

Is your feature request related to a problem? Please describe the problem here. Ex. I'm always frustrated when [...]

### Solution

**MVP:** What's the smallest possible solution that would get 80% of the prob

[2022-02-03 09:22] telboth commented on #4331
I had a similar bug when trying to run/uppload my code on Azure. With streamlit 1.5 (the latest) it failed.
Saying: AssertionError: Key "global.sharingMode" is not defined.
Setting streamlit==0.89 in my code made the code run fine, and my web-app is now up and running again.

[2022-02-03 14:33] mvonoven commented on #3832
Love this idea.  Can't think of any reason a download button should rerun the page, but plenty of reasons it should not!

PS - Streamlit rocks.  Total lifesaver.

[2022-02-03 16:44] r-matsuzaka opened #4366 "vedo support"
Hi.
I am newbie of streamlit.

I want to make a 3D plot like [here](https://stackoverflow.com/questions/67669234/python-plot-3d-histogram-hexagon) with vedo.

Does streamlit support vedo plotting?

[2022-02-03 17:35] vdonato commented on #4331
Hi @bayerj, @telboth

While we're relaxing this assertion as we determined that it's too restrictive and causes unexpected breakages, there is a way to avoid this issue while still being able to upgrade to streamlit v1.5 / not having to wait for us to fix this on our end.

The assertion is essentially complaining that a nonexistent config option `global.sharingMode` was found, so going to your `co

[2022-02-03 17:41] vdonato commented on #4331
Also, if you happen to remember how you initially created/populated your `config.toml` file, we'd appreciate it if you could let us know 🙂

We removed these options because the feature that they were used to configure is one that (as far as we know) hasn't been used in years, so we were quite surprised when their removal caused these errors.

[2022-02-03 20:34] scott-trinkle commented on #1019
+1 for this feature

[2022-02-03 22:23] ldmtwo commented on #2725
Was this forgotten? It would really add pop/flare to demos.

[2022-02-04 12:12] thunderbug1 opened #4367 "Ability to disable st.form clear while using clear_on_submit=True"
### Problem

When the user enters data into a form and something is wrong, the user expects an error message while the current input is not changed. With the current static definition of st.form this is easily possible.

### Solution

Add a form.prevent_clear() method

[code]

---

Community voting on feature requests enables the Streamlit team to understand which features are most important to ou

[2022-02-04 18:25] yang-cao-tetrascience commented on #2568
I have a similar issue using 1.5.0, which can't provide a link to download file properly.

[2022-02-04 18:45] #4339 closed, assigned to nobody

[2022-02-04 18:54] #4332 closed, assigned to nobody

[2022-02-04 19:06] yang-cao-tetrascience opened #4368 "`st.markdown` doesn't work properly for Streamlit v1.5.0"
### Summary

`st.markdown` doesn't work properly for Streamlit v1.5.0

### Steps to reproduce

Code snippet:

[code]

1. Go to the URL
2. Click on `Download CSV File` (nothing will happen)

**Expected behavior:**

A .csv file should be downloaded if click to download the csv file

**Actual behavior:**

Nothing happened. The link is `javascript:void(0)`.

### Debug info

- Streamlit version: 1.5.0

[2022-02-04 20:47] quantoid opened #4370 "Repeated charts too big when expanded to full page"
### Summary

Altair charts repeated with a `row` encoding do not expand to full page mode correctly.

The expanded view is too big for the page and clipped at the edges. The expand button also appears in the wrong place, on top of the chart. In full width mode the unexpanded chart overflows the right side of the page so you can't see the legend.

### Steps to reproduce

Code snippet:

[code]

Step

[2022-02-04 20:53] quantoid commented on #4370
Normal mode:
<img width="1248" alt="Screen Shot 2022-02-05 at 6 51 37 am" src="https://user-images.githubusercontent.com/672489/152601535-91d546b9-9827-41de-af93-f7b4f5c6586b.png">

Expanded full page mode:
<img width="1248" alt="Screen Shot 2022-02-05 at 6 51 03 am" src="https://user-images.githubusercontent.com/672489/152601318-7080b8c5-993f-4d7f-ba54-84f8f8059a09.png">

[2022-02-04 21:41] #4239 closed, assigned to vdonato

[2022-02-05 00:01] vdonato commented on #4368
Thanks for reporting this @yang-cao-tetrascience

We're currently tracking this bug in #4350, so I'll close this issue as a duplicate of the older one

[2022-02-05 00:01] #4368 closed, assigned to nobody

[2022-02-05 00:24] rbavery opened #4371 "streamlit 1.5 won't start app from vscode debugger"
### Summary

streamlit 1.5 does not work with vscode debugger while streamlit 1.3 does on Ubuntu 20

### Steps to reproduce

Code snippet:

[code]

Then in vscode, use a launch.json that launches treamlit

[code]

**Expected behavior:**

app opens, I can debug it just like with streamlit 1.3

**Actual behavior:**

this error pops up in vscode. the streamlit file in `bin/` is opened

[code]
If I pr

[2022-02-05 01:37] vdonato commented on #4371
Hi @rbavery, thanks for reporting this!

There were some related issues that people had with running streamlit in IDE/editor debuggers, but in those cases people were using an internal/undocumented API. Looking at your config, I would have thought this should work just fine.

I'll look into this ASAP

[2022-02-05 02:20] kmcgrady opened #4373 "Better support st.markdown by dedenting text"
### Summary

Kind've an enhancement but marked it as a bug for some low-hanging fruit. Some features of markdown require the text to not be indented, which looks nice in text but less nice in code.

### Steps to reproduce

Code snippet:

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/streamlit_badge_black_white.svg)](https://issues.streamlitapp.com/?issue=gh-4373)

[code]

**Expect

[2022-02-05 04:16] jwcolby54 commented on #4310
I have exactly the same issue.

import pandas as pd
import yfinance as yf

data = yf.download("MSFT", start="2017-01-01", end="2017-04-30", group_by="ticker")
print(data)

pip list
Package            Version
------------------ ---------
certifi            2021.10.8
charset-normalizer 2.0.10
cycler             0.11.0
fonttools          4.29.0
idna               3.3
kiwisolver         1.3.2
lxml

[2022-02-05 23:18] adgsenpai commented on #892
Add this code in Python
[code]

[2022-02-06 00:23] vdonato commented on #4371
@rbavery I'm still working on diagnosing the issue / fixing this exact way of invoking streamlit (I think it has something to do with how the VSCode debugger works), but in the meantime, changing your `launch.json` to launch streamlit as a module using a config file that looks something like

[code]

should fix things for you and should otherwise be equivalent 🙂

[2022-02-06 02:02] errearanhas commented on #2463
Please, any update on this? it indeed would be really helpful

[2022-02-06 13:30] chanansh commented on #969
I had a problem with this implementation as bs4 insisted on converting < to &lt etc. so I ended up just doing string replace. I also kept index.html backup in case I ruin it as that would require reinstalling streamlit
[code]

[2022-02-07 05:30] albusdemens commented on #1291
@louislva Thanks for implementing this feat! How could I use it? I installed streamlit using `pip install streamlit`.

[2022-02-07 11:07] theevann commented on #1662
Up! I would need this feature too.

[2022-02-07 15:56] Bomme commented on #4345
Hey @willhuang1997, thanks for your reply:
The link to the streamlit cloud app: https://share.streamlit.io/bomme/st-query-params-test/main
But I guess you will not be able to see the logs. Maybe you can fork this repository to deploy the same app yourself? https://github.com/Bomme/st-query-params-test

[2022-02-07 16:07] lleiou opened #4375 "Add An Option to Hide A Status Element"
### Problem

Once I show a [status element](https://docs.streamlit.io/library/api-reference/status) on the page, it is hard to make it disappear. For example I want to show a message saying "model is running" using `st.info()`, but I want it to disappear once the model running is done.

### Solution

**MVP:** add a parameter to the element to hide it.

[2022-02-07 18:24] tylerkkp commented on #4000
I have yet to dig deeper into the code, but after a little testing, it appears to only be an issue with un-styled list elements. The text renders larger in ordered and unordered lists, but if the list elements are styled (as in bold or italic), they show up as the correct size.

<img width="489" alt="Screen Shot 2022-02-07 at 10 22 34 AM" src="https://user-images.githubusercontent.com/30785626/152

[2022-02-07 19:11] rbavery commented on #4371
@vdonato thank you! the alternative configuration works. maybe this could be added to the docs? I was unaware of the module option with vscode and that it could solve this issue. I think I found my previous launch configuration on a forum post.

[2022-02-07 19:34] #4371 closed, assigned to vdonato

[2022-02-07 21:40] tyrin commented on #1360
This feature would be super useful in a bunch of use cases:
* legend information
* "how do I use/interpret this graph" help for new users
* popups from within visualizations

[2022-02-07 21:46] rbavery opened #4378 "Ability to add text to sidebar button icon when collapsed"
### Problem

when the sidebar is collapsed the icon is not noticeable.

### Solution

**MVP:** https://discuss.streamlit.io/t/is-there-any-way-to-add-text-to-the-sidebar-button-icon/10931/4 adding text before the collapsed arrow

**Possible additions:** adding ability to customize the sidebar icon with a png

---

Community voting on feature requests enables the Streamlit team to understand which

[2022-02-07 23:00] samuell commented on #403
@kitanata I'm using `pdb.set_trace()` (well, even `ipdb.set_trace()`). I do indeed start the app through `streamlit run`, but had no problems running `ipdb.set_trace()` together with that.

[2022-02-07 23:31] vdonato commented on #4371
Thanks for the suggestion @rbavery

I know our documentation team is already looking into adding docs on how to set up streamlit with popular IDEs/editors, but it'd also probably be useful to have a small section mentioning that invoking streamlit as a module is also an option. I'll either submit a PR to our docs mentioning this or will pass the suggestion along internally

[2022-02-07 23:58] yang-cao-tetrascience commented on #4368
Great. Thanks for sharing this information.

[2022-02-08 02:26] lleiou commented on #4375
Closing the ticket because `st.info.empty()` will do the trick. Check [this discussion](https://discuss.streamlit.io/t/delete-widgets/7596) for more details.

[2022-02-08 02:26] #4375 closed, assigned to nobody

[2022-02-08 12:06] suaide commented on #926
Any perspective on this? It would be very interesting to have it

[2022-02-08 13:17] jmbf2011 commented on #2399
I'm quite interested also in this issue. I would like to avoid API requests which are sent under unexpanded st.expander.

[2022-02-08 14:19] bsalanie commented on #4335
Thank you for responding to my question. I have repackaged the code and it
works fine now, at

https://share.streamlit.io/bsalanie/cupid_matching_st/main/cupid_streamlit.py

On Wed, Feb 2, 2022 at 10:01 PM willhuang1997 ***@***.***>
wrote:

--
Bernard Salanie
Department of Economics
Columbia University

[2022-02-08 17:20] vhoulbreque opened #4382 "Make sure that clicking on a download button does not reload the entire app"
### Problem

The Streamlit app reloads entirely when clicking on a `st.download_button`. In my case, I think it should not: download buttons are different from buttons and should not trigger a reload of the app. They should only trigger a download.

I perfectly understand that a click on a button does reload the app (to recompute) but downloads don't change the view, downloads don't trigger comput

[2022-02-08 19:08] legendof-selda commented on #3832
any update on this issue?

[2022-02-09 09:50] OlliePage opened #4384 "Streamlit Hyperlink/Markdown Anchor element sits infront of the st.dataframe expand icon"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

<img width="841" alt="image" src="https://user-images.githubusercontent.com/4608979/153171109-030b6a58-db30-4708-8233-d833b9e3f04e.png">

See the expand icon on the top right? I want to click this element.

Yet when the mouse goes to click it, the hyperlink/markdown anchor icon appears in front and blocks th

[2022-02-09 16:29] kmcgrady commented on #4331
The changes have been included in version 1.5.1. Thank you for your patience

[2022-02-09 16:29] #4331 closed, assigned to nobody

[2022-02-09 16:30] kmcgrady commented on #4346
The fix have been included in version 1.5.1. Thank you for your patience

[2022-02-09 16:30] #4346 closed, assigned to nobody

[2022-02-09 16:30] kmcgrady commented on #4350
The fix have been included in version 1.5.1. Thank you for your patience

[2022-02-09 16:30] #4350 closed, assigned to nobody

[2022-02-09 16:55] acschofield commented on #4350
Just installed 1.5.1 - can confirm downloads from data URLs work again. Thanks for the speedy fix!

[2022-02-09 17:01] algo-robin opened #4385 "Run streamlit in pycharm"
### Summary

Streamlit can no longer be run from pycharm for streamlit==1.5.0

### Steps to reproduce

It's a minor problem, but I can no longer start my streamlit app from pycharm. To do this I edited the run configuration for my main.py and added the following to the Interpreter options

`-m streamlit.cli run`

In streamlit 1.5 the following line was added to streamlit.cli
[code]
which breaks wi

[2022-02-09 20:13] vdonato commented on #4385
Hi @robinderat,

Sorry for the inconvenience! The short answer is that running streamlit via `python -m streamlit.cli <command>` is now unsupported (it was originally undocumented behavior that the community essentially discovered), but simply removing the `.cli` and instead running `python -m streamlit <command>` both works and has guarantees around its stability.

For a more descriptive answer,

[2022-02-09 20:13] #4385 closed, assigned to nobody

[2022-02-09 20:39] harshitkd opened #4387 "Unable to align image on different screen sizes."
**What could be better?**
As there is already `st.image(image, caption=None, width=None, use_column_width=None, clamp=False, channels="RGB", output_format="auto")` but it should have an option for align so that image can be aligned center, left or right on different screen sizes, making the web page responsive.

[2022-02-09 20:43] #4387 closed, assigned to nobody

[2022-02-09 20:46] harshitkd opened #4388 "Add align to `st.image`"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem
As there is already st.image(image, caption=None, width=None, use_column_width=None, clamp=False, channels="RGB", output_format="auto") but it should have an option for align so that image can be aligned center

[2022-02-09 21:27] Pashtetickus commented on #1291
@albusdemens i guess we need to build streamlit from source from this fork like [this](https://github.com/streamlit/streamlit/wiki/Contributing). Because (as far as i know how it works) if you do `pip install streamlit` it just downloads pre-build streamlit from original source (not from @louislva fork). But i'm depressed using windows for this ;((

[2022-02-10 01:19] albusdemens commented on #1291
@Pashtetickus thanks for the clarification & I feel your pain! I used the [solution](https://github.com/streamlit/streamlit/issues/1291#issuecomment-1021755025)  described by @brunomsantiago and so far so good!

[2022-02-10 03:51] mayagbarnes commented on #4335
Glad to hear its working now! 😁

[2022-02-10 03:51] #4335 closed, assigned to nobody

[2022-02-10 03:53] mayagbarnes commented on #4102
Closing this issue, but please feel free to submit another should anything come up!

[2022-02-10 03:53] #4102 closed, assigned to nobody

[2022-02-10 03:55] mayagbarnes commented on #4223
Closing this issue, but please feel free to submit another should anything come up!

[2022-02-10 03:55] #4223 closed, assigned to nobody

[2022-02-10 04:11] mayagbarnes commented on #4384
Hi @OlliePage, thanks for submitting this issue!

Would you possibly be able to provide the full code for the above example/video? That way I can run and reproduce locally to confirm the bug quicker, since this definitely doesn't look like intended behavior.

[2022-02-10 08:02] thunderbug1 opened #4389 "st.experimental_memo is slow for pandas dataframes"
For caching large pandas dataframes I often find it much faster to use st.experimental_singleton instead of st.experimental_memo and manually call .copy() afterwards.
Maybe this could be integrated into memo when it detects a pandas dataframe.

---

Community voting on feature requests enables the Streamlit team to understand which features are most important to our users.

**If you'd like the Str

[2022-02-10 11:22] alexespencer commented on #3864
I'd love this feature too...!

[2022-02-10 15:08] mindfreak314 commented on #2378
I also have this issue in:

Streamlit version 1.5.1
Python version 3.7.11
Edge version 98.0.1108.43

But with the regular expander, not the beta_expander. Are there any updates regarding this?

[2022-02-10 22:05] RoboDonut commented on #3555
Overlaps still an issue with sliders containing 2 tick
![2-ticks-overlap](https://user-images.githubusercontent.com/2329256/153504428-3acb322a-9417-421e-9568-365b06c717f7.gif)
s

[2022-02-11 09:30] OlliePage commented on #4384
Hi Maya,

I'm afraid the dataframe to the left is complicated to generate and it's
part of a app that I've been working on for over a year, so its deeply
nested into multiple modules. I believe a toy example could be generated
just by creating a random dataframe that sits next to a header title on the
right. I can insert what code I believe will recreate, but you'd need to
fill the dataframe out w

[2022-02-11 09:41] louislva commented on #1291
Hey @albusdemens and @Pashtetickus. Apologies for the delayed response.

You can uninstall your current streamlit, then download this `whl` I built and install it: https://github.com/louislva/streamlit/blob/develop/builds/streamlit-1.3.2-py2.py3-none-any.whl

That way you don't have to set up the build environment. Hope it's helpful.

[2022-02-11 11:45] tchaton opened #4391 "Enable `request_rerun`-ing session through external sources and using a session_id"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

Dear StreamLit Team, first of all, thank you deeply for this awesome framework. I have learned quite a lot diving through the codebase and resolved some long lasting issues of mine thanks to your ScriptRunner

[2022-02-11 11:56] tchaton opened #4392 "Make testing tools stable and accessible"
### Problem

Dear StreamLit Team, here is some context  https://github.com/streamlit/streamlit/issues/4391.

I have been working with StreamLit for some time, and I am in the need to test my StreamLit apps for productization.

I would like to ask the StreamLit Team to provide reliable tooling for users to unit test the behavior of their apps.

Again, thank you deeply for your work and effort.

---

[2022-02-11 12:31] dd-rrc-ps commented on #926
Any update ? I have like 70 options for selection and the user should only be able to choose 10 out of them.

[2022-02-11 15:13] palle-k opened #4393 "A widget for reordering lists"
### Problem

I would like to be able to reorder a list of items in Streamlit, something like this:

    data = ["foo", "bar", "baz"]
    reordered_data = st.reorder(label="Reorder the items", items=data)   # returns ["bar", "foo", "baz"] for example

### Solution

**MVP:** A reorder control that takes a list of strings and returns a reordered list of strings with the order based on user input.

**

[2022-02-11 15:47] rbracco commented on #1085
I am also strongly in favor of this feature and would find it useful

[2022-02-11 17:13] Pashtetickus commented on #1291
@louislva Hey, thank you a lot! This is so generous. Some day i'll try to build it on ubuntu, but not today ;)

[2022-02-12 01:42] evan-wes commented on #1291
Hey @brunomsantiago, thank you so much for this fantastic little component. This is what I have been looking for for awhile.

I did get some warning sometimes after pressing the left or right arrow keys a few times:
`Calling st.experimental_rerun() within a callback is a no-op.`
Have you seen this message?

My use case is to try to run a simple game that uses arrow keys as input and when I tried t

[2022-02-12 02:05] evan-wes opened #4394 "Add info on warning: Calling st.experimental_rerun() within a callback is a no-op"
**Link to doc page in question (if any):**
https://docs.streamlit.io/library/api-reference/control-flow/st.experimental_rerun
**Name of the Streamlit feature whose docs need improvement:**
st.experimental_rerun
**What you think the docs should say:**
I have encountered a puzzling warning when using an HTML component to register key strokes (using a simple code example from [this comment](https://g

[2022-02-12 13:14] louislva commented on #1291
@Pashtetickus No problem. I've installed it on both ubuntu & mac, it should work. Doesn't it?

[2022-02-13 17:16] brunomsantiago commented on #1291
No I haven't. I am using streamlit 1.4.0 in Linux Mint
Which version are you using?

[2022-02-14 09:40] tchaton commented on #4391
@[tconkling](https://github.com/tconkling) @kmcgrady

[2022-02-14 19:07] fload commented on #4393
Is there a reason you wouldn't Just use sorted()? see https://docs.python.org/3/howto/sorting.html

[2022-02-14 19:18] palle-k commented on #4393
Yes there is. I want to let the user decide the order of items, not sort them automatically.

[2022-02-15 00:16] jrieke commented on #4389
Hey @thunderbug1, thanks for the suggestion! I'm currently collecting feedback around singleton/memo to see if we need to change something before we move them out of experimental, so this is super helpful!

[2022-02-15 01:17] vdonato commented on #2378
Thanks everyone for reporting this, and sorry for the much-delayed reply (it's easy to miss things with all of the GitHub issues activity we get 😅)

I'm fairly certain that I know what the root-cause of this bug is (at least one other widget has run into this problem), and I'll see if I can find the time to fix this sometime in the next few weeks.

[2022-02-15 03:18] jrieke commented on #4093
@moono You can also get around this by creating new columns for each row. I.e. instead of

[code]

do

[code]

Then the "new" columns you create will be perfectly aligned at the top!

[2022-02-15 03:22] jrieke commented on #4052
@MatheusHam We were thinking about making 0 yellow or gray back when we implemented st.metric. We decided not to do it because most other tools also seemed to use green and there were some problematic edge cases. For which number / use case would you like to have yellow?

[2022-02-15 08:15] thunderbug1 commented on #969
A little late, but maybe this component I wrote solves your issue: https://github.com/thunderbug1/streamlit-javascript

[2022-02-15 08:36] chanansh commented on #969
does it support injection to the header?

[2022-02-15 09:41] thunderbug1 commented on #969
I fear not, it can only run small snippets at the moment.

[2022-02-15 13:00] DayalStrub opened #4398 "`st.altair_chart` ignoring `sort=` passed to altair chart"
### Summary

streamlit's `altair_chart` does not seem to respect `sort=` passed to altair. I am getting different output to what I see in the notebook.

I am confused, as there have been discussions and issues on this before (albeit a while ago), and this approach is supposed to work. Sorry if I have missed something.

### Steps to reproduce

[![Open in Streamlit Cloud](https://static.streamlit.io

[2022-02-15 16:58] Roboticol opened #4401 "Keras model in streamlit keeps returning the same value even though the same model works fine in other places. (problem's github repo included)"
### Summary
I have been making an app on streamlit for my [vegetable plant disease classifier](https://github.com/OishikGuha/Vegetable-Plant-Blight-Disease-Classifier) (that's a github link) and my problem is basically that every time I feed an image of a leaf (even from the training data) the AI pretty much gives the same result. which for me is either `Tomato with late blight` or `Tomato with ea

[2022-02-15 17:32] jrieke commented on #3508
Hey @pranavr2003, one of our co-founder has also written [this library](https://github.com/tvst/htbuilder) a long time ago, which looks pretty similar to Sierra. Do you think something like that would solve your needs?

[2022-02-15 20:33] sorenwacker opened #4402 "AttributeError: module 'google.protobuf.descriptor' has no attribute '_internal_create_key'"
[code]

  File "/home/swacker/.local/bin/streamlit", line 5, in <module>
    from streamlit.cli import main
  File "/home/swacker/.local/lib/python3.8/site-packages/streamlit/__init__.py", line 48, in <module>
    from streamlit.proto.RootContainer_pb2 import RootContainer
  File "/home/swacker/.local/lib/python3.8/site-packages/streamlit/proto/RootContainer_pb2.py", line 22, in <module>
    creat

[2022-02-15 20:49] Marc-AntoineA commented on #4402
[code]
(from #1848) worked for me

[2022-02-15 20:51] sorenwacker commented on #4402
Nope, it is not working.

[2022-02-15 20:52] sorenwacker commented on #4402
Lol, now it IS working. Totally random!

[2022-02-15 20:52] #4402 closed, assigned to nobody

[2022-02-15 22:06] Nikolai-Hlubek commented on #3018
Hi. I am also interested in the feature of setting a location for the cache.

In particular we had the issue that with docker deployments, without explicitely defining a user in the dockerfile, the cache is written to the installation folder of streamlit. For this folder there were no permissions, so we ended up with a hard to debug error message.

[2022-02-15 23:45] MatheusHam commented on #4052
Hello!

Thank you for the reply @jrieke.

In my use case I'm measuring datasets drifts thus it made sense to use a traffic light system to identify critical/attention/allgood situations. I missed a third color option to better visualize it. Not crucial but it would be nice to have in any dashboard.

[2022-02-16 00:04] siarheishpak opened #4405 "Improve exceptions in Cloud logs: the same error block is repeated many times (~100) in case of RecursionError type of error"
**Description:**
The same error block is shown ~100 times in the case of RecursionError.
The same part is repeated just 3 times in legacy-styled logs.

**Preconditions:**
1. Preconditions are described [here](https://www.notion.so/streamlit/QA-6215a3f7b541477bac0333a6639b16c4#4565b6be99544a1a8ba9468dae0968d4)
2. Code snippet:
[code]

**Steps:**
1. Run the application and invoke Recursion error
2.

[2022-02-16 02:53] usuixingyili opened #4406 "unselectable problem in multiselect box"
![multiselect_failure_issue](https://user-images.githubusercontent.com/74706568/154187308-03b5d7e0-26e5-4b54-b3f8-ab0584e53a51.gif)

![multiselect_failure_issue2](https://user-images.githubusercontent.com/74706568/154194511-89645a05-7f41-4fe2-a0c3-71d2ed2e4735.gif)

[2022-02-16 05:44] #4406 closed, assigned to nobody

[2022-02-16 07:23] thunderbug1 opened #4407 "Make caching benchmarkable"
I currently have the challenge that I have a streamlit application which heavily uses st.experimental_singleton and st.experimental_memo due to performance reasons. The Problem is that sometimes it happens that the RAM usage of the application spikes and I don't know which of the cached functions, if any, are the culprits.

It would be great if there was some kind of profiling mode that prints how

[2022-02-16 09:30] igormintzviz commented on #1294
I had "0" showing instead of an image when trying to get the image from a server. My mistake was not writing "http://" before the url. adding it resolved the problem.

[2022-02-16 13:38] VladiLuzJr commented on #2873
Any updates? Having the same problem here, streamlit runs fine on laptop and desktop but when access from iPhone, the app gets stuck in Please Wait....

[2022-02-16 19:32] arnauddhaene commented on #946
Hi @JunShern,

For videos that are not too heavy, I found using `matplotlib` in combination with Streamlit's `session_state` to control videoflow works excellently. Additionally, I can easily superpose lines, circles, and scatter from potential user input as I'm working with a `pyplot` object (which is super versatile), it has been very useful for my personal use-case.

[code]

[2022-02-17 04:11] arcanaxion commented on #4342
I'm facing a similar issue. Try changing your tooltip line to `tooltip=["date_str", alt.Tooltip("date_datetime:T", format="%Y-%m-%dT%H:%M:%S"), "value:Q"]` to see the time.

Say your machine is in UTC-5, you'll probably find that where `date_str` is "2015-06-04", `date_datetime` was probably "2015-06-03T19:00:00". In my case, since my machine is on UTC+8, I'm seeing it as "2015-06-04T08:00:00".

I

[2022-02-17 10:12] tommaso-moro commented on #863
+1 for markdown support in widgets labels!

[2022-02-17 10:23] StefanBrand opened #4409 "Customize spinner message of st.experimental_memo"
### Problem

`st.experimental_memo` shows a hard-coded spinner message `Running cached_function().`. It is impossible to provide the spinner with a custom message (and make it translatable).

I would like to display a custom string like `Preprocessing data...`, which I could translate with third-party tools to e.g. `Daten werden vorprozessiert...` (German)

[2022-02-17 12:23] chanansh opened #4410 "secrets.toml is not reloaded when changed"
I see in the code (`secrets._file_change_listener`) there is a process of watching the file but when I changed it. However, I have seen `session_state.secrets` does not change. The user case is user-management admin mode (user&password)

[2022-02-17 17:30] #4256 closed, assigned to kajarenc

[2022-02-17 23:34] rodrigogiraoserrao commented on #3724
I'm jumping in to say that the attribute `viewBox` has no effect as well, although it was suggested in this issue thread as the way to fix the problem.

[code]

The value `x` should determine what portion of the yellow/green rectangle is seen.
If `x = 0`, we should see a yellow square, whereas if `x = 100`, we should see a green square.
As of now, regardless of the value of `x` (or if we delete th

[2022-02-18 01:25] siarheishpak opened #4412 "[Free Tier enforcement][Deploy page] A warning about free tier limits is not substituted by the "Welcome..." info message"
## Description
When a user successfully upgrades to Teams plan and is sent back to the "deploy" page, he/she is supposed to see the "Welcome to the big leagues!" info message. But he/she is still shown the "Ready for the next level?" warning.

## Environment:
Cloud: `demo`
Browser: Chrome

## Design Mocks:
![image.png](https://images.zenhubusercontent.com/61d4f5d471f412b55d8f9aae/c1c3ff4c-8b42-447

[2022-02-18 02:45] SamuelBradley commented on #4109
This would be extremely useful for containers and columns as well, for aligning things like buttons to the right of the screen.

[2022-02-18 04:50] eacle00 commented on #313
@u-masao I tried to implement your fix, but how to activate it to HTTPS (still a newbie here)? Thank you!

[2022-02-18 06:36] naka-h opened #4413 "Issue: Bug report - test mistake"
test mistake

[2022-02-18 06:39] #4413 closed, assigned to nobody

[2022-02-18 07:50] pranavr2003 commented on #3508
Hi @jrieke . It does pretty similar, yes. I had built it to use this with Flask as a simple templating engine (I didn't want to use Jinja2 (now 3) then), then removed that feature and made it as a general purpose Python library that writes HTML and CSS directly to files (or just one file, there an option for that), instead of printing. The option of writing CSS and JS directly along with HTML in P

[2022-02-18 14:51] thiemoToadi opened #4415 "st.markdowm multiline formatting"
### Summary

In the most recent version of Streamlit the formatting of multiline markdown seems broken, everything is squished.

### Steps to reproduce
Run the following code with streamlit 1.4.0 and streamlit 1.5.0+ and you will see the difference in formatting.

Code snippet:

[code]

**Expected behavior:**

Formatting as we should expect from multiline markdown.

**Actual behavior:**

Markdowns

[2022-02-18 15:46] Muzammiljethwa commented on #926
I have done this by going through this approch:

[code]

hope it will help!!!!!

[2022-02-18 15:53] Muzammiljethwa commented on #862
I have done this by going through this approch:

[code]

hope it will help !!!!!

[2022-02-18 16:41] siarheishpak opened #4416 "[Free Tier enforcement] "Deploy" button is not enabled automatically after upgrading to Teams"
## Description
The deploy button is shown enabled by default when the user opens the "Deploy" page. So, it's better to show it enabled when a user is sent back to the "deploy" page after upgrading to Teams plan (just in case the user has already provided branch and app name and is ready to deploy).

## Steps to reproduce
**Preconditions:**
1. There is a user who owns a workspace
2. That workspace

[2022-02-18 20:11] FLYAX commented on #2009
I'm facing the same problem, what was the solution here?

[2022-02-18 21:49] vdonato commented on #4415
Hi @thiemoToadi,

It turns out that, technically, it's more of a bug that this worked in the past (an upgrade to one of our markdown dependencies "fixed" this). Since markdown tables need to start with indentation, what's happening here is that the lack of indentation on the first line means that the text provided to `st.markdown` isn't being parsed as a table. A slight reformatting to the code sn

[2022-02-18 21:49] #4415 closed, assigned to nobody

[2022-02-19 03:14] hayk-skydio opened #4417 "`experimental_memo` fails to hash input arguments that are class instances"
### Summary

The `experimental_memo` decorator raises `UnhashableParamError` for functions with arguments that are instances of a class or dataclass, even though the hashing code appears to try to handle it using the `__reduce__` method. This limits the usefulness of `experimental_memo`.

### Steps to reproduce

[code]

**Expected behavior:**

I would expect the argument to be hashed properly usin

[2022-02-19 03:21] JunShern commented on #946
This looks really good, thanks @arnauddhaene!

[2022-02-19 06:48] jay2404 opened #4419 "hi streamlit team I face the problem of title align center,left,right so I request to build this feature for every text in strealiit so we made more attractive webpage using this functionality."
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

Is your feature request related to a problem? Please describe the problem here. Ex. I'm always frustrated when [...]

### Solution

**MVP:** What's the smallest possible solution that would get 80% of the prob

[2022-02-19 08:50] u-masao commented on #313
@eacle00 Thank you for your trials!

Use it like this.

## Example of creating SSL/TLS key and certificate

[code]

  - reference

    https://devcenter.heroku.com/articles/ssl-certificate-self

## Install streamlit

[code]

## Edit installed streamlit codes

https://github.com/u-masao/streamlit/compare/develop...feature/add-https-support

- target directory (maybe)

  ~/.local/lib/python3.10/site

[2022-02-19 18:22] abedhammoud commented on #1360
It would be a great feature to have! Thank you for the excellent work you have done already!

[2022-02-19 18:43] romanRegmi opened #4420 "No module named 'PIL'"
### Summary

I had installed the Pillow Package in my pipenv Virtual Environment and had imported the same in my code. Later, I decided to not use it and uninstalled the package and removed the import statement from my code.

However, now when I try to run my app, I get the No module named 'PIL' Error.
I have not imported this library anywhere.
I have uninstalled it completely from my Virtual Envi

[2022-02-19 19:06] okld commented on #3977
Hello @whitphx,

I managed to get callbacks working on custom components with some hacks. Let me know if that works with you: https://gist.github.com/okld/1a2b2fd2cb9f85fc8c4e92e26c6597d5

[2022-02-20 07:51] gerardrbentley commented on #4420
I believe the confusion here is that Pillow is a required dependency of Streamlit, it wasn't just a dependency for your specific script.

You most likely need to reinstall Pillow to your pipenv virtual environment.

Steps to reproduce (python 3.9.7, streamlit 1.5.1):

[code]

[2022-02-20 14:01] #4420 closed, assigned to nobody

[2022-02-20 20:57] naorpeled commented on #1360
Would love to work on this component,
can I be assigned to this issue?

[2022-02-21 03:32] Lionden92 commented on #2725
Yes, please implement this. Streamlit is (relatively) easy and great, but simple ML model demos look so flat, a nice background image would do wonders.

[2022-02-21 03:48] gerardrbentley commented on #2953
Are goals for this being discussed elsewhere? I like the `streamlit config show > ./.streamlit/config.toml` option for per-project configuration, but prefer the defaults commented out and option to ignore global, so I took a crack at this with a `streamlit config generate` CLI command for my own usecase.

I see this is already assigned so I won't open any PR, but these are the main changes: [gener

[2022-02-21 03:52] ffineis commented on #863
+1!

[2022-02-21 04:11] gerardrbentley commented on #3605
I think I'd be able to handle this, are you still looking for a PR on it? @vdonato is this still confirmed / worth working on?

[2022-02-21 08:00] eacle00 commented on #313
@u-masao I don't know if it did work. Here's what happened:
![webpage](https://user-images.githubusercontent.com/75242686/154912590-1ba090a3-b546-4885-971c-4606ceafd02d.PNG)

[2022-02-21 10:16] u-masao commented on #313
@eacle00 Great! !!

If you can see your application in your browser, it's working fine. The browser's "Not secure" display is a warning that the certificate used for HTTPS is an unreliable "self-signed certificate". It is not used in production systems due to its low reliability, but the communication is encrypted.

For reliable HTTPS communication, use a service such as "Symantec SSL Certificates

[2022-02-21 10:21] Mane-Pal commented on #4389
@jrieke Another improvement would be a check if an expensive computation/db query is already in progress.
If 3 users initiate a function, that is cached but the cache is yet to be build, at the same time with the same params, it will run the call 3 times. This will happen if the streamlit application is restarted with users having the application running in a browser tab.

Hope this is the right p

[2022-02-21 10:44] eacle00 commented on #313
@u-masao the idea is now clear! appreciate your help, thank you very much!

[2022-02-21 15:28] ravasioluca commented on #863
+1

[2022-02-21 15:40] ravasioluca opened #4421 "Adding latex input widget"
It would be great to have a latex input widget with a live preview. Yes, it's not very necessary (it's theoretically possible to use a text input box and st.latex but it would require time and it would be far from perfect) and there are more important things to do  but i think it would be a great future improvement. This would be pretty useful in math and data-science GUI.

---

Community voting o

[2022-02-21 17:22] SidHariharan commented on #455
Watching! :)

[2022-02-22 04:19] nguyen-viet-hung commented on #3911
Hello @willhuang1997,

Sorry of missing this request for response.
After check it again, I see that when I don't open the web browser, the memory is fine, but when I open the web browser, the memory of streamlit is increasing. Here is the information of this test:

# Debug info
* Streamlit version: 1.4.0
* Python version: 3.9.10
* Using virtual environment
* OS version: Rocky Linux release 8.5 (Gr

[2022-02-22 06:57] MickyMinnie opened #4422 "Facing this "Communication Link Failure (SQLExecDirectW) Unable to rollback" error regularly when my SQL server restarts"
### Summary

Whenever my SQL server restarts, Streamlit is down and it shows the Communication Link Failure error. Streamlit fails to reconnect to DB.

<img width="484" alt="image" src="https://user-images.githubusercontent.com/11172000/155078779-75abf7a8-3b8b-4495-b81e-e00460e8e436.png">

Streamlit Webapp goes to normal state only when we restart the Streamlit server again

[2022-02-22 12:44] scribu opened #4423 "Unnecessary horizontal scrollbars in Firefox"
### Summary

When rendering a series or a dataframe, some values look like they're missing.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

I see all the values rendered.

**Actual behavior:**

Some table cells look like they're blank:

<img width="171" alt="Screenshot 2022-02-22 at 12 43 27" src="https://user-images.githubusercontent.com/225715/155134738-0e24bf3a-d059-4801

[2022-02-22 12:51] scribu commented on #2543
Opened a follow-up ticket for Firefox: https://github.com/streamlit/streamlit/issues/4423

[2022-02-22 13:07] StefanBrand commented on #4213
I see that there are two different entries in the Roadmap:
- Q1: https://share.streamlit.io/streamlit/roadmap#native-support-for-handling-clicks-on-tables-in-development
- Q2: https://share.streamlit.io/streamlit/roadmap#matplotlib-figures-are-interactive-by-default

The one regarding matplotlib was in Q1 also, previously. I hope that this is still considered under that same ticket. If not, please

[2022-02-22 15:57] Bomme commented on #4345
Hey @willhuang1997 any update on this? 😃

[2022-02-22 16:30] whitphx commented on #3977
@okld
It seems to work as expected. Thank you so much.
I actually tried to use it in my library: https://github.com/whitphx/streamlit-webrtc/pull/695. I will test it more though, it seems to be working.
~~BTW, is it OK to use the code in my MIT-licensed library? (I think it's helpful if some LICENSE file is provided in the gist repo :) )~~ (It seems OK; https://github.community/t/what-license-do-g

[2022-02-22 18:51] randyzwitch commented on #4422
If your database restarts, Streamlit isn't necessarily going to be able to know that unless you do something like a `try/catch` statement. Additionally, if you are using st.cache or st.singleton, then you're declaring to Streamlit that it should be a live connection.

Since you expect that the database can be restarted, I would suggest the `try/catch` solution.

Best,
Randy

[2022-02-22 18:51] #4422 closed, assigned to nobody

[2022-02-22 22:14] jrieke opened #4427 "Too many "Report a bug" options in hamburger menu"
### Summary

Hamburger menu on Cloud shows "Report a bug" 3 times and I think at least one of them is a bug.

### Steps to reproduce

1. Go to this app as developer (@shamis15 / Jess Shamis from the design team can give access): https://share.streamlit.io/shamis15/apps/main/nflapp.py

2. Click on hamburger menu. It shows the following options:

![image](https://user-images.githubusercontent.com/51

[2022-02-22 22:34] jrieke opened #4428 "Bold in H1, H2, etc, renders wrong"
### Summary

Bold text in headers renders wrong.

### Steps to reproduce

Copying bug report from @tvst:

This is `st.write("# Hello **world**")`:

![image](https://user-images.githubusercontent.com/5103165/155230637-d65711e4-2b72-4505-b867-24544ae23971.png)

Notice how:

- “world” is thinner than “Hello”. Should be at least equally bold (if there’s no bolder weight)
- “world” has a different colo

[2022-02-22 22:45] jrieke commented on #4338
Just want to add that I added this discussion to our roadmap for future session state improvements. I think if it really currently works as you pointed out above, this is indeed pretty confusing and something we should change at some point...

[2022-02-22 23:26] jrieke commented on #4421
Fun idea! As you said, seems rather low priority, so I don't think we'll get to this anytime soon. Might be a fun project to build a component for this though! 😉 Instructions [here](https://docs.streamlit.io/library/components/create) and [this JS library](https://latex.js.org/) seems to be able to render latex.

[2022-02-23 00:14] asaini commented on #4427
@jrieke: You're right, the first "Report a bug" is a bug and shouldn't be there. Looks like Cloud is inserting that into the menu.

From at our testing, it seems that we were seeing the issue in testing, but we had fixed it before launch. See this comment: https://www.notion.so/streamlit/Feedback-0ab78ff710eb416f9a8fc0f3b9cff75e#518d6d355a7e4ca4a0d9d0f4ea720357

... but somehow this bug has crept

[2022-02-23 00:58] vdonato commented on #4427
Note that I filed a similar bug a few months back (https://github.com/streamlit/streamlit/issues/4118) and have also been planning on writing a small doc suggesting some changes to make this nicer, but I haven't had much bandwidth to be able to write that doc this quarter.

[2022-02-23 08:24] RaphaVoltair opened #4433 "st.slider using variables for min_value and max_value"
I want to create a slider and set the min, max values using variables instead of entering them manually. The reason is, that with any change imposed on the dataset the range differs. So I don't know the required range in advance.

Code snippet:

#---- SLIDER ----
import pandas as pd
import numpy as np
import streamlit as st

df = pd.read_csv(r'C:\Users\Raphael\Documents\Python Scripts\Test_dataset

[2022-02-23 09:35] MickyMinnie commented on #4422
Thanks for a quick reply. Let me try that and get back @randyzwitch !!!

[2022-02-23 13:35] RaphaVoltair commented on #4433
found the issue... if I cast with .astype(float) or pd.to_numeric() this will return a numpy float64 type which apparently streamlit has a problem with for whatever reason. but if I cast just using float() then it is not a numpy type and it works. So I adapted code as follows:
x = float(df["BBx"].min())
y = float(df["BBx"].max())

[2022-02-23 13:53] #4433 closed, assigned to nobody

[2022-02-23 17:15] siarheishpak opened #4434 "Unnecessary space symbol in markdown in lib/streamlit/hello/demos.py"
### Summary
There are unnecessary space symbols in markdown in lib/streamlit/hello/demos.py

### Steps to reproduce

Code snippet (https://github.com/streamlit/streamlit/blob/develop/lib/streamlit/hello/demos.py):

[code]
If applicable, please provide the steps we should take to reproduce the bug:

1. run "streamlit hello"
2. open the front page
3. pay attention to the "See more complex demos" sec

[2022-02-24 01:46] vdonato commented on #2953
Hey @gerardrbentley,

Thanks for taking some time to think about / work on this! I noticed your comment after wrapping up a PR resolving the issue by simply commenting out config options not explicitly set, which I think is worth doing since it's such an easy change.

A new `streamlit config generate` command sounds reasonable -- I'd recommend opening a new enhancement issue if you think it's some

[2022-02-24 03:20] jzcruiser opened #4440 "Ability to clear selectbox with long list of options"
### Problem

I'm working on a stock analysis dashboard and there's a selectbox with a long list of tickers for users to choose from.

However, filtering and switching from one ticker to another is quite inconvenient to the user, as deleting existing characters is time consuming.

So I am proposing an enhancement to the selectbox widget by exposing the 'clearable' prop.

I made a few changes locall

[2022-02-24 07:57] andreaschiappacasse commented on #4382
+1 After initial enthusiasm, I went back to css styled hrefs in all of my use cases due to this.

[2022-02-24 23:47] #2953 closed, assigned to vdonato

[2022-02-25 05:04] comlhj1114 opened #4449 "Ability to flip st.camera_input preview horizontally"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

When I take a picture with st.camera_input with webcam or selfie, the preview is not mirrored version of myself. This is quite annoying for me to move myself to the center of the camera.

### Solution

**Prefe

[2022-02-25 08:38] nrontsis commented on #3218
Try to add this line at the very top of your file:
[code]

[2022-02-25 11:30] robinsaettele commented on #863
+1

[2022-02-26 04:39] gerardrbentley commented on #4284
EDIT: missed the slider requirement. My first attempt fulfilled that, but involved changing the underlying library, so it would be a significant code change. Additionally, it wasn't a great solution because using arrow keys would shift it. Maybe some CSS magic could help; I'll leave the below stuff in case it helps.

![out](https://user-images.githubusercontent.com/14809320/155832262-3882601e-86d0

[2022-02-26 16:44] venkatesh-sivaraman opened #4454 "Altair bindings do not work with numerical data types on Streamlit"
### Summary

When using Altair binding select/range controls to filter columns with **integer** data types, no data matches the `transform_filter`. The binding controls work in Jupyter Notebook but not in Streamlit, which leads me to believe there might be an issue casting the data received from the Streamlit frontend to the appropriate type. Changing the filtering field to a string data type work

[2022-02-27 22:45] lukasmasuch commented on #4423
Thanks for reporting the issue. Seems like Firefox did some changes with the latest versions to the scroll bar behavior. We are working on a full refactoring of our dataframe component, which hopefully will also fix this issue.

[2022-02-27 23:15] lukasmasuch commented on #4398
Thanks for reporting this issue. I can confirm that using `sort` with an array does not work currently. While using an array with the `sort` parameter does not seem to be applied, other usages seem to work fine, e.g: `sort="-x"`

[2022-02-27 23:33] gerardrbentley commented on #2108
This seems a bit inactive so I took a shot at it. I think it's on the right track, but up to y'all if it's what the goal is. At least the inner highlights could be improved and I haven't taken a look at video yet.

idea light (left chrome, right firefox):
![idea_light](https://user-images.githubusercontent.com/14809320/155904442-ea5b8c49-99ae-4622-90ec-779758c062ac.gif)

idea dark:
![idea_dark](ht

[2022-02-28 01:16] eduardoLopex666 commented on #371
Is there any fix to manually determine the whole width of Streamlit tables generated from _st.dataframe()_ ? Are there any workarounds to assign widths to streamlit tables?

[2022-02-28 12:23] whitphx opened #4456 "Make it possible to control the HTML "type" attr via st.text_input"
### Problem

I want to set `type=email` on the HTML generated from `st.text_input`.
I think other types such as `type=number` should also be available.

Setting an appropriate `type` is important because it improves user experiences.
For example, browsers provide client-side validations according to the `type`, and smartphone browsers change the keyboard layout based on the `type`.

### Solution

[2022-02-28 13:34] thiemoToadi opened #4457 "Force widget setting without needing a key"
### Summary

When using checkboxes in a streamlit form, the value of the checkbox does not always match it visual state.

### Steps to reproduce

Code snippet:

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/streamlit_badge_black_white.svg)](https://issues.streamlitapp.com/?issue=gh-4457)

[code]

If applicable, please provide the steps we should take to reproduce the bug:

-> Stat

[2022-02-28 14:20] lukasmasuch commented on #4454
Thanks for reporting this issue. I was able to reproduce the problem. There is also this warning in the frontend associated with this problem:

<img width="518" alt="image" src="https://user-images.githubusercontent.com/2852129/155994464-fe50bfa3-25ff-4f81-a787-b0a4f5c0a0d3.png">

Also, this seems to be related to the arrow version of `st.altair_chart` since `st._legacy_altair_chart` seems to work

[2022-02-28 14:51] YoungXu06 commented on #2399
Getting expander state is a must especially when I need to monitor if users visit the content inside, looking forward to seeing an update!

[2022-02-28 15:27] lukasmasuch commented on #4457
Hey @thiemoToadi, thanks for reporting this issue. While it might look confusing, this behavior is actually expected since the click on the form submit button will rerun the script resulting in a reset of the `default_checkbox_value`. To solve this, you can use `st.session_state`, e.g.:

[code]

Does that solve your problem?

[2022-02-28 16:07] whitphx opened #4458 "An option to keep component values in the session state"
### Problem

Component values are automatically saved into the session state, but they are removed if they do not appear in the next run.
However, I sometimes want the component values to be kept in the session state if they appear at least once in some run.

For example, with the code below,
[code]
1. The "page1" is selected on the radio at first.
2. The user inputs some text in the "Text1" text

[2022-02-28 17:19] abhiklodh commented on #4427
Can I attempt at fixing this issue?

[2022-03-01 09:28] thiemoToadi commented on #4457
Hi @LukasMasuch thanks for taking the time to check this problem , your code snippet does not work exactly as expected.

When you check some checkboxes manually  and press the deselect all button they won't be deselected.
Also there is some strange behavior from the select all button:
steps to reproduce

1. Press select all -> all boxes become checked
2. Manually deselect some boxes
3. Press selec

[2022-03-01 12:08] robinsaettele commented on #2360
Is there an update on this issue?
As of today I still experience that behaviour.

[2022-03-01 12:24] whitphx opened #4462 "The 1.5.1 tag is orphan"
### Summary

The `1.5.1` tag page (https://github.com/streamlit/streamlit/tree/1.5.1) says

<img width="1255" alt="スクリーンショット 2022-03-01 21 18 10" src="https://user-images.githubusercontent.com/3135397/156167787-713d03a8-133c-4222-b7dd-2d4576205f73.png">

Actually, the code installed via `pip install streamlit==1.5.1` is different from the code in that commit.

For example, `SessionInfo.report_run_

[2022-03-01 14:56] #3402 closed, assigned to nobody

[2022-03-01 17:30] Rohan-Thoma opened #4464 "Streamlit share cannot detect the image files in the github repo..!"
### Summary

Here if we want to display any image to the screen, we need to 1st load it to the app right. Suppose there is a text file and there is an image file, both are having the same folder location. The problem is that for images it is giving an error: File not found, but for other file types, they can be accessed without any problem in the github repo.

### Steps to reproduce

#first put an

[2022-03-01 20:23] corticalstack commented on #3527
@benlindsay thanks for raising this issue, which I assume still exists and requires workaround?

[2022-03-01 20:46] benlindsay commented on #3527
As far as I'm aware, yes, a workaround is still required

[2022-03-02 01:53] lukasmasuch commented on #4464
@Rohan-Thoma  Thanks for reporting the issue! Displaying a `png` image from the local path of the Github repo works fine for me on Streamlit Cloud. Do you have an example app deployed on Streamlit Cloud that showcases this issue?

[2022-03-02 02:44] lukasmasuch commented on #4457
Hey @thiemoToadi , I was able to reproduce that 👍  This is indeed an issue with how the widget state is handled. As a workaround, you can change the form key with every select/deselect all event:

[code]

[2022-03-02 08:43] thiemoToadi commented on #4457
Thanks for the help @LukasMasuch ! Unfortunately this does not fully fix the problem because then the other widgets in the form also get reset, for example an st.text_input gets it input reset.

Would there be a way to fix this or does this needs to be updated in the library itself?

[2022-03-02 16:59] lukasmasuch commented on #4457
Oh, yes indeed. In this case, it might help to just change the individual keys of the checkbox widgets in the form instead of the form key. However, the actual issue will require some changes in the library - so a workaround with changing the keys is not necessary.

[2022-03-02 16:59] hayk-skydio commented on #611
+1 for exporting to a standalone HTML file. In our case we want to preserve some plot results and be able to reference them years in the future, when the code for the app and interactive data may have changed dramatically. We need to file it away as a record that can always be viewed. The best form of this would include interactive plotly plots with the data baked in. This is the biggest drawback

[2022-03-02 17:11] jeffery9876 commented on #2709
Hi, what's the status of this issue on the roadmap now?

Thanks

[2022-03-03 00:29] HAKSOAT commented on #863
+1

[2022-03-03 01:20] bloukanov commented on #1083
thanks @sapped !

This worked for me:

[code]

as @kmcentush  mentioned, the first time someone logs on, `session.ws` used to be `None`, but this was fixed I believe in `streamlit==1.6.0`

I deployed to RStudio Connect, and after looking at `headers` and `headers.keys()`, I found that they pass the credentials through the `"Rstudio-Connect-Credentials"` key:

user_info = `headers["Rstudio-Connect-

[2022-03-03 13:54] lukasmasuch commented on #4462
@whitphx Thanks for reporting this issue! I have investigated the issue and can confirm that the tags are indeed not associated with any existing branch. The reason seems to be that we delete the `release/x.x.x` branches, which I believe is not really problematic. The more problematic aspect is that the source code of the distribution on PyPI differs from the source code associated with the Github

[2022-03-04 04:27] vdonato opened #4474 "MPA e2e tests"

[2022-03-04 06:06] rishikesh-6path opened #4475 "sidebar not appearing"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2022-03-04 13:16] lukasmasuch commented on #4345
Hey @Bomme, I did some additional investigation. Indeed, Streamlit Cloud seems to always run the app two times when there is an URL parameter. Here is another snippet to test this:

[code]

If this app is [run with a query parameter](https://share.streamlit.io/lukasmasuch/st-query-parameter-bug/main/app.py?test=1), the run counter is `2`. And in case there is [no query parameter](https://share.str

[2022-03-04 13:42] lukasmasuch commented on #4475
Hey @rishikesh-6path, this issue seems to only contain our template without any further information. Do you have additional information about this issue?

[2022-03-04 14:53] SoleneFt opened #4476 "@st.cache bug"
### Summary

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

Streamlit encountered an error while caching the body of loaddata(). This is likely due to a bug in /Users/APP/app.py near line 68:
`
data = streamdt
return data
`

Please modify the code above to address this.

### Steps to reproduce

Code snippet:

[code]

[2022-03-04 15:37] john-mercer-allstripes commented on #3807
@vdonato wondering where is this on roadmap? Thx!

[2022-03-04 17:49] ChrisDelClea commented on #1291
This is pretty awesome.

Upper version with:
[code]
works for the first run, afterwards it seems to change the id's of the input boxes.
Also it directly enter the key into the textbox.

Would there be a way how i can get a input by its streamlit key, @brunomsantiago?

[code]

[code]

+ I also saw the message you got: `the within a callback is a no-op`.
Quite amusing as it seems to be only a hint a

[2022-03-04 18:00] dirac-dc commented on #611
+1 as well, the reason being is that the HTML provides slider boxes for long tables as well as highlights labels for plots instead of ridiculously long legends which makes it invaluable.

The problem with any dashboard is typically the loading time for processing data and saving the plots to a file/latec report, does not give the advantages above, so it would be great to be able to email a streaml

[2022-03-04 18:06] #4434 closed, assigned to nobody

[2022-03-04 18:46] lukasmasuch commented on #4476
@SoleneFt Thanks for reporting this issue! I was able to reproduce the problem with this minimal example:

[code]

Since we had similar problems related to `st.cache`, we decided to introduce new caching mechanism. You can find more information [here](https://docs.streamlit.io/library/advanced-features/experimental-cache-primitives). Your example can most likely be solved with `@st.experimental_me

[2022-03-04 19:17] scott-trinkle commented on #4458
+1 to this

[2022-03-04 19:45] scott-trinkle commented on #4338
Chiming in to say I'm having the same issue, it makes it pretty cumbersome to write multi-page apps where different processing and visualizations might appear on different pages based on widget values.

[2022-03-04 20:47] okld commented on #4338
Hey @scott-trinkle, maybe you could try the following solution: https://gist.github.com/okld/0aba4869ba6fdc8d49132e6974e2e662

1. For every widget you want to make persistent, [set their key with `persist("widget_key")`](https://gist.github.com/okld/0aba4869ba6fdc8d49132e6974e2e662#file-multipage_settings_app-py-L48-L53).
2. At the beginning of your script, [call `load_widget_state()`](https://gis

[2022-03-05 14:45] giladrefael commented on #904
Any update on this?

[2022-03-05 20:24] lukasmasuch commented on #4342
Thanks for reporting this issue! As suggested by @arcanaxion, the problem is indeed related to how altair processes date timezones. One fix from our side might be to always set the scale to `utc` for `datetime` objects ([as we do with `date` objects already](https://github.com/streamlit/streamlit/blob/develop/lib/streamlit/elements/arrow_altair.py#L318)). But I'm not sure yet if there are any othe

[2022-03-06 14:26] KrzysztofSzpetmanski opened #4477 "Red Screen on start"
HI, got something like this on start:
<img width="910" alt="Screenshot 2022-03-06 at 15 24 08" src="https://user-images.githubusercontent.com/98668982/156927438-5d73c0ef-37df-41d8-927b-36dd634ea4e6.png">

Any help?

Chris

[2022-03-07 01:56] jadore801120 commented on #2304
I think it is solved with the `experimental_singleton` decorator now.

[code]

[2022-03-07 01:58] jadore801120 commented on #4001
Hi @chainleft ,
I wonder if you get this fixed? I am facing the same issue.
Thanks!

[2022-03-07 04:43] codebraker opened #4478 "Streamlit emoji icons not displayed in google chrome"
### Summary

The emoji icons are not displayed correctly in google chrome.

### Steps to reproduce

Open the link (https://share.streamlit.io/streamlit/emoji-shortcodes)  in google chrome

**Expected behavior:**

The emoji icons shall be displayed correctly.

**Actual behavior:**

Please refer screenshot.

### Is this a regression?
yes

- Streamlit version: Streamlit, version 1.5.0
- Python versio

[2022-03-07 16:25] raethlein commented on #4345
Hey @Bomme, the reason for this is because Streamlit Apps are currently loaded as iframes in Streamlit Cloud and query parameters are not directly added to the iframe's URL, but passed as a message to the iframe. Now, when the app is loaded and the iframe is reachable, the app is executed for the first time. When the query parameters are passed from Cloud to the App, a re-run is triggered. This ex

[2022-03-07 18:35] kmcgrady commented on #2810
This has been accomplished to the best of our abilities.

[2022-03-07 18:35] #2810 closed, assigned to nobody

[2022-03-07 19:04] #4139 closed, assigned to nobody

[2022-03-07 20:01] oliverfunk commented on #1360
Would be a great feature! Could show warning dialogs etc.

[2022-03-08 03:33] anirudhmn opened #4483 "Programmatically collapse the sidebar"
I've been searching through Google and can't find a way to programmatically collapse the sidebar. Currently, the only way to do so is to have the user physically press the x in the corner of the sidebar. If we could programmatically close it that would be nice.

---

Community voting on feature requests enables the Streamlit team to understand which features are most important to our users.

**If

[2022-03-08 05:26] gerardrbentley commented on #4449
I'm wondering if an option on the `st.camera_input()` function or keeping it contained in the react component is more fitting.

The top right of the photo below is the 'change camera' for mobile devices button. I tried out a reverse button like in the top left and changed the react-webcam mirror option and it seems to work.

![image](https://user-images.githubusercontent.com/14809320/157171792-b03

[2022-03-08 08:34] andfanilo commented on #1360
In the meantime you could try the modal example in the experimental section of the [Hydralit Components](https://github.com/tanglespace/hydralit_components#experimental-1) repo by @TangleSpace

![image](https://user-images.githubusercontent.com/5351877/157198447-afa05c2d-ba2b-41d1-8086-3e75fe999ad8.png)

![image](https://user-images.githubusercontent.com/5351877/157198376-707f9f75-54ce-488a-ad56-3

[2022-03-08 17:35] piotrekkr commented on #3028
Yeah I hit same problem with `/healthz` on cloud run. Here is a mention about endpoints ending with `z` https://cloud.google.com/run/docs/issues#ah

[2022-03-09 06:33] vdonato commented on #3807
Thanks for bumping this issue, @john-mercer-allstripes!

I don't believe it's currently on the roadmap, and I haven't been watching this issue too closely myself.

However, it seems like there's a good amount of interest for it, and I think it should be a pretty easy feature to add (I'm guessing it'll just be a few tens of lines of code), so I'll see if we can prioritize it in the next few weeks.

[2022-03-09 06:47] vdonato commented on #4427
Hi @abhiklodh, sorry for the delayed reply!

I think we'll probably want to hold off on making any of hamburger-menu related changes for now. The reason is that we have to put some thought into exactly which of the redundant "report a bug" options we'll want to get rid of (and if we want to make any other tweaks to the menu options while we're at it). Until our product team has the spare cycles to

[2022-03-09 07:46] fredzannarbor commented on #3807
Given the amount of json data that's out there, this feature seems like it will have a lot of leverage.

[2022-03-09 12:03] StefanBrand commented on #4417
Also related: #3944

[2022-03-09 13:33] lisrael1 opened #4486 "PermissionError by watcher on a script update with a proposal easy solution"
### Summary

get permission error when saving the script file.
always happens but only on a specific PC (tried at least 3 other PCs and they don't have this issue as probably most users don't have this error...)

### Steps to reproduce
streamlit run my_app.py
then update my_app.py and get the next error:
	File "C:\ProgramData\Anaconda3\envs\apps\lib\site-packages\streamlit\watcher\util.py", line 7

[2022-03-10 00:33] simonlipsonrisk commented on #2360
Any update on this? I built a webapp with streamlit for my team and this behaviour happens for half the team and not for the rest. Seems weird and I can't think of or find a resolution. But because it doesn't happen to some people (myself included), i'm assuming its not related to the code i've written and possibly to something else. Any ideas?

[2022-03-10 01:19] kmcgrady commented on #2360
Hi @simonlipsonrisk I can try to provide guidance, but would need to look at the code. The main challenge that always exists is connecting the actual line of code to the specific element in the DOM. In many cases, we connect it correctly, but expanders have been unique as a layout feature and not an element.

This is a result of an element appearing or disappearing before causing a misalignment in

[2022-03-10 01:27] simonlipsonrisk commented on #2360
Thanks @kmcgrady . I'm not sure its relevant to my situation. I'll give a short version of the code that captures what happens. Basically I have check boxes within the expander and for some people, when the box is checked or unchecked, the expander closes. whereas for others it does not close. The code is something similar to

[code]

Does it make sense that checking or unchecking the checkbox in

[2022-03-10 01:45] kmcgrady commented on #2360
Hmmmm @simonlipsonrisk can't say I understand what's going on here. This issue corresponds to items _around_ the expander appearing and not, vs. the expander itself.

We did some work recently with regards to multiple expanders https://github.com/streamlit/streamlit/pull/4290 in case you are not working on the latest version. That being said, if you have a repro case with a small code sample that

[2022-03-10 01:55] fakhavan commented on #1139
Experiencing the same issue with Gloo. The website loads one with the trailing backslash but not without it, spent a good amount of time changing the rules but I now believe the issue is from Streamlit.

[2022-03-10 02:42] simonlipsonrisk commented on #2360
@kmcgrady I found the cause of my issue (however not sure what the real underlying issue is). The people in my team that have the latest version (1.7.0) of streamlit experience the closing expanders whereas those of us that have version 1.2.0 do not experience this issue. I even upgraded my streamlit to 1.7.0 and did experience the same issue where the expanders close. So definitely seems it due t

[2022-03-10 03:39] simonlipsonrisk commented on #2360
Ok @kmcgrady I worked out the issue. To spice-up the webapp, I wrote a function that returns a random emoji from a list and then would call that function when creating the title for each expander

`with st.expander(f"Top Level {random_emoji()}"):`

Whenever anything happened within the expander, it calls that random_emoji function again and updates the emoji in the title. As its technically a new

[2022-03-10 06:39] karantaware531 opened #4488 "Overs passed in the app is showing 21 as maximum and also the decimals are wrong"
### Summary

You should limit the overs to 20 and also make the over as a 6 balls array and define 20 different arrays so we could add one detail of what was the run in last over as we can know the increase in RR and also we can define the decimals in the overs ranging 0.0 to 0.6
### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and s

[2022-03-10 13:06] kajarenc commented on #4486
Hello, @lisrael1 !
Thank you for opening this issue.

Most probably this problem can be solved locally on your computer, by setting correct permissions for the python script or python interpreter, please see this https://stackoverflow.com/questions/56974927/permission-denied-trying-to-run-python-on-windows-10

Please let us know if it solves the problem!
thanks

[2022-03-10 13:40] randyzwitch commented on #4488
I'm not sure I understand what you're reporting here, but it seems unlikely to be a bug in Streamlit. For usage questions, please open a question on our forum, with as much detail as you can provide, including the code you have already tried.

https://discuss.streamlit.io

Best,
Randy

[2022-03-10 13:40] #4488 closed, assigned to nobody

[2022-03-10 13:43] randyzwitch commented on #4477
Hi Chris -

This appears to be an issue with the typing attached to whatever library you are calling, not a Streamlit issue specifically. Python cannot find whatever `websocket.WebSocketApp` is referring to.

Since this is unlikely a bug in Streamlit, please open your question on our discussion forum, with the code that you are running the demonstrates this issue:

https://discuss.streamlit.io

Be

[2022-03-10 13:43] #4477 closed, assigned to nobody

[2022-03-10 14:17] KrzysztofSzpetmanski commented on #4477
Thank you!

Best
Chris

Sorry for being brief.
Sent from my iPhone
________________________________
Od: Randy Zwitch ***@***.***>
Wysłane: Thursday, March 10, 2022 2:43:42 PM
Do: streamlit/streamlit ***@***.***>
DW: KrzysztofSzpetmanski ***@***.***>; Author ***@***.***>
Temat: Re: [streamlit/streamlit] Red Screen on start (Issue #4477)

Hi Chris -

This appears to be an issue with the typing attac

[2022-03-10 14:53] vbabaria commented on #1879
i concur, this would be a great enhancement.

should this issue be raised to [streamlit-aggrid](https://github.com/PablocFonseca/streamlit-aggrid) code repo as well?

[2022-03-10 14:53] felp99 opened #4489 "Error: Unrecognized type: "Duration" (18)"
### Summary

The dataframe shows an error on the frontend if a duration type (timedelta) is used.

### Steps to reproduce

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/streamlit_badge_black_white.svg)](https://issues.streamlitapp.com/?issue=gh-4489)

[code]

[code]

[2022-03-10 15:20] kmcgrady commented on #2360
Ah yea @simonlipsonrisk Thanks for the write up! That makes sense. We had made the decision that an expander is a layout element. An argument can be made that an expander is like a widget (text input, etc) with a state. In that case, one solution is the `key` parameter to make reconciliation between python and the frontend much easier. As more issues like this comes in, we can consider it more.

[2022-03-10 15:39] kajarenc commented on #4489
Hello @felp99 .
Could you please provide more context for the issue?

[2022-03-10 18:06] Shraman-jain opened #4490 "Multiple user using the app at the same time crashes the app"
### Summary

I have made an app and deployed on streamlit share whenever I run the app from multiple devices simultaneously it report error.
### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scr

[2022-03-10 18:12] ramedina86 opened #4491 "Bottleneck in LocalSourcesWatcher"
### Problem

I'm not convinced by Streamlit's reaction times, north of 150ms for even the simplest interactions (according to my tests in my own systems).

### Solution

I've been profiling the code and found a big bottleneck in the method `update_watched_modules` in the class `LocalSourcesWatcher`.

More specifically, here:

[code]

The bit of code above goes over `sys.modules` every time the scr

[2022-03-10 19:11] lisrael1 commented on #4486
Sorry, don't have admin permissions at that PC as it's an organization one, so I cannot check your solution...
But sound like it's the right direction.

[2022-03-10 22:00] tchaton opened #4492 "WTF Streamlit"
### Summary

Dear Streamlit Team,

How the wtf the most common thing doesn't work properly ????

[code]
has_clicked doesn't return True when the toggle is switching.

And this doesn't work either...

This seems like the most basic pattern

[code]

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snip

[2022-03-10 22:15] tchaton commented on #4492
Here is what I understand. I would expect the key to conserve the state.

[2022-03-10 22:52] vdonato commented on #4492
Hi @tchaton,

According to [st.button docs](https://docs.streamlit.io/library/api-reference/widgets/st.button), buttons return `True` if they were clicked on the last run of the app.

For the second example, the `on_click` callback runs before the rest of the app script, and thus the first line of your code snippet sets `st.session_state["has_clicked"] = False` after the callback sets it to `True`

[2022-03-10 22:52] #4492 closed, assigned to nobody

[2022-03-10 23:02] vdonato commented on #4491
Thanks for looking into this, @ramedina86! Some of our team members are currently working on improving Streamlit's performance, so I'll loop them in here.

(CC @AnOctopus @tconkling)

[2022-03-11 01:12] AnOctopus commented on #4491
This is a nice find. I did most of my recent profiling work on single script runs of processing-heavy scripts, so this kind of modest but recurring cost slipped under the radar. Trying out your changes locally (including the mentioned script_runner change) brought it from a 50-200ms function duration (high variance) down to ~1ms on my laptop. We'll need to make sure the final implementation plays

[2022-03-11 03:30] cameron-jack commented on #647
Perhaps just greater control in general of text options in text_input()? Font and fontsize would be nice to change too, but forcing the huge vertical space even if unused is very ugly. I'd have thought this was a fairly fundamental feature to support?

[2022-03-11 03:40] cameron-jack opened #4493 "Increased customizability of st.input_text()"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

st.input_text() is a fundamental component any interactive web site and is seriously lacking in customisation. Currently labels are always on even if empty, forcing a full line break. Disabling labels or allow

[2022-03-11 08:05] ramedina86 commented on #4491
I'm glad my research was helpful. Please go ahead with the PR @AnOctopus

[2022-03-11 09:41] santiagoferrandolopez opened #4494 "My app doesn´t show anything"
### Summary

![imagen](https://user-images.githubusercontent.com/50645104/157842023-49a8fa82-86e2-4b21-b654-fd755cfe38b2.png)

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '.

[2022-03-11 16:58] LifsaDev opened #4495 "testapp"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2022-03-11 18:41] tkmamidi opened #4497 "Typo tolerance in select/multiselect"
### Problem

Can't find options when there are typos in select, multiselect.

### Solution

Is it possible to integrate [thefuzz](https://github.com/seatgeek/thefuzz) to select, multiselect and anywhere this can apply?

---

Community voting on feature requests enables the Streamlit team to understand which features are most important to our users.

**If you'd like the Streamlit team to prioritize

[2022-03-11 22:43] #4495 closed, assigned to nobody

[2022-03-11 22:52] vdonato commented on #4494
Hi @santiagoferrandolopez,

Please see the message printed in the console output: streamlit can be invoked by running `streamlit run <filename>`.

Alternatively, you may be able to configure Spyder to run streamlit on your file as a Python module by running `python -m streamlit <filename>`. The exact configuration to do this differs from IDE to IDE, but the it should look something like the PyChar

[2022-03-11 22:52] #4494 closed, assigned to nobody

[2022-03-12 06:33] bhagesh-h opened #4498 "Streamlit IP not accessible from intranet"
### Summary

Hi, I am unable to access the app running locally on the intranet,
I tried changing ServerAddress options! but could not get it working!
I am using MobaXterm to run the app on a server and trying to access it using local browser, both, my local system and the server are on the intranet.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

The app should have loaded

[2022-03-12 09:14] tuhinmallick commented on #726
Would love to have this feature. Any updates ?

[2022-03-12 13:05] david-huck commented on #4489
I've had the same issue when trying to use

[code]

where the first line prints (among other things
[code]

And the error message shown in streamlit is:

[code]

A naive approach, renaming the column, did not help...

[2022-03-12 16:50] Doggie52 commented on #2751
Does the recent label change mean someone is working on this? Would be great to understand if it has been prioritised or if more information is needed!

[2022-03-12 21:05] mohammadameenbarech opened #4499 "Unable to import cv2"
###Error

This app has encountered an error. The original error message is redacted to prevent data leaks.

##Tried
I have tried using opencv-python headless too, but still getting this error

`File "/home/appuser/venv/lib/python3.9/site-packages/streamlit/script_runner.py", line 430, in _run_script
    exec(code, module.__dict__)
File "/app/facerecog/app3.py", line 2, in <module>
    import cv2
F

[2022-03-12 21:13] vdonato commented on #4499
Hi @mohammadameenbarech,

Sounds like you need to add `opencv-python` to a `requirements.txt` file in the root directory of your repo so that Streamlit Cloud knows to install it.

[2022-03-12 21:13] #4499 closed, assigned to nobody

[2022-03-13 09:05] mohammadameenbarech commented on #4499
I have added that to `requirements.txt` but still having this problem

[2022-03-13 15:17] RishabhSahil opened #4500 "ValueError: list.remove(x): x not in list"
### Summary

ValueError: list.remove(x): x not in list
Traceback:
### Steps to reproduce
File "/app/.heroku/python/lib/python3.9/site-packages/streamlit/script_runner.py", line 349, in _run_script
    exec(code, module.__dict__)
File "/app/app.py", line 16, in <module>
    user_list.remove('group_notification')

[code]

(Please provide a code snippet! This will help expedite us finding and solving

[2022-03-13 17:59] angousana opened #4501 "SAYS "You have view-only acess to this application""
I deleted my repo in GitHub and now I can't delete or edit or do anything to the app I created on streamlit

[2022-03-13 18:01] datadu-de opened #4502 "Additional parameters for st.map (i.e. tooltips, customization for the markers)"
### Problem

Plotting points with st.map is great, but tooltips would make it more useful - I'm plotting individual items, e.g. planes/vessels that are being tracked

### Solution

**MVP:** allow to specify a tooltip column in the dataframe, that will be displayed on hovering a point on the map

**Possible additions:** allow to specify more than one column, that is displayed in a table like struct

[2022-03-13 18:18] vr00n commented on #602
+1

[2022-03-13 20:26] hayk-skydio commented on #3944
+1 for this being important for us, as it severely limits the usefulness of `st.experimental_memo` and keeps us using `st.cache`

[2022-03-13 20:38] suaide commented on #3587
I have the same issue and it would be nice to have an option to allow text to be expanded in multiple lines

[2022-03-14 01:17] thiagorlopes commented on #1019
+1 for this awesome feature

[2022-03-14 02:14] angousana commented on #4501
Now the apps are gone after disconnecting streamlit with github

[2022-03-14 02:14] #4501 closed, assigned to nobody

[2022-03-14 07:48] StefanBrand commented on #3944
@vdonato Shall we close one of #3944 or #4417 in favour of the other?

[2022-03-14 10:05] Peter-Devine commented on #156
bump, is there any way to mitigate this problem?

[2022-03-14 15:15] silviacamplani commented on #863
+1

[2022-03-14 20:13] randyzwitch commented on #4502
Hi @datadu-de -

st.map is intended to be a convenience function around `st.pydeck_chart` to quickly get started. More complex visualizations can be done by specifying the features directly in `st.pydeck_chart`

https://deckgl.readthedocs.io/en/latest/
https://docs.streamlit.io/library/api-reference/charts/st.pydeck_chart

Best,
Randy

[2022-03-14 20:13] #4502 closed, assigned to nobody

[2022-03-14 20:16] randyzwitch commented on #4500
Hi @RishabhSahil -

This is a Python error, not a Streamlit one specifically. It's telling you that `'group_notification'` isn't in the list. You could do something like:

[code]

If you have further questions about your problem, please create a thread on our discussion forum and someone in the community will try to help:

https://discuss.streamlit.io

Best,
Randy

[2022-03-14 20:16] #4500 closed

[2022-03-14 20:18] randyzwitch commented on #4498
Hi @bhagesh-codebeast -

This appears to me to be a firewall issue, not a Streamlit one. Your remote machine needs to accept incoming connections on port 8501.

If you have further questions around this, please open a thread on our discussion forum:

https://discuss.streamlit.io

Best,
Randy

[2022-03-14 20:18] #4498 closed, assigned to nobody

[2022-03-14 20:21] randyzwitch commented on #4497
Hi @tkmamidi -

This is an interesting feature request. If we were to integrate something like this, I do think it would have to be opt-in on the developer side vs. defaulting to always on, since the downstream Python code would need to understand how to accommodate these misspellings.

Best,
Randy

[2022-03-14 21:30] vdonato commented on #3944
Ah, thanks for pointing out the similarities between these two @StefanBrand

I'll close #4417 in favor of this one since it was filed first

[2022-03-14 21:30] vdonato commented on #4417
Closing this in favor of #3944 as they seem to have the same root cause and the other ticket is older

[2022-03-14 21:30] #4417 closed, assigned to nobody

[2022-03-14 21:35] vdonato commented on #3944
For an update on the status of this: I'm aware that we have plans to move `st.experimental_{memo, singleton}` out of the experimental namespace in the near future, so I would imagine this fix will at least be scheduled to be done by the time that happens (edit: I just realized that I said exactly this in an earlier comment, whoops). I'll also raise this internally since this seems to affect the us

[2022-03-14 21:42] hayk-skydio commented on #3944
Sounds good @vdonato, just please see my analysis in the ticket - if it is correct, this might be a one liner. Otherwise I'm not understanding the point of the comment `# As a last resort, hash the output of the object's __reduce__ method `.

[2022-03-14 21:56] kmcgrady commented on #2156
We have merged 2.4.1 months ago. Closing.

[2022-03-14 21:56] #2156 closed, assigned to nobody

[2022-03-14 22:04] tkmamidi commented on #4497
I agree with you adding it as as opt-in.
I also think it doesn't necessarily have to affect downstream code as the variable for select/multiselect can only choose values from the options list. This could just be for matching typo words to words from options list during suggestions.

Best,
Tarun

[2022-03-15 01:41] jrieke commented on #4483
@anirudhmn Thx for the idea! Can I ask why / in which situation you want to do this?

[2022-03-15 14:21] Tasour opened #4508 "Does not refresh github code even if i made a push. Seems laggy"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2022-03-15 17:10] chadaeschliman commented on #2517
this is also affecting our system, anytime a user of jupyterhub opens a streamlit dashboard it breaks their jupyterlab instance

[2022-03-15 18:20] NandouLopes opened #4510 "Your app is in the oven, forever!"
### Summary
App name: nandoulopes/ypoemas/main/ypo.py
App is not deploying

### Steps to reproduce
### Is this a regression?
no

### Debug info
[manager] Python dependencies were installed from /app/ypoemas/requirements.txt using pip.
[manager] Processed dependencies!
  Stopping...
[manager] Updated app!
[manager] Pulling code changes from Github...
[manager] Processing dependencies...
[manager] P

[2022-03-15 21:04] vdonato commented on #4508
Hi @Tasour,

I would recommend making a post in [our forums](https://discuss.streamlit.io/) if you're still having this issue. We generally only track things related to the open-source library in the GitHub issues.

[2022-03-15 21:04] #4508 closed, assigned to nobody

[2022-03-15 21:28] vdonato commented on #4499
Hi @mohammadameenbarech,

I would recommend asking a question in [our forums](https://discuss.streamlit.io/) if you're still having issues.

I wasn't able to reproduce the problem when adding `opency-python-headless` (I didn't know the difference between `opencv-python` and `opencv-python-headless` when initially writing my response) to a `requirements.txt` file in one of my deployed apps.

[2022-03-16 05:37] subham27-07 commented on #4122
I think there is problem with the streamlit version, use version>==1.5

[2022-03-16 10:03] hannan402data commented on #2107
Thank you so much I just did that and it worked.

[2022-03-16 12:25] randyzwitch commented on #4510
Hi @NandouLopes -

There was an unplanned outage yesterday which has since been resolved.

Best,
Randy

[2022-03-16 12:25] #4510 closed, assigned to nobody

[2022-03-16 12:51] NandouLopes commented on #4510
Hi Randy

Got it !!!
Its working fine again.
tks for your attention

Regards,
NandoLopes
________________________________
De: Randy Zwitch ***@***.***>
Enviado: quarta-feira, 16 de março de 2022 09:25
Para: streamlit/streamlit ***@***.***>
Cc: nando_lopes ***@***.***>; Mention ***@***.***>
Assunto: Re: [streamlit/streamlit] Your app is in the oven, forever! (Issue #4510)

Hi @NandouLopes<https://g

[2022-03-16 13:12] juliosimonpedro commented on #4122
@subham27-07  Hey thanks!! I resolved the issue. <3

[2022-03-16 14:18] js-d opened #4516 "Your app is in the oven / booting"
### Summary

This issue seems similar to #4510, but it hasn't been fixed for me. One possible difference is that my repo is private?

### Steps to reproduce

Go to https://share.streamlit.io/js-d/leaderboard/main

**Expected behavior:**

The app starts and works.

**Actual behavior:**

Since an hour ago, I get the "Your app is in the oven" message.
Before that, I got the "Your app is booting" mess

[2022-03-17 03:08] durraniu commented on #2446
Hi, are there any updates on the autoplay feature? I am creating a Google maps like navigation app using streamlit. I want to autoplay messages like "In 200 meters turn right". Is there a possible workaround to make the autoplay work? Thank you.

[2022-03-17 03:27] hazeez commented on #904
+1 for this feature.

[2022-03-17 09:28] Mi-La commented on #4457
Hi,
I have quite similar problem, I also posted a topic to discuss.streamlit.io but I got no answers.

[code]

When the “main” checkbox is unchecked, the script is re-runs and the “another” checkbox is not rendered at all. But in that time the “another” key is present in st.session_state.

Then, after checking the “main” checkbox again, the “another” key is not present in the st.session_state anym

[2022-03-17 14:19] GregVial opened #4519 "Unexpected behaviour of showErrorDetails = false"
### Summary

When setting showErrorDetails to false, the stack is displayed.

### Steps to reproduce

Code snippet:

**main.py**
[code]

**config.toml**
[code]

**Expected behavior:**

When setting showErrorDetails to false, I would expect no trace to be displayed, only a generic error message.

**Actual behavior:**

showErrorDetails = false
This is the error message, followed by full trace:

Trac

[2022-03-17 15:07] tchaton commented on #4391
Any updates ... ?

[2022-03-17 15:31] kajarenc commented on #4489
Thank you @felp99 and @david-huck !

We were able to reproduce the issue and can confirm that the bug exists.

The minimal code snippet that I used for verification is this:

[code]
As a workaround for now you can use

`dataFrameSerialization = "legacy"`

config option to switch to a legacy way of data frame serialization.
I checked it and with `dataFrameSerialization = "legacy"` it works for time

[2022-03-17 16:10] tarnjotbains commented on #313
@u-masao
Would it be possible to replicate this functionality in the newest version of streamlit?
They got rid of the reports.py file

[2022-03-17 16:37] kajarenc commented on #4516
We've had some issues with the clouds lately, but they've already been resolved.

could you restart the app from the cloud dashboard?

In case app continues to not work, let us know under this issue, we will contact the cloud developers

thanks!

[2022-03-17 16:48] js-d commented on #4516
I rebooted it this morning and it works now.

[2022-03-17 16:48] #4516 closed, assigned to nobody

[2022-03-18 00:51] u-masao commented on #313
@tarnjotbains
Thanks for your trying.
Newer version supports here.

https://github.com/u-masao/streamlit/compare/develop...feature/add-https-support

Filename changed: reports.py ---> session_data.py

Use it like this. --> https://github.com/streamlit/streamlit/issues/313#issuecomment-1045970304

[2022-03-18 10:24] Alok-joseph opened #4522 "streamlit project is not showing up any result on the page"
### Summary

this is my first time using streamlit
streamlit project is not showing up any result on the page its just blank as shown below

![screenshot](https://user-images.githubusercontent.com/98444143/158984637-23963984-352b-48c8-8b2e-f2413f1fd581.png)

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

it should show my first app as the title of the page
**Actual behavior

[2022-03-18 14:45] jrieke opened #4523 "st.balloons triggers too often"
### Summary

If an app uses `st.balloons`, the balloons sometimes go up even if they shouldn't.

### Steps to reproduce

Code snippet:

[code]

1. Click on the button. Ballons go up, that's correct!
2. Click on + or - of the number input. Balloons go up for a split second but are stopped. They shouldn't go up at all!

Not sure if this also happens for other widgets besides number_input.

Video:

h

[2022-03-18 16:15] josiahcoad commented on #863
+1

[2022-03-18 17:37] tarnjotbains commented on #313
@u-masao
Thank you very much! Really appreciate this!

[2022-03-18 18:20] pat-mw commented on #299
OP, any luck with this?

[2022-03-18 18:21] pat-mw commented on #1081
Please reopen .

[2022-03-18 21:24] vdonato commented on #4522
Hi @Alok-joseph, could you share how you're running streamlit?

[2022-03-19 00:53] delulu3i4 commented on #4389
@jrieke curious is it seeming likely memo/singleton likely going to become more long running features, potentially moving to beta soon?

[2022-03-19 00:59] Javier-Jimenez99 commented on #3864
I would like to see a component that is a tooltip its self, something like `st.tooltip`. It would allow to use tooltips for markdowns, headers, metrics, tables, charts...

[2022-03-19 02:34] dwiel commented on #299
not really, the solution I have in place now is to use `st.empty()` to generate a placeholder, and then update it with new elements, replacing the old. For example:

[code]

[2022-03-19 10:48] Alok-joseph commented on #4522
@vdonato
I am  running streamlit without any virtual environment .  this  issue started when I installed pipenv for running streamlit as the doc said you need a virtual environment . before installing pipenv I didn't  had this issue
I  had no issue running `streamlit hello`
or any other streamlit commands

[2022-03-20 11:20] Plorred opened #4528 "CV2 frames"
Hi, im trying to display predicted cv2 frame in streamlit but getting very low fps
For better explaining i uploaded the video https://youtu.be/nezNZU2lkdA
The code is here:
`

    cap = cv2.VideoCapture('video.mp4')
    FRAME_WINDOW = st.image([])
    while cap.isOpened():
        ret, frame = cap.read()
        width  = int(cap.get(cv2.CAP_PROP_FRAME_WIDTH))
        height = int(cap.get(cv2.CAP_P

[2022-03-20 17:27] tyrin opened #4529 "Plotly Histogram example from documentation doesn't work"
### Summary

Chart documented on this page: https://docs.streamlit.io/library/api-reference/charts/st.plotly_chart doesn't render. Instead you get a blank screen with no errors.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1.

[2022-03-20 17:29] tyrin commented on #4529
If I had to guess, I'd guess it's an issue with figure factory, since I've built other plotly scatter graphs. For those I created a figure and wrote it to an HTML file and then read it in. But that isn't working properly for the histograms. If I had to guess at a second culprit, it would be the general issues you have with plotly express that required the workaround for the scatter graphs.

[2022-03-21 06:18] snehankekre commented on #4529
Hi @tyrin, :wave:

Thanks for reporting this issue. What version of Plotly are you using? The example from the docs works as expected for me for Plotly version 5.1.0 through the latest 5.6.0. I'm unable to reproduce the "blank screen" behavior you've observed.

E.g. Here's the [embedded app](https://share.streamlit.io/streamlit/docs/main/python/api-examples-source/charts.plotly_chart.py) used in t

[2022-03-21 08:28] cmayoracurzio commented on #1291
Hi everyone,

First of all, I can't thank you enough @andfanilo @brunomsantiago for sharing this here. Super helpful!

I had a question regarding how to select a specific Streamlit selectbox (st.selectbox).

In the example below, the Enter key press triggers a `querySelector` which clicks on the **first** st.selectbox it finds. Do you know how to select a **specific st.selectbox instead (or select

[2022-03-21 10:54] andfanilo commented on #1291
Hey @marduk2

`.querySelector` returns the [first element it finds](https://developer.mozilla.org/en-US/docs/Web/API/Document/querySelector).  If you use `.querySelectorAll('.stSelectbox div[data-baseweb="select"]')` you should get all selectboxes as an [array of elements](https://developer.mozilla.org/en-US/docs/Web/API/Document/querySelectorAll). Then have a look again at the initial answer:

so

[2022-03-21 11:41] cmayoracurzio commented on #1291
Thanks a lot @andfanilo ! Super appreciated! Your answer got me 99% there so I managed to make it work like this:

**To select all selectboxes (note the use of "> div"):**

`allSelectBoxes = doc.querySelectorAll('.stSelectbox div[data-baseweb="select"] > div');`

**To then click on the last one (note the use of .length):**

`allSelectBoxes[allSelectBoxes.length - 1].click();
`

**And here the enti

[2022-03-21 11:59] AvivWn commented on #3343
What about this issue? Any fix?
Did you find any hack to solve it for the meantime?
@kmcgrady @treuille

[2022-03-21 12:40] randyzwitch commented on #4528
Hi @Plorred -

The GitHub issues tracker is for bugs specifically related to Streamlit. Please visit our discussion forum, which has numerous threads about opencv

https://discuss.streamlit.io/search?expanded=true&q=cv2

Best,
Randy

[2022-03-21 12:40] #4528 closed, assigned to nobody

[2022-03-21 15:34] H4dr1en opened #4530 "Forms with expander functionality"
### Problem

I was using expanders because I had long sections of parameters that I wanted the user to be able to hide (by folding).
I found forms and I also would like to use them for the same sections of parameters, because they would speed up my app (because the user would go through all the parameters and apply them all at the end). But the form isn't foldable as the expander is.

EDIT: This f

[2022-03-21 15:39] H4dr1en opened #4531 "Expander inside Form raises `Missing Submit Button`"
### Summary

`st.expander` inside `st.form` raises `Missing Submit Button` when folded

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

No bug

**Actual behavior:**

The following error is raised:
[code]

### Is this a regression?

That is, did this use to work the way you expected in the past?
No

### Debug info

- Streamlit version: (get it with `$ streamlit version`) 1.7.

[2022-03-21 17:44] tyrin commented on #4529
I was working locally without a requirements.txt file. (if that helps)
These are the versions I'm on:
altair==4.2.0
streamlit==1.5.0
networkx==2.5
matplotlib==3.3.4
pyvis==0.1.9
numpy==1.20.1
seaborn==0.11.1
streamlit==1.5.0
plotly==5.6.0
numpy==1.20.1
pandas==1.2.4
plotly_express==0.4.1

On Mon, Mar 21, 2022 at 2:18 AM Snehan Kekre ***@***.***>
wrote:

--

<https://smart.salesforce.com/sig/tavery

[2022-03-21 23:06] vivien000 commented on #1085
[st-click-detector](https://github.com/vivien000/st-click-detector) and [st-clickable-images](https://github.com/vivien000/st-clickable-images) can be used as workarounds for this feature.

[2022-03-21 23:43] vdonato commented on #4464
Closing due to inactivity

[2022-03-21 23:43] #4464 closed, assigned to nobody

[2022-03-21 23:44] vdonato commented on #4475
Closing due to inactivity / the bug report being unactionable

[2022-03-21 23:44] #4475 closed, assigned to nobody

[2022-03-21 23:45] vdonato commented on #4476
Closing due to inactivity + `st.experimental_memo` being useable for caching dataframes / in the long term a total replacement for `st.cache`

[2022-03-21 23:45] #4476 closed, assigned to nobody

[2022-03-21 23:50] vdonato commented on #4522
Thanks @Alok-joseph,

Are you able to provide a list of installation / environment setup steps that allows the issue to be reproduced?

This seems to be more likely to be an environment issue than a bug with streamlit itself, but unfortunately I don't believe I have enough information to assist further.

[2022-03-22 03:54] Alok-joseph commented on #4522
@vdonato
Thanks for the reply
I think I will reinstall the environment and streamlit  and reply back if there is any problem

[2022-03-22 04:36] snehankekre commented on #4529
This beats me :sweat_smile: I'm unable to repro the behavior and will wait for others to weigh in here.

[2022-03-22 09:33] colme99 opened #4533 "graphviz_chart does not show any figure"
### Summary

graphviz_chart() function does not show any figure, with neither of the two examples from the [documentation](https://docs.streamlit.io/library/api-reference/charts/st.graphviz_chart#stgraphviz_chart). I've seen two other related issues, but they don't seem to help.

### Steps to reproduce

Code snippet:

[code]

### Debug info

- Streamlit version: 1.7.0 (also tried with 1.3.0, 1.4.0

[2022-03-22 11:33] ThiruSudha commented on #2058
st.markdown(
    """
    <style>
    [data-testid="stSidebar"][aria-expanded="true"] > div:first-child {
        width: 500px;
    }
    [data-testid="stSidebar"][aria-expanded="false"] > div:first-child {
        width: 500px;
        margin-left: -500px;
    }
    </style>
    """,
    unsafe_allow_html=True
)

[2022-03-22 12:21] Valahaar opened #4534 "HTML tags inside <code> get corrupted since v1.5.0"
### Summary

Nesting an HTML tag inside a `<code>` tag results in `,[object Object],` being displayed.

### Steps to reproduce

Code snippet:

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/streamlit_badge_black_white.svg)](https://issues.streamlitapp.com/?issue=gh-4534)

[code]

output:

[code]

whereas the correct behavior should output `test hello` with "test" in red.

### Is th

[2022-03-22 13:31] andfanilo commented on #4529
No errors on my side either..._(as an aside you shouldn't need the plotly_express requirement anymore as it's natively integrated in plotly 4+, but that shouldn't have an impact on your error)_

If you open the console of your web inspector in your browser, do you see any plotly errors?

[2022-03-22 13:35] aaossa commented on #3028
Hi, any updates on this? This issue already had a PR (#3640) partially solving the problem but it went stale waiting for the product team I think. Is this on the works? Does it require a new PR? Is it only a mater of time? Thanks!

**EDIT:** Just noticed that the PR **partially** solved the problem, because there are changes that need to be applied (and a message that must be passed) to the fronte

[2022-03-22 13:37] andfanilo commented on #4533
Hello @colme99,

Thanks for reporting. I can't seem to reproduce your issue, it works correctly on my side + on the documentation page :/
- If you open the web inspector of your browser, in the Console tab, do you see any red logs?
- What dependencies, especially the version of graphviz, are installed in your conda environment?

Have a nice day,
Fanilo

[2022-03-22 16:14] colme99 commented on #4533
Thanks,

When I installed Graphviz it said version 0.19.1, but when I do 'conda list', the version of Graphviz is 2.38.

I've got the following errors in the browser inspector:

- Refused to execute script from '/vendor/viz/viz-1.8.0.min.js' because its MIME type ('text/plain') is not executable

- Uncaught DOMException: Failed to execute 'importScripts' on 'WorkerGlobalScope': The script at '/ven

[2022-03-22 16:39] ibnesayeed opened #4535 "Slider tooltips with two values overlap"
### Summary

When a range slider is used with two large values and the ticks are dragged closer, the values in the tooltips overlap.

@RoboDonut reported this issue in #3555, which was already closed after fixing a similar issue for only one slider value.

![](https://user-images.githubusercontent.com/2329256/153504428-3acb322a-9417-421e-9568-365b06c717f7.gif)

### Steps to reproduce

Code snippet

[2022-03-22 17:49] colme99 commented on #4533
![image](https://user-images.githubusercontent.com/48554171/159543704-75c5ca80-00e7-43bb-beaa-d3d4e3275eb6.png)
This is a screenshot of my regex

[2022-03-22 18:00] tyrin commented on #4529
Well, I got it to work - and here the weird thing - I had it inside a main function. Took it out of the main function and it worked. Weird weird weird.

[2022-03-22 22:00] #2378 closed, assigned to vdonato

[2022-03-22 22:29] Adam-Antios opened #4536 "Overlapping floating message with ugly container."
When you change the source file of a project then the container of the floating message "Source file changed" along with the buttons "Rerun" and "Always rerun" overlap in an ugly manner as you can see in the following image. The same thing happens with the "Running" message.

![img](https://user-images.githubusercontent.com/17729838/159586819-ab611b22-df23-4776-80ab-6313c241020e.png)

[2022-03-23 03:01] gerardrbentley commented on #4094
Here's a reproducible example with a different Arrow serialization error (on `Path` objects  [Arrow JIRA ticket](https://issues.apache.org/jira/browse/ARROW-8017))

[code]

[code]

Seems like this has a workaround [in streamlit](https://github.com/streamlit/streamlit/blob/2c153aa179a27539f856e389870161d5a58da213/lib/streamlit/type_util.py#L384) for `np.dtype` entries. References a different Arrow

[2022-03-23 03:16] crxi opened #4538 "Sliders with default range value initialized using "sessionstate" becomes single value"
### Summary

I created two sliders with default range values. Slider X uses the "sessionstate" pattern (only setting "key"); Slider Y uses both "value" and "key" (without explicitly setting "sessionstate"). The first slider loses its range value when it is clicked and becomes a single value.

### Steps to reproduce

Code snippet:
[code]

If applicable, please provide the steps we should take to re

[2022-03-23 06:30] gerardrbentley commented on #439
**EDIT:** Feel free to code roast. Got a dynamic solution working locally but it's not fully thought out.
- In Server maintain a dictionary mapping routes to callbacks
- Provide a helper function to register callbacks to the map
- Call known handler callback with request args if found. Otherwise return default handler / error

[code]

[code]

If people have to use classes this could work with `sin

[2022-03-23 06:51] andfanilo commented on #4533
Hmmm I think we got hit by this once.

Can you try to follow [this thread](https://github.com/streamlit/docs/issues/90#issuecomment-611643501) ?

[2022-03-23 08:41] Alernst commented on #904
+1

[2022-03-23 10:50] AxelArturin opened #4539 "Save logs to a text file, as a parameter in the config.toml"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

Is your feature request related to a problem? Please describe the problem here. Ex. I'm always frustrated when [...]

I'm not entirely satisfied with how we can save the log output in a .log file.
To store log

[2022-03-23 14:02] rcutler-ursa opened #4540 "Multiple sliders with the same key but different labels do not cause error"
### Summary

Making multiple sliders with the same key, but different labels, results in only one slider value in `session_state` (and does not cause an error). Making multiple sliders with the same key and same label causes an error (this is expected behavior).

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

An error should occur.

**Actual behavior:**

No error occurs.  A

[2022-03-23 14:21] H4dr1en opened #4541 "Slider reruns on mouse release rather than value change"
### Problem

My app tends to lag when using sliders, because the reruns are too fast. I'd like the app to only rerun on the mouse release, rather than on the value change. Using a form isn't optimal because it requires the user to press an extra button (submit) after each change on the slider.

### Solution

**MVP:** Add an extra parameter to `st.slider`, eg. `onMouseRelease` (False by default) to

[2022-03-23 15:35] wenig commented on #904
+1

[2022-03-23 20:55] benlindsay commented on #732
@PiotrCzapla is there a non "legacy" way to clear the cache now?

[2022-03-23 21:46] wkrettek opened #4542 "InternalHashError: [Errno 2] No such file or directory: '<stderr>'"
I tried printing some text using `print("Error text", file=sys.stderr)` inside of the function that gets called inside `with container:` and it appears streamlit did not know how to hash it.

[2022-03-24 00:28] aghasemi commented on #439
This looks like a very good solution. I hope it is implemented, at least as experimental, in one of the near future releases, as it is not trivial and sustainable to change package source for every new version :-/ (Can we do that _patching_ somehow at the beginning of the streamlit script itself and temporarily)

[2022-03-24 06:06] wkrettek opened #4543 "streamlit.state.session_state: Session state does not function when running a script without `streamlit run`"
### Summary

I'm getting this error when trying to use the session_state functionality. I get this error even when using streamlit run file.py from the command line. Sometimes, if I rerun the source after changing it (after booting from a file that doesn't use session_state functionality) it will work fine.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will h

[2022-03-24 09:37] PiotrCzapla commented on #732
@benlindsay  they changed api for caching. So the old @cache is being cleard with legacy ... module. The new memo and singleton has their own clear methods
`st.experimental_memo.clear()`
https://docs.streamlit.io/library/api-reference/performance/st.experimental_memo.clear

and
`st.experimental_singleton.clear()`
https://docs.streamlit.io/library/api-reference/performance/st.experimental_singleton

[2022-03-24 13:31] jgwinnup commented on #1662
I'd also be interested in this enhancement

[2022-03-24 21:05] cye18 commented on #3132
I found a way that works: https://github.com/pdm-project/pdm/issues/989#issuecomment-1078293607. Hopefully it's not only for me, but for everyone.

Actually PDM is getting more and more popular recently. It would be great if it could be supported officially.

[2022-03-24 21:12] randyzwitch commented on #3132
It looks like @AnOctopus is an enthusiast and is working towards this:

https://github.com/pdm-project/pdm/issues/972

I'll re-open, so everyone can be aware that its been requested.

[2022-03-25 07:28] Hveemos commented on #4058
There is a couple of issues connected to 'arrow' and it's ability to handle different dtypes. Currently I'm using the work around, i.e. setting my config option to 'legacy', I'm wondering if this is on anyone's "to-do-list" or if I should give up the wait and recode my app if I want to be able to use 'arrow' in Streamlit? @vdonato

[2022-03-25 12:57] kkpsiren commented on #3052
Any updates?

[2022-03-25 13:42] domoritz commented on #4058
What's the issue with arrow? Is streamlit already on arrow 7? I'm the maintainer of Vega-Lite and arrow so if there are issues, I'm happy to help facilitate pull requests and fixes.

[2022-03-25 19:53] dhiego22 opened #4549 "InternalHashError: Cell is empty"
### Summary

While caching the body of motif_df(), Streamlit encountered an object of type builtins.function, which it does not know how to hash.

In this specific case, it's very likely you found a Streamlit bug so please [file a bug report here.] (https://github.com/streamlit/streamlit/issues/new/choose)
### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will hel

[2022-03-26 10:05] ahmedshahriar commented on #3601
I was stuck with a similar problem, thank you @kinghuang 😀👍

[2022-03-26 10:34] crxi commented on #4458
+1 to this too.

There is a workaround using the "on_change" function and persisting the states in a dictionary in session_state (ref: https://github.com/streamlit/streamlit/issues/3925).

I have re-worked the idea a bit. Here is a multipage streamlit app with persistent state:
https://share.streamlit.io/crxi/multipage_streamlit/main/example/demo/app.py

Code is at https://github.com/crxi/multipag

[2022-03-26 11:37] sangharshit358 opened #4550 "when i am upgrade to stream letest version i got following error"
![IMG_20220326_170347](https://user-images.githubusercontent.com/96471643/160237660-d2f324bd-a483-44ae-834d-b9779047a334.jpg)

[2022-03-26 12:16] okld commented on #4458
This is an issue with native Streamlit widgets, discussed here as well: https://github.com/streamlit/streamlit/issues/4338

I used a slightly different approach to retain state with persistence without using on_change, thus working with custom components that don't have an on_change parameter, and also allowing you to pass callbacks on native streamlit widgets if you need to: https://github.com/st

[2022-03-26 12:23] okld commented on #3925
If interested, here's a slightly different solution not relying on `on_change`, allowing you to use your own callbacks, and working on custom components that don't have a `on_change` parameter: https://github.com/streamlit/streamlit/issues/4338#issuecomment-1059519626

[2022-03-26 15:18] sugatoray commented on #4535
What if the labels are given an opaque background dynamically, such that the label of the end of the slider that is currently being dragged stays visible (hides the other label under its background until you click on the other end yo make that visible)?

[2022-03-26 21:50] ahmedshahriar commented on #371
Any update?

[2022-03-27 04:42] RoboDonut commented on #4535
What about updating the lower label and drop the top label? You could add in a slightly smaller label above the current value for min max (like current label)

[2022-03-27 15:24] colme99 commented on #4533
If I run _python -c "import mimetypes; print (mimetypes.guess_type('lunr.js'))"_ it returns _('text/plain', None)_

I've tried [this](https://stackoverflow.com/a/3452261) , but I don't know how to fix it because .js is already created

[2022-03-28 02:56] aakhmetz opened #4551 "Unnecessary conversion to the int type for dataframe columns does not allow to display the dataframe"
When I try to show the dataframe either by ```st.dataframe``` and ```st.table``` and one of the columns is of type object, I get the error:
[code]
or
[code]

In my code, I do not convert that column to the "int" type and keep it as string. But the streamlit tries to convert it without any reason and simply does not allow to show the dataframe

[2022-03-28 09:57] knutwannheden opened #4553 "Rerun on each new keystroke in `st.text_input`"
### Problem

I wanted to create a Streamlit application which has an input text field which immediately responds to user input, e.g. like the Google search field does. Something like this:

[code]

### Solution

I couldn't find any way to achieve this with Streamlit. I think what would be necessary is a new type of `on_input` callback or similar.

Further, I think it would make sense to have a kwa

[2022-03-28 13:57] #4529 closed, assigned to nobody

[2022-03-28 20:44] changhoon-sung opened #4555 "click.get_os_args is deprecated on module 'click 8.1.0'"
### Summary

`AttributeError: module 'click' has no attribute 'get_os_args'` occured because click.get_os_args deprecated on module `click 8.1.0`

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

[Welcome to Streamlit] should be appeared.

**Actual behavior:**

`AttributeError: module 'click' has no attribute 'get_os_args'`

### Is this a regression?

That is, did this use to

[2022-03-28 22:26] AnOctopus commented on #3132
That workaround gives me a very good idea about the source of the problem. We automatically set development mode by trying to detect how streamlit was installed, and I suspect being installed into `__pypackages__` breaks our heuristics for that. Should be relatively easy to fix.

[2022-03-28 23:06] cye18 commented on #3132
@AnOctopus Thanks for the reply! Glad it helps. I realized the workaround is not ideal since with `--global.developmentMode false`, I'm not able to see live updates when I modify the code. I have to stop and relaunch the app to reflect the update. Hopefully in the future `pdm run streamlit run app.py` could simply work. 😆

[2022-03-29 00:15] vdonato commented on #4522
Thanks @Alok-joseph,

I'll close this for now, but we can reopen the bug if you're able to come up with a reproducible way of triggering the bug that looks like it's an issue not related to environment setup.

[2022-03-29 00:15] #4522 closed

[2022-03-29 00:19] vdonato commented on #4486
Hi @lisrael1,

I'm going to close this as it seems like an issue with permissions on the PC rather than an issue with streamlit itself.

I also don't believe that catching `PermissionError` on that line of code would be a real solution given that the reason `FileNotFoundError`s are caught is that sometimes there's a race between a file being deleted and readded by some editors that actually delete

[2022-03-29 00:19] #4486 closed, assigned to nobody

[2022-03-29 00:40] vdonato commented on #4478
Hi @codebraker,

Does the problem persist when using your organization's proxy server if you try to display emoji shortcodes in a local/deployed app rather than use the emoji shortcodes demo app?

[2022-03-29 00:47] vdonato commented on #4551
Hi @aakhmetz, could you provide a code snippet that minimally reproduces the bug?

[2022-03-29 00:48] vdonato commented on #4550
Hi @sangharshit358, could you provide a code snippet that minimally reproduces the bug?

[2022-03-29 00:52] vdonato commented on #4549
Hi @dhiego22, have you tried swapping out `@st.cache` for `@st.experimental_memo` or `@st.experimental_singleton`? (See our [blog post on these new caching primitives](https://blog.streamlit.io/new-experimental-primitives-for-caching/) for some info on them.)

Bugs of this form are a known `@st.cache` issue, but we're hoping to deprecate it in favor of the new primitives (which we hope to move out

[2022-03-29 00:57] vdonato commented on #4543
Hi @wkrettek, could you provide a bit more info on exactly how to trigger this bug? I'm unable to reproduce any issue with the code snippet provided

[2022-03-29 01:00] vdonato commented on #4542
Hi @wkrettek, could you provide a bit more info on exactly how to trigger this bug? A minimal code snippet that runs into the issue would be ideal

[2022-03-29 01:10] vdonato commented on #4277
Hi @blackravensail,

I'd recommend trying out `@st.experimental_memo` here. We're soon planning on deprecating `@st.cache` in favor of it and thus aren't actively working to address most `@st.cache` bugs. (I tried swapping one for the other in the code snippet provided, and it seems to run without error.)

[2022-03-29 01:10] #4277 closed, assigned to nobody

[2022-03-29 01:15] vdonato commented on #4536
Hi @Adam-Antios, thanks for reporting this. We recently made some design changes to the header area in https://github.com/streamlit/streamlit/pull/4496 that I believe should have solved these visual papercuts, so I'll close this issue.

[2022-03-29 01:15] #4536 closed, assigned to nobody

[2022-03-29 01:30] vdonato commented on #4490
Hi @Shraman-jain,

Are you able to provide a minimal app that runs into the same issue when deployed on Streamlit Cloud?

[2022-03-29 01:32] vdonato commented on #4519
Hi @GregVial,

I believe this behavior was intentional (with the rationale that the vast majority of the time, sensitive data doesn't appear in the traceback aside from its main error message), but I can see why this behavior can be a bit weird (and also I don't think the traceback is guaranteed not to have sensitive information, it's just uncommon).

I'll loop our product team into this so that w

[2022-03-29 05:33] marcoloco23 commented on #4555
pip install -U click==8 worked for me

[2022-03-29 07:54] Arpan-dev commented on #4555
thnks bro <3

[2022-03-29 08:08] GregVial commented on #4519
Hello @vdonato @jrieke

Thanks for handling this.
I don't think displaying the trace it is expected behaviour. When the feature was added (see https://github.com/streamlit/streamlit/pull/2770), it clearly says "uncaught exceptions in a Streamlit app will result in a generic "Something went wrong!" warning in the browser, rather than the exception and its traceback".
So the traceback should be hidd

[2022-03-29 08:52] craigreddico commented on #4555
Same - working app now showing this error. Updating the requirements.txt with the above doesn't work for me in Streamlits cloud version (all fine locally)

[2022-03-29 09:17] YogeshRaje opened #4561 "ImportError: DLL load failed while importing _arpack: The specified procedure could not be found."
ImportError: DLL load failed while importing _arpack: The specified procedure could not be found.
Traceback:
File "C:\Users\Hp\AppData\Roaming\Python\Python38\site-packages\streamlit\script_runner.py", line 430, in _run_script
    exec(code, module.__dict__)
File "C:\Users\Hp\Desktop\sdemo\app.py", line 12, in <module>
    model = pickle.load(open('model.pkl','rb'))
File "c:\users\hp\anaconda3\lib

[2022-03-29 09:19] Oreolorun commented on #4555
Hi Craig.

Had the same issue and setting click==8 worked on this end.

[2022-03-29 10:53] ahtokca opened #4562 "ModuleNotFoundError: No module named 'streamlit.script_run_context' (backward compatibility issue in 1.8.0)"
### Summary
After upgrading to 1.8.0 I got `ModuleNotFoundError: No module named 'streamlit.script_run_context' `
the module `streamlit.script_run_context` is renamed to `streamlit.scriptrunner`.
The change is not marked as 'breaking change', migration path is missing

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

Semantic versioning major part is used for breaking changes

[2022-03-29 12:47] giswqs commented on #4555
Just encountered the same issue.

[2022-03-29 13:15] Arpan-dev commented on #4555
those who are facing the same issue just create  a requirements.txt file and paste click==8  .. then push heroku master again

[2022-03-29 14:37] nicornk commented on #4562
We are using `get_script_run_ctx` to retrieve the http headers.

Could you please rollback this breaking change?

[2022-03-29 16:40] AnOctopus commented on #4562
`script_run_context` is internal, not part of our public api (we don't export it from the main streamlit module), so we don't consider this a breaking change for the purposes of semver.

[2022-03-29 16:57] IMG-5 opened #4564 "External URL does not work over the internet"
My Streamlit app does work on the localhost and on other computers connected to the same network.

However, I cannot access the app from another network using the external URL (see below), i.e., over the internet. I turned off the firewalls on both machine and it still does not work. I tried using both Windows laptop and MacBook Pro and the problem still persists. I appreciate your support.

strea

[2022-03-29 17:49] tconkling commented on #4562
Hi @ahtokca and @nicornk - sorry for the trouble!

As AnOctopus notes, `script_run_context` is an internal implementation detail. We frequently refactor parts of Streamlit's internals to fix bugs, improve performance, and add new features; we're not able to maintain backwards compatibility for non-public APIs.

I know this can be frustrating! There are a couple of options here: the quickest fix is

[2022-03-29 17:49] #4562 closed, assigned to nobody

[2022-03-29 18:17] aakhmetz commented on #4555
Even when you deploy the app, it writes this error

[2022-03-29 22:44] vdonato commented on #4564
Hi @Ibrahim5555555,

I would recommend that you ask this question in [our community forums](https://discuss.streamlit.io/), as the issue that you're running into is highly likely to be a networking or configuration issue rather than an issue with streamlit itself.

[2022-03-29 22:44] #4564 closed, assigned to nobody

[2022-03-29 22:48] vdonato commented on #4561
Hi @YogeshRaje,

Looking at the stacktrace of your error, it seems like this is an issue that `scipy` is hitting and not streamlit.

[2022-03-29 22:48] #4561 closed, assigned to nobody

[2022-03-30 01:30] kazuya86 commented on #4382
I have faced same issue and reach out this page now. Do we have a solution now?

[2022-03-30 10:29] crxi commented on #4458
I really like your approach! But I can't quite get it to work as-is in my app. Probably it is because my pages span across multiple modules.

Anyway, I am very inspired by your idea and have re-implemented my solution at https://github.com/crxi/multipage_streamlit. The new API for "State" is now nicer than my first version.

Overall usage pattern:
- call `state = State(__name__)` at the start (to

[2022-03-30 11:30] tarmojuristo commented on #4489
I had the same problem with `timedelta64[ns]` value in dataframe resulting in `Error: Unrecognized type: "Duration" (18)`

However, changing `dataFrameSerialization = "legacy"` did not solve my problem, I got `NotImplementedError: Dtype category not understood` instead.

[2022-03-30 13:39] nicornk commented on #4562
@tconkling I totally understand your reasoning.
As a user I can just give you again the feedback that there is the need for a public streamlit API to access the http request headers from the current session. Is there any way you could consider that as a feature request?

[2022-03-30 15:56] AntonisCSt commented on #4555
Did not encounter this before. Putting in the requirments.txt click==8 worked also!

[2022-03-30 16:04] rebeccaatchristus commented on #4562
We're using this module internally as well and support adding it to the public API.

[2022-03-30 17:16] AEB26B commented on #4562
We also use the request headers for user verification on our dashboards and would dearly love this implemented as a feature.

[2022-03-30 17:20] vbabaria opened #4567 "Integration with Flask - render simple Streamlit component on Flask or Fast API"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

Streamlit is great library.
However current version doesn't seem to be compatible with Flask since streamlit runs on tornado. Is it possible to run streamlit through Flask or Fast API bypassing tornado server?

[2022-03-30 19:05] thinklm commented on #3052
Any updates? Really need this haha

[2022-03-30 20:59] jrieke commented on #3052
Hey all! We'll be working on layout options this summer and we definitely want to improve support for alignment. Don't know yet in detail how it will work, but we are all very aware of the pain to align things inside of columns! ;)

[2022-03-30 23:49] #3807 closed, assigned to vdonato

[2022-03-30 23:50] #4318 closed, assigned to vdonato

[2022-03-31 00:19] cameron-jack opened #4573 "Seaborn plots"
### Problem

It would be great to support embedding Seaborn plots - this is a Python module that works with Pandas and emulates the capabilities of R's excellent ggplot2 library. It's a very high quality plotting library.

### Solution

**MVP:** Some usable subset of Seaborn plots

**Possible additions:** Seaborn already works with Pandas, so there may be commonalities that can be taken advantage

[2022-03-31 00:28] vdonato commented on #4555
Closing as this was fixed in yesterday's 1.8.1 release.

Note that the temporary fix in the patch is to simply pin the `click` version to <8.1, but we're also working to rewrite the code relying on the breaking change so that the upper bound on the version can be removed.

[2022-03-31 00:28] #4555 closed, assigned to nobody

[2022-03-31 08:00] andfanilo commented on #4573
Hello @cameron-jack,

What kind of tight integration do you expect? Since Seaborn is a Matplotlib based library, you can extract the Matplotlib Figure Seaborn has drawn on and display it on Streamlit with `st.pyplot`.

I got a full [video](https://www.youtube.com/watch?v=Iui04c3tbH8) on this and sample code:

[code]

Have a nice day,
Fanilo 🎈

[2022-03-31 08:49] jkneer commented on #4319
@vdonato is this issue also fixed by #4527 ?

[2022-03-31 09:13] rubenverhack opened #4576 "streamlit's webserver not working when using BAZEL for installation bug"
### Summary

Related to https://github.com/streamlit/streamlit/issues/3132 .

An internal check to see if streamlit is running in development mode or not. This checks if some strings are present in the script's file path. This check is not valid for other installation types, e.g. bazel.

The script path in a bazel build is for example:
`/home/{user}/.cache/bazel/_bazel_{user}/b775940771a888524b9ee

[2022-03-31 09:19] rubenverhack commented on #4576
Just wanted to add that I'm new to streamlit and I'm not sure if developmentMode is useful in any way. The main issue was that I would get a "connection refused" at port 3000 (where it was opening automatically) and a "404 Not Found" if I manually went to localhost:8501.

[2022-03-31 13:17] breinbaas commented on #3379
Any progress? voting this up because it is something a UI needs quite often and it is much prettier than a selectbox

[2022-03-31 22:14] bloukanov opened #4579 "st.write and st.markdown showing up in red and italics"
### Summary

Whenever I have 2 '$' characters in a line of text, unexpected things begin to happen.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

'$' characters should not affect the display of the text, because I cannot quote two dollar amounts in a single expression.

**Actual behavior:**

They do

### Is this a regression?

Not sure

### Debug info

- Streamlit version

[2022-03-31 23:26] cameron-jack commented on #4573
@andfanilo This is brilliant! Thanks very much for your example. I don't know why anyone felt the need to make a state-based matplotlib either.

[2022-03-31 23:26] #4573 closed, assigned to nobody

[2022-04-01 02:12] arogozhnikov commented on #1567
+1 to this issue, also concerned that all files should be kept in the memory

I think security concerns are easy to overcome by providing hash-based names and remembering mapping to file in streamlit.

[2022-04-01 02:50] crxi commented on #4579
Hi @bloukanov,

The $-pair has special meaning in markdown. It is meant for LaTeX.

[code]
In Chrome, right click on the page, select Inspect and you will find this:
[code]

The red comes from **color: rgb(204, 0, 0)**. It is meant to inform you that your LaTeX line has errors.

[2022-04-01 03:04] crxi commented on #4553
Hi @knutwannheden,

Regarding `on_change ` callback, I think using `session_state ` for the input value is indeed how it is meant to be used according to: https://blog.streamlit.io/session-state-for-streamlit/

Currently, you can use args and kwargs to pass in other data (other than the input) to your callback.

[code]

[2022-04-01 05:47] mAch17 commented on #1584
Hi,

This problem emerged for me in production today.  The same codebase has been running for over 6 months and the streamlit version has been constant.
The deployment runs streamlit within docker.

library version :
streamlit==0.87.0

Error log :

  File "/usr/local/lib/python3.8/site-packages/streamlit/script_runner.py", line 172, in _process_request_queue
    self._run_script(data)
  File "/usr

[2022-04-01 05:51] mAch17 opened #4580 "Streamlit assuming sudo available in docker"
Hi,

This [problem] ( https://github.com/streamlit/streamlit/issues/1584 ) emerged for me in production today.  The same codebase has been running for over 6 months and the streamlit version has been constant.
The deployment runs streamlit within docker.

library version :
streamlit==0.87.0

Error log :

  File "/usr/local/lib/python3.8/site-packages/streamlit/script_runner.py", line 172, in _proc

[2022-04-01 08:01] EliseDemierbe opened #4581 "Streamlit app blank as I add import seaborn as sns or matplotlib.pyplot as plt"
Mac
streamlit 3.9
I have an issue using seaborn

import seaborn as sns
    nb_currentprovider=plt.figure(figsize=(10,6))
    sns.countplot(x="current_provider",data=df_ventes)
    plt.title("Répartition des ventes selon l'opérateur actuel du client",fontsize=14)
    plt.xlabel("Volume de ventes",fontsize=12)
    plt.ylabel("Opérateur actuel",fontsize=12);
    st.pyplot(nb_currentprovider)

My app

[2022-04-01 11:05] andreaschiappacasse commented on #4580
Same issues happened in production to my streamlit a couple minutes ago during an update, still looking for a workaround.
Running inside docker, base image:` python:3.8-slim-buster`
streamlit version:` streamlit==1.0.0
`

[2022-04-01 11:14] H4dr1en commented on #2447
I also would love to be able to do that. I have on the left column a long list of settings and the right column an image rendered that is dependant on the settings of the first column.

[2022-04-01 11:20] davidsbatista commented on #4580
also stuck with this, using `streamlit==1.0.0`

running inside a Docker

[2022-04-01 12:55] andfanilo commented on #4581
Hmmm this is strange :/

I don't have a Mac so I can't debug like you do, but what happens if you use the Object-Oriented version of the code, instead of locking the state-oriented one?

[code]

[2022-04-01 14:19] randyzwitch commented on #1584
Hi @mAch17 -

We don't have any way of going back in time to change older versions, so if you're going to use 0.87 then I think you'll continue to have this problem. Streamlit is on version 1.8.1 at this point, so I'd suggest you update and this issue should no longer be a problem.

Best,
Randy

[2022-04-01 14:22] randyzwitch commented on #4580
The only thing I can assume is that pip might be solving the dependencies differently? We can't go back and change the code inside a specific version of Python, so not sure why this would show up now.

While I understand what "production" is, you might try upgrading to a newer version of Streamlit, as Streamlit is at 1.8.1 now and that sudo bit of code should've been removed quite some time ago.

[2022-04-01 14:22] #4580 closed, assigned to nobody

[2022-04-01 14:32] randyzwitch commented on #4579
Looks like this issue was solved by @crxi. If it remains an issue, please open a thread on our discussion forum, as this doesn't seem to be an issue with Streamlit specifically.

https://discuss.streamlit.io

Best,
Randy

[2022-04-01 14:32] #4579 closed, assigned to nobody

[2022-04-01 14:46] mAch17 commented on #4580
The "sudo dbus-uuidgen" is called by streamlit directly.
Subprocess.call["sudo"..] in the error log I shared earlier.

Don't think this is due to pip at all. I request you to at least check
before closing the ticket. "Production" means a frozen version which people
might expect code will not change for (and it seems it did here ? This used
to work perfectly for 6 months for me). Someone's job migh

[2022-04-01 14:55] andreaschiappacasse commented on #4580
Definitely agree with this. Maybe the root cause is not related to streamlit at all, but it's been very unconvenient and it would be nice to identify the source of the problem.

I pointed fingers to pip too at the beginning, but I also verified that the problematic line of code is not called by another library, so I really wonder what could have happened.

In order to help debugging, I replicated

[2022-04-01 15:01] randyzwitch commented on #4580
My point is that the code either works with 0.87 or it doesn't; we can't go back and change the code in a version of the package once its published. So if somehow it stopped working, to me it suggests that you are using varying version of Streamlit.

might expect code will not change for (and it seems it did here ? This used
to work perfectly for 6 months for me).

It's also important to note that

[2022-04-01 15:07] andreaschiappacasse commented on #4580
While I can't comment on [mAch17](https://github.com/mAch17) code base, I was running streamlit 1.0.0 for at least a month, and the problem also randomly happened to me today. I am more than sure that in my case the streamlit version was not bumped/mixed up.

I understand your point about code "working or not" with a specific version, and I would also think about a pip and/or docker/dockerhub inte

[2022-04-01 15:07] randyzwitch commented on #4580
This is what I mean:

https://pypi.org/project/streamlit/0.87.0/

This code was released August 19, 2021. At that point, the codebase for that version was fixed, as PyPI doesn't let you delete and re-upload (as far as I know).

When you download the source from PyPI, it will have the `sudo` portion; that's why the original issue was opened, because that's not a good practice. It's also why it was

[2022-04-01 15:17] mAch17 commented on #4580
Docker installs things from scratch everytime a build is made and I have seen the download and install, it was clean. This ensures no mixed versions in my pip install. So no, the error is not due to mixed streamlit versions as well.

In semantic versioning, 1.0.0 also means something. People are seeing the same issue there as well. [Please refer to the other comments on the thread]. 0.87 might be

[2022-04-01 15:43] randyzwitch commented on #4580
Again, if I were to guess, I would guess it's the Dockerfile. 3.8-slim-buster changed 16 days ago with the commit message:

`Update 3.8 to 3.8.13, pip 22.0.4`

https://github.com/docker-library/python/blob/6b9719086775ddce2dde10871da97cbeb87b81ad/3.8/buster/Dockerfile

So if the meaning of "3.8" is now different, then that's the first place I would look.

[2022-04-01 15:46] randyzwitch commented on #4580
5 days ago, debian-buster-slim (the base image for 3.8-slim-buster) changed:

https://github.com/debuerreotype/docker-debian-artifacts/blob/a8f25eed890bf577a323b246cbd380093d116c3f/buster/slim/Dockerfile

[2022-04-01 23:25] vdonato commented on #4319
Hey @jkneer,

I believe the issue fixed by #4527 is unrelated. I did just spend a few minutes revisiting this, though, and I think that led me to closing in on what the issue might be. I'm pretty tied up trying to wrap up some other projects at the moment, but since I think I might know what's going on here now, I'll try revisiting this in a few weeks' time.

[2022-04-02 02:23] dectoplate commented on #3790
"Enter to submit" is very important in a form.

[2022-04-02 20:36] osbm opened #4583 "Documentation text color issue"
Here is the [link](https://docs.streamlit.io/library/api-reference/layout/st.columns)

This bit in the documentation when using the black theme is not readable.

![image](https://user-images.githubusercontent.com/74963545/161400282-59fb0028-40ce-48e7-b09c-ad837c64f92d.png)

[2022-04-03 11:07] przecze opened #4584 "No "Clear cache" button in UI"
### Summary

"Clean cache" option is not available in hamburger menu. Shortcut 'c' seems to have no effect.

### Steps to reproduce
Save following `Dockerfile`
[code]
Save following docker-compose.yml
[code]
Save [example app](https://docs.streamlit.io/library/get-started/create-an-app) as main.py

Run `docker-compose up`

Open <external_url>:8501

In hamburger menu in top right corner observe lac

[2022-04-03 15:07] mercicle opened #4585 "Calling Julia from Streamlit App using PyJulia"
### Summary

I'm trying to use a julia function from a streamlit app. Created a toy example to test the interaction, simply returning a matrix from a julia functions based on a single parameter to specify the value of the diagonal elements.

Will also note at the outset that both `julia_import_method = "api_compiled_false"` and `julia_import_method = "main_include"` works when importing the functi

[2022-04-03 16:41] aakhmetz commented on #4555
now when I update my packages via pip, I get a conflicting message
[code]

[2022-04-03 18:31] betaigeuze opened #4586 "Couldn't spawn debugee: [WinError 87] The parameter is incorrect"
### Summary

When running the streamlit example code on windows 10 through the VS Code debugger, using an Anaconda environment with a fresh streamlit installation, the debug process cancels with the message "Couldn't spawn debugee: [WinError 87] The parameter is incorrect [...]". I set up a fresh environment with only streamlit requirements installed and came to the same error.

### Steps to repro

[2022-04-04 14:30] aaossa commented on #396
Hi, any news on this? In particular, I'm interested in just hiding the menu. Maybe I could explore the code a bit to provide a PR, but I'm not sure about how do you guys would prefer to implement this

[2022-04-05 02:31] dsanner commented on #611
+1 ... Would also love to do be able to share static pages as PDF or HTML files. I often send reports to people who just need a snapshot and not access to whole dashboard.

[2022-04-05 06:34] Vik13Rao opened #4587 "buggy bug"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2022-04-05 06:35] #4587 closed, assigned to nobody

[2022-04-05 09:11] F1nnM commented on #4000
I saw this issue didn't have any activity in some time, so I started to work on this. I hope that's alright.

[2022-04-05 10:12] F1nnM commented on #4312
Hi, as there have been no updates to this, I assume it didn't work out from the priorities. If the product team considers this a viable change, I could work on this.

[2022-04-05 10:14] Abdelgha-4 commented on #1326
I'm getting the same error using joblib's `Parallel` and `delayed`. so I have no control of the threads creation.
Any Ideas to workaround this ?

[2022-04-05 13:57] dadamson commented on #3720
Agreed with @BigBerny -- especially in the case where a metric (and thus its delta) can sometimes be missing/None, it'd be nice to keep its height consistent with its non-None siblings.

[2022-04-05 16:58] kajarenc commented on #4534
Thank you @Valahaar for reporting this issue!

yes, the problem is related to the markdown/HTML renderer.

In some edge cases (for example, when using HTML tags and styles inside the code tag, this can lead to incorrect output)

For a workaround, you can use the `html` component to draw pure HTML.

[code]

We constantly work on improving the display of markdown and HTML, and reducing incorrect cas

[2022-04-06 01:58] crxi commented on #4538
Wondering if anyone had a chance to look at my patch above? When I upgraded from 1.7 to 1.8.0 and then from 1.8.0 to 1.8.1, on both occasions I had to fix the code manually. So it would be great if the issue is fixed permanently so that the date range sliders will work.

If the proper way is to fork and do a pull request, let me know.

[2022-04-06 02:13] AyushExel commented on #4457
I have the same problem. I have to present a multiple choice question where user can select options via checkbox.
* Can't use callbacks to toggle state as widgets inside forms don't support callbacks
* Can't use it without forms as page gets refreshed after every widget interaction

I might be wrong here and I've also just started using streamlit but this seems like an obvious use case.
I tried us

[2022-04-06 06:10] rcyost commented on #1088
On chrome I get no errors it just doesn't show.

[2022-04-06 06:10] rcyost commented on #1088
Mine are all quite large, this would explain it.

[2022-04-06 06:19] Mane-Pal commented on #4584
I the clear cache button is now only available when using local IP for now.
There is an open issue for this #4150  - So this is a duplicate and can be closed - @vdonato

[2022-04-06 09:24] harahu commented on #2379
Just want to add another voice to this. I've been bit by this as well, wanting to do branching based on `isinstance`. I also want to be able to use `Enum`s in my code, but have had to give up on that.

I want to be able to write library code, that is agnostic to the UI i put on top of it. This is the number one issue that stops me from doing that with Streamlit.

This issue is underrated.

[2022-04-06 10:23] justinian336 commented on #4519
@vdonato I wonder if you guys plan to address this. For public-facing apps, showing the trace is not desirable, and can be unsafe. I wish that there was an option to let the uncaught exceptions bubble up so that I could catch them and deal with them the way I want. For example, I could catch it and display a sad puppy's picture instead of `st.exception`.
I guess a third option [here](https://githu

[2022-04-06 11:52] dongjiabin1997 opened #4589 "import matplotlib.pyplot as plt"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai