[2020-06-22 11:42] AnuradhaPoddar35 opened #1618 "InternalHashError: Cell is empty While caching the body of datafiltering2(), Streamlit encountered an object of type builtins.function, which it does not know how to hash."
# Summary

I am encountering InternalHashError: Cell is empty

While caching the body of datafiltering2( )[[function in my script]], Streamlit encountered an object of type builtins.function, which it does not know how to hash.

# this is my function

def datafiltering2(start_year,end_year,start_month,end_month,day):
            start = df.index[(df['Year'] == start_year) & (df["Month_str"] == sta

[2020-06-22 15:34] randyzwitch commented on #1617
Hi @LiliGasser, I ended up responding on the forum thread, so let's move the conversation there.

[2020-06-22 15:34] #1617 closed, assigned to nobody

[2020-06-22 15:41] randyzwitch commented on #1613
Hello @prasrahul and @Aathib -

Can you provide more information about your operating system, version of Streamlit, how you installed the packages, and the code that you ran? Without any information here, it's hard to know what the problem might be or how to help.

[2020-06-22 15:56] karriebear commented on #896
@Ashton-Sidhu - thanks for the clarification.

Evah's issue has been fixed and is now available in 0.62!

Regarding your use case, we have issue #904 which looks to address this. Please feel free to follow/+1 that issue.

[2020-06-22 18:25] prasrahul commented on #1613
im using windows 10, i have installed latest version of streamlit, i have installed the packages by pip install in the anaconda prompt,

this is the code i have ran

[code]

[2020-06-22 22:16] sabraha2 commented on #1613
I faced a similar issue and I followed this: https://stackoverflow.com/questions/62465620/error-keras-requires-tensorflow-2-2-or-higher and then still had some compatibility issues which were fixed with:
`pip install --ignore-installed --upgrade tensorflow==1.6.0`
`pip install keras==2.1.5`

[2020-06-23 02:24] zsz00 commented on #314
Are there any updates ?
@arraydude @karriebear @tvst

[2020-06-23 04:31] cuteufo commented on #904
+1

My use case is I am writing a tool to retrieve data from files, and it requires a third-party reader to read the files first and that reader requires a file path instead of an IO object. For now, I have to put the file paths in a select box for interactions, but I will have to copy/paste the path into the source code and every time be sure to choose the right one from the drop down list. If th

[2020-06-23 15:37] kurt-rhee opened #1623 "AttributeError: module 'click' has not attribute 'style'"
# Summary

When attempting to run a streamlit app, the app crashes with the following error:

![image](https://user-images.githubusercontent.com/33131958/85424244-87d08680-b52c-11ea-8fc8-413bfd467558.png)

# Steps to reproduce
'
streamlit run App.py
'
What are the steps we should take to reproduce the bug:

1. streamlit run App.py

## Expected behavior:

Assuming there were no bugs a browser would

[2020-06-23 15:59] kurt-rhee commented on #1623
I think this one has to do with an anaconda environment created wtih conda install rasterio.

The conda-forge rasterio seems to work fine.

[2020-06-23 15:59] #1623 closed, assigned to nobody

[2020-06-23 18:08] karriebear commented on #1552
This happens because files are stored by session id + widget id. When the session is disconnected, you get assigned a new session id when reconnected. Since we look up files by session id + widget id, you lose the file data because your new session id has no files associated. However, the widgets themselves maintain the state of the file that was previously uploaded.

The quick and easy recommende

[2020-06-23 19:22] Smrutishikta commented on #1115
I'm getting this error every time for the @st.cache. I've just copied the demo codes and got the same error.

[2020-06-23 22:36] jrhone commented on #1115
Hi @Smrutishikta , could you provide a stacktrace and the following debug info?

- Streamlit version: (get it with `$ streamlit version`)
- Python version: (get it with `$ python --version`)
- Using Conda? PipEnv? PyEnv? Pex?
- OS version:
- Browser version:

[2020-06-23 22:58] tvst commented on #1552
Let's go with the easy fix, since at least it makes the current behavior clearer.

But please create about making Streamlit better for folks with an intermittent connection. Every time they reconnect they: (1) cause the script to rerun, (2) cause the file uploaded to reset. We should try to come up with a better solution there — although that will require a lot of thought...

[2020-06-24 03:52] deqingli commented on #1564
Hi @andfanilo @randyzwitch, thank you for your reply, I will looking forward to custom components go live.

[2020-06-24 04:41] johnandersen777 commented on #400
Here's a massive hack

[code]

[2020-06-24 05:51] KyotoSunshine commented on #1294
I have the same issue, when using streamlit==0.61.0. Images will randomly be displayed as 0s.
Adding sleep(0.2) after st.image() does not help.

[2020-06-24 06:13] KyotoSunshine commented on #1294
Tried it with the current streamlit-nightly==0.62.1.dev20200621 and the issue still appears there as well, though perhaps a bit less often.
Also, in my case, reloading (by pressing "r"), does not help to make the image appear.

[2020-06-24 10:38] raghavdixit99 opened #1625 "while caching the body of the function, Streamlit encountered an object of type `builtins.function`, which it does not know how to hash."
<img width="1054" alt="Screen Shot 2020-06-24 at 4 07 46 PM" src="https://user-images.githubusercontent.com/34462078/85540646-df5a1980-b634-11ea-9b10-1be60db19184.png">
# Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

##

[2020-06-24 12:34] swicaksono opened #1626 "Invalid LngLat object: (Nan, Nan)"
# Summary

I got an error while present the maps using pydeck. Here is the source code

[code]
When I pass the data longitude, latitude for example:
[code]
I got the following error:

[code]
I inspect on the browser and there some messages:

[code]
and

[code]
I've tried to disable some of my ads block extension and check my JS map loader in Chrome settings but this error still occured. Any helps?

[2020-06-24 13:29] aaronjoseph opened #1627 "UnhashableTypeError: Cannot hash object of type _thread.RLock, found in the body of Scheme_Names()."
Streamlit implementation in Docker tends to provide me the above error message. The same code works without any issues when run on Desktop.

Herein, I have Postgres connector which is invoked from the function and I have tried with some of the steps mentioned in Advanced caching page.

However, when st.cache() is removed, then the error message goes and therefore makes the app slow.

Also, @st.cac

[2020-06-24 14:03] CharlyWargnier commented on #309
Fantastic suggestions Marc, as always! :)

[2020-06-24 15:17] karriebear opened #1628 "Improve experience when end user has an intermittent connection."
### Problem
Communications currently happen via a session opened through a websocket. There are cases when an user has an intermittent connection that will cause the connection to drop and reconnect. Currently when we reconnect, the user is provided with a new session and scripts are rerun.

### Solution
A possible solution would be to store the session ID for each connection. If a connection disc

[2020-06-24 15:18] karriebear commented on #1552
@tvst created #1628 to address a global solution for intermittent connections.

[2020-06-24 23:18] karriebear opened #1629 "Clean up the terminal warning about XSRF and CORS"
# Summary
As part of #1571 a warning was introduced if XSRF and CORS are both enabled. The warning is showing all the time. Also the warning is not clear. Need to improve the warning to better describe to user what's happening

## Expected behavior:
The warning should not be showing on commands such as `make install`.

[2020-06-25 09:08] izikgo opened #1630 "Bad message format value is null on large plotly images"
# Summary

when creating an RGB image of size 2000x2000, streamlit crashed with a popup message:
"Bad message format value is null"

Images of size 1500x1500 works fine.

# Steps to reproduce

[code]

## Expected behavior:

An image will be presented

## Actual behavior:

![image](https://user-images.githubusercontent.com/47969623/85690498-4f6faa80-b6dc-11ea-8728-170d6c85c325.png)

JS trace:
[code

[2020-06-26 06:28] Smrutishikta commented on #1115
I have windows 10 and working in conda environment. Already updated the
python and streamlit to the latest version. Everything is working fine
except the @st.cache portion.

On Wed, Jun 24, 2020, 4:07 AM Jonathan R <notifications@github.com> wrote:

[2020-06-26 18:01] svenrahmann commented on #942
conda installation of streamlit from conda-forge would definitely be a plus!
I manage a complex environment in which I already have several packages with
`conda env create` from an `environment.yml` file.
Running `pip install` for streamlit manually not only breaks my ususal automation, but also seems to overwrite already installed packages such as numpy, and it may put my environment in an incons

[2020-06-26 23:18] fernandascovino commented on #1106
Hi! I'm also having this huge problem with our application, we are running on streamlit v 0.56. The [application](https://farolcovid.coronacidades.org/) itself has a lot of working on user input, and we notice that people had these problems - eg. selecting a state on `dropdown` and change some data on `number_input` afterwards, and suddently the state value (used as title of a section) changed to

[2020-06-26 23:45] rajat4493 opened #1634 "Option to change the Streamlit Logo"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

Can't change the Streamlit logo  - No doubt it's beautiful but an option to customize it would be great

### Solution

**MVP:** st.logo()

**Possible additions:**

**Preferred solution:**  Easy option to chang

[2020-06-27 02:40] leandroimail commented on #1507
I had the same problem but the suggestion work for me.
Thks!

[2020-06-27 12:45] oke-aditya opened #1636 "Cannot Deploy Streamlit to Heroku"
# Summary

Hey Streamlit Team. You are doing fantastic job. My app build successfully locally, but when shifting it to heroku. It gives strange errors.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. Clone my repo. [from here](https://github.com/oke-aditya/mantisshrimp_streamlit)
2. Install the requirements. Check if it runs locally by running streamlit run src/o

[2020-06-27 12:46] oke-aditya commented on #1636
Note: - It is not a slugsize issue of Heroku. Also, the documentation has no tutorial for Heroku deployment (sad really).

[2020-06-28 00:00] chandranitu commented on #1613
i was getting this issue with last couple of days. i uninstalled first dependent pkg using pip and pip3 first. made venv. then installed in sequence.
uninstall
1. pip uninstall pandas...(below 6 lib)
2.pip3 uninstall pandas...(below 6 lib)
3.in venv install
pip install pandas
h5py
Keras
numpy
streamlit
setuptools
tensorflow

it worked.

[2020-06-28 18:21] kantuni opened #1640 "cx-Oracle's new version breaks pytest"
# Summary
`cx-Oracle` has released a new version (8.0.0) on June 26, 2020 which breaks `test_sqlalchemy_engine_2_oracle` pytest.
I've silenced the issue by downgrading the dependency, but we need to solve it appropriately.

[2020-06-28 20:00] ghost opened #1641 "StreamlitAPIException: Unable to convert object of type <class 'str'> to pandas.DataFrame."
# Summary

while running a ML data prediction model, I am trying to write a confusion matrix using -
confusion_matrix(class_test_df.status, predict_test_df.predicted)
lg_reg_report = (classification_report(class_test_df, predict_test_df.predicted))
st.table(lg_reg_report)

# Steps to reproduce
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import clas

[2020-06-29 06:49] dsos opened #1643 "can't display all dataframe in firefox"
# Summary

streamlit hello
choose dataframe
st.write("### Gross Agricultural Production ($B)", data.sort_index())
can't display united_states

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1.streamlit hello
2.choose dataframe
3.st.write("### Gross Agricultural Production ($B)", data.sort_index())
4.can't display united_states

## Expected behavior:

Explain what yo

[2020-06-29 13:16] brey commented on #433
Hi All, I have, from what I gather, the same problem loading large Datasets for visualisation (see also https://discuss.streamlit.io/t/very-large-datasets/3168?u=brey).

Any possibility to fix it soon?

[2020-06-29 14:19] pierresegonne opened #1644 "KeyError: '<folder name>' at rerun"
# Summary

Reloading of streamlit project generates a key error for an import of a constant from a different folder.

With the following structure:

[code]

`main` imports `database` which imports some constant from `const`, itself imported from `contrib/utils/config`

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. Clone https://github.com/pierresegonne/streamlit

[2020-06-29 14:47] #1552 closed, assigned to karriebear

[2020-06-29 15:26] will-holley commented on #1175
In which release was this included, @jrhone?

[2020-06-29 15:58] tc87 commented on #1175
Hey @will-holley,

This was first natively supported in 0.57.0. [Here is the pull request if interested in taking a look](https://github.com/streamlit/streamlit/pull/1204).

[2020-06-29 16:08] will-holley commented on #1175
Thanks, @tc87.

[2020-06-29 17:42] nabsabraham opened #1646 "Altered dataframe doesn't persist"
# Summary

I'm not sure if I'm doing this right but I want to alter a dataframe based on if a user says so and so I use a radio button with an if-statement. The dataframe gets changed with `gn_radio = Change` but it seems it hasn't changed it globally so when the user tries to revert the operation by selecting `gn_radio= Revert`, it has not read that the df has changed. I tried caching the functio

[2020-06-29 18:25] randyzwitch commented on #1613
Thanks for letting us know @chandranitu!

I'm going to close this issue, since it seems like it's not a Streamlit issue specifically, but a pip/package install issue. If the issue persists, please feel free to comment and I'll re-open

[2020-06-29 18:25] #1613 closed, assigned to nobody

[2020-06-29 18:28] randyzwitch commented on #1634
Hi @rajat4493, thanks for opening this issue! We already have an issue for this, so I'm going to close this one.

https://github.com/streamlit/streamlit/issues/1006

[2020-06-29 18:28] #1634 closed, assigned to nobody

[2020-06-29 18:51] randyzwitch commented on #1641
Hi @Gopinathts -

Per the [sklearn docs for classification_report](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html#sklearn-metrics-classification-report), it returns a `str` or `dict. For Streamlit, `st.table()` requires a pandas dataframe, a numpy array or a dict. So the type error you have is because of that.

You could try the `st.write()` without `s

[2020-06-29 18:51] #1641 closed, assigned to nobody

[2020-06-29 19:07] Jenia-Jeba commented on #868
I am still not able to put down multiple blank spaces , can anyone help me out ?

[2020-06-29 19:49] randyzwitch commented on #1634
In fact, it looks like we even have an open PR for this, so hopefully it's coming pretty soon: https://github.com/streamlit/streamlit/pull/1632

[2020-06-30 02:05] Bipasori commented on #868
1. This works...
st.text(" \n")
st.text(" \n")
st.text(" \n")

2. This works like 1  "\n"
st.text("\n \n \n \n	")

H.T.H.

[2020-06-30 02:12] Bipasori commented on #868
1. line feed works;
st.text(" \n")
st.text(" \n")
st.text(" \n")

2. st.text(" \n \n \n") works like;
st.text(" \n")

3. st.text(" \n \n \n Text") works;

4. Blanks works;
st.text("Start   ..... blanks here ....        End")

Any other situation?
Thank you.

[2020-06-30 06:11] ghost commented on #1641
Thank you very much.
I have used st.write, it did not work. I will try st.markdown and confirm.
Thanks again.

Thanks and regards,
Gopinath T. Subbegowda
Head - Testing Center Of Excellence
Ph: 9945 057 234
AmberTAG Analytics Pvt Ltd <http://www.AmberTAG.com>

On Tue, Jun 30, 2020 at 12:21 AM Randy Zwitch <notifications@github.com>
wrote:

--

Disclaimer

This
message may
contain confidential
info

[2020-06-30 08:41] nthmost commented on #1294
@KyotoSunshine -- is it possible you can share a snippet of code that causes the problem to occur?

[2020-06-30 09:09] nthmost commented on #1614
@kurt-rhee What happens if you take out the `import pandas as pd` line that's inserted under `def entry_form()`?  You shouldn't need it anyway...

[2020-06-30 12:39] kantuni opened #1650 "Tensorflow's new version breaks pytests"
# Summary

`tensorflow` has released a new version (2.3.0rc0) on June 27, 2020 which breaks `test_keras_model` and `test_tf_keras_model` pytests. I've silenced the issue by downgrading the dependency, but we need to solve it appropriately.

[2020-06-30 15:18] kurt-rhee commented on #1614
Hey,  the same issue occurs.

[2020-06-30 20:49] samuelefiorini commented on #708
I'm not sure it's relevant, but most of the charting functions (listed and documented [here](https://docs.streamlit.io/en/stable/api.html?highlight=plotly#display-charts)) have the following keyword argument:

**use_container_width** _(bool)_ - If True, set the chart width to the column width. This takes precedence over the width argument.

For instance, this can be used to have a responsive `plot

[2020-06-30 21:19] tvst opened #1652 "st.image should accept as input the output of `open()`"
I'd like to be able to do this:

[code]

Today, in order to do that you need to first get a BytesIO from the File object:

[code]

[2020-06-30 21:25] tvst commented on #429
Looking at the latest code, I believe `server.baseUrlPath` now supports this use case. I'll close this for now, feel free to reopen if you can still repro

[2020-06-30 21:25] #429 closed

[2020-06-30 21:32] tvst commented on #168
Just dropping this quickly here: we decided to move ahead with `st.stop` but not `st.rerun` just yet.

[2020-06-30 21:35] tvst commented on #292
I believe this was fixed by https://github.com/streamlit/streamlit/pull/603 a while back. Can anyone still repro?

[2020-06-30 23:15] lmeyerov commented on #1418
@andfanilo Quick update: Had some f500 customer work where we'll be evaluating streamlit for a fit, so this will be going up in priority next week. (Will also reexamine in the open as part of ProjectDomino.org , where folks have already began experimenting for upcoming public tier for covid misinfo awareness.)

[2020-06-30 23:15] lmeyerov commented on #1418
cc @randyzwitch

[2020-07-01 08:13] andfanilo commented on #1418
Thanks for the update @lmeyerov

So actually `st.iframe` (and st.html`) should come with the release of Custom Components, which eases half of your shorter term solution. I don't have an official timeframe for the release but hopefully pretty soon.

[2020-07-01 08:58] zsz00 commented on #314
Are there any updates ?
@arraydude @karriebear @tvst

[2020-07-01 11:13] carry-xz commented on #1382
i get the same error, and this not work.

[2020-07-01 11:57] AtanasAtanasovIpsos commented on #1636
I have recently deployed to heroku and had no problem.
 my setup.sh is a bit shorter
[code]
and procfile looks similar
[code]
Now I see your main python file is in src directory, and I see it gives an error about "/"  not being recognized.  I really have no idea why it would have a problem with "/" in the path as in my mind it should work, but maybe it is something you wanna check out.  I have the

[2020-07-01 13:20] oke-aditya commented on #1636
Thanks for having a look. 🤗 I will modify my `setup.sh` file

But `/ ` worked [here](https://github.com/madewithml/e2e-ml-app-pytorch/blob/master/Procfile)

I am bit confused I mean it would be odd for me to restructure the code. for `/`

[2020-07-01 13:37] AtanasAtanasovIpsos commented on #1636
have a look at this issue-> https://discuss.streamlit.io/t/issue-with-serving-a-streamlit-heroku-app-in-a-browser/2543
maybe there is a hidden dependency

[2020-07-01 14:29] danimateos commented on #1410
Hi! Any news on this! I would really like to be able to keep track of how people are using my web app...

[2020-07-01 19:34] #1629 closed, assigned to karriebear

[2020-07-01 22:30] jrhone opened #1659 "Improve caching of recursive calls"
The following test case is failing because our identity hash func creates a recursive cycle, and we're not able to distinguish between the cycle caused by `foo(1)` and the one caused by `foo(2)`.

[code]

[2020-07-02 09:31] oke-aditya commented on #1636
I just did a `pip freeze > requirments.txt`. I am using Miniconda. This is my requirments.txt file. How do I know if these dependencies are installed properly on heroku ?
[requirements.txt](https://github.com/streamlit/streamlit/files/4863270/requirements.txt)

[2020-07-02 10:35] OMBeau opened #1661 "slider"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

Is your feature request related to a problem? Please describe the problem here. Ex. I'm always frustrated when [...]

### Solution

**MVP:** What's the smallest possible solution that would get 80% of the prob

[2020-07-02 13:01] randyzwitch commented on #1661
This is an empty issue, closing. If you have an issue, please fill out the template and we'd be happy to evaluate.

[2020-07-02 13:01] #1661 closed, assigned to nobody

[2020-07-02 13:30] randyzwitch opened #1662 "Add argument to st.video to accept subtitle files"
It would be great if `st.video` accepted subtitle files, so the subtitles could be displayed along with the videos.

ref: https://discuss.streamlit.io/t/video-with-subtitle/3931

---

Community voting on feature requests enables the Streamlit team to understand which features are most important to our users.

**If you'd like the Streamlit team to prioritize this feature request, please use the 👍 (

[2020-07-02 13:39] randyzwitch commented on #1636
Hi @oke-aditya, this is probably a better question for our forum, since Heroku isn't really part of the Streamlit product.

We've got a few posts on the forum in the [Heroku](https://discuss.streamlit.io/tag/heroku) section, so if those don't help, please feel free to start a new conversation and hopefully we can get it figured out.

Best,
Randy

[2020-07-02 13:39] #1636 closed, assigned to nobody

[2020-07-03 06:38] HWiese1980 commented on #744
I'm currently experiencing the same issue! Is there already a fix?

[2020-07-03 12:46] vhoulbreque commented on #969
In my case, I would need it in order to authenticate users simply by retrieving a company `sessionid` already available in the cookies.

[2020-07-03 14:45] iqbalfarz commented on #1613
@randyzwitch, I am also facing the same issue. please help, I am not able to solve the problem.

[2020-07-03 15:06] sam983 commented on #1613
i have tensorflow version 2.2 downloaded still facing same problem

[2020-07-03 19:48] randyzwitch commented on #1613
Per @chandranitu's post, it sounds like this is a combination of weird pip installs and having to do them in a special order. There's nothing specifically Streamlit that's causing these issues as far as I can tell.

[2020-07-03 23:52] abdoulayegk commented on #1614
@kurt-rhee have you checked the pop-up on your browser? also which browser are you using?

[2020-07-04 03:22] matheusfillipe opened #1664 "Support for unix sockets"
### Problem

server.address configuration option should also support listening to unix socket files since this is very common in linux servers environments and useful for proxying the application without taking a system port. Very useful feature for shared servers.

Would be cool running something like:

`streamlit run  --server.address "unix:~/.streamlit.sock" whatever.py`

And having it creating

[2020-07-04 04:44] iqbalfarz commented on #1613
Oh well, I have solved my problem by installing https://download.visualstudio.microsoft.com/download/pr/d60aa805-26e9-47df-b4e3-cd6fcc392333/7D7105C52FCD6766BEEE1AE162AA81E278686122C1E44890712326634D0B055E/VC_redist.x64.exe.
Restart your computer after installing it.

[2020-07-04 07:57] javismiles opened #1665 "streamlit on WSL in windows, running script always shows the demo on browser"
Good day,
I am using streamlist on WSL Ubuntu on windows,
installation went perfect.
Then I create a hello.py with some code following your tutorial,
then do streamlit run hello.py,
and instead of getting the result of the code, I get the streamlit demo page again on localhost:8501,
it always shows the demo, regardless of what script I run,
thank you

[2020-07-04 08:01] javismiles commented on #1665
solved, I was running streamlit twice in vscode and shell

[2020-07-04 08:01] #1665 closed, assigned to nobody

[2020-07-04 10:32] fabioannovazzi commented on #314
Are there any updates?

Thanks

Fabio

[2020-07-04 16:19] niviksha opened #1666 "Add Ibis support for pythonic access to SQL databases"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

At OmniSci we support pythonic access to our SQL database via Ibis (created by Wes McKinney, at https://docs.ibis-project.org/). It provides a pandas-like API for multiple sql databases including pandas as wel

[2020-07-05 18:31] oke-aditya commented on #1636
Thank you for this. I will go to discuss forums and see if it solves the issue.

[2020-07-05 18:31] oke-aditya commented on #1636
Thank you for this. I will go to discuss forums and see if it solves the issue.

[2020-07-05 20:48] javismiles commented on #1006
whats the status of this? its such a basic requirement for any web app

[2020-07-05 20:48] javismiles commented on #955
what´s the status of this? its such a basic requirement for any web app

[2020-07-05 23:19] niviksha opened #1667 "Altair support - Layer charts, `.resolve_scale` dont appear to work"
# Summary

Altair appears to work just fine inside streamlit, but I have problems getting layer charts to work. Note - Concat (vert/horizontal) of altair charts works fine, but doing something like
[code]
results in everything going blank and no chart canvas displayed

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. Build 2 altair charts inside the same streamlit

[2020-07-06 07:41] Isaaafc commented on #798
Any updates on this issue?

[2020-07-06 09:28] ushakov opened #1668 "Cannot hash torchtext.vectors.GloVe"
# Summary

When returning a `torchtext.vectors.GloVe` from function wrapped in `st.cache`, streamlit gives this error:
[code]
# Steps to reproduce

1. Create a function that returns a `torchtext.vectors.GloVe` and wrap it in `st.cache`:
[code]
2. Use that function to get vectors:
[code]

## Expected behavior:

Vectors are cached and returned.

## Actual behavior:

You get error:
[code]

The hash c

[2020-07-06 15:32] karriebear opened #1669 "Create a deprecation page for docs"
## Suggestion:
As part of our deprecation process, we will be adding warnings prior to deprecation when to-be deprecated functionality is used. This can be disabled by the developer

### Option 1: In your streamlit app
[code]

### Option 2: In your `.streamlit/config.toml`
[code]

## Additional items
References for more info to include:
https://www.notion.so/streamlit/Proposed-Handling-Deprecation

[2020-07-06 16:22] andfanilo commented on #1667
Hi @niviksha, thanks for the issue. It looks like Streamlit magics does not detect the output of `resolve_scale` as an Altair object, but you can display the Altair layer through `st.altair_chart` as a workaround.

Code sample :

[code]

[2020-07-07 06:55] romanfi commented on #611
I second this, it would be a killer feature!

[2020-07-07 08:39] andfanilo commented on #974
Well I can solve this with Custom Components : https://github.com/andfanilo/streamlit-custom-slider for scenario 1.

[2020-07-07 08:39] #974 closed

[2020-07-07 09:19] davidefiocco commented on #439
As a temporary _workaround_, piggybacking on FastAPI may be a solution to support HTTP and have OpenAPI docs as suggested in https://github.com/streamlit/streamlit/issues/439#issuecomment-635796911.
I understand that this adds complexity as it needs two services (streamlit and FastAPI server) to be running in parallel, but I am sharing it here anyway as it may be interesting for some to explore fo

[2020-07-07 09:31] ranglesc commented on #896
Hi karriebear!
Do you know when the next iteration will be? You are doing a great job, guys! Thank you!!

[2020-07-07 10:25] MauGal commented on #1294
In my script that it shows 8 charts taken data by csv, with the version 0.56.0 was all ok (in local, in docker container local and in docker container on app engine (GCP)).
This issue started with version 0.59.0: the first 3 charts disappear.
With the version 0.62.0 in local and in docker container local the issue there isn't but on gcp i have the issue (more of 3 charts doesn't visualize) .

Othe

[2020-07-07 12:35] #1597 closed, assigned to randyzwitch

[2020-07-07 12:40] juliosouto opened #1675 "Add support to Chart.Js"
### Problem

Currently Streamlit does not support Chart.Js, which is probably one of the most beautiful and flexible chart libraries out there.
That would be very appreciated if you added support to it.

Reference: https://www.chartjs.org/

[2020-07-07 14:36] andfanilo commented on #1675
Hey @juliosouto,

Streamlit Custom Components, which will enable you to integrate arbitrary HTML/CSS/JS into Streamlit, is soon to come, and should make the integration of Chart.js easy.

If you have npm/yarn installed, here is some sample code [here](https://github.com/andfanilo/streamlit-custom-slider/blob/part4/streamlit_custom_slider/frontend/src/StreamlitChart.tsx) you can try out (or anyone

[2020-07-07 14:52] karriebear commented on #896
We're currently working on it and targeting early Q4!

[2020-07-07 16:43] karriebear opened #1678 "Refactor favicon"
# Summary
- [ ] Move out of DeltaGenerator
- [ ] Move out of elements Proto
- [ ] Add docs in `docs/api.md` and maybe even in the tutorial

[2020-07-07 17:47] #292 closed

[2020-07-07 17:55] tvst commented on #78
In fact we should accept one-column Pandas DataFrames _and_ Pandas Series objects _and_ one-dimensional Numpy arrays (column or row) for _all_ widgets that accept lists.

[2020-07-07 17:58] tvst commented on #351
We're considering turning off the ability to publish static apps. If this is important to you, please let us know why here.

[2020-07-07 18:02] tvst commented on #955
This is near the top of our TODO list right now. My guess is this is a couple of weeks away from release.

[2020-07-07 18:50] jrhone commented on #1568
Fixed by https://github.com/streamlit/streamlit/pull/1608

[2020-07-07 18:50] #1568 closed, assigned to nobody

[2020-07-07 19:05] jrhone opened #1680 "Remove restriction on our TensorFlow tests"
Remove restriction on our TensorFlow tests.

[code]

From the TF install page
[code]

[2020-07-07 19:06] arraydude commented on #574
I'm closing this as it has been fixed [here](https://github.com/streamlit/streamlit/pull/1392)

[2020-07-07 19:06] #574 closed

[2020-07-07 19:17] nthmost commented on #930
Hi @kashyapm94 , at the moment there's no way to suppress this warning.  I can open a feature request for this.

[2020-07-07 19:22] nthmost opened #1681 "st.number_input: Add ability to suppress warnings shown in Streamlit when floats are displayed as integers"
### Problem

When using `st.number_input`, users would like to be able to display floats as integers without displaying the warning.

The warning was added in fixing https://github.com/streamlit/streamlit/issues/930

### Solution

**MVP:**  An added keyword argument to `st.number_input` such as "suppress_warning"

It might also be worth thinking about a global `SuppressWarnings` setting that could

[2020-07-07 19:28] nthmost commented on #433
Hi @brey -- Loading large datasets isn't exactly the same issue.  We're still working on a major overhaul of the dataframe processing code.  See #1021 for updates.

[2020-07-07 19:37] nthmost commented on #824
Hi @nishnash54, apologies for the late reply -- If you're interested in contributing on this feature, you can email me directly at naomi@streamlit.io -- we've been adjusting our policies in terms of coordinating community contributions, especially as our team has been growing quickly, plus an unexpected pandemic. :)

[2020-07-07 19:44] nthmost commented on #29
Hi @ritiksoni00 , apologies for the late reply.  If you're interested in contributing, feel free to contact me at naomi@streamlit.io -- we've been readjusting our community contribution process.  Thanks.

[2020-07-07 21:07] jrhone commented on #1294
Hi @MauGal, could you share sample code that we can copy/paste and run to reproduce the issue? I'll be sure to try it both locally and on GCP.

Also, could you give a bit more info on what you're seeing with regards to the script being slower to execute?

[2020-07-07 23:31] tconkling commented on #1496
Thanks @beasteers for the excellent and thorough bug report! This is fixed in #1682, which should go out in the next release.

[2020-07-08 00:46] #1496 closed, assigned to tconkling

[2020-07-08 06:14] tvst opened #1683 "Move color picker out of beta"
It's time `st.beta_color_picker` became `st.color_picker`!

The lifecycle of a beta feature is:

1. ✅ Feature is added to the beta namespace.
2. 👉 **THIS IS WHAT WE NEED TO DO NOW:** After a few months: the feature's API stabilizes and the feature is *cloned* into the `st` namespace, so it will exist in both `st` and `st.beta`. At this point, users will see a warning when using the version of the

[2020-07-08 13:28] vrodr188 opened #1684 "Application crashed"
# Summary

Application crashes:

**KeyError: (0.0, -4.0, '−4', 'black', 'center_baseline', 'right', 5672785747490338735, None, None, 200, <weakref at 0x7f5458fed138; dead>, 1.2)**

# Steps to reproduce

1. Tried different browsers and same result

# Traceback
File "/app/.heroku/python/lib/python3.6/site-packages/streamlit/ScriptRunner.py", line 322, in _run_script
    exec(code, module.__dict__)
F

[2020-07-08 13:51] Aklmenrah opened #1685 "Streamlit Docker eating all memory and OOM"
# Summary

I've set a Docker container with streamlit and a predictor from Huggingface transformers library.
At each iteration 'predict' the app takes some memory which is never released, after several iterations it runs OOM and the container is killed.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

This is the code of my app, based on DistillBert-uncased model fro

[2020-07-08 14:26] PerplexedFox opened #1686 "File Uploader never resets (not None for every session)"
# Summary

Once uploaded a file, no matter whether the server was restarted or the app just rerun or the caches cleared - the file_uploder still saves the last uploaded file!

# Steps to reproduce

[code]

## Expected behavior:

Obviously, when the app is opened, before the user has uploaded the file the message "Please upload a file of type: .csv" should be shown since no file was uploaded.

## A

[2020-07-08 14:52] randyzwitch commented on #1684
It appears this issue is in regards to this app: https://matplotlib-style-configurator.herokuapp.com/

If so, we're not the creators of this app, so the user themselves will need to maintain their infrastructure. I'm closing this issue for now, but if I'm mistaken, please comment and I will re-open the ticket.

[2020-07-08 14:52] #1684 closed, assigned to nobody

[2020-07-08 15:12] randyzwitch opened #1688 "Add RTD to the PR optional checks"
Per https://docs.readthedocs.io/en/stable/guides/autobuild-docs-for-pull-requests.html, it looks like you can have RTD build the docs for every PR. This will allow myself and other package maintainers the ability to see proposed changes to the docs as they will show on RTD.

Note: I'm proposing this to be an "optional" check so that PRs that don't touch the docs aren't required to wait for the bui

[2020-07-08 16:20] alyonaslastin commented on #1630
I had the same error when trying to plot using an altair, as well as when working with a table with more than 700000 rows

[2020-07-08 17:26] purpin commented on #1555
I'm facing the same issue - Streamlit app is running on port 8501. It works fine when accessing it as ip:8501 or domain:8501. But when using nginx, accessing <domain> alone seems to work, but it gets stuck on 'connecting'. App is hosted on an AWS EC2 instance.

[2020-07-08 18:25] akrolsmir commented on #955
Yup! This is something I'm actively working on, and I'd expect it to be in one of our official releases soon (and even sooner in Nightly!)

Since this issue is a duplicate of #1006, I'm going to go ahead and close this one to keep things easier to track (even though this one's older 😛 )

[2020-07-08 18:25] #955 closed

[2020-07-08 19:03] dgreen-int commented on #1630
I also have this error with a large stacked bar chart using altair. Plot still shows up but need to click through the error message.

[2020-07-09 13:55] ranalytica opened #1691 "R"
Future plans:

Is there any future plans for R?

[2020-07-09 16:49] SebastianoX commented on #1536
As a quickfix, you can add
[code]
to the `settings.json`.
The 'E1120' is for code-smell, that seems to be causing most of the issues.

I'm wondering if streamlit is developed with pylint? If not this would explain all the code smell raised for the end users that are pylinting.

[2020-07-09 16:56] jwei-ccmp commented on #1686
I have the same question, I never success clearing the file_uploader widget. I have to reload the page to clear it.

[2020-07-09 16:59] louisguitton commented on #1627
I observe the same behaviour:

1. inside docker with st.cache => fails
2. inside docker without st.cache => works but slow
3. outside docker with st.cache => works as expected

Streamlit version = 0.62.0
Docker image python:3.7

[2020-07-09 17:17] RaghavK16 commented on #1536
Thanks, I'll try doing that.

[2020-07-09 17:20] jrhone commented on #1627
Hi @louisguitton , @aaronjoseph , can you provide sample code that we can copy/paste and run to reproduce the issue?

[2020-07-09 17:37] aaronjoseph commented on #1627
So I was able to find a workaround for this issue by defining the SQL connector code within the function as against creating a function for the connector codes.

**Pseudo Code (Wherein I faced this error):**
[code]

[2020-07-09 17:48] jrhone commented on #1627
I'd like to leave this open to investigate why the behavior inside docker is different from outside

[2020-07-09 17:59] louisguitton commented on #1627
I couldn't put the finger exactly on what was the issue but it's linked to hashing I think.

For my case, I don't have a reproducible snippet as I could isolate the issue pretty deep into my code. I could get it to work in the end by replacing a function I have called `s3_download_with_progress_bar` by `s3_download_without_progress_bar`. I pasted the failing function after. You will see that is ha

[2020-07-09 18:39] akrolsmir commented on #1678
Plan is to rewrite this using the CDN approach as well (rather than SVG text render). See this: https://www.notion.so/streamlit/Favicon-Emoji-v2-7ef7643fbd88418e8026fc26ec4c5c76

[2020-07-09 18:42] akrolsmir commented on #950
#1609 is now merged! The only thing left from Thiago's earlier post is a possible num_steps parameter; that feels to me more like a new feature (since it'd need to work with floats and ints as well) so I'm closing this issue.

[2020-07-09 18:42] #950 closed

[2020-07-09 19:03] akrolsmir commented on #722
Repurposing this issue for a larger refactor of how Streamlit elements are implemented. See https://www.notion.so/streamlit/Splitting-up-DeltaGenerator-py-24ec9e67607f417b99a10de400ff72ed?d=37b8ac7b-fb4b-443d-8c90-46910ce79f1a#0ddbd5683e504dcbbb5fe3b96eb47db3 for the full proposal, but for now:

## Goals
1. Make it easier for Streamlit core team to create and modify elements (right now: single fil

[2020-07-09 20:55] randyzwitch opened #1692 "CSS: borders on left menu show up at smaller widths"
At smaller widths, but before the theme cuts over to the 'mobile' or reduced-sized version, borders start appearing on the active section of the menu

![image](https://user-images.githubusercontent.com/2762787/87089769-ef612400-c204-11ea-87ff-a3569534ad40.png)

[2020-07-10 07:29] kaprests commented on #1447
I am experiencing the same problem. I have a similar application and also use the SessionState gist heavily (not sure if that matters).

[2020-07-10 08:20] PerplexedFox commented on #1686
page reload does not clear it - you won't see the file, but it is still there :

easy to prove:

[code]

**even after reloading the page you will see the table filled with data from the previously uploaded file**

the only workaround I found is to define the different keys. So each time the page refreshes (or wherever you need to clear) a new key will be given. This is, however, not nice, since as

[2020-07-10 08:38] kaprests commented on #1447
I am experiencing the same problem, but it is not exclusive to the sidebar. For me it happens with widgets in the main window as well.

I have a similar application and also use the SessionState gist heavily (not sure if that matters).

[2020-07-10 09:03] akrolsmir opened #1693 "Credits are swapped for `st.image`, `st.video`"
**Link to doc page in question (if any):**

https://docs.streamlit.io/en/stable/api.html#streamlit.image
https://docs.streamlit.io/en/stable/api.html#streamlit.video

**What you think the docs should say:**
Basically, the image cites the video source, and the video source cites the image. I'd fix this myself but these don't seem to actually be embedded in the docstrings, but rather hosted as a sep

[2020-07-10 12:57] jwei-ccmp commented on #1514
You could try insatll branca package of version 0.3.1
pip install branca==0.3.1

then restart your streamlit server .
It approves my result although there are still some maps cannot be shown

[2020-07-10 12:57] jwei-ccmp commented on #1514
And my solution is to create a download link of html to get it directly

[2020-07-10 16:16] kmcentush opened #1695 "Files not tracked if folder doesn't have __init__.py"
# Summary

I recently came across this issue and couldn't find anything in the documentation that called it out. I figured that either this is truly a bug, or the documentation should be updated to include a comment on this so that other users aren't caught off guard like I was.

# Steps to reproduce

1. Create the following file structure. Fill each file as shown
[code]

main.py:
[code]

page1.py

[2020-07-10 20:04] randyzwitch commented on #1688
Enabled, as seen on #1696

![image](https://user-images.githubusercontent.com/2762787/87193885-0ff1b280-c2c7-11ea-8d18-4f1b0907c80d.png)

[2020-07-10 20:04] #1688 closed, assigned to nobody

[2020-07-12 18:29] batmanscode commented on #1430
I have the same (probably) issue. I get a KeyError as well whenever it reloads. I wish I saw the discussion before I reinstalled conda lol.

For me the problem line of code was `results = model.predict(X_test)` and this always worked fine on `streamlit run` but KeyError after a reload.

I'm using conda on windows, streamlit version: 0.62.1, python: 3.8.3

Fixed by adding:
[code]

[2020-07-12 19:56] dvaldes8128 opened #1697 "Pandas DataFrame needs enhanced visualization"
### Problem

Pandas DataFrame visualizations are poor and lack features of other data structure representations. For example:
 * put on clipboard (works on json)
 * variable width of columns

[2020-07-13 03:35] Morgan-Sell commented on #942
Streamlit is a remarkable package! It would be great if there was a `conda install` though.

[2020-07-13 04:57] OribPJH opened #1698 "supporting other languages (utf-8)"
hello, I started using streamlit and I got stuck in a problem - I didn`t find a line that could make the text boxes written from rtl.
Is there any code that I can add to make my app support not only ltr?

[2020-07-13 09:31] andfanilo commented on #1697
Hi @dvaldes8128, thanks for opening this issue.

With Streamlit Components coming, which enables running arbitrary HTML/CSS/JS in Streamlit, devs will be able to integrate other JS libraries then the native one Streamlit provides to visualize and interact with DataFrames, such as [react-table](https://react-table.tanstack.com/) or [react pivottable](https://react-pivottable.js.org/).

If you have

[2020-07-13 09:38] andfanilo commented on #1698
Hey @OribPJH, thanks for the issue.

Can you test the solution from [this discussion](https://discuss.streamlit.io/t/text-input-widget-r2l/2471/2) and tell us if it fits your needs ?

Regards
Fanilo

[2020-07-13 09:45] OribPJH commented on #1698
it is works only for input tag.
I have tried to do the same for p or div but with no resolts.

[2020-07-13 10:45] louisguitton commented on #969
Not really proud of this but as I needed this urgently, I wrote the following workaround:
[code]

[2020-07-13 12:57] julien-c commented on #969
Whatever works:)

[2020-07-13 15:10] andfanilo commented on #1698
How about adding div and p (and any html tag) selectors inside the style tag, and maybe a text-align to the right ? Afterwards it's going to be a lot of CSS fiddling though to select the tags you want to edit, Streamlit does not have an official way for adding a custom CSS file but you can track this [here](https://github.com/streamlit/streamlit/issues/1141).

[code]

![image](https://user-images.

[2020-07-13 16:20] PerplexedFox commented on #904
I also need this functionality. I have to upload the file as a bytea object to the database (from the client, very big files), and having the path would make life much easier. Not sure how to do it with an IO object (using psycopg2)

[2020-07-13 17:39] #1166 closed

[2020-07-13 19:13] treuille commented on #1691
Hey @ranalytica: we have R (and Julia) enthusiasts on staff here and would love to see an R version of Streamlit at some point! In fact Streamlit’s [internal](https://github.com/streamlit/streamlit/blob/develop/proto/streamlit/proto/ForwardMsg.proto) [protocol](https://github.com/streamlit/streamlit/blob/develop/proto/streamlit/proto/BackMsg.proto) between the server and browser was written in pro

[2020-07-13 19:34] arung5305 commented on #1613
Thanks a lot.. This worked!

[2020-07-13 19:40] shkiefer commented on #641
Just to add to Zigulich's suggestion:
if you want a 1-liner that doesnt modify the original dataframe you can use `df.assign`:
`st.dataframe(df.assign(hack='').set_index('hack'))`
or
`st.table(df.assign(hack='').set_index('hack'))`

[2020-07-13 21:07] nthmost commented on #1691
Thanks for the question @ranalytica.  Just closing this for program tracking purposes; further discussion is welcome, and may be best done [over on our forum](https://discuss.streamlit.io/).

[2020-07-13 21:07] #1691 closed, assigned to tvst, treuille

[2020-07-13 21:31] lmeyerov commented on #1418
Hi @andfanilo @randyzwitch , some learnings so far:

-- unsafe markdown html indeed gets us quite far! not great to tell F500 + gov folks to do anything unsafe, but great for starters! been an improvement over Viola etc so far

-- the upcoming `iframe` option sounds right in line. will there be a way to mark iframe attribute `allow="fullscreen"` so users can pop in and out of fullscreen without lo

[2020-07-13 21:32] lmeyerov commented on #1418
![streamlit_graphistry](https://user-images.githubusercontent.com/4249447/87355706-aca98f80-c515-11ea-8b5c-5c3235f2c409.png)

[2020-07-13 22:02] tconkling commented on #1305
As far as I can tell, this isn't true. I modified `st_hello.spec.ts` so that the test would fail:

[code]

And it does, indeed, fail. So perhaps this was fixed somewhere else along the way? (@jrhone, is it possible I missed something here? Is there another failure case I'm not looking at?)

[2020-07-13 22:24] tconkling commented on #1305
Closing this after discussion with @jrhone - things are working as expected.

Here's a link to the CircleCI test failing (as expected) with the above broken test: https://circleci.com/gh/streamlit/streamlit/8843?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

<img width="1369" alt="Screen Shot 2020-07-13 at 3 24 51 PM" src="https://user-images.githubusercontent.

[2020-07-13 22:24] #1305 closed

[2020-07-13 23:15] randyzwitch commented on #1418
Hey @lmeyerov, glad you’ve made some progress! The “correct” way to do this comes out tomorrow in v0.63.0, so the “unsafe” part will no longer be necessary.

The documentation will show tomorrow how to use React and/or TypeScript. Happy to answer any questions as they come up (or refer you to an engineer that knows what they are doing with J.S. :) )

[2020-07-13 23:50] adamjacobgilbert commented on #283
has this been resolved?  i am still running into the watchdog dependency error even when I try the suggested solve.

conda install -c conda-forge watchdog
pip install streamlit

really want to try streamlit

[2020-07-14 00:11] laxatives commented on #601
👍  Please prioritize this integration

[2020-07-14 00:50] nthmost commented on #517
Linking: https://github.com/streamlit/streamlit/issues/1449

[2020-07-14 01:16] nthmost commented on #641
Linking: #1449

[2020-07-14 01:37] lmeyerov commented on #1418
Cool!

My sense is we'll "eventually" get to doing React stuff on our side (Q4?), but for now + bulk of our end-users interested in streamlit for dashboarding, React loses a lot of the appeal of the current model. (We already have a react component, but even when we get that re-wrapped for streamlit, our streamlit users will still likely rather not touch JS, e.g., imagine a bank fraud team or some

[2020-07-14 02:08] randyzwitch commented on #1418
The end-user never touches JS, they write Python. The component architecture deals with bi-directional communication between Python and JS

[2020-07-14 02:13] nthmost commented on #1697
Linked: #1449

[2020-07-14 03:14] laxatives opened #1707 "Pydeck documentation is unusable"
**Link to doc page in question (if any):**

https://deckgl.readthedocs.io/en/stable/layer.html

**Name of the Streamlit feature whose docs need improvement:**

Pydeck

**What you think the docs should say:**

Documents should provide simple examples like [this](https://discuss.streamlit.io/t/map-plotting-using-streamlit-map/765). The current documentation doesn't differentiate between demo's (whic

[2020-07-14 04:25] #1477 closed, assigned to nthmost

[2020-07-14 07:51] lmeyerov commented on #1418
Ah gotcha, that's good to hear. My guess is we'll probably still get more mileage by focusing on the python -> python layers first, which are largely already there :)

Current progress on proving out a customer streamlit/rapids/graphistry dashboard:

Frontend: Will be curious if v2 supports safely or we'll still need the backdoor:
-- currently doing allow=fullscreen for iframe
-- currently doing c

[2020-07-14 12:23] randyzwitch commented on #1418
Now that it's Tuesday...

https://docs.streamlit.io/en/stable/develop_streamlit_components.html#create-a-static-component

`components.html` and `components.iframe` can be used in place of `st.markdown`, which gives you the same basic functionality, but sandboxed into an iframe put into the Streamlit app. This will allow you the same functionality, but keeps other widgets from modifying your widge

[2020-07-14 12:39] randyzwitch commented on #1707
I'm not sure I understand the distinction you are making here. The [pydeck](https://docs.streamlit.io/en/stable/api.html?highlight=pydeck#streamlit.pydeck_chart) docs for Streamlit provide the minimal example for using pydeck in Streamlit. One of the key assumptions is that people are already using pydeck; to that end, if someone has a pydeck object, our documentation shows them how to display tha

[2020-07-14 13:54] coffeewithbeer commented on #455
Has anything been developed for this? (even in pre-release). It is really worth noting that PlotLy has a FigureWidget class which would be great to get supported in Streamlit. It essentially makes it easy to click or zoom into / select areas of a plot, and lets you easily get a callback based on that.

I am currently trying to be able to get a Power BI alternative with Python, as Power BI is very

[2020-07-14 14:09] randyzwitch commented on #1693
Agreed. This is in a weird part of our documentation, as these apps were generated a while ago and are hosted separately from the actual documentation. Will have to see who knows how to update these.

[2020-07-14 15:57] laxatives commented on #1707
I think the problem is that `pydeck` is the only map library supported. This is asking many of your users to go learn pydeck for the first time, so its not true people are already using pydeck. I think it makes sense to point users to pydeck docs. I guess my issue is, how did you select pydeck as the mapping library? The underlying deck.gl library is very mature and impressive, but pydeck is incre

[2020-07-14 16:07] #132 closed

[2020-07-14 16:40] bayerj opened #1709 "Crash: import gym rendering in a streamlit monitor crashes on Mac OS X"
# Summary

The following streamlit monitor:

[code]

crashes on Mac OS X (10.14.6) immediately with the following output:

[code]

# Steps to reproduce

1. Copy paste the snippet above into a file `sttest.py`.
2. Run `$ streamlit run sttest.py`

## Expected behavior:

A website should open that shows "hello".

## Actual behavior:

Streamlit crashes without opening a website.

## Is this a regressi

[2020-07-14 17:28] lmeyerov commented on #1418
Thanks -- I'll file tickets as the new API, as I was fearing, does not support ^^^^^ functionality, so we'll stick with markdown

[2020-07-14 17:40] lmeyerov opened #1710 "[FEA] support allow fullscreen in embedded iframes"
### Problem

Embedded iframe components may have toggle-fullscreen buttons to enlarge presentation content in a way that preserves visual context, allows 'jumping back',  and all while providing super snappy performance, vs opening in a new tab. This helps core start/end workflows  such as in movies, maps, etc. Unfortunately, the new iframe api does not set `iframe allow="fullscreen"` by default,

[2020-07-14 17:47] lmeyerov opened #1711 "[FEA] 100% main width/height components"
### Problem

Embedded media may need to take the full width/height of the main area, such as an interactive map, movie, etc., such as when the dashboard uses the sidebar for controls and the main area for display. That does not appear to be supported in the current modes.

### Solution

**MVP:**

Workaround: users do custom css on custom unsafe markdown html

MVP Support: Maybe some sort of  CSS c

[2020-07-14 17:52] tconkling commented on #1710
Hey, thanks for filing the issue! We were somewhat conservative with our initial `allow` feature policy. It sounds like there are compelling reasons to add `fullscreen` to the policy whitelist. We'll take a look at this soon!

[2020-07-14 17:59] lmeyerov commented on #1710
Yep -- I'm not sure of the general threat model your team is working under, hence opt-in seems like a safe yet still low-effort compromise. I think fullscreen off is for issues like phishing drive bys.

[2020-07-14 18:28] randyzwitch commented on #1564
Today's the day! 0.63 of Streamlit was released with the components feature, and @andfanilo has released his ECharts component:

https://github.com/andfanilo/streamlit-echarts

[2020-07-14 18:37] randyzwitch commented on #1707
My apologies for the imprecise language. I meant that the docs take the perspective of a user saying "I have a PyDeck object, how do I render it in Streamlit?" We're not assuming that its the best/only/most popular choice, it just happens to be the one we support right now.

There has been some discussion in the community already about creating a Folium component, but like many open-source request

[2020-07-14 20:50] randyzwitch commented on #1695
It feels like this might be the same basic behavior as this issue, and yes, it should be documented better

https://github.com/streamlit/streamlit/issues/1176

[2020-07-15 06:06] tanmaylaud commented on #1541
@randyzwitch , I can pick this up if open. Thanks !

[2020-07-15 06:08] tanmaylaud commented on #1542
@randyzwitch , I would like to contribute. Is this issue active?

[2020-07-15 06:10] tanmaylaud commented on #1501
@kantuni , could you provide more context ? I would be happy to contribute.

[2020-07-15 07:52] zsz00 opened #1714 "streamlit-nightly stoped at 0.62.1.dev20200621"
pip install streamlit-nightly
stoped at 0.62.1.dev20200621

can you update it??

[2020-07-15 14:07] randyzwitch commented on #1542
Hi @tanmaylaud, thanks for volunteering! Yes, this is still something we want to do, and it's a pretty simple fix.

[2020-07-15 14:21] randyzwitch opened #1715 "Healthz endpoint hard-coded to 8501/doesn't pick up port specified in CLI?"
It appears that the `healthz` endpoint might be hardcoded to 8501 instead of picking up the port number from the CLI

ref: https://discuss.streamlit.io/t/streamlit-behind-revese-proxy-doesnt-work-when-you-change-port/4253

[2020-07-15 14:30] kush99993s opened #1716 "Streamlit behind reverse proxy doesn’t work when you change port"
# Summary
I am trying to run streamlit behind revese proxy doesn't work when we change port in streamlit.

Type here a clear and concise description of the bug. Aim for 2-3 sentences.
When change port in streamlit, and put it behind reverse proxy, front end try to use default port 8501 rather than changed port.

# Steps to reproduce
First run streamlit

```streamlit hello --server.port=2000```

In

[2020-07-15 14:35] randyzwitch commented on #1715
Duplicate to #1716

[2020-07-15 14:35] #1715 closed, assigned to nobody

[2020-07-15 15:23] randyzwitch commented on #1541
Thanks for volunteering! Maybe leave this one for a bit, we're thinking internally about how we're going to re-organize the documentation in general, and I'm sure this could be part of that as well.

[2020-07-15 16:48] djdebonis commented on #371
Hello!

Wanted to add my few cents to this.

I love the st.write(df) and st.dataframe(df) features, and they often work perfectly when I'm working with wider dataframes (2-3+ columns). I wanted to use this feature to be a better way to write out a list (i.e. one column in datafram) for the user. I don't want to use the st.table() feature because I want the user to be able to see all of the data (i

[2020-07-15 17:48] tanmaylaud commented on #1501
@randyzwitch , is there any active channel where such issues are being discussed? I would be happy to join and contribute

[2020-07-15 17:50] tanmaylaud commented on #1542
@randyzwitch So I need to remove the TOC in the main page right ? Because the sidebar already contains the same content

[2020-07-15 18:21] randyzwitch commented on #1564
I'm going to close this issue, since the package now exists. Happy to re-open if there are additional questions, or if you want to enhance the `streamlit-echarts` package, I'm sure that Fanilo would happily accept contributions :+1:

[2020-07-15 18:21] #1564 closed, assigned to nobody

[2020-07-15 18:28] randyzwitch commented on #1501
Hi @tanmaylaud -

We don't have a public Gitter channel or anything where these things are discussed; to be honest, we haven't had anyone who wanted to contribute to such a large piece of the project before :)

Can you send me an email so that I can further understand your background and your interests?

[2020-07-15 18:43] randyzwitch commented on #336
Added the docs label here...since this is a quirk of matplotlib, best solution in the interim is probably just to highlight that it happens and the solution is usually `st.pyplot(bbox_inches="tight")`

[2020-07-15 18:50] randyzwitch commented on #693
This now exists as a Streamlit Component for Streamlit >= 0.63, so closing this issue. If you have suggestions for improvements, I'm sure the maintainer of the Component would gladly accept feedback

https://github.com/Ghasel/streamlit-pandas-profiling/

[2020-07-15 18:50] #693 closed

[2020-07-15 19:01] randyzwitch commented on #1199
Since this exists now as a Component from @andfanilo , closing this issue

[2020-07-15 19:01] #1199 closed

[2020-07-15 19:04] randyzwitch commented on #1349
This now exists as a Streamlit Component:

https://facebookresearch.github.io/hiplot/tuto_streamlit.html

[2020-07-15 19:04] #1349 closed

[2020-07-15 19:40] randyzwitch commented on #1545
@tanmaylaud

[2020-07-15 19:41] tanmaylaud commented on #1545
I will have a look at the issue and come up with a plan. Thanks !

[2020-07-15 20:08] sabualkaz commented on #309
Great work! I hope to see this advance further.
The layout limitation and lack of some sort of session state is holding streamlit up from being adopted as a serious dashboarding contender.

[2020-07-15 20:55] randyzwitch commented on #1542
Closed by #1719

[2020-07-15 20:55] #1542 closed, assigned to nobody

[2020-07-15 23:51] karriebear commented on #1714
@zsz00 thanks for reporting this! We've just updated streamlit-nightly with the latest. A fix is coming to fix our release process for future updates.

[2020-07-16 00:45] karriebear opened #1720 "Investigate performance improvements for npm build script"
# Summary
An item discovered while fixing the nightly workflow (#1717) was an issue with terser. The below error was popping up.

[code]

This could be a result of the upgrade of `react-scripts` (#1677) which updated the version of its terser-webpack-plugin dependency.

This was resolved by disabling parallel processing but ideally, we would define the number of parallel processes to match that of

[2020-07-16 01:29] #1714 closed, assigned to karriebear

[2020-07-16 02:14] kush99993s commented on #1716
FYI: Other requests has same problem.

[2020-07-16 11:29] coffeewithbeer commented on #942
yep I agree too - Tornado upgrade and conda installations would be incredibly useful!

[2020-07-16 11:52] konstantinmiller commented on #241
My use case is to show text side by side. I'm working with NLP and I need this to, e.g., visualize quality of translation, or how a piece of text was transformed by a pipeline, etc. In the sense of "before" -> "after".

[2020-07-16 17:01] #1710 closed, assigned to nobody

[2020-07-16 18:27] Prashantmdgl9 commented on #547
In the settings, one can choose 'run app in wide mode' to get rid of the screen scroll but that makes everything left alighed and isn't always desirable.
Customisation is ideal solution here but running app in wide mode at least gets rid of the scrolling although it messes with other things such as elongating the select boxes.

[2020-07-16 19:25] tanmaylaud commented on #1545
@randyzwitch  Raised a [PR](https://github.com/streamlit/streamlit/pull/1723). Please review.

[2020-07-16 22:09] tc87 commented on #327
Wanted to let everyone know that the API for Streamlit Components was released on [0.63.0](https://docs.streamlit.io/en/stable/changelog.html#version-0-63-0)! 🥳

Here are some helpful links:

- [Launch article](https://medium.com/streamlit/introducing-streamlit-components-d73f2092ae30?source=friends_link&sk=f7a5998e27bf80438861f3086adf94b0)
- [Documentation](https://docs.streamlit.io/en/stable/str

[2020-07-16 23:24] #336 closed

[2020-07-16 23:59] SimonBiggs commented on #653
A neater fix seems to be the following:

[code]

Worked this out from the comment written over at:

[code]

Meaning, passing `None` to `RerunData` defaults to no change in state.

[2020-07-17 00:11] tvst opened #1725 "Regression: missing icons/fonts when deployed under a subpath (not "/")"
# Summary

When you deploy Streamlit at `foo.com/bar/baz`, all of Streamlit's static assets will be hosted at `foo.com/bar/baz/assets`. However, Streamlit is looking for those assets at `foo.com/assets`.

Culprit: https://github.com/streamlit/streamlit/pull/1635

# Steps to reproduce

1. Deploy your app at host where your app will be at a path other than the root
2. Go to our app

## Expected beha

[2020-07-17 06:29] Dataggredate commented on #904
+1

As a file is selected, I would like to upload it to GCP, and I need the path to avoid storing it before the upload. As written by @cuteufo, If the file_uploader could return a file path, that would be awesome.

Thanks a lot for the amazing work!

[2020-07-17 14:33] zsz00 commented on #1534
i meet a same issue.

[2020-07-17 18:35] randyzwitch opened #1730 "Support .__doc__ in Magics"
Currently, when a method is specified in a Streamlit app, its docstring is shown in the app. This is helpful for documentation/explaining how a function works.

When using the `multipledispatch` library, methods that are decorated `@dispatch` only show the following:

[code]
![image](https://user-images.githubusercontent.com/2762787/87819498-52247200-c83a-11ea-8d7c-212b4bb3b7fb.png)

If we support

[2020-07-17 23:15] #1725 closed, assigned to tvst, karriebear

[2020-07-17 23:34] yeshwanth1312 commented on #314
Any updates please ?

[2020-07-18 02:28] SimonBiggs commented on #543
My thought with this would be to have an `index.py` app which runs at the root path, and then every other `example.py` `test.py` etc would run at `http://hostname.com/example` and `http://hostname.com/test`.

The idea is that the CLI would point to a directory, if that directory does not contain an `index.py` a template one would be created, and it would do a little bit of a sanity check to make s

[2020-07-18 19:02] stevenkolawole opened #1731 "Typo at "Tutorial: Create a data explorer app" page"
**Link to doc page in question (if any):**
https://docs.streamlit.io/en/stable/tutorial/create_a_data_explorer_app.html

**Name of the Streamlit feature whose docs need improvement:**
Line 2 of **Fetch some data, step 1**

**What you think the docs should say:**
*You’ll notice that load_data is a plain old function that downloads some **data*** instead of *You’ll notice that load_data is a plain o

[2020-07-19 03:16] ankitgoel888 commented on #1539
I am facing the same issue! any update on this?

[2020-07-19 07:21] angrykim opened #1732 "File uploader error (maybe?)"
# Summary

Using st.file_uploader, I face the following error message at the very beginning of uploading a csv file.

and then suddenly the app is refreshed automatically and successfully operated.

any idea why the message is shown at the early stage ??

Error message:

TypeError: 0.0 has type float, but expected one of: int, long
Traceback:
  File "/home1/irteamsu/.local/lib/python2.7/site-packa

[2020-07-20 00:49] SimonBiggs opened #1733 "Undocumented breaking change in multiselect default parameter"
# Summary

In the most recent streamlit version the default parameter in multiselect now expects a list instead of a string. I couldn't find this breaking change documented within the changelog

Happy to give more info if needed, just let me know.

[2020-07-20 01:25] thenets commented on #648
I have the exact same error with Ubuntu 20.04, Python 3.6.9, and Streamlit 0.63.1. At least a hello world repository with vscode files would help a lot.
I just give up and want back to my Jupyter Notebook + iPython. After testing my algorithm I paste it back to Streamlit.

[2020-07-20 08:58] sjy commented on #1626
Pls pass longitude,latitude value when construct view_state.

![image](https://user-images.githubusercontent.com/1523060/87919212-0d9f0d80-caaa-11ea-8249-4f893cd0bcf9.png)
Here is an sample
[code]

[2020-07-20 09:56] yjiang18 commented on #779
Maybe not quite relevant to this issue, but I got something out from @Jwuthri 's example, however it looks different. I am curious how to show the heatmap of the text as I can only display all the features in a long column like this:

![image](https://user-images.githubusercontent.com/43742502/87924519-ebd86300-ca76-11ea-897f-18c7c786e890.png)

But how can I get this:
![image](https://user-images.

[2020-07-20 10:44] MauGal opened #1735 "the checkbox in sidebar loses its state when it takes time to load data."
# Summary

- In sidebar i have account text, password text and login button.
- Once authenticated, I have a checkbox to click to load the data
- if I clicked checkbox, tha data are loaded and I see charts
- At this point I interact with other checkboxes or sliders and the graphs disappear; the checkbox to load the data has a check but the behavior is as if it did not

# Steps to reproduce
Here a s

[2020-07-20 11:32] MauGal commented on #1294
Hi @jrhone .
I apologize if I haven't answered before.
About the longest time, in version 0.56.0 my script from when I see running appearing in the upper right corner to when it disappears takes 5 or 6 seconds.
In version 0.62.0 the same script takes 11 o 13 seconds.
 But I thought it depended on the grace period (KEEP_DELAY = 5)

[2020-07-20 15:41] randyzwitch commented on #1707
Today, I published `streamlit-folium`, a Streamlit Component for rendering Folium objects in Streamlit:

https://github.com/randyzwitch/streamlit-folium

I'm going to close this issue, since it's more of a feature request for Folium than a documentation limitation for pydeck, but if I am mistaken, please feel free to comment and I will re-open it.

[2020-07-20 15:41] #1707 closed, assigned to nobody

[2020-07-20 16:06] randyzwitch commented on #601
A Streamlit Component for Folium was published today (by me):

https://github.com/randyzwitch/streamlit-folium

Going to close this issue in lieu of the component, as it's more likely that the Component will be the method for doing this going forward rather than adding Folium as a dependency to base Streamlit.

[2020-07-20 16:06] #601 closed

[2020-07-20 16:06] randyzwitch commented on #1514
A Streamlit Component for Folium was published today (by me):

https://github.com/randyzwitch/streamlit-folium

Going to close this issue in lieu of the component, as it's more likely that the Component will be the method for doing this going forward rather than adding Folium as a dependency to base Streamlit.

[2020-07-20 16:06] #1514 closed, assigned to nobody

[2020-07-20 16:44] #1731 closed, assigned to nobody

[2020-07-20 17:02] randyzwitch commented on #1732
Hi @angrykim -

I noticed you are using Python 2.7 from your stack trace. In that case, you are using a pretty old version of Streamlit. I would recommend upgrading your environment to use Python 3.6+ and try again. It's likely the case that if this was a bug, it was fixed by now, or it could be caused by Python 2.7 itself.

Best,
Randy

[2020-07-20 17:51] simoneperazzoli commented on #439
Any progress on this?

[2020-07-20 18:46] randyzwitch commented on #686
With version 0.63 and `components.iframe` and `components.html`, this is now available

[2020-07-20 18:46] #686 closed

[2020-07-20 20:31] #1693 closed, assigned to akrolsmir

[2020-07-20 22:59] #433 closed

[2020-07-21 01:49] nthmost commented on #1697
Closing this issue as it is entailed within #1449

[2020-07-21 01:49] #1697 closed, assigned to nobody

[2020-07-21 02:00] nthmost commented on #1666
Hey @niviksha , I agree this would be a really cool feature to have in Streamlit, though it'll take a bit of product investigation to see how it fits into a potential engineering path.

Thanks for the suggestion!

[2020-07-21 02:01] nthmost commented on #1698
Linked:  #1353 #356

[2020-07-21 02:35] angrykim commented on #1732
Hi @randyzwitch

Thank you so much! I will try it :)

[2020-07-21 05:06] tvst commented on #1367
I believe we fixed this right after this issue was created. See https://github.com/streamlit/streamlit/blob/develop/.github/pull_request_template.md

[2020-07-21 05:06] #1367 closed

[2020-07-21 05:13] tvst commented on #500
Note to whomever implements this: please make sure the API and proto closely follow what we have for `st.selectbox` (as much as it makes sense to!)

In particular, please write a tiny little product spec

[2020-07-21 06:16] SimonBiggs commented on #1367
Yup, thanks :)

[2020-07-21 06:22] SimonBiggs commented on #543
@tvst I'm happy to volunteer to attempt to make this a thing. Would a PR attempting to begin this be welcome?

[2020-07-21 06:48] PuneethaPai opened #1739 "Support for Markdown Ordered List"
# Summary

Markdown Ordered List is currently not supported

# Steps to reproduce

[code]
## Expected behavior:

### Markdown
Unordered List:
- First
- Second
    - thirdt
    - Fourth

Ordered List:
1. First item
1. Second item
1. Third item
    1. Indented item
    2. Indented item
1. Fourth item

## Actual behavior:

Streamlit currently supports unordered list. But fails for ordered list:

[cod

[2020-07-21 12:53] randyzwitch commented on #327
Closing out this issue, since this now exists.

[2020-07-21 12:53] #327 closed

[2020-07-21 13:16] randyzwitch commented on #962
Per https://github.com/streamlit/demo-uber-nyc-pickups/commit/cb62eafd48af7a21b46932c6569440e520104b03, the Uber demo does already use PyDeck, so closing

[2020-07-21 13:16] #962 closed

[2020-07-21 15:21] karankharecha commented on #500
I want to implement this functionality and contribute.

[2020-07-21 20:59] itsabhishekhere opened #1740 "Recording does not Stop"
# Summary

When I used Record feature. I found that if we record for more than few seconds (generally, 5 sec) it does not stops. Even after 10 minutes of continues pressing STOP Recording.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. Go to 'Side Menu'
2. Click on 'Record a screencast'
3. Choose '.Chrome Tab'
4. Record for more than 5 sec
5. Click 'Stop' or Esc

[2020-07-21 21:07] ylu2019 commented on #611
I am also looking for a standalone HTML page that I can share with others. The streamlit page is interactive which is very nice. However, this great feature also makes it hard to show what I mean. Thus it will be perfect if I can convert that to a static HTML page.  Of course, we can say do a screenshot, but an Html page could include more information.

[2020-07-22 00:02] kmcgrady opened #1741 "components.v1.html docs example does not display correctly"
**Link to doc page in question (if any):**
https://docs.streamlit.io/en/stable/develop_streamlit_components.html#streamlit.components.v1.html

**Name of the Streamlit feature whose docs need improvement:**
`components.v1.html`

**What you think the docs should say:**
The example in a streamlit application. It produces the following error.

[code]

This is likely due to the fact that the iframe cre

[2020-07-22 09:28] pranftw opened #1744 "Unable to access returned values when the button is clicked"
![st_issue](https://user-images.githubusercontent.com/46406720/88160015-b9239b80-cc2b-11ea-9744-efa201566827.png)

## Expected behavior:

When the button is clicked, the function that gets executed when True returns some values. Those returned values will be accessible across the other parts of the program.

## Actual behavior:

When the button is clicked, the function gets executed and the return

[2020-07-22 13:32] koenvo commented on #1716
What reverse proxy do you use? When using nginx you need to make sure you enable websocket support like this:

[code]

So the issue is probably the reverse proxy and not streamlit.

[2020-07-22 13:41] koenvo opened #1745 "React side of custom component does not receive default value"
# Summary

When I build a custom component I can specify a default value in the python code. I need to specify a default value in the React component again, and they don't need to have the same value. This can/will lead to unexpected behaviour when they are not aligned.

# Steps to reproduce

1. Check out the example custom component
2. Change `component_value = _component_func(name=name, key=key,

[2020-07-22 14:14] randyzwitch commented on #1745
Hi @koenvo -

Is your entire component code posted anywhere? You should be able to receive the default values, but without seeing your React code, it will be difficult to tell you what to fix.

Best,
Randy

[2020-07-22 14:27] koenvo commented on #1745
I checked out the example and changed these two lines:

https://github.com/streamlit/component-template/blob/master/template/my_component/__init__.py#L73 (default=2)
https://github.com/streamlit/component-template/blob/master/template/my_component/frontend/src/MyComponent.tsx#L17 (numClicks: 5)

I expected it to work like https://github.com/streamlit/component-template/blob/master/examples/RadioBu

[2020-07-22 14:44] koenvo commented on #1664
I would like to have this working and I can create a PR for it. Ok @nthmost ?

[2020-07-22 14:59] tconkling commented on #1745
Hey @koenvo - yeah, the default value is not currently passed to the frontend. (Nor is the `key`.) This is on the list of things to do, but it didn't get in for the launch.

[2020-07-22 15:06] koenvo commented on #1745
Thanks @tconkling, I also wasn't sure if I would need to categorize it as a bug or feature request. You can close this issue when it's already on the list, or just keep it for reference, up to you :-)

[2020-07-22 15:18] kush99993s commented on #1716
Reverse proxy work just fine with the default port. When I change the port for streamlit, then Streamlit doesn't work behind the reverse proxy. Streamlit still tries to use the default port (8501), not a new port. It is not the reverse proxy issue. Do you have an example that works different port of streamlit?

[2020-07-22 16:44] randyzwitch commented on #1741
Thanks for reporting, I might've done that using a pre-release version of components. I'll change it.

[2020-07-22 18:34] akrolsmir commented on #314
We've settled on a slightly different proposal to achieve the same goals:

[code]

I'd expect us to get to this relatively soon now that the product spec is finished! Removing "good first issue" because this will likely be handled by a Streamlit core member

[2020-07-23 10:57] koenvo commented on #1716
That's interesting @kush99993s.

My setup looks like this:
[code]

[code]

[2020-07-23 12:53] Julian opened #1753 "Contributing page references a non-existing make target"
**Link to doc page in question (if any):** https://github.com/streamlit/streamlit/wiki/Contributing

**What you think the docs should say:**

The contributing page references a `pipenv-lock` make target that presumably was meant to update the `Pipfile.lock`, but that make target doesn't look like it exists anymore. It seems streamlit is considering moving packaging tools? (to poetry possibly, whic

[2020-07-23 14:43] #1741 closed, assigned to nobody

[2020-07-23 17:26] JohnReid commented on #1050
@jrhone  labelling this as an "enhancement" might not be strong enough. These new dtypes are the preferred dtypes for people using pandas 1. Not to support them out of the box looks like a bug to me.

[2020-07-23 17:55] kush99993s commented on #1716
Thanks, I will check it out.

[2020-07-23 17:57] kmcgrady commented on #1137
Work is in progress here, but here's some updates and outstanding questions:

1. Out of curiosity, if the `output_compression_type` is to determine between a lossy or lossless compression, perhaps the values should be `lossy` and `lossless` instead of `JPG` and `PNG` (in addition to `auto`). Docs can then specify what lossy and lossless mean in terms of compression algorithm. Thoughts?
2. Clarifyi

[2020-07-23 19:17] kmcgrady commented on #257
Files are changed. There's a small docs change that is on our radar to issue a redirect when release happens.

[2020-07-23 19:17] #257 closed

[2020-07-23 19:19] kmcgrady commented on #1616
The issue was due to the interpretation of the default min date `0001/01/01` being interpreted to be the year 2001. Change has been merged to ensure the date is always interpreted correctly.

[2020-07-23 19:19] #1616 closed, assigned to kmcgrady

[2020-07-23 22:30] #275 closed

[2020-07-23 23:31] 000Nobody opened #1756 "I cant pip install streamlit"
# Summary

When I run `pip install streamlit` I get a lot of errors. Quite a few of them seem to mention numpy being out of date, even though I have the newest version, 1.19.1

# Steps to reproduce

I am running python 3.8.2 and pip 20.1.1 on Windows 10. I type `pip install streamlit` into the cmd, and a long string of errors appears.

## Expected behavior:

Streamlit is installed.

## Actual beha

[2020-07-24 01:19] nthmost commented on #1732
Hi @angrykim -- I am going to close this issue for now just to stay on top of cleanup, but if you're still experiencing your problem after upgrading your setup, comment here and we'll reopen.  Thanks!

[2020-07-24 01:19] #1732 closed, assigned to nobody

[2020-07-24 04:04] hy9be opened #1758 "Document for publishing react based component is incomplete"
# Summary

The recursive-include path in `MANIFEST.in` is ``package/frontend/build *``, but the [document](https://docs.streamlit.io/en/latest/publish_streamlit_components.html#publish-streamlit-component-to-pypi) did not mention you need to change ``package/frontend/build *`` into ``<component name>/frontend/build *``. Following the current documentation may build a wheel file without the fronten

[2020-07-24 05:56] gregmuellegger commented on #942
Hey @svenrahmann

Did you know you can install pip packages with the environment.yml file as well? https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html#creating-an-environment-file-manually (See the second example in the linked section)
But this way probably doesn't solve other issues with simultaneous use of pip and conda.

However I still would also like to se

[2020-07-24 07:06] gregmuellegger commented on #302
Hi there. The usecase for me is to create a data browser for company internal use, and sharing the URL is kind of a must have for that application. However when there are many inputs I think would prefer not to have ALL inputs on the URL but only the ones where `st.args()` is used as someone suggested above.

[2020-07-24 12:52] anirbansaha96 opened #1760 "Cloud Deployment Documentation"
It'd be great if you someone could share elaborate documentation on deploying Streamlit applications on the cloud. I have already tried HerokuApp. It is really easy to host an app running on Streamlit to be hosted on Heroku however Heroku has a 500 MiB limit on its Slug Terminal. I'm using the `Haystack` library which crosses this threshold. Is there a way to easily render a web app on Azure using

[2020-07-24 13:32] randyzwitch commented on #1758
Thanks for highlighting this, I'll take a look a little later today

[2020-07-24 14:14] anirbansaha96 commented on #1756
Try creating a Python 3.6 Virtual Environment and try installing it inside that virtual environment. This issue most probably may be due to incompatibility of dependencies with Python 3.7.

[2020-07-24 16:00] #1758 closed, assigned to nobody

[2020-07-24 17:18] kush99993s commented on #1716
Quick question,

Why do we need following:
[code]

If we have to also forward home dir to streamlit, It will be difficult to host two streamlit application. Am I missing something ?

[2020-07-24 17:21] koenvo commented on #1716
`location /` is for everything BUT the websocket stream
`location /stream` is for the websocket stream

they need a different treatment. I don't think streamlit supports multiple apps on the same domain out of the box. I haven't seen a way to specify the prefix (like /app1/). Maybe subdomains will work.

[2020-07-24 18:53] karriebear opened #1761 "Breakup frontend/src/lib folder"
### Problem
`lib` is getting pretty large and is becoming a massive dumping ground.Splitting it up can help provide better context to what things are. Also we can then esignore all of vendors :)

### Proposed Solution
Below is a proposed breakdown of the lib folder and can probably benefit from better naming. Some files not sure
src/clients: API clients
src/utils: helper/utils (i.e. format, s3help

[2020-07-24 22:21] aalbinati commented on #1555
I have the same issue. Any solution?

[2020-07-24 22:29] aalbinati commented on #1555
I fixed it using iptable
Execute this statement and you should be go to go:

sudo iptables -t nat -A PREROUTING -p tcp --dport 80 -j REDIRECT --to-port 8501

[2020-07-24 23:13] #1756 closed, assigned to nobody

[2020-07-25 01:19] kantuni commented on #1720
Also, please check why `yarn start` takes such a long time and is there a way to speed it up?

[2020-07-25 08:49] nthmost commented on #36
Linked: #722

[2020-07-25 09:03] nthmost commented on #1664
Hi @koenvo -- Seems ok to me!   If you submit a PR someone from the eng team will review.  Make sure to place tests on new functionality and be prepared for a round of addressing comments from the eng team.  But this shouldn't be a big deal.

[2020-07-25 09:06] nthmost commented on #1050
@JohnReid Point taken.

We use labels to manage our work pipelines, but every once in a while an issue like this one sort of defines clean classification.  Regardless, I think there's a strong case for prioritizing this one.  Thanks for the bump!

[2020-07-25 09:44] nthmost commented on #1733
Hi @SimonBiggs ,

Do you know what version of streamlit you were using when `st.multiselect` was working the way you saw it work before?

According to git, this section of code (or at least, its docstring) was written back in Sept 2019:

[code]

Let me know any other information you might have that could help here...

[2020-07-25 14:55] SimonBiggs commented on #1733
Yup, running the following

[code]

Gives:

[code]

Running

[code]

Gives:
[code]

[2020-07-25 23:15] andfanilo commented on #1733
Similar bug reported [on the forum](https://discuss.streamlit.io/t/streamlit-0-58-0-to-0-63-0-multiselect/4513/2) so we can come back to the user on resolution :

and I noticed that the default parameter for the multiselect() has changed.
With streamlit 0.63.0, the default parmeter need to be an list (and not a string like in 0.58.0).
If you update your app, don’t be surprised if you read :
TypeEr

[2020-07-25 23:28] SimonBiggs commented on #1733
Also, more confusingly:

-----

[code]
gives:
[code]

------

and

[code]
gives:
[code]

[2020-07-26 07:45] mattijn commented on #309
I tried to build a calculator with buttons and a output field, but it also requires a grid layout. Might be a good test-case as well for this feature request.

[2020-07-26 08:06] prateekmaj21 commented on #1614
Maybe some problem related to importing it twice.

[2020-07-26 10:08] okld commented on #1733
There was indeed a change between 0.59.0 and 0.60.0 on multiselect. Here's the related PR https://github.com/streamlit/streamlit/pull/1401.

Before the change, if the default parameter was just a value like an int or a string, it was put inside a new list internally: `[default_options]`. After the change the function tries to cast it to a list `list(default_options)`. This explains why you have an

[2020-07-26 11:02] SimonBiggs commented on #1733
Yeah, that does. I would certainly vote for adjusting it so that default="simon" is considered to be the same as default=["simon"] as opposed to default=["s", "i", "m", "o", "n"]

Likely also worth writing this as a test case to make sure this doesn't slip through again...

[2020-07-26 17:50] asg017 opened #1763 "Streamlit Component iframe reloads when new Python arguments are passed in"
# Summary

When a custom Streamlit Component gets passed new arguments, it causes the entire iframe to be removed and a new one is re-rendered. Instead, I expected the new arguments to be passed in through the iframe through a parent `postMessage`, which would avoid excessive changes.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. [Download this gist](https://gi

[2020-07-26 19:51] CheapSquier opened #1764 "Attribute Error on import streamlit if mysql.connector is installed in same Anaconda environment"
# Summary

The streamlit app I was working on would execute fine until I decided to integrate mysql support. After installing mysql connector in the same Anaconda env I get an "Exception has occurred: AttributeError
module 'google.protobuf.descriptor' has no attribute '_internal_create_key'" when I simply try to import streamlit. Might

# Steps to reproduce

1. Create a new Anaconda env with pytho

[2020-07-26 20:46] andfanilo commented on #1763
Hi @asg017, thanks for the detailed report !

If I understood your issue correctly, it may [not be totally apparent from the tutorial](https://github.com/streamlit/component-template/blob/a8bce55c7ad6d162b1056575d61a2ac78e51ecc3/template/my_component/__init__.py#L54) but there's a `key` argument you can pass to your `test()` function to prevent the iframe from remounting.

[code]

Is it the behavi

[2020-07-26 23:28] asg017 commented on #1763
@andfanilo ah yup, that seems to do exactly what I want, thank you so much! Will close this

[2020-07-26 23:28] #1763 closed, assigned to nobody

[2020-07-27 02:58] karriebear opened #1765 "Documentation - API should not list element as a parameter."
# Summary
[API](https://docs.streamlit.io/en/stable/api.html) should not list element as a parameter. This is happening on all the components in the API.

# Steps to reproduce
1. Go to

## Expected behavior:
For example, streamlit.text should be as follows
[code]

## Actual behavior:
[code]

## Is this a regression?
Yes

[2020-07-27 13:34] randyzwitch commented on #942
Thanks everyone for highlighting how important a conda package is to the community. I assigned this to myself and will see what it takes to get this moving on our side

[2020-07-27 13:57] sterlinm commented on #942
That's awesome! Just FYI I've found the conda-forge community super welcoming/helpful in the past and they've got a reasonably active gitter. https://gitter.im/conda-forge/conda-forge.github.io

[2020-07-27 14:03] randyzwitch commented on #725
This issue is a duplicate to https://github.com/streamlit/streamlit/issues/942, which has more discussion

[2020-07-27 14:03] #725 closed

[2020-07-27 14:39] randyzwitch commented on #1764
More proof for the need for #942

[2020-07-27 15:00] randyzwitch commented on #1765
Interesting.

The suggestion here is to manually specify the arguments, which seems sub-optimal:
https://stackoverflow.com/a/30584552/2394542

Thinking I might try the other suggestion of having a function do this, to avoid the documentation getting stale if new parameters are added:
https://stackoverflow.com/a/30629191/2394542

[2020-07-27 15:26] karriebear commented on #1765
Opps should have probably included but @akrolsmir is refactoring `delta_generator` which seems to address this automatically as a by product. Issue created for tracking just to make sure we're good for our next release :)

Didn't even think to look at how sphinx is doing it. I think if we still encounter issues after the DG changes, we can take a closer look.

[2020-07-27 15:28] randyzwitch commented on #1765
Even better 😂

[2020-07-27 17:03] ricecooker commented on #611
To tack onto this, it would be nice to take an existing streamlit app and send a PDF version of the report. Like @djouallah, it'd be helpful for me to send a PDF of the report to someone with a link to the streamlit app for people who want to dig in.

Getting a standalone html page could be a good first step but sounds tough to try to inline all the assets (css, js, etc) into an html page.

Issue

[2020-07-27 17:03] nthmost commented on #1686
I'm gathering that this problem will be addressed when @karriebear releases the new FileUploader improvements not long from now.

[2020-07-27 17:05] karriebear commented on #1686
Thanks for reporting the issue! We are currently undergoing a file uploader redesign and this is an item that is being addressed. When we release the redesigned file uploader, users will get to have better control and insight into the files that are being uploaded. Stay tuned!

[2020-07-27 17:08] ricecooker commented on #351
Somewhat related, but I'd like to be able to publish PDFs of an app with some parameters. As a use case I might have a streamlit app that shows samples collected this week and samples over time.

It'd be nice if I could re-use the same code to send a PDF version of the report to users with a link back to the streamlit app for people who want to dig in and explore. Otherwise getting a weekly summar

[2020-07-27 17:29] kmcgrady commented on #220
Changes in the Pull Request should fix the issue. It looks great! Hope that helps!

[2020-07-27 17:29] #220 closed

[2020-07-27 18:31] lmeyerov commented on #1418
Hi @randyzwitch  just a quick heads up, as we've been bogged down in some internal + customer stuff:

-- with the st queryurl + fullscreen stuff landing, looks like we're about there for v1 from st side!

-- we hit issues on using caddy reverse proxy <> st for showing how to bundle together in a production setting (bastion / auth server), hopefully eow or next for that as on some customer paths

f

[2020-07-27 18:58] randyzwitch commented on #1418
Great, looking forward to checking it out. Once it's released, we'd be happy to add it to our Components gallery:

https://www.streamlit.io/components

[2020-07-27 20:10] rcs529 commented on #314
Any update on this?

[2020-07-27 20:38] kmcgrady opened #1767 "Inline JavaScript in Custom Component"
# Summary

Building a custom component with [HTML rendering](https://docs.streamlit.io/en/stable/develop_streamlit_components.html#render-an-html-string), inline scripts in `<script>` tags cause errors in the application

# Steps to reproduce

Attempting to embed a tweet.

[code]
*Note* You can replace 123 with a valid tweet id.

## Expected behavior:

Unsure. Based on doc, this should work and em

[2020-07-27 20:44] rcs529 commented on #601
Thanks Randy! You're workflow worked great. Is there a way to make the window size of the map full screen?

[2020-07-27 21:02] randyzwitch commented on #601
Thanks for the feedback @rcs529!

Currently, there isn't a way to make it map explicitly 100%, but that's been identified as an improvement to the overall components framework:

https://github.com/streamlit/streamlit/issues/1711

[2020-07-28 09:53] koenvo commented on #1716
@kush99993s any luck so far?

[2020-07-28 10:34] akrolsmir opened #1770 "New API: st.set_page_config"
## Proposal
[code]

## Background
We want to support the following in Streamlit:

1. Ability to set page favicon
2. Ability to set page title
3. Ability to make a page start in wide mode (today you need to toggle it in "preferences")
4. Ability to make a page start with the sidebar collapsed (today you need to collapse via the UI)

## Must be first st command
For all of these settings, we'd prefer

[2020-07-28 10:39] akrolsmir commented on #314
I'm going to be tackling this enhancement in the coming days. I've created a new issue at #1770 to track that since the proposal includes other work areas as well; please follow along there for updates.

(Still debating whether to mark this thread as a dupe; primary reason not to would be that there are lots of upvotes and people following this current topic.)

[2020-07-28 16:18] randyzwitch opened #1774 "Ability to set canonical URL"
Users trying to get Google to index their publicly-available Streamlit apps are running into issue where Google believes every app is `awesome-streamlit`. Setting canonical url via nginx did not solve issue.

Desired solution would be for users to be able to have apps indexed in search engines, with the expectation that setting the canonical url would be what fixes this.

ref: https://discuss.stre

[2020-07-28 18:11] SirVectrex opened #1775 "Issue with installing streamlit on fresh python"
# Summary

I have used streamlit happily for a month or two on my desktop machine and recently switched to a laptop. After installing PyCharm, VS Code and Python streamlit was the first to go. (Fresh setup) Same issues with a fresh virtual enviroment (venv)

Thanks for the help!

Unfortunately
`pip install streamlit`
throws a big error message

# Steps to reproduce

`pip install streamlit`

## Exp

[2020-07-28 21:17] akrolsmir commented on #1775
Hm, looks like you're trying to build this on Windows, and numpy isn't installing.

Do you know if those build tools are installed? Alternatively, perhaps using conda for your Python installation would allow you to work around this?

[2020-07-28 21:29] tconkling opened #1777 "dataframe styling breaks on pandas >= 1.1.0"
Pandas just released v1.1.0, and our styling code (which uses private pandas methods) is incompatible with it.

(As a temporary workaround, we're pinning pandas to < 1.1.0.)

When this is fixed, we should remove the restriction on pandas < 1.1.0 from the Streamlit `Pipfile`

[2020-07-29 09:24] atomsk121 opened #1780 "Getting "Module not found error" when attempting to import user package"
# Summary

Getting "Module not found error" when attempting to import user package.
Printed out a statement from the module in file I run using streamlit to prove that there is no problem regularly.
Ran streamlit - Got module not found error.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. Create custom package
2. Import in streamlit file.
3. Use a module from th

[2020-07-29 10:33] SandeshNandagawe opened #1781 "number_input not resetting to default value"
# Summary

Selecting one column through 'select box', then using **'number_input'** to get the user input, it has its default value; but when I cane the column, the value input by user is taken and number_input is not resetting to the default.
# Steps to reproduce

What are the steps we should take to reproduce the bug:

## Expected behavior:

with change in column name it should reset to default

[2020-07-29 12:55] randyzwitch commented on #1780
Addressed here:
https://discuss.streamlit.io/t/streamlit-not-recognizing-module-from-same-package/4572

[2020-07-29 12:55] #1780 closed, assigned to nobody

[2020-07-29 13:43] tanmaylaud opened #1782 "Option to switch from Light to Dark Theme"
Currently Streamlit has default Light Theme. There are many css files where the colors are assigned.
It will be good to provide the user with an option to switch to a dark theme.
BaseUI provides light and dark theme options but we have customised the css.

### Solution

It would be good to align and parametrise the css files so that a single switch in menu can allow all the components to refresh s

[2020-07-29 13:51] benlindsay commented on #1770
@akrolsmir This sounds like a great solution, looking forward to it! One question I'm curious about is the difference between "auto" and "expanded" for the initial sidebar state. My impression is that in either case, if any `st.sidebar.*` functions have been called, the sidebar would show up expanded, and if no `st.sidebar.*` functions have been called, there will be no sidebar to expand or collap

[2020-07-29 15:58] vhoulbreque opened #1783 "Dates frontend is very slow - choosing a date is very slow and unresponsive"
# Summary

Dates are very slow to manipulate inside the browser. Feels "buggy".

# Steps to reproduce

Code `app.py`:

[code]

Then,

[code]

Finally, try to manipulate with your cursor the date object inside your browser.

## Expected behavior:

It should be fast to choose a date.

## Actual behavior:

Interface is very slow and therefore hard to use

## Is this a regression?

yes

# Debug info

[2020-07-29 17:36] karriebear commented on #1678
We'll be refactoring `favicon` as part of the `set_page_config` API project. If that is not ready, make sure the existing `favicon` is not included in the releases.

[2020-07-29 18:11] akrolsmir commented on #1770
@benlindsay Thanks! "auto" and "expanded" will have different results depending on the width of the browser window. "auto" sidebar (aka today's behavior) starts expanded if the window is wider than a certain point, and starts collapsed otherwise. The two new options allow you to force the initial sidebar state one way or the other, ignoring browser width.

Incidentally, I'm wondering whether it ma

[2020-07-29 20:02] randyzwitch opened #1786 "log_level parameter in CLI help is incorrect"
`streamlit help` indicates that to set up logging, you use `--log_level`

[code]

[code]

The correct value is `--global.logLevel`

[code]

ref: https://discuss.streamlit.io/t/how-to-set-log-level-to-debug/4601/2

[2020-07-29 20:12] randyzwitch commented on #1783
Hi @vinzeebreak -

I can't reproduce this using Chrome or Firefox, also using Ubuntu 18.04. Any chance your system resources like RAM are at 100% usage?

[2020-07-29 22:17] nthmost opened #1788 "Something's Wrong (testing Asana integration)"
# Summary

I filed a bug in hopes it would get picked up by Asana

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

## Expected behavior:

Explain what you expect to happen when you go through the steps above, assuming there were no bugs.

## Actual behavior:

Explain the buggy behavior you experience when yo

[2020-07-29 22:26] #1545 closed, assigned to nobody

[2020-07-30 00:01] kantuni commented on #1777
On a serious note, I'll try to send out a PR by the end of the week.

[2020-07-30 00:43] benlindsay commented on #1770
Oh, duh, forgot about the screen size thing! Sounds great 🙂

[2020-07-30 01:43] nthmost commented on #824
Clarifications per @treuille

1. `st.title`, `st.header`, and `st.subheader` have an additional `anchor` kwarg
2. By default `anchor=None` which implies that the anchor is set automatically to be a lower-dash-case version of the title text, e.g.:
    - `st.title(‘Cooking Instructions‘)` → the anchor is `cooking-instructions`
        - Same for`st.write(‘# Cooking Instructions’)`
    - `st.subheade

[2020-07-30 02:33] kmcgrady commented on #500
Hey @karankharecha ! It's awesome you want to contribute! I have been tasked for helping close this in the next week (ideally). If you are still interested in implementing this functionality, let me know. I can help out or take over if you have any starter code. If I do not hear from you, I will start implementing a solution. 😊

[2020-07-30 02:57] tirthajyoti opened #1790 "Progress bar min and max values"
### Problem

The progress bar does not seem to have `min_val`, `max_val` options. Can they be added?

[2020-07-30 04:07] karankharecha commented on #500
Hello @kmcgrady, Yes I would still like to contribute and I am interested. Could you please tell me how to get started?

[2020-07-30 05:26] kmcgrady commented on #500
@karankharecha Awesome! I can direct you to some areas that can help you in coding. I'm new at this too, but here are some areas to consider.

[Contributing to Streamlit](https://github.com/streamlit/streamlit/wiki/Contributing) - Use this for setting up the repo.

Changing the `slider` API, you'll want to start [looking here](https://github.com/streamlit/streamlit/blob/develop/lib/streamlit/delta

[2020-07-30 05:59] harshitakadaluri commented on #1613
Thank you so much iqbal...It worked😊😊

[2020-07-30 06:24] karankharecha commented on #500
I reached the step _How to build develop streamlit_
while executing make command, I am gettting an error that says, _pip command not found_
This is because, I have using python3 and so instead of pip, I have to use pip3.
So, is there any other way instead of _make_?

[2020-07-30 09:04] silas2471 opened #1792 "Streamlit and Multithreading Shutdown Events and Multiinitialisation"
# Summary
1.While working with Streamlit I needed a thread to run in the Background, however this thread does not shut down when pressing CTRL + C in the terminal. Thus i tried setting a shutdown event with Signal.SIGTERM, this is not possible either, I get the "ValueError: signal only works in main thread".
Is there a function which i can implement, which will be called upon Pressing CTRL+C in th

[2020-07-30 11:05] adityashukzy commented on #314
If you're still working on this, perhaps give us an option of having the images in wide mode but not the text. So it could be like a cover image that's end-to-end on the top of the page. Thanks.

[2020-07-30 13:33] randyzwitch commented on #1790
Hi @tirthajyoti -

The way the progress bar is set up now, it's assuming 0 to 100% completion. What use case are you imagining, iterations or batches, something like that?

Best,
Randy

[2020-07-30 14:08] scottweitzner commented on #744
I'm receiving this error as well.
using streamlit v0.64.0
[code]

[2020-07-30 14:27] karriebear commented on #942
In the past, we've had issues maintaining a streamlit conda package and have removed it. However, given the interest for it, our engineering team has dedicated time to researching how we can release and maintain a conda package as part of our release process. While we don't have an idea on timeline, we are committed to investigating and will report back with our findings.

Thanks for the insight a

[2020-07-30 17:01] juancitotrucupey commented on #1555
@aalbinati it also worked for me, thank you. I believe that the issue can now be closed.

[2020-07-30 17:01] #1555 closed, assigned to nobody

[2020-07-30 17:02] #1525 closed, assigned to tconkling

[2020-07-30 18:34] nthmost commented on #1733
Thanks for all of the detailed information @SimonBiggs -- I agree we should have a test around this.  Sorry for the bother!  Really appreciate all your time and attention on this one.

[2020-07-30 20:03] #78 closed

[2020-07-30 20:03] kmcgrady commented on #78
Completed this in the recent Pull Request

[2020-07-30 20:29] dcyoung commented on #1019
+1

[2020-07-30 22:04] SimonBiggs commented on #1733
No need to be sorry :). Thanks for the brilliant tool. That's one of the
benefits of an open source community. People can look at the code and
provide explicit actionable feedback.

On Fri, 31 Jul 2020, 4:34 am Naomi Most, <notifications@github.com> wrote:

[2020-07-30 22:32] lmeyerov commented on #1774
Just saw this -- I'd refine to the expectation would be for streamlit to not autoset their domain, here or anywhere else. Imagine a bank or gov site self-hosting a streamlit app: that would be a major red flag and security violation (mitm), and super hard to track down every hardcoded gotcha.

[2020-07-30 23:45] s3630237 commented on #1192
Hi @arraydude and @Flinst0n ,

I'm building a dashboard for the first time using Dash. All charts are rendering except for the treemap. If I add fig.show() it will render in another tab outside the dash app, which tells me the code is working fine. I'm using plotly express for the treemap. Ive been looking everywhere for a solution so hoping you could help, given you guys are experiencing exactly

[2020-07-31 05:39] nthmost commented on #1733
Marked as "bughancement" because this could be fixed in one of two ways:

1. put a test around the behavior as @SimonBiggs suggested, and ensure it works as expected per Simon's example cases.

2. nudge the API so that it is possible to use either a string or a list as the default parameter.  (And of course, the tests.)

[2020-07-31 05:43] kmcgrady commented on #1137
We founded a solution that makes sense keeping `JPEG`, `PNG`, and `auto` while maintaining the original functionality before.

[2020-07-31 05:43] #1137 closed

[2020-07-31 06:14] nthmost commented on #1786
Thanks @randyzwitch !

[2020-07-31 07:53] andfanilo commented on #1192
Hey @s3630237

This works on my side, Streamlit 0.64 :

[code]

What kind of error are you experiencing ?

Fanilo

[2020-07-31 09:00] vhoulbreque commented on #1783
Hi @randyzwitch

Just tried again on my personal computer. My RAM was only 1/3 full and my CPU was completely fine.

OS: Ubuntu 18.04
Browsers: Mozilla Firefox 79.0 & Google Chrome 84.0.4147.89
Python 3.6.8 & 3.7.6
streamlit-nightly==0.64.1.dev20200728

![output](https://user-images.githubusercontent.com/18598248/89018923-dab40f80-d31c-11ea-93ed-93692fd32ca8.gif)

[2020-07-31 09:15] s3630237 commented on #1192
Hy Fanilo,

Thanks for getting back to me so quickly. Basically I get all charts rendering except the treemap. Below you can see a blank white chart area where the treemap is meant to be. However, If I type fig.show() in my update_treemap function, the treemap renders but not in the dashboard below. It renders in a separate tab (outside the dashboard) as per the 2nd picture. My end goal is to get

[2020-07-31 10:04] ritiksoni00 commented on #1786
@nthmost  can solve this issue??

[2020-07-31 12:37] randyzwitch commented on #1774
I don't think this is a case of Streamlit setting something, but rather that the output bundle looks the same to Google. awesome-streamlit itself is a community project unaffiliated with Streamlit the company, so we're certainly not setting people's apps to default to that.

[2020-07-31 12:46] randyzwitch commented on #1786
This should be a pretty simple fix, so if you'd like to submit a pull request for it @ritiksoni00, we're happy to review it!

[2020-07-31 19:00] WilberDelbrison commented on #309
Great code! I only miss the option to include widgets to a cell. I didn't find a way to get the widget Html code. Any thoughts on a way to add a widget to a cell?

[2020-07-31 20:42] randyzwitch commented on #302
With this PR merged in, it'd be great if people started testing to see if this solution solves this use case:

https://github.com/streamlit/streamlit/pull/1169

This PR hasn't made it to a full release yet, but can be evaluated with `pip install streamlit-nightly`

[2020-07-31 20:53] randyzwitch commented on #1782
This is a duplicate to https://github.com/streamlit/streamlit/issues/534, so closing this. But yes, it would be good to have Dark Mode :smiley:

[2020-07-31 20:53] #1782 closed, assigned to nobody

[2020-07-31 20:56] randyzwitch commented on #532
Related to #1794

[2020-07-31 20:59] akrolsmir commented on #1006
For anyone interested, this will be addressed by #1770, which currently has a PR in progress #1794

(Sorry for the issue chaining; I wish github allowed us to just merge the upvotes/discussion)

[2020-07-31 21:04] akrolsmir commented on #314
@adityashukzy A cover image is a neat idea, but would be out of scope for either this and also the wider #1770 proposal; we'd have to think more carefully through how the API and layout for that would look. I'd hope that cover images would be supported when we work on Custom Layouts, an initiative that should begin later this year, but in the meantime feel free to open another issue we can referen

[2020-07-31 21:08] randyzwitch commented on #994
As mentioned [above](https://github.com/streamlit/streamlit/issues/994#issuecomment-579310740), I believe this issue is resolved since the `key` argument is now present in most if not all widgets.

If I am mistaken, please feel free to let me know and I will re-open this issue.

[2020-07-31 21:08] #994 closed

[2020-07-31 21:09] akrolsmir commented on #798
An experimental PR #1169  has landed to support getting and setting query parameters; I think it should solve this use case (but feel free to reopen if it does not!)

[2020-07-31 21:11] randyzwitch commented on #1108
Related: https://github.com/streamlit/streamlit/pull/1794

[2020-07-31 21:19] randyzwitch commented on #1507
Since this seems to be [confirmed as a syntax issue](https://github.com/streamlit/streamlit/issues/1507#issuecomment-650476620), not a bug, closing. If I am mistaken, please let me know and I will re-open the issue.

[2020-07-31 21:19] #1507 closed, assigned to nobody

[2020-07-31 21:27] benlindsay commented on #798
I think eventually it would be cool to be able to have more control over the URL besides just the query parameters, since something like `myapp.com/benlindsay/dashboard` looks a little nicer than `myapp.com/?user=benlindsay&page=dashboard`, but I can't think of any functionality I'd want that couldn't be achieved with the query parameters, and at least for now I'd put this way down on the prioriti

[2020-07-31 22:11] nthmost opened #1797 "Streamlit doesn't notice code changes in cached functions in CWD"
# Summary

When running a script that uses Streamlit's caching from the current working directory, hashes of Python functions don't respond to code changes. What happens is that _get_main_script_directory() returns '.'. filepath is always an absolute path, so the subdirectory check file_util.file_is_in_folder_glob() always fails. This causes the hashing code to silently fall back on the codepath f

[2020-08-01 10:11] SirVectrex commented on #1775
Sorry for the late reply - was out of office for a while

Numpy is installed already: i executed `pip install numpy` and retrieved Requirement already satisfied: numpy in c:\users\flori\appdata\local\programs\python\python38-32\lib\site-packages (1.19.1)

Installed Visual Studio as well - didnt help.
Also I Visual Studio is not installed on my other computer.

`conda install streamlit` is unfortun

[2020-08-01 11:01] S-UP commented on #611
Same here. Coming from the Rmd/Shiny side of things, I really miss the ease of use that Rmd files provide when working with analyses and reports. For instance, I ended up pushing lots of dedicated Rmd reports to our internal shiny server, as compiled HTML files. Easy to then share the link with audiences within a company. Exporting Streamlit apps as fully self-contained websites would be great, in

[2020-08-01 14:23] benlindsay commented on #309
@WilberDelbrison I think a grid API like the ones discussed at the top would have to be implemented directly in streamlit to be able to include streamlit widgets in grid cells. I think the
working grid code above only works within an st.markdown() call

[2020-08-01 15:23] benlindsay commented on #233
Now that we can get and set query parameters at least in the nightly release via #1169, I think there's a hacky workaround that's possible for some use cases. You could write tabs with st.markdown() and have the links point to something like `/?tabchoice=1`, then get the value of query parameter `tabchoice` and so something like
[code]
I'm going to try this out soon so we'll see how it goes

[2020-08-01 17:40] JulioBarzola commented on #1613
Thank you. It worked!

[2020-08-01 18:03] ZupoLlask commented on #969
@nthmost, any update on this subject? 🙂

[2020-08-01 22:38] karankharecha commented on #500
@kmcgrady Hello, is there any channel where we can talk and interact?

[2020-08-02 03:59] kmcgrady commented on #500
@karankharecha Hey, We currently do not have a chat setup. How is your progress? I might be able to set up some time to connect early next week.

[2020-08-02 09:45] mohak79 opened #1799 "Ability to horizontally align elements"
### Problem

All the streamlit widgets are left-aligned and it is sometimes frustrating because the rest of the web app is centre aligned and there is only one button which is out of the way. There should be a methodology to align the widgets.

### Solution

**Smallest Possible Solution:** Give text alignment as an argument in the widget

**Possible additions:** The same problem can be solved if a

[2020-08-02 18:31] ZupoLlask opened #1800 "Some tags + newline combinations mess with HTML rendering"
# Summary

Some HTML element tags followed by a single newline character prevents HTML from rendering properly when using `st.markdown()` or `st.write()` with `unsafe_allow_html=True`. If `unsafe_allow_html=False` HTML code is properly printed (unlike when it has to be rendered).

Honestly, this seems totally related with issue #921 and with the `react-markdown` problem (https://github.com/rexxars

[2020-08-02 20:49] SirVectrex commented on #1775
I have now found the issue:
Python was running as a 32bit version and the VS Build Tools still had to be activated.

Thanks a bunch for the help!

[2020-08-02 20:49] #1775 closed, assigned to nobody

[2020-08-02 21:56] karankharecha commented on #500
@kmcgrady The project is working locally without any issues, there were few issues initially, but not now. Can we connect on Skype on Tuesday? If you're available.

[2020-08-02 22:59] kmcgrady commented on #500
@karankharecha Sounds good. Want to publish a pull request so I can look in advance?

[2020-08-03 09:19] vhfgosselin opened #1801 "caching with comprehension list with if"
# Summary

Caching a function with a comprehension list with an if inside seem creates an error message.

# Steps to reproduce

What are the steps we should take to reproduce the bug:
Here's a sample code:
[code]

## Expected behavior:

## Actual behavior:
[code]

## Is this a regression?
I doesn't seem so since I tried this with several versions of streamlit and still got the same error message.

[2020-08-03 12:38] Charlitchi commented on #1644
I have exactly the same problem. It looks like it's because the architecture is 3 levels depth. It appeared when I changed it from 2 to 3 levels.

[2020-08-03 15:34] randyzwitch commented on #1801
Hi @vhfgosselin -

Taking a step back here, what are you trying to accomplish? Writing a global variable like this is pretty unsafe relative to returning `production` from `create_raw_data`, and given that you're not assigning the output directly from `create_raw_data` directly in your Streamlit app, I'd be surprised if the caching mechanism could work (since anything can modify the global `produc

[2020-08-03 15:48] jrhone commented on #1801
I think you want this?
[code]

But actually both ways execute successfully in the python shell so their might be a Streamlit bug here

[code]

[2020-08-03 15:59] vhfgosselin commented on #1801
Hi,

In fact, the code of the function is quite stupid. In real life, this is a function that generates severa list of data using some random generators.
I was only trying to get a very simple comprehension list to work with an if statement inside and the st.cache on.

I still get the same error even if I write the function with a local variable:

import streamlit as st

@st.cache()
def create_raw

[2020-08-03 17:29] #1262 closed

[2020-08-04 03:08] nthmost commented on #969
This issue has now been superceded by [Streamlit Custom Components](https://medium.com/streamlit/introducing-streamlit-components-d73f2092ae30).

We are now advising developers to [write custom components](https://docs.streamlit.io/en/stable/develop_streamlit_components.html) that wrap the desired functionality.

[You can also find a clever workaround here in the forum.  :) ](https://discuss.strea

[2020-08-04 03:08] #969 closed

[2020-08-04 03:11] nthmost commented on #779
This issue has now been superceded by [Streamlit Custom Components](https://medium.com/streamlit/introducing-streamlit-components-d73f2092ae30).

We are now advising developers to [write custom components](https://docs.streamlit.io/en/stable/develop_streamlit_components.html) that wrap the desired functionality.

[2020-08-04 03:11] #779 closed

[2020-08-04 06:32] kmcgrady commented on #83
Coverage is now 99%

[2020-08-04 06:32] #83 closed

[2020-08-04 10:13] analyticalrohit opened #1803 "Jump forward or backward (No seeking) in a playing video [st.video]"
# Summary
Unable to jump forward or backward in a playing video

# Steps to reproduce
What are the steps we should take to reproduce the bug:

1. Use code
code
`

`
2. Run application and try to jump forward in a video

## Expected behavior:
It should be able to jump forward in a video. Seeking should be allowed.

## Actual behavior:
No seeking

# Debug info

- Streamlit version: 0.59.0
- Python v

[2020-08-04 14:57] koenvo commented on #1664
@nthmost I added the pull request: https://github.com/streamlit/streamlit/pull/1802

[2020-08-04 17:35] karankharecha commented on #500
I am done with the backend part, but stuck in frontend. Can we chat on Skype and can I show the backend part and my approach?

[2020-08-04 20:37] tconkling commented on #1767
I'm not able to repro this in my setup - this Streamlit app runs without error:

[code]

(It doesn't display anything - but that's not a bug, it's because Twitter blocks the request with its CORS policy.)

@kmcgrady, is there a complete example that shows the error? Was there other stuff in your app?

[2020-08-04 22:16] kmcgrady commented on #1767
@tconkling Perhaps the standard case isn't working. Does this cause an error on your side?

[code]

Something wrong with my formatting. Wonder if it has to do with the `{0}` in the parsing.

[2020-08-04 22:21] kush99993s commented on #1716
Not yet, I will let you as soon as I have something.

[2020-08-04 22:27] kmcgrady commented on #1767
This is my bad. The error is referring to a python string format bug curly braces need to be escaped. Closing this issue.

[2020-08-04 22:27] #1767 closed, assigned to nobody

[2020-08-05 01:21] datalee opened #1804 "st.video start_time seem not work"
# Summary
i set start_time,but it not work
# Steps to reproduce

![截图111](https://user-images.githubusercontent.com/13651873/89361032-c39a6680-d6fc-11ea-8f0a-1b603fbfcac0.JPG)
i set start_time==18,but it start from 0

# Debug info

- Streamlit version: (get it with `$ streamlit version`)
Streamlit, version 0.64.0

- Python version: (get it with `$ python --version`)
Python 3.6.5 :: Anaconda, Inc.

[2020-08-05 03:06] kmcgrady commented on #1501
Following up, after discussions with the team, we agreed on the following choices:
* Let's convert stateless components only for now.
* As for stateful components, some are really hairy and not well tested, best not to touch.
* Future components: always write in hooks form
* If touching an existing component: make a decision about whether to refactor to hooks form yourself. But be warned that it m

[2020-08-05 09:56] nthmost commented on #1664
Thanks @koenvo !  It's in the queue for review!

[2020-08-05 13:03] PaulMatthieu commented on #1783
Experiencing the same behavior with the following configuration:

streamlit-nightly-0.64.1.dev20200728
OS: Ubuntu 19.10
Python 3.8.2
Mozilla Firefox 78.0.2 (64-bit)

[2020-08-05 16:40] randyzwitch commented on #1753
Thanks @Julian, I changed the wiki to reflect `make pipenv-install`

[2020-08-05 16:40] #1753 closed, assigned to nobody

[2020-08-05 17:40] randyzwitch commented on #1786
This is a really subtle issue. From what I can tell, in renaming `--log_level` to `--global.logLevel`, we're committing a Python violation around variable names having periods in them. Meaning, even though logging seems to work if you use `--global.logLevel` on the command-line, once you get into the `Click` package along with its decorator, you can't pass around `global.logLevel` as a variable.

[2020-08-05 17:58] randyzwitch opened #1807 "Try pre-release features incorrect for beta/experimental"
At some point, we decided to no longer have functions namespaced, but instead prefixing `st.beta_` to the function name:

https://docs.streamlit.io/en/stable/pre_release_features.html#beta-and-experimental-namespaces

Info should be re-written to not imply there are separate namespaces for these functions, but rather just prefixes.

[2020-08-05 20:45] sean-mcmann commented on #283
Hey All - I'm still running into this issue. I really want to try streamlit but can't seem to get watchdog to install properly.

Here's what I am running. I've tried to install streamlit, and I've tried to first install watchdog but I run into the same error either way. I am currently trying to install it in my active virtual environment.

OSX 10.14.6 (Mojave)
Python 3.6.9
pip 18.1

Here's the ful

[2020-08-05 22:18] akrolsmir opened #1808 "Automatically clean up Python imports"
Infra task to enforce some kind of cleanliness to our Python imports, if possible. Similar to what ESLint does for our Javascript.

For Python, we use the Black formatter, but it doesn't seem to support this kind of functionality (since removing Python imports can lead to side effects). [Autoflake](https://github.com/myint/autoflake) is one place to look, as is [reorder-python-imports](https://pyp

[2020-08-06 00:23] CheapSquier opened #1809 "In number_input, min_value & max_value format override format string and raises no warning"
# Summary

Regardless of the format string specified by the user, actual format used will be based on min_value and max_value

# Steps to reproduce

The following code presents a warning:
`weight = st.number_input("Today's weight:", min_value=50.0, max_value=750.0, format="%d")`
_Warning: NumberInput value below is float, but format %d displays as integer._

I believe that's intended behavior. How

[2020-08-06 00:48] jesserobertson commented on #268
I built on zblz's workaround and turned it into a wrapper that might be useful for some people:

[code]

Then you can do something like

[code]

which makes print debugging easier

edit: added relevant import statements for code snippet

[2020-08-06 03:56] taimeimiaole commented on #1613
Oh well, I have solved my problem by installing https://download.visualstudio.microsoft.com/download/pr/d60aa805-26e9-47df-b4e3-cd6fcc392333/7D7105C52FCD6766BEEE1AE162AA81E278686122C1E44890712326634D0B055E/VC_redist.x64.exe.
Restart your computer after installing it.

Thank you so much iqbal...It worked😊😊

[2020-08-06 04:18] datalee commented on #1803
yes， i need too

[2020-08-06 06:56] tvst commented on #1664
LGTM

[2020-08-06 07:09] tvst opened #1810 "Remove st.deck_gl_chart (deprecation deadline passed months ago)"

[2020-08-06 07:12] tvst opened #1811 "Move st.beta_color_picker out of beta"
According to [this](https://www.notion.so/streamlit/Experimental-and-Beta-Namespaces-0781e692281c4359aaf0f9f37fcad58f) the process for that is:

- [x] 1) Feature is added to the beta namespace.
- [ ] 2) After a few months: the feature's API stabilizes and the feature is *cloned* into the `st` namespace, so it will exist in both `st` and `st.beta`. At this point, users will see a warning when using

[2020-08-06 07:18] tvst opened #1812 "Get rid of deprecated arguments in DeltaGenerator methods"
In particular, there are several expired deprecations inside the following:
- [x] st.altair_chart
- [x] st.graphviz_chart
- [x] st.plotly_chart
- [x] st.vega_lite_chart
- [x] st.image

[2020-08-06 09:13] Ravi-Nayak opened #1813 "ModuleNotFoundError: No module named 'feature_axis'"
File "c:\users\asus\appdata\local\programs\python\python37\lib\site-packages\streamlit\ScriptRunner.py", line 319, in _run_script
    exec(code, module.__dict__)
File "C:\Users\asus\PycharmProjects\streamlit_project\demo_face_gan_project.py", line 9, in <module>
    import feature_axis

[2020-08-06 12:52] randyzwitch commented on #1810
This is a duplicate of https://github.com/streamlit/streamlit/issues/1457

[2020-08-06 12:52] #1810 closed, assigned to nobody

[2020-08-06 13:23] naurojr commented on #1567
I agree, serve static files should not be that complicated. If security is a concern, a dedicated folder could be set on the server setup using `st.set_option('public_folder', 'downloads')`. You could also set the type of files that you want to allow to be public like `st.set_option('public_filetypes', 'pdf, csv, xls, jpg')`  This was we could create files directly on the folder, and link to it as

[2020-08-06 15:23] randyzwitch commented on #1683
Closing in lieu of https://github.com/streamlit/streamlit/issues/1811

[2020-08-06 15:23] #1683 closed, assigned to nobody

[2020-08-06 17:49] nthmost opened #1814 "Custom Components Ideas"
Issues filed as enhancements for Streamlit which we think would be best handled as Custom Components.

[2020-08-06 18:18] randyzwitch commented on #1814
There has already been work to aggregate discussion about this on the forum, with some of these existing issues labeled in the 'Ideas in discussion' section

https://discuss.streamlit.io/t/streamlit-components-community-tracker/4634

[2020-08-06 18:53] nthmost commented on #1814
Great, thanks @randyzwitch .   We're going to want to keep these bundled here as well because many people come looking for functionality in Streamlit and probably aren't thinking "I should see if this is a custom component first."

[2020-08-06 19:34] akrolsmir commented on #971
@jsmar17 Hey! The new proposal in #1770 should cover this, by letting you specify:

[code]

Cheers!

[2020-08-06 21:20] freddubar commented on #1447
I have the same issue. A bunch of ghost widgets keep hanging. They are greyed out. And there's no way to pass the widgets to the state because it's not hashable.

[2020-08-06 22:39] akrolsmir opened #1819 "Move st.experimental_get/set_query_params into beta"
A discussion was started with product regarding if experimental should remain in experimental for a warning period. [https://streamlit.slack.com/archives/C017USJF285/p1604084393444100|https://streamlit.slack.com/archives/C017USJF285/p1604084393444100]

[2020-08-06 22:43] akrolsmir opened #1820 "Move st.experimental_show into beta"
Product discussion regarding if it should be removed from experimental with or without a warning period
[https://streamlit.slack.com/archives/C017USJF285/p1604084393444100|https://streamlit.slack.com/archives/C017USJF285/p1604084393444100]

[2020-08-06 22:44] akrolsmir opened #1821 "Move st.beta_set_page_config out of beta"
Special note: At this point we'd also like to showcase this functionality in our "Getting Started" docs! Check in with Randy then.

[2020-08-06 22:45] akrolsmir opened #1822 "API Upkeep"
Epic to track upkeep work for our APIs. Examples:
- Moving a feature from `experimental` to `beta` or `beta` to official
- Adding deprecation warnings, and then removing support for old APIs or arguments

Upkeep tasks are unlike standard tasks. After working on one, we cannot close out the issue, but rather need to follow up in a few months, possibly several times until the feature is finalized.

[2020-08-07 00:14] nthmost commented on #1625
Hi @raghavdixit99,

I know it's been a minute since you filed this bug.  This one looks more like an error within the function you're trying to cache.  Most likely one of the functions that reference other python scripts is the culprit.

Since I can't see the rest of your code I don't know how to diagnose where the error is, but I'm fairly certain based on the error message (even though it looks l

[2020-08-07 00:14] #1625 closed, assigned to nobody

[2020-08-07 04:46] jrhone commented on #1625
There are other issues about `builtins.function` causing `InternalHashError`
https://github.com/streamlit/streamlit/issues/1590
https://github.com/streamlit/streamlit/issues/1618

[2020-08-07 08:40] #314 closed

[2020-08-07 08:40] #532 closed

[2020-08-07 08:40] #971 closed

[2020-08-07 08:40] #1006 closed

[2020-08-07 08:40] #1108 closed

[2020-08-07 08:40] #1770 closed, assigned to akrolsmir

[2020-08-07 10:25] yellowishee commented on #1686
I came up with this problem too, waiting to see the new version. :)

[2020-08-07 16:57] kmcgrady commented on #500
Hey @karankharecha I figure I'd check in and see how are you doing on this?

[2020-08-07 20:23] kmcgrady commented on #168
`st.stop()` has been implemented, so I will close this ticket and open up a new issue for `st.rerun()`.

[2020-08-07 20:23] #168 closed

[2020-08-07 20:28] kmcgrady opened #1827 "Request: st.rerun()"
### Problem

We've implemented [`st.stop()`](https://github.com/streamlit/streamlit/issues/168). In that discussion, we brought up implementing a `st.rerun()` statement and tabled it. This issue serves as a placeholder for this functionality to be discussed.

### Possible Solution

[code]

### Additional context

See [this comment](https://github.com/streamlit/streamlit/issues/168#issuecomment-546

[2020-08-07 20:50] kmcgrady commented on #500
Throwing a product spec here. I think the issue discussion illustrates the task. More or less, it's using a slider across a list of non-numeric or inconsistently stepped data. Above. Here's my Product Spec:

# Changes

1. `st.slider()` takes in two arguments (similar to selectbox):
  * `options` - a iterable object (`list`, `tuple`, `numpy.ndarray`, `pandas.Series`, or `pandas.DataFrame`)
  * `for

[2020-08-07 20:50] karriebear opened #1828 "Add slack notification to CI failures on develop branch"
Surface failures on `develop` immediately by updating our CI workflow for `develop` branch to send a slack notification to @eng-core channel tagging the commit author

[2020-08-08 00:08] BigPictures commented on #1351
In the context of function hashing, I've been working around this by using lists and lists of tuples in global variables, then converting those into sets and dicts inside the function that gets hashed. In my case they're very time-consuming functions, so the overhead of creating sets and dicts on each execution is negligible. One way to fix it might be to order the keys by their hash value before

[2020-08-08 15:03] datalee commented on #903
good

[2020-08-08 19:46] benlindsay commented on #1770
Hi @akrolsmir, thanks for putting this together! I'd love to test this out, but it looks like the latest available nightly release was from August 5th. Any idea when this feature will come out in a nightly release?

[2020-08-08 20:22] tvst commented on #500
Just to be clear, for those who are following from home: this spec hasn't been approved yet. But hopefully soon!

Our process is:
1) Someone (usually an engineer) proposes a spec
2) The product team works with the engineers to review/update/approve the spec
3) We work on it.

This work is currently in step (2), i.e. being reviewed by Product.

[2020-08-08 20:54] tvst commented on #500
@kmcgrady thanks for writing this up. I'm having a hard time understanding the proposal above, though. Can you expand on it a bit?

In particular:

1. When you say this:

    - `options` - a iterable object (`list`, `tuple`, `numpy.ndarray`, `pandas.Series`, or `pandas.DataFrame`)
    - `format_func` - function to convert each option for display (conflicts slightly with the `format` parameter, whi

[2020-08-08 21:37] kmcgrady commented on #500
@tvst here's my response.

1. Two additional parameters:
[code]
Your call on whether it's getting too complex.
2. Agreed. The browser slider can only have a consistent step, so we need to convert a set of data with an inconsistent step, to one that has one. Hence the method of making a slider from 0 to the number of options - 1. Step is consistent, but a conversion to a value to submit back is don

[2020-08-09 02:49] saumyaborwankar opened #1830 "Need a new function that can automatically say yes to all overwrite instructions"
Whenever I try to upload a video it is stored in the exactly same location and I have to say yes in the terminal every time, is there a workaround for this?

[2020-08-10 03:59] datalee commented on #1804
update:
when i use microsoft edge open, it works

[2020-08-10 06:41] karriebear opened #1831 "Detect if runtime environment is supported by Streamlit."
# Summary

There have been instances where running in a different environment than the one recommended in our docs have cause issues. It would be great to dispaly a warning when running in an incompatible environment to warn of possible errors.

Examples:
- Running on MacOS without a virtual environment. `python` defaulted to 2.7.
![image](https://user-images.githubusercontent.com/24946400/8975719

[2020-08-10 13:48] randyzwitch commented on #1830
Hi @saumyaborwankar -

Can you provide more detail? What Python code you are running, what environment, etc.

[2020-08-10 16:31] treuille commented on #168
Omg. This is so exciting! 🎈

[2020-08-10 16:32] treuille commented on #1827
I’m not so sure this is a good idea anymore. @tvst and I have been thinking of better alternate suggestions when we implement state properly.

[2020-08-10 16:37] #1777 closed, assigned to kantuni

[2020-08-10 17:56] #1765 closed, assigned to nobody

[2020-08-10 18:03] treuille commented on #500
`<philosophical musings>`

1. My feeling is that each argument of a function should be independently settable and the resulting function call should “make sense.”
2. Equivalently, when your kwargs lead to docs which are like: _argument X takes precedent over Y, and you can’t set both Z and W_ then it sounds like you’re secretly trying to superpose two functions on top of each other!

`</philosophi

[2020-08-10 20:31] akrolsmir commented on #1678
Since #1794 is now merged, these issues have been resolved!

[2020-08-10 20:31] #1678 closed, assigned to akrolsmir

[2020-08-10 20:44] #447 closed

[2020-08-10 20:49] akrolsmir commented on #1652
Note: `st.image("myfile.png")` is currently implemented, and might make this no longer necessary?

[2020-08-10 20:51] akrolsmir commented on #722
Splitting is done through #1762  #1776 #1805 ; now this issue just tracks us picking a new name!

[2020-08-10 22:40] tconkling commented on #283
We're still looking into this, but nobody here has been able to repro it yet :/

However: @sean-mcmann, it looks like your issue is actually subtly different than the others, in that `clang` is actually _crashing_ while trying to compile the watchdog lib (rather than failing with a compile error).

(I don't have a solution, just wanted to flag that there are potentially multiple issues being discu

[2020-08-10 23:15] zad0xlik commented on #455
I like this idea a lot! Have you tried integrating D-tale into a streamlit app? If so, can you share your method?

[2020-08-11 03:03] karriebear opened #1835 "1288"

[2020-08-11 03:03] karriebear opened #1836 "#1346"

[2020-08-11 03:04] #1836 closed, assigned to nobody

[2020-08-11 03:04] #1835 closed, assigned to nobody

[2020-08-11 03:05] karriebear opened #1837 "Handling timezones"
As part of the timezone cleanup, we will always localize and render the date in the timezone provided regardless of client location if available. If no timezone is provided, we will localize and render the date in the client timezone.

This logic will be applied to all dataframes and `st.write`. Charts may vary depending on library and will be handled on a case by case basis.

Example 1:
Input: Da

[2020-08-11 03:48] paras9404 opened #1839 "Restrict a date selection of weekend days"
### Problem
how to restrict user to pick date which in on weekend days.
it's useful in when working on **stock-market** data. in weekend market remain closed so it's not have data for that date.
so will it possible to that user can not select date which in on *Saturday Sunday.*
user can only have to select weekdays for their starting date and ending date.

### Solution

**MVP:**
[code]

it's just

[2020-08-11 05:21] rbavery commented on #1764
This is also a problem for me on Ubuntu 18.04.

[code]

[2020-08-11 05:33] rbavery commented on #1764
Fixed this issue with `pip install --upgrade protobuf`, but packaging with conda sounds like the ultimate fix

[2020-08-11 06:39] ArunvardhanReddy commented on #1613
still iam getting error.please help mein this

[2020-08-11 09:12] Viraj-Rana008 commented on #1756
How was this issue resolved?

[2020-08-11 14:45] #1807 closed, assigned to nobody

[2020-08-11 22:36] karriebear opened #1841 "Make the search bar sticky"
We have some pretty long pages and right now if you want to search, you have to scroll up to the top in order to search. It's a bit annoying on our API page especially given the length.

Two possible improvements:
1. Use CSS to make the header (including search) sticky
2. Add a floating button to return to the top of the page.

[2020-08-12 01:01] karriebear opened #1843 "Trim whitespace when a string is provided to st.image"
# Summary
It would be great to trim the whitespace from any strings provided into `st.image`. Right now if something starts with `\n` it will produce the following error now that we support svg as strings as an input.
[code]

# Steps to reproduce
[code]

## Expected behavior:
Renders image

## Actual behavior:
Gets error
![image](https://user-images.githubusercontent.com/24946400/89963486-b9ed9300

[2020-08-12 03:42] karriebear opened #1845 "Updating urls seem to affect keyboard shortcuts"
# Summary
With the new experimental query params functionality, our url can now change which appears to affect the keyboard shortcuts.

# Steps to reproduce
1. Start recording
2. Update url with `st.experimental_set_query_params(activity=1)`
3. Try to press ESC key

## Expected behavior:
ESC key still works to stop recording

## Actual behavior:
ESC does not work

[2020-08-12 06:29] raunakdoesdev opened #1846 "Feature Request: Address Input Widget"
It would be great if there was some way to get location data from the user (similar to how address input on google maps works). Is there some existing solution to this? If not, I think it would make a great feature addition!

[2020-08-12 12:54] AnuragAnalog opened #1848 "Import error in ipython"
[code]

This is the streamlit package description

Name: streamlit
Version: 0.64.0
Summary: The fastest way to build data apps in Python
Home-page: https://streamlit.io
Author: Streamlit Inc
Author-email: hello@streamlit.io
License: Apache 2
Location: /usr/local/lib/python3.6/dist-packages
Requires: requests, packaging, pyarrow, altair, tzlocal, toml, protobuf, cachetools, botocore, astor, enum-co

[2020-08-12 14:01] kmcgrady commented on #500
Final API based on Pull Request. Separating it out made things easier.

[code]

The only difference from the discussions above is that a degenerate slider (ie `options=[]`) raises an `StreamlitAPIException` because downstream problems in the frontend made little sense to fix for.

@tvst for your interest.

[2020-08-12 14:03] kmcgrady commented on #500
I should mention to @treuille that while product-wise the functions are separate, engineering-wise they display the same component (a slider). I think there are better wins to merging the UI to maintain consistency.

[2020-08-12 15:12] randyzwitch commented on #1848
Per https://stackoverflow.com/a/61961016/2394542

`pip install --upgrade protobuf`

[2020-08-12 15:20] AnuragAnalog commented on #1848
Thanks, it is resolved

[2020-08-12 15:20] #1848 closed, assigned to nobody

[2020-08-12 18:29] kurt-rhee opened #1850 "Minimum Characters for text_input"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

I would like my text_inputs to have a minimum number of characters.  I run into this issue when creating CRUD apps with streamlit and the empty string characters confuse SQL when sorting.

### Solution

**MVP:

[2020-08-12 19:58] karriebear opened #1851 "Create a Separate Section for Experimental + Beta features"
Currently our documentation has beta features mixed in with our API. It'd be great to get a separate page for these beta/experimental features as these are subject to change/removal. Also would be nice to reiterate their state

[2020-08-12 23:51] jrhone commented on #1294
Repro steps:
- Visit https://s4a-staging.streamlit.io/jrhone/simpleapp/master/streamlit_app.py/+/
- Open chrome dev tools.. Network tab.. Click 'disable cache'
- Toggle the checkbox really fast, for up to 20 seconds
- At least one image should fail in this time, from my experience (500 status code in Network tab and `Missing file` message in server logs)

[2020-08-13 02:31] YesDrX commented on #958
![hide_show](https://user-images.githubusercontent.com/68913671/90087622-41f19c80-dceb-11ea-866b-1c8eba9e4546.gif)

I copied the FullScreenWrapper as a SectionWrapper, and wrap around IFrame to have this effect. Not sure if  this is consistent with maintainer's roadmap.

[2020-08-13 10:17] ZupoLlask commented on #1770
Hi @akrolsmir,

I'm using latest nightly. Although st.beta_set_page_config() is the first streamlit call, **sometimes** (not always) when I hit a st.button() I'm getting the error below.

[code]

For now, I'll try to avoid this error with a try/except...

[2020-08-13 11:30] ZupoLlask opened #1855 "text_area updates every other update"
# Summary

st.text_area is only returning the actual updated content on every other change.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

[code]

## Actual behavior:

The text_area returned output only updates correctly every other change. For example:

1. Start with a blank text area
2. Add new text "My" Press ctrl+enter
3. Text area has text "My"
4. Add more tex

[2020-08-13 13:09] randyzwitch opened #1856 "For beta_set_page_config, page_title still includes "Streamlit""
When running `st.beta_set_page_config(page_title="streamlit-embedcode documentation",)`, the Streamlit app appends an extra ` · Streamlit` value to the string:

`<title>streamlit-embedcode documentation · Streamlit</title>`

In letting the user set the value, we should not display anything other than what the user wrote.

[2020-08-13 16:44] kmcgrady commented on #1501
All components with the above criteria have been converted to React Hooks. If any other components get refactored, the developer has the option to convert to a React Hook if they like.

Closing this issue. Thanks again to @tanmaylaud for helping get this to the finish line!

[2020-08-13 16:44] #1501 closed, assigned to kmcgrady

[2020-08-13 17:17] karriebear commented on #1843
Closed as part of 1844

[2020-08-13 17:17] #1843 closed, assigned to nobody

[2020-08-13 17:25] karriebear opened #1857 "Page Config check is problematic when deployed."
# Summary
The error that is thrown if page config is run multiple times or is not the first run shows up on rerun. For some reason, this only seems to happen when deployed.

# Steps to reproduce
1. Deploy this code sample to [heroku](https://calm-wave-95641.herokuapp.com/)
[code]
2. Switch between radios a variable amount of times to cause reruns.

## Expected behavior:
Nothing

## Actual behavior

[2020-08-13 17:40] kmcgrady opened #1858 "Remove Bootstrap Dependency"
# Motivation (Why)

Today our CSS imports [Bootstrap](https://getbootstrap.com/), and then a bunch of Streamlit-specific theming files, and then each component's styles are specified however the component writer decided to, with conflicts everywhere. We need to come up with a clean design for styling.

This is the required pre-work for several upcoming projects where elements can be custom stylize

[2020-08-13 18:16] nthmost commented on #1449
Update: product review of user stories was completed last week.  I will convert this to an Epic and copy in the product spec.  The description that opened this ticket will serve as a reference for the initial product ideas.

[2020-08-13 22:32] kmcgrady opened #1859 "Create and Replace Dropdown Component"
We know of two locations for the Dropdown component (and its subcomponents).

* [ScreencastOption](https://github.com/streamlit/streamlit/blob/1869caf02e1753ae051dd67427259942511c9da3/frontend/src/components/core/MainMenu/component/ScreencastOption.tsx#L19)
* [MainMenu](https://github.com/streamlit/streamlit/blob/cd67f495f5d640ef55027dccf47bd2c4bba53d34/frontend/src/components/core/MainMenu/MainMe

[2020-08-13 22:41] kmcgrady opened #1860 "Create and Replace Button Component"
We know of eight locations for the Button component.

* [ScriptChangedDialog](https://github.com/streamlit/streamlit/blob/a56db3e8d3ead1809007070402aca8c8c7ede541/frontend/src/components/core/StreamlitDialog/ScriptChangedDialog.tsx#L21)
* [VideoRecordedDialog](https://github.com/streamlit/streamlit/blob/8b69fddd4e13994cc5972c635a5d38ac864c94e0/frontend/src/hocs/withScreencast/components/VideoRecor

[2020-08-13 22:43] kmcgrady opened #1861 "Create and Replace Tooltip Component"
We know of one locations for the Tooltip component.

* [StatusWidget](https://github.com/streamlit/streamlit/blob/838703877aef9110ae457820a8fd1632d7e4e267/frontend/src/components/core/StatusWidget/StatusWidget.tsx#L22)

Instead, we will use BaseWeb's [Tooltip](https://baseweb.design/components/tooltip/)

Goal is to mimic the same look and feel as before and announce if there are any changes that a

[2020-08-13 22:47] kmcgrady opened #1862 "Create and Replace Modal Component"
We know of six locations for the Modal component (and subcomponents).

* [ScriptChangedDialog](https://github.com/streamlit/streamlit/blob/a56db3e8d3ead1809007070402aca8c8c7ede541/frontend/src/components/core/StreamlitDialog/ScriptChangedDialog.tsx#L21)
* [VideoRecordedDialog](https://github.com/streamlit/streamlit/blob/8b69fddd4e13994cc5972c635a5d38ac864c94e0/frontend/src/hocs/withScreencast/comp

[2020-08-13 22:50] kmcgrady opened #1863 "Create and Replace Progress Component"
We know of two locations for the Progress component.

* [Progress](https://github.com/streamlit/streamlit/blob/838703877aef9110ae457820a8fd1632d7e4e267/frontend/src/components/elements/Progress/Progress.tsx#L20)
* [StreamlitDialog](https://github.com/streamlit/streamlit/blob/838703877aef9110ae457820a8fd1632d7e4e267/frontend/src/components/core/StreamlitDialog/StreamlitDialog.tsx#L27)

Instead, we

[2020-08-13 22:52] kmcgrady opened #1864 "Create and Replace Table Component"
We know of one locations for the Table component (and subcomponents).

* [Table](https://github.com/streamlit/streamlit/blob/6d204cab8c335c22794fbeec98f45ddb4b00cc44/frontend/src/components/elements/Table/Table.tsx#L19)

Instead, we will use BaseWeb's [Table](https://baseweb.design/components/table/)

Goal is to mimic the same look and feel as before and announce if there are any changes that are

[2020-08-13 22:55] kmcgrady opened #1865 "Create and Replace Alert Component"
We know of one location for the Alert component.

* [Alert](https://github.com/streamlit/streamlit/blob/a56db3e8d3ead1809007070402aca8c8c7ede541/frontend/src/components/core/StreamlitDialog/ScriptChangedDialog.tsx#L21)

Instead, we will use BaseWeb's [Notification](https://baseweb.design/components/notification/)

Goal is to mimic the same look and feel as before and announce if there are any chan

[2020-08-13 22:59] kmcgrady opened #1866 "Create and Replace Spinner Component"
We know of one location for the Spinner component.

* [FileUploader](https://github.com/streamlit/streamlit/blob/838703877aef9110ae457820a8fd1632d7e4e267/frontend/src/components/widgets/FileUploader/FileUploader.tsx#L26)

Instead, we will use BaseWeb's [Spinner](https://baseweb.design/components/spinner/)

Goal is to mimic the same look and feel as before and announce if there are any changes that

[2020-08-13 23:00] kmcgrady opened #1867 "Remove Bootstrap/Reactstrap Dependency"
Once the following issues are closed, we can remove the reactstrap, Bootstrap dependency.

[2020-08-13 23:05] ZupoLlask commented on #1857
https://github.com/streamlit/streamlit/issues/1770#issuecomment-673393344

[2020-08-13 23:06] kmcgrady opened #1868 "Ensure no Bootstrap classes are used in our app"
Bootstrap provides a lot of CSS classes for [general utility|https://getbootstrap.com/docs/4.5/utilities] or for [components|https://getbootstrap.com/docs/4.5/components]

Scanning class names in our TS(X) files for each component and matching them with Bootstrap components to ensure there's no problem is the goal. Success of this ticket will include:

* Provide a demonstration that no classes are

[2020-08-13 23:08] ZupoLlask commented on #1857
My try/except workaround seems to be working as expected! 🙂

[2020-08-13 23:13] kmcgrady opened #1869 "Import Normalize.css and default styles from Bootstrap"
An unintentional dependency of bootstrap is utilizing default styles for Bootstrap for base elements (`<h1>`,`<p>`, etc). It's important for us to ensure there is no visual change to Streamlit when removing Bootstrap.

In order to do this, we will mimic what Bootstrap does for its stylesheet including

1. Loading [`reboot.scss`](https://github.com/twbs/bootstrap/blob/main/scss/_reboot.scss) (an of

[2020-08-13 23:30] karriebear commented on #1857
Thanks for the info @ZupoLlask and apologies we missed your comment. Just curious, we've been having problems reproducing the issue locally so was curious to know if you got this when running locally or just when deployed?

[2020-08-13 23:33] karriebear commented on #1770
Hi @benlindsay, sorry we had some issues with the nightly over the past weekend but we just shipped out a release yesterday so you should be able to use this feature if you upgrade to the latest Streamlit version(0.65)!

[2020-08-14 01:24] #1857 closed, assigned to akrolsmir

[2020-08-14 06:12] ZupoLlask commented on #1857
@karriebear, I'm getting this when deployed but I cannot tell you if it is more frequent than running locally.

It seems to me that it may be more frequent when the client machine is under heavy CPU load... But it may be coincidence.

[2020-08-14 06:16] ZupoLlask commented on #1855
@jrhone @arraydude @tconkling,

You guys seem familiar with st.text_area()... 🙂

[2020-08-14 06:22] nthmost opened #1872 "Show Valid URLs displayed from a dataframe"
**User story:**

- [One of the columns of a dataframe I want to display in my streamlit app contains URLs and I would like it to displayed as a clickable hyperlink.](https://discuss.streamlit.io/t/display-urls-in-dataframe-column-as-a-clickable-hyperlink/743/8)  How can I do this? I tried modifying the column or using a style to wrap the url with html tags but it does not render correctly.

**The

[2020-08-14 06:23] nthmost opened #1873 "Show images inside dataframes"
**User story:**

- [I’m using the RDkit python packcage which allows to display molecules.](https://discuss.streamlit.io/t/how-to-display-rdkit-molecules-within-the-dataframe/2980) I have them within my dataframe. I can see the molecules within jupyter notebooks withon pandas dataframe, but if I run that dataframe with Streamlit using st.write, all I get is html tags.
- Jupyter notebook does this

[2020-08-14 06:25] nthmost opened #1874 "Add ability to select and copy text from dataframe"
**User stories:**

- [Adrien writes, "It would be nice if the index were selectable."](https://github.com/streamlit/streamlit/issues/164)  If that's not possible for some reason, we could consider a context menu with a *Copy* option that appears when you right-click an item."
- ["I often use interactive tables in ML projects.](https://github.com/streamlit/streamlit/issues/271) For example, to anno

[2020-08-14 06:27] nthmost opened #1875 "Add export-to-CSV feature to dataframes (to file or to clipboard)"
**User story:**

- How can I save the data currently displayed as an exported CSV?

**The data looks like:**

- Any dataframe

**Desired behavior:**

- Perhaps a Save-to-Disk icon that displays over the dataframe when the user hovers over the dataframe.  The user can then click on the icon, which pops open a save-to-disk dialogue (browser built-in), suggesting a filename like *streamlitapp_df.csv*

[2020-08-14 06:28] nthmost opened #1876 "Pop-out (display) elements from dataframe"
### Pop-out (display) elements from dataframe

**User story:**

- [I am writing a dataframe using st.dataframe(df)](https://discuss.streamlit.io/t/can-i-pop-out-an-element-in-a-st-dataframe/2754). Some of the elements in the dataframe are too long and I’d like to expose some way to pop out the element into some modal or simply make the element viewable in its entirety. I have looked through the do

[2020-08-14 06:29] nthmost opened #1877 "Make dataframe columns resizable"
**User story:**

- It's annoying that I can't resize columns independently of the whole dataframe.
- I don't want columns to snap back to their originally rendered widths when the page reloads.

**The data looks like:**

- Literally anything.  Fixtures for testing should be dataframes that have the following columns:
    - URLs
    - lists of numbers
    - dates and times
    - names
    - address

[2020-08-14 06:34] nthmost opened #1878 "Add support for multidimensional arrays / multi-index dataframes"
**User story:**

- Is there some way to meaningfully display Multidimensional arrays and dataframes (3D+)?

**The data looks like:**

- Arrays and dataframes of more than 2 dimensions.

**Desired Behavior:**

- Some kind of amazing display wizardry that makes it fun to explore multidimensional dataframes.

Current behavior:

- No support.

[2020-08-14 06:36] nthmost opened #1879 "Add filter functionality to dataframes"
**User story:**

- It would be really handy to be able to search within a displayed dataframe.  I type in what i'm searching in a text box (maybe it appears when I hover over the dataframe or maybe it's always there).  Search results could potentially be highlighted in their cell and/or listed above or below the dataframe dynamically.
- When displaying the dataframe, I'd like the ability to filter

[2020-08-14 06:38] nthmost opened #1880 "Improve text justification in dataframe"
* Numbers should be right-justified, everything else left-justified.
* Column headers should be justified with their contents.

[2020-08-14 06:41] nthmost opened #1881 "Show full contents of dataframe cell on hover when contents do not fit in cell."
* If a cell has more content than fits in its visual space, show ellipses.

* Show full cell contents on hover.

[2020-08-14 06:49] karriebear commented on #1857
@ZupoLlask Thanks for the information! The latest release 0.65.1 should fix the issue. If you are still getting this issue, please let us know!

[2020-08-14 06:50] nthmost opened #1882 "Refactor st.dataframe"
Some amount of work will need to go into refactoring the st.dataframe code in order to make some of the new features work.   And also, "that code is quite messy today", says Thiago.

[2020-08-14 10:24] JovanNj opened #1883 "New streamlit.beta_page_config"
# Summary

I called streamlit.beta_page_config once at the beginning of the code, It works at start, but, when using slider in app, it reports the error:
`StreamlitAPIException: beta_set_page_config() can only be called once per app, and must be called as the first Streamlit command in your script.
`
# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. Go to 'https://n

[2020-08-14 15:04] pratikkejriwal commented on #1883
I am also receiving the same error but **sporadically**.

Refreshing the page is helping sometimes but I am getting this error even when running the program for the first time.

[2020-08-14 22:29] ZupoLlask commented on #1875
Hey, may I suggest also export-to-Excel (and probably some other formats already supported by pandas)?

Let's face it: although CSV is a quite open format, it's a mess because it doesn't properly retains data format... At least in the majority of the implementations.

I got this working reliably by though base64 encoding and generating an anchor to download the file...

[2020-08-14 22:35] #1883 closed, assigned to nobody

[2020-08-14 23:02] nthmost commented on #1809
Hey @CheapSquier -- Thanks, I agree this is an annoyance we should clear up.  Thanks for the detailed report!

Some history: #930 and #1681

[2020-08-14 23:03] nthmost commented on #1804
Interesting, @datalee -- We'll see if we can repro on our end.  Thanks for circling back with an update too.

[2020-08-14 23:12] nthmost commented on #1801
Hey @vhfgosselin --

I was able to reproduce your bug using your code.  Then, using @jrhone 's redo of the `production=` line, the error went away.

So in total, you should replace your code with the following.  This doesn't appear to be a Streamlit bug.

[code]

[2020-08-14 23:15] nthmost commented on #1800
Hey @ZupoLlask -- Thanks for the report.  You're probably right that these effects are related.

We haven't moved on fixing these bugs because unfortunately it'll require either finding a new Markdown library for React, or forking `react-markdown` and fixing this ourselves, neither of which have fit neatly into our Roadmap yet.

If you'd like to pitch in here to help, feel free to post suggestions

[2020-08-14 23:33] treuille commented on #500
Perfect! This is great, @kmcgrady! 🙏

[2020-08-14 23:35] nthmost commented on #1744
Hi @pranavsastry , Apologies for the delay in response.

Can you try rewriting this section of code like this, and see if you still have the same problem:

[code]

You shouldn't really need to use an "else" statement there.  This may be affecting the returned variable scope.

If that doesn't help, please paste the code you're using directly instead of a screenshot, so it's easier for engineers to

[2020-08-15 06:32] transcending1 opened #1887 "Deploy Static File Path"
The Static File Path is fixed and not exposed when creating an tornado application.
We could not  interactive with the resource on our compute.
As I understand it now,it is diffifcult to download file on our computer.
Maybe it's a good choice to expose the static file path.... or add an interactivity widget like media to let
user download some valueable file such as model after training which is i

[2020-08-15 23:30] Tianoklein commented on #763
Hello,
To read information from a **BarCode** or **QRCode** will be a nice feature, for example.

[2020-08-16 12:34] EDGAR-BARAHONA commented on #671
Buen dia, estoy trabajandon con streamlit, el problema se genera en que al correr las lineas Streamlit run -direcc-, me arroja el siguinete mensaje:

Error: Streamlit requires raw Python (.py) files, not . For more information, please see https://docs.streamlit.io

Alguien sabe a que se debe.

Gracias

[2020-08-17 09:11] vhoulbreque commented on #1783
I tried to find which version introduced this bug:

:negative_squared_cross_mark: = bug seen
:heavy_check_mark: = no bug

`pip install streamlit`:
0.64.0: :negative_squared_cross_mark:
0.63.2: :heavy_check_mark:

`pip install streamlit-nightly`:
0.63.2.dev20200722 : :negative_squared_cross_mark:
0.63.2.dev20200721 : :heavy_check_mark:

I managed to find the commits between the 2 nightly versions:

[2020-08-17 11:58] MayankShahria commented on #1613
@ArunvardhanReddy  which version of tensorflow do you have
if you are having tensorflow version==2.1, try installing keras version==2.3.1 compatible with python version>=3.6

by simply writing a command on anaconda\command prompt as "conda install keras==2.3.1"

[2020-08-17 12:21] haphaeu commented on #1883
Same here, often but sporadically, and not in systematic manner that I can tell.

[2020-08-17 13:19] randyzwitch commented on #1887
Hi @transcending1, thanks for opening this issue. This is a duplicate to https://github.com/streamlit/streamlit/issues/1567, but unfortunately, I don't have a timeline yet when this might get implemented.

[2020-08-17 13:19] #1887 closed, assigned to nobody

[2020-08-17 15:47] nthmost commented on #1709
Hi @bayerj -- I was able to reproduce your bug by running your code, so thank you for the snippet.

This looks to me like Gym and streamlit are competing for the same resources, but I'm not super familiar with [Gym](https://gym.openai.com/) so I'm not sure exactly what.

Does Gym try to create a windowing environment of any kind?

[2020-08-17 16:00] nthmost commented on #1803
Hmm, i can't reproduce this on Chrome in OS X.  I keep hearing about problems in Chrome on Windows so I have to wonder if this is yet another Windows-specific problem.

@datalee are you on Windows too?

[2020-08-17 22:00] lmeyerov opened #1889 "baseUrlPath ignored by assets"
# Summary

When setting `--server.baseUrlPath="st/"`, I'd expect static asset requests to be `st/assets/`, but requests seem to be for `/assets` for `iconic` portions:

![image](https://user-images.githubusercontent.com/4249447/90448247-d9fbd700-e099-11ea-8f53-3fdca687105e.png)

There seems to be some back-and-forth repeat regressions on this, e.g, https://github.com/streamlit/streamlit/issues/172

[2020-08-17 23:19] lmeyerov commented on #1889
Ah, closing -- this seems to have been some silent failures leading to running an older version than what our config specified, apologies!

[2020-08-17 23:19] #1889 closed, assigned to nobody

[2020-08-17 23:30] lmeyerov commented on #395
Yep we are working with a team with the following rough personas:

-- data scientists iterating on some dashboards: hamburger is cool!

-- analysts receiving results: hamburger options of settings/docs/etc. are pretty wrong, as they're for streamlit devs instead of dashboard users (docs, ..). this gets even worse if the link would be shared through the wider enterprise (clear cache, ...)

`serve`

[2020-08-18 00:48] Patotricks15 commented on #1756
I also want to know :(

[2020-08-18 00:52] 000Nobody commented on #1756
I had to use python 3.7 instead of 3.8

[2020-08-18 00:54] datalee commented on #1803
yes

[2020-08-18 01:36] Patotricks15 commented on #1756
Thank you!!! It work now

[2020-08-18 09:55] Ankur-singh commented on #241
I have a similar use-case where I want show images side-wise. 'Before' -> 'After'
Any updates on when this feature will be released?

[2020-08-18 14:56] randyzwitch commented on #1889
Glad you got it figured out @lmeyerov, let us know if you have any other issues.

[2020-08-18 19:52] rcs529 commented on #601
With the new version of streamlit allowing wide page configuration, is there any way this can be implemented for Folium Maps? Or is there a workaround?

[2020-08-18 19:58] nthmost commented on #1643
Hi @dsos , Normally we wouldn't ask for sample data, but I think that's going to be crucial to addressing this one.  Can you share the dataset you were working with?  A link to the original resource will do.  Thanks!

[2020-08-18 21:51] ZGainsforth commented on #653
Another use case for this:  I have an output file being created by a molecular dynamics simulation -- every few minutes it outputs the latest results.  I have a streamlit app that reads the file and plots relevant information about the simulation so I can see how it is progressing.  Right now I have to refresh the page to see updates.  But if I had a rerun capability I could just rerun when the fi

[2020-08-18 22:01] SimonBiggs commented on #653
Does the watchdog library work in scenario?

On Wed, 19 Aug 2020, 7:51 am Zack Gainsforth, <notifications@github.com>
wrote:

[2020-08-18 22:08] ZGainsforth commented on #653
I don’t see anything describing the watchdog it in the documentation?  I notice a mention in the changelog for V0.51.0, and it looks like it has something to do with a server.fileWatcherType, but also no documentation on that.  Perhaps I’m not looking in the right place?

Zack

[2020-08-18 22:17] SimonBiggs commented on #653
Oh I mean separately from streamlit. Use the watchdog API to create a file
observer:

https://pythonhosted.org/watchdog/

And than instantiate that observer inside a function that'll only be run
once and cached, much like the database connection here:
https://docs.streamlit.io/en/latest/advanced_caching.html#example-1-pass-a-database-connection-around

Then use that observer to trigger stuff. Not

[2020-08-18 22:17] SimonBiggs commented on #653
@tvst would I be able to do a pull request on this one?

[2020-08-18 22:44] ZGainsforth commented on #653
Ah, OK.  As a workaround I'll give that a shot.  Thanks.

[2020-08-19 00:08] hurleyLi commented on #927
Hi @MarcSkovMadsen , just wondering have you figured out a way to incorporate Steamlit within Django apps?

[2020-08-19 01:20] transcending1 commented on #1887
Thanks.

[2020-08-19 02:45] kmcgrady opened #1893 "Add Precommit hook to ensure print statements aren't included in code"
### Problem

We had a rogue print statement in our code, and I wish our hooks prevented the print from being committed.

### Solution

Prevent commits by erroring out if a print statement exists.

[2020-08-19 09:21] shubhsoni commented on #1744
I'm also trying to train models on button click but setting up **kwargs using `run_setup` function, but when I click on `create and compare models` the application goes back to the state of _setup not ready_.
could you help me understand what am I doing wrong here?
[code]

[2020-08-19 13:40] jqtrde opened #1894 "Twemoji favicon is not found if the emoji in `set_page_config` has a variant selector"
# Summary

The following maps to `https://twemoji.maxcdn.com/2/72x72/1f6f0-fe0f.png`, which `404`s.

[code]

As a result, the custom favicon does not load.

# Steps to reproduce

See above.

## Expected behavior:

I expect the `:satellite:` emoji to load as a favicon.

![2020-08-19-093332_95x33_scrot](https://user-images.githubusercontent.com/192642/90641305-14cb4f80-e1ff-11ea-8a5b-3c3006815b07.pn

[2020-08-19 13:46] lambdaofgod commented on #958
Hey @YesDrX could you share how you did it?

[2020-08-19 17:59] ninamiolane commented on #611
Same here, I would really appreciate a pdf report.

[2020-08-19 18:29] tobyclh commented on #958
Hi, I would like to add that right now we can sort of achieve this with a simple checkbox, but then it will trigger a re-run every time we want to collapse/show something. It would be nice if the toggle not trigger the entire code again.

[2020-08-19 18:40] ashishgopal1414 commented on #877
i faced the same issue
i feel
http:// version of the app is faster
compared to the https://

since https:// connects after more than 3-4 mins
while
http:// connects within a minute

[2020-08-19 18:41] ashishgopal1414 commented on #443
i faced the same issue
i feel
http:// version of the app is faster
compared to the https://

since https:// connects after more than 3-4 mins
while
http:// connects within a minute

[2020-08-19 20:22] jrhone opened #1895 "Track when a user clicks 'Deploy this App'"
As part of the changes for S4A development, there will be a new `Deploy this App` button in the Menu. We need to track clicks on this via Segment.

[2020-08-20 07:12] lily524 commented on #1410
Make sure streamlit is running as entry point. Use python logging in app.py. e.g.

[code]
execute `docker logs <container name>` will show the logs.

[2020-08-20 08:36] udaylunawat opened #1897 "One line if else condition returns None, whereas regular one does not"
# Summary

Single line if else condition returns None, whereas the regular one does not.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

Just run the code below
[code]
![image](https://user-images.githubusercontent.com/24354945/90745813-f98b3d80-e2ed-11ea-8da8-1d485a9f4866.png)

## Expected behavior:

Both should show the same output without None.

## Actual behavio

[2020-08-20 09:47] MarcSkovMadsen commented on #1410
Do you have

[code]

in your `Dockerfile` @danimateos ? You will need that. I don't exactly understand why but I once spent a lot of time investigating why "kubernetes did not give me logs back" from a Python docker image :-)

Maybe you need to add

[code]

[2020-08-20 12:38] juancalvof commented on #601
@rcs529,check this:
https://discuss.streamlit.io/t/allow-fullscreen-content-for-streamlit-components/4875
https://github.com/randyzwitch/streamlit-folium/pull/5#issuecomment-673373014
Any doubt, please tell me.

[2020-08-20 12:41] knorthover commented on #1882
Nice to see dataframe getting an enhancement .  Can you also consider adding support for categorical data types.   I wrapped st.dataframe in a little utility function for this, and also to better handle NaT in Timestamp columns.  I use this everywhere now.

Kevin

[code]

[2020-08-20 12:42] randyzwitch commented on #601
Hi everyone -

Please move this discussion to either the forum or the streamlit-folium repo...this is no longer a Streamlit core issue, and comments on closed issues tend to get lost.

Thanks!

[2020-08-20 21:27] Daniel-1597 opened #1898 "Images are adding in the url while playing a video"
images are coming continuously but I want it to be displayed on the same window.
I tried to change the media_file_manager.py file by changing the add function but I couldn't change it. Please help me resolve the issue. Please overwrite it on the first window it self.
![Screenshot from 2020-08-21 [
![Screenshot from 2020-08-21 02-42-30](https://user-images.githubusercontent.com/53418529/90827530-01

[2020-08-21 07:05] haphaeu opened #1900 "matplotlib ImportError"
# Summary

An ImportError is raised when trying to import matplotlib.

# Steps to reproduce

1. Create a conda environemt with python 3.7 and pip
`conda create streamlit python=3.7 pip`

2. Install streamlit and matplotlib
`pip install streamlit`
`pip install matplotlib`

3. Create a simple streamlit app:

[code]

## Expected behavior:

Browser should show
`"Hi"`

## Actual behavior:

Browser show

[2020-08-21 07:06] haphaeu commented on #1900
Problem solved. Should not have installed matplotlib via pip, but rather via conda.

`conda install matplotlib`

solved it.

[2020-08-21 07:06] #1900 closed, assigned to nobody

[2020-08-21 11:19] AnimusXCASH opened #1901 "Matplotlib Finance Package Integration"
Hi,

would it be possible to integrate and make support as well for Matplotlib Finance standalone package?

https://github.com/matplotlib/mplfinance

thank you

[2020-08-21 13:26] randyzwitch commented on #1901
Hi @AnimusXCASH -

This should already work. Pass the matplotlib figure generated from mplfinance to `st.pyplot()`

https://docs.streamlit.io/en/stable/api.html?highlight=matplotlib#streamlit.pyplot

[2020-08-21 13:26] #1901 closed, assigned to nobody

[2020-08-21 13:29] randyzwitch commented on #1898
Hi @Daniel-1597 -

If you want to re-use the same location to display images, you can use `st.empty()`:

https://docs.streamlit.io/en/stable/api.html?highlight=empty#streamlit.empty

Untested:

[code]

[2020-08-21 13:55] Daniel-1597 commented on #1898
the frames are coming from a video so I tried this st.empty but it didn't work for me.
for example
cap = cv2.VideoCapture("video_file_name")

while True:
       ret, original_image = cap.read()
       pic = st.empty()
       pic.image(original_image)
this popups a new window again and again whenever a frames comes up

[2020-08-21 13:59] randyzwitch commented on #1898
The `st.empty` statement needs to be outside of the while loop.

[2020-08-21 14:00] Daniel-1597 commented on #1898
you mean after cap?

[2020-08-21 14:01] randyzwitch commented on #1898
Yes. By putting it inside the loop, you create a new `empty()` placeholder each time. You want to re-use the placeholder, so it goes outside of the loop.

[2020-08-21 14:02] Daniel-1597 commented on #1898
BTW the application is very cool.. let me check that ... yes it worked Thanks for your time

[2020-08-21 14:05] #1898 closed, assigned to nobody

[2020-08-21 15:48] Naitik-bhalala commented on #1613
Thanks sir...it's help me a lot.

[2020-08-21 17:22] randyzwitch commented on #1760
Hi @anirbansaha96 -

I just created a wiki page on our community forum, which I think is probably a better way to aggregate various deployment instructions rather than in our library documentation. Over the coming days and weeks, I hope that this resource gets built up by the community.

[Streamlit Deployment Guide](https://discuss.streamlit.io/t/streamlit-deployment-guide-wiki/5099/3)

Thanks for

[2020-08-21 17:22] #1760 closed, assigned to nobody

[2020-08-21 18:11] randyzwitch commented on #1897
This isn't a bug, but a subtle difference between code that seems functionally equivalent.

The first statement _returns_, where the return value is a function in Streamlit that only has side-effects (i.e. it prints to the Streamlit app, but doesn't return a value to Python...thus, it's value is `None`). With this value of `None` being returned, Streamlit magic then picks it up and says "there's a

[2020-08-21 18:11] #1897 closed, assigned to nthmost

[2020-08-21 19:04] akrolsmir opened #1902 "Replace Exception in st.foo() with StreamlitAPIException"
Main places we do this today:
graphviz_chart.py
map.py

[2020-08-21 19:30] randyzwitch commented on #241
Hi @Ankur-singh (and @konstantinmiller) -

We're working on horizontal layout and should have a public beta in a month or two.

Best,
Randy

[2020-08-21 21:12] #1902 closed, assigned to nobody

[2020-08-21 21:31] akrolsmir commented on #1894
Hm... interesting. In this case it looks like the specific Satellite emoji you chose "🛰️" has a Variant Selector at the end, which is why `FE0F` gets appended to the the candidate URL. But Twemoji only hosts an image for the non-variant-selected version, like you found.

Of course, you can fix this by switching the emoji to "🛰", the one without the Variant Selector (which might look identical in C

[2020-08-21 22:50] jqtrde commented on #1894
Oh! I wasn't even aware of the variant selector. Thanks for following up @akrolsmir.

[2020-08-22 07:18] IFV commented on #241
I have a same user case!

On Tue, 18 Aug 2020, 11:55 Ankur-singh, <notifications@github.com> wrote:

[2020-08-23 09:13] rosehgal opened #1906 "Streamlit doesnot works with Multiprocessing pool"
# Summary
Streamlit apps does not wait for multiprocessing pool to finish even if the `Pool.join()` is being used.

# Steps to reproduce
In the streamlit python file, create a process pool and wait for it to join.

## Expected behavior:
App is not holding for process to join.

## Actual behavior:

Explain the buggy behavior you experience when you go through the steps above.
If applicable, add scr

[2020-08-23 21:21] saNed commented on #1809
Hey, I'd like to address this.

[2020-08-24 01:51] SimonBiggs commented on #1827
Here is some further context:

https://github.com/streamlit/streamlit/issues/653#issuecomment-659743045

[2020-08-24 01:58] SimonBiggs commented on #653
The code for this has changed to:

[code]

[2020-08-24 06:29] SimonBiggs commented on #653
@ZGainsforth

For reference, below I have made a tool that allows modules to be flagged to trigger an auto-reload on filechange:

[code]

[code]

The biggest issue, is I have to have a function at the bottom that blocks any further execution. I was trying to make it so that I could enqueue a `ScriptRequest.RERUN` onto the `ScriptRequestQueue`. My thought is, that would make it so that I can call t

[2020-08-24 07:20] SimonBiggs commented on #653
Actually! :) I worked it out :).

I am now successfully using the following code within my deployed GUI:

* https://github.com/pymedphys/pymedphys/blob/1995dd117/pymedphys/_gui/streamlit/dashboard.py#L27
* https://github.com/pymedphys/pymedphys/blob/1995dd117/pymedphys/_gui/streamlit/dashboard.py#L41-L42
* https://github.com/pymedphys/pymedphys/blob/1995dd117/pymedphys/_streamlit/rerun.py#L77-L84

[2020-08-24 10:01] Ravi-Nayak opened #1910 "AttributeError: 'NoneType' object has no attribute 'read' why im seeing this error can anyone help me out ?"
# Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

## Expected behavior:

Explain what you expect to happen when you go through the steps above, assuming there were no bugs.

## Actual behavior:

Explain the buggy behavior

[2020-08-24 10:06] Ravi-Nayak opened #1911 "AttributeError: 'NoneType' object has no attribute 'read'"
why im getting this error ?

[code]

[2020-08-24 15:56] randyzwitch commented on #1910
Duplicate of #1911

[2020-08-24 15:56] #1910 closed, assigned to nobody

[2020-08-24 16:05] randyzwitch commented on #1911
Please post the actual stack trace, so we can see which line the problem is generated from.

[2020-08-24 16:07] randyzwitch commented on #1906
Hi @r0hi7 -

Please post a minimal code example and what you are trying to accomplish, so that we can better understand your issue.

Best,
Randy

[2020-08-24 16:56] kmcgrady commented on #1865
Changes are merged in. Closing.

[2020-08-24 16:56] #1865 closed, assigned to kmcgrady

[2020-08-24 17:36] kandarpkakkad commented on #241
I am not getting the output but instead getting:

StreamlitAPIException: col() is not a valid Streamlit command.

Traceback:
File "python.py", line 123, in <module>
    row1col1 = row1.col(width=100)

Kindly give anymore tips if you have or any idea to solve this.

[2020-08-24 18:21] randyzwitch commented on #241
Hi @kandarpkakkad -

The functions you are trying to call aren't part of the library, so that's pretty self-explanatory on why it doesn't work. As mentioned, this feature is in development, with the expectation it would be released in the next month or two.

Best,
Randy

[2020-08-24 18:22] kandarpkakkad commented on #241
Thank you @randyzwitch
I will be waiting for this release.

[2020-08-24 20:14] #1484 closed, assigned to kantuni

[2020-08-24 20:15] kurt-rhee opened #1914 "Discarding ScriptRequest.RERUN after shutdown"
# Summary

My application is running forever and also freezes up and down scrolling.  The cmd window displays Discarding ScriptRequest.RERUN request after shutdown and other errors.

![image](https://user-images.githubusercontent.com/33131958/91091546-95c58500-e60b-11ea-9ee3-5475d63636f0.png)

# Steps to reproduce

What are the steps we should take to reproduce the bug:

Interact with file_uploade

[2020-08-24 20:34] kurt-rhee commented on #1914
I have also noticed that a similar app that uses the same virtual environment runs fine, but in this case I am uploading a kml file instead of a txt file, perhaps that has something to do with it?

As for the Matplotlib error, I removed and reinstalled matplotlib and that particular warning message has gone away.

[2020-08-24 20:37] kurt-rhee commented on #1914
Turns out my user was just uploading the wrong file.  No issues here.

[2020-08-24 20:37] #1914 closed, assigned to nobody

[2020-08-24 21:00] karriebear opened #1915 "Create a job to deploy each PR to a hosting site"
This will help with product reviews and demonstrate what is being tested. This can then feed into release demos. This would require a demo file. Some changes don't require a deploy/demo. Need to think through some logic there.

Possible job:
1. Pull branch
2. `make package`
3. Copy wheel to release demo/testing app [Need to think through the [release demo app](https://www.notion.so/streamlit/Relea

[2020-08-24 21:37] akrolsmir commented on #1915
As part of this, I'd love to build in the live edit hack/feature e.g. https://married-dinosaurs.herokuapp.com/ -- so that there's zero friction in letting people poke around the changes in each PR.

Simplest path would be to merge in the functionality but hide it behind some flag -- thoughts?

[2020-08-24 22:06] karriebear commented on #1915
I'd be perfectly content having that front and center for these demos.

Building on top of this, I would love a live edit in a terminal window sliding out from the side. I just want to to steal S4A's terminal 😁 If not that, then at least [streamlit-ace](https://github.com/Ghasel/streamlit-ace)! I think @tvst might be working on a component that builds on top of it.

[2020-08-24 23:50] tvst opened #1916 "z-index of st.balloons is too low"
### Steps to repro

1. Click on "say meow" here: https://jlt-cat-a-log.herokuapp.com/

**Expected:** You should see balloons appear and float their way up the screen, always unobstructed by other on-screen elements.
**Actual:** You see the balloons flowing up, but they sometimes appear behind certain UI elements, like Plotly charts.

### Solution

We should bump Baloons' z-index to something ridic

[2020-08-25 05:43] turner-anderson opened #1918 "Console spammed with /image/jpeg"
# Summary

I've noticed that when using st.image(), the message: "/image/jpeg" or "image/png", depending on format, is being printed into my console. This only seems to happen on Windows, but not when I'm using Windows Subsystem for Linux to launch the server. I believe it's happened in both a Jupyter terminal and PowerShell for me.

# Steps to reproduce

What are the steps we should take to repro

[2020-08-25 06:40] akrolsmir commented on #1918
Hey, sorry about this! A recent code change introduced a stray print() statement in our latest release 0.65.2. We've already removed it from our source code (https://github.com/streamlit/streamlit/commit/7294ac77febd16b394f32c6e1d23038ee7f12a03) so this will be fixed in our next release (in a week or two); in the meantime, our [nightlies](https://docs.streamlit.io/en/stable/pre_release_features.ht

[2020-08-25 06:41] #1918 closed, assigned to nobody

[2020-08-25 07:18] ZGainsforth commented on #611
I would also love the ability to output HTML and PDF.  For PDF, I can just print the page to a PDF file.  However, HTML has the advantage that a plotly or altair plot which is included in the page could remain dynamic.  I can then send results of a calculation to other researchers who are not running any code and I don't need the hassle of setting up any hosting.

[2020-08-25 07:20] ZGainsforth commented on #653
Pretty fancy!  Submit a pull request?

[2020-08-25 07:25] SimonBiggs commented on #653
Yup, I'd be more than happy to. @tvst and @treuille would you guys be okay if I made a PR to add the following two API calls:

* `st.experimental.rerun(session_id=None)`
  * If no session_id provided it'll rerun the session of the current thread.
* `st.experimental.autoreload(modules)`
  * `modules` can be an iterable of imported modules (`types.ModuleType`) or a single imported module.
* `st.expe

[2020-08-25 07:40] SimonBiggs commented on #653
@ZGainsforth what are your thoughts about the `st.experimental.file_contents(path)` API mentioned above?

[2020-08-25 08:01] akrolsmir opened #1919 "First embedded image in README is broken"
![](https://i.imgur.com/zIZ2MCI.png)

[2020-08-25 08:05] SimonBiggs commented on #1367
I have noticed that "wait for a positive response" often goes unanswered. Might it be possible to implement a clear triage process. ie, have a specific person who should be pinged in whenever a PR is desired. Or maybe use a bot a bit like the following:

https://github.com/marketplace/issue-label-bot

And have it flag whenever someone says "I'd like to make a pull request", or equivalent?

[2020-08-25 08:19] ZGainsforth commented on #653
@SimonBiggs The `st.experimental.file_contents(path)` API is likely to be very useful.  I would use it.  I think the simple refresh on a single file is probably the most important use case.  Thinking ahead, I imagine somebody is going to want to do that on a directory, or a set of specific files or on a network port.  However, I think that options after a single file and possibly a single director

[2020-08-25 08:20] SimonBiggs opened #1920 "Ideas for improvements regarding the current request for PR process"
Within the PR template the following is written:

-- https://github.com/streamlit/streamlit/blob/develop/.github/pull_request_template.md

I have noticed that "wait for a positive response" often goes unanswered. Might it be possible to implement a clear triage process. ie, have a specific person who should be pinged in whenever a PR is desired. Or maybe use a bot similar to what the `ipython` pro

[2020-08-25 08:20] SimonBiggs opened #4040 "Ideas for improvements regarding the current request for PR process"
Within the PR template the following is written:

-- https://github.com/streamlit/streamlit/blob/develop/.github/pull_request_template.md

I have noticed that "wait for a positive response" often goes unanswered. Might it be possible to implement a clear triage process? For example, have a specific person who should be pinged whenever a PR is desired. Or maybe use a bot similar to what the `ipytho

[2020-08-25 08:22] SimonBiggs commented on #4040
Examples of what I mean are the following:

* https://github.com/streamlit/streamlit/issues/543#issuecomment-661659933
* https://github.com/streamlit/streamlit/issues/653#issuecomment-675747638

[2020-08-25 09:42] SaschaHeyer commented on #395
Is there a timeline for that?

[2020-08-25 14:32] randyzwitch commented on #4040
Thanks for bringing this up @SimonBiggs. @nthmost has just taken on the additional responsibility of re-working our community pull request process, and she should be able to speak to the changes she's planning on making :slightly_smiling_face:

[2020-08-25 14:33] randyzwitch commented on #1919
Works for me

![image](https://user-images.githubusercontent.com/2762787/91187631-602da400-e6be-11ea-93d7-fd590f870fec.png)

[2020-08-25 15:33] safijari commented on #302
@randyzwitch I've tested this in nightly (at least the get part). It works fine except when I'm using the file uploader widget.

Basically, I'm using this to refer directly to an app that is normally selected through a selectbox in the sidebar. I do that by setting the `app` param:

`my.url.com/subdomain?app=ThingDoer`

This works great in all situations _except_ when the app has a file upload wid

[2020-08-25 15:53] shingike commented on #218
I am using version 0.54.0 and it has the same issue. When a user change st.sidebar.slider and st.sidebar.number_input, the value does not stick. It goes back to the original value. If a user modifies value for the second time, it updates value, so a user needs to repeat twice for all the widgets to make changes. I am using a SessionState.py to keep the variables synchronized throughout various pan

[2020-08-25 15:59] #1088 closed

[2020-08-25 17:33] shekhartyagi06 commented on #1115
I'm getting the similar error every time for the @st.cache.

[2020-08-25 18:13] akrolsmir commented on #1919
Huh, weird. First image was Chrome on windows, and it's also broken on Firefox on windows:

![](https://i.imgur.com/QgPf1mD.png)

As well as Chrome on Android:

![118441065_306565530432359_3008154702146645901_n](https://user-images.githubusercontent.com/856034/91211498-b8b37000-e6c3-11ea-911d-0985bb3e3ef4.png)

The image source when I inspect source seems to be https://camo.githubusercontent.com/5

[2020-08-25 18:20] randyzwitch commented on #1919
I don't think so...works for me in Incognito mode on Chrome for Ubuntu

[2020-08-25 19:07] SimonBiggs commented on #4040
Thanks @randyzwitch 🙂. Another option would be to allow PRs but strongly recommend that PR's are "small" and if need be, have a change be done across multiple PRs.

https://github.com/google/eng-practices/blob/master/review/developer/small-cls.md#why-write-small-cls-why

And give people the warning that if they make a large PR, it may be rejected "outright for the sole reason of it being too large

[2020-08-25 19:33] kmcgrady commented on #1863
Finished and closed

[2020-08-25 19:33] #1863 closed, assigned to kmcgrady

[2020-08-25 19:34] kmcgrady commented on #500
Everything is merged and will be out in the next release. Thanks @karankharecha for your help.

[2020-08-25 19:34] #500 closed

[2020-08-25 19:41] tconkling opened #1921 "Upgrade Cypress"

[2020-08-25 20:27] YesDrX commented on #958
sure. here is the commit:

https://github.com/streamlit/streamlit/compare/develop...YesDrX:develop

[2020-08-26 01:58] kmcgrady commented on #1861
Change is merged

[2020-08-26 01:58] #1861 closed, assigned to kmcgrady

[2020-08-26 01:58] kmcgrady commented on #1866
Change is merged

[2020-08-26 01:58] #1866 closed, assigned to kmcgrady

[2020-08-26 02:30] SimonBiggs commented on #653
Yup, I actually already wanted to do that over at https://github.com/streamlit/streamlit/issues/543#issuecomment-660410027

Potentially also a `st.experimental.directory_tree('path/to/directory', recursive=False, ignore_directories=False)` which updates on watchdog delete, create, or move events. And it just provides a list of file contents of that directory to the user. User's can then chain that

[2020-08-26 05:39] SimonBiggs commented on #653
Some key issues with the implementation provided above. Each session_id has its own observers. This may create quite the memory leak. These observers aren't being closed down whenever a `session_id` is closed. Instead, I should have one observer per module, and if an observer for a given file is already registered, then add a `session_id` to it.

I imagine this logic is already handled within stre

[2020-08-26 08:04] lmeyerov commented on #395
Realized my comment is unclear -- we're not part of `st`, just a workaround for our projects

[2020-08-26 16:06] galinaalperovich opened #1924 "DuplicateWidgetID when you change the state of a widget with a button"
# Summary

There is a button "change" that should change the state of a checkbox from True to False. If it was True by default and then you click the button, then it is changing. But if it was False by default and then a user checked and made it True, then there is DuplicateWidgetID exception when you click the "change" button.

# Steps to reproduce

[code]
## Expected behavior:

I expect that the

[2020-08-26 17:58] hjoner opened #1926 "Can't import Geojson file!"
# Summary
I am trying to load a geojson file and i am getting the following error:

"UnicodeDecodeError: 'charmap' codec can't decode byte 0x81 in position 4029: character maps to <undefined>
Traceback:
File "c:\users\hjoner\anaconda3\lib\site-packages\streamlit\script_runner.py", line 324, in _run_script
    exec(code, module.__dict__)
File "C:\Users\HJONER\RS_SEGURO\app.py", line 72, in <module>

[2020-08-26 18:13] randyzwitch commented on #1926
Hi @hjoner -

Can you read this specific geojson file without using Streamlit?

Best,
Randy

[2020-08-26 18:17] hjoner commented on #1926
Hello @randyzwitch ,

Yes! Definitely! I'm using it with kepler.gl and its fine.

I will look further in my code, maybe i'm messing around somehow.

Best,
HJoner

[2020-08-26 18:26] randyzwitch commented on #1926
Does this go through `file_uploader`? Is it possible to post the code and/or the file you are using?

[2020-08-26 18:49] hjoner commented on #1926
I'm using this:

import json

with open(path) as response:
               grid = json.load(response)

Should i use file_uploader?

[2020-08-26 19:16] hjoner commented on #1926
This file : https://drive.google.com/file/d/1IYoZmIGifKQn4L_w59dv2HLXPrDTMikD/view?usp=sharing

[2020-08-26 19:21] randyzwitch commented on #1926
Ok, so in this case if you're just using `json.load()`, then it's not really "Streamlit", which is what I was trying to get at. From your error message, it sounds like Python is mis-detecting the proper encoding for the file

[code]

It could be the case that this geojson file has a special character in it, I'll try this myself with the file you just posted.

[2020-08-26 19:27] randyzwitch commented on #1926
Running this worked for me on Ubuntu:

[code]

So I would investigate why your computer believes this file is `cp1252` encoded, per `"c:\users\hjoner\anaconda3\lib\encodings\cp1252.py",`

[2020-08-26 19:28] hjoner commented on #1926
Randy, this sounds right! I'will look for that right now!

Thanks a lot.

Best,
H. Joner

[2020-08-26 19:30] randyzwitch commented on #1926
Great. Closing this up for now, but if this is still an issue, let me know and I'll re-open

[2020-08-26 19:30] #1926 closed, assigned to nobody

[2020-08-26 21:01] alandema commented on #1447
Yep

I'm getting the same issue when i activate some checkbox and then deactivate. I get one more ghost for each time i uncheck some checkbox.

Chrome: 84.0.4147.135
Streamlit: 0.63.1
Python: 3.7.7
Windows 10: 10.0.18363 Comp. 18363

[2020-08-27 18:34] nthmost commented on #4040
Interesting.

The problem here is that replies on older issues are very easy to overlook, and without some kind of natural language processing to scrape comments and alert us to ones that say something like "I'd like to help with this", it's unlikely that I'll see these without someone on the team bringing them to my attention.

So, your suggestion about allowing users to label issues (like ipytho

[2020-08-27 21:58] SimonBiggs commented on #4040
Another option would be to create a new "issue type" something like `I want to make a pull request`. The following templating system could be utilised:

https://github.com/streamlit/streamlit/tree/develop/.github/ISSUE_TEMPLATE

It could be asked that when a PR is wanted to be undergone that a new issue is created and that issue is to reference all relevant issues and have the selection of that pa

[2020-08-27 22:00] SimonBiggs commented on #4040
Another, even simpler option, if you're open to it, is to simply request people to ping you with @nthmost when a PR is desired to be undergone.

[2020-08-27 22:39] #1561 closed, assigned to kantuni

[2020-08-27 22:40] #347 closed

[2020-08-28 00:40] randyzwitch opened #1933 "pydeck_chart missing Terrain layer"
In trying to run the following code, the user expects a layer to appear, but does not (confirmed on Ubuntu 18.04, Chrome, Streamlit 0.64.1):

[code]

I suspect the issue is that we either are not implementing the terrain layer from deck.gl and/or we're not expecting the key to be passed in via the URL. User believes it's possibly the case the we just need to update the deck.gl library versions, as

[2020-08-28 01:39] scottjohnson623 commented on #1916
I'd like to work on this if I can!

[2020-08-28 08:55] danthe3rd opened #1936 "Components static files / encoding on windows"
# Summary

(windows only)
When serving component static files, the encoding is not specified. It falls back to the system's default, which can fail to decode the file.

# Steps to reproduce

What are the steps we should take to reproduce the bug:

1. Set windows system encoding to Japanese
2. Install hiplot with `pip install hiplot`
3. Run the hiplot demo example (https://github.com/facebookresear

[2020-08-28 11:24] Ravi-Nayak opened #1937 "How to embed and play video using markdown iframe in streamlit 0.62 version ........"
st.markdown('<iframe src="/map.html"> </iframe>')

[2020-08-28 14:53] tconkling commented on #1936
Thanks Dan - I'll take a look shortly

[2020-08-28 17:16] nthmost commented on #1924
Yep, repro'd just now.  Thanks for the sample code and nice writeup!

[2020-08-29 13:39] rosehgal commented on #1042
I am also facing the same issue with `Streamlit, version 0.65.2`. This is happening when there are multiple select boxes. Out of which only one is resetting.

[2020-08-29 18:12] ashishgopal1414 opened #1938 "Pycaret 2.0 and Streamlit deployment issue in Heroku"
# Summary
Hi Team,
First of all, fabulous work!

I was trying to create an app with "streamlit" and "pycaret" and deploy it in heroku.

If I use "pycaret 1.0" the app is deployed successfully, but with "pycaret version 2.0", the size of dependency files becomes huge and crosses the heroku threshold of 500 MB slug size

Any help would be appreciated.

# Steps to reproduce

What are the steps we sho

[2020-08-29 21:27] davidgibsonp opened #1939 "Hide password text_input after correct authentication"
Is it possible to entirely remove or hide a `st.text_input(type="password")` from the UI after the correct password has been entered? Currently after the password has been entered the `text_input` remains at the the top of the page.

### Problem

[code]

### Solution
My current *"Solution"* is to have the widget in the sidebar then manually hide it. But this is still not ideal.
[code]

Thanks!

[2020-08-29 22:14] MauricioFa commented on #596
Mine too, i had streamlit.py file and everythimg works well when i renamed.

[2020-08-31 07:39] exalate-issue-sync[bot] opened #1940 "Testing change of github bug from JIRA"

[2020-08-31 07:40] nthmost commented on #1940
This comment should sync too.

[2020-08-31 07:42] nthmost commented on #1940
<img width="785" alt="Screen Shot 2020-08-31 at 12 42 23 AM" src="https://user-images.githubusercontent.com/98836/91695349-d862f200-eb22-11ea-8ad3-f1f330d6463f.png">

Let's see if attachments sync too (and look into the infinite mirror)...