[2021-10-28 01:32] vdonato commented on #3977
Thanks for filing an issue for this @whitphx, we'll do some investigation to try to gauge how difficult it would be to implement this.

[2021-10-28 02:57] vdonato commented on #3895
Hi @krosaen!

I tried making [your suggested changes](https://github.com/streamlit/streamlit/issues/3895#issuecomment-941055932) in my local dev env, and it seems to have gotten rid of the `JSON converter` warning as expected.

I am running into another error, though, and I've copied the stacktrace that appears in my browser console below.
[code]

I'm far from a pydeck expert, so I'd appreciate it

[2021-10-28 03:04] vdonato commented on #3895
@giswqs, thanks for the suggestion! It may, unfortunately, be a bit more difficult to include custom pydeck layers since we would need to figure out a way to dynamically grab the required javascript and inject it into the streamlit frontend (I'm not totally familiar with how the earthengine layer works -- this is a best-guess as to what would be involved from what I've gleaned from the issue that

[2021-10-28 03:14] vdonato commented on #3930
Hi @trenta3, could you provide a slightly more involved example for how this would work, ideally with a widget in it as well?

What you're describing to me sounds similar to the callback/`on_change` functionality that currently exists for most widgets, but I'm not sure if I'm missing something. A slightly more complex example would help me understand the use case more.

[2021-10-28 14:41] 0phoff commented on #2751
I played around with @kylelrichards11 code and modified it to work with both hconcat and vconcat.
A few things I changed:
1. First recursively compute the base width/height of all the charts
    - `hconcat`: the width is equal to the sum of the individual chart widths.
       The height is equal to the heighest individual chart.
    - `vconcat`: the width is equal to the biggest width of the indiv

[2021-10-28 14:54] arnaudmiribel opened #3980 "Can't write a pd.DataFrame if column contains tuples"
### Summary

It seems like I can't write a pd.DataFrame if its column is only made of tuples.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

DataFrame should be printed

**Actual behavior:**

APIException!

### Is this a regression?

Don't know

### Debug info

- Streamlit version: `Streamlit, version 1.1.0`
- Python version: `Python 3.7.4`
- Using Conda
- OS version: 11.2

[2021-10-28 16:25] vhoulbreque opened #3981 "Inconsistencies in behavior between date inputs and url inputs."
### Summary

Inconsistencies in behavior between date inputs and url inputs.

### Steps to reproduce

Code snippet:

[code]

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to http://localhost:8501/?date=2021-10-14 (the date has to be set in the url first time for the bug to appear)
2. Then do the following operations as shown on the video:

https://user-images.

[2021-10-28 16:30] vhoulbreque opened #3982 "Cannot upload webm format to Github issues"
It's difficult to upload screencasts from Streamlit into Github issues. Github does not detect the webm-formatted videos and therefore the videos are difficult to share.

I needed to convert them to another format (.mp4):

[code]

And I find it quite.. laborious ^^

---

Community voting on feature requests enables the Streamlit team to understand which features are most important to our users.

*

[2021-10-28 16:33] nicolaerosia opened #3983 "streamlit is not usable over slower connections"
Hello,

I'm using streamlit over a VPN which has initial delays of more than 500ms/1000ms.
However because streamlit has builtin timeouts of 500ms for ping ( https://github.com/streamlit/streamlit/blob/develop/frontend/src/lib/WebsocketConnection.tsx#L48 ) and 1 second for websocket ( https://github.com/streamlit/streamlit/blob/develop/frontend/src/lib/WebsocketConnection.tsx#L54 ) I can't get the

[2021-10-28 16:34] willhuang1997 commented on #3980
@kantuni  is this something that you would know off the top of your head?

[2021-10-28 17:02] kylebarron commented on #3895
You might need to add the `@loaders.gl/gltf` dependency as well https://github.com/visgl/deck.gl/issues/4993#issuecomment-704053053.

However that is included as a dependency already of `@deck.gl/mesh-layers`, so not sure why it might not be being picked up. https://github.com/visgl/deck.gl/blob/9548f43cba2234a1f4877b6b17f6c88eb35b2e08/modules/mesh-layers/package.json#L35

What versions of the dec

[2021-10-28 20:26] vToMy opened #3984 "Allow clearing a specific cached function"
### Problem

Currently streamlit exposes only a single interface to delete all cached functions:
[code]

Sometimes it is useful to clear only a certain cached function, and not all cached functions throughout the whole app.
Even better would be the ability to also clear a specific key for a cached function.

### Solution

Introduce a `clear_cache()` function to the `st.cache` decorator, similar to

[2021-10-28 21:18] PaulinaFigol opened #3985 "Plots are not displayed despite of the source code present"
### Summary

Hi. I have used one of your templates to produce my own visuals, but i cannot get to a solution why the two plots (for now they are duplications just for testing purpose) do not show once I deployed the app. Please let me know if I'm making any coding mistakes or if there is some bugs.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help exped

[2021-10-29 07:37] AquibaB commented on #3943
Thanks, Randy. I was able to fix it by adding astype

`st.write(stockchain_df.astype("str"))`

[2021-10-29 07:46] madshaven commented on #862
+1

[2021-10-29 10:31] 0phoff commented on #727
Just a heads up for anyone stumbling upon this issue.
While waiting for an official solution, there are 2 custom component libraries that already allow for this: [hydralit](https://github.com/TangleSpace/hydralit) or [st_btn_select](https://github.com/0phoff/st-btn-select).

[2021-10-29 12:27] PiotrCzapla opened #3986 "Clear Cache menu does not clear experimental_memo"
### Summary

I don't see an option to clear the cache created with  experimental_memo.

### Steps to reproduce

Code snippet:

[code]

1.  click on the 'clear cache'
2. reload the page?
3. observe that the date does not change

**Expected behavior:**

the date returned by test_memo should be changed when the cache is cleared

**Actual behavior:**

the memo functions are not cleared.

### Is this a

[2021-10-29 17:19] brian316 commented on #641
still dont see a way of doing this. the above hack removes the numbering but keeps the column just empty

[2021-10-30 02:24] fredzannarbor commented on #439
I'm with @frankhuurman . Being able to receive payment webhooks is essential.

[2021-10-30 23:01] #3985 closed, assigned to nobody

[2021-10-31 16:08] mattiatantardini opened #3987 "`st.dataframe` horizontal scrollbar keeps showing when one row filtered dataframe is displayed"
### Summary
Hi all!

I have a problem with `st.dataframe` which actually i can't reproduce with sample code. In few words, I set up some filters to make my data df filterable, and then I display the filtered dataframe with `st.dataframe`. If I filter to show only one row, the horizontal scrollbar keeps to be showed and does not allow to clearly read the data (I need to vertical scroll with the mou

[2021-10-31 18:47] Iceglobe opened #3988 "ModuleNotFoundError: No module named 'streamlit.components'"
Hi,

Code is below.

Upon trying to run it fails with the below error. Using Python 3.8.
The error disappears once removing the line: from st_aggrid import AgGrid

Traceback (most recent call last):
  File "C:\Users\Philip\PycharmProjects\pythonProjectERP\ERP.py", line 10, in <module>
    from st_aggrid import AgGrid
  File "C:\Users\Philip\PycharmProjects\pythonProjectERP\venv\lib\site-packages\s

[2021-10-31 18:58] pragyan019 commented on #455
Any movement on this ?

[2021-10-31 21:50] PaulinaFigol opened #3989 "Bug around toolz.functoolz.curry"
### Summary

Description of the error from the console:

While caching the body of `get_data()`, Streamlit encountered an

object of type `toolz.functoolz.curry`, which it does not know how to hash.

**In this specific case, it's very likely you found a Streamlit bug so please

[file a bug report here.]

(https://github.com/streamlit/streamlit/issues/new/choose)**

In the meantime, you can try byp

[2021-11-01 04:36] philippeitis opened #3990 "Provide mechanism to inspect current page theme within script"
### Problem

I'm trying to dynamically fetch the current theme (as in, the colors and fonts it provides) in order to properly style visuals created from an external source without creating multiple copies of the same page, as is done in the demo. However, I could find not a good way to grab these visuals.

### Solution

**MVP:** Provide a function returning the theme, possibly as a dictionary cont

[2021-11-01 10:37] gaodianzhuo opened #3991 "ModuleNotFoundError: No module named 'streamlit.hashing'"
### Summary
Streamlit, version 1.1.0

can not find streamlit.hashing

### Steps to reproduce

Code snippet:

[code]
ModuleNotFoundError: No module named 'streamlit.hashing'

[2021-11-01 11:01] madshaven commented on #3635
Not sure if this is bug is related, but I have some strange behavior. Seems like the selectbox only works every other time. I use it. Is there something obvious I am overlooking?

    import streamlit as st
    params = st.experimental_get_query_params()
    metric = params.get("metric", [1])[0]
    metrics = [str(i) for i in range(5)]
    index = 0 if (metric not in metrics) else metrics.index(me

[2021-11-01 14:32] randyzwitch commented on #3979
Hi @ORainn -

This is probably better solved as a question on our discussion forum, as it's not really a bug. Please post there with a code example, so that the community can better understand what you are trying to achieve.

https://discuss.streamlit.io

Best,
Randy

[2021-11-01 14:32] #3979 closed, assigned to nobody

[2021-11-01 14:46] FaCoffee1984 opened #3992 "Streamlit returns error if get_elevation added to ColumnLayer"
### Summary

I am trying to display a `pydeck` layer with columns. I want the column height to be the `rain (mm)` column I am providing in a dataframe, but whenever I use `get_evelation="rain (mm)"`, I get the following error:

[code]

### Steps to reproduce

The function I am using to render my map is the following:
[code]

**Expected behavior:**

1. The map should appear.
2. Hovering over each c

[2021-11-01 16:40] junaidahmed361 opened #3993 "st.form doesn't run attached logic before executing rerun"
### Summary

I want to run some logic with the onclick trigger for the submit button. Whenever I press submit, it reruns the entire application and then does the logic tied to the submit. I need the submit button to update data and then rerun, otherwise it gets locked in an infinity loop.

### Steps to reproduce

Code snippet:

[code]
**Expected behavior:**

The data should be updated and the coun

[2021-11-01 19:30] willhuang1997 commented on #3988
Hi @Iceglobe ,

thanks for posting this issue. I was not able to reproduce this issue by installing streamlit 1.1.0, the latest version of streamlit-aggrid, yfinance, and running the code you posted.

Could you possibly do the reinstall process with a new environment? or could you possibly give me more information on your environment?

Please note: Streamlit-aggrid is a separate custom component a

[2021-11-01 19:39] kajarenc commented on #3993
Hey @junaidahmed361!
Thanks for submitting an issue.

Please note that streamlit reexecute an script on each rerun (after each click on submit button), in order to achieve persistent storage between reruns you need to use [session state](https://docs.streamlit.io/library/api-reference/session-state)

This code probably do what you need:

[code]

Please let me know if this code works for you.
I wil

[2021-11-01 19:39] #3993 closed, assigned to nobody

[2021-11-01 19:46] willhuang1997 commented on #3991
Hi @gaodianzhuo ,

Thanks for submitting an issue!

What exactly are you trying to achieve through importing streamlit.hashing?

I will close this issue but feel free to open it again if I am not understanding the issue properly or if I need more context.

[2021-11-01 19:46] #3991 closed, assigned to nobody

[2021-11-01 19:57] mayagbarnes commented on #3986
Hi @PiotrCzapla!

Thank you for raising this issue. We have good news - the update fixing this issue will be available in our next release 😃
_Related to issue #3922 and [this PR](https://github.com/streamlit/streamlit/pull/3937)._

[2021-11-01 19:57] #3986 closed, assigned to nobody

[2021-11-01 19:59] willhuang1997 commented on #3983
Hi @nicolaerosia ,

Thank you for sharing your ideas about making streamlit usable over slower connections here. Our mission is to make Streamlit the best way to build data apps, and your thoughts help us focus our roadmap where people feel the most pain. We're going to get this in front of our product team to see how we can best integrate this with our future plans.

We can't integrate every feat

[2021-11-01 20:17] WNTBq commented on #641
miss this feature too.

[2021-11-01 20:58] mm80843 commented on #1279
Found out a possible reason. **TLDR**: you need to get at least a *B1* appservice plan. The FREE one will not work with Streamlit (and apps using WebSockets).

After a couple of hours trying to find the answer to the same answer, I found out what it was. I wanted to deploy a streamlit app, but was stuck at the same place after following the [guidance][1]. A Ctrl+Maj+J showed in the "Please wait" p

[2021-11-01 21:04] junaidahmed361 commented on #3993
Hi Karen,

It's not necessarily a session state issue. In the `#update code` section, I am making calls to other class methods. So the issue is that these need to be executed as they are updating background processes which should update content displayed on the page. However they are executed after the application is rerun.

[2021-11-01 21:14] PablocFonseca commented on #862
+1  this would make more intutive UI possible

[2021-11-01 21:50] willhuang1997 commented on #3887
Hi @usuixingyili ,

Thanks for submitting an issue.

<img width="237" alt="Screen Shot 2021-11-01 at 2 47 52 PM" src="https://user-images.githubusercontent.com/16749069/139746542-785bcd4e-27ab-46e3-935c-b6cda0b57707.png">
Can you share more information? I tried reproducing it on my local system with streamlit 1.0 and streamlit 1.1.0 and I could not reproduce it. I am getting the above image displa

[2021-11-01 22:02] willhuang1997 commented on #3907
Hi @schaumb ,

Thank you for sharing your ideas about changing the functionality of what happens when ctrl + c is done here. Our mission is to make Streamlit the best way to build data apps, and your thoughts help us focus our roadmap where people feel the most pain. Given current circumstances, we likely can't integrate this into the mainline codebase but we'll get back to you if we are able to p

[2021-11-01 22:10] willhuang1997 commented on #3911
Hi @nguyen-viet-hung ,

Thanks for submitting this issue!

have you tried installing streamlit 1.1.0? There was recently a release to help deal with memory leakage. If this is still an issue after using 1.1.0, please let us know and we can investigate this further.

[2021-11-02 06:25] gaodianzhuo commented on #3991
@willhuang1997 i copy hashing.py from old streamlit version,and every thing works fine.

[2021-11-02 07:54] arogozhnikov commented on #2816
agree that setting collapsed is very valuable

[2021-11-02 09:59] CharlyWargnier opened #4000 "Discrepancy with font sizes in the tooltip (help=)"
### Summary

Aesthetically trivial, yet I've spotted a discrepancy with font sizes in our tooltip (front-end + back-end screenshots below).
I believe sections #1 and #2 should have the same font size?

![image (1)](https://user-images.githubusercontent.com/27242399/139825177-a8c811bd-1ad7-41da-bdde-e3ff3dbe7a56.png)
![image](https://user-images.githubusercontent.com/27242399/139825179-4d62e36b-53a

[2021-11-02 15:29] chainleft opened #4001 "“Please wait…” forever error when deployed on GitHub"
### Summary

I deployed an app 1 directly from the GitHub repo using https://share.streamlit.io/

The app initially worked, but with no changes to the code whatsoever, it now stopped working. I’m seeing the “Please wait…” message forever.

This article doesn’t help me much because it mentions a bunch of settings that I haven’t even done when deploying, I just followed the instructions as per https

[2021-11-02 15:35] arraydude opened #4002 "Make sure E2E tests can catch broken app view page"
https://www.notion.so/streamlit/81bddf26c4fe4b6f89fef696d38ca09a?v=8fe36a587d544a6fb839ffece6fa609b&p=46f4c10943a14f75aa621e220e979e4c

[2021-11-02 15:38] arraydude opened #4003 "Hold a design review of the state machine."
https://www.notion.so/streamlit/81bddf26c4fe4b6f89fef696d38ca09a?v=8fe36a587d544a6fb839ffece6fa609b&p=72ef3600413c4fae94070356905c01fe

[2021-11-02 15:38] arraydude opened #4004 "Hold a design review of the state machine."
https://www.notion.so/streamlit/81bddf26c4fe4b6f89fef696d38ca09a?v=8fe36a587d544a6fb839ffece6fa609b&p=72ef3600413c4fae94070356905c01fe

[2021-11-02 15:43] #4004 closed, assigned to nobody

[2021-11-02 15:43] #387 closed

[2021-11-02 15:43] #4003 closed, assigned to arraydude

[2021-11-02 15:43] #4002 closed, assigned to arraydude

[2021-11-02 16:14] willhuang1997 commented on #4001
Hi @chainleft ,

Thanks for submitting this issue. It looks like I am able to visit that url you shared with me. Can you check again?

[2021-11-02 18:00] randyzwitch commented on #3992
Hi @FaCoffee1984 -

When you write `map2 = st.write(r)`, what data are you hoping to return as `map2`? The image or the html?

In general, the expectation would be that you use `st.pydeck_chart()` to display a chart, and something like `map.__repr_html__` if wanted the HTML back.

Best,
Randy

[2021-11-02 18:04] FaCoffee1984 commented on #3992
Hi Randy,

thanks for getting back to me. To answer your question, I want the interactive map returned, and not an image.

I noticed that, if I want the HTML back, `get_elevation=...` does not fail if I run the pydeck code alone outside of streamlit, but then I struggle because streamlit does not display my html at all.

If I take out `get_elevation=...`, the map is shown but my columns have all t

[2021-11-02 18:13] randyzwitch commented on #3992
[code]

![image](https://user-images.githubusercontent.com/2762787/139921922-169c9182-17c0-4b11-8324-76b1aa9f00d3.png)

[2021-11-02 18:18] FaCoffee1984 commented on #3992
This shows up on the app, which isn't ideal. Plus, no sign of the map.

![image](https://user-images.githubusercontent.com/60174218/139922479-a0440fc4-3921-4958-94c7-94d6d42be0c2.png)

[2021-11-02 18:21] randyzwitch commented on #3992
Using `st.text()` instead of `st.write()` displays it slightly better

![image](https://user-images.githubusercontent.com/2762787/139922834-ad956610-50d4-4c78-a0a9-5776a0a09b09.png)

But generally, people aren't looking to display raw HTML, is that what you're really aiming to do?

[2021-11-02 18:23] FaCoffee1984 commented on #3992
Not really, I only wanted my column layer to show the bar heights as per the data. I can't seem to use `get_elevation=...` without receiving the following on streamlit:

[code]

[2021-11-02 18:35] chainleft commented on #4001
Yes, it still doesn't work for me:
[image: image.png]
I'm on the same browser as before where it used to work.

On Tue, Nov 2, 2021 at 7:14 PM willhuang1997 ***@***.***>
wrote:

[2021-11-02 19:31] randyzwitch commented on #3992
The issue here is not with Streamlit, but with how pydeck interprets string literals. See the following:

[code]

![Screenshot from 2021-11-02 15-28-41](https://user-images.githubusercontent.com/2762787/139937148-b97136f0-f2d2-48a0-b80a-f38a2c891ac7.png)

As soon as you change to `get_elevation="rain (mm)",`, you will get the error message shown above.

I'm going to close this issue, as I believe

[2021-11-02 19:31] #3992 closed, assigned to nobody

[2021-11-02 21:52] willhuang1997 commented on #4001
Hi @chainleft ,
thanks for a quick reply.
I have given your github profile and your issue to our internal support team. They will reach out to you but this issue doesn't seem to deal with the public Streamlit repository itself so I shall close this and let our support / cloud team deal with this issue.

[2021-11-02 21:52] #4001 closed, assigned to nobody

[2021-11-02 21:58] carolinefrasca commented on #4001
Hey @chainleft, there are a couple of errors being generated from your app's code. I've included them below.

[code]

That second error leads me to believe that your indexing is out of bounds at some point in your code.

[2021-11-03 06:48] collinmccarthy commented on #1085
Any update on this or possible work arounds? I'm looking for something similar to where the user can click on an image, and assuming there is an object there, some classifier detects the object at that location and overlays an instance segmentation on top of the original image.

Assuming that's still not possible, is there some other kind of widget that could serve the purpose of something like a

[2021-11-03 06:53] aarav2you commented on #862
+1

[2021-11-03 06:54] aarav2you commented on #862
+1 Wow this issue has been opened since 18th dec, it has gone unnoticed

[2021-11-03 08:25] FaCoffee1984 commented on #3992
This works ok now. Thanks!

[2021-11-03 08:26] FaCoffee1984 commented on #3992
This works ok now, thanks!

[2021-11-03 10:41] Spiruel commented on #862
Also interested

[2021-11-03 11:15] hjarraya opened #4011 "Plotly pattern shape not showing"
### Summary

Pattern shape and hatching not showing in Plotly chart see examples charts https://plotly.com/python/pattern-hatching-texture/

Bars are plotted with colour but without hatching.

### Steps to reproduce

[code]

**Expected behavior:**

Expected plot with hatching texture.
![newplot (2)](https://user-images.githubusercontent.com/3036079/140050612-d4d274b0-6f18-467a-8b4e-782a3d19a927.pn

[2021-11-03 11:22] chainleft commented on #4001
Hi Caroline,

Thank you very much for your response.

The first one only applies for specific selections but the error I was
facing is different from that. Interestingly, I can now access the website
again..

Could you please explain to me the second error a bit more? How could my
indexing be out of bounds?

Thanks

On Wed, Nov 3, 2021 at 12:58 AM Caroline Lu ***@***.***>
wrote:

[2021-11-03 15:50] trenta3 commented on #3930
Hi @vdonato, thanks for the reply. The bug seems to be due to a strange behaviour of using [ZODB](https://zodb.org/) together with streamlit.
Consider the following streamlit script, which is a markdown note editor with persistence:
[code]

### Reproducing the error
After running it (`streamlit run test.py`), click on "Edit", then change the text (e.g. "Changed"), then click "Save". You can see th

[2021-11-03 18:29] 0xrusowsky commented on #863
+1

[2021-11-04 00:45] ElizaStaruk commented on #862
Just found this through Google again, so still +1 (+2?) 😆

[2021-11-04 04:50] nandhinianandj commented on #3951
https://github.com/streamlit/streamlit/pull/4017

[2021-11-04 04:53] #1584 closed, assigned to AnOctopus

[2021-11-04 05:04] hkokko commented on #1584
Lovely. When will this be available from the normal atreamlit distribution at python libraries

[2021-11-04 09:15] wplohrmann opened #4018 "st.cache does not preserve function signatures"
### Summary

Whatever the function signature/annotations of the decorated function it is not preserved, so mypy fails
to spot any type errors related to the call of the function.

### Steps to reproduce and actual behaviour

The following program has a type error
[code]

But mypy produces the following output:
[code]
Or by suppressing the error:
[code]
**Expected behavior:**
This is what the outpu

[2021-11-04 10:07] AntonioL commented on #395
Is there any reference to a roadmap document? So I can understand how highly prioritized is the hamburger menu configurability?

[2021-11-04 10:40] chainleft commented on #4001
And now I again cannot access.
![image](https://user-images.githubusercontent.com/89662508/140300015-20f9c5a0-2093-4ce6-8af6-4294c7834231.png)

[2021-11-04 10:56] PiotrCzapla commented on #732
Streamlit 1.0 changed the API now to clear cache you have to:
[code]

[2021-11-04 11:29] aarav2you commented on #1370
@SimonBiggs Hi, sorry for necroposting and distrubing, but all links you posted are 404ed, I tried to wrap my streamlit application to electron with the instructions you posted on reddit, but it just replies with the help screen, could you guide us on how to do it conurrently, thanks

[2021-11-04 17:25] lukasmasuch commented on #3718
Checking for `.item()` function would be an option which would work with (most) numpy values. However, there are still probably lots of corner cases that are not covered. Here are a few other suggestions:

1) Leave it as is (only supporting native types) and improve error message telling the user to take care of converting to the right type.
2) Try to auto convert value to number, e.g. via `int(st

[2021-11-04 19:21] stonier commented on #3635
@madshaven you're probably running into #1532 with the selectbox. It's something to do with the cache and grokking what actually is happening is a little mind-bending. Nonetheless, I work around it by:

* check if `session_state.square_default_index` exists yet
* if not, compute the first index and store it in `session_state.square_default_index`. Never update this!
* _always_ use `session_state.s

[2021-11-04 19:52] stonier opened #4020 "Streamlit cloud screencasting not working with recent browsers"
### Summary

Can't screencast a publicly served streamlit app.

* OS: Ubuntu 18.04 and Ubuntu 20.04
* Chrome - stable, beta and unstable all fail (v95, v96, v97)
* Firefox - v94 fails

### Steps to reproduce

1. Goto https://share.streamlit.io/stonier/streamlit_parameters/devel/demo.py
2. Try to screencast

**Expected behavior:**

Screencast works.

**Actual behavior:**

The error dialog appears:

[2021-11-04 19:58] SimonBiggs commented on #1370
Hi @aarav2you,

Given the links are a git repo have a look back through the release branches finding the one that was released around the time of the original posts, then you can go to the files in question within that branch.

[2021-11-04 20:27] #3973 closed, assigned to mayagbarnes

[2021-11-04 20:34] kajarenc commented on #4020
Thank you, @stonier for reporting this issue.

Confirm, screencasting on the cloud does not work for me too.
I will forward this to team!

[2021-11-04 21:52] lucaselutions28 opened #4021 "Segmentation Fault when installing packages with conda"
### Summary

Segmentation Fault is thrown when using packages installed with conda.

### Steps to reproduce

Code snippet:
[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Save the code snippet to a .py file
2. Run the app using streamlit

**Expected behavior:**

St

[2021-11-04 21:54] madshaven commented on #3635
I am having the same issues with checkboxes as well. The first time the selectbox is changed og a checkbox is clicked, nothing happens. But after doing such a "refresh", the next change works properly.
Do I have to invoke session states? I do not use them currently.

[2021-11-04 21:56] lucaselutions28 commented on #4021
I should've put this with the original post but here is the terminal output for the error produced (app crashes after the segmentation fault):
[code]

[2021-11-05 18:53] kajarenc commented on #4018
Thank you @wplohrmann for reporting this. Your thoughts help us focus our roadmap where people feel the most pain!

We were able to reproduce the mypy problem with decorators! We're going to get this in front of our team to see how we can best integrate this with our future plans!

[2021-11-05 21:56] Amey-D opened #4023 "GA Launch: remove conditionals from the backend"

[2021-11-05 21:58] Amey-D opened #4024 "GA launch: remove conditionals from the React web app"

[2021-11-05 22:01] #4024 closed, assigned to arraydude

[2021-11-05 22:02] #4023 closed, assigned to Amey-D

[2021-11-06 19:14] kmcgrady commented on #3813
Thanks @Don-Yin I will close this issue for now and if someone produces a more reliable repro example, they can open a new issue.

[2021-11-06 19:14] #3813 closed, assigned to nobody

[2021-11-06 19:33] kmcgrady commented on #124
Hey @alekkk94 Have you tried using `use_container_width=True` on the plotly call to have the chart fit the width of wide mode.

[2021-11-06 20:17] kmcgrady commented on #3635
Hi @madshaven You've uncovered a common situation that occurs. One of the biggest challenges internally in Streamlit is identifying one line of code to which UI component on the screen. We've attempted to solve it in different ways, but we ended on a more simplistic approach. We [defined the behavior in our docs](https://docs.streamlit.io/library/advanced-features/widget-semantics).

The script yo

[2021-11-08 11:07] vhoulbreque commented on #1023
I have the same issue on Firefox:

Streamlit, version 1.1.0
Ubuntu 21.04

On firefox:

https://user-images.githubusercontent.com/18598248/140731097-d708640a-334f-4a77-b203-cc45f2c83c61.mp4

On Chrome:

https://user-images.githubusercontent.com/18598248/140731089-36986fe1-f58b-4097-a609-f81b49816357.mp4

The code to reproduce:

[code]

@nthmost Is it possible to reopen this issue? I have never seen

[2021-11-08 12:44] madshaven commented on #3635
@kmcgrady: Thanks. I am quite new to this, I really like StreamLit, but there are a few things that still seem strange or like 'magic', here and there.
I understand from your code abode that the state of the widget is saved in session_state under the key you associate with it. And that the "index" is a "default" which is just used for the first/initial run. This seems reasonable.
My actual code ha

[2021-11-08 14:03] PablocFonseca commented on #862
+ 1 here too. I'm using st.Markdown and custom Html code to simulate this feature... a mess... I'd love to have it implemented maybe with some custom css as well

[2021-11-08 17:35] kmcgrady commented on #3983
Hi @nicolaerosia This seems like a duplicate of https://github.com/streamlit/streamlit/issues/2312 (and it has some ideas to try out). I will close this in favor of the other one. Like @willhuang1997 said, we have brought it up with our product team to see where we can get this prioritized if possible.

[2021-11-08 17:35] #3983 closed, assigned to nobody

[2021-11-08 18:58] kmcgrady commented on #3635
Totally understand @madshaven ! This has been one of the most challenging concepts to bake in a magical way! Good news is that you are getting into some advanced stuff!

Keep on Streamlit-ing!

[2021-11-08 19:05] kmcgrady commented on #3768
Hey @peter-ealu I just tested this out in the latest (1.1.0) And now have not been able to reproduce the issue. It seems like our fixes have improved the situation. Could you verify for me?

[2021-11-08 19:59] #3919 closed, assigned to nobody

[2021-11-08 20:00] #3804 closed, assigned to nobody

[2021-11-08 20:09] AnOctopus commented on #2975
@schaumb That approach seems promising. Could you open a PR for it?

[2021-11-08 21:35] polyg314 commented on #484
@cpatrickalves I was running into this issue in Cloud Run too, but what fixed for me was increasing memory limit from default to multiple gigs (Go to Edit & Deploy New Revision, then increase memory to be bigger than your image size).

[2021-11-09 01:05] vdonato opened #4032 "Plumb streamlit version of current app from s4t backend -> frontend"

[2021-11-09 02:37] vdonato commented on #3930
Hi @trenta3,

streamlit's execution model is described at the bottom of our [main concepts](https://docs.streamlit.io/library/get-started/main-concepts#app-model) documentation page (note that the fragment link for this particular header seems broken, so you'll just need to scroll to the bottom of the page manually -- I filed a bug for this here: https://github.com/streamlit/docs/issues/159). Call

[2021-11-09 13:07] karl-rosaen-skydio commented on #3895
@vdonato I have a pull request that fixes the issue for me when testing in development mode.

Per @kylebarron 's comment, for me, I didn't need to add `@loaders.gl/gltf` because it is already a dependency for `@deck.gl/mesh-layers` - but I added it in any case to appease CI.

[2021-11-09 14:15] nxnixin opened #4034 "St.file_uploader cannot transfer the file to the second object"
### Summary
Hello everyone, I need your help.

I found that st.file_uploader cannot transfer the file to the second object. My codes are like the following:

uploaded_file = st.file_uploader(“Choose a file”)

dom = minidom.parse(uploaded_file)
per = ET.parse(uploaded_file)

per cannot get anything. XML file has no error. And if I change the sequence to “per, dom”, dom can not get the file.

error:

[2021-11-09 15:14] mahotd commented on #3981
Hi @vinzeebreak
I have the same issue on firefox and Python 3.6.8 and streamlit 1.1.0. Streamlit always seem to want to go to today's date.

[2021-11-09 15:48] peter-ealu commented on #3768
Hi Ken

All looks good for me with 1.1.0 too. Thanks for sorting this out and for
the already brilliant, and ever-improving, Streamlit!

Regards,
Peter

On Mon, Nov 8, 2021 at 7:05 PM Ken McGrady ***@***.***> wrote:

[2021-11-09 15:49] kmcgrady commented on #3768
Awesome! I'll close this issue out! 😊 Happy Streamlit-ing!

[2021-11-09 16:56] fgenoese commented on #3814
Here is a demo hosted on Streamlit Cloud, now using Streamlit version 1.10:
[https://share.streamlit.io/fgenoese/st_bugreports/main/altair_facet.py](https://share.streamlit.io/fgenoese/st_bugreports/main/altair_facet.py)

[2021-11-09 20:53] somenath203 opened #4041 "Sklearn module not found"
### Summary

I am deploying Boston House Price Prediction Model website. Now, when I am deploying, then, in console, it is showing "No module named 'sklearn'".

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Cl

[2021-11-09 21:04] #4041 closed, assigned to nobody

[2021-11-09 21:06] krambox commented on #744
Same problem with ib_insync and streamlit 1.1

    from ib_insync import IB

Error-stack:

    File "/Users/kai/.pyenv/versions/3.9.1/lib/python3.9/site-packages/streamlit/script_runner.py", line 354, in _run_script
        exec(code, module.__dict__)
    File "/Users/kai/sandbox/trade-cli/vl_screen.py", line 6, in <module>
        from ib_insync import IB
    File "/Users/kai/.pyenv/versions/3.9.

[2021-11-09 21:39] #1398 closed

[2021-11-09 21:43] #1946 closed, assigned to nobody

[2021-11-09 21:46] randyzwitch commented on #1983
I think this question is closed in spirit, as the `st.download_button` functionality now avoids the issues that happen with dumping a lot of data into the browser.

If other  issues persist, please open a new issue validated against Streamlit 1.0+ to ensure we have the most recent information possible.

https://docs.streamlit.io/knowledge-base/using-streamlit/how-download-pandas-dataframe-csv

Bes

[2021-11-09 21:46] #1983 closed, assigned to nobody

[2021-11-09 21:50] #2202 closed, assigned to nobody

[2021-11-09 22:01] #3070 closed, assigned to nobody

[2021-11-09 22:02] #3145 closed, assigned to nobody

[2021-11-09 22:03] #3345 closed, assigned to nobody

[2021-11-09 22:32] manucirne commented on #3555
Hi! @VinamraGuptaa! Are you working on this issue? I'll like to give it a try if you don't mind.

[2021-11-09 22:33] mayagbarnes opened #4044 "Broken Static Assets in st.map & st.pydeck_chart"
**Link to doc page in question (if any):**
* [st.map](https://docs.streamlit.io/library/api-reference/charts/st.map)
* [st.pydeck_chart](https://docs.streamlit.io/library/api-reference/charts/st.pydeck_chart#stpydeck_chart)

**Name of the Streamlit feature whose docs need improvement:**
* `st.map`
* `st.pydeck_chart`

**What you think the docs should say:**
Noticed that the `st.map` and the `st.py

[2021-11-10 00:07] kurt-rhee commented on #636
I created a discussion blog post, but I'll copy here another use case for this:

`I am writing an application which should accept inputs from a qr code scanner which should translate to a set of key strokes. I’d like those keystrokes to be entered into a specific st.text_input since I wouldn’t be able to mouse or tab over to the correct component with the qrcode scanner.`

https://discuss.streamli

[2021-11-10 00:10] #4044 closed, assigned to nobody

[2021-11-10 01:11] vdonato commented on #3895
Thanks @karl-rosaen-skydio! I'll spend a bit of time testing the PR in my local dev env, but it more or less looks like what I was trying to do before I paused work on it due to being out on vacation for a week, so I expect the turnaround time to get the PR merged should be quite fast.

[2021-11-10 02:01] kurt-rhee opened #4048 "Disable 'c' as clear cache shortcut (or disable shortcuts all together)"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

I am writing an application that accepts inputs from a qrcode scanner which outputs keystrokes.  One of those keystrokes can be the letter 'c'.  The letter 'c' is used in streamlit for clear cache.

I would li

[2021-11-10 03:53] tvst commented on #1117
It seems the we added _some_ support for this inside `st.write()` a while back. I say "some" because we pipe the HTML into `st.markdown` with HTML support turned on, but this still filters a few things.

Anyway, I think this may be good enough for us to close this issue.

[2021-11-10 03:53] #1117 closed

[2021-11-10 04:05] tvst opened #4049 "Can't call st.write() on a class that has repr_html"
### Summary

When you call `st.write()` any **class** that has `_repr_html_` it throws an error.

(But you can call `st.write` on _instances_ of those classes just fine)

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

`st.text` and `st.write` print the exact same thing.

**Actual behavior:**

You get this beautiful error:

![image](https://user-images.githubusercontent.com/

[2021-11-10 05:10] pooja20-gurav commented on #2107
Thanks a lot yeah its working now ...

[2021-11-10 08:35] callumpirienz opened #4050 "I keep getting the error - pytrends.exceptions.ResponseError: This app has encountered an error. The original error message is redacted to prevent data leaks. Full error details have been recorded in the logs."
### Summary

pytrends.exceptions.ResponseError: This app has encountered an error. The original error message is redacted to prevent data leaks. Full error details have been recorded in the logs.
Traceback:
File "/home/appuser/venv/lib/python3.7/site-packages/streamlit/script_runner.py", line 354, in _run_script
    exec(code, module.__dict__)
File "/app/gsc-keyword-gtrends/gsc-keyword-gtrends.py"

[2021-11-10 13:34] karl-rosaen-skydio commented on #3895
awesome, thanks @vdonato !

[2021-11-10 14:12] bernardolk commented on #1873
I would also want this feature

[2021-11-10 18:33] kurt-rhee commented on #1012
I am also having this issue where streamlit's terminal window states "stopping..." at some point in the process in this call

[code]

[2021-11-10 19:48] numpand commented on #2348
Hi, this is still an issue in version 1.1.0. Is there any chance this will be addressed in the near future?  Thanks for the great tool, btw!

[2021-11-10 21:33] MatheusHam opened #4052 "Add Yellow color to st.metric"
### Problem

Right now if you use a + Operator color goes green and with - a red color. To add extra use cases for this widget I suggest we have a 3rd operator for a yellow color.
Depending on the type of metrics a traffic lights color pallet would enhance it a lot.

### Solution

Adding an extra Yellow color with any operator that makes sense.

---

Community voting on feature requests enables th

[2021-11-10 22:14] #3921 closed, assigned to vdonato

[2021-11-10 22:57] JMBurley commented on #868
+1 for this issue.
st.write() not handling text like a python print statement is, at best, confusing.

At worst it severely impacts streamlit interoperability with pre-existing python codebases.  Any string you might want to print that works fine in normal python workflows may not render correctly in st.write().

## print
`print("line 1\n line 2\n line 3")`
[code]
`print("line 1  \n line 2  \n lin

[2021-11-11 00:44] cfoisy-osisoft commented on #3980
Similar 'Could not convert' exception if a column contains both float and string:

[code]
produces:

[code]

[2021-11-11 02:33] vdonato commented on #4034
Hi @nxnixin,

I don't believe this is a streamlit bug. The object returned by streamlit's `st.file_uploader` object is essentially just a Python `io.BytesIO` object, and when file-like objects in Python are read, what's happening under the hood is that a file pointer is being updated to point to the next byte of the file to read (so after a file has been read once, the pointer points to the end of

[2021-11-11 02:33] #4034 closed, assigned to nobody

[2021-11-11 02:43] vdonato commented on #4050
Hi @callumpirienz,

As the error message says, the full error details can be found in the logs of your Streamlit Cloud app. These can be found in the "Manage app" console of your deployed app.

I'm going to close this issue as, judging from the stacktrace, the error you're hitting is unlikely to be related to streamlit itself.

[2021-11-11 02:43] #4050 closed, assigned to nobody

[2021-11-11 02:51] vdonato commented on #3989
Hi @PaulinaFigol!

While this is a bug, I'm going to close this as a "Won't fix" because

* providing a hash func for `toolz.functoolz.curry` should fix this issue, as suggested by the error message.
* `st.cache` isn't deprecated yet, but we plan on doing so soon in favor of our new [caching primitives](https://blog.streamlit.io/new-experimental-primitives-for-caching/) `st.experimental_memo` and

[2021-11-11 02:51] #3989 closed, assigned to nobody

[2021-11-11 03:02] vdonato commented on #4011
Thanks for reporting this @hjarraya!

I think this may be an easy fix that just requires us to update our plotly.js version (since I don't see anything on the Python side that could be causing this to happen), so I'll spend a bit of time next week seeing if that does the trick. If it turns out a version upgrade doesn't work, this will require more investigation.

[2021-11-11 12:01] mehereteab-app commented on #1245
### change SQLA**L**chemy to SQLA**l**chemy

The problem is the use of capital letter, vscode will suggest it to be capital letter. Ignore it and use small letter **l**

[2021-11-11 12:49] u-masao commented on #313
After making this fix, HTTPS is working in the local environment.

https://github.com/u-masao/streamlit/commit/48436dc8a273bfc0ccf0ab57684841e7226d8998

[2021-11-11 14:44] marferca opened #4054 "Streamlit is not able to display Plotly Icicle charts."
### Summary

Streamlit is not able to display Plotly Icicle charts.

### Steps to reproduce

Code snippet:

[code]

If applicable, please provide the steps we should take to reproduce the bug:

1. Run the code above
2. You can try to uncomment ``` fig.show() ``` to check that ``` fig ``` is not the problem

**Expected behavior:**

I expect to see the following Icycle chart.

![newplot (1)](https:/

[2021-11-11 18:28] eytanadar opened #4058 "Streamlit/Vega-Lite/Altair interactivity issue"
### Summary

There seems to be an issue with the latest version of streamlit (and its interactions with altair/vega-lite) for interactions. Interactions that link two visualizations will work in jupyter notebook fail with streamlit 1.1.0 (Dominik Moritz indicates he was able to get it to work in 0.79).

### Steps to reproduce

Code snippet:

I'm attaching the streamlit (.py) version and jupyter (.

[2021-11-11 20:50] karl-rosaen-skydio commented on #3895
by the way @vdonato I didn't take the time to add other mesh loaders since I ran out of time to test each type - if you are in the mode of QAing this change and feel like adding a few lines for:

https://loaders.gl/docs/specifications/category-mesh

that'd be awesome (in particular [PCD](https://loaders.gl/modules/pcd/docs/api-reference/pcd-loader), [ply](https://loaders.gl/modules/ply/docs/api-re

[2021-11-11 21:06] Hveemos commented on #4058
I have similar problem. When I click on a frequency bar in my interactive bar chart I am suppose to get a list of reports. It was working in Streamlit 0.78 but not anymore (Streamlit 1.2). If I'm trying my plotting function in Jupyter Notebook everything works properly.

[2021-11-11 21:33] vdonato commented on #4054
Thanks for reporting this @marferca!

There's another plotly related issue that I was going to work on that I believe exists for similar reasons (that is, both of them are likely due to our plotlyjs version being relatively outdated), so I'll see if I can fix both with a version upgrade sometime in the next week or so.

[2021-11-12 00:23] #3923 closed, assigned to lukasmasuch

[2021-11-12 00:24] #3718 closed, assigned to willhuang1997

[2021-11-12 00:26] #2014 closed, assigned to nobody

[2021-11-12 00:26] #2485 closed, assigned to lukasmasuch

[2021-11-12 00:52] #3895 closed, assigned to vdonato

[2021-11-12 00:55] vdonato commented on #3895
Thanks for the pointer @karl-rosaen-skydio,

I'll probably leave adding additional mesh loaders to a future PR, as I'm sufficiently unfamiliar with pydeck that QAing #4027 ended up taking me a bit longer than I had initially expected 😅

[2021-11-12 04:16] treuille commented on #395
Here are some links which might help:

* [Unofficial CSS hack to remove the hamburger menu](https://www.youtube.com/watch?v=0_HlInz6HuM)
* [Officially supported method to configure the hamburger menu](https://docs.streamlit.io/library/api-reference/utilities/st.set_page_config)
* [Streamlit’s current roadmap](https://roadmap.streamlit.io/)

Happy Streamliting! 😊

[2021-11-12 09:45] zethis opened #4061 "Set browser.serverPort as empty and not display it in url"
### Problem

Actually when you run streamlit, you can customize port and url.

I'm behind a reverse proxy, and i don't want to show the browser server port to not confuse the user.

Actually displayed:

  Welcome to Streamlit. Check out our demo in your browser.

  URL: http://your.app.dns:8501

What needed to display:

  Welcome to Streamlit. Check out our demo in your browser.

  URL: http://you

[2021-11-12 12:27] TPreece101 opened #4062 "Vega Lite charts throw an error if you include the data in the spec"
### Summary

If you include the data values in the vega lite spec (perfectly valid vega lite) then you get a `TypeError: Cannot use 'in' operator to search for 'url' in undefined` error.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

I would expect the chart to be rendered.

**Actual behavior:**

I get the following error displayed in the streamlit dashboard:
[code]
This l

[2021-11-12 13:58] knorthover opened #4063 "@st.memo decorator not handled by Sphinx autodoc"
### Summary

Sphinx fails to import modules that use the @st.memo (or pre 1.2 st.experimental_memo) decorator.  The  importer throws  an
AttributeError: module 'streamlit' has no attribute 'memo'.   @st.cache works fine as it always has.

### Steps to reproduce

See attached zip file for a test case, Sphinx build, and a log

**Expected behavior:**

Should get a populated page with the module docum

[2021-11-12 21:22] fgenoese commented on #1002
@kantuni Here is a demo of the problem: https://share.streamlit.io/fgenoese/st_bugreports/main/geopandas_map.py

[2021-11-12 22:37] domoritz commented on #4058
If this is an issue with Vega-Lite, we can look into but will need a minimal reproduction. For now, I'll assume it's a streamlit issue.

[2021-11-14 21:45] tconkling commented on #2509
Closing this because our new caching primitives, `@st.experimental_memo` and `@st.experimental_singleton`, don't have this issue (because they don't attempt to hash all the symbols inside the cached function). New code should prefer memo/singleton over `@st.cache`.

[2021-11-14 21:45] #2509 closed, assigned to nobody

[2021-11-15 09:21] nxnixin commented on #4034
Thank you so much!

[2021-11-15 10:15] nxnixin commented on #1019
For me, unfortunately, it doesn't work on Python 3.8 with mac. The errors are shown in follows:

`Assertion failed: (NSViewIsCurrentlyBuildingLayerTreeForDisplay() != currentlyBuildingLayerTree), function NSViewSetCurrentlyBuildingLayerTreeForDisplay, file NSView.m, line 13477.
Illegal instruction: 4`

[2021-11-15 16:17] randyzwitch commented on #4063
Hi @knorthover -

We've moved away from using Sphinx to build the documentation, so we're not really trying to maintain compatibility here (besides the general way to docstrings in Python). Are you maintaining a parallel set of documentation?

Best,
Randy

[2021-11-15 16:46] knorthover commented on #4063
Hi @randyzwitch
We are not maintaining parallel documentation of Streamlit.
We maintain documentation of our applications deployed to business users on an internal website and use Sphinx to build that.  That includes using autodoc to generate detailed documentation of all our modules.   That works with @st.cache, but not with @st.memo.

I haven't looked into how Streamlit implemented the @st,memo

[2021-11-15 17:12] whatiskeptiname opened #4065 "Return (Enter) not being registered immediately on mobile browser while using text_input() method."
### Summary

On Google Chrome (Android) the return (Enter) is not being registered immediately as it is pressed. Either has to wait for some time or dismiss the keyboard for the text_input() method to work properly.

### Steps to reproduce

Code snippet:

[code]

- Streamlit version: 1.2.0
- Python version: 3.9.7

[2021-11-15 18:56] tconkling commented on #4018
Streamlit is now PEP 561-friendly (https://github.com/streamlit/streamlit/pull/4025), and I've added proper type annotations to `st.experimental_memo` and `st.experimental_singleton` (https://github.com/streamlit/streamlit/pull/4045).

Memo + singleton are the new caching hotness, and is where we're focusing our efforts. (`@st.cache` is not deprecated, but in general no new development is happenin

[2021-11-15 18:56] #4018 closed, assigned to nobody

[2021-11-15 20:17] EPronovost commented on #3972
+1 for this.  I've manually annotated some parts of the streamlit API for my projects before type annotations were published and this is the approach I used.

[2021-11-15 22:15] #4011 closed, assigned to vdonato

[2021-11-15 22:15] #4054 closed, assigned to vdonato

[2021-11-16 00:23] willhuang1997 commented on #4062
Hi @TPreece101 ,

just wanted to let you know, this is not really a bug but technically a feature enhancement.

Though, what you're saying definitely makes sense. Thanks for sharing your idea about having valid vegalite to be accepted within the data parameter here. Your thoughts help us focus our roadmap where people feel the most pain. I'm going to get this in front of our product team to see ho

[2021-11-16 01:32] willhuang1997 commented on #4065
Hi @whatiskeptiname ,
thanks for reporting this. I shall consult with my team to check the priority of this issue.

[2021-11-16 01:55] willhuang1997 commented on #3935
Hi @kurt-rhee ,

Thanks for reporting this. I was not able to reproduce this bug. I went to https://pythonnumericalmethods.berkeley.edu/notebooks/chapter11.03-Pickle-Files.html in order to create a pickle file and i wrote:
`
my_dict = pickle.load(open('/Users/williamhuang/streamlit_code/willhuang1997-streamlit/streamlit/debugging/test.pkl', 'rb'))
infile = open('/Users/williamhuang/streamlit_code/

[2021-11-16 06:37] elhawlir commented on #4000
hey, can i work on this issue?

[2021-11-16 08:48] SamuelBradley opened #4069 "Make MESSAGE_SIZE_LIMIT a config variable"
### Problem

There is currently no easy way to configure MESSAGE_LIMIT_SIZE in server_util.py which results in a lot of error message like this:

![image](https://user-images.githubusercontent.com/3054530/141951831-2a937bfb-e624-4bcf-840a-315eec451d27.png)

This happens whenever plotting larger datasets such as geotiff rasters, I have got this error plotting an 80MB Tiff file with both bokeh (hvpl

[2021-11-16 14:52] kurt-rhee commented on #3935
Hey will,

I was actually able to pickle this object, it needed a recursion option to be set to True.  Thank you so much for replying to the original message, I will close this issue.

[2021-11-16 14:52] #3935 closed, assigned to nobody

[2021-11-16 16:34] samhaar opened #4072 "wrong repo :/"

[2021-11-16 16:36] #4072 closed, assigned to samhaar

[2021-11-16 18:20] willhuang1997 commented on #3829
Hi @nithinreddyy ,
Thanks for submitting your issue.
Is this a problem with streamlit? This seems like a problem with the numpy itself rather than streamlit. I'm going to close this but if you think it's a streamlit bug then please feel free to reopen it with preferably an easy reproducible case on our side!

[2021-11-16 18:20] #3829 closed, assigned to nobody

[2021-11-16 22:40] #4062 closed, assigned to nobody

[2021-11-17 02:00] hardianlawi opened #4077 "Dynamic streamlit form"
### Problem

My current use case requires using some sort of dynamic `st.form`. I would like to be able to dynamically adjust the number of text boxes which would later be passed as a list of texts later to other apps.

### Solution

**MVP:** What's the smallest possible solution that would get 80% of the problem out of the way?

 Currently, I'm doing something like [this](https://discuss.streamli

[2021-11-17 03:34] gai1995 opened #4078 "Import streamlit Failed! ImportError: /lib64/libc.so.6: version `GLIBC_2.14' not found"
### Summary
I installed the streamlit with "Conda install streamlit", then "import streamlit" got the error:
ImportError: /lib64/libc.so.6: version `GLIBC_2.14' not found (required by /opt/xx/anaconda3/envs/server/lib/python3.6/site-packages/google/protobuf/pyext/_message.cpython-36m-x86_64-linux-gnu.so)

I checked my GLIBC version, it is GLIBC_2.12 and I can not update it, is there anyway I can u

[2021-11-17 09:16] gaodianzhuo opened #4079 "st.text_input capitalized"
st.text_input
For each string, the first letter entered is automatically capitalized.
I think we should keep the input as it is.
by the way,i like use streamlit very much,that's greate.

[2021-11-17 09:19] StefanBrand opened #4080 "Docs UI glitch between 1025px and 1249px screen width"
Between 1025px and 1249px screen width, the side bar overlays docs content, even if collapsed. Tested in Firefox 94.0.

The screenshot demonstrates the behaviour. It is not possible to click links under the red area.
![image](https://user-images.githubusercontent.com/8948865/142172251-5e88edc2-37d9-4b0a-b17d-07c739138770.png)

[2021-11-17 09:58] wplohrmann commented on #4018
Works like a charm! Thank you very much

[2021-11-17 10:36] TPreece101 commented on #4062
Hi @willhuang1997, thanks for getting back to me. The reason that I listed it as a bug was because in the documentation for `st.vega_lite_chart` under the `data` parameter the documentation states "Either the data to be plotted or a Vega-Lite spec containing the data (which more closely follows the Vega-Lite API)"

So far I haven't managed to get a Vega-Lite spec that contains data to be plotted w

[2021-11-17 12:18] StefanBrand opened #4081 "Remove padding altogether to better support embedding app into iframe"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

We are embedding a Streamlit app into an iframe inside our main app. Currently I'm removing padding like so:

[code]

Many times this renders like this:

![image](https://user-images.githubusercontent.com/8948

[2021-11-17 14:34] MaWeffm opened #4082 "Form updates session state only after every second submission"
### Summary

Using a form and a submit button to change a session state variable, e.g., a string, does only work for every second submission.

### Steps to reproduce

Code snippet:

[code]

1. Change text in text input
2. Click on 'Submit' -> session state changes to new text
3. Change text in text input
4. Click on 'Submit' -> input in text field is reset to previous value and session state is no

[2021-11-17 14:54] MaWeffm commented on #4082
I added output just at the beginning of the script:
[code]
The session state is basically updated only after pressing 'Submit' twice. Is this expected behavior?

[2021-11-17 14:58] igor-i-plotnikov commented on #4082
@MaWeffm, appropriate implementation would be:
[code]

[2021-11-17 15:10] lukasmasuch commented on #4062
@TPreece101 I pushed a fix for the problem yesterday. So, the upcoming version should be able to work with your example :)

[2021-11-17 15:19] MaWeffm commented on #4082
@igor-i-plotnikov, thanks a lot! I was testing with callbacks, but it never occurred to me to put the update function inside the 'with st.form...' block. But now as I think about it, it seems to make sense. I'll close this issue.

[2021-11-17 15:19] #4082 closed, assigned to nobody

[2021-11-17 15:57] TPreece101 commented on #4062
Amazing, thanks so much @LukasMasuch!
♥️ Streamilt
When does the next version come out?

[2021-11-17 16:13] kajarenc commented on #4079
Hey, @gaodianzhuo!

Thank you for opening the issue. Unfortunately, I cannot reproduce this behavior.

Could you please provide more details: code snippet, streamlit version e.t.c.?

[2021-11-17 16:39] knorthover commented on #4063
Hi @randyzwitch

This little hack will avoid the issue, It runs OK in streamlit and also will generate a Sphinx documentation page without errors.  However I'll have to note  that the API is not the one with the trailing underscore.

`import streamlit as st
try:
    @st.memo
    def demo_sphinx_memo(a: int = 2, b: float = 1.5) -> float:
        return demo_sphinx_memo_(a, b)
except AttributeError:

[2021-11-17 18:52] octo-weilian commented on #4061
In **~/.streamlit/config.toml**  you can specify port = 80 (HTTP) and serverAddress = "http://your.app.dns". When you run Streamlit it should run without your port number.

[2021-11-18 00:25] kurt-rhee opened #4086 "Widgets overlapping in Firefox"
### Summary

Here is the same app displayed in chrome and in firefox with chrome on the left and firefox on the right.  In firefox the widgets overlap one another.

![image](https://user-images.githubusercontent.com/33131958/142308594-07d17499-54d4-4a48-b421-2454988d568d.png)

### Steps to reproduce

Code snippet:

c1, c2, c3, c4 = st.columns([1, 2, 3, 4])

**Expected behavior:**

Chrome is behavi

[2021-11-18 02:44] gaodianzhuo commented on #4079
@kajarenc thank you for your reply.it's my mistake,i use the title function.

[2021-11-18 02:45] #4079 closed, assigned to nobody

[2021-11-18 08:53] HugoMc01 opened #4087 "date_input leads to ValueError while changing the selection of a range"
### Summary

date_input displays "ValueError: not enough values to unpack (expected 2, got 1)" while changing the range

### Steps to reproduce

Code snippet: (start, end) = col1.date_input('Date range', (start_date, end_date))

- Select the date_input field in the browser > The date picker is opening
- Select the first date

Then immediately the error message appears. (The date picker is still op

[2021-11-18 15:55] kurt-rhee commented on #4048
I feel as though https://github.com/streamlit/streamlit/issues/3867 would fix my issue, if you feel the same please feel free to close

[2021-11-18 15:56] kurt-rhee commented on #3867
If this is something that seems easy and could be tackled in python only I wouldn't mind giving it a shot.  I would probably need some guidance.

[2021-11-18 15:59] kurt-rhee commented on #3899
I would also like this feature

[2021-11-18 16:40] kurt-rhee commented on #3899
^ @solarjoe 's workaound in a minimal example streamlit script that focuses the input

`import streamlit as st

def callback():
    st.session_state['counter'] += 1

if 'counter' not in st.session_state:
    st.session_state['counter'] = 0

text = st.text_input('Scanner Input', on_change=callback())

st.components.v1.html(
    f"""
        <div>some hidden container</div>
        <p>{st.session_st

[2021-11-18 16:42] kurt-rhee commented on #3899
I'm not sure why the code block isn't working

[2021-11-19 19:07] willhuang1997 commented on #4078
Hi @gai1995 , the supported version of python for Streamlit are 3.7-3.9. Please feel free to checkout our prerequisite docs (https://docs.streamlit.io/library/get-started/installation#prerequisites) to see that this is the case. Downloading the later versions of python can be downloaded here https://www.python.org/downloads/

[2021-11-19 20:06] vdonato commented on #4058
@eytanadar  We looked into this a bit, and it seems that the bug is somewhere in our arrow serialization of vega-lite/altair charts. We'll put some effort into fixing this when bandwidth allows, but for now, a workaround would be to set the
`global.dataFrameSerialization` [config option](https://docs.streamlit.io/library/advanced-features/configuration#set-configuration-options) equal to `"legacy"

[2021-11-19 20:40] kajarenc commented on #4087
Thank you @HugoMc01 for reporting this!

We are able to confirm the bug.
We're going to get this in front of our product team to see how we can best fix this with our future plans.

[2021-11-19 20:50] willhuang1997 commented on #4086
Hi @kurt-rhee ,

Thanks for submitting this. We recently made some changes with styling so is it possible to upgrade? I personally am not able to reproduce it on streamlit version .88
<img width="1541" alt="Screen Shot 2021-11-19 at 12 48 37 PM" src="https://user-images.githubusercontent.com/16749069/142689848-d46124ec-5211-486d-abb1-8407cc04d171.png">

Is it possible to create a *minimally* repro

[2021-11-19 20:53] kurt-rhee commented on #4086
Hell @willhuang1997 thank you for the response!

It looks good in 1.2.0 so I am going to close this.

![image](https://user-images.githubusercontent.com/33131958/142690329-dd54ddbd-7c34-476f-977c-2d0380571351.png)

[2021-11-19 20:53] #4086 closed, assigned to nobody

[2021-11-19 21:00] willhuang1997 commented on #4078
Hi @gai1995 ,

Just wanted to reopen this to say that it's actually probably not an issue with python 3.6.

[2021-11-20 04:24] vdonato commented on #3622
Closing due to inactivity

[2021-11-20 04:24] #3622 closed, assigned to nobody

[2021-11-20 04:24] #3942 closed, assigned to nobody

[2021-11-20 04:25] vdonato commented on #3942
Closing due to inactivity (and because @kajarenc's response seems to be a solution)

[2021-11-20 04:25] vdonato commented on #3920
Closing due to inactivity

[2021-11-20 04:28] vdonato commented on #3636
Closing due to inactivity

[2021-11-20 04:28] #3636 closed, assigned to nobody

[2021-11-20 14:05] arkanoid87 opened #4089 "Graphviz engine selection doesn't work"
### Summary

`engine` kwarg/attribute should change graph layout, but Streamlit renders it always as with `dot` engine. See:
https://graphviz.org/docs/layouts/
https://graphviz.readthedocs.io/en/stable/manual.html#engines
https://www.graphviz.org/pdf/neatoguide.pdf

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

![Screenshot from 2021-11-20 15-00-44](https://user-images.git

[2021-11-20 19:50] nicolaerosia commented on #3957
kind ping @randyzwitch

[2021-11-21 00:50] xaptronic commented on #3534
Hey @vdonato - Just wanted to reach out a let you know that I came up with, what I think is a better way to handle this situation, at least how my app was working.

The motivation behind my original changes, is that, each time my script was running, I wanted to set the value of the widget to the value that was retrieved from a storage service (db/cache for example). I would pass the value in as de

[2021-11-21 04:36] thulanathsara opened #4090 "Streamlit"
Can anyone tell me how to change color and font of text individually

[2021-11-21 09:35] trenta3 commented on #3930
Hi! I think I finally managed to understand what is going on: the cached `zodb_root` gets changed inside the script, but when I exit streamlit using Ctrl+C the database state is not flushed to disk and thus gets lost at the new script execution.
Would it be possible to add a way to call a function to execute when streamlit is exiting? This would allow cleanup of possibly cached resources.

[2021-11-21 16:50] #4049 closed, assigned to lukasmasuch

[2021-11-21 18:41] hayk-skydio commented on #2569
@kantuni @nthmost - chiming in here to say that for me, using a pydeck chart is still significantly slower in the frontend with `st.pydeck_chart` than raw HTML. I'm testing the code below and I noticed for 41k points Jupyter would have smooth 60hz pan/zoom, whereas in streamlit it's 2-5hz on my macbook. I discovered that rendering with `components.html` in streamlit is equivalently fast.

This is

[2021-11-21 20:31] reza9955 opened #4091 "too long to open, I need quite a lot of time"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2021-11-22 05:32] moono opened #4093 "using st.sidebar.column to match height of multiple components"
### Summary

When using streamlit==1.1.0 the align of `st.column`'s component are okay, but when using latest streamlit==1.2.0, the align mismatches?

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

I think `streamlit==1.1.0` is right? Unless intended...

| streamlit==1.1.0 | streamlit==1.2.0 |
| :---: |  :---: |
| ![image](https://user-images.githubusercontent.com/6761398/1

[2021-11-22 08:59] devleb opened #4094 "Arrow API Error"
### Summary

Trying to read csv file and display its data type the app crash  and display the below error:
`
StreamlitAPIException : (‘Could not convert float64 with type numpy.dtype[float64]: did not recognize Python value type when inferring an Arrow data type’, ‘Conversion failed for column Data Type with type object’)`

Code snippet:

[code]

**Expected behavior:**

it must display a table tha

[2021-11-22 11:17] ldmtwo opened #4096 "Feature request: Slider: negative space and histograms"
**Current behavior:**
Slider with empty label shows a large amount of negative space. It leaves an empty space for the label. Slider with 'label=None' raises error.  Visually combining a graphic (e.g. histogram) is not possible without having the label in between the graphic and slider.  Label formatting is not possible. See images and example code below.

**Expected behavior:**
1) Don't show nega

[2021-11-22 12:46] devleb commented on #1641
did this bug being solved in the latest version of  streamlit because the display the `st.text ()`  is not well formatted

[2021-11-22 15:02] ZanSara commented on #3190
I still observe this issue with Streamlit v1.2.0. @kmcgrady could you share a link to the issue you are referring to? Which is the markdown library that needs to be upgraded?

[2021-11-22 17:05] willhuang1997 commented on #4091
Hi @reza9955 , you did not seem to post anything about the bug so I'm going to close this. feel free to reopen if you can give some information about the bug.

If you're talking about how it takes a really long time to create an issue on github, I can bring this up to the team but with more information on the bug, it's easier for us to reproduce and not look around for what the issue could be. Tha

[2021-11-22 17:05] #4091 closed, assigned to nobody

[2021-11-22 17:07] willhuang1997 commented on #4090
Hi @thulanathsara ,

please feel free to check out this discussion form: https://discuss.streamlit.io/t/change-font-size-and-font-color/12377/3

It may not be exactly what you're looking for but hopefully it answers the question you're having. If not, please feel free to open up this issue again and give more information.

[2021-11-22 17:07] #4090 closed, assigned to nobody

[2021-11-22 17:48] willhuang1997 commented on #4089
Hi @arkanoid87 ,

Thanks for submitting this issue. It helps us (Streamlit) understand our user's needs and wants. I am going to get this in front of our product team to see how we can best integrate this with our future plans.

We'll get back to you if we are able to prioritize this work and our bandwidth opens up.

[2021-11-22 18:37] #2073 closed, assigned to nobody

[2021-11-22 18:37] #3555 closed, assigned to nobody

[2021-11-23 07:02] willhuang1997 commented on #4093
Hi @moono ,

Thanks for submitting this ui issue. I'm not exactly sure what changed between 1.1.0 and 1.2.0 but is it possible that you can give me the code to create what `SEG_COLOR_TABLE` is in `for item in SEG_COLOR_TABLE:`

I'm trying to reproduce the issue and it would be very useful in debugging and confirming the issue.

Also, the browser version that you are using is 96 but what is the bro

[2021-11-23 07:07] willhuang1997 commented on #4063
Hi @knorthover ,
Thanks for submitting this issue.
What do you suggest the streamlit team do? I downloaded the zip file and I'm not exactly sure what to do with it and how to use Sphinx in order to reproduce the issue. Any suggestions would be greatly appreciated.

[2021-11-23 07:17] willhuang1997 commented on #3987
Hi @mattiatantardini ,

Thanks for submitting this issue. This definitely looks like a bug and I have labeled it as such. If the team has bandwidth, we can try to fix this.

[2021-11-23 07:24] moono commented on #4093
Hello @willhuang1997 ,

Thanks for reply.
The following code is minimal example to reproduce the issue.
And I'm using Chrome as testing browser.

[code]

[2021-11-23 13:39] knorthover commented on #4063
Hi @willhuang1997

The error from Sphinx is an AttributeError because the Python import mechanism doesn't find the @st.memo decorator.

Here is a little demonstration in an interactive Python session, You'll see that the @st.cache decorator is recognized but @st.memo is not.

`|1> python
Python 3.9.6 (default, Aug 18 2021, 15:44:49) [MSC v.1916 64 bit (AMD64)] :: Anaconda, Inc. on win32
Type "help

[2021-11-24 01:45] kmcentush commented on #1083
I'm using Streamlit v1.2.0, and I noticed that, on first page load, the `session_info.ws` attribute of the following snippet is `None` until the second time the user visits the page (i.e. via a refresh). Is this the expected behavior, or am I missing something?

[code]

[2021-11-24 01:53] kmcentush opened #4099 "User's session_info.ws object is None on first page load"
### Summary

I'm using Streamlit v1.2.0, and I noticed that, on first page load, the `session_info.ws` attribute of the following snippet is `None` until the second time the user visits the page (i.e. via a refresh or re-run). Is this the expected behavior, or am I missing something?

My actual goal is to get the request headers, and the below snippet has been adapted from https://github.com/strea

[2021-11-24 05:55] worlddatong commented on #1206
I think an alternative is to set x/y-axis view limits to resize and zoom.
One can use Axes.set_xlim and Axes.set_ylim in matplotlib.
Here is a simple demo:
![image](https://user-images.githubusercontent.com/20920783/143182459-10aa8b15-30fd-478d-9d84-cf50f0a3f130.png)
![image](https://user-images.githubusercontent.com/20920783/143182536-e8e888f1-6640-4cf6-9a63-2293fb0a7511.png)
[code]

[2021-11-24 14:42] Guillaume-ds commented on #3864
Hi, I thaught about it too! It would be nice to have at least the 'unsafe_allow_html' arg, so that we can force this function! Of course, a dedicated parameter such as 'help' would be the best !

I think that it could be very useful for many dashboards.

[2021-11-24 17:00] sonu275981 opened #4101 "Keras load_img is not working if i display any image on the top of the page"
### Summary

Keras load_img is not working if I want to display any title image on the top of the page

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavi

[2021-11-24 17:07] sonu275981 commented on #4101
Streamlit version: - letest (24/11/2021)

[2021-11-24 17:10] mattiatantardini commented on #3987
Thank you @willhuang1997. I hope that you can easily find the problem even if I could not provide sample code. If you need, I may provide you some sample data which mimics the structure and types of those I actually use.

[2021-11-25 04:42] thulanathsara commented on #4090
### Streamlit map
**Thank you, it worked!.**
**Can you please tell me how to  set up a map with streamlit map with python with covid data.

[2021-11-25 11:56] elhawlir commented on #4000
Do you not want ppl to work on this issue?

[2021-11-25 18:03] koschmid commented on #1088
It does not work with Edge and Chrome for me - only Firefox. Does anyone has a guess?

[2021-11-26 05:37] dvellanki opened #4102 "module '__main__' has no attribute '__file__'"
### Summary

Getting this error when trying to execute a function that reads text files

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

It shoul

[2021-11-26 11:49] uman95 opened #4103 "inf input for st.number_input()"
### Problem

I was working with matrix and vector norms, specifically <img src="https://render.githubusercontent.com/render/math?math=l^p - norms">, and intend to build my web app such that users can input a <img src="https://render.githubusercontent.com/render/math?math=p"> with `st.number_input()` and gets the norm of the matrix/vector. However, with infinity norm, <img src="https://render.githu

[2021-11-26 14:23] Flinst0n commented on #3724
On that note, the `use_column_width` property has no effect on SVG images anymore in versions >1.0.0. `use_column_width` used to work back on 0.75.0.

[2021-11-27 02:19] doraithodla opened #4104 "While trying the Data for SEO app encountered this error."
Not sure who authored the code. So not even sure whether it is Streamlit's but. But when I was using DataforSEO, this is what happened.

File "/home/appuser/venv/lib/python3.7/site-packages/streamlit/script_runner.py", line 354, in _run_script
    exec(code, module.__dict__)
File "/app/streamlit/keywordrankings.py", line 139, in <module>
    resultdf.columns=["Keyword","Search Engine","Language","

[2021-11-27 02:22] Eugenirfan opened #4105 "Is there a way Streamlit can show contents of an excel sheet (Graphs, comments and Tables)?"
I am using Streamlit to show an excel worksheet with Tables, Comments and Graphs as part of an app. I found the easiest way is to convert the excel to a .html file and pass it in components.html but the graphs do not load. Is there a way Streamlit can show contents of an excel sheet (Graphs, comments and Tables) by either (converting to html or without)?

[2021-11-27 02:24] #4105 closed, assigned to nobody

[2021-11-29 04:33] vdonato commented on #4104
Hi @doraithodla,

Looking at the traceback, the code that's running into this is almost certainly not internal streamlit code, so the people to report this to would be the authors of the app.

[2021-11-29 04:33] #4104 closed, assigned to nobody

[2021-11-29 18:07] willhuang1997 commented on #4021
Hi @lucaselutions28, could you tell me how you installed streamlit 1.2 or 1.1.0? I was trying to install streamlit through conda and only could get version .88

Also, if I understand your problem, it looks like you have a working environment and a faulty environment so are you just reporting this because you want to inform us or this is a big problem for you that is blocking?

[2021-11-29 18:13] willhuang1997 commented on #4102
Hi @dvellanki ,

Thanks for submitting this issue. I see in your stack trace that you have python 3.9 but you are reporting a bug with python 3.6.5. Is that an environment problem that is causing this error?

Also, can you also post the txt files so that I can use it to reproduce it or just the minimal code / requirements to recreate the bug?

Thanks!

[2021-11-29 19:47] mayagbarnes commented on #4000
Hi @elhawlir! You are welcome to work on this issue, please let me know if you need anything 😁

[2021-11-29 19:53] willhuang1997 commented on #4093
Hey @moono ,

Thanks for the minimally reproducible code. Super super useful. Sorry for the late reply but I have confirmed the bug. If we have time, we will work on this to fix it.

[2021-11-29 22:00] lucaselutions28 commented on #4021
This is just a bug report, I do have a functional version and this is not holding anything up. This issue only arises when streamlit is installed with pip and the other packages are installed with conda. Since this is an issue related to the environment should I be reporting this elsewhere? Also conda-forge does have streamlit 1.2 [see here](https://anaconda.org/conda-forge/streamlit). If you chan

[2021-11-30 00:02] vdonato commented on #3867
Hey @kurt-rhee, sorry for the delayed reply on this.

It turns out that this issue should have been closed by #3968, but I guess the PR never got linked to this issue.

[2021-11-30 00:02] #3867 closed, assigned to nobody

[2021-11-30 00:06] vdonato commented on #4048
Closing as #3867 has actually been fixed for some time, and I think that PR works as a reasonable fix for this when an app is deployed.

Note that it's not _quite_ a full fix since for non-deployed apps, there's currently no way to disable keyboard shortcuts. Let me know if this ends up being too frustrating for your use-case when developing locally, and this can be reopened.

[2021-11-30 00:06] #4048 closed, assigned to nobody

[2021-11-30 00:45] kurt-rhee commented on #3867
Amazing! Thanks for the update

On Mon, Nov 29, 2021, 4:02 PM Vincent Donato ***@***.***>
wrote:

[2021-11-30 04:38] tvst commented on #4089
Looks like this is more of an eng question... Today the GraphViz renderer we use in JS doesn't support different engines (I assume!). We should investigate whether:
1. It actually _does_ support different engines, but we're doing something wrong
2. It doesn't support engines, but a newer version does
3. It doesn't support engines, but there's a better library out there that does

As a temporary wo

[2021-11-30 13:56] robmarkcole commented on #1627
Getting this issue outside docker on an M1 Mac

[2021-11-30 16:16] michaelmontalbano opened #4108 "Importing Matplotlib Not Possible Using Streamlit Cloudsharing"
I have a simple app that loads .npys and then plots them. I would like to use matplotlib to plot, as these are npy's and I'd like to add a colorbar. My code is here: https://github.com/michaelmontalbano/Streamlit_apps

I get this error when I run the program

![streamlit](https://user-images.githubusercontent.com/90255492/144085290-43963a2f-6793-4001-b18a-00bbf391ac1b.png)

[2021-11-30 19:07] willhuang1997 commented on #4021
Hey @lucaselutions28 ,

Thanks for the bug report. I just wanted to make sure I understood the problem and when we have bandwidth, the team will determine if we will look into this and causing problems within the community!

I appreciate any involvement with streamlit so again, thanks for submitting the bug!

[2021-11-30 20:26] randyzwitch commented on #4108
Hi @michaelmontalbano -

It appears that you do not have a `requirements.txt` file defined. I would suggest adding one, at minimum having streamlit, pandas, and matplotlib and try again.

Best,
Randy

[2021-11-30 20:26] #4108 closed, assigned to nobody

[2021-11-30 20:35] randyzwitch commented on #1814
Closing, as the Community Tracker has become the de facto source.

[2021-11-30 20:35] #1814 closed, assigned to nobody

[2021-11-30 20:37] randyzwitch commented on #1820
Closing, as this isn't immediately actionable, but rather a product decision

[2021-11-30 20:37] #1820 closed, assigned to nobody

[2021-11-30 20:37] randyzwitch commented on #1822
Closing, as tracking happens elsewhere now

[2021-11-30 20:37] #1822 closed, assigned to nobody

[2021-11-30 20:38] randyzwitch commented on #1828
Closing as stale

[2021-11-30 20:38] #1828 closed, assigned to nobody

[2021-11-30 20:39] randyzwitch commented on #1831
Closing, as Python 3 is now the default for most if not all operating systems, and this hasn't been an issue

[2021-11-30 20:39] #1831 closed, assigned to nobody

[2021-11-30 20:42] randyzwitch commented on #1846
Given the issues around proper address input and validation, it feels like this is better handled as a custom component.

[2021-11-30 20:42] #1846 closed, assigned to nobody

[2021-11-30 20:43] randyzwitch commented on #1855
Closing, as this is both a year old and refers to the unsupported (legacy) session state functionality. If this issue remains, then please create a new issue.

[2021-11-30 20:43] #1855 closed, assigned to nobody

[2021-11-30 20:46] randyzwitch commented on #1875
Closing this issue as stale, and because the `st.download()` button effectively provides the same functionality. Users can export using any of the pandas functions, then provide via the download button.

[2021-11-30 20:46] #1875 closed, assigned to nobody

[2021-11-30 20:46] randyzwitch commented on #1895
Closing as stale

[2021-11-30 20:46] #1895 closed, assigned to jrhone

[2021-11-30 20:48] randyzwitch commented on #1947
Closing as stale

[2021-11-30 20:48] #1947 closed, assigned to nobody

[2021-11-30 20:48] randyzwitch commented on #1948
Closing as stale

[2021-11-30 20:48] #1948 closed, assigned to nobody

[2021-11-30 21:43] randyzwitch commented on #2015
Closing as stale, as 0.66 was some 30 releases ago at this point. If this issue continues to persist, please feel free to open a new issue.

[2021-11-30 21:43] #2015 closed, assigned to nobody

[2021-11-30 21:46] randyzwitch commented on #2075
Per Ken's comment, if this change was made in the docs, then the issue is resolved

[2021-11-30 21:46] #2075 closed, assigned to nobody

[2021-11-30 21:51] randyzwitch commented on #2085
Closing as stale

[2021-11-30 21:51] #2085 closed, assigned to nobody

[2021-11-30 21:52] randyzwitch commented on #2092
Closing as stale, as it seems intentional and/or resolved.

[2021-11-30 21:52] #2092 closed, assigned to nobody

[2021-11-30 21:54] randyzwitch commented on #2112
Feels like this was resolved by the merge request. If it wasn't, please feel free to open a new issue testing against a more recent version of Streamlit (1.0+).

[2021-11-30 21:54] #2112 closed, assigned to nobody

[2021-11-30 21:54] randyzwitch commented on #2120
Marking as stale

[2021-11-30 21:54] #2120 closed, assigned to nobody

[2021-11-30 21:56] randyzwitch commented on #2136
Closing as stale

[2021-11-30 21:56] #2136 closed, assigned to akrolsmir

[2021-11-30 21:57] randyzwitch commented on #2138
Closing as stale

[2021-11-30 21:57] #2138 closed, assigned to nobody

[2021-11-30 21:57] randyzwitch commented on #2150
Closing as stale

[2021-11-30 21:57] #2150 closed, assigned to nobody

[2021-11-30 21:58] randyzwitch commented on #2160
Closing as stale, and potentially as fixed due to more recent memory leak fixes

[2021-11-30 21:58] #2160 closed, assigned to nobody

[2021-11-30 22:01] randyzwitch commented on #2237
Closing as stale

[2021-11-30 22:01] #2237 closed, assigned to nobody

[2021-11-30 22:02] randyzwitch commented on #2250
Closing as resolved.

For future people running across this,  you can use the `format` parameter in the `number_input_ function to control the display of numbers in the interface.

[2021-11-30 22:02] #2250 closed, assigned to nobody

[2021-11-30 22:03] randyzwitch commented on #2253
Resolved by https://github.com/streamlit/streamlit/issues/2253#issuecomment-719987656

[2021-11-30 22:03] #2253 closed, assigned to asaini

[2021-11-30 22:39] kaydotdev opened #4109 "Content alignment option for text elements"
### Problem

As a developer, I'd like to add an argument option to align text content for elements `st.markdown`, `st.caption`, and `st.text`. The available options of the alignment will be `left` (default option), `center`, `right`, and `justify`.

### Solution

**MVP:**

[code]

![align_left](https://user-images.githubusercontent.com/22917736/144139313-9afd28fb-18f0-452b-95a1-19e45adda850.png)

[2021-12-01 01:36] randyzwitch commented on #2481
Closing as stale

[2021-12-01 01:36] #2481 closed, assigned to nobody

[2021-12-01 01:36] randyzwitch commented on #2510
Closing as stale

[2021-12-01 01:36] #2510 closed, assigned to nobody

[2021-12-01 01:37] randyzwitch commented on #2538
Closing as stale, and also something that we do not recommend as a company

[2021-12-01 01:37] #2538 closed, assigned to nobody

[2021-12-01 01:40] randyzwitch commented on #2591
Closing, as explicitly forcing the order guarantees developer will get what they want.

[2021-12-01 01:40] #2591 closed, assigned to nthmost

[2021-12-01 01:46] randyzwitch commented on #2766
Closing as stale. I believe this has been resolved through tight dependency pinning

[2021-12-01 01:46] #2766 closed, assigned to nobody

[2021-12-01 01:48] randyzwitch commented on #2781
Closing as stale. Users have the choice of `st.code` for code formatting, the embedcode component for embedding other services, and possibly themeing as solutions

[2021-12-01 01:48] #2781 closed, assigned to nobody

[2021-12-01 01:51] randyzwitch commented on #2827
Closing, as this feels unnecessary. User can just as easily pass in `df.sort()` with the proper arguments currently, and get a performance boost possibly by  doing it once explicitly in pandas vs. implicitly via side effect in the interface

[2021-12-01 01:51] #2827 closed, assigned to nobody

[2021-12-01 01:54] randyzwitch commented on #2870
Closing as resolved by #3879

[2021-12-01 01:54] #2870 closed, assigned to nobody

[2021-12-01 01:58] randyzwitch commented on #3002
Closing, as there is always the option of the developer persisting the images coming from `file_uploader` via normal Python I/O functionality.

[2021-12-01 01:58] #3002 closed, assigned to nobody

[2021-12-01 02:02] randyzwitch commented on #3094
Closing, as I think this use case is very much at the edge of how Streamlit is designed

[2021-12-01 02:02] #3094 closed, assigned to nobody

[2021-12-01 02:04] randyzwitch commented on #3132
Closing, as pdm does not come up frequently enough for us to officially support it

[2021-12-01 05:36] sudha80 commented on #455
Interested to have this feature natively supported by streamlit. Hope it will get more traction.

[2021-12-01 10:30] ijgray commented on #2463
I would also really appreciate this

[2021-12-01 11:16] StefanBrand opened #4110 "Allow quick search via adress bar"
Firefox has this handy option "Add a Keyword for this search":
![image](https://user-images.githubusercontent.com/8948865/144224840-de0fb312-eb8f-497e-ae93-26baf0e87543.png)

I can add `st` as a keyword, but when I type `st dataframe` in Firefox's address bar, nothing really happens. I'm only dropped to the main page of the Streamlit docs. I assume this is because the search dialogue is a popup...

[2021-12-01 13:56] shashankdeshpande opened #4111 "Inconsistent view of unordered list (markdown + expander)"
### Summary

Inconsistent view of unordered list, difference in bullet points as follows -

**Markdown inside expander**

Code snippet:
[code]
Output:
![Screenshot (27)](https://user-images.githubusercontent.com/47742503/144246055-a1853b17-2832-4728-be9b-8ca7e07045a7.png)

---
**Markdown**

Code snippet:
[code]
Output:
![Screenshot (29)](https://user-images.githubusercontent.com/47742503/144246479

[2021-12-01 14:21] randyzwitch commented on #3520
Closing as the upstream bug has been fixed.

[2021-12-01 14:21] #3520 closed, assigned to nobody

[2021-12-01 14:56] randyzwitch commented on #3661
Closing as stale

[2021-12-01 14:56] #3661 closed, assigned to nobody

[2021-12-01 15:29] randyzwitch commented on #3988
Closing as an installation issue / 3rd-party package issue

[2021-12-01 15:29] #3988 closed, assigned to nobody

[2021-12-01 17:05] kaydotdev commented on #4111
@shashankdeshpande, as far as I understood, it's not a bug. The thing is, you used two TABS in the markdown list, so the parser interprets them as nested elements of a list. Just remove one tab, and it should work:

[code]

[2021-12-01 21:10] arnaudmiribel opened #4112 "Inconsistent API using write()"
### Summary

Seems like `write()` is not consistent when used in a `st.column` context: you can't just `write("again", "and", "again")`

### Steps to reproduce

Code snippet:

[code]

Exception raised:
[code]

### Is this a regression?

Not sure

### Debug info

- Streamlit version: 1.2.0
- Python version: 3.7.4

[2021-12-02 03:02] mayagbarnes commented on #4112
Hi @arnaudmiribel! 😀
You should be able to use `st.write` as described with multiple arguments in the `st.columns` context as follows:
[code]
Please let me know if this addresses your issue, thanks!

[2021-12-02 06:00] shashankdeshpande commented on #4111
@antonAce Thanks for suggestion! Tried removing tab but it's not working. I guess this is a bug as we are not getting same view for same markdown text.

Code snippet:
[code]
Output:

![Screenshot (31)](https://user-images.githubusercontent.com/47742503/144366232-76a229dd-8c18-42e4-bc71-32a8ac7762ba.png)

[2021-12-02 06:20] spectereye opened #4113 "st.session_state bug?"
### Summary
`st.sesson_state` not work as expected as shown on code below:
click button twice only count 1

### Steps to reproduce

Code snippet:

[code]

### Is this a regression?
no

### Debug info

- Streamlit version: 1.2.0
- Python version: 3.7.9
- Using Conda? no
- OS version: win 10
- Browser version: chrome

[2021-12-02 08:30] Jothy opened #4115 "Streamlit doesn't like same special character again in st.write"
I am trying to write a string using st.write

str1='Complexity Index: ' + '['+ str(beam_names[x]+'] '+'{ '+ str(np.round(MUs[x])) +'} '+ str(np.round(complexity_metric[x],4)))
        st.write(str1)

but if I use '[' second time it doesn't write whereas '{' works well -puzzled

[2021-12-02 09:39] vdonato commented on #4113
Hi @spectereye, this works as expected.

For the first button, `st.session_state.n` is incremented in the if statement _after_ the button is clicked (and in particular, after the button has already been rendered), so the updated session state value won't be reflected until the app is run again. This is why the value displayed in the button label lags the session state value.

For the second button

[2021-12-02 09:39] #4113 closed, assigned to nobody

[2021-12-02 11:02] samuelpf25 commented on #2107
thanks @aleksandar-anastasov, its working now

[2021-12-02 11:25] snehankekre commented on #4112
@mayagbarnes @arnaudmiribel Would adding a clarifying note  to the bottom of the `st.write` docs help?  For example:

![image](https://user-images.githubusercontent.com/20672874/144413020-3d9e86da-7d30-45da-9c50-11b09f1707b5.png)

If so, I can submit a PR in [streamlit/docs](https://github.com/streamlit/docs). WDYT?

[2021-12-02 11:49] snehankekre commented on #4101
Hi @sonu275981, an easy-to-miss bug in your code is the likely cause.

Notice you first import the `image` function from TensorFlow. Next, you create another `image` object with PIL. Finally, you try and fail to call the `load_img` method because it's being called on the `image` object created with PIL, not the TensorFlow helper function.

An easy fix would be to store the output of `Image.open('s

[2021-12-02 17:00] randyzwitch commented on #4103
JavaScript defines infinity and -infinity as the numbers outside the range of floating point, which is where the `1.797e308` constant comes from. It's possible that we could use a sentinel value or something for representing `numpy.inf`, but I suspect this is just one of those edges that come from ultimately ending up in the browser and JavaScript.

[2021-12-02 17:31] randyzwitch commented on #4115
I suspect what you are seeing here is that `st.write` falls back to `st.markdown` in this case, and it's thinking that `[]` is the syntax for specifying a link.

A way to test this would be to use `st.text` instead of `st.write` and see if it works, and `st.markdown` to see if you get the same wrong display.

[2021-12-02 17:40] sonu275981 commented on #4101
Thank you so much for your help bro

[2021-12-02 20:27] mayagbarnes commented on #4115
Hi @Jothy 😁
Randy is correct - `st.write` is interpreting this as markdown, with the first part `['+ str(beam_names[x]+'] ` as link text and  expecting it to be immediately followed with the corresponding URL in parentheses (ex: [this is the link text](www.example.com)). This is expected behavior. Using `st.text` instead should work for your use case.

Alternatively, there is a workaround solution

[2021-12-02 20:28] #4115 closed, assigned to nobody

[2021-12-02 20:58] mayagbarnes commented on #4112
@snehankekre I'm curious where others would land on this since I'm not sure what typically warrants a clarifying note, but my initial instinct would be it may not be a broad enough use case to add to `st.write` docs. It may be a better fit under `st.columns`, though the current columns doc example demonstrates usage with this syntax.

[2021-12-02 23:07] Jothy commented on #4115
Yep, that works. st.text

[2021-12-02 23:49] a-galvis opened #4117 "Starmix is not tracking en.shopify.dk"
### Summary

Tried to pull data from GSC and the host is not showing.

### Steps to reproduce
Create a report with GSC and try to look for the host en.shopify.dk

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scrol

[2021-12-03 00:47] vdonato commented on #4117
Hi @andresshopify, it looks like this ticket is meant for an app built with streamlit rather than the streamlit library itself.

[2021-12-03 00:47] #4117 closed, assigned to nobody

[2021-12-03 01:43] vdonato opened #4118 "Consider hiding the "Report a bug" and "Get help" menu items by default"
Here's a screenshot of the main menu for an app on localhost:
<img width="216" alt="Screen Shot 2021-12-02 at 17 34 05" src="https://user-images.githubusercontent.com/3144420/144529882-452ce3a1-58fd-4884-bba6-dbddb99e0dfb.png">

And here's one for an app on Streamlit Cloud:
<img width="237" alt="Screen Shot 2021-12-02 at 17 33 36" src="https://user-images.githubusercontent.com/3144420/144529900-d8

[2021-12-03 05:01] tnwei opened #4119 "Allow centering images when shown in full screen"
### Problem

Currently when image elements are resized to full screen, they are left-aligned. When the images are small, the empty white space in the middle and on the right of the screen becomes noticeable. I suggest having the images centered by default instead.

### Solution

**MVP:** What's the smallest possible solution that would get 80% of the problem out of the way?

I think modifying the

[2021-12-03 07:26] nakajit777 opened #4120 "Styler.hide_index does not work"
### Summary

Other similar issues were mentioned, but no results were obtained, so I will report them.

I want to show the dataframe with st.dataframe, but I want to hide the index.

I used st.write (styler.to_html, unsafe_allow_html = True) with another hack to hide the index, but I can't sort it anymore.

Is Styler.hide_index not supported in st.dataframe?

Thank you.

### Steps to reproduce

Co

[2021-12-03 08:12] rusty-chris opened #4121 "use_container_width not working for grouped Altair bar charts"
When using use_container_width=True with a grouped Altair bar chart (such as this: https://altair-viz.github.io/gallery/grouped_bar_chart.html), the width of the component chart is scaled to the width of the container rather than the width of the overall chart. It seems like this is not the desired behavior?

Sorry for the brief post - I will add a code snippet later.

[2021-12-03 11:06] snehankekre commented on #4112
@mayagbarnes That's a very valid point. This issue is the first instance of this problem I've come across. A clarifying note would be warranted if many users were confused about writing multiple arguments with `st.write` -- something I haven't seen in our discussion forums nor in other issues in this repo. I will hold off from adding the note for now. I'm fine with closing this issue, if you are.

[2021-12-03 14:12] AkinwandeSlim opened #4122 "module 'streamlit' has no attribute 'container'"
streamlit app was working before with st.container() but now it shows the above error

Code snippet:

[code]

I  expect the code  to diplay each content as a group

[2021-12-03 15:47] martin-ueding opened #4123 "Secrets are not passed on Streamlit Cloud"
### Summary

Secrets are not passed as environment variables any more.

### Steps to reproduce

I had an app running with a secret, and that was fine. Now I have changed the path in the repository. As one cannot change the path of the app entry point, I have created a new app for that. There I have also added this secret:

[code]

In my program I have this function to retrieve the key:

[code]

Th

[2021-12-03 17:12] wenna0306 commented on #727
just tried st_btn_select, works fine, easy to learn.

[2021-12-03 18:53] randyzwitch commented on #4120
Not sure about how/if that's supposed to work, but we have a knowledge base article on hiding the index:

https://docs.streamlit.io/knowledge-base/using-streamlit/hide-row-indices-displaying-dataframe

Best,
Randy

[2021-12-03 19:00] randyzwitch commented on #4123
There was a temporary issue on Streamlit Cloud with this a few days back that should've been resolved. If you haven't already, re-deploy your app and see if this gets fixed.

https://discuss.streamlit.io/t/deployment-error-secrets-file-not-found-expected-at/19594/7?u=randyzwitch

[2021-12-03 19:49] #4112 closed, assigned to nobody

[2021-12-03 20:05] martin-ueding commented on #4123
Unfortunately it still remains. I have just restarted my app, and it still errors out:

[code]

This is the app: https://share.streamlit.io/martin-ueding/vigilant-crypto-snatch/vigilant_crypto_snatch/streamlit_ui.py

[2021-12-03 20:14] mayagbarnes commented on #4122
Hi @AkinwandeSlim 😁 !

I tried to repro this bug and don't get an error using `st.container` or added elements to it using either the with or chaining syntax. I added the simple example I tried below.
[code]
Is there any additional context/code you could provide?

[2021-12-03 20:28] randyzwitch commented on #4123
Hi @martin-ueding , you actually need to delete and re-deploy. Re-starting apparently caches most of the container, so it doesn't pick up the fix.

[2021-12-04 00:52] dataframing opened #4125 "Manual override for `steramlit` developer mode?"
### Problem

I'm using a remote EC2 instance as my development machine. In doing so, I suspect the recent changes to the hamburger options are kicking in and guessing that we're deployed in "production" mode. I understand the appeal of having development versus production modes, but I'd also want a way of overriding that default (i.e., via an environment variable `STREAMLIT_DEVELOPMENT=1`).

### S

[2021-12-04 03:46] mayagbarnes commented on #4120
Hi @nakajit777!
Thank you for sharing this issue with `st.dataframe`, and unfortunately `.hide_index()` isn't currently supported 😓
Randy [shared the link above](https://docs.streamlit.io/knowledge-base/using-streamlit/hide-row-indices-displaying-dataframe) for the existing workaround, though we plan to prioritize this as part of our intended improvements to `st.dataframe`.

Our mission is to make

[2021-12-04 10:48] Minhluu2911 opened #4127 "Display thumbnail Streamlit sharing link"
### Problem
I have made and deployed an app with Streamlit sharing and I am quite happy with it. I would like to share the link to this app but the link I share does not show the thumbnails. Is there anyways for setting the thumbnail when sharing the link?

[2021-12-04 11:53] cobnett3 opened #4128 "Line break in Pandas dataframe does not show up correctly."
### Summary

I have a pandas dataframe with some line breaks in some cells.
However, it is impossible to render the line breaks in Streamlit.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

The line break should be rendered correctly.

**Actual behavior:**

![image](https://user-images.githubusercontent.com/2888173/144708389-9123b39d-f865-49d8-956b-8bac074b761d.png)

### Is

[2021-12-04 14:40] lx4r commented on #3781
I got the same error using Streamlit 1.2.0 and Python 3.8.2. The fix by @kmcgrady seems to work for me but applying it leads to this warning when starting Streamlit:
[code]

[2021-12-04 19:38] knorthover commented on #4063
Incidentally this issue will also mean that the elegant slideshow implementation ["Streamlit as PowerPoint"](https://discuss.streamlit.io/t/streamlit-as-a-powerpoint-replacement/18950) will not work with the new cache API as it relies on the Python importlib module to load the individual slides.

[2021-12-05 12:43] martin-ueding commented on #4123
Thank you, a complete new deployment has fixed this.

[2021-12-05 12:43] #4123 closed, assigned to nobody

[2021-12-05 16:22] metakeller commented on #612
+1

[2021-12-06 01:58] nakajit777 commented on #4120
Randy and Maya
Thank you for your comment.
The workaround given by Randy has erased the contents of the columns that were displayed by default, but there are still spaces left.
Is there any other workaround to clear this?
![image](https://user-images.githubusercontent.com/16473329/144775272-5ea461b3-2d86-42da-b7ba-a69efbe8ed96.png)

[2021-12-06 03:32] ghost commented on #641
Pandas' styler has a feature, [`df.style.hide_index()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.io.formats.style.Styler.hide_index.html), which is not currently respected by Streamlit.

[2021-12-06 07:26] nakajit777 opened #4132 "The table displayed by "st.sidebar.dataframe" does not match the width of the sidebar."
### Summary

The table displayed by st.sidebar.dataframe does not match the width of the sidebar.
On the FH (1920x1080) display, if the display width of the browser is up to 1904px, it will be displayed matching the width of the sidebar, but if it exceeds 1905px, the width of the dataframe will be shortened.

### Steps to reproduce

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/st

[2021-12-06 10:44] AlistairHaimes commented on #744
confirmed streamlit isn't working with ib_insync (0.9.70).

[code]

produces error-stack:

[code]

[2021-12-06 14:24] arnaudmiribel commented on #4112
Thanks @mayagbarnes, this is indeed the workaround I have used. Agree with both of you that it shouldn't deserve a proper documentation entry. At least the behavior is now documented (and solved) here, we'll see if that helps!

[2021-12-06 15:47] AlistairHaimes commented on #744
Actually, ib_insync also depends on asyncio; is there a broader incompatibility between asyncio and streamlit?  That would really limit the number of applications that can use streamlit, surely?

[2021-12-06 21:55] randyzwitch commented on #770
Closing as stale, given new cache design doesn't use hash funcs.

[2021-12-06 21:55] #770 closed

[2021-12-06 22:01] randyzwitch commented on #1685
Closing as out-of-scope

[2021-12-06 22:01] #1685 closed, assigned to nobody

[2021-12-06 22:02] randyzwitch commented on #1801
Closing as a wontfix, given the new `st.memo` and `st.singleton` functionality Streamlit is moving toward. If this same issue persists in that new functionality, please let us know!

[2021-12-06 22:02] #1801 closed, assigned to nobody

[2021-12-06 22:03] randyzwitch commented on #1808
Closing as stale

[2021-12-06 22:03] #1808 closed, assigned to nobody

[2021-12-07 04:04] chihkeong-chng opened #4139 "Unable to use sidebar with columns in same web page"
### Summary

You will get an error "Missing Submit Button" when putting a sidebar and columns in a same page

### Steps to reproduce

Code snippet:

[code]
(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected b

[2021-12-07 14:37] kmcgrady commented on #3781
Thanks for letting us know! I've marked it as an appropriate bug and will look into prioritizing this fix accordingly.

[2021-12-07 14:39] #3920 closed, assigned to nobody

[2021-12-07 14:39] kmcgrady commented on #3911
Closing due to inactivity

[2021-12-07 14:39] #3911 closed, assigned to nobody

[2021-12-07 14:41] kmcgrady commented on #3878
Closing due to inactivity, let us know if there are any issues.

[2021-12-07 14:41] #3878 closed, assigned to nobody

[2021-12-07 14:42] kmcgrady commented on #3812
Closing due to inactivity

[2021-12-07 14:42] #3812 closed, assigned to nobody

[2021-12-07 14:43] kmcgrady commented on #3806
Closing due to inactivity

[2021-12-07 14:43] #3806 closed, assigned to nobody

[2021-12-07 14:43] kmcgrady commented on #3785
Closing due to inactivity

[2021-12-07 14:43] #3785 closed, assigned to nobody

[2021-12-07 14:44] kmcgrady commented on #3765
Closing due to inactivity

[2021-12-07 14:44] #3765 closed, assigned to nobody

[2021-12-07 14:45] kmcgrady commented on #3431
Closing due to inactivity. The use case is also probably not as common to address.

[2021-12-07 14:45] #3431 closed, assigned to nobody

[2021-12-07 14:47] kmcgrady commented on #3698
Closing due to inactivity. Let us know if there's any more information.

[2021-12-07 14:47] #3698 closed, assigned to nobody

[2021-12-07 15:43] kmcgrady commented on #3887
Closing due to inactivity.

[2021-12-07 15:43] #3887 closed, assigned to nobody

[2021-12-07 20:40] mayagbarnes commented on #4139
Hi @chihkeong-chng, thanks for reaching out! 😁

I'm trying to reproduce this error, but haven't been able to. I pasted your code snippet, adding indentation based on your screenshot - for reference the tested code is below. Could you give it a try and let me know if you still get the error?

[code]

[2021-12-07 23:16] mayagbarnes commented on #4120
@nakajit777 I apologize I'm not aware of an existing workaround for the space left behind

[2021-12-08 01:20] ElieenAndBella opened #4144 "heatmap"
How can I use seaborn's heatmap in streamlit

[2021-12-08 02:15] ariewjy opened #4145 "Error when importing LAS file in Streamlit version 0.7 and above."
### Summary

Error when importing LAS file into a newer streamlit version.

### Steps to reproduce

Code snippet:

[code]

1. Under LAS File Data, select the "Upload File" option.
2. Drag/ Browse files
3. Select the LAS file (https://github.com/ariewjy/triple_combo_web_plotter/blob/main/42303347740000.las)

**Expected behavior:**

It will show a text, data frame, much like when you select the Prel

[2021-12-08 04:18] chihkeong-chng commented on #4139
Hi,

It is still there.  I put the code in streamVAST.py

Streamlit version: Streamlit, version 1.0.0
Python version: Python 3.6.1
Using Pip only
OS version: Windows 10 Version 20H2 OS Build 19042.1348
Browser version: Edge Version 96.0.1054.43 (Official build) (64-bit)

I run the file from Pycharm 2021.3 using this

from streamlit import bootstrap

real_script = 'streamVAST.py'

bootstrap.run(rea

[2021-12-08 05:06] andfanilo commented on #4127
Hello @Minhluu2911  !

This is a known issue you can find here #853 if you want to bump the original issue with your app and what you expect to see as an example that would be great!

Have a nice day,
Fanilo 🎈

[2021-12-08 05:34] chihkeong-chng commented on #4139
Hi,  I think I found the problem.

To debug the streamlit app in Pycharm debugger, I created a run.py file

from streamlit import bootstrap

real_script = 'streamVAST.py'

bootstrap.run(real_script, f'run.py {real_script}', [], {})

This allows me to step through the streamVAST.py to pick up the nasty logic bugs.

If I run it from the command line, there is no issue, but when I Run/Debug the run.p

[2021-12-08 10:15] nikitamundra94 opened #4149 "Issue with displaying dict type cell values using st.dataframe"
**Steps to reproduce:**

Use-case : I need to store dict as cell values in dataframe ‘df’ for column ‘a’ and string for column ‘b’. Normally, my code outputs the result as required but somehow when I use the same code on Streamlit using st.dataframe, It merges cell values for the columns that has value type dict.

**Code Snippet:**

[![Open in Streamlit Cloud](https://static.streamlit.io/badges/st

[2021-12-08 17:52] usbader commented on #2399
Me too.

[2021-12-08 21:30] hayk-skydio commented on #602
+1 for this being useful to us for understanding usage of internal tools

[2021-12-08 23:40] sachit-wp opened #4150 "Can't see developer options menu unless running on localhost"
### Summary

I cannot see the developer options dropdown unless I am running on localhost. I need this in order to be able to clear cache sometimes when I am not running on localhost (using a development / staging server or hosting an app on internal network).
![Screenshot from 2021-12-08 15-29-56](https://user-images.githubusercontent.com/34048126/145307630-4fd8fbc4-8ae9-422b-a867-0b0ab2d57890.pn

[2021-12-09 10:01] thomasaarholt opened #4151 "Code syntax highlighting in st.text_area"
### Problem

We have a streamlit app where the user has to enter some parameters into a yaml text field embedded in the app. We use a `text_area` for this, see screenshot:
![Screenshot 2021-12-09 at 10 58 14](https://user-images.githubusercontent.com/2721423/145374875-23fbc637-e7a2-424a-aa36-bc156ede3aa9.png)
It would be great for readability, and to avoid yaml errors, if we could enable syntax hi

[2021-12-09 13:39] chihkeong-chng commented on #4139
Hi,

I updated the thread, could you drop by and take a look?

Thank you.

CK Cheng

On Wed, Dec 8, 2021 at 12:18 PM CK Cheng ***@***.***> wrote:

[2021-12-09 14:59] felp99 opened #4152 "Deploy does not work"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:
![image](https://user-images.githubusercontent.com/76445505/145420284-47b0764d-a730-4c15-8e2d-cdd872735cd0.png)

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take t

[2021-12-09 17:30] whitphx opened #4153 "Moment.js error with data tables with timezone info"
### Summary

When `pd.DataFrame` containing timestamp objects with timezone info, errors occur on the frontend.
It says something like

### Steps to reproduce

Code snippet:

[code]
Note that the timezone offset must not be 0 to reproduce the bug.

Just run this script with `streamlit run` command.
Then, the errors below appear on the devtool console.
<img width="731" alt="スクリーンショット 2021-12-10 2 2

[2021-12-09 18:21] mayagbarnes commented on #4152
Hi @felp99! 😃
Since this is most likely account specific - 403 error - please email cloud support [support@streamlit.io](mailto:support@streamlit.io) for assistance. Thank you!

[2021-12-09 18:21] #4152 closed, assigned to nobody

[2021-12-09 20:20] lukasmasuch commented on #4121
@rusty-chris We would be happy to take a look at the issue. A code snippet and maybe also a screenshot would help a lot :)

[2021-12-09 21:28] franasa commented on #3991
hi @willhuang1997 could use some help here too, I encounter the same issue when trying to use this script for multipaging:

[code]
this is the script i would like to add to my app:
https://gist.github.com/maarten-betman/7775ad432e4a48973da7e2cf08324b91

This is what I am trying to do:
https://discuss.streamlit.io/t/how-to-set-page-config-default-layout-to-wide-without-calling-set-page-config/13872

[2021-12-09 23:38] jacob-leisey-bartsch commented on #4121
I believe I am running into the problem @rusty-chris has described in my own current work. I am including a significantly trimmed example from my own code and screen shots (although the screenshots really don't do the problem much justice) at the bottom of this reply. However, I wanted to add a few more comments here first.

This issue seems to arise when utilizing the "column" input inside of alt

[2021-12-10 03:42] sachit-wp commented on #4150
I volunteer to fix this.

[2021-12-10 20:31] randyzwitch commented on #4145
Hi @ariewjy -

This is a subtle error...around the version you are referring to, the API changed on what `file_uploader` provides back. Additionally, the lasio library looks like it will only take a file-like object and not bytes. To fix it, you need to add the following code to your app:

[code]

Complete code snippet:

[code]

Since this is a weird example, I'll add an example like this to our k

[2021-12-10 20:31] #4145 closed, assigned to nobody

[2021-12-10 21:10] randyzwitch commented on #4144
Hi @ElieenAndBella -

seaborn is built upon matplotlib, which is displayed using `st.pyplot`. You can see an example of this on our community forum:

https://discuss.streamlit.io/t/seaborn-pairplot-assistance/6738/4?u=randyzwitch

Best,
Randy

[2021-12-10 21:10] #4144 closed, assigned to nobody

[2021-12-11 03:45] ariewjy commented on #4145
Hi Randy,

The "preloaded" mode still not working.

see below snapshot:
![image](https://user-images.githubusercontent.com/73975333/145662581-8ee96eba-eea1-428f-ac37-ed4cb1a6e80d.png)

[2021-12-11 06:21] kart2k15 opened #4161 "selectbox not functioning properly when chaining forms"
### Summary

[code]

I've posted on the forums too-- [https://discuss.streamlit.io/t/selectbox-bug-on-chaining-forms/19927](https://discuss.streamlit.io/t/selectbox-bug-on-chaining-forms/19927)

After submitting the 2nd form (key = "cluster_duplicates")--it always fetches the first argument in the 2nd selectbox even when I select another one

### Debug info

- Streamlit version: 1.0
- Python versi

[2021-12-11 10:32] FlorianWilhelm opened #4162 "Allow console_scripts as streamlit run scripts"
### Problem

Right now streamlit requires a raw Python script (e.g. `your_script.py`) that is invoked, e.g.
[code]

This is really frustrating if you want to package your streamlit application in a wheel file and distribute it to your friends & colleagues.  Streamlit's requirement of a raw Python script makes this impossible.

Assume I have created a proper Python package/distribution `my-streamli

[2021-12-11 10:56] RonnyPfannschmidt commented on #4162
instead of using a normal console script entrypoint, which is practically just a cli,
it seems like it would be far more versatile of streamlit had a own entrypoint that would allowe to compose the streamlit experience directly

after all this thing is NOT a cli - its a ux, imho a console_script entrypoint is the completely wrong starting point

[2021-12-11 11:02] FlorianWilhelm commented on #4162
@RonnyPfannschmidt, agreed, that would be even better. My suggested solution was born from the idea of having minimal changes in streamlit to get an 80% solution.

Can you elaborate more on your suggestion to give the streamlit developers a hint on how you would approach this?

What I understood is that `my-streamlit-dashboard` would register a streamlit `entry_point` which `streamlit` would then

[2021-12-11 11:50] RonnyPfannschmidt commented on #4162
A key difference between a script, and a entrypoint is, that the module / file containing it typically is expected to be importable without triggering the action

Aka importing myapp.cli is not expected to run myapp.cli.main

Scripts are expected to actually act

Which its why a common pattern for __main__ modules in packages is to just import and run the cli main

[2021-12-11 13:38] FlorianWilhelm commented on #4162
Sure @RonnyPfannschmidt, what I meant was that according to your suggestion, app developers would just need to set in `setup.cfg` something like:
[code]
following the example from above. `my_streamlit_dashboard` would be the package and `dashboard` the module wherein a function `main()` is defined. This function acts like the main entrance point for the dashboard in a similar way currently a pure

[2021-12-11 14:23] RonnyPfannschmidt commented on #4162
Roughly

[2021-12-11 20:43] vdonato commented on #4161
Hi @kart2k15,

This is expected behavior. The issue is that the args that you are passing to the `cluster_duplicates` callback contain the value of `session.col_name` from before the callback is actually run. That is, `method_args` contains the value of `session.col_name` from when the form is first drawn to the page, and when the form is initially drawn that value is the default selectbox value.

[2021-12-11 20:43] #4161 closed, assigned to nobody

[2021-12-11 20:45] kart2k15 commented on #4161
But then why isn’t that the case with the first form when selecting the
seperator/delimiter

On Sat, Dec 11, 2021 at 15:43 Vincent Donato ***@***.***>
wrote:

[2021-12-11 21:21] vdonato commented on #4161
Hi @kart2k15, your code snippet doesn't actually use the `file` and `delim` args in the `profiler` function.

I tested this behavior with a minimal example provided below, and indeed both forms show the behavior that I would expect (always printing the default value of the selectbox since the arguments provided to the callbacks are from when the form is first drawn) when their callbacks are called

[2021-12-11 22:00] kart2k15 commented on #4161
What you mean? See the code & gif on the forum man--the "profiler" does
prints pandas_profiling_report and file.info. It does use file & reads it
as a dataframe too

On Sat, Dec 11, 2021 at 16:22 Vincent Donato ***@***.***>
wrote:

[2021-12-11 22:08] vdonato commented on #4161
You're immediately reassigning both `file` and `delimiter` to use the newest values from `st.session_state`, and thus the values of the arguments passed into `profiler` aren't used at all.

[2021-12-11 22:38] kart2k15 commented on #4161
okay, so I was passing the session value of the variable BEFORE the button was **clicked** when instead I need to "access" the value AFTER the button is **clicked**

I fixed that and this snippet works:--
[code]

After which I ran into another problem, how to pass output generated from one form to the callback of another:--
this snippet does not work--WHY?
[code]

[2021-12-11 22:53] kart2k15 opened #4164 "Forms/callback "chaining" not working:--"
I need to chain callbacks for 2 forms:
As long as I access session values for the input widgets for either forms the "chain" **does not break**. For instance:--

[code]

Now, if I try to pass the output caused from one form--i.e. the variable df here--then I get a session value error (error screenhshot below)
[code]
<img width="897" alt="error" src="https://user-images.githubusercontent.com/174204

[2021-12-11 23:07] vdonato commented on #4164
Hi @kart2k15, this has nothing to do with forms and is not a streamlit bug.

The issue is that you wrote `(df)`, which is the same thing as `df`, and you need to pass a tuple `(df,)` to args. Our error message here could be better, though. See the code snippets below.

This runs into the error you're hitting
[code]

This works
[code]

[2021-12-11 23:07] #4164 closed, assigned to nobody

[2021-12-11 23:12] kart2k15 commented on #4164
OMG!! Damn, hahaha. Really appreciate your promptness though. Lmk if ya'll need any help/volunteering would love to collab--I've been putting a significant amount of time playing with the framework!

Here is the correct snippet--for anyone looking to run the code:
[code]

[2021-12-12 20:41] areeb-ahmed opened #4165 "command line input isnt working"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2021-12-13 09:13] durd07 commented on #1360
Hi,

Any update on this line?

[2021-12-13 12:01] ac30000 opened #4166 "InternalHashError"
### Summary

Error Statement:

InternalHashError: Cell is empty
While caching the body of to_excel(), Streamlit encountered an object of type builtins.function, which it does not know how to hash.

The error statement recommended me to report a bug.

### Steps to reproduce

Code snippet (I've simplified some of the variable names for clarity):

[code]

(Please provide a code snippet! This will hel

[2021-12-13 16:29] randyzwitch commented on #4165
Closing, as this is an empty issue. If you would like to provide more input, please do so and we can re-open the issue.

[2021-12-13 16:29] #4165 closed, assigned to nobody

[2021-12-13 17:58] lukasmasuch commented on #4151
@thomasaarholt Thanks for your suggestion. Unfortunately, adding syntax highlighting to a normal (HTML) text area is - to my knowledge - impossible. To support syntax highlighting we would need to use a different user input element, such as [CodeMirror](https://codemirror.net), [Monaco](https://github.com/microsoft/monaco-editor), or [Ace](https://ace.c9.io). Luckily, there is already a third-part

[2021-12-13 17:58] #4151 closed, assigned to nobody

[2021-12-13 18:07] lukasmasuch commented on #4153
@whitphx Thanks for reporting this issue. I was able to confirm the problem and I'm working on a fix for this.

[2021-12-13 18:10] randyzwitch commented on #4145
The way the logic works now, you need to account for the situation where you want to read the local file. By using the code I provided, you can't just fall through the `if file:` branch, you need to account for reading the plain "42303347740000.las" file.

[2021-12-13 18:12] lukasmasuch commented on #4125
@dataframing Thanks for your suggestion. We are considering this feature currently. Since there is another issue open about this feature (https://github.com/streamlit/streamlit/issues/4150), I will close this to move the discussion over to the other issue.

[2021-12-13 18:12] #4125 closed, assigned to nobody

[2021-12-13 18:23] lukasmasuch commented on #4109
@antonAce Thanks for your suggestion! This is an interesting idea. I am going to get this in front of our product team to see how we can best integrate this with our future plans. We'll get back to you if we are able to prioritize this work.

For other users reading this enhancement: please upvote the issue (👍) if you also want to have this implemented!

[2021-12-13 18:45] lukasmasuch commented on #4127
@Minhluu2911 Thanks for your suggestion, I will forward this enhancement request to our product team. I'm closing this issue since - as mentioned by @andfanilo - this is also covered by the https://github.com/streamlit/streamlit/issues/853 issue.

[2021-12-13 18:45] #4127 closed, assigned to nobody

[2021-12-13 19:04] #862 closed

[2021-12-13 19:32] lukasmasuch commented on #4166
@ac30000 Thanks for reporting this issue. There are a few similar issues - e.g. https://github.com/streamlit/streamlit/issues/1618 https://github.com/streamlit/streamlit/issues/1590. I would love to investigate the issue further: For this, it would super helpful to get a fully working example to reproduce the code. Can you share your full streamlit application and/or the data you have used (in cas

[2021-12-13 19:36] ac30000 commented on #4166
@LukasMasuch Unfortunately I am not able to share the application or the data as it contains proprietary/confidential data & code. Apologies

[2021-12-13 20:53] utkarsh-git opened #4168 "Try to add published by"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

Is your feature request related to a problem? Please describe the problem here. Ex. I'm always frustrated when [...]

### Solution

**MVP:** What's the smallest possible solution that would get 80% of the prob

[2021-12-13 21:05] vdonato commented on #4168
Closing as there doesn't seem to be anything actionable in this issue. Feel free to add additional details, and when that's done we can reopen this.

[2021-12-13 21:05] #4168 closed, assigned to nobody

[2021-12-13 21:48] thomasaarholt commented on #4151
No problem, thanks for considering it! I realise that I could do something like a syntax-highlighted preview side by side with the text field, which should help our users!

[2021-12-13 22:42] lukasmasuch commented on #4151
Sounds good :) Did you put `st.text_area` on one and a `st.code` blog on the other side via `st.columns`?

[2021-12-13 23:37] #414 closed

[2021-12-13 23:37] #1630 closed, assigned to nobody

[2021-12-13 23:37] #4069 closed, assigned to lukasmasuch

[2021-12-14 08:00] MohanchandarSelvaraj opened #4172 "Calling repr on current thread leads to RecursionError"
### Summary

Calling str or repr on current thread leads to `RecursionError: maximum recursion depth exceeded while getting the repr of an object`

### Steps to reproduce

Code snippet:

[code]

Steps to reproduce the bug:

1. Save above code as app.py
2. Run `streamlit run app.py`

**Expected behavior:**

The current thread details should be shown.
[code]

**Actual behavior:**

We get a Recursion

[2021-12-14 12:00] JT-R opened #4173 "st.file_uploader returns HTTP code 400 with invalid session_id when deployed on Kubernetes"
### Summary

In my Streamlit app deployed in a standalone Docker container, local files can be uploaded via **st.file_uploader** without any problems. However, for the same app deployed on Kubernetes cluster in multiple replicas setting, st.file_uploader randomly returns HTTP status code 400 with an error message like:

_**400: Invalid session_id: '1d319bd4-b1dc-4149-bfb2-24cdd48f3982'**_

![obraz

[2021-12-14 12:39] thomasaarholt commented on #4151
Hehe, `realise` not `realised` - I haven't implemented it yet, but yes, that was my thinking :)

[2021-12-14 14:01] universewill opened #4174 "Select pixels from image"
### Problem

I want to do some interaction with images, like select pixels from a image (return the selected x and y coordinates).
How to achieve this with streamlit?

[2021-12-14 15:41] whitphx opened #4175 "Border around `st.container` / card component"
### Problem

I want to make visually separated groups of widgets to structure the app.
The appearance of `st.form()` is what I want, but it requires a submit button which I don't want.

### Solution

If an optional argument like "border", "margin" or "padding" is added to `st.container()`, it's enough for my purpose.
It's not necessary to extend the existing `st.container()`, but creating a new la

[2021-12-14 17:55] lukasmasuch commented on #4174
@universewill Thanks for this suggestion! This is currently not possible with the `st.image` component. The current workaround would be to build a [custom component](https://docs.streamlit.io/library/components). However, this might involve quite a lot of work. We have plans to add support for input from components like charts, dataframes, and images. We are tracking this feature here: https://git

[2021-12-14 17:55] #4174 closed, assigned to nobody

[2021-12-14 20:06] lukasmasuch commented on #517
Closing this since we added some configuration options to support bigger dataframes in this PR:  https://github.com/streamlit/streamlit/pull/4133 However, this is still limited to a few hundred MB. For larger dataframes we would need some kind of streaming capability, which would need to be part of a larger refactoring of `st.dataframe`: https://github.com/streamlit/streamlit/issues/1449

[2021-12-14 20:06] #517 closed

[2021-12-14 20:32] lukasmasuch commented on #3976
@StefanBrand Thanks for providing the example, I was able to reproduce the problem. This seems to be a bit more tricky and needs more investigation from our side. We have some projects on our roadmap to improve/refactor the caching, this might even solve this issue. In the meantime, if you have an idea on how to fix this, feel free to open a PR.

[2021-12-14 21:27] lukasmasuch commented on #3981
@vinzeebreak Thanks for reporting this issue. I was able to reproduce the problem. I have a bit more condensed version here to reproduce it. With the condensed version, every second click results in an unexpected change of the date:

[code]

I'm not sure yet why this is happening, but I will do some more investigation into this soon. Btw. this also happens with other input elements such as `st.num

[2021-12-14 21:52] vdonato commented on #4099
Hi @kmcentush,

This is happening due to some optimizations that we have in place to make the first page load of an app faster. When a streamlit server starts, we run the script immediately to warm a cache to allow the first load of a page to be almost-instantaneous (the output of the first script run is saved and sent to the browser on connect), and this is why `session_info.ws` is `None` until t

[2021-12-14 22:34] joelbecker opened #4178 "Cannot set Plotly theme because Streamlit overrides user values"
### Summary

When displaying Plotly figures, Streamlit uses colours from the current theme to set the canvas colour of the rendered Plotly figure. However, if you try to override this value (e.g. by using Plotly's templates feature) the theme still takes priority over the user-specified canvas colour.

It's good to have a default that looks great in Streamlit, but users should be able to set this

[2021-12-15 03:02] ghost opened #4179 "Page transitio work at 0.74.0. but after this version doesn't work."
### Summary
When I clicked on button "page2", error occur and can't do page transition.

Exception in thread ScriptRunner.scriptThread:
Traceback (most recent call last):
...
    raise ValueError("{} is not in iterable".format(str(x)))
ValueError: {'title': 'page2', 'function': <function b at 0x0000029968FC1B88>} is not in iterable

### Steps to reproduce

import streamlit as st
def page1():
   st

[2021-12-15 09:48] #4172 closed, assigned to nobody

[2021-12-15 15:29] algonommy opened #4181 "Streamlit"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2021-12-15 15:33] #4181 closed, assigned to nobody

[2021-12-15 15:39] lukasmasuch commented on #4179
@koboriyuu Thanks for reporting this issue: Unfortunately, I was not able to reproduce it with your snippet (with the most recent streamlit version):

[code]

![image](https://user-images.githubusercontent.com/2852129/146215087-7384efab-11b0-458d-b0b0-683fc5e603da.png)

Is there something missing from the snippet? The function causing the error is only called by `radio`, `selectbox` and `select_sl

[2021-12-15 18:14] lukasmasuch commented on #4099
@kmcentush btw. there is `st.experimental_rerun` to trigger a rerun which might help as a workaround here.

@vdonato I also had a few issues with preheating and came to the conclusion that it is a bit more problematic than useful. In case you take this issue on, I can give you a bit more context.

[2021-12-15 20:38] lukasmasuch commented on #4178
@joelbecker Thanks for reporting this issue. I did a short investigation on this: Currently, we cannot easily determine if the default template (`plotly`) was used or if a user did specify a specific template. The reason is that the template parameter is directly resolved into a template structure that contains all colors of the template but no more information on what template was actually specif

[2021-12-15 21:02] vdonato commented on #4099
Thanks @LukasMasuch, I'll get your input on what's problematic about preheated script runs sometime soon.

I'm not sure if we'll have time to directly address this issue given the work we have currently planned / the fact that it's only possible to run into it when using internal modules, but I just realized that the multipage apps project (depending on the exact design) may also push us to consid

[2021-12-15 23:47] lukasmasuch commented on #4175
@whitphx Thanks for your suggestion! I agree that this would be a useful feature. I will make a note of this enhancement request for our product team to consider.

[2021-12-16 01:30] lukasmasuch commented on #4121
@serpent-red Thanks for providing the example. I did some investigation today. Unfortunately, we probably will not be able to support the `use_container_width` auto-sizing for vega-lite/altair faceted plots (including columns) :( The reason is that vega-lite does not support autosize or setting the full size of a faceted plot. See here: https://vega.github.io/vega-lite/docs/size.html

There is a d

[2021-12-16 01:38] lukasmasuch commented on #3814
Thanks for reporting this issue. I did some investigation today and reported my findings here: https://github.com/streamlit/streamlit/issues/4121#issuecomment-995358200

TLDR: due to a limitation of altair/vega-lite, it is currently not possible to autoresize the chart when using `use_container_width`

Closing this to keep the discussion in https://github.com/streamlit/streamlit/issues/4121

[2021-12-16 01:38] #3814 closed, assigned to nobody

[2021-12-16 01:42] lukasmasuch commented on #2023
Thanks for reporting this issue. I did some investigation today and reported my findings here: https://github.com/streamlit/streamlit/issues/4121#issuecomment-995358200

TLDR: due to a limitation of altair/vega-lite, it is currently not possible to autoresize the chart when using `use_container_width`

Closing this to keep the discussion in https://github.com/streamlit/streamlit/issues/4121

[2021-12-16 01:42] #2023 closed, assigned to nobody

[2021-12-16 01:55] lukasmasuch commented on #4139
Unfortunately, I'm also not able to reproduce the problem. Your code example works fine for me. The `bootstrap` method is also not the suggested way to run apps and might run into unexpected problems. There might also be some issue with running streamlit via the pycharm debugger.

[2021-12-16 01:58] lukasmasuch commented on #3984
@vToMy Thanks for your suggestion. There is an open PR that might soon add this capability: https://github.com/streamlit/streamlit/pull/4184

[2021-12-16 02:03] lukasmasuch commented on #4061
Closing this issue since the suggestion from @octo-willy is the correct way to configure this.

[2021-12-16 02:03] #4061 closed, assigned to nobody

[2021-12-16 02:05] lukasmasuch commented on #4052
@MatheusHam Thanks for this suggestion! I will forward the enhancement request to our product team for consideration.

[2021-12-16 02:07] lukasmasuch commented on #4119
@tnwei Thanks for your suggestion! I will forward this enhancement request to our product team for further consideration.

[2021-12-16 02:53] lukasmasuch commented on #4099
The main issue is that anything that involves specific information about the current session or user is incompatible with preheating. I worked on a way to access the browser timezone of the current session in the python backend. However, the main blocking factor is that this is not compatible with preheating (since preheating does not have any knowledge about potential sessions). Preheating is als

[2021-12-16 04:27] #4179 closed, assigned to nobody

[2021-12-16 04:29] ghost commented on #4179
I'm sorry, I mistook to upload other snippet.
This code works, so I'll use for page transition.

[2021-12-16 07:48] ghost opened #4187 "Page transitio work at 0.74.0. but after this version doesn't work."
### Summary

When I clicked on button "page2", error occur and can't do page transition.

Exception in thread ScriptRunner.scriptThread:
Traceback (most recent call last):

raise ValueError("{} is not in iterable".format(str(x)))
ValueError: {'title': 'page2', 'function': <function b at 0x0000029968FC1B88>} is not in iterable

### Steps to reproduce

[code]

### Is this a regression?

That is, did

[2021-12-16 08:59] miguelarocao commented on #2023
Great, thank you @LukasMasuch!

[2021-12-16 13:03] corticalstack commented on #4099
Following as have Streamlit app deployed as Azure app service in which I'm logging telemetry including authenticated user derived from http headers retrieved from session_info.

As @kmcentush indicates, ws is None until page refresh.

Also, as suggested, checking and rerunning seems reasonable workaround:

[code]

EDIT: above workaround OK when running in localhost. However, when streamlit deploye

[2021-12-16 14:30] ariewjy commented on #4145
Hi Randy, thanks for the explanation. I failed to make the preloaded option works. I guess this is beyond me at the moment, will have a look for another time. Till I can figure this out, I will be using the old version of Streamlit (0.67).

Thanks for the help!

Cheers..

[2021-12-16 15:05] lukasmasuch commented on #4187
@koboriyuu Thanks for reporting this issue. I was able to reproduce the problem. Streamlit currently does not support functions within the options of `radio`, `selectbox`, or `slider`. The reason is that the hash of the function will change with every rerun, therefore, streamlit is unable to find the selected item. However, there is an easy workaround:

[code]

For future reference:
Here is also a

[2021-12-16 17:21] kmcentush commented on #4099
I can second what @corticalstack experienced. When using `st.experimental_rerun()`, the app fails to start when I deploy it to Kubernetes on GCP (I believe it has to do with some sort of health checks). I was able to get it to work locally, but obviously that is not an acceptable solution.

[2021-12-16 17:55] shamis15 opened #4189 "Design edits for App Favoriting"
The list is [here](https://www.notion.so/streamlit/Jess-design-nits-f856f7b4cb164ffeabe8beef86ff0e71)

I will also post below:

- [ ]  Turn the outline to gray to match the other icons (updated in the mocks)
- [ ]  Thin out the stroke slightly - it looks like there is a thicker stroke on this but it should be just 1pt thickness
- [ ]  Increase the star in the drop down menu a smidge - (see in the

[2021-12-17 06:22] ghost commented on #4187
Thanks for teaching me helpful solution.
Your code works very well.

I have an additional iisue, maybe it's not bug.
I made sample code with st.radio() and st.session_state() for selecting and holding value.
But it doesn't work well. What is a problem about this sample code?

_ex. 〇(init) → click "△" → icon move to "△" → click "✕" → icon doesn't move to "✕", stay at "△"_

sample code

[2021-12-17 07:01] nicolaerosia commented on #3957
@randyzwitch ?

[2021-12-17 08:51] corticalstack commented on #3790
Thnaks for raising, needed here as well

[2021-12-17 09:05] corticalstack opened #4195 "Simpler, effective method to clear value of text_input"
### Summary

Need a simpler, more effective and reliable way to clear text of widget text_input.  See example code drawn from this posted example:

https://discuss.streamlit.io/t/how-to-overwrite-the-value-user-input/7771

### Steps to reproduce
Run the example, then:

* Enter 'a'
* Enter 'b'
* Press clear button
* Enter 'c'  <<< At this point the text input will be blank, as the text input is map

[2021-12-17 10:41] corticalstack commented on #3130
@cceyda - Been having similar issues with text_input widget and getting latest value.

@AnOctopus - Even binding with value=st.session_state.my_input_val doesn't work properly, especially if more than 1 input widget (always seem to be 1 refresh behind?) A callback seems necessary to get the latest value, as explained and exampled below?  This issue should be reopened.

https://discuss.streamlit.io

[2021-12-17 20:05] harshgupta10 commented on #2107
thanks @aleksandar-anastasov!

[2021-12-18 01:48] kmcgrady commented on #3957
Hi @nicolaerosia Thanks for following up. I have your information, and I will take it into account. We strive to keep our dependencies up to date. It seems that Streamlit has an error with click specificallly when using Python modules (`python -m streamlit ...`) so we need to investigate the cause and write up a solution.

I'll see how easy it is and see if I can prioritize it. Certainly would pla

[2021-12-18 12:02] fgenoese commented on #2910
Same problem reported here:
https://github.com/streamlit/streamlit/issues/1002#issuecomment-967582597

Detailed demo:
https://share.streamlit.io/fgenoese/st_bugreports/main/geopandas_map.py

[2021-12-18 20:26] young24 opened #4196 "cannot use openai module"
Dear streamlit,

First, really good concept and fantastic user experience. However, I failed to deploy a GPT-3 model app since openai is not supported?
Can you support this very important deep learning module?
Many thanks.

Wenbin

[2021-12-18 20:43] young24 commented on #4196
Problem solved. Sorry, I should have read more.

[2021-12-18 20:43] #4196 closed, assigned to nobody

[2021-12-19 10:22] tarunkumarb2001 opened #4197 "add background image feature"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2021-12-19 14:03] vdonato commented on #4197
Closing as duplicate of #2725

[2021-12-19 14:03] #4197 closed, assigned to nobody

[2021-12-19 19:54] jrieke opened #4198 "Expose theme colors to HTML components"
### Summary

Expose theme colors to HTML-only components created via `st.components.v1.html`.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

Background is red.

**Actual behavior:**

Background is white:
![image](https://user-images.githubusercontent.com/5103165/146688751-5980368a-8458-4148-a344-f67aaad207c6.png)

According to @vdonato, this is because HTML components are

[2021-12-20 03:21] hubutui commented on #2446
It would be great to add `audoplay` to video file too. Could streamlit add `autoplay` atttribute when generating the html tag `video`? see also https://www.w3schools.com/tags/att_video_autoplay.asp

[2021-12-20 06:37] Lekhasree22 commented on #4119
sde

[2021-12-20 08:36] trenta3 commented on #3930
I traced down the error to a part of ZODB code, so I think the issue can be closed since this was not a problem with streamlit at all.
Anyway thanks for the support and a more detailed description of streamlit execution model.

[2021-12-20 08:36] #3930 closed, assigned to nobody

[2021-12-20 10:11] adiv5 commented on #2544
This Issue persists.

Here is my Conda list

[code]

[2021-12-20 11:56] Mahima-ai commented on #1019
Hi guys, I tried this with wxPython package. This package solved the small window size issue which was with the tkinter package.
Below is the code for the same.

[code]

Reference:
https://docs.wxpython.org/wx.DirDialog.html?highlight=dirdialog#wx.DirDialog

[2021-12-20 16:02] Mohammadabd commented on #1360
Following...

[2021-12-20 20:05] #1740 closed, assigned to nobody

[2021-12-20 23:27] kmcgrady commented on #2544
Hi @adiv5 what version of Python are you using? I just tried python 3.8.9, 3.9.9, and 3.10.0 with the latest streamlit (looks like what you have). I might need to ask for a minimal Python file. Does a script that simply just is `import streamlit.components.v1 as components` fail?

[2021-12-21 02:13] vdonato commented on #4099
Following up on this:

We did some investigation, and it seems like the problematic optimization causing this weirdness is actually a vestigial feature from when Streamlit's main use case was very different than what it is now (I believe it was built before we quite knew what direction the library was going to go in -- apparently we didn't even have widgets then!)

Since it's starting to look like

[2021-12-21 02:29] vdonato commented on #4173
Hi @JT-R, this one might be a bit tricky to solve given that the `file_uploader` is by its nature a stateful widget. I haven't spent any time trying to reproduce the issue myself, but I'm fairly certain what's going on here is that the `/upload` endpoint that the streamlit frontend attempts to use is having its request routed to a different node than the one that the frontend is connected to via w

[2021-12-21 09:31] adiv5 commented on #2544
@kmcgrady
Python Version : 3.8.0

Yes

I found the issue in my case, The error was due to a partial import of streamlit.
My `.py` file for streamlit was also named as `streamlit.py` which was confusing for the environment whether to import streamlit package from the environment or from the current file.

Fixed it using a different name for my `.py` file

[2021-12-21 11:25] mazl-io commented on #2543
Fixed for Google Chrome, but still existing in Firefox.

I just passed your sample code from https://docs.streamlit.io/library/api-reference/data/st.dataframe and ran streamlit.

If I view it in Firefox I always get BOTH scrollbars, no matter how many data:
![grafik](https://user-images.githubusercontent.com/10537647/146922417-79c9b538-18e8-4ae9-8188-a7dbf4fc694f.png)

If I view the same page in C

[2021-12-21 16:13] jrieke commented on #4195
Hey @corticalstack!

I think you should be able to do this by using `st.session_state` and callbacks:

[code]

See [here](https://docs.streamlit.io/library/api-reference/session-state) for more info on session state. Btw the callback above is needed so the clearing happens before the text input widget is rendered (callbacks are always executed before the script). I guess you could also solve this

[2021-12-21 19:55] enevas commented on #3832
Hey,
We are currently facing the same issue, is there any chance for a workaround? We tried to fix with session state with no success.

[2021-12-22 07:36] nicornk commented on #4099
I can echo the experience here. We rely on the session_info to get the headers to verify the logged in user. Would be highly appreciated if this gets more stable soon.

[2021-12-22 10:14] corticalstack commented on #4195
@jrieke Thanks! It was the "callbacks are always executed before the script" bit I was missing. My use case is a form where a researcher inputs search terms to retrieve relevant documents. They amend search terms in iterative fashion to refine the results list. Hence, the on-submit-clear feature is not appropriate, as they want to keep what's in the input fields and refine them.

Tested in my use

[2021-12-22 10:14] #4195 closed, assigned to nobody

[2021-12-22 11:03] LucaUrban opened #4206 "Not showing dataframe containing string values with st.table st.write and st.dataframe"
### Summary
I wanted to use the st.table function to show a simple dataframe with numeric and boolean (casted to string) values. If i cast them on
integer values all works perfectly.

### Steps to reproduce
After you open the application:
1.  change the value of the selection box under "what is the widget you want to display:" from "Ratio Analysis" to "Anomalies check"

Code snippet:
[code]

**Exp

[2021-12-22 17:51] RohanKaran opened #4207 "st.balloons() is not working in streamlit 1.3.0"
### Summary

st.balloons() was working in 1.2.0 version, but not in 1.3.0.
(The st.success text is executing all right on both versions)

Code snippet:

[code]
### Is this a regression?

That is, did this use to work the way you expected in the past?
yes

### Debug info

- Streamlit version: 1.3.0
- Python version: 3.9

[2021-12-22 17:57] vdonato commented on #4207
Thanks for reporting this @RohanKaran!

This is known, and we have two proposed fixes out (#4199 and #4204) and are deciding between the two. We'll have a fix out ASAP.

[2021-12-22 18:01] vdonato commented on #4206
Hi @LucaUrban,

Do you have a code snippet that minimally reproduces the issue? Additionally, it would be helpful if you post the non-redacted error message that can be found in the logs of your Cloud App (these can be accessed by clicking on the "Manage app" button at the bottom-right of the page).

[2021-12-22 18:27] LucaUrban commented on #4206
This is the code snippet that produces the error (I tried also with the table and write function but they gave me the dame error):

# computing the p-values for all the distributions
result_norm = stats.kstest(var_clean, 'norm', (mu_hat, sigma_hat))
result_exp = stats.kstest(var_clean, 'expon')
result_lognorm = stats.kstest(var_clean, 'lognorm', (mu_hat_log, sigma_hat_log))
result_weibull2 = stats

[2021-12-22 23:31] kmcgrady commented on #2544
Ah! That lines up! Thanks @adiv5

[2021-12-23 00:06] algonommy opened #4208 "Bug visualize stock price"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2021-12-23 00:32] vdonato commented on #4208
Hi @najibullohasror,

There doesn't seem to be anything actionable in this bug report. I'll close this for now, and we can reopen it if additional details are provided.

[2021-12-23 00:32] #4208 closed, assigned to nobody

[2021-12-23 10:34] VinceBorgFW opened #4210 "Zone editor: Bug if zones created and then all deleted."
### Summary

Zone editor: Bug if zones created and then all deleted.
![image](https://user-images.githubusercontent.com/85213629/147226854-41a1dd1c-210a-4e6e-8037-b75b6cad313e.png)

### Steps to reproduce

 Visually the zones are deleted. But it looks like the polygons are now 1 dimensional which makes the app crash.

If applicable, please provide the steps we should take to reproduce the bug:

1.

[2021-12-23 18:16] BigSalmon2 opened #4211 "Keybinding to open full list simultaneously in `st.json`"
I was curious to know if there was a certain keyboard combination that I could press to automatically open all of the containers at once. I did not see anything in the documentation, so perhaps this is a feature yet to have been added.

![image](https://user-images.githubusercontent.com/61605789/147278169-ae96dff8-5246-4d07-b3b1-d208c47e7b27.png)

---

Community voting on feature requests enables

[2021-12-24 06:35] Bit0r opened #4212 "Polars"
[Polars](https://github.com/pola-rs/polars) is a new library for data analysis. It is similar to pandas, but has better performance. I hope Streamlit can also integrate with Polars.

[2021-12-24 08:41] usuixingyili opened #4213 "Interactive ability of st.pyplot chart element likes mouse event on matplotlib fig"
import matplotlib.pyplot as plt

fig, ax = plt.subplots()
ax.plot([1, 1])

def onclick(event):
    print('%s click: button=%d, x=%d, y=%d, xdata=%f, ydata=%f' %
          ('double' if event.dblclick else 'single', event.button,
           event.x, event.y, event.xdata, event.ydata))

cid = fig.canvas.mpl_connect('button_press_event', onclick)

plt.show()

[2021-12-24 10:21] andfanilo commented on #4212
Hello @Bit0r ,

What kind of integration are you looking for? Polars being a Python library, I think you can use it as is in your Streamlit scripts, and use [.to_pandas()](https://pola-rs.github.io/polars/py-polars/html/reference/api/polars.DataFrame.to_pandas.html) to get back a Pandas version Streamlit can display with `st.dataframe` or `st.write`.

Have a nice day 🎈
Fanilo

[2021-12-24 12:25] nnwwbb commented on #302
same for an extremely simple app that only uses `st.write`. does anyone know a workaround?

EDIT for others who encountered this: apparently the name of the query parameter matters! I was using `id` as a parameter name, which caused js loading to fail. if I use `userid` all seems fine.

[2021-12-24 12:43] benlindsay commented on #302
That's some weird behavior...would you mind posting the code that breaks things for you? Curious to give this a try too

[2021-12-24 12:52] nnwwbb commented on #302
sure, here's the code
[code]

and i run it on a baseUrlPath:
`streamlit run dashboard.py --server.port 8502 --server.baseUrlPath /jack-settings`

then i go to http://localhost:8502/jack-settings/?id=v34jh2g3g4hj234
and I get "Connection error    Unable to fetch data."

which is caused by js files not loading:
[code]

http://localhost:8502/jack-settings/?token=v34jh2g3g4hj234
works fine though!

[2021-12-24 19:44] gabrieltempass opened #4214 "Support PNG as the page icon"
Right now, if you use `st.set_page_config()` to set a PNG as the page icon, it seems that the function will convert the image to a JPEG (losing its transparent background properties):
https://github.com/streamlit/streamlit/blob/06330bd65d22a8d7c83c0e3fd4935265a83db612/lib/streamlit/commands/page_config.py#L107

So a PNG like this:
<img width="62" alt="favicon" src="https://user-images.githubuserco

[2021-12-24 19:49] benlindsay commented on #302
Interesting, that's a really random error, seems like a really specific set of things has to be done that I don't really intend to do to run into that error. I'll remember this if I run into something similar in the future though. Thanks for sharing!

[2021-12-26 10:12] Sospeter-Wainaina commented on #4207
st.success is working alright though st.balloons I tried and nothing displays.

[2021-12-26 12:02] JoseLuis96001 opened #4215 "'API' object has no attribute 'search'"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2021-12-26 14:09] crypdick commented on #1291
Any updates on this? Hotkeys are important for dashboards that would otherwise require clicking for hours at a time.

[2021-12-27 06:46] shashankdeshpande commented on #156
Do we have any updates on this?
Need to prevent user clicks while the app is in loading/processing state.

[2021-12-27 18:26] kmcgrady opened #4216 "1.3.0 bug - Empty columns are not respected in layouts"
From https://discuss.streamlit.io/t/version-1-3-0/20130/4

### Summary

When using columns for layouts, if a column contains no elements, it is not rendered.

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

A large amount of spacing followed by a button should be rendered

![5F785EB4-D4CE-4C8C-B785-F40241013A45](https://user-images.githubusercontent.com/69432/147497810-d0862

[2021-12-27 21:13] #4207 closed, assigned to nobody

[2021-12-27 23:02] #4216 closed, assigned to nobody

[2021-12-28 10:32] EwoutH commented on #2447
I'm writing an app with narrow but very long image. It would be amazing to be able to place it in a container that scrolls independently. So I would really appreciate this!

[2021-12-28 16:59] kmcgrady commented on #4207
Hi @Sospeter-Wainaina and @RohanKaran ! I have just released 1.3.1 that supports `st.balloons` again. Thanks for bringing the issue to our attention!

[2021-12-29 02:14] hyradiance commented on #1875
I just find 'st.download_button()'.Where is 'st.download()'?

[2021-12-29 03:11] vdonato commented on #4215
Hi @JoseLuis96001!

Judging from the traceback provided, this doesn't seem to be a streamlit bug as the line of code hitting the error is in a user-written script.

[2021-12-29 03:11] #4215 closed, assigned to nobody

[2021-12-29 03:14] vdonato commented on #4210
Hi @VinceBorgFW!

This looks like a bug in an app written with streamlit rather than a bug with the streamlit library itself. You'll want to contact the app authors to report this.

[2021-12-29 03:14] #4210 closed, assigned to nobody

[2021-12-29 07:07] decoderzhub commented on #641
`style = df.style.hide_index()`
`st.write(styler.to_html(), unsafe_allow_html=True)`

<img width="436" alt="Screen Shot 2021-12-28 at 11 11 03 PM" src="https://user-images.githubusercontent.com/6371329/147636497-5f79e0d6-2e4c-4708-9609-85f071c9078a.png">

Shows no index for st.write

[2021-12-29 09:13] ghost opened #4222 "help"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2021-12-29 14:48] #4222 closed, assigned to nobody

[2021-12-29 15:30] shashankdeshpande opened #4223 "Issue in multiselect - default and current value overlap"
### Summary

I am creating a multiple page app.
These pages are handled by a radio button.
The requirement is to keep track of all user-specified values with respect to pages.
So, even if the user switches between the pages then all configurable inputs of that page must have a value specified by the user.

I have utilized 'st.session_state' to save those configurable values and 'default' parameter

[2021-12-29 18:47] rterbush commented on #744
I'm also running into the same problem attempting to use ib_insync in streamlit.

I ran across the following gist which seems to give some hints but I am unable to find the magic to get this working in streamlit based on this example.

https://gist.github.com/jwsmithers/0575fc78f9d54a93988ad29300dfe4b7

[2021-12-29 21:16] siarheishpak opened #4224 "Whitespace is not ignored if it's followed by a dot in a dot-separated secret key"
### Summary

A name of a key in secrets.toml may contain a dot. Whitespaces around that dot should be ignored. But they dont.
`site . google = true` is stored as `'site ': {'google': True}` in st.secrets

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take

[2021-12-30 04:58] sbarham commented on #3052
Indeed -- I'm looking for the same functionality. Any updates?

[2021-12-30 11:48] EwoutH commented on #949
I would find it very useful to be able to have an selection box without a default value selected!

[2021-12-30 13:27] EwoutH commented on #2058
This would be very useful, especially if you want to put more advanced elements in it like graphs.

[2021-12-30 14:56] siarheishpak opened #4226 "Backtick symbol breaks rendering of st.secrets dict"
### Summary

Content of the st.secrets key is rendered incorrectly if one of the secrets key value contains backtick symbol (`)

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Make/Edit `secrets.toml` file and add it to ‘.str

[2021-12-30 17:49] Musalappagaridevendrareddy commented on #1924
I don't know if the issue resolved in update but this worked for me.

import streamlit as st

a = st.empty()
value = a.checkbox(label='test', value=False, key='test')
if st.button('change'):
    value = a.checkbox(label='test', value=False)

[2021-12-30 17:56] kmcgrady commented on #1924
Ah Thanks @Musalappagaridevendrareddy ! This has been resolved with our new state model. Your example does work as expected. This can also be handled without `st.empty` and using callbacks (run before the script run).

[code]

[2021-12-30 17:56] #1924 closed, assigned to kmcgrady

[2021-12-30 19:32] louislva commented on #1291
I've made a version of this, because we needed it urgently at work.

It's on my own fork: [https://github.com/louislva/streamlit/tree/add-keypress](https://github.com/louislva/streamlit/tree/add-keypress). The syntax ended up being:

[code]

@crypdick, if you need something right now, you can just build my fork :)

@tconkling, are you interested in this?

[2021-12-30 23:34] siarheishpak commented on #4020
It also reproduces when an app is run locally and when using `http://{{ip}}:{{port}}` url (where {{ip}} is an ip address of my local machine). But everything is fine with screencasting while using `http://localhost:{{port}}` url.
This behavior reproduces both in Chrome and FF (they are up to date). Browsers' camera/audio block lists are empty.

[2022-01-01 22:33] vToMy opened #4227 "Caching bug"
### Summary

In `cache_utils.py` there's the following code:
[code]

If the except code is triggered, the `source_code` variable is of `code` type, which is not hashable (at least in python 3.9), and causes an exception afterwards.

### Steps to reproduce

In my case it only happens when I bundle my app with pyinstaller, otherwise the except code is never triggered.
I'm not sure of another way to

[2022-01-01 23:26] jmugan commented on #801
I've been struggling with "Please wait." My app works on must devices but not iPhone at the moment. Any kinds of hints about what is going on would be useful. We love Streamlit, but are thinking about going back to Flask since we can't figure out a way for our users to reliably access the app.

[2022-01-01 23:28] jmugan commented on #2873
Any updates on this? I can't figure out how to get our users to access the app. It works fine for me on the laptop, but they are going to be using an iPhone.

[2022-01-02 11:14] andfanilo commented on #1291
There is also a very **VERY** hacky way of doing this with Components which I...probably don't recommend in production because of how unmaintainable it is (I mean, change something in your app structure and you probably break your key shortcuts), but if you reaaaally need it:

If your dashboard is final and won't change anymore, you can add a `components.html` at the end of the script, break out o

[2022-01-02 20:52] fcakyon commented on #894
@jrhone @kmcgrady are there any news on this 2 year old much wanted feature? :)

[2022-01-03 05:21] anuplotter commented on #2056
Is formatting available in the expander button currently? Or has this not been prioritized?

[2022-01-03 11:12] corticalstack commented on #4099
@vdonato Happy New Year, hope you had a great one. Soon for update?

[2022-01-03 14:21] randyzwitch commented on #1875
This is a typo, the only function available is st.download_button

On Tue, Dec 28, 2021 at 9:14 PM hyradiance ***@***.***> wrote:

[2022-01-03 22:02] kmcgrady commented on #3957
Hi @nicolaerosia , I just merged in a change to make Streamlit work. It's a relatively small change. It should be out in the next release over the next month.

The changes were not breaking, mostly mypy type changes and something with python modules, so you can push for click 8.0 if needed with an old version of Streamlit. Thanks!

[2022-01-03 22:02] #3957 closed, assigned to nobody

[2022-01-04 00:35] vdonato commented on #4227
Thanks for reporting this, @vToMy!

Your suggested fix sounds like what we actually meant to do here given the documentation of the `co_code` attr, so I'll have a fix out for this soon.

[2022-01-04 01:34] vdonato commented on #4224
Thanks for reporting this @siarheishpak!

This seems to be a bug in one of our dependencies: https://github.com/uiri/toml. The `st.secrets` dict is essentially populated by using this package's methods with no modification afterwards.

While this could be fixed on our end, it's unlikely that we'll want to do this within the streamlit codebase, so I would recommend filing a bug in [uiri/toml](https

[2022-01-04 01:37] vdonato commented on #4213
Thanks for suggesting this @usuixingyili!

This is related to #688 (the issue only mentions table rows, but we have a project internally to make many different UI elements clickable), and since we're tracking clickable UI elements as a whole under that ticket, I'll close this issue as a duplicate.

The good news is that we're starting work on this in this quarter, so hopefully we'll have some upda

[2022-01-04 01:37] #4213 closed, assigned to nobody

[2022-01-04 01:45] vdonato commented on #4211
Hi @BigSalmon2!

There currently isn't a built-in keybinding to do this. I'll pass this suggestion to our product team and will get back to you if we're able to allocate some bandwidth to adding this feature.

[2022-01-04 01:59] vdonato commented on #4206
Hi @LucaUrban,

It's hard to tell from your code snippet since I can't tell what the values in the dataframe are, but I believe this may be expected behavior.

Our serialization format Arrow doesn't allow columns of a dataframe to have mixed types, so if the `Normal` column has both strings like `"False"` as well as numeric strings representing floating point values (as suggested by the traceback)

[2022-01-04 01:59] #4206 closed, assigned to nobody

[2022-01-04 02:05] vdonato commented on #4226
Thanks for reporting this @siarheishpak! I can confirm the buggy behavior.

I'll add this to our backlog to address if we have the time (although for full transparency, I would imagine that we consider writing anything stored in `st.secrets` as something that generally shouldn't be done, so I can't imagine that we'll try getting a fix out for this soon)

[2022-01-04 02:30] vdonato commented on #4223
Hi @shashankdeshpande,

The behavior you want can be achieved by storing the saved values in a session_state key and setting the value of the `st.multiselect` widget via session_state as well (using a different key name).

[code]

This code works because it's possible to set values of a widget via `st.session_state` using matching keys, and the `session_state` key corresponding to a widget lives o

[2022-01-04 05:26] lx1054331851 opened #4232 "After select from select_box, the page auto refresh?"
This is my code:
[code]
this is the page screenshot：

![image](https://user-images.githubusercontent.com/12423206/148013229-d8217879-95df-49fd-8b5f-92c5d1a3e4ff.png)

Every time I select from the select box, the page refreshed automaticlly.

the code worked fine a few month ago, but recently I found it can not work.

[2022-01-04 06:19] vdonato commented on #4232
Hi @lx1054331851, this is expected behavior. Please see the [streamlit documentation](https://docs.streamlit.io/library/get-started/main-concepts#app-model) on the streamlit app execution model.

[2022-01-04 06:19] #4232 closed, assigned to nobody

[2022-01-04 16:03] crubier opened #4233 "Streamlit React should forward Props"
### Problem

When using Streamlit React, I need my Streamlit-Connected component (`withStreamlitConnection(foobar)`) to forward the props it receives from higher up in the react tree. (I put generic wrappers around my Streamlit component and it needs to receive these props)

This is impossible today.

### Solution

Forward these props in the `ComponentWrapper` of `withStreamlitConnection` (Edit: P

[2022-01-04 16:12] crubier commented on #4233
PR at https://github.com/streamlit/streamlit/pull/4234

[2022-01-04 17:27] tconkling commented on #4227
Hey @vToMy, can you post the code that triggered this issue for you? I'd love to write a test so that we don't accidentally break this down the road. (Specifically, which function of yours caused `inpect.getsource()` to throw an exception?)

[2022-01-04 18:12] #4227 closed, assigned to vdonato

[2022-01-04 22:35] auphofBSF opened #4236 "streamlit `--log-level` appears to have no affect to resultant logging level"
### Summary

The CLI argument settings `--log-level` appear to have no affect. `log.debug` is never rendered  or changing the logging level does not appear to suppress logs not required.

### Steps to reproduce

Code snippet:

[code]

**Actual behavior:**

1. for all debug  `streamlit --log_level=debug run  logging_test_app.py` produces
![image](https://user-images.githubusercontent.com/11743864/1

[2022-01-04 23:04] vdonato commented on #4099
Hi @corticalstack, happy new year to you, too!

I've started an internal discussion on this to make sure we're not missing anything in thinking that the problematic optimization can be safely removed. So far, it looks like there won't be any problems, but I want to give people a few more days to bring up any concerns they may have (much of the company is just starting to come back to work).

Assum

[2022-01-05 02:02] ryanpoisson opened #4238 "Bug"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2022-01-05 03:13] #4238 closed, assigned to nobody

[2022-01-05 03:57] zeiler opened #4239 "st.experimental_get_query_params() does not work with Always Rerun"
### Summary

When using st.experimental_get_query_params() and Always Rerun on source code changes, the query params will return an empty dict after a couple of code changes. This is frustrating for any app that uses query params because you can't just turn on Always Rerun or your app breaks after a couple code changes.

### Steps to reproduce

Code snippet:

[code]

If applicable, please provide

[2022-01-05 12:15] Sriram-bb63 commented on #1360
I would love to get this feature asap

[2022-01-05 18:26] d416 commented on #744
I can also reproduce this error...

Primary environment is:
Streamlit 1.3.1
ib_insync 0.9.70 https://github.com/erdewit/ib_insync
Python 3.9.0

...but error also occurs using:
Streamlit 0.76.0
ib_insync 0.9.70
Python 3.6.2

**Steps to reproduce:**

1.  Create test.py with 2 lines..
[code]
2.  Execute "streamlit run test.py"

3.  Observe error generated:
[code]
Ideas anyone?  How can we get these 2

[2022-01-05 23:27] hajizadehm commented on #1019
Hello, I was looking for a folder picker in streamlit and I found this post. It seems that using tkinter works well to choose folders in local computer, but does not work while deploying the app. I was wondering if there is any chance of having access to folder picker within streamlit now?

[2022-01-06 00:23] vdonato commented on #4236
Thanks for reporting this @auphofBSF!

I just confirmed the bug. I'm not sure when this stopped working, but it seems like this flag has been broken for awhile (rolling back to version 0.67 still shows the same behavior).

The reason that this slipped by unnoticed for so long is likely because the `logger.level` [config option](https://docs.streamlit.io/library/advanced-features/configuration#set-

[2022-01-06 03:07] auphofBSF commented on #4236
Thank you @vdonato , I confirm  `streamlit run my_app.py --logger.level=debug` works correctly ✅

I was following `streamlit --help`  and should have done `streamlit run --help`

However it would be good to (clarify/eliminate/fix/provide-warning)  when using  `--log_level`   as in
`streamlit --log_level=debug run my_app.py`

**Thanks for prompt response confirming issue and in general to you and t

[2022-01-06 14:12] crubier opened #4242 "Add argument to components.declare_component to specify the html file to use (not just index.html)"
### Problem

`components.declare_component(path=XXX)` does not allow to specify a specific html file, just a folder, in which the file has to be called `index.html` by convention.

This is causing problems in my use case:

I create a library of several components (several html files) which share the same public asset folders.

#### What would be good:

Basically I'd like my build dir looks like th

[2022-01-06 17:27] harsh204016 opened #4243 "Navigation and Tabs"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get eng attention sooner)_

### Problem

While adding so many application to a single streamlit page make it difficult to link them.

### Solution

**MVP:** We can make use of sidebar

**Preferred solution:** Navigations and Tabs will make best use o

[2022-01-06 18:21] vdonato commented on #4243
Hi @harsh204016,

This issue is a duplicate of #233, so I'll close this in favor of the older one.

Note that it's unlikely that we're going to work on tabs for navigation soon, but that's because we're currently working on a multipage apps feature that should solve the same problem of building complex streamlit apps with multiple pages!

[2022-01-06 18:21] #4243 closed, assigned to nobody

[2022-01-07 04:44] xavierfontaine opened #4247 "stop() messes the link between session_state and widget appearances"
### Summary

Setting widget default values through session_state works. However, a momentary interruption (`st.stop()`) between the initialization of the session state and the initialization of the widget generates a bug in the appearance of widgets.
* The default value of the widget is well set,
* but the widget visually display `min_value` instead of that value

### Steps to reproduce

Below is

[2022-01-07 07:45] paulbricman commented on #439
Native streamlit support for this would be super handy!

In the meantime, these are the **currently available workarounds** I'm aware of:
- [host a flask/fastapi server independently of streamlit, get streamlit to make requests to the server, and expose the server for direct HTTP requests](https://davidefiocco.github.io/streamlit-fastapi-ml-serving/)
- [run flask/fastapi from inside streamlit on t

[2022-01-07 11:14] BigBerny commented on #3720
Is there a way to enforce the initial behavior? To make multiple metrics in two columns align, it would be very helpful if the height would be the same. Passing an empty string as delta would be a nice solution.

[2022-01-07 18:08] akbarexclusive opened #4248 "Getting the following error while trying to run"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2022-01-07 21:54] vdonato commented on #4248
Hi @akbarexclusive!

This seems to be a bug in an app built using streamlit rather than a bug in streamlit itself. You'll want to contact the app authors to report this bug.

[2022-01-07 21:54] #4248 closed, assigned to nobody

[2022-01-07 23:11] vdonato commented on #4239
Thanks for reporting this as well as for the debugging work, @zeiler!

I don't have too much bandwidth to work on this at the moment, but I'll try to get to verifying your suggested fix as soon as I'm able to do so (which will most likely be in the next few weeks). Your fix sounds like it should work to me, but I'll still want to spend a bit of time thinking about any potential implications of it

[2022-01-07 23:36] vdonato commented on #4247
Thanks for reporting this @xavierfontaine!

This is indeed a pretty weird edge case. What's going on is that widget values set via session state are propagated to the frontend only when they are newly written, and the `st.stop()` call and subsequent rerun confuses this mechanism because it assumes that the session state value already got sent to the frontend.

Depending on your use case, a potenti

[2022-01-07 23:42] vdonato commented on #4247
By the way, I'd appreciate knowing whether this workaround happens to work for your use case.

This bug seems like a relatively obscure edge case that unfortunately may require a disproportionate amount of effort to fix, so knowing whether or not there is a passable workaround will help a lot with planning 🙂

[2022-01-08 16:48] idkman43 opened #4251 "i generated a image of a turnip walking a cat, since the AI was shown to be good at generating turnips with dogs"
but it ended up coming out as nothing but some meaningless squabbles with nothing but a general shape of a turnip
![image](https://user-images.githubusercontent.com/77586207/148652501-8d7f8d6b-1353-4e70-8f2b-c044c648ffd9.png)

[2022-01-09 05:00] TheDiamondEmerald opened #4252 "Recommendation system won’t update"
### Summary

Every time I try to do a new recommendation, it won’t update the amount of films I’ve seen, and it keeps giving me the same suggestions.

[2022-01-09 16:41] zeiler commented on #4239
Thanks! Yeah it would be great to get this merged in as it's a simple change as long as it fixes all the various edge cases.

[2022-01-09 20:56] mzeidhassan commented on #371
I have just noticed something.

When I use:

`pd.set_option('display.max_columns', None)`

It seems that the on-page dataframe is not truncated as you can see in this screenshot.
![image](https://user-images.githubusercontent.com/7589948/148700609-9766c9b0-ac50-452a-8dd3-5935d058f458.png)

But if I expand it through 'View fullscreen", the truncation is there. Not sure why?
![image](https://user-im

[2022-01-10 05:26] zizouqidashen opened #4254 "download_button bug"
### Summary

1. after click the download_button, the page would refresh,although I got the file , my content on page was lost
2.when I click the download_button many times ,behavior like this: times 1:got right file ;times 2:jump a 404 page; times 3:got right file ;times 4:jump a 404 page ......... repeat this behavior

### Steps to reproduce

Code snippet:

[code]

**Expected behavior:**

1.got e

[2022-01-10 09:52] riyazbhat opened #4255 "Current page number in Embedded PDF"
Hi

How can I access the current page number of an embedded pdf?

[2022-01-10 13:23] tdean24 opened #4256 "st.file_uploader on_change callback function runs every time any widget changes"
### Summary

When using a callback function within st.file_uploader on_change, it runs any time a widget changes, rather than only when the file_uploader widget changes.

### Steps to reproduce

Code snippet:

[code]

If applicable, please provide the steps we should take to reproduce the bug:

1. Upload a file to the file uploader
2. Input text into text_input widget

**Expected behavior:**

Only

[2022-01-10 13:53] pratimugale commented on #4000
Hi, I do not see any PR referring to this issue. Can I pick this up?

[2022-01-10 13:57] pratimugale commented on #3869
Hi @vdonato , I do not see any PR mentioning this issue. Can I pick this up?

[2022-01-10 14:07] ilias-ant commented on #3869
Hi @pratimugale - unfortunately, I didn't have time to work on this, so you can definitely pick this up :) (i was the original request-ee)

[2022-01-10 14:17] francesfeng commented on #647
Any update on this issue? Would be great if can remove the little space above the text_input or other input widgets, when using empty string, as it impacts the line alignment.

[2022-01-10 17:01] shamis15 opened #4257 "Update Cloud Header Design"
1. Remove `container` class from `<header>`
2. Add/change these properties in `header` class:

    width: 100%;
    padding: 0 2rem;
    height: 4rem;

    // Which in Tailwind notation is:
    @apply w-full px-4 h-12;

3. Add this to dashboard’s `pageContainer` class ([this file](https://github.com/streamlit/s4t/blob/master/web/src/components/page/styles.module.scss)):

    margin-top: 5rem;

[2022-01-10 17:35] asaini commented on #4257
Copy this to https://app.zenhub.com/workspaces/swipe-the-card-617348332d818f000f4ca42d/issues/streamlit/s4t/2797

Closing current issue on the streamlit board

[2022-01-10 17:35] #4257 closed, assigned to luillyfe

[2022-01-10 19:03] tconkling commented on #4242
Hey @crubier - this sounds like a good idea!

I wonder if we could pull this off without adding an additional parameter, by having Streamlit figure out whether the provided `path` is a file or a folder:

[code]

We'll add this to the backlog, but it's probably unlikely to get addressed in the near-term. Is this something you're interested in taking on? (I'd be happy to help point you to the code t

[2022-01-10 19:18] vdonato opened #4258 "Expander state is incorrectly shared by distinct expanders"
### Summary

The expanded/collapsed state of two distinct expanders seems to be incorrectly shared. Consider the code snippet and repro steps below.

### Steps to reproduce

[code]

1. click b0 & b1 and observe that both b0_expander & b1_expander are collapsed
2. click b0 & expand b0_expander
3. click b1
4. b1_expander should be collapsed but is expanded.

**Expected behavior:**

`b1` should be co

[2022-01-10 20:09] kmcgrady commented on #4258
Likely, the reason is that we determine setup based on location of the widget (first item, second item), since the expanders get replaced, it’s interpreting the same component, but different contents, which creates the problem.
A workaround would be using st.empty() in place when the expander is not visible…to indicate a change in structure.

[code]

A trivial solution that may be an improvement i

[2022-01-11 01:45] dproctor opened #4264 "Non-invertible `format_func` breaks widget serialization/caching"
### Summary

An app with an input widget whose options can take different sets of values (e.g. select box with `["Alice", "Bob"]` and `["Amy", "Barry"]` as below) seems to cache the widget state based only on the `format_func`'ed option values, rather than the raw values.   In example below, the app initially serializes the select box `Selectbox(["Alice", "Bob"])` as `Selectbox(["A", "B"])`. When

[2022-01-11 02:35] vdonato commented on #4252
Hi @TheDiamondEmerald, this seems to be a bug report for an app built using streamlit rather than the streamlit library itself. You'll want to contact the authors of the app to report this.

[2022-01-11 02:35] #4252 closed, assigned to nobody

[2022-01-11 02:36] vdonato commented on #4251
Hi @idkman43, this seems to be a bug report for an app built using streamlit rather than the streamlit library itself. You'll want to contact the authors of the app to report this.

[2022-01-11 02:36] #4251 closed, assigned to nobody

[2022-01-11 03:15] vdonato commented on #4000
Hi @pratimugale, feel free to pick this up!

[2022-01-11 03:16] vdonato commented on #3869
Hi @pratimugale, I'd recommend not working on this one at the moment. There's currently a good amount of internal discussion regarding tweaks we want to make to the hamburger menu, and because of this I'd prefer to hold off on changes to this part of the codebase until we're sure what we want to do with it.

[2022-01-11 03:23] vdonato commented on #4256
Thanks for reporting this, @tdean24! I'll look into this once I have some bandwidth.

[2022-01-11 03:33] vdonato commented on #4254
Hi @zizouqidashen,

I believe this is working as expected (although I don't think the code snippet provided has quite enough for me to know for sure). The possible issue here is that `st.button` only returns `True` on the script run when it is clicked, so what happens here is that

1. when the "get result" is clicked the first time, `go` is set to `True`, so `lb` is set in the `if go:` block
2. cl

[2022-01-11 06:34] zizouqidashen commented on #4254
sorry about my bad description by omitted some steps,
detail step was ,1:click go ,page show lb download;2:click download ,page refresh and got the file, it work good;3:page was refresh so I click go again, and page show lb donwload again;4,click download, jump a new page show 404 and got no file.........repeat 1,2,3,4

[2022-01-11 10:45] nflaig commented on #3635
@benlindsay I ran into the same issue but fixed it by using a [custom session state](https://gist.github.com/FranzDiebold/898396a6be785d9b5ca6f3706ef9b0bc) implementation. See [Code example](https://github.com/nflaig/st-query-params-test)

[2022-01-11 12:49] tbachlechner commented on #3807
Any news on this?

[2022-01-11 17:06] algo-robin opened #4267 "plotly_chart ignores texttemplate parameter in plotly figure"
### Summary

st.plotly_chart seems to ignore the texttemplate setting in the plotly figure.
I noticed this while trying to add text to my heatmap using plotly 5.5.0 as described in https://plotly.com/python/heatmaps/.

### Steps to reproduce

[code]
I can see setting text_auto=True adds 'texttemplate': '%{z}' to the figure. So text_auto works correctly.

**Expected behavior:**

I expect the values

[2022-01-11 17:58] pratimugale commented on #3869
Okay sure :+1:

[2022-01-11 18:49] #4236 closed, assigned to vdonato

[2022-01-11 19:28] archilk commented on #3807
Hey, I haven't got a chance to work on this, some unexpected circumstances got in the way. If someone else wants to pick it up earlier, please feel free, as January seems very packed for me too

[2022-01-11 19:35] kajarenc commented on #4256
@vdonato I also experienced that issue, when working on the demo app for camera_input, but after looking at it today, it fixed (and also fixed for `st.file_uploader`  on the latest `develop`, most probably after Amanda refactoring changes merged)

[2022-01-11 19:39] ToucheSir commented on #2517
I'm still experiencing this with Jupyterlab 3.0.17 and Streamlit 1.3.1. The removal of `_xsrf` (which still appears to be present in https://github.com/streamlit/streamlit/blob/c1bfdd153b9f050d3606da0801e31636b2775784/frontend/src/App.tsx#L365) prevents _anything_ Jupyter related from working and essentially converts an entire Jupyterlab instance into a glorified streamlit host proxy :( . These te

[2022-01-11 20:26] kajarenc commented on #4256
Oops, sorry, look's like it still exists. I just did the wrong steps sequence to reproduce :(

[2022-01-11 20:55] openfieldbook opened #4269 "Streamlit's display of an Altair chart interferes with axis labels"
I first posted my issue [here on stackoverflow](https://stackoverflow.com/questions/70669764/altair-change-label-spacing-for-axis-with-ordinal-values). I thought it was an `altair` / `vega-lite` issue. Now I believe it is a `streamlit` / `altair` issue. I've reproduced my analysis below.

---

I started with this reference point: https://github.com/altair-viz/altair/issues/1576.

For which I was a

[2022-01-11 23:43] mikemykhaylov commented on #3513
Any update on this? My ML pipeline is very dependent on click v8, but I'd also like to add some of your cool visualizations to my project without downgrading streamlit all the way to 0.81.1

[2022-01-11 23:50] kmcgrady commented on #3513
I've merged in a change on this https://github.com/streamlit/streamlit/pull/4202

Should be in the next release, which is 🤞 in the next week.

[2022-01-11 23:50] kmcgrady commented on #3513
Going to close this issue cause the fix _is_ merged, it just needs to be released.

[2022-01-11 23:50] #3513 closed, assigned to nobody

[2022-01-12 00:25] vdonato commented on #4267
Thanks for reporting this @robinderat!

It looks like we're currently on a version of plotly.js that predates `text_auto` support. Upgrading the package version in my local dev env fixes this, so I'll have a PR out with a fix momentarily.

This change won't be merged in time to make Thursday's release (the cutoff is on Monday), so I would expect to see a fix for this in v1.5

[2022-01-12 01:03] vdonato commented on #4264
Thanks for reporting this @dproctor -- this is a fun edge case 🙂

You've more or less diagnosed the root-cause of the bug: what's going on here is that we generate a widget's ID using a hash of the serialized widget, and for widgets that accept a `format_func`, it's possible to end up with what should be distinct widgets with colliding IDs. The fix would be to include a widget's raw options in the

[2022-01-12 01:13] dproctor commented on #4264
👍 thanks for the quick reply!

[2022-01-12 19:18] #4267 closed, assigned to vdonato

[2022-01-12 19:48] rbeauchemin commented on #4214
I am also facing this, but found a way to fix it. I'll post a PR with the change to support transparency.

[2022-01-12 21:12] cbdonohue commented on #3991
I'm also experiencing this bug on version 1.3.1 by simply importing streamlit.hashing

`from streamlit.hashing import _CodeHasher`

Can this be reopened?

[2022-01-12 21:41] Lolafiona4 opened #4273 "Unable to login"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2022-01-12 22:01] vdonato commented on #3991
Hi @cbdonohue, technically `streamlit.hashing` is an internal module, so we don't make any guarantees on its API/module structure being stable.

In this case, you can still import the `_CodeHasher` class with `from streamlit.legacy_caching.hashing import _CodeHasher` (it seems like all of the hashing issues in this thread are simply due to the module moving), but as the name `legacy_caching` sugge

[2022-01-12 22:09] vdonato commented on #4273
Hi @Lolafiona4, this bug report seems to be for an app built using streamlit rather than the streamlit library itself. You'll need to contact the authors of the app to report this.

[2022-01-12 22:09] #4273 closed, assigned to nobody

[2022-01-13 00:29] vdonato commented on #4099
Quick update since I know there are a few people watching this issue:

Removing preheated script runs was relatively easy, but doing so also uncovered a few places where our tests are flaky, and I'm currently working to fix those issues.

I don't expect it to take me too much longer from here to get #4259 merged, but since v1.4 is being released tomorrow, I would guess that #4259 will be released

[2022-01-13 03:48] sddhrthrt commented on #3052
Would love this feature, will stay tuned!

[2022-01-13 16:16] bbelescot commented on #863
+1 for markdown (and hence LaTeX) support in widget labels!

[2022-01-13 18:02] blakewintermute opened #4277 "st.session_state has key, but cannot access value in st.cache"
### Summary
Accessing st.session_state inside an st.cache function will confirm a key exists that it will then error out trying to access.

### Steps to reproduce

Code snippet:
import streamlit as st
[code]
**Expected behavior:**

I expect it to either pass over the if statement if value has not been initialized, or successfully access the value if it has.

**Actual behavior:**

Line 6 produces:

[2022-01-13 20:52] aghasemi commented on #439
`st.code('{}', language= 'json')` does _not_ return a json MIME type, so is still not useful as an API. Or am I doing something wrong?

[2022-01-13 21:19] #3984 closed, assigned to nobody

[2022-01-13 21:21] vToMy commented on #4227
As I said, It's only triggered after bundling any cached function with pyinstaller.
I don't recommend anyone to bundle a streamlit app with pyinstaller but I had my reasons...
Thanks for the fix!

[2022-01-14 08:34] usuixingyili opened #4281 "Why does st.video_input return None?"
I want to do some face recognition tasks based on the type of ndarray  and integrated with streamlit, but I find that  it returns None. Can 'picture' be converted to 'ndarray'?

picture = st.camera_input("Take a picture")
print(picture)
print(type(picture))
if picture:
    st.image(picture)

![image](https://user-images.githubusercontent.com/74706568/149475199-6fc2d763-a1a3-4716-b10e-a0e96fcfd7d9.

[2022-01-14 18:52] #4214 closed, assigned to nobody

[2022-01-14 18:52] vblagoje commented on #2446
Hi all, it would be great to have this functionality - an auto_play parameter, default is false. There have been numerous requests for it, and it seems trivial to implement. In my application, a tts model generates audio, and it would be great to have autoplay for the generated audio.

[2022-01-14 23:29] kmcgrady commented on #3190
Hi @ZanSara @ScientiaEtVeritas This should be fixed in the next release. 🎉

[2022-01-14 23:29] #3190 closed, assigned to nobody

[2022-01-14 23:29] kmcgrady commented on #3616
This will be fixed in the next release

[2022-01-14 23:29] #3616 closed, assigned to nobody

[2022-01-14 23:30] kmcgrady commented on #2554
@ostrokach This should be fixed in the next release. Thanks!

[2022-01-14 23:30] #2554 closed, assigned to nobody

[2022-01-15 23:13] vdonato commented on #4198
Argh, this ended up being trickier than I expected it to be since HTML components are rendered in an iframe, so defining CSS vars globally for an app does not expose them to the component.

I'll kick the can down the road and look at this in ~1 month or so since it's not the 5-minute fix I expect it to be.

[2022-01-16 05:13] paulbricman commented on #439
@aghasemi it's true. It's just a super hacky way of sending data which can be consumed by a client, even if not a clean JSON response type. They'd have to parse the JSON out of the HTML, and they'd need some JS to actually load the page and all that. In the end I went for separate servers for FastAPI and Streamlit for my use case.

[2022-01-16 16:35] jrieke opened #4284 "Fix alignment of slider knob"
### Summary

If the knob of `st.slider` is in the left-most or right-most position, it's not aligned with other elements.

### Steps to reproduce

Code snippet:

[code]

**Current behavior:**

Everything is perfectly aligned on the left side except for the slider knob:

![image](https://user-images.githubusercontent.com/5103165/149668583-590fff85-96f5-4a12-b485-c4ccf77921fe.png)

This especially s

[2022-01-17 03:33] imClumsyPanda opened #4285 "Add "height" parameter to st.write"
### Summary

When I use parameter 'height' to show dataframe with st.write and st.dataframe, they're not showing with the same height.

### Steps to reproduce

Code snippet:

[code]
**Expected behavior:**

Both ways lead to the same height as set to the parameter

**Actual behavior:**

st.dataframe changed the height as expected, but st.write didn't

### Debug info

- Streamlit version: 1.3.1
- Py

[2022-01-17 10:39] enadz commented on #726
No news yet? 😢

[2022-01-17 10:55] EkaterinaVZ opened #4286 "first"
### Summary

Type here a clear and concise description of the bug. Aim for 2-3 sentences.

### Steps to reproduce

Code snippet:

[code]

(Please provide a code snippet! This will help expedite us finding and solving the problem.)

If applicable, please provide the steps we should take to reproduce the bug:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

**Expected behavior:**

Explai

[2022-01-17 10:56] ewcreeper opened #4287 "Updating a st.text() by pressing a button"
Hi everyone,
I'm new to streamlit and i keep struggling with something.
I'd to make a button and a text one above the other, and when you click the button it adds one to the text.
Let me explain, the page should look like this at the start:
*button* 'Add 1'
*text* '0'
and when you click the button the text become 1, and then 2, 3 etc...
I've tried this code:

[code]

This works for the first time

[2022-01-17 14:17] andfanilo commented on #4287
Hey @ewcreeper

I've got a video that deals with this sort of problem [here](https://www.youtube.com/watch?v=XWKAt1QlRyI). Basically, every time you press a button, your script reruns from top to bottom, so on `data1 = DataIncrement()` line the object is recreated from scratch

It would be preferable to store the counter to increment inside session state ([here](https://github.com/streamlit/releas

[2022-01-17 17:08] assafwool opened #4288 "dotplot crashes when some genes are not found"
### Summary

When I enter a list of genes to dotplot and a few of them are not found for the dataset requested, the app crashes and returns an error. The message then describes the genes that were not found, and I have to remove them manually for the app to run.

### Steps to reproduce

**Expected behavior:**

In case some of the genes are not available in a dataset the app should ignore them and

[2022-01-17 17:10] #4288 closed, assigned to nobody

[2022-01-17 18:00] #4286 closed, assigned to nobody

[2022-01-17 21:59] ToucheSir commented on #2517
I was able to work around this by manually changing `"_xsrf"` to a different name in the minified source so that it wouldn't clobber the Jupyterlab cookie. Could this be renamed to something like `"_streamlit_xsrf"` instead?

[2022-01-18 11:59] RamanujaSrinivasan opened #4289 "Excel read is not working in the deployed streamlit app"
The excel file that the user uploads in streamlit app is not getting converted into a dataframe, with the code "df = pd.read_excel(uploaded_file, header=0, sheet_name="Initial")". But it works fine with my local pc. I guess this is a result of unavailable python modules. Could you please update it?

My app link is https://share.streamlit.io/ramanujasrinivasan/materials-screening-webpage/main/web_p

[2022-01-18 15:42] ansonnn07 commented on #1326
As of Streamlit version 1.4.0, this cannot be imported successfully anymore with the Traceback below,  any help on this?

[code]

[2022-01-18 15:57] ansonnn07 commented on #1326
As of Streamlit version 1.4.0, this cannot be imported successfully anymore, with the error of `ModuleNotFoundError", any help?

But I don't see this "missing ReportContext" anymore without using the `add_report_ctx()` for my MQTT client connected with the `paho-mqtt` library. So I guess this is not needed anymore?

UPDATE:
I actually just realized that the MQTT client did not work properly. Now I

[2022-01-18 16:33] Jairus313 commented on #886
Even I had the same issue where after digging few minutes on the internet. I found out that it was trying to do something with S3 bucket which was necessary, So I opened the "config.toml" file (you can find it over this path - "~/.streamlit/config.toml") and I've commented out the "S3" section and it's parameters then saved the file and it worked fine.

[2022-01-18 21:32] Shad0wSeven commented on #1019
I am also on macOS, whenever I run it with `streamlit run` it produces an NSWindow error, however when I run it with python3 it ends up not throwing an exception, however it also doesn't show the website, which is obviously a huge problem.

I only care about local, since I'm developing a frontend dashboard so if anyone finds a workaround or has a tool that would be great!

[2022-01-19 00:29] vdonato commented on #4289
Hi @RamanujaSrinivasan,

Streamlit Cloud supports installing packages in an app by including a `requirements.txt` file in your repo, so I believe installing the `openpyxl` by specifying it in your `requirements.txt` should solve this issue for you.